{{page-title (t "manage-emails")}}

<div class="auk-u-responsive-margin">
  <div class="auk-u-mb-3">
    <Auk::Panel>
      <Auk::Panel::Header>
        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item>
              <h4 class="auk-panel__title">{{t "manage-emails"}}</h4>
            </Group.Item>
          </Toolbar.Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "translation-requests"}}</h4>
          <div class="au-c-form">
            <AuFormRow @alignment="inline">
              <AuLabel @required={{true}} class="au-u-2-6 au-u-max-width-tiny">
                {{t "email-to"}}
              </AuLabel>
              <AuInput
                value={{this.model.translationRequestToEmail}}
                {{on "input" (pick "target.value" (set this "model.translationRequestToEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-cc"}}
              </AuLabel>
              <AuInput
                value={{this.model.translationRequestCcEmail}}
                {{on "input" (pick "target.value" (set this "model.translationRequestCcEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-reply-to"}}
              </AuLabel>
              <AuInput
                value={{this.model.translationRequestReplyToEmail}}
                {{on "input" (pick "target.value" (set this "model.translationRequestReplyToEmail"))}}
              />
            </AuFormRow>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "proof-requests"}}</h4>
          <div class="au-c-form">
            <AuFormRow @alignment="inline">
              <AuLabel @required={{true}} class="au-u-2-6 au-u-max-width-tiny">
                {{t "email-to"}}
              </AuLabel>
              <AuInput
                value={{this.model.proofRequestToEmail}}
                {{on "input" (pick "target.value" (set this "model.proofRequestToEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-cc"}}
              </AuLabel>
              <AuInput
                value={{this.model.proofRequestCcEmail}}
                {{on "input" (pick "target.value" (set this "model.proofRequestCcEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-reply-to"}}
              </AuLabel>
              <AuInput
                value={{this.model.proofRequestReplyToEmail}}
                {{on "input" (pick "target.value" (set this "model.proofRequestReplyToEmail"))}}
              />
            </AuFormRow>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "publication-requests"}}</h4>
          <div class="au-c-form">
            <AuFormRow @alignment="inline">
              <AuLabel @required={{true}} class="au-u-2-6 au-u-max-width-tiny">
                {{t "email-to"}}
              </AuLabel>
              <AuInput
                data-test-route-settings-emails-publication-request-to
                value={{this.model.publicationRequestToEmail}}
                {{on "input" (pick "target.value" (set this "model.publicationRequestToEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-cc"}}
              </AuLabel>
              <AuInput
                value={{this.model.publicationRequestCcEmail}}
                {{on "input" (pick "target.value" (set this "model.publicationRequestCcEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-reply-to"}}
              </AuLabel>
              <AuInput
                value={{this.model.publicationRequestReplyToEmail}}
                {{on "input" (pick "target.value" (set this "model.publicationRequestReplyToEmail"))}}
              />
            </AuFormRow>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "cabinet-submissions"}}</h4>
          <div class="au-c-form">
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "secretary-mail"}}
              </AuLabel>
              <AuInput
                data-test-route-settings-emails-submission-to-secretary
                value={{this.model.cabinetSubmissionsSecretaryEmail}}
                {{on "input" (pick "target.value" (set this "model.cabinetSubmissionsSecretaryEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "ikw"}}
              </AuLabel>
              <AuInput
                data-test-route-settings-emails-submission-to-ikw
                value={{this.model.cabinetSubmissionsIkwEmail}}
                {{on "input" (pick "target.value" (set this "model.cabinetSubmissionsIkwEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "kc-group"}}
              </AuLabel>
              <AuInput
                data-test-route-settings-emails-submission-to-kc-group
                value={{this.model.cabinetSubmissionsIkwConfidentialEmail}}
                {{on "input" (pick "target.value" (set this "model.cabinetSubmissionsIkwConfidentialEmail"))}}
              />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel class="au-u-2-6 au-u-max-width-tiny au-u-max-width-tiny">
                {{t "email-reply-to"}}
              </AuLabel>
              <AuInput
                data-test-route-settings-emails-submission-reply-to
                value={{this.model.cabinetSubmissionsReplyToEmail}}
                {{on "input" (pick "target.value" (set this "model.cabinetSubmissionsReplyToEmail"))}}
              />
            </AuFormRow>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Footer>
        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item>
              <AuButton
                @skin="naked"
                @disabled={{this.save.isRunning}}
                {{on "click" this.cancel}}
              >
                {{t "cancel"}}
              </AuButton>
            </Group.Item>
          </Toolbar.Group>
          <Toolbar.Group @position="right" as |Group|>
            <Group.Item>
              <AuButton
                data-test-route-settings-emails-save
                @skin="primary"
                @disabled={{this.isDisabled}}
                @loading={{this.save.isRunning}}
                {{on "click" (perform this.save)}}
              >
                {{t "save"}}
              </AuButton>
            </Group.Item>
          </Toolbar.Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    </Auk::Panel>
  </div>
</div>