{{#data-table
  content=model
  filter=filter
  sort=sort
  page=page
  size=size
as |table|
}}
  {{#table.content as |c|}}
    {{#c.header}}
      {{th-sortable
        field='id'
        currentSorting=sort
        label=(t "monitoring-id")
      }}
      {{th-sortable
        field='type'
        currentSorting=sort
        label=(t "monitoring-type")
      }}
      {{th-sortable
        field='serviceName'
        currentSorting=sort
        label=(t "monitoring-service")
      }}
      {{th-sortable
        field='unixTimestamp'
        currentSorting=sort
        label=(t "monitoring-timestamp")
      }}
      {{th-sortable
        field='state'
        currentSorting=sort
        label=(t "monitoring-state")
      }}
      {{th-sortable
        field='error'
        currentSorting=sort
        label=(t "monitoring-error")
      }}
    {{/c.header}}
    {{#c.body
    as |row|
    }}
      <td>{{row.id}}</td>
      <td>{{row.type}}</td>
      <td>{{row.serviceName}}</td>
      <td>{{row.unixTimestamp}}</td>
      <td>{{row.state}}</td>
      <td>{{row.error}}</td>
    {{/c.body}}
  {{/table.content}}
{{/data-table}}
