<div class="auk-u-m-8 auk-o-flex auk-o-flex--wrap">
  <div class="auk-u-m-2">
    <AuLink
      data-test-route-settings-overview-manage-emails
      @skin="button-secondary"
      @icon="pencil"
      @route="settings.emails"
    >
      {{t "manage-emails"}}
    </AuLink>
  </div>
  <div class="auk-u-m-2">
    <AuLink
      data-test-route-settings-overview-manage-alerts
      @skin="button-secondary"
      @icon="pencil"
      @route="settings.system-alerts"
    >
      {{t "manage-alerts"}}
    </AuLink>
  </div>
  <div class="auk-u-m-2">
    <AuLink
      data-test-route-settings-overview-manage-document-types
      @skin="button-secondary"
      @icon="pencil"
      @route="settings.document-types"
    >
      {{t "manage-document-types"}}
    </AuLink>
  </div>
  <div class="auk-u-m-2">
    <AuLink
      data-test-route-settings-overview-manage-case-types
      @skin="button-secondary"
      @icon="pencil"
      @route="settings.case-types"
    >
      {{t "manage-case-types"}}
    </AuLink>
  </div>
  <div class="auk-u-m-2">
    <AuLink
      data-test-route-settings-overview-manage-subcase-types
      @skin="button-secondary"
      @icon="pencil"
      @route="settings.subcase-types"
    >
      {{t "manage-subcase-types"}}
    </AuLink>
  </div>
</div>
{{outlet}}