<div class="vl-u-spacer-extended-l settings-container">
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-goverment-domains
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isAddingMandate"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-government-domains"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-goverment-fields
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingFunctions"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-government-fields"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-ise-codes
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingIseCodes"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-ise-codes"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-alerts
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingAlerts"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-alerts"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-document-types
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingDocumentTypes"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-document-types"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-case-types
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingCaseTypes"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-case-types"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-subcase-types
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingSubcaseTypes"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-subcase-types"}}
    </button>
  </div>
  <div class="vl-u-spacer-extended-s">
    <button data-test-manage-signatures
      class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
      {{action "toggleProperty" "isManagingSignature"}}
    >
      <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
      {{t "manage-signatures"}}
    </button>
  </div>
</div>
{{#if isAddingMandate}}
  {{utils/model-manager
    modalTitle=(t "manage-government-domains")
    modelName="government-domain"
    close=(action "toggleProperty" "isAddingMandate")
  }}
{{/if}}
{{#if isManagingFunctions}}
  {{utils/manage-government-fields
    modalTitle=(t "manage-government-fields")
    close=(action "toggleProperty" "isManagingFunctions")
  }}
{{/if}}
{{#if isManagingIseCodes}}
  {{utils/manage-ise-code
    modalTitle=(t "manage-ise-codes")
    close=(action "toggleProperty" "isManagingIseCodes")
  }}
{{/if}}
{{#if isManagingDocumentTypes}}
  {{utils/model-manager
    modalTitle=(t "manage-document-types")
    modelName="document-type"
    close=(action "toggleProperty" "isManagingDocumentTypes")
  }}
{{/if}}
{{#if isManagingAlerts}}
  {{utils/manage-alerts isManagingAlerts=isManagingAlerts}}
{{/if}}
{{#if isManagingCaseTypes}}
  {{utils/model-manager
    modalTitle=(t "manage-case-types")
    modelName="case-type"
    close=(action "toggleProperty" "isManagingCaseTypes")
  }}
{{/if}}
{{#if isManagingSubcaseTypes}}
  {{utils/model-manager
    modalTitle=(t "manage-subcase-types")
    modelName="subcase-type"
    close=(action "toggleProperty" "isManagingSubcaseTypes")
  }}
{{/if}}
{{#if isManagingSignature}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "manage-signatures")
    closeModal=(action "toggleProperty" "isManagingSignature")
    large=true
  }}
    {{utils/manage-signatures
      closeModal=(action "toggleProperty" "isManagingSignature")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{outlet}}
