<li class={{@class}}>
  {{#if @href}}
    <a
      href={{@href}}
      class="auk-menu__item {{this.skin}} {{if @disabled "auk-menu__item--disabled"}}"
      tabindex={{if @disabled "-1" "0"}}
      ...attributes
    >
      {{yield}}
    </a>
  {{else if @textOnly}}
    <div class="auk-menu__item--text-only" ...attributes>
      {{yield}}
    </div>
  {{else}}
    {{!-- TODO: when wanting to define an action in a dropdown that looks (and is) clickable, but doesn't link anywhere, one ends up here.
      From a html semantics point of view it doesn't seem right to render an `<a href="#">` for something that serves as a button. --}}
    <LinkTo
      class="auk-menu__item {{this.skin}}"
      @route={{@route}}
      @models={{this.models}}
      @disabledClass="auk-menu__item--disabled"
      @disabled={{@disabled}}
      @activeClass={{@activeClass}}
      @current-when={{@current-when}}
      @query={{@query}}
      tabindex={{if @disabled "-1" "0"}}
      ...attributes
    >
      {{yield}}
    </LinkTo>
  {{/if}}
</li>