<div {{did-update (perform this.loadAgendaData)}}>
  <Auk::Panel data-test-subcase-description-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <div class="au-u-flex au-u-flex--spaced-small">
              <h4 class="auk-panel__title">
                {{@step}} overzicht
              </h4>
              {{#if @allowEditing}}
                {{#if @subcase.confidential}}
                  <AuPill @size="small" @skin="warning" @icon="lock-closed">{{t "limited-access"}}</AuPill>
                {{/if}}
              {{/if}}
            </div>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if @allowEditing}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-subcase-description-edit
                @skin="naked"
                @icon="pencil"
                {{on "click" @onClickEdit}}
              >
                {{t "edit"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center">
        <AuHeading @level="4" @skin="4">{{capitalize @subcase.shortTitle}}</AuHeading>
        {{#if (eq @step 'Bekrachtiging')}}
          <div class="auk-u-mt-1">
            <p
              class="auk-u-text-size--small auk-u-m-0 vlc-agenda-items__status auk-u-text-bold auk-o-flex vlc-agenda-items__status--positive">
              <Auk::Icon
                @name="check"
                class="formally-ok-icon"
              />
              Formeel ok
            </p>
          </div>
          {{/if}}
      </div>
      {{#if @subcase.title}}
      <p>{{capitalize @subcase.title}}</p>
      {{/if}}
    </Auk::Panel::Body>
    <Auk::Panel::Body>
      <div class="au-o-grid au-u-1-1">
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">Status</AuHeading>
          <AuPill @skin="success" @size="small">{{@status}}</AuPill>
        </div>
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
</div>



  

  
