{{page-title (await title)}}
<Utils::OverviewsHeaderPrint
  @title={{await title}}
  @model={{await model}}
  @routeModelPrefix={{routeModel}}
  @modelsForHierarchicalBack={{array meeting.id model.id}}
/>
<div class="auk-scroll-wrapper__body">
  {{outlet}}
</div>