{{page-title (await this.title)}}
<Utils::OverviewsHeaderPrint
  @title={{await this.title}}
  @model={{await this.model}}
  @routeModelPrefix={{this.routeModel}}
  @modelsForHierarchicalBack={{array this.meeting.id this.model.id}}
/>
<div class="auk-scroll-wrapper__body">
  {{outlet}}
</div>