<div class="auk-u-m-2 auk-u-scroll-scrollable">
  <WebComponents::AuButton @icon="settings" @skin="borderless" data-test-publication-button-filter-tables
    {{on "click" this.openColumnDisplayOptionsModal}}
  />
  <DataTable
    @content={{this.model}}
    @page={{this.page}}
    @noDataMessage={{t "no-results-found"}}
    @size={{this.size}}
    @sort={{this.sort}}
    @isLoading={{this.isLoadingModel}}
    @onClickRow={{this.navigateToPublication}}
    @class="auk-table auk-table--disable-bottom-border"
    as |table|>
    <table.content as |c|>
      <c.header>
        {{!-- TODO not a clean solution using style inline, need an auk-u class for this --}}

        {{#if this.filterTableColumnOptionKeys.caseNameFilterOption}}
          <th style="min-width: 50rem">
            {{t "publications-table-case-name"}}
          </th>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.publicationNumberFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field="publication-number"
            @label={{t "publications-table-publication-number"}}
          />
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.numacNumberFilterOption}}
          <th>{{t "publications-table-numacnummer-bs"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.derivedPublicationTypeFilterOption}}
          <ThSortable
                  @currentSorting={{this.sort}}
                  @field="deducedType.priority"
                  @label={{t "deduced-publication-type"}}
          />
          {{!--<WebComponents::AuIcon @name="circle-info"/>
          <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
            <p>
              {{t "publications-table-derived-publicationtype-info"}}
            </p>
          </EmberTooltip>--}}
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.onMeetingFilterOption}}
          <th>{{t "publications-table-on-meeting"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.requestedPublicationDateFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field="publishBefore"
            @label={{t "publications-table-requested-publication-date"}}
          />
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.finalPublicationDateFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field=""
            @label={{t "publications-table-final-publication-date"}}
          />
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.publicationDateFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field="publishedAt"
            @label={{t "publications-table-publication-date"}}
          />
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.caseManagerFilterOption}}
          <th>{{t "publications-table-case-manager"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.lastEditedFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field="modified"
            @label={{t "publications-table-last-edited"}}
          />
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.lastEditedByFilterOption}}
          <th>{{t "publications-table-last-edited-by"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.withdrawnDateFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field=""
            @label={{t "publications-table-withdrawn-date"}}
          />
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.pauseDateFilterOption}}
          <ThSortable
            @currentSorting={{this.sort}}
            @field=""
            @label={{t "publications-table-pause-date"}}
          />
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.translateRequestsFilterOption}}
          <th class="auk-u-text-align--center">{{t "publications-table-translate-requests"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.signRequestsFilterOption}}
          <th class="auk-u-text-align--center">{{t "publications-table-sign-requests"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.publishPreviewRequestsFilterOption}}
          <th class="auk-u-text-align--center">{{t "publications-table-publish-preview-requests"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.speedProcedureFilterOption}}
          <th class="auk-u-text-align--center">{{t "publications-table-speed-procedure"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.commentFilterOption}}
          <th class="auk-u-text-align--center">{{t "publications-table-comment"}}</th>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.fromDesignAgendaFilterOption}}
          <th>{{t "publications-table-from-designagenda"}}</th>
        {{/if}}
        <th>
          &nbsp;
        </th>
      </c.header>
      <c.body class="tr-hover" as |row|>
        {{#if this.filterTableColumnOptionKeys.caseNameFilterOption}}
        {{!-- There is legacy data were case does not have a shortTitle, we have to fall back to title --}}
          <td class="auk-table__col--6">
            {{#if row.case.shortTitle}}
              <WebComponents::AuAbbreviatedText @text={{row.case.shortTitle}} @size="150"/>
            {{else}}
              {{#if row.case.title}}
                <WebComponents::AuAbbreviatedText @text={{row.case.title}} @size="150"/>
              {{else}}
                {{t "dash"}}
              {{/if}}
            {{/if}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.publicationNumberFilterOption}}
          <td>
            {{#if row.publicationNumber}}
              {{row.publicationNumberToDisplay}}
            {{else}}
              {{t "dash"}}
            {{/if}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.numacNumberFilterOption}}
          <td>
            {{#each row.numacNumbers as |numac|}}
              <WebComponents::AuPill>{{numac.name}}</WebComponents::AuPill>
            {{else}}
              {{t "dash"}}
            {{/each}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.derivedPublicationTypeFilterOption}}
          <td>
            {{#if row.deducedType}}
              {{row.deducedType.label}}
            {{else}}
              {{t "dash"}}
            {{/if}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.onMeetingFilterOption}}
          <td>
            {{t "dash"}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.requestedPublicationDateFilterOption}}
          <td class="auk-u-text-nowrap">
            {{#if row.publishDateRequested}}
              {{moment-format row.publishDateRequested "DD-MM-YYYY"}}
            {{else}}
              {{t "dash"}}
            {{/if}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.finalPublicationDateFilterOption}}
          <td class="auk-u-text-nowrap">
            {{#if row.publishBefore}}
            {{!-- TODO We want to check if the publication is still ongoing, no warnings for published/withdrawn --}}
              {{#if
                (is-between (moment-subtract row.publishBefore 2 precision='days') row.publishBefore)
              }}
                <div class="auk-form-help-text--warning">
                  <WebComponents::AuIcon @name="alert-triangle"/>
                  {{moment-format row.publishBefore "DD-MM-YYYY"}}
                </div>
              {{else if (is-before row.publishBefore now)}}
                <div class="auk-form-help-text--danger">
                  <WebComponents::AuIcon @name="alert-triangle"/>
                  {{moment-format row.publishBefore "DD-MM-YYYY"}}
                </div>
              {{else}}
                <div>
                  {{moment-format row.publishBefore "DD-MM-YYYY"}}
                </div>
              {{/if}}
            {{else}}
              {{t "dash"}}
            {{/if}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.publicationDateFilterOption}}
          <td class="auk-u-text-nowrap">
            {{if
              row.publishedAt
              (moment-format row.publishedAt "DD-MM-YYYY")
              (t "dash")
            }}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.caseManagerFilterOption}}
          <td>
            {{t "dash"}}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.lastEditedFilterOption}}
          <td class="auk-u-text-nowrap">
            {{moment-format row.modified "DD-MM-YYYY"}}<br/>
            <span class="auk-u-text-small auk-u-muted">
              {{moment-format row.modified "HH:mm"}}
            </span>
          </td>
        {{/if}}


        {{#if this.filterTableColumnOptionKeys.lastEditedByFilterOption}}
          <td>
            {{t "dash"}}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.withdrawnDateFilterOption}}
          <td>
            {{t "dash"}}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.pauseDateFilterOption}}
          <td>
            {{t "dash"}}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.translateRequestsFilterOption}}
          <td class="auk-u-text-align--center">
            {{#if (gt (await row.translationRequestsTotal) 0)}}
              {{#if
                (eq (await row.translationRequestsFinished) (await row.translationRequestsTotal))
              }}
                <WebComponents::AuStatusPill @status="done">
                  {{await row.translationRequestsFinished}} / {{await row.translationRequestsTotal}}
                </WebComponents::AuStatusPill>
              {{else}}
                <WebComponents::AuStatusPill @status="in-progress">
                  {{await row.translationRequestsFinished}} / {{await row.translationRequestsTotal}}
                </WebComponents::AuStatusPill>
              {{/if}}
            {{else}}
              <WebComponents::AuStatusPill @status="not-started" />
            {{/if}}
          </td>
        {{/if}}



        {{#if this.filterTableColumnOptionKeys.signRequestsFilterOption}}
          <td class="auk-u-text-align--center">
            {{t "dash"}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.publishPreviewRequestsFilterOption}}
          <td class="auk-u-text-align--center">
            {{#if (gt (await row.publishpreviewRequestsTotal) 0)}}
              {{#if
                (eq (await row.publishpreviewRequestsFinished) (await row.publishpreviewRequestsTotal))
              }}
                <WebComponents::AuStatusPill @status="done">
                  {{await row.publishpreviewRequestsFinished}} / {{await row.publishpreviewRequestsTotal}}
                </WebComponents::AuStatusPill>
              {{else}}
                <WebComponents::AuStatusPill @status="in-progress">
                  {{await row.publishpreviewRequestsFinished}} / {{await row.publishpreviewRequestsTotal}}
                </WebComponents::AuStatusPill>
              {{/if}}
            {{else}}
              <WebComponents::AuStatusPill @status="not-started" />
            {{/if}}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.speedProcedureFilterOption}}
          <td class="auk-u-text-align--center">
            {{#if row.hasPriority}}
              <WebComponents::AuIcon @iconSkinColor="warning" @name="alert-triangle"/>
              <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                <p>
                  {{t "priority-procedure"}}
                </p>
              </EmberTooltip>
            {{else}}
              {{t "dash"}}
            {{/if}}
          </td>
        {{/if}}

        {{#if this.filterTableColumnOptionKeys.commentFilterOption}}
          <td class="auk-u-text-align--center">
            {{#if row.remark}}
              <WebComponents::AuIcon @iconSkinColor="muted" @name="comment"/>
              <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                <p>
                  {{row.remark}}
                </p>
              </EmberTooltip>
            {{else}}
              {{t "dash"}}
            {{/if}}
          </td>
        {{/if}}
        {{#if this.filterTableColumnOptionKeys.fromDesignAgendaFilterOption}}
          <td class="auk-u-text-align--center">
            {{t "dash"}}
          </td>
        {{/if}}
        <td>
          <WebComponents::AuButtonToolbar>
            <WebComponents::AuButton {{on "click" (fn this.navigateToPublication row)}} @skin="borderless" @layout="icon-only" @icon="chevron-right" data-test-publications-button-go-to-publication/>
          </WebComponents::AuButtonToolbar>
        </td>
      </c.body>
    </table.content>
  </DataTable>
</div>

{{#if this.showFilterTableModal}}
  <Publications::OverviewTableDisplayConfigModal
    @options={{this.filterTableColumnOptionKeys}}
    @onChange={{this.changeColumnDisplayOptions}}
    @onClose={{this.closeColumnDisplayOptionsModal}}
  />
{{/if}}