<WebComponents::AuButton @icon="filter" @skin="secondary" data-test-publication-button-filter-tables
  {{on "click" this.filterTables}}>
  {{t "filter-content"}}
</WebComponents::AuButton>
<div class="auk-u-m-2 auk-u-scroll-scrollable">
  <DataTable
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToPublication}}
          @class="auk-table auk-table--disable-bottom-border"
          as |table|>
    <table.content as |c|>
      <c.header>
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-case-name")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-publication-number")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-derived-publicationtype")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-on-meeting")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-requested-publication-date")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-final-publication-date")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-publication-date")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-numacnummer-bs")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-case-manager")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-last-edited")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-last-edited-by")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-withdrawn-date")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-pause-date")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-translate-requests")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-sign-requests")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-publish-preview-requests")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-speed-procedure")
        }}
        {{th-sortable
          currentSorting=this.sort
          field="publicationNumber"
          label=(t "publications-table-comment")
        }}
      </c.header>
      <c.body class="tr-hover" as |row|>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.case.shortTitle}}
        </td>
        <td>
          {{row.publicationNumber}}
        </td>
        <td>
          {{#if row.publicationBefore}}
            {{moment-format row.publicationBefore "DD-MM-YYYY"}}
          {{else}}
            {{t "dash"}}
          {{/if}}
        </td>
        <td>
          {{moment-format row.modified "DD-MM-YYYY"}}<br/>
          <span class="auk-u-text-small auk-u-muted">{{moment-format row.modified "HH:mm"}}</span>
        </td>
        <td class="auk-u-text-align--center">
          {{#if row.hasPriority}}
            <WebComponents::AuIcon @iconSkinColor="warning" @name="alert-triangle"/>
            <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
              <p>
                {{t "priority-procedure"}}
              </p>
            </EmberTooltip>
          {{/if}}
        </td>
        <td>
          <WebComponents::AuButtonToolbar>
            <WebComponents::AuButton {{on "click" (fn this.navigateToPublication row)}} @skin="borderless" @layout="icon-only" @icon="chevron-right" data-test-publications-button-go-to-publication/>
          </WebComponents::AuButtonToolbar>
        </td>
      </c.body>
    </table.content>
  </DataTable>
</div>

{{#if showFilterTableModal}}
  <WebComponents::AuModal data-test-au-modal-publication-new>
    <WebComponents::AuModal::Header
            @size="medium"
            @title={{t "publications-setting-show-columns-modal-title"}}
            @closeModal={{this.closeFilterTableModal}}
    />
    <WebComponents::AuModal::Body>
      <div class="auk-form-group-layout auk-form-group-layout--grid">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6">
            <div class="auk-form-group">
              <WebComponents::AuCheckboxList>
                <WebComponents::AuCheckbox @name="caseNameFilterOption" @label={{t "publications-table-case-name"}} @checked={{this.filterTableColumnOptionKeys.caseNameFilterOption}} @toggle={{this.toggleFilterOption}} />
                <WebComponents::AuCheckbox @name="publicationNumberFilterOption" @label={{t "publications-table-publication-number"}} @checked={{this.filterTableColumnOptionKeys.publicationNumberFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="derivedPublicationTypeFilterOption" @label={{t "publications-table-derived-publicationtype"}} @checked={{this.filterTableColumnOptionKeys.derivedPublicationTypeFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="onMeetingFilterOption" @label={{t "publications-table-on-meeting"}} @checked={{this.filterTableColumnOptionKeys.onMeetingFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="longTitleFilterOption" @label={{t "publications-table-title-subcase"}} @checked={{this.filterTableColumnOptionKeys.longTitleFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="requestedPublicationDateFilterOption" @label={{t "publications-table-requested-publication-date"}} @checked={{this.filterTableColumnOptionKeys.requestedPublicationDateFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="finalPublicationDateFilterOption" @label={{t "publications-table-final-publication-date"}} @checked={{this.filterTableColumnOptionKeys.finalPublicationDateFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="publicationDateFilterOption" @label={{t "publications-table-publication-date"}} @checked={{this.filterTableColumnOptionKeys.publicationDateFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="numacNuberBsFilterOption" @label={{t "publications-table-numacnummer-bs"}} @checked={{this.filterTableColumnOptionKeys.numacNuberBsFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="lastEditedFilterOption" @label={{t "publications-table-last-edited"}} @checked={{this.filterTableColumnOptionKeys.lastEditedFilterOption}} @toggle={{this.toggleFilterOption}}/>
              </WebComponents::AuCheckboxList>
            </div>
          </div>
          <div class="auk-o-grid-col-6">
            <div class="auk-form-group">
              <WebComponents::AuCheckboxList>
                <WebComponents::AuCheckbox @name="caseManagerFilterOption" @label={{t "publications-table-case-manager"}} @checked={{this.filterTableColumnOptionKeys.caseManagerFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="lastEditedByFilterOption" @label={{t "publications-table-last-edited-by"}} @checked={{this.filterTableColumnOptionKeys.lastEditedByFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="withdrawnDateFilterOption" @label={{t "publications-table-withdrawn-date"}} @checked={{this.filterTableColumnOptionKeys.withdrawnDateFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="pauseDateFilterOption" @label={{t "publications-table-pause-date"}} @checked={{this.filterTableColumnOptionKeys.pauseDateFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="translateRequestsFilterOption" @label={{t "publications-table-translate-requests"}} @checked={{this.filterTableColumnOptionKeys.translateRequestsFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="signRequestsFilterOption" @label={{t "publications-table-sign-requests"}} @checked={{this.filterTableColumnOptionKeys.signRequestsFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="publishPreviewRequestsFilterOption" @label={{t "publications-table-publish-preview-requests"}} @checked={{this.filterTableColumnOptionKeys.publishPreviewRequestsFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="speedProcedureFilterOption" @label={{t "publications-table-speed-procedure"}} @checked={{this.filterTableColumnOptionKeys.speedProcedureFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="commentFilterOption" @label={{t "publications-table-comment"}} @checked={{this.filterTableColumnOptionKeys.commentFilterOption}} @toggle={{this.toggleFilterOption}}/>
                <WebComponents::AuCheckbox @name="fromDesignAgendaFilterOption" @label={{t "publications-table-from-designagenda"}} @checked={{this.filterTableColumnOptionKeys.fromDesignAgendaFilterOption}} @toggle={{this.toggleFilterOption}}/>
              </WebComponents::AuCheckboxList>
            </div>
          </div>
        </div>
      </div>
    </WebComponents::AuModal::Body>
  </WebComponents::AuModal>
{{/if}}
