<WebComponents::AuNavbar class="auk-publication-overview-navbar" @border="bottom" @skin="gray-100" @auto="true">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <div class="auk-u-flex auk-u-flex--vertical">
          <h4 class="auk-toolbar-complex__title">{{t "publications" }}</h4>
        </div>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuDropdown>
          <Publications::PublicationCaseSearch/>
        </WebComponents::AuDropdown>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton @skin="secondary" @icon="filter" {{on "click" (fn this.showFilterModal)}}>
          {{t "filter-content"}}
        </WebComponents::AuButton>
      </WebComponents::AuToolbar::Item>

      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton data-test-publication-header-button-new @icon="add" @skin="primary" {{on "click"
                                                                                                          (fn this.showPublicationModal)}}>
          {{t "publications-new"}}
        </WebComponents::AuButton>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>
<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-4">
      {{#if this.model.length}}
        <table class="auk-table">
          <thead>
            <tr>
              {{#each this.tableColumns as |column|}}
                {{#if (get this.tableColumnDisplayOptions column.keyName)}}
                  {{!-- first cases that need a special treament. The "else" clause treats the default case --}}
                  {{#if (eq column.keyName "caseName")}}
                    <ThSortable
                          @currentSorting={{this.sort}}
                          @field={{column.keyName}}
                          @label={{t column.translationKeySmall}}
                          @class="auk-u-text-nowrap auk-case-name-header"/>
                  {{else}}
                    {{#if column.sortable}}
                      <ThSortable
                            @currentSorting={{this.sort}}
                            @field={{column.keyName}}
                            @label={{t column.translationKeySmall}}
                            @class="auk-u-text-nowrap"/>
                    {{else}}
                      <th class="auk-u-text-nowrap">{{t column.translationKeySmall}}</th>
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/each}}
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.model as |row|}}
              <tr class="auk-table--interaction-cursor"  {{on "click" (fn this.navigateToPublication row)}}>
                {{#if this.tableColumnDisplayOptions.caseName}}
                  {{!-- There is legacy data were case does not have a shortTitle, we have to fall back to title --}}
                  <td class="auk-table__col--6">
                    {{#if row.case.shortTitle}}
                      <WebComponents::AuAbbreviatedText @text={{row.case.shortTitle}} @size="150"/>
                    {{else}}
                      {{#if row.case.title}}
                        <WebComponents::AuAbbreviatedText @text={{row.case.title}} @size="150"/>
                      {{else}}
                        {{t "dash"}}
                      {{/if}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.comment}}
                  <td class="auk-u-text-align--center">
                    {{#if row.remark}}
                      <WebComponents::AuIcon @iconSkinColor="muted" @name="comment"/>
                      <EmberTooltip @tooltipClass="auk-tooltip" @side="left">
                        <p>
                          {{row.remark}}
                        </p>
                      </EmberTooltip>
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.speedProcedure}}
                  <td class="auk-u-text-align--center">
                    {{#if row.urgencyLevel.isUrgent}}
                      <WebComponents::AuIcon @iconSkinColor="warning" @name="alert-triangle"/>
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.publicationNumber}}
                  <td>
                    {{#if row.identification.idName}}
                      {{row.identification.idName}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.regulationType}}
                  <td class="auk-u-text-nowrap">
                    {{#if row.regulationType}}
                      {{row.regulationType.label}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.numacNumber}}
                  <td style="min-width: 180px">
                    {{#if row.numacNumbers }}
                      {{join ', ' (map-by 'idName' row.numacNumbers)}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.publicationTargetDate}}
                  <td class="auk-u-text-nowrap">
                    {{#if row.publicationSubcase.targetEndDate}}
                      {{moment-format row.publicationSubcase.targetEndDate "DD-MM-YYYY"}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.translationDueDate}}
                  <td class="auk-u-text-nowrap">
                    {{#if row.translationSubcase.dueDate}}
                      {{moment-format row.translationSubcase.dueDate "DD-MM-YYYY"}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.publicationDate}}
                  <td class="auk-u-text-nowrap">
                    {{#if row.publicationSubcase.endDate}}
                      {{moment-format row.publicationSubcase.endDate "DD-MM-YYYY"}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.lastEdited}}
                  <td>
                    {{moment-format row.modified "DD-MM-YYYY"}}<br/>
                    <span class="auk-u-text-small auk-u-muted">
                      {{moment-format row.modified "HH:mm"}}
                    </span>
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.status}}
                  <td class="auk-u-text-nowrap">
                    {{#if row.status }}
                      <span class="{{if row.status.isPublished "auk-u-text-success"}}
                        {{if row.status.isWithdrawn "auk-u-text-error"}} " >
                        {{row.status.label}}
                      </span>

                      {{#if (or row.status.isWithdrawn row.status.isPaused) }}
                        <br>
                        <span class="auk-u-text-small auk-u-muted">
                          {{moment-format row.publicationStatusChange.startedAt "DD-MM-YYYY HH:mm"}}
                        </span>
                      {{/if}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                {{/if}}
                {{#if this.tableColumnDisplayOptions.source}}
                  <td class="auk-u-text-nowrap">
                    {{#if row.case.subcases }}
                      {{t "via-cabinet"}}
                    {{else}}
                      {{t "not-via-cabinet"}}
                    {{/if}}
                  </td>
                {{/if}}
                <td>
                  <LinkTo
                        data-test-publications-button-go-to-publication
                        @route="publications.publication"
                        @model={{row.id}} class="auk-button auk-button--borderless auk-button--icon">
                    <i class="ki ki-chevron-right"></i>
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <WebComponents::AuPanel>
          <WebComponents::AuPanel::Body>
            <WebComponents::AuEmptyState @message={{t "no-results-found"}}/>
          </WebComponents::AuPanel::Body>
        </WebComponents::AuPanel>
      {{/if}}
    </div>
  </div>
</div>
<div>
  <hr>
</div>
<div class="auk-u-mx-4">
  <WebComponents::AuToolbar >
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuPagination
                @page={{this.page}}
                @nbOfItems={{this.model.length}}
                @size={{this.size}}
                @onNextPage={{this.nextPage}}
                @onPreviousPage={{this.prevPage}}
                @total={{this.model.meta.count}} />
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        {{t "amount-showed"}}
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{this.size}}
          @onChange={{this.setSizeOption}}
        >
        </WebComponents::AuPageSize>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton @icon="settings" @skin="borderless" data-test-publication-button-filter-tables
          {{on "click" this.toggleColumnDisplayOptions}}
        />
        <AttachPopover
                @class="auk-popover"
                @showOn="click"
                @placement="top"
                @hideOn="click"
                @isShown={{this.showTableDisplayOptions}}
                @renderInPlace={{false}}
        >
          <Publications::OverviewTableDisplayConfigModal
                  @options={{this.tableColumnDisplayOptions}}
                  @onChange={{this.changeColumnDisplayOptions}}
                  @onClose={{this.toggleColumnDisplayOptions}}
          />
        </AttachPopover>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</div>


{{#if this.isShowPublicationModal}}
  <Publications::NewPublicationModal
          @isViaCouncilOfMinisters={{false}}
          @onCancel={{this.closePublicationModal}}
          @onSave={{this.saveNewPublication}} />
{{/if}}
{{#if this.isShowPublicationFilterModal}}
  <Publications::PublicationsFilterModal
          @filter={{this.publicationFilter}}
          @onCancel={{this.cancelPublicationsFilter}}
          @onSave={{this.savePublicationsFilter}} />
{{/if}}
