{{ page-title (t "publications") }}
<DataTable
        @content={{this.model}}
        @page={{this.page}}
        @noDataMessage={{t "no-results-found"}}
        @size={{this.size}}
        @sort={{this.sort}}
        @isLoading={{this.isLoadingModel}}
        @onClickRow={{this.navigateToPublication}}
        @class="auk-table auk-table--disable-bottom-border"
        as |table|>
  <table.content as |c|>
    <c.header>
      <th>{{t "agendaitem-case"}}</th>
      {{th-sortable
        currentSorting=this.sort
        field="publicationNumber"
        label=(t "publications-number")
      }}
      {{th-sortable
        currentSorting=this.sort
        field="publishBefore"
        label=(t "publication-before")
      }}
      {{th-sortable
        currentSorting=this.sort
        field="modified"
        label=(t "latest-modified")
      }}
      <th>{{t "translations"}}</th>
      <th>{{t "proof"}}</th>
      <th></th>
      <th></th>
      <th></th>
    </c.header>
    <c.body class="tr-hover" as |row|>
      <td>
        {{row.case.shortTitle}}
      </td>
      <td>
        {{row.publicationNumber}}
      </td>
      <td>
        {{#if row.publicationBefore}}
          {{moment-format row.publicationBefore "DD-MM-YYYY"}}
        {{else}}
          {{t "dash"}}
        {{/if}}
      </td>
      <td>
        {{moment-format row.modified "DD-MM-YYYY"}}<br/>
        <span class="auk-u-text-small auk-u-muted">{{moment-format row.modified "HH:mm"}}</span>
      </td>

      <td>
        {{#if (gt (await row.publishpreviewRequestsTotal) 0)}}
          {{#if (eq (await row.publishpreviewRequestsFinished) (await row.publishpreviewRequestsTotal)) }}
            <WebComponents::AuStatusPill @status="done">
              {{ await row.publishpreviewRequestsFinished }} / {{ await row.publishpreviewRequestsTotal }}
            </WebComponents::AuStatusPill>
          {{else}}
            <WebComponents::AuStatusPill @status="in-progress">
              {{ await row.publishpreviewRequestsFinished }} / {{ await row.publishpreviewRequestsTotal }}
            </WebComponents::AuStatusPill>
          {{/if}}
        {{else}}
          {{t "dash"}}
        {{/if}}
      </td>

      <td>
        {{#if (gt (await row.translationRequestsTotal) 0)}}
          {{#if (eq (await row.translationRequestsFinished) (await row.translationRequestsTotal)) }}
            <WebComponents::AuStatusPill @status="done">
              {{ await row.translationRequestsFinished }} / {{ await row.translationRequestsTotal }}
            </WebComponents::AuStatusPill>
          {{else}}
            <WebComponents::AuStatusPill @status="in-progress">
              {{ await row.translationRequestsFinished }} / {{ await row.translationRequestsTotal }}
            </WebComponents::AuStatusPill>
          {{/if}}
        {{else}}
          {{t "dash"}}
        {{/if}}
      </td>
      <td class="auk-u-text-align--center">
        {{#if row.hasPriority}}
          <WebComponents::AuIcon @iconSkinColor="warning" @name="alert-triangle"/>
          <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
            <p>
              {{t "priority-procedure"}}
            </p>
          </EmberTooltip>
        {{/if}}
      </td>
      <td>
        {{t "dash"}}
        {{!-- <WebComponents::AuButton @skin="borderless" @layout="icon-only" @icon="comment" /> --}}
        {{!-- {{#if row.internalComment}}
        <WebComponents::AuButton @skin="borderless" @layout="icon-only" @icon="comment" id="comment-{{increment index}}">Hover over mij om de comment te bekijken</WebComponents::AuButton>
        <EmberTooltip @tooltipClass="auk-tooltip" @targetId="comment-{{increment index}}" @side="left">
          {{row.internalComment}}
        </EmberTooltip>
        {{/if}} --}}
      </td>
      <td>
        <WebComponents::AuButtonToolbar>
          <WebComponents::AuButton {{on "click" (fn this.navigateToPublication row)}} @skin="borderless" @layout="icon-only" @icon="chevron-right" data-test-publications-button-go-to-publication/>
        </WebComponents::AuButtonToolbar>
      </td>
    </c.body>
  </table.content>
</DataTable>
