<Auk::Navbar
  class="auk-publication-overview-navbar"
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4
            data-test-route-publications-index-title
            class="auk-toolbar-complex__title"
          >{{t "publications"}}</h4>
        </div>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Tabs>
          <Auk::Tab
            @route="publications.index.index"
          >
            Alle dossiers
          </Auk::Tab>
          <Auk::Tab
            @route="publications.index.urgent"
          >
            Dringend
          </Auk::Tab>
          <Auk::Tab
            @route="publications.index.translation"
          >
            In vertaling
          </Auk::Tab>
          <Auk::Tab
            @route="publications.index.proof"
          >
            In proefdruk
          </Auk::Tab>
          <Auk::Tab
            @route="publications.index.proofread"
          >
            Nalezen
          </Auk::Tab>
          <Auk::Tab
            @route="publications.index.late"
          >
            Te laat in BS
          </Auk::Tab>
        </Auk::Tabs>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{!-- Hide search and filter --}}
      {{!-- <Auk::Toolbar::Item>
        <Publications::PublicationCaseSearch />
      </Auk::Toolbar::Item> --}}
      {{!-- <Auk::Toolbar::Item>
        <Auk::Button
          data-test-route-publications-index-filter-content
          @skin="secondary"
          @icon="filter"
          {{on "click" this.showFilterModal}}
        >
          {{t "filter-content"}}
        </Auk::Button>
      </Auk::Toolbar::Item> --}}
      {{!-- End: Hide search and filter --}}

      <Auk::Toolbar::Item>
        <Auk::Button
          data-test-route-publications-index-new-publication
          @icon="plus"
          @skin="primary"
          {{on "click" this.showPublicationModal}}
        >
          {{t "publications-new"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{outlet}}

{{#if this.isShowPublicationModal}}
  <Publications::NewPublicationModal
    @onCancel={{this.closePublicationModal}}
    @onSave={{this.saveNewPublication}}
  />
{{/if}}