{{page-title (t "search")}}
<div class="auk-u-maximize-height auk-scroll-wrapper">
  <Auk::Navbar>
    {{!-- template-lint-disable no-redundant-fn --}}
    {{!-- TODO: Using plain decorated action for Input's @enter doesn't work for some reason --}}
    <div class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-end auk-u-maximize-width auk-u-mb-4 auk-u-mt-4">
      <div class="auk-form-group au-u-margin-bottom-none au-u-3-4">
        <div class="auk-o-flex auk-o-flex--align-baseline">
          <Auk::Label for="dossierId" class="auk-u-mr">
            {{#if this.isSearchingPublicationFlows}}
              {{capitalize (t "search-term")}}
            {{else}}
              {{capitalize (t "keyword")}}
            {{/if}}
          </Auk::Label>
          <span>
            <Auk::Icon
              @name="circle-info"
              @skin="muted"
              class="auk-u-cursor-pointer"
              {{on "click" this.openPopover}}
            >
              <AttachPopover
                @class="auk-popover"
                @showOn="click"
                @placement="right"
                @hideOn="clickout"
                @isShown={{this.popoverShown}}
                @renderInPlace={{true}}
              >
                <Utils::SearchLegend
                  @userClickedClose={{this.closePopover}}
                />
              </AttachPopover>
            </Auk::Icon>
          </span>
        </div>
        <Auk::Input
          @block={{true}}
          placeholder={{t "search-placeholder"}}
          @value={{this.searchTextBuffer}}
          @enter={{fn this.search}}
          id="dossierId"
          data-test-route-search-input
        />
      </div>
      {{#if this.isSearchingPublicationFlows}}
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label for="dateType">
              {{capitalize (t "search-by-date-type")}}
            </Auk::Label>
            <select
              data-test-route-search-publication-date-type
              name="dateType"
              id="dateType"
              class="auk-select auk-select--block"
              {{on "input" this.selectPublicationDateType}}>
              {{#each this.publicationDateTypes as |dateType|}}
                <option
                  value={{dateType.key}}
                  selected={{eq dateType.key this.publicationDateTypeKeyBuffer}}>
                  {{dateType.label}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "date"}}</Auk::Label>
            <WebComponents::VlDatepicker
              data-test-route-search-publication-date
              @selectedDate={{array this.dateBuffer}}
              @dateChanged={{fn (mut this.dateBuffer)}}
              @enableClear={{this.dateBuffer}}
              @onClear={{fn (mut this.dateBuffer) null}}
              @allowInput={{true}}
            />
          </div>
        </div>
      {{else}}
        {{!-- <div class="auk-o-grid-col-2">
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "from"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateFromBuffer}}
              @dateChanged={{fn (mut this.dateFromBuffer)}}
              @enableClear={{this.dateFromBuffer}}
              @onClear={{fn (mut this.dateFromBuffer) null}}
              @allowInput={{true}}
            />
          </div>
        </div>
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateToBuffer}}
              @dateChanged={{fn (mut this.dateToBuffer)}}
              @enableClear={{this.dateToBuffer}}
              @onClear={{fn (mut this.dateToBuffer) null}}
              @allowInput={{true}}
            />
          </div>
        </div>
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group">
            <Auk::Label for="ministerName">
              {{t "minister"}}
            </Auk::Label>
            <Auk::Input
              data-test-route-search-mandatee-input
              @block={{true}}
              @value={{this.mandateesBuffer}}
              @enter={{fn this.search}}
              id="ministerName"
            />
          </div>
        </div> --}}
      {{/if}}
      <div class="auk-form-group au-u-margin-bottom-none au-u-1-4">
        <Auk::Button
          @skin="primary"
          @icon="search"
          @block="true"
          data-test-route-search-trigger
          type="button"
          {{on "click" this.search}}
        >
          {{#if this.isSearchingPublicationFlows}}
            {{capitalize (t "search-publication")}}
          {{else}}
            {{t "search"}}
          {{/if}}
        </Auk::Button>
      </div>
    </div>
    {{!-- template-lint-enable no-redundant-fn --}}
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body au-u-background-gray-100">
    {{outlet}}
  </div>
</div>