<span class="auk-tabs__tab__inner">
  {{#if @icon}}
    {{#if (eq @layout "icon-right")}}
      <div class="auk-tabs__tab__label">{{yield}}</div>
      <AuIcon @icon={{@icon}} />
    {{else}}
      <AuIcon @icon={{@icon}} />
      <div class="auk-tabs__tab__label">{{yield}}</div>
    {{/if}}
  {{else}}
    <div class="auk-tabs__tab__label">{{yield}}</div>
    {{#if this.hasCounter}}
      <div class="auk-tabs__tab__counter">({{@counter}})</div>
    {{/if}}
  {{/if}}
</span>