<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vlc-u-display-flex-align-center">
    <h2 class="vlc-subline" data-test-subcase-type>
      {{#if (not subcase.showAsRemark)}}
        {{t "note"}}
      {{else}}
        {{t "text"}}
      {{/if}}
    </h2>
    {{#if currentSession.isEditor}}
      <div class="vl-u-spacer-extended-left-s" data-test-agendaitem-edit-link>
        <a
          data-test-subcase-titles-edit
          href=""
          class="vl-link"
          {{action "toggleIsEditingAction"}}
        >
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>

<div class="vl-u-spacer-extended-bottom-s">
  <h4 class="vl-title vl-title--h4">
    <pre>
      {{await subcase.shortTitle}}
    </pre>
  </h4>
</div>

<div class="vl-u-spacer-extended-bottom-s">
  <pre class="vlc-u-flex-inline-flex vlc-u-pre-line-wrap">
    {{await subcase.title}}
  </pre>
</div>

{{#if (not subcase.showAsRemark)}}
  <div class="vl-u-spacer-extended-bottom-s">
    {{#if (await subcase.subcaseName)}}
      <span class={{await pillClass}}>
        {{await subcase.subcaseName}}
      </span>
    {{/if}}
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <div
    class="pill-container vl-u-display-flex"
    data-test-agenda-subcasehidden-pill
  >
    {{#if (await subcase.confidential)}}
      <i class="vlc-pill vl-icon vlc-pill--error ki-lock-closed"></i>
    {{else}}
      <i
        class="vlc-pill vl-u-spacer-extended-right-s vl-icon vlc-pill--success ki-lock-open"
      ></i>
    {{/if}}
  </div>
</div>
