<div class="auk-u-mb-2">
  <div class="auk-u-flex auk-u-flex--vertical-center">
    <h2 class="vlc-subline" data-test-subcase-type>
      {{#if (not subcase.showAsRemark)}}
        {{t "note"}}
      {{else}}
        {{t "text"}}
      {{/if}}
    </h2>
    {{#if currentSession.isEditor}}
      <div class="auk-u-ml-2" data-test-agendaitem-edit-link>
        <a
          data-test-subcase-titles-edit
          href=""
          class="vl-link"
          {{action "toggleIsEditingAction"}}
        >
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>

<div class="auk-u-mb-2">
  <h4 class="vl-title vl-title--h4">
    <pre>
      {{await subcase.shortTitle}}
    </pre>
  </h4>
</div>

<div class="auk-u-mb-2">
  <pre class="auk-u-flex--inline auk-u-text-pre-line">
    {{await subcase.title}}
  </pre>
</div>

{{#if (not subcase.showAsRemark)}}
  <div class="auk-u-mb-2">
    {{#if (await subcase.subcaseName)}}
      <span class={{await pillClass}}>
        {{await subcase.subcaseName}}
      </span>
    {{/if}}
  </div>
{{/if}}
<div class="auk-u-mb-2">
  <div
    class="pill-container auk-u-flex"
    data-test-agenda-subcasehidden-pill
  >
    {{#if (await subcase.confidential)}}
      <i class="vlc-pill vl-icon vlc-pill--error ki-lock-closed"></i>
    {{else}}
      <i
        class="vlc-pill auk-u-mr-2 vl-icon vlc-pill--success ki-lock-open"
      ></i>
    {{/if}}
  </div>
</div>
