{{#each subcases as |subcase|}}
  <div class="vlc-procedure-step">
    <div class="vlc-procedure-step__badge-wrapper">
      {{#if (await subcase.decision.approved)}}
        <div
          class="vl-badge vl-badge--icon vl-badge--success vlc-procedure-step__badge vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
        >
          <i class="vl-badge__icon vl-vi vl-vi-check" aria-hidden="true"></i>
        </div>
      {{else}}
        <div
          class="vl-badge vl-badge--icon vl-badge--warning vlc-procedure-step__badge vl-badge--medium vl-badge--small-medium"
        >
          <i class="vl-badge__icon vl-vi vl-vi-sitemap" aria-hidden="true"></i>
        </div>
      {{/if}}
    </div>
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <div class="vl-u-spacer-extended-bottom-s">
            {{#if (or isAdmin isEditor)}}
              {{#link-to
                "cases.case.subcases.subcase"
                subcase.id
                class="vl-title vl-title--h6 max-width"
              }}
                {{t "in-function-of"}}{{await subcase.subcaseName}}
              {{/link-to}}
            {{else}}
              <h6 class="vl-title vl-title--h6 max-width">
                {{t "in-function-of"}}
                {{await subcase.subcaseName}}
              </h6>
            {{/if}}
          </div>
          <div class="vlc-procedure-step__meta">
            <p>
              {{t "latest-modified"}}
              {{moment-format (await subcase.modified) "DD.MM.YYYY"}}
            </p>
          </div>
          <ul class="vlc-status-timeline">
            <li
              class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
            >
              <div class="vlc-status-timeline__dot"></div>
              <div class="vlc-status-timeline__text">
                principiële goedkeuring
              </div>
            </li>
            <li
              class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
            >
              <div class="vlc-status-timeline__dot"></div>
              <div class="vlc-status-timeline__text">
                geagendeerd voor 3de principiële goedkeuring
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="vlc-hr" />
    <div class="vl-u-spacer-extended-bottom-s">
      <p class="vlc-subline">
        {{await subcase.case.type.label}}
      </p>
    </div>
    <div class="vl-u-spacer-extended-bottom-s">
      <div class="vl-title vl-title--h5">
        {{subcase.shortTitle}}
      </div>
    </div>
    <div class="vl-u-spacer-extended-bottom">
      <p>
        {{subcase.title}}
      </p>
    </div>
    <ul class="vlc-document-list">
      {{#each (await subcase.documents) as |document|}}
        <li class="vlc-document-list__item">
          <a {{action "downloadFile" (await document.lastDocumentVersion)}}>
            <div
              class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt"
            >
              <i
                class="vl-badge__icon vl-vi vl-vi-document"
                aria-hidden="true"
              ></i>
            </div>
            <p>
              {{document-name
                documentVersion=(await document.lastDocumentVersion)
                item=subcase
              }}
            </p>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}