<div class="auk-o-flex auk-o-flex--justify-between">
  <h3 class="auk-h2">
    {{t "decision-title"}}
  </h3>
</div>
{{#if this.currentSession.isEditor}}
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @icon="add"
          data-test-route-agenda---decisions-add-treatment
          {{on "click" this.addTreatment}}
        >
          {{t "add-decision"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
{{/if}}
{{#each this.treatments as |treatment|}}
  <div class="auk-u-mb-4">
    {{!-- As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo --}}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}