<div class="auk-u-flex auk-u-flex--justify-between">
  <h3 class="auk-h2">
    {{t "decision-title"}}
  </h3>
</div>
{{#if this.currentSession.isEditor}}
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <button
          type="button"
          class="auk-button auk-button--secondary vl-button--icon-before"
          data-test-add-decision
          {{on "click" this.addTreatment}}
        >
          <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-add"></i>
</div>
          {{t "add-decision"}}
        </button>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
{{/if}}
{{#each this.treatments as |treatment|}}
  <div class="auk-u-mb-4">
    {{!-- As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo --}}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}