<Auk::Toolbar class="auk-u-mb-4" as |Toolbar|>
  <Toolbar.Group @position="left" as |Group|>
    <Group.Item>
      <h4 class="auk-toolbar__title">
        {{t "decision-title"}}
      </h4>
    </Group.Item>
  </Toolbar.Group>
  <Toolbar.Group @position="right" as |Group|>
    {{#if this.currentSession.isEditor}}
      <Group.Item>
        <Auk::Button
          @skin="secondary"
          @icon="plus"
          data-test-route-agenda---decisions-add-treatment
          {{on "click" this.addTreatment}}
        >
          {{t "add-decision"}}
        </Auk::Button>
      </Group.Item>
    {{/if}}
  </Toolbar.Group>
</Auk::Toolbar>
{{#each this.treatments as |treatment|}}
  <div class="auk-u-mb-2">
    {{! As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo }}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @subcaseIsConfidential={{this.subcase.confidential}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}