<div class="auk-u-mb-4">
  <Auk::Toolbar class="auk-u-mb-4">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-toolbar__title">
          {{t "decision-title"}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if this.currentSession.isEditor}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary"
            @icon="plus"
            data-test-route-agenda---decisions-add-treatment
            {{on "click" this.addTreatment}}
          >
            {{t "add-decision"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#each this.treatments as |treatment|}}
  <div class="auk-u-mb-2">
    {{!-- As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo --}}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}