<div class="auk-o-flex auk-o-flex--justify-between">
  <h3 class="auk-h2">
    {{t "decision-title"}}
  </h3>
</div>
{{#if this.currentSession.isEditor}}
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <button
          type="button"
          class="auk-button auk-button--secondary"
          data-test-route-agenda---decisions-add-treatment
          {{on "click" this.addTreatment}}
        >
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-add"></i>
            </div>
            <div class="auk-button__label">
              {{t "add-decision"}}
            </div>
          </span>
        </button>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
{{/if}}
{{#each this.treatments as |treatment|}}
  <div class="auk-u-mb-4">
    {{!-- As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo --}}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}