<div class="auk-u-flex vlc-u-flex-space-between">
  <h3 class="vl-title vl-title--h3">
    {{t "decision-title"}}
  </h3>
</div>
{{#if this.currentSession.isEditor}}
  <div class="vl-action-group">
    <button
      type="button"
      class="vl-button vl-button--secondary vl-button--icon-before"
      data-test-add-decision
      {{on "click" this.addTreatment}}
    >
      <i class="vl-button__icon vl-button__icon--before ki-add"></i>
      {{t "add-decision"}}
    </button>
  </div>
{{/if}}
{{#each this.treatments as |treatment|}}
  <div class ="auk-u-mb-4">
    {{!-- As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo --}}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}