<AuToolbar class="au-u-margin-bottom" as |Group|>
  <Group>
    <AuHeading @level="3" @skin="4">
      {{t "decision-title"}}
    </AuHeading>
  </Group>
  <Group>
    {{#if this.currentSession.isEditor}}
      <Auk::Button
        @skin="secondary"
        @icon="plus"
        data-test-route-agenda---decisions-add-treatment
        {{on "click" this.addTreatment}}
      >
        {{t "add-decision"}}
      </Auk::Button>
    {{/if}}
  </Group>
</AuToolbar>
{{#each this.treatments as |treatment|}}
  <div class="auk-u-mb-2">
    {{! As long as we see DecisionActivity & AgendaItemTreatment as 1 entity,
    we need to ensure at least 1 treatment for a relationship path to newsletterInfo }}
    <Agenda::Agendaitem::AgendaitemDecision
      @treatment={{treatment}}
      @onDeleteTreatment={{this.refresh}}
      @allowDelete={{gt this.treatments.length 1}}
    />
  </div>
{{/each}}