{{#if @route}}
  <LinkTo class="au2-button {{this.skin}} {{this.size}} {{this.layout}} {{this.block}}" @route={{@route}} ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>
      {{yield}}
    </Button::InnerLayout>
  </LinkTo>
{{/if}}

{{#if @href}}
  <a class="au2-button {{this.skin}} {{this.size}} {{this.layout}} {{this.block}}" href="{{@href}}">
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>
      {{yield}}
    </Button::InnerLayout>
  </a>
{{/if}}

{{#unless (or @href @route)}}
  <button class="au2-button {{this.skin}} {{this.size}} {{this.layout}} {{this.block}}" type="button" ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>
      {{yield}}
    </Button::InnerLayout>
  </button>
{{/unless}}
