<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    <table class="vl-data-table vl-data-table vl-data-table--hover vl-data-table--zebra">
      <thead class="lt-head">
        <tr class="lt-scaffolding-row"></tr>
        <tr>
          <ThSortable
            @class="lt-column align-left"
            @currentSorting={{this.sort}}
            @field="priority"
            @label="#"
          />
          <th class="lt-column align-left vl-data-table-col-7">{{t "title-and-content"}}</th>
          <th class="lt-column align-left">{{t "minister"}}</th>
          <ThSortable
            @class="lt-column align-left"
            @currentSorting={{this.sort}}
            @field="treatments.newsletterInfo.inNewsletter"
            @label={{t "show-in-newsletter"}}
          />
          <ThSortable
            @class="lt-column align-left"
            @currentSorting={{this.sort}}
            @field="treatments.newsletterInfo.modified"
            @label={{t "latest-modified"}}
          />
          <th class="c-table__header c-table__header--actions"></th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          <NewsletterTable::TableRow
            @agendaitem={{item.agendaitem}}
            @newsletterInfo={{item.newsletterInfo}}
          />
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{outlet}}