<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <table data-test-route-newsletter-data-table class="auk-table auk-table--hover auk-table--striped">
      <thead class="lt-head">
        <tr class="lt-scaffolding-row"></tr>
        <tr>
          <ThSortable
            @class="lt-column align-left"
            @currentSorting={{this.sort}}
            @field="priority"
            @label="#"
          />
          <th class="lt-column align-left auk-table__col--7">{{t "title-and-content"}}</th>
          <th class="lt-column align-left">{{t "minister"}}</th>
          {{!-- Note: We are sorting on two keys below. In-newsletter property changes order,
                      while we want priority to stay ordered ascending --}}
          <ThSortable
            @class="lt-column align-left"
            @currentSorting={{this.sort}}
            @field="treatments.newsletterInfo.inNewsletter,priority"
            @label={{t "show-in-newsletter"}}
          />
          <ThSortable
            @class="lt-column align-left"
            @currentSorting={{this.sort}}
            @field="treatments.newsletterInfo.modified"
            @label={{t "latest-modified"}}
          />
          <th class="c-table__header c-table__header--actions"></th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          <NewsletterTable::TableRow
            @agendaitem={{item.agendaitem}}
            @newsletterInfo={{item.newsletterInfo}}
          />
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{outlet}}