<div class="vl-pager vl-pager--align-center">
  <ul class="vl-pager__list">
    <li class="vl-pager__element">
      <span class="vl-u-visually-hidden">
        Rij
      </span>
      <strong>
        {{startItem}}
        -
        {{endItem}}
      </strong>
      van
      {{total}}
    </li>
    {{#if hasMultiplePages}}
      <li class="vl-pager__element">
        <a
          class="vl-pager__element__cta vl-link vl-link--bold {{disabledPrev}}"
          {{action "prevPage" links.prev}}
        >
          <i
            class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-left-fat"
            aria-hidden="true"
          ></i>
          Vorige
          <span class="vl-u-visually-hidden">
            10 rijen
          </span>
        </a>
      </li>
      <li class="vl-pager__element">
        <a
          class="vl-pager__element__cta vl-link vl-link--bold {{disabledNext}}"
          {{action "nextPage" links.next}}
        >
          Volgende
          <span class="vl-u-visually-hidden">
            10 rijen
          </span>
          <i
            class="vl-link__icon vl-link__icon--after vl-vi vl-vi-arrow-right-fat"
            aria-hidden="true"
          ></i>
        </a>
      </li>
    {{/if}}
  </ul>
</div>