<div class="vlc-container">
  <div class="vl-u-display-flex vl-u-flex-justify-center">
    <img
      style="margin:-75px 0px -50px 0px; height:250px"
      src="/assets/logo_vlaamse_regering.svg"
     />

  </div>
  <div class="vl-u-spacer-extended-bottom-l">
    <h1 class="vl-title vl-title--h2">
      {{title}}
      <br />
      <span class="vl-u-spacer-extended-top-s vl-u-text--muted">
        {{t "agenda"}}
      </span>
    </h1>
  </div>
  <div class="vl-u-spacer-extended-bottom">
    {{#each (await agendaitemGroups) as |agendaitemGroup|}}
      <div class="vl-u-spacer-extended-bottom">
        {{#each (await agendaitemGroup.mandatees) as |mandatee|}}
          <h2 class="vl-title vl-title--h4">
            {{mandatee.title}}
          </h2>
        {{/each}}
      </div>
      <div class="vl-u-spacer-extended-bottom-l">
        {{#each (await agendaitemGroup.agendaitems) as |agendaitem|}}
          <div class="vl-u-spacer-extended-bottom-s">
            <h3 class="vl-title vl-title--h5">
              {{agendaitem.titlePress}}
            </h3>
          </div>
          <div class="vl-typography">
            <p>
              {{agendaitem.textPress}}
            </p>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>