<Auk::Panel>
  <WebComponents::AuPanel::Header>
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <h4 class="auk-panel__title">{{t "ministers-policy-fields"}}</h4>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      {{#if @showEditButton}}
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <Auk::Button
              @skin="tertiary"
              @icon="settings"
              data-test-mandatee-panel-view-edit={{true}}
              {{on "click" @onClickEdit}}
            >
              {{t "edit-2"}}
            </Auk::Button>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      {{/if}}
    </WebComponents::AuToolbar>
  </WebComponents::AuPanel::Header>
  {{#if @mandatees.length }}
    <WebComponents::AuPanel::Body @noPadding="true">
      <table class="auk-table">
        <thead>
          <tr>
            <th>{{t "minister"}}</th>
            <th>{{t "policy-domain-policy-fields"}}</th>
            <th>{{t "submitter"}}</th>
            {{!-- <th></th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each @mandatees as |mandatee|}}
            <tr data-test-mandatee-panel-view-mandatee-row>
              <td class="auk-table__col--4" data-test-mandatee-panel-view-row-name>
                <div class="auk-o-flex auk-o-flex--vertical-center">
                  <Auk::Badge @icon="user" />
                  <span class="auk-u-mx-2">{{mandatee.person.nameToDisplay}}</span>
                </div>
              </td>
              <Mandatees::DomainsFieldsForMandatee
                @mandatee={{mandatee}}
                @fields={{@fields}}
              as |mandateeDomainsFields|>
                {{!-- TODO: the design here currently isn't entirely adapted to the content.
                Only one collumn for domains as well as fields seems off --}}
                <td data-test-mandatee-panel-view-row-domains>
                  {{#if mandateeDomainsFields.domains.length}}
                    {{#each mandateeDomainsFields.domains as |domain|}}
                      {{domain.label}}:
                    {{/each}}
                    {{#each mandateeDomainsFields.fields as |field index|}}
                      {{unless (eq index 0) ", "}}{{field.label}}
                    {{/each}}
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
              </Mandatees::DomainsFieldsForMandatee>
              <td data-test-mandatee-panel-view-row-submitter>
                {{#if (eq mandatee @submitter)}}
                  <Auk::Icon @name="circle-check" @skin="success" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              {{!-- TODO implement actions --}}
              {{!-- <td class="auk-u-text-align--right">
                <Auk::Button @layout="icon-only" @skin="borderless" @icon="more">
                  <AttachPopover
                          @renderInPlace={{true}}
                          @class="ember-attacher-popper"
                          @hideOn="clickout click"
                          @showOn="click"
                          @animation="shift"
                          @placement="left"
                  >
                    <Auk::Dropdown>
                      <WebComponents::AuDropdown::Item>
                        {{t "edit-2"}}
                      </WebComponents::AuDropdown::Item>
                      <WebComponents::AuDropdown::Item @skin="danger">
                        {{t "delete"}}
                      </WebComponents::AuDropdown::Item>
                    </Auk::Dropdown>
                  </AttachPopover>
                </Auk::Button>
              </td> --}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </WebComponents::AuPanel::Body>
  {{else}}
    <WebComponents::AuPanel::Body>
      <Auk::EmptyState @message={{t "no-mandatees-and-fields-added"}} />
    </WebComponents::AuPanel::Body>
  {{/if}}
</Auk::Panel>