<div class="auk-box">
  <div class="auk-form-group">
    <div class="auk-u-mb-8">
      <table class="auk-table">
        <thead>
          <tr>
            <th class="auk-table__col--2">
              {{t "minister"}}
            </th>
            <th class="auk-table__col--3">
              {{t "government-domain"}}
            </th>
            <th class="auk-table__col--5">
              {{t "government-field"}}
            </th>
            <th class="auk-table__col--1">
              {{t "submitter"}}
            </th>
            <th class="auk-table__col--1"></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.mandateesBuffer as |mandatee|}}
            <tr data-test-mandatee-panel-edit-mandatee-row>
              <td data-test-mandatee-panel-edit-row-name>
                {{mandatee.person.nameToDisplay}}
              </td>
              <Mandatees::DomainsFieldsForMandatee
                @mandatee={{mandatee}}
                @fields={{this.fieldsBuffer}}
              as |mandateeDomainsFields|>
                <td>
                  {{#if mandateeDomainsFields.domains.length}}
                    <ul data-test-mandatee-panel-edit-row-domains>
                      {{#each mandateeDomainsFields.domains as |domain|}}
                        <li>{{domain.label}}</li>
                      {{/each}}
                    </ul>
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td>
                  {{#if mandateeDomainsFields.fields.length}}
                    <ul data-test-mandatee-panel-edit-row-fields>
                      {{#each mandateeDomainsFields.fields as |field|}}
                        <li>{{field.label}}</li>
                      {{/each}}
                    </ul>
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
              </Mandatees::DomainsFieldsForMandatee>
              <td data-test-mandatee-panel-edit-row-submitter>
                <WebComponents::VlToggle
                  @value={{eq mandatee this.submitterBuffer}}
                  @valueChanged={{fn this.toggleIsSubmitter mandatee}}
                />
              </td>
              <td class="auk-u-text-align--right auk-o-flex--vertical-center">
                {{!-- TODO: disable button on load
                  Loading-state HTML should look like:
                  <button type="button"
                    class="auk-button-loading"
                    disabled
                  >
                    <div class="auk-loader" role="alert" aria-busy="true"></div>
                  </button>
                 --}}
                {{!-- TODO: modify mandatee domains picker --}}
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="pencil"
                  {{on "click" (fn this.startEditingMandatee mandatee)}}
                  data-test-mandatee-panel-edit-row-edit
                >
                  {{t "edit"}}
                </Auk::Button>
                <Auk::Button
                  @skin="danger-borderless"
                  @layout="icon-only"
                  @icon="delete"
                  {{on "click" (fn this.removeMandatee mandatee)}}
                  data-test-mandatee-panel-edit-row-delete
                >
                  {{t "delete"}}
                </Auk::Button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <Auk::Toolbar @auto={{true}}>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="tertiary"
          @icon="add"
          {{on "click" this.startCreatingMandatee}}
          data-test-mandatee-panel-edit-add-mandatee
        >
          {{t "add-minister"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="tertiary"
          {{on "click" @onCancel}}
          data-test-mandatee-panel-edit-cancel
        >
          {{t "cancel"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::VlSaveButton
          data-test-mandatee-panel-edit-save={{true}}
          @text={{t "save"}}
          @isLoading={{this.save.isRunning}}
          @saveAction={{perform this.save}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>
{{#if this.isShowingEditMandateeModal}}
  <Mandatees::MandateesDomainsSelectorModal
    @mandatee={{this.mandateeUnderEdit}}
    @fields={{this.fieldsBuffer}}
    @onSave={{this.modifyMandateeAndFields}}
    @onCancel={{this.cancelEditingMandatee}}
  />
{{/if}}