<AuAlert
  @title={{@options.title}}
  @skin="error"
  @icon="alert-triangle"
  @size="small"
  @closable={{true}}
>
  <div class="auk-u-text-capitalize">
    <p>{{@options.message}}</p>
    <div class="au-u-margin-top-small au-o-box--small au-u-background-gray-100 au-u-word-break">
      <Utils::ClipboardableContent @content={{@options.errorContent}} />
    </div>
    {{#if @options.showDatetime}}
      <p class="toast-timestamp">{{datetime-at-phrase-weekday (current-datetime)}}</p>
    {{/if}}
  </div>
</AuAlert>