<ClickOutside @onClickOutside={{@onClose}}>
  <WebComponents::VlAlert
    class="vl-alert-relative vl-alert-relative--center-mid"
    aria-live="assertive"
    @type="success"
    @title={{t @title}}
    @closeable={{true}}
    @onClose={{@options.onClose}}
  >
    <div class="vl-alert__message auk-u-text-capitalize">
      <p>{{t @message}}</p>
      <Auk::Button
        @skin="secondary"
        @href={{@options.downloadLink}}
        download
        class="auk-u-mt-4"
        {{on "click" @options.onClose}}
      >
        {{t "download"}}
      </Auk::Button>
    </div>
  </WebComponents::VlAlert>
</ClickOutside>
