<ClickOutside @action={{@onClose}}>
  <WebComponents::VlAlert
    class="vl-alert-relative vl-alert-relative--center-mid"
    aria-live="assertive"
    @type="success"
    @title={{@title}}
    @closeable={{true}}
    @onClose={{@options.onClose}}
  >
    <div class="vl-alert__message auk-u-text-capitalize">
      {{#if @message}}
      <p>{{@message}}</p>
      {{/if}}
      <Auk::ButtonLink
        @skin="borderless"
        @icon="download"
        @href={{@options.downloadLink}}
        download
        class="vlc-toaster-button"
        {{on "click" @options.onClose}}
      >
        {{@options.fileName}}
      </Auk::ButtonLink>
    </div>
  </WebComponents::VlAlert>
</ClickOutside>
