<ClickOutside @action={{@onClose}}>
  <WebComponents::VlAlert
    class="vl-alert-relative vl-alert-relative--center-mid"
    aria-live="assertive"
    @type="success"
    @title="Bestand downloaden"
    @closeable={{true}}
    @onClose={{@options.onClose}}
  >
    <div class="vl-alert__message auk-u-text-capitalize">
      <p>{{t "agenda-documents-download-ready"}}</p>
      <Auk::Button
        @skin="borderless"
        @layout="icon-only"
        @icon=""
        @href={{@options.downloadLink}}
        download
        class="vlc-toaster-button"
        {{on "click" @options.onClose}}
      >
        {{t "download"}}
      </Auk::Button>
    </div>
  </WebComponents::VlAlert>
</ClickOutside>
