<ClickOutside @action={{@onClose}}>
  <WebComponents::VlAlert
    class="vl-alert-relative vl-alert-relative--center-mid"
    aria-live="assertive"
    @type="success"
    @title="Bestand downloaden"
    @closeable={{true}}
    @onClose={{@options.onClose}}
  >
    <div class="vl-alert__message vl-u-text--capitalize">
      <p>{{t "agenda-documents-download-ready"}}</p>
      <a class="auk-button auk-button--borderless vlc-toaster-button"
          href={{@options.downloadLink}}
          download
          {{on "click" @options.onClose}}
      >
        {{t "download"}}
      </a>
    </div>
  </WebComponents::VlAlert>
</ClickOutside>
