<AuAlert
  @title={{t "document-delete"}}
  @skin="warning"
  @icon="alert-triangle"
  @size="small"
  @closable={{true}}
  @onClose={{@close}}
>
  <p class="auk-u-text-capitalize">
    {{@options.message}}
  </p>
  <AuButton
    @skin="secondary"
    @icon="undo"
    {{on "click" this.onUndo}}
    class="auk-u-mt-4"
  >
    {{t "undo"}}
  </AuButton>
</AuAlert>