<AuAlert
  class="vl-alert-relative vl-alert-relative--center-mid"
  aria-live="assertive"
  @skin="warning"
  @icon="alert-triangle"
  @title={{t "document-delete"}}
>
  <div class="vl-alert__message auk-u-text-capitalize">
    <p>
      {{@message}}
    </p>
    <AuButton
      @skin="naked"
      @icon="undo"
      @hideText={{true}}
      {{on "click" @options.onUndo}}
    >
      {{t "undo"}}
    </AuButton>
  </div>
</AuAlert>