{{#if @toasts.length}}
  <div class="toasts-container">
    {{#each @toasts as |toast|}}
      {{#if (eq toast.type "revert-action")}}
        <Utils::Toaster::RevertActionToast
          @title={{toast.title}}
          @message={{toast.message}}
          @options={{toast.options}}
        />
      {{else if (eq toast.type "download-file")}}
        <Utils::Toaster::DownloadFileToast
          @title={{toast.title}}
          @message={{toast.message}}
          @options={{toast.options}}
        />
      {{else}}
        <Utils::Toaster::Toast
          @type={{toast.options.type}}
          @title={{toast.title}}
          @message={{toast.message}}
        />
      {{/if}}
    {{/each}}
  </div>
{{/if}}
