<div class="vlc-document-card-item__title">
  <h6 class="vl-title vl-title--h6">
    {{await documentVersion.name}}
  </h6>
  {{access-level-pill lastDocumentVersion=documentVersion}}
  {{#if (await documentVersion.file.downloadLink)}}
    <button type="button" class="vl-button vl-button--link vl-button--icon"
      {{action "showDocumentVersionViewer" documentVersion}}
    >
      <i class="ki-book vl-button__icon" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        {{t "download"}}
      </span>
    </button>
    <a class="vl-button vl-button--link vl-button--icon"
       href={{concat
         (await documentVersion.file.downloadLink)
         "?name="
         (await documentVersion.downloadFilename)
       }}
      {{!-- download --}}
      {{! 'download' attribute doesn't specify a filename, as this gets overruled by
      the filename received in the "Content-Disposition HTTP header" }}
    >
      <i class="ki-download vl-button__icon"
         aria-hidden="true"
      ></i>
      <span class="vl-u-visually-hidden">
        {{t "download"}}
      </span>
    </a>
  {{/if}}

  {{#if currentSession.isEditor}}
    <button type="button" class="vl-button vl-button--link vl-button--icon vl-button-icon--error"
      {{action "deleteDocumentVersion" documentVersion}}
    >
      <i class="ki-delete vl-button__icon" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        {{t "delete"}}
      </span>
    </button>
  {{/if}}
</div>
{{#if currentSession.isEditor}}
  <div class="vlc-document-card-item__meta">
    {{t "uploaded-at"}}
    {{moment-format documentVersion.created "DD.MM.YYYY"}}
    {{t "at"}}
    {{moment-format documentVersion.created "HH:mm"}}
  </div>
{{/if}}
<div class="vlc-document-card-item__icon">
  <i class="vl-icon vl-icon--large ki-timeline"
        aria-hidden="true"
  ></i>
</div>
{{#if isVerifyingDelete}}
  {{web-components/vl-modal-verify
    title=(t "document-delete")
    message=(t "delete-document-message")
    cancel=(action "cancel")
    verify=(action "verify")
  }}
{{/if}}
