{{#if @custom}}
  {{yield}}
{{else}}
  <div class="auk-modal__header auk-modal__header--bordered">
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <h2 class="auk-toolbar__title">{{@title}}</h2>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      <WebComponents::AuToolbar::Group @position="right">
        {{#if @showCloseButton}}
          <WebComponents::AuToolbar::Item>
            {{#if @resizeable}}
              {{!-- TODO this is the wrong icon, the correct icon is not yet available in the package --}}
              <WebComponents::AuButton @icon="external-link" @skin="borderless" @layout="icon-only" {{on "click" @toggleSize}}></WebComponents::AuButton>
            {{/if}}
            <WebComponents::AuButton @icon="close" @skin="borderless" @layout="icon-only" {{on "click" @closeModal}} data-test-au-modal-header-close></WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        {{/if}}
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  </div>
{{/if}}