<div class="vl-u-bg-alt">
  {{oc/agenda-header meeting=meeting}}
</div>
{{#if (not isLoading)}}
  <div class="vlc-panel-layout">
    <div class={{agendaitemsClass}}>
      <div class="vlc-scroll-wrapper">
        <div class="vlc-scroll-wrapper__body">
          <div class="vl-u-spacer-extended-l vlc-agenda-items-new--spaced">
            <div class="vl-u-display-flex vl-u-flex-align-baseline">
              <span class="vl-title vl-title--h3 vl-u-text--capitalize">
                {{t "agendaitems"}}
              </span>
            </div>
            {{#if (get (await agendaItemGroups) "length")}}
              {{#each (await agendaItemGroups) as |agendaItemGroup|}}
                <div class="{{spacerClass}}">
                  <div class="vlc-list-section-header vl-u-text--capitalize">
                    {{#each
                      agendaItemGroup.firstObject.submitters as |submitter|
                    }}
                      {{submitter.name}}<br />
                    {{/each}}
                  </div>
                  {{#each agendaItemGroup as |agendaItem|}}
                    <div
                      class="vlc-agenda-items-new__sub-item vlc-agenda-items-new__sub-item--oc"
                    >
                      {{oc/agenda-list/list-item
                        agendaItem=agendaItem
                        selectAgendaItem=(action "selectAgendaItem")
                      }}
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            {{else}}
              <div class="vl-u-spacer-extended-top-s">
                {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="vlc-panel-layout__main-content">
      {{outlet}}
    </div>
  </div>
{{else}}
  {{web-components/vl-loader
    text="De agenda wordt goedgekeurd. Even geduld aub.."
  }}
{{/if}}
{{outlet "modal"}}
