<div class="vl-u-bg-alt">
  {{oc/agenda-header
    meeting=meeting
  }}
</div>
{{#if (not isLoading)}}
  <div class="vlc-panel-layout">
    <div class={{agendaitemsClass}}>
      <div class="vlc-scroll-wrapper">
        <div class="vlc-scroll-wrapper__body">
          <div class="vl-u-spacer-extended-s vlc-agenda-items-new--spaced">
          </div>
          {{#if (get (await agendaItemGroups) "length")}}
            {{#each (await agendaItemGroups) as |agendaItemGroup|}}
              <div class="{{spacerClass}}">
                <div class="vlc-list-section-header">
                  {{#each agendaItemGroup.firstObject.submitters as |submitter|}}
                    {{submitter.name}}<br />
                  {{/each}}
                </div>
                {{#each agendaItemGroup as |agendaItem|}}
                  <div class="vlc-agenda-items-new__sub-item">
                    {{oc/agenda-list/list-item
                      agendaItem=agendaItem
                      selectAgendaItem=(action "selectAgendaItem")
                    }}
                    <!-- {{agendaItem.subject}} -->
                  </div>
                {{/each}}
              </div>
            {{/each}}
          {{else}}
            <div class="vl-u-spacer-extended-top-s">
              {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{web-components/vl-loader
    text="De agenda wordt goedgekeurd. Even geduld aub.."
  }}
{{/if}}
{{outlet}}
{{outlet 'modal'}}
