{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-u-m-8">
  <div class=""></div>
  <Utils::AgendaitemTable
    @model={{await this.model}}
    @sort={{this.sort}}
    @page={{this.page}}
    @filter={{this.filter}}
    @include={{this.include}}
    @size={{this.size}}
    @columns={{this.columns}}
    as |agendaitemRow|
  >
    {{#let
      (await agendaitemRow.agendaActivity.subcase)
      (await agendaitemRow.treatment.decisionActivity)
      as |subcase decisionActivity|
    }}
      {{#if (and subcase decisionActivity)}}
        <div class="auk-u-m-8">
          <Agenda::Agendaitem::AgendaitemDecision
            @agendaitem={{agendaitemRow.content}}
            @decisionActivity={{decisionActivity}}
          />
        </div>
      {{else}}
        <WebComponents::VlLoader @text={{t "decisions-loading-text"}} />
      {{/if}}
    {{/let}}
  </Utils::AgendaitemTable>
</div>
{{outlet}}