<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-o-grid au-o-grid--stretch">
    <div class="auk-o-grid-col-2">
    </div>
    <div class="auk-o-grid-col-10">
      <DataTable
        @content={{@model}}
        @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
        @page={{this.page}}
        @size={{this.size}}
        @sort={{this.sort}}
        @noDataMessage={{t "no-results-found"}}
        as |table|
      >
        <table.content as |c|>
          <c.header>
            <ThSortable
              @currentSorting={{this.sort}}
              @field="name"
              @label={{t "organization"}}
            />
            <ThSortable
              @currentSorting={{this.sort}}
              @field="identifier"
              @label={{t "ovo-code"}}
            />
            <th>{{t "users-seen"}}</th>
            <th></th>
          </c.header>
          <c.body as |organization|>
            <td class={{if organization.isBlocked "au-u-muted"}}>
              <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                {{organization.name}}
                {{#if organization.isBlocked}}
                <AuPill
                  @icon="circle-x"
                  @skin="error"
                  @size="small"
                >
                  {{t "blocked"}}
                </AuPill>
                {{/if}}
              </span>
            </td>
            <td class={{if organization.isBlocked "au-u-muted"}}>
              <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                {{organization.identifier}}
              </span>
            </td>
            <td class={{if organization.isBlocked "au-u-muted"}}>
              <div>
                <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                  <Settings::Organizations::MembershipsCount
                    @organization={{organization}}
                  />
                </span>
              </div>
            </td>
            <td class="auk-u-text-align--right">
              <div class="auk-o-flex auk-o-flex--justify-end">
                <AuDropdown
                  @skin="naked"
                  @hideText={{true}}
                  @alignment="right"
                  @icon="three-dots"
                >
                  {{#if organization.isBlocked}}
                    <AuButton
                      @skin="naked"
                      role="menuitem"
                      {{on "click" (queue (toggle "showUnblockOrganization" this) (set this "organizationBeingBlocked" organization))}}
                    >
                      {{t "unblock-organization"}}
                    </AuButton>
                  {{else}}
                    <AuButton
                      @skin="naked"
                      @alert={{true}}
                      role="menuitem"
                      {{on "click" (queue (toggle "showBlockOrganization" this) (set this "organizationBeingBlocked" organization))}}
                    >
                      {{t "block-organization"}}
                    </AuButton>
                  {{/if}}
                </AuDropdown>
              </div>
            </td>
          </c.body>
        </table.content>
      </DataTable>
    </div>
  </div>
</div>

<AuModal
  @modalOpen={{this.showBlockOrganization}}
  @closeModal={{toggle "showBlockOrganization" this}}
>
  <:title>
    {{t "block-organization"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-organization-explanation"}}</p>
      <p>{{t "block-organization-are-you-sure" user=this.organizationBeingBlocked.name htmlSafe=true}}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton
          @skin="naked"
          {{on "click" (toggle "showBlockOrganization" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          @alert={{true}}
          @loading={{this.blockOrganization.isRunning}}
          {{on "click" (queue (perform this.blockOrganization) (toggle "showBlockOrganization" this))}}
        >
          {{t "block-organization"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showUnblockOrganization}}
  @closeModal={{toggle "showUnblockOrganization" this}}
>
  <:title>
    {{t "unblock-organization"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-organization-explanation"}}</p>
      <p>{{t "unblock-organization-are-you-sure" user=this.organizationBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton
          @skin="naked"
          {{on "click" (toggle "showUnblockOrganization" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          @alert={{true}}
          @loading={{this.unblockOrganization.isRunning}}
          {{on "click" (queue (perform this.unblockOrganization) (toggle "showUnblockOrganization" this))}}
        >
          {{t "unblock-organization"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>