<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{!-- TODO correct positioning according to design --}}
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary" @icon="mail"
            @disabled={{this.isRequestingDisabled}}
            {{on "click" this.openTranslationRequestModal}}>
            {{t "request-translations"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary" @icon="add"
            @disabled={{this.isUploadDisabled}}
            {{on "click" this.openPieceUploadModal}}>
            {{t "upload-translation-file"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>

    {{#if this.model}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox
                @checked={{this.areAllPiecesSelected}}
                {{on "click" this.toggleAllPiecesSelection}} />
            </th>
            <th class="auk-u-text-nowrap">{{t "name-document"}}</th>
            <th class="auk-u-text-nowrap">{{t "file-type"}}</th>
            <th class="auk-u-text-nowrap">{{t "received-at"}}</th>
            <th class="auk-u-text-nowrap">{{t "uploaded-at"}}</th>
            <th class="auk-u-text-nowrap auk-u-text-align--center">
              {{t "for-publishpreview"}}
            </th>
            <th>{{!-- Actions--}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |piece|}}
            <tr class="auk-table__row">
              <td class="auk-table-checkbox-col">
                <Auk::Checkbox
                  @checked={{includes piece this.selectedPieces}}
                  {{on "click" (fn this.togglePieceSelection piece)}} />
              </td>
              <td class="auk-u-text-nowrap">
                {{piece.name}}
              </td>
              <td >
                <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
              </td>
              <td class="auk-u-text-nowrap">
                <p>{{moment-format piece.receivedDate}}</p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.receivedDate "HH:mm"}}
                </p>
              </td>
              <td class="auk-u-text-nowrap">
                <p>{{moment-format piece.created}}</p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.created "HH:mm"}}
                </p>
              </td>
              <td class="auk-u-text-align--center">
                {{#if piece.publicationSubcase}}
                  <Auk::Icon @name="check" @skin="success-dark" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="download"
                    @href={{piece.file.namedDownloadLink}}
                    download={{await piece.downloadFilename}}>
                    {{t "download"}}
                  </Auk::Button>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="book"
                    @href={{piece.viewDocumentURL}}
                    target="_blank">
                    {{t "read"}}
                  </Auk::Button>
                  <Auk::Button
                          @skin="borderless"
                          @layout="icon-only"
                          @icon="more"
                  />
                  <AttachPopover
                          @class="ember-attacher-popper"
                          @hideOn="clickout click"
                          @showOn="click"
                          @animation="shift"
                          @placement="bottom">
                    <Auk::Dropdown>
                      <Auk::Dropdown::Item @skin="primary" {{on "click" (fn this.openPieceEditModal piece)}}>
                        {{t "edit-translation-details"}}
                      </Auk::Dropdown::Item>
                    </Auk::Dropdown>
                  </AttachPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-translations-yet" }} />
    {{/if}}
  </div>
</div>

{{#if this.isPieceUploadModalOpen}}
  <Publications::Publication::Translations::DocumentsUploadModal
    @translationSubcase={{this.translationSubcase}}
    @onSave={{perform this.saveSourceDocument}}
    @onCancel={{this.closePieceUploadModal}} />
{{/if}}

{{#if this.showPieceEditModal}}
  <Publications::Publication::Translations::DocumentsEditModal
          @translationSubcase={{this.translationSubcase}}
          @sourceDocument={{this.toEditDocument}}
          @onSave={{perform this.saveEditSourceDocument}}
          @onCancel={{this.closePieceEditModal}} />
{{/if}}

{{#if this.isTranslationRequestModalOpen}}
  <Publications::Publication::Translations::TranslationRequestModal
    @translationSubcase={{this.translationSubcase}}
    @publicationFlow={{this.publicationFlow}}
    @attachments={{this.selectedPieces}}
    @onSave={{perform this.saveTranslationRequest}}
    @onCancel={{this.closeTranslationRequestModal}} />
{{/if}}