<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary" @icon="mail"
            @disabled={{this.isRequestingDisabled}}
            {{on "click" this.openTranslationRequestModal}}>
            {{t "request-translations"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary" @icon="add"
            @disabled={{this.isUploadDisabled}}
            {{on "click" this.openPieceUploadModal}}>
            {{t "upload-translation-file"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>

    {{#if this.pieceRows}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox
                @checked={{this.areAllPiecesSelected}}
                {{on "click" this.toggleAllPiecesSelection}} />
            </th>
            <Utils::ThSortable
               @label={{t "document-name"}}
               @field="naam"
               @currentSorting={{this.sort}}
               @onChange={{this.changeSorting}} />
            <th class="auk-u-text-nowrap">{{t "file-type"}}</th>
            <Utils::ThSortable
              @label={{t "received-at"}}
              @field="ontvangen-op"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}} />
            <Utils::ThSortable
              @label={{t "uploaded-at"}}
              @field="geupload-op"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}} />
            <th class="auk-u-text-nowrap auk-u-text-align--center">
              {{t "for-publishpreview"}}
            </th>
            <th>{{!-- Actions--}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.pieceRows as |pieceRow|}}
            {{#let pieceRow.piece as |piece|}}
              <tr class="auk-table__row">
                <td class="auk-table-checkbox-col">
                  <Auk::Checkbox
                    @checked={{includes pieceRow this.selectedPieceRows}}
                    {{on "click" (fn this.togglePieceSelection pieceRow)}} />
                </td>
                <td>
                  {{piece.name}}
                </td>
                <td>
                  {{#if piece.file}}
                    <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
                  {{/if}}
                </td>
                <td class="auk-u-text-nowrap">
                  {{#if piece.receivedDate}}
                    {{moment-format piece.receivedDate}}
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td class="auk-u-text-nowrap">
                  {{#if piece.created}}
                    <p>{{moment-format piece.created}}</p>
                    <p class="auk-u-muted auk-u-text-small">
                      {{moment-format piece.created "HH:mm"}}
                    </p>
                  {{else}}
                    {{!-- legacy data --}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td class="auk-u-text-align--center">
                  {{#if piece.publicationSubcaseSourceFor}}
                    <Auk::Icon @name="check" @skin="success-dark" />
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td>
                  <WebComponents::AuButtonToolbar>
                    <Auk::Button
                      @skin="borderless" @layout="icon-only" @icon="download"
                      @href={{piece.file.namedDownloadLink}}
                      download={{piece.file.downloadFilename}}>
                      {{t "download"}}
                    </Auk::Button>
                    <Auk::Button
                      @skin="borderless" @layout="icon-only" @icon="book"
                      @href={{piece.viewDocumentURL}}
                      target="_blank">
                      {{t "read"}}
                    </Auk::Button>
                    <DropdownMenu
                      @skin="borderless"
                      @icon="more"
                      as |Menu|>
                      <Menu.Item
                        {{on "click" (fn this.openPieceEditModal pieceRow)}}>
                        {{t "edit-translation-details"}}
                      </Menu.Item>
                      {{#if (and this.canDeletePieces pieceRow.isPieceDeletable)}}
                        <Menu.Item @skin="danger"
                          {{on "click" (perform this.deletePiece pieceRow)}}>
                          {{t "delete"}}
                        </Menu.Item>
                      {{/if}}
                    </DropdownMenu>
                  </WebComponents::AuButtonToolbar>
                </td>
              </tr>
            {{/let}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-translations-yet" }} />
    {{/if}}
  </div>
</div>

{{#if this.isPieceUploadModalOpen}}
  <Publications::Publication::Translations::DocumentsUploadModal
    @translationSubcase={{this.translationSubcase}}
    @onSave={{perform this.saveSourceDocument}}
    @onCancel={{this.closePieceUploadModal}} />
{{/if}}

{{#if this.showPieceEditModal}}
  <Publications::Publication::Translations::DocumentsEditModal
    @translationSubcase={{this.translationSubcase}}
    @sourceDocument={{this.pieceRowToEdit.piece}}
    @onSave={{perform this.saveEditSourceDocument}}
    @onCancel={{this.closePieceEditModal}} />
{{/if}}

{{#if this.isTranslationRequestModalOpen}}
  <Publications::Publication::Translations::TranslationRequestModal
    @translationSubcase={{this.translationSubcase}}
    @publicationFlow={{this.publicationFlow}}
    @attachments={{this.selectedPieces}}
    @onSave={{perform this.saveTranslationRequest}}
    @onCancel={{this.closeTranslationRequestModal}} />
{{/if}}