<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @icon="mail"
            @skin="secondary"
            @disabled={{this.isRequestingDisabled}}
            {{on "click" this.openTranslationRequestModal}}
          >
            {{t "request-translations"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @icon="add"
            @skin="secondary"
            @disabled={{this.isUploadDisabled}}
            {{on "click" this.openPieceUploadModal}}>
            {{t "upload-translation-file"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>

    {{#if this.model}}
      <table class="auk-table">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox @mode="table"
                {{on "click" this.toggleAllPiecesSelection}}
                @checked={{this.areAllPiecesSelected}}  />
            </th>
            <th class="auk-u-text-nowrap">{{t "name-document"}}</th>
            <th class="auk-u-text-nowrap">{{t "file-extension"}}</th>
            <th class="auk-u-text-nowrap">{{t "received-at"}}</th>
            <th class="auk-u-text-nowrap">{{t "uploaded-at"}}</th>
            <th class="auk-u-text-align--center">{{t "for-publishpreview"}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |piece|}}
            <tr class="auk-table__row">
              <td class="auk-table-checkbox-col">
                <Auk::Checkbox @mode="table"
                  {{on "click" (fn this.togglePieceSelection piece)}}
                  @checked={{includes piece this.selectedPieces}}  />
              </td>
              <td class="auk-u-text-nowrap">
                {{piece.name}}
              </td>
              <td >
                <Auk::Pill @skin="white">
                  {{piece.file.extension}}
                </Auk::Pill>
              </td>
              <td class="auk-u-text-nowrap">
                {{moment-format piece.receivedDate}}
              </td>
              <td class="auk-u-text-nowrap">
                {{moment-format piece.created}}
                <br>
                <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
              </td>
              <td class="auk-u-text-align--center">
                {{#if piece.publicationSubcase}}
                  <Auk::Icon @name="check" @skin="success-dark" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::Button
                        @layout="icon-only"
                        @icon="download"
                        @skin="borderless"
                        @href={{piece.file.namedDownloadLink}}
                        download
                  />
                  <Auk::Button
                        @layout="icon-only"
                        @icon="book"
                        @skin="borderless"
                        @href={{piece.viewDocumentURL}}
                        target="_blank"
                  />
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState @message={{t "no-translations-yet" }} />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>

{{#if this.showPieceUploadModal}}
  <Publications::Publication::Translations::DocumentsUploadModal
    @translationSubcase={{this.translationSubcase}}
    @onSave={{perform this.saveSourceDocument}}
    @onCancel={{this.closePieceUploadModal}} />
{{/if}}

{{#if this.showTranslationRequestModal}}
  <Publications::Publication::Translations::TranslationRequestModal
          @translationSubcase={{this.translationSubcase}}
          @selectedPieces={{this.selectedPieces}}
          @onSave={{perform this.saveTranslationRequest}}
          @onCancel={{this.closeTranslationRequestModal}} />
{{/if}}