<ul class="vlc-tabs-reverse" role="tablist">
  <li class="vlc-tabs-reverse__item">
    <a
      class="vlc-tabs-reverse__link {{selectedOverviewClass}}"
      {{action "goToOverview"}}
    >
      {{t "overview"}}
    </a>
  </li>
  {{log sessionService.selectedAgendaItem}}
  <li class="vlc-tabs-reverse__item">
    {{#if sessionService.selectedAgendaItem}}
      <a class="vlc-tabs-reverse__link {{selectedAgendaitemClass}}">
        {{t "detail"}}
      </a>
    {{else}}
      {{#link-to
        "agenda.agendaitems.agendaitem"
        firstAgendaItemOfAgenda.id
        class="vlc-tabs-reverse__link {{selectedAgendaitemClass}}"
      }}
        {{t "detail"}}
      {{/link-to}}
    {{/if}}
  </li>
  {{#if (or isAdmin isEditor)}}
    <li class="vlc-tabs-reverse__item">
      <a class="vlc-tabs-reverse__link" {{action "compareAgendas"}}>
        {{t "compare"}}
      </a>
    </li>
  {{/if}}
</ul>