<ul class="vlc-tabs-reverse" role="tablist">
  <li class="vlc-tabs-reverse__item">
    <a
      class="vlc-tabs-reverse__link {{selectedOverviewClass}}"
      {{action "goToOverview"}}
    >
      {{t "overview"}}
    </a>
  </li>
  <li class="vlc-tabs-reverse__item">
    <a class="vlc-tabs-reverse__link {{selectedAgendaitemClass}}">
      {{t "detail"}}
    </a>
  </li>
  {{#if isAdmin}}
    <li class="vlc-tabs-reverse__item">
      <a class="vlc-tabs-reverse__link" {{action "compareAgendas"}}>
        {{t "compare"}}
      </a>
    </li>
  {{/if}}
</ul>