<div class="previous-agenda-item">
	previous
  {{changedSet.previous.id}}
  {{changedSet.previous.subcase.id}}
  {{changedSet.previous.subcase.title}}
</div>
<div class="current-agenda-item">
	current
  {{changedSet.current.id}}
  {{changedSet.current.subcase.id}}
  {{changedSet.current.subcase.title}}
</div>