<div class="vl-grid compare-container">
  <div class="compare-left-column">
    {{#if hasLeftAgenda}}
      <div class="vlc-list-section-header">
        {{#each left.mandatees as |mandatee|}}
          <h2 class="vl-title vl-title--h6">
            {{mandatee.title}}
          </h2>
        {{/each}}
      </div>
      {{log (await right)}}
      {{#each (await left.agendaitems) as |agendaitem index|}}
        <div class="vl-u-spacer-extended-bottom-s">
          <div class="vlc-agenda-items-new__sub-item">
            {{agenda/agenda-list/list-item
              agendaitem=agendaitem
              index=index
              isClickable=false
            }}
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="horizontal-line-wrap">
    <div class="horizontal-line"></div>
  </div>
  <div class="compare-right-column">
    {{#if hasRightAgenda}}
      <div class="vlc-list-section-header">
        {{#each right.mandatees as |mandatee|}}
          <h2 class="vl-title vl-title--h6">
            {{mandatee.title}}
          </h2>
        {{/each}}
      </div>
      {{#each (await right.agendaitems) as |agendaitem index|}}
        <div class="vl-u-spacer-extended-bottom-s">
          <div class="vlc-agenda-items-new__sub-item">
            {{agenda/agenda-list/list-item
              agendaitem=agendaitem
              index=index
              isClickable=false
            }}
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>