<div class="previous-agenda-item vlc-agenda-item">
  {{await changedSet.previous.id}}
  {{#if (await changedSet.previous.id)}}
    <h3 class="vl-title vl-u-text--small">
      {{await changedSet.previous.priority}}
      .
      {{await changedSet.previous.subcase.case.type.label}}
    </h3>
    <h4 class="vl-title vl-title--h5">
      {{await changedSet.previous.subcase.shortTitle}}
    </h4>
    <p class="vl-long-title">
      {{await changedSet.previous.subcase.title}}
    </p>
    {{#if (await changedSet.previous.subcase.documents)}}
      <hr class="vlc-hr" />
      <div class="vl-u-display-flex vl-attachments">
        {{#each (await changedSet.previous.subcase.documents) as |document|}}
          <div class="vl-u-display-flex vl-u-flex-align-center vl-attachment">
            <div
              class="vl-badge vl-badge--icon vl-badge--small vl-badge--alt vl-document-badge"
            >
              <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
            </div>
            <p class="vl-u-text--bold">
              {{document-name
                document=document
                agendaitem=(await changedSet.previous)
              }}
            </p>
          </div>
        {{/each}}
      </div>
    {{/if}}
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <span class="vlc-agenda-item__meta">
        {{! 2de principiele goedkeuring }}
      </span>
      {{#if (await changedSet.previous.subcase.formallyOk)}}
        <div class="vl-u-display-flex active">
          <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
          <span class="vlc-agenda-item__meta">
            {{t "agendaitem-details.formal-ok"}}
          </span>
        </div>
      {{else}}
        <div class="vl-u-display-flex default">
          <span class="vlc-agenda-item__meta">
            {{t "agendaitem-details.formal-nok"}}
          </span>
        </div>
      {{/if}}
    </div>
  {{else}}
    lol
  {{/if}}
</div>
<div class="current-agenda-item vlc-agenda-item">
  {{await changedSet.current.id}}
  {{#if (await changedSet.current.id)}}
    <h3 class="vl-title vl-u-text--small">
      {{await changedSet.current.priority}}
      .
      {{await changedSet.current.subcase.case.type.label}}
    </h3>
    <h4 class="vl-title vl-title--h5">
      {{await changedSet.current.subcase.shortTitle}}
    </h4>
    <p class="vl-long-title">
      {{await changedSet.current.subcase.title}}
    </p>
    {{#if (await changedSet.current.subcase.documents)}}
      <hr class="vlc-hr" />
      <div class="vl-u-display-flex vl-attachments">
        {{#each (await changedSet.current.subcase.documents) as |document|}}
          <div class="vl-u-display-flex vl-u-flex-align-center vl-attachment">
            <div
              class="vl-badge vl-badge--icon vl-badge--small vl-badge--alt vl-document-badge"
            >
              <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
            </div>
            <p class="vl-u-text--bold">
              {{document-name
                document=document
                agendaitem=(await changedSet.current)
              }}
            </p>
          </div>
        {{/each}}
      </div>
    {{/if}}
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <span class="vlc-agenda-item__meta">
        {{! 2de principiele goedkeuring }}
      </span>
      {{#if (await changedSet.current.subcase.formallyOk)}}
        <div class="vl-u-display-flex active">
          <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
          <span class="vlc-agenda-item__meta">
            {{t "agendaitem-details.formal-ok"}}
          </span>
        </div>
      {{else}}
        <div class="vl-u-display-flex default">
          <span class="vlc-agenda-item__meta">
            {{t "agendaitem-details.formal-nok"}}
          </span>
        </div>
      {{/if}}
    </div>
  {{else}}
    lol2
  {{/if}}
</div>