<div class="vl-u-spacer">
  {{utils/text-template
          label=(t "notes-of-agendaitem")
          type="minutes"
          searchField="label"
          descriptionUpdated=(action "descriptionUpdated")
  }}
  <div class="vlc-input-field vlc-input-field-block">
    {{web-components/vl-form-label value=label}}
    {{web-components/vl-rdfa-editor
            isLarge=isExpanded
            richtext=initValue
            handleRdfaEditorInit=(action "handleRdfaEditorInit")
    }}
  </div>
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing" agendaitem}}>
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          saveAction=(action "saveChanges" agendaitem)
  }}
</div>