<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{utils/text-template
      label="Notulen van agendapunt"
      rows="10"
      text=agendaitem.meetingRecord.description
      searchField="name"
    }}
  </div>
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing" agendaitem}}>
    {{t "cancel"}}
  </a>
  <button
    class="vl-button vl-button--narrow"
    {{action "saveChanges" agendaitem}}
  >
    {{t "save"}}
  </button>
</div>