<div class="vlc-container">
  {{utils/logo-header}}
  <div class="vl-u-spacer-extended-bottom-l no-print">
    <h1 class="vl-title vl-title--h2">
      {{await title}}
      <br />
    </h1>
  </div>
  <div class="vl-u-spacer-extended-bottom-l no-print">
    <hr class="vlc-hr" />
  </div>
  <div class="vl-u-spacer-extended-bottom vl-u-spacer-extended-top-l">
    {{#each (await agendaitemGroups) as |group|}}
      {{#each group.groups as |agendaitemGroup|}}
        {{!-- <div class="vl-u-spacer-extended-bottom">
          {{#each agendaitemGroup.mandatees as |mandatee|}}
            <h3 class="vl-title vl-title--h5">
              {{mandatee.title}}
            </h3>
          {{/each}}
        </div> --}}
        {{#each agendaitemGroup.agendaitems as |agendaitem|}}
          <div class="vl-u-display-flex vl-u-flex-justify-center">
            <div class="print-only vl-u-spacer-extended-top-l">
              <img
                style="margin:-75px 0px -50px 0px; width:200px"
                src="/assets/logo_vlaamse_regering.svg"
                alt="Vlaamse Regering"
               />

              <p class="vl-u-text--bold vl-u-text--capitalized">
                {{await title}}
              </p>
              <hr class="vlc-hr" />
            </div>
          </div>
          <div style="page-break-after:always;">
            <div class="vl-u-spacer-extended-bottom-l">
              <div class="vl-u-spacer-extended-bottom-s">
                <h3 class="vl-title vl-title--h5">
                  {{agendaitem.priority}}
                  .
                  {{agendaitem.shortTitle}}
                </h3>
                <p>
                  {{agendaitem.title}}
                </p>
              </div>
              <div class="vl-typography">
                <ul>
                  {{#if (gt agendaitem.decisions.length 0)}}
                    {{#each agendaitem.decisions as |decision|}}
                      {{#if decision.isEditing}}
                        {{agenda/agendaitem/agendaitem-decision-edit
                          isEditing=decision.isEditing
                          item=decision
                          subcase=(await agendaitem.subcase)
                          isTableRow=isTableRow
                          agendaitem=agendaitem
                        }}
                      {{else if (or isAdmin isEditor)}}
                        <div class="vl-u-display-flex align-right">
                          {{#if allowEditing}}
                            <a
                              class="vl-link"
                              {{action "toggleIsEditing" decision}}
                            >
                              {{t "edit"}}
                            </a>
                          {{/if}}
                        </div>
                        <li>
                          {{decision.description}}
                        </li>
                      {{/if}}
                    {{/each}}
                  {{else}}
                    <li>
                      <p class="vl-u-text--muted">
                        {{t "no-decision"}}
                      </p>
                    </li>
                  {{/if}}
                </ul>
                <p class="vl-u-text--capitalize">
                  {{agendaitem.subcase.subcaseName}}
                </p>
              </div>
            </div>
            {{#if (not allowEditing)}}
              {{web-components/vl-signature signature=meeting.defaultSignature}}
            {{/if}}
          </div>
        {{/each}}
      {{/each}}
    {{/each}}
  </div>
</div>