<div class="vlc-container">
  <div class="vl-u-display-flex vl-u-flex-justify-center">
    <img
      style="margin:-75px 0px -50px 0px; height:250px"
      src="/assets/logo_vlaamse_regering.svg"
     />

  </div>
  <div class="vl-u-spacer-extended-bottom-l">
    <h1 class="vl-title vl-title--h2">
      {{await title}}
      <br />
    </h1>
  </div>
  <div class="vl-u-spacer-extended-bottom-l">
    <hr class="vlc-hr" />
  </div>
  <div class="vl-u-spacer-extended-bottom">
    {{#each (await agendaitemGroups) as |group|}}
      {{#each group.groups as |agendaitemGroup|}}
        <div class="vl-u-spacer-extended-bottom">
          {{#each agendaitemGroup.mandatees as |mandatee|}}
            <h3 class="vl-title vl-title--h5">
              {{mandatee.title}}
            </h3>
          {{/each}}
        </div>
        {{#each agendaitemGroup.agendaitems as |agendaitem|}}
          <div class="vl-u-spacer-extended-bottom-l">
            <div class="vl-u-spacer-extended-bottom-s">
              <h3 class="vl-title vl-title--h5">
                {{agendaitem.priority}}
                .
                {{agendaitem.shortTitle}}
              </h3>
              <p>
                {{agendaitem.title}}
              </p>
            </div>
            <div class="vl-typography">
              <ul>
                {{#if (gt agendaitem.decisions.length 0)}}
                  {{#each agendaitem.decisions as |decision|}}
                    {{#if (or isAdmin isEditor)}}
                      <div class="vl-u-display-flex align-right">
                        {{#if (not allowEditing)}}
                          <a class="vl-link" {{action "toggleIsEditing"}}>
                            {{t "edit"}}
                          </a>
                        {{/if}}
                      </div>
                    {{/if}}
                    <li>
                      {{decision.description}}
                    </li>
                  {{/each}}
                {{else}}
                  <li>
                    <p class="vl-u-text--muted">
                      {{t "no-decision"}}
                    </p>
                  </li>
                {{/if}}
              </ul>
              <p>
                {{agendaitem.subcase.subcaseName}}
              </p>
            </div>
          </div>
          {{web-components/vl-signature}}
          <div class="vl-u-spacer-extended-bottom-l">
            <hr class="vlc-hr" />
          </div>
        {{/each}}
      {{/each}}
    {{/each}}
  </div>
</div>