<div class="vl-u-spacer">
  <div class="vl-u-display-flex vl-u-flex-space-between">
    <h3 class="vl-title vl-title--h3">
      {{t "agendaitem-details.preparation-text"}}
    </h3>
    {{#if isReadOnly}}
      <button
        class="vl-button vl-button--tertiary vl-button--icon"
        href="#"
        {{action "editPressAgenda"}}
      >
        {{fa-icon "pencil"}}
      </button>
    {{else}}
      <button
        class="vl-button vl-button--tertiary vl-button--icon"
        href="#"
        {{action "updatePressAgenda" agendaitem}}
      >
        {{fa-icon "save"}}
      </button>
    {{/if}}
  </div>
</div>
<div class="vl-typography">
  {{#if isReadOnly}}
    <h3 class="vl-title vl-title--h3">
      {{agendaitem.titlePress}}
    </h3>
    <p>
      {{agendaitem.textPress}}
    </p>
  {{else}}
    {{agendaitem-press-edit agendaitem=agendaitem}}
  {{/if}}
</div>