{{#web-components/vl-modal
  closeModal=(action "cancel")
  isOverlay=true
  title=(t "add-minister")
}}
  <div class="vl-modal-dialog__content">
    <div class="vl-u-spacer-extended-bottom-l">
      {{utils/mandatee-selector
        singleSelect=true
        selectedMandatees=selectedMandatee
        chooseMandatee=(action "mandateeSelected")
      }}
    </div>
    {{#each rowToShow.domains as |domain|}}
      <ul class="vlc-checkbox-tree">
        <li>
          {{web-components/vl-checkbox
            value=domain.selected
            label=domain.label
            toggle=(action "selectDomain" domain)
          }}
          <ul>
            {{#each rowToShow.fields as |field|}}
              {{#if (eq (await field.domain.id) domain.id)}}
                <li>
                  {{web-components/vl-checkbox
                    value=field.selected
                    label=field.label
                    toggle=(action "selectField" domain)
                  }}
                  {{field.name}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
          <div class="vlc-hr"></div>
        </li>
      </ul>
    {{/each}}
  </div>
  {{web-components/vl-modal-footer
    nonBordered=true
    cancelButtonText=(t "cancel")
    saveButtonText=(t "add")
    cancelAction=(action "cancel")
    saveAction=(action "addMandatee")
  }}
{{/web-components/vl-modal}}