{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<Auk::Modal::Body>
  <div class="auk-form-group">
    <Auk::Label>{{t "propose-for"}}</Auk::Label>
    {{#if (is-pending this.dateObjectsToEnable)}}
      <WebComponents::VlLoader
        @text={{concat (t "sessions-loading-text") " " (t "please-be-patient")}}
      />
    {{else}}
      <WebComponents::VlDatepicker
        @dateObjectsToEnable={{await this.dateObjectsToEnable}}
        @datePropertyToUse="plannedStart"
        @dateChanged={{action "selectStartDate"}}
      />
    {{/if}}
  </div>
</Auk::Modal::Body>
<Auk::Modal::Footer @onCancel={{action "cancel"}}>
  <AuButton
    @skin="primary"
    {{action "assignToMeeting" this.subcase}}
  >
    {{t "propose"}}
  </AuButton>
</Auk::Modal::Footer>