<div class="auk-modal__body">
  <div class="auk-u-p-4">
    <div class="auk-form-group">
      <Auk::Label>{{t "propose-for"}}</Auk::Label>
      {{#if (is-pending dateObjectsToEnable)}}
        {{web-components/vl-loader
          text=(concat (t "sessions-loading-text") " " (t "please-be-patient"))
        }}
      {{else}}
        {{web-components/vl-datepicker
          dateObjectsToEnable=(await dateObjectsToEnable)
          datePropertyToUse="plannedStart"
          dateChanged=(action "selectStartDate")
        }}
      {{/if}}
    </div>
  </div>
</div>
<div class="auk-modal__footer auk-modal__footer--bordered">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="borderless"
          {{action "cancel"}}
        >
          {{t "cancel"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="primary"
          {{action "assignToMeeting" subcase}}
        >
          {{t "propose"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>
