<div class="auk-modal__body">
  <div class="auk-u-p-4">
    <div class="auk-form-group">
      <Auk::Label>{{t "propose-for"}}</Auk::Label>
      {{#if (is-pending dateObjectsToEnable)}}
        {{web-components/vl-loader
          text=(concat (t "sessions-loading-text") " " (t "please-be-patient"))
        }}
      {{else}}
        {{web-components/vl-datepicker
          dateObjectsToEnable=(await dateObjectsToEnable)
          datePropertyToUse="plannedStart"
          dateChanged=(action "selectStartDate")
        }}
      {{/if}}
    </div>
  </div>
</div>
<div class="auk-modal__footer auk-modal__footer--bordered">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <button type="button" class="auk-button auk-button--borderless"
          {{action "cancel"}}
        >
          <span class="auk-button__content">
            {{t "cancel"}}
          </span>
        </button>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        <button type="button" class="auk-button auk-button--primary"
          {{action "assignToMeeting" subcase}}
        >
          <span class="auk-button__content">
            {{t "propose"}}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
