<Auk::Modal::Body>
  <div class="auk-form-group">
    <Auk::Label>{{t "propose-for"}}</Auk::Label>
    {{#if (is-pending dateObjectsToEnable)}}
      <WebComponents::VlLoader
        @text={{concat (t "sessions-loading-text") " " (t "please-be-patient")}}
      />
    {{else}}
      <WebComponents::VlDatepicker
        @dateObjectsToEnable={{await dateObjectsToEnable}}
        @datePropertyToUse="plannedStart"
        @dateChanged={{action "selectStartDate"}}
      />
    {{/if}}
  </div>
</Auk::Modal::Body>
<Auk::Modal::Footer @onCancel={{action "cancel"}}>
  <Auk::Button @skin="primary" {{action "assignToMeeting" subcase}}>
    {{t "propose"}}
  </Auk::Button>
</Auk::Modal::Footer>