<div class="auk-modal__content">
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "propose-for"}}</WebComponents::AuLabel>
    {{#if (is-pending dateObjectsToEnable)}}
      {{web-components/vl-loader
        text=(concat (t "sessions-loading-text") " " (t "please-be-patient"))
      }}
    {{else}}
      {{web-components/vl-datepicker
        dateObjectsToEnable=(await dateObjectsToEnable)
        datePropertyToUse="plannedStart"
        dateChanged=(action "selectStartDate")
      }}
    {{/if}}
  </div>
</div>
<div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <button type="button" class="auk-button auk-button--borderless"
          {{action "cancel"}}
        >
          {{t "cancel"}}
        </button>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <button type="button" class="auk-button auk-button--primary"
          {{action "assignToMeeting" subcase}}
        >
          {{t "propose"}}
        </button>
      </div>
    </div>
  </div>
</div>
