<Auk::Sidebar
  @size="small"
  @position="left"
  @skin="gray-200"
  class="auk-scroll-wrapper"
  @isCollapsed={{false}}
>
  <Auk::Navbar @skin="gray-200">
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left">
        <AuHeading @level="2" @skin="6">{{t "subcases"}}</AuHeading>
      </Toolbar.Group>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item />
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    <ul>
      {{#each this.items as |item|}}
        {{#if (eq item.type "regular")}}
          <Subcases::SideNav::Subcase
            @subcase={{item.subcase}}
            @selected={{false}}
            @number={{item.number}}
          />
        {{else if (eq item.type "parliament")}}
          <Subcases::SideNav::ParliamentSubcase
            @subcase={{item.subcase}}
            @latestSubmissionActivity={{item.latestSubmissionActivity}}
            @latestRetrievalActivity={{item.latestRetrievalActivity}}
            @parliamentFlow={{item.parliamentFlow}}
            @date={{item.sortDate}}
            @selected={{false}}
          />
        {{/if}}
      {{/each}}
    </ul>
  </div>
</Auk::Sidebar>