<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title auk-u-text-capitalize">{{@subcase.shortTitle}}</h4>
          </div>
          <Subcases::SubcaseDetailNav/>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if (user-may "manage-agendaitems")}}
        <Auk::Toolbar::Item>
          {{#if (or this.loadData.isRunning this.isLoading)}}
            <div class="auk-loader" role="alert" aria-busy="true"></div>
          {{else if this.canPropose}}
            <Auk::DropdownMenu
              @skin="primary"
              @label={{t "propose-for-agenda"}}
              data-test-subcase-header-show-proposed-agendas={{true}}
            as |Menu|>
              {{#each this.meetings as |meeting|}}
                <Menu.Item
                  data-test-subcase-header-propose-for-agenda
                  {{on "click" (fn this.proposeForAgenda @subcase meeting)}}
                >
                  {{t "agenda-for"}}
                  {{moment-format meeting.plannedStart "DD MMMM YYYY"}}
                  {{concat " - " meeting.numberRepresentation}}
                </Menu.Item>
              {{/each}}
              {{#if (gt this.meetings.length 0)}}
                <Menu.Divider />
              {{/if}}
              <Menu.Item {{on "click" (fn this.proposeForOtherAgenda @subcase)}}>
                {{t "other-agenda"}}
              </Menu.Item>
            </Auk::DropdownMenu>
          {{/if}}
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::DropdownMenu
            @skin="secondary"
            @label={{t "actions"}}
            data-test-subcase-header-actions-dropdown={{true}}
          as |Menu|>
            {{#if this.canDelete}}
              <Menu.Item
                @skin="danger"
                data-test-subcase-header-action-delete-subcase
                {{on "click" (fn this.requestDeleteSubcase @subcase)}}
              >
                {{t "delete-subcase"}}
              </Menu.Item>
            {{/if}}
            <Menu.Item
              data-test-subcase-header-action-move-subcase
              {{on "click" this.triggerMoveSubcaseDialog}}
            >
              {{t "move-subcase"}}
            </Menu.Item>
          </Auk::DropdownMenu>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.promptDeleteCase}}
  <WebComponents::VlModalVerify
    @title="Leeg dossier verwijderen?"
    @verifyButtonText="Verwijderen"
    @message={{concat
      "Dossier '"
      this.caseToDelete.shortTitle
      "' heeft geen procedurestappen meer. Wilt u het dossier verwijderen?"
    }}
    @cancel={{this.cancelDeleteCase}}
    @verify={{perform this.deleteCase this.caseToDelete}}
    @isLoading={{this.deleteCase.isRunning}}
  />
{{/if}}

{{#if this.isAssigningToOtherCase}}
  <WebComponents::VlModal
    @closeModal={{this.cancel}}
    @isOverlay={{true}}
    @title={{t "move-subcase-to-other-case"}}
  >
    <Utils::CaseSearch @onSelect={{this.moveSubcase}} />
  </WebComponents::VlModal>
{{/if}}

{{#if this.isAssigningToOtherAgenda}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{t "propose-for-agenda"}}
    @closeModal={{this.cancel}}
  >
    <Subcases::AssignToMeetingForm
      @subcase={{this.selectedSubcase}}
      @proposeForAgenda={{this.proposeForAgenda}}
      @cancel={{this.cancel}}
      @closeModal={{this.cancel}}
    />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isDeletingSubcase}}
  <WebComponents::VlModalVerify
    @isLoading={{this.isLoading}}
    @title={{t "delete-subcase"}}
    @message={{t "delete-subcase-confirmation"}}
    @cancel={{this.cancel}}
    @verify={{this.deleteSubcase}}
  />
{{/if}}