<div data-test-subcase-item-container class="vlc-procedure-step">
  <div class="vlc-procedure-step__badge-wrapper">
    {{#if this.loadSubcaseIsApproved.isRunning}}
        <Auk::Badge @size="medium" />
    {{else}}
      {{#if this.approved}}
        <Auk::Badge
          @skin="success"
          @size="medium"
          @icon="check"
          class="vlc-procedure-step__badge"
          data-test-subcase-item-approved
        />
      {{else}}
        <Auk::Badge
          @skin="warning"
          @size="medium"
          @icon="sitemap"
          class="vlc-procedure-step__badge"
        />
      {{/if}}
    {{/if}}
  </div>
  <Auk::Toolbar @auto={{true}}>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-u-mb-2">
          <LinkTo
            data-test-subcase-item-link
            @route="cases.case.subcases.subcase.overview"
            @models={{array @decisionmakingFlow.id @subcase.id}}
            class="auk-h4"
          >
            {{this.nameToShow}}
          </LinkTo>
        </div>
        <div class="vlc-procedure-step__meta">
          <p>
            {{t "latest-modified"}}
            {{date @subcase.modified}}
          </p>
          {{#if this.latestMeeting.plannedStart}}
            <p>
              {{t "on-agenda-for-meeting"}}
              {{date this.latestMeeting.plannedStart}}
            </p>
          {{/if}}
        </div>
        <Subcase::Timeline @subcase={{@subcase}}/>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>

  {{yield}}

  {{#if this.hasDocumentsToShow}}
    <Auk::Accordion>
      <Auk::Accordion::Item
        @title={{t "documents"}}
        @expandTask={{this.loadSubcaseDocuments}}
      >
        {{#if this.loadSubcaseDocuments.isRunning}}
          <div class="auk-u-p-3">
            <Auk::Loader />
          </div>
        {{else}}
          <Documents::DocumentBadgeList
            @pieces={{this.limitedSubcaseDocuments}}
          />
          {{#if this.enableShowMore}}
            <AuButton
              @skin="link"
              @icon={{if this.isShowingAllDocuments "dash" "plus"}}
              {{on "click" this.toggleShowingAllDocuments}}
              class="auk-u-mt-2"
            >
              {{#if this.isShowingAllDocuments}}
                {{t "show-less"}}
              {{else}}
                {{t "show-more"}}
              {{/if}}
            </AuButton>
          {{/if}}
        {{/if}}
      </Auk::Accordion::Item>
    </Auk::Accordion>
  {{/if}}
</div>