{{#each @subcases as |subcase|}}
  <Subcases::SubcaseItem @decisionmakingFlow={{@decisionmakingFlow}} @subcase={{subcase}}>
    <div class="auk-hr">
      <hr />
    </div>
    <div class="auk-u-mb-2">
      <p class="auk-overline">
        {{if (is-announcement subcase.agendaItemType) (t "announcement") (t "note")}}
      </p>
    </div>
    <div class="auk-u-mb-2">
      <div data-test-subcases-process-shorttitle class="auk-h4">
        {{subcase.shortTitle}}
      </div>
    </div>
    <div class="auk-u-mb-4">
      <pre class="auk-u-text-pre-line">
        {{subcase.title}}
      </pre>
    </div>
  </Subcases::SubcaseItem>
{{/each}}