<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group>
      <Auk::Toolbar::Item>
        <AuLink
          @skin="button-naked"
          @icon="hierarchical-back"
          @route="cases"
        >
          {{t "all-cases"}}
        </AuLink>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div data-test-subcase-overview-header-title-container class="auk-u-my">
          <span class="auk-overline auk-u-block">
            {{t "case"}}
          </span>
          <h4 class="auk-toolbar-complex__title au-u-padding-none">
            {{#if (not this.loadData.isRunning)}}
              <Auk::AbbreviatedText
                @text={{or this.case.shortTitle this.case.title}}
                @maxLength={{250}}
              />
            {{/if}}
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{! TODO: Below pills linking to publication-flows were introduced as a band-aid allowing
    OVRB-people to navigate from a case (found by global search) to a publication-flow.
    This functionality actually needs design-thought and CSS-work though.
    }}
    {{#if this.publicationFlows}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <div class="auk-u-my">
            <span class="auk-u-block auk-overline">
              {{t "publications"}}
            </span>
            <div>
              {{#each this.publicationFlows as |publicationFlow|}}
                <AuPill
                  data-test-subcase-overview-header-publication-flow-link
                  @size="small"
                  @route="publications.publication"
                  @model={{publicationFlow.id}}
                >
                  {{publicationFlow.identification.idName}}
                </AuPill>
              {{/each}}
            </div>
          </div>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
    {{#if (and (user-may "manage-cases") (not this.loadData.isRunning))}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{!-- template-lint-disable require-context-role --}}
          <AuDropdown
            data-test-subcase-overview-header-actions-dropdown
            @title={{t "case-actions"}}
            @alignment="right"
            @skin="secondary"
          >
            <AuButton
              data-test-subcase-overview-header-edit-case
              @skin="link"
              {{on "click" this.openEditCaseModal}}
              role="menuitem"
            >
              {{t "edit-case"}}
            </AuButton>
            <AuButton
              data-test-subcase-overview-header-archive
              @skin="link"
              @alert={{true}}
              role="menuitem"
              {{on
                "click"
                (fn
                  (if
                    @decisionmakingFlow.closed
                    this.unArchiveCase
                    this.openArchiveCaseModal
                  )
                )
              }}
            >
              {{t (if @decisionmakingFlow.closed "unarchive-case" "archive-case")}}
            </AuButton>
          </AuDropdown>
          {{!-- template-lint-enable require-context-role --}}
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-overview-header-open-add-subcase
            @skin="primary"
            @icon="plus"
            {{on "click" this.navigateToAddSubcase}}
          >
            {{t "create-subcase"}}
          </AuButton>
        </Auk::Toolbar::Item>         
      </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>
{{! MODAL }}
{{#if this.showEditCaseModal}}
  <Cases::EditCase
    @onClose={{this.closeEditCaseModal}}
    @onSave={{this.saveCase}}
    @case={{this.case}}
  />
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isArchivingCase}}
  @title={{t "archive-case"}}
  @message={{t "archive-case-message"}}
  @onConfirm={{this.archiveCase}}
  @onCancel={{this.closeArchiveCaseModal}}
  @confirmMessage={{t "delete"}}
  @alert={{true}}
/>
