{{#if (not isEditing)}}
  <div class="auk-o-flex auk-o-flex--align-baseline">
    <h3 class="auk-h2">
      {{t "subcase"}}
    </h3>
    {{#if currentSession.isEditor}}
      <div class="auk-u-ml-2">
        <a href="" class="auk-button-link" {{action "toggleIsEditing"}}>
          <span class="auk-button__content">
            {{t "edit"}}
          </span>
        </a>
      </div>
    {{/if}}
  </div>
  <div class="auk-u-mb-4">
    <p class="auk-u-text-capitalize">
      {{await subcase.subcaseName}}
    </p>
    <ul class="vlc-status-timeline">
      {{#each (await subcase.phases) as |phase|}}
        <li class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        data-test-subcase-description-timeline-item>
          <div class="vlc-status-timeline__dot"></div>
          {{#if (is-pending phase)}}
            <div class="skeletal-loader" role="alert" aria-busy="true"></div>
          {{else}}
            <div class="vlc-status-timeline__text">
              {{subcase-timeline-item-text
                phase=phase
              }}
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="auk-o-grid">
    <div class="auk-o-grid-col-4 auk-u-mt">
      {{!-- TODO: modify test-selector strategy to be able to use <Auk::KeyValue> --}}
      <div class="auk-key-value-item">
        <div class="auk-key-value-item__label">
          {{t "number-session"}}
        </div>
        <div data-test-subcase-description-meeting-number class="auk-key-value-item__value">
          {{#if (await subcase.latestMeeting.number)}}
            {{await subcase.latestMeeting.number}}
          {{else}}
            {{t "no-number-yet"}}
          {{/if}}
        </div>
      </div>
      <div class="auk-key-value-item">
        <div class="auk-key-value-item__label">
          {{t "requested-for-session"}}
        </div>
        <div data-test-subcase-description-meeting-planned-start class="auk-key-value-item__value">
          {{#if (await subcase.requestedForMeeting.plannedStart)}}
            {{t "requested-for-agenda"}}
            {{moment-format
              subcase.requestedForMeeting.plannedStart
              "DD MMMM YYYY"
            }}
          {{else}}
            <p>{{t "not-yet-requested"}}</p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="auk-o-grid-col-4 auk-u-mt">
      <div class="auk-key-value-item">
        <div class="auk-key-value-item__label">
          {{t "is-on-agenda"}}
        </div>
        <div class="auk-key-value-item__value" data-test-subcase-description-agenda-link>
          {{#if
            (or
               (is-pending isRetracted)
               (is-pending subcase.onAgendaInfo)
            )
          }}
            <div class="auk-loader" role="alert" aria-busy="true"></div>
          {{else}}
            {{#if (await subcase.onAgendaInfo)}}
              {{#if
                (await isRetracted)
              }}
                {{t "postponed-subcase"}}
              {{/if}}
              {{#link-to
                "agenda.agendaitems.agendaitem"
                (await latestMeetingId)
                (await latestAgendaId)
                (await latestAgendaitemId)
                class="auk-button-link"
              }}
                <span class="auk-button__content">
                  {{moment-format (await subcase.onAgendaInfo)  "DD MMMM YYYY"}}
                </span>
              {{/link-to}}
            {{else}}
              {{t "not-yet-on-agenda"}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      <div class="auk-key-value-item">
        <div class="auk-key-value-item__label">
          {{t "date-last-edited"}}
        </div>
        <div data-test-subcase-description-modified class="auk-key-value-item__value">
          {{moment-format subcase.modified "DD MMMM YYYY"}}
        </div>
      </div>
    </div>
    <div class="auk-o-grid-col-4 auk-u-mt">
      <div class="auk-key-value-item">
        <div class="auk-key-value-item__label">
          {{t "decided-on"}}
        </div>
        <div data-test-subcase-description-decided-on class="auk-key-value-item__value">
          {{#if (is-pending subcase.approved)}}
            <div class="skeletal-loader" role="alert" aria-busy="true"></div>
          {{else if (await subcase.approved)}}
            {{moment-format (await subcase.requestedForMeeting.plannedStart) "DD.MM.YYYY"}}
          {{else}}
            {{t "not-yet-decided"}}
          {{/if}}
        </div>
      </div>
      <div class="auk-key-value-item">
        <div class="auk-key-value-item__label">
          {{t "requested-by"}}
        </div>
        <div data-test-subcase-description-requested-by class="auk-key-value-item__value">
          {{#if
            (or
                (is-pending subcase.requestedBy)
                (is-pending subcase.requestedBy.person)
            )
          }}
            <div class="skeletal-loader" role="alert" aria-busy="true"></div>
          {{else if subcase.requestedBy}}
            {{subcase.requestedBy.person.nameToDisplay}}
          {{else}}
            {{t "not-yet-requested"}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="auk-box">
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        {{web-components/vl-radio-button-list
          title=(t "subcase-type")
          optionList=(await caseTypes)
          selectedModel=(await remarkType)
          modelChanged=(action "selectRemarkType")
        }}
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-type-dropdown"}}</Auk::Label>
        {{utils/model-selector
          modelName="subcase-type"
          searchField="label"
          sortField="label"
          propertyToShow="label"
          selectedItems=type
          selectModel=(action "selectType")
        }}
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-name"}}</Auk::Label>
        {{web-components/vl-form-input value=subcaseName}}
      </div>
    </div>
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <a href="" class="auk-button-link" {{action "cancelEditing"}}>
            <span class="auk-button__content">
              {{t "cancel"}}
            </span>
          </a>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          {{web-components/vl-save-button
            text=(t "save")
            isLoading=isLoading
            saveAction=(action "saveChanges")
          }}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </div>
{{/if}}