<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group>
      <Auk::Toolbar::Item>
        <AuLink
          @skin="button-naked"
          @icon="hierarchical-back"
          @hideText={{true}}
          {{on "click" this.transitionBack}}
        >
          {{t "back"}}
        </AuLink>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div data-test-subcase-overview-header-title-container class="auk-u-my">
          <span class="auk-overline auk-u-block">
            {{t "case"}}
          </span>
          <Auk::AbbreviatedText
            @text={{or @decisionmakingFlow.case.shortTitle @decisionmakingFlow.case.title}}
            @maxLength={{250}}
          />
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{! TODO: Below pills linking to publication-flows were introduced as a band-aid allowing
    OVRB-people to navigate from a case (found by global search) to a publication-flow.
    This functionality actually needs design-thought and CSS-work though.
    }}
    {{#if this.publicationFlows}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <div class="auk-u-my">
            <span class="auk-u-block auk-overline">
              {{t "publications"}}
            </span>
            <div>
              {{#each this.publicationFlows as |publicationFlow|}}
                <AuPill
                  data-test-subcase-overview-header-publication-flow-link
                  @size="small"
                  @route="publications.publication"
                  @model={{publicationFlow.id}}
                >
                  {{publicationFlow.identification.idName}}
                </AuPill>
              {{/each}}
            </div>
          </div>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
    {{#if (user-may "manage-cases")}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-overview-header-edit-case
            @skin="primary"
            @icon="pencil"
            {{on "click" this.openEditCaseModal}}
          >
            {{t "edit-case"}}
          </AuButton>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-overview-header-create-subcase
            @skin="primary"
            @icon="plus"
            {{on "click" this.openAddSubcaseModal}}
          >
            {{t "create-subcase"}}
          </AuButton>
        </Auk::Toolbar::Item>
        {{#if this.isEnabledNewCaseCreation}}
          <Auk::Toolbar::Item>
            <AuButton
              @skin="primary"
              @icon="plus"
              {{on "click" this.navigateToAddSubcase}}
            >
              {{t "create-subcase-new"}}
            </AuButton>
          </Auk::Toolbar::Item>         
        {{/if}}       
      </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>
{{! MODAL }}
{{#if this.showAddSubcaseModal}}
  <Cases::NewSubcase
    @onClose={{this.closeAddSubcaseModal}}
    @onCreate={{this.onCreateSubcase}}
    @decisionmakingFlow={{@decisionmakingFlow}}
  />
{{/if}}

{{#if this.showEditCaseModal}}
  <Cases::EditCase
    @onClose={{this.closeEditCaseModal}}
    @onSave={{this.saveCase}}
    @case={{this.case}}
  />
{{/if}}
