<div class="auk-toolbar-complex">
  <div class="auk-toolbar-complex__left">
    <div class="auk-toolbar-complex__item">
      <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
        <div class="auk-o-flex auk-o-flex--vertical-center">
          <h4 class="auk-toolbar-complex__title auk-u-text-capitalize">{{subcase.shortTitle}}</h4>
        </div>
        <Subcases::SubcaseDetailNav/>
      </div>
    </div>
  </div>
  <div class="auk-toolbar-complex__right">
    {{#if currentSession.isEditor}}
      <div class="auk-toolbar-complex__item">
        {{#if (or (is-pending canPropose) isLoading)}}
          <div class="auk-loader" role="alert" aria-busy="true"></div>
        {{else if (await canPropose)}}
          <Auk::Button
            @skin="primary"
            data-test-subcase-header-action-propose-for-agenda
          >
            {{t "propose-for-agenda"}}
          </Auk::Button>
          {{#attach-popover
            renderInPlace=true
            class="ember-attacher-popper"
            hideOn="clickout click"
            showOn="click"
            animation="shift"
            placement="bottom"
          as |attacher|
          }}
            <ul class="vlc-dropdown-menu">
              {{#each
                (await meetings)
              as |meeting|
              }}
                <li class="vlc-dropdown-menu__item">
                  <button type="button" class="auk-button-link"
                    {{action attacher.hide}}
                    {{action "proposeForAgenda" subcase meeting}}
                  >
                    <span class="auk-button__content">
                      {{t "agenda-for"}}
                      {{moment-format meeting.plannedStart "DD MMMM YYYY"}}
                      {{concat " - " meeting.numberRepresentation}}
                    </span>
                  </button>
                </li>
              {{/each}}
              {{#if (gt (await meetings.length) 0)}}
                <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
              {{/if}}
              <li class="vlc-dropdown-menu__item">
                <button type="button" class="auk-button-link"
                  {{action attacher.hide}}
                  {{action "proposeForOtherAgenda" subcase}}
                >
                  <span class="auk-button__content">
                    {{t "other-agenda"}}
                  </span>
                </button>
              </li>
            </ul>
          {{/attach-popover}}
        {{/if}}
      </div>
      <div class="auk-toolbar-complex__item">
        <div class="auk-u-position-relative auk-u-inline-block">
          <Auk::Button
            @skin="secondary"
            @icon={{if isShowingOptions "chevron-up" "chevron-down"}}
            {{action "showMultipleOptions" bubbles=false}}
            data-test-subcase-header-actions-dropdown
          >
            {{t "actions"}}
          </Auk::Button>
          {{#attach-popover
            renderInPlace=true
            class="ember-attacher-popper"
            hideOn="clickout click"
            showOn="click"
            animation="shift"
            placement="bottom"
          as |attacher|
          }}
            <ul class="vlc-dropdown-menu">
              {{#if (await canDelete)}}
                <li class="vlc-dropdown-menu__item">
                  <a href="" class="auk-button-link"
                    data-test-subcase-header-action-delete-subcase
                    {{action attacher.hide}}
                    {{action "requestDeleteSubcase" subcase}}
                  >
                    <span class="auk-button__content">
                      {{t "delete-subcase"}}
                    </span>
                  </a>
                </li>
              {{/if}}
              <li class="vlc-dropdown-menu__item">
                <a href=""
                  data-test-subcase-header-action-move-subcase
                  class="auk-button-link auk-button-link--block"
                  {{action attacher.hide}}
                  {{action "triggerMoveSubcaseDialog" }}
                >
                  <span class="auk-button__content">
                    {{t "move-subcase"}}
                  </span>
                </a>
              </li>
            </ul>
          {{/attach-popover}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
{{#if promptDeleteCase}}
  {{web-components/vl-modal-verify
    title="Leeg dossier verwijderen?"
    verifyButtonText="Verwijderen"
    message=(concat "Dossier '" this.caseToDelete.shortTitle "' heeft geen procedurestappen meer. Wilt u het dossier verwijderen?")
    cancel=(action "cancelDeleteCase")
    verify=(perform this.deleteCase this.caseToDelete)
    isLoading=this.deleteCase.isRunning
  }}
{{/if}}

{{#if isAssigningToOtherCase}}
  {{#web-components/vl-modal
    closeModal=(action "cancel")
    isOverlay=true
    title=(t "move-subcase-to-other-case")
  }}
    {{utils/case-search
      onSelect=(action "moveSubcase")
    }}
  {{/web-components/vl-modal}}
{{/if}}

{{#if isAssigningToOtherAgenda}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "propose-for-agenda")
    closeModal=(action "cancel")
  }}
    {{subcases/assign-to-meeting-form
      subcase=selectedSubcase
      proposeForAgenda=(action "proposeForAgenda")
      cancel=(action "cancel")
      closeModal=(action "cancel")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isDeletingSubcase}}
  {{web-components/vl-modal-verify
    isLoading=isLoading
    title=(t "delete-subcase")
    message=(t "delete-subcase-confirmation")
    cancel=(action "cancel")
    verify=(action "deleteSubcase")
  }}
{{/if}}