<div class="vlc-procedure-step {{if @isMinimal "vlc-procedure-step--minimal"}}">
  <div class="vlc-procedure-step__badge-wrapper">
    {{#if (is-pending @subcase.approved)}}
      <div class="auk-badge auk-badge--default auk-badge--medium"></div>
    {{else if (await @subcase.approved)}}
      <div class="auk-badge auk-badge--success auk-badge--default auk-badge--medium vlc-procedure-step__badge">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-check"></i>
        </div>
      </div>
    {{else}}
      <div class="auk-badge auk-badge--warning auk-badge--medium vlc-procedure-step__badge">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-sitemap"></i>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="vlc-toolbar vlc-toolbar--auto">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <div class="auk-u-mb-2">
          {{#if (not (is-pending @subcase))}}
            <LinkTo
              @route="cases.case.subcases.subcase.overview"
              @models={{array
                (await @subcase.case.id)
                (await @subcase.id)
              }}
              class="auk-h4"
            >
              {{await @subcase.nameToShow}}
            </LinkTo>
          {{/if}}
        </div>
        <div class="vlc-procedure-step__meta">
          <p>
            {{t "latest-modified"}}
            {{moment-format (await @subcase.modified) "DD.MM.YYYY"}}
          </p>
          {{#if (await @subcase.onAgendaInfo)}}
            <p>
              {{t "on-agenda"}}
              {{moment-format (await @subcase.onAgendaInfo) "DD.MM.YYYY"}}
            </p>
          {{/if}}
        </div>
        <ul class="vlc-status-timeline">
          {{#each (await @subcase.phases) as |phase|}}
            {{#if (await phase.label)}}
              <li class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
              >
                <div class="vlc-status-timeline__dot"></div>
                <div class="vlc-status-timeline__text">
                  {{subcase-timeline-item-text
                    phase=phase
                  }}
                </div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{yield @subcase}}
  {{#if this.hasDocumentsToShow}}
    <div class="js-vl-accordion">
      <WebComponents::AuButton
        @skin="borderless"
        @icon={{if this.isShowingDocuments "chevron-down" "chevron-right"}}
        data-vl-accordion-toggle=""
        data-vl-accordion-dressed="true"
        {{on "click" this.toggleIsShowingDocuments}}
      >
        {{t "documents"}}
      </WebComponents::AuButton>
    </div>
    {{#if this.isShowingDocuments}}
      <div class="vl-accordion__panel">
        <div class="auk-u-mt-4">
          <Documents::DocumentBadgeList @pieces={{this.limitedSubcaseDocuments}}/>
        </div>
      </div>
      {{#if this.enableShowMore}}
        <button class="vlc-document-show-more-button" type="button" {{on "click" this.toggleShowingAllDocuments}}>
          <WebComponents::AuIcon @name={{if this.isShowingAllDocuments "remove" "plus"}} />
          <p class="vlc-document-show-more-button__text auk-u-ml">
            {{#if this.isShowingAllDocuments }}
              {{t "show-less"}}
            {{else}}
              {{t "show-more"}}
            {{/if}}
          </p>
        </button>
      {{/if}}
    {{/if}}
  {{/if}}
</div>