<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar>
    <Auk::Toolbar::Group>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="borderless"
          @icon="chevron-left"
          @layout="icon-only"
          {{on "click" @backLink}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-u-my">
          <span class="auk-overline auk-u-block">
            {{t "case"}}
          </span>
          <Auk::AbbreviatedText @text={{this.caseTitleFromCase}} @maxLength={{250}} />
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{#if currentSession.isEditor}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @icon="add"
            {{on "click" this.toggleIsAddingSubcase}}
            data-test-subcase-overview-header-create-subcase
          >
            {{t "create-subcase"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>


{{!-- MODAL --}}

{{#if isAddingSubcase}}
  {{#web-components/vl-modal
    isOverlay=true
    large=true
    closeModal=(action "close")
    title=(t "create-subcase")
  }}
    {{cases/new-subcase
      title=this.title
      shortTitle=this.shortTitle
      case=(await @model.case)
      closeModal=(action "close")
      refresh=(action "refresh")
    }}
  {{/web-components/vl-modal}}
{{/if}}