<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--gray-100">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButton
            @skin="borderless"
            @icon="chevron-left"
            @layout="icon-only"
            {{on "click" @backLink}}
            data-test-cases-backlink/>
        </WebComponents::AuToolbar::Item>
        <WebComponents::AuToolbar::Item>
          <div class="auk-u-my">
            <span class="auk-overline auk-u-block">
              {{t "case"}}
            </span>
            <WebComponents::AuAbbreviatedText
              @text={{this.caseTitleFromCase}}
              @size="250"
            />
          </div>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      {{#if currentSession.isEditor}}
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton
              @skin="primary"
              @icon="add"
              {{on "click" this.toggleIsAddingSubcase}}
              data-test-case-create-subcase-button>
              {{t "create-subcase"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      {{/if}}
    </WebComponents::AuToolbar>
  </WebComponents::AuToolbar>
</div>


{{!-- MODAL --}}

{{#if isAddingSubcase}}
  {{#web-components/vl-modal
    isOverlay=true
    large=true
    closeModal=(action "close")
    title=(t "create-subcase")
  }}
    {{cases/new-subcase
      title=this.title
      shortTitle=this.shortTitle
      case=(await @model.case)
      closeModal=(action "close")
      refresh=(action "refresh")
    }}
  {{/web-components/vl-modal}}
{{/if}}
