<div data-test-subcase-item-container class="vlc-procedure-step">
  <div class="vlc-procedure-step__badge-wrapper">
    {{#if this.loadSubcaseIsApproved.isRunning}}
        <Auk::Badge @size="medium" />
    {{else}}
      {{#if this.approved}}
        <Auk::Badge
          @skin="success"
          @size="medium"
          @icon="check"
          class="vlc-procedure-step__badge"
          data-test-subcase-item-approved
        />
      {{else}}
        <Auk::Badge
          @skin="warning"
          @size="medium"
          @icon="sitemap"
          class="vlc-procedure-step__badge"
        />
      {{/if}}
    {{/if}}
  </div>
  <Auk::Toolbar @auto={{true}}>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-u-mb-2">
          <LinkTo
            data-test-subcase-item-link
            @route="cases.case.subcases.subcase.overview"
            @models={{array @decisionmakingFlow.id @subcase.id}}
            class="auk-h4"
          >
            {{this.nameToShow}}
          </LinkTo>
        </div>
        <div class="vlc-procedure-step__meta">
          <p>
            {{t "latest-modified"}}
            {{moment-format @subcase.modified}}
          </p>
          {{#if this.latestMeeting.plannedStart}}
            <p>
              {{t "on-agenda-for-meeting"}}
              {{moment-format this.latestMeeting.plannedStart}}
            </p>
          {{/if}}
        </div>
        <ul class="vlc-status-timeline">
          {{#unless this.loadSubcasePhases.isRunning}}
            {{#each this.phases as |phase|}}
              {{#if phase.label}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{subcase-timeline-item-text phase=phase}}
                  </div>
                </li>
              {{/if}}
            {{/each}}
          {{/unless}}
        </ul>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>

  {{yield}}

  {{#if this.hasDocumentsToShow}}
    <Auk::Accordion>
      <Auk::Accordion::Item
        @title={{t "documents"}}
        @expandTask={{this.loadSubcaseDocuments}}
      >
        {{#if this.loadSubcaseDocuments.isRunning}}
          <div class="auk-u-p-3">
            <Auk::Loader />
          </div>
        {{else}}
          <Documents::DocumentBadgeList
            @pieces={{this.limitedSubcaseDocuments}}
          />
          {{#if this.enableShowMore}}
            <Auk::ButtonLink
              @icon={{if this.isShowingAllDocuments "dash" "plus"}}
              {{on "click" this.toggleShowingAllDocuments}}
              class="auk-u-mt-2"
            >
              {{#if this.isShowingAllDocuments}}
                {{t "show-less"}}
              {{else}}
                {{t "show-more"}}
              {{/if}}
            </Auk::ButtonLink>
          {{/if}}
        {{/if}}
      </Auk::Accordion::Item>
    </Auk::Accordion>
  {{/if}}
</div>