<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group>
      <Auk::Toolbar::Item>
        <AuButton
          @skin="naked"
          @icon="hierarchical-back"
          @hideText={{true}}
          {{on "click" this.transitionBack}}
        >
          {{t "back"}}
        </AuButton>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div data-test-subcase-overview-header-title-container class="auk-u-my">
          <span class="auk-overline auk-u-block">
            {{t "case"}}
          </span>
          <h4 class="auk-toolbar-complex__title au-u-padding-none">
            <Auk::AbbreviatedText
              @text={{or @decisionmakingFlow.case.shortTitle @decisionmakingFlow.case.title}}
              @maxLength={{250}}
            />
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{! TODO: Below pills linking to publication-flows were introduced as a band-aid allowing
    OVRB-people to navigate from a case (found by global search) to a publication-flow.
    This functionality actually needs design-thought and CSS-work though.
    }}
    {{#if this.publicationFlows}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <div class="auk-u-my">
            <span class="auk-u-block auk-overline">
              {{t "publications"}}
            </span>
            <div>
              {{#each this.publicationFlows as |publicationFlow|}}
                <AuPill
                  @size="small"
                  @skin="link"
                  @route="publications.publication"
                  @model={{publicationFlow.id}}
                >
                  {{publicationFlow.identification.idName}}
                </AuPill>
              {{/each}}
            </div>
          </div>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
    {{#if (user-may "manage-cases")}}
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{!-- <AuButton
            @skin="secondary"
            @icon="pencil"
            {{on "click" this.openEditCaseModal}}
          >
            {{t "edit-case"}}
          </AuButton> --}}
          <AuDropdown
            data-test-route-cases-overview-row-actions-dropdown
            @title="Dossier acties"
            @alignment="right"
            @skin="secondary"
          >
            <AuButton
              data-test-route-cases-overview-row-actions-edit
              @skin="link"
              {{on "click" this.openEditCaseModal}}
              role="menuitem"
            >
              {{t "edit-case"}}
            </AuButton>
            <AuButton
              data-test-route-cases-overview-row-actions-archive
              @skin="link"
              @alert={{true}}
              role="menuitem"
              {{on "click" this.openArchiveCaseModal}}
            >
              {{t (if this.isArchived "unarchive-case" "archive-case")}}
            </AuButton>
          </AuDropdown>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          {{!-- <AuButton
            data-test-subcase-overview-header-create-subcase
            @skin="primary"
            @icon="plus"
            {{on "click" this.openAddSubcaseModal}}
          >
            {{t "create-subcase"}}
          </AuButton> --}}
          <AuLink
            data-test-subcase-overview-header-create-subcase
            @skin="button"
            @icon="plus"
            @route="cases.case.subcases.add-subcase"
          >
            {{t "create-subcase"}}
          </AuLink>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>
{{! MODAL }}
{{#if this.showAddSubcaseModal}}
  <Cases::NewSubcase
    @onClose={{this.closeAddSubcaseModal}}
    @onCreate={{this.onCreateSubcase}}
    @decisionmakingFlow={{@decisionmakingFlow}}
  />
{{/if}}

{{#if this.showEditCaseModal}}
  <Cases::EditCase
    @onClose={{this.closeEditCaseModal}}
    @onSave={{this.saveCase}}
    @case={{this.case}}
  />
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isArchivingCase}}
  @title={{t "archive-case"}}
  @message={{t "archive-case-message"}}
  @onConfirm={{this.archiveCase}}
  @onCancel={{this.cancelArchiveCase}}
  @confirmMessage={{t "delete"}}
  @alert={{true}}
/>