<div class="auk-u-mb-2">
  <div class="auk-o-flex auk-o-flex--align-baseline">
    <h4 class="auk-h3 auk-u-m-0">
      {{t "subcases"}}
    </h4>
  </div>
</div>
{{#if @subcases.length}}
  {{#each @subcases as |subcase|}}
    <Subcases::SubcaseItem @case={{@case}} @subcase={{subcase}}>
      <div class="auk-hr">
        <hr/>
      </div>
      <div class="auk-u-mb-4">
        <p>
          {{subcase.title}}
        </p>
      </div>
    </Subcases::SubcaseItem>
  {{/each}}
{{else}}
  <div class="auk-u-mt-2">
    <WebComponents::VlAlert @message={{t "no-subcases-yet"}} />
  </div>
{{/if}}