<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title auk-u-text-capitalize">{{@subcase.shortTitle}}</h4>
          </div>
          <Subcases::SubcaseDetailNav/>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if (user-may "manage-agendaitems")}}
        <Auk::Toolbar::Item>
          {{#if (or this.loadData.isRunning this.isLoading)}}
            <Auk::Loader />
          {{else if this.canPropose}}
            <AuDropdown
              data-test-subcase-header-show-proposed-agendas={{true}}
              @skin="primary"
              @title={{t "propose-for-agenda"}}
              @alignment="right"
            >
              {{#each this.meetings as |meeting|}}
                <AuButton
                  data-test-subcase-header-propose-for-agenda
                  @skin="link"
                  {{on "click" (perform this.proposeForAgenda meeting)}}
                  role="menuitem"
                >
                  {{t "agenda-for"}}
                  {{date-phrase meeting.plannedStart}}
                  {{concat " - " meeting.numberRepresentation}}
                </AuButton>
              {{/each}}
              {{#if this.meetings}}
                <AuHr />
              {{/if}}
              <AuButton
                @skin="link"
                {{on "click" this.proposeForOtherAgenda}}
                role="menuitem"
              >
                {{t "other-agenda"}}
              </AuButton>
            </AuDropdown>
          {{/if}}
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <AuDropdown
            data-test-subcase-header-actions-dropdown={{true}}
            @skin="secondary"
            @title={{t "actions"}}
            @alignment="right"
          >
            {{#if this.canDelete}}
              <AuButton
                data-test-subcase-header-action-delete-subcase
                @skin="link"
                @alert={{true}}
                {{on "click" (fn this.requestDeleteSubcase @subcase)}}
                role="menuitem"
              >
                {{t "delete-subcase"}}
              </AuButton>
            {{/if}}
            <AuButton
              data-test-subcase-header-action-move-subcase
              @skin="link"
              {{on "click" this.triggerMoveSubcaseDialog}}
              role="menuitem"
            >
              {{t "move-subcase"}}
            </AuButton>
          </AuDropdown>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<ConfirmationModal
  @modalOpen={{this.promptDeleteCase}}
  @title={{t "delete-empty-case"}}
  @message={{t "delete-empty-case-confirmation" case=this.caseToDelete.shortTitle}}
  @onConfirm={{perform this.deleteCase this.caseToDelete}}
  @onCancel={{this.cancelDeleteCase}}
  @confirmMessage={{t "delete"}}
  @alert={{true}}
  @loading={{this.deleteCase.isRunning}}
/>

<AuModal
  @modalOpen={{this.isAssigningToOtherCase}}
  @closeModal={{this.cancel}}
  @padding="none"
  @closable={{this.moveSubcase.isIdle}}
>
  <:title>
    {{t "move-subcase-to-other-case"}}
  </:title>
  <:body>
    <Utils::CaseSearch @onSelect={{perform this.moveSubcase}} />
  </:body>
</AuModal>

{{#if this.isAssigningToOtherAgenda}}
  <Subcases::ProposableMeetings
    @onProposeForMeeting={{perform this.proposeForAgenda}}
    @onCancel={{this.cancel}}
  />
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isDeletingSubcase}}
  @title={{t "delete-subcase"}}
  @message={{t "delete-subcase-confirmation"}}
  @onConfirm={{this.deleteSubcase}}
  @onCancel={{this.cancel}}
  @confirmMessage={{t "delete"}}
  @alert={{true}}
  @loading={{this.isLoading}}
/>