<div class="auk-u-mb-2">
  <div class="auk-o-flex auk-o-flex--align-baseline">
    <h4 class="auk-h3 auk-u-m-0">
      {{t "subcases"}}
    </h4>
  </div>
</div>
{{#if @subcases.length}}
  {{#each @subcases as |subcase|}}
    <Subcases::SubcaseItem @decisionmakingFlow={{@decisionmakingFlow}} @subcase={{subcase}}>
      <div class="auk-hr">
        <hr />
      </div>
      <div class="auk-u-mb-4">
        <p>
          {{subcase.title}}
        </p>
      </div>
    </Subcases::SubcaseItem>
  {{/each}}
  {{#if (gt @subcases.meta.count @subcases.length)}}
    <hr/>
    <div class="auk-u-mx-4">
      <Auk::Toolbar as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            <Auk::Pagination
              @page={{@page}}
              @size={{@size}}
              @nbOfItems={{@subcases.length}}
              @total={{@subcases.meta.count}}
              @onNextPage={{@onNextPage}}
              @onPreviousPage={{@onPreviousPage}}
            />
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          <Group.Item>
            {{t "subcases-per-page"}}
          </Group.Item>
          <Group.Item>
            <WebComponents::AuPageSize
              @selectedSize={{@size}}
              @onChange={{@onSetSizeOption}}
            />
          </Group.Item>
        </Toolbar.Group>
      </Auk::Toolbar>
    </div>
  {{/if}}
{{else}}
  <div class="auk-u-mt-2">
    <WebComponents::VlAlert @message={{t "no-subcases-yet"}} />
  </div>
{{/if}}