<form class="vl-form" onsubmit={{action "createSubCase"}}>
  <div class="vl-modal-dialog__content">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "show-as-remark")}}
      {{web-components/vl-toggle value=showAsRemark}}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "name-subcase")}}
      {{textarea
        rows="2"
        class="vl-textarea vl-textarea--block"
        value=shortTitle
      }}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "title-subcase")}}
      {{textarea rows="2" class="vl-textarea vl-textarea--block" value=title}}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "subcase-type")}}
      {{utils/model-selector
        modelName="subcase-type"
        searchField="label"
        sortField="label"
        propertyToShow="label"
        selectedItems=type
        selectModel=(action "selectType")
      }}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--link vl-button--narrow"
            {{action "closeModal"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          {{#if (not isLoading)}}
            <button type="submit" class="vl-button vl-button--tertiary">
              {{t "new-subcase"}}
            </button>
          {{else}}
            <button
              class="vl-button vl-button--loading vl-button--narrow"
              disabled="true"
            >
              {{t "creating-subcase"}}
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</form>