<form class="vl-form" onsubmit={{action "createSubCase"}}>
  <div class="vl-modal-dialog__content">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "show-as-remark")}}
      {{web-components/vl-toggle value=showAsRemark}}
    </div>
    <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "public")}}
      {{web-components/vl-toggle value=confidential}}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "name-subcase")}}
      {{textarea
        rows="2"
        class="vl-textarea vl-textarea--block"
        value=shortTitle
      }}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "title-subcase")}}
      {{textarea rows="2" class="vl-textarea vl-textarea--block" value=title}}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "subcase-type")}}
      {{utils/model-selector
        modelName="subcase-type"
        searchField="label"
        sortField="label"
        propertyToShow="label"
        selectedItems=type
        selectModel=(action "selectType")
      }}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--link vl-button--narrow"
            {{action "closeModal"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <button type="submit" class="vl-button vl-button--tertiary">
            {{t "new-subcase"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{{!-- {{#if isAddingNonDigitalDocument}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "non-digital-file")
    closeModal=(action "toggleAddNonDigitalDocument")
  }}
    <div class="vl-modal-dialog__content">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "title-document")}}
        {{web-components/vl-form-input width="4" value=documentTitle}}
      </div>
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "title-document")}}
        {{textarea
          rows="3"
          class="vl-textarea vl-textarea--block"
          value=documentDescription
        }}
      </div>
      {{#each nonDigitalDocuments as |nonDigitalDocument|}}
        {{utils/non-digital-document
          nonDigitalDocument=nonDigitalDocument
          removeDocument=(action "removeDocument")
        }}
      {{/each}}
    </div>
    {{web-components/vl-modal-footer
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "toggleAddNonDigitalDocument")
      saveAction=(action "createNonDigitalDocument")
    }}
  {{/web-components/vl-modal}}
{{/if}} --}}