<div class="auk-u-mb-4">
  <div class="auk-u-flex auk-u-flex--vertical-center">
    <h4 class="vl-title vl-title--h4">
      {{t "ise-code"}}
    </h4>
  </div>
</div>
{{#if (is-pending item.iseCodes)}}
  {{web-components/vl-loader text=(t "documents-loading-text")}}
{{else if (gt (await item.iseCodes.length) 0)}}
  <ul data-test-subcase-ise-codes-list>
    {{#each (await item.iseCodes) as |iseCode|}}
      <li class="vl-pill" data-test-subcase-ise-codes-list-item>
        {{iseCode.name}}
        {{!-- ({{iseCode.code}}) --}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="auk-u-mt-2">
    {{web-components/vl-alert message=(t "no-ise-codes-yet")}}
  </div>
{{/if}}