<div style="" class="auk-u-flex full-height full-width u-padding--left--large u-padding--right--large">
  <div class="vlc-login-content">
    <h1 class="h1 u-spacer--tiny u-padding--bottom--large">{{t "kaleidos"}}</h1>
    <h2 class="h4 auk-u-text-normal u-padding--bottom--large">
      {{t "kaleidos-login-info"}}
    </h2>
    <div>
      <p class="u-spacer--tiny">
        {{t "kaleidos-login-info2"}}
        <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">
          {{t "kaleidos-login-info-gebruikersbeheer-vlaanderen"}}
        </a>
        .
      </p>
      <p class="u-spacer--tiny">
        {{t "kaleidos-login-info-popup-message"}}
      </p>
      <div class="u-padding--top--large">
        {{acmidm-login}}
      </div>
    </div>

  </div>
</div>