{{page-title (t "agenda-title")}}
<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @auto={{true}} as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <h2 class="auk-toolbar__title" data-test-route-agendas-title>
          {{t "agenda-title"}}
        </h2>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item
        data-test-route-agendas-overview-filter-container
        data-children-count="1"
        class="auk-o-flex"
      >
        {{#if (not-eq this.filter "")}}
          <Auk::Button @icon="redo" @layout="icon-only" @skin="muted-borderless" {{on "click" this.clearFilter}}>
            {{t "clear-filter"}}
          </Auk::Button>
        {{/if}}
        <Auk::Input
          @block={{true}}
          @icon="search"
          placeholder="bv. 01/2021"
          value={{this.filter}}
          {{on "input" (perform this.setFilter)}}
          autocomplete="off"
        />
      </Group.Item>
      {{#if this.currentSession.isEditor}}
        <Group.Item>
          <Auk::Button
            @skin="primary"
            @icon="plus"
            data-test-route-agendas-new-meeting
            {{on "click" this.openNewSessionModal}}
          >
            {{t "new-agenda"}}
          </Auk::Button>
        </Group.Item>
      {{/if}}
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{#if (or this.from this.to)}}
  <ChangesAlert
    @message={{t "filtered-agendas"}}
    @buttonText={{t "clear-filter"}}
    @clearAction={{this.clearFilter}}
  />
{{/if}}
<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    {{#if @model.length}}
      <div class="auk-u-ml-4">
        <table
          data-test-route-agendas-overview-data-table
          class="auk-table auk-table--agenda auk-table--sticky-header"
        >
          <thead>
            <tr>
              <Utils::ThSortable
                class="auk-table__col--3 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="created-for.planned-start"
                @onChange={{this.sortTable}}
                @label={{t "agenda"}}
              />
              <Utils::ThSortable
                class="auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="status"
                @onChange={{this.sortTable}}
                @label={{t "status"}}
              />
              <Utils::ThSortable
                class="auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="created-for.kind.label"
                @onChange={{this.sortTable}}
                @label={{t "kind"}}
              />
              <Utils::ThSortable
                class="auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="modified"
                @onChange={{this.sortTable}}
                @label={{t "latest-modified"}}
              />
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#if this.isLoadingModel}}
              <tr>
                <td colspan="5">
                  {{t "loading"}}
                </td>
              </tr>
            {{else}}
              {{#each @model as |agenda|}}
                <tr class="auk-u-text-align--center auk-table--interaction-cursor auk-table--clickable-rows">
                  <td data-test-route-agendas-overview-row-title>
                    <span class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
                      {{#if agenda.status.isDesignAgenda}}
                        <strong>{{t "design-agenda"}}</strong>
                        <Auk::Pill @skin="active-future">{{agenda.name}}</Auk::Pill>
                      {{else}}
                        <strong>{{t "agenda"}}</strong>
                        <Auk::Pill>{{agenda.name}}</Auk::Pill>
                      {{/if}}
                      <span>–</span>
                      <span>
                        {{moment-format agenda.createdFor.plannedStart "DD.MM.YYYY"}}
                      </span>
                    </span>
                  </td>
                  <td>
                    {{#if agenda.isFinal}}
                      <Auk::Pill>{{t "closed"}}</Auk::Pill>
                    {{else}}
                      <Auk::Pill @skin="active">{{t "opened"}}</Auk::Pill>
                    {{/if}}
                  </td>
                  <td data-test-route-agendas-overview-row-kind>
                    {{agenda.createdFor.kind.label}}
                  </td>
                  <td>
                    {{#if (is-pending agenda)}}
                      <div
                        class="auk-skeleton auk-skeleton--rectangle"
                        role="alert"
                        aria-busy="true"
                      ></div>
                    {{else}}
                      {{moment-format
                        agenda.modified
                        "DD.MM.YYYY — HH:mm"
                      }}
                    {{/if}}
                  </td>
                  <td class="auk-u-text-align--center">
                    <Auk::Button
                      data-test-route-agendas-overview-row-nav-button={{true}}
                      @skin="borderless"
                      @layout="icon-only"
                      @icon="chevron-right"
                      @route="agenda.agendaitems"
                      @models={{array
                        agenda.createdFor.id
                        agenda.id
                      }}
                    />
                  </td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState
            @message={{t "no-results-found"}}
            data-test-route-agendas-overview-filter-warning-no-results
          />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>
<div>
  <hr />
</div>
<div class="auk-u-mx-4">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Pagination
          @page={{this.page}}
          @size={{this.size}}
          @nbOfItems={{@model.length}}
          @total={{@model.meta.count}}
          @onNextPage={{this.nextPage}}
          @onPreviousPage={{this.prevPage}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-per-page"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{this.size}}
          @onChange={{this.setSizeOption}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>
{{#if this.isCreatingNewSession}}
  <Meeting::NewMeetingModal
    @didSave={{this.successfullyAdded}}
    @onCancel={{this.closeNewSessionModal}}
  />
{{/if}}