{{page-title (t "agenda-title")}}
<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__item">
        <h1 class="vlc-page-header__title vlc-page-header__title--bordered auk-u-pb"
            data-test-agendas-title>
          {{t "agenda-title"}}
        </h1>
      </div>
      <div class="vlc-toolbar__right">
        {{#if currentSession.isEditor}}
          <div class="vlc-toolbar__item">
            <button data-test-vlc-agenda-createnewagendabutton
              type="button"
              class="auk-button auk-button--primary"
              {{action "createNewSession"}}
            >
              <div class="auk-icon auk-icon--default">
                <i class="ki ki-add"></i>
              </div>
              <div class="auk-button__label">
                {{t "new-agenda"}}
              </div>
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
{{#if creatingNewSession}}
  {{#web-components/vl-modal
    isOverlay=true
    data-test-vl-modal='createNewAgendaModal'
    title=(t "new-agenda")
    closeModal=(action "cancelNewSessionForm")
  }}
    {{sessions/forms/new-session
      successfullyAdded=(action "successfullyAdded")
      cancelForm=(action "cancelNewSessionForm")
      formattedMeetingIdentifier=formattedMeetingIdentifier
    }}
  {{/web-components/vl-modal}}
{{/if}}
