{{page-title (t "agenda-title")}}
<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @auto={{true}} as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <h2 class="auk-toolbar__title" data-test-route-agendas-title>
          {{t "agenda-title"}}
        </h2>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item
        data-test-route-agendas-overview-filter-container
        data-children-count="1"
      >
        <Auk::Input
          data-test-route-agendas-overview-filter-input={{true}}
          @value={{this.dateFilter}}
          @enter={{fn this.setDateFilter this.dateFilter}}
          placeholder={{t "date-example"}}
          id={{this.id}}
        />
        <Auk::Button
          @skin="secondary"
          @layout="icon-only"
          @icon="search"
          data-test-route-agendas-overview-filter-button
          {{on "click" (fn this.setDateFilter this.dateFilter)}}
        />
      </Group.Item>
      {{#if this.currentSession.isEditor}}
        <Group.Item>
          <Auk::Button
            @skin="primary"
            @icon="plus"
            data-test-route-agendas-new-meeting
            {{on "click" this.openNewSessionModal}}
          >
            {{t "new-agenda"}}
          </Auk::Button>
        </Group.Item>
      {{/if}}
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{#if (or this.from this.to)}}
  <ChangesAlert
    @message={{t "filtered-agendas"}}
    @buttonText={{t "clear-filter"}}
    @clearAction={{this.clearFilter}}
  />
{{/if}}
<div class="auk-u-maximize-height auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    {{#if @model.length}}
      <DataTable
        data-test-route-agendas-overview-data-table
        @content={{@model}}
        @class="auk-table auk-table--agenda auk-table--striped auk-table--sticky-header"
        @page={{this.page}}
        @size={{this.size}}
        @sort={{this.sort}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage={{t "no-results-found"}}
        @onClickRow={{this.onClickRow}}
        as |table|
      >
        <table.content as |c|>
          <c.header>
            <ThSortable
              @class="auk-table__col--3"
              @currentSorting={{this.sort}}
              @field="created-for.planned-start"
              @label={{t "agenda"}}
            />
            <th class="auk-table__col--2">
              {{t "status"}}
            </th>
            <th class="auk-table__col--2">
              {{t "kind"}}
            </th>
            <ThSortable
              @class="auk-table__col--2"
              @currentSorting={{this.sort}}
              @field="modified"
              @label={{t "latest-modified"}}
            />
            <th class="auk-table__col--1"></th>
          </c.header>
          {{#if (not this.isLoadingModel)}}
            <c.body @class="auk-table--clickable-rows" as |agenda|>
              <td data-test-route-agendas-overview-row-title>
                {{agenda.agendaName}}
                -
                {{moment-format agenda.createdFor.plannedStart "DD.MM.YYYY"}}
              </td>
              <td>
                {{#if agenda.isFinal}}
                  {{t "closed"}}
                {{else}}
                  {{t "opened"}}
                {{/if}}
              </td>
              <td data-test-route-agendas-overview-row-kind>
                {{agenda.createdFor.kind.label}}
              </td>
              <td>
                {{#if (is-pending agenda)}}
                  <div
                    class="auk-skeleton auk-skeleton--rectangle"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else}}
                  {{moment-format
                    agenda.modified
                    "DD-MM-YYYY HH:mm"
                  }}
                {{/if}}
              </td>
              <td class="auk-u-text-align--center">
                <Auk::Button
                  data-test-route-agendas-overview-row-nav-button={{true}}
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="chevron-right"
                  @route="agenda.agendaitems"
                  @models={{array
                    agenda.createdFor.id
                    agenda.id
                  }}
                />
              </td>
            </c.body>
          {{else}}
            <tr>
              <td colspan="5">
                {{t "loading"}}
              </td>
            </tr>
          {{/if}}
        </table.content>
      </DataTable>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState
            @message={{t "no-results-found"}}
            data-test-route-agendas-overview-filter-warning-no-results
          />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>
{{#if this.isCreatingNewSession}}
  <Meeting::NewMeetingModal
    @didSave={{this.successfullyAdded}}
    @onCancel={{this.closeNewSessionModal}}
  />
{{/if}}