{{page-title (t "agenda-title")}}
<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--gray-100">
  <div class="auk-toolbar-complex auk-toolbar-complex--auto">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <h2 class="auk-toolbar__title"
            data-test-route-agendas-title>
          {{t "agenda-title"}}
        </h2>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      {{#if currentSession.isEditor}}
        <div class="auk-toolbar-complex__item">
          <button data-test-route-agendas-new-meeting
            type="button"
            class="auk-button auk-button--primary"
            {{on "click" this.openNewSessionModal}}
          >
            <span class="auk-button__content">
              <div class="auk-icon auk-icon--default">
                <i class="ki ki-add"></i>
              </div>
              <div class="auk-button__label">
                {{t "new-agenda"}}
              </div>
            </span>
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}
{{#if this.isCreatingNewSession}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "new-agenda")
    closeModal=this.closeNewSessionModal
  }}
    {{sessions/forms/new-session
      successfullyAdded=this.successfullyAdded
      cancelForm=this.closeNewSessionModal
    }}
  {{/web-components/vl-modal}}
{{/if}}