{{page-title (t "agenda-title")}}
<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @auto={{true}}>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h2 class="auk-toolbar__title"
            data-test-route-agendas-title>
          {{t "agenda-title"}}
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if currentSession.isEditor}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @icon="add"
            data-test-route-agendas-new-meeting
            {{on "click" this.openNewSessionModal}}
          >
            {{t "new-agenda"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{outlet}}
{{#if this.isCreatingNewSession}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "new-agenda")
    closeModal=this.closeNewSessionModal
  }}
    {{sessions/forms/new-session
      successfullyAdded=this.successfullyAdded
      cancelForm=this.closeNewSessionModal
    }}
  {{/web-components/vl-modal}}
{{/if}}
