{{page-title (t "agenda-title")}}
<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--gray-100">
  <div class="auk-toolbar-complex auk-toolbar-complex--auto">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <h2 class="auk-toolbar__title"
            data-test-route-agendas-title>
          {{t "agenda-title"}}
        </h2>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      {{#if currentSession.isEditor}}
        <div class="auk-toolbar-complex__item">
          <Auk::Button
            @skin="primary"
            @icon="add"
            data-test-route-agendas-new-meeting
            {{on "click" this.openNewSessionModal}}
          >
            {{t "new-agenda"}}
          </Auk::Button>
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}
{{#if this.isCreatingNewSession}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "new-agenda")
    closeModal=this.closeNewSessionModal
  }}
    {{sessions/forms/new-session
      successfullyAdded=this.successfullyAdded
      cancelForm=this.closeNewSessionModal
    }}
  {{/web-components/vl-modal}}
{{/if}}
