<div class="agenda-item-link {{active-class (await agendaitem) (await selectedAgendaItem)}}" {{action "selectAgendaItem" agendaitem}}>
  {{#if agendaitem.id}}
  <strong>
    {{agendaitem.priority}}. {{agendaitem.subcase.shortTitle}}
  </strong>
  <p>
    {{agendaitem.subcase.title}}
  </p>
  <div class="agenda-sub-options">
    <p>
    {{#if agendaitem.extended}}
      {{t "agenda-item.extended"}}
    {{/if}}
    </p>
    {{#if agendaitem.formallyOk}}
      <p class="formal-ok">
        {{fa-icon "check"}} 
        {{t 'agendaitem-details.formal-ok'}}
      </p>
    {{else}}
      <p class="formal-nok">
        {{fa-icon "check"}} 
        {{t 'agendaitem-details.formal-ok'}}
      </p>
    {{/if}}
  </div>  
  {{/if}}
</div>


