{{#if (is-empty model)}}
	<div class="no-data-container">
		Geen agendapunten.
	</div>
{{/if}}
{{#each model as |agendaitem|}}
  <div class="cases--decree">
    <div class="cases--decree-head">
      {{#link-to
        "cases.case"
        agendaitem.id
        class="cases--decree-content"
        tagName="div"
      }}
        <h4>
          {{agendaitem.priority}}
          . uitgesteld:
          {{agendaitem.extended}}
        </h4>
        <div class="cases--decree-content-label">
          minister-president van de vlaamse regering
        </div>
        <div class="cases--decree-content-expand">
          <span {{action "toggleShowMore" agendaitem bubbles=false}}>
          {{#if agendaitem.showDetails}}
            v minder weergeven
          {{else}}
            > meer weergeven
          {{/if}}

        </span>
        </div>
      {{/link-to}}
      <div class="cases--decree-options">
        <div class="settings-container">
          <div>
          <span>
            decreet
          </span>
          </div>
          <div
            class="cases--decree-options-settings"
            onclick={{action "showOptions" agendaitem}}
          >
            <img src="/assets/setting.svg" alt="Settings" />
          </div>
        </div>
        {{#if (not-eq agendaitemToShowOptionsFor.id agendaitem.id)}}

        {{else}}
          <div class="buttons">
            <button {{action "changeExtendedValue" agendaitem}}>
              {{extend-button-text agendaitem.extended}}
            </button>
            <button {{action "deleteItem" agendaitem}}>
              Verwijderen
            </button>
          </div>
        {{/if}}
      </div>
    </div>
    {{#if agendaitem.showDetails}}
      {{agenda/agendaitem-details agendaitem=agendaitem}}
    {{/if}}
  </div>
{{/each}}