<div class="vlc-input-field vlc-input-field-block">
  {{web-components/vl-form-label value=(t "decision-text")}}
  {{textarea rows="5" class="vl-textarea vl-textarea--block" value=description}}
</div>
<div class="vlc-input-field vlc-input-field-block">
  {{web-components/vl-form-label value=(t "approved")}}
  {{web-components/vl-toggle value=approved}}
</div>
<div class="vlc-input-field-block">
  {{utils/documents-selector-of-agendaitem
    item=agendaitem
    title=(t "documents-attached-to")
    itemWithDocuments=(await item)
    selectDocument=(action "selectDocument")
  }}
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing"}}>
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>