    <div class="vlc-input-field vlc-input-field-block">
      {{web-components/vl-form-label value=(t "edit-item.title")}}
      {{web-components/vl-form-input width="4" value=agendaitem.decision.shortTitle}}
    </div>
    <div class="vlc-input-field vlc-input-field-block">
      {{web-components/vl-form-label value=(t "edit-decision.decision-text")}}
      {{textarea
        rows="5"
        class="vl-textarea vl-textarea--block"
        value=agendaitem.decision.description
      }}
    </div>
    <div class="vlc-input-field vlc-input-field-block">
      {{web-components/vl-form-label value=(t "edit-decision.approved")}}
      {{x-toggle
        value=(await decided)
        onToggle=(action (mut decided))
      }}
    </div>
     <div class="vl-action-group vl-action-group--align-right">
      <a class="vl-link" {{action "cancelEditing" agendaitem}}>
        {{t "buttons.cancel"}}
      </a>
      <button
        class="vl-button vl-button--narrow"
        {{action "saveChanges" agendaitem}}
      >
        {{t "buttons.save"}}
      </button>
    </div>