<div class="vl-modal-dialog__content">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "name")}}
    {{web-components/vl-form-input width="4" value=title}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "add-people")}}
    {{utils/people-selector choosePerson=(action "personSelected")}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "mandatees")}}
    {{utils/domains-selector chooseDomain=(action "chooseDomain")}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "mandatee-form.start-date")}}
    {{web-components/vl-datepicker dateChanged=(action "selectStartDate")}}
  </div>
</div>
<div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <button class="vl-button vl-button--link vl-button--narrow" {{action "closeModal"}}>
          {{t "buttons.cancel"}}
        </button>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <button
          class="vl-button vl-button--tertiary"
          {{action "createMandatee"}}
        >
          {{t "create-mandatee"}}
        </button>
      </div>
    </div>
  </div>
</div>