<li class="vlc-document-list__item
{{if
  this.checkAdded
  "vlc-document-list__item vlc-document-list__item--active"
}}">
  {{#if (is-pending @piece)}}
    <div class="skeletal-loader" role="alert" aria-busy="true"></div>
  {{else if isClickable}}
    <a href="" {{action "showPieceViewer" @piece}}>
      <i class="vl-badge__icon
      {{if
        (and (not this.checkAdded) (not @piece.confidential))
        "ki-document"
      }}
      {{if this.checkAdded "ki-document-added"}}
      {{if (await @piece.confidential) "ki-lock-closed"}}">
      </i>
      {{await @piece.name}}
    </a>
  {{else}}
    <span>
      <i class="vl-badge__icon
        {{if this.checkAdded "ki-document-added" "ki-document"}}">
      </i>
      {{await @piece.name}}
    </span>
  {{/if}}
</li>
{{yield}}
