<li class="vlc-document-list__item
{{if
  documentContainer.checkAdded
  "vlc-document-list__item vlc-document-list__item--active"
}}">
  {{#if (is-pending lastPiece)}}
    <div class="skeletal-loader" role="alert" aria-busy="true"></div>
  {{else if isClickable}}
    <a href="" {{action "showPieceViewer" lastPiece}}>
      <i class="vl-badge__icon
      {{if
        (and (not documentContainer.checkAdded) (not lastPiece.confidential))
        "ki-document"
      }}
      {{if documentContainer.checkAdded "ki-document-added"}}
      {{if (await lastPiece.confidential) "ki-lock-closed"}}">
      </i>
      {{await lastPieceName}}
    </a>
  {{else}}
    <span>
      <i class="vl-badge__icon
        {{if documentContainer.checkAdded "ki-document-added" "ki-document"}}">
      </i>
      {{await lastPieceName}}
    </span>
  {{/if}}
</li>
{{yield}}
