<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h1 class="vlc-page-header__title">
            {{capitalize (t 'search')}}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      <div class="vl-u-spacer-extended-l">
        <div class="vl-form-grid vl-form-grid--is-stacked vl-u-flex-align-right vl-u-spacer-extended-bottom-l">
          <div class="vl-col--6-12 vl-col--1-1--s">
            {{input class="vl-input-field vl-input-field--block"
              type="text"
              value=searchTerm
              placeholder=(t 'search-placeholder')
              enter=(action "search" searchTerm)
            }}
          </div>
          <div class="vl-col--1-12 vl-col--1-1--s">
            <button {{action 'search' searchTerm}}
              class="vl-button vl-button--secondary vl-button--narrow vl-button--icon"
              type="submit">
              <i class="vl-vi vl-vi-magnifier"></i>
            </button>
          </div>
        </div>
        <div class="vl-u-spacer--large">
          <div class="vl-u-spacer--large">
            <h2 class="vl-title vl-title--h3">
              {{capitalize (t 'results')}}
            </h2>
            {{#if (gt model.length 0)}}
              <div class="vl-u-spacer-extended-bottom-l">
                {{#data-table
                  content=(await model)
                  onClickRow=(action "selectItem")
                  class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
                  page=page
                  size=size
                  sort=sort
                  noDataMessage=(t "no-results-found")
                  isLoading=isLoadingModel as |table|
                }}
                  {{#table.content as |c|}}
                    {{#c.header}}
                      {{th-sortable
                        class="vl-data-table-col-1 vl-data-table__header-title"
                        currentSorting=sort
                        field="meeting.startedAt"
                        label=(t "meeting")
                      }}
                      <th
                        class="vl-data-table-col-4 vl-data-table__header-title">
                        {{t "subject"}}
                      </th>
                      <th class="vl-data-table-col-1"></th>
                    {{/c.header}}
                    {{#c.body as |item|}}
                      <td>{{moment-format item.meeting.startedAt "DD.MM.YYYY"}}</td>
                      <td>{{item.subject}}</td>
                      <td class="vl-u-align-center">
                        <button
                          class="vl-button vl-button--link vl-button--icon"
                          {{action "selectItem" item}}
                        >
                          <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
                        </button>
                      </td>
                    {{/c.body}}
                  {{/table.content}}
                {{/data-table}}
              </div>
            {{else}}
              <div class="vl-u-spacer-extended-l">
                {{web-components/vl-alert message="Geen agendapunten"}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{outlet}}
