<div class="vlc-input-field-block">
  <label class="vl-form__label vl-u-display-block">
    {{title}}
  </label>
  <div class="vlc-radio-inline">
    {{#each model as |item index|}}
      <label class="vl-radio">
        {{#if (is-equal index 0)}}
          <input
                  class="vl-radio__toggle"
                  value={{item.id}}
                  type="radio"
                  name={{title}}
                  checked=""
                  onchange={{action "modelChanged"}}
          />

        {{else}}
          <input
                  class="vl-radio__toggle"
                  value={{item.id}}
                  type="radio"
                  name={{title}}
                  onchange={{action "modelChanged"}}
          />

        {{/if}}
        <div class="vl-radio__label">
          {{item.label}}
        </div>
      </label>
    {{/each}}
  </div>
</div>