<div class="vlc-input-field-block">
  <label class="vl-form__label vl-u-display-block">
    {{title}}
  </label>
  <div class="vlc-radio-inline">
    {{#each optionList as |item index|}}
      <label class="vl-radio">
        {{#if selectedModel}}
          <input
            class="vl-radio__toggle"
            value={{item.id}}
            type="radio"
            name={{title}}
            checked={{eq item.id selectedModel.id}}
            onchange={{action "modelChanged"}}
          />
        {{else}}
          <input
            class="vl-radio__toggle"
            value={{item.id}}
            type="radio"
            name={{title}}
            checked={{eq index 1}}
            onchange={{action "modelChanged"}}
          />
        {{/if}}
        <div class="vl-radio__label">
          {{item.label}}
        </div>
      </label>
    {{/each}}
  </div>
</div>