{{#if @route}}
  <LinkTo class="vlc-button-link {{this.skin}} {{this.block}} {{this.padded}}" type="button" @route={{@route}} ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</Button::InnerLayout>
  </LinkTo>
{{/if}}

{{#if @href}}
  <a href="{{@href}}" class="vlc-button-link {{this.skin}} {{this.block}} {{this.padded}}" ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</Button::InnerLayout>
  </a>
{{/if}}

{{#if (not (and @href @route))}}
  <button class="vlc-button-link {{this.skin}} {{this.block}} {{this.padded}}" type="button" ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</Button::InnerLayout>
  </button>
{{/if}}
