<div class="vlc-document-card">
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__badge">
      <div
        class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
      >
        <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
      </div>
    </div>
    <div class="vlc-document-card__content">
      <div class="vlc-toolbar vlc-toolbar--auto">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <p class="vlc-subline">
              {{await document.type.label}}
            </p>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <span class="vlc-pill vlc-pill--success">
              {{await document.confidentiality.label}}
            </span>
          </div>
          <div class="vlc-toolbar__item">
            {{#if (or isAdmin isEditor)}}
              <span class="vl-icon vl-vi vl-vi-lock-unlock"></span>
              <button class="vl-button vl-button--link vl-button--icon">
                <i class="vl-vi vl-vi-nav-show-more-horizontal"></i>
              </button>
              {{#attach-popover
                class="ember-attacher-popper"
                hideOn="clickout click"
                showOn="click"
                animation="shift"
                placement="bottom" as |attacher|
              }}
                <ul class="vl-popover__link-list">
                  <li class="vl-popover__link-list__item">
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "openUploadDialog" document}}
                    >
                      {{t "new-version"}}
                    </a>
                  </li>
                  <li class="vl-popover__link-list__item">
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "toggleIsEditing"}}
                    >
                      {{t "document-title-edit"}}
                    </a>
                  </li>
                </ul>
              {{/attach-popover}}
            {{/if}}
          </div>
        </div>
      </div>
      <h6 class="vl-title vl-title--h6">
        {{#if (not isEditing)}}
          <span {{action "toggleIsEditing"}}>
            {{document-name
              documentVersion=(await document.lastDocumentVersion)
              item=item
            }}
          </span>
        {{else}}
          <div class="vl-u-display-flex vl-u-display-flex-align-center">
            <div class="vl-form__input" style="width:75%">
              {{input
                type="text"
                id=id
                class="vl-input-field vl-input-field--block"
                value=numberVr
              }}
            </div>
            <button
              class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
              {{action "saveChanges"}}
            >
              <i
                class="vl-vi vl-vi-save vl-button__icon"
                aria-hidden="true"
              ></i>
              <span class="vl-u-visually-hidden">
                {{t "more-options"}}
              </span>
            </button>
            <button
              class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
              {{action "toggleIsEditing"}}
            >
              <i
                class="vl-vi vl-vi-cross vl-button__icon"
                aria-hidden="true"
              ></i>
              <span class="vl-u-visually-hidden">
                {{t "more-options"}}
              </span>
            </button>
          </div>
        {{/if}}
      </h6>
      <div class="vlc-document-card-content__meta">
        {{t "uploaded-at"}}
        {{moment-format
          (await document.lastDocumentVersion.created)
          "DD.MM.YYYY"
        }}
        {{t "at"}}
        {{moment-format (await document.lastDocumentVersion.created) "HH:mm"}}
      </div>
    </div>
  </div>
  {{#if (gt (await document.reverseSortedDocumentVersions.length) 0)}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{openClass}}">
        <button
          class="vl-toggle vl-link vl-link--bold"
          {{action "showVersions"}}
        >
          <i
            class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-right-fat"
          ></i>
          {{t "show-versions"}}
        </button>
        {{#if isShowingVersions}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each
                (await
                  document.reverseSortedDocumentVersions
                ) as |documentVersion|
              }}
                {{web-components/vl-document documentVersion=documentVersion}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
{{#if isShowingDocumentVersionViewer}}
  {{#web-components/vl-modal
    closeModal=(action "closeModal")
    isOverlay=true
    title=(t "new-document-version")
  }}
    {{kaleidos-viewer documentVersion=documentVersionToShow}}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isUploadingNewVersion}}
  {{#web-components/vl-modal
    closeModal=(action "openUploadDialog")
    isOverlay=true
    title=(t "new-document-version")
  }}
    <div class="vl-modal-dialog__content">
      <div class="vl-u-spacer-extended-bottom-s">
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value="Naam van bestand"}}
          {{web-components/vl-form-input width="4" value=fileName}}
        </div>
      </div>
      {{#if (not uploadedFile)}}
        {{file-uploader
          multipleFiles=false
          uploadedFile=(action "getUploadedFile")
        }}
      {{else}}
        <div class="document">
          {{fa-icon "file"}}
          {{await uploadedFile.name}}
          <a {{action "removeFile" uploadedFile}}>
            {{fa-icon "remove"}}
          </a>
        </div>
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add")
      cancelAction=(action "openUploadDialog")
      saveAction=(action "uploadNewVersion")
    }}
  {{/web-components/vl-modal}}
{{/if}}