<div class="vlc-document-card">
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <div class="vlc-toolbar vlc-toolbar--auto">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <p class="vlc-subline vlc-document-card__subline">
              {{await document.type.label}}
            </p>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item vl-u-display-flex">
            {{#if lastDocumentVersion}}
              {{access-level-pill item=lastDocumentVersion}}
            {{/if}}
          </div>
          <div class="vlc-toolbar__item">
            {{#if isEditor}}
              <button class="vl-button vl-button--link vl-button--icon">
                <i class="vl-vi vl-vi-nav-show-more-horizontal"></i>
                {{#attach-popover
                  class="ember-attacher-popper"
                  hideOn="clickout click"
                  showOn="click"
                  animation="shift"
                  placement="bottom" as |attacher|
                }}
                  <ul class="vl-popover__link-list">
                    <li class="vl-popover__link-list__item">
                      <a
                        class="vl-link vl-link--block"
                        {{action attacher.hide}}
                        {{action "openUploadDialog" document}}
                      >
                        {{t "new-version"}}
                      </a>
                    </li>
                    <li class="vl-popover__link-list__item">
                      <a
                        class="vl-link vl-link--block"
                        {{action attacher.hide}}
                        {{action "toggleIsEditing"}}
                      >
                        {{t "document-title-edit"}}
                      </a>
                    </li>
                    <li class="vl-popover__link-list__separator" role="none"></li>
                    <li class="vl-popover__link-list__item">
                      <a
                        class="vl-link vl-link--block vl-u-text--error"
                        {{action attacher.hide}}
                        {{action "deleteDocument" document}}
                      >
                        {{t "document-delete"}}
                      </a>
                    </li>
                  </ul>
                {{/attach-popover}}
              </button>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="vl-u-display-flex">
        <div
          class="vlc-document-card__badge
            {{if
              document.checkAdded
              "vlc-document-list__item vlc-document-list__item--active"
            }}"
        >
          <div
            class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
          >
            <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
          </div>
        </div>

        <div class="vl-u-display-flex vl-u-flex-direction-column vlc-u-box-model-maximize-width">
            {{#if (not isEditing)}}
            <h6 class="vl-title vl-title--h6">
              <span {{action "toggleIsEditing"}}>
                {{await lastDocumentVersionName}}
              </span>
            </h6>
            {{else}}
              <div class="vl-u-display-flex vl-u-display-flex-align-center">
                  {{input
                    type="text"
                    id=id
                    class="vl-input-field vl-input-field--block"
                    value=(mut document.name)
                  }}
                <button
                  class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
                  {{action "saveChanges"}}
                >
                  <i
                    class="vl-vi vl-vi-save vl-button__icon"
                    aria-hidden="true"
                  ></i>
                  <span class="vl-u-visually-hidden">
                    {{t "more-options"}}
                  </span>
                </button>
                <button
                  class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
                  {{action "cancelChanges"}}
                >
                  <i
                    class="vl-vi vl-vi-cross vl-button__icon"
                    aria-hidden="true"
                  ></i>
                  <span class="vl-u-visually-hidden">
                    {{t "more-options"}}
                  </span>
                </button>
              </div>
            {{/if}}
          <div class="vlc-document-card-content__meta">
            {{t "uploaded-at"}}
            {{moment-format (await document.lastDocumentVersion.created)}}
            {{t "at"}}
            {{moment-format (await document.lastDocumentVersion.created) "HH:mm"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if (gt (await numberOfDocumentVersions) 0)}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{openClass}}">
        <button
          class="vl-toggle vl-link vl-link--bold"
          {{action "showVersions"}}
        >
          <i
            class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-right-fat"
          ></i>
          {{t "show-versions"}}
        </button>
        {{#if isShowingVersions}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each
                (await
                  myReverseSortedVersions
                ) as |documentVersion|
              }}
                {{web-components/vl-document
                  documentVersion=documentVersion
                  item=item
                }}
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
{{#if isUploadingNewVersion}}
  {{#web-components/vl-modal
    closeModal=(action "closeUploadDialog")
    isOverlay=true
    title=(t "new-document-version")
  }}
    <div class="vl-modal-dialog__content">
      {{#if (not uploadedFile)}}
        {{file-uploader multipleFiles=false uploadedFile=(action "add")}}
      {{else}}
        {{ember-kaleidos-webuniversum/vl-uploaded-document
          name=lastDocumentVersion.file.filename
          extension=lastDocumentVersion.file.extension
          size=lastDocumentVersion.file.size
          downloadName=lastDocumentVersion.file.filename
          downloadLink=(concat
            lastDocumentVersion.file.downloadLink
            "?name="
            lastDocumentVersion.file.filename
          )
          delete=(action "delete")
        }}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add")
      isLoading=isLoading
      cancelAction=(action "closeUploadDialog")
      saveAction=(action "saveDocuments")
      disableSave=(not uploadedFile)
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isVerifyingDelete}}
  {{web-components/vl-modal-verify
    title=(t "document-delete")
    message=(t "delete-document-message")
    cancel=(action "cancel")
    verify=(action "verify")
  }}
{{/if}}