<div class="vl-custom">
  <div class="vl-info-tile vl-info-tile--custom">
    <header class="vl-info-tile__header">
      <div class="vl-info-tile__header__wrapper">
        <div class="vlc-toolbar vl-u-flex-align-left">
          <div class="vlc-toolbar__left">
            <div class="vl-u-spacer-extended-right">
              <div class="vl-custom">
                <div class="vl-badge vl-badge--custom vl-badge--icon">
                  <i class="vl-badge__icon vl-vi vl-vi-file"></i>
                </div>
              </div>
            </div>
            <div>
              <h5 class="vl-u-text--uppercase vl-u-text--bold vl-u-text--small">
                {{await document.type.label}}
              </h5>
              {{document-name document=(await document) agendaitem=agendaitem}}
              <p class="vl-info-tile__header__subtitle">
                Laatst geupload op
                {{moment-format
                  document.lastDocumentVersion.created
                  "DD.MM.YYYY"
                }}
                om
                {{moment-format document.lastDocumentVersion.created "HH:mm"}}
              </p>
            </div>
          </div>
          <div class="vlc-toolbar__right">
            <div class="vl-action-group">
              <div class="vl-u-spacer-extended-right-s">
                <div class="vl-custom">
                  <span class="vl-pill vl-pill--success">
                    {{await document.confidentiality.label}}
                  </span>
                </div>
              </div>
              <div class="vl-u-spacer-extended-right-s vl-u-text--muted">
                <span class="vl-icon vl-vi vl-vi-lock-unlock"></span>
              </div>
              <button class="vl-button vl-button--link vl-button--icon">
                <i class="vl-vi vl-vi-nav-show-more-horizontal"></i>
              </button>
              {{#attach-popover
                class="ember-attacher-popper"
                hideOn="clickout click"
                showOn="click"
                animation="shift"
                placement="bottom" as |attacher|
              }}
                <ul class="vl-popover__link-list">
                  <li class="vl-popover__link-list__item">
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "openUploadDialog" document}}
                    >
                      {{t "file-uploader.new-version"}}
                    </a>
                  </li>
                </ul>
              {{/attach-popover}}
            </div>
          </div>
        </div>
      </div>
    </header>
    {{#if (await filteredDocumentVersions)}}
      <footer>
        <div class="vl-custom">
          <div class="js-vl-accordion js-vl-accordion--open">
            <button class="vl-toggle vl-link" {{action "showVersions"}}>
              <i
                class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-right-fat"
              ></i>
              {{t "show-versions"}}
            </button>
            {{#if isShowingVersions}}
              <div class="vl-accordion__content js-vl-accordion__content">
                <div
                  class="vl-accordion__panel vl-accordion__panel--custom vl-u-bg-porcelain"
                >
                  <div class="vl-custom">
                    <ul class="vl-link-list vl-link-list--bordered">
                      {{#each
                        (await filteredDocumentVersions) as |documentVersion|
                      }}
                        <li class="vl-link-list__item">
                          <div class="vl-u-spacer">
                            <div
                              class="vl-u-display-flex vl-u-flex-align-center"
                            >
                              <p>
                                {{documentVersion.versionNumber}}. {{documentVersion.nameToDisplay}}
                              </p>
                              <button
                                class="vl-button vl-button--link vl-button--icon"
                                {{action "downloadFile" documentVersion}}
                              >
                                <i
                                  class="vl-button__icon vl-vi vl-vi-move-down"
                                ></i>
                              </button>
                            </div>
                            <p class="vl-u-text--small vl-u-text--muted">
                              Geupload op
                              {{moment-format
                                documentVersion.created
                                "DD.MM.YYYY"
                              }}
                              om
                              {{moment-format documentVersion.created "HH:mm"}}
                            </p>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </footer>
    {{/if}}
  </div>
</div>
{{#if isUploadingNewVersion}}
  {{#web-components/vl-modal
    closeModal=(action "openUploadDialog")
    isOverlay=true
    title=(t "new-document-version")
  }}
    <div class="vl-modal-dialog__content">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value="Naam van bestand"}}
        {{web-components/vl-form-input width="4" value=fileName}}
      </div>
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value="Bijlagen"}}
        {{#if (not uploadedFile)}}
          {{file-uploader
            multipleFiles=false
            uploadedFile=(action "getUploadedFile")
          }}
        {{else}}
          <div class="document">
            {{fa-icon "file"}}
            {{await uploadedFile.name}}
            <a {{action "removeFile" uploadedFile}}>
              {{fa-icon "remove"}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--link vl-button--narrow"
              {{action "openUploadDialog"}}
            >
              {{t "buttons.cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--narrow"
              {{action "uploadNewVersion"}}
            >
              {{t "file-uploader.uploading"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/web-components/vl-modal}}
{{/if}}