<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <Auk::Toolbar class="auk-u-mb-4" as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-toolbar__title">
            {{t "documents"}}
          </h4>
        </Group.Item>
        <AuPill
          @size="small"
          @skin="border"
          @icon="comment"
        >
          <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
            {{t "filtered-subcase-documents"}}
          </EmberTooltip>
        </AuPill>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        {{#if this.model.pieces.length}}
          <Group.Item>
            {{#if (user-may "manage-documents")}}
              <AuButton
                data-test-route-cases---subcase-documents-batch-edit
                @icon="pencil"
                {{on "click" this.openBatchDetails}}
              >
                {{t "batch-edit"}}
              </AuButton>
            {{/if}}
          </Group.Item>
        {{/if}}
      </Toolbar.Group>
    </Auk::Toolbar>

    {{#if this.documentsAreVisible}}
      <Documents::DocumentCardList
        @pieces={{this.model.pieces}}
        @onAddPiece={{perform this.addPiece}}
        @didDeleteContainer={{this.refresh}}
        @isEditable={{true}}
      />
    {{else}}
      <div class="auk-u-mt-2">
        <AuAlert
          @skin="info"
          @icon="info-circle"
        >
          {{t "no-documents-yet"}}
        </AuAlert>
      </div>
    {{/if}}

    {{#if (user-may "manage-documents")}}
      <div class="auk-u-mb-4">
        <AuButton
          data-test-route-cases---subcase-documents-add
          @skin="naked"
          @icon="plus"
          {{on "click" this.openPieceUploadModal}}
        >
          {{t "documents-add"}}
        </AuButton>
      </div>
    {{/if}}

    <Documents::LinkedDocuments @agendaitemOrSubcase={{this.subcase}}/>
  </div>
</div>

<ConfirmationModal
  @modalOpen={{this.isOpenPieceUploadModal}}
  @title={{t "document-add"}}
  @overflow={{true}}
  @onConfirm={{perform this.savePieces}}
  @onCancel={{perform this.cancelUploadPieces}}
  @confirmMessage={{t "documents-add"}}
  @disabled={{eq this.newPieces.length 0}}
  @loading={{this.savePieces.isRunning}}
>
  <:body>
    {{#if this.savePieces.isRunning}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else}}
      <Auk::FileUploader
        @multiple={{true}}
        @reusable={{true}}
        @onUpload={{this.uploadPiece}}
      />
      <div class="upload-container">
        {{#each this.newPieces as |piece|}}
          <Documents::UploadedDocument
            @piece={{piece}}
            @allowDocumentContainerEdit={{true}}
            @onDelete={{perform this.deletePiece piece}} />
        {{/each}}
      </div>
    {{/if}}
  </:body>
</ConfirmationModal>

{{#if this.isOpenBatchDetailsModal}}
  <Documents::BatchDetails::BatchDocumentsDetailsModal
    @pieces={{this.model.pieces}}
    @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
    @onCancel={{this.cancelBatchDetails}}
    @onSave={{this.saveBatchDetails}}
  />
{{/if}}