<div class="auk-scroll-wrapper__body">
  <Subcase::Detail::Regular
    @subcase={{@model.subcase}}
    @case={{@model._case}}
    @pieces={{@model.pieces}}
    @meeting={{this.meeting}}
    @mandatees={{this.mandatees}}
    @submitter={{this.submitter}}
    @saveMandateeData={{this.saveMandateeData}}
    @agenda={{this.agenda}}
    @saveGovernmentAreas={{this.saveGovernmentAreas}}
    @documentsAreVisible={{this.documentsAreVisible}}
    @addPiece={{this.addPiece}}
    @refresh={{this.refresh}}
    @openPieceUploadModal={{this.openPieceUploadModal}}
    @isOpenPieceUploadModal={{this.isOpenPieceUploadModal}}
    @savePieces={{this.savePieces}}
    @cancelUploadPieces={{this.cancelUploadPieces}}
    @newPieces={{this.newPieces}}
    @uploadPieces={{this.uploadPieces}}
    @deletePiece={{this.deletePiece}}
  />
</div>