{{#if this.model}}
<Subcase::SubcaseDescriptionPanel @subcase={{@model.subcase}} />
<div class="auk-u-mb-8">
  <div class="auk-hr">
    <hr />
  </div>
</div>
{{#if (user-may "manage-cases")}}
  <AuCheckbox
    data-test-cases---subcase-overview-confidentiality-checkbox={{true}}
    @checked={{@model.subcase.confidential}}
    @disabled={{true}}
  >
    {{t "limited-access"}}
  </AuCheckbox>
{{/if}}
<Subcase::SubcaseTitlesPanel
  @subcase={{@model.subcase}}
  @meeting={{this.meeting}}
  @allowEditing={{user-may "manage-cases"}}
/>
<Mandatees::MandateesPanel
  @referenceDate={{if
    this.meeting
    this.meeting.plannedStart
    this.model.subcase.created
  }}
  @mandatees={{this.mandatees}}
  @submitter={{this.submitter}}
  @emptyStateMessage={{if this.showMandateesNotApplicableMessage (t "not-applicable")}}
  @allowEditing={{user-may "manage-cases"}}
  @onSave={{this.saveMandateeData}}
/>
<Utils::GovernmentAreas::GovernmentAreasPanel
  @referenceDate={{or this.meeting.plannedStart this.agenda.created @model.subcase.created}}
  @governmentAreas={{@model.subcase.governmentAreas}}
  @allowEditing={{user-may "manage-cases"}}
  @onSave={{this.saveGovernmentAreas}}
/>
{{/if}}