<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-4">
    {{!-- {{#if @model.subcase.isBekrachtiging}} --}}
    {{#if false}}
      <Subcase::Detail::Bekrachtiging
        @subcase={{@model.subcase}}
        @case={{@model._case}}
        @pieces={{@model.pieces}}
      />
    {{else}}
      <Subcase::Detail::Regular
        @subcase={{@model.subcase}}
        @case={{@model._case}}
        @pieces={{@model.pieces}}
      />
    {{/if}}
  </div>
</div>