{{#if this.model}}
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8">
      <Subcase::SubcaseDescriptionPanel @subcase={{@model.subcase}} />
      <div class="auk-u-mb-8">
        <div class="auk-hr">
          <hr />
        </div>
      </div>
      {{#if this.currentSession.isEditor}}
        {{! TODO these classes do not exist and do nothing }}
        <div class="confidentialities">
          <div class="confidential">
            <Auk::Checkbox
              @checked={{@model.subcase.confidential}}
              @label={{t "confidential"}}
              @disabled={{true}}
              data-test-cases---subcase-overview-confidentiality-checkbox={{true}}
            />
          </div>
        </div>
      {{/if}}
      <Subcase::SubcaseTitlesPanel
        @subcase={{@model.subcase}}
        @allowEditing={{this.currentSession.isEditor}}
      />
      <Mandatees::MandateesPanel
        @referenceDate={{if
          this.meeting
          this.meeting.plannedStart
          this.model.subcase.created
        }}
        @mandatees={{this.mandatees}}
        @submitter={{this.submitter}}
        @emptyStateMessage={{if this.showMandateesNotApplicableMessage (t "not-applicable")}}
        @allowEditing={{this.currentSession.isEditor}}
        @onSave={{this.saveMandateeData}}
      />
      <Utils::GovernmentAreas::GovernmentAreasPanel
        @governmentAreas={{@model.subcase.governmentAreas}}
        @allowEditing={{this.currentSession.isEditor}}
        @onSave={{this.saveGovernmentAreas}}
      />
      <Subcases::SubcasesHistory
        @decisionmakingFlow={{this.decisionmakingFlow}}
        @subcases={{@model.siblingSubcases}}
        @page={{this.page}}
        @size={{this.size}}
        @onNextPage={{this.nextPage}}
        @onPreviousPage={{this.prevPage}}
        @onSetSizeOption={{this.setSizeOption}}
      />
    </div>
  </div>
{{/if}}