{{#if (and (await item.subcase.case.id) isEditor)}}
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="vl-u-display-flex vl-u-flex-align-baseline">
      {{#link-to
        "cases.case.subcases.subcase.overview"
        (await item.subcase.case.id)
        (await item.subcase.id)
        class="vl-link"
      }}
        {{t "to-subcase"}}
      {{/link-to}}
    </div>
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vl-u-display-flex-align-center">
    <h2 class="vlc-subline">
      {{#if (not item.showAsRemark)}}
        {{t "note"}}
      {{else}}
        {{t "text"}}
      {{/if}}
    </h2>
    {{#if isEditor}}
      <div class="vl-u-spacer-extended-left-s">
        <a class="vl-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  <h4 class="vl-title vl-title--h4">
    <pre>
      {{await item.shortTitle}}
    </pre>
  </h4>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  {{#if (await shouldShowDetails)}}
    <pre class="no-capitalize">
      {{await item.title}}
    </pre>
  {{/if}}
</div>
{{#if isAgendaItem}}
  <div class="vl-u-spacer-extended-bottom-s">
    <pre class="vl-u-text--muted no-capitalize">
      {{await item.explanation}}
    </pre>
  </div>
{{/if}}
{{#if (not item.showAsRemark)}}
  <div class="vl-u-spacer-extended-bottom-s">
    {{#if (await subcaseName)}}
      <span class={{await pillClass}}>
        {{await subcaseName}}
      </span>
    {{/if}}
  </div>
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="pill-container vl-u-display-flex">
      {{#if isAgendaItem}}
        {{#if (and isEditor (await item.formallyOkToShow))}}
          <span
            class="{{item.formallyOkToShow.pillClassNames}}
               vl-u-spacer-extended-right-s"
          >
            {{item.formallyOkToShow.label}}
          </span>
        {{/if}}
      {{/if}}
      {{#if (await confidential)}}
        <span class="vlc-pill vl-icon vlc-pill--error vl-vi vl-vi-lock"></span>
      {{else}}
        <span
          class="vlc-pill vl-u-spacer-extended-right-s vl-icon vlc-pill--success vl-vi vl-vi-lock-unlock"
        ></span>
      {{/if}}
    </div>
  </div>
  {{#if (await item.isPostponed)}}
    <div class="vl-u-spacer-extended-bottom-s">
      <div class="pill-container vl-u-display-flex">
        <span class="vl-pill vl-u-text--capitalize">
          {{t "postponed-item"}}
        </span>
      </div>
    </div>
  {{/if}}
{{else}}
  {{#if isAgendaItem}}
    <div class="vl-u-spacer-extended-bottom-s">
      <div class="pill-container vl-u-display-flex">
        <span
          class="vlc-pill
            {{if item.showInNewsletter "vlc-pill--success" "vlc-pill--error"}}
            vl-u-spacer-extended-right-s"
        >
          {{#if item.showInNewsletter}}
            <span>
              {{t "visible-in-newsletter"}}
            </span>
            <i
              class="vl-button__icon vl-vi vl-vi-view-add vl-u-spacer-extended-left-s"
            ></i>
          {{else}}
            <span>
              {{t "hidden-in-newsletter"}}
            </span>
            <i
              class="vl-button__icon vl-vi vl-vi-hide vl-u-spacer-extended-left-s"
            ></i>
          {{/if}}
        </span>
      </div>
    </div>
  {{/if}}
{{/if}}