{{#if (and (await item.subcase.case.id) isAdmin)}}
  <div class="vl-u-spacer-extended-bottom-s">
    {{#link-to
      "cases.case.subcases.subcase"
      (await item.subcase.case.id)
      (await item.subcase.id)
      class="vl-link"
    }}
      {{t "to-subcase"}}
    {{/link-to}}
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vl-u-display-flex-align-center">
    <div class="vlc-subline">
      {{#if (await case.type.label)}}
        {{await case.type.label}}
      {{else if (await item.isOC)}}
        {{await case.policyLevel.label}}
      {{/if}}
    </div>
    <div class="vl-u-spacer-extended-left-s">
      {{#if (or isAdmin isEditor)}}
        <a class="vl-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      {{/if}}
    </div>
  </div>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  <h4 class="vl-title vl-title--h4">
    {{await item.shortTitle}}
  </h4>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  <p>
    {{await item.title}}
  </p>
</div>
{{#if (not (await item.isOC))}}
  {{#if (not item.showAsRemark)}}
    <div class="vl-u-spacer-extended-bottom-s">
      <span class="vl-pill vl-pill--warning">
        {{#if (await item.subcase)}}
          {{await item.subcase.subcaseName}}
        {{else}}
          {{await item.subcaseName}}
        {{/if}}
      </span>
      {{#if item.confidential}}
        <span class="vl-pill vl-pill--warning">
          {{t "public"}}
        </span>
      {{/if}}
      {{#if isAgendaItem}}
        {{#if (and (or isEditor isAdmin) (await item.formallyOk))}}
          <span class="vlc-pill vlc-pill--success">
            {{t "formal-ok"}}
          </span>
        {{else}}
          <span class="vl-pill">
            {{t "formal-nok"}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}