{{#if (and (await item.subcase.case.id) isAdmin)}}
  <div class="vl-u-spacer-extended-bottom-s">
    {{#link-to
      "cases.case.subcases.subcase"
      (await item.subcase.case.id)
      (await item.subcase.id)
      class="vl-link"
    }}
      {{t "to-subcase"}}
    {{/link-to}}
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vl-u-display-flex-align-center">
    <div class="vlc-subline">
      {{#if (await case.type.label)}}
        {{await case.type.label}}
      {{else if (await item.isOC)}}
        {{await case.policyLevel.label}}
      {{/if}}
    </div>
    <div class="vl-u-spacer-extended-left-s">
      {{#if (or isAdmin isEditor)}}
        <a class="vl-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      {{/if}}
    </div>
  </div>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  <h4 class="vl-title vl-title--h4">
    {{await item.shortTitle}}
  </h4>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  {{#if (not (await shouldShowDetails))}}
    {{#link-to
      "print-overviews.notes.overview"
      (await meetingId)
      (await agendaId)
      (query-params definite=true)
      class="vl-link"
      target="_blank"
    }}
      {{t "show-minutes"}}
    {{/link-to}}
  {{else}}
    <p>
      {{await item.title}}
    </p>
  {{/if}}
</div>
{{#if (not (await item.isOC))}}
  {{#if (not item.showAsRemark)}}
    <div class="vl-u-spacer-extended-bottom-s">
      {{#if (await item.subcase.id)}}
        {{#if (await item.subcase.approved)}}
          <span class="vl-pill vl-pill--success vl-u-text--capitalize">
            {{await item.subcase.subcaseName}}
          </span>
        {{else}}
          <span class="vl-pill vl-pill--warning vl-u-text--capitalize">
            {{await item.subcase.subcaseName}}
          </span>
        {{/if}}
      {{else if (await item.approved)}}
        <span class="vl-pill vl-pill--success">
          {{await item.subcaseName}}
        </span>
      {{/if}}
      {{#if item.confidential}}
        <span class="vl-pill vl-pill--warning">
          {{t "public"}}
        </span>
      {{else if (await item.subcase.confidential)}}
        <span class="vl-pill vl-pill--warning">
          {{t "public"}}
        </span>
      {{/if}}
      {{#if isAgendaItem}}
        {{#if (and (or isEditor isAdmin) (await item.formallyOkToShow))}}
          <span class="{{item.formallyOkToShow.pillClassNames}}">
            {{item.formallyOkToShow.label}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}