{{#if (and (await item.subcase.case.id) isAdmin)}}
  <div class="vl-u-spacer">
    {{#link-to
      "cases.case.subcases.subcase"
      (await item.subcase.case.id)
      (await item.subcase.id)
      class="vl-link"
    }}
      {{t "to-subcase"}}
    {{/link-to}}
  </div>
{{/if}}
<div class="vl-u-spacer">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "agendaitem-title"}}
      </h4>
      <div class="vl-u-spacer-extended-left-s">
          {{#if (or isAdmin isEditor)}}
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        {{/if}}
      </div>
    </div>
    <div class="vl-u-display-flex vl-u-display-flex-align-center">
      <h2 class="vl-u-text--uppercase vl-u-text--bold">
        {{!-- {{await agendaitem.subcase.case.type.label}} --}}
      </h2>
    </div>
  </div>
  <h3 class="vl-title vl-title--h3">
    {{await item.shortTitle}}
  </h3>
  <p>
    {{await item.title}}
  </p>
</div>
{{#if (and (or isEditor isAdmin) (not item.showAsRemark))}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      {{#if (await item.confidentiality)}}
        <div class="vl-custom">
          <span class="vl-pill vl-pill--success">
            {{await item.confidentiality.label}}
          </span>
        </div>
      {{/if}}
      {{#if (await item.formallyOk)}}
        <span class="vlc-pill vlc-pill--success">
          {{t "formal-ok"}}
        </span>
      {{else}}
        <span class="vlc-pill vlc-pill--warning">
          {{t "formal-nok"}}
        </span>
      {{/if}}
    </div>
  </div>
{{/if}}