{{ page-title
  (t "search")
}}
<div class="vlc-u-box-model-maximize-height auk-scroll-wrapper">
  <Auk::Navbar @skin="gray-100">
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h2 class="auk-toolbar__title">
            {{capitalize (t "search")}}
          </h2>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Navbar>

  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8 auk-u-mt-4">
      <div class="auk-o-grid auk-o-flex--align-end auk-u-mb-2">
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <div class="auk-o-flex auk-o-flex--align-baseline">
              <Auk::Label for="dossierId" class="auk-u-mr">
                {{capitalize (t "keyword")}}
              </Auk::Label>
              <span>
                <i
                  class="ki-circle-info auk-u-cursor-pointer auk-icon--muted"
                  aria-hidden="true"
                  {{on "click" this.openPopover}}
                >
                </i>
                <AttachPopover
                  @class="auk-popover"
                  @showOn="click"
                  @placement="right"
                  @hideOn="clickout"
                  @isShown={{this.popoverShown}}
                  @renderInPlace={{true}}
                >
                  <Utils::SearchLegend @userClickedClose={{this.closePopover}}/>
                </AttachPopover>
              </span>
            </div>
            <Input
              data-test-route-search-input=""
              class="auk-input auk-input--block"
              type="text"
              id="dossierId"
              @placeholder={{t "search-placeholder"}}
              @value={{this.searchTextBuffer}}
              @enter={{fn this.search}}
            />
          </div>
        </div>
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "from"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateFromBuffer}}
              @dateChanged={{fn (mut this.dateFromBuffer)}}
            />
            {{#if this.dateFromBuffer}}
              <Auk::Button
                @skin="muted-borderless"
                @layout="icon-only"
                @icon="close"
                class="auk-button-in-input"
                {{on "click" (fn (mut this.dateFromBuffer) null)}}
                data-test-route-search-datepicker-button
              />
            {{/if}}
          </div>
        </div>
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateToBuffer}}
              @dateChanged={{fn (mut this.dateToBuffer)}}
            />
            {{#if this.dateToBuffer}}
              <Auk::Button
                @skin="muted-borderless"
                @layout="icon-only"
                @icon="close"
                class="auk-button-in-input"
                {{on "click" (fn (mut this.dateToBuffer) null)}}
              />
            {{/if}}
          </div>
        </div>
        <div class="auk-o-grid-col-2">
          <div class="auk-form-group">
            <Auk::Label for="ministerName">
              {{t "minister"}}
            </Auk::Label>
            <Input
              type="text"
              class="auk-input auk-input--block"
              id="ministerName"
              @value={{this.mandateesBuffer}}
              @enter={{fn this.search}}
            />
          </div>
        </div>
        <div class="auk-o-grid-col-1">
          <Auk::Button
            @skin="primary"
            @icon="search"
            data-test-route-search-trigger
            type="button"
            {{on "click" this.search}}
          >
            {{t "search"}}
          </Auk::Button>
        </div>
      </div>

      <Auk::Navbar class="auk-u-p-0 auk-u-mb-6">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <Auk::Tabs>
                {{!-- Page-number reset when clicking a search type. It is assumed that users don't want
                      to go back and forth between search results for the different types while keeping the
                      page-number. --}}
                {{!-- We aliased 'page' to 'pagina', so we have to use the alias here to avoid ember error --}}
                <Auk::Tab
                  @route="search.agenda-items"
                  @current-when="search.agenda-items"
                  @query={{hash pagina=0}}
                >
                  {{t "agendaitems"}}
                </Auk::Tab>
                <Auk::Tab
                  @route="search.cases"
                  @current-when="search.cases"
                  @query={{hash pagina=0}}
                >
                  {{t "cases"}}
                </Auk::Tab>
              </Auk::Tabs>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Navbar>

      {{outlet}}
    </div>
  </div>
</div>