{{ page-title
  (t "search")
}}
<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__item">
        <h1 class="vlc-page-header__title vlc-page-header__title--bordered auk-u-pb"
            data-test-agendas-title>
          {{capitalize (t "search")}}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="vlc-scroll-wrapper__body">
  <div class="auk-u-m-8 auk-u-mt-4 vlc-u-box-model-maximize-height">
    <div class="auk-o-grid auk-u-flex--align-end auk-u-mb-2">
      <div class="vlc-input-field-block auk-o-grid-col-4">
        <div class="auk-u-flex auk-u-flex--align-baseline">
          <label class="vl-form__label u-padding--right--tinier" for="dossierId">
            {{capitalize (t "keyword")}}
          </label>
          <span>
            <i
              class="ki-circle-info auk-u-cursor-pointer auk-icon--muted"
              aria-hidden="true"
              {{on "click" this.openPopover}}
            >
            </i>
            <AttachPopover
              @class="ember-attacher-popper vlc-search-legend-popover auk-u-cursor-default"
              @showOn="click"
              @placement="right"
              @hideOn="clickout"
              @isShown={{this.popoverShown}}
              @renderInPlace={{true}}
            >
              <Utils::SearchLegend @userClickedClose={{this.closePopover}}/>
            </AttachPopover>
          </span>
        </div>
        <Input
          data-test-searchfield
          class="vl-input-field vl-input-field--block"
          type="text"
          id="dossierId"
          @placeholder={{t "search-placeholder"}}
          @value={{this.searchTextBuffer}}
          @enter={{fn this.search}}
        />
      </div>
      <div class="vlc-input-field-block auk-o-grid-col-2">
        <WebComponents::VlFormLabel @value={{t "from"}}/>
        <WebComponents::VlDatepicker
          @selectedDate={{array this.dateFromBuffer}}
          @dateChanged={{fn (mut this.dateFromBuffer)}}
        />
        {{#if this.dateFromBuffer}}
          <button
            data-test-searchbutton
            type="button"
            class="vlc-button-in-input vl-button vl-button--link-muted vl-button--icon"
            {{on "click" (fn (mut this.dateFromBuffer) null)}}
          >
            <i class="vl-button__icon ki-close" aria-hidden="true"></i>
          </button>
        {{/if}}
      </div>
      <div class="vlc-input-field-block auk-o-grid-col-2">
        <WebComponents::VlFormLabel @value={{t "until-inclusive"}}/>
        <WebComponents::VlDatepicker
          @selectedDate={{array this.dateToBuffer}}
          @dateChanged={{fn (mut this.dateToBuffer)}}
        />
        {{#if this.dateToBuffer}}
          <button
            type="button"
            class="vlc-button-in-input vl-button vl-button--link-muted vl-button--icon"
            {{on "click" (fn (mut this.dateToBuffer) null)}}
          >
            <i class="vl-button__icon ki-close" aria-hidden="true"></i>
          </button>
        {{/if}}
      </div>
      <div class="vlc-input-field-block auk-o-grid-col-2">
        <label class="vl-form__label" for="ministerName">
          {{t "minister"}}
        </label>
        <Input
          type="text"
          class="vl-input-field vl-input-field--block"
          id="ministerName"
          @value={{this.mandateesBuffer}}
          @enter={{fn this.search}}
        />
      </div>
      <div class="auk-o-grid-col-1">
        <WebComponents::AuButton
          @skin="primary"
          @icon="search"
          data-test-trigger-search
          type="button"
          {{on "click" this.search}}
        >
          {{t "search"}}
        </WebComponents::AuButton>
      </div>
    </div>


    <ul class="vl-tabs">
      {{!-- Page-number reset when clicking a search type. It is assumed that users don't want
            to go back and forth between search results for the different types while keeping the
            page-number. --}}
      <li class="vl-tab">
        <LinkTo
          class="vl-tab__link"
          @route="search.agenda-items"
          @current-when="search.agenda-items"
          @activeClass="active"
          @query={{hash page=0}}
        >
          {{t "agendaitems"}}
        </LinkTo>
      </li>
      <li class="vl-tab">
        <LinkTo
          class="vl-tab__link"
          @route="search.cases"
          @current-when="search.cases"
          @activeClass="active"
          @query={{hash page=0}}
        >
          {{t "cases"}}
        </LinkTo>
      </li>
    </ul>
    {{outlet}}
  </div>
</div>