{{#if this.isEditing}}
  <NewsletterItem::EditPanel
    @newsletterItem={{@newsletterItem}}
    @agendaitem={{@agendaitem}}
    @onCancel={{this.closeEdit}}
    @onSave={{this.save}}
  />
{{else}}
  {{#if (or @isDraftView @newsletterItem.inNewsletter)}}
    <div data-test-newsletter-item-content-container class="auk-u-non-breakable-group@print">
      <div class="auk-u-mb-2">
        {{#if @isDraftView}}
          <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-baseline">
            <h4 class="auk-h4 auk-u-m-0">
              {{@agendaitem.number}}.
              {{#if @newsletterItem}}
                {{@newsletterItem.title}}
              {{else}}
                {{@agendaitem.shortTitle}}
              {{/if}}
            </h4>
            {{#if (and @newsletterItem this.canEditNewsletter)}}
              <div class="auk-o-flex auk-o-flex--justify-between ">
                <div class="auk-u-ml-2">
                  <Auk::ButtonLink
                    data-test-newsletter-item-content-edit
                    {{on "click" this.openEdit}}
                  >
                    {{t "edit"}}
                  </Auk::ButtonLink>
                </div>
              </div>
            {{/if}}
            {{#if (and (not @newsletterItem) @agendaitem.title)}}
              <div class="auk-u-mt auk-u-border-left l-printable-newsletter__title">
                {{@agendaitem.title}}
              </div>
            {{/if}}
          </div>
        {{else}}
          <h4 data-test-newsletter-item-content-title class="auk-h4 auk-u-m-0">
            {{@newsletterItem.title}}
          </h4>
        {{/if}}
      </div>

      {{#if this.proposalText}}
        <div class="auk-u-mb-3 l-printable-newsletter__proposal-label" data-test-newsletter-item-content-print-item-proposal>
          {{this.proposalText}}
        </div>
      {{/if}}
    </div>

    {{#if (is-nota @agendaitem.type)}}
      {{#if @newsletterItem.richtext}}
        <p data-test-newsletter-item-content-richtext class="auk-u-mb-2">
          <AuContent>
            <SanitizeHtml @raw={{true}} @value={{@newsletterItem.richtext}} />
          </AuContent>
        </p>
      {{else}}
        <p data-test-newsletter-item-content-no-content class="auk-u-italic auk-u-text-muted auk-u-mb-2">
          {{t "no-newsletter-info"}}
        </p>
      {{/if}}
    {{/if}}

    {{#if (and @isDraftView @newsletterItem.remark)}}
      <p data-test-newsletter-item-content-remark class="auk-u-text-muted auk-u-text-capitalize">
        {{t "remark"}}: {{@newsletterItem.remark}}
      </p>
    {{/if}}

    {{#if @newsletterItem.themes}}
      <div class="auk-u-mt-3 auk-u-non-breakable-group@print">
        {{#each @newsletterItem.themes as |theme|}}
          <AuPill
            @size="small"
            data-test-newsletter-item-content-theme
          >
            {{theme.label}}
          </AuPill>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}