<tr data-test-table-row-newsletter-row class="lt-row">
  <td
    data-test-table-row-newsletter-row-agendaitem-number
    class="lt-cell align-left"
  >
    {{@agendaitem.number}}
  </td>
  <td
    data-test-table-row-newsletter-row-title
    class="lt-cell align-left auk-table__col--7"
  >
    {{#if @newsletterItem}}
      <div class="auk-u-mb-2">
        <p class="auk-u-text-bold">
          {{@newsletterItem.title}}
        </p>
      </div>
      <div class="auk-u-mb-2">
        <SanitizeHtml @raw={{true}} @value={{@newsletterItem.richtext}} />
      </div>
      {{#if @newsletterItem.remark}}
        <p class="auk-u-text-muted auk-u-text-capitalize auk-u-text-size--small">
          {{@newsletterItem.remark}}
        </p>
      {{/if}}
    {{else}}
      <p class="auk-u-text-muted auk-u-italic">
        {{t "no-newsletter-info"}}
      </p>
    {{/if}}
  </td>
  <td class="lt-cell align-left">
    {{#each (await @agendaitem.mandatees) as |mandatee|}}
      {{await mandatee.person.nameToDisplay}}<br />
    {{else}}
      <p class="auk-u-text-muted auk-u-italic">
        {{t "no-ministers"}}
      </p>
    {{/each}}
  </td>
  <td class="lt-cell align-left">
    <Auk::Checkbox
      @checked={{@newsletterItem.inNewsletter}}
      @disabled={{or
        (not @newsletterItem)
        this.saveNewsletterItem.isRunning
      }}
      data-test-table-row-newsletter-row-checkbox-in-newsletter={{true}}
      {{on "input" this.toggleInNewsletterFlag}}
    />
  </td>
  <td class="lt-cell align-left">
    {{#if @newsletterItem}}
      {{moment-format @newsletterItem.modified "DD-MM-YYYY - HH:mm"}}
    {{else}}
      -
    {{/if}}
  </td>
  <td class="lt-cell align-left">
    <div class="auk-o-flex--justify-between">
      {{#if (user-may "manage-newsletter-infos")}}
        <Auk::Button
          data-test-newsletter-table-button-toolbar-edit={{true}}
          @skin="borderless"
          @layout="icon-only"
          @icon="pencil"
          {{on "click" this.openEditView}}
        />
      {{/if}}
      {{#if (is-pending (await @agendaitem.notaOrVisienota))}}
        <div class="auk-loader" role="alert" aria-busy="true">
          <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
            {{t "nota-loading-text"}}
          </EmberTooltip>
        </div>
      {{else}}
        <Auk::Button
          data-test-newsletter-table-button-toolbar-open-nota
          @skin="borderless"
          @layout="icon-only"
          @icon="document"
          @disabled={{not (await @agendaitem.notaOrVisienota)}}
          {{on "click" this.openNota}}
        >
          <:floater>
          <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
            {{if
                (await @agendaitem.notaOrVisienota)
                (t "open-note")
                (t "no-nota")
            }}
          </EmberTooltip>
          </:floater>
        </Auk::Button>
      {{/if}}
      <Auk::Button
        data-test-newsletter-table-button-toolbar-link-to-agendaitem
        @skin="borderless"
        @layout="icon-only"
        @icon="chevron-right"
        @route="agendaitem"
        @model={{@agendaitem.id}}
        target="_blank"
      />
    </div>
  </td>
</tr>

{{#if this.isOpenEditView}}
  <tr class="lt-row lt-expanded-row">
    <td colspan="5">
      <div class="auk-container auk-container--center">
        <NewsletterItem::EditPanel
          @newsletterItem={{@newsletterItem}}
          @agendaitem={{@agendaitem}}
          @onCancel={{this.closeEditView}}
          @onSave={{perform this.saveNewsletterItem}}
        />
      </div>
    </td>
  </tr>
{{/if}}