<tr data-test-table-row-newsletter-row class="lt-row">
  <td
    data-test-table-row-newsletter-row-agendaitem-number
    class="lt-cell align-left"
  >
    {{@agendaitem.number}}
  </td>
  <td
    data-test-table-row-newsletter-row-title-content
    class="lt-cell align-left auk-table__col--7"
  >
    {{#if @newsletterItem}}
      <div class="auk-u-mb-2">
        <p class="auk-u-text-bold">
          {{@newsletterItem.title}}
        </p>
      </div>
      <div class="auk-u-mb-2">
        <AuContent>
          <SanitizeHtml @raw={{true}} @value={{@newsletterItem.htmlContent}} />
        </AuContent>
      </div>
      {{#if @newsletterItem.remark}}
        <p class="auk-u-text-muted auk-u-text-capitalize auk-u-text-size--small">
          {{@newsletterItem.remark}}
        </p>
      {{/if}}
    {{else}}
      <p class="auk-u-text-muted auk-u-italic">
        {{t "no-news-item"}}
      </p>
    {{/if}}
  </td>
  <td class="lt-cell align-left">
    {{#each (await @agendaitem.mandatees) as |mandatee|}}
      {{mandatee.person.fullName}}<br />
    {{else}}
      <p class="auk-u-text-muted auk-u-italic">
        {{t "no-ministers"}}
      </p>
    {{/each}}
  </td>
  <td class="lt-cell align-left">
    <Auk::Checkbox
      @checked={{@newsletterItem.inNewsletter}}
      @disabled={{or
        (not @newsletterItem)
        this.saveNewsletterItem.isRunning
      }}
      data-test-table-row-newsletter-row-checkbox-in-newsletter={{true}}
      {{on "input" this.toggleInNewsletterFlag}}
    />
  </td>
  <td class="lt-cell align-left">
    {{#if @newsletterItem.modified}}
      {{datetime @newsletterItem.modified}}
    {{else}}
      -
    {{/if}}
  </td>
  <td class="lt-cell align-left">
    <AuButtonGroup class="auk-o-flex--no-wrap">
      <AuButton
        @skin="naked"
        @icon="copy"
        @hideText={{true}}
        @disabled={{not @newsletterItem}}
        {{on "click" (fn this.copyText @newsletterItem)}}
      >
        {{t "copy"}}
      </AuButton>
      {{#if (user-may "manage-news-items")}}
        <AuButton
          data-test-newsletter-table-button-toolbar-edit={{true}}
          @skin="naked"
          @icon="pencil"
          @hideText={{true}}
          {{on "click" this.openEditView}}
        >
          {{t "edit"}}
        </AuButton>
      {{/if}}
      {{#if this.loadNotaOrVisienota.isRunning}}
        <div class="auk-loader" role="alert" aria-busy="true">
          <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
            {{t "nota-loading-text"}}
          </EmberTooltip>
        </div>
      {{else}}
        <Auk::Button
          data-test-newsletter-table-button-toolbar-open-nota
          @skin="borderless"
          @layout="icon-only"
          @icon="document"
          @disabled={{not this.notaOrVisieNota}}
          {{on "click" this.openNota}}
        >
          <:floater>
            <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
              {{if
                  this.notaOrVisieNota
                  (t "open-note")
                  (t "no-nota")
              }}
            </EmberTooltip>
          </:floater>
        </Auk::Button>
      {{/if}}
      <AuLink
        data-test-newsletter-table-button-toolbar-link-to-agendaitem
        @skin="button-naked"
        @icon="chevron-right"
        @hideText={{true}}
        @route="agendaitem"
        @model={{@agendaitem.id}}
        target="_blank"
      >
        {{t "open-agendaitem"}}
      </AuLink>
    </AuButtonGroup>
  </td>
</tr>

{{#if this.isOpenEditView}}
  <tr class="lt-row lt-expanded-row">
    <td colspan="5">
      <div class="auk-container auk-container--center">
        <NewsletterItem::EditPanel
          @newsletterItem={{@newsletterItem}}
          @agendaitem={{@agendaitem}}
          @onCancel={{this.closeEditView}}
          @onSave={{perform this.saveNewsletterItem}}
        />
      </div>
    </td>
  </tr>
{{/if}}