<div class="agenda-item-link">
  <strong>
    {{agendaitem.priority}}. {{agendaitem.subcase.shortTitle}}
  </strong>
  <p>
    {{agendaitem.subcase.title}}
  </p>
  <div class="agenda-sub-options">
    <p>
    {{#if agendaitem.extended}}
      {{t "agenda-item.extended"}}
    {{/if}}
    </p>
    {{#if agendaitem.formal-ok}}
      <p class="formal-ok">
        {{fa-icon "check"}} 
        {{t 'agendaitem-details.formal-ok'}}
      </p>
    {{else}}
      <p class="formal-nok">
        {{fa-icon "check"}} 
        {{t 'agendaitem-details.formal-ok'}}
      </p>
    {{/if}}
  </div>  
</div>


