<div class="vlc-container-center">
  <div class="auk-u-mt-8 no-print">
    <h3 class="vl-title vl-title--h3" data-test-print-overview-decisions-title>
      {{await title}}
      <br/>
    </h3>
  </div>
  <div class="auk-u-mb-8 no-print">
  </div>
  <div class="auk-u-mb-4 auk-u-mt-8">
    {{#each (await @agendaitemGroups) as |group|}}
      {{#each group.agendaitems as |agendaitem|}}
        <div class="vl-u-display-flex vlc-u-flex-justify-center">
          <div class="print-only auk-u-mt-8">
            <img style="margin:-75px 0px -50px 0px; width:200px"
                 src="/assets/logo_vlaamse_regering.svg"
                 alt={{t "flemish-government"}}
            />

            <p class="vl-u-text--bold vl-u-text--capitalized">
              {{await title}}
            </p>
            <hr class="vlc-hr"/>
          </div>
        </div>
        <div style="page-break-after:always;">
          <div class="auk-u-mb-8">
            <div class="auk-u-mb-2">
              <h3 class="vl-title vl-title--h5">
                {{agendaitem.number}}
                .
                {{agendaitem.shortTitle}}
              </h3>
              <pre class="vlc-u-flex-inline-flex auk-u-text-pre-line">
                {{agendaitem.title}}
              </pre>
            </div>
            <div class="vl-typography">
              <ul>
                {{#if (gt agendaitem.treatments.length 0)}}
                  {{#each (await agendaitem.treatments) as |treatment|}}
                    {{#if treatment.isEditing}}
                      <Agenda::Agendaitem::AgendaitemDecisionEdit
                        @isEditing={{treatment.isEditing}}
                        @agendaItemTreatment={{treatment}}
                        @subcase={{await agendaitem.agendaActivity.subcase}}
                        @isTableRow={{isTableRow}}
                        @agendaitem={{agendaitem}} />
                    {{else if session.isEditor}}
                      <div class="vl-u-display-flex vl-u-flex-align-center vl-u-flex-v-bottom">
                        {{#if allowEditing}}
                          <a href="" class="vl-link"
                            {{action "toggleIsEditing" treatment}}
                          >
                            {{t "edit"}}
                          </a>
                        {{/if}}
                      </div>
                    {{/if}}
                  {{/each}}
                {{else}}
                  <li>
                    <p class="vl-u-text--muted">
                      {{t "no-decision"}}
                    </p>
                  </li>
                {{/if}}
              </ul>
              <p class="vl-u-text--capitalize">
                {{!-- KAS-1420 await nodig ? --}}
                {{agendaitem.agendaActivity.subcase.subcaseName}}
              </p>
            </div>
          </div>
          {{#if (not allowEditing)}}
            <WebComponents::VlSignature @signature={{meeting.defaultSignature}} />
          {{/if}}
        </div>
      {{/each}}
    {{/each}}
  </div>
</div>
