<div class="auk-u-m-8">
  <div class=""></div>
  {{#utils/agendaitem-table
    model=(await model)
    sort=sort
    page=page
    filter=filter
    include=include
    size=size
    columns=columns
  as |agendaitemRow|
  }}
    {{#if (is-pending agendaitemRow.treatments)}}
      {{web-components/vl-loader text=(t "decisions-loading-text")}}
    {{else}}
      <div class="auk-u-m-8">
        <div class="auk-u-mb-4">
          <WebComponents::AuToolbar>
            <WebComponents::AuToolbar::Group @position="center">
              <WebComponents::AuToolbar::Item>
                <button type="button" class="auk-button auk-button--secondary"
                  {{action "addTreatment" agendaitemRow}}
                >
                  <span class="auk-button__content">
                    <div class="auk-icon auk-icon--default">
                      <i class="ki ki-add"></i>
                    </div>
                    <div class="auk-button__label">
                      {{t "add-decision"}}
                    </div>
                  </span>
                </button>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
          </WebComponents::AuToolbar>
        </div>
        {{#each (await agendaitemRow.treatments) as |treatment|}}
          {{agenda/agendaitem/agendaitem-decision
            subcase=(await agendaitemRow.content.agendaActivity.subcase)
            isTableRow=true
            treatment=treatment
            agendaitem=(await agendaitemRow.content)
          }}
        {{/each}}
      </div>
    {{/if}}
  {{/utils/agendaitem-table}}
</div>
{{outlet}}