{{#if (await treatment)}}
  {{#if currentSession.isEditor}}
    <button type="button" class="vl-button vl-button--tertiary"
      data-test-upload-decision-file
      {{action "toggleIsAddingNewPiece"}}
    >
      {{title}}
    </button>
  {{/if}}
{{/if}}
{{#if isAddingNewPiece}}
  {{#web-components/vl-modal
    closeModal=(action "closeModal")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      {{#if (not pieceInCreation)}}
        {{file-uploader
          isLoading=isLoading
          multipleFiles=false
          uploadedFileAction=(action "uploadedFile")
        }}
      {{/if}}
      {{#if (not isLoading)}}
        {{#if pieceInCreation}}
          <div class="upload-container">
            {{ember-kaleidos-webuniversum/vl-uploaded-document
              name=pieceInCreation.file.filename
              extension=pieceInCreation.file.extension
              size=pieceInCreation.file.size
              downloadName=pieceInCreation.file.filename
              downloadLink=pieceInCreation.file.namedDownloadLink
              delete=(action "deleteFile" pieceInCreation.file)
            }}
          </div>
        {{/if}}
      {{else}}
        {{web-components/vl-loader text=(t "documents-uploading-text")}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "closeModal")
      saveAction=(action "uploadNewPiece")
      disableSave=(not pieceInCreation)
    }}
  {{/web-components/vl-modal}}
{{/if}}