{{#if (await meetingRecordOrDecision.report)}}
  {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
    document=(await meetingRecordOrDecision.report)
    subcaseAgendaitemMeetingOrDocumentContainer=(await meetingRecordOrDecision.report)
  }}
{{else if (await meetingRecordOrDecision)}}
  {{#if currentSession.isEditor}}
    <button type="button" class="vl-button vl-button--tertiary"
      data-test-upload-decision-file
      {{action "toggleIsAddingNewDocument"}}
    >
      {{title}}
    </button>
  {{/if}}
{{/if}}
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "closeModal")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      {{#if (eq documentInCreation null)}}
        {{file-uploader
          isLoading=isLoading
          multipleFiles=false
          uploadedFileAction=(action "uploadedFile")
        }}
      {{/if}}
      {{#if (not isLoading)}}
        {{#if documentInCreation}}
          <div class="upload-container">
            {{ember-kaleidos-webuniversum/vl-uploaded-document
              name=documentInCreation.file.filename
              extension=documentInCreation.file.extension
              size=documentInCreation.file.size
              downloadName=documentInCreation.file.filename
              downloadLink=(concat
                      documentInCreation.file.downloadLink
                      "?name="
                      documentInCreation.file.filename
              )
              delete=(action "deleteFile" documentInCreation.file)
            }}
          </div>
        {{/if}}
      {{else}}
        {{web-components/vl-loader text=(t "documents-uploading-text")}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "closeModal")
      saveAction=(action "uploadNewDocument")
      disableSave=(eq documentInCreation null)
    }}
  {{/web-components/vl-modal}}
{{/if}}
