<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{t "manage-alerts"}}
  @closeModal={{this.cancel}}
>
  <Auk::Modal::Body>
    <div data-test-route-settings-system-alerts-index-alerts-dropdown class="auk-form-group">
      <PowerSelect
        @options={{@model}}
        @selected={{this.selectedAlert}}
        @onChange={{this.selectAlert}}
        as |alert|
      >
        {{alert.title}}
      </PowerSelect>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::ButtonLink @route="settings.overview">
            {{t "cancel"}}
          </Auk::ButtonLink>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="tertiary"
            @icon="plus"
            @route="settings.system-alerts.new"
            data-test-route-settings-system-alerts-index-add
          >
            {{t "add"}}
          </Auk::Button>
          {{#if this.selectedAlert}}
            <Auk::Button
              @skin="tertiary"
              @icon="pencil"
              @route="settings.system-alerts.edit"
              @model={{this.selectedAlert.id}}
            >
              {{t "edit"}}
            </Auk::Button>
            <Auk::Button
              @skin="tertiary"
              @icon="trash"
              {{on "click" (perform this.remove this.selectedAlert)}}
              data-test-route-settings-system-alerts-index-remove
            >
              {{t "delete"}}
            </Auk::Button>
          {{/if}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</WebComponents::VlModal>