<ClickOutside @action={{@onClose}}>
  <div class="vl-modal">
    {{!-- TODO: revise custom CSS classes that get loaded on top of generic alert classes --}}
    <WebComponents::VlAlert
      class="vl-alert-relative vl-alert-relative--center-mid"
      aria-live="assertive"
      @type="success"
      @title="Bestand downloaden"
      @closeable={{true}}
      @onClose={{@options.onClose}}
    >
      <div class="vl-alert__message vl-u-text--capitalize">
        {{!-- TODO: Extra CSS, so the button has an outline within the alert --}}
        <a class="vl-button vl-button--link"
           href={{@options.downloadLink}}
           download
           {{on "click" @options.onClose}}
        >
          {{t "download"}}
        </a>
      </div>
    </WebComponents::VlAlert>
  </div>
</ClickOutside>
