{{ page-title (t "send-test-mail") }}

<div class="auk-u-m-8">
  <div class="auk-u-mb-3">
    <Auk::Panel>
      <Auk::Panel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "send-test-mail"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <div class="auk-form-group">
          <Auk::Label for="defaultInput">{{t "email-to" }}</Auk::Label>
          <Auk::Input @value={{this.to}} type="text" id="blockInput" @block={{true}} {{on "change" this.onchangeTargetMailAddress}} />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="defaultInput">{{t "subject" }}</Auk::Label>
          <Auk::Input @value={{this.subject}} type="text" id="blockInput" @block={{true}} {{on "change" this.onChangeSubject}} />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="defaultInput">{{t "test-attachement-piece-id" }}</Auk::Label>
          <Auk::Input @value={{this.pieceId}} type="text" id="blockInput" @block={{true}} {{on "change" this.onChangePieceId}} />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="defaultInput">{{t "content" }}</Auk::Label>
          <Auk::Textarea @rows="2" @value={{this.content}} {{on "change" this.onChangeContent}}></Auk::Textarea>
        </div>
        <WebComponents::VlSaveButton
                @text={{t "send-test-mail"}}
                @isLoading={{this.showLoader}}
                @saveAction={{this.sendTestMail}} />
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>

  {{!-- LOADER --}}

  {{#if this.showLoader}}
    <WebComponents::LoadingOverlay />
  {{/if}}
</div>