<div class="auk-popover__header">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <h4 class="auk-toolbar__title">{{t "search-legend-title"}}</h4>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        <button class="auk-button-link auk-button-link--muted" type="button" {{action "close"}}>
          <div class="auk-icon auk-icon--close auk-icon--default">
            <i class="ki ki-close"></i>
          </div>
          <span class="auk-u-sr-only">{{t "close"}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="auk-popover__body">
  <table class="auk-table">
    <thead>
      <tr>
        <th>{{t "search-legend-header-example"}}</th>
        <th>{{t "search-legend-header-explanation"}}</th>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-and-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-and-explanation"}}</td>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-not-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-not-explanation"}}</td>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-order-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-order-explanation"}}</td>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-wildcard-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-wildcard-explanation"}}</td>
      </tr>
    </thead>
  </table>
</div>
