<table class="vl-data-table auk-u-cursor-default">
  <thead>
    <tr>
      <th class="vl-data-table-col-2 vl-data-table__header-title">
        {{t "search-legend-header-example"}}
      </th>
      <th class="vl-data-table-col-9 vl-data-table__header-title">
        {{t "search-legend-header-explanation"}}
      </th>
      <th class="vl-data-table-col-9 vl-data-table__header-title">
        <button type="button" class="vl-button vl-button--link-muted vl-button--icon auk-u-cursor-pointer" {{action "close"}}>
          <i class="vl-button__icon ki-close" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "close"}}
          </span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="vl-data-table-col-1">{{t "search-legend-and-example"}}</td>
      <td class="vl-data-table-col-12">{{t "search-legend-and-explanation"}}</td>
    </tr>
  {{!-- Disabled this for now, because this doesn't actually work yet
  <tr>
    <td class="vl-data-table-col-1">{{t "search-legend-or-example"}}</td>
    <td class="vl-data-table-col-12">{{t "search-legend-or-explanation"}}</td>
  </tr>
  --}}
    <tr>
      <td class="vl-data-table-col-1">{{t "search-legend-not-example"}}</td>
      <td class="vl-data-table-col-12">{{t "search-legend-not-explanation"}}</td>
    </tr>
    <tr>
      <td class="vl-data-table-col-1">{{t "search-legend-order-example"}}</td>
      <td class="vl-data-table-col-12">{{t "search-legend-order-explanation"}}</td>
    </tr>
    <tr>
      <td class="vl-data-table-col-1">{{t "search-legend-wildcard-example"}}</td>
      <td class="vl-data-table-col-12">{{t "search-legend-wildcard-explanation"}}</td>
    </tr>
  </tbody>
</table>
