<ConfirmationModal
  @modalOpen={{true}}
  @title={{t "modify-document"}}
  @onConfirm={{perform this.saveEdit}}
  @onCancel={{this.cancelEdit}}
  @confirmMessage={{t "save"}}
  @loading={{this.saveEdit.isRunning}}
  @disabled={{this.isDisabled}}
>
  <:body>
    <AuCard
      @flex={{true}}
      @size="small"
      as |c|
    >
      <c.header
        @badgeIcon={{document-icon @piece.file.extension}}
      >
        <p data-test-document-card-type class="vlc-subline au-u-medium au-u-muted">
          {{uppercase @piece.file.extension}}
        </p>
        <div class="au-u-flex au-u-flex--spaced-small">
          <AuInput
            data-test-document-edit-name-input
            @width="block"
            @value={{this.name}}
          />
          <AuButtonGroup class="au-u-flex--no-wrap">
            <AuButton
              data-test-document-edit-source-file-replace
              @skin="secondary"
              {{on "click" this.toggleUploadReplacementSourceFile}}
            >
              {{t "replace"}}
            </AuButton>
          </AuButtonGroup>
        </div>
        {{#if @piece.created}}
          <AuHelpText @skin="secondary">
            {{t "uploaded-at"}}
            {{datetime-at @piece.created}}
          </AuHelpText>
        {{/if}}
      </c.header>
      {{#if this.isReplacingSourceFile}}
        <c.content data-test-document-edit-source-file-replacer>
          <Auk::FileUploader
            @multiple={{false}}
            @onUpload={{set this "replacementSourceFile"}}
            @onQueueUpdate={{this.handleReplacementSourceFileUploadQueue}}
          />
        </c.content>
      {{/if}}
    </AuCard>
    {{#if @piece.file.derived}}
      <AuCard
        @flex={{true}}
        @size="small"
        class="au-u-margin-top-small {{if this.isDeletingDerivedFile 'vlc-document--deleted-state'}}"
        as |c|
      >
        <c.header
          @badgeIcon={{document-icon @piece.file.derived.extension}}
        >
          <p class="vlc-subline au-u-medium au-u-muted">
            {{uppercase @piece.file.derived.extension}}
          </p>
          <div class="au-u-flex au-u-flex--between au-u-flex--spaced-small">
            <p>
              {{@piece.name}}
            </p>
            <AuButtonGroup class="au-u-flex--no-wrap">
              <AuButton
                data-test-document-edit-derived-file-replace
                @skin="secondary"
                {{on "click" this.toggleUploadReplacementDerivedFile}}
              >
                {{t "replace"}}
              </AuButton>
              <AuButton
                data-test-document-edit-derived-file-delete
                @skin="secondary"
                @alert={{true}}
                @icon="trash"
                @hideText={{true}}
                {{on "click" (toggle "isDeletingDerivedFile" this)}}
              >
              </AuButton>
            </AuButtonGroup>
          </div>
          {{#if @piece.file.derived.created}}
            <AuHelpText @skin="secondary">
              {{t "uploaded-at"}}
              {{datetime-at @piece.file.derived.created}}
            </AuHelpText>
          {{/if}}
        </c.header>
        {{#if this.isReplacingDerivedFile}}
          <c.content data-test-document-edit-derived-file-replacer>
            <Auk::FileUploader
              @multiple={{false}}
              @onUpload={{set this "replacementDerivedFile"}}
              @onQueueUpdate={{this.handleReplacementDerivedFileUploadQueue}}
            />
          </c.content>
        {{/if}}
      </AuCard>
    {{else}}
      <AuCard
        @flex={{true}}
        @size="small"
        class="au-u-margin-top-small"
        as |c|
      >
        <c.header
          @badgeIcon="document"
        >
          <div class="au-u-flex au-u-flex--spaced-small">
            <AuHeading @skin="5" @level="3">{{t "upload-derived-document"}}</AuHeading>
          </div>
        </c.header>
        <c.content data-test-document-edit-derived-file-uploader>
          <Auk::FileUploader
            @multiple={{false}}
            @onUpload={{set this "uploadedDerivedFile"}}
            @onQueueUpdate={{this.handleDerivedFileUploadQueue}}
          />
        </c.content>
      </AuCard>
    {{/if}}
  </:body>
</ConfirmationModal>
