<ConfirmationModal
  @modalOpen={{true}}
  @title={{t "modify-document"}}
  @onConfirm={{perform this.saveEdit}}
  @onCancel={{this.cancelEdit}}
  @confirmMessage={{t "save"}}
  @loading={{this.saveEdit.isRunning}}
  @disabled={{this.isDisabled}}
>
  <:body>
    <AuCard
      @flex={{true}}
      @size="small"
      as |c|
    >
      <c.header
        @badgeIcon={{document-icon @piece.file.extension}}
      >
        <p data-test-document-card-type class="vlc-subline au-u-medium au-u-muted">
          {{uppercase @piece.file.extension}}
        </p>
        <div class="au-u-flex au-u-flex--spaced-small">
          <AuInput
            data-test-document-edit-name-input
            @width="block"
            @value={{this.name}}
          />
          <AuButtonGroup class="au-u-flex--no-wrap">
            <AuButton
              data-test-document-edit-source-file-replace
              @skin="secondary"
              {{on "click" this.toggleUploadReplacementSourceFile}}
            >
              {{t "replace"}}
            </AuButton>
          </AuButtonGroup>
        </div>
        {{#if @piece.created}}
          <AuHelpText @skin="secondary">
            {{t "uploaded-at"}}
            {{datetime-at @piece.created}}
          </AuHelpText>
        {{/if}}
      </c.header>
      {{#if this.isReplacingSourceFile}}
        <c.content data-test-document-edit-source-file-replacer>
          <Auk::FileUploader
            @onUpload={{set this "replacementSourceFile"}}
            @onQueueUpdate={{this.handleReplacementSourceFileUploadQueue}}
          />
        </c.content>
      {{/if}}
    </AuCard>
    {{#if @piece.file.derived}}
      <AuCard
        @flex={{true}}
        @size="small"
        class="au-u-margin-top-small {{if this.isDeletingDerivedFile 'vlc-document--deleted-state'}}"
        as |c|
      >
        <c.header
          @badgeIcon={{document-icon @piece.file.derived.extension}}
        >
          <p class="vlc-subline au-u-medium au-u-muted">
            {{uppercase @piece.file.derived.extension}}
          </p>
          <div class="au-u-flex au-u-flex--between au-u-flex--spaced-small">
            <p>
              {{@piece.name}}
            </p>
            <AuButtonGroup class="au-u-flex--no-wrap">
              <AuButton
                data-test-document-edit-derived-file-replace
                @skin="secondary"
                {{on "click" this.toggleUploadReplacementDerivedFile}}
              >
                {{t "replace"}}
              </AuButton>
              <AuButton
                data-test-document-edit-derived-file-delete
                @skin="secondary"
                @alert={{true}}
                @icon="trash"
                @hideText={{true}}
                {{on "click" (toggle "isDeletingDerivedFile" this)}}
              >
              </AuButton>
            </AuButtonGroup>
          </div>
          {{#if @piece.file.derived.created}}
            <AuHelpText @skin="secondary">
              {{t "uploaded-at"}}
              {{datetime-at @piece.file.derived.created}}
            </AuHelpText>
          {{/if}}
        </c.header>
        {{#if this.isReplacingDerivedFile}}
          <c.content data-test-document-edit-derived-file-replacer>
            <Auk::FileUploader
              @onUpload={{set this "replacementDerivedFile"}}
              @onQueueUpdate={{this.handleReplacementDerivedFileUploadQueue}}
            />
          </c.content>
        {{/if}}
      </AuCard>
    {{else}}
      <AuCard
        @flex={{true}}
        @size="small"
        class="au-u-margin-top-small"
        as |c|
      >
        <c.header
          @badgeIcon="document"
        >
          <div class="au-u-flex au-u-flex--spaced-small">
            <AuHeading @skin="5" @level="3">{{t "upload-derived-document"}}</AuHeading>
          </div>
        </c.header>
        <c.content data-test-document-edit-derived-file-uploader>
          <Auk::FileUploader
            @onUpload={{set this "uploadedDerivedFile"}}
            @onQueueUpdate={{this.handleDerivedFileUploadQueue}}
          />
        </c.content>
      </AuCard>
    {{/if}}
     <AuCard @size="small" class="au-u-margin-top-small" as |c|>
      <c.content>
        <div class="auk-form-group">
          <AuLabel for="type">Document nummer</AuLabel>
          <AuInput @width="block" />
        </div>
      </c.content>
    </AuCard>
    <AuCard @size="small" class="au-u-margin-top-small" as |c|>
      <c.content>
        <div class="auk-form-group">
          <AuLabel for="type">{{t "document-type"}}</AuLabel>
          <Utils::RadioDropdownComboSelect
            @options={{this.sortedDocumentTypes}}
            @onSelect={{this.selectDocumentType}}
            @selected="Nota"
          />
        </div>
      </c.content>
    </AuCard>
    <AuCard @size="small" class="au-u-margin-top-small" as |c|>
      <c.content>
        <div class="auk-form-group">
          <AuLabel for="version">Versie</AuLabel>
          <div class="auk-radio-list auk-radio-list--inline">
            <label class="auk-radio" data-children-count="1" for="geen">
              <input
                type="radio"
                class="auk-radio__toggle"
                id="geen"
                name="type"
                checked={{true}}
                value="geen"
              />
              Eerste
              <span class="auk-radio__box"></span>
            </label>
            <label class="auk-radio" data-children-count="1" for="BIS">
              <input
                type="radio"
                class="auk-radio__toggle"
                id="BIS"
                name="type"
                value="BIS"
              />
              BIS
              <span class="auk-radio__box"></span>
            </label>
            <label class="auk-radio" data-children-count="1" for="TER">
              <input
                type="radio"
                class="auk-radio__toggle"
                id="TER"
                name="type"
                value="TER"
              />
              TER
              <span class="auk-radio__box"></span>
            </label>
            <label class="auk-radio" data-children-count="1" for="QUATER">
              <input
                type="radio"
                class="auk-radio__toggle"
                id="QUATER"
                name="type"
                value="QUATER"
              />
              QUATER
              <span class="auk-radio__box"></span>
            </label>
          </div>
        </div>
      </c.content>
    </AuCard>
    <AuCard @size="small" class="au-u-margin-top-small" as |c|>
      <c.content>
        <div class="auk-form-group">
          <AuLabel for="date">Datum</AuLabel>
          <Auk::Datepicker
            @date={{date-format @piece.created 'dd-MM-yyyy' }}
            @onChange={{set this "dateFromBuffer"}}
            @enableClear={{this.dateFromBuffer}}
            @onClear={{set this "dateFromBuffer" undefined}}
          />
        </div>
      </c.content>
    </AuCard>
  </:body>
</ConfirmationModal>
