<WebComponents::VlModal
  @closeModal={{this.cancelEdit}}
  @isOverlay={{true}}
  @title={{t "modify-document"}}
>
  <Auk::Modal::Body>
    <AuCard
      @size="small"
      as |c|
    >
      <c.header>
        <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
          <AuLabel for="name">
            Naam wijzigen
          </AuLabel>
           {{@piece.type.label}}
        </div>
        <div class="au-u-flex au-u-flex--spaced-small">
          <AuInput
            id="name"
            data-test-document-edit-name-input
            @width="block"
            @value={{this.name}}
          />
          <AuButtonGroup class="au-u-flex--no-wrap">
            <AuButton
              data-test-document-edit-replace
              @skin="secondary"
              {{on "click" this.toggleUploadReplacementFile}}
            >
              {{t "replace"}}
            </AuButton>
          </AuButtonGroup>
        </div>
        {{#if @piece.created}}
          <AuHelpText @skin="secondary">
            <AuPill @size="small">{{uppercase @piece.file.extension}}</AuPill>
            {{slice-text @piece.name start=8 limit=2}}-{{slice-text @piece.name start=10 limit=2}}-{{slice-text @piece.name start=3 limit=4}}
            {{slice-text @piece.name start=12 limit=11}}
            /
            {{t "uploaded-at"}}
            {{moment-format @piece.created}}
            {{t "at"}}
            {{moment-format @piece.created "HH:mm"}}
          </AuHelpText>
        {{/if}}
      </c.header>
      {{#if this.isUploadingReplacementFile}}
        <c.content data-test-document-edit-pdf-file-uploader>
          <Auk::FileUploader
            @onUpload={{set this "replacementFile"}}
          />
        </c.content>
      {{/if}}
    </AuCard>
    <AuCard @size="small" class="au-u-margin-top-small" as |c|>
      <c.content>
        <div class="auk-form-group">
          <AuLabel for="type">{{t "document-type"}}</AuLabel>
          <Utils::RadioDropdownComboSelect
            @options={{this.sortedDocumentTypes}}
            @onSelect={{this.selectDocumentType}}
            @selected="Nota"
          />
        </div>
      </c.content>
    </AuCard>
    {{#if @piece.file.primarySource}}
      <AuCard
        @flex={{true}}
        @size="small"
        class="au-u-margin-top-small {{if this.isDeletingSourceFile 'vlc-document--deleted-state'}}"
        as |c|
      >
        <c.header
          @badgeIcon={{if (eq @piece.file.primarySource.extension "docx") "word" "document"}}
        >
          <p class="vlc-subline au-u-medium au-u-muted">
            {{uppercase @piece.file.primarySource.extension}}
          </p>
          <div class="au-u-flex au-u-flex--between au-u-flex--spaced-small">
            <p>
              {{@piece.name}}
            </p>
            <AuButtonGroup class="au-u-flex--no-wrap">
              <AuButton
                data-test-document-edit-source-file-replace
                @skin="secondary"
                {{on "click" this.toggleUploadReplacementSourceFile}}
              >
                {{t "replace"}}
              </AuButton>
              <AuButton
                data-test-document-edit-source-file-delete
                @skin="secondary"
                @alert={{true}}
                @icon="trash"
                @hideText={{true}}
                {{on "click" (toggle "isDeletingSourceFile" this)}}
              >
              </AuButton>
            </AuButtonGroup>
          </div>
          {{#if @piece.file.primarySource.created}}
            <AuHelpText @skin="secondary">
              {{t "uploaded-at"}}
              {{moment-format @piece.file.primarySource.created}}
              {{t "at"}}
              {{moment-format @piece.file.primarySource.created "HH:mm"}}
            </AuHelpText>
          {{/if}}
        </c.header>
        {{#if this.isUploadingReplacementSourceFile}}
          <c.content data-test-document-edit-source-file-replacer>
            <Auk::FileUploader
              @onUpload={{set this "replacementSourceFile"}}
            />
          </c.content>
        {{/if}}
      </AuCard>
    {{else}}
      <AuCard
        @size="small"
        class="au-u-margin-top-small"
        as |c|
      >
        <c.header>
          <div class="au-u-flex au-u-flex--spaced-small">
            <AuHeading @skin="6" @level="3">Bronbestand opladen</AuHeading>
          </div>
        </c.header>
        <c.content data-test-document-edit-source-file-uploader>
          <Auk::FileUploader
            @onUpload={{set this "uploadedSourceFile"}}
          />
        </c.content>
      </AuCard>
    {{/if}}
  </Auk::Modal::Body>
  <WebComponents::VlModalFooter
    @cancelButtonText={{t "cancel"}}
    @saveButtonText={{t "save"}}
    @cancelAction={{this.cancelEdit}}
    @saveAction={{perform this.saveEdit}}
  />
</WebComponents::VlModal>