<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    {{agenda/agendaitem-search
      selectedAgenda=currentAgenda
      value=(readonly filter)
      search=(action "searchAgendaItems")
    }}
    {{!--
    <div class="vlc-scroll-wrapper__body">
      {{agenda/agenda-list
        announcements=(await sortedAnnouncements)
        agendaitems=(await sortedAgendaitems)
        currentAgenda=(await model.currentAgenda)
        selectedAgendaItem=selectedAgendaItem
        filteredAgendaItems=filteredAgendaItems
        selectAgendaItem=(action "selectAgendaItem")
        refresh=(action "refresh")
      }}
    </div>
    --}}

    <div class="vlc-container-center vl-typography">
      {{utils/logo-header}}

      <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">A. Agendapunten</h4>
      {{#each (await sortedAgendaitems) as |agendaitem|}}
        {{#if agendaitem.groupName}}
          <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">
            {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
              These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
            {{!-- template-lint-disable no-triple-curlies  --}}
            {{{agendaitem.groupName}}}
            {{!-- template-lint-enable no-triple-curlies  --}}
          </h4>
        {{/if}}
        <div class="vl-u-spacer-extended-bottom-s">
          <h4>
            {{#if agendaitem.number}}
              {{agendaitem.number}}.
            {{else}}
              {{add index 1}}.
            {{/if}}
            {{#if agendaitem.shortTitle}}
              {{agendaitem.shortTitle}}
            {{else}}
              {{agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
            {{/if}}
          </h4>
          <p>
            {{agendaitem.title}}
          </p>
        </div>
        {{#each (await agendaitem.documents) as |document|}}
          {{item-document shortNotation=true item=agendaitem document=document isClickable=isClickable}}
        {{/each}}
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
