<div class={{agendaitemsClass}}>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    {{agenda/agendaitem-search
      selectedAgenda=currentAgenda
      value=(readonly filter)
      search=(action "searchAgendaItems")
    }}
    <div class="vlc-scroll-wrapper__body vlc-hide-on-print">
      {{agenda/agenda-list
        announcements=(await sortedAnnouncements)
        agendaitems=(await sortedAgendaitems)
        currentAgenda=(await model.currentAgenda)
        selectedAgendaItem=selectedAgendaItem
        filteredAgendaItems=filteredAgendaItems
        selectAgendaItem=(action "selectAgendaItem")
        refresh=(action "refresh")
      }}
    </div>

    {{agenda/printable-agenda-list
      agendaitems=(await sortedAgendaitems)
      announcements=(await sortedAnnouncements)
      currentSession=currentSession
    }}
  </div>
</div>
{{outlet}}
