{{#if this.isAgendaitemDetailRoute}}
  <div class="auk-panel-layout__agenda-items">
    <div class="auk-sidebar auk-sidebar--gray-100 auk-sidebar--left auk-u-maximize-width">
      <div class="auk-scroll-wrapper">
        <Agenda::AgendaitemSearch
          @searchText={{readonly this.filter}}
          @onSearch={{this.searchAgendaitems}}
          @hideButtonText={{true}}
        />
        <div id="agendadetail-sidebar-container" class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical auk-u-hidden@print">
          <Agenda::AgendaDetail::Sidebar
            @notaGroups={{this.notaGroups}}
            @isLoadingNotaGroups={{this.groupNotasOnGroupName.isRunning}}
            @announcements={{this.model.announcements}}
            @newItems={{this.model.newItems}}
            @currentAgenda={{this.agenda}}
            @showModifiedOnly={{this.showModifiedOnly}}
            @toggleShowModifiedOnly={{this.toggleShowModifiedOnly}}
            @activeItem={{this.selectedAgendaitem}}
          />
        </div>
      </div>
    </div>
  </div>
  <div class="auk-panel-layout__main-content">
    {{#if this.isLoading}}
      <Auk::Loader @message={{t "agenda-loading"}} />
    {{else}}
      {{outlet}}
    {{/if}}
  </div>
{{else}}
  <div
    id={{this.id}}
    class="auk-panel-layout__main-content auk-u-bg-alt"
    >
    <div class="auk-scroll-wrapper">
      <Agenda::AgendaitemSearch
        @searchText={{readonly this.filter}}
        @onSearch={{this.searchAgendaitems}}
        @showReorderButton={{not this.showModifiedOnly}}
        @isEditingOverview={{this.isEditingOverview}}
        @toggleIsEditingOverview={{this.startEditingOverview}}
        @currentAgenda={{this.agenda}}
      />   
      <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical auk-u-hidden@print">
        {{#if this.isLoading}}
          <Auk::Loader @message={{t "agenda-loading"}} />
        {{else if this.loadDocuments.isRunning}}
          <Auk::Loader @message={{this.documentLoadingMessage}} />
        {{else}}
          <Agenda::AgendaOverview
            @notaGroups={{this.notaGroups}}
            @isLoadingNotaGroups={{this.groupNotasOnGroupName.isRunning}}
            @announcements={{this.model.announcements}}
            @newItems={{this.model.newItems}}
            @meeting={{this.meeting}}
            @currentAgenda={{this.agenda}}
            @previousAgenda={{this.previousAgenda}}
            @onReorderAgendaitems={{perform this.assignNewPriorities}}
            @showModifiedOnly={{this.showModifiedOnly}}
            @toggleShowModifiedOnly={{this.toggleShowModifiedOnly}}
            @isEditingOverview={{this.isEditingOverview}}
            @toggleIsEditingOverview={{toggle "isEditingOverview" this}}
            @notasHasChanged={{this.notasHasChanged}}
            @toggleNotasHasChanged={{toggle "notasHasChanged" this}}
            @announcementsHasChanged={{this.announcementsHasChanged}}
            @toggleAnnouncementsHasChanged={{toggle "announcementsHasChanged" this}}
            class="auk-u-m-8"
          />
          {{#if this.assignNewPriorities.isRunning}}
            <WebComponents::LoadingOverlay />
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}