<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    {{agenda/agendaitem-search
      selectedAgenda=currentAgenda
      value=(readonly filter)
      search=(action "searchAgendaItems")
    }}
    <div class="vlc-scroll-wrapper__body vlc-hide-on-print">
      {{agenda/agenda-list
        announcements=(await sortedAnnouncements)
        agendaitems=(await sortedAgendaitems)
        currentAgenda=(await model.currentAgenda)
        selectedAgendaItem=selectedAgendaItem
        filteredAgendaItems=filteredAgendaItems
        selectAgendaItem=(action "selectAgendaItem")
        refresh=(action "refresh")
      }}
    </div>

    <div class="vlc-container-center vl-typography vlc-printable-agenda-list vlc-show-on-print">
      {{utils/logo-header}}

      <h2 class="vlc-page-header__title vlc-page-header__title--bordered vlc-printable-agenda-list__title" data-test-agenda-header-title>
        {{t "agenda-of"}}
        {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
        {{t "at"}}
        {{moment-format currentSession.plannedStart "HH:mm"}}
      </h2>

      {{#if (get (await sortedAgendaitems) 'length')}}
        {{!-- template-lint-disable bare-strings  --}}
        <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">A. {{t "agendaitems"}}</h4>
        {{!-- template-lint-enable bare-strings  --}}
        {{#each (await sortedAgendaitems) as |agendaitem|}}
          {{#if agendaitem.groupName}}
            <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">
              {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
              {{!-- template-lint-disable no-triple-curlies  --}}
              {{{agendaitem.groupName}}}
              {{!-- template-lint-enable no-triple-curlies  --}}
            </h4>
          {{/if}}
          <div class="vl-u-spacer-extended-bottom-s">
            <h4>
              {{#if agendaitem.number}}
                {{agendaitem.number}}.
              {{else}}
                {{add index 1}}.
              {{/if}}
              {{#if agendaitem.shortTitle}}
                {{agendaitem.shortTitle}}
              {{else}}
                {{agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
              {{/if}}
            </h4>
            <p>
              {{agendaitem.title}}
            </p>
          </div>
          {{#each (await agendaitem.documents) as |document|}}
            {{item-document shortNotation=true item=agendaitem document=document isClickable=isClickable}}
          {{/each}}
        {{/each}}
      {{/if}}

      {{#if (get (await sortedAnnouncements) 'length')}}
        {{!-- template-lint-disable bare-strings  --}}
        <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">B. {{t "announcements-subtitle"}}</h4>
        {{!-- template-lint-enable bare-strings  --}}
        {{#each (await sortedAnnouncements) as |announcement|}}
          {{#if announcement.groupName}}
            <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">
              {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
              {{!-- template-lint-disable no-triple-curlies  --}}
              {{{announcement.groupName}}}
              {{!-- template-lint-enable no-triple-curlies  --}}
            </h4>
          {{/if}}
          <div class="vl-u-spacer-extended-bottom-s">
            <h4>
              {{#if announcement.number}}
                {{announcement.number}}.
              {{else}}
                {{add index 1}}.
              {{/if}}
              {{#if announcement.shortTitle}}
                {{announcement.shortTitle}}
              {{else}}
                {{announcement.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
              {{/if}}
            </h4>
            <p>
              {{announcement.title}}
            </p>
          </div>
          {{#each (await announcement.documents) as |document|}}
            {{item-document shortNotation=true item=agendaitem document=document isClickable=isClickable}}
          {{/each}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}
