<div class="vl-u-bg-porcelain vl-u-bg-width">
  <div class={{agendaitemsClass}}>
    <div class="vlc-scroll-wrapper">
      {{!-- {{#if (not await selectedAgendaItem)}}
          TODO implement
          {{agenda/agendaitem-search selectedAgenda=currentAgenda}}
        {{/if}} --}}
      <div class="vlc-scroll-wrapper__body">
        {{agenda/agenda-list
          agendaitems=(await model.agendaitems)
					agendaitemGroups=(await model.groups)
          selectAgendaItem=(action "selectAgendaItem")
          selectedAgendaItem=selectedAgendaItem
        }}
        {{!-- {{agenda/announcement-list
          announcements=(await announcements)
          selectAnnouncement=(action "selectAnnouncement")
          selectedAnnouncement=selectedAnnouncement
        }} --}}
      </div>
    </div>
  </div>
</div>
{{outlet}}