  <div class={{agendaitemsClass}}>
    <div class="vlc-scroll-wrapper">
      <div class="vlc-scroll-wrapper__body">
        {{!-- {{#if selectedAgendaItem}}
          {{agenda/agendaitem-search selectedAgenda=currentAgenda search=(action "searchAgendaItems")}}
        {{/if}} --}}
        {{agenda/agenda-list
          agendaitems=(await model.agendaitems)
          agendaitemGroups=(await model.groups)
          selectAgendaItem=(action "selectAgendaItem")
          selectedAgendaItem=selectedAgendaItem
        }}
          {{agenda/announcement-list
            announcements=(await model.announcements)
            selectedAnnouncement=selectedAnnouncement
            selectAnnouncement=(action "selectAnnouncement")
          }}

      </div>
    </div>
</div>
{{outlet}}