{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-u-bg-alt auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <div class="auk-o-flex auk-o-flex--justify-between">
      <h2 class="auk-h2">
        {{t "compare-title"}}
      </h2>
      <div class="auk-o-flex">
        <div class="auk-u-ml-2">
          <AuButton
            data-test-compare-show-changes
            @skin="naked"
            {{on "click" this.toggleChangesOnly}}
          >
            {{#if this.isShowingChanges}}
              {{t "show-all"}}
            {{else}}
              {{t "show-changes"}}
            {{/if}}
          </AuButton>
        </div>
      </div>
    </div>

    <Agenda::CompareAgendaList
      @meeting={{this.model.meeting}}
      @reverseSortedAgendas={{this.model.reverseSortedAgendas}}
      @isShowingChanges={{this.isShowingChanges}}
    />
  </div>
</div>