<div class="auk-panel-layout__main-content">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8">
      <Auk::Panel>
        <Auk::Panel::Header
          class="{{if this.isEditing 'au-u-background-gray-100'}}"
        >
          <Auk::Toolbar as |Toolbar|>
            <Toolbar.Group @position="left" as |Group|>
              <h4 class="auk-toolbar__title">
                {{t "minutes"}}
              </h4>
            </Toolbar.Group>
            <Toolbar.Group @position="right" as |Group|>
              {{#if this.mayEditMinutes}}
                {{#unless this.isEditing}}
                  <Group.Item>
                    <AuButton
                      data-test-route-agenda---agendaitem-minutes-create-edit
                      @skin="naked"
                      @icon="pencil"
                      @iconAlignment="left"
                      @disabled={{this.currentPiecePartTask.isRunning}}
                      {{on "click" (fn (set this "isEditing" true))}}
                    >
                      {{t (if @model.minutes "edit" "create")}}
                    </AuButton>
                  </Group.Item>
                {{/unless}}
              {{/if}}
            </Toolbar.Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>

        {{#if this.isEditing}}
          <Auk::Panel::Body
            class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
          >
            <SayEditor
              @allowFullscreen={{true}}
              @showSave={{true}}
              @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
              @onSaveTask={{this.saveMinutes}}
              @title={{t "minutes"}}
            >
              <:header>
                {{#if this.editorShowContentUpdateButton}}
                <AuButton
                  data-test-route-agenda---agendaitem-minutes-editor-update-content
                  @skin="link"
                  @icon="renew"
                  class="au-u-padding-left-none"
                  {{on "click" this.updateEditorContent}}
                >{{t "update-thing" thing=(t "content")}}</AuButton>
                {{/if}}
                {{#if this.editorShowContentNotasButton}}
                  <AuButton
                    @skin="link"
                    @icon="renew"
                    class="au-u-padding-left-none"
                    {{on "click" this.updateEditorNotas}}
                  >{{t "update-thing" thing=(t "agendaitems-subtitle")}}</AuButton>
                {{/if}}
                {{#if this.editorShowContentAnnouncementsButton}}
                  <AuButton
                    @skin="link"
                    @icon="renew"
                    class="au-u-padding-left-none"
                    {{on "click" this.updateEditorAnnouncements}}
                  >{{t "update-thing" thing=(t "announcements-subtitle")}}</AuButton>
                {{/if}}
                <VersionsDropdown
                  @record={{this.currentPiecePartTask.value}}
                  @previousVersionKey="previousPiecePart"
                  @onVersionClicked={{this.revertToVersion}}
                />
              </:header>
            </SayEditor>
          </Auk::Panel::Body>
          <Auk::Panel::Footer class="au-u-background-gray-100">
            <Auk::Toolbar>
              <Auk::Toolbar::Group @position="left">
                <Auk::Toolbar::Item>
                  <AuButton
                    @skin="naked"
                    {{on "click" (fn (set this "isEditing" false))}}
                  >
                    {{t "cancel"}}
                  </AuButton>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
              <Auk::Toolbar::Group @position="right">
                <Auk::Toolbar::Item>
                  <AuButton
                    data-test-route-agenda---agendaitem-minutes-editor-save
                    @skin="primary"
                    @loading={{this.saveMinutes.isRunning}}
                    @disabled={{this.saveDisabled}}
                    {{on "click" (perform this.saveMinutes)}}
                  >
                    {{t "save"}}
                  </AuButton>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
            </Auk::Toolbar>
          </Auk::Panel::Footer>
        {{else}}
          <Auk::Panel::Body
            class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
          >
            {{#if this.model.minutes}}
              <Documents::DocumentCard
                @piece={{this.model.minutes}}
                @isEditable={{true}}
                @agendaContext={{this.agendaContext}}
                @hideNewerVersions={{true}}
                @hideEdit={{true}}
                @hideUpload={{true}}
                @showCreateNewVersion={{true}}
                @onCreateNewVersion={{perform this.onCreateNewVersion}}
                @bordered={{true}}
                @didDeleteContainer={{this.didDeleteMinutes}}
                @meeting={{this.meeting}}
              />
            {{else if (user-may "manage-minutes")}}
              <AuAlert
                @title={{t "create-minutes-click-create-button-message"}}
                @icon="circle-info"
                @skin="info"
                @size="small"
                @closable={{false}}
              />
            {{else}}
              <AuAlert
                @title={{t "no-minutes-for-meeting"}}
                @icon="circle-info"
                @skin="info"
                @size="small"
                @closable={{false}}
              />
            {{/if}}
          </Auk::Panel::Body>
          {{#if (and (user-may "manage-minutes") this.currentPiecePartTask.value)}}
            <Auk::Panel::Body
              class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
            >
              <AuContent>
                <SanitizeHtml
                  @raw={{true}}
                  @value={{this.currentPiecePartTask.value.htmlContent}}
                />
              </AuContent>
            </Auk::Panel::Body>
          {{/if}}
        {{/if}}
      </Auk::Panel>
    </div>
  </div>
</div>

{{#if this.isUpdatingMinutesContent}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "loading-minutes"}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "loading-minutes"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}
