<div class="auk-panel-layout__main-content">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8">
      <Auk::Panel>
        <Auk::Panel::Header
          class="{{if this.isEditing 'au-u-background-gray-100'}}"
        >
          <Auk::Toolbar as |Toolbar|>
            <Toolbar.Group @position="left" as |Group|>
              <h4 class="auk-toolbar__title">
                {{t "minutes"}}
              </h4>
            </Toolbar.Group>
            <Toolbar.Group @position="right" as |Group|>
              <Group.Item>
                <AuButton
                  @icon="pdf"
                  @skin="naked"
                  {{on "click" (perform this.exportPdf)}}
                >
                  {{t "export-as-pdf"}}
                </AuButton>
              </Group.Item>
              {{#unless this.isEditing}}
                <Group.Item>
                  <AuButton
                    @skin="naked"
                    @icon="pencil"
                    @iconAlignment="left"
                    {{on "click" (fn (set this "isEditing" true))}}
                  >
                    {{t (if @model.minutes "edit" "create")}}
                  </AuButton>
                </Group.Item>
              {{/unless}}
            </Toolbar.Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>

        {{#if this.isEditing}}
          <Auk::Panel::Body
            class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
          >
            <SayEditor
              @allowFullscreen={{true}}
              @showSave={{true}}
              @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
            >
              <:header>
                <AuButton
                  @skin="link"
                  @icon="renew"
                  class="au-u-padding-left-none"
                  {{on "click" this.updateEditorContent}}
                >{{t "update-thing" thing=(t "content")}}</AuButton>
                <VersionsDropdown
                  @record={{this.model.minutes}}
                  @previousVersionKey="previousPiece"
                  @onVersionClicked={{this.revertToVersion}}
                />
              </:header>
            </SayEditor>
          </Auk::Panel::Body>
          <Auk::Panel::Footer class="au-u-background-gray-100">
            <Auk::Toolbar>
              <Auk::Toolbar::Group @position="left">
                <Auk::Toolbar::Item>
                  <AuButton
                    @skin="naked"
                    {{on "click" (fn (set this "isEditing" false))}}
                  >
                    {{t "cancel"}}
                  </AuButton>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
              <Auk::Toolbar::Group @position="right">
                <Auk::Toolbar::Item>
                  <AuButton
                    @skin="primary"
                    @loading={{this.saveMinutes.isRunning}}
                    @disabled={{this.saveDisabled}}
                    {{on "click" (perform this.saveMinutes)}}
                  >
                    {{t "save"}}
                  </AuButton>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
            </Auk::Toolbar>
          </Auk::Panel::Footer>
        {{else}}
          <Auk::Panel::Body
            class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
          >
            {{#if @model.minutes}}
              <AuContent>
                <SanitizeHtml
                  @raw={{true}}
                  @value={{this.model.minutes.value}}
                />
              </AuContent>
            {{else}}
              <AuAlert
                @title={{t "create-minutes-click-create-button-message"}}
                @icon="circle-info"
                @skin="info"
                @size="small"
                @closable={{false}}
              />
            {{/if}}
          </Auk::Panel::Body>
        {{/if}}
      </Auk::Panel>
    </div>
  </div>
</div>