<div class="auk-panel-layout__main-content">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8">
      <Auk::Panel>
        <Auk::Panel::Header class="{{if this.isEditing 'au-u-background-gray-100'}}">
          <Auk::Toolbar as |Toolbar|>
            <Toolbar.Group @position="left" as |Group|>
              <h4 class="auk-toolbar__title">
                Notulen
              </h4>
            </Toolbar.Group>
            <Toolbar.Group @position="right" as |Group|>
              <Group.Item>
                {{#if this.document}}
                <AuButton
                  @icon="pdf"
                  @skin="naked"
                  {{on "click" this.showVersion}}
                >
                  Exporteren als pdf
                </AuButton>
                {{else}}
                <AuButton
                  @icon="pdf"
                  @skin="naked"
                  {{on "click" this.showDocument}}
                >
                  Exporteren als pdf
                </AuButton>
                {{/if}}
              </Group.Item>
              {{#unless this.isEditing}}
              <Group.Item>
                <AuButton
                  @skin="naked"
                  @icon="pencil"
                  @iconAlignment="left"
                  {{on "click" this.toggleEdit}}
                >
                  Wijzigen
                </AuButton>
              </Group.Item>
              {{/unless}}
            </Toolbar.Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>

        {{#if this.document}}
        <Auk::Panel::Body class="{{if this.isEditing 'au-u-background-gray-100'}}">
          <div
            class="vlc-document-card"
          >
            <div class="vlc-document-card__summary">
              <div class="vlc-document-card__content">
                <Auk::Toolbar @auto={{true}} as |Toolbar|>
                  <Toolbar.Group @position="left" as |Group|>
                    <Group.Item>
                      <Auk::Badge @skin="success" @icon="document-added" @size="large" />
                    </Group.Item>
                    <Group.Item class="auk-u-maximize-width">
                      <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
                        <span data-test-document-card-type class="auk-overline">
                          Notulen
                        </span>
                        <span class="auk-overline">
                          01-02-2023
                        </span>
                        <span class="auk-overline">
                          PDF
                        </span>
                      </div>
                      <LinkTo 
                        @route="export.notes"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="auk-h4 au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                        DOC.02032 — Notulen
                      </LinkTo>
                    </Group.Item>
                  </Toolbar.Group>
                  <Toolbar.Group @position="right" as |Group|>
                    <Group.Item>
                      {{#if (or this.signatureRequested @signatureMockupAlt)}}
                      <SignaturePill
                        @isEditable={{true}}
                        @signatureMockupAlt={{@signatureMockupAlt}}
                      />
                      {{else if (or this.signatureRequested @signatureMockup)}}
                      <SignaturePill
                        @isEditable={{true}}
                        @signatureMockup={{@signatureMockup}}
                      />
                      {{else}}
                      {{/if}}
                    </Group.Item>
                    <Group.Item>
                      <AuDropdown
                        data-test-document-card-actions={{true}}
                        @icon="three-dots"
                        @title={{t "more"}}
                        @hideText={{true}}
                        @disabled={{this.loadPieceRelatedData.isRunning}}
                        @alignment="right"
                      >
                        <AuButton
                          @skin="link"
                          role="menuitem"
                        >
                          {{#if (eq this.signatureRequested true)}}
                            Verwijderen van handtekenen
                          {{else}}
                            Aanbieden voor handtekenen 
                          {{/if}}
                        </AuButton>
                        <AuButton
                          data-test-document-card-delete
                          @skin="link"
                          @alert={{true}}
                          role="menuitem"
                        >
                          {{t "document-delete"}}
                        </AuButton>
                      </AuDropdown>
                    </Group.Item>
                  </Toolbar.Group>
                </Auk::Toolbar>
              </div>
            </div>
            {{#if this.version}}
            <div class="vlc-document-card-versions">
              <Auk::Accordion>
                <Auk::Accordion::Item
                  @title={{t "previous-versions"}}
                  @disabled={{this.loadPieceRelatedData.isRunning}}
                  @expandTask={{this.loadVersionHistory}}
                  data-test-document-card-version-history
                >
                  {{#if this.loadVersionHistory.isRunning}}
                    <div class="auk-u-p-3">
                      <Auk::Loader />
                    </div>
                  {{else}}
                    <div
                      class="vlc-document-holder"
                    >
                      <div class="vlc-document-card-item">
                        <div class="vlc-document-card-item__title">
                          <LinkTo @route="document" @model={{piece.id}}
                            class="auk-h4 auk-u-m-0 auk-u-mr-4 vlc-document-card-item__title-link">
                            DOC.02032 — Notulen
                          </LinkTo>
                          <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
                            <AuPill @icon="sign">Getekend</AuPill>
                          </div>
                        </div>
                        <div class="vlc-document-card-item__meta au-u-muted">
                          {{!-- no piece.created in legacy data --}}
                          {{#if piece.created}}
                            {{t "uploaded-at"}}
                            {{moment-format piece.created}}
                            {{t "at"}}
                            {{moment-format piece.created "HH:mm"}}
                          {{/if}}
                        </div>
                        <div class="vlc-document-card-item__icon">
                          <Auk::Icon @name="clock-rewind" @size="small" />
                        </div>
                      </div>
                    </div>
                  {{/if}}
                </Auk::Accordion::Item>
              </Auk::Accordion>
            </div>
            {{/if}}
          </div>
        </Auk::Panel::Body>
        {{/if}}
        <Auk::Panel::Body class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}">
          {{#if this.isEditing}}
          <div class="auk-rdfa-holder {{if this.isFullscreen "auk-rdfa-fullscreen au-u-margin-top-none"}}">
            <div class="auk-rdfa-holder__header au-u-flex au-u-flex--between au-u-flex--vertical-center">
              {{#if this.isFullscreen}}
                <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
                  <h4 class="auk-toolbar__title">
                    Notulen
                  </h4>
                  <AuButton @skin="link" @icon="renew">Inhoud updaten</AuButton>
                  <AuDropdown
                    @title="Huidige versie"
                    @alignment="left"
                    @skin="naked"
                    @icon="chevron-down"
                    @iconAlignment="right"
                  >
                    <AuButton @skin="link-secondary" role="menuitem">
                      Versie van 18-11-2022 om 10:23
                    </AuButton>
                    <AuButton @skin="link-secondary" role="menuitem">
                      Versie van 13-11-2022 om 12:13
                    </AuButton>
                  </AuDropdown>
                </div>
                <AuButtonGroup>
                  <AuButton
                    @skin="naked"
                    @icon="minimize"
                    @iconAlignment="left"
                    {{on "click" this.toggleFullscreen}}
                  >
                    {{t "close-fullscreen"}}
                  </AuButton>
                  <AuButton
                    @skin="primary"
                    {{on "click" this.toggleAll}}
                  >
                    {{t "save"}}
                  </AuButton>
                </AuButtonGroup>
              {{else}}
                <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
                  <AuButton @skin="link" @icon="renew" class="au-u-padding-left-none">Inhoud updaten</AuButton>
                  <AuDropdown
                    @title="Huidige versie"
                    @alignment="left"
                    @skin="naked"
                    @icon="chevron-down"
                    @iconAlignment="right"
                  >
                    <AuButton @skin="link-secondary" role="menuitem">
                      Versie van 18-11-2022 om 10:23
                    </AuButton>
                    <AuButton @skin="link-secondary" role="menuitem">
                      Versie van 13-11-2022 om 12:13
                    </AuButton>
                  </AuDropdown>
                </div>
                <AuButton
                  @skin="naked"
                  @icon="expand"
                  @iconAlignment="left"
                  {{on "click" this.toggleFullscreen}}
                >
                  {{t "fullscreen"}}
                </AuButton>
              {{/if}}
            </div>
            <WebComponents::VlRdfaEditor
              data-test-newsletter-edit-item-rdfa-editor
              @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
            />
          </div>
          {{!-- <div>
            <AuToggleSwitch
              @label="Ondertekend"
              @identifier="signature"
              @name="signature"
              @checked={{if (eq this.isSigned true) "true" ""}}
              {{on "click" this.toggleSigned}}
            />
          </div> --}}
          {{else}}
          {{!-- <AuAlert
            @title="Nog geen tekst toegevoegd"
            @icon="circle-info"
            @skin="info"
            @size="small"
            @closable={{false}}
          /> --}}
          <div class="au-c-content au-c-content--small">
            <h4>AANWEZIG</h4>
            <table class="say-table" contenteditable="false"><tbody><tr><td contenteditable="true">De minister-president​</td><td contenteditable="true">Geert Bourgeois​</td></tr><tr><td contenteditable="true">De viceministers-presidenten​</td><td contenteditable="true">Hilde Crevits<br/>Bart Tommelein<br/>Liesbeth Homans​</td></tr><tr><td contenteditable="true">De Vlaamse ministers​</td><td contenteditable="true">Ben Weyts<br/>Jo Vandeurzen<br/>Philippe Muyters<br/>Joke Schauvliege​</td></tr><tr><td contenteditable="true">De secretaris​</td><td contenteditable="true">Mark Andries​</td></tr></tbody></table>
            <h4>AFWEZIG MET KENNISGEVING</h4>
            <table class="say-table" contenteditable="false"><tbody><tr><td contenteditable="true">De Vlaamse minister​</td><td contenteditable="true">Sven Gatz</td></tr></tbody></table> 
            <p>* De heer Mark Andries verlaat de zaal tijdens het behandelen van punt 0049, de heer Jeroen Overmeer treedt bij de behandeling van dit punt op als waarnemend secretaris.</p> 
            <h4>1. GOEDKEURING VAN HET VERSLAG VAN DE VERGADERING VAN VRIJDAG 23 NOVEMBER 2018 (VR PV 2018/41)</h4>
            <p>De Vlaamse Regering hecht haar goedkeuring aan het verslag van de vergadering van vrijdag 23 november 2018 (VR PV 2018/41).</p>
            <h4>2. VLAAMS-NEDERLANDSE SCHELDECOMMISSIE (VNSC): VERVANGING REGERINGSCOMMISSARIS ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE DE BENOEMING VAN EEN REGERINGSCOMMISSARIS BIJ DE VLAAMS- NEDERLANDSE SCHELDECOMMISSIE (VNSC) (VR 2018 3011 DOC.1336/1 EN DOC.1336/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0002.</p> 
            <h4>3. KREDIETHERSCHIKKING STUDIETOELAGEN ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE DE HERVER- DELING VAN BEGROTINGSARTIKELEN VAN DE ALGEMENE UITGAVEN- BEGROTING VAN DE VLAAMSE GEMEENSCHAP VOOR HET BEGROTINGS- JAAR 2018(VR 2018 2311 DOC.1321/1 EN DOC.1321/2)</h4>
            <p>Dit punt wordt uitgesteld tot de volgende vergadering.</p> 
            <h4> 4. VERZAMELBESLUIT ENERGIE ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE WIJZIGING VAN HET ENERGIEBESLUIT VAN 19 NOVEMBER 2010, WAT BETREFT DIVERSE BEPALINGEN OVER ENERGIE GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1322/1TER, DOC.1322/2QUATER, VR 2018 2311 DOC.1322/4 EN DOC.1322/5)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0004.</p> 
            <h4>5. CALL GROENE WARMTE ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE WIJZIGING VAN HET ENERGIEBESLUIT VAN 19 NOVEMBER 2010, WAT BETREFT EEN AANPASSING VAN DE CALL-REGELING VOOR DE ONDERSTEUNING VAN GROENE WARMTE, RESTWARMTE EN BIOMETHAAN GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1337/1 EN DOC.1337/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0005.</p> 
            <h4>6. WIJZIGING BESLUIT VLAAMSE CODEX FISCALITEIT: BELASTING OP SPELEN EN WEDDENSCHAPPEN EN OP AUTOMATISCHE ONTSPANNINGS- TOESTELLEN VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING HOUDENDE DE WIJZIGING VAN HET BESLUIT VLAAMSE CODEX FISCALITEIT VAN 20 DECEMBER 2013, WAT BETREFT DE BELASTING OP DE SPELEN EN WEDDENSCHAPPEN EN OP DE AUTOMATISCHE ONTSPANNINGS- TOESTELLEN PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1338/1BIS EN DOC.1338/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0006.</p> 
            <h4>7. WIJZIGING DIVERSE BEPALINGEN: UITBREIDING BEVOEGDHEID CIC, WIJZIGING CODEX FISCALITEIT EN EXPLOITATIE DIRECTE LIJNEN ONTWERPBESLUIT VAN DE VLAAMSE REGERING BETREFFENDE DE INVORDERING VAN NIET-FISCALE SCHULDVORDERINGEN, DE WIJZIGING VAN DIVERSE BEPALINGEN VAN HET BESLUIT VLAAMSE CODEX FISCALITEIT VAN 20 DECEMBER 2013 EN DE HEFFING OP DIRECTE LIJNEN GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1339/1 EN DOC.1339/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0007.</p> 
            <h4>8. HUURPRIJSBEREKENING ONTWERPBESLUIT VAN DE VLAAMSE REGERING TOT WIJZIGING VAN DIVERSE BEPALINGEN BETREFFENDE HET WOONBELEID GOEDKEURING NA ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1340/1 EN DOC.1340/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0008.</p> 
            <h4>9. GENERIEK INFORMATIEPLATFORM OPENBAAR DOMEIN (GIPOD) VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING TOT WIJZIGING VAN ARTIKEL 8 EN 9 VAN HET BESLUIT VAN DE VLAAMSE REGERING VAN 9 DECEMBER 2016 HOUDENDE DE UITVOERING VAN HET DECREET VAN 4 APRIL 2014 HOUDENDE DE UITWISSELING VAN INFORMATIE OVER EEN INNAME VAN HET OPENBAAR DOMEIN IN HET VLAAMSE GEWEST EN VAN HET DECREET VAN 10 NOVEMBER 2017 INZAKE MAATREGELEN TER VERLAGING VAN DE KOSTEN VOOR DE AANLEG VAN ELEKTRONISCHE COMMUNICATIENETWERKEN MET HOGE SNELHEID EN TOT WIJZIGING VAN DIVERSE DECRETEN PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1341/1 EN DOC.1341/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0009.</p> 
            <h4>10. MANDATENDATABANK LOKALE EN PROVINCIALE BESTUREN <br/>A. ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE HET GEBRUIK VAN OPEN STANDAARDEN DOOR DE LOKALE BESTUREN EN TOT NADERE REGELING VAN DE DATABANK VAN DE LOKALE MANDATARISSEN EN VAN DE DATABANK VAN DE LEIDEND AMBTENAREN <br/>B. ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE HET GEBRUIK VAN OPEN STANDAARDEN DOOR DE PROVINCIALE BESTUREN EN TOT NADERE REGELING VAN DE DATABANK VAN DE PROVINCIALE MANDATARISSEN EN VAN DE DATABANK VAN DE LEIDEND AMBTENAREN GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1342/1, DOC.1342/2 EN DOC.1342/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0010.</p> 
            <h4>11. PROVINCIALE VOLKSRAADPLEGING ONTWERPBESLUIT VAN DE VLAAMSE REGERING BETREFFENDE DE ORGANISATIE VAN EEN PROVINCIALE VOLKSRAADPLEGING GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1343/1, DOC.1343/2, DOC.1343/3, DOC.1343/4, DOC.1343/5, DOC.1343/6 EN DOC.1343/7)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0011.</p> 
            <h4>12. SUBSIDIËRING PROJECTEN PREVENTIEVE INFRASTRUCTURELE MAAT- REGELEN AGRESSIE EN VRIJHEIDSBEPERKING ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE DE SUBSIDIËRING VAN PROJECTEN VAN PREVENTIEVE INFRASTRUCTURELE MAATREGELEN INZAKE AGRESSIE, VRIJHEIDSBEPERKING OF VRIJHEIDS- BEROVING IN BEPAALDE VOORZIENINGEN VAN HET BELEIDSDOMEIN WELZIJN, VOLKSGEZONDHEID EN GEZIN GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1344/1 EN DOC.1344/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0012.</p> 
            <h4>13. VLAAMS EXPERTISECENTRUM SUICIDEPREVENTIE (VLESP): SUBSIDIËRING SERIOUS GAME SUÏCIDEPREVENTIE ONTWERPBESLUIT VAN DE VLAAMSE REGERING TOT TOEKENNING VAN EEN SUBSIDIE AAN HET VLAAMS EXPERTISECENTRUM SUICIDEPREVENTIE (VLESP) VOOR DE PRODUCTIE EN BIJHORENDE EVALUATIE VAN EEN VOLWAARDIGE SERIOUS GAME VOOR DE PREVENTIE VAN SUÏCIDE (VR 2018 3011 DOC.1345/1 EN DOC.1345/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0013.</p> 
            <h4>14. WIJZIGINGSBESLUIT OPRICHTING VLAAMS AGENTSCHAP VOOR JEUGD EN GEZIN ONTWERPBESLUIT VAN DE VLAAMSE REGERING TOT WIJZIGING VAN HET BESLUIT VAN DE VLAAMSE REGERING VAN 24 OKTOBER 2008 TOT UITVOERING VAN HET DECREET VAN 7 MAART 2008 INZAKE BIJZONDERE JEUGDBIJSTAND EN HET KADERDECREET BESTUURLIJK BELEID VAN 18 JULI 2003 GOEDKEURING NA ADVIEZEN (VR 2018 3011 DOC.1346/1 EN DOC.1346/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0014.</p> 
            <h4>15. WIJZIGINGSDECREET OPRICHTING VLAAMS AGENTSCHAP VOOR JEUGD EN GEZIN ONTWERPDECREET TOT ONTBINDING VAN HET FONDS JONGEREN- WELZIJN EN TOT WIJZIGING VAN HET DECREET VAN 30 APRIL 2004 TOT OPRICHTING VAN HET INTERN VERZELFSTANDIGD AGENTSCHAP MET RECHTSPERSOONLIJKHEID KIND EN GEZIN EN HET DECREET VAN 12 JULI 2013 BETREFFENDE DE INTEGRALE JEUGDHULP GOEDKEURING NA ADVIEZEN (VR 2018 3011 DOC.1347/1, DOC.1347/2 EN DOC.1347/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0015.</p> 
            <h4>16. ALGEMEEN WELZIJNSWERK ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE DE WIJZI- GING VAN DIVERSE BEPALINGEN VAN HET BESLUIT VAN DE VLAAMSE REGERING VAN 21 JUNI 2013 BETREFFENDE HET ALGEMEEN WELZIJNS- WERK GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1348/1 EN DOC.1348/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0016.</p> 
            <h4>17. FLANDERS SYNERGY VZW: TOEKENNING PROJECTSUBSIDIE ONTWERPBESLUIT VAN DE VLAAMSE REGERING TOT TOEKENNING VAN EEN SUBSIDIE AAN FLANDERS SYNERGY VZW VOOR HET PROJECT ‘INNOVATIEVE ARBEIDSORGANISATIE IN DE WOONZORGCENTRA ALS HEFBOOM VOOR BETERE ZORG EN ZINVOL EN WERKBAAR WERK’ (VR 2018 3011 DOC.1349/1BIS EN DOC.1349/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0017.</p> 
            <h4>18. SAMENWERKINGSOVEREENKOMST VLAAMS ENERGIEBEDRIJF (VEB) ONTWERP VAN SAMENWERKINGSOVEREENKOMST TUSSEN HET VLAAMSE GEWEST EN VEB 2019-2023 (VR 2018 3011 DOC.1350/1BIS EN DOC.1350/4BIS)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0018.</p> 
            <h4>19. RAAD VAN BESTUUR VAN DE NV VLAAMSE PARTICIPATIEMAATSCHAPPIJ (VPM): HERBENOEMING BESTUURDERS (VR 2018 3011 DOC.1351/1)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0019.</p> 
            <h4>20. PREMIE VERVANGING HUISHOUDELIJKE VERWARMING VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING TOT INSTELLING VAN EEN TEGEMOETKOMING IN DE KOSTEN VOOR DE VERVANGING VAN OUDE EN VERVUILENDE INDIVIDUELE VERWARMINGS- SYSTEMEN OP VASTE BRANDSTOFFEN IN PARTICULIERE WOON- EENHEDEN PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1298/1TER EN DOC.1298/2QUATER)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0020.</p> 
            <h4>21. WIJZIGING PLANVOORSCHRIFTEN VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING INZAKE DE HERZIENING OF DE OPHEFFING VAN STEDENBOUWKUNDIGE VOORSCHRIFTEN VAN ALGEMENE EN BIJZONDERE PLANNEN VAN AANLEG EN GEMEENTELIJKE RUIMTELIJKE UITVOERINGSPLANNEN, MET TOEPASSING VAN ARTIKEL 7.4.4/1 VAN DE VLAAMSE CODEX RUIMTELIJKE ORDENING PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1352/1TER EN DOC.1352/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0021.</p> 
            <h4>22. GRUP FORT VAN LILLO STARTBESLISSING OVER HET GEÏNTEGREERD PLANPROCES VOOR HET GEWESTELIJK RUIMTELIJK UITVOERINGSPLAN ‘FORT VAN LILLO’ (VR 2018 3011 DOC.1353/1BIS, DOC.1353/2, DOC.1353/3, DOC.1353/4 EN DOC.1353/5)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0022.</p> 
            <h4>23. VERLENGING VAN HET TWEEDE MANDAAT VAN EEN VLAAMS TOP- AMBTENAAR (VR 2018 3011 DOC.1354/1)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0023.</p> 
            <h4>24. AFWIJKING GRUP VSGB ZAVENTEM ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE HET VERLENEN VAN INSTEMMING MET DE AFWIJKING VAN DE VOOR- SCHRIFTEN VAN HET GEWESTELIJK RUIMTELIJK UITVOERINGSPLAN ‘AFBAKENING VSGB EN AANSLUITENDE OPEN RUIMTEGEBIEDEN – CLUSTER ZAVENTEM’ AAN DE GEMEENTE ZAVENTEM (VR 2018 3011 DOC.1355/1, DOC.1355/2 EN DOC.1355/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0024.</p> 
            <h4>25. ASBESTAFBOUWBELEID VOORONTWERP VAN DECREET TOT WIJZIGING VAN DIVERSE BEPALINGEN VAN TITEL X VAN HET DECREET VAN 5 APRIL 1995 HOUDENDE ALGEMENE BEPALINGEN INZAKE MILIEUBELEID EN HET DECREET VAN 23 DECEMBER 2011 BETREFFENDE HET DUURZAAM BEHEER VAN MATERIAAL- KRINGLOPEN EN AFVALSTOFFEN PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1356/1BIS, DOC.1356/2BIS EN DOC.1356/3BIS)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0025.</p> 
            <h4>26. WIJZIGING VLAREME VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING TOT WIJZIGING VAN BIJLAGE 2 BIJ DE VLAREME VAN 28 OKTOBER 2016 PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1357/1BIS, DOC.1357/2 EN DOC.1357/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0026.</p> 
            <h4>27. OMSTANDIGHEIDSVERLOF VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING TOT WIJZI- GING VAN ARTIKEL 2 VAN HET BESLUIT VAN DE VLAAMSE REGERING BETREFFENDE HET OMSTANDIGHEIDSVERLOF, HET VERLOF WEGENS OVERMACHT, HET ONBEZOLDIGD OUDERSCHAPSVERLOF EN HET GEBOORTEVERLOF IN GEVAL VAN OVERLIJDEN OF HOSPITALISATIE VAN DE MOEDER VOOR BEPAALDE PERSONEELSLEDEN VAN HET ONDERWIJS EN DE CENTRA VOOR LEERLINGENBEGELEIDING EN TOT WIJZIGING VAN HET BESLUIT VAN DE VLAAMSE REGERING VAN 26 APRIL 1990 BETREF- FENDE HET VERLOF VOOR VERMINDERDE PRESTATIES, GEWETTIGD DOOR SOCIALE OF FAMILIALE REDENEN EN DE AFWEZIGHEID VOOR VERMINDERDE PRESTATIES WEGENS PERSOONLIJKE AANGELEGENHEID TEN GUNSTE VAN DE PERSONEELSLEDEN VAN HET ONDERWIJS EN DE CENTRA VOOR LEERLINGENBEGELEIDING PRINCIPIËLE GOEDKEURING M.H.O. OP ONDERHANDELINGEN EN ADVIES- AANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1358/1 EN DOC.1358/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0027.</p> 
            <h4>28. TOEZICHT UNIVERSITEIT GENT EN UNIVERSITAIR CENTRUM ANTWERPEN ONTWERP VAN BIJZONDER DECREET TOT WIJZIGING VAN HET BIJZONDER DECREET VAN 26 JUNI 1991 BETREFFENDE DE UNIVERSITEIT GENT EN HET UNIVERSITAIR CENTRUM ANTWERPEN, WAT BETREFT HET TOEZICHT GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1359/1, DOC.1359/2 EN DOC.1359/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0028.</p> 
            <h4>29. SALARISSCHALEN BEPAALDE PERSONEELSLEDEN ONDERWIJS VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING TOT WIJZI- GING VAN DIVERSE BESLUITEN WAT BETREFT DE AANPASSING AAN HET BESLUIT VAN DE VLAAMSE REGERING VAN 5 OKTOBER 2018 HOUDENDE DE SALARISSCHALEN VAN BEPAALDE PERSONEELSLEDEN VAN HET ONDERWIJS PRINCIPIËLE GOEDKEURING M.H.O. OP ONDERHANDELINGEN (VR 2018 3011 DOC.1360/1 EN DOC.1360/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0029.</p> 
            <h4>30. TOEZICHT HOGER ONDERWIJS ONTWERPDECREET TOT WIJZIGING VAN DE REGELGEVING BETREFFENDE HET TOEZICHT OP EN BEPAALDE ORGANISATORISCHE ASPECTEN VAN HET HOGER ONDERWIJS GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1361/1, DOC.1361/2 EN DOC.1361/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0030.</p> 
            <h4>31. LEERLINGENVERVOER BUITENGEWOON ONDERWIJS <br/>A. VOORONTWERP VAN BESLUIT VAN DE VLAAMSE REGERING BETREFFENDE HET TIJDELIJK PROJECT “LEERLINGENVERVOER BUITENGEWOON ONDERWIJS” <br/>B. VOORONTWERP VAN DECREET TOT BEKRACHTIGING VAN HET BESLUIT VAN DE VLAAMSE REGERING VAN XXXXXX BETREFFENDE HET TIJDELIJK PROJECT ‘LEERLINGENVERVOER BUITENGEWOON ONDERWIJS’ PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAGEN (VR 2018 3011 DOC.1362/1, DOC.1362/2, DOC.1362/3 EN DOC.1362/4)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0031.</p> 
            <h4>32. INVULLING VAN HET VOORZITTERSCHAP VAN HET IN HET KADER VAN HET SAMENWERKINGSAKKOORD VAN 27 FEBRUARI 2014 TUSSEN DE FEDERALE STAAT, HET VLAAMSE GEWEST, WAALSE GEWEST EN HET BRUSSELSE HOOFDSTEDELIJKE GEWEST BETREFFENDE DE OPRICHTING VAN EEN VERGUNNINGSCOÖRDINEREND EN –FACILITEREND COMITÉ VOOR TRANS-EUROPESE ENERGIE-INFRASTRUCTUURPROJECTEN, TER UITVOERING VAN VERORDENING (EU) NR. 347/2013, OPGERICHTE VERGUNNINGSCOÖRDINEREND EN -FACILITEREND COMITÉ (VR 2018 3011 DOC.1363/1)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0032.</p> 
            <h4>33. NOTARIËLE AKTEN VOORONTWERP VAN DECREET TOT REGELING VAN DE TALEN WAARIN NOTARIËLE AKTEN AANGEBODEN EN MEEGEDEELD WORDEN AAN HET BEVOEGDE KANTOOR VAN DE ALGEMENE ADMINISTRATIE VAN DE PATRIMONIUMDOCUMENTATIE OF ANDERE BESTUURLIJKE OVERHEDEN EN TOT WIJZIGING VAN ARTIKEL 3 VAN HET WETBOEK VAN 30 NOVEMBER 1939 DER REGISTRATIE-, HYPOTHEEK- EN GRIFFIERECHTEN PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAGEN (VR 2018 3011 DOC.1364/1, DOC.1364/2 EN DOC.1364/3)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0033.</p> 
            <h4>34. REGLEMENTERING WIELERWEDSTRIJDEN VOORONTWERP VAN KONINKLIJK BESLUIT VAN ... TOT REGLEMENTERING VAN DE WIELERWEDSTRIJDEN EN VAN DE ALLE-TERREINWEDSTRIJDEN BETROKKENHEID VAN DE VLAAMSE REGERING STANDPUNTBEPALING (VR 2018 3011 DOC.1365/1TER EN DOC.1365/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0034.</p> 
            <h4>35. TOELICHTING BIJ DE DWINGENDE REDENEN VAN GROOT OPENBAAR BELANG VOOR DE REALISATIE VAN DE VERBREDING EN VERDIEPING VAN HET BOUDEWIJNKANAAL MET INBEGRIP VAN DE AANLEG VAN EEN TIJDELIJK BOUWDOK IN DE ZEEHAVEN TE ZEEBRUGGE (VR 2018 3011 DOC.1366/1)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0035.</p> 
            <h4>36. LOKAAL SOCIAAL BELEID ONTWERPBESLUIT VAN DE VLAAMSE REGERING BETREFFENDE HET LOKAAL SOCIAAL BELEID, VERMELD IN ARTIKELS 2, 9 TOT EN MET 11, 17, 19 EN 26 VAN HET DECREET VAN 9 FEBRUARI 2018 BETREFFENDE HET LOKAAL SOCIAAL BELEID GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1367/1 EN DOC.1367/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0036.</p> 
            <h4>37. WIJZIGING HUISHOUDELIJK REGLEMENT VAN HET RAADGEVEND COMITÉ BIJ HET VLAAMS CENTRUM VOOR ADOPTIE (VCA) (VR 2018 3011 DOC.1368/1 EN DOC.1368/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0037.</p> 
            <h4>38. UITVOERINGSBESLUIT VLAAMSE SOCIALE BESCHERMING (VSB) ONTWERPBESLUIT VAN DE VLAAMSE REGERING HOUDENDE DE UIT- VOERING VAN HET DECREET VAN 18 MEI 2018 HOUDENDE DE VLAAMSE SOCIALE BESCHERMING GOEDKEURING NA ADVIES VAN DE RAAD VAN STATE (VR 2018 3011 DOC.1369/1, DOC.1369/2, DOC.1369/3, DOC.1369/4, DOC.1369/5, DOC.1369/6, DOC.1369/7, DOC.1369/8 EN DOC.1369/9)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0038.</p> 
            <h4>39. EERSTELIJNSDECREETVOORONTWERP VAN DECREET BETREFFENDE DE ORGANISATIE VAN DE EERSTELIJNSZORG, DE REGIONALE ZORGPLATFORMEN, DE ONDER- STEUNING VAN DE EERSTELIJNSZORGAANBIEDERS EN TOT WIJZIGING VAN VERSCHILLENDE DECRETEN BINNEN HET BELEIDSDOMEIN WELZIJN, VOLKSGEZONDHEID EN GEZIN PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAAG AAN DE RAAD VAN STATE (VR 2018 3011 DOC.1370/1, DOC.1370/2 EN DOC.1370/3)</h4>
            <p>Dit punt wordt uitgesteld tot de volgende vergadering.</p> 
            <h4>40. UITBREIDING TEWERKSTELLING ‘SOCIALE MARIBEL’: OVERHEVELING VAN FEDERALE KREDIETEN (VR 2018 3011 DOC.1371/1)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0040.</p> 
            <h4>41. VERZAMELDECREET WERK EN SOCIALE ECONOMIE VOORONTWERP VAN DECREET BETREFFENDE OPLEIDINGSCHEQUES VOOR WERKNEMERS EN TOT WIJZIGING VAN DIVERSE BEPALINGEN INZAKE HET BELEIDSDOMEIN WERK EN SOCIALE ECONOMIE PRINCIPIËLE GOEDKEURING M.H.O. OP ADVIESAANVRAGEN (VR 2018 3011 DOC.1372/1BIS, DOC.1372/2 EN DOC.1372/3BIS)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0041.</p> 
            <h4>42. BEGROTING 2019: BEMERKINGEN VAN HET REKENHOF ONTWERP VAN ANTWOORD EN AMENDEMENTEN (VR 2018 3011 DOC.1373/1, DOC.1373/2, DOC.1373/3, DOC.1373/4 EN DOC.1373/5)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0042.</p> 
            <h4>43. BEKRACHTIGING EN AFKONDIGING VAN HET DECREET HOUDENDE INSTEMMING MET 1° DE OVEREENKOMST EN HET PROTOCOL TUSSEN DE REGERING VAN HET KONINKRIJK BELGIË EN DE REGERING VAN DE REPUBLIEK INDIA TOT HET VERMIJDEN VAN DUBBELE BELASTING EN TOT HET VOORKOMEN VAN HET ONTGAAN VAN BELASTING INZAKE BELASTINGEN NAAR HET INKOMEN, BEIDE ONDERTEKEND TE BRUSSEL OP 26 APRIL 1993, 2° HET PROTOCOL, ONDERTEKEND TE NEW DELHI OP 9 MAART 2017 TOT WIJZIGING VAN DE ONDER 1° VERMELDE OVEREENKOMST EN PROTOCOL, AANGENOMEN DOOR HET VLAAMS PARLEMENT OP 21 NOVEMBER 2018 (VR 2018 3011 DEC.0112)</h4>
            <p>De Vlaamse Regering bekrachtigt bovengenoemd decreet en beslist over te gaan tot de afkondiging ervan.</p> 
            <h4>44. BEKRACHTIGING EN AFKONDIGING VAN HET DECREET HOUDENDE INSTEMMING MET DE OVEREENKOMST TUSSEN HET KONINKRIJK BELGIË EN DE COOKEILANDEN INZAKE DE UITWISSELING VAN INLICHTINGEN MET BETREKKING TOT BELASTINGAANGELEGENHEDEN, ONDERTEKEND TE BRUSSEL OP 21 AUGUSTUS 2015 EN TE RAROTONGA OP 8 SEPTEMBER 2015, AANGENOMEN DOOR HET VLAAMS PARLEMENT OP 21 NOVEMBER 2018 (VR 2018 3011 DEC.0113)</h4>
            <p>De Vlaamse Regering bekrachtigt bovengenoemd decreet en beslist over te gaan tot de afkondiging ervan.</p> 
            <h4>45. BEKRACHTIGING EN AFKONDIGING VAN HET DECREET BETREFFENDE HET VERVREEMDEN VAN ONROERENDE DOMEINGOEDEREN EN HET VESTIGEN EN VERVREEMDEN VAN ZAKELIJKE RECHTEN DOOR DE VLAAMSE GEMEENSCHAP EN HET VLAAMSE GEWEST, AANGENOMEN DOOR HET VLAAMS PARLEMENT OP 21 NOVEMBER 2018 (VR 2018 3011 DEC.0114)</h4>
            <p>De Vlaamse Regering bekrachtigt bovengenoemd decreet en beslist over te gaan tot de afkondiging ervan.</p> 
            <h4>46. BEKRACHTIGING EN AFKONDIGING VAN HET DECREET BETREFFENDE HET DUAAL LEREN IN HET BUITENGEWOON SECUNDAIR ONDERWIJS VAN OPLEIDINGSVORM 3 EN 4, AANGENOMEN DOOR HET VLAAMS PARLEMENT OP 21 NOVEMBER 2018(VR 2018 3011 DEC.0115)</h4>
            <p>De Vlaamse Regering bekrachtigt bovengenoemd decreet en beslist over te gaan tot de afkondiging ervan.</p> 
            <h4>47. BEKRACHTIGING EN AFKONDIGING VAN HET DECREET BETREFFENDE DE GEBOUWENPAS, AANGENOMEN DOOR HET VLAAMS PARLEMENT OP 21 NOVEMBER 2018 (VR 2018 3011 DEC.0116)</h4>
            <p>De Vlaamse Regering bekrachtigt bovengenoemd decreet en beslist over te gaan tot de afkondiging ervan.</p> 
            <h4>48. BEKRACHTIGING EN AFKONDIGING VAN HET DECREET TOT BEKRACHTIGING VAN DE COÖRDINATIE VAN DE WATERREGELGEVING IN HET DECREET VAN 18 JULI 2003 BETREFFENDE HET INTEGRAAL WATER- BELEID EN TOT OPHEFFING VAN DE GECOÖRDINEERDE REGELGEVING, AANGENOMEN DOOR HET VLAAMS PARLEMENT OP 21 NOVEMBER 2018 (VR 2018 3011 DEC.0117)</h4>
            <p>De Vlaamse Regering bekrachtigt bovengenoemd decreet en beslist over te gaan tot de afkondiging ervan.</p> 
            <h4>49. AGENTSCHAP INNOVEREN EN ONDERNEMEN (VLAIO): AANSTELLING ADMINISTRATEUR-GENERAAL ONTWERPBESLUIT VAN DE VLAAMSE REGERING BETREFFENDE DE TOELATING TOT DE PROEFTIJD IN DE GRAAD VAN DIRECTEUR-GENERAAL EN DE AANSTELLING VAN DE ADMINISTRATEUR-GENERAAL BIJ HET AGENTSCHAP INNOVEREN EN ONDERNEMEN (VR 2018 3011 DOC.1374/1 EN DOC.1374/2)</h4>
            <p>Dit punt wordt goedgekeurd confer beslissingsfiche VR PV 2018/42 - punt 0049.</p> 
            <h4>MEDEDELINGEN</h4>
            <h5>1. DIPLOMATIEKE BEWEGING 2019: WIJZIGING (VR 2018 3011 MED.0442/1)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>2. JAARVERSLAG FORMEEL OVERLEG INSPECTIE – BEGELEIDINGSDIENSTEN SCHOOLJAAR 2017-2018 (VR 2018 3011 MED.0443/1 EN MED.0443/2)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>3. DEELNAME AAN HET WERELDFORUM VOOR DEMOCRATIE IN STRAATSBURG, FRANKRIJK (19 NOVEMBER 2018): VERSLAG (VR 2018 3011 MED.0444/1)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>4. ZENDING VAN VLAAMS MINISTER JOKE SCHAUVLIEGE NAAR CBD COP 14 – 6TH GLOBAL BIODIVERSITY SUMMIT OF LOCAL AND REGIONAL GOVERN- MENTS IN SHARM EL-SHEIKH (22-25 NOVEMBER 2018): VERSLAG (VR 2018 3011 MED.0445/1 EN MED.0445/2)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>5. ACTIEPLAN TER PREVENTIE VAN GEWELDDADIGE RADICALISERING EN POLARISERING: TUSSENTIJDSE RAPPORTAGE (DECEMBER 2018) (VR 2018 3011 MED.0446/1 EN MED.0446/2BIS)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>6. ALTERNATIEVE FINANCIERING VAN VLAAMSE OVERHEIDSINVESTERINGEN ELFDE OMSTANDIGE TOELICHTING AAN DE COMMISSIE VOOR ALGEMEEN BELEID, FINANCIËN EN BEGROTING VAN HET VLAAMS PARLEMENT (VR 2018 3011 MED.0447/1)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>7. GRONDWETTELIJK HOF: ROLNUMMER 7037 BEROEP TOT GEDEELTELIJKE VERNIETIGING VAN HET DECREET VAN DE VLAAMSE GEMEENSCHAP VAN 9 MAART 2018 BETREFFENDE HET DEELTIJDS KUNSTONDERWIJS, INGESTELD DOOR PAUL MERTENS (VR 2018 3011 MED.0448/1 EN MED.0448/2)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>8. EVALUATIE TOPAMBTENAREN 2018 EN PLANNING 2019 (VR 2018 3011 MED.0449/1, MED.0449/2BIS, MED.0449/3BIS EN MED.0449/4)</h5>
            <p>De Vlaamse Regering neemt akte van deze mededeling.</p> 
            <h5>9. SCHRIFTELIJKE VRAAG VAN 27 NOVEMBER 2018 VAN DE HEER KURT DE LOOR, GESTELD AAN ALLE VLAAMSE MINISTERS, BETREFFENDE "WERKSTRAFFEN – ROL VLAAMSE OVERHEID" (VR 2018 3011 MED.0450/1 EN MED.0450/2)</h5>
            <p>Met toepassing van omzendbrief VR 2017/11 van 17 maart 2017 wordt overeen- gekomen dat betreffende de vraag van 27 november 2018 van de heer Kurt De Loor i.v.m. “Werkstraffen – Rol Vlaamse overheid” een gecoördineerd antwoord verstrekt zal worden door de heer Geert Bourgeois, Vlaams minister, bevoegd voor het algemeen regeringsbeleid.</p> 
            <p>De andere Vlaamse ministers zullen, ieder wat hem of haar betreft, hun elementen van antwoord onverwijld aan de Vlaamse minister, bevoegd voor het algemeen regeringsbeleid, overzenden.</p> 
            <p>De volgende vergadering van de Vlaamse Regering heeft plaats op vrijdag 7 december 2018 om 10.00 uur op het kabinet van de minister-president van de Vlaamse Regering, Martelaarsplein 19 - 1000 BRUSSEL.</p>
          </div>
          {{!-- <p>
            {{#if this.isSigned}}
            <AuPill @icon="sign" @size="small" @skin="success">Getekend</AuPill>
            {{else}}
            <AuPill @icon="no-sign" @size="small">Niet getekend</AuPill>
            {{/if}}
          </p> --}}
          {{/if}}
        </Auk::Panel::Body>
        {{#if this.isEditing}}
          <Auk::Panel::Footer class="au-u-background-gray-100">
            <Auk::Toolbar>
              <Auk::Toolbar::Group @position="left">
                <Auk::Toolbar::Item>
                  <AuButton
                    @skin="naked"
                    {{on "click" this.toggleEdit}}
                  >
                    {{t "cancel"}}
                  </AuButton>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
              <Auk::Toolbar::Group @position="right">
                <Auk::Toolbar::Item>
                  <AuButton
                    @skin="primary"
                    {{on "click" this.toggleEdit}}
                  >
                    {{t "save"}}
                  </AuButton>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
            </Auk::Toolbar>
          </Auk::Panel::Footer>
        {{/if}}
      </Auk::Panel>
      
    </div>
  </div>
</div>
