{{page-title (t "press-agenda")}}
<div class="auk-scroll-wrapper auk-u-maximize-width auk-u-scroll-scrollable vlc-hide-scrollbar-on-print">
  <div class="auk-u-responsive-margin auk-u-m-0@print">
    <div
      class="auk-container auk-container--center l-printable-agenda"
    >
      {{#if this.notaGroups.isRunning}}
        <Auk::Loader />
      {{else}}
        <Utils::LogoHeader />
        <h2
          class="auk-h2 auk-u-text-family-serif auk-u-text-align--center auk-u-mt-5 auk-u-mb-10"
        >
          {{t "agenda-of"}}
          {{#if @model.meeting.isPreKaleidos}}
            {{date @model.meeting.plannedStart}}
          {{else}}
            {{datetime-at @model.meeting.plannedStart}}
          {{/if}}
          -
          {{kind-print-label @model.meeting.kind}}
        </h2>

        <div class="auk-content">
          {{#if this.notaGroups.value}}
            <div>
              <div class="l-printable-agenda__section-content">
                {{#each this.notaGroups.value as |notaGroup|}}
                  <Agenda::Press::ListSection::ItemGroup
                    @items={{notaGroup}}
                  />
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
