<WebComponents::AuPanel>
  <WebComponents::AuPanel::Body class="auk-panel--editing">
    <div class="auk-o-flex">
      <div class="auk-form-group auk-u-maximize-width auk-u-mr-2">
        <WebComponents::AuLabel for="blockInput">{{t "name-document" }}</WebComponents::AuLabel>
        <Auk::Input @value={{this.filter.documentName}} type="text" id="blockInput" @block={{true}} />
      </div>
      <div class="auk-form-group auk-u-maximize-width auk-u-mr-2 auk-u-ml-2">
        <WebComponents::AuLabel for="blockInput">{{t "file-extension" }}</WebComponents::AuLabel>
        <PowerSelectMultiple @options={{this.fileTypes}} @searchEnabled={{true}}
          @selected={{this.filter.fileTypes}}
          @onchange={{fn (mut this.filter.fileTypes)}}
          as
          |fileExtension|>
          {{fileExtension}}
        </PowerSelectMultiple>
      </div>
      <div class="auk-form-group auk-u-maximize-width auk-u-ml-2">
        <WebComponents::AuLabel for="blockInput">{{t "file-type" }}</WebComponents::AuLabel>
        <PowerSelectMultiple @options={{this.documentTypes}} @isSearchable={{false}}
          @selected={{this.filter.documentTypes}}
          @onchange={{fn (mut this.filter.documentTypes)}}
          as |pieceType|>
          {{pieceType.label}}
        </PowerSelectMultiple>
      </div>
    </div>
    <div class="auk-o-flex auk-o-flex--justify-end">
      <div>
        <Auk::Button
          data-test-publication-filter-reset
          @skin="secondary"
          {{on "click" this.reset}}
        >
          {{t "reset"}}
        </Auk::Button>
        <Auk::Button
          @icon="filter"
          data-test-publication-filter
          @skin="primary"
          {{on "click" this.apply}}
        >
          {{t "filter-plural"}}
        </Auk::Button>
      </div>
    </div>
  </WebComponents::AuPanel::Body>
</WebComponents::AuPanel>