<Auk::Modal @size={{if this.isExpanded "full-screen"}}>
  <Auk::Modal::Header
    @resizeable={{true}}
    @title={{t "documents-add"}}
    @changeIcon={{this.isExpanded}}
    @onResize={{this.toggleSize}}
    @closeModal={{perform this.cancelUploadPieces}}
  />
  <Auk::Modal::Body>
    {{#if this.savePieces.isRunning}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else}}
      <Auk::FileUploader
        @fileQueueName={{this.fileQueueName}}
        @fullHeight={{eq this.newPieces.length 0}}
        @multiple={{true}}
        @onUpload={{this.uploadPiece}}
      />
      {{! TODO vervangen met correct design (nog in flux), au css en componenten }}
      <div class="upload-container">
        {{#each this.newPieces as |piece|}}
          <Documents::UploadedDocument
            @piece={{piece}}
            @allowDocumentContainerEdit={{true}}
            @onDelete={{perform this.deleteUploadedPiece piece}}
          />
        {{/each}}
      </div>
    {{/if}}
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancelUploadPieces}}
  >
    {{#if this.savePieces.isRunning}}
      <Utils::SimpleSpinner />
    {{else}}
      <Auk::Button
        data-test-au-modal-footer-save
        @skin="primary"
        @disabled={{this.saveIsDisabled}}
        {{on "click" (perform this.savePieces)}}
      >
        {{t "documents-add"}}
      </Auk::Button>
    {{/if}}
  </Auk::Modal::Footer>
</Auk::Modal>