<Auk::Panel class={{if this.isEditing "auk-panel--editing"}}>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            {{t "publication-info"}}
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      {{#unless this.isEditing}}
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-publications-info-panel-edit
              @skin="naked"
              @icon="pencil"
              {{on "click" this.openEditingPanel}}
            >
              {{t "edit"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      {{/unless}}
    </Auk::Toolbar>
  </Auk::Panel::Header>

  {{#if this.isEditing}}
    <Auk::Panel::Body>
      <div class="au-c-form">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-3">
            <AuFormRow data-test-publications-info-panel-edit-view-target-end-date>
              <Auk::Label>{{t "publication-target-end-date"}}</Auk::Label>
              <Auk::Datepicker
                @date={{@publicationSubcase.targetEndDate}}
                @onChange={{this.setTargetEndDate}}
              />
              {{#if
                (and
                  (not @publicationFlow.status.isFinal)
                  @publicationSubcase.isOverdue
                )
              }}
                <Auk::FormHelpText
                  @text={{t "date-expired"}}
                  @skin="warning"
                  @icon="alert-triangle"
                />
              {{/if}}
            </AuFormRow>
          </div>
          <div class="auk-o-grid-col-3">
            <AuFormRow>
              <Auk::Label>
                {{t "publication-date"}}
              </Auk::Label>
              {{#unless this.loadDecision.isRunning}}
                {{#if @publicationFlow.status.isPublished}}
                  {{#if this.decision.isStaatsbladResource}}
                    {{#if this.decision.publicationDate}}
                      {{date this.decision.publicationDate}}
                    {{else}}
                      {{!case: publication-date is not found in Staatsblad (does not seem to occur)}}
                      <div class="auk-u-text-muted auk-u-italic">
                        {{t "not-known"}}
                      </div>
                    {{/if}}
                  {{else}}
                    <Auk::Datepicker
                      @date={{this.decision.publicationDate}}
                      @onChange={{set this.decision "publicationDate"}}
                    />
                  {{/if}}
                {{else}}
                  <div class="auk-u-text-muted auk-u-italic">
                    {{t "not-published"}}
                  </div>
                {{/if}}
              {{/unless}}
            </AuFormRow>
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton
              @skin="naked"
              @disabled={{this.save.isRunning}}
              {{on "click" this.closeEditingPanel}}
            >
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-publications-info-panel-save
              @skin="primary"
              @loading={{this.save.isRunning}}
              {{on "click" (perform this.save)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  {{else}}
    <Auk::Panel::Body>
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-3">
          <div class="auk-content">
            <h4 class="auk-u-m-0">{{t "publication-target-end-date"}}</h4>
            <p
              data-test-publications-info-panel-view-target-end-date
              class="auk-u-m-0"
            >
              {{#if @publicationSubcase.targetEndDate}}
                {{date @publicationSubcase.targetEndDate}}
              {{else}}
                {{t "dash"}}
              {{/if}}
              {{#if
                (and
                  (not @publicationFlow.status.isFinal)
                  @publicationSubcase.isOverdue
                )
              }}
                <Auk::FormHelpText
                  @text={{t "date-expired"}}
                  @skin="warning"
                  @icon="alert-triangle"
                />
              {{/if}}
            </p>
          </div>
        </div>
        <div class="auk-o-grid-col-3">
          <div class="auk-content">
            <h4 class="auk-u-m-0">{{t "publication-date"}}</h4>
            <p
              data-test-publications-info-panel-view-publication-date
              class="auk-u-m-0"
            >
              {{#unless this.loadDecision.isRunning}}
                {{#if @publicationFlow.status.isPublished}}
                  {{#if this.decision.publicationDate}}
                    {{date this.decision.publicationDate}}
                  {{else}}
                    {{#if this.decision.isStaatsbladResource}}
                      <div class="auk-u-text-muted auk-u-italic">
                        {{!case: publication-date is not found in Staatsblad (does not seem to occur)}}
                        {{t "not-known"}}
                      </div>
                    {{else}}
                      {{!case: user cleared publication-date in this panel}}
                      {{t "dash"}}
                    {{/if}}
                  {{/if}}
                {{else}}
                  <div class="auk-u-text-muted auk-u-italic">
                    {{t "not-published"}}
                  </div>
                {{/if}}
              {{/unless}}
            </p>
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
  {{/if}}
</Auk::Panel>