<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "publication-registration-modal-title" }}
    @onClose={{@onCancel}}
    @closeDisabled={{this.save.isRunning}}
  />
  <Auk::Modal::Body>
    <div class="au-c-form">
      <AuFormRow class="auk-u-position-relative" data-test-publication-registration-publication-date>
        <Auk::Label for="publicationRegisterModal_publicationDate">
          {{t "date"}}
        </Auk::Label>
        <Auk::Datepicker
          id="publicationRegisterModal_publicationDate"
          @date={{this.publicationDate}}
          @onChange={{this.setPublicationDate}}
        />
      </AuFormRow>
      <AuFormRow>
        <AuCheckbox
          @checked={{this.mustUpdatePublicationStatus}}
          @onChange={{this.setMustUpdatePublicationStatus}}
        >
          {{t "update-publication-status-published"}}
        </AuCheckbox>
      </AuFormRow>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{@onCancel}}
    @cancelDisabled={{this.save.isRunning}}
  >
    <AuButton
      data-test-publication-registration-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>