<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "publication-request-modal-title"
      publication=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group" data-test-publication-request-body>
          <Auk::Label @required={{true}}>
            {{t "attachments"}}
          </Auk::Label>
          <Auk::FileUploader
            @multiple={{true}}
            @reusable={{true}}
            @onUpload={{this.uploadPiece}}
          />
          <Publications::Publication::PublicationDocumentsList
            @pieces={{this.transferredPieces}}
            @viewable={{true}}
            @onDeletePiece={{this.unlinkTransferredPiece}}
          />
          <Publications::Publication::PublicationDocumentsList
            @pieces={{this.uploadedPieces}}
            @onDeletePiece={{perform this.deleteUploadedPiece}}
          />
        </div>
        <div class="auk-form-group auk-u-mt-4">
          <Auk::Checkbox
            @label={{t "update-publication-status-publication-requested"}}
            @checked={{this.mustUpdatePublicationStatus}}
            {{on "input" this.setPublicationRequestedStatus}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="publicationRequestModal_subject" @required={{true}}>
            {{t "subject"}}
          </Auk::Label>
          <Auk::Input
            data-test-publication-request-subject
            id="publicationRequestModal_subject"
            @block={{true}}
            @value={{mut this.subject}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="publicationRequestModal_message" @required={{true}}>
            {{t "message"}}
          </Auk::Label>
          <Auk::Textarea
            data-test-publication-request-message
            id="publicationRequestModal_message"
            @block={{true}}
            rows="16"
            @value={{mut this.message}}
          />
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <AuButton
      data-test-publication-request-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>