<Auk::Panel
  data-test-publication-registered-panel
>
  <Auk::Panel::Header @size="large">
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title auk-panel__title--small">
            {{t "registered-publication"}}
          </h4>
          <span class="auk-u-text-small auk-u-m-0">
            {{date this.latestDecision.publicationDate}}
          </span>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right">
        <AuDropdown
          @icon="three-dots"
          @title={{t "more"}}
          @hideText={{true}}
          @disabled={{and this.loadData.isIdle this.isEditDisabled}}
          @alignment="right"
        >
          {{!avoid render issues}}
          {{#if this.loadData.isIdle}}
            <AuButton
              @skin="link"
              @disabled={{this.isEditDisabled}}
              {{on "click" this.openPublicationEditModal}}
              role="menuitem"
            >
              {{t "edit-2"}}
            </AuButton>
          {{/if}}
        </AuDropdown>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <AuList as |Item|>
      {{#each this.decisions as |decision|}}
        <Item class="auk-o-flex auk-o-flex--spaced-wide au-u-padding-top-tiny au-u-padding-bottom-tiny">
          <AuBadge
            @icon="document"
            @skin="gray"
            @size="small"
          />
          <h5 class="auk-u-m-0">
            {{t "published-in-belgian-official-gazette-on"}}
            {{date decision.publicationDate}}
          </h5>
          {{#if decision.isStaatsbladResource}}
            <AuLinkExternal
              @skin="primary"
              @icon="external-link"
              @hideText={{true}}
              href={{decision.uri}}
              target="_blank"
            >
              {{t "open-publication"}}
            </AuLinkExternal>
          {{/if}}
        </Item>
      {{/each}}
    </AuList>
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenPublicationEditModal}}
  <Publications::Publication::PublicationActivities::PublicationEditModal
    @publicationDate={{this.latestDecision.publicationDate}}
    @onSave={{perform this.editPublication}}
    @onCancel={{this.closePublicationEditModal}}
  />
{{/if}}