<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "publication-request-modal-title"
      publication=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      <div class="au-c-form">
        <AuFormRow data-test-publication-request-body>
          <Auk::Label @required={{true}}>
            {{t "attachments"}}
          </Auk::Label>
          <Publications::Publication::RequestUploader
            @onUpload={{this.uploadPiece}}
          />
          <Publications::Publication::PublicationDocumentsList
            @pieces={{this.transferredPieces}}
            @viewable={{true}}
            @onDeletePiece={{this.unlinkTransferredPiece}}
            class="au-u-margin-top-tiny"
          />
          <Publications::Publication::PublicationDocumentsList
            @pieces={{this.uploadedPieces}}
            @onDeletePiece={{perform this.deleteUploadedPiece}}
            class="au-u-margin-top-tiny"
          />
        </AuFormRow>
        <AuFormRow>
          <AuCheckbox
            @checked={{this.mustUpdatePublicationStatus}}
            @onChange={{this.setPublicationRequestedStatus}}
          >
            {{t "update-publication-status-publication-requested"}}
          </AuCheckbox>
        </AuFormRow>
        <AuFormRow>
          <Auk::Label for="publicationRequestModal_subject" @required={{true}}>
            {{t "subject"}}
          </Auk::Label>
          <AuInput
            data-test-publication-request-subject
            id="publicationRequestModal_subject"
            value={{this.subject}}
            @width="block"
            {{on "input" (pick "target.value" (set this "subject"))}}
          />
        </AuFormRow>
        <AuFormRow>
          <Auk::Label for="publicationRequestModal_message" @required={{true}}>
            {{t "message"}}
          </Auk::Label>
          <AuTextarea
            data-test-publication-request-message
            id="publicationRequestModal_message"
            rows="16"
            @width="block"
            @value={{this.message}}
          />
        </AuFormRow>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <AuButton
      data-test-publication-request-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>