<Auk::Panel
  data-test-publication-registered-panel
>
  <Auk::Panel::Header @size="large">
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title auk-panel__title--small">
            {{t "registered-publication"}}
          </h4>
          <span class="auk-u-text-small auk-u-m-0">
            {{moment-format this.latestDecision.publicationDate}}
          </span>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right">
        <Auk::DropdownMenu
          @skin="borderless"
          @icon="three-dots"
          @disabled={{and this.loadData.isIdle this.isEditDisabled}}
          as |Menu|
        >
          {{!avoid render issues}}
          {{#if this.loadData.isIdle}}
            <Menu.Item
              @disabled={{this.isEditDisabled}}
              {{on "click" this.openPublicationEditModal}}
            >
              {{t "edit-2"}}
            </Menu.Item>
          {{/if}}
        </Auk::DropdownMenu>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <Auk::List>
      {{#each this.decisions as |decision|}}
        <Auk::List::Item class="auk-o-flex auk-o-flex--spaced-wide">
          <Auk::Badge @icon="document" @size="regular" />
          <h5 class="auk-u-m-0">
            {{t "published-in-belgian-official-gazette-on"}}
            {{moment-format decision.publicationDate}}
          </h5>
          {{#if decision.isStaatsbladResource}}
            <AuLink
              @skin="primary"
              @icon="external-link"
              @hideText={{true}}
              @href={{decision.uri}}
              target="_blank"
            >
              {{t "open-publication"}}
            </AuLink>
          {{/if}}
        </Auk::List::Item>
      {{/each}}
    </Auk::List>
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenPublicationEditModal}}
  <Publications::Publication::PublicationActivities::PublicationEditModal
    @publicationDate={{this.latestDecision.publicationDate}}
    @onSave={{perform this.editPublication}}
    @onCancel={{this.closePublicationEditModal}}
  />
{{/if}}