<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "publication-request-modal-title"
      publication=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group">
          <Auk::Label for="publicationRequestModal.subject">
            {{t "subject"}}
          </Auk::Label>
          <Auk::Input
            id="publicationRequestModal.subject"
            @block={{true}}
            @value={{this.subject}}
            {{on "input" this.setSubject}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="publicationRequestModal.message">
            {{t "message"}}
          </Auk::Label>
          <Auk::Textarea
            id="publicationRequestModal.message"
            @block={{true}}
            @value={{this.message}}
            rows="16"
            {{on "input" this.setMessage}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="publicationRequestModal.attachments">
            {{t "attachments"}}
          </Auk::Label>
          <Auk::FileUploader
            id="publicationRequestModal.attachments"
            @multiple={{true}}
            @onUpload={{this.createPiece}}
          />

          {{#if this.uploads}}
            <div class="auk-u-mt-4">
              <Auk::List @isBordered="true" class="auk-list--view">
                {{#each this.uploads as |upload|}}
                  <Auk::List::Item @skin="gray-100">
                    <div class="auk-u-ml-2">
                      <Auk::Icon @name="document" @skin="muted-dark" />
                    </div>
                    <div class="auk-u-mx-2">
                      <span class="auk-u-text-bold">
                        {{upload.piece.name}}
                      </span>
                      <div
                        data-test-utils-document-list-file-extension
                        class="auk-u-text-muted auk-u-text-size--small"
                      >
                        {{uppercase upload.file.extension}},
                        {{format-bytesize upload.file.size}}
                      </div>
                    </div>
                  </Auk::List::Item>
                {{/each}}
              </Auk::List>

            </div>
          {{/if}}
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{not this.canCancel}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      @skin="primary"
      @disabled={{not this.canSave}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-action"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>