<div class="properties">
  <div class="property">
    <div class="label">
      {{t 'edit-decision.approved'}}
    </div>
    {{x-toggle value=decision.approved
               onToggle=(action (mut decision.approved))}}
  </div>
  <div class="property">
    <div class="label">
       {{t 'edit-decision.decision-text'}}
    </div>
    {{textarea value=decision.text}}
  </div>
</div>

{{yield}}