<Utils::SettingsHeader
  @showBackButton={{true}}
  @title={{t 'manage-user'
    firstName=this.model.firstName
    lastName=this.model.lastName}}
>
  <Auk::Button
    @icon="circle-x"
    @skin="danger-primary"
  >
    Blokkeren
  </Auk::Button>
</Utils::SettingsHeader>

<div class="auk-o-grid">
  <div class="auk-o-grid-col-6 auk-u-m">
    <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
      <Auk::Panel>
        <Auk::Panel::Header>
          <h4 data-test-route-settings---user-general-info class="auk-panel__title">{{t 'manage-users-general-info'}}</h4>
        </Auk::Panel::Header>
        <Auk::Panel::Body>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-full-name'}}
              @value={{this.model.fullName}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-email'}}
              @value={{if this.model.email this.model.email "-"}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-telephone'}}
              @value={{if this.model.phone this.model.phone "-"}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <div class="auk-key-value-item auk-key-value-item--horizontal">
              <dt class="auk-key-value-item__label">{{t 'manage-users-group'}}</dt>
              <dd class="auk-key-value-item__value">
                <Utils::ModelSelector
                  @modelName="account-group"
                  @searchField="name"
                  @propertyToShow="name"
                  @sortField="name"
                  @selectedItems={{this.model.group}}
                  @selectModel={{this.setAndSaveGroup}}
                />
              </dd>
            </div>
          </dl>
          <dl>
            <div class="auk-key-value-item auk-key-value-item--horizontal">
              <dt class="auk-key-value-item__label">Laatst gezien</dt>
              <dd class="auk-key-value-item__value">
                Ma 20-06-2022 – 12:10
              </dd>
            </div>
          </dl>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
    <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
      <Auk::Panel>
        <Auk::Panel::Header>
          <h4 data-test-route-settings---user-technical-info class="auk-panel__title">{{t 'manage-users-technical-info'}}</h4>
        </Auk::Panel::Header>
        <Auk::Panel::Body>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-void'}}
              @value={{this.model.account.voId}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-ovo'}}
              @value={{if this.model.organization.identifier this.model.organization.identifier "-"}}
              @layout="horizontal"
            />
          </dl>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
  </div>
</div>