{{utils/settings-header
  showBackButton=true
  title=(t 'manage-user'
  firstName=model.firstName
  lastName=model.lastName)
}}

<div class="auk-o-grid auk-o-grid-col-6">
  <div class="auk-o-grid-col-6 auk-u-m">
    <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
      <Auk::Panel>
        <Auk::Panel::Header>
          <h4 class="auk-panel__title">{{t 'manage-users-general-info'}}</h4>
        </Auk::Panel::Header>
        <Auk::Panel::Body>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-full-name'}}
              @value={{model.fullName}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-email'}}
              @value={{if model.email model.email "-"}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-telephone'}}
              @value={{if model.phone model.phone "-"}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <div class="auk-key-value-item auk-key-value-item--horizontal">
              <dt class="auk-key-value-item__label">{{t 'manage-users-group'}}</dt>
              <dd class="auk-key-value-item__value">
                <Utils::ModelSelector
                  @modelName="account-group"
                  @searchField="name"
                  @propertyToShow="name"
                  @sortField="name"
                  @selectedItems={{this.model.group}}
                  @selectModel={{this.setAndSaveGroup}}
                />
              </dd>
            </div>
          </dl>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
    <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
      <Auk::Panel>
        <Auk::Panel::Header>
          <h4 class="auk-panel__title">{{t 'manage-users-technical-info'}}</h4>
        </Auk::Panel::Header>
        <Auk::Panel::Body>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-void'}}
              @value={{model.account.voId}}
              @layout="horizontal"
            />
          </dl>
          <dl>
            <Auk::KeyValue
              @key={{t 'manage-users-ovo'}}
              @value={{if model.organization.identifier model.organization.identifier "-"}}
              @layout="horizontal"
            />
          </dl>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
  </div>
</div>