{{#if @icon}}
  <div class="vlc-input-with-icon">
    <Input
    class="vlc-input {{this.error}} {{this.block}}"
    data-test-au2-input
    type="text"
    @enter={{@enter}}
    @value={{@value}}
    @insert-newline={{@insert-newline}}
    @escape-press={{@escape-press}}
    @focus-in={{@focus-in}}
    @focus-out={{@focus-out}}
    @key-down={{@key-down}}
    @key-press={{@key-press}}
    @key-up={{@key-up}}
    @placeholder={{@placeholder}}
    ...attributes
    />
    <Icon @name={{@icon}} />
  </div>

{{else}}
  <Input
    class="vlc-input {{this.error}} {{this.block}}"
    data-test-au2-input
    type="text"
    @value={{@value}}
    @insert-newline={{@insert-newline}}
    @escape-press={{@escape-press}}
    @focus-in={{@focus-in}}
    @focus-out={{@focus-out}}
    @key-down={{@key-down}}
    @key-press={{@key-press}}
    @key-up={{@key-up}}
    @placeholder={{@placeholder}}
    ...attributes
  />
{{/if}}
