{{#if @route}}
  <LinkTo class="auk-button-link {{this.skin}} {{this.block}} {{this.padded}}" type="button" @route={{@route}} ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</Button::InnerLayout>
  </LinkTo>
{{/if}}

{{#if @href}}
  <a href="{{@href}}" class="auk-button-link {{this.skin}} {{this.block}} {{this.padded}}" ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</Button::InnerLayout>
  </a>
{{/if}}

{{#unless (or @href @route)}}
  <button class="auk-button-link {{this.skin}} {{this.block}} {{this.padded}}" type="button" ...attributes>
    <Button::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</Button::InnerLayout>
  </button>
{{/unless}}
