<div class="vl-u-spacer-extended-right-s">
  <div
    class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
  >
    <i class="vl-badge__icon vl-vi vl-vi-user" aria-hidden="true"></i>
  </div>
</div>
<div>
  <div class="vlc-minister-item__title">
    <h6 class="vl-title vl-title--h6">
      <p>
        {{await mandatee.person.alternativeName}}
        ,
        {{mandatee.title}}
      </p>
    </h6>
  </div>
  <div class="js-vl-accordion js-vl-accordion--open">
    <button
      class="vl-toggle vl-link vl-link--bold"
      {{action "toggleShowDetails"}}
    >
      <i
        class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-right-fat"
        aria-hidden="true"
      ></i>
      {{t "collapse"}}
    </button>
    {{#if showDetails}}
      <div class="vl-accordion__content js-vl-accordion__content">
        <div class="vl-accordion__panel">
          <div class="vl-typography">
            <ul>
              {{log (await fields)}}
              {{#each fields as |field|}}
                {{!-- {{#if
                  (check-mandatees-of-domain
                    domainMandatees=domain.mandatees mandatee=mandatee
                  )
                }} --}}
                <li>
                  {{field.label}}
                </li>
                {{!-- {{/if}} --}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>