{{#if (not currentSession.isEditing)}}
  <div class="auk-u-mb-4">
    <div class="auk-u-flex auk-u-flex--align-baseline">
      <h3 class="vl-title vl-title--h3">
        {{t "preparation-text"}}
      </h3>
      {{#if isEditor}}
        <div class="auk-u-ml-2">
          <a href="" class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <h3 class="vl-title vl-title--h6">
      {{agendaitem.titlePress}}
    </h3>
  </div>
  <div class="vl-typography">
    <p>
      {{agendaitem.textPress}}
    </p>
  </div>
  <hr/>
  <div class="auk-u-mt-2">
    {{#if agendaitem.forPress}}
      <div class="vlc-pill vlc-pill--success">
        {{t "for-press"}}
      </div>
    {{else}}
      <div class="vlc-pill vlc-pill--warning">
        {{t "not-public-press"}}
      </div>
    {{/if}}
  </div>
{{else}}
  <AgendaitemPressEdit
    @agendaitem={{agendaitem}}
    @isEditing={{currentSession.isEditing}} />
{{/if}}
