{{ page-title
  (t "publications")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-2">
    <div class="auk-box">
      <div class="auk-u-mb-2">
        <Auk::CheckboxTree
          @label={{t "regulation-type"}}
          @items={{this.regulationTypes}}
          @selectedItems={{this.selectedRegulationTypes}}
          @didUpdate={{this.updateSelectedRegulationTypes}}
        />
      </div>

      <Auk::CheckboxTree
        @label={{t "status"}}
        @items={{this.publicationStatuses}}
        @selectedItems={{this.selectedPublicationStatuses}}
        @didUpdate={{this.updateSelectedPublicationStatuses}}
      />
    </div>
  </div>
  <div class="auk-o-grid-col-10">
    <div>
      {{#if this.model.length}}
        <DataTable
          data-test-route-search-publication-data-table
          @content={{await this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped auk-table--vertical-align-top auk-table--noactions"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToPublicationFlow}}
          as |table|
        >
          <table.content as |c|>
            <c.header>
              <ThSortable
                @class="auk-table__col--1"
                @currentSorting={{this.sort}}
                @field="identificationKeyword"
                @label={{t "publication-number-small"}}
              />
              <th class="auk-table__col--7">{{t "short-title"}}</th>
              <th class="auk-table__col--1">
                {{t "publication-flow-numac-number"}}
              </th>
              <ThSortable
                @class="auk-table__col--1"
                @currentSorting={{this.sort}}
                @field="openingDate"
                @label={{t "date-received"}}
              />
              <ThSortable
                @class="auk-table__col--2"
                @currentSorting={{this.sort}}
                @field="statusId"
                @label={{t "status"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header>
            <c.body class="auk-table--clickable-rows" as |row|>
              <td data-test-route-search-publication-row-number>
                {{row.identification}}
              </td>
              <td>
                <p>
                  {{#if row.shortTitle}}
                    {{row.shortTitle}}
                  {{else}}
                    {{row.title}}
                  {{/if}}
                </p>
              </td>
              <td>
                {{#if row.numacNumbers.length}}
                  {{join ", " (sort row.numacNumbers)}}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                {{moment-format row.openingDate}}
              </td>
              <td>
                <Auk::StatusPill
                  @step={{row.statusPillStep}}
                  @status={{row.statusPillKey}}
                >
                  {{row.status.label}}
                </Auk::StatusPill>
              </td>
              <td class="auk-u-text-align--right">
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="chevron-right"
                  @route="publications.publication.index"
                  @model={{row.id}}
                />
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
      {{/if}}
    </div>
  </div>
</div>