<div class="vl-form-grid vl-form-grid--is-stacked vl-u-flex-align-right vl-u-spacer-extended-bottom-s">
  {{#if showAdvanced}}
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h4 class="vlc-toolbar__title">
            {{t "advanced-search"}}
          </h4>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <a
            class="vl-button vl-button--link-muted vl-button--icon"
            href="#"
            {{action "toggleAdvanced"}}
          >
            <i
              class="vl-button__icon vl-vi vl-vi-close-light"
              aria-hidden="true"
            ></i>
            <span class="vl-u-visually-hidden">
              {{t "close"}}
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="vl-col--4-12 vl-col--1-1--s">
      <label class="vl-form__label" for="agendaItemId">
        {{t "agendaitem-field-label"}}
      </label>
      {{input
          class="vl-input-field vl-input-field--block"
          type="text"
          id="agendaItemId"
          value=searchText
          key-up=(perform searchTask)
      }}
    </div>
    <div class="vlc-input-field-block vl-col--4-12">
      <label class="vl-form__label" for="ministerName">
        {{t "minister"}}
      </label>
      {{input
          class="vl-input-field vl-input-field--block"
          type="text"
          id="ministerName"
          value=ministerName
          key-press=(perform searchTask)
      }}
    </div>
  {{else}}
    <div class="vl-col--4-12 vl-col--1-1--s">
      <label class="vl-form__label" for="agendaItemId">
        {{t "agendaitem-field-label"}}
      </label>
      {{input
          class="vl-input-field vl-input-field--block"
          type="text"
          id="agendaItemId"
          value=searchText
          key-up=(perform searchTask)
      }}
    </div>
    <div class="vl-col--0-12 vl-col--1-1--s">
      <button
        class="vl-button vl-button--secondary vl-button--narrow vl-button--icon-before"
        type="button"
        onclick={{perform searchTask}}
      >
        <i
          class="vl-vi vl-vi-magnifier"
          aria-hidden="true"
        ></i>
      </button>
    </div>
    <div class="vl-col--2-12 vl-col--1-1--s">
      <button
        class="vl-button vl-button--link vl-button--narrow"
        href="#"
        onclick={{action "toggleAdvanced"}}
      >
        {{t "advanced-search"}}
      </button>
    </div>
  {{/if}}
</div>
{{#if showAdvanced}}
  <div
    class="vl-form-grid vl-form-grid--is-stacked vl-u-flex-align-right vl-u-spacer custom-search"
  >
    <div class="vl-col--2-12 vlc-input-field-block">
      {{web-components/vl-form-label value=(t "from-date")}}
      {{web-components/vl-datepicker
          selectedDate=dateFrom
          dateChanged=(action "selectDateFrom")
      }}
      {{#if dateFrom}}
        <button class="vlc-button-in-input vl-button vl-button--link-muted vl-button--icon"
          onclick={{action "selectDateFrom" null}}>
          <i class="vl-button__icon vl-vi vl-vi-close-light" aria-hidden="true"></i>
        </button>
      {{/if}}
    </div>
    <div class="vl-col--2-12 vlc-input-field-block">
      {{web-components/vl-form-label value=(t "until-date")}}
      {{web-components/vl-datepicker
          selectedDate=dateTo
          dateChanged=(action "selectDateTo")
      }}
      {{#if dateTo}}
        <button class="vlc-button-in-input vl-button vl-button--link-muted vl-button--icon"
          onclick={{action "selectDateTo" null}}>
          <i class="vl-button__icon vl-vi vl-vi-close-light" aria-hidden="true"></i>
        </button>
      {{/if}}
    </div>
    <div class="vl-u-display-flex vl-u-flex-align-center">
      <label class="vl-form__label vl-u-spacer-extended-right-s" for="searchInDecisionsOnly">
        {{t "search-in-announcements-only"}}
      </label>
      {{web-components/vl-toggle
          valueChanged=(perform searchTask)
          value=announcementsOnly
      }}
    </div>
  </div>
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left"></div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <button
          class="vl-button vl-button--secondary vl-button--narrow vl-button--icon-before"
          type="button"
          onclick={{perform searchTask}}
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-magnifier"
            aria-hidden="true"
          ></i>
          {{t "search"}}
        </button>
      </div>
    </div>
  </div>
{{/if}}