{{page-title this.model.name}}
<div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
  <div class="vlc-scroll-wrapper__body full-height">
    {{#if this.fileFormatIsSupported}}
      <PdfView @filePath={{await this.model.downloadFileLink}}/>
    {{else}}
      <WebComponents::AuAlert
        @skin="warning"
        @title={{t "file-type-unsupported"}}
        @message={{t "file-viewer-type-unsupported" fileType=this.model.file.extension}}
      />
    {{/if}}
  </div>
</div>