<span class="auk-button__content">
  {{#if @icon}}
    {{#unless @layout}}
      <AuIcon @icon={{@icon}} />
      <span class="auk-button__label">
        {{yield}}
      </span>
    {{/unless}}

    {{#if (eq @layout "icon-only")}}
      <AuIcon @icon={{@icon}} />
      <span class="auk-u-sr-only">{{yield}}</span>
    {{/if}}

    {{#if (eq @layout "icon-right")}}
      <span class="auk-button__label">
        {{yield}}
      </span>
      <AuIcon @icon={{@icon}} />
    {{/if}}
  {{else}}

    <span class="auk-button__label">
      {{yield}}
    </span>

  {{/if}}
</span>
