<WebComponents::AuToolbar class="auk-u-mb-4">
  <WebComponents::AuToolbar::Group @position="left">
    <WebComponents::AuToolbar::Item>
      <h3 class="auk-toolbar__title">
        {{t "agendaitem-case"}}
      </h3>
    </WebComponents::AuToolbar::Item>
    {{#if (await this.subcase.confidential)}}
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuPill @skin="danger" @icon="lock-closed">{{t "confidential"}}</WebComponents::AuPill>
      </WebComponents::AuToolbar::Item>
    {{/if}}
  </WebComponents::AuToolbar::Group>
  <WebComponents::AuToolbar::Group @position="right">
    <WebComponents::AuToolbar::Item>
      {{#if this.currentSession.isEditor}}
        {{#if (not this.agenda.isFinal)}}
          <Agenda::Agendaitem::AgendaitemControls
                  @agendaitem={{this.model}}
                  @currentAgenda={{this.agenda}}
                  @onDeleteAgendaitem={{this.reassignPrioritiesAndNavigateToNeighbouringAgendaitem}}
          />
        {{/if}}
      {{/if}}
    </WebComponents::AuToolbar::Item>
  </WebComponents::AuToolbar::Group>
</WebComponents::AuToolbar>
{{!-- TODO: refactor titles-component into 1 with 2 sub-components: 1 for displaying, 1 for editing --}}
{{#if this.isEditingAgendaItemTitles}}
  <Agenda::Agendaitem::AgendaitemCase::AgendaitemTitlesEdit
    @agendaitem={{this.model}}
    @subcase={{this.subcase}}
    @newsletterInfo={{this.newsletterInfo}}
    @toggleIsEditing={{this.toggleIsEditingAgendaItemTitles}}
  />
{{else}}
  {{!-- shouldShowDetails should only be false when the agendaitem is to approve minutes --}}
  <Agenda::Agendaitem::AgendaitemCase::AgendaitemTitles
    @agendaitem={{this.model}}
    @subcase={{this.subcase}}
    @shouldShowDetails={{or @agendaitem.showAsRemark this.subcase}}
    @newsletterInfo={{this.newsletterInfo}}
    @toggleIsEditing={{this.toggleIsEditingAgendaItemTitles}}
  />
{{/if}}
{{#if this.model.showAsRemark}}
  <Mandatees::MandateesDomainsPanel
    @mandatees={{this.model.mandatees}}
    @allowEditing={{false}}
    @onSave={{this.saveMandatees}}
  />
{{else}}
  {{#if this.subcase}}
  {{!-- TODO: get rid of the submitter await. It doesn't update properly --}}
    <Mandatees::MandateesDomainsPanel
      @mandatees={{this.model.mandatees}}
      @submitter={{await this.subcase.requestedBy}}
      @allowEditing={{true}}
      @onSave={{this.saveMandateeData}}
    />
    {{!-- TODO an agendaitem does not have isecodes, the only ones you ever see are set to model but lost after refresh --}}
    {{!-- TODO it would be as easy as setting item=subcase to get a accurate list, but this feature is not used at the moment --}}
    <Agenda::Agendaitem::AgendaitemCase::SubcaseIseCodes
      @item={{this.model}}
    />
    <Agenda::Agendaitem::AgendaitemCase::AgendaitemApprovals
      @agendaitem={{this.model}}
    />
  {{/if}}
{{/if}}