<h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">{{letter}}. {{title}}</h4>
{{#each (await items) as |agendaitem|}}
  {{#if agendaitem.groupName}}
    <h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">
      {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
        These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
      {{!-- template-lint-disable no-triple-curlies  --}}
      {{{agendaitem.groupName}}}
      {{!-- template-lint-enable no-triple-curlies  --}}
    </h4>
  {{/if}}
  <div class="vl-u-spacer-extended-bottom-s">
    <h4>
      {{#if agendaitem.number}}
        {{agendaitem.number}}.
      {{else}}
        {{add index 1}}.
      {{/if}}
      {{#if agendaitem.shortTitle}}
        {{agendaitem.shortTitle}}
      {{else}}
        {{agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
      {{/if}}
    </h4>
    <p>
      {{agendaitem.title}}
    </p>
  </div>
  {{#each (await agendaitem.documents) as |document|}}
    {{item-document-printable item=agendaitem document=document}}
  {{/each}}
{{/each}}
