{{page-title
  (concat (t "publication-flow") " " this.model.identification.idName)
}}
<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <span class="auk-overline auk-u-muted"
            data-test-publication-detail-menu-publication-number>
            {{uppercase (t "publication-flow")}}
            -
            {{#if this.model.case.subcases}}
              {{uppercase (t "via-cabinet")}}
            {{else}}
              {{uppercase (t "not-via-cabinet")}}
            {{/if}}
            -
            {{uppercase this.model.identification.idName}}
          </span>
          <Auk::AbbreviatedText
            @text={{or
              this.model.shortTitle
              this.model.longTitle
            }}
            @maxLength={{150}}
          as |abbreviatedText|>
            <div
              data-test-publication-detail-menu-short-title
              class="auk-toolbar-complex__title"
            >
              {{abbreviatedText}}
            </div>
          </Auk::AbbreviatedText>
          <Publications::Publication::PublicationNavigation @publicationFlow={{this.model}} />
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{!-- Auk css gebruiken, component ? --}}
<div class="auk-panel-layout">
  <div class="auk-panel-layout__main-content">
    <div class="auk-scroll-wrapper">
      <div class="auk-scroll-wrapper__body">
        {{outlet}}
      </div>
    </div>
  </div>
  <div class="auk-panel-layout__sidebar">
    <Publications::PublicationSidebar
      @isOpen={{this.sidebarIsOpen}}
      @onCollapse={{this.toggleSidebar}}
      @onOpen={{this.toggleSidebar}}
      @publicationFlow={{this.model}}
      @didChange={{this.saveSidebarProperty}}
    />
  </div>
</div>