{{page-title
  (concat (t "publication-flow") " " this.model.identification.idName)
}}
<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <span class="auk-o-flex auk-o-flex--horizontal auk-o-flex--align-baseline auk-o-flex--spaced">
             <span class="auk-overline auk-u-muted" data-test-route-publications-publication-header-number>
                {{uppercase (t "publication-flow")}}
                -
               {{#if this.model.case.subcases}}
                 {{uppercase (t "via-cabinet")}}
               {{else}}
                 {{uppercase (t "not-via-cabinet")}}
               {{/if}}
               -
               {{uppercase this.model.identification.idName}}
            </span>
            <Auk::Pill @skin="white">
              {{this.model.status.label}}
              -
              {{moment-format this.model.publicationStatusChange.startedAt  "DD/MM/YYYY"}}
            </Auk::Pill>
            <Auk::ButtonLink
              @icon="pencil"
              @skin="muted"
              @size="small"
              @disabled={{and this.model.publicationStatus.isPublished this.model.decision.isStaatsbladResource}}
              {{on "click" this.openStatusSelector}}
            >
              {{t "edit-status"}}
            </Auk::ButtonLink>
          </span>
          <Auk::AbbreviatedText
            @text={{or
            this.model.shortTitle
            this.model.longTitle
          }}
            @maxLength={{150}}
            as |abbreviatedText|>
            <div
              data-test-route-publications-publication-header-short-title
              class="auk-toolbar-complex__title"
            >
              {{abbreviatedText}}
            </div>
          </Auk::AbbreviatedText>
          <Publications::Publication::PublicationNavigation @publicationFlow={{this.model}} />
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{!-- Auk css gebruiken, component ? --}}
<div class="auk-panel-layout">
  <div class="auk-panel-layout__main-content">
    <div class="auk-scroll-wrapper">
      <div class="auk-scroll-wrapper__body">
        {{outlet}}
      </div>
    </div>
  </div>
  <div class="auk-panel-layout__sidebar">
    <Publications::PublicationSidebar
      @isOpen={{this.sidebarIsOpen}}
      @onCollapse={{this.toggleSidebar}}
      @onOpen={{this.toggleSidebar}}
      @publicationFlow={{this.model}}
      @didChange={{this.saveSidebarProperty}}
    />
  </div>
</div>

{{#if this.showStatusSelector}}
  <Publications::PublicationStatusSelector
    @publicationStatus={{this.model.publicationStatus}}
    @publicationStatusChange={{this.model.publicationStatusChange}}
    @onSave={{this.savePublicationStatus}}
    @onCancel={{this.closeStatusSelector}}
  />
{{/if}}
{{#if this.showConfirmWithdraw}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "discharge-publication"}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      {{t "discharge-publication-flow-confirm"}}
    </Auk::Modal::Body>
    <Auk::Modal::Footer @custom={{true}}>
      <Auk::Toolbar @size="large">
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <Auk::ButtonLink {{on "click" this.cancelWithdraw}}>
              {{t "cancel"}}
            </Auk::ButtonLink>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button
              data-test-publication-sidebar-confirm-withdraw
              @skin="danger-primary"
              {{on "click" this.withdrawPublicationFlow}}
            >
              {{t "discharge"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}