<WebComponents::AuNavbar @border="bottom" @skin="gray-100" @auto="true">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <div class="o-flex o-flex--vertical u-mt-2">
          <WebComponents::AuBreadcrumb
                  data-test-publication-detail-menu-publication-number>
            {{getPublicationNumber}}
          </WebComponents::AuBreadcrumb>
          <h4 class="auk-toolbar-complex__title" data-test-publication-detail-menu-short-title>{{getShortTitle}}</h4>
          <WebComponents::AuTabs @reversed="true">
            <WebComponents::AuTab @isHierarchicalBack="true" @route="publications.in-progress.in-progress-not-minister" data-test-publication-detail-menu-go-back-to-overview></WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.case">{{t "agendaitem-case"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.documents">{{t "documents"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.translations">{{t "translations"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.publishpreview">{{t "proofs"}}</WebComponents::AuTab>
          </WebComponents::AuTabs>
        </div>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>

<div class="auk-panel-layout auk-panel-layout--responsive">
  <div class="auk-panel-layout__main-content u-maximize-height auk-scroll-wrapper">
    <div class="auk-scroll-wrapper__body">
      <div class="u-m-4">
        {{outlet}}
      </div>
    </div>
  </div>
  <div class="auk-panel-layout__sidebar">
    <WebComponents::AuSidebar @position="right" class={{if
      this.collapsed
      "auk-sidebar--collapsed auk-panel-layout--large auk-sidebar--responsive"
      "auk-panel-layout__sidebar auk-sidebar--large auk-sidebar--responsive"
    }}>
      <WebComponents::AuNavbar @border="bottom" @skin="gray-100">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left"/>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton @skin="borderless" @icon={{if this.collapsed "chevron-left" "chevron-right"}}
                                       @layout="icon-only" {{on 'click' this.toggleSidebar}} />
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
      {{#if (not collapsed)}}
        <div class="u-m-3">
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t 'publications-number'}}</WebComponents::AuLabel>
            <WebComponents::AuInput type="number" value={{this.getPublicationNumberSidePanel}} @block="true"
              {{on "change" this.setPublicationNumber}} />
          </div>
          <div class="auk-form-group">
            <WebComponents::AuLabel for="blockInput">{{t 'status'}}</WebComponents::AuLabel>
            <WebComponents::AuSelect @block="true" {{on "change" this.setPublicationStatus}}>
              <option>{{t "to-publish"}}</option>
              <option>{{t "published"}}</option>
            </WebComponents::AuSelect>
          </div>
          <div class="auk-form-group">
            <WebComponents::AuLabel for="blockInput">{{t "kind-of-publication"}}</WebComponents::AuLabel>
            <WebComponents::AuSelect @block="true" {{on "blur" this.setPublicationForm}}>
              <option>{{t "publication-from-extenso"}}</option>
              <option>{{t "publication-form-by-except"}}</option>
            </WebComponents::AuSelect>
          </div>
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t "publication-form-numac-nummer"}}</WebComponents::AuLabel>
            <WebComponents::AuInput type="number" value={{this.getNumacNumber}} @block="true"
              {{on "change" this.setNumacNumber}} />
          </div>
          {{#if this.showToPublish}}
            <div class="auk-form-group">
              <WebComponents::AuLabel>{{t 'extreme-publication-date'}}</WebComponents::AuLabel>
              <EmberFlatpickr class="auk-input auk-input--block" aria-activedescendent="aria-activedescendent" aria-autocomplete="aria-autocomplete"
                              aria-describedby="described by" placeholder="Kies een datum" @date={{this.currentDate}}
                              @dateFormat="d-m-Y"
                              value={{this.getPublicationBeforeDate}}
                              @onChange={{this.setPublicationBeforeDate}} />
              {{#if this.expiredPublicationBeforeDate}}
                <WebComponents::AuLabelError>
                  <WebComponents::AuIcon @name="alert-triangle"/>
                  {{t "date-expired"}}
                </WebComponents::AuLabelError>
              {{/if}}
            </div>
            <div class="auk-form-group">
              <WebComponents::AuLabel>{{t 'extreme-translation-date'}}</WebComponents::AuLabel>
              <EmberFlatpickr class="auk-input auk-input--block" aria-activedescendent="aria-activedescendent" aria-autocomplete="aria-autocomplete"
                              aria-describedby="described by" placeholder="Kies een datum" @date={{this.currentDate}}
                              @dateFormat="d-m-Y" value={{this.getTranslationDate}}
                              @onChange={{this.setTranslationDate}} />
              {{#if this.expiredTranslationDate}}
                <WebComponents::AuLabelError>
                  <WebComponents::AuIcon @name="alert-triangle"/>
                  {{t "date-expired"}}
                </WebComponents::AuLabelError>
              {{/if}}
            </div>
          {{/if}}
          {{#if this.published}}
            <div class="auk-form-group">
              <WebComponents::AuLabel for="blockInput">{{t "publication-form-publication-date"}}</WebComponents::AuLabel>
              <EmberFlatpickr class="auk-input auk-input--block" aria-activedescendent="aria-activedescendent" aria-autocomplete="aria-autocomplete"
                              aria-describedby="described by" placeholder="Kies een datum" @date={{this.currentDate}}
                              @dateFormat="d-m-Y" value={{this.getPublicationDate}}
                              @onChange={{this.setPublicationDate}} />
              {{#if this.expiredPublicationDate}}
                <WebComponents::AuLabelError>
                  <WebComponents::AuIcon @name="alert-triangle"/>
                  {{t "date-expired"}}
                </WebComponents::AuLabelError>
              {{/if}}
            </div>
          {{/if}}
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t "remark-title"}} <WebComponents::AuIcon @name="circle-info"/></WebComponents::AuLabel>
            <WebComponents::AuTextarea rows="4" type="text" value={{this.getRemark}} {{on "blur" this.setRemark}}></WebComponents::AuTextarea>
          </div>
        </div>
      {{/if}}
    </WebComponents::AuSidebar>
  </div>
</div>