{{ page-title this.casePath }}
<WebComponents::AuNavbar @border="bottom" @skin="gray-100" @auto="true">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <div class="auk-u-flex auk-u-flex--vertical auk-u-mt-2">
          <span class="auk-overline auk-u-muted"
                  data-test-publication-detail-menu-publication-number>
            {{uppercase
              this.casePath
            }}
          </span>
          <WebComponents::AuAbbreviatedText
            data-test-publication-detail-menu-short-title
            @text={{this.titleText}}
            @size="150"
            @custom="true"
            @customTextClass="auk-toolbar-complex__title"
          >
          </WebComponents::AuAbbreviatedText>
          <WebComponents::AuTabs @reversed="true">
            <WebComponents::AuTab @isHierarchicalBack="true" @route="publications" data-test-publication-case-nav-go-back></WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.case" data-test-publication-case-nav-case>{{t "agendaitem-case"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.documents" data-test-publication-case-nav-documents>
              <div class="auk-u-flex auk-u-flex--center">
                <span class="auk-u-mr-2">{{t "documents"}}</span>
                <p>{{this.documentsCount}}</p>
              </div>
            </WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.translations" data-test-publication-case-nav-translations>
              <div class="auk-u-flex auk-u-flex--center">
                <span class="auk-u-mr-2">{{t "translations"}}</span>
                <WebComponents::AuStatusPill @status={{this.showStatusForTranslations.status}}>{{this.showStatusForTranslations.value}}</WebComponents::AuStatusPill>
              </div>
            </WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.publishpreview" data-test-publication-case-nav-publishpreview>
              <div class="auk-u-flex auk-u-flex--center">
                <span class="auk-u-mr-2">{{t "publishpreview-requests"}}</span>
                <WebComponents::AuStatusPill @status={{this.showStatusForPublicationPreviews.status}}>{{this.showStatusForPublicationPreviews.value}}</WebComponents::AuStatusPill>
              </div>
            </WebComponents::AuTab>
          </WebComponents::AuTabs>
        </div>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>

{{!-- Auk css gebruiken, component ? --}}
<div class="auk-panel-layout auk-panel-layout--responsive">
  <div class="auk-panel-layout__main-content auk-u-maximize-height auk-scroll-wrapper">
    <div class="auk-scroll-wrapper__body">
      {{outlet}}
    </div>
  </div>
  <div class="auk-panel-layout__sidebar">
    <Publications::PublicationSidebar
      @isOpen={{this.sidebarIsOpen}}
      @onCollapse={{this.toggleSidebar}}
      @onOpen={{this.toggleSidebar}}
      @publicationFlow={{this.model.publicationFlow}}
      @didChange={{this.saveSidebarProperty}}
    />
  </div>
</div>

{{#if this.showConfirmWithdraw}}
  <WebComponents::AuModal @size="small">
    <WebComponents::AuModal::Header
            @title={{t "discharge-publication"}}
            @hideCloseButton={{true}}
    />
    <WebComponents::AuModal::Body>
      {{t "discharge-publication-flow-confirm"}}
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @custom={{true}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left"n>
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless" {{on "click" this.cancelWithdraw}}>
              {{t "cancel"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="danger-primary" {{on "click" this.withdrawPublicationFlow}}>
              {{t "discharge"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}



{{#if this.showLoader}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}