{{ page-title
  (concat (t "publication-flow") " " this.model.publicationFlow.publicationNumber " - " (t "case") )
}}
<WebComponents::AuNavbar @border="bottom" @skin="gray-100" @auto="true">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <div class="auk-u-flex auk-u-flex--vertical auk-u-mt-2">
          <span class="auk-overline auk-u-muted"
                  data-test-publication-detail-menu-publication-number>
            {{uppercase
              (concat (t "publication-flow") " " this.model.publicationFlow.publicationNumber)
            }}
          </span>
          <h4 class="auk-toolbar-complex__title" data-test-publication-detail-menu-short-title>{{model.publicationFlow.case.shortTitle}}</h4>
          <WebComponents::AuTabs @reversed="true">
            <WebComponents::AuTab @isHierarchicalBack="true" @route="publications" data-test-publication-case-nav-go-back></WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.case" data-test-publication-case-nav-case>{{t "agendaitem-case"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.documents" data-test-publication-case-nav-documents>{{t "documents"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.translations" data-test-publication-case-nav-translations>
              <div class="auk-u-flex auk-u-flex--center">
                <span class="auk-u-mr-2">{{t "translations"}}</span>
                {{#if (gt this.model.counts.totalTranslations 0)}}
                  <WebComponents::AuStatusPill>{{this.model.counts.closedOrWithdrawnTranslationRequests}}&#47;{{this.model.counts.totalTranslations}}</WebComponents::AuStatusPill>
                {{/if}}
              </div>
            </WebComponents::AuTab>
            <WebComponents::AuTab @route="publications.publication.publishpreview" data-test-publication-case-nav-publishpreview>
              <div class="auk-u-flex auk-u-flex--center">
                <span class="auk-u-mr-2">{{t "publishpreview-requests"}}</span>
                {{#if (gt this.model.counts.totalPublishPreviewRequests 0)}}
                  <WebComponents::AuStatusPill>{{this.model.counts.closedOrWithdrawnPublishPrevieuwRequests}}&#47;{{this.model.counts.totalPublishPreviewRequests}}</WebComponents::AuStatusPill>
                {{/if}}
              </div>
            </WebComponents::AuTab>
          </WebComponents::AuTabs>
        </div>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>

{{!-- Auk css gebruiken, component ? --}}
<div class="auk-panel-layout auk-panel-layout--responsive">
  <div class="auk-panel-layout__main-content auk-u-maximize-height auk-scroll-wrapper">
    <div class="auk-scroll-wrapper__body">
      <div class="auk-u-m-4">
        {{outlet}}
      </div>
    </div>
  </div>
  <div class="auk-panel-layout__sidebar">
    <WebComponents::AuSidebar @position="right"
                              class="auk-sidebar auk-sidebar--gray-100 auk-sidebar--right
                              auk-sidebar--large auk-sidebar--responsive {{if  this.collapsed 'auk-sidebar--collapsed'}}"
    >

      <WebComponents::AuNavbar @border="bottom" @skin="gray-100">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="{{if  this.collapsed 'center' 'right'}}">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton @skin="borderless" @icon={{if this.collapsed "chevron-left" "chevron-right"}}
                                       @layout="icon-only" {{on 'click' this.toggleSidebar}} />
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
      {{#if (not collapsed)}}
        <div class="auk-scroll-wrapper">
          <div class="auk-scroll-wrapper__body">
            <div class="auk-u-m-3">
              <div class="auk-form-group {{getClassForPublicationNumber}}">
                <WebComponents::AuLabel>{{t 'publications-number'}}</WebComponents::AuLabel>
                <WebComponents::AuInput type="number" value={{this.model.publicationFlow.publicationNumber}} @block="true"
                  {{on "input" (perform this.setPublicationNumber)}} />
                {{#if this.numberIsAlreadyUsed}}
                  <div class="auk-form-help-text auk-form-help-text--danger">
                    <WebComponents::AuIcon @name="alert-triangle"/>
                    {{t "publication-number-already-taken"}}
                  </div>
                {{/if}}
              </div>
              <div class="auk-form-group">
                <WebComponents::AuLabel for="blockInput">{{t 'status'}}</WebComponents::AuLabel>
                <WebComponents::AuPowerSelect @options={{this.statusOptions}}
                                              @isSearchable={{false}}
                                              @onchange={{this.setPublicationStatus}}
                                              @selected={{this.getPublicationStatus}}
                />
              </div>
              <div class="auk-form-group">
                <WebComponents::AuLabel for="blockInput">{{t "kind-of-publication"}}</WebComponents::AuLabel>
                <WebComponents::AuPowerSelect @options={{this.typeOptions}}
                                              @isSearchable={{false}}
                                              @onchange={{this.setPublicationType}}
                                              @selected={{this.getPublicationType}}
                />
              </div>
              <div class="auk-form-group">
                {{web-components/vl-checkbox
                  value=(gt this.model.publicationFlow.priority 0)
                  label=(t "priority-procedure")
                  toggle=(action "togglePriorityProcedure")
                }}
              </div>
              <div class="auk-form-group">
                <WebComponents::AuLabel>{{t "publication-form-numac-nummer"}}</WebComponents::AuLabel>
                {{#if this.model.publicationFlow.numacNumber}}
                  <WebComponents::AuInput type="number" value={{this.model.publicationFlow.numacNumber}} @block="true" readonly
                    {{on "input" (perform this.setNumacNumber)}} />
                {{else}}
                  <span class="auk-icon--light">{{t "no-numac-number-yet"}}</span>
                {{/if}}
              </div>
              {{#if this.model.publicationFlow.status.isToBePublished}}
                <div class="auk-form-group">
                  <WebComponents::AuLabel>{{t 'final-publication-date'}}</WebComponents::AuLabel>
                  {{#if this.showPublicationDatePicker}}
                    <WebComponents::AuDatepicker
                            @defaultDate={{this.getPublicationBeforeDate}}
                            @enabledDatesFunction={{action this.allowedPublicationDate}}
                            @onChange={{this.setPublicationBeforeDate}}/>
                  {{else}}
                    <Utils::SimpleSpinner></Utils::SimpleSpinner>
                  {{/if}}
                  {{#if this.expiredPublicationBeforeDate}}
                    <div class="auk-form-help-text auk-form-help-text--warning">
                      <WebComponents::AuIcon @name="alert-triangle"/>
                      {{t "date-expired"}}
                    </div>
                  {{/if}}
                  {{#if this.publicationNotAfterTranslationForPublication}}
                    <div class="auk-form-help-text auk-form-help-text--danger">
                      <WebComponents::AuIcon @name="alert-triangle"/>
                      {{t "publication-date-after-translation-date"}}
                    </div>
                  {{/if}}
                </div>
                <div class="auk-form-group">
                  <WebComponents::AuLabel>{{t 'final-translation-date'}}</WebComponents::AuLabel>
                  {{#if this.showTranslationDatePicker}}
                    <WebComponents::AuDatepicker
                            @defaultDate={{this.getTranslationDate}}
                            @enabledDatesFunction={{action this.allowedTranslationDate}}
                            @onChange={{this.setTranslationDate}}/>
                  {{else}}
                    <Utils::SimpleSpinner></Utils::SimpleSpinner>
                  {{/if}}
                  {{#if this.expiredTranslationDate}}
                    <div class="auk-form-help-text auk-form-help-text--warning">
                      <WebComponents::AuIcon @name="alert-triangle"/>
                      {{t "date-expired"}}
                    </div>
                  {{/if}}
                  {{#if this.publicationNotAfterTranslationForTranslation}}
                    <div class="auk-form-help-text auk-form-help-text--danger">
                      <WebComponents::AuIcon @name="alert-triangle"/>
                      {{t "publication-date-after-translation-date"}}
                    </div>
                  {{/if}}
                </div>
              {{/if}}
              {{#if this.model.publicationFlow.status.isPublished}}
                <div class="auk-form-group">
                  <WebComponents::AuLabel for="blockInput">{{t "publication-form-publication-date"}}</WebComponents::AuLabel>
                  <WebComponents::AuDatepicker @defaultDate={{this.getPublicationDate}} @onChange={{this.setPublicationDate}}/>
                  {{#if this.expiredPublicationDate}}
                    <div class="auk-form-help-text auk-form-help-text--warning">
                      <WebComponents::AuIcon @name="alert-triangle"/>
                      {{t "date-expired"}}
                    </div>
                  {{/if}}
                </div>
              {{/if}}
              <div class="auk-form-group">
                <WebComponents::AuLabel>
                  <div class="auk-u-flex auk-u-flex--vertical-center">
                    <span class="auk-u-mr">{{t "remark-title"}}</span>
                    <div>
                      <WebComponents::AuButtonLink @icon="circle-info" @layout="icon-right" @skin="muted"/>
                      <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                        <p>
                          {{t "publication-sidebar-tooltip"}}
                        </p>
                      </EmberTooltip>
                    </div>
                  </div>
                </WebComponents::AuLabel>
                <WebComponents::AuTextarea rows="4" type="text" value={{this.getRemark}} {{on "input" (perform this.setRemark)}}></WebComponents::AuTextarea>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </WebComponents::AuSidebar>
  </div>
</div>

{{#if this.showConfirmWithdraw}}
  <WebComponents::AuModal @size="small">
    <WebComponents::AuModal::Header
            @title={{t "withdraw-publication"}}
            @hideCloseButton={{true}}
    />
    <WebComponents::AuModal::Body>
      {{t "cancel-publication-flow-confirm"}}
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @custom={{true}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left"n>
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless" {{on "click" this.cancelWithdraw}}>
              {{t "cancel"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="danger-primary" {{on "click" this.withdrawPublicationFlow}}>
              {{t "withdraw"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}