<AuCard
  @shadow={{true}}
  @size="small"
  class="result-card"
  as |c|
>
  <c.header>
    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
      <AuPill
        data-test-route-search-result-cards-agendaitem-type
        @size="small"
      >
        {{#if (is-announcement @agendaItemType)}}
          {{capitalize (t "announcement")}}
        {{else}}
          {{t "note"}}
        {{/if}}
      </AuPill>
      <p
        data-test-route-search-result-cards-agendaitem-date
        class="au-u-para-small au-u-muted au-u-medium"
      >
        {{date @date}}
      </p>
    </div>
    <AuHeading @level="3" @skin="6">
      <AuLink
        data-test-route-search-result-cards-agendaitem-shorttitle
        class="au-u-padding-none card-link"
        @route="agenda.agendaitems.agendaitem"

        @models={{array @meetingId @agendaId @agendaItemId}}
      >
        <span class="card-link">
          <SanitizeHtml
            @raw={{true}}
            @value={{if @shortTitle @shortTitle @title}}
          />
        </span>
      </AuLink>
    </AuHeading>
  </c.header>
  <c.content>
    <p
      data-test-route-search-result-cards-agendaitem-title
      class="au-u-para"
    >
      <SanitizeHtml
        @raw={{true}}
        @value={{@title}}
      />
    </p>
    <p
      data-test-route-search-result-cards-agendaitem-agenda-serial-number
      class="au-u-para-small au-u-margin-top-small au-u-muted"
    >
      {{t "out"}}
      <span class="au-u-medium">
        {{t "agenda-version"}}
        {{@agendaSerialNumber}}
      </span>
    </p>
    {{#if @pastAgendaVersions}}
      <p
        data-test-route-search-result-cards-agendaitem-past-agenda-version
        class="au-u-para-small au-u-margin-top-none au-u-muted"
      >
        {{t "also-found-in"}}
        {{#each @pastAgendaVersions as |pastAgendaVersion|}}
          <span class="au-u-medium">
            {{t "version"}} {{pastAgendaVersion}}{{#if (has-next pastAgendaVersion @pastAgendaVersions)}},{{/if}}
          </span>
        {{/each}}
      </p>
    {{/if}}
  </c.content>
</AuCard>