<AuCard
  @shadow={{true}}
  @size="small"
  class="result-card"
  as |c|
>
  <c.header>
    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
      <p
        data-test-route-search-result-cards-decision-date
        class="au-u-para-small au-u-muted au-u-medium"
      >
        {{date @date}}
      </p>
    </div>
    <AuHeading @level="3" @skin="6" class="au-u-margin-top-tiny">
      <AuLink
        data-test-route-search-result-cards-decision-shorttitle
        class="au-u-padding-none card-link"
        @route="agenda.agendaitems.agendaitem.decisions"
        @models={{array @meetingId @agendaId @agendaItemId}}
      >
        <span class="card-link">
          <SanitizeHtml
            @raw={{true}}
            @value={{if @shortTitle @shortTitle @title}}
          />
        </span>
      </AuLink>
    </AuHeading>
  </c.header>
  {{#if @title}}
    <c.content>
      <p>
        <SanitizeHtml
          @raw={{true}}
          @value={{@title}}
        />
      </p>
    </c.content>
  {{/if}}
  {{#if @decisionResultCode}}
    <c.footer>
      <p data-test-route-search-result-cards-decision-result>
        <Decision::DecisionResultPill
          @decisionResultCode={{@decisionResultCode}}
          @showUndecided={{false}}
        />
      </p>
    </c.footer>
  {{/if}}
</AuCard>