<AuCard @shadow={{true}} @size="small" class="result-card" as |c|>
  <c.header>
    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
      <p
        data-test-route-search-result-cards-document-date
        class="au-u-para-small au-u-muted au-u-medium"
      >
        {{#if @date}}
          {{date @date}}
        {{else}}
          {{#if @created}}
            {{t "creation-date"}}: {{date @created}}
          {{/if}}
        {{/if}}
      </p>
    </div>
    <AuHeading @level="3" @skin="6" class="au-u-margin-top-tiny">
      <AuLink
        data-test-route-search-result-cards-document-filename
        class="au-u-padding-none card-link"
        @route="document"
        @model={{@documentId}}
        @icon="document"
        @iconAlignment="left"
      >
        <span class="card-link">
          <SanitizeHtml
            @raw={{true}}
            @value={{@title}}
          />
        </span>
      </AuLink>
    </AuHeading>
  </c.header>
  {{#if @contentHighlight}}
    <c.content>
      <p>
        …<SanitizeHtml @raw={{true}} @value={{object-at 0 @contentHighlight}} />…
      </p>
    </c.content>
  {{/if}}
  <c.footer>
    {{#if (and @meetingId @agendaId @agendaitemId)}}
      <p
        data-test-route-search-result-cards-document-agendaitem
        class="au-u-para-small au-u-muted"
      >
        {{#if @agendaitemShortTitle}}
          {{t "uploaded-in-thing" thing=(t "agendaitem")}}
          <AuLink
            class="card-link"
            @route="agenda.agendaitems.agendaitem"
            @models={{array @meetingId @agendaId @agendaitemId}}
          >
            <span class="card-link">
              <SanitizeHtml
                @raw={{true}}
                @value={{@agendaitemShortTitle}}
              />
            </span>
          </AuLink>
        {{else}}
          {{t "uploaded-in"}}
          <AuLink
            class="card-link"
            @route="agenda.agendaitems.agendaitem"
            @models={{array @meetingId @agendaId @agendaitemId}}
          >
            {{t "agendaitem"}}
          </AuLink>
        {{/if}}
      </p>
    {{else}}
      <p class="au-u-para-small au-u-muted">
        {{t "document-not-on-agendaitem"}}
      </p>
    {{/if}}
  </c.footer>
</AuCard>
