<AuCard
  @shadow={{true}}
  @size="small"
  class="result-card"
  as |c|
>
  <c.header>
    <p
      data-test-route-search-result-cards-news-item-date
      class="au-u-para-small au-u-muted au-u-medium"
    >
      {{date @date}}
    </p>
    <AuHeading @level="3" @skin="6" class="au-u-margin-top-tiny">
      <AuLink
        data-test-route-search-result-cards-news-item-title
        class="au-u-padding-none card-link"
        @route="agenda.agendaitems.agendaitem.news-item"
        @models={{array @meetingId @agendaId @agendaItemId}}
      >
        <span class="card-link">
          <SanitizeHtml
            @raw={{true}}
            @value={{@title}}
          />
        </span>
      </AuLink>
    </AuHeading>
  </c.header>
  {{#if @text}}
    <c.content>
      <p data-test-route-search-result-cards-news-item-text>
        <SanitizeHtml
          @raw={{true}}
          @value={{@text}}
        />
      </p>
    </c.content>
  {{/if}}
  <c.footer>
    <p
      data-test-route-search-result-cards-news-item-mandatees
      class="au-u-para-small au-u-muted"
    >
      {{#each @mandatees as |mandatee|}}
        {{#let (concat mandatee.firstName " " mandatee.familyName) as |fullName|}}
          {{fullName}}{{if (has-next mandatee @mandatees) ", "}}
        {{/let}}
      {{/each}}
    </p>
  </c.footer>
</AuCard>