<AuCard
  @shadow={{true}}
  @size="small"
  class="result-card"
  as |c|
>
  <c.header>
    <p
      data-test-route-search-result-cards-news-item-date
      class="au-u-para-small au-u-muted au-u-medium"
    >
      {{date @date}}
    </p>
    <AuHeading @level="3" @skin="6">
      <AuLink
        data-test-route-search-result-cards-news-item-title
        class="au-u-padding-none"
        @route="agenda.agendaitems.agendaitem.news-item"
        @models={{array @meetingId @agendaId @agendaItemId}}
      >
        <span>
          <SanitizeHtml
            @raw={{true}}
            @value={{@title}}
          />
        </span>
      </AuLink>
    </AuHeading>
  </c.header>
  <c.content>
    <p
      data-test-route-search-result-cards-news-item-text
      class="au-u-para"
    >
      <SanitizeHtml
        @raw={{true}}
        @value={{@text}}
      />
    </p>

    <p
      data-test-route-search-result-cards-news-item-mandatees
      class="au-u-para-small au-u-margin-top-tiny au-u-muted"
    >
      {{#each @mandatees as |mandatee|}}
        {{#let (concat mandatee.firstName " " mandatee.familyName) as |fullName|}}
          {{fullName}}{{if (has-next mandatee @mandatees) ", "}}
        {{/let}}
      {{/each}}
    </p>
  </c.content>
</AuCard>