{{#if (gt (await agendaitem.mandatees.length) 1)}}
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="vl-u-display-flex vlc-u-flex-align-baseline">
      <h4 class="vl-title vl-title--h4">
        {{t "actions"}}
      </h4>
      {{#if currentSession.isEditor}}
        <div class="vl-u-spacer-extended-left-s">
          <a href="" class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="vl-u-spacer-extended-bottom-s">
    <h5 class="vl-title vl-title--h6">
      {{t "mandatee-approval"}}
    </h5>
  </div>
  <div class="vl-u-spacer">
    <table class="vl-data-table">
      <thead>
        <tr>
          <th>
            {{t "name"}}
          </th>
          <th>
            {{t "function-mandatee"}}
          </th>
          <th>
            {{t "approval-mandatee"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (await mandateeApprovals) as |mandateeApproval|}}
          <tr>
            <td>
              <h6 class="vl-title vl-title--h6">
                {{await mandateeApproval.mandatee.person.nameToDisplay}}
              </h6>
            </td>
            <td>
              {{await mandateeApproval.mandatee.title}}
            </td>
            <td>
              {{#if (not isEditing)}}
                {{#if (await mandateeApproval.approval)}}
                  <p class="vl-icon-wrapper vl-u-text--success">
                    <span class="vl-icon vl-icon--before ki-check" aria-hidden="true"></span>
                    <span class="vl-annotation">
                      {{t "approval-mandatee"}}
                    </span>
                  </p>
                {{else}}
                  <p class="vl-icon-wrapper vl-u-text--muted">
                    <i class="vl-icon vl-icon--before ki-remove"
                          aria-hidden="true"
                    ></i>
                    <span>
                      {{t "not-yet-approval-mandatee"}}
                    </span>
                  </p>
                {{/if}}
              {{else}}
                <div class="vlc-input-field-block">
                  {{web-components/vl-checkbox
                    value=(not (is-empty mandateeApproval.approval))
                    label=(t "approval-mandatee")
                    toggle=(action "toggleApproved" mandateeApproval.mandatee mandateeApproval.approval)
                  }}
                </div>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if isEditing}}
    <div class="vl-action-group vl-action-group--align-right">
      <a href="" class="vl-button vl-button--tertiary"
        {{action "cancelEditing"}}
      >
        {{t "cancel"}}
      </a>
      {{web-components/vl-save-button
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "saveChanges" agendaitem.approvals)
      }}
    </div>
  {{/if}}
{{/if}}
