<div class="auk-u-flex auk-u-flex--vertical-center" {{did-update this.loadData @piece}}>
  {{#if this.isLoading}}
    <div class="vl-loader" role="alert" aria-busy="true"></div>
  {{else}}
    {{#if (not this.confidential)}}
      {{#if (not this.isEditing)}}
        <div
          class="pill-wrap"
          data-test-access-level-pill
          {{on "click" this.toggleEdit}}
        >
          <span class="vlc-pill {{this.accessLevelClass}}">
            {{this.accessLevelLabel}}
          </span>
        </div>
      {{else}}
        <div class="" style="width:75%">
          <Utils::ModelSelector
            data-test-model-selector
            @modelName="access-level"
            @allowClear={{true}}
            @hideSearch={{true}}
            @propertyToShow="label"
            @sortField="priority"
            @selectedItems={{this.accessLevel}}
            @selectModel={{this.chooseAccessLevel}} />
        </div>
        <button
          type="button"
          class="vl-button vl-button--link vl-button--icon"
          data-test-access-level-save
          {{on "click" (perform this.saveAccessLevel)}}
        >
          <i class="ki-check vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "more-options"}}
          </span>
        </button>
        <button
          type="button"
          class="vl-button vl-button--link vl-button--icon"
          {{on "click" this.cancelChanges}}
        >
          <i class="ki-cross vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "more-options"}}
          </span>
        </button>
      {{/if}}
    {{/if}}
    {{#if this.session.isEditor}}
      <button
        type="button"
        class="vl-button vl-button--link-muted vl-button--icon vlc-toolbar__item"
        disabled={{not this.session.isEditor}}
        {{on "click" (perform this.toggleAndSaveConfidentiality)}}
      >
        {{#if this.confidential}}
          {{#attach-tooltip
            arrow="true"
            animation="shift"
            placement="top"
            class="ember-attacher-tooltip"
          }}
            <p>
              {{t "document-is-confidential"}}
            </p>
          {{/attach-tooltip}}
          <i class="vl-icon ki-lock-closed vl-u-text--error"
          ></i>
        {{else}}
          <i class="vl-icon ki-lock-open"></i>
        {{/if}}
      </button>
    {{else}}
      <button
        type="button"
        class="vl-button vl-button--link-muted vl-button--icon vlc-toolbar__item"
        disabled={{not this.session.isEditor}}
        {{on "click" (perform this.toggleAndSaveConfidentiality)}}
      >
        {{#if this.confidential}}
          {{#attach-tooltip
            arrow="true"
            animation="shift"
            placement="top"
            class="ember-attacher-tooltip"
          }}
            <p>
              {{t "document-is-confidential"}}
            </p>
          {{/attach-tooltip}}
          <i class="vl-icon ki-lock-closed vl-u-text--error"
          ></i>
        {{else}}
          <i class="vl-icon ki-lock-open"></i>
        {{/if}}
      </button>
    {{/if}}
  {{/if}}
</div>