{{#if (not isAdding)}}
  <table class="vl-data-table vl-data-table--align-middle">
    <thead>
      <tr>
        <th class="vl-data-table-col-10">
          Minister
        </th>
        <th class="vl-data-table-col-2"></th>
      </tr>
    </thead>
    <tbody>
      {{#each (await mandateeRows) as |mandateeRow|}}
        <tr>
          <td>
            <ul class="vlc-minister-list">
              {{web-components/vl-mandatee-link
                mandatee=mandateeRow.mandatee
                domains=mandateeRow.selectedDomains
              }}
            </ul>
          </td>
          <td class="vl-u-align-right vl-u-flex-align-center">
            <button class="vl-button vl-button--link vl-button--icon">
              <i class="vl-vi vl-vi-edit" aria-hidden="true"></i>
              <span class="vl-u-visually-hidden">
                Verwijder
              </span>
            </button>
            <button
              class="vl-button vl-button--link vl-button--icon"
              {{action "deleteRow" mandateeRow}}
            >
              <i class="vl-vi vl-vi-trash" aria-hidden="true"></i>
              <span class="vl-u-visually-hidden">
                Verwijder
              </span>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if isEditing}}
    <div class="vlc-toolbar">
      <div
        class="vlc-toolbar__left vl-action-group vl-action-group--space-between"
      >
        <button
          class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
          {{action "addRow"}}
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
          ></i>
          {{t "add-minister"}}
        </button>
      </div>
    </div>
  {{/if}}
{{else}}
  {{utils/add-minister-modal
    cancel=(action "cancel")
    addMandatee=(action "createMandateeRow")
  }}
{{/if}}