<form onsubmit={{action "createCaseAction"}}>
  <div class="auk-modal__content">

    {{#if hasError}}
      <WebComponents::AuAlert data-test-auk-alert-error @title={{t "modal-error-alert-title"}} @skin="error"
                              @message={{t "modal-error-alert-message"}} @icon="alert-triangle"/>
    {{/if}}

    <div class="auk-u-mb-4">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "confidential")}}
        {{web-components/vl-toggle value=confidential}}
      </div>
    </div>
    <div class="vlc-input-field-block {{getClassForShortTitle}}" data-test-metadata-form>
      {{web-components/vl-form-label value=(t "short-title-case")}}
      {{textarea class="vl-textarea vl-textarea--block" rows="2" value=shortTitle}}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button type="button" data-test-vl-modal-footer-cancel
                  class="vl-button vl-button--link"
            {{action "closeAction"}}>
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          {{web-components/vl-save-button
            text=(t "create-case")
            type="submit"
            isLoading=isLoading
            disabled=isLoading
          }}
        </div>
      </div>
    </div>
  </div>
</form>
