{{#if (eq (await comment.author.id) (await user.id))}}
  <div class="vl-badge vl-badge--initials vl-badge--action">
    <span>
      {{user-initials user=(await comment.author)}}
    </span>
  </div>
{{else}}
  <div class="vl-badge vl-badge--initials vl-badge--accent">
    <span>
      {{user-initials user=(await comment.author)}}
    </span>
  </div>
{{/if}}
<div class="vlc-comment-content">
  <div class="vlc-comment-content__header">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <h4 class="vl-title vl-title--h6">
          {{await comment.author.firstName}}
          {{await comment.author.lastName}}
        </h4>
      </div>
      <div class="vlc-toolbar__right">
        {{#if (eq (await comment.author.id) (await user.id))}}
          <button type="button" class="vl-button vl-button--link vl-button--icon">
            <i class="vl-button__icon ki-more"></i>
            <span class="vl-u-visually-hidden">
              {{t "more-options"}}
            </span>
            {{#attach-popover
              renderInPlace=true
              class="ember-attacher-popper"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom"
            as |attacher|
            }}
              <ul class="vlc-dropdown-menu">
                <li class="vlc-dropdown-menu__item">
                  <button type="button" class="vl-link vl-u-text--error"
                    {{action attacher.hide}}
                    {{action "deleteComment" comment}}
                  >
                    {{t "delete-comment"}}
                  </button>
                </li>
              </ul>
            {{/attach-popover}}
          </button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="vl-typography">
    <p>
      {{comment.text}}
    </p>
  </div>
  <div class="vlc-comment-content__meta">
    {{moment-format comment.created "DD MMMM YYYY - HH:mm"}}
  </div>
</div>

{{#if isVerifyingDelete}}
  {{web-components/vl-modal-verify
    title=(t "delete-comment")
    message=(t "delete-comment-message")
    cancel=(action "cancel")
    verify=(action "verify")
  }}
{{/if}}
