<div class="auk-scroll-wrapper auk-u-p-4">
  <div class="auk-scroll-wrapper__body">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">{{t "publicationSection.yearly-reports"}}</h4>
      </Auk::Panel::Header>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-exact-date"}}</h4>
            <p class="auk-u-muted">{{t "util.last-requested-on"}} 17/12/2021 {{t "util.on"}} 11:12 {{t "util.by"}} Inti Valderas Caro: <Auk::ButtonLink @icon="download" @block={{false}}>202112171112-publicatie-exacte-datum.csv</Auk::ButtonLink></p>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportOneModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportOneModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-exact-date"}}" @onResize={{this.closeReportOneModal}} @onClose={{this.closeReportOneModal}} />
          <Auk::Modal::Body>
            <div class="auk-o-grid">
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label @required={{true}}>{{t "start-date"}}</Auk::Label>
                  <Auk::Datepicker
                    @date=""
                    @onChange=""
                  />
                </div>
              </div>
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label>{{t "end-date"}}</Auk::Label>
                  <Auk::Datepicker
                    @date=""
                    @onChange=""
                  />
                </div>
              </div>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportOneModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportOneModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-decision-date"}}</h4>
            <p class="auk-u-muted">{{t "util.last-requested-on"}} 17/12/2021 {{t "util.on"}} 11:12 {{t "util.by"}} Inti Valderas Caro: <Auk::ButtonLink @icon="download" @block={{false}}>202112171112-publicatie-per-beslissingsdatum.csv</Auk::ButtonLink></p>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportTwoModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportTwoModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-decision-date"}}" @onResize={{this.closeReportTwoModal}} @onClose={{this.closeReportTwoModal}} />
          <Auk::Modal::Body>
            <div class="auk-o-grid">
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label @required={{true}}>{{t "start-date"}}</Auk::Label>
                  <Auk::Datepicker
                    @date=""
                    @onChange=""
                  />
                </div>
              </div>
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label>{{t "end-date"}}</Auk::Label>
                  <Auk::Datepicker
                    @date=""
                    @onChange=""
                  />
                </div>
              </div>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportTwoModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportTwoModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-domain"}}</h4>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportThreeModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportThreeModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-domain"}}" @onResize={{this.closeReportThreeModal}} @onClose={{this.closeReportThreeModal}} />
          <Auk::Modal::Body>
            <div class="auk-form-group">
              <Auk::Label>{{t "util.year"}}</Auk::Label>
              <select name="year5" id="year5" class="auk-select auk-select--block">
                <option value=""></option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </div>
            <div class="auk-form-group auk-u-mt-2">
              <Auk::Label>{{t "government-domains-government-fields"}}</Auk::Label>
              <Auk::CheckboxList class="auk-u-mt">
                <Auk::Checkbox
                  @label="Cultuur, jeugd sport & media"
                />
                <Auk::Checkbox
                  @label="Economie, Wetenschap & Innovatie"
                />
                <Auk::Checkbox
                  @label="Financieën & begroting"
                />
                <Auk::Checkbox
                  @label="Internationaal Vlaanderen"
                />
                <Auk::Checkbox
                  @label="Kanselarij & bestuur"
                />
                <Auk::Checkbox
                  @label="Landbouw & visserij"
                />
                <Auk::Checkbox
                  @label="Mobiliteit & openbare werken"
                />
                <Auk::Checkbox
                  @label="Omgeving"
                />
                <Auk::Checkbox
                  @label="Onderwijs & vorming"
                />
                <Auk::Checkbox
                  @label="Welzijn, volksgezondheid & gezin"
                />
                <Auk::Checkbox
                  @label="Werk & sociale economie"
                />
              </Auk::CheckboxList>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportThreeModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportThreeModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-bvr-minister"}}</h4>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportFourModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportFourModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-bvr-minister"}}" @onResize={{this.closeReportFourModal}} @onClose={{this.closeReportFourModal}} />
          <Auk::Modal::Body>
            <div class="auk-o-grid">
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label>{{t "util.year"}}</Auk::Label>
                  <select name="year" id="year" class="auk-select auk-select--block">
                    <option value=""></option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                  </select>
                </div>
              </div>
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label>{{t "minister"}}</Auk::Label>
                  <select name="minister" id="minister" class="auk-select auk-select--block">
                    <option value=""></option>
                    <option value="Minister 1">Minister 1</option>
                    <option value="Minister 2">Minister 2</option>
                    <option value="Minister 3">Minister 3</option>
                  </select>
                </div>
              </div>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportFourModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportFourModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-published-outside-council"}}</h4>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportFiveModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportFiveModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-published-outside-council"}}" @onResize={{this.closeReportFiveModal}} @onClose={{this.closeReportFiveModal}} />
          <Auk::Modal::Body>
            <div class="auk-form-group">
              <Auk::Label>{{t "util.year"}}</Auk::Label>
              <select name="year2" id="year2" class="auk-select auk-select--block">
                <option value=""></option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportFiveModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportFiveModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-regulation"}}</h4>
            <p class="auk-u-muted">{{t "util.last-requested-on"}} 14/11/2020 {{t "util.on"}} 11:12 {{t "util.by"}} Hannes D’Hulster: <Auk::ButtonLink @icon="download" @block={{false}}>202111141112-publicatie-per-soort-regelgeving.csv</Auk::ButtonLink></p>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportSixModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportSixModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-regulation"}}" @onResize={{this.closeReportSixModal}} @onClose={{this.closeReportSixModal}} />
          <Auk::Modal::Body>
            <div class="auk-form-group">
              <Auk::Label>{{t "regulation-type"}}</Auk::Label>
              <Auk::CheckboxList class="auk-u-mt">
                <Auk::Checkbox
                  @label="Decreet"
                />
                <Auk::Checkbox
                  @label="Besluit van de Vlaamse Regering"
                />
                <Auk::Checkbox
                  @label="Ministrieel besluit"
                />
                <Auk::Checkbox
                  @label="Besluit leidend ambtenaar"
                />
                <Auk::Checkbox
                  @label="Bericht"
                />
                <Auk::Checkbox
                  @label="Omzendbrief"
                />
                <Auk::Checkbox
                  @label="Koninklijk besluit"
                />
                <Auk::Checkbox
                  @label="Andere"
                />
              </Auk::CheckboxList>
            </div>
            <div class="auk-form-group auk-u-mt-2">
              <Auk::Label>{{t "util.year"}}</Auk::Label>
              <select name="year3" id="year3" class="auk-select auk-select--block">
                <option value=""></option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportSixModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportSixModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>

      <Auk::Panel::Body>
        <div class="auk-o-grid auk-o-flex--vertical-center">
          <div class="auk-o-grid-col-8">
            <h4 class="auk-h4 auk-u-m-0">{{t "publicationSection.report-decrees"}}</h4>
          </div>
          <div class="auk-o-grid-col-4 auk-u-text-align--right">
            <Auk::Button @skin="secondary" {{on "click" this.openReportSevenModal}}>{{t "util.create-report"}}</Auk::Button>
          </div>
        </div>
        {{#if this.reportSevenModal}}
        <Auk::Modal>
          <Auk::Modal::Header @title="{{t "publicationSection.report"}}: {{t "publicationSection.report-decrees"}}" @onResize={{this.closeReportSevenModal}} @onClose={{this.closeReportSevenModal}} />
          <Auk::Modal::Body>
            <div class="auk-o-grid">
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label>{{t "util.year"}}</Auk::Label>
                  <select name="year4" id="year4" class="auk-select auk-select--block">
                    <option value=""></option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                  </select>
                </div>
              </div>
              <div class="auk-o-grid-col-6">
                <div class="auk-form-group">
                  <Auk::Label>{{t "minister"}}</Auk::Label>
                  <select name="minister2" id="minister2" class="auk-select auk-select--block">
                    <option value=""></option>
                    <option value="Minister 1">Minister 1</option>
                    <option value="Minister 2">Minister 2</option>
                    <option value="Minister 3">Minister 3</option>
                  </select>
                </div>
              </div>
            </div>
          </Auk::Modal::Body>
          <Auk::Modal::Footer @onCancel={{this.closeReportSevenModal}}>
            <Auk::Button @skin="primary" {{on "click" this.confirmReportSevenModal}}>{{t "util.view"}}</Auk::Button>
          </Auk::Modal::Footer>
        </Auk::Modal>
        {{/if}}
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>
</div>