{{#let
  this.model.treatment.decisionActivity
  as |decisionActivity|
}}
  {{#if decisionActivity.isRetracted}}
    <Agenda::Agendaitem::AgendaitemRetracted
      @subcase={{this.subcase}}
    />
  {{else if decisionActivity.isPostponed}}
    <Agenda::Agendaitem::AgendaitemPostponed
      @meeting={{this.meeting}}
      @subcase={{this.subcase}}
      @agendaActivity={{this.agendaActivity}}
    />
  {{/if}}
{{/let}}

<Auk::Toolbar class="auk-u-mb-4" as |Toolbar|>
  <Toolbar.Group @position="left" as |Group|>
    <Group.Item>
      <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
        <h3 class="auk-toolbar__title">
          {{capitalize (t 'case')}}
        </h3>
      </div>
    </Group.Item>
  </Toolbar.Group>
  <Toolbar.Group @position="right" as |Group|>
    <Group.Item>
      {{#if (user-may "manage-agendaitems")}}
        {{#unless this.isClosedMeeting}}
          <Agenda::Agendaitem::AgendaitemControls
            @agendaitem={{this.model}}
            @agendaActivity={{this.agendaActivity}}
            @currentAgenda={{this.agenda}}
            @reverseSortedAgendas={{this.reverseSortedAgendas}}
            @onDeleteAgendaitem={{this.reassignNumbersAndNavigateToNeighbouringAgendaitem}}
            @submitToVp={{this.showVpModal}}
          />
        {{else}}
        <AuDropdown
          @skin="secondary"
          @title={{t "actions"}}
          @alignment="right"
          class="auk-u-hidden@print"
        >
          <AuButton
            @skin="link"
            role="menuitem"
            {{on "click" this.showVpModal}}
          >
            Doorsturen naar het Vlaams Parlement
          </AuButton>
      </AuDropdown>
        {{/unless}}
      {{/if}}
    </Group.Item>
  </Toolbar.Group>
</Auk::Toolbar>

{{#if this.vpSent}}
  {{#if this.isComplete}}
  <div class="auk-u-my-4">
    <AuAlert
      @title="Dit dossier is volledig en doorgestuurd naar het Vlaams parlement op 29/09/2023"
      @skin="success"
      @icon="mail"
      @size="small"
    />
  </div>
  {{else}}
  <div class="auk-u-my-4">
    <AuAlert
      @title="Dit dossier is onvolledig en doorgestuurd naar het Vlaams parlement op 29/09/2023"
      @icon="mail"
      @size="small"
      class="au-c-alert--neutral"
    />
  </div>
  {{/if}}
{{/if}}

<Agenda::Agendaitem::AgendaitemCasePanel
  @agendaitem={{this.model.agendaitem}}
  @subcase={{this.subcase}}
  @agenda={{this.agenda}}
  @newsItem={{this.newsItem}}
  @allowEditing={{user-may "manage-agendaitems"}}
>
  {{#if (is-announcement @model.type)}}
    <Mandatees::MandateesPanelCompact
      @referenceDate={{this.meeting.plannedStart}}
      @mandatees={{this.mandatees}}
      @submitter={{this.submitter}}
      @allowEditing={{user-may "manage-agendaitems"}}
      @onSave={{this.saveMandateeData}}
    />
  {{else if this.subcase}}
    <Mandatees::MandateesPanelCompact
      @referenceDate={{this.meeting.plannedStart}}
      @mandatees={{this.mandatees}}
      @submitter={{this.submitter}}
      @allowEditing={{user-may "manage-agendaitems"}}
      @onSave={{this.saveMandateeData}}
    />
    <Utils::GovernmentAreas::GovernmentAreasPanelCompact
      @referenceDate={{or this.meeting.plannedStart this.agenda.created}}
      @governmentAreas={{this.subcase.governmentAreas}}
      @allowEditing={{user-may "manage-agendaitems"}}
      @onSave={{this.saveGovernmentAreas}}
    />
  {{/if}}
</Agenda::Agendaitem::AgendaitemCasePanel>

{{#if this.vpModal}}
<Auk::Modal @size="medium">
  <Auk::Modal::Header
    @title="Dossier controleren"
    @onClose={{this.showVpModal}}
  />
  <Auk::Modal::Body>
    <AuContent>
      <p>Vink de documenten aan die verstuurd mogen worden naar het Vlaams Parlement</p>
      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Principiële goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-2 Decreet dienstencheques - decreetBIS (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-3 Decreet dienstencheques - memorieTER (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-1 Decreet dienstencheques - notaBIS (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR PV 2023/31 - PUNT 0085 (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-4 Decreet dienstencheques - IF (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Principiële goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-1 Decreet dienstencheques - nota (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR PV 2023/40 - PUNT 0011 (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-4 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-2 Decreet dienstencheques - decreet (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-5 Decreet dienstencheques advies (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-3 Decreet dienstencheques - memorie (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-6 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Definitieve goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-2 Decreet dienstencheques - decreet (Word en PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-3 Decreet dienstencheques - memorie (Word en ondertekende PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-1 Decreet dienstencheques - nota (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR PV 2024/8 - punt 0016 (ondertekende PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-4 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <div class="auk-form-group au-u-margin-top au-u-margin-bottom">
        <Auk::Label for="remarks">Opmerkingen</Auk::Label>
        <Auk::Textarea
          @rows="4"
          @value=""
          id="remarks"
        />
      </div>
    </AuContent>
    <AuCard
      @shadow={{false}}
      @standOut={{true}}
      @size="small"
      @expandable={{true}}
      as |c|
    >
      <c.header>
        <AuHeading @level="3" @skin="6">
          Mogelijks zijn er nog documenten te kort, kijk je even mee?
        </AuHeading>
      </c.header>
      <c.content>
        <p>We deden een automatische check, misschien moet één van volgende documenten toch mee?</p>
        <ul class="au-u-margin-top-small">
          <li>
            <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-2 Decreet dienstencheques - decreet (ondertekende PDF)</AuLinkExternal>
          </li>
        </ul>
      </c.content>
    </AuCard>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{this.showVpModal}}>
    <AuButton
      @skin="primary"
      {{on "click" this.submitToVp}}
    >
      Doorsturen naar het Vlaams Parlement
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
{{/if}}

<div class="auk-u-mb-4">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar  as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            <h4 class="auk-panel__title">
              {{t "documents"}}
            </h4>
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          {{#if this.model.pieces.length}}
            <Group.Item>
              {{#if (user-may "manage-documents")}}
                <AuButton
                  data-test-route-agenda---agendaitem-documents-batch-edit
                  @icon="pencil"
                  @skin="naked"
                  @loading={{this.ensureFreshData.isRunning}}
                  {{on "click" this.openBatchDetails}}
                >
                  {{t "batch-edit"}}
                </AuButton>
              {{/if}}
            </Group.Item>
          {{/if}}
          {{#if this.isShownOpenPublicationModal}}
            <Group.Item>
              <AuButton
                data-test-route-agenda---agendaitem-documents-open-publication
                @icon="copy"
                @skin="naked"
                {{on "click" this.openPublicationModal}}
              >
                {{t "agendaitem-documents-documents-for-publication"}}
              </AuButton>
            </Group.Item>
          {{/if}}
        </Toolbar.Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="c-document-panel">
      {{#unless this.loadData.isRunning}}
        {{#if this.documentsAreVisible}}
          <Documents::DocumentCardList
            @pieces={{this.model.pieces}}
            @highlightedPieces={{this.newAgendaitemPieces}}
            @agendaContext={{hash meeting=this.meeting agenda=this.currentAgenda agendaitem=this.agendaitem}}
            @onOpenUploadModal={{this.openUploadModalForNewPiece}}
            @onAddPiece={{perform this.addPiece}}
            @didDeleteContainer={{this.refresh}}
            @isEditable={{true}}
            @decisionActivity={{this.decisionActivity}}
          />
        {{else}}
          <AuAlert
            @skin="info"
            @icon="info-circle"
          >
            {{t "no-documents-yet"}}
          </AuAlert>
        {{/if}}
      {{/unless}}
    </Auk::Panel::Body>
    {{#if (user-may "manage-documents")}}
    <Auk::Panel::Footer>
      <AuButton
        data-test-route-agenda---agendaitem-documents-add
        @skin="naked"
        @icon="plus"
        class="au-u-padding-left-none"
        {{on "click" this.openPieceUploadModal}}
      >
        {{t "documents-add"}}
      </AuButton>
    </Auk::Panel::Footer>
    {{/if}}
  </Auk::Panel>
</div>

<Documents::LinkedDocumentsPanel @agendaitemOrSubcase={{this.agendaitem}} class="c-linked-documents" />

<Agenda::Agendaitem::AgendaitemInfoPanel
  @agendaitem={{this.model.agendaitem}}
  @subcase={{this.subcase}}
  @agenda={{this.agenda}}
  @newsItem={{this.newsItem}}
  @allowEditing={{user-may "manage-agendaitems"}}
/>

<Agenda::Agendaitem::DecisionsSigneePanel />

{{#if this.isOpenBatchDetailsModal}}
  <Documents::BatchDetails::BatchDocumentsDetailsModal
    @pieces={{this.model.pieces}}
    @decisionActivity={{this.decisionActivity}}
    @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
    @onCancel={{this.cancelBatchDetails}}
    @onSave={{this.saveBatchDetails}}
  />
{{/if}}

{{#if this.isOpenPublicationModal}}
  <Publications::BatchDocumentsPublicationModal
    @pieces={{this.model.pieces}}
    @agendaitem={{this.agendaitem}}
    @onClose={{this.closePublicationModal}}
  />
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isOpenPieceUploadModal}}
  @title={{t "document-add"}}
  @onConfirm={{perform this.savePieces}}
  @onCancel={{perform this.cancelUploadPieces}}
  @confirmMessage={{t "documents-add"}}
  @disabled={{eq this.newPieces.length 0}}
  @loading={{this.savePieces.isRunning}}
>
  <:body>
    {{#if this.savePieces.isRunning}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else}}
      <Auk::FileUploader
        @multiple={{true}}
        @reusable={{true}}
        @onUpload={{this.uploadPiece}}
      />
      <div class="upload-container">
        {{#each this.newPieces as |piece|}}
          <Documents::UploadedDocument
            @piece={{piece}}
            @allowDocumentContainerEdit={{true}}
            @onDelete={{perform this.deletePiece piece}}
          />
        {{/each}}
      </div>
    {{/if}}
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.isOpenWarnDocEditOnApproved}}
  @title={{t "documents-on-approved-agenda-title"}}
  @onConfirm={{this.confirmDocEditOnApproved}}
  @onCancel={{this.closeWarnDocEditOnApproved}}
>
  <:body>
      {{#if this.currentAgenda.nextVersion}}
        <p>{{t "documents-on-approved-agenda-with-next-version"}}</p>
      {{/if}}
      <p>{{t "documents-on-approved-agenda-message"}}</p>
  </:body>
</ConfirmationModal>


