{{#let
  this.model.treatment.decisionActivity
  as |decisionActivity|
}}
  {{#if decisionActivity.isRetracted}}
    <Agenda::Agendaitem::AgendaitemRetracted
      @subcase={{this.subcase}}
    />
  {{else if decisionActivity.isPostponed}}
    <Agenda::Agendaitem::AgendaitemPostponed
      @meeting={{this.meeting}}
      @subcase={{this.subcase}}
      @agendaActivity={{this.agendaActivity}}
    />
  {{/if}}
{{/let}}

<Auk::Toolbar class="auk-u-mb-4" as |Toolbar|>
  <Toolbar.Group @position="left" as |Group|>
    <Group.Item>
      <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
        <Agenda::Agendaitem::Approved
          @subcase={{this.subcase}}
        />
        <h3 class="auk-toolbar__title">
          {{t "agendaitem-case"}}
        </h3>
      </div>
    </Group.Item>
  </Toolbar.Group>
  <Toolbar.Group @position="right" as |Group|>
    <Group.Item>
      {{#if (user-may "manage-agendaitems")}}
        {{#unless this.isClosedMeeting}}
          <Agenda::Agendaitem::AgendaitemControls
            @agendaitem={{this.model}}
            @agendaActivity={{this.agendaActivity}}
            @currentAgenda={{this.agenda}}
            @reverseSortedAgendas={{this.reverseSortedAgendas}}
            @onDeleteAgendaitem={{this.reassignNumbersAndNavigateToNeighbouringAgendaitem}}
            @submitToVp={{this.showVpModal}}
          />
        {{else}}
        <AuDropdown
          @skin="secondary"
          @title={{t "actions"}}
          @alignment="right"
          class="auk-u-hidden@print"
        >
          <AuButton
            @skin="link"
            role="menuitem"
            {{on "click" this.showVpModal}}
          >
            Doorsturen naar het Vlaams Parlement
          </AuButton>
      </AuDropdown>
        {{/unless}}
      {{/if}}
    </Group.Item>
  </Toolbar.Group>
</Auk::Toolbar>

{{#if this.vpSent}} 
  {{#if this.isComplete}}
  <AuAlert
    @title="Dit dossier is volledig en doorgestuurd naar het Vlaams parlement op 29/09/2023"
    @skin="success"
    @icon="mail"
    @size="small"
  />
  {{else}}
  <AuAlert
    @title="Dit dossier is onvolledig en doorgestuurd naar het Vlaams parlement op 29/09/2023"
    @skin="success"
    @icon="mail"
    @size="small"
  />
  {{/if}}
{{/if}}

<Agenda::Agendaitem::AgendaitemCasePanel
  @agendaitem={{this.model}}
  @subcase={{this.subcase}}
  @agenda={{this.agenda}}
  @newsItem={{this.newsItem}}
  @allowEditing={{user-may "manage-agendaitems"}}
/>
{{#if (is-announcement @model.type)}}
  <Mandatees::MandateesPanel
    @referenceDate={{this.meeting.plannedStart}}
    @mandatees={{this.mandatees}}
    @submitter={{this.submitter}}
    @allowEditing={{user-may "manage-agendaitems"}}
    @onSave={{this.saveMandateeData}}
  />
{{else if this.subcase}}
  <Mandatees::MandateesPanel
    @referenceDate={{this.meeting.plannedStart}}
    @mandatees={{this.mandatees}}
    @submitter={{this.submitter}}
    @allowEditing={{user-may "manage-agendaitems"}}
    @onSave={{this.saveMandateeData}}
  />
  <Utils::GovernmentAreas::GovernmentAreasPanel
    @referenceDate={{or this.meeting.plannedStart this.agenda.created}}
    @governmentAreas={{this.subcase.governmentAreas}}
    @allowEditing={{user-may "manage-agendaitems"}}
    @onSave={{this.saveGovernmentAreas}}
  />
{{/if}}

{{#if this.vpModal}}
<Auk::Modal @size="medium">
  <Auk::Modal::Header 
    @title="Dossier controleren"
    @onClose={{this.showVpModal}}
  />
  <Auk::Modal::Body>
    <AuContent>
      <p>De volgende zaken worden doorgestuurd:</p>
      <ul class="au-u-margin-top">
        <li>
          Eerste principiële goedkeuring:
          <ul>
            <li><a href="#!" target="blank">VR 2022 2212 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf (getekend)</a></li>
            <li><a href="#!" target="blank">VR 2022 2212 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx</a></li>
            <li><a href="#!" target="blank">VR 2022 2212 DOC.0357-3BIS Parkendecreet -ontwerpdecreet.pdf</a></li>
            <li><a href="#!" target="blank">VR 2022 2212 DOC.0357-3BIS Parkendecreet -nota.pdf</a></li>
            <li><a href="#!" target="blank">VR 2022 2212 DOC.0357-3BIS Parkendecreet -adviesnota.pdf</a></li>
          </ul>
        </li>
        <li>
          Definitieve goedkeuring:
          <ul>
            <li><a href="#!" target="blank">VR 2023 3103 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf (getekend)</a></li>
            <li><a href="#!" target="blank">VR 2023 3103 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx</a></li>
            <li><a href="#!" target="blank">VR 2023 3103 DOC.0357-3BIS Parkendecreet -ontwerpdecreet.pdf (getekend)</a></li>
            <li><a href="#!" target="blank">VR 2023 3103 DOC.0357-3BIS Parkendecreet -nota.pdf</a></li>
          </ul>
        </li>
      </ul>
      <div class="auk-form-group au-u-margin-top">
        <Auk::Label for="remarks">Opmerkingen</Auk::Label>
        <Auk::Textarea
          @rows="4"
          @value=""
          id="remarks"
        />
      </div>
    </AuContent>
    <AuAlert
      @title="Dit dossier mist nog:"
      @skin="warning"
      @icon="alert-triangle"
      @size="small"
      class="au-u-margin-bottom-none au-u-margin-top"
    >
      <AuContent>
        <ul>
          <li>Memorie van definitieve goedkeuring (in Word)</li>
          <li>Ontwerpdecreet definitieve goedkeuring (ondertekend)</li>
        </ul>
      </AuContent>
    </AuAlert>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{this.showVpModal}}>
    <AuButton
      @skin="primary"
      {{on "click" this.submitToVp}}
    >
      Doorsturen naar het Vlaams Parlement
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
{{/if}}

<Agenda::Agendaitem::DecisionsSigneePanel />