{{!-- template-lint-disable no-bare-strings --}}
<div class="vlc-mock-login">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <div class="auk-u-mt-8">
      <div class="col--9-12--s col--5-12--m col--6-12">
        <div class="grid grid--align-right">
          <div class="col--1-1 col--10-12--m col--6-12--l">
            <h2 class="h4 u-spacer">Kies een gebruiker om mee in te loggen.</h2>
            <input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound"
                  placeholder="Gebruikersnaam..."
                  value={{role}} autofocus
                  oninput={{perform this.updateSearch value='target.value'}}>
            <MockLogin as |login|>
              {{#if this.queryStore.isRunning}}
                <div class="loader-wrapper">
                  <div class="loader">
                    <span class="u-visually-hidden">Aan het laden</span>
                  </div>
                </div>
              {{else}}
                {{#if login.errorMessage}}
                  <WuAlert
                      @title={{login.errorMessage}}
                      @isWarning={{true}} />
                {{/if}}
                {{#if this.accounts.length}}
                  <ul>
                    <login.each-account @accounts={{this.accounts}} as |account|>
                      <div class="auk-block-link">
                        {{account.user.firstName}} {{account.user.lastName}}
                      </div>
                    </login.each-account>
                  </ul>
                  <NumberPagination
                    @page={{this.page}}
                    @size={{this.size}}
                    @nbOfItems={{this.accounts.length}}
                    @total={{this.accounts.meta.count}}
                    @links={{this.accounts.meta.pagination}}
                  />
                {{else}}
                  Geen account gevonden.
                {{/if}}
              {{/if}}
            </MockLogin>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
