{{!-- template-lint-disable no-bare-strings --}}
<Auk::Navbar @skin="white" @noPadding={{true}} id="c-main-nav">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Brand @logotype="Kaleidos" />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if this.showEnvironmentName}}
        <Auk::Toolbar::Item class="auk-u-mr-3">
          <div class="vlc-environment-pill {{this.environmentClass}}">
            {{this.environmentName}}
          </div>
        </Auk::Toolbar::Item>
      {{/if}}
      <Auk::Toolbar::Item>
        <Auk::ButtonLink
          @skin="muted"
          @padded="padded"
          @icon="circle-question"
        >
          {{t "help"}}
        </Auk::ButtonLink>
        <AttachPopover
          @renderInPlace={{true}}
          @class="ember-attacher-popper"
          @hideOn="clickout click"
          @showOn="click"
          @animation="shift"
          @placement="bottom-end"
        >
          <Auk::Dropdown>
            <Auk::Dropdown::Item
              @route="manual"
              target="_blank"
            >
              {{t "look-at-documentation"}}
            </Auk::Dropdown::Item>
            <Auk::Dropdown::Item @href="mailto:kaleidos.servicedesk@vlaanderen.be">
              <div>
                <span>{{t "contact-us"}}</span>
                <span class="auk-u-muted auk-u-text-small">{{t "email-servicedesk"}}</span>
              </div>
            </Auk::Dropdown::Item>
          </Auk::Dropdown>
        </AttachPopover>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-p-4">
      <div class="auk-content" style="max-width: 45rem; width: 100%; margin: 0 auto;">
        <div class="auk-u-my-4">
          <h4 class="auk-u-mb-2">Aanmelden als bepaald profiel (generiek)</h4>
          <p class="auk-u-mb-4">Kies een type gebruiker om mee aan te melden:</p>
          <div class="auk-panel auk-u-mb-8">
            <MockLogin as |login|>
              {{#if this.model.length}}
                <ul class="auk-list auk-list--view" data-test-mock-login-list>
                  <login.each-account @accounts={{this.model}} as |account|>
                    <Auk::List::Item>
                      <div class="auk-u-mx-2">
                        <span>{{account.user.firstName}} {{account.user.lastName}}</span>
                      </div>
                      <div class="auk-button auk-button--borderless auk-button--icon">
                        <span class="auk-button__content">
                          <div class="auk-icon auk-icon--default auk-icon--chevron-right ">
                            <i class="ki ki-chevron-right"></i>
                          </div>
                          <div class="auk-u-sr-only">Detail</div>
                        </span>
                      </div>
                    </Auk::List::Item>
                  </login.each-account>
                </ul>
              {{else}}
                Geen accounts gevonden.
              {{/if}}
            </MockLogin>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>