<div class="properties">
  <div class="property">
    <div class="label">
      Persagenda
    </div>
    {{input type="checkbox" checked=agendaitem.forPress}}
  </div>
  <div class="property">
    <div class="label">
      Formeel Ok
    </div>
    {{input type="checkbox" checked=agendaitem.formallyOk}}
  </div>
  <div class="property">
    <div class="label">
      Notulen
    </div>
    {{textarea value=agendaitem.record}}
  </div>
</div>

<div class="agendaitem--detail--besluit">
  <h2>Beslissing</h2>
  {{#if (await agendaitem.decision)}}
    {{decision/edit-decision decision=agendaitem.decision}}
  {{else}}
    Nog geen beslissing.
    <button class="invert-color" {{action "addDecision"}}>voeg beslissing toe</button>
  {{/if}}
</div>

<div class="agendaitem--detail--news-item">
  <h2>Kort bestek</h2>
  {{#if (await agendaitem.newsItem)}}
    {{news-item/edit-item newsItem=(await agendaitem.newsItem)}}
  {{else}}
    Nog geen kort bestek.
    <button class="invert-color" {{action "addNewsItem"}}>voeg kort bestek toe</button>
  {{/if}}
</div>

<div class="controls">
  <button class="invert-color" {{action "saveItem"}}>save</button>
</div>
{{yield}}
