{{#if (not isEditing)}}
  <div class="auk-u-mb-3" data-test-publication-case-panel-mandatees>
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "ministers-policy-fields"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          {{#if (not this.latestSubcaseOnMeeting)}}
            <WebComponents::AuToolbar::Group @position="right">
              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButton
                  {{on "click" this.toggleIsEditing}}
                        @skin="tertiary"
                        @icon="settings"
                        data-test-subcase-mandatees-edit
                >
                  {{t "edit-2"}}
                </WebComponents::AuButton>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
          {{/if}}
        </WebComponents::AuToolbar>
      </WebComponents::AuPanel::Header>
      {{#if (gt (await mandateeRows.length) 0) }}
        <WebComponents::AuPanel::Body @noPadding="true">
          <table class="auk-table">
            <thead>
              <tr>
                <th>{{t "minister"}}</th>
                <th>{{t "policy-domain-policy-fields"}}</th>
                <th>{{t "submitter"}}</th>
                {{!-- <th></th> --}}
              </tr>
            </thead>
            <tbody>
              {{#each mandateeRows as |mandateeRow|}}
                <tr data-test-mandatee-link-list-item >
                  <td class="auk-table__col--4">
                    <div class="auk-u-flex auk-u-flex--vertical-center">
                      <WebComponents::AuBadge @icon="user"/>
                      <span class="auk-u-mx-2">{{await mandateeRow.mandatee.person.nameToDisplay}}</span>
                    </div>
                  </td>
                  <td>
                    {{#if mandateeRow.fields}}
                      <ul data-test-agendaitem-mandatees-fields-list>
                        {{#each mandateeRow.fields as |field|}}
                          <li>
                            {{field.label}}
                          </li>
                        {{/each}}
                      </ul>
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if mandateeRow.isSubmitter}}
                      <WebComponents::AuIcon @name="circle-check" @iconSkinColor="success"/>
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                  {{!-- TODO implement actions --}}
                  {{!-- <td class="auk-u-text-align--right">
                    <WebComponents::AuButton @layout="icon-only" @skin="borderless" @icon="more">
                      <AttachPopover
                              @renderInPlace={{true}}
                              @class="ember-attacher-popper"
                              @hideOn="clickout click"
                              @showOn="click"
                              @animation="shift"
                              @placement="left"
                      >
                        <WebComponents::AuDropdown>
                          <WebComponents::AuDropdown::Item>
                            {{t "edit-2"}}
                          </WebComponents::AuDropdown::Item>
                          <WebComponents::AuDropdown::Item @skin="danger">
                            {{t "delete"}}
                          </WebComponents::AuDropdown::Item>
                        </WebComponents::AuDropdown>
                      </AttachPopover>
                    </WebComponents::AuButton>
                  </td> --}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </WebComponents::AuPanel::Body>
      {{else}}
        <WebComponents::AuPanel::Body>
          <WebComponents::AuEmptyState @message={{t "no-mandatees-and-fields-added"}}/>
        </WebComponents::AuPanel::Body>
      {{/if}}
    </WebComponents::AuPanel>
  </div>
{{else}}
  <div class="vlc-box">
    {{cases/subcase-mandatees
      showSelected=true
      mandateeRows=mandateeRows
      isEditing=isEditing
      isAdding=isAdding
    }}
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <a
          href=""
          data-test-subcase-mandatees-add-mandatee
          class="auk-button auk-button--tertiary"
          {{action "addRow"}}
        >
          <div class="auk-icon auk-icon--default ">
            <i class="ki ki-add"></i>
          </div>
          <div class="auk-button__label">
            {{t "add-minister"}}
          </div>
        </a>
      </div>
      <div class="vlc-toolbar__right">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <a
                data-test-subcase-mandatees-edit-cancel
                href=""
                class="auk-button auk-button--tertiary"
                {{action "cancelEditing"}}
              >
                {{t "cancel"}}
              </a>
            </WebComponents::AuToolbar::Item>
            <WebComponents::AuToolbar::Item>
              {{web-components/vl-save-button
                text=(t "save")
                isLoading=isLoading
                test-data-vl-save-button=true
                saveAction=(action "saveChanges")
              }}
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </div>
    </div>
  </div>
{{/if}}
