<div class="vlc-box">
  <div class="auk-u-mb-4">
    {{#if @subcase}}
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "confidential"}}</WebComponents::AuLabel>
        {{web-components/vl-toggle
          data-test-agendaitem-titles-edit-confidential=true
          value=@subcase.confidential
        }}
      </div>
    {{/if}}
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "name-subcase"}}</WebComponents::AuLabel>
      {{textarea
        data-test-agendaitem-titles-edit-shorttitle=true
        rows="2"
        class="auk-textarea"
        value=@agendaitem.shortTitle
      }}
    </div>
  </div>
  <div class="auk-u-mb-4">
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "title-subcase"}}</WebComponents::AuLabel>
      {{textarea
        data-test-agendaitem-titles-edit-title=true
        rows="4"
        class="auk-textarea"
        value=@agendaitem.title
      }}
    </div>
  </div>
  <div class="auk-u-mb-4">
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "remark-title"}}</WebComponents::AuLabel>
      {{textarea
        data-test-agendaitem-titles-edit-explanation=true
        rows="2"
        class="auk-textarea"
        value=@agendaitem.explanation
      }}
    </div>
  </div>
  {{#if @agendaitem.showAsRemark}}
    <div class="auk-u-mb-4">
      <div class="vlc-input-field-block">
        {{#if this.newsletterInfo}}
          <WebComponents::AuLabel>{{t "show-in-newsletter"}}</WebComponents::AuLabel>
          {{web-components/vl-toggle
            data-test-agendaitem-titles-edit-showInNewsletter=true
            value=this.newsletterInfo.inNewsletter
          }}
        {{else}}
          <WebComponents::AuLabel>{{t "show-in-newsletter"}}</WebComponents::AuLabel>
          {{t "no-newsletter-info"}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <button type="button" class="auk-button auk-button--tertiary"
          {{action this.cancelEditing}}
        >
          {{t "cancel"}}
        </button>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        {{web-components/vl-save-button
          data-test-agendaitem-titles-edit-save=true
          text=(t "save")
          isLoading=this.isLoading
          saveAction=(action this.saveChanges)
        }}
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</div>