<div class="auk-u-mb-8">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{#if (not @agendaitem.showAsRemark)}}
                {{t "note"}}
              {{else}}
                {{t "text"}}
              {{/if}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          {{!-- TODO: for now the link-button is hidden while loading.
          A disabled state would be better to avoid flashing a new button in view once loaded. --}}
          {{#if (and @subcase this.loadCase.isIdle)}}
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="tertiary"
                @layout="icon-right"
                @icon="chevron-right"
                @route="cases.case.subcases.subcase.overview"
                @models={{array this.case.id @subcase.id}}
                data-test-agendaitem-titles-link-to-subcase={{true}}
              >
                {{t "to-subcase"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          {{/if}}
          {{#if this.currentSession.isEditor}}
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-agendaitem-titles-edit
                @skin="tertiary"
                @icon="edit"
                @layout="icon-only"
                {{on "click" this.startEditing}}
              />
            </Auk::Toolbar::Item>
          {{/if}}
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="auk-content">
        <h4>
          {{@agendaitem.shortTitle}}
        </h4>
        {{#if @agendaitem.title}}
          <div class="auk-u-mb-2">
            <span class="auk-o-flex--inline auk-u-text-pre-line">
              {{@agendaitem.title}}
            </span>
          </div>
        {{/if}}
        <Auk::PillList>
          {{#if (not @agendaitem.showAsRemark) }}
            {{#if @subcase.subcaseName}}
              <Auk::Pill>
                {{@subcase.subcaseName}}
              </Auk::Pill>
            {{/if}}
            {{#if @agendaitem.retracted}}
              <Auk::Pill>
                {{t "postponed-item"}}
              </Auk::Pill>
            {{/if}}
          {{else}}
            {{#if @newsletterInfo}}
              {{#if @newsletterInfo.inNewsletter}}
                <Auk::Pill @skin="success" @icon="visible">
                  {{t "visible-in-newsletter"}}
                </Auk::Pill>
              {{else}}
                <Auk::Pill @skin="danger" @icon="not-visible">
                  {{t "hidden-in-newsletter"}}
                </Auk::Pill>
              {{/if}}
            {{else}}
              <Auk::Pill>
                {{t "no-newsletter-info"}}
              </Auk::Pill>
            {{/if}}
          {{/if}}
          {{#if
            (and @agendaitem.isDesignAgenda
                    (and this.currentSession.isEditor @agendaitem.formallyOkToShow))
          }}
            <Auk::Pill
              @skin={{@agendaitem.formallyOkToShow.svg.color}}
              @icon={{@agendaitem.formallyOkToShow.svg.icon}}
            >
              {{@agendaitem.formallyOkToShow.label}}
            </Auk::Pill>
          {{/if}}
        </Auk::PillList>
      </div>
    </Auk::Panel::Body>
    {{#if @agendaitem.explanation }}
      <Auk::Modal::Footer @custom={{true}}>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <pre class="auk-o-flex--inline auk-u-text-pre-line auk-u-italic">
               {{t "remark-title"}}: {{@agendaitem.explanation}}
              </pre>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Modal::Footer>
    {{/if}}
  </Auk::Panel>
</div>