<div class="auk-box">
  <div class="auk-u-mb-4">
    {{#if @subcase}}
      <div class="auk-form-group">
        <Auk::Label>{{t "confidential"}}</Auk::Label>
        {{web-components/vl-toggle
          data-test-agendaitem-titles-edit-confidential=true
          value=@subcase.confidential
        }}
      </div>
    {{/if}}
    <div class="auk-form-group">
      <Auk::Label>{{t "name-subcase"}}</Auk::Label>
      {{textarea
        data-test-agendaitem-titles-edit-shorttitle=true
        rows="2"
        class="auk-textarea"
        value=@agendaitem.shortTitle
      }}
    </div>
  </div>
  <div class="auk-u-mb-4">
    <div class="auk-form-group">
      <Auk::Label>{{t "title-subcase"}}</Auk::Label>
      {{textarea
        data-test-agendaitem-titles-edit-title=true
        rows="4"
        class="auk-textarea"
        value=@agendaitem.title
      }}
    </div>
  </div>
  <div class="auk-u-mb-4">
    <div class="auk-form-group">
      <Auk::Label>{{t "remark-title"}}</Auk::Label>
      {{textarea
        data-test-agendaitem-titles-edit-explanation=true
        rows="2"
        class="auk-textarea"
        value=@agendaitem.explanation
      }}
    </div>
  </div>
  {{#if @agendaitem.showAsRemark}}
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        {{#if this.newsletterInfo}}
          <Auk::Label>{{t "show-in-newsletter"}}</Auk::Label>
          {{web-components/vl-toggle
            data-test-agendaitem-titles-edit-showInNewsletter=true
            value=this.newsletterInfo.inNewsletter
          }}
        {{else}}
          <Auk::Label>{{t "show-in-newsletter"}}</Auk::Label>
          {{t "no-newsletter-info"}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  <Auk::Toolbar>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <button type="button" class="auk-button auk-button--tertiary"
          {{action this.cancelEditing}}
        >
          <span class="auk-button__content">
            {{t "cancel"}}
          </span>
        </button>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        {{web-components/vl-save-button
          data-test-agendaitem-titles-edit-save=true
          text=(t "save")
          isLoading=this.isLoading
          saveAction=(action this.saveChanges)
        }}
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </Auk::Toolbar>
</div>