<div class="auk-u-mb-8">
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">
              {{#if (not @agendaitem.showAsRemark)}}
                {{t "note"}}
              {{else}}
                {{t "text"}}
              {{/if}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          {{#if @subcase.case.id}}
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton
                data-test-agendaitem-titles-to-subcase
                {{on "click" this.redirectToSubcase}}
                      @skin="tertiary"
                      @layout="icon-right"
                      @icon="chevron-right"
              >
                {{t "to-subcase"}}
              </WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
          {{/if}}
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton
              data-test-agendaitem-titles-edit
              {{on "click" this.toggleIsEditingAction}}
                    @skin="tertiary"
                    @icon="edit"
                    @layout="icon-only"
            />
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <div class="auk-content">
        <h4>
          {{@agendaitem.shortTitle}}
        </h4>
        {{#if @agendaitem.title}}
          <div class="auk-u-mb-2">
            <pre class="auk-u-flex--inline auk-u-text-pre-line">
              {{@agendaitem.title}}
            </pre>
          </div>
        {{/if}}
        <WebComponents::AuPillList>
          {{#if (not @agendaitem.showAsRemark) }}
            {{#if @subcase.subcaseName}}
              <WebComponents::AuPill>
                {{@subcase.subcaseName}}
              </WebComponents::AuPill>
            {{/if}}
            {{#if @agendaitem.retracted}}
              <WebComponents::AuPill>
                {{t "postponed-item"}}
              </WebComponents::AuPill>
            {{/if}}
          {{else}}
            {{#if @newsletterInfo}}
              {{#if @newsletterInfo.inNewsletter}}
                <WebComponents::AuPill @skin="success" @icon="visible">
                  {{t "visible-in-newsletter"}}
                </WebComponents::AuPill>
              {{else}}
                <WebComponents::AuPill @skin="danger" @icon="hide">
                  {{t "hidden-in-newsletter"}}
                </WebComponents::AuPill>
              {{/if}}
            {{else}}
              <WebComponents::AuPill>
                {{t "no-newsletter-info"}}
              </WebComponents::AuPill>
            {{/if}}
          {{/if}}
          {{#if
            (and @agendaitem.isDesignAgenda
                    (and this.currentSession.isEditor @agendaitem.formallyOkToShow))
          }}
            <WebComponents::AuPill
              @skin={{@agendaitem.formallyOkToShow.svg.color}}
              @icon={{@agendaitem.formallyOkToShow.svg.icon}}
            >
              {{@agendaitem.formallyOkToShow.label}}
            </WebComponents::AuPill>
          {{/if}}
        </WebComponents::AuPillList>
      </div>
    </WebComponents::AuPanel::Body>
    {{#if @agendaitem.explanation }}
      <WebComponents::AuModal::Footer @custom={{true}}>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left"n>
            <WebComponents::AuToolbar::Item>
              <pre class="auk-u-flex--inline auk-u-text-pre-line auk-u-italic">
               {{t "remark-title"}}: {{@agendaitem.explanation}}
              </pre>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuModal::Footer>
    {{/if}}
  </WebComponents::AuPanel>
</div>