{{#if (gt (await agendaitem.mandatees.length) 1)}}
  <div class="auk-u-mb-2">
    <div class="auk-u-flex auk-u-flex--align-baseline">
      <h4 class="auk-h3">
        {{t "actions"}}
      </h4>
      {{#if currentSession.isEditor}}
        <div class="auk-u-ml-2">
          <a href="" class="auk-button-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <h5 class="auk-h4">
      {{t "mandatee-approval"}}
    </h5>
  </div>
  <div class="auk-u-mb-4">
    <table class="auk-table">
      <thead>
        <tr>
          <th>
            {{t "name"}}
          </th>
          <th>
            {{t "function-mandatee"}}
          </th>
          <th>
            {{t "approval-mandatee"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (await mandateeApprovals) as |mandateeApproval|}}
          <tr>
            <td>
              <h6 class="auk-h4">
                {{await mandateeApproval.mandatee.person.nameToDisplay}}
              </h6>
            </td>
            <td>
              {{await mandateeApproval.mandatee.title}}
            </td>
            <td>
              {{#if (not isEditing)}}
                {{#if (await mandateeApproval.approval)}}
                  <WebComponents::AuIcon @name="check" @iconSkinColor="success" />
                  <span class="auk-u-text-success">
                    {{t "approval-mandatee"}}
                  </span>
                {{else}}
                  <WebComponents::AuIcon @name="remove" @iconSkinColor="muted" />
                  <span class="auk-u-muted">
                    {{t "not-yet-approval-mandatee"}}
                  </span>
                {{/if}}
              {{else}}
                <div class="auk-form-group">
                  {{web-components/vl-checkbox
                    value=(not (is-empty mandateeApproval.approval))
                    label=(t "approval-mandatee")
                    toggle=(action "toggleApproved" mandateeApproval.mandatee mandateeApproval.approval)
                  }}
                </div>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if isEditing}}
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position="right">
        <WebComponents::AuToolbar::Item>
          <button type="button" class="auk-button auk-button--tertiary"
            {{action "cancelEditing"}}
          >
            {{t "cancel"}}
          </button>
        </WebComponents::AuToolbar::Item>
        <WebComponents::AuToolbar::Item>
          {{web-components/vl-save-button
            text=(t "save")
            isLoading=isLoading
            saveAction=(action "saveChanges" agendaitem.approvals)
          }}
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  {{/if}}
{{/if}}
