<div class="auk-u-mb-2">
  <div class="auk-o-flex auk-o-flex--align-baseline">
    <h4 class="auk-h3 auk-u-m-0">
      {{t "subcases"}}
    </h4>
  </div>
</div>
{{#if (is-pending @subcases)}}
  {{web-components/vl-loader text=(t "all-subcases-loading-text")}}
{{else if @subcases.length}}
  {{#each @subcases as |subcase|}}
    <Subcases::SubcaseItem @subcase={{await subcase}} as |subcase|>
      <div class="auk-hr">
        <hr/>
      </div>
      <div class="auk-u-mb-4">
        <p>
          {{subcase.title}}
        </p>
      </div>
    </Subcases::SubcaseItem>
  {{/each}}
{{else}}
  <div class="auk-u-mt-2">
    {{web-components/vl-alert message=(t "no-subcases-yet")}}
  </div>
{{/if}}