{{#if (and subcase authentication.isEditor)}}
  <div class="confidentialities">
    <div class="confidential">
      {{web-components/vl-checkbox
        value=item.confidential
        label=(t "confidential")
        toggle=(action "toggleConfidential")
      }}
    </div>
  </div>
{{/if}}
{{#if (not isEditing)}}
  {{agenda/agendaitem/agendaitem-case/subcase-titles
    item=item
    shouldShowDetails=(or isRemark (and isAgendaItem (await item.subcase)) isSubcase)
    toggleIsEditing=(action "toggleIsEditing")
  }}
{{else}}
  {{agenda/agendaitem/agendaitem-case/subcase-titles-edit
    item=item
    isEditing=isEditing
  }}
{{/if}}
{{#if item.showAsRemark}}
  {{agenda/agendaitem/agendaitem-case/subcase-mandatees item=item}}
  {{agenda/agendaitem/agendaitem-case/all-subcases subcases=(await subcases)}}
{{else if
  (or
    (and isAgendaItem (await item.subcase))
    isSubcase
  )
}}
  {{agenda/agendaitem/agendaitem-case/subcase-mandatees item=item}}
  {{agenda/agendaitem/agendaitem-case/subcase-ise-codes item=item}}
  {{#if isAgendaItem}}
    {{agenda/agendaitem/agendaitem-case/agendaitem-approvals item=item}}
  {{/if}}
  {{agenda/agendaitem/agendaitem-case/all-subcases subcases=(await subcases)}}
{{/if}}
