<div>
  Concluded: {{ await agendaitem.subcase.concluded }}
</div>
<div>
  Retracted: {{ agendaitem.retracted }}
</div>
<div>
  Retracted: {{ await agendaitem.decision.approved }}
</div>

{{#if agendaitem}}
  {{#if (not isEditing)}}
    {{agenda/agendaitem/agendaitem-case/subcase-titles
      agendaitem=agendaitem
      toggleIsEditing=(action "toggleIsEditing")
    }}
  {{else}}
    {{agenda/agendaitem/agendaitem-case/subcase-titles-edit
      agendaitem=agendaitem
      toggleIsEditing=(action "toggleIsEditing")
    }}
  {{/if}}
  {{agenda/agendaitem/agendaitem-case/subcase-themes
    subcase=(await agendaitem.subcase)
  }}
  {{agenda/agendaitem/agendaitem-case/subcase-phases
    subcase=(await agendaitem.subcase)
  }}
  {{agenda/agendaitem/agendaitem-case/subcase-mandatees
    subcase=(await agendaitem.subcase)
  }}
  {{agenda/agendaitem/agendaitem-case/subcase-actions
    subcase=(await agendaitem.subcase)
    agendaitem=agendaitem
  }}
  {{agenda/agendaitem/agendaitem-case/subcase-documents
    agendaitem=agendaitem
    subcase=(await agendaitem.subcase)
  }}
{{else}}
  {{#if (not isEditing)}}
    {{agenda/agendaitem/agendaitem-case/subcase-titles
      subcase=subcase
      toggleIsEditing=(action "toggleIsEditing")
    }}
  {{else}}
    {{agenda/agendaitem/agendaitem-case/subcase-titles-edit
      subcase=subcase
      toggleIsEditing=(action "toggleIsEditing")
    }}
  {{/if}}
  {{agenda/agendaitem/agendaitem-case/subcase-themes subcase=subcase}}
  {{agenda/agendaitem/agendaitem-case/subcase-phases subcase=subcase}}
  {{agenda/agendaitem/agendaitem-case/subcase-mandatees subcase=subcase}}
  {{agenda/agendaitem/agendaitem-case/subcase-actions subcase=subcase}}
  {{agenda/agendaitem/agendaitem-case/subcase-documents subcase=subcase}}
{{/if}}