{{#if (and subcase authentication.isAdmin)}}
  <div class="confidentialities">
    <div class="confidential">
      {{web-components/vl-checkbox
        value=item.confidential
        label=(t "confidential")
        toggle=(action "toggleConfidential")
      }}
    </div>
  </div>
{{/if}}
{{#if (not isEditing)}}
  {{agenda/agendaitem/agendaitem-case/subcase-titles
    item=item
    shouldShowDetails=(await shouldShowDetails)
    toggleIsEditing=(action "toggleIsEditing")
  }}
{{else}}
  {{agenda/agendaitem/agendaitem-case/subcase-titles-edit
    item=item
    isEditing=isEditing
  }}
{{/if}}
{{#if (await shouldShowDetails)}}
  {{#if (not (await item.isOC))}}
    {{agenda/agendaitem/agendaitem-case/subcase-themes item=item}}
    {{#if (await item.subcase)}}
      {{agenda/agendaitem/agendaitem-case/subcase-mandatees item=item.subcase}}
      {{agenda/agendaitem/agendaitem-case/subcase-ise-codes item=item.subcase}}
    {{else}}
      {{agenda/agendaitem/agendaitem-case/subcase-mandatees item=item}}
      {{agenda/agendaitem/agendaitem-case/subcase-ise-codes item=item}}
    {{/if}}
    {{agenda/agendaitem/agendaitem-case/subcase-actions item=item}}
  {{/if}}
  {{agenda/agendaitem/agendaitem-case/all-subcases subcases=subcases}}
{{/if}}
{{log item}}
{{agenda/agendaitem/agendaitem-case/subcase-documents item=item modelToAddDocumentVersionTo=modelToAddDocumentVersionTo}}