<div>
  Concluded:
  {{await item.subcase.concluded}}
</div>
<div>
  Retracted:
  {{item.retracted}}
</div>
<div>
  Retracted:
  {{await item.decision.approved}}
</div>
{{#if (not isEditing)}}
  {{agenda/agendaitem/agendaitem-case/subcase-titles
    item=item
    toggleIsEditing=(action "toggleIsEditing")
  }}
{{else}}
  {{agenda/agendaitem/agendaitem-case/subcase-titles-edit
    item=item
    isEditing=isEditing
  }}
{{/if}}
{{agenda/agendaitem/agendaitem-case/subcase-themes item=item}}
{{agenda/agendaitem/agendaitem-case/subcase-phases item=item}}
{{agenda/agendaitem/agendaitem-case/subcase-mandatees item=item}}
{{agenda/agendaitem/agendaitem-case/subcase-actions item=item}}
{{agenda/agendaitem/agendaitem-case/subcase-documents item=item}}