<div class="auk-o-flex auk-o-flex--vertical-center">
  {{#if this.isLoading}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{else}}
    {{#if (not this.isEditing)}}
      {{#if (not @confidential)}}
      <Auk::Pill
        @skin="active-future"
        @icon="users"
        data-test-access-level-pill
      >
        {{this.accessLevelLabel}}
      </Auk::Pill>
      {{else}}
      <Auk::Pill
        @skin="warning-future"
        @icon="users"
        data-test-access-level-pill
      >
        {{t "confidential"}}
      </Auk::Pill>
      {{/if}}
      <Auk::Pill
        @skin="action"
        @icon="pencil"
        @layout="icon-only"
        class="auk-u-cursor-pointer"
        data-test-access-level-pill
        {{on "click" this.toggleEdit}}
      >
        {{this.accessLevelLabel}}
      </Auk::Pill>
    {{else}}
      {{!-- TODO: fix inline style (consider implementing new auk-generation document card) --}}
      {{!-- template-lint-disable no-inline-styles  --}}
      <div style="width:100%">
        <Utils::ModelSelector
          @modelName="access-level"
          @allowClear={{true}}
          @hideSearch={{true}}
          @propertyToShow="label"
          @sortField="priority"
          @selectedItems={{@accessLevel}}
          @selectModel={{this.changeAccessLevel}}
          class="auk-model-selector" />
      </div>
      <Auk::Button
        @skin={{if @confidential "danger-borderless" "muted-borderless"}}
        @layout="icon-only"
        @icon={{if @confidential "lock-closed" "lock-open"}}
        @disabled={{not this.session.isEditor}}
        {{on "click" (perform this.changeConfidentiality)}}
      >
      <:floater>
      {{#if @confidential}}
        <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
          <p>
            {{t "document-is-confidential"}}
          </p>
        </EmberTooltip>
      {{/if}}
      </:floater>
      </Auk::Button>
      {{!-- template-lint-enable no-inline-styles  --}}
      <Auk::Button
        @skin="tertiary"
        @layout="icon-only"
        @icon="check"
        class="auk-u-p-0"
        {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
        data-test-access-level-pill-save
      >
        {{t "more-options"}}
      </Auk::Button>
      <Auk::Button
        @skin="tertiary"
        @layout="icon-only"
        @icon="x"
        class="auk-u-p-0 auk-u-ml-2"
        {{on "click" (perform this.cancelChangeAccessLevel)}}
        data-test-access-level-pill-cancel
      />
    {{/if}}
  {{/if}}
</div>