<div class="auk-o-flex auk-o-flex--vertical-center">
  {{#if this.isLoading}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{else}}
    {{#if (not this.isEditing)}}
      {{#if (not @confidential)}}
        {{#if (eq this.accessLevelLabel "Intern secretarie")}}
        <Auk::Pill
          @skin="active"
          @icon="intern-secretarie"
          data-test-access-level-pill
        >
          Intern Secretarie
        </Auk::Pill>
        {{else if (and (and (eq this.accessLevelLabel "Intern Regering")(eq @isDesignAgenda false)) (eq @isNew false))}}
        <Auk::Pill
          @skin="active"
          @icon="intern-regering"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (and (eq this.accessLevelLabel "Intern Regering")(eq @isVersion true))}}
        <Auk::Pill
          @skin="active"
          @icon="intern-regering"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (and (and (eq this.accessLevelLabel "Intern Overheid")(eq @isFinal true)) (eq @isNew false))}}
        <Auk::Pill
          @skin="active"
          @icon="intern-overheid"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (and (and (eq this.accessLevelLabel "Publiek")(eq @isFinal true)) (eq @isNew false))}}
        <Auk::Pill
          @skin="active"
          @icon="public"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (eq this.accessLevelLabel "Ministerraad")}}
        <Auk::Pill
          @skin="active-future"
          @icon="ministerraad"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (eq this.accessLevelLabel "Intern Overheid")}}
        <Auk::Pill
          @skin="active-future"
          @icon="intern-overheid"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (eq this.accessLevelLabel "Intern Regering")}}
        <Auk::Pill
          @skin="active-future"
          @icon="intern-regering"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{else if (eq this.accessLevelLabel "Publiek")}}
        <Auk::Pill
          @skin="active-future"
          @icon="public"
          data-test-access-level-pill
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
        {{/if}}
      {{else}}
      <Auk::Pill
        @skin="active"
        @icon="intern-secretarie"
        data-test-access-level-pill
      >
        Intern Secretarie
      </Auk::Pill>
      {{/if}}
      {{#if (eq @isFinal false)}}
      <Auk::Button
        @skin="tertiary"
        @layout="icon-only"
        @icon="pencil"
        class="auk-button--tiny"
        {{on "click" this.toggleEdit}}
        data-test-access-level-pill-cancel
      />
      {{/if}}
    {{else}}
      {{!-- TODO: fix inline style (consider implementing new auk-generation document card) --}}
      {{!-- template-lint-disable no-inline-styles  --}}
      <div style="width:100%">
        <Utils::ModelSelector
          @modelName="access-level"
          @allowClear={{false}}
          @hideSearch={{true}}
          @propertyToShow="label"
          @sortField="priority"
          @selectedItems={{@accessLevel}}
          @selectModel={{this.changeAccessLevel}}
          class="auk-model-selector" />
      </div>
      {{!-- <Auk::Button
        @skin={{if @confidential "danger-borderless" "muted-borderless"}}
        @layout="icon-only"
        @icon={{if @confidential "lock-closed" "lock-open"}}
        @disabled={{not this.session.isEditor}}
        {{on "click" (perform this.changeConfidentiality)}}
      >
      <:floater>
      {{#if @confidential}}
        <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
          <p>
            {{t "document-is-confidential"}}
          </p>
        </EmberTooltip>
      {{/if}}
      </:floater>
      </Auk::Button> --}}
      {{!-- template-lint-enable no-inline-styles  --}}
      <Auk::Button
        @skin="tertiary"
        @layout="icon-only"
        @icon="check"
        class="auk-button--tiny"
        {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
        data-test-access-level-pill-save
      >
        {{t "more-options"}}
      </Auk::Button>
      <Auk::Button
        @skin="tertiary"
        @layout="icon-only"
        @icon="x"
        class="auk-button--tiny"
        {{on "click" (perform this.cancelChangeAccessLevel)}}
        data-test-access-level-pill-cancel
      />
    {{/if}}
  {{/if}}
</div>