<div class="auk-o-flex auk-o-flex--vertical-center">
  {{#if this.isLoading}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{else}}
    {{#if (not @confidential)}}
      {{#if (not this.isEditing)}}
        <Auk::Pill
          @skin={{this.pillSkin}}
          class="auk-u-cursor-pointer"
          data-test-access-level-pill
          {{on "click" this.toggleEdit}}
        >
          {{this.accessLevelLabel}}
        </Auk::Pill>
      {{else}}
        <div class="auk-u-width-3/4">
          <Utils::ModelSelector
            data-test-access-level-pill-selector
            @modelName="access-level"
            @allowClear={{true}}
            @propertyToShow="label"
            @sortField="priority"
            @selected={{@accessLevel}}
            @onChange={{this.changeAccessLevel}} />
        </div>
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="check"
          {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
          data-test-access-level-pill-save
        >
          {{t "more-options"}}
        </Auk::Button>
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="x"
          {{on "click" (perform this.cancelChangeAccessLevel)}}
          data-test-access-level-pill-cancel
        />
      {{/if}}
    {{/if}}
    <Auk::Button
      @skin={{if @confidential "danger-borderless" "muted-borderless"}}
      @layout="icon-only"
      @icon={{if @confidential "lock-closed" "lock-open"}}
      @disabled={{not this.session.isEditor}}
      {{on "click" (perform this.changeConfidentiality)}}
    >
      <:floater>
        {{#if @confidential}}
          <EmberTooltip @side="top" @tooltipClass="auk-tooltip">
            <p>
              {{t "document-is-confidential"}}
            </p>
          </EmberTooltip>
        {{/if}}
      </:floater>
    </Auk::Button>
  {{/if}}
</div>