<div class="auk-u-flex auk-u-flex--vertical-center">
  {{#if this.isLoading}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{else}}
    {{#if (not @confidential)}}
      {{#if (not this.isEditing)}}
        <div
          class="pill-wrap"
          data-test-access-level-pill
          {{on "click" this.toggleEdit}}
        >
          <span class={{this.pillClass}}>
            {{this.accessLevelLabel}}
          </span>
        </div>
      {{else}}
        <div class="" style="width:75%">
          <Utils::ModelSelector
            data-test-model-selector
            @modelName="access-level"
            @allowClear={{true}}
            @hideSearch={{true}}
            @propertyToShow="label"
            @sortField="priority"
            @selectedItems={{@accessLevel}}
            @selectModel={{this.changeAccessLevel}} />
        </div>
        <button
          type="button"
          class="auk-button auk-button--borderless auk-button--icon"
          data-test-access-level-save
          {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-check"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "more-options"}}
          </div>
        </button>
        <button
          type="button"
          class="auk-button auk-button--borderless auk-button--icon"
          {{on "click" (perform this.cancelChangeAccessLevel)}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-cross"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "more-options"}}
          </div>
        </button>
      {{/if}}
    {{/if}}
    <button
      type="button"
      class="auk-button auk-button--muted-borderless auk-button--icon vlc-toolbar__item"
      disabled={{not this.session.isEditor}}
      {{on "click" (perform this.changeConfidentiality)}}
    >
      {{#if @confidential}}
        <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
          <p>
            {{t "document-is-confidential"}}
          </p>
        </EmberTooltip>
        <WebComponents::AuIcon @name="lock-closed" @iconSkinColor="danger" />
      {{else}}
        <WebComponents::AuIcon @name="lock-open" />
      {{/if}}
    </button>
  {{/if}}
</div>