<div class="auk-o-flex auk-o-flex--vertical-center">
  {{#if this.isLoading}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{else}}
    {{#if (not @confidential)}}
      {{#if (not this.isEditing)}}
        <span
          class={{this.pillClass}}
          data-test-access-level-pill
          {{on "click" this.toggleEdit}}
        >
          {{this.accessLevelLabel}}
        </span>
      {{else}}
        <div style="width:75%">
          <Utils::ModelSelector
            @modelName="access-level"
            @allowClear={{true}}
            @hideSearch={{true}}
            @propertyToShow="label"
            @sortField="priority"
            @selectedItems={{@accessLevel}}
            @selectModel={{this.changeAccessLevel}} />
        </div>
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="check"
          {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
          data-test-access-level-pill-save
        >
          {{t "more-options"}}
        </Auk::Button>
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="cross"
          {{on "click" (perform this.cancelChangeAccessLevel)}}
          data-test-access-level-pill-cancel
        >
        </Auk::Button>
      {{/if}}
    {{/if}}
    <div class="auk-toolbar-complex__item">
      <div class="auk-u-position-relative auk-u-inline-block">
        <Auk::Button
          @skin={{if @confidential "danger-borderless" "muted-borderless"}}
          @layout="icon-only"
          @icon={{if @confidential "lock-closed" "lock-open"}}
          @disabled={{not this.session.isEditor}}
          {{on "click" (perform this.changeConfidentiality)}}
        >
        </Auk::Button>
        {{#if @confidential}}
          <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
            <p>
              {{t "document-is-confidential"}}
            </p>
          </EmberTooltip>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>