{{#if this.isLoading}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else}}
  {{#if (not this.isEditing)}}
    {{#if (not this.canEdit)}}
      <AuPill
        @skin={{this.pillSkin}}
        @icon={{this.pillIcon}}
        data-test-access-level-pill
      >
        {{this.accessLevelLabel}}
      </AuPill>
    {{else}}
      <AuPill
        @skin={{this.pillSkin}}
        @icon={{this.pillIcon}}
        @onClickAction={{this.openEditMode}}
        @actionIcon="pencil"
        data-test-access-level-pill
      >
        {{this.accessLevelLabel}}
      </AuPill>
    {{/if}}
  {{else}}
    <div class="auk-u-maximize-width">
      <Utils::AccessLevelSelector
        @allowClear={{true}}
        @displayField="label"
        @sortField="position"
        @selected={{@accessLevel}}
        @onChange={{this.changeAccessLevel}}
        data-test-access-level-pill-selector
      />
    </div>
    <Auk::Button
      @skin="tertiary"
      @layout="icon-only"
      @icon="check"
      @size="small"
      {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
      class="auk-u-ml"
      data-test-access-level-pill-save
    />
    <Auk::Button
      @skin="tertiary"
      @layout="icon-only"
      @icon="x"
      @size="small"
      {{on "click" (perform this.cancelChangeAccessLevel)}}
      class="auk-u-ml"
      data-test-access-level-pill-cancel
    />
  {{/if}}
{{/if}}