{{#if this.isLoading}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else}}
  {{#if (not this.isEditing)}}
    {{#if (not this.canEdit)}}
      <AuPill
        @size={{@size}}
        @skin={{this.pillSkin}}
        @icon={{this.pillIcon}}
        @draft={{@isDraft}}
        data-test-access-level-pill
      >
        {{this.accessLevelLabel}}
      </AuPill>
    {{else}}
      <AuPill
        @size={{@size}}
        @skin={{this.pillSkin}}
        @icon={{this.pillIcon}}
        @draft={{@isDraft}}
        @onClickAction={{this.openEditMode}}
        @actionIcon="pencil"
        data-test-access-level-pill
      >
        {{this.accessLevelLabel}}
      </AuPill>
    {{/if}}
  {{else}}
    <div class="auk-o-flex auk-o-flex--vertical-center">
      <div class="auk-u-maximize-width">
        <Utils::AccessLevelSelector
          @allowClear={{true}}
          @displayField="label"
          @sortField="position"
          @selected={{@accessLevel}}
          @onChange={{this.changeAccessLevel}}
          data-test-access-level-pill-selector
        />
      </div>
      <AuButton
        data-test-access-level-pill-save
        @skin="naked"
        @icon="check"
        @hideText={{true}}
        {{on "click" (perform this.confirmChangeAccessLevel @accessLevel)}}
        class="auk-o-flex__item--fix auk-u-ml"
      >
        {{t "save"}}
      </AuButton>
      <AuButton
        data-test-access-level-pill-cancel
        @skin="naked"
        @icon="x"
        @hideText={{true}}
        {{on "click" (perform this.cancelChangeAccessLevel)}}
        class="auk-o-flex__item--fix"
      >
        {{t "cancel"}}
      </AuButton>
    </div>
  {{/if}}
{{/if}}