<div class="auk-u-mb-4">
  <div class="auk-form-group">
    <Auk::Label>{{t "title"}}</Auk::Label>
    {{web-components/vl-form-input value=agendaitem.titlePress}}
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "content"}}</Auk::Label>
    {{textarea
      class="auk-textarea"
      rows="10"
      value=agendaitem.textPress
    }}
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "for-press"}}</Auk::Label>
    {{web-components/vl-toggle value=agendaitem.forPress}}
  </div>
</div>
<Auk::Toolbar>
  <Auk::Toolbar::Group @position="right">
    <Auk::Toolbar::Item>
      <a href="" class="auk-button-link" {{action "cancelEditing" agendaitem}}>
        <span class="auk-button__content">
          {{t "cancel"}}
        </span>
      </a>
    </Auk::Toolbar::Item>
    <Auk::Toolbar::Item>
      {{web-components/vl-save-button
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "saveChanges" agendaitem)
      }}
    </Auk::Toolbar::Item>
  </Auk::Toolbar::Group>
</Auk::Toolbar>
