<div {{did-insert this.insertElementInDom}} class="vl-upload__element">
  {{#file-upload
    name="files"
    for="upload-photo"
    class="vl-upload__element__label"
    multiple=multipleFiles
    onfileadd=(action "uploadFile")
  }}
    <em>
      <i class="ki-paperclip" aria-hidden="true"></i>
      <span>
        {{#if this.multipleFiles}}
          {{t "add-attachments"}}
        {{else}}
          {{t "add-attachment"}}
        {{/if}}
      </span>
    </em>
    {{#file-dropzone
      name="files"
      class="vl-upload__element__button__container"
      tagName="a"
    as |dropzone queue|
    }}
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          <p>
            {{t "drop-text"}}
          </p>
        {{else}}
          <p>
            {{t "invalid-type"}}
          </p>
        {{/if}}
      {{else if queue.files.length}}
        <div class="progress-container">
          {{uploadedFileLength}}
          {{t "files-of"}}
          {{fileQueue.files.length}}
          {{t "uploading"}}
        </div>
      {{else if dropzone.supported}}
        {{#if this.multipleFiles}}
          {{t "dropzone-text-multiple"}}
        {{else}}
          {{t "dropzone-text"}}
        {{/if}}
      {{/if}}
    {{/file-dropzone}}
  {{/file-upload}}
</div>


{{#if this.blockInterface}}
  <WebComponents::LoadingOverlay
    @title={{t "upload-files" numFiles=(if @multipleFiles "multiple" "one")}}
    @message={{t "upload-files" numFiles=(if @multipleFiles "multiple" "one")}}
  />
{{/if}}