<li class="vlc-document-list__item
{{if
  (await this.checkAdded)
  "vlc-document-list__item vlc-document-list__item--active"
}}">
  {{#if (is-pending @piece)}}
    <div class="skeletal-loader" role="alert" aria-busy="true"></div>
  {{else if isClickable}}
    <a href="" {{action "showPieceViewer" @piece}}>
      <Auk::Icon @name=
        {{if
          (and (not (await this.checkAdded)) (not @piece.confidential))
          "document"
        }}
        {{if (await this.checkAdded) "document-added"}}
        {{if (await @piece.confidential) "lock-closed"}}
      />
      {{await @piece.name}}
    </a>
  {{else}}
    <span>
      <Auk::Icon @name={{if (await this.checkAdded) "document-added" "document"}} />
      {{await @piece.name}}
    </span>
  {{/if}}
</li>
{{yield}}
