<li class="vlc-document-list__item
{{if
  (await this.checkAdded)
  "vlc-document-list__item vlc-document-list__item--active"
}}">
  {{#if (is-pending @piece)}}
    <div class="skeletal-loader" role="alert" aria-busy="true"></div>
  {{else if isClickable}}
    <a href="" {{action "showPieceViewer" @piece}}>
      <div class="auk-icon auk-icon--default">
        <i class="ki
          {{if
            (and (not (await this.checkAdded)) (not @piece.confidential))
            "ki-document"
          }}
          {{if (await this.checkAdded) "ki-document-added"}}
          {{if (await @piece.confidential) "ki-lock-closed"}}"
        >
        </i>
      </div>
      {{await @piece.name}}
    </a>
  {{else}}
    <span>
      <div class="auk-icon auk-icon--default">
        <i class="ki {{if (await this.checkAdded) "ki-document-added" "ki-document"}}"></i>
      </div>
      {{await @piece.name}}
    </span>
  {{/if}}
</li>
{{yield}}
