{{#let (component "k-data-table/table"
   clickable=@clickable
   hoverable=@hoverable
   striped=@striped
   stickyHeader=@stickyHeader
   stickyActionColumn=@stickyActionColumn
   list=@list
   loading=@loading
   content=@content
   shouldDisableRow=@shouldDisableRow
   onClickRow=@onClickRow) as |Table|}}
  {{#let (and @asideVisible (has-block "aside"))
     as |showAside|}}
    {{#if @scrollable}}
      <div
        class="auk-scroll-wrapper
        {{if showAside "auk-scroll-wrapper--sidebar"}}"
      >
        <div class="auk-scroll-wrapper__body">
          <Table ...attributes>
            <:header>{{yield to="header"}}</:header>
            <:loading>
              {{#if (has-block "loading")}}
                {{yield to="loading"}}
              {{else}}
                {{this.loadingMessage}}
              {{/if}}
            </:loading>
            <:body as |row|>
              {{yield row to="body"}}
            </:body>
            <:no-data>
              {{#if (has-block "no-data")}}
                {{yield to="no-data"}}
              {{else}}
                {{this.noDataMessage}}
              {{/if}}
            </:no-data>
          </Table>
        </div>
        {{#if showAside}}
          <div class="auk-scroll-wrapper__sidebar">
            {{yield to="aside"}}
          </div>
        {{/if}}
      </div>
    {{else}}
      <Table ...attributes>
        <:header>{{yield to="header"}}</:header>
        <:loading>
          {{#if (has-block "loading")}}
            {{yield to="loading"}}
          {{else}}
            {{this.loadingMessage}}
          {{/if}}
        </:loading>
        <:body as |row|>
          {{yield row to="body"}}
        </:body>
        <:no-data>
          {{#if (has-block "no-data")}}
            {{yield to="no-data"}}
          {{else}}
            {{this.noDataMessage}}
          {{/if}}
        </:no-data>
      </Table>
      {{#if showAside}}
        {{yield to="aside"}}
      {{/if}}
    {{/if}}
  {{/let}}
{{/let}}
{{#if this.enablePagination}}
  <AuToolbar
    class="auk-table__actions--bottom"
    data-test-number-pagination-container
    as |Group|
  >
    <Group>
      <Auk::Pagination
        @page={{@page}}
        @size={{@size}}
        @nbOfItems={{@numberOfItems}}
        @total={{@totalNumberOfItems}}
        @onNextPage={{this.onNextPage}}
        @onPreviousPage={{this.onPreviousPage}}
      />
    </Group>
    <Group>
      <Auk::Toolbar::Item>
        {{t "amount-per-page"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{@size}}
          @onChange={{@onChangeSize}}
          data-test-number-pagination-size
        />
      </Auk::Toolbar::Item>
    </Group>
  </AuToolbar>
{{/if}}
