<Auk::Navbar @skin="white" @noPadding={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Brand @logotype="Kaleidos" />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Tabs>
          <Auk::Tab
            @route="search.index"
            @current-when="search"
            data-test-m-header-search
          >
            <Auk::Icon @name="search" />
            {{capitalize (t "search")}}
          </Auk::Tab>
          <Auk::Tab
            @route="agendas"
            @current-when="agendas agenda print-overviews.decisions print-overviews.press-agenda"
            data-test-m-header-agendas
          >
            {{t "agendas"}}
          </Auk::Tab>
          <Auk::Tab @route="cases" data-test-m-header-cases>
            {{t "cases"}}
          </Auk::Tab>
          {{#if (user-may "manage-newsletter-infos")}}
            <Auk::Tab
              @route="newsletters"
              @current-when="newsletters newsletter"
              data-test-m-header-newsletters
            >
              {{t "newsletter"}}
            </Auk::Tab>
          {{/if}}
          {{#if (user-may "manage-publication-flows")}}
            <Auk::Tab @route="publications" data-test-m-header-publications>
              {{t "publications"}}
            </Auk::Tab>
          {{/if}}
          {{#if this.isShownSignatureFolder}}
            <Auk::Tab @route="signatures" data-test-m-header-signatures>
              {{t "signature-folder"}}
            </Auk::Tab>
          {{/if}}
          {{#if (user-may "manage-settings")}}
            <Auk::Tab @route="settings.overview" data-test-m-header-settings>
              {{t "settings"}}
            </Auk::Tab>
          {{/if}}
        </Auk::Tabs>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right" class="auk-u-mr-3">
      {{#if this.environmentName}}
        <Auk::Toolbar::Item class="auk-u-mr-3">
          <div class="vlc-environment-pill {{this.environmentClass}}">
            {{this.environmentName}}
          </div>
        </Auk::Toolbar::Item>
      {{/if}}
      <Auk::Toolbar::Item>
        <AuDropdown
          @title={{t "help"}}
          @alignment="right"
          @icon="circle-question"
          @iconAlignment="left"
        >
          <AuLink
            @route="manual"
            role="menuitem"
            target="_blank"
          >
            {{t "look-at-documentation"}}
          </AuLink>
          <AuHr />
          <AuLink
            href="mailto:kaleidos.servicedesk@vlaanderen.be"
            target="_blank"
            role="menuitem"
          >
            <span class="auk-u-text-nowrap">{{t "contact-us"}}</span>
            <span class="auk-u-text-muted auk-u-text-size--small">
              {{t "email-servicedesk"}}
            </span>
          </AuLink>
        </AuDropdown>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        {{#if this.currentSession.user}}
          <AuDropdown
            @title={{this.currentSession.user.firstName}}
            @alignment="right"
            data-test-m-header-user-actions
          >
            <div role="menuitem">
              <Auk::Avatar
                @icon="user"
                @name={{this.currentSession.user.fullName}}
              >
                <p>{{this.currentSession.user.fullName}}</p>
                <p class="auk-u-text-muted auk-u-text-size--small">
                  {{this.currentSession.group.name}}
                </p>
              </Auk::Avatar>
            </div>
            <AuHr />
            <AuButton
              data-test-m-header-user-action-logout
              @skin="link"
              {{on "click" this.logout}}
              role="menuitem"
            >
              {{t "sign-out"}}
            </AuButton>
          </AuDropdown>
        {{else}}
          <Auk::ButtonLink
            @route="login"
            @skin="muted"
            @data-menu-samewidth="true"
          >
            {{t "login"}}
          </Auk::ButtonLink>
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
