<Auk::Navbar @skin="white" @noPadding={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Brand @logotype="Kaleidos" />
      </Auk::Toolbar::Item>
      {{#if this.session.isAuthenticated}}
        <Auk::Toolbar::Item>
          <Auk::Tabs>
            <Auk::Tab
              @route="search.index"
              @current-when="search"
              data-test-m-header-search
            >
              <Auk::Icon @name="search" />
              {{capitalize (t "search")}}
            </Auk::Tab>
            <Auk::Tab
              @route="agendas"
              @current-when="agendas agenda"
              data-test-m-header-agendas
            >
              {{t "agendas"}}
            </Auk::Tab>
            <Auk::Tab @route="cases" data-test-m-header-cases>
              {{t "cases"}}
            </Auk::Tab>
            {{#if (user-may "manage-news-items")}}
              <Auk::Tab
                @route="newsletters"
                @current-when="newsletters newsletter"
                data-test-m-header-newsletters
              >
                {{t "newsletter"}}
              </Auk::Tab>
            {{/if}}
            {{#if (user-may "manage-publication-flows")}}
              <Auk::Tab @route="publications" data-test-m-header-publications>
                {{t "publications"}}
              </Auk::Tab>
            {{/if}}
            {{#if this.isShownSignatureFolder}}
              <Auk::Tab @route="signatures" data-test-m-header-signatures>
                {{t "signatures"}}
              </Auk::Tab>
            {{/if}}
            {{#if (user-may "manage-settings")}}
              <Auk::Tab
                @route="settings"
                data-test-m-header-settings
              >
                {{t "settings"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right" class="auk-u-mr-3">
      {{#if this.currentSession.isImpersonator}}
        <Auk::Toolbar::Item class="auk-u-mr-3">
          <div class="vlc-environment-pill">
            {{t "you-see-the-app-as" name=this.impersonation.role.label}}
          </div>
        </Auk::Toolbar::Item>
      {{/if}}
      {{#if this.environmentName}}
        <Auk::Toolbar::Item class="auk-u-mr-3">
          <div class="vlc-environment-pill {{this.environmentClass}}">
            {{this.environmentName}}
          </div>
        </Auk::Toolbar::Item>
      {{/if}}
      <Auk::Toolbar::Item>
        <AuDropdown
          @title={{t "help"}}
          @alignment="right"
          @icon="circle-question"
          @iconAlignment="left"
        >
          <AuLinkExternal
            href="/handleiding"
            role="menuitem"
            target="_blank"
          >
            {{t "look-at-documentation"}}
          </AuLinkExternal>
          <AuHr />
          <AuLink
            href="mailto:kaleidos.servicedesk@vlaanderen.be"
            target="_blank"
            role="menuitem"
          >
            <span class="auk-u-text-nowrap">{{t "contact-us"}}</span>
            <span class="auk-u-text-muted auk-u-text-size--small">
              {{t "email-servicedesk"}}
            </span>
          </AuLink>
        </AuDropdown>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        {{#if this.currentSession.user}}
          <AuDropdown
            @title={{this.currentSession.user.firstName}}
            @alignment="right"
            data-test-m-header-user-actions
          >
            {{#if this.showRoles}}
              <AuButton
                @skin="link"
                @icon="chevron-left"
                role="menuitem"
                {{on "click" this.toggleShowRoles}}
              >
                {{t "back"}}
              </AuButton>
              <AuHr />
              {{#each this.roles as |role|}}
                <AuButton
                  @icon="user"
                  @skin="link"
                  role="menuitem"
                  {{on "click" (fn this.impersonate role)}}
                >
                  {{role.label}}
                </AuButton>
              {{/each}}
            {{else}}
              <div role="menuitem">
                <Auk::Avatar
                  @icon="user"
                  @name={{this.currentSession.user.fullName}}
                >
                  <p>{{this.currentSession.user.fullName}}</p>
                  <p class="auk-u-text-muted auk-u-text-size--small">
                    {{or this.currentSession.organization.name this.currentSession.organization.identifier}}
                  </p>
                  <p class="au-u-margin-top-tiny auk-u-text-muted auk-u-text-size--small">
                    {{this.currentSession.role.label}}
                  </p>
                </Auk::Avatar>
              </div>
              <AuHr />
              {{#if this.canImpersonate}}
                <AuButton
                  @skin="link"
                  @icon="chevron-right"
                  @iconAlignment="right"
                  {{on "click" this.toggleShowRoles}}
                  role="menuitem"
                >
                  {{t "change-role"}}
                </AuButton>
                {{#if this.currentSession.isImpersonator}}
                  <AuButton
                    @skin="link"
                    @alert={{true}}
                    {{on "click" this.stopImpersonation}}
                    role="menuitem"
                  >
                    {{t "revert-role"}}
                  </AuButton>
                {{/if}}
              {{/if}}
              <AuButton
                data-test-m-header-user-action-logout
                @skin="link"
                {{on "click" this.logout}}
                role="menuitem"
              >
                {{t "sign-out"}}
              </AuButton>
            {{/if}}
          </AuDropdown>
        {{else}}
          <AuLink
            @skin="secondary"
            @route="login"
            @data-menu-samewidth="true"
          >
            {{t "login"}}
          </AuLink>
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
