<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--no-pad auk-navbar--auto l-main-header"
     id="c-main-nav">
  <div class="auk-toolbar-complex auk-toolbar-complex--auto l-main-header__toolbar">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <ul class="auk-tabs">
          {{#if hasPublicationsEnabled}}
            <li class="auk-tabs__tab" data-test-m-header-publications>
              {{#link-to
                "publications"
              }}
                <span class="auk-tabs__tab-inner">{{t "publications"}}</span>
              {{/link-to}}
            </li>
          {{/if}}
          <li class="auk-tabs__tab" data-test-m-header-agendas>
            {{#link-to
              "agendas.overview"
              current-when="agendas agenda print-overviews.decisions print-overviews.press-agenda"
            }}
              <span class="auk-tabs__tab-inner">{{t "agendas"}}</span>
            {{/link-to}}
          </li>
          <li class="auk-tabs__tab" data-test-m-header-cases>
            {{#link-to "cases"}}
              <span class="auk-tabs__tab-inner">{{t "cases"}}</span>
            {{/link-to}}
          </li>
          {{#if currentSession.isViewer }}
            <li class="auk-tabs__tab" data-test-m-header-newsletters>
              {{#link-to
                "newsletters"
                current-when="newsletters newsletter print-overviews.newsletter"
              }}
                <span class="auk-tabs__tab-inner">{{t "newsletter"}}</span>
              {{/link-to}}
            </li>
          {{/if}}
          <li class="auk-tabs__tab" data-test-m-header-search>
            <LinkTo
              @route="search.index"
              @current-when="search"
            >
              {{!-- TODO: magnifying glass icon --}}
              <span class="auk-tabs__tab-inner">{{capitalize (t "search")}}</span>
            </LinkTo>
          </li>
          {{#if currentSession.isEditor}}
            <li class="auk-tabs__tab" data-test-m-header-settings>
              {{#link-to "settings.overview"}}
                <span class="auk-tabs__tab-inner">{{t "settings"}}</span>
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__right">
        {{#if showEnvironmentName}}
          <div class="vlc-environment-pill {{environmentClass}}">
            {{environmentName}}
            {{capitalize (t "environment")}}
          </div>
        {{/if}}
      </div>
      <div class="auk-toolbar-complex__item">
        <div class="auk-u-flex auk-u-flex--vertical-center auk-u-text-small auk-u-mx-2">
          {{#if currentSession.userContent}}
            <div class="auk-u-mr">
              {{currentSession.userContent.firstName}}
              {{currentSession.userContent.lastName}}
              ({{currentSession.userRole}})
            </div>
            <a href="" {{action "logout"}}>
              {{t "sign-out"}}
            </a>
          {{else}}
            {{#link-to "login"}}
              {{t "login"}}
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>