<WebComponents::AuNavbar @skin="white" @noPadding="true" id="c-main-nav">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <Auk::Brand @logotype="Kaleidos" />
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuTabs>
          {{#if this.hasPublicationsEnabled}}
            <WebComponents::AuTab @route="publications" data-test-m-header-publications>{{t "publications"}}</WebComponents::AuTab>
          {{/if}}
          <WebComponents::AuTab @route="agendas.overview"
                                @currentWhen="agendas agenda print-overviews.decisions print-overviews.press-agenda"
                                data-test-m-header-agendas>
            {{t "agendas"}}
          </WebComponents::AuTab>
          <WebComponents::AuTab @route="cases" data-test-m-header-cases>{{t "cases"}}</WebComponents::AuTab>
          {{#if this.currentSession.isViewer}}
            <WebComponents::AuTab @route="newsletters"
                                  @currentWhen="newsletters newsletter print-overviews.newsletter"
                                  data-test-m-header-newsletters>
              {{t "newsletter"}}
            </WebComponents::AuTab>
          {{/if}}
          <WebComponents::AuTab   @route="search.index"
                                  @currentWhen="search"
                                  data-test-m-header-search>
            <Auk::Icon @name="search" class="auk-icon--search" />
            {{capitalize (t "search")}}
          </WebComponents::AuTab>
          {{#if this.currentSession.isEditor}}
            <WebComponents::AuTab @route="settings.overview" data-test-m-header-settings>{{t "settings"}}</WebComponents::AuTab>
          {{/if}}
        </WebComponents::AuTabs>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      {{#if this.environmentName}}
        <WebComponents::AuToolbar::Item class="auk-u-mr-3" >
          <div class="vlc-environment-pill {{this.environmentClass}}">
            {{this.environmentName}}
          </div>
        </WebComponents::AuToolbar::Item>
      {{/if}}
      <WebComponents::AuToolbar::Item>
        <Auk::ButtonLink
          @skin="muted"
          @padded="padded"
          @icon="circle-question"
        >
          {{t "help"}}
        </Auk::ButtonLink>
        <AttachPopover
          @renderInPlace={{true}}
          @class="ember-attacher-popper"
          @hideOn="clickout click"
          @showOn="click"
          @animation="shift"
          @placement="bottom-end"
        >
          <WebComponents::AuDropdown>
            <WebComponents::AuDropdown::Item
              @route="manual"
              target="_blank">
              {{t "look-at-documentation"}}
            </WebComponents::AuDropdown::Item>
            <WebComponents::AuDropdown::Item @href="mailto:kaleidos.servicedesk@vlaanderen.be">
              <div>
                <span>{{t "contact-us"}}</span>
                <span class="auk-u-muted auk-u-text-small">{{t "email-servicedesk"}}</span>
              </div>
            </WebComponents::AuDropdown::Item>
          </WebComponents::AuDropdown>
        </AttachPopover>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item class="auk-u-mr-3" >
        {{#if this.currentSession.user}}
          <Auk::ButtonLink
            data-test-m-header-user-actions
            @skin="muted"
            @icon="chevron-down"
            @layout="icon-right"
          >
            {{this.currentSession.user.firstName}}
          </Auk::ButtonLink>
          <AttachPopover
                 @renderInPlace={{true}}
                 @class="ember-attacher-popper"
                 @hideOn="clickout click"
                 @showOn="click"
                 @animation="shift"
                 @placement="bottom-end"
               >
            <WebComponents::AuDropdown>
              <WebComponents::AuDropdown::Item @textOnly={{true}}>
                <Auk::Avatar @icon="user" @name={{this.currentSession.user.fullName}}>
                  <p>{{this.currentSession.user.fullName}}</p>
                  <p class="auk-u-muted auk-u-text-small">{{this.currentSession.group.name}}</p>
                </Auk::Avatar>
              </WebComponents::AuDropdown::Item>
              <WebComponents::AuDropdown::Divider/>
              <WebComponents::AuDropdown::Item {{on "click" this.logout}} data-test-m-header-user-action-logout>
                {{t "sign-out"}}
              </WebComponents::AuDropdown::Item>
            </WebComponents::AuDropdown>
          </AttachPopover>
        {{else}}
          <Auk::ButtonLink
            @route="login"
            @skin="muted"
            @data-menu-samewidth="true"
          >
            {{t "login"}}
          </Auk::ButtonLink>
        {{/if}}
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>