{{!-- REMARK: needs to be replaced with pagination component, but needs to be extended (with size options) first --}}

{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div data-test-number-pagination-container class="auk-pagination auk-pagination--small">
  <ul class="auk-pagination__list">
    <li class="auk-pagination__element">
      <p><strong>{{this.startItem}}-{{this.endItem}}</strong> {{#if this.total}} {{t "table-of"}} {{this.total}}{{/if}}</p>
    </li>
    {{#if this.hasMultiplePages}}
      <li class="auk-pagination__element">
        <AuButton
          @skin="link"
          @icon="chevron-left"
          @disabled={{this.isFirstPage}}
          {{action "changePage" this.links.prev}}
        >
          {{t "previous"}}
        </AuButton>
      </li>
      <li class="auk-pagination__element">
        <AuButton
          @skin="link"
          @icon="chevron-right"
          @iconAlignment="right"
          @disabled={{this.isLastPage}}
          {{action "changePage" this.links.next}}
        >
          {{t "next"}}
        </AuButton>
      </li>
    {{/if}}
  </ul>
  {{#if this.sizeOptions}}
    <ul class="auk-pagination__size-options">
      <li class="auk-pagination__element">
        <p class="auk-u-text-nowrap">{{t "amount-per-page"}}</p>
      </li>
      <li class="auk-pagination__element">
        <PowerSelect
          @options={{this.sizeOptions}}
          @selected={{this.size}}
          @onChange={{action "selectSize"}}
        as |sizeValue|>
          {{sizeValue}}
        </PowerSelect>
      </li>
    </ul>
  {{/if}}
</div>