<Auk::Label>{{t "filter-on-organization"}}</Auk::Label>
<div class="au-u-flex au-u-flex--spaced-tiny">
  <div class="au-u-1-1">
    <PowerSelect
      data-test-settings-organization-filter
      @placeholder={{t "id-or-organization"}}
      @search={{perform this.search}}
      @searchMessage={{t "id-or-organization"}}
      @searchEnabled={{true}}
      @noMatchesMessage={{t "no-results-found"}}
      @loadingMessage={{t "please-be-patient"}}
      @onChange={{this.toggleSelected}}
      class="au-u-1-1"
      as |organization|
    >
      {{organization.name}} - {{organization.identifier}}
    </PowerSelect>
  </div>
</div>
<p class="au-u-h-functional au-u-margin-top-tiny">
  <AuLinkExternal
    data-test-settings-organization-filter-OVO-list-link
    @icon="external"
    @iconAlignment="right"
    href="https://wegwijs.vlaanderen.be/#/organisations"
  >
    {{t "list-of-ovo-codes"}}
  </AuLinkExternal>
</p>
{{#if @selected}}
  <AuHr />
{{/if}}
<div class="au-u-flex au-u-flex--column">
  {{#each @selected as |organization|}}
    <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center">
      <div>
        <p class="au-u-muted">
          {{organization.identifier}}
        </p>
        <p>
          {{organization.name}}
        </p>
      </div>
      <div class="auk-o-flex__item--fix">
        <AuButton
          data-test-settings-organization-clear-filter
          @skin="naked"
          @icon="x"
          @hideText={{true}}
          {{on "click" (fn this.toggleSelected organization)}}
        >
          {{t "delete"}}
        </AuButton>
      </div>
    </div>
  {{/each}}
</div>