<div
  class="auk-rdfa-holder
    {{if this.isFullscreen 'auk-rdfa-fullscreen au-u-margin-top-none'}}"
>
  {{#if this.editorInstance}}
    <div
      class="auk-rdfa-holder__header au-u-flex au-u-flex--between au-u-flex--vertical-center"
    >
      <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
        {{#if this.isFullscreen}}
          <h4 class="auk-toolbar__title">
            {{if @title @title "Say Editor"}}
          </h4>
        {{/if}}
        {{yield to="header"}}
      </div>
      {{#if this.isFullscreen}}
        <AuButtonGroup>
          <AuButton
            @skin="naked"
            @icon="minimize"
            @iconAlignment="left"
            {{on "click" (fn (set this "isFullscreen" false))}}
          >
            {{t "close-fullscreen"}}
          </AuButton>
          {{#if (and @showSave @onSaveTask)}}
            <AuButton
              @skin="primary"
              @loading={{@onSaveTask.isRunning}}
              {{on "click" (perform @onSaveTask)}}
            >
              {{t "save"}}
            </AuButton>
          {{/if}}
        </AuButtonGroup>
      {{else}}
        {{#if @allowFullscreen}}
          <AuButton
            @skin="naked"
            @icon="expand"
            @iconAlignment="left"
            {{on "click" (fn (set this "isFullscreen" true))}}
          >
            {{t "fullscreen"}}
          </AuButton>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
  <WebComponents::VlRdfaEditor
    data-test-say-editor-rdfa
    @size={{@size}}
    @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
  />
</div>