{{#if this.loadData.isRunning}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else if this.isCancelled}}
  <AuPill @icon="sign" @skin="link">
    {{t "cancelled"}}
  </AuPill>
{{else if this.isSigned}}
  <AuPill @icon="sign" @skin="link">
    {{t "signed"}}
  </AuPill>
{{else if this.hasToBeSigned}}
  <AuPill @icon="sign" @skin="link">
    {{t "to-sign"}}
  </AuPill>
{{else if this.hasToBeApproved}}
  <AuPill @icon="sign" @skin="link">
    {{t "to-approve"}}
  </AuPill>
{{else if this.isPrepared}}
  <AuPill @icon="sign" @skin="link">
    {{t "sent"}}
  </AuPill>
{{else if this.isMarked}}
  <AuPill @icon="sign" @skin="link">
    {{t "to-sign"}}
  </AuPill>
{{/if}}
