{{#if this.data.isRunning}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else}}
  {{#if this.data.value.signingHubUrl}}
    <AuPill
      @icon="sign"
      @skin={{this.skin}}
      @href={{if this.isClickable this.data.value.signingHubUrl}}
      target="_blank"
    >
      {{this.data.value.status.label}}
    </AuPill>
  {{else}}
    <AuPill 
      @icon="sign" 
      @skin={{this.skin}}
      @route={{if (and this.isClickable this.data.value.route) this.data.value.route}}
      >
      {{this.data.value.status.label}}
    </AuPill>
  {{/if}}
{{/if}}