{{#if (or this.status.isLoading this.signingHubUrl.isLoading)}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else}}
  {{#if this.signingHubUrl.value}}
    <AuPill
      @icon="sign"
      @skin={{this.skin}}
      @href={{this.signingHubUrl.value}}
      target="_blank"
    >
      {{this.title}}
    </AuPill>
  {{else}}
    <AuPill
      @icon="sign"
      @skin={{this.skin}}
    >
      {{this.title}}
    </AuPill>
  {{/if}}
{{/if}}
