{{!-- template-lint-disable no-bare-strings --}}
<div class="br-styleguide-sample">
  <div class="auk-content">
    <h3>{{@title}}</h3>
    {{#if @description}}
      {{format-markdown @description}}
    {{/if}}
  </div>

  <div class="br-styleguide-sample__sample {{this.modifierClass}}">
    {{yield}}
  </div>

  {{#if (or @code @snippet)}}
    <Auk::ButtonLink @skin="muted" class="br-styleguide-sample-show-code-btn" {{on "click" this.toggleVisibility}}>Toggle code</Auk::ButtonLink>
  {{/if}}

  {{#unless this.visibility}}

    {{#if @code}}
      <CodeBlock
              class="br-styleguide-code-block"
              @code={{@code}}
              @language="markup"
      />
    {{/if}}

    {{#if @snippet}}

      {{#let (get-code-snippet @snippet) as |snippet|}}
        <CodeBlock
                class="br-styleguide-code-block"
                @code={{snippet.source}}
                @language="markup"
        />
      {{/let}}

    {{/if}}


  {{/unless}}
</div>


