<div class={{if @agendaitem.retracted "vlc-u-opacity-lighter"}}>
  <div class="vlc-agenda-items__body ">
    <h4 class="vlc-agenda-items__subject">
      <div class="vlc-agenda-items__cursor">
        <WebComponents::AuButton class="auk-u-p-0" @skin="borderless">
          <WebComponents::AuIcon @name="drag-handle-2" @grab={{true}}/>
        </WebComponents::AuButton>
      </div>
      <span class="vlc-agenda-items-sub-item__numbering">
        {{@agendaitem.priority}}.
      </span>
    </h4>
    <div class="vlc-agenda-items__text">
      <div class="auk-u-flex">
        <div class="left_side">
          <h4 class="vlc-agenda-items__subject">
            <LinkTo
              data-test-agenda-overview-sub-item
              @route="agenda.agendaitems.agendaitem"
              @model={{@agendaitem}}
            >
              <pre>
                {{#if @agendaitem.shortTitle}}
                  {{@agendaitem.shortTitle}}
                {{else}}
                  {{@agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
                {{/if}}
              </pre>
            </LinkTo>
          </h4>

          {{#if (not @agendaitem.isApproval)}}
            {{#if @agendaitem.shortTitle}} {{!-- Avoid rendering the same thing twice if no "shortTitle" exists --}}
              <pre class="vl-u-text vlc-agenda-items__body-padding">
                {{@agendaitem.title}}
              </pre>
            {{/if}}
          {{/if}}

        </div>

        {{!--  TODO: Commented out section triggers many requests that slow down agenda overview
        <div class="vlc-u-flex-float-right">
        {{#if currentSessionService.isOvrb}}

                   PUBLICATION FLOW CALL TO ACTION

          <div class="vlc-u-flex-float-right">

                     PUBLICATION FLOW CALL TO ACTION

            {{#if (not @isEditingOverview)}}
              <div class="auk-button-toolbar">
                {{#if (await @agendaitem.publicationFlow)}}
                  <LinkTo
                          class=""
                          @route="publications.publication"
                          @model={{ await @agendaitem.publicationFlowId }}
                  >
                    {{t "publications-to" }}
                  </LinkTo>
                {{else}}
                  {{#if (await @agendaitem.case)}}
                    <WebComponents::AuButton
                            @skin="tertiary"
                            @layout="icon-only"
                            @disabled={{this.startPublication.isRunning}}
                            data-test-start-publication
                      {{on "click" (perform this.startPublication)}}>
                      {{t "start-publication"}}
                    </WebComponents::AuButton>
                  {{/if}}
                {{/if}}
              </div>
            {{/if}}

                   END  PUBLICATION FLOW CALL TO ACTION

          </div>
        {{/if}}

                 END  PUBLICATION FLOW CALL TO ACTION

        </div>
        --}}
      </div>

      <div
        class="auk-u-flex auk-u-flex--justify-between"
        {{in-viewport
          onEnter=(perform this.lazyLoadSubcase)
          onExit=(fn this.cancelLazyLoad this.lazyLoadSubcase)
        }}
      >
        {{#if this.subcase.subcaseName}}
          <span class="vlc-agenda-meta__times-passed vl-pill vlc-pill__text vl-u-text--capitalize">
            {{this.subcase.subcaseName}}
          </span>
        {{else}}
          {{!--  TODO: Only here because required for alignment of flex items --}}
          <span class="vlc-agenda-meta__times-passed  vl-u-text--capitalize"></span>
        {{/if}}
        <div class="vlc-agenda-meta__status-holder">
          {{#if (and this.currentSessionService.isEditor @showFormallyOkStatus)}}
            {{#if @isEditingOverview}}
              <Utils::FormallyOkSelector
                @formallyOk={{@agendaitem.formallyOk}}
                @isLoading={{false}}
                @hideLabel={{true}}
                @setAction={{perform this.setFormallyOkStatus}}
              />
            {{else}}
              <p class="{{@agendaitem.formallyOkToShow.classNames}}">
                <i class="{{@agendaitem.formallyOkToShow.iconClassNames}}" aria-hidden="true"></i>
                {{@agendaitem.formallyOkToShow.label}}
              </p>
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if (or this.currentSessionService.isEditor this.documentsAreReleased)}}
        <div class="vl-accordion__panel">
          <div class="auk-u-mt-4"
            {{in-viewport
              onEnter=(perform this.lazyLoadNewDocuments)
              onExit=(fn this.cancelLazyLoad this.lazyLoadNewDocuments)
            }}
          >
            <Documents::DocumentBadgeList
              @pieces={{this.limitedAgendaitemDocuments}}
              @highlightedPieces={{this.newAgendaitemDocuments}}
            />
          </div>
        </div>
        {{#if this.enableShowMore}}
          <button class="vlc-document-show-more-button" type="button" {{on "click" this.toggleShowingAllDocuments}}>
            <i class="{{if this.isShowingAllDocuments "ki-remove" "ki-plus"}} vl-icon vlc-document-show-more-button__icon "/>
            <p  class="vlc-document-show-more-button__text">
              {{#if this.isShowingAllDocuments }}
                {{t "show-less"}}
              {{else}}
                {{t "show-more"}}
              {{/if}}
            </p>
          </button>
        {{/if}}
      {{/if}}
      {{#if (not @isEditingOverview)}}
        <div class="vlc-hr"></div>
        <div class="vlc-agenda-items__remarks">
          <div>
            {{#if @agendaitem.explanation}}
              <span class="auk-u-text-bold">
                {{t "remark-title"}}:
              </span> {{@agendaitem.explanation}}
            {{/if}}
          </div>
          <div
            class="vlc-agenda-items__icons"
            {{in-viewport
              onEnter=(perform this.lazyLoadSubcase)
              onExit=(fn this.cancelLazyLoad this.lazyLoadSubcase)
            }}
          >
            <div
              class="auk-u-flex vlc-agenda-items__icons"
              {{in-viewport
                onEnter=(perform this.lazyLoadNewsletterVisibility)
                onExit=(fn this.cancelLazyLoad this.lazyLoadNewsletterVisibility)
              }}
            >
              {{#if (not this.newsletterIsVisible)}}
                <i class="vl-button__icon ki-hide vlc-u-opacity-50 auk-u-ml-2 opacity-lighter">
                  <AttachTooltip
                    @arrow="true"
                    @animation="shift"
                    @placement="top"
                    @class="ember-attacher-tooltip"
                  >
                    <p>
                      {{t "not-visible-in-newsletter"}}
                    </p>
                  </AttachTooltip>
                </i>
              {{/if}}
              {{#if (await @agendaitem.checkAdded)}}
                <i class="vl-link__icon ki-calendar-plus vlc-agenda-item__icons--margin">
                  <AttachTooltip
                    @arrow="true"
                    @animation="shift"
                    @placement="top"
                    @class="ember-attacher-tooltip"
                  >
                    <p>
                      {{t "added-agendaitem-text"}}
                    </p>
                  </AttachTooltip>
                </i>
              {{/if}}
            </div>
            {{#if this.subcase.confidential}}
              <span type="button" class="vlc-agenda-items__confidentiality-button vlc-pill vlc-pill--error">
                <i class="vl-icon ki-lock-closed vlc-agenda-items__icons"
                   data-test-icon-agenda-confidentiality-locked
                ></i>
                {{t "confidential"}}
              </span>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>