<div class="vl-u-spacer--large vlc-padding-bottom--large">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "documents"}}
      </h4>
      {{#if (or isAdmin isEditor)}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (not isEditing)}}
    {{#if (is-pending item.documents)}}
      {{web-components/vl-loader text=(t "documents-loading-text")}}
    {{else if (gt (await item.documentsLength) 0)}}
      {{#each (await item.documents) as |document|}}
        {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
          document=document
          item=item
        }}
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        {{web-components/vl-alert message=(t "no-documents-yet")}}
      </div>
    {{/if}}
  {{else}}
    {{agenda/agendaitem/agendaitem-case/edit-subcase-documents
      documents=(await item.documents)
      item=item
      cancelForm=(action "cancelEditing")
    }}
  {{/if}}
  {{#if (is-pending item.documents)}}
    <button class="vl-button vl-button--loading vl-button--narrow" disabled>
      {{t "loading-text-inactive"}}
    </button>
  {{else if (or isAdmin isEditor)}}
    <div class="vl-u-spacer">
      <button
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
        {{action "toggleIsAddingNewDocument"}}
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
        {{t "document-add"}}
      </button>
    </div>
  {{/if}}
</div>
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "toggleIsAddingNewDocument")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      {{file-uploader isLoading=isLoading uploadedFile=(action "uploadedFile")}}
      {{#if (not isLoading)}}
        {{#each uploadedFiles as |uploadedFile|}}
          {{web-components/vl-uploaded-document
            file=uploadedFile
            subcase=item
            uploadedFiles=uploadedFiles
          }}
        {{/each}}
      {{else}}
        {{web-components/vl-loader text=(t "documents-loading-text")}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isCreatingDocuments
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "toggleIsAddingNewDocument")
      saveAction=(action "uploadNewDocument")
    }}
  {{/web-components/vl-modal}}
{{/if}}