<div class="vl-u-spacer--large vlc-padding-bottom--large">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "documents"}}
      </h4>
          {{#if (or isAdmin isEditor)}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (not isEditing)}}
    {{#if (gt (await item.documentsLength) 0)}}
      {{#each (await item.documents) as |document|}}
        {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
          document=(await document)
          item=item
        }}
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        {{web-components/vl-alert message=(t "no-documents-yet")}}
      </div>
    {{/if}}
  {{else}}
    {{agenda/agendaitem/agendaitem-case/edit-subcase-documents
      documents=(await item.documents)
      item=item
      cancelForm=(action "cancelEditing")
    }}
  {{/if}}
  {{#if (or isAdmin isEditor)}}
    <div class="vl-u-spacer">
      <button
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
        {{action "toggleIsAddingNewDocument"}}
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
        {{t "document-add"}}
      </button>
    </div>
  {{/if}}
</div>
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "toggleIsAddingNewDocument")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      <div class="vlc-input-field-block">
        {{#if (not (gt uploadedFiles.length 0))}}
          {{web-components/vl-form-label value="Bijlagen"}}
          {{file-uploader
            multipleFiles=false
            uploadedFile=(action "getUploadedFile")
          }}
        {{else}}
          {{subcases/edit-documents uploadedFiles=uploadedFiles}}
        {{/if}}
      </div>
    </div>
    <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--link vl-button--narrow"
              {{action "openUploadDialog"}}
            >
              {{t "cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--narrow"
              {{action "uploadNewDocument"}}
            >
              {{t "document-add"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/web-components/vl-modal}}
{{/if}}