<div class="vl-u-spacer--large">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "documents"}}
      </h4>
      {{#if isEditor}}
        <div class="vl-u-spacer-extended-left-s">
          <a href="" class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (not isEditing)}}
    {{#if (is-pending item.documents)}}
      {{web-components/vl-loader text=(t "documents-loading-text")}}
    {{else if (gt (await item.documentsLength) 0)}}
      {{#each (await item.documents) as |document|}}
        {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
          document=document
          item=item
        }}
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        {{web-components/vl-alert message=(t "no-documents-yet")}}
      </div>
    {{/if}}
  {{else}}
    {{agenda/agendaitem/agendaitem-case/edit-subcase-documents
      documents=(await item.documents)
      item=item
      cancelForm=(action "cancelEditing")
    }}
  {{/if}}
  {{#if (is-pending item.documents)}}
    <button type="button" class="vl-button vl-button--loading vl-button--narrow" disabled>
      {{t "please-be-patient"}}
    </button>
  {{else if isEditor}}
    <div class="vl-u-spacer">
      <button type="button" class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
        {{action "toggleIsAddingNewDocument"}}>
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
        {{t "document-add"}}
      </button>
    </div>
  {{/if}}
  {{#if shouldShowLinkedDocuments}}
    <div class="vl-u-spacer">
      <div class="vl-u-display-flex vl-u-display-flex-align-center">
        <h4 class="vl-title vl-title--h4">
          {{t "linked-documents"}}
        </h4>
      </div>
    </div>
    {{#if (is-pending item.linkedDocuments)}}
      {{web-components/vl-loader text=(t "documents-loading-text")}}
    {{else if (gt (await item.linkedDocumentsLength) 0)}}
      {{#each (await item.linkedDocuments) as |document|}}
        {{agenda/agendaitem/agendaitem-case/subcase-document/linked-document-link
          document=document
          item=item
        }}
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        {{web-components/vl-alert message=(t "no-linked-documents-yet")}}
      </div>
    {{/if}}
    {{#if (is-pending item.linkedDocuments)}}
      <button type="button" class="vl-button vl-button--loading vl-button--narrow" disabled>
        {{t "please-be-patient"}}
      </button>
    {{else if isEditor}}
      <div class="vl-u-spacer">
        <button type="button" class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
          {{action "toggleIsLinkingOldDocument"}}>
          <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
          ></i>
          {{t "document-link-old"}}
        </button>
      </div>
    {{/if}}
  {{/if}}
</div>
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "deleteAll")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      {{#if showDetail}}
        <div class="vl-u-align-right vl-u-spacer-extended-s">
          {{#link-to
            "cases.case.subcases.subcase.overview"
            item.id
            target="_blank"
          }}
            {{t "to-subcase"}}
          {{/link-to}}
        </div>
      {{/if}}
      {{file-uploader isLoading=isLoading uploadedFile=(action "add")}}
      {{#if (not isLoading)}}
        <div class="upload-container">
          {{#each documentsInCreation as |doc|}}
            {{#ember-kaleidos-webuniversum/vl-uploaded-document
              name=doc.file.filename
              extension=doc.file.extension
              size=doc.file.size
              downloadName=doc.file.filename
              downloadLink=(concat
                      doc.file.downloadLink
                      "?name="
                      doc.file.filename
              )
              delete=(action "delete" doc)
            }}
              <div class="metadata-container">
                <div class="vlc-input-field-block">
                  {{web-components/vl-form-label value=(t "document-name")}}
                  {{web-components/vl-form-input
                    width="4"
                    value=(mut doc.name)
                  }}
                </div>
                <div class="vlc-input-field-block">
                  {{web-components/vl-form-label value=(t "document-type")}}
                  {{utils/model-selector
                    modelName="document-type"
                    searchField="label"
                    propertyToShow="label"
                    sortField="priority"
                    selectedItems=doc.documentContainer.type
                    selectModel=(action "chooseDocumentType" doc.documentContainer)
                  }}
                </div>
              </div>
            {{/ember-kaleidos-webuniversum/vl-uploaded-document}}
          {{/each}}
        </div>
      {{else}}
        {{web-components/vl-loader text=(t "documents-loading-text")}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "deleteAll")
      saveAction=(action "saveDocumentContainers")
      disableSave=(eq model.length 0)
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isLinkingOldDocument}}
  {{#web-components/vl-modal
    closeModal=(action "toggleIsLinkingOldDocument")
    isOverlay=true
    large=true
    title=(t "document-link-old")
  }}
    <div class="vl-modal-dialog__content">
      {{components/utils/add-existing-document
        add=(action "link")
        delete=(action "unlink")
      }}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-link-old")
      cancelAction=(action "toggleIsLinkingOldDocument")
      saveAction=(action "linkDocuments")
      disableSave=(eq documentsToLink.length 0)
    }}
  {{/web-components/vl-modal}}
{{/if}}
