<div class="vlc-input-field-block">
  <WebComponents::AuLabel class="auk-u-block">{{title}}</WebComponents::AuLabel>
  <div class="vlc-radio-inline">
    {{#each optionList as |option index|}}
      <label class="vl-radio">
        {{#if selectedModel}}
          <input
            class="vl-radio__toggle"
            value={{option.id}}
            type="radio"
            name={{title}}
            checked={{eq option.id selectedModel.id}}
            onchange={{action "modelChanged"}}
          />
        {{else}}
          <input
            class="vl-radio__toggle"
            value={{option.id}}
            type="radio"
            name={{title}}
            checked={{eq index 0}}
            onchange={{action "modelChanged"}}
          />
        {{/if}}
        <div class="vl-radio__label">
          {{option.label}}
        </div>
      </label>
    {{/each}}
  </div>
</div>