{{page-title (await title) replace=true}}
<Utils::OverviewsHeaderDecision
  @title={{await title}}
  @model={{await model}}
  @routeModelPrefix={{routeModel}}
  @modelsForHierarchicalBack={{array meeting.id model.id}}
/>
<div class="auk-scroll-wrapper__body">
  {{outlet}}
</div>