<div class="auk-modal__content">
  <div class="auk-u-m-8">
    <div class="auk-u-flex auk-u-flex--vertical-center">
      <Input
        @value={{searchText}}
        @placeholder={{t "search-placeholder"}}
        @class="auk-input vlc-u-box-model-maximize-width"
        @input={{action "updateSearchText"}} />
    </div>

    {{#if isLoading}}
      <WebComponents::VlLoader @text={{t "please-be-patient"}} />
    {{else}}
      <table class="vl-data-table tr-hover vl-data-table--zebra">
        <thead>
          <tr>
            <th class="vl-data-table-col-9 vl-data-table__header-title">
              {{t "case-name"}}
            </th>
            <th class="vl-data-table-col-2 vl-data-table__header-title">
              {{t "created-on"}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each (await results) as |row|}}
            <tr>
              <td onclick={{action "selectCase" row}}>
                <p>
                  {{#if row.shortTitle}}
                    {{row.shortTitle}}
                  {{else}}
                    {{row.title}}
                  {{/if}}
                </p>
              </td>
              <td onclick={{action "selectCase" row}}>
                {{moment-format row.created "DD-MM-YYYY HH:mm"}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="auk-u-mb-3"></div>
      <WebComponents::VlPagination
        @page={{page}}
        @nbOfItems={{results.length}}
        @size={{size}}
        @nextAction={{action 'nextPage'}}
        @previousAction={{action 'prevPage'}}
        @total={{results.meta.count}} />
    {{/if}}
  </div>
</div>
