<div class="vlc-page-header">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <h1
          class="vlc-page-header__title vlc-page-header__title--bordered max-width-title"
        >
          {{#if (await model.case.shortTitle)}}
            {{await model.case.shortTitle}}
          {{else}}
            {{await model.case.title}}
          {{/if}}
        </h1>
        <div class="vlc-page-header__sub">
          <div class="vlc-toolbar vlc-toolbar--auto">
            <div class="vlc-toolbar__left">
              <div class="vlc-toolbar__item">
                {{#link-to
                  "cases.overview"
                  class="vlc-backlink vl-link vl-link--bold"
                }}
                  {{!-- template-lint-disable no-bare-strings  --}}
                  &#8629;
                  {{!-- template-lint-enable no-bare-strings  --}}
                {{/link-to}}
              </div>
              <div class="vlc-toolbar__item">
                <ul class="vlc-tabs-reverse" role="tablist">
                  <li class="vlc-tabs-reverse__item">
                    <a
                      class="vlc-tabs-reverse__link {{activeProcess}}"
                      role="tab"
                      {{action "toggleIsShowingProcess"}}
                    >
                      {{t "process"}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      {{#if isEditor}}
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--narrow vl-button--icon-before"
            {{action "toggleIsAddingSubcase"}}
          >
            <i
              class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
            ></i>
            {{t "create-subcase"}}
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{#if isAddingSubcase}}
  {{#web-components/vl-modal
    isOverlay=true
    large=true
    closeModal=(action "close")
    title=(t "create-subcase")
  }}
    {{cases/new-subcase
      title=title
      shortTitle=shortTitle
      case=(await model.case)
      closeModal=(action "close")
      refresh=(action "refresh")
    }}
  {{/web-components/vl-modal}}
{{/if}}