<div data-vl-tabs-responsive-label="Navigatie" class="vl-tabs__wrapper">
  {{agenda/agendaitem/agendaitem-nav
    agendaitem=agendaitem
    activeAgendaItemSection=activeAgendaItemSection
    setAgendaItemSection=(action "setAgendaItemSection")
  }}
</div>
<div class="vl-u-spacer">
  {{#if (eq activeAgendaItemSection "details")}}
    <div class="vl-action-group vl-action-group--align-right">
      {{#if (not currentAgenda.isFinal)}}
        {{#if showOptions}}
          {{#if isPostPonable}}
            <button
              class="vl-button vl-button--tertiary vl-button--narrow"
              {{action "togglePostponed" agendaitem}}
            >
              {{#if (or agendaitem.retracted (await agendaitem.postponedTo))}}
                {{t "buttons.not-postpone"}}
              {{else}}
                {{t "buttons.postpone"}}
              {{/if}}
            </button>
          {{/if}}
          {{#if
            (await
              (allow-delete-agendaitem
                agendaitem=agendaitem lastDefiniteAgenda=lastDefiniteAgenda
              )
            )
          }}
            <button
              class="vl-button vl-button--tertiary vl-button--narrow"
              {{action "deleteItem" agendaitem}}
            >
              {{t "buttons.delete"}}
            </button>
          {{/if}}
        {{/if}}
        <button
          class="vl-button vl-button--tertiary vl-button--icon"
          {{action "showOptions"}}
        >
          <i class="vl-button__icon vl-vi vl-vi-nav-show-more-horizontal"></i>
        </button>
      {{/if}}
    </div>
  {{/if}}
  {{#if (eq activeAgendaItemSection "details")}}
    {{agenda/agendaitem/agendaitem-case agendaitem=agendaitem}}
  {{else if (eq activeAgendaItemSection "comments")}}
    {{agenda/agendaitem/agendaitem-comments agendaitem=agendaitem}}
  {{else if (eq activeAgendaItemSection "press-agenda")}}
    {{agenda/agendaitem/agenda-item-press agendaitem=agendaitem}}
  {{else if (eq activeAgendaItemSection "decision")}}
    {{agenda/agendaitem/agendaitem-decision agendaitem=agendaitem}}
  {{else if (eq activeAgendaItemSection "news-item")}}
    {{agenda/agendaitem/agendaitem-news-item agendaitem=agendaitem}}
  {{/if}}
</div>
{{#if isShowingPostponeModal}}
  {{#web-components/vl-modal
    isOverlay=true
    closeModal=(action "togglePostponed")
  }}
    <h1>
      {{currentAgendaItem.subcase.title}}
    </h1>
    <div>
      <label class="vl-form__label">
        {{t "agenda-item.postpone-until"}}
      </label>
      {{sessions/sessions-selector
        currentSession=postponeTargetSession
        chooseSession=(action "chooseSession")
      }}
    </div>
    <div class="vl-action-group vl-action-group--align-center">
      <button
        class="vl-button vl-button--narrow"
        {{action "postponeAgendaItem" agendaitem}}
      >
        {{t "buttons.postpone"}}
      </button>
      <button class="vl-button vl-button--narrow" {{action "togglePostponed"}}>
        {{t "buttons.cancel"}}
      </button>
    </div>
  {{/web-components/vl-modal}}
{{/if}}