<div class="vlc-scroll-wrapper__header">
  <div class="vlc-navbar vlc-navbar--bordered-bottom">
    <div class="vlc-toolbar vlc-toolbar--justified">
      <div
        class="vl-u-spacer-extended-top vl-u-spacer-extended-left-l vl-u-spacer-extended-right-l"
      >
        {{agenda/agendaitem/agendaitem-nav
          agendaitem=agendaitem
          activeAgendaItemSection=activeAgendaItemSection
          setAgendaItemSection=(action "setAgendaItemSection")
        }}
      </div>
    </div>
  </div>
</div>
<div class="vlc-scroll-wrapper__body">
  <div class="vlc-container">
    <div class="vl-u-spacer-extended-s">
      {{#if (eq activeAgendaItemSection "details")}}
        <div class="vl-action-group vl-action-group--align-right">
          {{#if (not currentAgenda.isFinal)}}
            {{#if showOptions}}
              {{#if isPostPonable}}
                {{#if (or agendaitem.retracted (await agendaitem.postponed))}}
                  <button
                    class="vl-button vl-button--tertiary vl-button--narrow"
                    {{action "advanceAgendaitem" agendaitem}}
                  >
                    {{t "buttons.not-postpone"}}
                  </button>
                {{else}}
                  <button
                    class="vl-button vl-button--tertiary vl-button--narrow"
                    {{action "togglePostponed" agendaitem}}
                  >
                    {{t "buttons.postpone"}}
                  </button>
                {{/if}}
              {{/if}}
              {{#if
                (await
                  (allow-delete-agendaitem
                    agendaitem=agendaitem lastDefiniteAgenda=lastDefiniteAgenda
                  )
                )
              }}
                <button
                  class="vl-button vl-button--tertiary vl-button--narrow"
                  {{action "deleteItem" agendaitem}}
                >
                  {{t "buttons.delete"}}
                </button>
              {{/if}}
            {{/if}}
            <button
              class="vl-button vl-button--tertiary vl-button--icon"
              {{action "showOptions"}}
            >
              <i
                class="vl-button__icon vl-vi vl-vi-nav-show-more-horizontal"
              ></i>
            </button>
          {{/if}}
        </div>
      {{/if}}
      {{#if (eq activeAgendaItemSection "details")}}
        {{agenda/agendaitem/agendaitem-case
          agendaitem=agendaitem
        }}
      {{else if (eq activeAgendaItemSection "comments")}}
        {{agenda/agendaitem/agendaitem-comments agendaitem=agendaitem}}
      {{else if (eq activeAgendaItemSection "press-agenda")}}
        {{agenda/agendaitem/agenda-item-press agendaitem=agendaitem}}
      {{else if (eq activeAgendaItemSection "decision")}}
        {{agenda/agendaitem/agendaitem-decision agendaitem=agendaitem}}
      {{else if (eq activeAgendaItemSection "news-item")}}
        {{agenda/agendaitem/agendaitem-news-item agendaitem=agendaitem}}
      {{/if}}
    </div>
  </div>
</div>
{{#if isShowingPostponeModal}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "agenda-item.postpone-item")
    closeModal=(action "togglePostponed")
  }}
    <div class="vl-modal-dialog__content">
      <label class="vl-form__label">
        {{t "agenda-item.postpone-until"}}
      </label>
      {{sessions/sessions-selector
        currentSession=postponeTargetSession
        chooseSession=(action "chooseSession")
      }}
    </div>
    <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--link vl-button--narrow"
              {{action "togglePostponed"}}
            >
              {{t "buttons.cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--narrow"
              {{action "postponeAgendaItem" agendaitem}}
            >
              {{t "buttons.postpone"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/web-components/vl-modal}}
{{/if}}