<div class="vlc-scroll-wrapper">
  <div class="vlc-scroll-wrapper__header">
    <div
      class="vlc-navbar vlc-navbar--bordered-bottom vlc-navbar--tabs vlc-navbar--tabs-bottom"
    >
      <div class="vl-tabs__wrapper">
        {{agenda/agendaitem/agendaitem-nav
          agendaitem=agendaitem
          currentAgenda=currentAgenda
          activeAgendaItemSection=activeAgendaItemSection
          setAgendaItemSection=(action "setAgendaItemSection")
        }}
      </div>
    </div>
  </div>
  <div class="vlc-scroll-wrapper__body">
    <div class="vl-u-spacer-extended">
      <div class="vlc-container">
        <div class="vl-u-spacer--small">
          {{#if (eq activeAgendaItemSection "details")}}
            <div class="vl-action-group vl-action-group--align-right">
              {{#if isEditor}}
                {{#if (not currentAgenda.isFinal)}}
                  {{agenda/agendaitem/agendaitem-controls
                    agendaitem=agendaitem
                    currentAgenda=currentAgenda
                    lastDefiniteAgenda=lastDefiniteAgenda
                    refreshRoute=(action "refreshRoute")
                  }}
                {{/if}}
              {{/if}}
            </div>
          {{/if}}
          {{#if (eq activeAgendaItemSection "details")}}
            {{agenda/agendaitem/agendaitem-case agendaitem=agendaitem}}
          {{else if (eq activeAgendaItemSection "documents")}}
            {{agenda/agendaitem/agendaitem-case/subcase-documents
              item=agendaitem
              isDesignAgenda=(eq currentAgenda.name "Ontwerpagenda")
              modelToAddDocumentVersionTo="agendaitem"
            }}
          {{else if (eq activeAgendaItemSection "comments")}}
            {{agenda/agendaitem/agendaitem-comments item=agendaitem}}
          {{else if (eq activeAgendaItemSection "press-agenda")}}
            {{agenda/agendaitem/agenda-item-press agendaitem=agendaitem}}
          {{else if (eq activeAgendaItemSection "decision")}}
              <div class="vl-u-display-flex vl-u-flex-space-between">
                <h3 class="vl-title vl-title--h3">
                  {{t "decision-title"}}
                </h3>
              </div>
                {{#if isEditor}}
                  <div class="vl-action-group">
                    <button
                      class="vl-button vl-button--secondary vl-button--narrow vl-button--icon-before"
                      {{action "addDecision"}}
                    >
                      <i
                        class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
                      ></i>
                      {{t "add-decision"}}
                    </button>
                  </div>
                {{/if}}
                {{#each (await agendaitem.decisions) as |decision|}}
                  {{agenda/agendaitem/agendaitem-decision
                    subcase=subcase
                    decision=decision
                    agendaitem=agendaitem
                  }}
                {{/each}}
          {{else if (eq activeAgendaItemSection "news-item")}}
            {{agenda/agendaitem/agendaitem-news-item
              agendaitem=agendaitem
              subcase=subcase
            }}
          {{else if (eq activeAgendaItemSection "minutes")}}
            {{agenda/agendaitem/agendaitem-minutes agendaitem=agendaitem}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
