
{{#if (is-pending agendaitemOrSubcase.documentContainers)}}
  {{web-components/vl-loader text=(t "documents-loading-text")}}
{{else}}
  <div class="grid-container">
    {{#if (and this.moreThan20 (not this.isShowingAll))}}
      {{#each (await this.documentContainersLimited) as |documentContainer|}}
        {{item-document
          item=@agendaitemOrSubcase
          documentContainer=documentContainer
          isClickable=@isClickable
          useNewIcons=useNewIcons
        }}
      {{/each}}
    {{else}}
      {{#each (await @agendaitemOrSubcase.documentContainers) as |documentContainer|}}
        {{item-document
          item=@agendaitemOrSubcase
          documentContainer=documentContainer
          isClickable=@isClickable
          useNewIcons=useNewIcons
        }}
      {{/each}}
    {{/if}}
  </div>
  {{#if this.moreThan20}}
    <button class="vlc-document-show-more-button" type="button" {{action "toggleShowingAll"}}>
      <i class="{{if isShowingAll "ki-remove" "ki-plus"}} vl-icon vlc-document-show-more-button__icon "/>
      <p  class="vlc-document-show-more-button__text">
        {{#if isShowingAll }}
          {{t "show-less"}}
        {{else}}
          {{t "show-more"}}
        {{/if}}
      </p>
    </button>
  {{/if}}
{{/if}}
