<div class="vlc-navbar vlc-navbar--bordered-bottom vlc-navbar--no-padding vlc-navbar--bg-alt vlc-navbar--auto" id="c-main-nav">
  <div class="vlc-toolbar vlc-toolbar--auto c-slide-in-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <ul class="vl-tabs vl-u-reset-margin">
          <!--<li class="vl-tab">
            {{#power-select
              options=options
              class="vl-tab__link vl-tab__link-header"
              tagName="a"
              dropdownClass="vl-tab__link-header-dropdown"
              searchEnabled=false
              selected=selectedOption
              onchange=(action "setAction") as |option|
            }}
              {{t option.key}}
            {{/power-select}}
          </li>-->
          <li class="vl-tab" data-test-m-header-oc-meetings>
            {{#if isOc}}
              {{#link-to "oc.meetings" class="vl-tab__link"}}
                {{t "agenda"}}
              {{/link-to}}
            {{else}}
              {{#link-to
                "agendas.overview"
                class="vl-tab__link"
                current-when="agendas agenda print-overviews.decisions print-overviews.notes print-overviews.press-agenda"
              }}
                {{t "agenda"}}
              {{/link-to}}
            {{/if}}
          </li>
          <li class="vl-tab" data-test-m-header-oc-cases>
            {{#if isOc}}
              {{#link-to "oc.cases" class="vl-tab__link"}}
                {{t "cases"}}
              {{/link-to}}
            {{else}}
              {{#link-to "cases" (query-params oc=false) class="vl-tab__link"}}
                {{t "cases"}}
              {{/link-to}}
            {{/if}}
          </li>
          {{#if (not isOc)}}
            <li class="vl-tab" data-test-m-header-newsletters>
              {{#link-to
                "newsletters"
                class="vl-tab__link"
                current-when="newsletters print-overviews.newsletter print-overviews.newsletter.agendaitems print-overviews.newsletter.overview"
              }}
                {{t "newsletter"}}
              {{/link-to}}
            </li>
            {{#if isEditor}}
              <li class="vl-tab" data-test-m-header-settings>
                {{#link-to "settings.overview" class="vl-tab__link"}}
                  {{t "settings"}}
                {{/link-to}}
              </li>
            {{/if}}
            {{!-- <li class="vl-tab">
              <a class="vl-tab__link" role="tab" aria-selected="true">
                {{t "notifications"}}
              </a>
            </li> --}}
          {{else}}
            <li class="vl-tab">
              {{#link-to "oc.search" class="vl-tab__link vl-u-text--capitalize"
              }}
                {{t "search"}}
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__right">
          {{#if showEnvironmentName}}
              <div class="c-environment">
                {{environmentName}}
                  Omgeving
              </div>
          {{/if}}
        </div>
      <div class="vlc-toolbar__item">
        {{#if user}}
          <div class="vlc-user">
            <div class="vlc-user__username">
              {{user.firstName}}
              {{user.lastName}}
              ({{role}})
            </div>
            <a class="vlc-user__action" {{action "logout"}}>
              {{t "sign-out"}}
            </a>
          </div>
        {{else}}
          <div class="vlc-user">
            <div class="vlc-user__username"></div>
            {{#link-to "login" class="vlc-user__action"}}
              {{t "login"}}
            {{/link-to}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
