<div class="vlc-toolbar vlc-toolbar--auto">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <ul class="vl-tabs vl-u-reset-margin">
         <li class="vl-tab">
          {{#link-to "agendas" class="vl-tab__link" current-when="agenda"}}
            {{t "navigation.agenda"}}
          {{/link-to}}
        </li>
        <li class="vl-tab">
          {{#link-to "cases" class="vl-tab__link"}}
            {{t "navigation.cases"}}
          {{/link-to}}
        </li>
        <li class="vl-tab">
          {{#link-to "newsletters" class="vl-tab__link" current-when="newsletters-overview"}}
            {{t "navigation.newsletter"}}
          {{/link-to}}
        </li>
        <li class="vl-tab">
          {{#link-to "settings" class="vl-tab__link"}}
            {{t "navigation.settings"}}
          {{/link-to}}
        </li>
        <li class="vl-tab">
          <a class="vl-tab__link" role="tab" aria-selected="true">
            {{t "navigation.notifications"}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="vlc-toolbar__right">
    <div class="vlc-toolbar__item">
      <div class="vlc-user">
        <div class="vlc-user__username">
          Hilde Crevits
        </div>
        <a class="vlc-user__action">
          Afmelden
        </a>
      </div>
    </div>
  </div>
</div>