{{#unless this.isAddingSubmissionToExistingSubcase}}
  <Subcases::SubcasesOverviewHeader
    @decisionmakingFlow={{@model.decisionmakingFlow}}
  />
{{/unless}}
{{#if this.isAddingSubmission}}
  {{outlet}}
{{else}}
  <div class="auk-panel-layout auk-panel-layout--responsive">
    <div class="auk-panel-layout__sidebar auk-panel-layout__sidebar--responsive">
      <Subcases::SideNav
        @decisionmakingFlow={{@model.decisionmakingFlow}}
        @latestParliamentSubmissionActivity={{@model.latestParliamentSubmissionActivity}}
        @latestParliamentRetrievalActivity={{@model.latestParliamentRetrievalActivity}}
        @parliamentFlow={{@model.parliamentFlow}}
        @publicationFlows={{@model.publicationFlows}}
        @subcases={{@model.subcases}}
      />
    </div>
    {{outlet}}
  </div>
{{/if}}
