<Subcases::SubcasesOverviewHeader
  @decisionmakingFlow={{@model.decisionmakingFlow}}
/>
<div class="auk-panel-layout">
  <div class="auk-panel-layout__sidebar auk-panel-layout__sidebar--cases">
    <Subcases::SideNav
      @decisionmakingFlow={{@model.decisionmakingFlow}}
      @latestParliamentSubmissionActivity={{@model.latestParliamentSubmissionActivity}}
      @parliamentFlow={{@model.parliamentFlow}}
      @subcases={{@model.subcases}}
    />
  </div>
  {{outlet}}
</div>