<Subcases::SubcasesOverviewHeader
  @decisionmakingFlow={{@model.decisionmakingFlow}}
/>
{{#if this.isAddingSubmission}}
  {{outlet}}
{{else}}
  <div class="auk-panel-layout auk-panel-layout--responsive auk-panel-layout--cases">
    <div class="auk-panel-layout__sidebar auk-panel-layout__sidebar--responsive auk-panel-layout__sidebar--cases">
      <Subcases::SideNav
        @decisionmakingFlow={{@model.decisionmakingFlow}}
        @latestParliamentSubmissionActivity={{@model.latestParliamentSubmissionActivity}}
        @latestParliamentRetrievalActivity={{@model.latestParliamentRetrievalActivity}}
        @parliamentFlow={{@model.parliamentFlow}}
        @subcases={{@model.subcases}}
      />
    </div>
    {{outlet}}
  </div>
{{/if}}