<div>
  <div class="cases--header-tile cases--sub-file-header">
    <h2>
      {{t "cases.new-case"}}
    </h2>
  </div>
</div>
<div class="cases--new">
  <form onsubmit={{action "createCase"}}>
    {{#if isPartOne}}
      {{cases/forms/metadata-form
        themes=themes
        step=(action "nextStep")
        chooseTheme=(action "chooseTheme")
        chooseType=(action "chooseType")
        shortTitleChange=(action "shortTitleChange")
        titleChange=(action "titleChange")
        statusChange=(action "statusChange")
        selectedThemes=selectedThemes
        shortTitle=shortTitle
        title=title
        status=status
        selectedType=selectedType
      }}
    {{else}}
      <div class="cases--new-item">
        <label>
          {{t "cases.contact-person"}}
        </label>
        {{#power-select
          options=contacts
          class="cases--new-item-input"
          selected=contact
          searchField="label"
          search=(perform searchContact)
          oninput=(action "resetValue")
          onchange=(action "chooseContact") as |capacity|
        }}
          {{capacity.label}}
        {{/power-select}}
      </div>
      <div class="cases--new-item">
        <label>
          {{t "cases.related-cases"}}
        </label>
        {{input
          class="cases--new-item-input"
          type="text"
          id="related-cases"
          value=related_cases
        }}
      </div>
      <button {{action "previousStep"}}>
        {{t "buttons.previous-step"}}
      </button>
      <button
        type="submit"
        class="rr-action-button"
        data-test-rr="sign-up-button"
      >
        {{t "buttons.create-case"}}
      </button>
    {{/if}}
  </form>
</div>