<div>
  <div class="cases--header-tile cases--sub-file-header">
    <h2>NIEUW DOSSIER</h2>
  </div>
</div>

<div class="cases--new">
  <form onsubmit={{action "createCase"}}>

    {{#if isPartOne}}

      {{cases/forms/metadata-form
        themes=themes
        step=(action "nextStep")
        chooseTheme=(action "chooseTheme")
        chooseType=(action "chooseType")
        shortTitleChange=(action "shortTitleChange")
        titleChange=(action "titleChange")
        statusChange=(action "statusChange")
        selectedThemes=selectedThemes
        shortTitle=shortTitle
        title=title
        status=status
        selectedType=selectedType
      }}

    {{else}}

      <div class="cases--new-item">
        <label>CONTACTPERSOON</label>
        {{#power-select
          options=contacts
          class="cases--new-item-input"
          selected=contact
          searchField="label"
          search=(perform searchContact)
          oninput=(action "resetValue")
          onchange=(action "chooseContact") as |capacity|
        }}
          {{capacity.label}}
        {{/power-select}}
      </div>

      <div class="cases--new-item">
        <label>GERELATEERDE DOSSIERS</label>
        {{input
          class="cases--new-item-input"
          type="text"
          id="related-cases"
          value=related_cases
        }}
      </div>

      <button {{action "previousStep"}}>
        Vorige Stap
      </button>

      <button
        type="submit"
        class="rr-action-button"
        data-test-rr="sign-up-button"
      >
        Dossier aanmaken
      </button>


    {{/if}}




  </form>
</div>
