<div class="vl-u-spacer-extended-l">
  <div class="vl-form__group">
    <h3 class="vl-title vl-title--h3">
      {{t "cases.new-case"}}
    </h3>
    <form class="vl-form" onsubmit={{action "createCase"}}>
      {{!-- {{#if isPartOne}} --}}
      {{cases/case-types typeChanged=(action "chooseType")}}
      {{cases/forms/metadata-form
        themes=themes
        step=(action "nextStep")
        shortTitleChange=(action "shortTitleChange")
        titleChange=(action "titleChange")
        statusChange=(action "statusChange")
        shortTitle=shortTitle
        title=title
        status=status
        multipleSteps=false
      }}
      {{!-- {{else}} --}}
      <div class="vl-form-grid vl-form-grid--is-stacked">
        <div class="vl-col--2-4 vl-push--4-4">
          {{!-- <button
            type="button"
            class="vl-button vl-button--tertiary"
            {{action "previousStep"}}
          >
            {{t "buttons.previous-step"}}
          </button> --}}
          <button
            type="submit"
            class="vl-button vl-button--tertiary"
            data-test-rr="sign-up-button"
          >
            {{t "buttons.create-case"}}
          </button>
        </div>
      </div>
      {{!-- {{/if}} --}}
    </form>
  </div>
</div>