{{page-title (t "cases")}}
<Cases::CasesHeader @didCreateNewCase={{this.navigateToDecisionmakingFlow}} />
<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="right">
        {{#if (user-may "manage-cases")}}
          <Auk::Toolbar::Item class="auk-o-flex auk-o-flex--vertical-center">
            <Auk::Label
              class="auk-u-text-nowrap auk-u-mr-2 auk-u-p-0"
              for="show-cases-archived"
            >
              {{t "show-archived"}}
            </Auk::Label>
            <Auk::Toggle
              data-test-route-cases-overview-show-archived
              id="show-cases-archived"
              @checked={{this.showArchived}}
            />
          </Auk::Toolbar::Item>
        {{/if}}
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
    <DataTable
      data-test-route-cases-overview-data-table={{true}}
      @content={{await this.model}}
      @page={{this.page}}
      @noDataMessage={{t "no-results-found"}}
      @size={{this.size}}
      @sort={{this.sort}}
      class="auk-table auk-table--striped"
      @isLoading={{this.isLoadingModel}}
      as |table|
    >
      <table.content as |c|>
        <c.header>
          <th class="auk-table__col--9">
            {{t "case-name"}}
          </th>
          <ThSortable
            class="auk-table__col--1"
            @currentSorting={{this.sort}}
            @field="opened"
            @label={{t "created-on"}}
          />
          <th class="auk-table__col--1"></th>
        </c.header>
        {{! Users explicitly want the whole row to be clickable instead of only the arrow at the end }}
        {{! template-lint-disable no-invalid-interactive }}
        <c.body class="auk-table--clickable-rows" as |row|>
          <td {{on "click" (fn this.navigateToDecisionmakingFlow row)}}>
            <p data-test-route-cases-overview-row-case-title>
              {{#if row.case.shortTitle}}
                {{row.case.shortTitle}}
              {{else}}
                {{row.case.title}}
              {{/if}}
            </p>
          </td>
          <td {{on "click" (fn this.navigateToDecisionmakingFlow row)}}>
            {{datetime row.opened}}
          </td>
          <td class="auk-u-text-align--right">
            {{#if (user-may "manage-cases")}}
              <AuDropdown
                data-test-route-cases-overview-row-actions-dropdown
                @icon="three-dots"
                @title={{t "more"}}
                @hideText={{true}}
                @alignment="right"
              >
                <AuButton
                  data-test-route-cases-overview-row-actions-edit
                  @skin="link"
                  {{on "click" (fn this.openEditCaseModal row.case)}}
                  role="menuitem"
                >
                  {{t "edit-case"}}
                </AuButton>
                <AuButton
                  data-test-route-cases-overview-row-actions-archive
                  @skin="link"
                  @alert={{true}}
                  {{on
                    "click"
                    (fn
                      (if
                        row.case.isArchived
                        this.unarchiveCase
                        this.requestArchiveCase
                      )
                      row.case
                    )
                  }}
                  role="menuitem"
                >
                  {{t (if row.case.isArchived "unarchive-case" "archive-case")}}
                </AuButton>
              </AuDropdown>
            {{/if}}
            <AuLink
              @skin="button-naked"
              @icon="chevron-right"
              @hideText={{true}}
              @route="cases.case.subcases"
              @model={{row.id}}
            >
              {{t "open"}}
            </AuLink>
          </td>
        </c.body>
        {{! template-lint-enable no-invalid-interactive }}
      </table.content>
    </DataTable>
  </div>
</div>
{{#if this.showEditCaseModal}}
  <Cases::EditCase
    @onClose={{this.closeEditCaseModal}}
    @onSave={{this.saveEditCase}}
    @case={{this.caseToEdit}}
  />
{{/if}}
{{#if this.isArchivingCase}}
  <WebComponents::VlModalVerify
    @title={{t "archive-case"}}
    @message={{t "archive-case-message"}}
    @onCancel={{this.cancelArchiveCase}}
    @onVerify={{this.archiveCase}}
  />
{{/if}}