{{cases/cases-header isAddingCase=isAddingCase close=(action "close")}}
<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    {{cases/cases-filter size=size}}
    <div class="vl-u-spacer">
      <h2 class="vl-title vl-title--h3">
        {{t "my-cases"}}
      </h2>
          {{#if (or isAdmin isEditor)}}
        {{web-components/vl-checkbox
          value=isNotArchived
          label=(t "show-archived")
          toggle=(action "toggleArchived")
        }}
      {{/if}}
    </div>
    {{#data-table
      content=(await model)
      page=page
      size=size
      sort=sort
      isLoading=isLoadingModel as |t|
    }}
      {{#t.content as |c|}}
        {{#c.header}}
          {{th-sortable
            class="vl-data-table-col-5 vl-data-table__header-title"
            currentSorting=sort
            field="shortTitle"
            label="Dossiernaam"
          }}
          {{th-sortable
            class="vl-data-table-col-4 vl-data-table__header-title"
            field="type"
            label="Dossiertype"
          }}
          {{th-sortable
            class="vl-data-table-col-2 vl-data-table__header-title"
            currentSorting=sort
            field="created"
            label="Aangemaakt op"
          }}
          <th class="vl-data-table-col-1"></th>
        {{/c.header}}
        {{#c.body as |row|}}
          <td>
            {{row.shortTitle}}
          </td>
          <td>
            {{await row.type.label}}
          </td>
          <td>
            {{moment-format row.created "DD-MM-YYYY HH:mm"}}
          </td>
          <td class="vl-u-align-right">
          {{#if (or isAdmin isEditor)}}
            <button class="vl-button vl-button--link vl-button--icon">
              <i
                class="vl-button__icon vl-vi vl-vi-nav-show-more-horizontal"
              ></i>
            </button>
            {{#attach-popover
              class="ember-attacher-popper"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom" as |attacher|
            }}
              <ul class="vl-popover__link-list">
                <li class="vl-popover__link-list__item">
                  <button
                    class="vl-link"
                    {{action attacher.hide}}
                    {{action "editRow" row}}
                  >
                    Dossier aanpassen
                  </button>
                </li>
                <li class="vl-popover__link-list__item">
                  {{#if (not row.isArchived)}}
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "requestArchiveCase" row}}
                    >
                      Dossier archiveren
                    </a>
                  {{else}}
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "unarchiveCase" row}}
                    >
                      Dossier onarchiveren
                    </a>
                  {{/if}}
                </li>
              </ul>
            {{/attach-popover}}
            {{/if}}
            {{#link-to
              "cases.case.subcases"
              row.id
              class="vl-button vl-button--link vl-button--icon"
            }}
              <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
            {{/link-to}}
          </td>
        {{/c.body}}
      {{/t.content}}
    {{/data-table}}
  </div>
</div>
{{#if isEditingRow}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "edit-case")
    closeModal=(action "cancelEditing")
  }}
    {{cases/edit-case
      caseToEdit=caseToEdit
      cancelEditing=(action "cancelEditing")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isArchivingCase}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "archive-case")
    closeModal=(action "cancelArchiveCase")
  }}
    <div
      class="vl-spacer-box vl-u-spacer-extended-top-l vl-u-spacer-extended-bottom-l"
    >
      {{web-components/vl-alert
        title="Opgelet!"
        message=(t "archive-case-confirmation")
        type="danger"
      }}
    </div>
    <button class="vl-button" {{action "archiveCase" selectedCase}}>
      {{t "archive-case"}}
    </button>
  {{/web-components/vl-modal}}
{{/if}}