<Auk::Panel class="auk-u-mb-2">
  <Auk::Panel::Header @size="auto" class="au-u-background-gray-100">
    <h4 class="auk-panel__title">{{t "government-areas-and-fields"}}</h4>
  </Auk::Panel::Header>
  <Utils::LoadableContent
    @isLoading={{this.areLoadingTasksRunning}}
    @reserveSpace={{false}}
  >
    <Auk::Panel::Body class="au-c-panel-grid" >
      {{#each this.domainSelections as |domainSelection|}}
        <AuCheckboxGroup class="au-c-control-group--grid" data-test-government-areas-panel>
          <AuCheckboxGroup class="auk-u-maximize-width">
            <AuCheckbox
              @checked={{domainSelection.isSelected}}
              @onChange={{fn this.toggleDomainSelection domainSelection}}
              @disabled={{@disabled}}
            >
              <span class="au-u-medium">{{domainSelection.domain.label}}</span>
            </AuCheckbox>
            <AuCheckboxGroup
              data-test-government-areas-panel-fields-list
              @selected={{domainSelection.selectedFields}}
              @onChange={{this.toggleItem}}
              @disabled={{@disabled}}
              as |Group|
            >
              {{#each domainSelection.availableFields as |field|}}
                <Group.Checkbox
                  @value={{field}}
                  @onChange={{fn this.toggleFieldSelection field}}
                >
                  {{field.label}}
                </Group.Checkbox>
              {{/each}}
            </AuCheckboxGroup>
          </AuCheckboxGroup>
        </AuCheckboxGroup>
      {{/each}}
    </Auk::Panel::Body>
  </Utils::LoadableContent>
</Auk::Panel>