{{page-title (t "publications-tabs-search") }}
<div class="au-c-search-container au-c-search-container--publications">
  <Auk::Navbar>
    <form {{on "submit" this.search}} class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-end auk-u-maximize-width auk-u-mb-4 auk-u-mt-4">
      <div class="auk-form-group au-u-margin-bottom-none au-u-2-6">
        <div class="auk-o-flex auk-o-flex--align-baseline">
          <Auk::Label for="keyword" class="auk-u-mr">
            {{capitalize (t "search-term")}}
          </Auk::Label>
          <Utils::SearchTooltip />
        </div>
        <AuInput
          data-test-route-search-input
          @width="block"
          @value={{this.searchTextBuffer}}
          id="keyword"
          placeholder={{t "search-placeholder"}}
        />
      </div>
      <div class="auk-form-group au-u-margin-bottom-none auk-u-position-relative au-u-1-6">
        <Auk::Label for="dateType">
          {{capitalize (t "search-by-date-type")}}
        </Auk::Label>
        <select
          data-test-route-search-publication-date-type
          name="dateType"
          id="dateType"
          class="auk-select auk-select--block"
          {{on "input" this.selectPublicationDateType}}
        >
          {{#each this.publicationDateTypes as |dateType|}}
            <option
              value={{dateType.key}}
              selected={{eq dateType.key this.publicationDateTypeKeyBuffer}}>
              {{dateType.label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="auk-form-group au-u-margin-bottom-none auk-u-position-relative au-u-1-6" data-test-route-search-date-from>
        <Auk::Label>{{t "from"}}</Auk::Label>
        <Auk::Datepicker
          @date={{this.dateFromBuffer}}
          @onChange={{set this "dateFromBuffer"}}
          @enableClear={{this.dateFromBuffer}}
          @onClear={{set this "dateFromBuffer" undefined}}
        />
      </div>
      <div class="auk-form-group au-u-margin-bottom-none auk-u-position-relative au-u-1-6" data-test-route-search-date-to>
        <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
        <Auk::Datepicker
          @date={{this.dateToBuffer}}
          @onChange={{set this "dateToBuffer"}}
          @enableClear={{this.dateToBuffer}}
          @onClear={{set this "dateToBuffer" undefined}}
        />
      </div>
      <div class="auk-form-group au-u-margin-bottom-none au-u-1-6">
        <AuButton
          data-test-route-search-trigger
          @skin="primary"
          @icon="search"
          @width="block"
          type="submit"
        >
          {{capitalize (t "search")}}
        </AuButton>
      </div>
    </form>
  </Auk::Navbar>
  <div class="au-c-search-container__content au-u-background-gray-100">
    <AuMainContainer as |m|>
      <m.sidebar>
        <div class="au-c-sidebar">
          <div class="au-c-sidebar__content">
            <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny">
              <div class="au-c-card au-o-box au-o-box--small">
                <div class="auk-form-group">
                  <Auk::Label for="ministerName">
                    Minister
                  </Auk::Label>
                  <Auk::CheckboxList>
                    <Auk::Checkbox
                      @label="Huidige Ministers"
                      @labelSkin="bold"
                      @checked={{true}}
                      @indeterminate={{and (not this.isSelectedAllItems) this.isSelectedSomeItems}}
                      @disabled={{@disabled}}
                    />
                    <div class="auk-u-ml-2">
                      <Auk::Checkbox
                        @label="Jan Jambon"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Hilde Crevits"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Bart Somers"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Ben Weyts"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Zuhal Demir"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Matthias Diependaele"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Lydia Peeters"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Benjamin Dalle"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jo Brouns"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                    </div>
                  </Auk::CheckboxList>
                  {{#if this.ministersHidden}}
                  <AuButton {{on "click" this.toggleMinistersHidden}} @skin="link" class="au-u-h-functional au-u-padding-left-none au-u-margin-top-tiny" @icon="add">Toon vorige ministers</AuButton>
                  {{ else }}
                  <Auk::CheckboxList>
                    <Auk::Checkbox
                      @label="Vorige Ministers"
                      @labelSkin="bold"
                      @checked={{true}}
                      @indeterminate={{and (not this.isSelectedAllItems) this.isSelectedSomeItems}}
                      @disabled={{@disabled}}
                    />
                    <div class="auk-u-ml-2">
                      <Auk::Checkbox
                        @label="Paul Akkermans"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Bert Anciaux"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Eddy Baldewijns"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Wouter Beke"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Edward Beysen"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Gilbert Bossuyt"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Geert Bourgeois"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Paul Breyne"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jacky Buchmann"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Adelheid Byttebier"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Patricia Ceysens"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Daniël Coens"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Norbert De Batselier"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Roger De Wulf"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Wivina Demeester-De Meyer"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Paul Deprez"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Leona Detiège"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Patrick Dewael"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Vera Dua"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jos Dupré"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jaak Gabriëls"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Mark Galle"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Sven Gatz"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Gaston Geens"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Brigitte Grouwels"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Veerle Heeren"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Liesbeth Homans"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Theo Kelchtermans"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Marino Keulen"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Renaat Landuyt"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jan Lenssens"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Yves Leterme"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Ingrid Lieten"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Luc Martens"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Fientje Moerman"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Philippe Muyters"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jean Pede"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Leo Peeters"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Kris Peeters"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Karel Poma"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Ludo Sannen"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Johan Sauwens"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Joke Schauvliege"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Hugo Schiltz"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Pascal Smet"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Steve Stevaert"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Rika Steyaert"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jef Tavernier"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Bart Tommelein"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Annemie Turtelboom"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Anne Van Asbroeck"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Kathleen Van Brempt"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Freya Van den Bossche"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Luc Van den Bossche"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Luc Van den Brande"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Koen Van den Heuvel"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Paul Van Grembergen"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Dirk Van Mechelen"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Eric Van Rompuy"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Steven Vanackere"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Frank Vandenbroucke"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Marleen Vanderpoorten"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Jo Vandeurzen"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Guy Vanhengel"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Inge Vervotte"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Mieke Vogels"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Louis Waltniel"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                      <Auk::Checkbox
                        @label="Hugo Weckx"
                        @checked={{true}}
                        @disabled={{@disabled}}
                      />
                    </div>
                  </Auk::CheckboxList>
                  <AuButton {{on "click" this.toggleMinistersHidden}} @skin="link" class="au-u-h-functional au-u-padding-left-none au-u-margin-top-tiny" @icon="remove">Verberg vorige ministers</AuButton>
                  {{/if}}
                </div>
              </div>
              <div class="au-c-card au-o-box au-o-box--small">
                <Auk::CheckboxTree
                  @label={{t "regulation-type"}}
                  @items={{this.regulationTypes}}
                  @selectedItems={{this.selectedRegulationTypes}}
                  @didUpdate={{this.updateSelectedRegulationTypes}}
                />
              </div>
              <div class="au-c-card au-o-box au-o-box--small">
                <Auk::CheckboxTree
                  @label={{t "status"}}
                  @items={{this.publicationStatuses}}
                  @selectedItems={{this.selectedPublicationStatuses}}
                  @didUpdate={{this.updateSelectedPublicationStatuses}}
                />
              </div>
              <div class="au-c-card au-o-box au-o-box--small">
                <Auk::Checkbox
                  @checked={{this.urgentOnly}}
                  @label={{t "publication-urgent"}}
                  @labelSkin="bold"
                  {{on "input" this.toggleUrgentOnly}}
                />
              </div>
            </div>
          </div>
        </div>
       </m.sidebar>
      <m.content @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          {{#if this.model.length}}
            <DataTable
              data-test-route-search-publication-data-table
              @content={{await this.model}}
              @page={{this.page}}
              @noDataMessage={{t "no-results-found"}}
              @size={{this.size}}
              @sort={{this.sort}}
              @class="auk-table auk-table--striped auk-table--vertical-align-top auk-table--noactions"
              @isLoading={{this.isLoadingModel}}
              @onClickRow={{this.navigateToPublicationFlow}}
              as |table|
            >
              <table.content as |c|>
                <c.header>
                  <ThSortable
                    @class="auk-table__col--1"
                    @currentSorting={{this.sort}}
                    @field="urgencyLevelId"
                    @label={{t "publication-urgent"}}
                  />
                  <ThSortable
                    @class="auk-table__col--1"
                    @currentSorting={{this.sort}}
                    @field="identificationKeyword"
                    @label={{t "publication-number-small"}}
                  />
                  <th class="auk-table__col--7">{{t "short-title"}}</th>
                  <th class="auk-table__col--1">
                    {{t "publication-flow-numac-number"}}
                  </th>
                  <ThSortable
                    @class="auk-table__col--1"
                    @currentSorting={{this.sort}}
                    @field="openingDate"
                    @label={{t "date-received"}}
                  />
                  <ThSortable
                    @class="auk-table__col--2"
                    @currentSorting={{this.sort}}
                    @field="statusId"
                    @label={{t "status"}}
                  />
                  <th class="auk-table__col--1"></th>
                </c.header>
                <c.body class="auk-table--clickable-rows" as |row|>
                  <td>
                    {{#if row.urgent}}
                      <Auk::Icon @skin="warning" @name="alert-triangle" />
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                  <td data-test-route-search-publication-row-number>
                    {{row.identification}}
                  </td>
                  <td>
                    <p>
                      {{#if row.shortTitle}}
                        {{row.shortTitle}}
                      {{else}}
                        {{row.title}}
                      {{/if}}
                    </p>
                  </td>
                  <td>
                    {{#if row.numacNumbers.length}}
                      {{join ", " (sort row.numacNumbers)}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  </td>
                  <td>
                    {{moment-format row.openingDate}}
                  </td>
                  <td>
                    <Auk::StatusPill
                      @step={{row.statusPillStep}}
                      @status={{row.statusPillKey}}
                    >
                      {{row.status.label}}
                    </Auk::StatusPill>
                  </td>
                  <td class="auk-u-text-align--right">
                    <AuLink
                      @skin="button-naked"
                      @icon="chevron-right"
                      @hideText={{true}}
                      @route="publications.publication.index"
                      @model={{row.id}}
                    >
                      {{t "open"}}
                    </AuLink>
                  </td>
                </c.body>
              </table.content>
            </DataTable>
          {{else}}
            <Auk::EmptyState
              @bordered={{true}}
              @message={{t "no-results-found-modify-term"}}
            />
          {{/if}}
        </div>
      </m.content>
    </AuMainContainer>
  </div>
</div>