<div class="auk-u-maximize-height auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <KDataTable data-test-route-publications-overview-shortlist-table @content={{@model}} @enablePagination={{false}}>
      <:header>
        <th class="auk-table__col--1">{{t "agendaitem-field-label"}}</th>
        <th class="auk-table__col--7">{{t "document-name"}}</th>
        <th class="auk-table__col--1">{{t "document-type"}}</th>
        <th class="auk-table__col--1">{{t "minister"}}</th>
        <Utils::ThSortable
          class="auk-table__col--1"
          @currentSorting={{this.sortShortlist}}
          @field="agendaitems.treatment.decision-activity.start-date,agendaitems.number"
          @onChange={{this.changeSort}}
          @label={{t "decision-date"}}
        />
        <th class="auk-table__col--1 u-hide-on-print"></th>
      </:header>
      <:body as |row|>
        <Publications::Shortlist::PublicationsTableRow
          @row={{row}}
          @openNewPublicationModal={{this.openNewPublicationModal}}
        />
      </:body>
    </KDataTable>
  </div>
</div>
{{#if this.isOpenNewPublicationModal}}
  <Publications::NewPublicationModal
    @agendaitem={{this.agendaitemForPublication}}
    @decisionActivity={{this.decisionActivityForPublication}}
    @onSave={{this.saveNewPublication}}
    @onCancel={{this.closeNewPublicationModal}}
  />
{{/if}}
