<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-ml-4">
      <table
        data-test-route-publications-index-data-table
        class="auk-table auk-table--sticky-header"
      >
        <thead>
          <tr>
            <Utils::ThSortable
              data-test-route-publications-index-th={{column.keyName}}
              class="auk-u-min-width-medium"
              @currentSorting={{@sort}}
              @field={{column.sortKey}}
              @onChange={{@onSortChange}}
              @label="Documentnaam"
            />
            <Utils::ThSortable
              data-test-route-publications-index-th={{column.keyName}}
              class="auk-u-min-width-small"
              @currentSorting={{@sort}}
              @field={{column.sortKey}}
              @onChange={{@onSortChange}}
              @label="Type document"
            />
            <Utils::ThSortable
              data-test-route-publications-index-th={{column.keyName}}
              class="auk-u-min-width-small"
              @currentSorting={{@sort}}
              @field={{column.sortKey}}
              @onChange={{@onSortChange}}
              @label="Minister"
            />
            <Utils::ThSortable
              data-test-route-publications-index-th={{column.keyName}}
              class="auk-u-min-width-small"
              @currentSorting={{@sort}}
              @field={{column.sortKey}}
              @onChange={{@onSortChange}}
              @label="Datum beslissing"
            />
            <th class="auk-u-min-width-small">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="#!">Documentnaam</a>
            </td>
            <td class="au-u-text-left">
              <AuPill @size="small">BVR</AuPill>
            </td>
            <td>
              Minister
            </td>
            <td>
              18-11-2022
            </td>
            <td class="au-u-text-right">
              <AuButton @skin="naked" @icon="add" {{on "click" this.modal}}>Nieuwe publicatie</AuButton>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#!">Documentnaam</a>
            </td>
            <td class="au-u-text-left">
              <AuPill>BVR</AuPill>
            </td>
            <td>
              Minister
            </td>
            <td>
              18-11-2022
            </td>
            <td class="au-u-text-right">
              <AuButton @skin="naked" @icon="add" {{on "click" this.modal}}>Nieuwe publicatie</AuButton>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#!">Documentnaam</a>
            </td>
            <td class="au-u-text-left">
              <AuPill>BVR</AuPill>
            </td>
            <td>
              Minister
            </td>
            <td>
              18-11-2022
            </td>
            <td class="au-u-text-right">
              <AuButton @skin="naked" @icon="add" {{on "click" this.modal}}>Nieuwe publicatie</AuButton>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#!">Documentnaam</a>
            </td>
            <td class="au-u-text-left">
              <AuPill>BVR</AuPill>
            </td>
            <td>
              Minister
            </td>
            <td>
              18-11-2022
            </td>
            <td class="au-u-text-right">
              <AuButton @skin="naked" @icon="add" {{on "click" this.modal}}>Nieuwe publicatie</AuButton>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#!">Documentnaam</a>
            </td>
            <td class="au-u-text-left">
              <AuPill>BVR</AuPill>
            </td>
            <td>
              Minister
            </td>
            <td>
              18-11-2022
            </td>
            <td class="au-u-text-right">
              <AuButton @skin="naked" @icon="add" {{on "click" this.modal}}>Nieuwe publicatie</AuButton>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="auk-u-px-4 auk-u-border-top">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-pagination">
          <ul class="auk-pagination__list">
            <li class="auk-pagination__element">
              <p><strong>1-5</strong> van 5</p>
            </li>
          </ul>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#if this.showModal}}
<Publications::NewPublicationModal
  @onCancel={{this.modal}}
  @onSave={{this.modal}}
/>
{{/if}}