{{#if (await item.signedDocument)}}
  {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
    document=(await item.signedDocument)
    item=(await item.signedDocument)
  }}
{{else}}
  <button
    class="vl-button vl-button--tertiary vl-button--narrow"
    {{action "toggleIsAddingNewDocument"}}
  >
    {{title}}
  </button>
{{/if}}
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "toggleIsAddingNewDocument")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      {{file-uploader isLoading=isLoading uploadedFile=(action "uploadedFile")}}
      {{#if (not isLoading)}}
        {{#each uploadedFiles as |uploadedFile|}}
          {{web-components/vl-uploaded-document
            multipleFiles=false
            file=uploadedFile
            showMetadata=false
            subcase=(await item)
            uploadedFiles=uploadedFiles
          }}
        {{/each}}
      {{else}}
        {{web-components/vl-loader text="De documenten worden opgeladen.."}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "toggleIsAddingNewDocument")
      saveAction=(action "uploadNewDocument")
    }}
  {{/web-components/vl-modal}}
{{/if}}