{{#if (await item.signedDocument)}}
  {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
    document=(await item.signedDocument)
    item=(await item.signedDocument)
  }}
{{else if (await item)}}
  {{#if isEditor}}
    <button
      class="vl-button vl-button--tertiary vl-button--narrow"
      {{action "toggleIsAddingNewDocument"}}
    >
      {{title}}
    </button>
  {{/if}}
{{/if}}
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "toggleIsAddingNewDocument")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      {{#if (eq documentsInCreation.length 0)}}
        {{file-uploader
          isLoading=isLoading
          multipleFiles=false
          uploadedFile=(action "uploadedFile")
        }}
      {{/if}}
      {{#if (not isLoading)}}
        <div class="upload-container">
          {{#each documentsInCreation as |document|}}
            {{ember-kaleidos-webuniversum/vl-uploaded-document
              name=document.lastDocumentVersion.file.filename
              extension=document.lastDocumentVersion.file.extension
              size=document.lastDocumentVersion.file.size
              downloadName=document.lastDocumentVersion.file.filename
              downloadLink=(concat
                document.lastDocumentVersion.file.downloadLink
                "?name="
                document.lastDocumentVersion.file.filename
              )
              delete=(action "delete" document)
            }}
          {{/each}}
        </div>
      {{else}}
        {{web-components/vl-loader text=(t "documents-uploading-text")}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "document-add")
      cancelAction=(action "toggleIsAddingNewDocument")
      saveAction=(action "uploadNewDocument")
      disableSave=(eq documentsInCreation.length 0)
    }}
  {{/web-components/vl-modal}}
{{/if}}