<button
  class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
  {{action "toggleIsAddingNewDocument"}}
>
  <i
    class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
    aria-hidden="true"
  ></i>
  {{t "signed-document-version-add"}}
</button>
<div class="vl-u-spacer">
  <div class="vl-u-display-flex vl-u-flex-align-center">
    <p>
      {{await item.latestDocumentVersion.versionNumber}}
      .
      {{await item.latestDocumentVersion.nameToDisplay}}
    </p>
    <button
      class="vl-button vl-button--link vl-button--icon"
      {{action "downloadFile" (await item.latestDocumentVersion)}}
    >
      <i class="vl-button__icon vl-vi vl-vi-move-down"></i>
    </button>
  </div>
  <p class="vl-u-text--small vl-u-text--muted">
    Geupload op
    {{moment-format (await item.latestDocumentVersion.created) "DD.MM.YYYY"}}
    om
    {{moment-format (await item.latestDocumentVersion.created) "HH:mm"}}
  </p>
</div>
{{!-- {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
    document=item.document
    item=agendaitem
  }} --}}
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "toggleIsAddingNewDocument")
    isOverlay=true
    large=true
    title=(t "document-add")
  }}
    <div class="vl-modal-dialog__content">
      <div class="vlc-input-field-block">
        {{#if (not (gt uploadedFiles.length 0))}}
          {{web-components/vl-form-label value="Bijlagen"}}
          {{file-uploader
            multipleFiles=false
            uploadedFile=(action "uploadedFile")
          }}
        {{else}}
          {{subcases/edit-documents uploadedFiles=uploadedFiles}}
        {{/if}}
      </div>
    </div>
    <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--link vl-button--narrow"
              {{action "toggleIsAddingNewDocument"}}
            >
              {{t "cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--narrow"
              {{action "uploadNewDocument"}}
            >
              {{t "document-add"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/web-components/vl-modal}}
{{/if}}