{{#if this.isInEditMode}}
<Auk::Panel class="auk-panel--editing">
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            Publicatie info
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="auk-o-grid">
      <div class="auk-o-grid-col-3">
        <div
          class="auk-form-group"
        >
          <Auk::Label>{{t "publication-target-end-date"}}</Auk::Label>
          <Auk::Datepicker
            @date={{this.publicationSubcase.targetEndDate}}
            @onChange={{this.setPublicationTargetEndDate}}
          />
        </div>
      </div>
      <div class="auk-o-grid-col-3">
        <div
          data-test-publication-sidebar-publication-mode
          class="auk-form-group"
        >
          <Auk::Label for="blockInput">
            {{t "kind-of-publication"}}
          </Auk::Label>
          <PowerSelect
            @options={{this.publicationModes}}
            @searchEnabled={{false}}
            @onchange={{this.setPublicationMode}}
            @selected={{this.publicationFlow.mode}}
            as |mode|
          >
            {{mode.label}}
          </PowerSelect>
        </div>
      </div>
    </div>
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="borderless"
            @disabled={{this.save.isRunning}}
            {{on "click" this.cancelEdit}}>
            {{t "cancel"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @loading={{this.save.isRunning}}
            {{on "click" this.cancelEdit}}>
            {{t "save"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>
{{else}}
<Auk::Panel>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            Publicatie info
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button @skin="tertiary" @icon="pencil" @layout="icon-only" {{on "click" this.putInEditMode}} />
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="auk-o-grid">
      <div class="auk-o-grid-col-3 auk-content">
        <h4 class="auk-u-m-0">{{t "publication-target-end-date"}}</h4>
        <p class="auk-u-m-0">
          {{#if this.publicationSubcase.targetEndDate}}
          {{moment-format this.publicationSubcase.targetEndDate "DD-MM-YYYY"}}
          {{else}}
          -
          {{/if}}
        </p>
      </div>
      <div class="auk-o-grid-col-3 auk-content">
        <h4 class="auk-u-m-0">{{t "kind-of-publication"}}</h4>
        <p class="auk-u-m-0">
          {{this.publicationFlow.mode.label}}
        </p>
      </div>
    </div>
  </Auk::Panel::Body>
</Auk::Panel>
{{/if}}