{{#if (await documentContainers)}}
  <div class="vl-u-spacer">
    <table class="vl-data-table vl-data-table--align-middle">
      <thead>
        <tr>
          <th class="vl-data-table-col-4">
            {{web-components/vl-form-label
              value=(t "document-name")
            }}
          </th>
          <th class="vl-data-table-col-3">
            {{web-components/vl-form-label
              value=(t "file-type")
            }}
          </th>
          <th class="vl-data-table-col-3">
            {{web-components/vl-form-label
              value=(t "publicity")
            }}
          </th>
          <th class="vl-data-table-col-1">
            {{web-components/vl-form-label
              value=(t "confidential")
            }}
          </th>
          <th class="vl-data-table-col-1"></th>
        </tr>
      </thead>
      <tbody>
        {{#each (await documentContainers) as |documentContainer|}}
          {{#if
            (and (not documentContainer.deleted) (await documentContainer.lastPiece))
          }}
            {{edit-piece
              documentContainer=documentContainer
              agendaitemOrSubcaseOrMeeting=agendaitemOrSubcaseOrMeeting
            }}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="vl-action-group vl-action-group--align-right">
    <a href="" class="vl-link" {{action "cancelEditing"}}>
      {{t "cancel"}}
    </a>
    {{web-components/vl-save-button
      text=(t "save")
      isLoading=isLoading
      saveAction=(action "saveChanges")
    }}
  </div>
{{/if}}
