<div class="auk-u-mr-2">
  <div class="vl-badge vl-badge--icon vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
  >
    <i class="vl-badge__icon ki-user" aria-hidden="true"></i>
  </div>
</div>
<div>
  <div class="vlc-minister-item__title">
    <h6 class="auk-h4">
      <p>
        {{await titleToShow}}
        {{if submitter (t "submitted-by") }}
      </p>
    </h6>
  </div>
  {{#if (gt fields.length 0)}}
    <div class="js-vl-accordion js-vl-accordion--open" data-test-mandatee-link-fields-show>
      <button type="button" class="vl-toggle vl-link vl-link--bold"
        {{action "toggleShowDetails"}}
      >
        <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"
           aria-hidden="true"
        ></i>
        {{t "collapse"}}
      </button>
      {{#if showDetails}}
        <div class="vl-accordion__content js-vl-accordion__content">
          <div class="vl-accordion__panel">
            <div class="auk-content">
              <ul>
                {{#each fields as |field|}}
                  <li>
                    {{field.label}}
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>