<div class="auk-u-flex--justify-between">
  <button type="button" class="vl-button vl-button--link vl-button--icon">
    <i class="vl-button__icon ki-pencil"></i>
  </button>
  {{#if (not (is-pending (await row.nota)))}}
    {{#if (not (await row.nota))}}
      <button type="button" class="vl-button vl-button--link vl-button--icon"
              style="opacity:0.3;"
        {{action "openDocument" row bubbles=false}}
      >
        <i class="vl-button__icon ki-document"></i>
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{t "no-nota"}}
        </EmberTooltip>
      </button>
    {{else}}
      <button type="button" class="vl-button vl-button--link vl-button--icon"
        {{action "openDocument" row bubbles=false}}
      >
        <i class="vl-button__icon ki-document"></i>
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{t "open-nota"}}
        </EmberTooltip>
      </button>
    {{/if}}
  {{else}}
    <div class="vl-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{/if}}
  {{#link-to
    data-test-link-to-subcase-overview
    "agenda.agendaitems.agendaitem"
    (await latestMeetingId)
    (await latestAgendaId)
    (await latestAgendaitemId)
    target="_blank"
    bubbles=false
    class="vl-button vl-button--link vl-button--icon"
  }}
    <i class="vl-button__icon ki-nav-right"></i>
  {{/link-to}}
</div>

