{{#if @icon}}

  {{#unless @layout}}
    <Icon @name={{@icon}} />
    <div class="vlc-button__label">
      {{yield}}
    </div>
  {{/unless}}

  {{#if (eq @layout "icon-only")}}
    <Icon @name={{@icon}} />
    <span class="u-sr-only">{{yield}}</span>
  {{/if}}

  {{#if (eq @layout "icon-right")}}
    <div class="vlc-button__label">
      {{yield}}
    </div>
    <Icon @name={{@icon}} />
  {{/if}}

{{else}}

  {{yield}}

{{/if}}
