<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title">
            {{t "publications"}}
          </h4>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          <AuButton
            data-test-route-publications---publication-activities-register
            @skin="secondary"
            @icon="plus"
            @disabled={{this.isRegistrationDisabled}}
            {{on "click" this.openRegistrationModal}}
          >
            {{t "publication-publication-register-action"}}
          </AuButton>
        </Group.Item>
        <Group.Item>
          <AuButton
            data-test-route-publications---publication-activities-request
            @skin="primary"
            @icon="plus"
            @disabled={{this.isRequestDisabled}}
            {{on "click" this.openRequestModal}}
          >
            {{t "publication-publication-request-action"}}
          </AuButton>
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>

  <Auk::Panel::Body class="auk-u-bg-alt">
    {{#each this.model as |event|}}
      {{#if event.isShown}}
        {{#if event.isRequestActivity}}
          <Utils::Timeline::Event
            @badgeIcon="mail"
            @badgeSkin="action"
            @event={{event}}
            as |event|
          >
            <Publications::Publication::RequestActivityPanel
              @title={{t "requested-publication"}}
              @requestActivity={{event.activity}}
              @isDisabledDelete={{event.activity.publicationActivity.isFinished}}
              @onDeleteRequest={{perform this.deleteRequest event.activity}}
            />
          </Utils::Timeline::Event>
        {{else if event.isPublicationActivity}}
          <Utils::Timeline::Event
            @badgeIcon="check"
            @badgeSkin="success"
            @event={{event}}
            as |event|
          >
            <Publications::Publication::PublicationActivities::PublicationRegisteredPanel
              @publicationActivity={{event.activity}}
              @onEditPublicationActivity={{this.editPublication}}
            />
          </Utils::Timeline::Event>
        {{/if}}
      {{/if}}
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "publication-empty"}} />
    {{/each}}
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenRequestModal}}
  <Publications::Publication::PublicationActivities::PublicationRequestModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveRequest}}
    @onCancel={{this.closeRequestModal}}
  />
{{/if}}

{{#if this.isOpenRegistrationModal}}
  <Publications::Publication::PublicationActivities::PublicationRegistrationModal
    @onSave={{perform this.registerPublication}}
    @onCancel={{this.closeRegistrationModal}}
  />
{{/if}}