{{#each @pieces as |piece|}}
  <div class="vlc-procedure-step vlc-procedure-step--nopadding">
    <div class="vlc-procedure-step__badge-wrapper">
      <AuBadge
        @icon="document"
        @skin="action"
        class="au-c-badge--medium"
      />
    </div>
    <div>
      <Publications::Documents::DocumentCardStep
        @piece={{piece}}
        @isEnabledDelete={{or
          (not @isViaCouncilOfMinisters)
          (and @isViaCouncilOfMinisters (not piece.accessLevel))
        }}
        @onDelete={{fn @onDeletePiece piece}}
      />
    </div>
  </div>
{{else}}
  <div class="vlc-procedure-step vlc-procedure-step--nopadding">
    <div class="vlc-procedure-step__badge-wrapper">
      <AuBadge
        @icon="circle-info"
        @skin="action"
        class="au-c-badge--medium"
      />
    </div>
    <div>
      <p class="auk-u-m-4">
        {{t "no-documents-yet"}}
      </p>
    </div>
  </div>
{{/each}}