<Auk::Panel
  data-test-document-card-step
  class={{if this.deletePiece.isRunning "vlc-document--deleted-state"}}
>
  <Auk::Panel::Body>
    <div class="vlc-document-card vlc-document-card--borderless">
      <div class="vlc-document-card__content">
        <Auk::Toolbar @auto={{true}} as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item class="auk-u-maximize-width">
              <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
                <span class="auk-overline">
                  {{@piece.documentContainer.type.label}}
                </span>
              </div>
              <LinkTo @route="document" @model={{@piece.id}} class="auk-h4">
                {{@piece.name}}{{#if @piece.file}}.{{@piece.file.extension}}{{/if}}
              </LinkTo>
              <div class="vlc-document-card-content__meta">
                {{#if @piece.receivedDate}}
                  {{t "received-at"}}
                  {{date @piece.receivedDate}}
                {{/if}}
              </div>
            </Group.Item>
          </Toolbar.Group>
          <Toolbar.Group @position="right" as |Group|>
            <Group.Item class="auk-o-flex">
              {{#if (and @isEnabledDelete @piece.file)}}
                <AuDropdown
                  @icon="three-dots"
                  @title={{t "more"}}
                  @hideText={{true}}
                  @alignment="right"
                >
                  <AuButton
                    @skin="link"
                    @alert={{true}}
                    {{on "click" (perform this.deletePiece)}}
                    role="menuitem"
                  >
                    {{t "document-delete"}}
                  </AuButton>
                </AuDropdown>
              {{/if}}
            </Group.Item>
          </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          <Group.Item class="auk-o-flex">
              {{#if this.signMarkingActivity}}
                <Group.Item>
                  <SignaturePill
                    @piece={{@piece}}
                    @signMarkingActivity={{this.signMarkingActivity}}
                  />
                </Group.Item>
              {{/if}}
          </Group.Item>
        </Toolbar.Group>
        </Auk::Toolbar>
      </div>
    </div>
  </Auk::Panel::Body>
</Auk::Panel>