<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "upload-reference-document" identifier=@publicationFlow.identification.idName}}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      <Auk::FileUploader @onUpload={{this.createPiece}} />

      {{! File details }}
      {{#if this.piece}}
        <div class="auk-u-mt-4">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-11">
              <div
                class="auk-form-group-layout auk-form-group-layout--horizontal"
              >
                <div class="auk-form-group {{this.validators.name.errorClass}}">
                  <Auk::Label for="referenceDocumentUpload_name" @required={{true}}>
                    {{t "name"}}
                  </Auk::Label>
                  <div
                    data-test-reference-document-upload-name
                    id="referenceDocumentUpload_name">
                    {{this.piece.name}}
                  </div>
                </div>
                <div class="auk-form-group">
                  <Auk::Label>{{t "file-type"}}</Auk::Label>
                  <Utils::Documents::FileTypePill
                    @extension={{this.piece.file.extension}}
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <Auk::Button
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>