<ul class="vl-tabs vl-u-reset-margin" {{ did-update this.checkExistance this.agendaitem}}>
  <li class="vl-tab"  data-test-agenda-agendaitem-tab="agendaitem-case">
    <LinkTo
      class="vl-tab__link"
      @route="agenda.agendaitems.agendaitem.index"
      @activeClass="active"
    >
      {{capitalize (t "case")}}
    </LinkTo>
  </li>
  <li class="vl-tab" data-test-agenda-agendaitem-tab="documents">
    <LinkTo
      class="vl-tab__link"
      @route="agenda.agendaitems.agendaitem.documents"
      @activeClass="active"
    >
      {{capitalize (t "documents")}}
    </LinkTo>
  </li>
  {{#if (not this.agendaitem.isApproval) }}
    {{#if
      (or
        this.currentSession.isEditor
        (and @meetingIsConcluded this.decisionsExist)
      )
    }}
      <li class="vl-tab" data-test-agenda-agendaitem-tab="agendaitem-decision">
        <LinkTo
          class="vl-tab__link"
          @route="agenda.agendaitems.agendaitem.decisions"
          @activeClass="active"
        >
          {{capitalize (t "decision")}}
        </LinkTo>
      </li>
    {{/if}}
    {{#if
      (or
      this.currentSession.isEditor
      (and @meetingIsConcluded this.meetingMinutesExist))
    }}
      <li class="vl-tab" data-test-agenda-agendaitem-tab="agendaitem-notes">
        <LinkTo
          class="vl-tab__link"
          @route="agenda.agendaitems.agendaitem.minutes"
          @activeClass="active"
        >
          {{capitalize (t "meeting-minutes")}}
        </LinkTo>
      </li>
    {{/if}}
    {{#if
      (or
      this.currentSession.isEditor
      (and @meetingIsConcluded this.newsItemExists))
    }}
      <li class="vl-tab" data-test-agenda-agendaitem-tab="agendaitem-bestek">
        <LinkTo
          class="vl-tab__link"
          @route="agenda.agendaitems.agendaitem.news-item"
          @activeClass="active"
        >
          {{capitalize (t "newsletter")}}
        </LinkTo>
      </li>
    {{/if}}
    {{#if
      (or
      this.currentSession.isEditor
      (and @meetingIsConcluded this.pressAgendaitemExists))
    }}
      <li class="vl-tab" data-test-agenda-agendaitem-tab="agendaitem-press-agenda">
        <LinkTo
          class="vl-tab__link"
          @route="agenda.agendaitems.agendaitem.press-agenda"
          @activeClass="active"
        >
          {{capitalize (t "agendaitem-press-agenda")}}
        </LinkTo>
      </li>
    {{/if}}
  {{/if}}
</ul>