<Auk::Modal @size="small">
  <Auk::Modal::Header
    @title={{t "agenda-publish-planned"}}
    @onClose={{@onCancel}}
    @closeDisabled={{this.save.isRunning}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{or this.ensureFreshData.isRunning this.save.isRunning}}
      @reserveSpace={{true}}
    >
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group">
          <Auk::Label>
            {{t "agenda-publication-internal-documents-question"}}
          </Auk::Label>
          <div class="auk-o-flex">
            <WebComponents::VlDatepicker
              class="auk-o-flex__item"
              @enableTime={{true}}
              @date={{array this.documentPublicationPlannedDate}}
              @dateChanged={{this.setDocumentPublicationDatePicker}}
              @disabled={{this.isDisabledDocumentPublication}}
            />
            <Auk::Button
              data-test-publication-planning-release-documents-now
              class="auk-u-ml-2"
              disabled={{this.isDisabledDocumentPublication}}
              {{on "click" this.setDocumentPublicationDateNow}}
            >
              {{t "now"}}
            </Auk::Button>
          </div>
        </div>
        <div class="auk-form-group">
          <Auk::Label>
            {{t "agenda-publication-website-question"}}
          </Auk::Label>
          <div class="auk-o-flex">
            <WebComponents::VlDatepicker
              class="auk-o-flex__item"
              @enableTime={{true}}
              @date={{array this.themisPublicationPlannedDate}}
              @dateChanged={{this.setThemisPublicationDatePicker}}
              @disabled={{this.isDisabledThemisPublication}}
            />
            <Auk::Button
              class="auk-u-ml-2"
              disabled={{this.isDisabledThemisPublication}}
              {{on "click" this.setThemisPublicationDateNow}}
            >
              {{t "now"}}
            </Auk::Button>
          </div>
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{@onCancel}}
    @cancelDisabled={{this.save.isRunning}}
  >
    <Auk::Button
      data-test-publication-planning-release-documents-confirm
      @skin="primary"
      @disabled={{this.isDisabledSave}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "confirm"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>