<Auk::Modal @size="large">
  <Auk::Modal::Header
    @title={{if this.isNew (t "new-agenda") (t "edit-meeting")}}
    @onClose={{@onCancel}}
    @closeDisabled={{this.cancelIsDisabled}}
  />
  <Auk::Modal::Body>
    <Utils::KindSelector
      @onChange={{this.selectKind}}
      @selectedKind={{this.selectedKind}}
      @isLoading={{this.initializeKind.isRunning}}
    />
    {{#if this.isAnnexMeeting}}
      <div class="auk-u-mb-2">
        <div class="auk-form-group">
          <Auk::Label>
            {{t "related-main-meeting-field-label"}}
          </Auk::Label>
          <Utils::ModelSelector
            data-test-edit-meeting-related-main-meeting
            @modelName="meeting"
            @searchField="number-representation"
            @sortField="-planned-start"
            @selected={{this.selectedMainMeeting}}
            @onChange={{this.selectMainMeeting}}
            @filterOptions={{fn this.filterMainMeetingResults @meeting}}
            @isLoading={{this.initializeMainMeeting.isRunning}}
            as |model|
          >
            {{kind-print-label model.kind}}
            {{t "of"}}
            {{date model.plannedStart}}
            ({{model.numberRepresentation}})
          </Utils::ModelSelector>
        </div>
      </div>
    {{else}}
      <div class="auk-u-mb-2">
        <div class="auk-form-group" data-test-edit-meeting-datepicker>
          <Auk::Label>{{t "start-date"}}</Auk::Label>
          <Auk::Datepicker
            @enableTime={{true}}
            @date={{this.startDate}}
            @onChange={{this.setStartDate}}
          />
        </div>
      </div>
    {{/if}}
    {{!Publicatiedatum}}
    <div class="auk-u-mb-2">
      <div
        data-test-edit-meeting-document-publication-date
        class="auk-form-group"
      >
        <Auk::Label>
          {{t "date-publication-documents"}}
        </Auk::Label>
        <Auk::Datepicker
          @enableTime={{true}}
          @date={{this.plannedDocumentPublicationDate}}
          @onChange={{set this "plannedDocumentPublicationDate"}}
          @disabled={{this.isDisabledPlannedDocumentPublicationDate}}
        />
        <Auk::FormHelpText
          @icon="circle-info"
          @text={{t "agenda-publication--publication-date--help"}}
        />
      </div>
    </div>
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>
          {{t "meeting-number"}}
        </Auk::Label>
        <div class="auk-o-flex">
          {{#unless this.isAnnexMeeting}}
            <AuInput
              data-test-edit-meeting-meeting-number
              @type="number"
              @value={{this.meetingNumber}}
              @disabled={{this.initializeMeetingNumber.isRunning}}
              id="meetingNumberInput"
              class="auk-input-group--w-medium auk-u-mr-2"
              {{! TODO: replace `auk-input-group--w-medium` with matching @width argument when it is implemented }}
            />
          {{/unless}}
          <div class="auk-o-flex__item">
            <div
              data-test-edit-meeting-number-representation-view
              class="auk-u-text-line-height--xsmall"
            >
              {{this.numberRepresentation}}
            </div>
            {{! TODO: this button needs to be displayed in a smaller size }}
            <AuButton
              data-test-edit-meeting-number-representation-edit
              class="auk-u-p-0"
              @skin="link"
              @icon="pencil"
              @disabled={{this.initializeMeetingNumber.isRunning}}
              {{on "click" this.toggleEditingNumberRepresentation}}
            >
              {{t "edit"}}
            </AuButton>
          </div>
        </div>
      </div>
      {{#if this.isEditingNumberRepresentation}}
        <div class="auk-o-flex">
          <AuInput
            data-test-edit-meeting-number-representation-input
            @value={{this.numberRepresentation}}
            class="auk-input-group--w-medium auk-u-mr-2"
            {{! TODO: replace `auk-input-group--w-medium` with matching @width argument when it is implemented }}
          />
          <AuButton
            data-test-edit-meeting-number-representation-save
            @skin="primary"
            {{on "click" this.toggleEditingNumberRepresentation}}
          >
            {{t "save"}}
          </AuButton>
        </div>
      {{/if}}
    </div>
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>
          {{t "secretary-for-meeting"}}
        </Auk::Label>
        <Mandatees::MandateeSelector
          @onSelectMandatee={{fn (mut this.secretary)}}
          @selectedMandatees={{this.secretary}}
          @visibleRoles={{this.visibleRoles}}
        />
      </div>
    </div>
    {{#unless this.isAnnexMeeting}}
      <div class="auk-u-mb-2">
        <div class="auk-form-group">
          <Auk::Label>
            {{t "meeting-location"}}
          </Auk::Label>
          <AuInput
            data-test-edit-meeting-meeting-location
            @width="block"
            @value={{this.extraInfo}}
          />
        </div>
      </div>
    {{/unless}}
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}} @cancelDisabled={{this.cancelIsDisabled}}>
    <AuButton
      data-test-edit-meeting-save
      @skin="primary"
      @disabled={{this.savingIsDisabled}}
      @loading={{this.saveMeeting.isRunning}}
      {{on "click" (perform this.saveMeeting)}}
    >
      {{#if this.isNew}}
        {{t "add"}}
      {{else}}
        {{t "edit"}}
      {{/if}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
