{{#if this.textTooLong}}
  <div class="auk-o-flex">
    {{#if (has-block)}}
      {{yield this.abbreviatedText}}
    {{else}}
      {{this.abbreviatedText}}
    {{/if}}
    <Auk::ButtonLink
      @icon="circle-three-dots"
      @skin="muted"
      @layout="icon-only"
      class="auk-o-flex--vertical-center"
    >
      <:floater>
        <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
          <p>
            {{@text}}
          </p>
        </EmberTooltip>
      </:floater>
    </Auk::ButtonLink>
  </div>
{{else}}
  {{#if (has-block)}}
    {{yield @text}}
  {{else}}
    {{@text}}
  {{/if}}
{{/if}}