{{#if this.textTooLong}}
  <div class="auk-o-flex">
    {{#if (has-block)}}
      {{yield this.abbreviatedText}}
    {{else}}
      {{this.abbreviatedText}}
    {{/if}}
    <WebComponents::AuButtonLink
      @icon="circle-more"
      @skin="mute"
      @layout="icon-only"
      class="auk-o-flex--vertical-center"
    />
    <EmberTooltip @tooltipClass="auk-tooltip">{{@text}}</EmberTooltip>
  </div>
{{else}}
  {{#if this.isCustom}}
    {{yield @text}}
  {{else}}
    {{@text}}
  {{/if}}
{{/if}}