<div class="auk-alert {{this.skin}}" ...attributes>
  <div class="auk-alert__body">
    <Auk::Badge @icon="{{this.icon}}" @skin={{@skin}} @size={{@size}} />
    <div class="auk-alert__text">
      {{#if @title}}
        <p class="auk-alert__title">{{@title}}</p>
      {{/if}}
      <p class="auk-alert__message">{{@message}}</p>
    </div>
  </div>
  {{#if @isClosable}}
    <Auk::Button @skin="muted-borderless" @icon="close" @layout="icon-only" @size={{@size}}>{{t "cancel"}}</Auk::Button>
  {{/if}}
</div>