<AuCheckboxGroup ...attributes> {{!-- Just use the group component here as a styling method as also using the included functionality would unnecessarily overcomplicate things --}}
  <AuCheckbox
    @checked={{this.isSelectedAllItems}}
    @indeterminate={{and (not this.isSelectedAllItems) this.isSelectedSomeItems}}
    @disabled={{@disabled}}
    @onChange={{this.toggleTree}}
  >
    <span class="au-u-medium">{{@label}}</span>
  </AuCheckbox>
  <AuCheckboxGroup
    @selected={{this.selectedItems}}
    @onChange={{this.toggleItem}}
    class={{this.layoutClass}}
    as |Group|
  >
    {{#each @items as |item|}}
      <Group.Checkbox
        @value={{item}}
        @disabled={{@disabled}}
      >
        {{get item this.itemStructure.label}}
      </Group.Checkbox>
    {{/each}}
  </AuCheckboxGroup>
</AuCheckboxGroup>