<Auk::CheckboxList>
  <Auk::Checkbox
    @label={{@label}}
    @labelSkin="bold"
    @checked={{this.isSelectedAllItems}}
    @indeterminate={{and (not this.isSelectedAllItems) this.isSelectedSomeItems}}
    @disabled={{@disabled}}
    {{on "input" this.toggleTree}}
  />
  <div class="auk-u-ml-2">
    {{#each @items as |item|}}
      <Auk::Checkbox
        @label={{item.label}}
        @checked={{includes item this.selectedItems}}
        @disabled={{@disabled}}
        {{on "input" (fn this.toggleItem item)}}
      />
    {{/each}}
  </div>
</Auk::CheckboxList>