<Auk::CheckboxList>
  <AuControlCheckbox
    @checked={{this.isSelectedAllItems}}
    @indeterminate={{and (not this.isSelectedAllItems) this.isSelectedSomeItems}}
    @disabled={{@disabled}}
    @onChange={{this.toggleTree}}
  >
    <span class="au-u-medium">{{@label}}</span>
  </AuControlCheckbox>
  <Auk::CheckboxList>
    {{#each @items as |item|}}
      <AuControlCheckbox
        @label={{get item this.itemStructure.label}}
        @checked={{includes item this.selectedItems}}
        @disabled={{@disabled}}
        @onChange={{fn this.toggleItem item}}
      />
    {{/each}}
  </Auk::CheckboxList>
</Auk::CheckboxList>