<label class="auk-checkbox">
  <input
    class="auk-checkbox__toggle"
    ...arguments
    type="checkbox"
    name={{@name}}
    checked={{@checked}}
    onChange={{@toggle}}
  />
  <span>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@label}}
    {{/if}}
  </span>
  <span class="auk-checkbox__box"></span>
</label>