<div class="auk-checkbox-list {{this.layout}}" ...attributes>
  {{#if @checkable}}
    <Auk::Checkbox
      @label={{@label}}
      @labelSkin="bold"
      @checked={{@checked}}
      disabled={{@disabled}}
      {{on "input" @onToggle}}
    />
    <div class="auk-u-ml-2">
      {{yield}}
    </div>
  {{else}}
    {{yield}}
  {{/if}}
</div>