<FileDropzone
  @queue={{this.fileQueue}}
  @multiple={{@multiple}}
  @filter={{this.validateFile}}
  class="auk-file-upload {{if this.uploadIsRunning "auk-file-upload--gray-100"}} {{if this.uploadIsCompleted "auk-file-upload--success"}} {{if @fullHeight "auk-file-upload--full-height"}}"
  as |dropzone|
>
  {{!-- Note that "@multiple" has been deprecated, but still works in v 5.x.x beta --}}
  {{!-- template-lint-disable require-input-label --}}
  <input
    type="file"
    disabled={{or this.uploadIsRunning (and this.uploadIsCompleted (not @reusable))}}
    multiple={{@multiple}}
    {{this.fileQueue.selectFile filter=this.validateFile}}
  >
  {{!-- template-lint-enable require-input-label --}}
  <div class="auk-file-upload__content">
    {{#if (and (not this.uploadIsRunning) (and this.uploadIsCompleted @reusable))}}
      <AuButton
        class="auk-button--redo"
        @skin="naked"
        @icon="redo"
        @hideText={{true}}
        {{on "click" this.clickInput}}
        {{on "key-up" this.clickInputOnEnter}}
      >
        {{t "redo"}}
      </AuButton>
    {{/if}}
    <div class="auk-u-mb-2">
      {{#if (and (not this.uploadIsRunning) (not this.uploadIsCompleted))}}
        <AuButton
          class="auk-file-upload__action-button"
          tabindex="-1"
          @skin="secondary"
          @icon="paperclip"
          {{on "click" this.clickInput}}
          {{on "key-up" this.clickInputOnEnter}}
        >
          {{t "upload-files" numFiles=(if @multiple "multiple" "one")}}
        </AuButton>
      {{else if this.uploadIsRunning}}
        {{t "uploading-files" numFiles=this.fileQueue.files.length}}
      {{else if this.uploadIsCompleted}}
        <div class="auk-o-flex auk-o-flex--vertical-align">
          <div class="auk-u-mr">
            <Auk::Icon @name="check" @skin="success-dark" />
          </div>
          <p>{{t "uploaded-files" numFiles=this.uploadedFileLength}}</p>
        </div>
      {{/if}}
    </div>
    {{#if (and (not this.uploadIsRunning) (not this.uploadIsCompleted))}}
      <p class="auk-u-text-muted">
        {{#if dropzone.active}}
          {{t "drop-text"}}
        {{else if dropzone.supported}}
          {{t "drag-or-click-for-upload" numFiles=(if @multiple "many" "one")}}
        {{/if}}
      </p>
    {{/if}}
    {{#if (or this.uploadIsRunning this.uploadIsCompleted)}}
      <Auk::ProgressBar @progress={{if this.uploadIsCompleted 100 this.fileQueue.progress}} />
    {{/if}}
  </div>
</FileDropzone>