<div class="auk-key-value-item {{this.layout}}" ...attributes>
  <div class="auk-key-value-item__label">{{@key}}</div>
  <div class="auk-key-value-item__value">
    {{#if @value}}
      {{@value}}
    {{else}}
      {{yield}}
    {{/if}}
  </div>
</div>