{{#if @message}}
  <div class="au-u-maximize-width au-u-maximize-height au-u-flex au-u-flex--column au-u-flex--center au-u-flex--vertical-center">
    <AuLoader>{{@message}}</AuLoader>
  </div>
{{else}}
  <AuLoader @hideMessage={{true}} @centered={{false}} @inline={{true}}>{{t "loading"}}</AuLoader>
{{/if}}