<span class="auk-pill {{this.skin}} {{this.layout}}" ...attributes data-test-auk-pill-span>
  {{#if @icon}}
    {{#if (eq @layout "icon-right")}}
      {{yield}}
    {{/if}}
    <Auk::Icon @name={{@icon}} />
    {{#if (or (not @layout) (eq @layout "icon-left"))}}
      {{yield}}
    {{/if}}
  {{else}}
    {{yield}}
  {{/if}}
</span>