<span class="auk-pill {{this.skin}} {{this.layout}}" ...attributes data-test-au-pill-span>
  {{#if @icon}}
    {{#if (or (not @layout) (eq @layout "icon-left"))}}
      <Auk::Icon @name={{@icon}} />
      {{yield}}
    {{/if}}

    {{#if (eq @layout "icon-only")}}
      <Auk::Icon @name={{@icon}} />
    {{/if}}

    {{#if (eq @layout "icon-right")}}
      {{yield}}
      <Auk::Icon @name={{@icon}} />
    {{/if}}
  {{else}}
    {{yield}}
  {{/if}}
</span>