<li class="auk-tabs__tab {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}" ...attributes>
  <LinkTo
    @route={{@route}}
    @models={{this.models}}
    @disabled={{@disabled}}
    @activeClass={{@activeClass}}
    @current-when={{@current-when}}
    @preventDefault={{@preventDefault}}
    @query={{@query}}
  >
    <span class="auk-tabs__tab-inner">
      {{#if @icon}}
        {{#if (eq @layout "icon-right")}}
          <div class="auk-tabs__label">{{yield}}</div>
          <Auk::Icon @name={{@icon}} />
        {{else}}
          <Auk::Icon @name={{@icon}} />
          <div class="auk-tabs__label">{{yield}}</div>
        {{/if}}
      {{else}}
        <div class="auk-tabs__label">{{yield}}</div>
        {{#if this.hasCounter}}
          <div class="auk-tabs__tab-counter">({{@counter}})</div>
        {{/if}}
      {{/if}}
    </span>
  </LinkTo>
</li>