<li class="auk-tabs__tab {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}" ...attributes>
  <LinkTo
    @route={{this.route}}
    @current-when={{@currentWhen}}
  >
    <span class="auk-tabs__tab-inner">
      <WebComponents::AuTab::Innerlayout
        @layout={{this.layout}}
        @icon={{if @isHierarchicalBack "hierarchical-back" this.icon}}
        @counter={{this.counter}}
      >
        {{yield}}
      </WebComponents::AuTab::Innerlayout>
    </span>
  </LinkTo>
</li>