{{!-- Outer LinkTo used merely for active-class (taking into account current-when etc), therefore disabled.
      Inner LinkTo used for navigation --}}
{{#if @route }}
  <LinkTo
          @tagName="li"
          class="auk-tabs__tab {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}"
          @activeClass="auk-tabs__tab--active"
          @loadingClass=""
          @disabledClass=""
          @disabled={{true}}
          @route={{@route}}
          @models={{this.models}}
          @current-when={{@current-when}}
          @preventDefault={{@preventDefault}}
          @query={{@query}}
          ...attributes
  >
    <LinkTo
            @activeClass=""
            @loadingClass=""
            @disabledClass=""
            @route={{@route}}
            @models={{this.models}}
            @disabled={{@disabled}}
            @current-when={{@current-when}}
            @preventDefault={{@preventDefault}}
            @query={{@query}}
    >
      <Auk::Tab::InnerLayout
              @layout={{@layout}}
              @icon={{this.icon}}
              @counter={{@counter}}
      >
        {{yield}}
      </Auk::Tab::InnerLayout>
    </LinkTo>
  </LinkTo>
{{else}}
  <button
          type="button"
          class="auk-tabs__tab {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}} {{if @active "auk-tabs__tab--active"}}"
          ...attributes
  >
    <Auk::Tab::InnerLayout
            @layout={{@layout}}
            @icon={{this.icon}}
            @counter={{@counter}}
    >
      {{yield}}
    </Auk::Tab::InnerLayout>
  </button>
{{/if}}
