<li class="auk-tabs__tab {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}" ...attributes>
  <LinkTo
    @route={{@route}}
    @models={{this.models}}
    @disabled={{@disabled}}
    @activeClass={{@activeClass}}
    @current-when={{@current-when}}
    @preventDefault={{@preventDefault}}
    @tagName={{@tagName}}
    @query={{@query}}
  >
    <span class="auk-tabs__tab-inner">
      <WebComponents::AuTab::Innerlayout
        @layout={{this.layout}}
        @icon={{if @isHierarchicalBack "hierarchical-back" this.icon}}
        @counter={{this.counter}}
      >
        {{yield}}
      </WebComponents::AuTab::Innerlayout>
    </span>
  </LinkTo>
</li>