{{#if @route}}
  <li
    class="auk-tabs__tab {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}"
    ...attributes
  >
    <LinkTo
      @route={{@route}}
      @models={{this.models}}
      @query={{this.query}}
      @current-when={{@current-when}}
      @disabled={{@disabled}}
      @activeClass="auk-tabs__tab__link--active"
      class="auk-tabs__tab__link"
    >
      <Auk::Tab::InnerLayout
        @layout={{@layout}}
        @icon={{this.icon}}
        @counter={{@counter}}
      >
        {{yield}}
      </Auk::Tab::InnerLayout>
    </LinkTo>
  </li>
{{else if @isHierarchicalBack}}
  <li class="auk-tabs__tab auk-tabs__hierarchical-back">
    {{!-- Here the tab always has the active class because that's how it would
          behave if passed in a @route to the parent route, because the parent
          route is always active --}}
    <a
      type="button"
      disabled={{not this.hasHistory}} {{!-- TODO: this does nothing at the moment as `disabled` can't be used on link/anchor elements --}}
      class="auk-tabs__tab__link auk-tabs__tab__link--active"
      {{on "click" this.transitionBack}}
      ...attributes
    >
      <Auk::Tab::InnerLayout
        @layout={{@layout}}
        @icon={{this.icon}}
        @counter={{@counter}}
      />
    </a>
  </li>
{{else}}
  <li class="auk-tabs__tab">
    <button
      type="button"
      class="auk-tabs__tab__link {{if @active "auk-tabs__tab__link--active"}}"
      ...attributes
    >
      <Auk::Tab::InnerLayout
        @layout={{@layout}}
        @icon={{this.icon}}
        @counter={{@counter}}
      >
        {{yield}}
      </Auk::Tab::InnerLayout>
    </button>
  </li>
{{/if}}