{{#if @route}}
  {{!-- Outer LinkTo used merely for active-class (taking into account current-when etc),
      therefore disabled and in need of the deprecated @tagName.
      Inner LinkTo used for navigation --}}
  {{!-- template-lint-disable no-unknown-arguments-for-builtin-components --}}
  <LinkTo
    @tagName="li"
    class="auk-tabs__tab
      {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}"
    @activeClass="auk-tabs__tab--active"
    @loadingClass=""
    @disabledClass=""
    @disabled={{true}}
    @route={{@route}}
    @models={{this.models}}
    @current-when={{@current-when}}
    @query={{this.query}}
    ...attributes
  >
    {{!-- template-lint-enable no-unknown-arguments-for-builtin-components --}}
    <LinkTo
      @activeClass=""
      @loadingClass=""
      @disabledClass=""
      @route={{@route}}
      @models={{this.models}}
      @disabled={{@disabled}}
      @current-when={{@current-when}}
      @query={{this.query}}
    >
      <Auk::Tab::InnerLayout
        @layout={{@layout}}
        @icon={{this.icon}}
        @counter={{@counter}}
      >
        {{yield}}
      </Auk::Tab::InnerLayout>
    </LinkTo>
  </LinkTo>
{{else if @isHierarchicalBack}}
  <li
    class="auk-tabs__tab
      {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}
      {{if @active "auk-tabs__tab--active"}}"
  >
    {{!-- template-lint-disable link-href-attributes no-invalid-interactive --}}
    <a
      type="button"
      disabled={{not this.hasHistory}}
      {{on "click" this.transitionBack}}
      ...attributes
    >
      <Auk::Tab::InnerLayout
        @layout={{@layout}}
        @icon={{this.icon}}
        @counter={{@counter}}
      />
    </a>
    {{!-- template-lint-enable link-href-attributes no-invalid-interactive --}}
  </li>
{{else}}
  <li
    class="auk-tabs__tab
      {{if @isHierarchicalBack "auk-tabs__hierarchical-back"}}
      {{if @active "auk-tabs__tab--active"}}"
  >
    <button type="button" ...attributes>
      <Auk::Tab::InnerLayout
        @layout={{@layout}}
        @icon={{this.icon}}
        @counter={{@counter}}
      >
        {{yield}}
      </Auk::Tab::InnerLayout>
    </button>
  </li>
{{/if}}