<Auk::Navbar
  class="auk-signature-overview-navbar"
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signature-folder"}}
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{#if this.currentSession.isMinister}}
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{#if this.isShowSignButton}}
        <Auk::Button
          @skin="primary"
          @icon="sign"
          @route="signatures.multiple"
        >
          Geselecteerde documenten handtekenen
        </Auk::Button>
        {{else}}
        <Auk::Button
          @skin="primary"
          @icon="sign"
          @disabled={{true}}
        >
          Geselecteerde documenten handtekenen
        </Auk::Button>
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{else}}
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="borderless"
        >
          {{t "clear-filter-plural"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @icon="filter"
          {{on "click" this.showFilterModal}}
        >
          {{t "signaturesSection.filter-ministers"}}
        </Auk::Button>
      </Auk::Toolbar::Item>

      <Auk::Toolbar::Item>
        {{! bundle signature here}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-scroll-wrapper auk-scroll-wrapper--ovrb {{if this.isShowSidebar "auk-scroll-wrapper--sidebar" ""}}">
  <div class="auk-scroll-wrapper__body">
    {{#if this.currentSession.isMinister}}
       <table class="auk-table auk-table--sticky-header auk-table--action">
        <thead>
          <tr>
            <th>{{! Select}}</th>
            <Utils::ThSortable
              @label="Dringend"
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <th class="auk-u-text-nowrap">{{t "keyword"}}</th>
            <Utils::ThSortable
              @label={{t "util.date-approved"}}
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <Utils::ThSortable
              @label="Deadline"
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <th>{{! Actions}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="auk-table__row">
            <td
              class="auk-u-text-align--center"
            >
              <Auk::Label class="auk-u-sr-only">Selecteer</Auk::Label>
              <Auk::Checkbox
                {{on "input" (action "showSignButton")}}
              />
            </td>
            <td
              class="auk-u-text-align--center"
            >
              <Auk::Icon @skin="warning" @name="alert-triangle" />
            </td>
            <td>
              <p class="au-u-muted">Decreet - 01-09-2021</p>
              <p>VR 2020 1812 DOC.1322-2 Eindtermen tweede en derde graad SO - decreetTER</p>
            </td>
            <td>
              01-09-2021
            </td>
            <td>
              15-04-2022
            </td>
            <td>
              <Auk::Button
                @skin="borderless"
                @icon="sign"
                class="auk-table__link"
                {{on "click" this.showSidebar}}
              >
                {{t "util.sign"}}
              </Auk::Button>
            </td>
          </tr>
          <tr class="auk-table__row">
            <td
              class="auk-u-text-align--center"
            >
              <Auk::Label class="auk-u-sr-only">Selecteer</Auk::Label>
              <Auk::Checkbox
                {{on "input" (action "showSignButton")}}
              />
            </td>
            <td
              class="auk-u-text-align--center"
            >
              -
            </td>
            <td>
              <p class="au-u-muted">Decreet - 07-07-2021</p>
              <p>VR 2020 1707 DOC.0846-1 Leerlingondersteuning - notaBIS2</p>
            </td>
            <td>
              07-07-2021
            </td>
            <td>
              15-04-2022
            </td>
            <td>
              <Auk::Button
                @skin="borderless"
                @icon="sign"
                class="auk-table__link"
                {{on "click" this.showSidebar}}
              >
                {{t "util.sign"}}
              </Auk::Button>
            </td>
          </tr>
        </tbody>
      </table>
    {{else}}
      {{#if this.model.length}}
        <table class="auk-table auk-table--sticky-header auk-table--signatures">
          <thead>
            <tr>
              <Utils::ThSortable
                @label="Dringend"
                @field="decision-activity.start-date"
                @currentSorting={{this.sort}}
                @onChange={{this.changeSorting}}
              />
              <th class="auk-u-text-nowrap">{{t "keyword"}}</th>
              <Utils::ThSortable
                @label={{t "util.date-approved"}}
                @field="decision-activity.start-date"
                @currentSorting={{this.sort}}
                @onChange={{this.changeSorting}}
              />
              <Utils::ThSortable
                @label="Deadline"
                @field="decision-activity.start-date"
                @currentSorting={{this.sort}}
                @onChange={{this.changeSorting}}
              />
              <Utils::ThSortable
                @label={{t "signaturesSection.signed-status"}}
                @field="decision-activity.start-date"
                @currentSorting={{this.sort}}
                @onChange={{this.changeSorting}}
              />
              <th>{{! Actions}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.model as |signFlow|}}
              <tr class="auk-table__row auk-table__row__clickable" {{on "click" this.showSidebar}}>
                <td
                  class="auk-u-text-align--center"
                >
                  {{#if (eq signFlow.signSubcase.signMarkingActivity.piece.documentContainer.type.label "Nota")}}
                    <Auk::Icon @skin="warning" @name="alert-triangle" />
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td>
                  <p class="au-u-muted">Decreet - {{moment-format
                    signFlow.decisionActivity.startDate
                    "DD-MM-YYYY"
                  }}</p>
                  <p>{{signFlow.signSubcase.signMarkingActivity.piece.name}}</p>
                </td>
                <td>
                  {{moment-format
                    signFlow.decisionActivity.startDate
                    "DD-MM-YYYY"
                  }}
                </td>
                <td>
                  15-04-2022
                </td>
                <td>
                  <AuPill @skin="border" @icon="sign">Gemarkeerd voor handtekenen</AuPill>
                </td>
                <td>
                  <Auk::Button
                    @skin="borderless"
                    @layout="icon-only"
                    @icon="chevron-right"
                    class="auk-table__link"
                    {{on "click" this.showSidebar}}
                  >
                    {{t "read"}}
                  </Auk::Button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <Auk::Panel>
          <Auk::Panel::Body>
            <Auk::EmptyState @message={{t "no-results-found"}} />
          </Auk::Panel::Body>
        </Auk::Panel>
      {{/if}}
    {{/if}}
  </div>

  {{#if this.isShowSidebar}}
  <div class="auk-scroll-wrapper__sidebar">
    <div class="auk-sidebar">
      {{#if this.currentSession.isMinister}}
        <div class="auk-sidebar__header">
          <h4 class="auk-toolbar-complex__title">
            {{t "signaturesSection.sidebar-title"}}
          </h4>
          <Auk::Button
            @icon="x"
            @skin="borderless"
            @layout="icon-only"
            {{on "click" this.closeSidebar}}
          />
        </div>
        <div class="auk-sidebar__body">
          <p class="au-u-muted auk-u-mt-2">
            Decreet -
            01-09-2021
          </p>
          <h5 class="auk-h4">VR 2020 1812 DOC.1322-2 Eindtermen tweede en derde graad SO - decreetTER</h5>
          <div class="auk-o-flex auk-o-flex--spaced-wide auk-u-mt-1">
            <Auk::ButtonLink
              @skin="borderless"
              @icon="document"
              {{on
                "click"
                (fn this.navigateToDecision signFlow.decisionActivity)
              }}
            >
              {{t "consult-agendaitem-decision"}}
            </Auk::ButtonLink>
          </div>
          <Auk::Panel class="auk-u-mt-4">
            <Auk::Panel::Header class="auk-u-px-1">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    <h4 class="auk-h4 auk-u-m-0">
                      {{t "signaturesSection.decision-fiche"}}
                    </h4>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </Auk::Panel::Header>
            <Auk::Panel::Body class="auk-u-p-1 auk-content">
              <h5>Betreft</h5>
              <p>Goedkeuring van het verslag van de vergadering van vrijdag 10 december 2021 (VR PV 2021/66)</p>
              <h5>Beslissing</h5>
              <p class="auk-u-m-0">De Vlaamse Regering hecht haar goedkeuring aan het verslag van de vergadering van vrijdag 10 december 2021 (VR PV 2021/66).</p>
            </Auk::Panel::Body>
          </Auk::Panel>
          <Auk::Panel class="auk-u-mt-4">
            <Auk::Panel::Header class="auk-u-px-1">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    <h4 class="auk-h4 auk-u-m-0">
                      {{t "signaturesSection.signed-by"}}
                    </h4>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </Auk::Panel::Header>
            <Auk::Panel::Body class="auk-u-p-0">
              <Auk::List @bordered={{true}}>
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                  <span>Jan Jambon</span>
                  <AuPill  @skin="white" @icon="clock">
                    Nog niet ondertekend
                  </AuPill>
                </Auk::List::Item>
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                  <span>Lydia Peeters</span>
                  <AuPill @skin="success" @icon="check">
                    Ondertekend
                  </AuPill>
                </Auk::List::Item>
              </Auk::List>
            </Auk::Panel::Body>
          </Auk::Panel>
          <Auk::Panel class="auk-u-mt-4">
            <Auk::Panel::Header class="auk-u-px-1">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    <h4 class="auk-h4 auk-u-m-0">
                      Deadline
                    </h4>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </Auk::Panel::Header>
            <Auk::Panel::Body class="auk-u-p-1">
              <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
                <AuPill @icon="alert-triangle" @skin="warning">Dringend</AuPill>
                <p class="auk-u-m-0">
                 15-04-2022
                </p>
              </div>
            </Auk::Panel::Body>
          </Auk::Panel>
        </div>
        <div class="auk-sidebar__footer">
          <Auk::Toolbar>
            <LinkTo
              class="auk-button auk-button--primary auk-button--block"
              @route="signatures.signature"
            >
              <span class="auk-button__content">
                <Auk::Icon @name="pencil" />
                <span class="auk-button__label">
                  {{t "util.sign"}}
                </span>
              </span>
            </LinkTo>
          </Auk::Toolbar>
        </div>
      {{else}}
        {{#each this.model as |signFlow index|}}
        {{#if (eq index 0)}}
        <div class="auk-sidebar__header">
          <h4 class="auk-toolbar-complex__title">
            {{t "signaturesSection.sidebar-title"}}
          </h4>
          <Auk::Button
            @icon="x"
            @skin="borderless"
            @layout="icon-only"
            {{on "click" this.closeSidebar}}
          />
        </div>
        <div class="auk-sidebar__body">
          <AuPill @skin="border" @icon="sign">Gemarkeerd voor handtekenen</AuPill>
          <p class="au-u-muted auk-u-mt-2">
            Decreet -
            {{moment-format
              signFlow.decisionActivity.startDate
              "DD-MM-YYYY"
            }}
          </p>
          <h5 class="auk-h4 auk-u-m-0">{{signFlow.signSubcase.signMarkingActivity.piece.name}}</h5>
          <p class="auk-u-small au-u-muted"><strong>Dossier:</strong> Omkadering leerlingondersteuning <AuPill @skin="warning" @icon="lock-closed" @layout="icon-only">Vertrouwelijk</AuPill></p>
          <div class="auk-o-flex auk-o-flex--spaced-wide auk-u-mt-2">
            <Auk::ButtonLink
              @skin="borderless"
              @icon="book"
              @href={{signFlow.signSubcase.signMarkingActivity.piece.viewDocumentURL}}
              target="_blank"
              rel="noopener noreferrer"
            >
              {{t "util.preview"}}
            </Auk::ButtonLink>
            <Auk::ButtonLink
              @skin="borderless"
              @icon="document"
              {{on
                "click"
                (fn this.navigateToDecision signFlow.decisionActivity)
              }}
            >
              {{t "consult-agendaitem-decision"}}
            </Auk::ButtonLink>
          </div>
          <Auk::Panel class="auk-u-mt-4">
            <Auk::Panel::Header class="auk-u-px-1">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    <h4 class="auk-h4 auk-u-m-0">
                      {{t "signaturesSection.signature-needed-by"}}
                    </h4>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
                <Auk::Toolbar::Group @position="right">
                  <Auk::Toolbar::Item>
                    <Auk::Button @skin="tertiary" @icon="pencil" {{on "click" this.showAddMinister}}>
                      {{t "util.edit-list"}}
                    </Auk::Button>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </Auk::Panel::Header>
            <Auk::Panel::Body class="auk-u-p-0">
              <Auk::List @bordered={{true}}>
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                  <span>Jan Jambon</span>
                </Auk::List::Item>
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                  <span>Lydia Peeters</span>
                  <Auk::Button
                    @skin="danger-borderless"
                    @layout="icon-only"
                    @icon="trash"
                  >
                    {{t "util.delete"}}
                  </Auk::Button>
                </Auk::List::Item>
              </Auk::List>
            </Auk::Panel::Body>
          </Auk::Panel>
          <Auk::Panel class="auk-u-mt-4">
            <Auk::Panel::Header class="auk-u-px-1">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    <h4 class="auk-h4 auk-u-m-0">
                      Notificaties
                    </h4>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
                <Auk::Toolbar::Group @position="right">
                  <Auk::Toolbar::Item>
                    <Auk::Button @skin="tertiary" @icon="plus" {{on "click" this.showAddCC}}>
                      Toevoegen
                    </Auk::Button>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </Auk::Panel::Header>
            <Auk::Panel::Body class="auk-u-p-0">
              <Auk::List @bordered={{true}}>
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                  <span>medewerker@vlaanderen.be</span>
                  <Auk::Button
                    @skin="danger-borderless"
                    @layout="icon-only"
                    @icon="trash"
                  >
                    {{t "util.delete"}}
                  </Auk::Button>
                </Auk::List::Item>
              </Auk::List>
            </Auk::Panel::Body>
          </Auk::Panel>
          <Auk::Panel class="auk-u-mt-4">
            <Auk::Panel::Header class="auk-u-px-1">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    <h4 class="auk-h4 auk-u-m-0">
                      Deadline
                    </h4>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </Auk::Panel::Header>
            <Auk::Panel::Body class="auk-u-p-1">
              <div>
                <Auk::Label>Datum</Auk::Label>
                <WebComponents::VlDatepicker
                  @selectedDate="15-04-2022"
                  @dateChanged=""
                />
              </div>
              <div class="auk-o-flex auk-o-flex--spaced auk-u-mt-2">
                <Auk::Toggle
                  id="signatureToggle"
                  @checked={{if (eq signFlow.signSubcase.signMarkingActivity.piece.documentContainer.type.label "Nota") true false}}
                />
                <label for="signatureToggle" class="auk-c-toggle-label au-u-muted">
                  Dringend
                </label>
              </div>
            </Auk::Panel::Body>
          </Auk::Panel>
        </div>
        <div class="auk-sidebar__footer">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <LinkTo
                  class="auk-button auk-button--primary"
                  @route="signatures.sign"
                >
                  {{t "signaturesSection.prepare-signatures"}}
                </LinkTo>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button
                  @skin="danger-borderless"
                  {{on "click" this.showCancelSignatures}}
                >
                  {{t "signaturesSection.cancel-signatures"}}
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </div>
        {{/if}}
        {{/each}}
      {{/if}}
    </div>
  </div>
  {{/if}}
</div>
<div>
  <hr />
</div>
<div class="auk-u-mx-4">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        {{#if this.currentSession.isMinister}}
        <Auk::Pagination
          @page="0"
          @size="1"
          @nbOfItems="1"
          @total="1"
          @onNextPage={{this.nextPage}}
          @onPreviousPage={{this.prevPage}}
        />
        {{else}}
        <Auk::Pagination
          @page={{this.page}}
          @size={{this.size}}
          @nbOfItems={{this.model.length}}
          @total={{this.model.meta.count}}
          @onNextPage={{this.nextPage}}
          @onPreviousPage={{this.prevPage}}
        />
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-showed"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{this.size}}
          @onChange={{this.setSizeOption}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#if this.isShowFilterModal}}
  <Signatures::SignaturesFilterModal
    @onCancel={{this.closeFilterModal}}
    @onSave={{this.closeFilterModal}}
  />
{{/if}}

{{#if this.isShowAddMinister}}
  <Signatures::SignaturesAddMinister
    @onCancel={{this.closeAddMinister}}
    @onSave={{this.closeAddMinister}}
  />
{{/if}}

{{#if this.isShowAddCC}}
  <Signatures::SignaturesAddCc
    @onCancel={{this.closeAddCC}}
    @onSave={{this.closeAddCC}}
  />
{{/if}}

{{#if this.isShowCancelSignatures}}
  <Signatures::SignaturesCancelSignatures
    @onCancel={{this.closeCancelSignatures}}
    @onSave={{this.closeCancelSignatures}}
  />
{{/if}}