<Auk::Navbar
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signatures"}}
          </h4>
        </div>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        {{! search here}}
      </Group.Item>
      <Group.Item>
        {{#if this.filteredMinisters}}
          <AuButton @skin="naked" {{on "click" this.clearFilter}}>
            {{t "clear-filter"}}
          </AuButton>
        {{/if}}
        <AuButton
          @skin="secondary"
          @icon="filter"
          {{on "click" this.openFilterModal}}
        >
          {{t "filter-on-signer"}}
        </AuButton>
      </Group.Item>
      <Group.Item>
        {{! bundle signature here}}
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<KDataTable
  @scrollable={{true}}
  @stickyHeader={{true}}
  @clickable={{false}}
  @asideVisible={{this.showSidebar}}
  @content={{@model}}
  @enablePagination={{false}}
>
  <:header>
    <th>
      <AuCheckbox>
        <span class="auk-u-sr-only">
          {{t "select"}}
        </span>
      </AuCheckbox>
    </th>
    <th>{{t "document-name"}}</th>
    <th>{{t "document-type"}}</th>
    <th>{{t "minister"}}</th>
    <th>{{t "decision-date"}}</th>
    <th></th>
  </:header>
  <:body as |piece|>
    <td>
      <AuCheckbox>
        <span class="auk-u-sr-only">
          {{t "select"}}
        </span>
      </AuCheckbox>
    </td>
    <td>
      <AuLink @route="document" @model={{piece.id}}>
        {{piece.name}}
      </AuLink>
    </td>
    <td>
      <AuPill @size="small">
        {{#let piece.documentContainer.type as |type|}}
          {{#if type}}
            {{type.label}}
          {{else}}
            {{t "no-document-type"}}
          {{/if}}
        {{/let}}
      </AuPill>
    </td>
    <td>
      {{#let (await (this.getMandateeName piece)) as |name|}}
        {{#if name}}
          {{name}}
        {{else}}
          -
        {{/if}}
      {{/let}}
    </td>
    <td>{{date (await (this.getDecisionDate piece))}}</td>
    <td>
      <AuButton
        @skin="naked"
        @icon="sign"
        {{on "click" (fn this.openSidebar piece)}}
      >
        {{t "start-signing"}}
      </AuButton>
    </td>
  </:body>
  <:aside>
    <div class="auk-sidebar">
      <div class="auk-sidebar__header">
        <h4 class="auk-toolbar-complex__title">
          {{t "start-signing"}}
        </h4>
        <Auk::Button
          @icon="x"
          @skin="borderless"
          @layout="icon-only"
          {{on "click" this.closeSidebar}}
        />
      </div>
      <div class="auk-sidebar__body">
        <p class="au-u-muted auk-u-mt-2">
          {{or this.piece.documentContainer.type.label (t "no-document-type")}}
          -
          {{date this.decisionActivity.startDate}}
        </p>
        <h5 class="auk-h4">{{this.piece.name}}</h5>
        <div class="auk-o-flex auk-o-flex--spaced-wide auk-u-mt-1">
          <AuLink
            @skin="naked"
            @icon="book"
            @route="document"
            @model={{this.piece.id}}
          >
            {{t "preview"}}
          </AuLink>
          <AuLink
            @skin="naked"
            @icon="document"
            @route="agenda.agendaitems.agendaitem"
            @models={{array this.meeting.id this.agenda.id this.agendaitem.id}}
          >
            {{t "consult-agendaitem-decision"}}
          </AuLink>
        </div>
        <Signatures::CreateSignFlow
          @piece={{this.piece}}
          @decisionActivity={{this.decisionActivity}}
          @onChangeSigners={{fn (mut this.signers)}}
          @onChangeApprovers={{fn (mut this.approvers)}}
          @onChangeNotificationAddresses={{fn (mut this.notificationAddresses)}}
        />
      </div>
      <div class="auk-sidebar__footer">
        <AuToolbar as |Group|>
          <Group>
            <AuButton
              @loading={{this.createSignFlow.isRunning}}
              {{on "click" this.createSignFlow.perform}}
            >
              {{t "start-signing"}}
            </AuButton>
          </Group>
        </AuToolbar>
      </div>
    </div>
  </:aside>
</KDataTable>

<ConfirmationModal
  @modalOpen={{this.showFilterModal}}
  @title={{t "filter-content"}}
  @onCancel={{this.closeFilterModal}}
>
  <:body>
    <Mandatees::CheckboxList
      @selected={{this.selectedMinisters}}
      @onChange={{fn (mut this.selectedMinisters)}}
    />
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton @skin="naked" {{on "click" this.closeFilterModal}}>
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        {{#if this.filteredMinisters}}
          <AuButton @skin="secondary" {{on "click" this.clearFilter}}>
            {{t "clear-filter"}}
          </AuButton>
        {{/if}}
        <AuButton @icon="filter" {{on "click" this.applyFilter}}>
          {{t "filter-content"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</ConfirmationModal>
