<Auk::Navbar
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signature-folder"}}
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{! search here}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        {{! filter here}}
      </Auk::Toolbar::Item>

      <Auk::Toolbar::Item>
        {{! bundle signature here}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<KDataTable
  @scrollable={{true}}
  @stickyHeader={{true}}
  @clickable={{false}}
  @content={{@model}}
  @page={{this.page}}
  @size={{this.size}}
  @clickable={{false}}
  @asideVisible={{this.showSidebar}}
  @numberOfItems={{@model.length}}
  @totalNumberOfItems={{@model.meta.count}}
  @onChangeSize={{fn (mut this.size)}}
  @onChangePage={{fn (mut this.page)}}
>
  <:header>
    <th>
      <AuControlCheckbox>
        <span class="auk-u-sr-only">
          {{t "select"}}
        </span>
      </AuControlCheckbox>
    </th>
    <Utils::ThSortable
      @label={{t "document-name"}}
      @field="sign-subcase.sign-marking-activity.piece.name"
      @currentSorting={{this.sort}}
      @onChange={{this.changeSorting}}
    />
    <Utils::ThSortable
      @label={{t "document-type"}}
      @field="sign-subcase.sign-marking-activity.document-container.type.label"
      @currentSorting={{this.sort}}
      @onChange={{this.changeSorting}}
    />
    <th>{{t "minister"}}</th>
    <Utils::ThSortable
      @label={{t "decision-date"}}
      @field="decision-activity.start-date"
      @currentSorting={{this.sort}}
      @onChange={{this.changeSorting}}
    />
    <th>{{! Actions}}</th>
  </:header>
  <:body as |signFlow|>
    {{#let signFlow.signSubcase.signMarkingActivity.piece as |piece|}}
      {{#if piece}}
        <td>
          <AuControlCheckbox>
            <span class="auk-u-sr-only">{{t "select"}}</span>
          </AuControlCheckbox>
        </td>
        <td>
          <AuLink @route="document" @model={{piece.id}}>
            {{piece.name}}
          </AuLink>
        </td>
        <td>
          <AuPill @size="small">
            {{#let piece.documentContainer.type as |type|}}
              {{#if type}}
                {{type.label}}
              {{else}}
                {{t "no-document-type"}}
              {{/if}}
            {{/let}}
          </AuPill>
        </td>
        <td>
          {{#let (await (this.getMandateeNames signFlow)) as |mandateeNames|}}
            {{#if mandateeNames}}
              {{#each mandateeNames as |name|}}
                {{name}}
              {{/each}}
            {{else}}
              -
            {{/if}}
          {{/let}}
        </td>
        <td>
          {{date signFlow.decisionActivity.startDate}}
        </td>
        <td>
          <Auk::Button
            @skin="borderless"
            @icon="sign"
            class="auk-table__link"
            {{on "click" (fn this.openSidebar signFlow)}}
          >
            Proces starten
          </Auk::Button>
        </td>
      {{/if}}
    {{/let}}
  </:body>
  <:aside>
    <div class="auk-sidebar">
      <div class="auk-sidebar__header">
        <h4 class="auk-toolbar-complex__title">
          {{t "start-process"}}
        </h4>
        <Auk::Button
          @icon="x"
          @skin="borderless"
          @layout="icon-only"
          {{on "click" this.closeSidebar}}
        />
      </div>
      <div class="auk-sidebar__body">
        <p class="au-u-muted auk-u-mt-2">
          {{or this.signFlow.signSubcase.signMarkingActivity.piece.documentContainer.type.label (t "no-document-type")}} - {{date this.signFlow.decisionActivity.startDate}}
        </p>
        <h5 class="auk-h4">{{this.signFlow.signSubcase.signMarkingActivity.piece.name}}</h5>
        <div class="auk-o-flex auk-o-flex--spaced-wide auk-u-mt-1">
          <AuLink
            @skin="button-naked"
            @icon="document"
            @route="agenda.agendaitems.agendaitem"
            @models={{array this.meeting this.agenda this.agendaitem}}
          >
            {{t "consult-agendaitem-decision"}}
          </AuLink>
        </div>
      </div>
      <div class="auk-sidebar__footer">
      </div>
    </div>
  </:aside>
</KDataTable>
