<Auk::Navbar
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signature-folder"}}
          </h4>
        </div>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        {{! search here}}
      </Group.Item>
      <Group.Item>
        {{! filter here}}
      </Group.Item>
      <Group.Item>
        {{! bundle signature here}}
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-u-maximize-height auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <KDataTable @content={{@model}} @enablePagination={{false}}>
      <:header>
        <th>{{t "document-name"}}</th>
        <th>{{t "document-type"}}</th>
        <th>{{t "minister"}}</th>
        <th>{{t "decision-date"}}</th>
        <th></th>
      </:header>
      <:body as |piece|>
        <td>
          <AuLink @route="document" @model={{piece.id}}>
            {{piece.name}}
          </AuLink>
        </td>
        <td>
          {{or piece.documentContainer.type.label (t "no-document-type")}}
        </td>
        <td>
          {{#each (await (this.getMandateeNames)) as |name|}}
            {{name}}
          {{else}}
            -
          {{/each}}
        </td>
        <td>{{date (await (this.getDecisionDate piece))}}</td>
        <td>
          <AuButton
            @skin="naked"
            @icon="sign"
          >
            {{t "open"}}
          </AuButton>
        </td>
      </:body>
    </KDataTable>
  </div>
</div>
