<Auk::Navbar
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signatures"}}
          </h4>
        </div>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        {{! search here}}
      </Group.Item>
      <Group.Item>
        {{! filter here}}
      </Group.Item>
      <Group.Item>
        {{! bundle signature here}}
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<KDataTable
  @scrollable={{true}}
  @stickyHeader={{true}}
  @clickable={{false}}
  @asideVisible={{this.showSidebar}}
  @content={{@model}}
  @enablePagination={{false}}
>
  <:header>
    <th>
      <AuControlCheckbox>
        <span class="auk-u-sr-only">
          {{t "select"}}
        </span>
      </AuControlCheckbox>
    </th>
    <th>{{t "document-name"}}</th>
    <th>{{t "document-type"}}</th>
    <th>{{t "minister"}}</th>
    <th>{{t "decision-date"}}</th>
    <th></th>
  </:header>
  <:body as |piece|>
    <td>
      <AuControlCheckbox>
        <span class="auk-u-sr-only">
          {{t "select"}}
        </span>
      </AuControlCheckbox>
    </td>
    <td>
      <AuLink @route="document" @model={{piece.id}}>
        {{piece.name}}
      </AuLink>
    </td>
    <td>
      <AuPill @size="small">
        {{#let piece.documentContainer.type as |type|}}
          {{#if type}}
            {{type.label}}
          {{else}}
            {{t "no-document-type"}}
          {{/if}}
        {{/let}}
      </AuPill>
    </td>
    <td>
      {{#each (await (this.getMandateeNames piece)) as |name|}}
        {{name}}
      {{else}}
        -
      {{/each}}
    </td>
    <td>{{date (await (this.getDecisionDate piece))}}</td>
    <td>
      <AuButton
        @skin="naked"
        @icon="sign"
        {{on "click" (fn this.openSidebar piece)}}
      >
        {{t "start-process"}}
      </AuButton>
    </td>
  </:body>
  <:aside>
    <div class="auk-sidebar">
      <div class="auk-sidebar__header">
        <h4 class="auk-toolbar-complex__title">
          {{t "start-process"}}
        </h4>
        <Auk::Button
          @icon="x"
          @skin="borderless"
          @layout="icon-only"
          {{on "click" this.closeSidebar}}
        />
      </div>
      <div class="auk-sidebar__body">
        <p class="au-u-muted auk-u-mt-2">
          {{or this.piece.documentContainer.type.label (t "no-document-type")}}
          -
          {{date (await (this.getDecisionDate this.piece))}}
        </p>
        <h5 class="auk-h4">{{this.piece.name}}</h5>
        <div class="auk-o-flex auk-o-flex--spaced-wide auk-u-mt-1">
          <AuLink
            @skin="naked"
            @icon="book"
            @route="document"
            @model={{this.piece.id}}
          >
            {{t "preview"}}
          </AuLink>
          <AuLink
            @skin="naked"
            @icon="document"
            @route="agenda.agendaitems.agendaitem"
            @models={{array this.meeting.id this.agenda.id this.agendaitem.id}}
          >
            {{t "consult-agendaitem-decision"}}
          </AuLink>
        </div>
        <Auk::Panel class="auk-u-mt-4">
          <Auk::Panel::Header class="auk-u-px-1">
            <Auk::Toolbar as |Toolbar|>
              <Toolbar.Group @position="left" as |Group|>
                <Group.Item>
                  <h4 class="auk-h4 auk-u-m-0">
                    {{t "to-sign-by"}}
                  </h4>
                </Group.Item>
              </Toolbar.Group>
              <Toolbar.Group @position="right" as |Group|>
                <Group.Item>
                  <AuButton @skin="secondary" @icon="pencil">
                    {{t "edit-list"}}
                  </AuButton>
                </Group.Item>
              </Toolbar.Group>
            </Auk::Toolbar>
          </Auk::Panel::Header>
          <Auk::Panel::Body class="auk-u-p-0">
            <Auk::List @bordered={{true}}>
              {{#each this.signers}}
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                </Auk::List::Item>
              {{else}}
                <Auk::List::Item>
                  {{t "no-signers-selected"}}
                </Auk::List::Item>
              {{/each}}
            </Auk::List>
          </Auk::Panel::Body>
        </Auk::Panel>
        <Auk::Panel class="auk-u-mt-4">
          <Auk::Panel::Header class="auk-u-px-1">
            <Auk::Toolbar as |Toolbar|>
              <Toolbar.Group @position="left" as |Group|>
                <Group.Item>
                  <h4 class="auk-h4 auk-u-m-0">
                    {{t "to-approve-by"}}
                  </h4>
                </Group.Item>
              </Toolbar.Group>
              <Toolbar.Group @position="right" as |Group|>
                <Group.Item>
                  <AuButton @skin="secondary" @icon="plus">
                    {{t "add"}}
                  </AuButton>
                </Group.Item>
              </Toolbar.Group>
            </Auk::Toolbar>
          </Auk::Panel::Header>
          <Auk::Panel::Body class="auk-u-p-0">
            <Auk::List @bordered={{true}}>
              {{#each this.approvers}}
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                </Auk::List::Item>
              {{else}}
                <Auk::List::Item>
                  {{t "no-approvers-selected"}}
                </Auk::List::Item>
              {{/each}}
            </Auk::List>
          </Auk::Panel::Body>
        </Auk::Panel>
        <Auk::Panel class="auk-u-mt-4">
          <Auk::Panel::Header class="auk-u-px-1">
            <Auk::Toolbar as |Toolbar|>
              <Toolbar.Group @position="left" as |Group|>
                <Group.Item>
                  <h4 class="auk-h4 auk-u-m-0">
                    {{t "signing-hub-notifications"}}
                  </h4>
                </Group.Item>
              </Toolbar.Group>
              <Toolbar.Group @position="right" as |Group|>
                <Group.Item>
                  <AuButton @skin="secondary" @icon="plus">
                    {{t "add"}}
                  </AuButton>
                </Group.Item>
              </Toolbar.Group>
            </Auk::Toolbar>
          </Auk::Panel::Header>
          <Auk::Panel::Body class="auk-u-p-0">
            <Auk::List @bordered={{true}}>
              {{#each this.notificationAddresses}}
                <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
                </Auk::List::Item>
              {{else}}
                <Auk::List::Item>
                  {{t "no-notification-addresses-selected"}}
                </Auk::List::Item>
              {{/each}}
            </Auk::List>
          </Auk::Panel::Body>
        </Auk::Panel>
      </div>
      <div class="auk-sidebar__footer">
      </div>
    </div>
  </:aside>
</KDataTable>
