{{page-title (t "to-follow-up")}}

<KDataTable
  @scrollable={{true}}
  @stickyHeader={{true}}
  @clickable={{false}}
  @content={{@model}}
  @page={{this.page}}
  @size={{this.size}}
  @numberOfItems={{@model.length}}
  @totalNumberOfItems={{@model.meta.count}}
  @onChangeSize={{fn (mut this.size)}}
  @onChangePage={{fn (mut this.page)}}
>
  <:header>
    <th class="auk-u-text-nowrap">{{t "document-name"}}</th>
    <Utils::ThSortable
      @label={{t "document-type"}}
      @field="sign-subcase.sign-marking-activity.piece.document-container.type.label"
      @currentSorting={{this.sort}}
      @onChange={{fn (mut this.sort)}}
    />
    <th>{{t "minister"}}</th>
    <Utils::ThSortable
      @label={{t "date-approved"}}
      @field="decision-activity.start-date"
      @currentSorting={{this.sort}}
      @onChange={{fn (mut this.sort)}}
    />
    <th>{{t "status"}}</th>
    <th></th>
  </:header>
  <:body as |signFlow|>
    {{#let signFlow.signSubcase.signMarkingActivity as |signMarkingActivity|}}
      {{#let signMarkingActivity.piece as |piece|}}
        <td class="au-u-flex--spaced-tiny">
          {{#if piece}}
            <AuLink @route="document" @model={{piece.id}}>
              {{piece.name}}
            </AuLink>
            {{#if (this.isConfidential piece.accessLevel)}}
              <AccessLevelPill
                @accessLevel={{piece.accessLevel}}
                @isEditable={{false}}
              />
            {{/if}}
          {{/if}}
        </td>
        <td>
          <AuPill @size="small">
            {{#let piece.documentContainer.type as |type|}}
              {{#if type}}
                {{type.label}}
              {{else}}
                {{t "no-document-type"}}
              {{/if}}
            {{/let}}
          </AuPill>
        </td>
      {{/let}}
      <td>
        {{#let (await (this.getMandateeNames signFlow)) as |names|}}
          {{#if names}}
            {{join ", " names}}
          {{else}}
            -
          {{/if}}
        {{/let}}
      </td>
      <td>
        {{date signFlow.decisionActivity.startDate}}
      </td>
      <td>
        <SignaturePill
          @piece={{signMarkingActivity.piece}}
          @signMarkingActivity={{signMarkingActivity}}
        />
      </td>
      <td>
        {{#let (await (this.getSigningHubUrl signFlow)) as |url|}}
          {{#if url}}
            <AuLinkExternal
              @skin="button-naked"
              @icon="chevron-right"
              @hideText={{true}}
              href={{url}}
            >
              {{t "open"}}
            </AuLinkExternal>
          {{else}}
            <AuButton
              @skin="naked"
              @icon="link-broken"
              @hideText={{true}}
              @disabled={{true}}
            >
              {{t "open"}}
            </AuButton>
          {{/if}}
        {{/let}}
      </td>
    {{/let}}
  </:body>
</KDataTable>
