<form onsubmit={{action "createCase"}}>
  <div class="vl-modal-dialog__content">
    {{cases/case-levels
      selectedPolicyLevel=selectedPolicyLevel
      confidential=confidential
      policyLevelChanged=(action "policyLevelChanged")
    }}
    {{cases/forms/metadata-form
      type=type
      submitter=submitter
      meeting=meeting
      shortTitle=shortTitle
      selectedPolicyLevel=selectedPolicyLevel
      typeChanged=(action "typeChanged")
      selectedMeetingChanged=(action "selectedMeetingChanged")
      submitterChanged=(action "submitterChanged")
    }}
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button
            type="button"
            class="vl-button vl-button--link vl-button--narrow"
            {{action "close"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <button class="vl-button vl-button--narrow">
            {{t "create-case"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>