{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Modal" />

<StyleguideSample
        @modal="br-styleguide-sample__sample--modal"
        @title="Confirmation modal"
        @snippet="confirmation-modal.hbs"
>
  {{!-- BEGIN-SNIPPET confirmation-modal --}}
  <Auk::Modal>
    <Auk::Modal::Header @title="Dossier goedkeuren voor co-agendering?" @toggleSize={{this.onClick}} @closeModal={{this.onClick}} />
    <Auk::Modal::Body>
      <p>Weet je zeker dat je dit dossier wilt goedkeuren voor co-agendering?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.onClick}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <Auk::Button @skin="primary">Goedkeuren</Auk::Button>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </Auk::Modal::Footer>
  </Auk::Modal>
  {{!-- END-SNIPPET --}}
</StyleguideSample>


<StyleguideSample
        @modal="br-styleguide-sample__sample--modal"
        @title="Delete modal"
        @snippet="delete-modal.hbs"
>
  {{!-- BEGIN-SNIPPET delete-modal --}}
  <Auk::Modal>
    <Auk::Modal::Header @title="Document verwijderen?" @toggleSize={{this.onClick}} @closeModal={{this.onClick}} />
    <Auk::Modal::Body>
      <p>Deze actie zal het document definitief verwijderen en kan niet ongedaan gemaakt worden. Weet u zeker dat u het document wilt verwijderen?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.onClick}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <Auk::Button @skin="danger-primary" @icon="delete">Verwijderen</Auk::Button>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </Auk::Modal::Footer>
  </Auk::Modal>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

