{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Modal" />

<StyleguideSample
  @title="Confirmation modal"
  @snippet="confirmation-modal.hbs"
  @modifier="modal"
>
  {{!-- BEGIN-SNIPPET confirmation-modal --}}
  <Auk::Modal>
    <Auk::Modal::Header @title="Dossier goedkeuren voor co-agendering?" @onResize={{this.onClick}} @onClose={{this.onClick}} />
    <Auk::Modal::Body>
      <p>Weet je zeker dat je dit dossier wilt goedkeuren voor co-agendering?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.onClick}}>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button @skin="primary">Goedkeuren</Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Modal::Footer>
  </Auk::Modal>
  {{!-- END-SNIPPET --}}
</StyleguideSample>


<StyleguideSample
  @title="Delete modal"
  @snippet="delete-modal.hbs"
  @modifier="modal"
>
  {{!-- BEGIN-SNIPPET delete-modal --}}
  <Auk::Modal>
    <Auk::Modal::Header @title="Document verwijderen?" @onResize={{this.onClick}} @onClose={{this.onClick}} />
    <Auk::Modal::Body>
      <p>Deze actie zal het document definitief verwijderen en kan niet ongedaan gemaakt worden. Weet u zeker dat u het document wilt verwijderen?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.onClick}}>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button @skin="danger-primary" @icon="delete">Verwijderen</Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Modal::Footer>
  </Auk::Modal>
  {{!-- END-SNIPPET --}}
</StyleguideSample>