{{!-- Why is there no css for this in the package yet ? sigh... --}}
{{!-- TODO change all this css to the auk classes --}}
<div {{did-insert this.insertElementInDom}} class="vl-upload__element">
{{!-- <div {{did-insert this.insertElementInDom}} class="auk-file-upload this.fullHeight"> --}}
  <div class="auk-file-upload__content">
    <FileUpload
      @name="files"
      @for="upload-file"
      {{!-- @class="vl-upload__element__label" --}}
      @class="auk-file-upload__link"
      @multiple={{this.multipleFiles}}
      @onfileadd={{action this.uploadFile}}
    >
      {{!-- <WebComponents::AuIcon @name="paperclip"></WebComponents::AuIcon> --}}
      {{!-- Warning: Using AuIcon here does not work, because file-upload is a label and child elements are limited (no div)  --}}
      <i class="ki ki-paperclip" aria-hidden="true"></i>
      <span>
        {{#if this.multipleFiles}}
          {{t "add-attachments"}}
        {{else}}
          {{t "add-attachment"}}
        {{/if}}
      </span>
      <FileDropzone
        @name="files"
        {{!-- @class="vl-upload__element__button__container" --}}
        @class="auk-file-upload__content"
        @tagName="a"
        @accept="application/*"
        {{!-- @action={{action this.uploadFile}} --}}
      as |dropzone queue|
      >
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <p>
              {{t "drop-text"}}
            </p>
          {{else}}
            <p>
              {{t "invalid-type"}}
            </p>
          {{/if}}
        {{else if queue.files.length}}
          <div class="progress-container">
            {{uploadedFileLength}}
            {{t "files-of"}}
            {{fileQueue.files.length}}
            {{t "uploading"}}
          </div>
        {{else if dropzone.supported}}
          {{#if this.multipleFiles}}
            {{t "dropzone-text-multiple"}}
          {{else}}
            {{t "dropzone-text"}}
          {{/if}}
        {{/if}}
      </FileDropzone>
    </FileUpload>
  </div>
</div>