<div class="auk-u-mb-3">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "government-domains-government-fields"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          {{#if (and @allowEditing this.groupGovernmentFieldsByDomain.isIdle)}}
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-government-areas-panel-edit
                @skin="tertiary"
                @icon="pencil"
                @layout="icon-only"
                {{on "click" this.showEditModal}}
              />
            </Auk::Toolbar::Item>
          {{/if}}
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    {{#if @governmentAreas.length}}
      <Auk::Panel::Body @noPadding={{true}}>
        <table class="auk-table">
          <thead>
            <tr>
              <th>{{t "government-domain"}}</th>
              <th>{{t "government-fields"}}</th>
            </tr>
          </thead>
          <tbody>
          {{#each this.rows as |row|}}
            <tr data-test-government-areas-panel-row>
              <td data-test-government-areas-panel-row-label>
                {{row.governmentDomain.label}}
              </td>
              <td data-test-government-areas-panel-row-fields>
                {{#if row.governmentFields}}
                  {{join ", " (map-by "label" row.sortedGovernmentFields)}}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </Auk::Panel::Body>
    {{else}}
      <Auk::Panel::Body>
        <Auk::EmptyState @message={{t "no-added-government-fields"}} />
      </Auk::Panel::Body>
    {{/if}}
  </Auk::Panel>
</div>

{{#if this.isOpenEditModal}}
  <Utils::GovernmentAreas::EditGovernmentAreasModal
    @governmentFields={{this.governmentFields}}
    @governmentDomains={{this.governmentDomains}}
    @referenceDate={{@referenceDate}}
    @onSave={{this.save}}
    @onCancel={{this.closeEditModal}}
  />
{{/if}}