{{ page-title
  (t "newsletter-info")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-12">
    <div>
      {{#if this.model.length}}
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped auk-table--vertical-align-top"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToNewsletter}}
          as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table__col--6 auk-table__header-title">
                {{t "title-and-content"}}
              </th>
              <ThSortable
                @class="auk-table__col--2 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="publicationDate"
                @label={{t "agenda-of"}}
              />
              <th class="auk-table__col--2 auk-table__header-title">
                {{t "minister"}}
              </th>
              <ThSortable
                @class="auk-table__col--1 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="decisionStatusId"
                @label={{t "agendaitem-decision"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header>
             <c.body class="auk-table--interaction-cursor" as |row|>
              <td>
                <h3 class="auk-h4 auk-u-mb">
                  {{row.title}}
                </h3>
                <p class="auk-u-mr-2">
                  <SanitizeHtml @raw={{true}} @value={{row.richtext}} />
                </p>
              </td>
              <td>
                {{moment-format row.publicationDate "DD-MM-YYYY"}}
              </td>
              <td>
                {{row.mandatees}}
              </td>
              <td>
                {{row.decisionStatusLabel}}
              </td>
              <td class="auk-u-text-align--right">
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="nav-right"
                  @route="agenda.agendaitems.agendaitem.news-item"
                  @models={{array row.meetingId row.agendaId row.agendaitemId}}
                />
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>