<div class="auk-u-m-8">
  {{page-title (t "manage-ministers")}}
  <div class="auk-o-flex auk-o-flex--justify-between">
    <h4 class="auk-h3"></h4>
    <Auk::Button
      @skin="primary"
      @icon="add"
      {{action "toggleIsAdding"}}
      data-test-route-settings-ministers-add
    >
      {{t "create-mandatee"}}
    </Auk::Button>
  </div>
  {{#if (await model)}}
  {{!-- "tbody" tagname in the "sortable-group"-helper --}}
  {{!-- template-lint-disable table-groups  --}}
    <table class="auk-table auk-table--striped">
      <thead>
        <tr>
          <th class="auk-table__col--6 auk-table__header-title">
            <a class="auk-table__header-title--sortable auk-table__header-title--sortable-active"
               href="#"
            ></a>
            <a class="auk-table__header-title--sortable" href="#">
              <div class="auk-o-flex auk-o-flex--vertical-center">
                <span>
                  {{t "minister"}}
                </span>
              </div>
            </a>
          </th>
          <th class="auk-table__col--3 auk-table__header-title">
            <a class="auk-table__header-title--sortable auk-table__header-title--sortable-active"
               href="#"
            ></a>
            <a class="auk-table__header-title--sortable" href="#">
              <div class="auk-o-flex auk-o-flex--vertical-center">
                <span>
                  {{t "nick-name"}}
                </span>
              </div>
            </a>
          </th>
          <th class="auk-table__col--1 auk-table__header-title">
            <a class="auk-table__header-title--sortable auk-table__header-title--sortable-active"
               href="#"
            ></a>
            <a class="auk-table__header-title--sortable" href="#">
              <div class="auk-o-flex auk-o-flex--vertical-center">
                <span>
                  {{t "priority"}}
                </span>
              </div>
            </a>
          </th>
          <th class="auk-table__col--2"></th>
        </tr>
      </thead>
      <SortableGroup
        data-test-route-settings-ministers-sortable-group
        @tagName="tbody"
        @model={{model}}
        @onChange={{action "reorderItems" model}}
      as |sortableGroup|
      >
        {{#each sortableGroup.model as |mandatee index|}}
          <sortableGroup.item
            @tagName="tr"
            @model={{mandatee}}
            data-test-route-settings-ministers-sortable-group-row="index"
            @handle=".mandatee-draggable-row"
          >
            <td data-test-route-settings-ministers-mandatee-full-display-name={{index}} class="mandatee-draggable-row">
              {{#if (is-pending mandatee.fullDisplayName)}}
                <div class="skeletal-loader" role="alert" aria-busy="true"></div>
              {{else}}
                {{await mandatee.fullDisplayName}}
              {{/if}}
            </td>
            <td data-test-route-settings-ministers-mandatee-nickname={{index}} class="mandatee-draggable-row">
              {{#if (is-pending mandatee.nickName)}}
                <div class="skeletal-loader" role="alert" aria-busy="true"></div>
              {{else}}
                {{await mandatee.nickName}}
              {{/if}}
            </td>
            <td data-test-route-settings-ministers-mandatee-priority={{index}} class="mandatee-draggable-row">
              {{await mandatee.priority}}
            </td>
            <td class="auk-u-text-align--center">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="center">
                  <Auk::Toolbar::Item>
                    <Auk::Button
                      @skin="borderless"
                      @layout="icon-only"
                      @icon="pencil"
                      {{action "toggleProperty" "isEditingMandatee" mandatee}}
                      data-test-route-settings-ministers-mandatee-edit={{index}}
                    >
                    </Auk::Button>
                  </Auk::Toolbar::Item>
                  <Auk::Toolbar::Item>
                    <div class="auk-u-position-relative auk-u-inline-block">
                      <Auk::Button
                        @skin="borderless"
                        @layout="icon-only"
                        @icon="settings"
                        {{action "toggleProperty" "isResigningMandatee" mandatee}}
                        data-test-mandatee-route-settings-ministers-mandatee-resign={{index}}
                      >
                      </Auk::Button>
                      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
                        {{t "resign"}}
                      </EmberTooltip>
                    </div>
                  </Auk::Toolbar::Item>
                  <Auk::Toolbar::Item>
                    <Auk::Button
                      @skin="warning-borderless"
                      @layout="icon-only"
                      @icon="delete"
                      {{action "toggleProperty" "isDeletingMandatee" mandatee}}
                      data-test-route-settings-ministers-mandatee-delete={{index}}
                    >
                    </Auk::Button>
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
              </Auk::Toolbar>
            </td>
          </sortableGroup.item>
        {{/each}}
      </SortableGroup>
    </table>
  {{!-- template-lint-enable table-groups --}}
  {{/if}}
  {{#if isEditingMandatee}}
    {{#web-components/vl-modal
      isOverlay=true
      title=(t "manage-ministers")
      closeModal=(action "toggleProperty" "isEditingMandatee" mandateeToEdit)
    }}
      {{utils/manage-mandatees
        mandateeToEdit=mandateeToEdit
        mandateesUpdated=(action "mandateesUpdated")
        isEditing=isEditingMandatee
        closeModal=(action "toggleProperty" "isEditingMandatee" mandateeToEdit)
      }}
    {{/web-components/vl-modal}}
  {{/if}}
  {{#if isResigningMandatee}}
    {{#web-components/vl-modal
      isOverlay=true
      title=(t "manage-ministers")
      closeModal=(action "toggleProperty" "isResigningMandatee" mandateeToEdit)
    }}
      {{utils/manage-mandatees
        mandateeToEdit=mandateeToEdit
        mandateesUpdated=(action "mandateesUpdated")
        isResigning=isResigningMandatee
        closeModal=(action "toggleProperty" "isResigningMandatee" mandateeToEdit)
      }}
    {{/web-components/vl-modal}}
  {{/if}}
  {{#if isAddingMandatee}}
    {{#web-components/vl-modal
      isOverlay=true
      title=(t "manage-ministers")
      closeModal=(action "toggleIsAdding")
    }}
      {{utils/create-mandatee
        model=model
        closeModal=(action "toggleIsAdding")
        mandateesUpdated=(action "mandateesUpdated")
      }}
    {{/web-components/vl-modal}}
  {{/if}}
  {{#if isDeletingMandatee}}
    {{web-components/vl-modal-verify
      title=(t "warning-title")
      verifyButtonText=(t "delete")
      message=(t "delete-mandatee-message")
      cancel=(action "cancel")
      verify=(action "deleteMandatee")
      mandateesUpdated=(action "mandateesUpdated")
    }}
  {{/if}}
  {{outlet}}
</div>