<li class="vlc-tabs__tab"...attributes>
  <LinkTo @route="{{@route}}">
    <span class="vlc-tabs__tab-inner">
      <Tab::InnerLayout @layout={{@layout}} @icon={{@icon}} @counter={{@counter}}>
        {{yield}}
      </Tab::InnerLayout>
    </span>
  </LinkTo>
</li>
