<div class="vl-u-spacer--large">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vlc-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "documents"}}
      </h4>
      {{#if
        (and currentSession.isEditor (gt (await agendaitemOrSubcaseOrMeeting.documentsLength) 0))
      }}
        <div class="vl-u-spacer-extended-left-s">
          <a data-test-subcase-documents-edit href="" class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (not isEditing)}}
    {{#if (is-pending agendaitemOrSubcaseOrMeeting.documents)}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else if (not overheidCanViewDocuments)}}
      <div class="vl-u-spacer-extended-top-s">
        <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
      </div>
    {{else if (gt (await agendaitemOrSubcaseOrMeeting.documentsLength) 0)}}
      {{#each (await agendaitemOrSubcaseOrMeeting.documents) as |document|}}
        <Agenda::Agendaitem::AgendaitemCase::SubcaseDocument::DocumentLink
                @document={{document}}
                @agendaitemOrSubcaseOrMeeting={{agendaitemOrSubcaseOrMeeting}} />
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
      </div>
    {{/if}}
  {{else}}
    <Agenda::Agendaitem::AgendaitemCase::EditSubcaseDocuments
            @documents={{await agendaitemOrSubcaseOrMeeting.documents}}
            @item={{agendaitemOrSubcaseOrMeeting}}
            @cancelForm={{action "cancelEditing"}} />
  {{/if}}
  {{#if (is-pending agendaitemOrSubcaseOrMeeting.documents)}}
    <button type="button" class="vl-button vl-button--loading" disabled>
      {{t "please-be-patient"}}
    </button>
  {{else if currentSession.isEditor}}
    <div class="vl-u-spacer">
      <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
        {{action "toggleIsAddingNewDocument"}}>
        <i class="vl-button__icon vl-button__icon--before ki-add"></i>
        {{t "document-add"}}
      </button>
    </div>
  {{/if}}
  {{#if shouldShowLinkedDocuments}}
    <div class="vl-u-spacer">
      <div class="vl-u-display-flex vlc-u-display-flex-align-center">
        <h4 class="vl-title vl-title--h4">
          {{t "linked-documents"}}
        </h4>
      </div>
    </div>
    {{#if (is-pending agendaitemOrSubcaseOrMeeting.linkedDocuments)}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else if (gt (await agendaitemOrSubcaseOrMeeting.linkedDocumentsLength) 0)}}
      {{#each (await agendaitemOrSubcaseOrMeeting.linkedDocuments) as |document|}}
        <Agenda::Agendaitem::AgendaitemCase::SubcaseDocument::LinkedDocumentLink
                @document={{document}}
                @agendaitemOrSubcaseOrMeeting={{agendaitemOrSubcaseOrMeeting}} />
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        <WebComponents::VlAlert @message={{t "no-linked-documents-yet"}} />
      </div>
    {{/if}}
    {{#if (is-pending agendaitemOrSubcaseOrMeeting.linkedDocuments)}}
      <button type="button" class="vl-button vl-button--loading" disabled>
        {{t "please-be-patient"}}
      </button>
    {{else if currentSession.isEditor}}
      <div class="vl-u-spacer">
        <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
                data-test-add-linked-documents
          {{action "toggleIsLinkingOldDocument"}}>
          <i class="vl-button__icon vl-button__icon--before ki-add"
          ></i>
          {{t "document-link-old"}}
        </button>
      </div>
    {{/if}}
  {{/if}}
</div>
{{#if isAddingNewDocument}}
  <WebComponents::VlModal
          @closeModal={{action "deleteAll"}}
          @isOverlay={{true}}
          @large={{true}}
          @title={{t "document-add"}} >
    <div class="vl-modal-dialog__content">
      {{#if showDetail}}
        <div class="vl-u-align-right vl-u-spacer-extended-s">
          <LinkTo
                  @route="cases.case.subcases.subcase.overview"
                  @model={{agendaitemOrSubcaseOrMeeting.id}}
                  @target="_blank">
            {{t "to-subcase"}}
          </LinkTo>
        </div>
      {{/if}}
      {{file-uploader
        isLoading=isLoading
        multipleFiles=true
        uploadedFileAction=(action "add")
      }}
      {{#if (not isLoading)}}
        <div class="upload-container">
          {{#each documentsInCreation as |doc|}}
            {{#ember-kaleidos-webuniversum/vl-uploaded-document
              name=doc.file.filename
              extension=doc.file.extension
              size=doc.file.size
              downloadName=doc.file.filename
              downloadLink=(concat
                      doc.file.downloadLink
                      "?name="
                      doc.file.filename
              )
              delete=(action "delete" doc)
            }}
              <div class="metadata-container">
                <div class="vlc-input-field-block">
                  <WebComponents::VlFormLabel @value={{t "document-name"}} />
                  <WebComponents::VlFormInput
                          @width="4"
                          @value={{mut doc.name}} />
                </div>
                <div class="vlc-input-field-block">
                  <WebComponents::VlFormLabel @value={{t "document-type"}} />
                  {{#if
                    (and
                            (is-fulfilled doc.documentContainer.type)
                            this.documentTypes)
                  }}
                    <Utils::RadioDropdownComboSelect
                      @options={{this.documentTypes}}
                      @onSelect={{action "chooseDocumentType" doc.documentContainer}}
                      @selected={{get
                        doc.documentContainer.type
                        "content"
                      }} {{!-- content getter and if-fulfilled condition because of computeds retruning promise-proxies --}}
                    />
                  {{/if}}
                </div>
              </div>
            {{/ember-kaleidos-webuniversum/vl-uploaded-document}}
          {{/each}}
        </div>
      {{else}}
        <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
      {{/if}}
    </div>
    <WebComponents::VlModalFooter
      @isLoading={{isLoading}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "document-add"}}
      @cancelAction={{action "deleteAll"}}
      @saveAction={{action "saveDocumentContainers"}}
      @disableSave={{eq model.length 0}} />
  </WebComponents::VlModal>
{{/if}}
{{#if isLinkingOldDocument}}
  <WebComponents::VlModal
    @closeModal={{action "toggleIsLinkingOldDocument"}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-link-old"}} >
    <div class="vl-modal-dialog__content">
      <Utils::AddExistingDocument
        @add={{action "link"}}
        @delete={{action "unlink"}} />
    </div>
    <WebComponents::VlModalFooter
      @isLoading={{isLoading}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "document-link-old"}}
      @cancelAction={{action "toggleIsLinkingOldDocument"}}
      @saveAction={{action "linkDocuments"}}
      @disableSave={{eq documentsToLink.length 0}} />
  </WebComponents::VlModal>
{{/if}}