<table
  class="auk-table
  {{if @hoverable "auk-table--hoverable"}}
  {{if @striped "auk-table--striped"}}
  {{if @stickyHeader "auk-table--sticky-header"}}
  {{if @stickyActionColumn "auk-table--sticky-action-column"}}
  {{if @list "auk-table--list"}}"
  ...attributes
>
  <thead>
    <tr>
      {{yield to="header"}}
    </tr>
  </thead>
  <tbody class="{{if (or @clickable @onClickRow) "auk-table--clickable-rows"}}">
    {{#if @loading}}
      <tr>
        <td colspan="100%" class="is-loading-data">
          {{yield to="loading"}}
        </td>
      </tr>
    {{else if @content}}
      {{#each @content as |row|}}
        <tr
          class="{{if (await (this.shouldDisableRow row)) "auk-table-row-disabled" ""}}"
          role="button"
          {{on "click" (fn (optional @onClickRow) row)}}
        >
          {{yield row to="body"}}
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="100%">
          {{yield to="noData"}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
