{{#if (await meetingRecordOrDecision.signedDocument)}}
  {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
    document=(await meetingRecordOrDecision.signedDocument)
    subcaseAgendaitemMeetingOrDocumentContainer=(await meetingRecordOrDecision.signedDocument)
  }}
{{else if (await meetingRecordOrDecision.report)}}
  {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
    document=(await meetingRecordOrDecision.report)
    subcaseAgendaitemMeetingOrDocumentContainer=(await meetingRecordOrDecision.report)
  }}
{{else if (await meetingRecordOrDecision)}}
  {{#if currentSession.isEditor}}
    <button type="button" class="vl-button vl-button--tertiary"
      data-test-upload-decision-file
      {{action "toggleIsAddingNewDocument"}}
    >
      {{title}}
    </button>
  {{/if}}
{{/if}}
{{#if isAddingNewDocument}}
  {{#web-components/vl-modal
    closeModal=(action "closeModal")
    isOverlay=true
    large=true
    title=(t "documents-add")
  }}
    <div class="vl-modal-dialog__content">
      {{#if (eq documentsInCreation.length 0)}}
        {{file-uploader
          isLoading=isLoading
          multipleFiles=false
          uploadedFileAction=(action "uploadedFile")
        }}
      {{/if}}
      {{#if (not isLoading)}}
        <div class="upload-container">
          {{#each documentsInCreation as |doc|}}
            {{ember-kaleidos-webuniversum/vl-uploaded-document
              name=doc.file.filename
              extension=doc.file.extension
              size=doc.file.size
              downloadName=doc.file.filename
              downloadLink=(concat
                      doc.file.downloadLink
                      "?name="
                      doc.file.filename
              )
              delete=(action "deleteFile" doc.file)
            }}
          {{/each}}
        </div>
      {{else}}
        {{web-components/vl-loader text=(t "documents-uploading-text")}}
      {{/if}}
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "documents-add")
      cancelAction=(action "closeModal")
      saveAction=(action "uploadNewDocument")
      disableSave=(eq documentsInCreation.length 0)
    }}
  {{/web-components/vl-modal}}
{{/if}}
