<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-4">
    <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--wrap">
      <Auk::Button
        @skin="tertiary"
        @icon="pencil"
        @route="settings.emails"
        data-test-route-settings-overview-manage-emails
      >
        {{t "manage-emails"}}
      </Auk::Button>

      <Auk::Button
        @skin="tertiary"
        @icon="pencil"
        @route="settings.system-alerts"
        data-test-route-settings-overview-manage-alerts
      >
        {{t "manage-alerts"}}
      </Auk::Button>

      <Auk::Button
        @skin="tertiary"
        @icon="pencil"
        @route="settings.document-types"
        data-test-route-settings-overview-manage-document-types
      >
        {{t "manage-document-types"}}
      </Auk::Button>

      <Auk::Button
        @skin="tertiary"
        @icon="pencil"
        @route="settings.case-types"
        data-test-route-settings-overview-manage-case-types
      >
        {{t "manage-case-types"}}
      </Auk::Button>

      <Auk::Button
        @skin="tertiary"
        @icon="pencil"
        @route="settings.subcase-types"
        data-test-route-settings-overview-manage-subcase-types
      >
        {{t "manage-subcase-types"}}
      </Auk::Button>
    </div>
    {{outlet}}
  </div>
</div>