<div class="auk-u-m-8 auk-u-flex auk-u-flex--wrap">
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-emails
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.emails"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-emails"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
            data-test-manage-government-domains
            @tagName="button"
            @type="button"
            class="auk-button auk-button--tertiary vl-button--icon-before"
            @route="settings.government-domains"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-government-domains"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-government-fields
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.government-fields"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-government-fields"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-ise-codes
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.ise-codes"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-ise-codes"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-alerts
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.system-alerts"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-alerts"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-document-types
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.document-types"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-document-types"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-case-types
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.case-types"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-case-types"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-subcase-types
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary vl-button--icon-before"
      @route="settings.subcase-types"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-subcase-types"}}
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
            data-test-manage-signatures
            @tagName="button"
            @type="button"
            class="auk-button auk-button--tertiary vl-button--icon-before"
            @route="settings.signature"
    >
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-pencil"></i>
</div>
      {{t "manage-signatures"}}
    </LinkTo>
  </div>
</div>
{{outlet}}