<div class="auk-u-m-8 auk-o-flex auk-o-flex--wrap">
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.emails"
      data-test-route-settings-overview-manage-emails
    >
      {{t "manage-emails"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.government-domains"
      data-test-route-settings-overview-manage-government-domains
    >
      {{t "manage-government-domains"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.government-fields"
      data-test-route-settings-overview-manage-government-fields
    >
      {{t "manage-government-fields"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.ise-codes"
      data-test-route-settings-overview-manage-ise-codes
    >
      {{t "manage-ise-codes"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.system-alerts"
      data-test-route-settings-overview-manage-alerts
    >
      {{t "manage-alerts"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.document-types"
      data-test-route-settings-overview-manage-document-types
    >
      {{t "manage-document-types"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.case-types"
      data-test-route-settings-overview-manage-case-types
    >
      {{t "manage-case-types"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.subcase-types"
      data-test-route-settings-overview-manage-subcase-types
    >
      {{t "manage-subcase-types"}}
    </Auk::Button>
  </div>
  <div class="auk-u-m-2">
    <Auk::Button
      @skin="tertiary"
      @icon="pencil"
      @route="settings.signature"
      data-test-route-settings-overview-manage-signatures
    >
      {{t "manage-signatures"}}
    </Auk::Button>
  </div>
</div>
{{outlet}}