<div class="auk-u-m-8 auk-o-flex auk-o-flex--wrap">
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-emails
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.emails"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-emails"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-government-domains
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.government-domains"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-government-domains"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-government-fields
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.government-fields"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-government-fields"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-ise-codes
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.ise-codes"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-ise-codes"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-alerts
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.system-alerts"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-alerts"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-document-types
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.document-types"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-document-types"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-case-types
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.case-types"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-case-types"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-subcase-types
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.subcase-types"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-subcase-types"}}
        </div>
      </span>
    </LinkTo>
  </div>
  <div class="auk-u-m-2">
    <LinkTo
      data-test-manage-signatures
      @tagName="button"
      @type="button"
      class="auk-button auk-button--tertiary"
      @route="settings.signature"
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-pencil"></i>
        </div>
        <div class="auk-button__label">
          {{t "manage-signatures"}}
        </div>
      </span>
    </LinkTo>
  </div>
</div>
{{outlet}}