<div class="vl-u-spacer-extended-l">
  <div class=""></div>
  {{#utils/agendaitem-table
    model=model
    sort=sort
    page=page
    filter=filter
    include=include
    size=size
    columns=columns as |row|
  }}
    <div class="vl-u-spacer-extended-l">
      {{#if (is-pending row.meetingRecord)}}
        {{web-components/vl-loader text=(t "minutes-document-loading-text")}}
      {{else if (await row.meetingRecord)}}
        {{agenda/agendaitem/agendaitem-minutes-edit
          isEditing=row.expanded
          isTableRow=true
          agendaitem=row
        }}
      {{else}}
        <div class="vl-u-spacer-extended">
          <div class="vl-action-group vl-action-group--align-center">
            <button
                    class="vl-button vl-button--secondary vl-button--narrow vl-button--icon-before"
              {{action "addMeetingRecord" row}}
            >
              <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
              ></i>
              {{t "create-notes"}}
            </button>
          </div>
        </div>
        <div class="vl-u-align-center vl-typography">
          <p class="vl-u-text--muted">
            {{t "no-notes"}}
          </p>
        </div>
      {{/if}}
    </div>
  {{/utils/agendaitem-table}}
</div>
{{outlet}}