<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title">
            {{t "documents"}}
          </h4>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        {{#unless this.isViaCouncilOfMinisters}}
          <Group.Item>
            <Auk::Button
              @skin="primary"
              @icon="plus"
              {{on "click" this.openReferenceDocumentUploadModal}}
            >
              {{t "document-add"}}
            </Auk::Button>
          </Group.Item>
        {{/unless}}
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body class="auk-u-bg-alt">
    <Utils::Generic::Timeline::Timeline @model={{@model}} as |Timeline|>
      <Timeline.Event @badgeIcon="check" @badgeSkin="success" as |event|>
        {{#if event.isRequest}}
          {{!Aanvraag}}
          <Auk::Panel>
            <Auk::Panel::Header>
              <Auk::Toolbar as |Toolbar|>
                <Toolbar.Group @position="left" as |Group|>
                  <Group.Item>
                    <h4 class="auk-u-m-0">
                      {{t "publications-published"}}
                    </h4>
                    <p class="auk-u-text-small auk-u-m-0">
                      {{moment-format event.date}}
                    </p>
                  </Group.Item>
                </Toolbar.Group>
                {{!TODO? menu button}}
              </Auk::Toolbar>
            </Auk::Panel::Header>
          </Auk::Panel>
        {{else}}
          {{!Publicatie}}
          <Auk::Panel>
            <Auk::Panel::Header>
              <Auk::Toolbar as |Toolbar|>
                <Toolbar.Group @position="left" as |Group|>
                  <Group.Item>
                    <h4 class="auk-u-m-0">
                      {{t "publications-published"}}
                    </h4>
                    <p class="auk-u-text-small auk-u-m-0">
                      {{moment-format event.date}}
                    </p>
                  </Group.Item>
                </Toolbar.Group>
                {{!TODO? menu button}}
              </Auk::Toolbar>
            </Auk::Panel::Header>
          </Auk::Panel>
        {{/if}}
      </Timeline.Event>
    </Utils::Generic::Timeline::Timeline>
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenReferenceDocumentUploadModal}}
  <Publications::Documents::ReferenceDocumentUploadModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveReferenceDocument}}
    @onCancel={{this.closeReferenceDocumentUploadModal}}
  />
{{/if}}