<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title">
            {{t "publications"}}
          </h4>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          <Auk::Button
            @skin="primary"
            @icon="plus"
            {{on "click" this.openRequestModal}}
          >
            {{t "request-publication"}}
          </Auk::Button>
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body class="auk-u-bg-alt">
    <Utils::Generic::Timeline::Timeline @events={{@model}} as |Timeline event|>
      {{#if event.isRequest}}
        {{!Aanvraag}}
        <Publications::Publication::PublicationActivities::Index::Timeline::PublicationsRequestEventPanel
          @requestActivity={{event.requestActivity}}
        />
      {{else}}
        {{!Publicatie}}
        <Publications::Publication::PublicationActivities::Index::Timeline::PublicationsPublicationEventPanel
          @publicationActivity={{event.publicationActivity}}
        />
      {{/if}}
    </Utils::Generic::Timeline::Timeline>
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenRequestModal}}
  <Publications::Publication::PublicationActivities::Index::PublicationRequestModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveRequest}}
    @onCancel={{this.closeRequestModal}}
  />
{{/if}}