<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title">
            {{t "documents"}}
          </h4>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        {{#unless this.isViaCouncilOfMinisters}}
          <Group.Item>
            <Auk::Button
              @skin="primary"
              @icon="plus"
              {{on "click" this.openReferenceDocumentUploadModal}}
            >
              {{t "document-add"}}
            </Auk::Button>
          </Group.Item>
        {{/unless}}
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body class="auk-u-bg-alt">
    <Utils::Generic::Timeline::Timeline @model={{@model}} as |event Component|>
      {{#if event.isRequest}}
        {{!Aanvraag}}
        <Component @badgeIcon="mail" @badgeSkin="primary">
          <Publications::Publication::PublicationActivities::Timeline::PublicationsRequestEventPanel
            @publicationActivity={{event.publicationActivity}}
          />
        </Component>
      {{else}}
        {{!Publicatie}}
        <Component @badgeIcon="check" @badgeSkin="success">
          <Publications::Publication::PublicationActivities::Timeline::PublicationsPublicationEventPanel
            @decision={{event.decision}}
          />
        </Component>
      {{/if}}
    </Utils::Generic::Timeline::Timeline>
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenReferenceDocumentUploadModal}}
  <Publications::Documents::ReferenceDocumentUploadModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveReferenceDocument}}
    @onCancel={{this.closeReferenceDocumentUploadModal}}
  />
{{/if}}