<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title">
            {{t "documents"}}
          </h4>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          <Auk::Button
            @skin="primary"
            @icon="plus"
            {{on "click" this.openRequestModal}}
          >
            {{t "request-publication"}}
          </Auk::Button>
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body class="auk-u-bg-alt">
    <Utils::Generic::Timeline::Timeline @model={{@model}} as |event Component|>
      {{#if event.isRequest}}
        {{!Aanvraag}}
        <Component @badgeIcon="mail" @badgeSkin="primary">
          <Publications::Publication::PublicationActivities::Index::Timeline::PublicationsRequestEventPanel
            @requestActivity={{event.requestActivity}}
          />
        </Component>
      {{else}}
        {{!Publicatie}}
        <Component @badgeIcon="check" @badgeSkin="success">
          <Publications::Publication::PublicationActivities::Index::Timeline::PublicationsPublicationEventPanel
            @publicationActivity={{event.publicationActivity}}
          />
        </Component>
      {{/if}}
    </Utils::Generic::Timeline::Timeline>
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenRequestModal}}
  <Publications::Publication::PublicationActivities::Index::PublicationRequestModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveRequest}}
    @onCancel={{this.closeRequestModal}}
  />
{{/if}}