{{ page-title
  (t "agendaitems")
}}
<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div>
          <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">Inhoud</AuHeading>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search-future.all"
              >
                Alle inhoud
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search-future.cases"
              >
                Dossier
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search-future.agenda-items"
              >
                Agenda
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search-future.documents"
              >
                Document
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search-future.decisions"
              >
                Beslissing
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search-future.newsletter-infos"
              >
                Kort bestek
              </AuNavigationLink>
            </li>
          </ul>
        </div>
        <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny">
          <div class="au-c-card au-o-box au-o-box--small">
            <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
              <Auk::Label>{{t "from"}}</Auk::Label>
              <Auk::Datepicker
                @date={{this.dateFromBuffer}}
                @onChange={{set this "dateFromBuffer"}}
                @enableClear={{this.dateFromBuffer}}
                @onClear={{set this "dateFromBuffer" undefined}}
              />
            </div>
            <div class="auk-form-group auk-u-position-relative">
              <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
              <Auk::Datepicker
                @date={{this.dateToBuffer}}
                @onChange={{set this "dateToBuffer"}}
                @enableClear={{this.dateToBuffer}}
                @onClear={{set this "dateToBuffer" undefined}}
              />
            </div>
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Utils::MinisterSelect />
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>Type</Auk::Label>
            <Auk::Checkbox
              @checked={{false}}
              @label="Nota's"
            />
            <Auk::Checkbox
              @checked={{false}}
              @label="Mededelingen"
            />
            <Auk::Checkbox
              @checked={{false}}
              @label="Decreten"
            />
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>Toon</Auk::Label>
            <Auk::Checkbox
              @checked={{this.latestOnly}}
              @label="Laatste agenda"
              {{on "input" this.toggleLatestOnly}}
            />
            <Auk::Checkbox
              @checked={{false}}
              @label="Beperkte toegang"
            />
            <Auk::Checkbox
              @checked={{false}}
              @label="Niet-geagendeerde stappen"
            />
          </div>
        </div>
      </div>
    </div>
  </m.sidebar>
  <m.content
    @scroll={{true}}
  >
    <div class="au-o-box au-o-box--small">
      {{#if this.model.length}}
        <div class="au-u-flex au-u-flex--no-wrap au-u-flex--spaced au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <p class="au-u-muted">
            <strong class="au-u-medium">1-{{this.size}}</strong> resultaten voor <strong class="au-u-medium">"keyword"</strong> in <strong>agendapunten</strong>
          </p>
          <div>
            <AuLabel for="sort" class="au-u-hidden-visually">{{t "sort-by"}}</AuLabel>
            <select
              data-test-route-search-agendaitems-sidebar-sort-options
              name="sort-type"
              id="sort-type"
              class="auk-select auk-select--block"
              {{on "input" this.selectSort}}
            >
              {{#each this.sortOptions as |sortType|}}
                <option
                  value={{sortType.value}}
                  selected={{eq sortType.value this.sort}}>
                  {{sortType.label}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-card-table"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToAgendaitem}}
        as |table|
        >
          <table.content as |c|>
            {{!-- <c.header>
              <th class="auk-table__col--7">
                {{t "agendaitem-table-header"}}
              </th>
              <th class="auk-table__col--1">
                {{t "agendaitem-type"}}
              </th>
              <th class="auk-table__col--1">
                {{t "agenda-version"}}
              </th>
              <ThSortable
                @class="auk-table__col--1"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "on-agenda-of"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header> --}}
            <c.body class="auk-table--clickable-rows" as |row|>
              <td>
                <AuCard
                  @shadow={{true}}
                  @size="small"
                  as |c|
                >
                  <c.header>
                    <p class="au-u-para-small au-u-muted au-u-medium">
                      {{moment-format row.sessionDates}}
                    </p>
                    <AuHeading @level="3" @skin="4">
                      <AuLink
                        class="au-u-padding-none"
                        @route="agenda.agendaitems.agendaitem"
                        @models={{array row.meetingId row.agendaId row.id}}>
                        {{#if row.shortTitle}}
                          {{row.shortTitle}}
                        {{else}}
                          {{row.title}}
                        {{/if}}
                      </AuLink>
                    </AuHeading>
                  </c.header>
                  <c.content>
                    <p class="au-u-para">Tekst ...... <strong>test</strong> ....... tekst</p>
                    <p class="au-u-para-small au-u-margin-top-small au-u-muted">
                      Uit
                      <AuLink @skin="secondary">
                        Agenda versie C
                        {{!-- {{#if (eq row.agendaSerialNumber.length 1)}}
                          {{t "agenda"}} {{row.agendaSerialNumber}}
                        {{else}}
                          {{t "agenda"}}
                        {{/if}} --}}
                      </AuLink>
                    </p>
                    <p class="au-u-para-small au-u-margin-top-none au-u-muted">
                      Ook gevonden in
                      <AuLink @skin="secondary">
                        Versie B
                      </AuLink>,
                      <AuLink @skin="secondary">
                        Versie A
                      </AuLink>
                    </p>
                  </c.content>
                </AuCard>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "fill-in-search-term"}}
          />
        {{else}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "no-results-found-modify-term"}}
          />
        {{/if}}
      {{/if}}
    </div>
  </m.content>
</AuMainContainer>
