<div class="cases--search">
  <div class="search--input">
    <label class="vl-form__label">
      {{t "cases-search.title-document"}}
    </label>
    {{input class="vl-input-field" placeholder="hello world"}}
  </div>
  <div class="search--input">
    <label class="vl-form__label">
      {{t "cases-search.keyword"}}
    </label>
    {{input class="vl-input-field" placeholder="hello world"}}
  </div>
  <div class="search--input">
    <label class="vl-form__label">
      {{t "cases-search.cases-number"}}
    </label>
    {{input class="vl-input-field" placeholder="hello world"}}
  </div>
  <div class="search--input">
    <label class="vl-form__label">
      {{t "cases-search.document-number"}}
    </label>
    {{input class="vl-input-field" placeholder="hello world"}}
  </div>
  <div class="search--input">
    <label class="vl-form__label">
      {{t "cases-search.date"}}
    </label>
    {{input class="vl-input-field" placeholder="hello world"}}
  </div>
  <button class="vl-button vl-button--tertiary">
    Zoeken
  </button>
</div>
<!--

{{#power-select
  placeholder=(t 'cases-search.search-placeholder')
  selected=currentCase
  searchField="title"
  search=(perform searchTask)
  oninput=(action "resetValue")
  onchange=(action "chooseCase") as |case|
}}
  <strong>
    {{case.title}}
  </strong>
{{/power-select}}
-->