<div id="case" class="auk-u-mb-4">
  {{#if this.isEditing}}
    <SubcaseDemo::ApprovalTitlesPanel::ApprovalTitlesPanelEdit
      @subcase={{@subcase}}
      @onCancel={{this.cancelEditing}}
      @onSave={{this.stopEditing}}
      @step={{@step}}
      @status={{@status}}
    />
  {{else}}
    <SubcaseDemo::ApprovalTitlesPanel::ApprovalTitlesPanelView
      @subcase={{@subcase}}
      @meeting={{@meeting}}
      @allowEditing={{@allowEditing}}
      @onClickEdit={{this.startEditing}}
      @step={{@step}}
      @status={{@status}}
    />
  {{/if}}
</div>