<div class="vlc-panel-layout__main-content">
  <Navbar @auto="true">
    <Toolbar @auto="true">
      <Toolbar::Group>
        <Toolbar::Item>
          <Tabs>
            <Tab @route="publications.in-progress">{{t "publications.in-progress"}} ({{amountInProgress}})</Tab>
            <Tab @route="publications.done">{{t "publications.done"}} ({{amountDone}})</Tab>
          </Tabs>
        </Toolbar::Item>
      </Toolbar::Group>
      <Toolbar::Group @position="right">
        <Toolbar::Item>
          <AuButton @icon="add" @skin="primary" {{on "click" (fn this.showNewPublicationModal)}}>
            {{t "publications.new"}}
          </AuButton>
        </Toolbar::Item>
      </Toolbar::Group>
    </Toolbar>
  </Navbar>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    <Navbar @size="large" @border="none">
      <Toolbar>
        <Toolbar::Group>
          <AuInput @icon="search" @block="true" placeholder="Zoeken..."></AuInput>
        </Toolbar::Group>
        <Toolbar::Group @position="right">
          <Toolbar::Item>
            <AuButton @icon="filter">{{t "filter"}}</AuButton>
          </Toolbar::Item>
        </Toolbar::Group>
      </Toolbar>
    </Navbar>
    {{#if isShowingPublicationModal}}
      <WebComponents::AuModal>
        <WebComponents::AuModal::Modal::Header @title={{t "publications-new-not-minister"}} @hideModal={{this.hidePublicationModal}}/>
        <WebComponents::AuModal::Modal::Body>
          <WebComponents::AuAlert @message={{t "publications-new-warning-message"}} @icon="ki-circle-info" />
          <div class="au2-form-group-layout au2-form-group-layout--standard">
            <div class="au2-form-group">
              <WebComponents::AuLabel for="publicationNumberInput">{{t "publications-number-required"}}</WebComponents::AuLabel>
              <AuInput type="text" id="publicationNumberInput" class="au2-input--max-width" @block="true" @value={{mut publication.number}}/>
            </div>
            <div class="au2-form-group">
              <WebComponents::AuLabel for="shortTitleInput">{{t "name-subcase-required"}}</WebComponents::AuLabel>
              <WebComponents::AuTextarea id="shortTitleInput" @rows="2" @value={{mut publication.shortTitle}}/>
            </div>
            <div class="au2-form-group">
              <WebComponents::AuLabel for="longTitleInput">{{t "title-subcase"}}</WebComponents::AuLabel>
              <WebComponents::AuTextarea id="longTitleInput" @rows="4" @value={{mut publication.longTitle}} />
            </div>
          </div>
        </WebComponents::AuModal::Modal::Body>
        <WebComponents::AuModal::Modal::Footer>
          <WebComponents::AuToolbar>
            <WebComponents::AuToolbar::Group @position="left">
              <WebComponents::AuToolbar::Item>
                <AuButton @skin="borderless" {{on "click" this.hidePublicationModal}}>{{t "cancel"}}</AuButton>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
            <WebComponents::AuToolbar::Group @position="right">
              <WebComponents::AuToolbar::Item>
                <AuButton @skin="primary" {{on "click" this.createNewPublication}}>{{t "publications-new-button-text"}}</AuButton>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
          </WebComponents::AuToolbar>
        </WebComponents::AuModal::Modal::Footer>
      </WebComponents::AuModal>
    {{/if}}
    {{outlet}}
  </div>
</div>