<div class="vlc-panel-layout__main-content">
  <Navbar @auto="true">
    <Toolbar @auto="true">
      <Toolbar::Group>
        <Toolbar::Item>
          <Tabs>
            <Tab @route="publications.in-progress">{{t "publications.in-progress"}} ({{amountInProgress}})</Tab>
            <Tab @route="publications.done">{{t "publications.done"}} ({{amountDone}})</Tab>
          </Tabs>
        </Toolbar::Item>
      </Toolbar::Group>
      <Toolbar::Group @position="right">
        <Toolbar::Item>
          <Button @icon="add" @skin="primary">{{t "publications.new"}}</Button>
        </Toolbar::Item>
      </Toolbar::Group>
    </Toolbar>
  </Navbar>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    <Navbar @size="large" @border="none">
      <Toolbar>
        <Toolbar::Group>
          <Input @icon="search" @block="true" placeholder="Zoeken..."></Input>
        </Toolbar::Group>
        <Toolbar::Group @position="right">
          <Toolbar::Item>
            <Button @icon="filter">{{t "filter"}}</Button>
          </Toolbar::Item>
        </Toolbar::Group>
      </Toolbar>
    </Navbar>
    {{outlet}}
  </div>
</div>
