<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "publications-reports--modal-title" title=@title}}
    @onClose={{@onClose}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      {{#if @userInputFields.decisionDateRange}}
        <div class="auk-o-grid">
          {{!Beslissingsdatum}}
          <div class="auk-o-grid-col-6">
            <div class="auk-form-group">
              <Auk::Label
                for="publicationReportsDecisionStartDate"
                @required={{true}}
                @error={{not this.isDecisionDateRangeStartValid}}
              >
                {{t "start-date"}}
              </Auk::Label>
              <Auk::Datepicker
                id="publicationReportsDecisionStartDate"
                @date={{this.decisionDateRangeStart}}
                {{!validation of start being before end is done in controller to allow flexible editing}}
                @min={{this.decisionDateMin}}
                @max={{this.decisionDateMax}}
                @onChange={{fn (mut this.decisionDateRangeStart)}}
                @error={{not this.isDecisionDateRangeStartValid}}
              />
            </div>
          </div>
          <div class="auk-o-grid-col-6">
            <div class="auk-form-group">
              <Auk::Label
                for="publicationReportsDecisionEndDate"
                @error={{not this.isDecisionDateRangeEndValid}}
              >
                {{t "end-date"}}
              </Auk::Label>
              <Auk::Datepicker
                id="publicationReportsDecisionEndDate"
                @date={{this.decisionDateRangeEnd}}
                @min={{this.decisionDateMin}}
                @max={{this.decisionDateMax}}
                @onChange={{fn (mut this.decisionDateRangeEnd)}}
                @error={{not this.isDecisionDateRangeEndValid}}
              />
            </div>
          </div>
        </div>
      {{/if}}
      {{#if @userInputFields.publicationYear}}
        <div class="auk-form-group">
          <Auk::Label
            for="publicationReportsPublicationYear"
            @error={{not this.isPublicationYearValid}}
          >
            {{t "year"}}
          </Auk::Label>
          <AuInput
            @type="number"
            @value={{this.publicationYearAsString}}
            @error={{not this.isPublicationYearValid}}
            {{on "focusout" this.loadMandateePersons}}
            {{on "focusout" (perform this.loadGovernmentDomains)}}
            {{on "change" (perform this.loadGovernmentDomains)}}
            id="publicationReportsPublicationYear"
            {{!min/max does not prevent input of invalid year by typing}}
            min={{this.publicationYearMin}}
            max={{this.publicationYearMax}}
            class="auk-input-group--w-small" {{! TODO: replace `auk-input-group--w-small` with matching @width argument when it is implemented }}
          />
        </div>
      {{/if}}
      {{#if @userInputFields.mandateePersons}}
        <div class="auk-form-group">
          <Auk::Label>
            {{t "ministers"}}
          </Auk::Label>
          <PowerSelectMultiple
            data-test-generate-report-select-mandatee
            @options={{this.mandateePersons}}
            @selected={{this.selectedMandateePersons}}
            @onChange={{fn (mut this.selectedMandateePersons)}}
            @searchEnabled={{true}}
            @search={{perform this.searchMandateePersons}}
            @noMatchesMessage={{t "no-ministers-found"}}
            @searchMessage={{t "no-ministers-found"}}
            @loadingMessage={{t "search-loading-text"}}
            as |person|
          >
            {{person.fullName}}
          </PowerSelectMultiple>
        </div>
      {{/if}}
      {{#if @userInputFields.governmentDomains}}
        <div class="auk-form-group">
          <AuFieldset as |Fieldset|>
            <Fieldset.legend>{{t "government-domains"}}</Fieldset.legend>
            <Fieldset.content>
              <Auk::CheckboxList>
                {{#each this.governmentDomains as |governmentDomain|}}
                  <AuCheckbox
                    @checked={{includes
                      governmentDomain
                      this.selectedGovernmentDomains
                    }}
                    @onChange={{fn this.selectGovernmentDomain governmentDomain}}
                  >
                    {{governmentDomain.label}}
                  </AuCheckbox>
                {{/each}}
              </Auk::CheckboxList>
            </Fieldset.content>
          </AuFieldset>
        </div>
      {{/if}}
      {{#if @userInputFields.regulationTypes}}
        <div class="auk-form-group">
          <AuFieldset as |Fieldset|>
            <Fieldset.legend>{{t "regulation-types"}}</Fieldset.legend>
            <Fieldset.content>
              <Auk::CheckboxList>
                {{#each this.regulationTypes as |regulationType|}}
                  <AuCheckbox
                    @checked={{includes
                      regulationType
                      this.selectedRegulationTypes
                    }}
                    @onChange={{fn this.selectRegulationType regulationType}}
                  >
                    {{regulationType.label}}
                  </AuCheckbox>
                {{/each}}
              </Auk::CheckboxList>
            </Fieldset.content>
          </AuFieldset>
        </div>
      {{/if}}
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onClose}}>
    <AuButton
      data-test-generate-report-confirm
      @skin="primary"
      @disabled={{not this.isValid}}
      {{on "click" this.triggerGenerateReport}}
    >
      {{t "publications-reports--generate--small"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>