<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "publications-reports--modal-title" title=@title}}
    @onClose={{@onClose}}
  />
  <Auk::Modal::Body>
    {{#if this.fields.decisionDateRange}}
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-6">
          {{!Beslissingsdatum}}
          <div class="auk-form-group">
            <Auk::Label
              for="publicationReportsDecisionStartDate"
              @required={{true}}
            >
              {{t "start-date"}}
            </Auk::Label>
            <Auk::Datepicker
              id="publicationReportsDecisionStartDate"
              @date={{this.fields.decisionDateRange.start}}
              @onChange={{fn (mut this.fields.decisionDateRange.start)}}
            />
          </div>
        </div>
        <div class="auk-o-grid-col-6">
          <div class="auk-form-group">
            <Auk::Label for="publicationReportsDecisionEndDate">
              {{t "end-date"}}
            </Auk::Label>
            <Auk::Datepicker
              id="publicationReportsDecisionEndDate"
              @date={{this.fields.decisionDateRange.end}}
              @onChange={{fn (mut this.fields.decisionDateRange.end)}}
            />
          </div>
        </div>
      </div>
    {{/if}}
    {{#if this.fields.publicationYear}}
      <div class="auk-form-group">
        <Auk::Label for="publicationReportsPublicationYear">
          {{t "year"}}
        </Auk::Label>
        <Auk::Input
          id="publicationReportsPublicationYear"
          @type="number"
          @value={{mut this.fields.publicationYear.value}}
        />
      </div>
    {{/if}}
    {{#if this.fields.mandatee}}
      <div
        class="auk-form-group"
        {{did-insert
          this.fields.mandatee.triggerLoadData
          this.fields.publicationYear.valueAsNumber
        }}
        {{did-update
          this.fields.mandatee.triggerLoadData
          this.fields.publicationYear.valueAsNumber
        }}
      >
        <Auk::Label>
          {{t "ministers"}}
        </Auk::Label>
        <PowerSelectMultiple
          @options={{this.fields.mandatee.loadData.last}}
          @selected={{this.fields.mandatee.value}}
          @onChange={{fn (mut this.fields.mandatee.value)}}
          as |person|
        >
          {{person.fullName}}
        </PowerSelectMultiple>
      </div>
    {{/if}}
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onClose}}>
    <Auk::Button
      @skin="primary"
      {{on "click" (perform this.triggerGenerateReport)}}
    >
      {{t "publications-reports--generate--small"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>