<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "publications-reports--modal-title" title=@title}}
    @onClose={{@onClose}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      {{#if @fields.decisionDateRange}}
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6">
            {{!Beslissingsdatum}}
            <div class="auk-form-group">
              <Auk::Label
                for="publicationReportsDecisionStartDate"
                @required={{true}}
              >
                {{t "start-date"}}
              </Auk::Label>
              <Auk::Datepicker
                id="publicationReportsDecisionStartDate"
                @date={{this.decisionDateRangeStart}}
                @onChange={{fn (mut this.decisionDateRangeStart)}}
              />
            </div>
          </div>
          <div class="auk-o-grid-col-6">
            <div class="auk-form-group">
              <Auk::Label for="publicationReportsDecisionEndDate">
                {{t "end-date"}}
              </Auk::Label>
              <Auk::Datepicker
                id="publicationReportsDecisionEndDate"
                @date={{this.decisionDateRangeEnd}}
                @onChange={{fn (mut this.decisionDateRangeEnd)}}
              />
            </div>
          </div>
        </div>
      {{/if}}
      {{#if @fields.publicationYear}}
        <div class="auk-form-group">
          <Auk::Label for="publicationReportsPublicationYear">
            {{t "year"}}
          </Auk::Label>
          <Auk::Input
            id="publicationReportsPublicationYear"
            @type="number"
            @value={{this.publicationYear}}
          />
        </div>
      {{/if}}
      {{#if @fields.mandatee}}
        <div class="auk-form-group">
          <Auk::Label>
            {{t "ministers"}}
          </Auk::Label>
          <PowerSelectMultiple
            @options={{this.mandateesOptions}}
            @selected={{this.selectedMandatees}}
            @onChange={{fn (mut this.selectedMandatees)}}
            @searchEnabled={{true}}
            @search={{perform this.searchMandatee}}
            @noMatchesMessage={{t "no-ministers-found"}}
            @loadingMessage={{t "search-loading-text"}}
            as |person|
          >
            {{person.fullName}}
          </PowerSelectMultiple>
        </div>
      {{/if}}
      {{#if @fields.governmentDomain}}
        <div class="auk-form-group">
          <Auk::Label>{{t "government-domains"}}</Auk::Label>
          <Auk::CheckboxList>
            {{#each this.governmentDomains as |governmentDomain|}}
              <Auk::Checkbox
                @checked={{includes
                  this.selectedGovernmentDomains
                  governmentDomain
                }}
                {{on "input" (fn this.selectGovernmentDomain governmentDomain)}}
              >
                {{governmentDomain.label}}
              </Auk::Checkbox>
            {{/each}}
          </Auk::CheckboxList>
        </div>
      {{/if}}
      {{#if @fields.regulationType}}
        <div class="auk-form-group">
          <Auk::Label>{{t "regulation-types"}}</Auk::Label>
          <Auk::CheckboxList>
            {{#each this.regulationTypes as |regulationType|}}
              <Auk::Checkbox
                @checked={{includes
                  this.selectedRegulationTypes
                  regulationType
                }}
                {{on "input" (fn this.selectRegulationType regulationType)}}
              >
                {{regulationType.label}}
              </Auk::Checkbox>
            {{/each}}
          </Auk::CheckboxList>
        </div>
      {{/if}}
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onClose}}>
    <Auk::Button
      @skin="primary"
      {{on "click" (perform this.triggerGenerateReport)}}
    >
      {{t "publications-reports--generate--small"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>