<Auk::Panel::Body class="auk-o-flex auk-o-flex--justify-between">
  <div>
    <h4 data-test-reports-panel-entry-title class="auk-h4 auk-u-m-0">{{@title}}</h4>
    {{#if @lastJob}}
      <div>
        <div data-test-reports-panel-entry-last-request class="auk-u-text-muted">
          {{t
            "publication-reports-last-request"
            date=(date @lastJob.created)
            time=(time @lastJob.created)
            user=@lastJob.generatedBy.fullName
          }}
        </div>
          <AuLinkExternal
            data-test-reports-panel-entry-download-link
            @icon="download"
            href={{@lastJob.generated.namedDownloadLink}}
            download
          >
            {{@lastJob.generated.downloadFilename}}
          </AuLinkExternal>
      </div>
    {{/if}}
  </div>
  <div>
    <AuButton
      data-test-reports-panel-entry-create
      @skin="primary"
      {{on "click" this.openGenerateReportModal}}
    >
      {{t "generate-report"}}
    </AuButton>
  </div>
</Auk::Panel::Body>

{{#if this.isOpenGenerateReportModal}}
  <Publications::Overview::Reports::GenerateReportModal
    @title={{@title}}
    @userInputFields={{@userInputFields}}
    @onClose={{this.closeGenerateReportModal}}
    @onGenerateReport={{this.generateReport}}
  />
{{/if}}
