<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-o-grid au-o-grid--stretch">
    <div class="auk-o-grid-col-2">
      <div class="au-o-box au-o-box--small au-u-padding-right-none">
        <div class="au-c-card au-o-box au-o-box--small">
          <Auk::Label>Filteren op organisatie</Auk::Label>
          <div class="au-u-flex au-u-flex--spaced-tiny">
            <div class="au-u-4-5">
              <Auk::Input
                @type="search"
                class="au-u-1-1"
              />
            </div>
            <div class="au-u-1-5">
              <Auk::Button
                @skin="secondary"
                @layout="icon-only"
                @icon="plus"
                class="au-u-1-1"
              />
            </div>
          </div>
          <p class="au-u-h-functional au-u-margin-top-tiny">
            <AuLinkExternal
              @icon="external"
              @iconAlignment="right">
              Lijst met OVO codes
            </AuLinkExternal>
          </p>
          <AuHr />
          <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center">
            <div>
              <p class="au-u-muted">
                OVO00001
              </p>
              <p>Het Vlaams Parlement</p>
            </div>
            <div>
              <Auk::Button
                @skin="muted-borderless"
                @layout="icon-only"
                @icon="x"
                class="au-u-1-1"
              />
            </div>
          </div>
        </div>
        <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
          <Auk::Label>Filteren op laatst gezien</Auk::Label>
          <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
            <Auk::Label>{{t "from"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateFromBuffer}}
              @dateChanged={{fn (mut this.dateFromBuffer)}}
              @enableClear={{this.dateFromBuffer}}
              @onClear={{fn (mut this.dateFromBuffer) null}}
              @allowInput={{true}}
            />
          </div>
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateToBuffer}}
              @dateChanged={{fn (mut this.dateToBuffer)}}
              @enableClear={{this.dateToBuffer}}
              @onClear={{fn (mut this.dateToBuffer) null}}
              @allowInput={{true}}
            />
          </div>
        </div>
        <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
          <Auk::Label>Filteren op rechtengroep</Auk::Label>
          <Auk::Checkbox
            @checked={{true}}
            @label="Admin"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Secretarie"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="OVRB"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Kort bestek"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Minister"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Kabinet"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Vlaams Parlement"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Raad van State"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Overheid"
          />
        </div>
        <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
          <Auk::Label>Geblokkeerd op</Auk::Label>
          <Auk::Checkbox
            @checked={{true}}
            @label="Werkrelatie"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Persoon"
          />
        </div>
      </div>
    </div>
    <div class="auk-o-grid-col-10">
      <div class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-small au-u-padding-top-small au-u-padding-bottom-small au-u-flex--between au-u-flex--spaced-tiny">
          <Auk::Input
            data-test-route-settings-users-search-input
            class="auk-u-maximize-width"
            @type="search"
            @value={{this.filter}}
          />
          <Auk::Button
            data-test-route-settings-users-search-button
            @skin="primary"
            @icon="search"
            {{on "click" this.refresh}}
          >
            Zoeken
          </Auk::Button>
      </div>
      <DataTable
        data-test-route-settings-users-table={{true}}
        @content={{await this.model}}
        @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
        @isLoading={{this.isLoadingModel}}
        @page={{this.page}}
        @size={{this.size}}
        @sort={{this.sort}}
        @noDataMessage={{t "no-results-found"}}
        as |table|
      >
        <table.content as |c|>
          <c.header>
            <ThSortable
              @currentSorting={{this.sort}}
              @field="first-name"
              @label="Naam"
            />
            <ThSortable
              @currentSorting={{this.sort}}
              @field="organization.identifier"
              @label="Organisatie"
            />
            <ThSortable
              @currentSorting={{this.sort}}
              @field="group.name"
              @label="Groep"
            />
            <ThSortable
              @currentSorting={{this.sort}}
              @field="group.name"
              @label="Laatst gezien"
            />
            <th></th>
          </c.header>
          {{#if this.checked}}
          <tr class="au-u-background-gray-200">
            <td colspan="6">
              <p class="au-u-text-center">Alle 9 gebruikers zijn geselecteerd op deze pagina. <AuLink>Selecteer alle ... gebruikers.</AuLink></p>
            </td>
          </tr>
          {{/if }}
          <c.body as |user|>
            <td data-test-route-settings-users-row-first-name>
              <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if (eq user.firstName "Tom") "au-u-muted"}}">
              {{user.firstName}} {{user.lastName}}
              {{#if (eq user.firstName "Tom")}}
              <AuPill @icon="circle-x" @skin="error" @size="small">
                Persoon geblokkeerd
              </AuPill>
              {{/if}}
              </span>
            </td>
            <td class="au-o-flow au-o-flow--tiny">
              {{#if (eq user.firstName "Tom")}}
              <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                <div>
                  <p class="au-u-muted au-u-h-functional">
                    OVO000032
                  </p>
                  <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small au-u-muted">
                    Kaleidos
                  </p>
                </div>
                <AuPill @icon="circle-x" @skin="error" @size="small">
                  Werkrelatie geblokkeerd
                </AuPill>
              </div>
              <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                <div>
                  <p class="au-u-muted au-u-h-functional">
                    OVO000032
                  </p>
                  <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small au-u-muted">
                    Sport Vlaanderen
                  </p>
                </div>
                <AuPill @icon="circle-x" @skin="error" @size="small">
                  Werkrelatie geblokkeerd
                </AuPill>
              </div>
              {{else if (eq user.firstName "Hannes")}}
              <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                <div>
                  <p class="au-u-muted au-u-h-functional">
                    OVO000032
                  </p>
                  <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small au-u-muted">
                    Kaleidos
                  </p>
                </div>
                <AuPill @icon="circle-x" @skin="error" @size="small">
                  Werkrelatie geblokkeerd
                </AuPill>
              </div>
              <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                <div>
                  <p class="au-u-muted au-u-h-functional">
                    OVO000032
                  </p>
                  <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                    Sport Vlaanderen
                  </p>
                </div>
              </div>
              {{else}}
                {{#if user.organization.identifier}}
                <p class="au-u-muted au-u-h-functional">
                {{user.organization.identifier}}
                </p>
                <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                  Kaleidos
                </p>
                {{else}}
                <div>
                  <p class="au-u-muted au-u-h-functional">
                  OV000001827
                  </p>
                  <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                    Departement Kanselarij en Bestuur
                  </p>
                </div>
                {{/if}}
              {{/if}}
            </td>
            <td data-test-route-settings-users-row-group>
              {{#if (eq user.firstName "Tom")}}
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                <p class="au-u-muted">Kabinet</p>
                <p class="au-u-muted">Overheid</p>
              </div>
              {{else if (eq user.firstName "Hannes")}}
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                <p class="au-u-muted">Kabinet</p>
                <p>Overheid</p>
              </div>
              {{else}}
                {{#if user.group}}
                  {{user.group.name}}
                {{else}}
                  -
                {{/if}}
              {{/if}}
            </td>
            <td>
              {{#if (eq user.firstName "Tom")}}
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                <p class="au-u-muted">Ma 20-06-2022 – 12:10</p>
                <p class="au-u-muted">Ma 20-06-2022 – 12:10</p>
              </div>
              {{else if (eq user.firstName "Hannes")}}
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                <p class="au-u-muted">Ma 20-06-2022 – 12:10</p>
                <p>Ma 20-06-2022 – 12:10</p>
              </div>
              {{else}}
              Ma 20-06-2022 – 12:10
              {{/if}}
            </td>
            <td class="auk-u-text-align--right">
              <div class="auk-o-flex auk-o-flex--justify-end">
                {{#if (eq user.firstName "Tom")}}
                {{else}}
                <Auk::DropdownMenu
                  @skin="borderless"
                  @icon="three-dots"
                  as |Menu|
                >
                  <Menu.Item
                    @skin="danger"
                    {{on "click" this.blockRelation}}
                  >
                    Werkrelatie blokkeren
                  </Menu.Item>
                  <Menu.Item
                    @skin="danger"
                    {{on "click" this.blockPerson}}
                  >
                    Persoon blokkeren
                  </Menu.Item>
                </Auk::DropdownMenu>
                {{/if}}
                {{!-- TODO: this action-bar component triggers seemingly unnecessary new requests for a user --}}
                <WebComponents::LightTable::VlcUserTableActionbar
                  @row={{user}}
                  @goToRoute={{this.goToRoute}}
                />
              </div>
            </td>
          </c.body>
        </table.content>
      </DataTable>
    </div>
  </div>
</div>

{{#if this.showBlockRelation}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Persoon blokkeren"
      @onClose={{this.blockRelation}}
    />
    <Auk::Modal::Body>
      <div class="au-o-flow au-o-flow--small">
        <p>Door de werkrelatie van een gebruiker te blokkeren ontzeg je enkel deze toegang. De gebruiker kan inloggen via andere werkrelaties indien deze beschikbaar zijn.</p>
        <AuFieldset as |f|>
          <f.legend>Welke werkrelatie wil je blokkeren?</f.legend>
          <f.content>
            <AuControlCheckbox
              @label="Departement Omgeving - Kabinet"
              @name="Checkboxs"
              @value="CheckboxOne"
              @identifier="CheckboxOne"
              @checked={{false}}
              @disabled= {{false}}
            />
            <AuControlCheckbox
              @label="Sport Vlaanderen - Overheid"
              @name="Checkboxs"
              @value="CheckboxTwo"
              @identifier="CheckboxTwo"
              @checked={{false}}
              @disabled= {{false}}
            />
          </f.content>
        </AuFieldset>
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.blockRelation}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.addBlockRelation}}
      >
        Werkrelatie blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}


{{#if this.showBlockPerson}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Persoon blokkeren"
      @onClose={{this.blockPerson}}
    />
    <Auk::Modal::Body>
      <div class="au-o-flow au-o-flow--small">
        <p>Door een persoon te blokkeren kan deze niet meer inloggen. Alle toegangen worden ontzegd.</p>
        <p>Ben je zeker dat je <strong>User</strong> wil blokkeren uit Kaleidos?</p>
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.blockPerson}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.addBlockPerson}}
      >
        Ja, persoon blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}