{{#utils/settings-header title=(t 'manage-users')}}
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{utils/simple-file-uploader uploadedFile=(action "uploaded")}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
{{/utils/settings-header}}
<div class="auk-u-m-8">
  <div class="vlc-input-field-group vlc-input-field-group--gmeeting">
    <div class="auk-toolbar-complex">
      <div class="auk-toolbar-complex__left">
        <Input
          data-test-route-settings-users-search-input=""
          class="auk-input"
          type="search"
          @value={{this.filter}}
        />
        <button
          data-test-route-settings-users-search-button
          class="auk-button auk-button--secondary auk-button--icon"
          type="submit"
          {{on "click" (action "refreshRoute")}}
        >
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-search"></i>
            </div>
          </span>
        </button>
      </div>
    </div>
  </div>

  {{#if (await model)}}
    {{#data-table
      data-test-route-settings-users-table=true
      content=(await model)
      class="auk-table auk-table--striped"
      isLoading=isLoadingModel
      page=page
      size=size
      sort=sort
      noDataMessage=(t "no-results-found")
    as |table|
    }}
      {{#table.content as |c|}}
        {{#c.header}}
          {{th-sortable
            class="auk-table__col--3 auk-table__header-title"
            currentSorting=sort
            field="first-name"
            label=(t "first-name")
          }}
          {{th-sortable
            class="auk-table__col--2 auk-table__header-title"
            currentSorting=sort
            field="last-name"
            label=(t "last-name")
          }}
          <th
                  class="auk-table__col--2 auk-table__header-title auk-table__header-title--unsortable"
          >
            {{t "email"}}
          </th>
          {{th-sortable
            class="auk-table__col--2 auk-table__header-title"
            currentSorting=sort
            field="organization.identifier"
            label=(t "ovo-code")
          }}
          {{th-sortable
            class="auk-table__col--2 auk-table__header-title"
            currentSorting=sort
            field="group.name"
            label=(t "group")
          }}
          <th class="auk-table__col--1"></th>
        {{/c.header}}
        {{#c.body as |user|}}
          <td data-test-route-settings-users-row-first-name>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
          <td>
            {{if user.email user.email "-"}}
          </td>
          <td>
            {{if user.organization.identifier user.organization.identifier "-"}}
          </td>
          <td data-test-route-settings-users-row-group>
            {{#if user.group}}
              {{user.group.name}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{!-- TODO: this action-bar component triggers seemingly unnecessary new requests for a user --}}
            {{web-components/light-table/vlc-user-table-actionbar
              row=user
              goToRoute=goToRoute
            }}
          </td>
        {{/c.body}}
      {{/table.content}}
    {{/data-table}}
  {{/if}}
</div>