<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-u-m-4">
    <div class="auk-o-grid auk-u-mb-2">
      <div class="auk-o-grid-col-2">
        <div class="au-u-margin-top-tiny">
          <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">Inhoud</AuHeading>
          <AuList as |Item|>
            <Item><AuLink @route="settings.users" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact" @active={{true}}>Alle gebruikers</AuLink></Item>
            <Item><AuLink @route="settings.users" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Geblokkeerd</AuLink></Item>
          </AuList>
        </div>
        <div class="au-c-card au-o-box au-o-box--small au-u-margin-top">
          <Auk::Label>Filteren op organisatie</Auk::Label>
          <div class="au-u-flex au-u-flex--spaced-tiny">
            <div class="au-u-4-5">
              <Auk::Input
                @type="search"
                class="au-u-1-1"
              />
            </div>
            <div class="au-u-1-5">
              <Auk::Button
                @skin="secondary"
                @layout="icon-only"
                @icon="plus"
                class="au-u-1-1"
              />
            </div>
          </div>
          <p class="au-u-h-functional au-u-margin-top-tiny"><AuLinkExternal @icon="external"
          @iconAlignment="right">Lijst met OVO codes</AuLinkExternal></p>
          <AuHr />
          <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center">
            <div class="au-u-medium">
              OVO00001
            </div>
            <div>
              <Auk::Button
                @skin="muted-borderless"
                @layout="icon-only"
                @icon="x"
                class="au-u-1-1"
              />
            </div>
          </div>
        </div>
        <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
          <Auk::Label>Filteren op laatst gezien</Auk::Label>
          <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
            <Auk::Label>{{t "from"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateFromBuffer}}
              @dateChanged={{fn (mut this.dateFromBuffer)}}
              @enableClear={{this.dateFromBuffer}}
              @onClear={{fn (mut this.dateFromBuffer) null}}
              @allowInput={{true}}
            />
          </div>
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
            <WebComponents::VlDatepicker
              @selectedDate={{array this.dateToBuffer}}
              @dateChanged={{fn (mut this.dateToBuffer)}}
              @enableClear={{this.dateToBuffer}}
              @onClear={{fn (mut this.dateToBuffer) null}}
              @allowInput={{true}}
            />
          </div>
        </div>
        <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
          <Auk::Label>Filteren op rechtengroep</Auk::Label>
          <Auk::Checkbox
            @checked={{true}}
            @label="Admin"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Secretarie"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="OVRB"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Kort bestek"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Minister"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Kabinet"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Vlaams Parlement"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Raad van State"
          />
          <Auk::Checkbox
            @checked={{true}}
            @label="Overheid"
          />
        </div>
      </div>
      <div class="auk-o-grid-col-10">
        <div class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-none  au-u-padding-top-none au-u-padding-bottom-small au-u-flex--between">
          <div class="au-u-flex au-u-flex--spaced-tiny">
            {{#if (eq this.checked false)}}
            <Auk::Button
              @icon="circle-full"
              @skin="secondary"
              @disabled={{true}}
            >
              Deblokkeren
            </Auk::Button>
            <Auk::Button
              @icon="circle-x"
              @skin="danger-primary"
              @disabled={{true}}
            >
              Blokkeren
            </Auk::Button>
            {{else}}
            <Auk::Button
              @icon="circle-full"
              @skin="secondary"
              {{on "click" this.activateAll}}
            >
              Deblokkeren
            </Auk::Button>
            <Auk::Button
              @icon="circle-x"
              @skin="danger-primary"
              {{on "click" this.blockAll}}
            >
              Blokkeren
            </Auk::Button>
            {{/if}}
          </div>
          <div>
            <Auk::Input
              data-test-route-settings-users-search-input
              @type="search"
              @value={{this.filter}}
            />
            <Auk::Button
              data-test-route-settings-users-search-button
              @skin="primary"
              @icon="search"
              {{on "click" this.refresh}}
            >
              Zoeken
            </Auk::Button>
          </div>
        </div>
        <DataTable
          data-test-route-settings-users-table={{true}}
          @content={{await this.model}}
          @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
          @isLoading={{this.isLoadingModel}}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          @noDataMessage={{t "no-results-found"}}
          as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table-checkbox-col">
                <Auk::Checkbox
                  @checked={{false}}
                  {{on "click" this.checkAll}}
                />
              </th>
              <ThSortable
                @currentSorting={{this.sort}}
                @field="first-name"
                @label="Naam"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="organization.identifier"
                @label="Organisatie"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="group.name"
                @label="Groep"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="group.name"
                @label="Laatst gezien"
              />
              <th></th>
            </c.header>
            {{#if this.checked}}
            <tr class="au-u-background-gray-200">
              <td colspan="6">
                <p class="au-u-text-center">Alle 9 gebruikers zijn geselecteerd op deze pagina. <AuLink>Selecteer alle ... gebruikers.</AuLink></p>
              </td>
            </tr>
            {{/if }}
            <c.body as |user|>
              <td>
                <Auk::Checkbox
                  @checked={{this.checked}}
                />
              </td>
              <td data-test-route-settings-users-row-first-name>
                <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if (or (eq user.firstName "Tom")(eq user.firstName "Hannes")) "au-u-muted"}}">
                {{user.firstName}} {{user.lastName}}
                {{#if (or (eq user.firstName "Tom")(eq user.firstName "Hannes"))}}
                <AuPill @icon="circle-x" @skin="error" @size="small">
                  Geblokkeerd
                </AuPill>
                {{/if}}
                </span>
              </td>
              <td>
                {{#if user.organization.identifier}}
                <p class="au-u-muted au-u-h-functional">
                {{user.organization.identifier}}
                </p>
                <p class="{{if (or (eq user.firstName "Tom")(eq user.firstName "Hannes")) "au-u-muted"}}">Kaleidos</p>
                {{else}}
                  -
                {{/if}}
              </td>
              <td data-test-route-settings-users-row-group class="{{if (or (eq user.firstName "Tom")(eq user.firstName "Hannes")) "au-u-muted"}}">
                {{#if user.group}}
                  {{user.group.name}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td class="{{if (or (eq user.firstName "Tom")(eq user.firstName "Hannes")) "au-u-muted"}}">
                Ma 20-06-2022 – 12:10
              </td>
              <td class="auk-u-text-align--right">
                <div class="auk-o-flex auk-o-flex--justify-end">
                  <Auk::DropdownMenu
                    @skin="borderless"
                    @icon="three-dots"
                    as |Menu|
                  >
                    {{#if (or (eq user.firstName "Tom")(eq user.firstName "Hannes"))}}
                    <Menu.Item
                    >
                      Deblokkeren
                    </Menu.Item>
                    {{else}}
                    <Menu.Item
                      @skin="danger"
                      {{on "click" this.block}}
                    >
                      Blokkeren
                    </Menu.Item>
                    {{/if}}
                  </Auk::DropdownMenu>
                  {{!-- TODO: this action-bar component triggers seemingly unnecessary new requests for a user --}}
                  <WebComponents::LightTable::VlcUserTableActionbar
                    @row={{user}}
                    @goToRoute={{this.goToRoute}}
                  />
                </div>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      </div>
    </div>
  </div>
</div>

{{#if this.showActivateAll}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Activeren"
      @onClose={{this.activateAll}}
    />
    <Auk::Modal::Body>
      <p>Door een gebruiker te deblokkeren krijgt deze opnieuw toegang tot Kaleidos. Je gaat <strong>2 gebruikers</strong> deblokkeren.</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.activateAll}}>
      <Auk::Button
        @skin="primary"
        {{on "click" this.activateAllToggle}}
      >
        Gebruikers deblokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showDisableAll}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Deactiveren"
      @onClose={{this.disableAll}}
    />
    <Auk::Modal::Body>
      <p>Gedeactiveerde gebruikers hebben tijdelijk geen toegang tot Kaleidos. Zij kunnen later opnieuw geactiveerd worden.</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.disableAll}}>
      <Auk::Button
        @skin="primary"
        {{on "click" this.disableAllToggle}}
      >
        Deactiveren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showBlockAll}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Blokkeren"
      @onClose={{this.blockAll}}
    />
    <Auk::Modal::Body>
      <p>Geblokkeerde gebruikers kunnen zich niet meer aanmelden bij Kaleidos. Indien nodig kan deze blokkering later ongedaan gemaakt worden.</p>
      <p class="au-u-margin-bottom-small">Typ “Blokkeren” om <strong>8 gebruikers</strong> te blokkeren.</p>
      <Auk::Input />
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.blockAll}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.blockAll}}
      >
        Blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}


{{#if this.showBlock}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Blokkeren"
      @onClose={{this.block}}
    />
    <Auk::Modal::Body>
      <p>Geblokkeerde gebruikers worden definitief uit Kaleidos gehouden. Zij kunnen niet meer geactiveerd worden.</p>
      <p class="au-u-margin-bottom-small">Typ “Blokkeren” om <strong>deze gebruiker</strong> te blokkeren.</p>
      <Auk::Input />
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.block}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.blockAll}}
      >
        Blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}