{{#utils/settings-header title=(t 'manage-users')}}
  <div data-test-settings-user-file-upload
       class="vl-action-group vl-action-group--align-right auk-u-mr-6">
    {{utils/simple-file-uploader uploadedFile=(action "uploaded")}}
  </div>
{{/utils/settings-header}}
<div class="auk-u-m-8">
  <div class="vlc-input-field-group vlc-input-field-group--gmeeting">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <Input
          data-test-user-search-input
          class="vl-input-field"
          type="search"
          @value={{this.filter}}
        />
        <button
          data-test-user-search-button
          class="vl-button vl-button--secondary vl-button--icon"
          type="submit"
          {{on "click" (action "refreshRoute")}}
        >
          <i class="ki-search"></i>
        </button>
      </div>
    </div>
  </div>

  {{#if (await model)}}
    {{#data-table
      data-test-settings-user-table
      content=(await model)
      class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
      isLoading=isLoadingModel
      page=page
      size=size
      sort=sort
      noDataMessage=(t "no-results-found")
    as |table|
    }}
      {{#table.content as |c|}}
        {{#c.header}}
          {{th-sortable
            class="vl-data-table-col-3 vl-data-table__header-title"
            currentSorting=sort
            field="first-name"
            label=(t "first-name")
          }}
          {{th-sortable
            class="vl-data-table-col-2 vl-data-table__header-title"
            currentSorting=sort
            field="last-name"
            label=(t "last-name")
          }}
          <th
                  class="vl-data-table-col-2 vl-data-table__header-title table-header-unsortable"
          >
            {{t "email"}}
          </th>
          {{th-sortable
            class="vl-data-table-col-2 vl-data-table__header-title"
            currentSorting=sort
            field="organization.identifier"
            label=(t "ovo-code")
          }}
          {{th-sortable
            class="vl-data-table-col-2 vl-data-table__header-title"
            currentSorting=sort
            field="group.name"
            label=(t "group")
          }}
          <th class="vl-data-table-col-1"></th>
        {{/c.header}}
        {{#c.body as |user|}}
          <td>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
          <td>
            {{if user.email user.email "-"}}
          </td>
          <td>
            {{if user.organization.identifier user.organization.identifier "-"}}
          </td>
          <td>
            {{#if user.group}}
              {{user.group.name}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{!-- TODO: this action-bar component triggers seemingly unnecessary new requests for a user --}}
            {{web-components/light-table/vlc-user-table-actionbar
              row=user
              goToRoute=goToRoute
            }}
          </td>
        {{/c.body}}
      {{/table.content}}
    {{/data-table}}
  {{/if}}
</div>