{{ page-title
  (t "agendaitems")
}}
<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div>
          <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">Inhoud</AuHeading>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search.agenda-items"
              >
                Agendapunt
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search.cases"
              >
                Dossier
              </AuNavigationLink>
            </li>
          </ul>
        </div>
        <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny">
          <div class="au-c-card au-o-box au-o-box--small">
            <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
              <Auk::Label>{{t "from"}}</Auk::Label>
              <WebComponents::VlDatepicker
                @selectedDate={{array this.dateFromBuffer}}
                @dateChanged={{fn (mut this.dateFromBuffer)}}
                @enableClear={{this.dateFromBuffer}}
                @onClear={{fn (mut this.dateFromBuffer) null}}
                @allowInput={{true}}
              />
            </div>
            <div class="auk-form-group auk-u-position-relative">
              <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
              <WebComponents::VlDatepicker
                @selectedDate={{array this.dateToBuffer}}
                @dateChanged={{fn (mut this.dateToBuffer)}}
                @enableClear={{this.dateToBuffer}}
                @onClear={{fn (mut this.dateToBuffer) null}}
                @allowInput={{true}}
              />
            </div>
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <div class="auk-form-group">
              <Auk::Label for="ministerName">
                Minister
              </Auk::Label>
              <Auk::Input
                data-test-route-search-mandatee-input
                @block={{true}}
                @value=""
                @enter=""
                id="ministerName"
              />
            </div>
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>{{t "type"}}</Auk::Label>
            <Auk::Checkbox
              @checked={{this.includeNotas}}
              @label={{t "note"}}
              {{on "input" this.toggleIncludeNotas}}
            />
            <Auk::Checkbox
              @checked={{this.includeMededelingen}}
              @label={{capitalize (t "announcement")}}
              {{on "input" this.toggleIncludeMededelingen}}
            />
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>Agenda versie</Auk::Label>
            <Auk::Checkbox
              @checked={{this.latestOnly}}
              @label="{{t "only-on-final-agenda"}}"
              {{on "input" this.toggleLatestOnly}}
            />
          </div>
        </div>
      </div>
    </div>
  </m.sidebar>
  <m.content
    @scroll={{true}}
  >
    <div class="au-o-box au-o-box--small">
      {{#if this.model.length}}
        <div class="au-u-flex au-u-flex--no-wrap au-u-flex--spaced au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <p class="au-u-muted">
            <strong class="au-u-medium">19</strong> resultaten voor <strong class="au-u-medium">"test"</strong> in <strong>agendapunten</strong>
          </p>
          <div>
            <AuLabel for="sort" class="au-u-hidden-visually">Sorteer op:</AuLabel>
            <select
              name="sort"
              id="sort"
              class="auk-select">
                <option
                  value="relevantie"
                  selected="selected"
                >
                  Relevantie
                </option>
                <option
                  value="datum-aflopend"
                >
                  Datum aflopend
                </option>
            </select>
          </div>
        </div>
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-card-table"
          @isLoading={{this.isLoadingModel}}
          as |table|
        >
          <table.content as |c|>
            <c.body as |row|>
              <td>
                <AuCard
                  @shadow={{true}}
                  @size="small"
                  as |c|
                >
                  <c.header>
                    <p class="au-u-para-small au-u-muted au-u-medium">
                      {{t "on-agenda-of"}} {{moment-format row.sessionDates}}
                    </p>
                    <AuHeading @level="3" @skin="4">
                      <AuLink
                        class="au-u-padding-none"
                        @route="agenda.agendaitems.agendaitem"
                        @models={{array row.meetingId row.agendaId row.id}}>
                        {{#if row.shortTitle}}
                          {{row.shortTitle}}
                        {{else}}
                          {{row.title}}
                        {{/if}}
                      </AuLink>
                    </AuHeading>
                  </c.header>
                  {{#if (eq row.agendaSerialNumber.length 1)}}
                  <c.content>
                    <div class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-center au-u-margin-bottom-tiny">
                      <p class="au-u-para-small au-u-muted au-u-medium">
                        <Auk::Pill>
                          {{#if (eq row.type 'nota')}}
                            {{capitalize (t "announcement")}}
                          {{else}}
                            {{t "note"}}
                          {{/if}}
                        </Auk::Pill>
                      </p>
                      <p class="au-u-para-small au-u-muted">
                        {{t "agenda-version"}} {{row.agendaSerialNumber}}
                      </p>
                    </div>
                  </c.content>
                  {{/if}}
                </AuCard>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </m.content>
</AuMainContainer>
