<AuDropdown
  data-test-agenda-actions-show-options={{true}}
  @skin="secondary"
  @title={{t "actions"}}
  @alignment="right"
  class="auk-u-hidden@print"
>
  {{#if this.canEditDesignAgenda}}
    <AuButton
      data-test-agenda-actions-add-agendaitems
      @skin="link"
      {{on "click" this.openAddAgendaitemsModal}}
      role="menuitem"
    >
      {{t "add-to-agenda"}}
    </AuButton>
    <AuHr />
  {{/if}}
  <AuLink
    data-test-agenda-actions-navigate-to-newsletter
    @route="newsletter"
    @model={{@meeting.id}}
    role="menuitem"
  >
    {{t "print-newsletter"}}
  </AuLink>
  {{#if this.showPrintButton}}
    <AuLink
      @route="agenda.agendaitems"
      role="menuitem"
    >
      {{t "agenda-view"}}
    </AuLink>
   <AuButton
      {{on "click" this.print}}
      role="menuitem"
    >
      {{t "print"}}
    </AuButton>
  {{else}}
    <AuLink
      data-test-agenda-actions-navigate-to-printable-agenda
      @route="agenda.print"
      role="menuitem"
    >
      {{t "printable-version"}}
    </AuLink>
  {{/if}}
  <AuButton
    @skin="link"
    {{on "click" this.downloadAllDocumentsModal}}
    role="menuitem"
  >
    {{t "download-documents"}}
  </AuButton>
  <AuButton
    @skin="link"
    {{on "click" this.downloadSignedDocumentsModal}}
    role="menuitem"
  >
    Download getekende documenten
  </AuButton>
  <AuButton
    @skin="link"
    {{on "click" this.downloadAllDecisionsModal}}
    role="menuitem"
  >
    Download beslissingsfiches
  </AuButton>
  <AuHr />
  <AuButton
    @skin="link"
    role="menuitem"
  >
    Alle beslissingen aanbieden voor handtekenen
  </AuButton>
  {{#if (user-may "manage-meetings")}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-toggle-editing-meeting
      @skin="link"
      {{on "click" this.toggleEditingMeeting}}
      role="menuitem"
    >
      {{t "edit-meeting"}}
    </AuButton>
  {{/if}}
  {{#if this.canEditDesignAgenda}}
    <AuButton
      data-test-agenda-actions-approve-all-agendaitems
      @skin="link"
      {{on "click" this.openConfirmApproveAllAgendaitems}}
      role="menuitem"
    >
      {{t "approve-all-agendaitems"}}
    </AuButton>
  {{/if}}
  {{#if this.canPublishDecisions}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-release-decisions
      @skin="link"
      @alert={{true}}
      {{on "click" this.openConfirmPublishDecisions}}
      role="menuitem"
    >
      {{t "agenda-release-decisions"}}
    </AuButton>
  {{/if}}
  {{#if this.canPlanDocumentPublication}}
    <AuButton
      data-test-agenda-actions-release-documents-planning
      @skin="link"
      {{on "click" this.openPlanDocumentPublicationModal}}
      role="menuitem"
    >
      {{t "agenda-publish-planned"}}
    </AuButton>
  {{/if}}
  {{#if this.canPublishThemis}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-publish-to-web
      @skin="link"
      {{on "click" this.openConfirmPublishThemis}}
      role="menuitem"
    >
      {{t "publish-to-web"}}
    </AuButton>
  {{/if}}
  {{#if this.canUnpublishThemis}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-unpublish-from-web
      @skin="link"
      @alert={{true}}
      {{on "click" this.openConfirmUnpublishThemis}}
      role="menuitem"
    >
      {{t "unpublish-from-web"}}
    </AuButton>
  {{/if}}
</AuDropdown>

{{#if this.isAddingAgendaitems}}
  <Agenda::Agendaitem::CreateAgendaitem
    @meeting={{@meeting}}
    @onClose={{this.closeAddAgendaitemsModal}}
    @onCreate={{@didApproveAgendaitems}}
  />
{{/if}}

{{#if this.isEditingMeeting}}
  <Meeting::EditMeetingModal
    @meeting={{@meeting}}
    @didSave={{this.toggleEditingMeeting}}
    @onCancel={{this.toggleEditingMeeting}}
  />
{{/if}}

{{#if this.showConfirmApprovingAllAgendaitems}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "approve-all-agendaitems"}}
      @onClose={{this.cancelApproveAllAgendaitems}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.reloadAgendaitemsData.isRunning}}
        @reserveSpace={{true}}
      >
        <p>
          {{t
            "approve-all-agendaitems-warning-message"
            amountOfAgendaitems=(get (await (this.allAgendaitemsNotOk)) "length")
          }}
        </p>
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelApproveAllAgendaitems}}>
      <AuButton
        data-test-agenda-actions-approve-all-agendaitems-confirm
        @skin="primary"
        @disabled={{this.reloadAgendaitemsData.isRunning}}
        {{on "click" this.approveAllAgendaitems}}
      >
        {{t "approve"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showConfirmPublishDecisions}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "agenda-release-decisions"}}
      @onClose={{this.cancelPublishDecisions}}
    />
    <Auk::Modal::Body>
      <p>{{t "release-decisions-message"}}</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelPublishDecisions}}>
      <AuButton
        data-test-agenda-actions-release-decisions-confirm
        @skin="primary"
        {{on "click" this.publishDecisions}}
      >
        {{t "release-to-public"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showPlanDocumentPublicationModal}}
  <Meeting::DocumentPublicationPlanningModal
    @documentPublicationActivity={{this.documentPublicationActivity}}
    @themisPublicationActivity={{this.themisPublicationActivity}}
    @onCancel={{this.cancelPlanDocumentPublication}}
    @onSave={{perform this.planDocumentPublication}}
  />
{{/if}}

{{#if this.showConfirmPublishThemis}}
  <ThemisPublications::PublishConfirmationModal
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishThemis}}
    @onConfirm={{perform this.publishThemis}}
  />
{{/if}}

{{#if this.showConfirmUnpublishThemis}}
  <ThemisPublications::UnpublishConfirmationModal
    @onCancel={{this.cancelUnpublishThemis}}
    @onConfirm={{perform this.unpublishThemis}}
  />
{{/if}}

{{#if this.showDownloadAllDocumentsModal}}
  <Auk::Modal @size="large">
    <Auk::Modal::Header
      @title="Download alle documenten"
      @onClose={{this.cancelDownloadAllDocumentsModal}}
    />
    <Auk::Modal::Body>
      <fieldset class="auk-form-group">
        <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <legend class="auk-label">Ministers</legend>
          <p>
            <AuLink class="au-u-h-functional">Alles selecteren</AuLink>
          </p>
        </div>
        <Auk::CheckboxList class="au-c-checkboxlist-column">
          <Auk::Checkbox @checked={{false}}>
            Jan Jambon
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Hilde Crevits
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Bart Somers
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Ben Weyts
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Zuhal Demir
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Matthias Diependaele
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Lydia Peeters
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Benjamin Dalle
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Jo Brouns
          </Auk::Checkbox>
        </Auk::CheckboxList>
      </fieldset>
      <fieldset>
        <legend class="auk-label">Bestand types</legend>
        <Auk::RadioList @layout="inline" as |List|>
          <List.Radio @label="Enkel PDF's" checked />
          <List.Radio @label="Alle bestanden"  />
        </Auk::RadioList>
      </fieldset>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelDownloadAllDocumentsModal}}>
      <AuButton
        @skin="primary"
        {{on "click" this.downloadAllDocuments}}
      >
        Download alle documenten
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showDownloadSignedDocumentsModal}}
  <Auk::Modal @size="large">
    <Auk::Modal::Header
      @title="Download getekende documenten"
      @onClose={{this.cancelDownloadSignedDocumentsModal}}
    />
    <Auk::Modal::Body>
      <fieldset class="auk-form-group">
        <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <legend class="auk-label">Ministers</legend>
          <p>
            <AuLink class="au-u-h-functional">Alles selecteren</AuLink>
          </p>
        </div>
        <Auk::CheckboxList class="au-c-checkboxlist-column">
          <Auk::Checkbox @checked={{false}}>
            Jan Jambon
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Hilde Crevits
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Bart Somers
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Ben Weyts
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Zuhal Demir
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Matthias Diependaele
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Lydia Peeters
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Benjamin Dalle
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Jo Brouns
          </Auk::Checkbox>
        </Auk::CheckboxList>
      </fieldset>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelDownloadSignedDocumentsModal}}>
      <AuButton
        @skin="primary"
        {{on "click" this.downloadAllDocuments}}
      >
        Download getekende documenten
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showDownloadAllDecisionsModal}}
  <Auk::Modal @size="large">
    <Auk::Modal::Header
      @title="Download alle beslissingen"
      @onClose={{this.cancelDownloadAllDecisionsModal}}
    />
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <Auk::Label for="ministerName">
            Ministers
          </Auk::Label>
          <p>
            <AuLink class="au-u-h-functional">Alles selecteren</AuLink>
          </p>
        </div>
        <Auk::CheckboxList class="au-c-checkboxlist-column">
          <Auk::Checkbox @checked={{false}}>
            Jan Jambon
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Hilde Crevits
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Bart Somers
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Ben Weyts
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Zuhal Demir
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Matthias Diependaele
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Lydia Peeters
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Benjamin Dalle
          </Auk::Checkbox>
          <Auk::Checkbox @checked={{false}}>
            Jo Brouns
          </Auk::Checkbox>
        </Auk::CheckboxList>
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelDownloadAllDecisionsModal}}>
      <AuButton
        @skin="primary"
        {{on "click" this.downloadAllDecisions}}
      >
        Download alle beslissingen
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}