<Auk::DropdownMenu
  @skin="secondary"
  @label={{t "actions"}}
  class="auk-u-hidden@print"
  data-test-agenda-actions-show-options={{true}}
  as |Menu|
>
  {{#if this.canEditDesignAgenda}}
    <Menu.Item
      data-test-agenda-actions-add-agendaitems
      {{on "click" this.openAddAgendaitemsModal}}
    >
      {{t "add-to-agenda"}}
    </Menu.Item>
    <Menu.Divider />
  {{/if}}
  {{#if this.currentSession.isEditor}}
    <Menu.Item
      data-test-agenda-actions-navigate-to-decisions
      @route="print-overviews.decisions.agendaitems"
      @models={{array @meeting.id @currentAgenda.id}}
    >
      {{t "print-decisions"}}
    </Menu.Item>
  {{/if}}
  <Menu.Item
    data-test-agenda-actions-navigate-to-newsletter
    @route="newsletter"
    @model={{@meeting.id}}
  >
    {{t "print-newsletter"}}
  </Menu.Item>
  <Menu.Item
    @route="print-overviews.press-agenda.agendaitems"
    @models={{array @meeting.id @currentAgenda.id}}
  >
    {{t "printable-press-agenda"}}
  </Menu.Item>
  {{#if this.showPrintButton}}
    <Menu.Item
      @route="agenda.agendaitems"
    >
      {{t "agenda-view"}}
    </Menu.Item>
    <Menu.Item {{on "click" this.print}}>
      {{t "print"}}
    </Menu.Item>
  {{else}}
    <Menu.Item
      @route="agenda.print"
      data-test-agenda-actions-navigate-to-printable-agenda
    >
      {{t "printable-version"}}
    </Menu.Item>
  {{/if}}
  <Menu.Item
    {{on "click" this.downloadAllDocuments}}
  >
    {{t "download-documents"}}
  </Menu.Item>
  {{#if (user-may "manage-meetings")}}
    <Menu.Divider />
    <Menu.Item
      data-test-agenda-actions-toggle-editing-meeting
      {{on "click" this.toggleEditingMeeting}}
    >
      {{t "edit-meeting"}}
    </Menu.Item>
  {{/if}}
  {{#if this.canEditDesignAgenda}}
    <Menu.Item
      data-test-agenda-actions-approve-all-agendaitems
      {{on "click" this.openConfirmApproveAllAgendaitems}}
    >
      {{t "approve-all-agendaitems"}}
    </Menu.Item>
  {{/if}}
  {{#if this.canPublishDecisions}}
    <Menu.Divider />
    <Menu.Item
      @skin="danger"
      data-test-agenda-actions-release-decisions
      {{on "click" this.openConfirmPublishDecisions}}
    >
      {{t "agenda-release-decisions"}}
    </Menu.Item>
  {{/if}}
  {{#if this.canPlanDocumentPublication}}
    <Menu.Item
      data-test-agenda-actions-release-documents
      {{on "click" this.openPlanDocumentPublicationModal}}
    >
      {{t "agenda-publish-planned"}}
    </Menu.Item>
  {{/if}}
  {{#if this.canPublishThemis}}
    <Menu.Divider />
    <Menu.Item {{on "click" this.openConfirmPublishThemis}}>
      {{t "publish-to-web"}}
    </Menu.Item>
  {{/if}}
  {{#if this.canUnpublishThemis}}
    <Menu.Divider />
    <Menu.Item @skin="danger" {{on "click" this.openConfirmUnpublishThemis}}>
      {{t "unpublish-from-web"}}
    </Menu.Item>
  {{/if}}
</Auk::DropdownMenu>

{{#if this.isAddingAgendaitems}}
  <Agenda::Agendaitem::CreateAgendaitem
    @meeting={{@meeting}}
    @isAddingAgendaitems={{this.isAddingAgendaitems}}
    @onCreate={{@didApproveAgendaitems}}
  />
{{/if}}

{{#if this.isEditingMeeting}}
  <Meeting::EditMeetingModal
    @meeting={{@meeting}}
    @didSave={{this.toggleEditingMeeting}}
    @onCancel={{this.toggleEditingMeeting}}
  />
{{/if}}

{{#if this.showConfirmApprovingAllAgendaitems}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "approve-all-agendaitems"}}
      @onClose={{this.cancelApproveAllAgendaitems}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.reloadAgendaitemsData.isRunning}}
        @reserveSpace={{true}}
      >
        <p>
          {{t
            "approve-all-agendaitems-warning-message"
            amountOfAgendaitems=(get (await (this.allAgendaitemsNotOk)) "length")
          }}
        </p>
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelApproveAllAgendaitems}}>
      <Auk::Button
        data-test-agenda-actions-approve-all-agendaitems-confirm
        @skin="primary"
        @disabled={{this.reloadAgendaitemsData.isRunning}}
        {{on "click" this.approveAllAgendaitems}}
      >
        {{t "approve"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showConfirmPublishDecisions}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "agenda-release-decisions"}}
      @onClose={{this.cancelPublishDecisions}}
    />
    <Auk::Modal::Body>
      <p>{{t "release-decisions-message"}}</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelPublishDecisions}}>
      <Auk::Button
        data-test-agenda-actions-release-decisions-confirm
        @skin="primary"
        {{on "click" this.publishDecisions}}
      >
        {{t "release-to-public"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showPlanDocumentPublicationModal}}
  <Meeting::DocumentPublicationPlanningModal
    @documentPublicationActivity={{this.documentPublicationActivity}}
    @themisPublicationActivity={{this.themisPublicationActivity}}
    @onCancel={{this.cancelPlanDocumentPublication}}
    @onSave={{perform this.planDocumentPublication}}
  />
{{/if}}

{{#if this.showConfirmPublishThemis}}
  <ThemisPublications::PublishConfirmationModal
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishThemis}}
    @onConfirm={{perform this.publishThemis}}
  />
{{/if}}

{{#if this.showConfirmUnpublishThemis}}
  <ThemisPublications::UnpublishConfirmationModal
    @onCancel={{this.cancelUnpublishThemis}}
    @onConfirm={{perform this.unpublishThemis}}
  />
{{/if}}