<div class="au-c-panel-sidebar">
  <Auk::Panel class="auk-panel--editing">
    <Auk::Panel::Header
      @size="auto"
      class="au-u-background-gray-100"
    >
      <Auk::Toolbar @auto={{true}} as |Toolbar|>
        <Toolbar.Group @position="left">
          <h4 class="auk-toolbar__title">
            Agenda controleren
          </h4>
        </Toolbar.Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
        <Utils::LogoHeader />
        <h2
          class="auk-h2 auk-u-text-family-serif auk-u-text-align--center auk-u-mt-5 auk-u-mb-10"
          data-test-printable-agenda-header-title
        >
          {{t "agenda-of"}}
          {{#if @meeting.isPreKaleidos}}
            {{date @meeting.plannedStart}}
          {{else}}
            {{datetime-at @meeting.plannedStart}}
          {{/if}}
          -
          {{kind-print-label @meeting.kind}}
        </h2>

        <div class="auk-content">
          {{#if this.notaGroups}}
            <div>
              <div class="auk-o-flex auk-u-mb-4 l-printable-agenda__section-header">
                <div class="l-printable-agenda__header-prefix">A.</div>
                <h3
                  class="auk-u-text-uppercase auk-u-m-0 auk-u-text-decoration-underline"
                  >{{t "agendaitems"}}</h3>
              </div>
              <div class="l-printable-agenda__section-content">
                {{#each this.notaGroups as |notaGroup|}}
                  <Agenda::PrintableAgenda::ListSection::ItemGroup
                    @items={{notaGroup}}
                  />
                {{/each}}
              </div>
            </div>
          {{/if}}

          {{#if @currentAgenda.announcements}}
            <div class="auk-u-on-fresh-page@print">
              <div class="auk-o-flex auk-u-mb-4 l-printable-agenda__section-header">
                <div class="l-printable-agenda__header-prefix">B.</div>
                <h3
                  class="auk-u-text-uppercase auk-u-m-0 auk-u-text-decoration-underline"
                  >{{t "announcements-subtitle"}}</h3>
              </div>
              <div class="l-printable-agenda__section-content">
                {{#each @currentAgenda.announcements as |announcement|}}
                  <div class="l-printable-agenda__item">
                    <div class="auk-u-non-breakable-group@print">
                      <Agenda::PrintableAgenda::ListSection::ItemGroup::Item::Content
                        @item={{announcement}}
                      />
                    </div>
                    {{#if @item.pieces}}
                      <Agenda::PrintableAgenda::ListSection::ItemGroup::Item::DocumentList
                        @pieces={{announcement.pieces}}
                      />
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton
              @skin="naked"
              {{on "click" (perform this.cancelEditing)}}
            >
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              @skin="primary"
              {{on "click" (perform this.saveChanges)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  </Auk::Panel>
</div>