<AuList
  @divider={{true}}
  class="au-u-background-gray-100"
  as |Item|
>
  {{#each (await @agendaitems) as |agendaitem|}}
    <Item class="au-u-padding">
      <div>
        {{t
          "number-point-title"
          number=agendaitem.number
          title=(if agendaitem.shortTitle agendaitem.shortTitle agendaitem.title)
        }}
      </div>
      <Auk::Toolbar @auto={{true}} class="au-u-margin-top-small">
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            {{#if (await (this.checkAdded agendaitem))}}
              <Auk::Icon @name="calendar-new" @skin="muted" />
            {{/if}}
            {{#if (await agendaitem.agendaActivity.subcase.confidential)}}
              <Auk::Icon @name="lock-closed" @skin="muted" />
            {{/if}}
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <span class="{{agendaitem.formallyOkToShow.classNames}}">
              <Auk::Icon
                @name={{agendaitem.formallyOkToShow.svg.icon}}
                class="formally-ok-icon"
              />
              {{agendaitem.formallyOkToShow.label}}
            </span>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Item>
  {{/each}}
</AuList>