<Auk::DropdownMenu
  @skin="primary"
  @label={{t "agenda-actions"}}
  class="auk-u-hidden@print"
  data-test-agenda-version-actions-show-options={{true}} as |Menu|
>
  {{#if @currentAgenda.status.isDesignAgenda}}
    <Menu.Item
      data-test-agenda-version-actions-approve-agenda
      {{on "click" this.openConfirmApproveAgenda}}
    >
      {{t "approve-design-agenda" serialnumber=@currentAgenda.serialnumber}}
    </Menu.Item>
    <Menu.Item
      data-test-agenda-version-actions-approve-and-close-agenda
      {{on "click" this.openConfirmApproveAgendaAndCloseMeeting}}
    >
      {{t "approve-agenda-and-close" serialnumber=@currentAgenda.serialnumber}}
    </Menu.Item>
    <Menu.Divider />
  {{/if}}
  {{#if @meeting.isFinal}}
    <Menu.Item
      data-test-agenda-version-actions-unlock-agenda
      {{on "click" this.reopenMeeting}}
      {{! This action does not have confirmation window}}
    >
      {{t "agenda-reopen"}}
    </Menu.Item>
    <Menu.Divider />
  {{else if this.isMeetingClosable}}
    <Menu.Item
      @skin="danger"
      data-test-agenda-version-actions-lock-agenda
      {{on "click" this.openConfirmCloseMeeting}}
    >
      {{t "agenda-close"}}
    </Menu.Item>
    <Menu.Divider />
  {{/if}}
  {{#if this.canDeleteSelectedAgenda}}
    <Menu.Item
      @skin="danger"
      data-test-agenda-version-actions-delete-agenda
      {{on "click" this.openConfirmDeleteSelectedAgenda}}
    >
      {{t "agenda-delete"}}
    </Menu.Item>
  {{/if}}
  {{#if this.canReopenPreviousAgenda}}
    <Menu.Divider />
    <Menu.Item
      @skin="danger"
      data-test-agenda-version-actions-reopen-previous-version
      {{on "click" this.openConfirmReopenPreviousAgenda}}
    >
      {{t "agenda-reopen-previous-version"}}
    </Menu.Item>
  {{/if}}
  {{#if (and (not this.designAgenda) (not @meeting.isFinal))}}
    <Menu.Divider />
    <Menu.Item
      {{on "click" this.reopenMeeting}}
      {{! This action does not have confirmation window}}
    >
      {{t "agenda-add"}}
    </Menu.Item>
  {{/if}}
</Auk::DropdownMenu>
{{! new agenda actions with single pop-up for confirmation }}
{{#if this.showConfirmForApprovingAgenda}}
  <Auk::Modal @size={{if (await (this.canBeApproved)) "small" "large"}}>
    <Auk::Modal::Header
      @title={{t
        "approve-design-agenda"
        serialnumber=@currentAgenda.serialnumber
      }}
      @onClose={{this.cancelApproveAgenda}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.reloadAgendaitemsData.isRunning}}
        @reserveSpace={{true}}
      >
        {{#if (await (this.canBeApproved))}}
          {{t "approve-agenda-confirmation"}}
        {{else}}
          <Auk::Alert
            @skin="error"
            @message={{t "approve-agenda-not-ok-message"}}
          />
          <div>
            {{t "approve-agenda-confirmation"}}
          </div>
          {{#if (await (this.approvedAgendaitemsNotOk))}}
            <br />
            <div
              data-test-agenda-version-actions-approve-agenda-rollback-message
              class="auk-u-mb-2"
            >
              {{t "rollback-agendaitem-on-approving-agenda"}}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems
              @agendaitems={{await (this.approvedAgendaitemsNotOk)}}
            />
          {{/if}}
          {{#if (await (this.newAgendaitemsNotOk))}}
            <br />
            <div
              data-test-agenda-version-actions-approve-agenda-move-message
              class="auk-u-mb-2"
            >
              {{t
                "move-agendaitem-on-approving-agenda"
                serialnumber=@currentAgenda.serialnumber
              }}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems
              @agendaitems={{await (this.newAgendaitemsNotOk)}}
            />
          {{/if}}
        {{/if}}
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelApproveAgenda}}>
      <AuButton
        data-test-agenda-version-actions-approve-agenda-confirm
        @skin="primary"
        @alert={{not (await (this.canBeApproved))}}
        @disabled={{this.reloadAgendaitemsData.isRunning}}
        {{on "click" this.approveCurrentAgenda}}
      >
        {{t "approve"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}
{{#if this.showConfirmForApprovingAgendaAndClosingMeeting}}
  <Auk::Modal @size={{if (await (this.canBeApproved)) "small" "large"}}>
    <Auk::Modal::Header
      @title={{t
        "approve-agenda-and-close"
        serialnumber=@currentAgenda.serialnumber
      }}
      @onClose={{this.cancelApproveAgendaAndCloseMeeting}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.reloadAgendaitemsData.isRunning}}
        @reserveSpace={{true}}
      >
        {{#if (await (this.canBeApproved))}}
          {{t "approve-agenda-close-meeting-confirmation"}}
        {{else}}
          <Auk::Alert
            @skin="error"
            @message={{t "approve-agenda-close-meeting-not-ok-message"}}
          />
          <div>
            {{t "approve-agenda-close-meeting-confirmation"}}
          </div>
          {{#if (await (this.approvedAgendaitemsNotOk))}}
            <br />
            <div
              data-test-agenda-version-actions-approve-and-close-agenda-rollback-message
              class="auk-u-mb-2"
            >
              {{t "rollback-agendaitem-on-approving-agenda-close-meeting"}}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems
              @agendaitems={{await (this.approvedAgendaitemsNotOk)}}
            />
          {{/if}}
          {{#if (await (this.newAgendaitemsNotOk))}}
            <br />
            <div
              data-test-agenda-version-actions-approve-and-close-agenda-delete-message
              class="auk-u-mb-2"
            >
              {{t
                "delete-agendaitem-on-closing-meeting"
                serialnumber=@currentAgenda.serialnumber
              }}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems
              @agendaitems={{await (this.newAgendaitemsNotOk)}}
            />
          {{/if}}
        {{/if}}
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelApproveAgendaAndCloseMeeting}}>
      <AuButton
        data-test-agenda-version-actions-approve-and-close-agenda-confirm
        @skin="primary"
        @alert={{not (await (this.canBeApproved))}}
        @disabled={{this.reloadAgendaitemsData.isRunning}}
        {{on "click" this.approveCurrentAgendaAndCloseMeeting}}
      >
        {{t "approve-and-close"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}
{{#if this.showConfirmForClosingMeeting}}
  <Auk::Modal
    @size={{if (await this.latestAgenda.status.isDesignAgenda) "large" "small"}}
  >
    <Auk::Modal::Header
      @title={{t "agenda-close"}}
      @onClose={{this.cancelCloseMeeting}}
    />
    <Auk::Modal::Body>
      {{#if (await this.latestAgenda.status.isDesignAgenda)}}
        <Auk::Alert
          @skin="error"
          @message={{t
            "agenda-design-delete-message"
            agenda=this.latestAgenda.agendaName
          }}
        />
      {{/if}}
      <div>
        {{t "close-meeting-confirmation"}}
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelCloseMeeting}}>
      <AuButton
        data-test-agenda-version-actions-lock-agenda-confirm
        @skin="primary"
        @alert={{await this.latestAgenda.status.isDesignAgenda}}
        {{on "click" this.closeMeeting}}
      >
        {{t "agenda-close"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}
{{#if this.showConfirmForDeletingSelectedAgenda}}
  <Auk::Modal @size={{if (eq @reverseSortedAgendas.length 1) "large" "small"}}>
    <Auk::Modal::Header
      @title={{t "agenda-delete"}}
      @onClose={{this.cancelDeleteSelectedAgenda}}
    />
    <Auk::Modal::Body>
      {{#if (eq @reverseSortedAgendas.length 1)}}
        <Auk::Alert
          @skin="error"
          @message={{t "delete-final-agenda-and-meeting"}}
        />
      {{/if}}
      <div>
        {{t "delete-agenda-message" agenda=@currentAgenda.agendaName}}
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelDeleteSelectedAgenda}}>
      <AuButton
        data-test-agenda-version-actions-delete-agenda-confirm
        @skin="primary"
        @alert={{true}}
        {{on "click" this.deleteSelectedAgenda}}
      >
        {{t "agenda-delete"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}
{{#if this.showConfirmForReopeningPreviousAgenda}}
  <Auk::Modal>
    <Auk::Modal::Header
      @title={{t "agenda-reopen-previous-version"}}
      @onClose={{this.cancelReopenPreviousAgenda}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.loadPiecesToDelete.isRunning}}
        @reserveSpace={{true}}
      >
        <Auk::Alert
          data-test-agenda-version-actions-reopen-modal-error
          @skin="error"
          @message={{t
            "agenda-reopen-confirmation"
            designAgenda=@currentAgenda.agendaName
            approvedAgenda=this.lastApprovedAgenda.agendaName
          }}
        />
        {{#if this.loadPiecesToDelete.isRunning}}
          <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
            <Auk::Loader @message={{t "loading"}} />
          </div>
        {{/if}}
        {{#if this.piecesToDeleteReopenPreviousAgenda}}
          <Auk::Alert
            data-test-agenda-version-actions-reopen-modal-warning
            @skin="warning"
            @message={{t "agenda-reopen-pieces-delete"}}
          />
          <div class="vlc-document-card-versions">
            <Auk::Accordion>
              <Auk::Accordion::Item
                @isDefaultActive={{true}}
                @title={{t "view-documents-details"}}
              >
                {{#each this.piecesToDeleteReopenPreviousAgenda as |piece|}}
                  <div class="vlc-document-holder">
                    <div
                      class="vlc-document-card-item"
                      data-test-agenda-version-actions-reopen-modal-piece
                    >
                      <div class="vlc-document-card-item__title">
                        <LinkTo
                          @route="document"
                          @model={{piece.id}}
                          target="_blank"
                          class="auk-h4 auk-u-m-0 auk-u-mr-4 vlc-document-card-item__title-link"
                          data-test-agenda-version-actions-reopen-modal-piece-name
                        >
                          {{! prettier-ignore}}
                          {{piece.name}}.{{piece.file.extension}}
                        </LinkTo>
                        <div
                          class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center"
                        ></div>
                      </div>
                      <div class="vlc-document-card-item__meta au-u-muted">
                        {{t "uploaded-at"}}
                        {{moment-format piece.created}}
                        {{t "at"}}
                        {{moment-format piece.created "HH:mm"}}
                      </div>
                      <div class="vlc-document-card-item__icon">
                        <Auk::Icon @name="clock-rewind" @size="small" />
                      </div>
                    </div>
                  </div>
                {{/each}}
              </Auk::Accordion::Item>
            </Auk::Accordion>
          </div>
        {{/if}}
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelReopenPreviousAgenda}}>
      <AuButton
        data-test-agenda-version-actions-reopen-previous-version-confirm
        @skin="primary"
        @alert={{true}}
        @disabled={{this.loadPiecesToDelete.isRunning}}
        {{on "click" this.reopenPreviousAgenda}}
      >
        {{#if this.piecesToDeleteReopenPreviousAgenda}}
          {{t "agenda-reopen-previous-version-with-delete"}}
        {{else}}
          {{t "agenda-reopen-previous-version"}}
        {{/if}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}