<Auk::List @bordered={{true}}>
  {{#each (await @agendaitems) as |agendaitem|}}
    <li class="auk-list__item auk-list__item--gray-100">
      <div class="auk-u-ml-3 auk-u-mt-2 auk-u-mr-4 auk-input--block">
        {{t
          "number-point-title"
          number=agendaitem.number
          title=(if agendaitem.shortTitle agendaitem.shortTitle agendaitem.title)
        }}
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              {{#if (await agendaitem.checkAdded)}}
                <WebComponents::AuIcon @name="calendar-new" @iconSkinColor="muted"/>
              {{/if}}
              {{!-- This does not seem to work properly without the #let, newsletterInfo.inNewsletter is undefined --}}
              {{#if (await agendaitem.newsletterInfo)}}
                {{#let (await agendaitem.newsletterInfo) as |newsletterInfo|}}
                  {{#if (eq (await newsletterInfo.inNewsletter) false)}}
                    <WebComponents::AuIcon @name="not-visible" @iconSkinColor="muted"/>
                  {{/if}}
                {{/let}}
              {{/if}}
              {{#if (await agendaitem.agendaActivity.subcase.confidential)}}
                <WebComponents::AuIcon @name="lock-closed" @iconSkinColor="muted"/>
              {{/if}}
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <p class="{{agendaitem.formallyOkToShow.classNames}}">
                <i class="{{agendaitem.formallyOkToShow.iconClassNames}}" aria-hidden="true"></i>
                {{agendaitem.formallyOkToShow.label}}
              </p>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </div>
    </li>
  {{/each}}
</Auk::List>