<AuDropdown
  data-test-agenda-actions-options-dropdown={{true}}
  @skin="secondary"
  @title={{t "actions"}}
  @alignment="right"
  class="auk-u-hidden@print"
>
  {{#if this.canEditDesignAgenda}}
    <AuButton
      data-test-agenda-actions-add-agendaitems
      @skin="link"
      {{on "click" this.openAddAgendaitemsModal}}
      role="menuitem"
    >
      {{t "add-to-agenda"}}
    </AuButton>
    <AuHr />
  {{/if}}
  <AuLink
    data-test-agenda-actions-navigate-to-newsletter
    @route="newsletter"
    @model={{@meeting.id}}
    role="menuitem"
  >
    {{t "print-newsletter"}}
  </AuLink>
  {{#if this.showPrintButton}}
    <AuLink
      @route="agenda.agendaitems"
      role="menuitem"
    >
      {{t "agenda-view"}}
    </AuLink>
   <AuButton
      {{on "click" this.print}}
      role="menuitem"
    >
      {{t "print"}}
    </AuButton>
  {{else}}
    <AuLink
      data-test-agenda-actions-navigate-to-printable-agenda
      @route="agenda.print"
      role="menuitem"
    >
      {{t "printable-version"}}
    </AuLink>
  {{/if}}
  <AuButton
    data-test-agenda-actions-download-documents
    @skin="link"
    {{on "click" this.openDownloadDocuments}}
    role="menuitem"
  >
    {{t "download-documents"}}
  </AuButton>
    <AuButton
    data-test-agenda-actions-download-decisions
    @skin="link"
    {{on "click" this.openDownloadDecisions}}
    role="menuitem"
  >
    {{t "download-decisions"}}
  </AuButton>

  {{#if (user-may "manage-meetings")}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-toggle-editing-meeting
      @skin="link"
      {{on "click" this.toggleEditingMeeting}}
      role="menuitem"
    >
      {{t "edit-meeting"}}
    </AuButton>
  {{/if}}
  {{#if this.canEditDesignAgenda}}
    <AuButton
      data-test-agenda-actions-approve-all-agendaitems
      @skin="link"
      {{on "click" this.openConfirmApproveAllAgendaitems}}
      role="menuitem"
    >
      {{t "approve-all-agendaitems"}}
    </AuButton>
  {{/if}}
  {{#if this.canPublishDecisions}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-release-decisions
      @skin="link"
      @alert={{true}}
      {{on "click" this.openConfirmPublishDecisions}}
      role="menuitem"
    >
      {{t "agenda-release-decisions"}}
    </AuButton>
  {{/if}}
  {{#if this.canPlanDocumentPublication}}
    <AuButton
      data-test-agenda-actions-release-documents-planning
      @skin="link"
      {{on "click" this.openPlanDocumentPublicationModal}}
      role="menuitem"
    >
      {{t "agenda-publish-planned"}}
    </AuButton>
  {{/if}}
  {{#if this.canPublishThemis}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-publish-to-web
      @skin="link"
      {{on "click" this.openConfirmPublishThemis}}
      role="menuitem"
    >
      {{t "publish-to-web"}}
    </AuButton>
  {{/if}}
  {{#if this.canUnpublishThemis}}
    <AuHr />
    <AuButton
      data-test-agenda-actions-unpublish-from-web
      @skin="link"
      @alert={{true}}
      {{on "click" this.openConfirmUnpublishThemis}}
      role="menuitem"
    >
      {{t "unpublish-from-web"}}
    </AuButton>
  {{/if}}
</AuDropdown>

{{#if this.isAddingAgendaitems}}
  <Agenda::Agendaitem::CreateAgendaitem
    @meeting={{@meeting}}
    @onClose={{this.closeAddAgendaitemsModal}}
    @onCreate={{@didApproveAgendaitems}}
  />
{{/if}}

{{#if this.isEditingMeeting}}
  <Meeting::EditMeetingModal
    @meeting={{@meeting}}
    @didSave={{this.toggleEditingMeeting}}
    @onCancel={{this.toggleEditingMeeting}}
  />
{{/if}}

{{#if this.showConfirmApprovingAllAgendaitems}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "approve-all-agendaitems"}}
      @onClose={{this.cancelApproveAllAgendaitems}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.reloadAgendaitemsData.isRunning}}
        @reserveSpace={{true}}
      >
        <p>
          {{t
            "approve-all-agendaitems-warning-message"
            amountOfAgendaitems=(get (await (this.allAgendaitemsNotOk)) "length")
          }}
        </p>
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelApproveAllAgendaitems}}>
      <AuButton
        data-test-agenda-actions-approve-all-agendaitems-confirm
        @skin="primary"
        @disabled={{this.reloadAgendaitemsData.isRunning}}
        {{on "click" this.approveAllAgendaitems}}
      >
        {{t "approve"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showConfirmPublishDecisions}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "agenda-release-decisions"}}
      @onClose={{this.cancelPublishDecisions}}
    />
    <Auk::Modal::Body>
      <p>{{t "release-decisions-message"}}</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelPublishDecisions}}>
      <AuButton
        data-test-agenda-actions-release-decisions-confirm
        @skin="primary"
        {{on "click" this.publishDecisions}}
      >
        {{t "release-to-public"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showPlanDocumentPublicationModal}}
  <Meeting::DocumentPublicationPlanningModal
    @documentPublicationActivity={{this.documentPublicationActivity}}
    @themisPublicationActivity={{this.themisPublicationActivity}}
    @onCancel={{this.cancelPlanDocumentPublication}}
    @onSave={{perform this.planDocumentPublication}}
  />
{{/if}}

{{#if this.showConfirmPublishThemis}}
  <ThemisPublications::PublishConfirmationModal
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishThemis}}
    @onConfirm={{perform this.publishThemis}}
  />
{{/if}}

{{#if this.showConfirmUnpublishThemis}}
  <ThemisPublications::UnpublishConfirmationModal
    @onCancel={{this.cancelUnpublishThemis}}
    @onConfirm={{perform this.unpublishThemis}}
  />
{{/if}}

<ConfirmationModal
  @modalOpen={{this.showDownloadDocuments}}
  @onCancel={{this.closeDownloadDocuments}}
  @title={{t "download-documents"}}
  @confirmMessage={{t "download-documents"}}
  @onConfirm={{this.confirmDownloadDocuments}}
>
  <:body>
    <AuAlert
      @skin="info"
      @size="small"
    >
      <p>{{t "download-agenda-documents-info"}}</p>
    </AuAlert>
    <div class="au-c-form">
      <AuFormRow>
        <Mandatees::CheckboxSelect
          @selected={{this.selectedMandatees}}
          @referenceAgenda={{@currentAgenda}}
          @onChange={{set this "selectedMandatees"}}
        />
      </AuFormRow>
      <AuFieldset as |Fieldset|>
        <Fieldset.legend>{{t "file-types"}}</Fieldset.legend>
        <Fieldset.content>
          <AuRadioGroup
            @alignment="inline"
            @selected={{this.selectedDownloadOption}}
            @onChange={{this.onChangeDownloadOption}}
            as |Group|
          >
            {{#each this.downloadOptions as |option|}}
            <Group.Radio
              @value={{option.value}}
              >
              {{option.label}}
            </Group.Radio>
            {{/each}}
          </AuRadioGroup>
        </Fieldset.content>
      </AuFieldset>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showDownloadDecisions}}
  @onCancel={{this.closeDownloadDecisions}}
  @title={{t "download-all-decisions"}}
  @confirmMessage={{t "download-all-decisions"}}
  @onConfirm={{this.confirmDownloadDecisions}}
>
  <:body>
    <AuAlert
      @skin="info"
      @size="small"
    >
      <p>{{t "download-agenda-decisions-info"}}</p>
    </AuAlert>
    <Mandatees::CheckboxSelect
      @selected={{this.selectedMandatees}}
      @referenceAgenda={{@currentAgenda}}
      @onChange={{set this "selectedMandatees"}}
    />
    <AuFieldset as |Fieldset|>
      <Fieldset.legend>{{t "file-types"}}</Fieldset.legend>
      <Fieldset.content>
        <AuRadioGroup
          @alignment="inline"
          @selected={{this.selectedDownloadOption}}
          @onChange={{this.onChangeDownloadOption}}
          as |Group|
        >
          {{#each this.downloadOptions as |option|}}
          <Group.Radio
            @value={{option.value}}
            >
            {{option.label}}
          </Group.Radio>
          {{/each}}
        </AuRadioGroup>
      </Fieldset.content>
    </AuFieldset>
  </:body>
</ConfirmationModal>
