<div data-test-publication-pills-container>
  {{#unless this.loadInitialData.isRunning}}
    {{#if (user-may "manage-decision-publications")}}
      {{#if @meeting.internalDecisionPublicationActivity.startDate}}
        <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "decisions-were-released-at"
            date=(date @meeting.internalDecisionPublicationActivity.startDate)
            time=(time @meeting.internalDecisionPublicationActivity.startDate)
          }}
        </AuPill>
      {{/if}}
    {{/if}}
    {{#if (user-may "manage-document-publications")}}
      {{#if @meeting.internalDocumentPublicationActivity.startDate}}
        <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "documents-were-released-at"
            date=(date @meeting.internalDocumentPublicationActivity.plannedDate)
            time=(time @meeting.internalDocumentPublicationActivity.plannedDate)
          }}
        </AuPill>
      {{else}}
        {{#if this.isConfirmedDocumentPublicationPlanning}}
          <AuPill @skin="default" @icon="clock" class="auk-u-mr-2 auk-u-mt-2">
            {{t
              "documents-are-planned-to-release-at"
               date=(date @meeting.internalDocumentPublicationActivity.plannedDate)
               time=(time @meeting.internalDocumentPublicationActivity.plannedDate)
            }}
          </AuPill>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if (user-may "manage-themis-publications")}}
      {{#if (and this.isReleasedThemisPublicationActivity this.themisPublicationIncludesDocuments)}}
        <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "documents-were-published-at"
            date=(date this.latestThemisPublicationActivity.plannedDate)
            time=(time this.latestThemisPublicationActivity.plannedDate)
          }}
        </AuPill>
      {{else if this.isConfirmedThemisPublicationActivity}}
        <AuPill @skin="default" @icon="clock" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "documents-are-planned-to-release-at"
            date=(date this.latestThemisPublicationActivity.plannedDate)
            time=(time this.latestThemisPublicationActivity.plannedDate)
          }}
        </AuPill>
      {{/if}}
    {{/if}}
  {{/unless}}
</div>