<div data-test-publication-pills-container>
  {{#unless this.loadInitialData.isRunning}}
    {{#if this.mayManageDecisionPublications}}
      {{#if @meeting.internalDecisionPublicationActivity.startDate}}
        <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "decisions-were-released-at"
            date=(moment-format @meeting.internalDecisionPublicationActivity.startDate "DD-MM-YYYY")
            time=(moment-format @meeting.internalDecisionPublicationActivity.startDate "HH:mm")
          }}
        </AuPill>
      {{/if}}
    {{/if}}
    {{#if this.mayManageDocumentPublications}}
      {{#if @meeting.internalDocumentPublicationActivity.startDate}}
        <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "documents-were-released-at"
            date=(moment-format @meeting.internalDocumentPublicationActivity.plannedDate "DD-MM-YYYY")
            time=(moment-format @meeting.internalDocumentPublicationActivity.plannedDate "HH:mm")
          }}
        </AuPill>
      {{else}}
        {{#if this.isConfirmedDocumentPublicationPlanning}}
          <AuPill @skin="default" @icon="clock" class="auk-u-mr-2 auk-u-mt-2">
            {{t
              "documents-are-planned-to-release-at"
               date=(moment-format @meeting.internalDocumentPublicationActivity.plannedDate "DD-MM-YYYY")
               time=(moment-format @meeting.internalDocumentPublicationActivity.plannedDate "HH:mm")
            }}
          </AuPill>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if this.mayManageThemisPublications}}
      {{#if (and this.isReleasedThemisPublicationActivity this.themisPublicationIncludesDocuments)}}
        <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "documents-were-published-at"
            date=(moment-format this.latestThemisPublicationActivity.plannedDate "DD-MM-YYYY")
            time=(moment-format this.latestThemisPublicationActivity.plannedDate "HH:mm")
          }}
        </AuPill>
      {{else if this.isConfirmedThemisPublicationActivity}}
        <AuPill @skin="default" @icon="clock" class="auk-u-mr-2 auk-u-mt-2">
          {{t
            "documents-are-planned-to-release-at"
            date=(moment-format this.latestThemisPublicationActivity.plannedDate "DD-MM-YYYY")
            time=(moment-format this.latestThemisPublicationActivity.plannedDate "HH:mm")
          }}
        </AuPill>
      {{/if}}
    {{/if}}
  {{/unless}}
</div>
