<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1 class="vlc-page-header__title vlc-page-header__title--bordered">
        {{t "agenda-of"}}
        {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
      </h1>
      <div class="vlc-page-header__sub">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              {{#link-to "agendas" class="vlc-backlink vl-link vl-link--bold"}}
                <i
                  class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-left-fat"
                ></i>
                {{t "back"}}
              {{/link-to}}
            </div>
            {{sessions/session-agenda-nav
              compareAgendas=(action "compareAgendas")
              clearSelectedAgendaItem=(action "clearSelectedAgendaItem")
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vlc-toolbar__right">
    <div class="vlc-toolbar__item">
      <div class="vl-action-group">
        {{#if
          (and (eq currentAgenda.name "Ontwerpagenda") (or isAdmin isEditor))
        }}
          <button
            class="vl-button vl-button--narrow"
            {{action "approveAgenda" currentSession}}
          >
            {{await currentSession.latestAgendaName}}
            {{t "approve-small"}}
          </button>
        {{/if}}
        <button
          class="vl-button vl-button--narrow vl-button--icon-before vl-button--secondary"
          {{action "showMultipleOptions"}}
        >
          {{#if (not isShowingOptions)}}
            <i
              class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-down-fat"
              {{action "showMultipleOptions" bubbles=false}}
            ></i>
          {{else}}
            <i
              class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-up-fat"
              {{action "showMultipleOptions" bubbles=false}}
            ></i>
          {{/if}}
          {{t "actions"}}
          {{#attach-popover
            class="ember-attacher-popper"
            hideOn="clickout click"
            showOn="click"
            animation="shift"
            placement="bottom" as |attacher|
          }}
            <ul class="vl-popover__link-list">
              {{#if
                (and
                  (or isAdmin isEditor) (eq currentAgenda.name "Ontwerpagenda")
                )
              }}
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToSubCases"}}
                  >
                    {{t "add-to-agenda"}}
                  </a>
                </li>
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "toggleIsAddingAnnouncement"}}
                  >
                    {{t "create-announcement"}}
                  </a>
                </li>
                <li class="vl-popover__link-list__separator" role="none"></li>
              {{/if}}
              <li class="vl-popover__link-list__item">
                <a
                  class="vl-link vl-link--block"
                  {{action attacher.hide}}
                  {{action "navigateToDecisions"}}
                >
                  {{t "print-decisions"}}
                </a>
              </li>
              <li class="vl-popover__link-list__item">
                <a class="vl-link vl-link--block" {{action "navigateToNotes"}}>
                  {{t "print-notes"}}
                </a>
              </li>
              <li class="vl-popover__link-list__item">
                <a
                  class="vl-link vl-link--block"
                  {{action "navigateToPressAgenda"}}
                  {{action attacher.hide}}
                >
                  {{t "printable-press-agenda"}}
                </a>
              </li>
              {{#if (or isAdmin isEditor)}}
                <li class="vl-popover__link-list__separator" role="none"></li>
                <li class="vl-popover__link-list__item">
                  {{#if (not currentSession.isFinal)}}
                    <a
                      class="vl-link vl-link--block vl-u-text--error"
                      {{action "lockAgenda" currentAgenda}}
                      {{action attacher.hide}}
                    >
                      {{t "agenda-lock"}}
                    </a>
                  {{else}}
                    <a
                      class="vl-link vl-link--block"
                      {{action "unlockAgenda"}}
                      {{action attacher.hide}}
                    >
                      {{t "agenda-unlock"}}
                    </a>
                  {{/if}}
                </li>
                <li
                  class="vl-popover__link-list__item vl-popover__link-list__item--action-danger"
                >
                  {{#if
                    (and currentAgenda (eq currentAgenda.name "Ontwerpagenda"))
                  }}
                    <a
                      class="vl-link vl-u-text--error"
                      {{action "deleteDesignAgenda" currentAgenda}}
                      {{action attacher.hide}}
                    >
                      {{t "agenda-delete"}}
                    </a>
                  {{else if
                    (and
                      (not designAgendaPresent)
                      (not await currentSession.isFinal)
                    )}}
                    <a
                      class="vl-link vl-link--block"
                      {{action "createNewDesignAgenda" currentSession}}
                      {{action attacher.hide}}
                    >
                      {{t "agenda-add"}}
                    </a>
                  {{/if}}
                </li>
              {{/if}}
            </ul>
          {{/attach-popover}}
        </button>
      </div>
    </div>
  </div>
</div>
{{#if isAddingAgendaitems}}
  {{agenda/agendaitem/create-agendaitem
    isAddingAgendaitems=isAddingAgendaitems
    reloadRoute=(action "reloadRoute")
  }}
{{/if}}
{{#if isAddingAnnouncement}}
  {{agenda/create-announcement
    isAddingAnnouncement=isAddingAnnouncement
    currentAgenda=currentAgenda
    reloadRoute=(action "reloadRoute")
  }}
{{/if}}