<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1 class="vlc-page-header__title vlc-u-padding-bottom-5 vlc-page-header__title--bordered"
          data-test-agenda-header-title>
        {{t "agenda-of"}}
        {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
        {{t "at"}}
        {{moment-format currentSession.plannedStart "HH:mm"}}
        <span class="vlc-page-header__subtitle vl-u-text vl-u-text--muted" style="font-size:1.6rem;"> - {{await
          currentSession.kindToShow.label
        }}</span>
      </h1>
      <div class="vlc-page-header__sub">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              {{!-- TODO: Fix this symbol into a custom icon based of the figma file --}}
              {{!-- template-lint-disable no-bare-strings  --}}
              {{#link-to "agendas.overview" class="vlc-backlink vl-link vl-link--bold"}}
                &#8629;
              {{/link-to}}
              {{!-- template-lint-enable no-bare-strings  --}}
            </div>
            {{sessions/session-agenda-nav
              currentAgenda=currentAgenda
              compareAgendas=(action "compareAgendas")
              navigateToDocuments=(action "navigateToDocuments")
              clearSelectedAgendaItem=(action "clearSelectedAgendaItem")
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if isViewer}}
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <div class="vl-action-group">
          {{#if (and (eq currentAgenda.name "Ontwerpagenda") isEditor)}}
            <button type="button" class="vl-button vl-button--narrow"
              {{action "tryToApproveAgenda" currentSession}}
            >
              {{await currentSession.latestAgendaName}}
              {{t "approve-small"}}
            </button>
          {{/if}}
          <button type="button"
                  data-test-agenda-header-showActionOptions
                  class="vl-button vl-button--narrow vl-button--icon-before vl-button--secondary"
            {{action "showMultipleOptions"}}
          >
            {{#if (not isShowingOptions)}}
              <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-down-fat"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{else}}
              <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-up-fat"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{/if}}
            {{t "actions"}}
            {{#attach-popover
              class="ember-attacher-popper vlc-hide-on-print"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom"
            as |attacher|
            }}
              <ul class="vlc-dropdown-menu">
                {{#if (and isEditor (eq currentAgenda.name "Ontwerpagenda"))}}
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-navigateToSubCases
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "navigateToSubCases"}}
                    >
                      {{t "add-to-agenda"}}
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-announcement
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "toggleIsAddingAnnouncement"}}
                    >
                      {{t "create-announcement"}}
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__separator" role="none"></li>
                {{/if}}
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToDecisions
                     class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToDecisions"}}
                  >
                    {{t "print-decisions"}}
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToNewsletter
                     class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToNewsletter"}}
                  >
                    {{t "print-newsletter"}}
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToNotes
                     class="vl-link vl-link--block"
                    {{action "navigateToNotes"}}
                  >
                    {{t "print-notes"}}
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToPressAgenda
                     class="vl-link vl-link--block"
                    {{action "navigateToPressAgenda"}}
                    {{action attacher.hide}}
                  >
                    {{t "printable-press-agenda"}}
                  </a>
                </li>
                {{#if showPrintButton}}
                  <li class="vlc-dropdown-menu__item">
                    {{#link-to
                      "agenda.agendaitems"
                      class="vl-link vl-link--block"
                    }}
                      {{t "agenda-view"}}
                    {{/link-to}}
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-navigateToPressAgenda
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "print"}}
                    >
                      {{t "print"}}
                    </a>
                  </li>
                {{else}}
                  <li class="vlc-dropdown-menu__item">
                    <LinkTo
                      data-test-agenda-header-navigateToPrintableAgenda
                      class="vl-link vl-link--block"
                      @route="agenda.print"
                      @query={{hash selectedAgenda=currentAgenda.id}}
                    >
                      {{t "printable-version"}}
                    </LinkTo>
                  </li>
                {{/if}}
                {{#if isEditor}}
                  <li class="vlc-dropdown-menu__separator" role="none"></li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-toggleEditingSession
                       class="vl-link vl-link--block"
                      {{action "toggleEditingSession"}}
                      {{action attacher.hide}}
                    >
                      {{t "edit-session"}}
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-selectSignature
                       class="vl-link vl-link--block"
                      {{action "selectSignature"}}
                      {{action attacher.hide}}
                    >
                      {{t "signature-edit"}}
                    </a>
                  </li>
                {{/if}}
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-downloaddDocuments
                     class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "downloadAllDocuments"}}
                  >
                    {{t "download-documents"}}
                  </a>
                </li>
                {{#if isEditor}}
                  <li class="vlc-dropdown-menu__separator" role="none"></li>
                  <li class="vlc-dropdown-menu__item">
                    {{#if (not currentSession.isFinal)}}
                      {{#if (await hasMultipleAgendas)}}
                        <a href=""
                           data-test-agenda-header-lockAgenda
                           class="vl-link vl-link--block vl-u-text--error"
                          {{action "lockAgenda" currentAgenda}}
                          {{action attacher.hide}}
                        >
                          {{t "agenda-lock"}}
                        </a>
                      {{/if}}
                    {{else}}
                      <a href=""
                         data-test-agenda-header-unlockAgenda
                         class="vl-link vl-link--block"
                        {{action "unlockAgenda"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-unlock"}}
                      </a>
                    {{/if}}
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    {{#if currentSession.canReleaseDecisions}}
                      <a href=""
                         data-test-agenda-header-releaseDecisions
                         class="vl-link vl-link--block vl-u-text--error"
                        {{action "releaseDecisions"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-release-decisions"}}
                      </a>
                    {{else if currentSession.canReleaseDocuments}}
                      <a href=""
                         data-test-agenda-header-releaseDocuments
                         class="vl-link vl-link--block vl-u-text--error"
                        {{action "releaseDocuments"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-release-documents"}}
                      </a>
                    {{/if}}
                  </li>
                  <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger"
                  >
                    {{#if
                      (or
                                    (and currentAgenda (eq currentAgenda.name "Ontwerpagenda"))
                                    (and isAdmin (await currentAgendaIsLast))
                      )
                    }}
                      <a href=""
                         data-test-agenda-header-deleteAgenda
                         class="vl-link vl-u-text--error"
                        {{action "deleteAgenda" currentAgenda}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-delete"}}
                      </a>
                    {{/if}}
                    {{#if
                      (and
                                  (not (await designAgendaPresent))
                                  (not (await currentSession.isFinal))
                      )
                    }}
                      <a href=""
                         data-test-agenda-header-createNewDesignAgenda
                         class="vl-link vl-link--block"
                        {{action "createNewDesignAgenda" currentSession}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-add"}}
                      </a>
                    {{/if}}
                  </li>
                {{/if}}
              </ul>
            {{/attach-popover}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{#if isAddingAgendaitems}}
  {{agenda/agendaitem/create-agendaitem
    isAddingAgendaitems=isAddingAgendaitems
    reloadRoute=(action "reloadRoute")
  }}
{{/if}}
{{#if isAddingAnnouncement}}
  {{agenda/create-announcement
    isAddingAnnouncement=isAddingAnnouncement
    currentAgenda=currentAgenda
    reloadRoute=(action "reloadRoute")
  }}
{{/if}}
{{#if isAssigningSignature}}
  {{sessions/select-signature
    meeting=currentSession
    closeDialog=(action "selectSignature")
  }}
{{/if}}
{{#if showWarning}}
  {{web-components/vl-modal-verify
    data-test-agenda-approve-modal
    title=(t "warning-title")
    buttonType="warning"
    isLoading=isApprovingAgenda
    verifyButtonText=(t "continue")
    message=(if (and (await currentAgenda.isPassable) (not (await currentAgenda.isApprovable))) (t "approve-agenda-passable") (t "approve-agenda-warning"))
    cancel=(action "cancel")
    verify=(action "doApproveAgenda" currentSession)
    showVerify=(and (await currentAgenda.isPassable) (not (await currentAgenda.isApprovable)))
  }}
{{/if}}
{{#if releasingDocuments}}
  {{web-components/vl-modal-verify
    title=(t "agenda-release-documents")
    buttonType="warning"
    verifyButtonText=(t "releaseToPublicButton")
    message=(t "release-documents-message")
    cancel=(action "cancel")
    verify=(action "confirmReleaseDocuments")
  }}
{{/if}}
{{#if releasingDecisions}}
  {{web-components/vl-modal-verify
    title=(t "agenda-release-decisions")
    buttonType="warning"
    verifyButtonText=(t "releaseToPublicButton")
    message=(t "release-decisions-message")
    cancel=(action "cancel")
    verify=(action "confirmReleaseDecisions")
  }}
{{/if}}
{{#if editingSession}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "edit-session")
    closeModal=(action "cancelEditSessionForm")
  }}
    {{sessions/forms/edit-session
      meeting=currentSession
      successfullyEdited=(action "successfullyEdited")
      cancelForm=(action "cancelEditSessionForm")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if shouldShowLoader}}
  {{#web-components/vl-modal
    isOverlay=true
    title=loaderTitle
  }}
    {{web-components/vl-loader text=loaderText}}
  {{/web-components/vl-modal}}
{{/if}}
