<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1 class="vlc-page-header__title vlc-page-header__title--bordered">
        {{t "agenda-of"}}
        {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
        {{t "at"}}
        {{moment-format currentSession.plannedStart "HH:mm"}}
          <span class="vl-u-text vl-u-text--muted" style="font-size:1.6rem;"> - {{await currentSession.kindToShow.label}}</span>
      </h1>
      <div class="vlc-page-header__sub">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              {{#link-to "agendas.overview" class="vlc-backlink vl-link vl-link--bold"}}
                  &#8629;
              {{/link-to}}
            </div>
            {{sessions/session-agenda-nav
              currentAgenda=currentAgenda
              compareAgendas=(action "compareAgendas")
              navigateToDocuments=(action "navigateToDocuments")
              clearSelectedAgendaItem=(action "clearSelectedAgendaItem")
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if isViewer}}
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <div class="vl-action-group">
          {{#if (and (eq currentAgenda.name "Ontwerpagenda") isEditor)}}
            <button
              class="vl-button vl-button--narrow"
              {{action "tryToApproveAgenda" currentSession}}
            >
              {{await currentSession.latestAgendaName}}
              {{t "approve-small"}}
            </button>
          {{/if}}
          <button
            class="vl-button vl-button--narrow vl-button--icon-before vl-button--secondary"
            {{action "showMultipleOptions"}}
          >
            {{#if (not isShowingOptions)}}
              <i
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-down-fat"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{else}}
              <i
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-up-fat"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{/if}}
            {{t "actions"}}
            {{#attach-popover
              class="ember-attacher-popper"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom" as |attacher|
            }}
              <ul class="vl-popover__link-list">
                {{#if (and isEditor (eq currentAgenda.name "Ontwerpagenda"))}}
                  <li class="vl-popover__link-list__item">
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "navigateToSubCases"}}
                    >
                      {{t "add-to-agenda"}}
                    </a>
                  </li>
                  <li class="vl-popover__link-list__item">
                    <a
                      class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "toggleIsAddingAnnouncement"}}
                    >
                      {{t "create-announcement"}}
                    </a>
                  </li>
                  <li class="vl-popover__link-list__separator" role="none"></li>
                {{/if}}
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToDecisions"}}
                  >
                    {{t "print-decisions"}}
                  </a>
                </li>
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToNewsletter"}}
                  >
                    {{t "print-newsletter"}}
                  </a>
                </li>
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    {{action "navigateToNotes"}}
                  >
                    {{t "print-notes"}}
                  </a>
                </li>
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    {{action "navigateToPressAgenda"}}
                    {{action attacher.hide}}
                  >
                    {{t "printable-press-agenda"}}
                  </a>
                </li>
                {{#if isEditor}}
                  <li class="vl-popover__link-list__separator" role="none"></li>
                  <li>
                    <a
                      class="vl-link vl-link--block"
                      {{action "toggleEditingSession"}}
                      {{action attacher.hide}}
                    >
                      {{t "edit-session"}}
                    </a>
                  </li>
                  <li>
                    <a
                      class="vl-link vl-link--block"
                      {{action "selectSignature"}}
                      {{action attacher.hide}}
                    >
                      {{t "signature-edit"}}
                    </a>
                  </li>
                {{/if}}
                <li class="vl-popover__link-list__item">
                  <a
                    class="vl-link vl-link--block"
                    href={{downloadAllDocumentsLink}}
                    download={{downloadName}}
                    target="_blank"
                  >
                    {{t "download-documents"}}
                  </a>
                </li>
                {{#if isEditor}}
                  <li class="vl-popover__link-list__separator" role="none"></li>
                  <li class="vl-popover__link-list__item">
                    {{#if (not currentSession.isFinal)}}
                      {{#if (await hasMultipleAgendas)}}
                        <a
                          class="vl-link vl-link--block vl-u-text--error"
                          {{action "lockAgenda" currentAgenda}}
                          {{action attacher.hide}}
                        >
                          {{t "agenda-lock"}}
                        </a>
                      {{/if}}
                    {{else}}
                      <a
                        class="vl-link vl-link--block"
                        {{action "unlockAgenda"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-unlock"}}
                      </a>
                    {{/if}}
                  </li>
                  <li class="vl-popover__link-list__item">
                    {{#if currentSession.canReleaseDecisions}}
                      <a
                        class="vl-link vl-link--block vl-u-text--error"
                        {{action "releaseDecisions"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-release-decisions"}}
                      </a>
                    {{else if currentSession.canReleaseDocuments}}
                      <a
                        class="vl-link vl-link--block vl-u-text--error"
                        {{action "releaseDocuments"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-release-documents"}}
                      </a>
                    {{/if}}
                  </li>
                  <li
                    class="vl-popover__link-list__item vl-popover__link-list__item--action-danger"
                  >
                    {{#if
                      (or
                        (and currentAgenda (eq currentAgenda.name "Ontwerpagenda"))
                        (and isAdmin (await currentAgendaIsLast))
                      )
                    }}
                      <a
                        class="vl-link vl-u-text--error"
                        {{action "deleteAgenda" currentAgenda}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-delete"}}
                      </a>
                    {{/if}}
                    {{#if (and
                        (not (await designAgendaPresent))
                        (not (await currentSession.isFinal))
                      )}}
                      <a
                        class="vl-link vl-link--block"
                        {{action "createNewDesignAgenda" currentSession}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-add"}}
                      </a>
                    {{/if}}
                  </li>
                {{/if}}
              </ul>
            {{/attach-popover}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{#if isAddingAgendaitems}}
  {{agenda/agendaitem/create-agendaitem
    isAddingAgendaitems=isAddingAgendaitems
    reloadRoute=(action "reloadRoute")
  }}
{{/if}}
{{#if isAddingAnnouncement}}
  {{agenda/create-announcement
    isAddingAnnouncement=isAddingAnnouncement
    currentAgenda=currentAgenda
    reloadRoute=(action "reloadRoute")
  }}
{{/if}}
{{#if isAssigningSignature}}
  {{sessions/select-signature
    meeting=currentSession
    closeDialog=(action "selectSignature")
  }}
{{/if}}
{{#if showWarning}}
  {{web-components/vl-modal-verify
    title=(t "warning-title")
    buttonType="warning"
    verifyButtonText=(t "continue")
    message=(if (and (await currentAgenda.isPassable) (not (await currentAgenda.isApprovable))) (t "approve-agenda-passable") (t "approve-agenda-warning"))
    cancel=(action "cancel")
    verify=(action "doApproveAgenda" currentSession)
    showVerify=(and (await currentAgenda.isPassable) (not (await currentAgenda.isApprovable)))
  }}
{{/if}}
{{#if releasingDocuments}}
  {{web-components/vl-modal-verify
    title=(t "agenda-release-documents")
    buttonType="warning"
    verifyButtonText=(t "releaseToPublicButton")
    message=(t "release-documents-message")
    cancel=(action "cancel")
    verify=(action "confirmReleaseDocuments")
  }}
{{/if}}
{{#if releasingDecisions}}
  {{web-components/vl-modal-verify
    title=(t "agenda-release-decisions")
    buttonType="warning"
    verifyButtonText=(t "releaseToPublicButton")
    message=(t "release-decisions-message")
    cancel=(action "cancel")
    verify=(action "confirmReleaseDecisions")
  }}
{{/if}}
{{#if editingSession}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "edit-session")
    closeModal=(action "cancelEditSessionForm")
  }}
    {{sessions/forms/edit-session
      meeting=currentSession
      successfullyEdited=(action "successfullyEdited")
      cancelForm=(action "cancelEditSessionForm")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if shouldShowLoader}}
  {{#web-components/vl-modal
    isOverlay=true
    title=loaderTitle
  }}
  {{web-components/vl-loader text=loaderText}}
  {{/web-components/vl-modal}}
{{/if}}