{{#if agendaMenuOpened}}
  <div class="side-menu-collapse" onclick={{action "collapseSideMenu"}}>
    {{fa-icon "chevron-left" size="lg"}}
  </div>
  <div class="title-container">
    <strong>
      {{fa-icon "history"}}
      {{t "agendas.nav-title"}}
    </strong>
    <button {{action "compareAgendas"}}>
      {{fa-icon "arrows-alt"}}
      {{t "buttons.agenda-compare"}}
    </button>
  </div>
  <nav class="side--menu--content-container">
    {{#each (await agendas) as |agenda|}}
			<a {{action "setCurrentAgenda" agenda}} class={{active-class agenda currentAgenda}}>
        <p>
          {{agenda.agendaName}}
        </p>
        {{moment-format "12/12/2019" "dddd DD/MM/YYYY"}}
        <div class="menu-item-active-border"></div>
			</a>
    {{/each}}
  </nav>
{{else}}
  <div class="collapsed-side-menu" onclick={{action "collapseSideMenu"}}>
    {{fa-icon "chevron-right"}}
  </div>
{{/if}}