<div class="auk-modal__footer {{if this.bordered 'auk-modal__footer--bordered'}}">
  {{#if @custom}}
    {{yield}}
  {{else}}
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            @disabled={{@cancelDisabled}}
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{yield}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  {{/if}}
</div>