<div class="auk-modal__header {{if this.bordered 'auk-modal__header--bordered'}}">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h2 class="auk-toolbar__title">{{@title}}</h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <AuButtonGroup>
          {{#if @resizeable}}
            <AuButton
              @skin="naked"
              @icon={{if @isExpanded "minimize" "expand"}}
              @hideText={{true}}
              {{on "click" @onResize}}
            >
              {{#if @isExpanded}}
                {{t "minimize"}}
              {{else}}
                {{t "maximize"}}
              {{/if}}
            </AuButton>
          {{/if}}
          {{#if this.closeable}}
            <AuButton
              @skin="naked"
              @icon="x"
              @hideText={{true}}
              disabled={{@closeDisabled}}
              {{on "click" @onClose}}
            >
              {{t "close"}}
            </AuButton>
          {{/if}}
        </AuButtonGroup>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>