{{!-- template-lint-disable no-bare-strings  --}}
{{!-- TODO: OC code: remove  --}}
<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h1 class="vlc-page-header__title">
            Overlegcomité - agendapunten voor dossier
            {{case.identifier}}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if (gt model.length 0)}}
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      <div class="vl-u-spacer-extended-l">
        <div class="vl-grid">
          <div class="vl-col--2-4">
            <div class="vl-u-spacer--medium">
              <div
                class="vlc-input-field-group-wrapper vlc-input-field-group-wrapper--inline"
              >
                <div
                  class="vlc-input-field-group vlc-input-field-group--gmeeting"
                >
                  {{input
                    class="vl-input-field"
                    type="search"
                    value=(mut caseSearchKey)
                    placeholder="dossiernummer"
                  }}
                </div>
                <div class="vlc-input-field-group">
                  <button
                    class="vl-button vl-button--secondary vl-button--icon"
                    type="submit"
                    {{action "searchCase" caseSearchKey}}
                  >
                    <i class="vl-vi vl-vi-magnifier"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vl-u-spacer--large">
          <div class="vl-u-spacer--large">
            <h2 class="vl-title vl-title--h3">
              {{t "history"}}
            </h2>
            <div class="vl-u-spacer-extended-bottom-l">
              {{#data-table
                content=(await model)
                onClickRow=(action "selectItem" item)
                class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
                page=page
                size=size
                sort=sort
                noDataMessage=(t "no-results-found")
                isLoading=isLoadingModel as |table|
              }}
                {{#table.content as |c|}}
                  {{#c.header}}
                    {{th-sortable
                      class="vl-data-table-col-1 vl-data-table__header-title"
                      currentSorting=sort
                      field="meeting.startedAt"
                      label=(t "meeting")
                    }}
                    {{th-sortable
                      class="vl-data-table-col-4 vl-data-table__header-title"
                      currentSorting=sort
                      field="subject"
                      label=(t "subject")
                    }}
                    <th class="vl-data-table-col-1"></th>
                  {{/c.header}}
                  {{#c.body as |item|}}
                    <td>
                      {{moment-format item.meeting.startedAt}}
                    </td>
                    <td>
                      {{item.subject}}
                    </td>
                    <td class="vl-u-align-center">
                      <button
                        class="vl-button vl-button--link vl-button--icon"
                        {{action "selectItem" item}}
                      >
                        <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
                      </button>
                    </td>
                  {{/c.body}}
                {{/table.content}}
              {{/data-table}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="vl-u-spacer-extended-l">
    {{web-components/vl-alert message="Geen agendapunten"}}
  </div>
{{/if}}
{{outlet}}