{{#if (or (not agendaitem.retracted) (not agendaitem.postponedTo))}}
  <h2 class="vl-title vl-title--h3">
    {{t "agendaitem-comment"}}
  </h2>
  <div class="vlc-comments-input">
    <div class="vl-badge">
      {{initials}}
    </div>
    {{utils/custom-textarea
      rows="2"
      class="vl-textarea vl-textarea--block"
      value=text
      placeholder="Type hier jouw opmerking..."
      enter=(action "addComment")
    }}
  </div>
  {{#each (await sortedRemarks) as |comment|}}
    <div class="vlc-comments-comment">
      <div class="vl-badge">
        {{!-- {{initials}} --}}
      </div>
      <div class="vlc-comments-comment-content">
        <div class="vlc-comments-comment-content__header">
          <h4 class="vl-title vl-title--h6">
            {{await comment.author.firstName}}
            {{await comment.author.lastName}}
          </h4>
          <div class="vlc-comments-comment-content__meta">
            {{moment-format comment.created "DD MMMM YYYY - HH:mm"}}
          </div>
        </div>
        <div class="vl-typography">
          <p>
            {{comment.text}}
          </p>
        </div>
      </div>
    </div>
    {{#if (await comment.answers)}}
      {{#each (await comment.answers) as |answer|}}
        <div class="vlc-comments-comment vlc-comments-comment--response">
          <div class="vl-badge">
            {{!-- TODO: Initials --}}
          </div>
          <div class="vlc-comments-comment-content">
            <div class="vlc-comments-comment-content__header">
              <h4 class="vl-title vl-title--h6">
                {{await answer.author.firstName}}
                {{await answer.author.lastName}}
              </h4>
              <div class="vlc-comments-comment-content__meta">
                {{moment-format answer.created "DD MMMM YYYY - HH:mm"}}
              </div>
            </div>
            <div class="vl-typography">
              <p>
                {{answer.text}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <div class="vlc-comments-input vlc-comments-input--response">
      <div class="vl-badge">
        {{initials}}
      </div>
      {{utils/custom-textarea
        rows="2"
        class="vl-textarea vl-textarea--block"
        value=comment.answer
        placeholder="Type hier jouw opmerking..."
        enter=(action "addAnswer" comment)
      }}
    </div>
  {{/each}}
{{/if}}