<div class="vl-col--4-4">
  <h2 class="vl-title vl-title--h3">
    {{t "agendaitem-comment"}}
  </h2>
  {{#if (not agendaitem.retracted)}}
    <div class="vlc-comment-input vl-u-display-flex vlc-u-display-flex-align-center">
      <div class="vl-badge vl-badge--initials vl-badge--action">
        <span>
          {{user-initials user=(await currentSession.user)}}
        </span>
      </div>
      <Utils::CustomTextarea
        @rows="2"
        class="vl-input-field vl-input-field--block"
        @value={{text}}
        @placeholder={{t "agenda-comment-type-here"}}
        @enter={{action "addComment"}} />
    </div>
    {{#each (await sortedRemarks) as |comment|}}
      <Utils::AgendaitemComment @comment={{comment}} @user={{await currentSession.user}} />
      {{#if (await comment.answers)}}
        {{#each (await comment.answers) as |answer|}}
          <Utils::AgendaitemComment
            @comment={{answer}}
            @isAnswer={{true}}
            @user={{await currentSession.user}} />
        {{/each}}
      {{/if}}
      <div class="vlc-comment-input vlc-comment-input--response vl-u-display-flex vlc-u-display-flex-align-center">
        {{#if (eq (await comment.author.id) (await currentSession.user.id))}}
          <div class="vl-badge vl-badge--initials vl-badge--action">
            <span>
              {{user-initials user=(await comment.author)}}
            </span>
          </div>
        {{else}}
          <div class="vl-badge vl-badge--initials vl-badge--accent">
            <span>
              {{user-initials user=(await comment.author)}}
            </span>
          </div>
        {{/if}}
        <Utils::CustomTextarea
          @rows="2"
          class="vl-input-field vl-input-field--block"
          @value={{comment.answer}}
          @placeholder={{t "agenda-comment-type-here"}}
          @enter={{fn this.addAnswer comment}} />
      </div>
    {{/each}}
  {{/if}}
</div>
