<div class="vl-col--4-4">
  <h2 class="vl-title vl-title--h3">
    {{t "agendaitem-comment"}}
  </h2>
  {{#if (or (not agendaitem.retracted) (not agendaitem.postponedTo))}}
    <div class="vlc-comment-input vl-u-display-flex vl-u-display-flex-align-center">
      <div class="vl-badge vl-badge--initials vl-badge--action">
        <span>
          {{user-initials user=(await user)}}
        </span>
      </div>
      {{utils/custom-textarea
              rows="2"
              class="vl-input-field vl-input-field--block"
              value=text
              placeholder="Type hier jouw opmerking..."
              enter=(action "addComment")
      }}
    </div>
    {{#each (await sortedRemarks) as |comment|}}
      {{utils/agendaitem-comment comment=comment user=(await user)}}
      {{#if (await comment.answers)}}
        {{#each (await comment.answers) as |answer|}}
          {{utils/agendaitem-comment
                  comment=answer
                  isAnswer=true
                  user=(await user)
          }}
        {{/each}}
      {{/if}}
      <div class="vlc-comment-input vlc-comment-input--response vl-u-display-flex vl-u-display-flex-align-center">
        {{#if (eq (await comment.author.id) (await user.id))}}
          <div class="vl-badge vl-badge--initials vl-badge--action">
            <span>
              {{user-initials user=(await comment.author)}}
            </span>
          </div>
        {{else}}
          <div class="vl-badge vl-badge--initials vl-badge--accent">
            <span>
              {{user-initials user=(await comment.author)}}
            </span>
          </div>
        {{/if}}
        {{utils/custom-textarea
                rows="2"
                class="vl-input-field vl-input-field--block"
                value=comment.answer
                placeholder="Type hier jouw opmerking..."
                enter=(action "addAnswer" comment)
        }}
      </div>
    {{/each}}
  {{/if}}
</div>