{{#if (or (not agendaitem.retracted) (not agendaitem.postponedTo))}}
  <div class="vl-comments">
    <h3 class="vl-title vl-title--h3">
      {{t "buttons.agendaitem-comment"}}
    </h3>
    <div class="vl-comments-input">
      {{input
        class="vl-input-field"
        placeholder="Type hier je opmerking"
        value=text
      }}
      <button
        class="vl-button vl-button--tertiary vl-button--icon"
        {{action "addComment"}}
      >
        {{fa-icon "paper-plane"}}
      </button>
    </div>
    {{#each (await agendaitem.remarks) as |comment|}}
      <div class="vl-comments-comment">
        <div class="vl-comments-comment-content">
          <div class="vl-comments-comment-content__header">
            <h6 class="vl-title vl-title--h6">
              {{!-- USERNAME --}}
            </h6>
            <div class="vl-comments-comment-content__meta">
              {{moment-format comment.createdAt "DD MMMM YYYY - h:mm"}}
            </div>
          </div>
          <div class="vl-typography">
            <p>
              {{comment.text}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}