<div class="auk-u-m-4">
  {{#each this.model as |activity|}}
    <div class="auk-u-mb-4">
      <Auk::AccordionPanel @isDefaultActive={{true}} as |accordionPanel|>
        <accordionPanel.Header
                @title=
                  {{t
                    "translation-request-for"
                    date=(moment-format activity.startDate "D MMMM")
                    time=(moment-format activity.startDate "H:mm")
                  }}
                as |header|>
          <header.Actions as |actions|>
            <actions.Item>
              <Auk::Button
                      @disabled={{this.isUploadDisabled}}
                      @skin="primary"
                {{on "click" (fn openTranslationUploadModal activity)}}
              >
                {{t "upload-translation"}}
              </Auk::Button>
            </actions.Item>
          </header.Actions>
        </accordionPanel.Header>
        <accordionPanel.Body>
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-6">
              <div class="auk-u-mb-2">
                <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "translation-due-date"}}</p>
                <p>{{moment-format this.translationSubcase.dueDate "DD-MM-YYYY"}}</p>
              </div>
              <div class="auk-u-mb-2">
                <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "subject"}}</p>
                <p>{{activity.email.subject}}</p>
              </div>
              <div class="auk-u-mb-2">
                <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "message"}}</p>
                <div class="auk-box">
                  {{!-- on 1 line to prevent whitespace to be rendered s--}}
                  <p style="white-space:pre-line;">{{activity.email.message}}</p>
                </div>
              </div>
            </div>
            <div class="auk-o-grid-col-6">
              <div class="auk-u-mb-6">
                <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "files"}}</p>
                <Auk::List @isBordered="true" class="auk-list--view">
                  {{#each activity.usedPieces as |piece|}}
                    <Auk::List::Item @skin="gray-100">
                      <div class="auk-u-ml-2">
                        <Auk::Icon @name="document" @skin="muted-dark"/>
                      </div>
                      <div class="auk-u-mx-2">
                        <span class="auk-u-text-bold">{{piece.name}}</span>
                        <div class="auk-u-muted auk-u-text-small">
                          {{uppercase piece.file.extension}}, {{format-bytesize piece.file.size}}
                        </div>
                      </div>
                      <Auk::Button
                              @layout="icon-only"
                              @icon="book"
                              @skin="borderless"
                              @href={{piece.viewDocumentURL}}
                              target="_blank"
                      />
                    </Auk::List::Item>
                  {{/each}}
                </Auk::List>
              </div>
              {{#if activity.translationActivity.generatedPieces.length}}
                <div class="auk-u-mb-2">
                  <p class="auk-u-text-bold auk-u-muted auk-u-mb">
                    {{t "received-documents"}}
                  </p>
                  <Auk::List @isBordered="true" class="auk-list--view">
                    {{#each activity.translationActivity.generatedPieces as |piece|}}
                      <Auk::List::Item @skin="gray-100">
                        <div class="auk-u-ml-2">
                          <Auk::Icon @name="document" @skin="muted-dark"/>
                        </div>
                        <div class="auk-u-mx-2">
                          <span class="auk-u-text-bold">{{piece.name}}</span>
                          <div class="auk-u-muted auk-u-text-small">
                            {{uppercase piece.file.extension}}, {{format-bytesize piece.file.size}}, {{t "received-at-date" date=(moment-format piece.receivedDate "DD-MM-YYYY")}}
                          </div>
                        </div>
                        <Auk::Button
                                @layout="icon-only"
                                @icon="book"
                                @skin="borderless"
                                @href={{piece.viewDocumentURL}}
                                target="_blank"
                        />
                      </Auk::List::Item>
                    {{/each}}
                  </Auk::List>
                </div>
              {{/if}}
            </div>
          </div>
        </accordionPanel.Body>
      </Auk::AccordionPanel>
    </div>
  {{else}}
    <Auk::Panel>
      <Auk::Panel::Body>
        <Auk::EmptyState @message={{t "no-translation-activities-yet"}} />
      </Auk::Panel::Body>
    </Auk::Panel>
  {{/each}}
</div>

{{#if this.showTranslationUploadModal}}
  <Publications::Publication::Translations::TranslationUploadModal
    @translationSubcase={{this.translationSubcase}}
    @onSave={{perform this.saveTranslationUpload}}
    @onCancel={{this.closeTranslationUploadModal}} />
{{/if}}
