<div class="auk-u-m-4">
  {{#each this.model as |activity|}}
    <div class="auk-u-mb-4">
      <Auk::Accordion @label=
        {{t
          "translation-request-for"
          date=(moment-format activity.startDate "D MMMM")
          time=(moment-format activity.startDate "H:mm")
        }}
      >
        {{!-- Button currently placed here as accordion doesn't allow actions yet --}}
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <Auk::Button @layout="icon-only" @skin="secondary" @icon="more"/>
            <AttachPopover
                    @renderInPlace={{false}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom">
              <Auk::Dropdown>
                <WebComponents::AuDropdown::Item>
                  {{t "download-documents"}}
                </WebComponents::AuDropdown::Item>
                <WebComponents::AuDropdown::Item
                        @skin="danger">
                  {{t "cancel-request"}}
                </WebComponents::AuDropdown::Item>
              </Auk::Dropdown>
            </AttachPopover>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>

        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6">
            <div class="auk-u-mb-2">
              <p class="auk-u-text-bold auk-u-muted auk-u-mb"> {{t "translation-due-date"}}</p>
              <p>{{moment-format this.translationSubcase.dueDate "DD-MM-YYYY"}}</p>
            </div>
            <div class="auk-u-mb-2">
              <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "subject"}}</p>
              <p>{{activity.email.subject}}</p>
            </div>
            <div class="auk-u-mb-2">
              <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "translation-mail-header"}}</p>
              <div class="auk-box">
                <p style="white-space:pre-line;">
                  {{activity.email.message}}
                </p>
              </div>
            </div>
          </div>
          <div class="auk-o-grid-col-6">
            <p class="auk-u-text-bold auk-u-muted auk-u-mb">{{t "files"}}</p>
            <Auk::List @isBordered="true">
              {{#each activity.usedPieces as |piece|}}
                <Auk::List::Item>
                  <Auk::Badge @icon="file"/>
                  <div class="auk-u-mx-2">
                    <span class="auk-u-text-bold">{{piece.name}}</span>
                    <div class="auk-u-muted auk-u-text-small">
                      {{piece.file.extension}},
                      {{format-bytesize piece.file.size}}
                    </div>
                  </div>
                  <Auk::Button
                          @layout="icon-only"
                          @icon="book"
                          @skin="borderless"
                          @href={{piece.viewDocumentURL}}
                          target="_blank"
                  />
                </Auk::List::Item>
              {{/each}}
            </Auk::List>
          </div>
        </div>
      </Auk::Accordion>
    </div>
  {{else}}
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Body>
        <Auk::EmptyState @message={{t "no-translation-activities-yet" }} />
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  {{/each}}
</div>