<span ...attributes>
  {{#if @editingEnabled}}
    <Utils::ModelSelector
      @modelName="access-level"
      @allowClear={{true}}
      @hideSearch={{true}}
      @propertyToShow="label"
      @sortField="priority"
      @selectedItems={{@accessLevel}}
      @selectModel={{this.changeAccessLevel}}
    />
  {{else}}
  <Auk::ColorBadge
    @skin={{this.accessPillSkin}}
    class="auk-u-mr"
  />
  <span>
    {{#if @accessLevel.label}}
      {{@accessLevel.label}}
    {{else}}
      {{t "no-accessLevel"}}
    {{/if}}
  </span>
  {{/if}}
</span>