{{#if @editingEnabled}}
  <Utils::ModelSelector
    @modelName="access-level"
    @allowClear={{true}}
    @hideSearch={{true}}
    @propertyToShow="label"
    @sortField="priority"
    @selectedItems={{@accessLevel}}
    @selectModel={{this.changeAccessLevel}}
  />
{{else}}
  <Auk::ColorBadge @skin={{this.accessPillSkin}} />
  <span>
    {{#if @accessLevel.label}}
      {{@accessLevel.label}}
    {{else}}
      {{t "no-accessLevel"}}
    {{/if}}
  </span>
{{/if}}