<div class="auk-u-mb-2">
  <div>
    <div class="auk-toolbar-complex auk-toolbar-complex--auto">
      <div class="auk-toolbar-complex__left custom-table-search">
        <div class="auk-toolbar-complex__item auk-u-maximize-width auk-u-overflow-hidden">
          <div class="vl-input-field--inline">
            <Input
              data-test-add-existing-piece-search-input=""
              @value={{this.filter}}
              @id="searchId"
              @placeholder="Zoeken.."
              @input={{perform this.searchTask}}
              @class="vl-input-field vl-input-field__input"
            />
            <button type="button"
                    data-test-add-existing-piece-search-button
                    class="vl-input-field__submit auk-button auk-button--primary"
                    onclick={{perform this.searchTask}}
            >
              <span class="auk-button__content">
                <i class="ki-search"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{#if this.performSearch.isRunning}}
      <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
        <Auk::Loader @message={{t "loading"}} />
      </div>
    {{else}}
      {{#data-table
        content=this.pieces
        sort=this.sort
        page=this.pageParam
        size=size
        noDataMessage=(t "no-results-found")
        isLoading=this.findAll.isRunning
        onClickRow=(action "select")
      as |table|
      }}
        {{#table.content
        as |c|
        }}
          {{#c.header}}
            <th></th>
            <th><span class="">{{t "title-document"}}</span></th>
            <th><span class="">{{t "created-on"}}</span></th>
          {{/c.header}}
          {{#c.body as |row|}}
            <td class="auk-table__col--1">
              {{web-components/vl-checkbox
                value=row.selected
                toggle=(action "select" row)
              }}
            </td>
            <td class="auk-table__col--8">
              {{row.name}}
            </td>
            <td class="auk-table__col--3">
              {{moment-format row.created "dd DD/MM/YYYY HH:mm"}}
            </td>
          {{/c.body}}
        {{/table.content}}
      {{/data-table}}
    {{/if}}
  </div>
</div>
