<div class="auk-modal__body">
  <div class="auk-u-p-4">
    <div class="auk-o-flex auk-o-flex--vertical-center">
      <Input
        @value={{searchText}}
        @placeholder={{t "search-placeholder"}}
        @class="auk-input vlc-u-box-model-maximize-width"
        @input={{action "updateSearchText"}} />
    </div>

    {{#if isLoading}}
      <WebComponents::VlLoader @text={{t "please-be-patient"}} />
    {{else}}
      <table class="auk-table auk-table--striped">
        <thead>
          <tr>
            <th class="auk-table__col--9 auk-table__header-title">
              {{t "case-name"}}
            </th>
            <th class="auk-table__col--2 auk-table__header-title">
              {{t "created-on"}}
            </th>
          </tr>
        </thead>
        <tbody class="auk-table--interaction-cursor">
          {{#each (await results) as |row|}}
            <tr>
              <td onclick={{action "selectCase" row}}>
                <p>
                  {{#if row.shortTitle}}
                    {{row.shortTitle}}
                  {{else}}
                    {{row.title}}
                  {{/if}}
                </p>
              </td>
              <td onclick={{action "selectCase" row}}>
                {{moment-format row.created "DD-MM-YYYY HH:mm"}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="auk-u-mb-3"></div>
      <WebComponents::AuPagination
        @page={{page}}
        @nbOfItems={{results.length}}
        @size={{size}}
        @onNextPage={{action 'nextPage'}}
        @onPreviousPage={{action 'prevPage'}}
        @total={{results.meta.count}} />
    {{/if}}
  </div>
</div>
