<Auk::Modal::Body>
  <div class="auk-o-flex auk-o-flex--vertical-center">
    <AuInput
      data-test-utils-case-search-input
      @value={{this.searchText}}
      @width="block"
      {{on "input" this.updateSearchText}}
      class="auk-u-maximize-width"
      placeholder={{t "search-placeholder"}}
    />
  </div>

  {{#if this.isLoading}}
    <WebComponents::VlLoader @text={{t "please-be-patient"}} />
  {{else}}
    <table class="auk-table auk-table--striped">
      <thead>
        <tr>
          <th class="auk-table__col--9">
            {{t "case-name"}}
          </th>
          <th class="auk-table__col--2">
            {{t "created-on"}}
          </th>
        </tr>
      </thead>
      <tbody class="auk-table--clickable-rows">
        {{#each (await this.results) as |row|}}
          {{!-- TODO: address accessibility concern, keeping in mind that users want the whole row to be clickable --}}
          {{!-- template-lint-disable no-invalid-interactive --}}
          <tr data-test-utils-case-search-row>
            <td onclick={{fn this.selectCase row}}>
              <p>
                {{#if row.shortTitle}}
                  {{row.shortTitle}}
                {{else}}
                  {{row.title}}
                {{/if}}
              </p>
            </td>
            <td onclick={{fn this.selectCase row}}>
              {{moment-format row.created "DD-MM-YYYY HH:mm"}}
            </td>
          </tr>
          {{!-- template-lint-enable no-invalid-interactive --}}
        {{/each}}
      </tbody>
    </table>
    <div class="auk-u-mb-3"></div>
    <Auk::Pagination
      @page={{this.page}}
      @size={{this.size}}
      @nbOfItems={{this.results.length}}
      @total={{this.results.meta.count}}
      @onNextPage={{this.nextPage}}
      @onPreviousPage={{this.prevPage}}
    />
  {{/if}}
</Auk::Modal::Body>