<Auk::Modal::Body>
  <div class="auk-o-flex auk-o-flex--vertical-center">
    <AuInput
      data-test-utils-case-search-input
      placeholder={{t "search-placeholder"}}
      value={{this.searchText}}
      class="auk-u-maximize-width"
      @width="block"
      {{on "input" this.updateSearchText}}
    />
  </div>

  {{#if this.isLoading}}
    <Auk::Loader @message={{t "please-be-patient"}} />
  {{else if (not this.results.length)}}
    <div class="auk-u-mt-4">
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found"}}
      />
    </div>
  {{else}}
    <table class="auk-table auk-table--striped">
      <thead>
        <tr>
          <th class="auk-table__col--1"></th>
          <th class="auk-table__col--8">
            {{t "case-name"}}
          </th>
          <th class="auk-table__col--3">
            {{t "created-on"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.results as |row|}}
          <tr data-test-utils-case-search-row>
            <td>
              <AuRadio
                data-test-utils-case-search-row-radio
                @checked={{eq row.id this.selected.id}}
                @value={{row.id}}
                @onChange={{this.selectCase}}
              />
            </td>
            <td>
              <AuLink
                data-test-utils-case-search-row-title-link
                @icon="external-link"
                @iconAlignment="right"
                @route="cases.case.index"
                @models={{array row.id}}
                target="_blank"
              >
                {{#if row.shortTitle}}
                  {{row.shortTitle}}
                {{else}}
                  {{row.title}}
                {{/if}}
              </AuLink>
            </td>
            <td>
              {{datetime row.created}}
            </td>
          </tr>
          {{!-- template-lint-enable no-invalid-interactive --}}
        {{/each}}
      </tbody>
    </table>
    <div class="auk-u-mb-3"></div>
    <Auk::Pagination
      @page={{this.page}}
      @size={{this.size}}
      @nbOfItems={{this.results.length}}
      @total={{this.results.meta.count}}
      @onNextPage={{this.nextPage}}
      @onPreviousPage={{this.prevPage}}
    />
  {{/if}}
</Auk::Modal::Body>