<div class="auk-modal__content">
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "add-people"}}</WebComponents::AuLabel>
    {{utils/create-person-selector
      selectedItems=selectedPerson
      selectModel=(action "personSelected")
    }}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "name"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input value=name}}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "signature-function"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input value=function}}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "signature-file"}}</WebComponents::AuLabel>
    {{#if (not uploadedFile)}}
      {{file-uploader
        multipleFiles=false
        uploadedFileAction=(action "getUploadedFile")
      }}
    {{else}}
      <div class="vlc-preview-container">
        <img src="{{downloadUrl}}" alt="{{t "no-signature-yet"}}"/>
        <a href="" {{action "removeFile" uploadedFile}}>
          {{fa-icon "remove"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>
{{web-components/vl-modal-footer
  isLoading=isLoading
  cancelButtonText=(t "cancel")
  saveButtonText=(t "signature-add")
  cancelAction=(action "closeModal")
  saveAction=(action "createSignature")
}}
