{{#if (not isCreatingPerson)}}
  <div data-test-person-selector-dropdown-container class="auk-o-flex auk-o-flex--vertical-center">
    {{#power-select
      options=items
      selected=selectedItems
      disabled=readOnly
      searchField=searchField
      placeholder=placeholder
      loadingMessage=loadingMessage
      noMatchesMessage=noMatchesMessage
      searchMessage=searchMessage
      search=(perform searchTask)
      oninput=(action "resetValueIfEmpty")
      onchange=(action "selectModel")
    as |model|
    }}
      {{await (model-property-to-show model propertyToShow)}}
    {{/power-select}}
    <div class="auk-u-mr-2"></div>
    <Auk::Button
      @skin="secondary"
      @layout="icon-only"
      @icon="add"
      {{action "toggleIsCreatingPerson"}}
      data-test-person-selector-action-create-person
    >
      {{t "create"}}
    </Auk::Button>
  </div>
{{else}}
  <div class="auk-form-group">
    <Auk::Label>{{t "first-name"}}</Auk::Label>
    {{web-components/vl-form-input
      data-test-person-selector-firstname=true
      value=firstName
    }}
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "name"}}</Auk::Label>
    {{web-components/vl-form-input
      data-test-person-selector-lastname=true
      value=lastName
    }}
  </div>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <a href="" class="auk-button-link" {{action "resetValuesAndCancelCreation"}}>
          <span class="auk-button__content">
            {{t "cancel"}}
          </span>
        </a>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          saveAction=(action "createPerson")
        }}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
{{/if}}