{{#if (not isCreatingPerson)}}
  <div data-test-add-mandatee-dropdown-container class="auk-u-flex auk-u-flex--vertical-center">
    {{#power-select
      options=items
      selected=selectedItems
      disabled=readOnly
      searchField=searchField
      placeholder=placeholder
      loadingMessage=loadingMessage
      noMatchesMessage=noMatchesMessage
      searchMessage=searchMessage
      search=(perform searchTask)
      oninput=(action "resetValueIfEmpty")
      onchange=(action "selectModel")
    as |model|
    }}
      {{await (model-property-to-show model propertyToShow)}}
    {{/power-select}}
    <div class="auk-u-mr-2"></div>
    <button data-test-create-person-container
      type="button"
      class="auk-button auk-button--secondary auk-button--icon"
      {{action "toggleIsCreatingPerson"}}
    >
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-add"></i>
      </div>
      <div class="auk-u-sr-only">
        {{t "create"}}
      </div>
    </button>
  </div>
{{else}}
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "first-name"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input
      data-test-create-person-firstname=true
      value=firstName
    }}
  </div>
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "name"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input
      data-test-create-person-lastname=true
      value=lastName
    }}
  </div>
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <a href="" class="auk-button-link" {{action "resetValuesAndCancelCreation"}}>
          {{t "cancel"}}
        </a>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          saveAction=(action "createPerson")
        }}
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
{{/if}}