{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<Auk::Modal::Body>
  <div class="auk-form-group">
    <Auk::Label>{{t "title"}}</Auk::Label>
    <WebComponents::VlFormInput
      data-test-create-mandatee-title-container={{true}}
      @value={{this.title}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "nick-name"}}</Auk::Label>
    <WebComponents::VlFormInput
      data-test-create-mandatee-nickname-container={{true}}
      @value={{this.nickName}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "add-people"}}</Auk::Label>
    <Utils::CreatePersonSelector
      @selectedItems={{this.selectedPerson}}
      @selectModel={{action "personSelected"}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "ise-code"}}</Auk::Label>
    <Utils::ModelSelector
      data-test-create-mandatee-ise-code-container={{true}}
      @modelName="ise-code"
      @searchField="name"
      @propertyToShow="name"
      @sortField="name"
      @multiSelect={{true}}
      @selectedItems={{this.iseCodes}}
      @selectModel={{action "chooseIseCodes"}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "start-date"}}</Auk::Label>
    <WebComponents::VlDatepicker @dateChanged={{action "selectStartDate"}} />
  </div>
</Auk::Modal::Body>
<WebComponents::VlModalFooter
  @isLoading={{this.isLoading}}
  @cancelButtonText={{t "cancel"}}
  @saveButtonText={{t "create-mandatee"}}
  @cancelAction={{action "closeModal"}}
  @saveAction={{action "createMandatee"}}
/>