{{#if (not this.isCreatingPerson)}}
  <div data-test-person-selector-dropdown-container class="auk-o-flex auk-o-flex--vertical-center">
    <PowerSelect
      @options={{this.items}}
      @selected={{this.selectedItems}}
      @disabled={{this.readOnly}}
      @searchField={{this.searchField}}
      @placeholder={{this.placeholder}}
      @loadingMessage={{this.loadingMessage}}
      @noMatchesMessage={{this.noMatchesMessage}}
      @searchMessage={{this.searchMessage}}
      @search={{perform this.searchTask}}
      @oninput={{action "resetValueIfEmpty"}}
      @onchange={{action "selectModel"}}
      as |model|
    >
      {{await (model-property-to-show model this.propertyToShow)}}
    </PowerSelect>
    <div class="auk-u-mr-2"></div>
    <Auk::Button
      @skin="secondary"
      @layout="icon-only"
      @icon="add"
      {{action "toggleIsCreatingPerson"}}
      data-test-person-selector-action-create-person
    >
      {{t "create"}}
    </Auk::Button>
  </div>
{{else}}
  <div class="auk-form-group">
    <Auk::Label>{{t "first-name"}}</Auk::Label>
    <WebComponents::VlFormInput
      data-test-person-selector-firstname={{true}}
      @value={{this.firstName}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "name"}}</Auk::Label>
    <WebComponents::VlFormInput
      data-test-person-selector-lastname={{true}}
      @value={{this.lastName}}
    />
  </div>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::ButtonLink {{action "resetValuesAndCancelCreation"}}>
          {{t "cancel"}}
        </Auk::ButtonLink>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::VlSaveButton
          @text={{t "save"}}
          @isLoading={{this.isLoading}}
          @saveAction={{action "createPerson"}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
{{/if}}