{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<Auk::Modal::Body>
  <div class="auk-form-group">
    <Auk::Label>{{t "add-people"}}</Auk::Label>
    <Utils::CreatePersonSelector
      @selectedItems={{this.selectedPerson}}
      @selectModel={{action "personSelected"}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "name"}}</Auk::Label>
    <WebComponents::VlFormInput @value={{this.name}} />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "signature-function"}}</Auk::Label>
    <WebComponents::VlFormInput @value={{this.function}} />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "signature-file"}}</Auk::Label>
    {{#if (not this.uploadedFile)}}
      <FileUploader
        @multipleFiles={{false}}
        @uploadedFileAction={{action "getUploadedFile"}}
      />
    {{else}}
      <div class="auk-o-flex auk-o-flex--center auk-preview-container">
        <img src="{{this.downloadUrl}}" alt="{{t "no-signature-yet"}}" />
        <a href="" {{action "removeFile" this.uploadedFile}}>
          {{fa-icon "remove"}}
        </a>
      </div>
    {{/if}}
  </div>
</Auk::Modal::Body>
<WebComponents::VlModalFooter
  @isLoading={{this.isLoading}}
  @cancelButtonText={{t "cancel"}}
  @saveButtonText={{t "signature-add"}}
  @cancelAction={{action "closeModal"}}
  @saveAction={{action "createSignature"}}
/>