{{!-- TODO unused template --}}
{{#if (await agendaitem.documentContainers)}}
  <div class="auk-u-mb-4">
    <h2 class="auk-h2">
      {{title}}
    </h2>
    <table class="auk-table">
      <thead>
        <tr>
          <th class="auk-table__col--6">
            <WebComponents::AuLabel>{{t "document-name"}}</WebComponents::AuLabel>
          </th>
          <th class="auk-table__col--4">
            <WebComponents::AuLabel>{{t "file-type"}}</WebComponents::AuLabel>
          </th>
          <th class="auk-table__col--2">
            <WebComponents::AuLabel>{{t "select"}}</WebComponents::AuLabel>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (await lastPieces) as |piece|}}
          {{#if (not piece.deleted)}}
            <tr>
              <td class="auk-u-flex vlc-document-list__item">
                <a href="" {{action "downloadFile" piece}}>
                  <div class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt"
                  >
                    <i class="vl-badge__icon ki-document"
                       aria-hidden="true"
                    ></i>
                  </div>
                  <p>
                    {{await piece.name}}
                  </p>
                </a>
              </td>
              <td>
                {{await piece.typeLabel}}
              </td>
              <td>
                {{web-components/vl-checkbox
                  value=piece.selected
                  toggle=(action "selectForPublication")
                }}
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}