{{#if this.isLoading}}
  <div class="auk-u-text-muted">
    {{t "please-be-patient"}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  </div>
{{else}}
  <div class="auk-form-group">
    <PowerSelect
      @options={{this.options}}
      @selected={{@selectedDocumentType}}
      @onChange={{@onChange}}
      @disabled={{@disabled}}
      @allowClear={{true}}
      @renderInPlace={{@renderInPlace}}
      @search={{perform this.searchTask}}
      @searchField="label"
      @searchEnabled={{true}}
      @searchMessage={{null}}
      @loadingMessage={{t "please-be-patient"}}
      @noMatchesMessage={{t "no-results-found"}}
      ...attributes
      as |option|
    >
      {{option.label}}
    </PowerSelect>
  </div>
{{/if}}