{{!-- TODO unused template --}}
{{#if (await agendaitem.documentContainers)}}
  <div class="auk-u-mb-4">
    <h2 class="auk-h2">
      {{title}}
    </h2>
    <table class="auk-table">
      <thead>
        <tr>
          <th class="auk-table__col--6">
            <Auk::Label>{{t "document-name"}}</Auk::Label>
          </th>
          <th class="auk-table__col--4">
            <Auk::Label>{{t "file-type"}}</Auk::Label>
          </th>
          <th class="auk-table__col--2">
            <Auk::Label>{{t "select"}}</Auk::Label>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each (await lastPieces) as |piece|}}
          {{#if (not piece.deleted)}}
            <tr>
              <td class="auk-o-flex vlc-document-list__item">
                <a href="" {{action "downloadFile" piece}}>
                  <Auk::Badge @icon="document" @size="medium" />
                  <p>
                    {{await piece.name}}
                  </p>
                </a>
              </td>
              <td>
                {{await piece.typeLabel}}
              </td>
              <td>
                {{web-components/vl-checkbox
                  value=piece.selected
                  toggle=(action "selectForPublication")
                }}
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}