{{#if showVerificationPopup}}
  {{web-components/vl-modal-verify
    title=(t "change-mandatee-change-end-date")
    message=(t "change-mandatee-end-date")
    cancel=(action "cancel")
    verify=(action "saveChanges")
    verifyButtonText=(t "change-mandatee-change-end-date")
  }}
{{/if}}
<div class="auk-modal__body">
  <div class="auk-u-p-4">
    <div class="auk-form-group">
      <Auk::Label>{{t "title"}}</Auk::Label>
      {{web-components/vl-form-input value=title}}
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "nick-name"}}</Auk::Label>
      {{web-components/vl-form-input value=nickName}}
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "add-people"}}</Auk::Label>
      {{utils/create-person-selector
        selectedItems=mandateeToEdit.person
        selectModel=(action "personSelected")
      }}
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "start-date"}}</Auk::Label>
      {{web-components/vl-datepicker
        selectedDate=startDate
        dateChanged=(action "selectStartDate")
      }}
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "end-date"}}</Auk::Label>
      {{web-components/vl-datepicker
        selectedDate=endDate
        dateChanged=(action "selectEndDate")
      }}
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "ise-code"}}</Auk::Label>
      {{utils/model-selector
        modelName="ise-code"
        searchField="name"
        propertyToShow="nameToShow"
        sortField="name"
        multiSelect=true
        selectedItems=iseCodes
        selectModel=(action "chooseIseCodes")
      }}
    </div>
  </div>
</div>
<div class="auk-modal__footer auk-modal__footer--bordered">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <Auk::Button
          @skin="borderless"
          {{action "closeModal"}}
          data-test-edit-mandatee-cancel
        >
          {{t "cancel"}}
        </Auk::Button>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          data-test-edit-mandatee-save=true
          saveAction=(action "triggerPopUp" mandateeToEdit)
        }}
      </div>
    </div>
  </div>
</div>