{{#if showVerificationPopup}}
  {{web-components/vl-modal-verify
    title=(t "change-mandatee-change-end-date")
    message=(t "change-mandatee-end-date")
    cancel=(action "cancel")
    verify=(action "saveChanges")
    verifyButtonText=(t "change-mandatee-change-end-date")
  }}
{{/if}}
<div class="auk-modal__content">
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "title"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input value=title}}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "nick-name"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input value=nickName}}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "add-people"}}</WebComponents::AuLabel>
    {{utils/create-person-selector
      selectedItems=mandateeToEdit.person
      selectModel=(action "personSelected")
    }}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "start-date"}}</WebComponents::AuLabel>
    {{web-components/vl-datepicker
      selectedDate=startDate
      dateChanged=(action "selectStartDate")
    }}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "end-date"}}</WebComponents::AuLabel>
    {{web-components/vl-datepicker
      selectedDate=endDate
      dateChanged=(action "selectEndDate")
    }}
  </div>
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "ise-code"}}</WebComponents::AuLabel>
    {{utils/model-selector
      modelName="ise-code"
      searchField="name"
      propertyToShow="nameToShow"
      sortField="name"
      multiSelect=true
      selectedItems=iseCodes
      selectModel=(action "chooseIseCodes")
    }}
  </div>
</div>
<div class="auk-navbar auk-navbar--white auk-navbar--bordered-top">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <button data-test-edit-mandatee-cancel
                type="button" class="auk-button auk-button--borderless"
          {{action "closeModal"}}
        >
          {{t "cancel"}}
        </button>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          data-test-edit-mandatee-save=true
          saveAction=(action "triggerPopUp" mandateeToEdit)
        }}
      </div>
    </div>
  </div>
</div>
