<AuFormRow class="auk-u-width-medium" ...attributes>
  {{#if this.onChange.isRunning}}
    <div class="auk-u-text-muted">
      {{t "please-be-patient"}}
      <Auk::Loader />
    </div>
  {{/if}}
  <PowerSelect
    @options={{this.options}}
    @selected={{this.selectedStatus}}
    @onChange={{perform this.onChange}}
    @disabled={{this.onChange.isRunning}}
  as |option|>
    {{#if option.svg }}
      <Auk::Icon @name={{option.svg.icon}} @skin={{option.svg.color}} />
    {{/if}}
    {{option.label}}
  </PowerSelect>
</AuFormRow>