<div class="auk-form-group auk-form-group--power-select" ...attributes>
  {{#if this.onChange.isRunning}}
    <div class="auk-u-muted">
      {{t "please-be-patient"}}
      <div class="auk-loader" role="alert" aria-busy="true"></div>
    </div>
  {{/if}}
  <PowerSelect
    @options={{this.options}}
    @selected={{this.selectedStatus}}
    @onchange={{perform this.onChange}}
    @disabled={{this.onChange.isRunning}}
  as |option|>
    {{#if option.svg }}
      <WebComponents::AuIcon @name={{option.svg.icon}} @iconSkinColor={{option.svg.color}}/>
    {{/if}}
    {{option.label}}
  </PowerSelect>
</div>