<div data-test-utils-kind-selector class="auk-form-group">
  {{#if (not this.hideLabel)}}
    <Auk::Label>{{t "kind"}}</Auk::Label>
  {{/if}}
  {{#if this.isLoading}}
    <div class="auk-u-text-muted">
      {{t "please-be-patient"}}
      <div class="auk-loader" role="alert" aria-busy="true"></div>
    </div>
  {{else}}
    <PowerSelect
      @options={{this.options}}
      @selected={{this.selectedKind}}
      @onChange={{this.setAction}}
      as |option|
    >
      {{option.label}}
    </PowerSelect>
  {{/if}}
</div>