<div data-test-utils-kind-selector class="auk-form-group">
  <Auk::Label>{{t "kind"}}</Auk::Label>
  <PowerSelect
    @options={{this.options}}
    @selected={{this.kind}}
    @onChange={{this.setAction}}
    as |option|
  >
    {{option.label}}
  </PowerSelect>
</div>