{{#if this.isLoading}}
  <div class="auk-u-text-muted">
    {{t "please-be-patient"}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  </div>
{{else}}
  <div data-test-utils-kind-selector class="auk-form-group">
    <Auk::Label>{{t "kind"}}</Auk::Label>
    <PowerSelect
      @options={{this.options}}
      @selected={{@selectedKind}}
      @onChange={{@onChange}}
      as |option|
    >
      {{option.label}}
    </PowerSelect>
  </div>
{{/if}}