{{#if (not isAdding)}}
  <Auk::Modal::Body>
    {{utils/model-selector
      modelName="signature"
      searchField="name"
      propertyToShow="name"
      sortField="name"
      selectedItems=(await selectedSignature)
      selectModel=(action "selectSignature")
    }}
    <div class="auk-u-mb-3"/>
    <div>
      {{t "signature-default"}}
      {{await defaultSignature.name}}
    </div>
  </Auk::Modal::Body>
  {{#if isEditing}}
    {{utils/edit-signature
      signatureToEdit=(await selectedSignature)
      closeModal=(action "toggleIsEditing")
    }}
  {{else}}
    <Auk::Modal::Footer @onCancel={{action "closeModal"}}>
      {{#if selectedSignature}}
        <Auk::Button
          @skin="tertiary"
          @icon="pencil"
          {{action "setDefaultSignature"}}
        >
          {{t "signature-set-default"}}
        </Auk::Button>
        <Auk::Button
          @skin="tertiary"
          @icon="pencil"
          {{action "toggleIsEditing"}}
        >
          {{t "signature-edit"}}
        </Auk::Button>
      {{/if}}
      <Auk::Button
        @skin="tertiary"
        @icon="add"
        {{action "toggleIsAdding"}}
      >
        {{t "signature-add"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  {{/if}}
{{else}}
  {{utils/create-signature closeModal=(action "toggleIsAdding")}}
{{/if}}
