{{#web-components/vl-modal
  isOverlay=true
  title=modalTitle
  closeModal=(action "close")
}}
  {{#if (and (not isAdding) (not isEditing))}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        {{utils/model-selector
          modelName="ise-code"
          searchField="name"
          propertyToShow="nameToShow"
          sortField="name"
          selectedItems=item
          selectModel=(action "selectModel")
        }}
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{action "close"}}>
      <Auk::Button
        @skin="tertiary"
        @icon="add"
        {{action "toggleIsAdding"}}
        data-test-manage-ise-code-add
      >
        {{t "add"}}
      </Auk::Button>
      {{#if item}}
        <Auk::Button
          @skin="tertiary"
          @icon="pencil"
          {{action "toggleIsEditing"}}
          data-test-manage-ise-code-edit
        >
          {{t "edit"}}
        </Auk::Button>
        <Auk::Button
          @skin="tertiary"
          @icon="delete"
          {{action "removeModel"}}
          data-test-manage-ise-code-delete
        >
          {{t "delete"}}
        </Auk::Button>
      {{/if}}
    </Auk::Modal::Footer>
  {{/if}}
  {{#if isAdding}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label>{{t "ise-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{name}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "ISE-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{code}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "government-field"}}</Auk::Label>
        {{utils/model-selector
          modelName="government-field"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=field
          selectModel=(action "chooseField")
        }}
      </div>
    </Auk::Modal::Body>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add")
      cancelAction=(action "toggleIsAdding")
      saveAction=(action "createModel")
    }}
  {{/if}}
  {{#if isEditing}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label>{{t "ise-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{name}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "ISE-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{code}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "government-field"}}</Auk::Label>
        {{utils/model-selector
          modelName="government-field"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=field
          selectModel=(action "chooseField")
        }}
      </div>
    </Auk::Modal::Body>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "save")
      cancelAction=(action "toggleIsEditing")
      saveAction=(action "editModel")
    }}
  {{/if}}
{{/web-components/vl-modal}}
