{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{this.modalTitle}}
  @closeModal={{action "close"}}
>
  {{#if (and (not this.isAdding) (not this.isEditing))}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Utils::ModelSelector
          @modelName="ise-code"
          @searchField="name"
          @propertyToShow="nameToShow"
          @sortField="name"
          @selectedItems={{this.item}}
          @selectModel={{action "selectModel"}}
        />
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{action "close"}}>
      <Auk::Button
        @skin="tertiary"
        @icon="plus"
        {{action "toggleIsAdding"}}
        data-test-manage-ise-code-add
      >
        {{t "add"}}
      </Auk::Button>
      {{#if this.item}}
        <Auk::Button
          @skin="tertiary"
          @icon="pencil"
          {{action "toggleIsEditing"}}
          data-test-manage-ise-code-edit
        >
          {{t "edit"}}
        </Auk::Button>
        <Auk::Button
          @skin="tertiary"
          @icon="trash"
          {{action "removeModel"}}
          data-test-manage-ise-code-delete
        >
          {{t "delete"}}
        </Auk::Button>
      {{/if}}
    </Auk::Modal::Footer>
  {{/if}}
  {{#if this.isAdding}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label>{{t "ise-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{this.name}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "ISE-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{this.code}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "government-field"}}</Auk::Label>
        <Utils::ModelSelector
          @modelName="government-field"
          @searchField="label"
          @propertyToShow="label"
          @sortField="label"
          @selectedItems={{this.field}}
          @selectModel={{action "chooseField"}}
        />
      </div>
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.isLoading}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @cancelAction={{action "toggleIsAdding"}}
      @saveAction={{action "createModel"}}
    />
  {{/if}}
  {{#if this.isEditing}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label>{{t "ise-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{this.name}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "ISE-code"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{this.code}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "government-field"}}</Auk::Label>
        <Utils::ModelSelector
          @modelName="government-field"
          @searchField="label"
          @propertyToShow="label"
          @sortField="label"
          @selectedItems={{this.field}}
          @selectModel={{action "chooseField"}}
        />
      </div>
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.isLoading}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "save"}}
      @cancelAction={{action "toggleIsEditing"}}
      @saveAction={{action "editModel"}}
    />
  {{/if}}
</WebComponents::VlModal>