{{#if (not this.isAdding)}}
  <Auk::Modal::Body>
    <Utils::ModelSelector
      @modelName="signature"
      @searchField="name"
      @propertyToShow="name"
      @sortField="name"
      @selectedItems={{await this.selectedSignature}}
      @selectModel={{action "selectSignature"}}
    />
    <div class="auk-u-mb-3"/>
    <div>
      {{t "signature-default"}}
      {{await this.defaultSignature.name}}
    </div>
  </Auk::Modal::Body>
  {{#if this.isEditing}}
    <Utils::EditSignature
      @signatureToEdit={{await this.selectedSignature}}
      @closeModal={{action "toggleIsEditing"}}
    />
  {{else}}
    <Auk::Modal::Footer @onCancel={{action "closeModal"}}>
      {{#if this.selectedSignature}}
        <Auk::Button
          @skin="tertiary"
          @icon="pencil"
          {{action "setDefaultSignature"}}
        >
          {{t "signature-set-default"}}
        </Auk::Button>
        <Auk::Button
          @skin="tertiary"
          @icon="pencil"
          {{action "toggleIsEditing"}}
        >
          {{t "signature-edit"}}
        </Auk::Button>
      {{/if}}
      <Auk::Button
        @skin="tertiary"
        @icon="add"
        {{action "toggleIsAdding"}}
      >
        {{t "signature-add"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  {{/if}}
{{else}}
  <Utils::CreateSignature @closeModal={{action "toggleIsAdding"}} />
{{/if}}