{{#if (not isAdding)}}
  <div class="auk-modal__content">
    {{utils/model-selector
      modelName="signature"
      searchField="name"
      propertyToShow="name"
      sortField="name"
      selectedItems=(await selectedSignature)
      selectModel=(action "selectSignature")
    }}
    <div class="auk-u-mb-3"/>
    <div>
      {{t "signature-default"}}
      {{await defaultSignature.name}}
    </div>
  </div>
  {{#if isEditing}}
    {{utils/edit-signature
      signatureToEdit=(await selectedSignature)
      closeModal=(action "toggleIsEditing")
    }}
  {{else}}
    <div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button type="button" class="vl-button vl-button--link"
              {{action "closeModal"}}
            >
              {{t "cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            {{#if selectedSignature}}
              <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
                {{action "setDefaultSignature"}}
              >
                <i class="vl-button__icon vl-button__icon--before ki-pencil"
                ></i>
                {{t "signature-set-default"}}
              </button>
              <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
                {{action "toggleIsEditing"}}
              >
                <i class="vl-button__icon vl-button__icon--before ki-pencil"
                ></i>
                {{t "signature-edit"}}
              </button>
            {{/if}}
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
              {{action "toggleIsAdding"}}
            >
              <i class="vl-button__icon vl-button__icon--before ki-add"
              ></i>
              {{t "signature-add"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{else}}
  {{utils/create-signature closeModal=(action "toggleIsAdding")}}
{{/if}}
