{{#web-components/vl-modal
  isOverlay=true
  title=modalTitle
  closeModal=(action "close")
}}
  {{#if (and (not isAdding) (not isEditing))}}
    <div class="auk-modal__content">
      <div class="vlc-input-field-block">
        {{utils/model-selector
          modelName="ise-code"
          searchField="name"
          propertyToShow="nameToShow"
          sortField="name"
          selectedItems=item
          selectModel=(action "selectModel")
        }}
      </div>
    </div>
    <div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button type="button" class="auk-button auk-button--borderless"
              {{action "close"}}
            >
              {{t "cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button type="button" class="auk-button auk-button--tertiary"
              data-test-vl-model-manager-add
              {{action "toggleIsAdding"}}
            >
              <div class="auk-icon auk-icon--default">
                <i class="ki ki-add"></i>
              </div>
              <div class="auk-button__label">
                {{t "add"}}
              </div>
            </button>
            {{#if item}}
              <button type="button"
                class="auk-button auk-button--tertiary"
                {{action "toggleIsEditing"}}
              >
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-pencil"></i>
                </div>
                <div class="auk-button__label">
                  {{t "edit"}}
                </div>
              </button>
              <button type="button"
                class="auk-button auk-button--tertiary"
                {{action "removeModel"}}
              >
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-delete"></i>
                </div>
                <div class="auk-button__label">
                  {{t "delete"}}
                </div>
              </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if isAdding}}
    <div class="auk-modal__content">
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "ise-code"}}</WebComponents::AuLabel>
        {{web-components/vl-form-input value=name}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "ISE-code"}}</WebComponents::AuLabel>
        {{web-components/vl-form-input value=code}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "government-field"}}</WebComponents::AuLabel>
        {{utils/model-selector
          modelName="government-field"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=field
          selectModel=(action "chooseField")
        }}
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add")
      cancelAction=(action "toggleIsAdding")
      saveAction=(action "createModel")
    }}
  {{/if}}
  {{#if isEditing}}
    <div class="auk-modal__content">
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "ise-code"}}</WebComponents::AuLabel>
        {{web-components/vl-form-input value=name}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "ISE-code"}}</WebComponents::AuLabel>
        {{web-components/vl-form-input value=code}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "government-field"}}</WebComponents::AuLabel>
        {{utils/model-selector
          modelName="government-field"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=field
          selectModel=(action "chooseField")
        }}
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "save")
      cancelAction=(action "toggleIsEditing")
      saveAction=(action "editModel")
    }}
  {{/if}}
{{/web-components/vl-modal}}
