{{#web-components/vl-modal
  isOverlay=true
  title=modalTitle
  closeModal=(action "close")
}}
  {{#if (and (not isAdding) (not isEditing))}}
    <div class="auk-modal__content">
      <div class="vlc-input-field-block">
        {{utils/model-selector
          modelName="government-field"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=item
          selectModel=(action "selectModel")
        }}
      </div>
    </div>
    <div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button type="button" class="vl-button vl-button--link"
                    data-test-vl-model-manager-close
              {{action "close"}}
            >
              {{t "cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
                    data-test-vl-model-manager-add
              {{action "toggleIsAdding"}}
            >
              <i class="vl-button__icon vl-button__icon--before ki-add"
              ></i>
              {{t "add"}}
            </button>
            {{#if item}}
              <button type="button"
                      class="vl-button vl-button--tertiary vl-button--icon-before"
                      data-test-vl-model-manager-edit
                {{action "toggleIsEditing"}}
              >
                <i class="vl-button__icon vl-button__icon--before ki-pencil"
                ></i>
                {{t "edit"}}
              </button>
              <button type="button"
                      class="vl-button vl-button--tertiary vl-button--icon-before"
                      data-test-vl-model-manager-delete
                {{action "removeModel"}}
              >
                <i class="vl-button__icon vl-button__icon--before ki-delete"
                ></i>
                {{t "delete"}}
              </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if isAdding}}
    <div class="auk-modal__content">
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "government-field"}}</WebComponents::AuLabel>
        {{web-components/vl-form-input value=label}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "government-domain"}}</WebComponents::AuLabel>
        {{utils/model-selector
          modelName="government-domain"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=domain
          selectModel=(action "chooseDomain")
        }}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "ise-code"}}</WebComponents::AuLabel>
        {{utils/model-selector
          modelName="ise-code"
          searchField="name"
          propertyToShow="nameToShow"
          sortField="name"
          selectedItems=iseCode
          selectModel=(action "chooseIseCode")
        }}
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add")
      cancelAction=(action "toggleIsAdding")
      saveAction=(action "createModel")
    }}
  {{/if}}
  {{#if isEditing}}
    <div class="auk-modal__content">
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "government-field"}}</WebComponents::AuLabel>
        {{web-components/vl-form-input value=label}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "government-domain"}}</WebComponents::AuLabel>
        {{utils/model-selector
          modelName="government-domain"
          searchField="label"
          propertyToShow="label"
          sortField="label"
          selectedItems=domain
          selectModel=(action "chooseDomain")
        }}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::AuLabel>{{t "ise-code"}}</WebComponents::AuLabel>
        {{utils/model-selector
          modelName="ise-code"
          searchField="name"
          propertyToShow="name"
          sortField="name"
          selectedItems=iseCode
          selectModel=(action "chooseIseCode")
        }}
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "save")
      cancelAction=(action "toggleIsEditing")
      saveAction=(action "editModel")
    }}
  {{/if}}
{{/web-components/vl-modal}}
