{{#if isEditing}}
  {{utils/edit-mandatee
    mandateeToEdit=(await mandateeToEdit)
    closeModal=(action "toggleIsEditing")
    mandateesUpdated= (action "mandateesUpdated")
  }}
{{/if}}
{{#if isResigning}}
  <div class="vl-modal-dialog__content">
    {{#if showVerificationPopup}}
      {{changes-alert
        data-test-manage-mandatee-changes-alert=true
        message=(t "show-active-minister-alert")
        buttonText=(t "close")
        clearAction=(action "close")
      }}
    {{/if}}
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "end-date")}}
      {{web-components/vl-datepicker dateChanged=(action "selectEndDate")}}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "new-person")}}
      {{utils/create-person-selector
        selectedItems=selectedPerson
        selectModel=(action "personSelected")
      }}
    </div>

    {{#if selectedPerson}}
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "start-date")}}
        {{web-components/vl-datepicker dateChanged=(action "selectNewStartDate")}}
      </div>
    {{/if}}
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    cancelButtonText=(t "cancel")
    saveButtonText=(t "save-resignation")
    cancelAction=(action "toggleIsResigning")
    saveAction=(action "saveResignation")
  }}
{{/if}}