{{#if isEditing}}
  <Utils::EditMandatee
    @mandateeToEdit={{await mandateeToEdit}}
    @closeModal={{action "toggleIsEditing"}}
    @mandateesUpdated={{action "mandateesUpdated"}}
  />
{{/if}}
{{#if isResigning}}
  <Auk::Modal::Body>
    {{#if showVerificationPopup}}
      <ChangesAlert
        data-test-manage-mandatee-changes-alert={{true}}
        @message={{t "show-active-minister-alert"}}
        @buttonText={{t "close"}}
        @clearAction={{action "close"}}
      />
    {{/if}}
    <div class="auk-form-group">
      <Auk::Label>{{t "end-date"}}</Auk::Label>
      <WebComponents::VlDatepicker @dateChanged={{action "selectEndDate"}} />
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "new-person"}}</Auk::Label>
      <Utils::CreatePersonSelector
        @selectedItems={{selectedPerson}}
        @selectModel={{action "personSelected"}}
      />
    </div>

    {{#if selectedPerson}}
      <div class="auk-form-group">
        <Auk::Label>{{t "start-date"}}</Auk::Label>
        <WebComponents::VlDatepicker
          @dateChanged={{action "selectNewStartDate"}}
        />
      </div>
    {{/if}}
  </Auk::Modal::Body>
  <WebComponents::VlModalFooter
    @isLoading={{isLoading}}
    @cancelButtonText={{t "cancel"}}
    @saveButtonText={{t "save-resignation"}}
    @cancelAction={{action "toggleIsResigning"}}
    @saveAction={{action "saveResignation"}}
  />
{{/if}}