<div data-test-mandatee-selector-container>
  {{#if (not @singleSelect)}}
    <PowerSelectMultiple
      @options={{this.mandateeOptions}}
      @selected={{await @selectedMandatees}}
      @disabled={{@readOnly}}
      @closeOnSelect={{false}}
      @searchEnabled={{true}}
      @search={{perform this.searchTask}}
      @oninput={{this.resetMandateeOptionsIfEmpty}}
      @onChange={{@chooseMandatee}}
      as |mandatee|
    >
      {{await mandatee.fullDisplayName}}
      <span class="auk-u-muted auk-u-text-size--small">
        {{moment-format mandatee.start "YYYY"}}-{{moment-format
          mandatee.end
          "YYYY"
        }}
      </span>
    </PowerSelectMultiple>
  {{else}}
    <PowerSelect
      @options={{this.mandateeOptions}}
      @selected={{await @selectedMandatees}}
      @disabled={{@readOnly}}
      @searchEnabled={{true}}
      @search={{perform this.searchTask}}
      @oninput={{this.resetMandateeOptionsIfEmpty}}
      @onChange={{@chooseMandatee}}
      as |mandatee|
    >
      {{await mandatee.fullDisplayName}}
      <span class="auk-u-muted auk-u-text-size--small">
        {{moment-format mandatee.start "YYYY"}}-{{moment-format
          mandatee.end
          "YYYY"
        }}
      </span>
    </PowerSelect>
  {{/if}}
</div>