<div class="mandatee-selector-container">
  <PowerSelectMultiple
    @options={{this.mandatees}}
    @selected={{await selectedMandatees}}
    @disabled={{this.readOnly}}
    @closeOnSelect={{this.singleSelect}}
    @search={{perform this.searchMandatees}}
    @onchange={{this.chooseMandatee}}
  as |mandatee|
  >
    {{await mandatee.fullDisplayName}}
  </PowerSelectMultiple>
</div>