{{#web-components/vl-modal
  closeModal=(action "cancel")
  isOverlay=true
  title=title
}}
  <div class="vl-modal-dialog__content">
    <label>{{t "select-minister"}}</label>
    <div class="auk-u-mb-8">
      {{#if isAddingMinister}}
        {{utils/mandatee-selector
          data-test-mandatee-selector=true
          singleSelect=true
          selectedMandatees=selectedMandatee
          chooseMandatee=(action "mandateeSelected")
        }}
      {{else}}
        {{utils/mandatee-selector
          singleSelect=true
          readOnly=true
          selectedMandatees=selectedMandatee
        }}
      {{/if}}
    </div>
    {{#if (and isLoading and isAddingMinister)}}
      {{web-components/vl-loader text=(t "please-be-patient")}}
    {{else}}
      {{#each rowToShow.domains as |domain|}}
        <ul class="vlc-checkbox-tree">
          <li>
            {{web-components/vl-checkbox
              value=domain.selected
              label=domain.label
              toggle=(action "selectDomain" domain)
            }}
            <ul>
              {{#each rowToShow.fields as |field|}}
                {{#if (eq (await field.domain.id) domain.id)}}
                  <li>
                    {{web-components/vl-checkbox
                      value=field.selected
                      label=field.label
                      toggle=(action "selectField" domain)
                    }}
                    {{field.name}}
                  </li>
                {{/if}}
              {{/each}}
            </ul>
            <div class="vlc-hr"></div>
          </li>
        </ul>
      {{/each}}
    {{/if}}
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    nonBordered=true
    cancelButtonText=(t "cancel")
    saveButtonText=(t "add")
    cancelAction=(action "cancel")
    saveAction=(action "saveChanges")
  }}
{{/web-components/vl-modal}}