{{#web-components/vl-modal
  isOverlay=true
  title=modalTitle
  closeModal=(action "close")
}}
  {{#if (and (not isAdding) (not isEditing))}}
    <div class="auk-modal__body">
      <div class="auk-u-p-4">
        <div class="auk-form-group">
          {{utils/model-selector
            modelName=modelName
            searchField="label"
            propertyToShow="label"
            sortField="label"
            selectedItems=item
            selectModel=(action "selectModel")
          }}
        </div>
      </div>
    </div>
    <div class="auk-modal__footer auk-modal__footer--bordered">
      <div class="auk-toolbar-complex">
        <div class="auk-toolbar-complex__left">
          <div class="auk-toolbar-complex__item">
            <Auk::Button
              @skin="borderless"
              {{action "close"}}
            >
              {{t "cancel"}}
            </Auk::Button>
          </div>
        </div>
        <div class="auk-toolbar-complex__right">
          <div class="auk-toolbar-complex__item">
            <Auk::Button
              @skin="tertiary"
              @icon="add"
              {{action "toggleIsAdding"}}
              data-test-vl-model-manager-add
            >
              {{t "add"}}
            </Auk::Button>
            {{#if item}}
              <Auk::Button
                @skin="tertiary"
                @icon="pencil"
                {{action "toggleIsEditing"}}
                data-test-vl-model-manager-edit
              >
                {{t "edit"}}
              </Auk::Button>
              <Auk::Button
                @skin="tertiary"
                @icon="delete"
                {{action "removeModel"}}
                data-test-vl-model-manager-delete
              >
                {{t "delete"}}
              </Auk::Button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if isAdding}}
    <div class="auk-modal__body">
      <div class="auk-u-p-4">
        <div class="auk-form-group">
          <Auk::Label>{{t "title"}}</Auk::Label>
          {{web-components/vl-form-input value=title}}
        </div>
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add")
      cancelAction=(action "toggleIsAdding")
      saveAction=(action "createModel")
    }}
  {{/if}}
  {{#if isEditing}}
    <div class="auk-modal__body">
      <div class="auk-u-p-4">
        <div class="auk-form-group">
          <Auk::Label>{{t "title"}}</Auk::Label>
          {{web-components/vl-form-input value=title}}
        </div>
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      cancelButtonText=(t "cancel")
      saveButtonText=(t "save")
      cancelAction=(action "toggleIsEditing")
      saveAction=(action "editModel")
    }}
  {{/if}}
{{/web-components/vl-modal}}
