{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{this.modalTitle}}
  @closeModal={{action "close"}}
>
  {{#if (and (not this.isAdding) (not this.isEditing))}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Utils::ModelSelector
          @modelName={{this.modelName}}
          @searchField="label"
          @sortField="label"
          @selected={{this.item}}
          @onChange={{action "selectModel"}}
        as |model|>
          {{capitalize model.label}}
        </Utils::ModelSelector>
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{action "close"}}>
      <AuButton
        @skin="naked"
        @icon="plus"
        {{action "toggleIsAdding"}}
      >
        {{t "add"}}
      </AuButton>
      {{#if this.item}}
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{action "toggleIsEditing"}}
        >
          {{t "edit"}}
        </AuButton>
        <AuButton
          @skin="naked"
          @alert={{true}}
          @icon="trash"
          {{action "removeModel"}}
        >
          {{t "delete"}}
        </AuButton>
      {{/if}}
    </Auk::Modal::Footer>
  {{/if}}
  {{#if this.isAdding}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label>{{t "title"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{this.title}}
        />
      </div>
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.isLoading}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @cancelAction={{action "toggleIsAdding"}}
      @saveAction={{action "createModel"}}
    />
  {{/if}}
  {{#if this.isEditing}}
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label>{{t "title"}}</Auk::Label>
        <Auk::Input
          @block={{true}}
          @value={{this.title}}
        />
      </div>
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.isLoading}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "save"}}
      @cancelAction={{action "toggleIsEditing"}}
      @saveAction={{action "editModel"}}
    />
  {{/if}}
</WebComponents::VlModal>