{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 data-test-overviews-header-print-title class="auk-toolbar-complex__title">{{await this.title}}</h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab @models={{this.modelsForHierarchicalBack}} @route={{"agenda.agendaitems"}} @isHierarchicalBack={{true}} />
            {{#if (user-may "manage-agendaitems")}}
              <Auk::Tab
                @route={{this.routeModelAgendaitems}}
                @model={{await this.model.id}}
              >
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route={{this.routeModelOverview}}
                @model={{await this.model.id}}
                @query={{hash definite=false}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route={{this.routeModelOverview}}
                @model={{await this.model.id}}
                @query={{hash definite=true}}
              >
                {{t "definite"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{#if this.shouldShowPrintButton}}
          <AuButton
            @skin="naked"
            @icon="printer-view"
            {{action "print"}}
          >
            {{t "print"}}
          </AuButton>
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
