<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--gray-100 auk-navbar--auto">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title">{{await title}}</h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab {{action "navigateBackToAgenda"}} @isHierarchicalBack={{true}}/>
            {{#if currentSession.isEditor}}
              <Auk::Tab
                @route={{routeModelAgendaitems}}
                @model={{await model.id}}
              >
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route={{routeModelOverview}}
                @model={{await model.id}}
                @query={{hash definite=false}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route={{routeModelOverview}}
                @model={{await model.id}}
                @query={{hash definite=true}}
              >
                {{t "definite"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        {{#if shouldShowPrintButton}}
          <Auk::Button
            @skin="tertiary"
            @icon="printer-view"
            {{action "print"}}
          >
            {{t "print"}}
          </Auk::Button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
