<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title" data-test-overviews-header-decision-title>{{await title}}</h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab {{action "navigateBackToAgenda"}} @isHierarchicalBack={{true}}/>
            {{#if currentSession.isEditor}}
              <Auk::Tab
                @route={{routeModelAgendaitems}}
                @model={{await model.id}}
              >
                {{t "overview"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{#if shouldShowPrintButton}}
          <Auk::Button
            @skin="tertiary"
            @icon="printer-view"
            {{action "print"}}
          >
            {{t "print"}}
          </Auk::Button>
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
