<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--gray-100 auk-navbar--auto">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title" data-test-overviews-header-decision-title>{{await title}}</h4>
          </div>
          <ul class="auk-tabs auk-tabs--reversed" role="tablist">
            <li class="auk-tabs__tab auk-tabs__hierarchical-back">
              <a href="#" {{action "navigateBackToAgenda"}}>
                <span class="auk-tabs__tab-inner">
                  <div class="auk-icon auk-icon--hierarchical-back auk-icon--default">
                    <i class="ki ki-hierarchical-back"></i>
                  </div>
                </span>
              </a>
            </li>
            {{#if currentSession.isEditor}}
              <li class="auk-tabs__tab">
                {{#link-to
                  routeModelAgendaitems
                  (await model.id)
                  activeClass="active"
                }}
                  <span class="auk-tabs__tab-inner">
                    {{t "overview"}}
                  </span>
                {{/link-to}}
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        {{#if shouldShowPrintButton}}
          <Auk::Button
            @skin="tertiary"
            @icon="printer-view"
            {{action "print"}}
          >
            {{t "print"}}
          </Auk::Button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
