<div class="vlc-page-header">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <h1 class="vlc-page-header__title auk-u-pb" data-test-print-overview-template-header-title>
          {{await title}}
        </h1>
        <div class="vlc-page-header__sub">
          <div class="vlc-toolbar vlc-toolbar--auto">
            <div class="vlc-toolbar__left">
              <div class="vlc-toolbar__item">
                <a href="" class="vlc-backlink auk-button-link"
                  {{action "navigateBackToAgenda"}}
                >
                  {{!-- template-lint-disable no-bare-strings  --}}
                  &#8629;
                  {{!-- template-lint-enable no-bare-strings  --}}
                </a>
              </div>
              <div class="vlc-toolbar__item">
                <ul class="vlc-tabs-reverse" role="tablist">
                  {{#if currentSession.isEditor}}
                    <li class="vlc-tabs-reverse__item">
                      {{#link-to
                        routeModelAgendaitems
                        (await model.id)
                        class="border-left vlc-tabs-reverse__link"
                        activeClass="vlc-tabs-reverse__link--active"
                      }}
                        {{t "overview"}}
                      {{/link-to}}
                    </li>
                    <li class="vlc-tabs-reverse__item">
                      {{#link-to
                        routeModelOverview
                        (await model.id)
                        (query-params definite=false)
                        class="vlc-tabs-reverse__link"
                        activeClass="vlc-tabs-reverse__link--active"
                      }}
                        {{t "design"}}
                      {{/link-to}}
                    </li>
                    <li class="vlc-tabs-reverse__item">
                      {{#link-to
                        routeModelOverview
                        (await model.id)
                        (query-params definite=true)
                        class="vlc-tabs-reverse__link"
                        activeClass="vlc-tabs-reverse__link--active"
                      }}
                        {{t "definite"}}
                      {{/link-to}}
                    </li>
                  {{/if}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        {{#if shouldShowPrintButton}}
          <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
            {{action "print"}}
          >
            <i class="vl-button__icon vl-button__icon--before ki-printer-view"
                aria-hidden="true"
            ></i>
            {{t "print"}}
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
