{{!-- TODO: when a new radio-list component is added to the ember-appuniversum library, replace the HTML below with the correct components --}}
<div class="auk-radio-list auk-radio-list--inline auk-u-mb-2">
  {{#each this.radioOptions as |opt index|}}
    {{#let (concat this.radioName "-" index) as |radioId|}}
      <label class="au-c-control au-c-control--radio" data-children-count="1" for={{radioId}}>
        <input
          data-test-radio-dropdown-input
          type="radio"
          class="au-c-control__input"
          id={{radioId}}
          name={{this.radioName}}
          checked={{eq opt this.selectedOption}}
          value={{get opt this.radioLabelKey}}
          {{on "input" (fn this.select opt)}}
        />
        <span class="au-c-control__indicator"></span>
        {{get opt this.radioLabelKey}}
      </label>
    {{/let}}
  {{/each}}
  {{#let (concat this.radioName "-" "others") as |radioId|}}
    <label class="au-c-control au-c-control--radio" data-children-count="1" for={{radioId}}>
      <input
        type="radio"
        class="au-c-control__input"
        id={{radioId}}
        name={{this.radioName}}
        checked={{this.selectedIsInOthers}}
        value="Andere"
        {{on "input" this.showOthers}}
      />
      <span class="au-c-control__indicator"></span>
      {{t "option-others"}}
    </label>
  {{/let}}
</div>
{{#if this.othersShown}}
  <PowerSelect
    @options={{this.otherOptions}}
    @selected={{this.selectedOption}}
    @searchEnabled={{true}}
    @searchField={{this.dropdownLabelKey}}
    @onChange={{this.select}}
  as |opt|>
    {{get opt this.dropdownLabelKey}}
  </PowerSelect>
{{/if}}