<span>
  <Auk::Icon
    @name="circle-info"
    @skin="muted"
    class="auk-u-cursor-pointer"
    {{on "click" this.openModal}}
  >
    <EmberPopover
      @tooltipClass="auk-u-max-width-xxlarge auk-popover"
      @showOn="click"
      @side="right-start"
      @hideOn="clickout"
      @isShown={{this.isOpenModal}}
    >
      <div class="auk-popover__header">
        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item>
              <h4 class="auk-toolbar__title">{{t "search-legend-title"}}</h4>
            </Group.Item>
          </Toolbar.Group>
          <Toolbar.Group @position="right" as |Group|>
            <Group.Item>
              <AuButton
                @skin="naked"
                @icon="x"
                @hideText={{true}}
                {{on "click" this.closeModal}}
              >
                {{t "close"}}
              </AuButton>
            </Group.Item>
          </Toolbar.Group>
        </Auk::Toolbar>
      </div>
      <div class="auk-popover__body">
        <table class="auk-table">
          <thead>
            <tr>
              <th>{{t "search-legend-header-sign"}}</th>
              <th>{{t "search-legend-header-explanation"}}</th>
              <th>{{t "search-legend-header-example"}}</th>
            </tr>
            <tr> {{! and}}
              <td class="auk-table__col--1 auk-u-text-align--center auk-u-text-size--xlarge">{{t "search-legend-and-sign"}}</td>
              <td class="auk-table__col--6">
                <p class="au-u-margin-bottom-small">{{t "search-legend-and-explanation-meaning"}}</p>
                <p>{{t "search-legend-and-explanation"}}</p>
              </td>
              <td class="auk-table__col--5">{{t "search-legend-and-example"}}</td>
            </tr>
            <tr> {{! literal}}
              <td class="auk-table__col--1 auk-u-text-align--center auk-u-text-size--xlarge">{{t "search-legend-literal-sign"}}</td>
              <td class="auk-table__col--6">
                <p>{{t "search-legend-literal-explanation"}}</p>
              </td>
              <td class="auk-table__col--5 auk-u-text-prewrap">{{t "search-legend-literal-example"}}</td>
            </tr>
            <tr> {{! or}}
              <td class="auk-table__col--1 auk-u-text-align--center auk-u-text-size--xlarge">{{t "search-legend-or-sign"}}</td>
              <td class="auk-table__col--6">
                <p class="au-u-margin-bottom-small">{{t "search-legend-or-explanation-meaning"}}</p>
                <p>{{t "search-legend-or-explanation"}}</p>
              </td>
              <td class="auk-table__col--5">{{t "search-legend-or-example"}}</td>
            </tr>
            <tr> {{! not}}
              <td class="auk-table__col--1 auk-u-text-align--center auk-u-text-size--xlarge">{{t "search-legend-not-sign"}}</td>
              <td class="auk-table__col--6">
                <p class="au-u-margin-bottom-small">{{t "search-legend-not-explanation-meaning"}}</p>
                <p class="au-u-margin-bottom-small">{{t "search-legend-not-explanation"}}</p>
                <p class="auk-u-text-bold">{{t "search-legend-not-explanation-addendum"}}</p>
              </td>
              <td class="auk-table__col--5 auk-u-text-prewrap">{{t "search-legend-not-example"}}</td>
            </tr>
            <tr> {{! wildcard}}
              <td class="auk-table__col--1 auk-u-text-align--center auk-u-text-size--xlarge">{{t "search-legend-wildcard-sign"}}</td>
              <td class="auk-table__col--6">{{t "search-legend-wildcard-explanation"}}</td>
              <td class="auk-table__col--5">{{t "search-legend-wildcard-example"}}</td>
            </tr>
          </thead>
        </table>
      </div>
    </EmberPopover>
  </Auk::Icon>
</span>