<div class="auk-popover__header">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-toolbar__title">{{t "search-legend-title"}}</h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <button class="auk-button-link auk-button-link--muted" type="button" {{action "close"}}>
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--close auk-icon--default">
              <i class="ki ki-close"></i>
            </div>
            <span class="auk-u-sr-only">{{t "close"}}</span>
          </span>
        </button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>
<div class="auk-popover__body">
  <table class="auk-table">
    <thead>
      <tr>
        <th>{{t "search-legend-header-example"}}</th>
        <th>{{t "search-legend-header-explanation"}}</th>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-and-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-and-explanation"}}</td>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-not-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-not-explanation"}}</td>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-order-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-order-explanation"}}</td>
      </tr>
      <tr>
        <td class="auk-table__col--4">{{t "search-legend-wildcard-example"}}</td>
        <td class="auk-table__col--8">{{t "search-legend-wildcard-explanation"}}</td>
      </tr>
    </thead>
  </table>
</div>
