<div class="vlc-input-field-block">
  <div class="auk-u-flex--align-end auk-u-mb-2">
    <div
      data-test-system-alert-form-from-date
      class="vlc-input-field-block"
    >
      {{web-components/vl-form-label value=(t "start-date")}}
      {{web-components/vl-datepicker
        date=(array (moment-format this.alert.beginDate "YYYY-MM-DDTHH:mm:ssZ"))
        dateChanged=(action "selectBeginDate")
        enableTime=true
      }}
    </div>
    <div
      data-test-system-alert-form-to-date
      class="vlc-input-field-block auk-u-mb-3"
    >
      {{web-components/vl-form-label value=(t "end-date")}}
      {{web-components/vl-datepicker
        date=(array (moment-format this.alert.endDate "YYYY-MM-DDTHH:mm:ssZ"))
        dateChanged=(action "selectEndDate")
        enableTime=true
      }}
    </div>
  </div>
  <div
    data-test-system-alert-form-title
    class="vlc-input-field-block"
  >
    {{web-components/vl-form-label value=(t "title")}}
    {{web-components/vl-form-input value=this.alert.title}}
  </div>
  <div
    data-test-system-alert-form-message
    class="vlc-input-field-block"
  >
    {{web-components/vl-form-label value=(t "message")}}
    {{textarea
      rows="2"
      class="vl-textarea vl-textarea--block"
      value=this.alert.message
    }}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "severity")}}
    {{utils/model-selector
      modelName="alert-type"
      searchField="label"
      propertyToShow="label"
      sortField="label"
      selectedItems=this.alert.type
      selectModel=(action "selectType")
    }}
  </div>
</div>