<AuAlert
  data-test-system-alert
  aria-live="assertive"
  class="auk-system-alert"
  @title={{@title}}
  @skin={{this.type}}
  @closable={{true}}
  @onClose={{@onClose}}
>
  <p>{{@message}}</p>
</AuAlert>