<div class="au-c-form">
  <AuFormRow data-test-system-alert-form-from-date>
    <Auk::Label>{{t "start-date"}}</Auk::Label>
    <Auk::Datepicker
      @enableTime={{true}}
      @date={{this.beginDate}}
      @onChange={{this.selectBeginDate}}
    />
  </AuFormRow>
  <AuFormRow>
    <Auk::Label>{{t "end-date"}}</Auk::Label>
    <Auk::Datepicker
      @enableTime={{true}}
      @date={{this.endDate}}
      @onChange={{this.selectEndDate}}
    />
  </AuFormRow>
  <AuFormRow data-test-system-alert-form-title>
    <Auk::Label>{{t "title"}}</Auk::Label>
    <AuInput
      @width="block"
      @value={{this.alert.title}}
    />
  </AuFormRow>
  <AuFormRow data-test-system-alert-form-message>
    <Auk::Label id="system-message">{{t "system-message"}}</Auk::Label>
    <Textarea
      rows="2"
      class="auk-textarea"
      aria-labelledby="system-message"
      @value={{this.alert.message}}
    />
  </AuFormRow>
  <AuFormRow>
    <Auk::Label>{{t "severity"}}</Auk::Label>
    <Utils::ModelSelector
      @modelName="alert-type"
      @searchField="label"
      @displayField="label"
      @sortField="label"
      @selected={{this.alert.type}}
      @onChange={{this.selectType}}
    />
  </AuFormRow>
</div>