<div class="au-c-form">
  <AuFormRow data-test-system-alert-form-begin-date>
    <Auk::Label>{{t "start-date"}}</Auk::Label>
    <Auk::Datepicker
      @enableTime={{true}}
      @date={{this.beginDate}}
      @onChange={{this.selectBeginDate}}
    />
  </AuFormRow>
  <AuFormRow data-test-system-alert-form-end-date>
    <Auk::Label>{{t "end-date"}}</Auk::Label>
    <Auk::Datepicker
      @enableTime={{true}}
      @date={{this.endDate}}
      @onChange={{this.selectEndDate}}
    />
  </AuFormRow>
  <AuFormRow data-test-system-alert-form-title>
    <Auk::Label>{{t "title"}}</Auk::Label>
    <AuInput
      value={{this.alert.title}}
      @width="block"
      {{on "input" (pick "target.value" (set this "alert.title"))}}
    />
  </AuFormRow>
  <AuFormRow data-test-system-alert-form-message>
    <Auk::Label id="system-message">{{t "system-message"}}</Auk::Label>
    <AuTextarea
      rows="2"
      aria-labelledby="system-message"
      value={{this.alert.message}}
      @width="block"
      {{on "input" (pick "target.value" (set this "alert.message"))}}
    />
  </AuFormRow>
  <AuFormRow data-test-system-alert-form-severity>
    <Auk::Label>{{t "severity"}}</Auk::Label>
    <Utils::ModelSelector
      @modelName="alert-type"
      @searchField="label"
      @displayField="label"
      @sortField="label"
      @selected={{this.alert.type}}
      @onChange={{this.selectType}}
    />
  </AuFormRow>
</div>