{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-form-group">
  <div class="auk-o-flex--align-end auk-u-mb-2">
    <div
      data-test-system-alert-form-from-date
      class="auk-form-group"
    >
      <Auk::Label>{{t "start-date"}}</Auk::Label>
      <Auk::Datepicker
        @enableTime={{true}}
        @date={{this.beginDate}}
        @onChange={{this.selectBeginDate}}
      />
    </div>
    <div
      data-test-system-alert-form-to-date
      class="auk-form-group auk-u-mb-3"
    >
      <Auk::Label>{{t "end-date"}}</Auk::Label>
      <Auk::Datepicker
        @enableTime={{true}}
        @date={{this.endDate}}
        @onChange={{this.selectEndDate}}
      />
    </div>
  </div>
  <div
    data-test-system-alert-form-title
    class="auk-form-group"
  >
    <Auk::Label>{{t "title"}}</Auk::Label>
    <Auk::Input
      @block={{true}}
      @value={{this.alert.title}}
    />
  </div>
  <div
    data-test-system-alert-form-message
    class="auk-form-group"
  >
    <Auk::Label id="system-message">{{t "system-message"}}</Auk::Label>
    <Textarea
      rows="2"
      class="auk-textarea"
      aria-labelledby="system-message"
      @value={{this.alert.message}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "severity"}}</Auk::Label>
    <Utils::ModelSelector
      @modelName="alert-type"
      @searchField="label"
      @displayField="label"
      @sortField="label"
      @selected={{this.alert.type}}
      @onChange={{action "selectType"}}
    />
  </div>
</div>