<div class="auk-form-group">
  <Auk::Label>{{t "text-templates"}}</Auk::Label>
  <PowerSelect
    @options={{this.items}}
    @selected={{this.selectedItems}}
    @disabled={{this.readOnly}}
    @searchField={{this.searchField}}
    @placeholder={{this.placeholder}}
    @searchMessage={{this.searchMessage}}
    @loadingMessage={{this.loadingMessage}}
    @noMatchesMessage={{this.noMatchesMessage}}
    @search={{perform this.searchTask}}
    @oninput={{action "resetValueIfEmpty"}}
    @onchange={{action "selectModel"}}
    as |model|
  >
    {{model.label}}
  </PowerSelect>
</div>