<th class="auk-u-text-nowrap" role="columnheader" aria-sort="none" ...attributes >
  <button class="auk-table-sorter " type="button" onclick={{@onChange}}>
    <div class="auk-table-sorter__label {{if this.isSorted "auk-u-text-bold"}}">{{@label}}</div>
    <div class="auk-icon auk-icon--default auk-icon--muted">
      {{#if (and this.isSorted (eq @order 'desc'))}}
        <i class="ki ki-caret-down"></i>
      {{else if (and this.isSorted (eq @order 'asc'))}}
        <i class="ki ki-caret-up"></i>
      {{else}}
        <i class="ki ki-caret-up-down"></i>
      {{/if}}
    </div>
  </button>
</th>