<th class="auk-u-text-nowrap" role="columnheader" aria-sort="none" ...attributes >
  <button class="auk-table-sorter " type="button" onclick={{this.changeSort}}>
    <div class="auk-table-sorter__label {{if this.isSorted "auk-u-text-bold"}}">{{@label}}</div>
    <div class="auk-icon auk-icon--default auk-icon--muted">
      {{#if this.isDescendingOrder}}
        <i class="ki ki-caret-down"></i>
      {{else if this.isAscendingOrder}}
        <i class="ki ki-caret-up"></i>
      {{else}}
        <i class="ki ki-caret-up-down"></i>
      {{/if}}
    </div>
  </button>
</th>