{{#if this.findAll.isRunning}}
  <Auk::Loader @message={{t "themes-loading-text"}} />
{{else}}
  <div class="auk-o-grid">
    {{#each this.themes as |theme|}}
      <div class="auk-o-grid-col-4">
        <div class="auk-u-mb">
          {{#let (includes theme @selectedThemes) as |checked|}}
            <AuCheckbox
              @checked={{checked}}
              @onChange={{fn this.toggleTheme theme}}
            >
              {{theme.label}}
            </AuCheckbox>
          {{/let}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
