{{#if this.findAll.isRunning}}
  <WebComponents::VlLoader @text={{t "themes-loading-text"}} />
{{else}}
  <div class="auk-o-grid">
    {{#each this.selectedThemesReload as |theme|}}
      <div class="auk-o-grid-col-4">
        <div class="auk-u-mb">
          <Auk::Checkbox
            @checked={{theme.selected}}
            @label={{theme.label}}
            {{on "input" (fn this.selectModel theme)}}
          />
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
