<div class="checkbox-list-selector">
  {{#if findAll.isRunning}}
    <WebComponents::VlLoader @text={{t "themes-loading-text"}} />
  {{else}}
    {{#each this.selectedThemesReload as |theme|}}
      <WebComponents::VlCheckbox
        @value={{theme.selected}}
        @label={{theme.label}}
        @toggle={{action "selectModel" theme}}
      />
    {{/each}}
  {{/if}}
</div>
