{{#if this.findAll.isRunning}}
  <Auk::Loader @message={{t "themes-loading-text"}} />
{{else}}
  <div class="auk-o-grid">
    {{#each this.themes as |theme|}}
      <div class="auk-o-grid-col-4">
        <div class="auk-u-mb">
          {{#let (includes theme @selectedThemes) as |checked|}}
            <Auk::Checkbox
              @checked={{checked}}
              @label={{theme.label}}
              {{on "input" (fn this.toggleTheme theme checked)}}
            />
          {{/let}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
