<div {{did-update (perform this.loadAgendaData)}}>
  <Auk::Panel data-test-subcase-description-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{#if (eq @demoTwo true)}}Statussen{{else}}Agenderingen{{/if}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-bg-alt">
      {{#if (eq @demo true)}}
      <div class="auk-u-mb-2">
        <div class="au-u-flex au-u-flex--spaced-tiny">  
          <p class="au-u-medium">
            Laatst gewijzigd op {{#if (eq @step 'Definitieve goedkeuring')}}28-08-2023{{else if (eq @step 'Tweede principiële goedkeuring')}}13-06-2023{{else if (eq @step 'Eerste principiële goedkeuring')}}01-04-2023{{else}}11-10-2023{{/if}}
          </p>
        </div>
      </div>
      <ul class="vlc-status-timeline">
        {{!-- <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Geagendeerd op de agenda van <AuLinkExternal @href="#!">{{#if (eq @step 'Definitieve goedkeuring')}}28 augustus 2023{{else if (eq @step 'Tweede principiële goedkeuring')}}13 juni 2023{{else if (eq @step 'Eerste principiële goedkeuring')}}01 april 2023{{else}}11 november 2023{{/if}}</AuLinkExternal>
          </div>
        </li> --}}
        <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Goedgekeurd op de agenda van <AuLinkExternal @href="#!">{{#if (eq @step 'Definitieve goedkeuring')}}28 augustus 2023{{else if (eq @step 'Tweede principiële goedkeuring')}}13 juni 2023{{else if (eq @step 'Eerste principiële goedkeuring')}}01 april 2023{{else}}11 november 2023{{/if}}</AuLinkExternal>
          </div>
        </li>
        <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Ingediend voor agendering op <AuLinkExternal @href="#!">{{#if (eq @step 'Definitieve goedkeuring')}}28 augustus 2023{{else if (eq @step 'Tweede principiële goedkeuring')}}13 juni 2023{{else if (eq @step 'Eerste principiële goedkeuring')}}01 april 2023{{else}}11 november 2023{{/if}}</AuLinkExternal>
          </div>
        </li>
        <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Geagendeerd op de agenda van <AuLinkExternal @href="#!">{{#if (eq @step 'Definitieve goedkeuring')}}28 augustus 2023{{else if (eq @step 'Tweede principiële goedkeuring')}}13 juni 2023{{else if (eq @step 'Eerste principiële goedkeuring')}}01 april 2023{{else}}11 november 2023{{/if}}</AuLinkExternal>
          </div>
        </li>
      </ul>
      {{else if (eq @demoTwo true)}}
      <div class="auk-u-mb-2">
        <div class="au-u-flex au-u-flex--spaced-tiny">  
          <p class="au-u-medium">
            Laatst gewijzigd op 11-10-2023
          </p>
        </div>
      </div>
      <ul class="vlc-status-timeline">
        <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Act in afwachting op <AuLinkExternal @href="#!">11 november 2023</AuLinkExternal>
          </div>
        </li>
        {{!-- <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Goedgekeurd op de agenda van <AuLinkExternal @href="#!">11 oktober 2023</AuLinkExternal>
          </div>
        </li>
        <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Ingediend voor agendering op <AuLinkExternal @href="#!">11 oktober 2023</AuLinkExternal>
          </div>
        </li>
        <li
          class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            Geagendeerd op de agenda van <AuLinkExternal @href="#!">11 oktober 2023</AuLinkExternal>
          </div>
        </li> --}}
      </ul>
      {{else}}
      <div class="auk-u-mb-2">
        {{#if this.loadAgendaData.isRunning}}
          <div class="auk-loader" role="alert" aria-busy="true"></div>
        {{else if this.modelsOfMeetings}}
          <div class="au-u-flex au-u-flex--spaced-tiny">
            <p class="au-u-medium">
              {{t "is-on-agenda"}}

              {{#each this.modelsOfMeetings as |models index| }}
                {{#if (eq index 0)}}
                {{#let models.[0] models.[1] models.[2] as |meeting agenda agendaitem|}}
                  <AuLink
                    data-test-subcase-description-agenda-link
                    @route="agenda.agendaitems.agendaitem"
                    @models={{array
                      meeting.id
                      agenda.id
                      agendaitem.id
                    }}
                  >
                    {{! prettier-ignore}}
                    {{date-phrase meeting.plannedStart}}
                    {{!-- {{if (has-next models this.modelsOfMeetings) ", "}} --}}
                  </AuLink>
                {{/let}}
                {{/if}}
              {{/each}}
            </p>
          </div>
        {{else}}
          <Auk::EmptyState @message={{t "not-yet-on-agenda"}} />
        {{/if}}
      </div>
      <Subcase::Timeline @subcase={{@subcase}}/>
      {{/if}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>