<li class="vl-tab">
  <a
    class="vl-tab__link
      {{active-class activeAgendaItemSection "details" class="active"}}"
    {{action "setAgendaItemSection" "details"}}
  >
    {{t "agendaitem-case"}}
  </a>
</li>
<li class="vl-tab">
  <a
    class="vl-tab__link
      {{active-class activeAgendaItemSection "documents" class="active"}}"
    {{action "setAgendaItemSection" "documents"}}
  >
    {{t "documents"}}
  </a>
</li>
{{#if (or isAdmin isEditor)}}
  <li class="vl-tab">
    <a
      class="vl-tab__link
        {{active-class activeAgendaItemSection "comments" class="active"}}"
      {{action "setAgendaItemSection" "comments"}}
    >
      {{t "agendaitem-comment"}}
      <button class="vl-pill vl-pill--clickable" type="button">
        {{await agendaitem.remarks.length}}
      </button>
    </a>
  </li>
{{/if}}
{{#if (await agendaitem.subcase)}}
  <li class="vl-tab">
    <a
      class="vl-tab__link
        {{active-class activeAgendaItemSection "decision" class="active"}}"
      {{action "setAgendaItemSection" "decision"}}
    >
      {{t "agendaitem-decision"}}
    </a>
  </li>
  <li class="vl-tab">
    <a
      class="vl-tab__link
        {{active-class activeAgendaItemSection "minutes" class="active"}}"
      {{action "setAgendaItemSection" "minutes"}}
    >
      {{t "agendaitem-notes"}}
    </a>
  </li>
  <li class="vl-tab">
    <a
      class="vl-tab__link
        {{active-class activeAgendaItemSection "news-item" class="active"}}"
      {{action "setAgendaItemSection" "news-item"}}
    >
      {{t "agendaitem-bestek"}}
    </a>
  </li>
  <li class="vl-tab">
    <a
      class="vl-tab__link
        {{active-class activeAgendaItemSection "press-agenda" class="active"}}"
      {{action "setAgendaItemSection" "press-agenda"}}
    >
      {{t "agendaitem-press-agenda"}}
    </a>
  </li>
{{/if}}