<div class="vl-u-display-flex vl-u-flex-align-baseline">
  <h3 class="vl-title vl-title--h3">
    {{t "subcase"}}
  </h3>
  {{! <div class="vl-u-spacer-extended-left-s">
      <a class="vl-link" href="detail--edit.html">
        Wijzigen
      </a>
    </div> }}
</div>
<div class="vl-u-spacer-extended-bottom">
  <p>
    {{await subcase.subcaseName}}
  </p>
</div>
<div class="vl-description-data">
  <div class="vl-grid vl-grid--is-stacked">
    <div class="vl-col--1-3 vl-col--1-2--xs">
      <span class="vl-description-data__label">
        {{t "number-session"}}
        {{! TODO }}
      </span>
      <span class="vl-description-data__value">
        {{t "no-number-yet"}}
      </span>
    </div>
    <div class="vl-col--1-3 vl-col--1-2--xs">
      <span class="vl-description-data__label">
        {{t "requested-for-session"}}
      </span>
      {{#if (await subcase.requestedForMeeting)}}
        <span class="vl-description-data__value">
          {{t "requested-for-agenda"}}
          {{moment-format
            subcase.requestedForMeeting.plannedStart
            "DD MMMM YYYY"
          }}
        </span>
      {{/if}}
    </div>
    <div class="vl-col--1-3 vl-col--1-2--xs">
      <span class="vl-description-data__label">
        {{t "annotation-on-agenda"}}
        <span class="vl-description-data__value">
          {{t "not-yet-on-agenda"}}
        </span>
      </span>
    </div>
    <div class="vl-col--1-3 vl-col--1-2--xs">
      <span class="vl-description-data__label">
        {{t "date-last-edited"}}
      </span>
      <span class="vl-description-data__value">
        {{moment-format subcase.modified "DD MMMM YYYY"}}
      </span>
    </div>
    <div class="vl-col--1-3 vl-col--1-2--xs">
      <span class="vl-description-data__label">
        {{t "on-agenda-for"}}
      </span>
      <span class="vl-description-data__value">
        {{t "not-yet-on-agenda"}}
      </span>
    </div>
  </div>
</div>