{{ page-title
  (t "manage-emails")
}}

<div class="auk-u-m-8">
  <div class="auk-u-mb-3">
    <Auk::Panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h4 class="auk-panel__title">{{t "manage-emails"}}</h4>
            </Auk::Toolbar::Item>
          </WebComponents::AuToolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <pre>{{t "manage-emails-tokens"}}</pre>
        <LinkTo
          @tagName="button"
          @type="button"
          class="auk-button auk-button--tertiary"
          @route="settings.emails.debug"
        >
          <span class="auk-button__content">
            {{t "send-test-mail"}}
          </span>
        </LinkTo>

        {{!-- Footer of the mail --}}
        <Auk::Label class="auk-u-mt-2 auk-u-mb-1">
          {{t "email-footer"}}
        </Auk::Label>
        <WebComponents::AuTextarea
                id="emailFooter"
                @rows="15"
                @value={{await this.footer}}
          {{on "change" (fn this.setFooterContent)}}
                data-test-email-content-textarea
        />
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>
</div>


{{!-- Mails and their configuration --}}

<div class="auk-u-m-8">
  {{#each this.emails as |email|}}
    <div class="auk-u-mb-3">
      <Auk::Panel>
        <Auk::Panel::Header>
          <Auk::Toolbar>
            <WebComponents::AuToolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h4 class="auk-panel__title">{{email.title}}</h4>
              </Auk::Toolbar::Item>
            </WebComponents::AuToolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body>


          {{!-- Mails of this tyype go to --}}
          <Auk::Label class="auk-u-mt-2 auk-u-mb-1">
            {{t "email-to"}}
          </Auk::Label>
          <Auk::Input
            type="text"
            @value={{ await email.to }}
            @block={{true}}
            {{on "change" (fn this.setMailTo email)}}
          />
          <pre>{{ await email.defaultTo }}</pre>

          {{!-- subject of the mail --}}
          <Auk::Label class="auk-u-mt-2 auk-u-mb-1">
            {{t "subject"}}
          </Auk::Label>
          <Auk::Input
            type="text"
            @value={{ await email.subject }}
            @block={{true}}
            {{on "change" (fn this.setMailSubject email)}}
          />
          <pre>{{ await email.defaultSubject }}</pre>


          {{!-- content of the mail --}}
          <Auk::Label class="auk-u-mt-2 auk-u-mb-1">
            {{t "accompanying-text"}}
          </Auk::Label>
          <WebComponents::AuTextarea
            id="emailMessage"
            @rows="15"
            @value={{await email.content}}
            {{on "change" (fn this.setMailContent email)}}
            data-test-email-content-textarea
          />
          <pre>{{ await email.defaultContent }}</pre>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
  {{/each}}

  {{!-- LOADER --}}

  <WebComponents::VlSaveButton
    @text={{t "save"}}
    @isLoading={{this.showLoader}}
    @saveAction={{this.saveSettings}} />

  {{#if this.showLoader}}
    <WebComponents::LoadingOverlay />
  {{/if}}
</div>