<div class="vlc-input-field-block vlc-input-field-power-select">
  {{#if (not hideLabel)}}
    <WebComponents::AuLabel>{{t "status"}}</WebComponents::AuLabel>
  {{/if}}
  {{#if isLoading}}
    <div class="vl-u-text--muted">
      {{t "please-be-patient"}}
      <div class="vl-loader" role="alert" aria-busy="true"></div>
    </div>
  {{else}}
    <PowerSelect
      @options={{options}}
      @searchEnabled={{false}}
      @selected={{selectedFormallyOk}}
      @onchange={{action "setAction"}} as |option|>
      {{#if option.svg }}
        <WebComponents::AuIcon @name={{option.svg.icon}} @iconSkinColor={{option.svg.color}}/>
      {{/if}}
      {{option.label}}
    </PowerSelect>
  {{/if}}
</div>