<Auk::Panel class="auk-panel--editing" ...attributes>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            {{t "overview"}}
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="au-c-form">
      <AuFormRow>
        <AuFieldset as |Fieldset|>
          <Fieldset.legend>{{t "subcase-type"}}</Fieldset.legend>
          <Fieldset.content>
            <AuRadioGroup
              data-test-subcase-description-edit-type
              @alignment="inline"
              @selected={{this.agendaItemType}}
              @onChange={{this.onChangeAgendaItemType}}
              as |Group|
            >
              {{#each this.agendaItemTypes as |type|}}
                <Group.Radio @value={{type}}>
                  {{type.label}}
                </Group.Radio>
              {{/each}}
            </AuRadioGroup>
          </Fieldset.content>
        </AuFieldset>
      </AuFormRow>
      <AuFormRow>
        <AuLabel for="subcase-confidential">
          {{t "limited-access"}}</AuLabel>
        <AuToggleSwitch
          data-test-subcase-description-edit-confidential
          id="subcase-confidential"
          @checked={{@subcase.confidential}}
          @onChange={{queue (set @subcase "confidential") (set this "confidentialChanged" true)}}
        />
      </AuFormRow>
      <AuFormRow>
        <AuLabel for="short-title-subcase">
          {{t "name-subcase"}}</AuLabel>
        <Textarea
          data-test-subcase-description-edit-short-title
          id="short-title-subcase"
          aria-labelledby="short-title-subcase"
          rows="2"
          class="auk-textarea"
          @value={{@subcase.shortTitle}}
        />
      </AuFormRow>
      <AuFormRow>
        <AuLabel for="title-subcase">
          {{t "title-subcase"}}</AuLabel>
        <Textarea
          data-test-subcase-description-edit-title
          id="title-subcase"
          aria-labelledby="title-subcase"
          rows="4"
          class="auk-textarea"
          @value={{@subcase.title}}
        />
      </AuFormRow>
      <AuFormRow>
        <AuLabel>{{t "subcase-type-dropdown"}}</AuLabel>
        <Utils::ModelSelector
          data-test-subcase-description-edit-procedure-step
          @modelName="subcase-type"
          @searchField="label"
          @sortField="label"
          @displayField="label"
          @selected={{this.subcaseType}}
          @onChange={{this.selectSubcaseType}}
        />
      </AuFormRow>
      <AuFormRow>
        <AuLabel>{{t "subcase-name"}}</AuLabel>
        <AuInput
          data-test-subcase-description-edit-procedure-name
          value={{this.subcaseName}}
          @width="block"
          {{on "input" (pick "target.value" (set this "subcaseName"))}}
        />
      </AuFormRow>
    </div>
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            {{on "click" this.cancelEditing}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-description-edit-save
            @skin="primary"
            @loading={{this.isSaving}}
            {{on "click" this.saveChanges}}
          >
            {{t "save"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>