<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vlc-u-flex-align-baseline">
    <h4 class="vl-title vl-title--h4">
      {{t "subcases"}}
    </h4>
  </div>
</div>
{{#if (is-pending @subcases)}}
  {{web-components/vl-loader text=(t "all-subcases-loading-text")}}
{{else if @subcases.length}}
  {{#each @subcases as |subcase|}}
    {{#subcases/subcase-item subcase=(await subcase)}}
      <hr class="vlc-hr"/>
      <div class="vl-u-spacer-extended-bottom">
        <p>
          {{subcase.title}}
        </p>
      </div>
      {{#if (gt (await subcase.pieces.length) 1)}}
        <div class="js-vl-accordion">
          <button class="vl-toggle vl-link vl-link--bold"
                  data-vl-accordion-toggle=""
                  data-vl-accordion-dressed="true"
                  aria-expanded="false"
                  type="button"
            {{action "toggleIsShowingDocuments" subcase}}
          >
            {{#if subcase.isShowingDocuments}}
              <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-down"
                 aria-hidden="true"
              ></i>
            {{else}}
              <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"
                 aria-hidden="true"
              ></i>
            {{/if}}
            {{t "documents"}}
          </button>
        </div>
        {{#if subcase.isShowingDocuments}}
          <div class="vl-accordion__panel">
            <div class="vl-u-spacer-extended-top">
              {{utils/pieces-list-for-item agendaitemOrSubcase=subcase isClickable=true}}
            </div>
          </div>
        {{/if}}
      {{/if}}
    {{/subcases/subcase-item}}
  {{/each}}
{{else}}
  <div class="vl-u-spacer-extended-top-s">
    {{web-components/vl-alert message=(t "no-subcases-yet")}}
  </div>
{{/if}}