<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-4">

    {{#if this.isLoading}}
      <WebComponents::AuLoader
              @message={{t "please-be-patient"}}
      />
    {{else}}
      {{#if this.model.length}}
        <DataTable
                @content={{await this.model}}
                @page={{this.page}}
                @noDataMessage={{t "no-results-found"}}
                @size={{this.size}}
                @sort={{this.sort}}
                @class="auk-table--advanced"
                @isLoading={{this.isLoadingModel}}
                as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table__col--8">
                {{t "case-name-concat"}}
              </th>
              <th>{{t "documents-amount"}}</th>
              <th class="auk-table__col--1"></th>
            </c.header>
            <c.body as |row|>
              {{#if row.isAgendaRow}}
                <td colspan="99" class="auk-table__cell--accent">
                  <h4 class="auk-h4 auk-u-m-0">{{row.meeting.kindToShow.label}} {{moment-format row.meeting.plannedStart "DD.MM.YYYY"}}</h4>
                </td>
              {{else}}
                <td>
                  <p>
                    {{#if row.shortTitle}}
                      {{row.shortTitle}}
                    {{else}}
                      {{row.title}}
                    {{/if}}
                  </p>
                </td>
                <td>
                  {{#if row.loadDocumentsCount.isRunning}}
                    {{utils/simple-spinner}}
                  {{else}}
                    {{row.documentsCount}}
                  {{/if}}
                </td>
                <td class="">
                  <div class="auk-button-toolbar">
                    {{#if (await row.publicationFlow)}}
                      <LinkTo
                              class=""
                              @route="publications.publication"
                              @model={{ await row.publicationFlow.id }}
                      >
                        {{t "publications-to" }}
                      </LinkTo>
                    {{else}}
                      <WebComponents::AuButton
                                               @skin="tertiary"
                                               @layout="icon-only"
                                               data-test-start-publication
                                              {{on "click" (fn this.startPublication row)}}>
                        {{t "start-publication"}}
                      </WebComponents::AuButton>
                    {{/if}}
                  </div>
                </td>
              {{/if}}
            </c.body>
          </table.content>
        </DataTable>
        <div class="vl-u-spacer--small"></div>
        <WebComponents::VlPagination
                @page={{page}}
                @nbOfItems={{this.model.length}}
                @size={{size}}
                @nextAction={{action 'nextPage'}}
                @previousAction={{action 'prevPage'}}
                @total={{this.model.meta.count}} />
      {{else}}
        <WebComponents::AuEmptyState @message={{t "no-results-found"}}/>
      {{/if}}
    {{/if}}
  </div>
</div>

{{!-- LOADER --}}

{{#if this.showLoader}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}