<div class="vl-uploaded-document__title">
  <div class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt">
    <i class="vl-badge__icon ki-document" aria-hidden="true"></i>
  </div>
  <div class="vl-uploaded-document__title-container">
    <div class="title">
      <h6 class="vl-title vl-title--h6"
        data-test-vl-uploaded-document-filename>
        {{name}}
      </h6>
      {{#if view}}
        <button type="button" class="vl-button vl-button--link vl-button--icon"
          {{action "view"}}
        >
          <i class="ki-book vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "show-piece"}}
          </span>
        </button>
      {{/if}}
      {{#if download}}
        <button type="button" class="vl-button vl-button--^link vl-button--icon"
          {{action "download"}}
        >
          <i class="ki-download vl-button__icon"
             aria-hidden="true"
          ></i>
          <span class="vl-u-visually-hidden">
            {{t "download"}}
          </span>
        </button>
      {{else if downloadLink}}
        <a class="vl-button vl-button--link vl-button--icon"
           href={{downloadLink}}
           download={{if downloadName downloadName name}}
        >
          <i class="ki-download vl-button__icon"
             aria-hidden="true"
          ></i>
          <span class="vl-u-visually-hidden">
            {{t "download"}}
          </span>
        </a>
      {{/if}}
      {{#if delete}}
        <button type="button"
                data-test-vl-uploaded-document-deletepiece
                class="vl-button vl-button--link vl-button--icon"
          {{action "delete"}}
        >
          <i class="ki-delete vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "delete"}}
          </span>
        </button>
      {{/if}}
    </div>
    <div class="vl-document__metadata metadata">
      {{extension}}
      -
      {{format-bytesize size}}
    </div>
  </div>
</div>
{{yield}}
