<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1
        class="vlc-page-header__title vlc-page-header__title--bordered max-width vl-u-text--capitalize"
      >
        {{subcase.subcaseName}}
      </h1>
      {{subcases/subcase-detail-nav}}
    </div>
  </div>
  <div class="vlc-toolbar__right">
    <div class="vlc-toolbar__item">
      {{#if (or
              (is-pending subcase.requestedForMeeting)
              (is-pending subcase.hasAgendaItem)
              (is-pending subcase.isPostponed)
            )}}
          <div class="vl-loader"></div>
      {{else}}
        {{#if
          (or
              (and
                    (not (await subcase.requestedForMeeting))
                    (not (await subcase.hasAgendaItem))
              )
              (await subcase.isPostponed)
          )
        }}
            <button class="vl-button vl-button--narrow">
              {{t "propose-for-agenda"}}
            </button>
          {{#attach-popover
                  class="ember-attacher-popper"
                  hideOn="clickout click"
                  showOn="click"
                  animation="shift"
                  placement="bottom" as |attacher|
          }}
              <ul class="vl-popover__link-list">
                {{#each (await meetings) as |meeting|}}
                    <li class="vl-popover__link-list__item">
                        <button class="vl-link"
                          {{action attacher.hide}}
                          {{action "proposeForAgenda" subcase meeting}}
                        >
                          {{t "agenda-for"}}
                          {{moment-format meeting.plannedStart "DD MMMM YYYY"}}
                        </button>
                    </li>
                {{/each}}
                {{#if (gt (await meetings.length) 0)}}
                    <li class="vl-popover__link-list__separator" role="none"></li>
                {{/if}}
                  <li class="vl-popover__link-list__item">
                      <button class="vl-link"
                        {{action attacher.hide}}
                        {{action "proposeForOtherAgenda" subcase}}
                      >
                        {{t "other-agenda"}}
                      </button>
                  </li>
              </ul>
          {{/attach-popover}}
        {{/if}}
      {{/if}}
    </div>
    <div class="vlc-toolbar__item">
      <button
        class="vl-button vl-button--narrow vl-button--icon-before vl-button--secondary"
        {{action "showMultipleOptions" bubbles=false}}
      >
        {{#if (not isShowingOptions)}}
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-down-fat"
          ></i>
        {{else}}
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-up-fat"
          ></i>
        {{/if}}
        {{t "actions"}}
        {{#attach-popover
          class="ember-attacher-popper"
          hideOn="clickout click"
          showOn="click"
          animation="shift"
          placement="bottom" as |attacher|
        }}
          <ul class="vl-popover__link-list">
            <li class="vl-popover__link-list__item">
              {{#if (not await subcase.isArchived)}}
                <a
                  class="vl-link vl-link--block"
                  {{action attacher.hide}}
                  {{action "requestArchiveSubcase"}}
                >
                  {{t "archive-subcase"}}
                </a>
              {{else}}
                <a
                  class="vl-link vl-link--block"
                  {{action attacher.hide}}
                  {{action "unarchiveSubcase" subcase}}
                >
                  {{t "unarchive-subcase"}}
                </a>
              {{/if}}
            </li>
            <li class="vl-popover__link-list__item">
              {{#if (not await subcase.concluded)}}
                <a
                  class="vl-link vl-link--block"
                  {{action attacher.hide}}
                  {{action "closeSubcase" subcase}}
                >
                  {{t "close-subcase"}}
                </a>
              {{/if}}
            </li>
          </ul>
        {{/attach-popover}}
      </button>
    </div>
  </div>
</div>
{{#if isAssigningToAgenda}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "propose-for-agenda")
    closeModal=(action "cancel")
  }}
    {{subcases/assign-to-meeting-form
      subcase=selectedSubcase
      proposeForAgenda=(action "proposeForAgenda")
      cancel=(action "cancel")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isArchivingSubcase}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "archive-subcase")
    closeModal=(action "cancelArchiveSubcase")
  }}
    <div
      class="vl-spacer-box vl-u-spacer-extended-top-l vl-u-spacer-extended-bottom-l"
    >
      {{web-components/vl-alert
        title="Opgelet!"
        message=(t "archive-subcase-confirmation")
        type="danger"
      }}
    </div>
    <button class="vl-button" {{action "archiveSubcase" subcase}}>
      {{t "archive-subcase"}}
    </button>
  {{/web-components/vl-modal}}
{{/if}}
