<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1
        class="vlc-page-header__title vlc-page-header__title--bordered max-width"
      >
        {{#if subcase.shortTitle}}
          {{subcase.shortTitle}}
        {{else if subcase.title}}
          {{subcase.title}}
        {{/if}}
      </h1>
      <div class="vlc-page-header__sub">
        {{#link-to "cases.case.subcases" class="vl-link vl-link--bold"}}
          <i
            class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-left-fat"
          ></i>
          {{t "buttons.back"}}
        {{/link-to}}
        {{#if (await subcase.requestedForMeeting)}}
        <div class="vlc-page-header__status">
          <span>Ingediend voor de agenda van {{moment-format subcase.requestedForMeeting.plannedStart "DD MMMM YYYY"}}</span>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">


        {{#if (and (not (await subcase.requestedForMeeting)) (not (await subcase.hasAgendaItem)))}}
          <button class="vl-button vl-button--narrow">
            {{t "buttons.propose-for-agenda"}}
          </button>
          {{#attach-popover
            class="ember-attacher-popper"
            hideOn="clickout click"
            showOn="click"
            animation="shift"
            placement="bottom" as |attacher|
          }}
            <ul class="vl-popover__link-list">
              {{#each meetings as |meeting|}}
                <li class="vl-popover__link-list__item">
                  <button
                    class="vl-button vl-button--link vl-button--icon"
                    class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "proposeForAgenda" subcase meeting}}
                  >
                    {{t "agenda-for"}}
                    {{moment-format meeting.plannedStart "DD MMMM YYYY"}}
                  </button>
                </li>
              {{/each}}
              <hr class="vlc-hr vlc-hr-small" />
              <li class="vl-popover__link-list__item">
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  class="vl-link vl-link--block"
                  {{action attacher.hide}}
                  {{action "proposeForOtherAgenda" subcase}}
                >
                  {{t "other-agenda"}}
                </button>
              </li>
            </ul>
          {{/attach-popover}}
        {{else if (await subcase.requestedForMeeting)}}
          <button
            class="vl-button vl-button--narrow"
            {{action "unPropose" subcase}}
          >
            {{t "undo-propose"}}
          </button>
        {{/if}}
      </div>
      <div class="vlc-toolbar__item">
      <button
        class="vl-button vl-button--narrow vl-button--icon-before vl-button--secondary"
        {{action "showMultipleOptions"}}
      >
        {{#if (not isShowingOptions)}}
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-down-fat"
          ></i>
        {{else}}
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-up-fat"
          ></i>
        {{/if}}
        {{t "actions"}}
      </button>
      {{#attach-popover
        class="ember-attacher-popper"
        hideOn="clickout click"
        showOn="click"
        animation="shift"
        placement="bottom" as |attacher|
      }}
        <ul class="vl-popover__link-list">
          <li class="vl-popover__link-list__item">
            {{#if (not await subcase.isArchived)}}
              <a
                class="vl-link vl-link--block"
                {{action attacher.hide}}
                {{action "requestArchiveSubcase"}}
              >
                {{t "buttons.archive-subcase"}}
              </a>
            {{else}}
              <a
                class="vl-link vl-link--block"
                {{action attacher.hide}}
                {{action "unarchiveSubcase" subcase}}
              >
                {{t "buttons.unarchive-subcase"}}
              </a>
            {{/if}}
          </li>
        </ul>
      {{/attach-popover}}
      </div>

    </div>
  </div>
</div>

{{#if isAssigningToAgenda}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "new-agenda")
    closeModal=(action "cancel")
  }}
  {{subcases/assign-to-meeting-form subcase=selectedSubcase cancel=(action "cancel")}}
  {{/web-components/vl-modal}}
{{/if}}

{{#if isArchivingSubcase}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "archive-subcase")
    closeModal=(action "cancelArchiveSubcase")
  }}
    <div class="vl-spacer-box vl-u-spacer-extended-top-l vl-u-spacer-extended-bottom-l">
      {{web-components/vl-alert
        title="Opgelet!"
        message=(t "archive-subcase-confirmation")
        type="danger"
      }}
    </div>
    <button class="vl-button" {{action "archiveSubcase" subcase}}>
      {{t "buttons.archive-subcase"}}
    </button>
  {{/web-components/vl-modal}}
{{/if}}