<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title")}}
    {{web-components/vl-form-input width="4" value=agendaitem.titlePress}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value="Inhoud"}}
    {{textarea
      class="vl-textarea vl-textarea--block"
      rows="10"
      value=agendaitem.textPress
    }}
  </div>
  <div class="vlc-input-field vlc-input-field-block">
    {{web-components/vl-form-label value=(t "for-press")}}
    {{x-toggle
      value=agendaitem.forPress
      onToggle=(action (mut agendaitem.forPress))
    }}
  </div>
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing" agendaitem}}>
    {{t "cancel"}}
  </a>
  <button
    class="vl-button vl-button--narrow"
    {{action "saveChanges" agendaitem}}
  >
    {{t "save"}}
  </button>
</div>