<div class="auk-u-mb-10">
  <Auk::Toolbar class="auk-u-mb-4">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-toolbar__title">
          {{t "documents"}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if
        (and
          this.currentSession.isEditor
          this.model.pieces.length
          (not this.isEnabledPieceEdit)
        )
      }}
        <Auk::Toolbar::Item>
          <Auk::Button
            data-test-route-agenda---agendaitem-documents-batch-edit
            {{on "click" this.enablePieceEdit}}
          >
            {{t "edit"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{/if}}
      {{#if this.hasPublicationsEnabled}}
        {{#if (and this.currentSession.isOvrb this.model.pieces)}}
          <Auk::Toolbar::Item>
            <Auk::Button
              @icon="copy"
              {{on "click" this.openPublicationModal}}
            >
              {{t "agendaitem-documents-documents-for-publication"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        {{/if}}
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>


{{#if this.governmentCanViewDocuments}}
  {{#unless this.loadData.isRunning}}
    {{#if this.isEnabledPieceEdit}}
      <Documents::BatchDocumentEdit
        @pieces={{this.model.pieces}}
        @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
        @onCloseEdit={{this.disablePieceEdit}}
      />
    {{else}}
      <Documents::DocumentCardList
        @pieces={{this.model.pieces}}
        @highlightedPieces={{this.newAgendaitemPieces}}
        @onOpenUploadModal={{this.ensureFreshData}}
        @onAddPiece={{perform this.addPiece}}
        @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
        @didDeleteContainer={{this.refresh}}
      />
    {{/if}}
  {{/unless}}
{{else}}
  <div class="auk-u-mt-2">
    <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
  </div>
{{/if}}
{{#if this.currentSession.isEditor}}
  <div class="auk-u-mb-4">
    <button data-test-route-agenda---agendaitem-documents-add type="button" class="auk-button auk-button--tertiary"
      {{on "click" this.openPieceUploadModal}}>
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-add"></i>
        </div>
        <div class="auk-button__label">
          {{t "documents-add"}}
        </div>
      </span>
    </button>
  </div>
{{/if}}

{{#if this.isOpenPieceUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadPieces}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-add"}} >
    <div class="auk-modal__body">
      <div class="auk-u-p-4">
        {{#if this.savePieces.isRunning}}
          <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
        {{else}}
          <FileUploader
            @multipleFiles={{true}}
            @uploadedFileAction={{this.uploadPiece}} />
          <div class="upload-container">
            {{#each this.newPieces as |piece|}}
              <Documents::UploadedDocument
                @piece={{piece}}
                @allowDocumentContainerEdit={{true}}
                @onDelete={{perform this.deletePiece piece}} />
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
    <WebComponents::VlModalFooter
      @isLoading={{this.savePieces.isRunning}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "documents-add"}}
      @cancelAction={{perform this.cancelUploadPieces}}
      @saveAction={{perform this.savePieces}}
      @disableSave={{eq this.newPieces.length 0}} />
  </WebComponents::VlModal>
{{/if}}

{{#if this.isOpenPublicationModal}}
  <Publications::BatchDocumentsPublicationModal
    @pieces={{this.model.pieces}}
    @agendaitem={{this.agendaitem}}
    @onClose={{this.closePublicationModal}}
    />
{{/if}}

<Documents::LinkedDocuments @agendaitemOrSubcase={{this.agendaitem}}/>