<AuToolbar class="au-u-margin-bottom" as |Group|>
  <Group>
    <AuHeading @level="3" @skin="4">
      {{t "documents"}}
    </AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
    {{#if this.model.pieces.length}}
      {{#if (and this.currentSession.isEditor this.currentAgenda.isDesignAgenda)}}
        <Auk::Button
          data-test-route-agenda---agendaitem-documents-batch-edit
          @icon="pencil"
          {{on "click" this.openBatchDetails}}
        >
          {{t "batch-edit"}}
        </Auk::Button>
      {{else}}
        <Auk::Button {{on "click" this.openBatchDetails}}>
          {{t "view-documents-details"}}
        </Auk::Button>
      {{/if}}
    {{/if}}
    {{#if this.isShownOpenPublicationModal}}
      <Auk::Button
        data-test-route-agenda---agendaitem-documents-open-publication
        @icon="copy"
        {{on "click" this.openPublicationModal}}
      >
        {{t "agendaitem-documents-documents-for-publication"}}
      </Auk::Button>
    {{/if}}
    </AuButtonGroup>
  </Group>
</AuToolbar>

{{#if this.governmentCanViewDocuments}}
  {{#unless this.loadData.isRunning}}
    <Documents::DocumentCardList
      @pieces={{this.model.pieces}}
      @highlightedPieces={{this.newAgendaitemPieces}}
      @onOpenUploadModal={{perform this.ensureFreshData}}
      @onAddPiece={{perform this.addPiece}}
      @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
      @didDeleteContainer={{this.refresh}}
      @hasMarkForSignature={{this.isShownSignatureMarker}}
      @markForSignature={{this.markForSignature}}
      @unmarkForSignature={{this.unmarkForSignature}}
      @isDesignAgenda={{this.currentAgenda.isDesignAgenda}}
      @isNew={{await this.agendaitem.checkAdded}}
      @isFinal={{this.currentAgenda.isFinal}}
    />
  {{/unless}}
{{else}}
  <div class="auk-u-mt-2">
    <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
  </div>
{{/if}}
{{#if (and this.currentSession.isEditor this.currentAgenda.isDesignAgenda)}}
  <div class="auk-u-mb-4">
    <Auk::Button
      @skin="tertiary"
      @icon="plus"
      {{on "click" this.openPieceUploadModal}}
      data-test-route-agenda---agendaitem-documents-add
    >
      {{t "documents-add"}}
    </Auk::Button>
  </div>
{{/if}}

{{#if this.showBatchDetails}}
  <Documents::BatchDetails::BatchDocumentsDetailsModal
    @pieces={{this.model.pieces}}
    @agendaitem={{this.agendaitem}}
    @onCancel={{this.cancelBatchDetails}}
    @onSave={{this.saveBatchDetails}}
  />
{{/if}}

{{#if this.isOpenPublicationModal}}
  <Publications::BatchDocumentsPublicationModal
    @pieces={{this.model.pieces}}
    @agendaitem={{this.agendaitem}}
    @onClose={{this.closePublicationModal}}
  />
{{/if}}

{{#if this.isOpenPieceUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadPieces}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-add"}}
  >
    <Auk::Modal::Body>
      {{#if this.savePieces.isRunning}}
        <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
      {{else}}
        <Auk::FileUploader
          @multiple={{true}}
          @reusable={{true}}
          @onUpload={{this.uploadPiece}}
        />
        <Auk::Alert @message="Indien beschikbaar, gelieve het originele Word bestand op te laden." class="auk-u-mt-2" />
        <div class="upload-container">
          {{#each this.newPieces as |piece|}}
            <Documents::UploadedDocument
              @piece={{piece}}
              @allowDocumentContainerEdit={{true}}
              @onDelete={{perform this.deletePiece piece}}
            />
          {{/each}}
        </div>
      {{/if}}
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.savePieces.isRunning}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "documents-add"}}
      @cancelAction={{perform this.cancelUploadPieces}}
      @saveAction={{perform this.savePieces}}
      @disableSave={{eq this.newPieces.length 0}}
    />
  </WebComponents::VlModal>
{{/if}}

<Documents::LinkedDocuments @agendaitemOrSubcase={{this.agendaitem}} />
