<div class="vl-modal">
  <div class="vl-modal__backdrop">
    <div
      class="vl-modal-dialog {{sizeClass}}"
      style="width: 60rem;"
      tabindex="-1"
      role="dialog"
    >
      <div class="vlc-navbar">
        <div class="vlc-toolbar">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              <h4 class="vlc-toolbar__title">
                {{title}}
              </h4>
            </div>
          </div>
          <div class="vlc-toolbar__right">
            <div class="vlc-toolbar__item">
              <button
                class="vl-button vl-button--link-muted vl-button--icon"
                {{action "cancel"}}
              >
                <i
                  class="vl-button__icon vl-vi vl-vi-close-light"
                  aria-hidden="true"
                ></i>
                <span class="vl-u-visually-hidden">
                  {{t "close"}}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="vl-modal-dialog__content">
        <p>
          {{message}}
        </p>
      </div>
      {{#if showActions}}
        <div class="vlc-navbar">
          <div class="vlc-toolbar">
            <div class="vlc-toolbar__left">
              <div class="vlc-toolbar__item">
                <button
                  type="button"
                  class="vl-button vl-button--link vl-button--narrow"
                  {{action "cancel"}}
                >
                  {{t "cancel"}}
                </button>
              </div>
            </div>
            <div class="vlc-toolbar__right">
              {{#if showVerify}}
                <div class="vlc-toolbar__item">
                  {{#web-components/vl-save-button
                    class=buttonClass
                    isLoading=isLoading
                    saveAction=(action "verify")
                  }}
                    {{#if showIcon}}
                      <i
                        class="vl-button__icon vl-button__icon--before vl-vi vl-vi-trash"
                        aria-hidden="true"
                      ></i>
                    {{/if}}
                    {{verifyButtonText}}
                  {{/web-components/vl-save-button}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
