<Subcases::SubcasesOverviewHeader
  @decisionmakingFlow={{this.decisionmakingFlow}}
  @onCreateSubcase={{this.refreshSubcases}}
  @onSaveCase={{perform this.saveCase}}
/>
{{#if @model}}
  <div class="auk-panel-layout">
    <div class="auk-panel-layout__sidebar auk-panel-layout__sidebar--cases">
      <Subcases::SideNav @subcases={{@model}} />
    </div>
    <div class="auk-panel-layout__main-content au-u-flex au-u-flex-column">
      {{outlet}}
    </div>
  </div>
{{else}}
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8">
      <Auk::EmptyState @message={{t "no-subcases"}} />
    </div>
  </div>
{{/if}}