<Subcases::SubcasesOverviewHeader
  @onCreateSubcase={{this.refreshSubcases}}
  @onSaveCase={{perform this.saveCase}}
  @decisionmakingFlow={{@model.decisionmakingFlow}}
/>
<div class="auk-panel-layout">
  <div class="auk-panel-layout__sidebar auk-panel-layout__sidebar--cases">
    <Subcases::SideNav
      @subcases={{@model.subcases}}>
    </Subcases::SideNav>
  </div>
  <div class="auk-panel-layout__main-content au-u-flex au-u-flex--column">
    {{outlet}}
  </div>
</div>