<div class="au-u-padding">
  <div class="au-u-flex">
    <AuBadge
      @icon="document"
      @skin="gray"
      class="au-c-badge--medium"
    />
    <div class="au-u-margin-bottom au-u-margin-left-small">
      <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
        <h6 class="auk-h4 auk-u-m-0"
          data-test-vl-uploaded-document-filename>
          {{@name}}
        </h6>
        <AuButtonGroup @inline={{true}}>
          {{#if @downloadLink}}
            <AuLinkExternal
              @skin="button-naked"
              @icon="download"
              @hideText={{true}}
              href={{@downloadLink}}
              download={{if @downloadName @downloadName @name}}
            >
              {{t "download"}}
            </AuLinkExternal>
          {{/if}}
          {{#if @onDelete}}
            <AuButton
              data-test-vl-uploaded-document-delete-piece
              @skin="naked"
              @alert={{true}}
              @icon="trash"
              @hideText={{true}}
              {{on "click" @onDelete}}
            >
              {{t "delete"}}
            </AuButton>
          {{/if}}
        </AuButtonGroup>
      </div>
      <div class="auk-u-text-muted">
        {{@extension}}
        -
        {{format-bytesize @size}}
      </div>
    </div>
  </div>
  {{yield}}
</div>