{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="vl-uploaded-document__title">
  <Auk::Badge
    @size="medium"
    @icon="document"
  />
  <div class="vl-uploaded-document__title-container">
    <div class="title">
      <h6 class="auk-h4 auk-u-m-0"
        data-test-vl-uploaded-document-filename>
        {{this.name}}
      </h6>
      {{#if this.view}}
        <AuButton
          @skin="naked"
          @icon="book"
          @hideText={{true}}
          {{action "view"}}
        >
          {{t "show-piece"}}
        </AuButton>
      {{/if}}
      {{#if this.download}}
        <AuButton
          @skin="naked"
          @icon="download"
          @hideText={{true}}
          {{action "download"}}
        >
          {{t "download"}}
        </AuButton>
      {{else if this.downloadLink}}
        <AuLink
          @skin="button-naked"
          @icon="download"
          @hideText={{true}}
          @href={{this.downloadLink}}
          download={{if this.downloadName this.downloadName this.name}}
        >
          {{t "download"}}
        </AuLink>
      {{/if}}
      {{#if this.delete}}
        <AuButton
          data-test-vl-uploaded-document-delete-piece
          @skin="naked"
          @alert={{true}}
          @icon="trash"
          @hideText={{true}}
          {{action "delete"}}
        >
          {{t "delete"}}
        </AuButton>
      {{/if}}
    </div>
    <div class="auk-u-text-muted">
      {{this.extension}}
      -
      {{format-bytesize this.size}}
    </div>
  </div>
</div>
{{yield}}
