<div class="vl-uploaded-document__title">
  <Auk::Badge
    @size="medium"
    @icon="document"
  />
  <div class="vl-uploaded-document__title-container">
    <div class="title">
      <h6 class="auk-h4 auk-u-m-0"
        data-test-vl-uploaded-document-filename>
        {{name}}
      </h6>
      {{#if view}}
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="book"
          {{action "view"}}
        >
          {{t "show-piece"}}
        </Auk::Button>
      {{/if}}
      {{#if download}}
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="download"
          {{action "download"}}
        >
          {{t "download"}}
        </Auk::Button>
      {{else if downloadLink}}
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="download"
          @href={{downloadLink}}
          download={{if downloadName downloadName name}}
        >
          {{t "download"}}
        </Auk::Button>
      {{/if}}
      {{#if delete}}
        <Auk::Button
          @skin="danger-borderless"
          @layout="icon-only"
          @icon="delete"
          {{action "delete"}}
          data-test-vl-uploaded-document-delete-piece
        >
          {{t "delete"}}
        </Auk::Button>
      {{/if}}
    </div>
    <div class="vl-document__metadata metadata">
      {{extension}}
      -
      {{format-bytesize size}}
    </div>
  </div>
</div>
{{yield}}
