<div class="vl-uploaded-document__title">
  <div class="auk-badge auk-badge--medium auk-badge--default">
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-document"></i>
    </div>
  </div>
  <div class="vl-uploaded-document__title-container">
    <div class="title">
      <h6 class="auk-h4"
        data-test-vl-uploaded-document-filename>
        {{name}}
      </h6>
      {{#if view}}
        <button type="button" class="auk-button auk-button--borderless auk-button--icon"
          {{action "view"}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-book"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "show-piece"}}
          </div>
        </button>
      {{/if}}
      {{#if download}}
        <button type="button" class="auk-button auk-button--borderless auk-button--icon"
          {{action "download"}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-download"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "download"}}
          </div>
        </button>
      {{else if downloadLink}}
        <a class="auk-button auk-button--borderless auk-button--icon"
          href={{downloadLink}}
          download={{if downloadName downloadName name}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-download"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "download"}}
          </div>
        </a>
      {{/if}}
      {{#if delete}}
        <button type="button"
          data-test-vl-uploaded-document-deletepiece
          class="auk-button auk-button--borderless auk-button--icon"
          {{action "delete"}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-delete"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "delete"}}
          </div>
        </button>
      {{/if}}
    </div>
    <div class="vl-document__metadata metadata">
      {{extension}}
      -
      {{format-bytesize size}}
    </div>
  </div>
</div>
{{yield}}
