{{#if (not isEditing)}}
  <div class="vl-u-display-flex vlc-u-flex-align-baseline">
    <h3 class="vl-title vl-title--h3">
      {{t "subcase"}}
    </h3>
    {{#if currentSession.isEditor}}
      <div class="auk-u-ml-2">
        <a href="" class="vl-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
  <div class="auk-u-mb-4">
    <p class="vl-u-text--capitalize">
      {{await subcase.subcaseName}}
    </p>
    <ul class="vlc-status-timeline">
      {{#each (await subcase.phases) as |phase|}}
        <li class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        >
          <div class="vlc-status-timeline__dot"></div>
          {{#if (is-pending phase)}}
            <div class="skeletal-loader" role="alert" aria-busy="true"></div>
          {{else}}
            <div class="vlc-status-timeline__text">
              {{subcase-timeline-item-text
                phase=phase
              }}
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="vl-description-data">
    <div class="vl-grid vl-grid--is-stacked">
      <div class="vl-col--1-3 vl-col--1-2--xs">
        <span class="vl-description-data__label">
          {{t "number-session"}}
        </span>
        <span class="vl-description-data__value">
          {{#if (await subcase.latestMeeting.number)}}
            {{await subcase.latestMeeting.number}}
          {{else}}
            {{t "no-number-yet"}}
          {{/if}}
        </span>
      </div>
      <div class="vl-col--1-3 vl-col--1-2--xs">
        <span class="vl-description-data__label">
          {{t "requested-for-session"}}
        </span>
        <span class="vl-description-data__value">
          {{#if (await subcase.requestedForMeeting.plannedStart)}}
            {{t "requested-for-agenda"}}
            {{moment-format
              subcase.requestedForMeeting.plannedStart
              "DD MMMM YYYY"
            }}
          {{else}}
            {{t "not-yet-requested"}}
          {{/if}}
        </span>
      </div>
      <div class="vl-col--1-3 vl-col--1-2--xs">
        <span class="vl-description-data__label">
          {{t "is-on-agenda"}}
        </span>
        <span class="vl-description-data__value" data-test-subcase-agenda-link>
          {{#if
            (or
              (is-pending isRetracted)
              (is-pending subcase.onAgendaInfo)
            )
          }}
            <div class="vl-loader"></div>
          {{else}}
            {{#if (await subcase.onAgendaInfo)}}
              {{#if
                (await isRetracted)
              }}
                {{t "postponed-subcase"}}
              {{/if}}
              {{#link-to
                "agenda.agendaitems.agendaitem"
                (await latestMeetingId)
                (await latestAgendaId)
                (await latestAgendaitemId)
                class="vl-link"
              }}
                {{moment-format (await subcase.onAgendaInfo)  "DD MMMM YYYY"}}
              {{/link-to}}
            {{else}}
              {{t "not-yet-on-agenda"}}
            {{/if}}
          {{/if}}
        </span>
      </div>
      <div class="vl-col--1-3 vl-col--1-2--xs">
        <span class="vl-description-data__label">
          {{t "date-last-edited"}}
        </span>
        <span class="vl-description-data__value">
          {{moment-format subcase.modified "DD MMMM YYYY"}}
        </span>
      </div>
      <div class="vl-col--1-3 vl-col--1-2--xs">
        <span class="vl-description-data__label">
          {{t "decided-on"}}
        </span>
        <span class="vl-description-data__value">
          {{#if (is-pending subcase.approved)}}
            <div class="skeletal-loader" role="alert" aria-busy="true"></div>
          {{else if (await subcase.approved)}}
            {{moment-format (await subcase.requestedForMeeting.plannedStart) "DD.MM.YYYY"}}
          {{else}}
            {{t "not-yet-decided"}}
          {{/if}}
        </span>
      </div>
      <div class="vl-col--1-3 vl-col--1-2--xs">
        <span class="vl-description-data__label">
          {{t "requested-by"}}
        </span>
        <span class="vl-description-data__value">
          {{#if
            (or
              (is-pending subcase.requestedBy)
              (is-pending subcase.requestedBy.person)
            )
          }}
            <div class="skeletal-loader" role="alert" aria-busy="true"></div>
          {{else if subcase.requestedBy}}
            {{subcase.requestedBy.person.nameToDisplay}}
          {{else}}
            {{t "not-yet-requested"}}
          {{/if}}
        </span>
      </div>
    </div>
  </div>
{{else}}
  <div class="vlc-box">
    <div class="vl-u-spacer">
      <div class="vlc-input-field-block">
        {{web-components/vl-radio-button-list
          title=(t "subcase-type")
          optionList=(await caseTypes)
          selectedModel=remarkType
          modelChanged=(action "selectRemarkType")
        }}
      </div>
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "subcase-type-dropdown")}}
        {{utils/model-selector
          modelName="subcase-type"
          searchField="label"
          sortField="label"
          propertyToShow="label"
          selectedItems=type
          selectModel=(action "selectType")
        }}
      </div>
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "subcase-name")}}
        {{web-components/vl-form-input width="4" value=subcaseName}}
      </div>
    </div>
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__right">
        <a href="" class="vl-link" {{action "cancelEditing"}}>
          {{t "cancel"}}
        </a>
      </div>
      <div class="vlc-toolbar__left">
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          saveAction=(action "saveChanges")
        }}
      </div>
    </div>
  </div>
{{/if}}
