<div class="vl-u-spacer-extended-l">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h2 class="vl-title vl-title--h3">
        {{t "prepared-text-minutes"}}
      </h2>
      <button class="vl-button vl-button--tertiary vl-button--icon">
        <div class="vl-vi vl-vi-nav-show-more-horizontal vl-button__icon"></div>
      </button>
    </div>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "attendees"}}
    </h3>
    {{#each (await agendaitem.agenda.createdFor.notes.attendees) as |attendee|}}
      <div class="vl-u-spacer">
        <p>
          {{attendee.title}}
        </p>
        <p>
          {{await attendee.person.alternativeName}}
        </p>
      </div>
    {{/each}}
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "date"}}
    </h3>
    <p>
      {{moment-format
        (await agendaitem.agenda.createdFor.date)
        "DD MMMM YYYY"
      }}
    </p>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "date-next-meeting"}}
    </h3>
    <p>
			{{!-- TODO fix --}}
      {{!-- {{moment-format
        (await	agendaitem.agenda.createdFor.notes.nextMeeting.plannedStart)
        "DD MMMM YYYY"
      }} --}}
			{{!-- {{await	agendaitem.agenda.createdFor.notes.nextMeeting.id}} --}}
    </p>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "agendas.announcements-subtitle"}}
    </h3>
    <p>
      {{await agendaitem.agenda.createdFor.notes.description}}
    </p>
  </div>
</div>