{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h2 class="vl-title vl-title--h3">
        {{t "prepared-text-minutes"}}
      </h2>
      {{#if (or isAdmin isEditor)}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "notes-of-agendaitem"}}
    </h3>
    <p>
      {{await agendaitem.meetingRecord.description}}
    </p>
  </div>
  <div class="vlc-hr"></div>
  {{utils/documents-list-for-item
    item=agendaitem.meetingRecord
    agendaitem=agendaitem
  }}
{{else}}
  {{agenda/agendaitem/agendaitem-minutes-edit
    isEditing=isEditing
    agendaitem=agendaitem
  }}
{{/if}}