{{#web-components/vl-modal
  isOverlay=true
  large=true
  closeModal=(action "close")
  title="Agendapunten toevoegen"
}}
  {{#if (or (is-pending model) loading)}}
    <div class="vl-modal-dialog__content">
      {{#if (is-pending model)}}
        {{web-components/vl-loader
          text="De dossiers worden geladen. Even geduld aub..."
        }}
      {{else}}
        {{web-components/vl-loader
          text="De agendapunten worden aangemaakt. Even geduld aub..."
        }}
      {{/if}}
    </div>
  {{else}}
    <div class="vl-modal-dialog__content">
      <div class="vl-u-spacer">
        {{#data-table
          content=model
          sort=sort
          page=page
          size=size
          filter=filter
          isLoading=isLoadingModel
          searchDebounceTime=500
          onClickRow=(action "selectAvailableSubcase") as |t|
        }}
          {{#t.content as |c|}}
            {{#c.header}}
              <th></th>
              {{th-sortable
                field="shortTitle"
                currentSorting=sort
                label="Korte titel van het dossier"
              }}
              <th>

              </th>
            {{/c.header}}
            {{#c.body as |row|}}
              <td class="vl-data-table-col-1">
                {{web-components/vl-checkbox
                  value=row.selected
                  toggle=(action "selectAvailableSubcase" row)
                }}
              </td>
              <td class="vl-data-table-col-6">
                {{row.shortTitle}}
                {{#attach-popover
                  placement="left"
                  class="ember-attacher-popper ember-attacher-popper-wide"
                }}
                  {{row.title}}
                {{/attach-popover}}
              </td>
              <td class="vl-data-table-col-5">
                {{await row.case.type.label}}
              </td>
            {{/c.body}}
          {{/t.content}}
        {{/data-table}}
      </div>
      <div class="data-table-container">
        <h2 class="vl-title vl-title--h3">
          {{t "title-postponed-subcases"}}
        </h2>
        {{subcases/postponed-subcases
          subcases=(await postPonedSubcases)
          selectSubcase=(action "selectPostponed")
        }}
      </div>
    </div>
    {{web-components/vl-modal-footer
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add-to-agenda")
      cancelAction=(action "close")
      saveAction=(action "addSubcasesToAgenda")
    }}
  {{/if}}
{{/web-components/vl-modal}}