{{#web-components/vl-modal
  isOverlay=true
  large=true
  closeModal=(action "close")
  title="Agendapunten toevoegen"
}}
  <div class="vl-modal-dialog__content">
    <div class="vl-u-spacer">
      {{#data-table
        content=model
        sort=sort
        page=page
        size=size
        filter=filter
        isLoadingModel=isLoadingModel
        onClickRow=(action "selectAvailableSubcase") as |t|
      }}
        {{#t.content as |c|}}
          {{#c.header}}
            <th></th>
            {{th-sortable
              field="shortTitle"
              currentSorting=sort
              label="Korte titel van het dossier"
            }}
          {{/c.header}}
          {{#c.body as |row|}}
            <td class="vl-data-table-col-1">
              {{web-components/vl-checkbox
                value=row.selected
                toggle=(action "selectAvailableSubcase" row)
              }}
            </td>
            <td class="vl-data-table-col-11">
              {{row.shortTitle}}
              {{#attach-popover
                placement="left"
                class="ember-attacher-popper ember-attacher-popper-wide"
              }}
                {{row.title}}
              {{/attach-popover}}
            </td>
          {{/c.body}}
        {{/t.content}}
      {{/data-table}}
    </div>
    <div class="data-table-container">
      <h2 class="vl-title vl-title--h3">
        {{t "subcases.title-postponed-subcases"}}
      </h2>
      {{subcases/postponed-subcases
        subcases=(await postPonedSubcases)
        selectSubcase=(action "selectPostponed")
      }}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--link vl-button--narrow"
            {{action "close"}}
          >
            {{t "buttons.cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--narrow"
            {{action "addSubcasesToAgenda"}}
          >
            {{t "buttons.add-to-agenda"}}
          </button>
        </div>
      </div>
    </div>
  </div>
{{/web-components/vl-modal}}