{{#if (not isCreatingPerson)}}
  <div data-test-add-mandatee-dropdown-container class="vl-u-display-flex vlc-u-display-flex-align-center vl-col-4-4">
    {{#power-select
      options=items
      selected=selectedItems
      disabled=readOnly
      searchField=searchField
      placeholder=placeholder
      loadingMessage=loadingMessage
      noMatchesMessage=noMatchesMessage
      searchMessage=searchMessage
      search=(perform searchTask)
      oninput=(action "resetValueIfEmpty")
      onchange=(action "selectModel")
    as |model|
    }}
      {{await (model-property-to-show model propertyToShow)}}
    {{/power-select}}
    <div class="auk-u-mr-2"></div>
    <button data-test-create-person-container
            type="button"
            class="vl-button vl-button--secondary vl-button--icon"
      {{action "toggleIsCreatingPerson"}}>
      <i class="vl-button__icon ki-add"></i>
      <span class="vl-u-visually-hidden">
        {{t "create"}}
      </span>
    </button>
  </div>
{{else}}
  <div class="auk-u-m-2">
    <div class="auk-u-m-2">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "first-name")}}
        {{web-components/vl-form-input
          data-test-create-person-firstname
          width="4"
          value=firstName
        }}
      </div>
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "name")}}
        {{web-components/vl-form-input
          data-test-create-person-lastname
          width="4"
          value=lastName
        }}
      </div>
    </div>
    <div class="vl-action-group vl-action-group--align-right">
      <a href="" class="vl-link" {{action "resetValuesAndCancelCreation"}}>
        {{t "cancel"}}
      </a>
      {{web-components/vl-save-button
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "createPerson")
      }}
    </div>
  </div>
{{/if}}