{{#if (not isCreatingPerson)}}
  <div data-test-add-mandatee-dropdown-container class="auk-u-flex auk-u-flex--vertical-center">
    {{#power-select
      options=items
      selected=selectedItems
      disabled=readOnly
      searchField=searchField
      placeholder=placeholder
      loadingMessage=loadingMessage
      noMatchesMessage=noMatchesMessage
      searchMessage=searchMessage
      search=(perform searchTask)
      oninput=(action "resetValueIfEmpty")
      onchange=(action "selectModel")
    as |model|
    }}
      {{await (model-property-to-show model propertyToShow)}}
    {{/power-select}}
    <div class="auk-u-mr-2"></div>
    <button data-test-create-person-container
            type="button"
            class="vl-button vl-button--secondary vl-button--icon"
      {{action "toggleIsCreatingPerson"}}>
      <i class="vl-button__icon ki-add"></i>
      <span class="vl-u-visually-hidden">
        {{t "create"}}
      </span>
    </button>
  </div>
{{else}}
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "first-name"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input
      data-test-create-person-firstname
      value=firstName
    }}
  </div>
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "name"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input
      data-test-create-person-lastname
      value=lastName
    }}
  </div>
  <div class="vl-action-group vl-action-group--align-right">
    <a href="" class="auk-button-link" {{action "resetValuesAndCancelCreation"}}>
      {{t "cancel"}}
    </a>
    {{web-components/vl-save-button
      text=(t "save")
      isLoading=isLoading
      saveAction=(action "createPerson")
    }}
  </div>
{{/if}}