{{!-- TODO every use of @activity. will change --}}
<div class="auk-u-mb-3">
  <WebComponents::AuPanel @scrollable="true">
    <WebComponents::AuPanel::Header @borderless={{this.isCollapsed}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton
                    {{on "click" this.collapsePanel}}
                    @skin="tertiary"
                    @layout="icon-only"
                    @icon={{if this.isCollapsed "chevron-down"  "chevron-up"}}
            />
          </WebComponents::AuToolbar::Item>
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-toolbar-complex__title">
              {{#if (await @activity.isWithdrawn) }}
                {{t "cancelled-request"}} {{moment-format @activity.endDate "DD MMMM YYYY [om] H:mm"}}
              {{else if (await @activity.endDate) }}
                {{t "received"}} {{moment-format @activity.endDate "DD MMMM YYYY [om] H:mm"}}
              {{else if (await @activity.wasPublished)}}
                {{t "publications-published"}} {{moment-format activity.endDate "DD MMMM YYYY [om] H:mm"}}
              {{else}}
                {{t "requested-on"}} {{moment-format @activity.startDate "DD MMMM YYYY [om] H:mm"}}
              {{/if}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          {{#if (not (await @activity.isWithdrawn)) }}
            <WebComponents::AuToolbar::Item>
              <Auk::Checkbox
                @label={{t "received"}}
                @checked={{this.finished}}
                {{on "input" @finishedToggle}}
              />
            </WebComponents::AuToolbar::Item>
          {{/if}}
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless" @icon="more" @layout="icon-only">
            </WebComponents::AuButton>
            <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom"
            >
              <Auk::Dropdown>
                {{#if (and (not this.finished) ( not (await @activity.isWithdrawn)))}}
                  <WebComponents::AuDropdown::Item {{on "click" @cancelExisting}}>
                    {{t "cancel-request"}}
                  </WebComponents::AuDropdown::Item>
                {{/if}}
                <WebComponents::AuDropdown::Item>
                  {{t "download-documents"}}
                </WebComponents::AuDropdown::Item>
                {{#if @publishPreview}}
                  <WebComponents::AuDropdown::Item {{on "click" @publishPreview}}>
                    {{t "request-publication"}}
                  </WebComponents::AuDropdown::Item>
                {{/if}}
              </Auk::Dropdown>
            </AttachPopover>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>

      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    {{#if (not this.isCollapsed)}}
      <WebComponents::AuPanel::Body>
        {{!-- IF WITHDRAWN SHOW REASON--}}
        {{#if @activity.withdrawReason}}
          <div class="auk-u-mb-4">
            <WebComponents::AuLabel>
              {{t "reason-withdraw"}}
            </WebComponents::AuLabel>
            <p class="auk-u-text-pre vlc-mail-content">
              <pre>
                {{@activity.withdrawReason}}
              </pre>
            </p>
          </div>
        {{/if}}

        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6 auk-u-mr-2">
            {{#if this.isTranslation}}
              <WebComponents::AuKeyValue
                      @key={{t "translation-due-date"}}
                      @value={{moment-format @activity.finalTranslationDate "DD-MM-YYYY"}}
              />
              <WebComponents::AuKeyValue
                      @key={{t "subject"}}
                      @value={{@activity.mailSubject}}
              />
            {{else}}
              <WebComponents::AuKeyValue
                      @key={{t "subject"}}
                      @value={{@activity.mailSubject}}
              />
            {{/if}}
            <WebComponents::AuLabel>
              {{t "translation-mail-header"}}
            </WebComponents::AuLabel>
            <div class="auk-u-text-pre vlc-mail-content">
              <pre>
                {{@activity.mailContent}}
              </pre>
            </div>
          </div>
          <div class="auk-o-grid-col-4">
            <WebComponents::AuLabel>
              {{t "files"}}
            </WebComponents::AuLabel>
            <ul class="auk-list auk-list--bordered">
              {{#each (await @activity.usedPieces) as |translationSourcePiece|}}
                <li class="auk-list__item auk-list__item--gray-100">
                  <Auk::Badge @skin="white" @icon="document" />
                  <div class="auk-u-mx-2">
                    <span class="auk-u-text-bold">
                      {{translationSourcePiece.name}}
                    </span>
                    <div class="auk-u-muted auk-u-text-small">
                      {{await translationSourcePiece.documentContainer.type.altLabel}} - {{await translationSourcePiece.file.extension}}
                    </div>
                  </div>
                  <WebComponents::AuButtonToolbar>
                    <WebComponents::AuButton {{on "click" (fn this.showPieceViewer translationSourcePiece) }}
                            @layout="icon-only"
                            @skin="borderless"
                            @icon="book"
                    />
                  </WebComponents::AuButtonToolbar>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </WebComponents::AuPanel::Body>
    {{/if}}
  </WebComponents::AuPanel>
</div>