{{!-- TODO every use of @activity. will change --}}
<div class="auk-u-mb-3">
  <Auk::Panel>
    <Auk::Panel::Header @borderless={{this.isCollapsed}}>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="tertiary"
              @layout="icon-only"
              @icon={{if this.isCollapsed "chevron-down"  "chevron-up"}}
              {{on "click" this.collapsePanel}}
            />
          </Auk::Toolbar::Item>
          <Auk::Toolbar::Item>
            <h4 class="auk-toolbar-complex__title">
              {{#if (await @activity.isWithdrawn) }}
                {{t "cancelled-request"}} {{moment-format @activity.endDate "DD MMMM YYYY [om] H:mm"}}
              {{else if (await @activity.endDate) }}
                {{t "received"}} {{moment-format @activity.endDate "DD MMMM YYYY [om] H:mm"}}
              {{else if (await @activity.wasPublished)}}
                {{t "publications-published"}} {{moment-format activity.endDate "DD MMMM YYYY [om] H:mm"}}
              {{else}}
                {{t "requested-on"}} {{moment-format @activity.startDate "DD MMMM YYYY [om] H:mm"}}
              {{/if}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          {{#if (not (await @activity.isWithdrawn)) }}
            <Auk::Toolbar::Item>
              <Auk::Checkbox
                @label={{t "received"}}
                @checked={{this.finished}}
                {{on "input" @finishedToggle}}
              />
            </Auk::Toolbar::Item>
          {{/if}}
          <Auk::Toolbar::Item>
            <Auk::Button @skin="borderless" @icon="more" @layout="icon-only"/>
            <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom"
            >
              <Auk::Dropdown>
                {{#if (and (not this.finished) ( not (await @activity.isWithdrawn)))}}
                  <Auk::Dropdown::Item {{on "click" @cancelExisting}}>
                    {{t "cancel-request"}}
                  </Auk::Dropdown::Item>
                {{/if}}
                <Auk::Dropdown::Item>
                  {{t "download-documents"}}
                </Auk::Dropdown::Item>
                {{#if @publishPreview}}
                  <Auk::Dropdown::Item {{on "click" @publishPreview}}>
                    {{t "request-publication"}}
                  </Auk::Dropdown::Item>
                {{/if}}
              </Auk::Dropdown>
            </AttachPopover>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>

      </Auk::Toolbar>
    </Auk::Panel::Header>
    {{#if (not this.isCollapsed)}}
      <Auk::Panel::Body>
        {{!-- IF WITHDRAWN SHOW REASON--}}
        {{#if @activity.withdrawReason}}
          <div class="auk-u-mb-4">
            <Auk::Label>
              {{t "reason-withdraw"}}
            </Auk::Label>
            <p class="auk-u-text-pre vlc-mail-content">
              <pre>
                {{@activity.withdrawReason}}
              </pre>
            </p>
          </div>
        {{/if}}

        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6 auk-u-mr-2">
            {{#if this.isTranslation}}
              <Auk::KeyValue
                @key={{t "translation-due-date"}}
                @value={{moment-format @activity.finalTranslationDate "DD-MM-YYYY"}}
              />
            {{/if}}
            <Auk::KeyValue
              @key={{t "subject"}}
              @value={{@activity.mailSubject}}
            />
            <Auk::Label>
              {{t "translation-mail-header"}}
            </Auk::Label>
            <div class="auk-u-text-pre vlc-mail-content">
              <pre>
                {{@activity.mailContent}}
              </pre>
            </div>
          </div>
          <div class="auk-o-grid-col-4">
            <Auk::Label>
              {{t "files"}}
            </Auk::Label>
            <Auk::List @bordered={{true}}>
              {{#each (await @activity.usedPieces) as |translationSourcePiece|}}
                <Auk::List::Item @skin="gray-100">
                  <Auk::Badge @skin="white" @icon="document" />
                  <div class="auk-u-mx-2">
                    <span class="auk-u-text-bold">
                      {{translationSourcePiece.name}}
                    </span>
                    <div class="auk-u-muted auk-u-text-small">
                      {{await translationSourcePiece.documentContainer.type.altLabel}} - {{await translationSourcePiece.file.extension}}
                    </div>
                  </div>
                  <WebComponents::AuButtonToolbar>
                    <Auk::Button
                      @layout="icon-only"
                      @skin="borderless"
                      @icon="book"
                      {{on "click" (fn this.showPieceViewer translationSourcePiece) }}
                    />
                  </WebComponents::AuButtonToolbar>
                </Auk::List::Item>
              {{/each}}
            </Auk::List>
          </div>
        </div>
      </Auk::Panel::Body>
    {{/if}}
  </Auk::Panel>
</div>