<Auk::List>
  {{#each @pieces as |piece|}}
    <Auk::List::Item data-test-publication-document-list-piece>
      <div
        class="auk-o-flex auk-o-flex--spaced-wide auk-o-flex--vertical-center auk-u-maximize-width"
      >
        <div class="auk-o-flex auk-o-flex--spaced">
          <Auk::Badge @icon="paperclip" @size="regular" />
          <h5 class="auk-h4 auk-u-m-0">{{piece.file.downloadFilename}}</h5>
        </div>
        {{#if @setReceivedDate}}
          <div class="auk-form-group auk-u-width-medium auk-u-m-0">
            <Auk::Datepicker
              @placeholder={{t "date-received-placeholder"}}
              @date={{piece.receivedDate}}
              @onChange={{fn @setReceivedDate piece}}
            />
          </div>
        {{/if}}
        <div>
          <AuButtonGroup>
            <AuLink
              @skin="button-naked"
              @icon="download"
              @hideText={{true}}
              @href={{piece.file.namedDownloadLink}}
              download={{piece.file.downloadFilename}}
            >
              {{t "download"}}
            </AuLink>
            {{#if @viewable}}
              <AuLink
                @skin="button-naked"
                @icon="book"
                @hideText={{true}}
                @href={{piece.viewDocumentURL}}
                target="_blank"
              >
                {{t "read"}}
              </AuLink>
            {{/if}}
            {{#if @onDeletePiece}}
              <AuButton
                data-test-publication-document-list-delete-piece
                @skin="naked"
                @alert={{true}}
                @icon="trash"
                @hideText={{true}}
                {{on "click" (fn @onDeletePiece piece)}}
              >
                {{t "delete"}}
              </AuButton>
            {{/if}}
          </AuButtonGroup>
        </div>
      </div>
    </Auk::List::Item>
  {{/each}}
</Auk::List>