<WebComponents::AuTabs @reversed="true">
  <WebComponents::AuTab @isHierarchicalBack="true" @route="publications"
                        data-test-publication-case-nav-go-back></WebComponents::AuTab>
  <WebComponents::AuTab @route="publications.publication.case" data-test-publication-case-nav-case>
    {{t "agendaitem-case"}}
  </WebComponents::AuTab>
  {{!-- TODO adapt tab content classes to new CSS once available in CSS-package --}}
  <WebComponents::AuTab @route="publications.publication.documents" data-test-publication-case-nav-documents>
    <div class="auk-o-flex auk-o-flex--center">
      <span class="auk-u-mr-2">{{t "documents"}}</span>
      {{#unless this.loadData.isRunning}}
        <p>({{this.documentsCount}})</p>
      {{/unless}}
    </div>
  </WebComponents::AuTab>
  <WebComponents::AuTab @route="publications.publication.translations" data-test-publication-case-nav-translations>
    <div class="auk-o-flex auk-o-flex--center">
      <span class="auk-u-mr-2">{{t "translations"}}</span>
    </div>
  </WebComponents::AuTab>
  <WebComponents::AuTab @route="publications.publication.publishpreview" data-test-publication-case-nav-publishpreview>
    <div class="auk-o-flex auk-o-flex--center">
      <span class="auk-u-mr-2">{{t "publishpreview-requests"}}</span>
    </div>
  </WebComponents::AuTab>
</WebComponents::AuTabs>