<Auk::Tabs @reversed={{true}}>
  <Auk::Tab
    @isHierarchicalBack={{true}}
    @route="publications.overview"
    data-test-publication-nav-go-back
  >
    {{t "all-cases"}}
  </Auk::Tab>
  <Auk::Tab
    @route="publications.publication.case"
    data-test-publication-nav-case
  >
    {{t "publication-details-tab-publication-case"}}
  </Auk::Tab>
  <Auk::Tab
    @route="publications.publication.decisions"
    @counter={{this.numberOfDocuments}}
    data-test-publication-nav-decisions
  >
    {{t "publication-details-tab-decisions"}}
  </Auk::Tab>
  <Auk::Tab
    @route="publications.publication.translations"
    data-test-publication-nav-translations
  >
    <div class="auk-o-flex auk-o-flex--center">
      <span>{{t "translation"}}</span>
    </div>
  </Auk::Tab>
  <Auk::Tab
    @route="publications.publication.proofs"
    data-test-publication-nav-proofs
  >
    <div class="auk-o-flex auk-o-flex--center">
      <span>{{t "proof"}}</span>
    </div>
  </Auk::Tab>
  <Auk::Tab
    data-test-publication-nav-publications
    @route="publications.publication.publication-activities"
  >
    <div class="auk-o-flex auk-o-flex--center">
      <span>{{t "publication-flow"}}</span>
    </div>
  </Auk::Tab>
</Auk::Tabs>