<Auk::FileUploader
  @multiple={{true}}
  @reusable={{true}}
  @onUpload={{@onUpload}}
  @validateFile={{this.validateFile}}
/>
{{#if this.triedToUploadTooLargeFile}}
  <AuAlert
    @title={{t "warning-title"}}
    @skin="error"
    @icon="circle-x"
    @size="small"
    @closable={{true}}
    @onClose={{toggle "triedToUploadTooLargeFile" this}}
    class="au-u-margin-top-tiny"
  >
    <p>{{t "attachment-was-too-large"}}</p>
  </AuAlert>
{{/if}}