<Auk::AccordionPanel
  data-test-request-activity-panel
  @isDefaultActive={{true}} as |AccordionPanel|
>
  <AccordionPanel.Header
    @size="large"
    @title={{@title}}
    @subtitle={{moment-format @requestActivity.startDate}}
    as |Header|
  >
    <Header.Actions as |Actions|>
      <Actions.Item>
        {{#unless @isDisabledDelete}}
          <AuDropdown
            data-test-request-activity-panel-dropdown
            @icon="three-dots"
            @title={{t "more"}}
            @hideText={{true}}
            @alignment="right"
          >
            <AuButton
              data-test-request-activity-panel-delete
              @skin="link"
              @alert={{true}}
              {{on "click" this.openConfirmDeleteAlert}}
              role="menuitem"
            >
              {{t "delete"}}
            </AuButton>
          </AuDropdown>
        {{/unless}}
      </Actions.Item>
    </Header.Actions>
  </AccordionPanel.Header>
  <AccordionPanel.Body>
    <Publications::Publication::PublicationDocumentsList
      @pieces={{@requestActivity.usedPieces}}
      @viewable={{true}}
    />
    {{#if @requestActivity.email}}
      <div class="auk-hr"></div>
      <div class="auk-content">
        <h4 class="auk-u-m-0">{{t "subject"}}</h4>
        <p>{{@requestActivity.email.subject}}</p>
        <h4 class="auk-u-m-0">{{t "message"}}</h4>
        {{! TODO: Remove inline style }}
        {{! template-lint-disable no-inline-styles }}
        {{! p-tag opening and closing on 1 line to prevent whitespace to be rendered. }}
        {{! prettier-ignore }}
        <p data-test-request-activity-panel-message style="white-space:pre-line;">{{@requestActivity.email.message}}</p>
        {{! template-lint-enable no-inline-styles }}
      </div>
    {{/if}}
  </AccordionPanel.Body>
</Auk::AccordionPanel>

{{#if this.isOpenConfirmDeleteAlert}}
  <Utils::Generic::AlertDialog
    @use="delete"
    @title={{t "delete-request"}}
    @message={{t "delete-request-message"}}
    @onCancel={{this.closeConfirmDeleteAlert}}
    @onConfirm={{perform this.delete}}
  />
{{/if}}