<div class="auk-u-mb-2 {{if this.documentContainer.aboutToDelete "vlc-document--deleted-state" }}"
  {{did-update (perform this.loadPieceRelatedData) @piece}}
  {{did-update (perform this.loadPieceRelatedData) @documentContainer}}
>
  <div class="vlc-document-card" data-test-document-card>
    <div class="vlc-document-card__summary">
      <div class="vlc-document-card__content">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              <p class="vlc-subline vlc-document-card__subline">
                {{#unless this.loadPieceRelatedData.isRunning}}
                  {{this.documentContainer.type.label}}
                {{/unless}}
              </p>
            </div>
          </div>
          <div class="vlc-document-card-toolbar__right">
            <div class="vlc-toolbar__item auk-u-flex">
              {{#unless this.loadPieceRelatedData.isRunning}}
                <AccessLevelPill
                  @accessLevel={{this.accessLevel}}
                  @confidential={{this.piece.confidential}}
                  @onChangeAccessLevel={{this.changeAccessLevel}}
                  @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                  @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                  @onChangeConfidentiality={{this.changeConfidentiality}}
                />
              {{/unless}}
            </div>
            <div class="vlc-toolbar__item">
              {{#if this.currentSession.isEditor}}
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  data-test-documents-show-more
                  type="button"
                >
                  <i class="ki-more"></i>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom"
                    as |attacher|
                  >
                    <ul class="vlc-dropdown-menu">
                      <li class="vlc-dropdown-menu__item">
                        <button class="vl-link vl-link--block" type="button"
                          data-test-document-upload-new-piece
                          {{on "click" attacher.hide}}
                          {{on "click" (fn this.openUploadModal)}}
                        >
                          {{t "new-version"}}
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__item">
                        <button class="vl-link vl-link--block" type="button"
                          {{on "click" attacher.hide}}
                          {{on "click" this.enableEditPieceName}}
                        >
                          {{t "document-title-edit"}}
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                      <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                        <button class="vl-link vl-link--block vl-u-text--error" type="button"
                          {{on "click" attacher.hide}}
                          {{on "click" this.deleteDocumentContainer}}
                        >
                          {{t "document-delete"}}
                        </button>
                      </li>
                    </ul>
                  </AttachPopover>
                </button>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="auk-u-flex">
          {{!-- TODO: make checkAdded a DDAU @isHighlighted --}}
          <div class="vlc-document-card__badge
            {{if
              @documentContainer.checkAdded
              "vlc-document-list__item vlc-document-list__item--active"
            }}"
          >
            <div class="vl-badge vl-badge--icon vl-badge--alt vl-badge--small-medium vl-icon-wrapper">
              <i class="vl-badge__icon ki-document" aria-hidden="true"></i>
            </div>
          </div>
          <div class="auk-u-flex auk-u-flex--vertical vlc-u-box-model-maximize-width">
            {{#if this.isEditingPiece}}
              <div class="auk-u-flex auk-u-flex--vertical-center">
                <Input
                  class="vl-input-field vl-input-field--block"
                  @type="text"
                  @value={{this.pieceNameBuffer}}
                />
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  type="button"
                  {{on "click" (perform this.savePieceName)}}
                >
                  <i
                    class="ki-check vl-button__icon"
                    aria-hidden="true"
                  ></i>
                  <span class="vl-u-visually-hidden">
                    {{t "more-options"}}
                  </span>
                </button>
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  type="button"
                  {{on "click" this.cancelEditPieceName}}
                >
                  <i
                    class="ki-cross vl-button__icon"
                    aria-hidden="true"
                  ></i>
                  <span class="vl-u-visually-hidden">
                    {{t "more-options"}}
                  </span>
                </button>
              </div>
            {{else}}
              <h6 class="vl-title vl-title--h6">
                <span {{on "click" this.enableEditPieceName}}>
                  {{this.piece.name}}
                </span>
              </h6>
            {{/if}}
            <div class="vlc-document-card-content__meta">
              {{t "uploaded-at"}}
              {{moment-format this.piece.created}}
              {{t "at"}}
              {{moment-format this.piece.created "HH:mm"}}
              {{#if this.piece.accessLevelLastModified}}
                <div>
                  {{t "access-level-last-modified"}}
                  {{moment-format this.piece.accessLevelLastModified}}
                  {{t "at"}}
                  {{moment-format this.piece.accessLevelLastModified "HH:mm"}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{if this.isExpandedVersionHistory "js-vl-accordion--open"}}">
        <button
          class="vl-toggle vl-link vl-link--bold"
          type="button"
          disabled={{this.loadPieceRelatedData.isRunning}}
          data-test-show-pieces-history
          {{on "click" (if this.isExpandedVersionHistory this.collapseVersionHistory (perform this.expandVersionHistory))}}
        >
          <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"
          ></i>
          {{t "show-pieces"}}
          {{#if this.expandVersionHistory.isRunning}}
            <WebComponents::AuLoader/>
          {{/if}}
        </button>
        {{#if this.isExpandedVersionHistory}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each this.visiblePieces as |piece|}}
                {{!-- TODO: also  disable delete when piece linked to other agenda-items while maintaining DDAU --}}
                <WebComponents::VlDocument
                  @piece={{piece}}
                  @enableDelete={{eq piece @piece}}
                  @didDeletePiece={{@didDeletePiece}}
                  @didUpdateAccessLevel={{perform this.loadPieceRelatedData}}
                />
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if this.isOpenUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadPiece}}
    @isOverlay={{true}}
    @title={{t "new-document-piece"}}>
    <div class="vl-modal-dialog__content">
      {{#if this.newPiece}}
        <WebComponents::VlFormLabel @value={{t "name"}} />
        <WebComponents::VlFormInput
          @value={{this.newPiece.name}}/>
        <Documents::DocumentUpload
          @piece={{this.newPiece}}
          @onDelete={{perform this.deleteUploadedPiece}} />
      {{else}}
        <FileUploader @multipleFiles={{false}} @uploadedFileAction={{perform this.uploadPiece}}/>
      {{/if}}
    </div>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @isLoading={{this.addPiece.isRunning}}
      @cancelAction={{perform this.cancelUploadPiece}}
      @saveAction={{perform this.addPiece}}
      @disableSave={{not this.newPiece}} />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{this.cancelDeleteDocumentContainer}}
    @verify={{this.verifyDeleteDocumentContainer}} />
{{/if}}