{{#if (gt this.publishPreviewActivities.length 0)}}
  {{#each this.publishPreviewActivities as |activity|}}
    <div class="auk-u-m-2">
      <WebComponents::AuNavbar @noPadding="true" @border="none">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-toolbar-complex__title">{{t "requested-on"}} {{moment-format activity.startDate "DD MMMM YYYY [om] H:mm"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton
                      @skin="tertiary"
                {{on "click" this.cancelExistingPublishPreviewActivity}}>
                {{t "cancel-translation"}}
              </WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
      <div class="auk-u-my-2">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col auk-o-grid-col-bp2-3 auk-u-mb-3">
            <div class="auk-form-group">
              <WebComponents::AuLabel>{{t "publication-form-numac-nummer"}}</WebComponents::AuLabel>
              {{!--TODO remove the readonly field --}}
              {{!--Value moet nog komen vanaf het model (activity) --}}
              <WebComponents::AuInput readonly></WebComponents::AuInput>
            </div>
            {{!--TODO set to the correct propperty null --}}
            {{#if this.withdrawn}}
              <div class="auk-form-group">
                <WebComponents::AuKeyValue @key="Ingetrokken op" @value={{moment-format null "DD MMMM YYYY [om] H:mm"}}/>
              </div>
            {{/if}}
          </div>
          <div class="auk-o-grid-col-bp2-9">
            <div class="auk-u-ml-4 auk-u-mb-4">
              {{!-- Request panel --}}
              <Publications::Publication::ActivityRequestPanel @activity={{activity}}/>
              {{!-- PublishPreview panel --}}
              <div class="auk-u-mb-3">
                <WebComponents::AuPanel>
                  <WebComponents::AuPanel::Header>
                    <WebComponents::AuToolbar>
                      <WebComponents::AuToolbar::Group @position="left">
                        <WebComponents::AuToolbar::Item>
                          <h4 class="auk-toolbar-complex__title">{{t "publishpreview"}}</h4>
                        </WebComponents::AuToolbar::Item>
                      </WebComponents::AuToolbar::Group>
                      <WebComponents::AuToolbar::Group @position="right">
                        <WebComponents::AuToolbar::Item>
                          <WebComponents::AuButton
                                  @skin="tertiary"
                                  @icon="add"
                            {{on "click" this.addPublishPreview}}>
                            {{t "add-publishpreview"}}
                          </WebComponents::AuButton>
                        </WebComponents::AuToolbar::Item>
                      </WebComponents::AuToolbar::Group>
                    </WebComponents::AuToolbar>
                  </WebComponents::AuPanel::Header>
                  <WebComponents::AuPanel::Body>
                  {{!-- TODO set to loop over drukproeven --}}
                  {{#if (await activity.generatedPieces)}}
                    <ul class="auk-list auk-list--bordered">
                      {{#each (await activity.generatedPieces) as |generatedPiece|}}
                      {{!-- TODO filter on drukproeven --}}
                        <li class="auk-list__item auk-list__item--gray-100">
                          <WebComponents::AuBadge @skin="white" @icon="document"/>
                          <div class="auk-u-mx-2">
                            <span class="auk-u-text-bold">{{generatedPiece.name}}</span>
                            <div class="auk-u-muted auk-u-text-small">{{await generatedPiece.file.extension}}</div>
                          </div>
                          <WebComponents::AuButtonToolbar>
                            <WebComponents::AuButton {{on "click" (fn this.showPieceViewer generatedPiece) }} @layout="icon-only" @skin="borderless" @icon="book"/>
                            <WebComponents::AuButton @layout="icon-only" @skin="borderless" @icon="more">
                              <AttachPopover
                                      @renderInPlace={{true}}
                                      @class="ember-attacher-popper"
                                      @hideOn="clickout click"
                                      @showOn="click"
                                      @animation="shift"
                                      @placement="bottom"
                                {{!-- as |attacher| --}}
                              >
                                <WebComponents::AuDropdown>
                                  <WebComponents::AuDropdown::Item {{on "click" this.editPublishPreview}}>
                                    {{t "edit-2"}}
                                  </WebComponents::AuDropdown::Item>
                                  <WebComponents::AuDropdown::Item @skin="danger" {{on "click" this.deletePublishPreview}}>
                                    {{t "delete"}}
                                  </WebComponents::AuDropdown::Item>
                                </WebComponents::AuDropdown>
                              </AttachPopover>
                            </WebComponents::AuButton>
                          </WebComponents::AuButtonToolbar>
                        </li>
                      {{/each}}
                    </ul>
                  {{else}}
                    <WebComponents::AuEmptyState @message={{t "no-publishpreview-added"}}/>
                  {{/if}}

                  </WebComponents::AuPanel::Body>
                </WebComponents::AuPanel>
              </div>
              {{!-- Correction panel --}}
              <div class="auk-u-mb-3">
                <WebComponents::AuPanel>
                  <WebComponents::AuPanel::Header>
                    <WebComponents::AuToolbar>
                      <WebComponents::AuToolbar::Group @position="left">
                        <WebComponents::AuToolbar::Item>
                          <h4 class="auk-toolbar-complex__title">{{t "correction"}}</h4>
                        </WebComponents::AuToolbar::Item>
                      </WebComponents::AuToolbar::Group>
                      <WebComponents::AuToolbar::Group @position="right">
                        <WebComponents::AuToolbar::Item>
                          <WebComponents::AuButton
                                  @skin="tertiary"
                                  @icon="add"
                            {{on "click" this.addCorrection}}>
                            {{t "add-correction"}}
                          </WebComponents::AuButton>
                        </WebComponents::AuToolbar::Item>
                      </WebComponents::AuToolbar::Group>
                    </WebComponents::AuToolbar>
                  </WebComponents::AuPanel::Header>
                  <WebComponents::AuPanel::Body>
                  {{!-- TODO set to loop over verbteringen --}}
                  {{#if (await activity.generatedPieces)}}
                    <ul class="auk-list auk-list--bordered">
                      {{#each (await activity.generatedPieces) as |generatedPiece|}}
                        {{!-- TODO filter on verberteringen --}}
                        <li class="auk-list__item auk-list__item--gray-100">
                          <WebComponents::AuBadge @skin="white" @icon="document"/>
                          <div class="auk-u-mx-2">
                            <span class="auk-u-text-bold">{{generatedPiece.name}}</span>
                            <div class="auk-u-muted auk-u-text-small">{{await generatedPiece.file.extension}}</div>
                          </div>
                          <WebComponents::AuButtonToolbar>
                            <WebComponents::AuButton {{on "click" (fn this.showPieceViewer generatedPiece) }} @layout="icon-only" @skin="borderless" @icon="book"/>
                            <WebComponents::AuButton @layout="icon-only" @skin="borderless" @icon="more">
                              <AttachPopover
                                      @renderInPlace={{true}}
                                      @class="ember-attacher-popper"
                                      @hideOn="clickout click"
                                      @showOn="click"
                                      @animation="shift"
                                      @placement="bottom"
                                {{!-- as |attacher| --}}
                              >
                                <WebComponents::AuDropdown>
                                  <WebComponents::AuDropdown::Item {{on "click" this.editCorrection}}>
                                    {{t "edit-2"}}
                                  </WebComponents::AuDropdown::Item>
                                  <WebComponents::AuDropdown::Item {{on "click" this.deleteCorrection}} @skin="danger">
                                    {{t "delete"}}
                                  </WebComponents::AuDropdown::Item>
                                </WebComponents::AuDropdown>
                              </AttachPopover>
                            </WebComponents::AuButton>
                          </WebComponents::AuButtonToolbar>
                        </li>
                      {{/each}}
                    </ul>
                  {{else}}
                    <WebComponents::AuEmptyState @message={{t "no-corrections"}}/>
                  {{/if}}
                  </WebComponents::AuPanel::Body>
                </WebComponents::AuPanel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Body>
      <WebComponents::AuEmptyState @message={{t "no-publishpreview-requests"}}/>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
{{/if}}
