{{#if (gt this.publishPreviewActivities.length 0)}}
  {{#each this.publishPreviewActivities as |activity|}}
    <div class="auk-u-m-2">
      <WebComponents::AuNavbar @noPadding="true" @border="none">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-toolbar-complex__title">
                {{t "requested-on"}} {{moment-format activity.startDate "DD MMMM YYYY [om] H:mm"}}
              </h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">




            {{#if (await activity.isWithdrawn) }}

              <WebComponents::AuToolbar::Item>
                <WebComponents::AuPillList>
                  <WebComponents::AuPill @skin="danger">{{t "cancelled-request"}} {{moment-format activity.endDate "DD MMMM YYYY [om] H:mm"}}</WebComponents::AuPill>
                </WebComponents::AuPillList>
              </WebComponents::AuToolbar::Item>

            {{else if (await activity.isFinished) }}

              <WebComponents::AuToolbar::Item>
                {{t "publishpreview"}} {{t "finished"}} {{moment-format activity.endDate "DD MMMM YYYY [om] H:mm"}}
              </WebComponents::AuToolbar::Item>


              <WebComponents::AuToolbar::Item>
                {{#if (await activity.wasPublished)}}
                  {{t "publications-published"}} {{moment-format activity.endDate "DD MMMM YYYY [om] H:mm"}}
                {{else if (await activity.hasOpenPublishingActivity)}}
                  <WebComponents::AuButton
                          @skin="primary"
                    {{on "click" (fn this.markPublicationActivityPublished activity)}}>
                    {{t "publications-published"}}
                  </WebComponents::AuButton>
                  <WebComponents::AuButton
                          @skin="tertiary"
                    {{on "click" (fn this.cancelExistingPublicationActivity activity)}}>
                    {{t "cancel-request"}}
                  </WebComponents::AuButton>
                {{else}}
                  <WebComponents::AuButton
                          @skin="primary"
                    {{on "click" (fn this.requestPublicationModal activity )}}>
                    {{t "request-publication"}}
                  </WebComponents::AuButton>
                {{/if}}
              </WebComponents::AuToolbar::Item>

            {{else}}

              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButton
                        @skin="tertiary"
                  {{on "click" (fn this.cancelExistingPreviewActivity activity)}}>
                  {{t "cancel-request"}}
                </WebComponents::AuButton>
              </WebComponents::AuToolbar::Item>

              <WebComponents::AuToolbar::Item>
                <WebComponents::AuCheckbox
                        @toggle={{fn this.markPreviewActivityDone activity}}
                        @label="Afgewerkt"/>
              </WebComponents::AuToolbar::Item>

            {{/if}}

          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
      <div class="auk-u-my-2">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col auk-o-grid-col-bp2-3 auk-u-mb-3">
            <div class="auk-form-group">
              <WebComponents::AuLabel>{{t "publication-form-numac-nummer"}}</WebComponents::AuLabel>
              {{!--TODO remove the readonly field --}}
              {{!--Value moet nog komen vanaf het model (activity) --}}
              <WebComponents::AuInput readonly></WebComponents::AuInput>
            </div>
            {{!--TODO set to the correct propperty null --}}
            {{#if this.withdrawn}}
              <div class="auk-form-group">
                <WebComponents::AuKeyValue @key="Ingetrokken op" @value={{moment-format null "DD MMMM YYYY [om] H:mm"}}/>
              </div>
            {{/if}}
          </div>
          <div class="auk-o-grid-col-bp2-9">
            <div class="auk-u-ml-4 auk-u-mb-4">
              {{!-- Request panel --}}
              <Publications::Publication::ActivityRequestPanel @activity={{activity}}/>
              {{!-- PublishPreview panel --}}
              <div class="auk-u-mb-3">
                <WebComponents::AuPanel>
                  <WebComponents::AuPanel::Header>
                    <WebComponents::AuToolbar>
                      <WebComponents::AuToolbar::Group @position="left">
                        <WebComponents::AuToolbar::Item>
                          <h4 class="auk-toolbar-complex__title">{{t "publishpreview"}}</h4>
                        </WebComponents::AuToolbar::Item>
                      </WebComponents::AuToolbar::Group>
                      <WebComponents::AuToolbar::Group @position="right">
                        <WebComponents::AuToolbar::Item>
                          {{#if (not (await activity.generatedPieces))}}
                            <WebComponents::AuButton
                                    @skin="tertiary"
                                    @icon="add"
                              {{on "click" (fn this.openUploadPublishPreviewModal activity)}}>
                              {{t "add-publishpreview"}}
                            </WebComponents::AuButton>
                          {{/if}}
                        </WebComponents::AuToolbar::Item>
                      </WebComponents::AuToolbar::Group>
                    </WebComponents::AuToolbar>
                  </WebComponents::AuPanel::Header>
                  <WebComponents::AuPanel::Body>
                    {{#if (await activity.generatedPieces)}}
                      <ul class="auk-list auk-list--bordered">
                        {{#each (await activity.generatedPieces) as |generatedPiece|}}
                          {{#if (not (await generatedPiece.previousPiece))}}
                            <li class="auk-list__item auk-list__item--gray-100">
                              <WebComponents::AuBadge @skin="white" @icon="document"/>
                              <div class="auk-u-mx-2">
                                <span class="auk-u-text-bold">{{generatedPiece.name}}</span>
                                <div class="auk-u-muted auk-u-text-small">{{await generatedPiece.file.extension}}</div>
                              </div>
                              <WebComponents::AuButtonToolbar>
                                <WebComponents::AuButton {{on "click" (fn this.showPieceViewer generatedPiece)}} @layout="icon-only" @skin="borderless" @icon="book"/>
                                <WebComponents::AuButton @layout="icon-only" @skin="borderless" @icon="more">
                                  <AttachPopover
                                          @renderInPlace={{true}}
                                          @class="ember-attacher-popper"
                                          @hideOn="clickout click"
                                          @showOn="click"
                                          @animation="shift"
                                          @placement="bottom"
                                  >
                                    <WebComponents::AuDropdown>
                                      <WebComponents::AuDropdown::Item {{on "click" this.editPublishPreview}}>
                                        {{t "edit-2"}}
                                      </WebComponents::AuDropdown::Item>
                                      {{#if (not (await generatedPiece.nextPiece))}}
                                        <WebComponents::AuDropdown::Item @skin="danger" {{on "click" (fn this.deleteExistingPiece generatedPiece activity)}}>
                                          {{t "delete"}}
                                        </WebComponents::AuDropdown::Item>
                                      {{/if}}
                                    </WebComponents::AuDropdown>
                                  </AttachPopover>
                                </WebComponents::AuButton>
                              </WebComponents::AuButtonToolbar>
                            </li>
                          {{/if}}
                        {{/each}}
                      </ul>
                    {{else}}
                      <WebComponents::AuEmptyState @message={{t "no-publishpreview-added"}}/>
                    {{/if}}
                  </WebComponents::AuPanel::Body>
                </WebComponents::AuPanel>
              </div>
              {{!-- Correction panel --}}
              {{#if (await activity.generatedPieces)}}
                <div class="auk-u-mb-3">
                  <WebComponents::AuPanel>
                    <WebComponents::AuPanel::Header>
                      <WebComponents::AuToolbar>
                        <WebComponents::AuToolbar::Group @position="left">
                          <WebComponents::AuToolbar::Item>
                            <h4 class="auk-toolbar-complex__title">{{t "correction"}}</h4>
                          </WebComponents::AuToolbar::Item>
                        </WebComponents::AuToolbar::Group>
                        <WebComponents::AuToolbar::Group @position="right">
                          <WebComponents::AuToolbar::Item>
                            <WebComponents::AuButton
                                    @skin="tertiary"
                                    @icon="add"
                              {{on "click" (fn this.openUploadPublishPreviewCorrectionModal activity)}}>
                              {{t "add-correction"}}
                            </WebComponents::AuButton>
                          </WebComponents::AuToolbar::Item>
                        </WebComponents::AuToolbar::Group>
                      </WebComponents::AuToolbar>
                    </WebComponents::AuPanel::Header>
                    <WebComponents::AuPanel::Body>
                    {{!-- TODO set to loop over verbteringen --}}
                    {{#if (gt (await activity.generatedPieces.length) 1)}}
                      <ul class="auk-list auk-list--bordered">
                        {{#each (await activity.generatedPieces) as |generatedPiece|}}
                          {{#if (await generatedPiece.previousPiece)}}
                            <li class="auk-list__item auk-list__item--gray-100">
                              <WebComponents::AuBadge @skin="white" @icon="document"/>
                              <div class="auk-u-mx-2">
                                <span class="auk-u-text-bold">{{generatedPiece.name}}</span>
                                <div class="auk-u-muted auk-u-text-small">{{await generatedPiece.file.extension}}</div>
                              </div>
                              <WebComponents::AuButtonToolbar>
                                <WebComponents::AuButton {{on "click" (fn this.showPieceViewer generatedPiece) }} @layout="icon-only" @skin="borderless" @icon="book"/>
                                <WebComponents::AuButton @layout="icon-only" @skin="borderless" @icon="more">
                                  <AttachPopover
                                          @renderInPlace={{true}}
                                          @class="ember-attacher-popper"
                                          @hideOn="clickout click"
                                          @showOn="click"
                                          @animation="shift"
                                          @placement="bottom"
                                  >
                                    <WebComponents::AuDropdown>
                                      <WebComponents::AuDropdown::Item {{on "click" this.editCorrection}}>
                                        {{t "edit-2"}}
                                      </WebComponents::AuDropdown::Item>
                                      {{#if (not (await generatedPiece.nextPiece))}}
                                        <WebComponents::AuDropdown::Item {{on "click" (fn this.deleteExistingPiece generatedPiece activity)}} @skin="danger">
                                          {{t "delete"}}
                                        </WebComponents::AuDropdown::Item>
                                      {{/if}}
                                    </WebComponents::AuDropdown>
                                  </AttachPopover>
                                </WebComponents::AuButton>
                              </WebComponents::AuButtonToolbar>
                            </li>
                          {{/if}}
                        {{/each}}
                      </ul>
                    {{else}}
                      <WebComponents::AuEmptyState @message={{t "no-corrections"}}/>
                    {{/if}}
                    </WebComponents::AuPanel::Body>
                  </WebComponents::AuPanel>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Body>
      <WebComponents::AuEmptyState @message={{t "no-publishpreview-requests"}}/>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
{{/if}}


{{!--     UPLOAD PUBLISH-PREVIEW MODAL       --}}


{{#if this.isOpenUploadPublishPreviewModal}}
  <WebComponents::AuModal
    @resized={{this.isUploadModalResized}}
  >
    <WebComponents::AuModal::Header
      @resizeable={{true}}
      @title={{t "upload-publishpreview"}}
      @toggleSize={{this.toggleUploadModalSize}}
      @closeModal={{perform this.cancelUploadPublishPreview}}
    />
    <WebComponents::AuModal::Body>
      {{#if this.pieceInCreation}}
        <div class="o-flex o-flex--vertical-center auk-u-mt-3">
          <div class="auk-u-mr-3">
            <WebComponents::AuLabel for="name">{{t "name"}}</WebComponents::AuLabel>
          </div>
          <WebComponents::AuInput type="text" id="name" @block="true" @value={{this.pieceInCreation.name}}/>
          <div class="auk-u-ml-3">
            <WebComponents::AuButton 
              {{on "click" (perform this.deleteUploadedPiece this.pieceInCreation)}}
              @layout="icon-only"
              @icon="delete"
            />
          </div>
        </div>
      {{else}}
        <WebComponents::AuFileUploader @fullHeight={{true}} @multipleFiles={{false}} @uploadedFileAction={{perform this.uploadPublishPreview}}/>
      {{/if}}
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @cancelModal={{perform this.cancelUploadPublishPreview}}>
      {{#if this.savePublishPreviewOrCorrection.isRunning}}
        <Utils::SimpleSpinner></Utils::SimpleSpinner>
      {{else}}
        <WebComponents::AuButton
          data-test-au-modal-footer-save
          @skin="primary"
          @disabled={{not this.pieceInCreation}}
          {{on "click" (perform this.savePublishPreviewOrCorrection)}}
        >
          {{t "save"}}
        </WebComponents::AuButton>
      {{/if}}
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}

{{!--     UPLOAD PUBLISH-PREVIEW CORRECTION MODAL       --}}


{{#if this.isOpenUploadPublishPreviewCorrectionModal}}
  <WebComponents::AuModal
    @resized={{this.isUploadModalResized}}
  >
    <WebComponents::AuModal::Header
      @resizeable={{true}}
      @title={{t "upload-publishpreview-correction"}}
      @toggleSize={{this.toggleUploadModalSize}}
      @closeModal={{perform this.cancelUploadPublishPreviewCorrection}}
    />
    <WebComponents::AuModal::Body>
      {{#if this.pieceInCreation}}
        <div class="o-flex o-flex--vertical-center auk-u-mt-3">
          <div class="auk-u-mr-3">
            <WebComponents::AuLabel for="name">{{t "name"}}</WebComponents::AuLabel>
          </div>
          <WebComponents::AuInput type="text" id="name" @block="true" @value={{this.pieceInCreation.name}}/>
          <div class="auk-u-ml-3">
            <WebComponents::AuButton 
              {{on "click" (perform this.deleteUploadedPiece this.pieceInCreation)}}
              @layout="icon-only"
              @icon="delete"
            />
          </div>
        </div>
      {{else}}
        <WebComponents::AuFileUploader @fullHeight={{true}} @multipleFiles={{false}} @uploadedFileAction={{perform this.uploadPublishPreviewCorrection}}/>
      {{/if}}
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @cancelModal={{perform this.cancelUploadPublishPreviewCorrection}}>
      {{#if this.savePublishPreviewOrCorrection.isRunning}}
        <Utils::SimpleSpinner></Utils::SimpleSpinner>
      {{else}}
        <WebComponents::AuButton
          data-test-au-modal-footer-save
          @skin="primary"
          @disabled={{not this.pieceInCreation}}
          {{on "click" (perform this.savePublishPreviewOrCorrection)}}
        >
          {{t "save"}}
        </WebComponents::AuButton>
      {{/if}}
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}


{{!-- VERIFY DELETE PIECE MODAL --}}


{{!-- TODO replace this with Au variant --}}
{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{action this.cancelDeleteExistingPiece}}
    @verify={{perform this.verifyDeleteExistingPiece}} />
{{/if}}



{{!--      REQUEST PUBLISH PREVIEW  MODAL       --}}


{{#if this.showpublicationModal}}
  <WebComponents::AuModal>
    <WebComponents::AuModal::Header
            @title={{t "request-publication"}}
            @closeModal={{this.cancelPublicationModal}}
    />
    <WebComponents::AuModal::Body>
    {{!--  Pieces selected --}}
      {{t "request-publishpreview-confirmation" }}

      <WebComponents::AuLabel @isRequired={{true}}>
        {{t "accompanying-text"}}
      </WebComponents::AuLabel>
      <WebComponents::AuTextarea
              id="emailMessage"
              @rows="7"
              @value={{mut this.publicationActivity.mailContent}}
              data-test-create-publishpreviewActivity-modal-email-textarea/>

    </WebComponents::AuModal::Body>

    <WebComponents::AuModal::Footer @cancelModal={{this.cancelPublicationModal}}>
      <WebComponents::AuButton
              data-test-au-modal-footer-save
              @skin="primary"
        {{on "click" (fn this.createPublicationActivity this.publicationActivity.activity)}}
      >
        {{t "request-publication"}}
      </WebComponents::AuButton>
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}


{{!-- LOADER --}}

{{#if this.showLoader}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}