<div class="auk-o-flex--justify-between">
  <Auk::Button
    data-test-newsletter-table-button-toolbar-edit={{true}}
    @skin="borderless"
    @layout="icon-only"
    @icon="pencil"
    {{on "click" @onEdit}}
  />
  {{#if (is-pending (await @agendaitem.notaOrVisienota))}}
    <div class="auk-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{else}}
    <Auk::Button
      @skin="borderless"
      @layout="icon-only"
      @icon="document"
      @disabled={{not (await @agendaitem.notaOrVisienota)}}
      {{on "click" this.openNota}}
    >
      <:floater>
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{if (await @agendaitem.notaOrVisienota) (t "open-note") (t "no-nota")}}
        </EmberTooltip>
      </:floater>
    </Auk::Button>
  {{/if}}
  <Auk::Button
    data-test-newsletter-table-button-toolbar-link-to-agendaitem={{true}}
    @skin="borderless"
    @layout="icon-only"
    @icon="chevron-right"
    @route="agenda.agendaitems.agendaitem"
    @models={{array
      (await this.latestMeetingId)
      (await this.latestAgendaId)
      (await this.latestAgendaitemId)
    }}
    target="_blank"
  />
</div>