<div class="auk-u-flex--justify-between">
  <button
    type="button"
    class="auk-button auk-button--borderless auk-button--icon"
    {{on "click" @onEdit}}
  >
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-pencil"></i>
    </div>
  </button>
  {{#if (is-pending (await @agendaitem.nota))}}
    <div class="auk-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{else}}
    <button
      type="button"
      class="auk-button auk-button--borderless auk-button--icon"
      disabled={{not (await @agendaitem.nota)}}
      style={{if (not (await @agendaitem.nota)) "opacity:0.3;"}}
      {{on "click" this.openNota}}
    >
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-document"></i>
      </div>
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{if (await @agendaitem.nota) (t "open-note") (t "no-nota")}}
      </EmberTooltip>
    </button>
  {{/if}}
  <LinkTo
    data-test-link-to-subcase-overview
    class="auk-button auk-button--borderless auk-button--icon"
    target="_blank"
    @route="agenda.agendaitems.agendaitem"
    @models={{array
      (await latestMeetingId)
      (await latestAgendaId)
      (await latestAgendaitemId)
    }}
  >
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-nav-right"></i>
    </div>
  </LinkTo>
</div>
