<div class="auk-o-flex--justify-between">
  <button
    type="button"
    class="auk-button auk-button--borderless auk-button--icon"
    {{on "click" @onEdit}}
  >
    <span class="auk-button__content">
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-pencil"></i>
      </div>
    </span>
  </button>
  {{#if (is-pending (await @agendaitem.notaOrVisienota))}}
    <div class="auk-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{else}}
    <button
      type="button"
      class="auk-button auk-button--borderless auk-button--icon"
      disabled={{not (await @agendaitem.notaOrVisienota)}}
      style={{if (not (await @agendaitem.notaOrVisienota)) "opacity:0.3;"}}
      {{on "click" this.openNota}}
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-document"></i>
        </div>
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{if (await @agendaitem.notaOrVisienota) (t "open-note") (t "no-nota")}}
        </EmberTooltip>
      </span>
    </button>
  {{/if}}
  <LinkTo
    data-test-link-to-subcase-overview
    class="auk-button auk-button--borderless auk-button--icon"
    target="_blank"
    @route="agenda.agendaitems.agendaitem"
    @models={{array
      (await latestMeetingId)
      (await latestAgendaId)
      (await latestAgendaitemId)
    }}
  >
    <span class="auk-button__content">
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-nav-right"></i>
      </div>
    </span>
  </LinkTo>
</div>
