<div class="auk-o-flex--justify-between">
  <Auk::Button
    @skin="borderless"
    @layout="icon-only"
    @icon="pencil"
    {{on "click" @onEdit}}
  >
  </Auk::Button>
  {{#if (is-pending (await @agendaitem.notaOrVisienota))}}
    <div class="auk-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{else}}
    <div class="auk-u-position-relative auk-u-inline-block">
      <Auk::Button
        @skin="borderless"
        @layout="icon-only"
        @icon="document"
        @disabled={{not (await @agendaitem.notaOrVisienota)}}
        {{on "click" this.openNota}}
      >
      </Auk::Button>
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{if (await @agendaitem.notaOrVisienota) (t "open-note") (t "no-nota")}}
      </EmberTooltip>
    </div>
  {{/if}}
  <Auk::Button
    @skin="borderless"
    @layout="icon-only"
    @icon="nav-right"
    @route="agenda.agendaitems.agendaitem"
    @models={{array
      (await latestMeetingId)
      (await latestAgendaId)
      (await latestAgendaitemId)
    }}
    target="_blank"
    data-test-link-to-subcase-overview
  >
  </Auk::Button>
</div>
