<tr data-test-newsletter-overview-table-row class="lt-row">
  <td class="lt-cell align-left">
    {{@agendaitem.priority}}
  </td>
  <td class="lt-cell align-left auk-table__col--7">
    {{#if this.hasNewsletterInfo}}
      <div class="auk-u-mb-2">
        <p class="auk-u-text-bold">
          {{this.newsletterInfo.title}}
        </p>
      </div>
      <div class="auk-u-mb-2">
        {{sanitize-html raw=true value=this.newsletterInfo.richtext}}
      </div>
      {{#if this.newsletterInfo.remark}}
        <p class="auk-u-muted vl-u-text--capitalize vl-u-text--small">
          {{this.newsletterInfo.remark}}
        </p>
      {{/if}}
    {{else}}
      <p class="auk-u-muted auk-u-italic">
        {{t "no-newsletter-info"}}
      </p>
    {{/if}}
  </td>
  <td class="lt-cell align-left">
    {{#each (await @agendaitem.mandatees) as |mandatee|}}
      {{await mandatee.person.nameToDisplay}}<br>
    {{else}}
      <p class="auk-u-muted auk-u-italic">
        {{t "no-mandatees"}}
      </p>
    {{/each}}
  </td>
  <td class="lt-cell align-left">
    <WebComponents::VlCheckbox
      @value={{this.newsletterInfo.inNewsletter}}
      @toggle={{this.setInNewsletter}}
      @disabled={{or (not this.hasNewsletterInfo) this.saveNewsletterInfoTask.isRunning}}
      @single={{true}}
    />
  </td>
  <td class="lt-cell align-left">
    {{#if this.hasNewsletterInfo}}
      {{moment-format this.newsletterInfo.modified "DD.MM.YYYY - HH:mm"}}
    {{else}}
      -
    {{/if}}
  </td>
  <td class="lt-cell align-left">
    <NewsletterTable::ButtonToolbar
      @agendaitem={{@agendaitem}}
      @onEdit={{this.startEditing}}
    />
  </td>
</tr>
{{#if this.isEditing}}
  <tr class="lt-row lt-expanded-row">
    <td colspan="5">
      <div class="vlc-container-center">
        <NewsItem::EditItem
          @newsletterInfo={{this.newsletterInfo}}
          @agendaitem={{@agendaitem}}
          @onCancel={{this.stopEditing}}
          @onSave={{this.stopEditing}}
        />
      </div>
    </td>
  </tr>
{{/if}}