<div class="vl-modal-dialog__content">
  <div class="vl-form-grid vl-form-grid--is-stacked vl-u-flex-align-right auk-u-mb-2">
    <div class="vlc-input-field-block vl-col--2-4">
      {{web-components/vl-form-label value=(t "date-publication")}}
      {{web-components/vl-datepicker
        enableTime=true
        selectedDate=date
        defaultHour=14
        defaultMinute=0
        dateChanged=(action "selectDate")
      }}
    </div>
    <div class="vlc-input-field-block vl-col--2-4">
      {{web-components/vl-form-label value=(t "newsletter-doc-date")}}
      {{web-components/vl-datepicker
        enableTime=true
        selectedDate=docDate
        defaultHour=14
        defaultMinute=0
        dateChanged=(action "selectDocDate")
      }}
    </div>
  </div>
</div>
<div class="vlc-navbar vlc-navbar--bordered-top">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <button type="button" class="vl-button vl-button--link"
          {{action "close"}}
        >
          {{t "cancel"}}
        </button>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          saveAction=(action "saveChanges" selectedMeeting)
        }}
      </div>
    </div>
  </div>
</div>
