<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1
        class="vlc-page-header__title vlc-page-header__title--bordered vlc-page-header__title--max-width auk-u-pb"
        data-test-newsletter-overview-header-title
      >
        {{t "newsletter-overview-pdf-name"}}
         -
        {{await agenda.createdFor.kindToShow.label}}
        {{moment-format agenda.createdFor.plannedStart "DD MMMM YYYY"}}
      </h1>
      <div class="vlc-page-header__sub">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              <LinkTo
                @route="newsletters"
                class="vlc-backlink vl-link vl-link--bold" >
              {{!-- template-lint-disable no-bare-strings  --}}
                &#8629;
              {{!-- template-lint-enable no-bare-strings  --}}
              </LinkTo>
            </div>
            {{#if currentSession.isEditor}}
              <div class="vlc-toolbar__item">
                <ul class="vlc-tabs-reverse" role="tablist">
                  <li class="vlc-tabs-reverse__item">
                    <LinkTo
                      class="border-left vlc-tabs-reverse__link"
                      @route="newsletter.index"
                      @model={{await agenda.createdFor.id}}
                      @activeClass="vlc-tabs-reverse__link--active"
                    >
                      {{t "overview"}}
                    </LinkTo>
                  </li>
                  <li class="vlc-tabs-reverse__item">
                    <LinkTo
                      @route="newsletter.print"
                      @model={{await agenda.createdFor.id}}
                      @query={{hash showDraft=true}}
                      class="vlc-tabs-reverse__link"
                      @activeClass="vlc-tabs-reverse__link--active" >
                      {{t "design"}}
                    </LinkTo>
                  </li>
                  <li class="vlc-tabs-reverse__item">
                    <LinkTo
                      @route="newsletter.print"
                      @model={{await agenda.createdFor.id}}
                      @query={{hash showDraft=false}}
                      class="vlc-tabs-reverse__link"
                      @activeClass="vlc-tabs-reverse__link--active" >
                      {{t "definite"}}
                    </LinkTo>
                  </li>
                  <li class="vlc-tabs-reverse__item">
                    <LinkTo
                      data-test-nota-updates
                      @route="newsletter.nota-updates"
                      class="vlc-tabs-reverse__link"
                      @activeClass="vlc-tabs-reverse__link--active" >
                      {{t "newsletter-update-notas"}}
                    </LinkTo>
                  </li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vlc-toolbar__right">
    <div class="vlc-toolbar__item">
      <div class="vlc-toolbar__item">
        <div class="vl-action-group">
          {{#if currentSession.isEditor}}
          {{/if}}
          <button type="button"
            class="vl-button vl-button--icon-before vl-button--secondary"
            {{action "showMultipleOptions"}}
          >
            {{#if (not isShowingOptions)}}
              <i
                class="vl-button__icon vl-button__icon--before ki-chevron-down"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{else}}
              <i
                class="vl-button__icon vl-button__icon--before ki-chevron-up"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{/if}}
            {{t "actions"}}
            {{#attach-popover
              renderInPlace=true
              class="ember-attacher-popper vlc-hide-on-print"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom"
            as |attacher|
            }}
              <ul class="vlc-dropdown-menu">
                {{#if currentSession.isEditor}}
                  {{#if
                    (or (is-pending agenda.createdFor.mailCampaign) isLoading)
                  }}
                    <li class="vlc-dropdown-menu__item">
                      <div class="auk-loader-wrapper auk-loader-wrapper--small auk-u-p-2">
                        <div
                          class="auk-loader"
                          role="alert"
                          aria-busy="true"
                        ></div>
                        {{t "newsletter-loading-text"}}
                      </div>
                    </li>
                  {{else if (await agenda.createdFor.mailCampaign)}}
                    {{#if (not (await agenda.createdFor.mailCampaign.isSent))}}
                      <li class="vlc-dropdown-menu__item">
                        <a href=""
                           class="vl-link vl-link--block"
                          {{action attacher.hide}}
                          {{action "sendTestCampaign"}}
                        >
                          {{t "send-test-campaign"}}
                        </a>
                      </li>
                      <li class="vlc-dropdown-menu__item">
                        <a href=""
                           class="vl-link vl-link--block"
                          {{action attacher.hide}}
                          {{action "toggleIsVerifying"}}
                        >
                          {{t "send-campaign"}}
                        </a>
                      </li>
                      <li
                              class="vlc-dropdown-menu__separator"
                              aria-hidden="true"
                      ></li>
                    {{/if}}
                    <li class="vlc-dropdown-menu__item">
                      <a
                        class="vl-link vl-link--block"
                        target="_blank"
                        rel="noopener noreferrer"
                        href={{concat
                          "/newsletter/xml-newsletter/"
                          agenda.id
                        }}
                        download={{concat
                          "/newsletter/xml-newsletter/"
                          agenda.id
                        }}
                      >
                        {{t "generate-xml"}}
                      </a>
                    </li>
                    <li
                            class="vlc-dropdown-menu__separator"
                            aria-hidden="true"
                    ></li>
                    <li class="vlc-dropdown-menu__item">
                      <a href=""
                         class="vl-link vl-link--block vl-u-text--error"
                        {{action attacher.hide}}
                        {{action "deleteCampaign"}}
                      >
                        {{t "delete-campaign"}}
                      </a>
                    </li>
                  {{else}}
                    <li class="vlc-dropdown-menu__item">
                      <a href=""
                         class="vl-link vl-link--block"
                        {{action "createCampaign"}}
                      >
                        {{t "create-campaign"}}
                      </a>
                    </li>
                  {{/if}}
                {{/if}}
                {{#if shouldShowPrintButton}}
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "print"}}
                    >
                      {{t "print"}}
                    </a>
                  </li>
                {{/if}}
              </ul>
            {{/attach-popover}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if isVerifying}}
  <WebComponents::VlModalVerify
    @title={{t "send-campaign"}}
    @buttonType="warning"
    @isLoading={{isLoading}}
    @verifyButtonText={{t "send-campaign"}}
    @message={{t "send-campaign-warning"}}
    @cancel={{action "toggleIsVerifying"}}
    @verify={{action "sendCampaign"}} />
{{/if}}
{{#if (or testCampaignIsLoading newsletterHTML)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{t "send-test-campaign"}}
    @closeModal={{action "clearNewsletterHTML"}} >
    <div class="vl-modal-dialog__content">
      {{#if testCampaignIsLoading}}
        <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
      {{else}}
        {{sanitize-html raw=true value=newsletterHTML}}
      {{/if}}
    </div>
  </WebComponents::VlModal>
{{/if}}
{{#if isLoading}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}