{{#if caseToEdit}}
  <div class="vl-modal-dialog__content">
    <div class="vl-u-spacer">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "name-subcase")}}
        {{textarea
          rows="2"
          class="vl-textarea vl-textarea--block"
          value=shortTitle
        }}
      </div>
    </div>
    <div class="vl-u-spacer">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "title-subcase")}}
        {{textarea rows="4" class="vl-textarea vl-textarea--block" value=title}}
      </div>
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value="Dossiertype"}}
      {{utils/model-selector
        modelName="case-type"
        searchField="label"
        propertyToShow="label"
        multiSelect=false
        sortField="label"
        selectedItems=type
        selectModel=(action "selectType")
      }}
    </div>
  </div>
  {{web-components/vl-modal-footer
    cancelButtonText=(t "cancel")
    saveButtonText=(t "save")
    cancelAction=(action "toggleIsEditing")
    saveAction=(action "saveChanges")
  }}
{{/if}}