{{#if allowEditing}}
  <div class="auk-u-mb-2">
    <div class="auk-u-flex auk-u-flex--justify-between">
      <h4>
        {{#if this.showIndex}}
          {{this.itemIndex}}.
        {{/if}}
        {{#if (not newsletterInfo)}}
          {{agendaitem.shortTitle}}
        {{else}}
          {{newsletterInfo.title}}
        {{/if}}
      </h4>
      {{!-- No possibility to create a new newsletterInfo when not existent yet --}}
      {{#if
        (and
          currentSession.isEditor
          newsletterInfo
        )
      }}
        <div class="auk-u-flex auk-u-flex--justify-between">
          <div class="auk-u-ml-2">
            <a href="" class="vl-link" {{action "startEditing"}}>
              {{t "edit"}}
            </a>
          </div>
        </div>
      {{/if}}
    </div>
    {{#if (not newsletterInfo)}}
      <p>
        {{agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{else}}
  <div>
    <h4>
      {{#if (not newsletterInfo)}}
        {{agendaitem.shortTitle}}
      {{else}}
        {{newsletterInfo.title}}
      {{/if}}
    </h4>
    {{#if (not newsletterInfo)}}
      <p>
        {{agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{/if}}
<div class="auk-u-mb-2">
  <p data-test-newsletter-print-item-proposal>
    {{await newsletterInfo.newsletterProposal}}
  </p>
</div>
<div class="auk-u-mb-2">
  <div class="vl-u-text">
    {{#if (not agendaitem.showAsRemark)}}
      {{#if (not newsletterInfo.richtext)}}
        <p class="vl-u-text auk-u-italic auk-u-muted">
          {{t "no-newsletter-info"}}
        </p>
      {{else}}
        {{sanitize-html
          raw=true
          value=newsletterInfo.richtext
        }}
      {{/if}}
    {{/if}}
  </div>
</div>
{{#if allowEditing}}
  {{#if (await newsletterInfo.remark)}}
    <p class="auk-u-muted vl-u-text--capitalize vl-u-text--small">
      {{t "remark"}}: {{await newsletterInfo.remark}}
    </p>
  {{/if}}
{{/if}}
{{#if
  (gt (await newsletterInfo.themes.length) 0)
}}
  <div class="auk-u-mb-2">
    <div class="auk-u-mt-2">
      <WebComponents::AuPillList>
        {{#each
          (await newsletterInfo.themes)
        as |theme|
        }}
          <WebComponents::AuPill>{{theme.label}}</WebComponents::AuPill>
        {{/each}}
      </WebComponents::AuPillList>
    </div>
  </div>
{{else if (and allowEditing newsletterInfo.richtext)}}
  <div class="auk-u-mb-2">
    <p class="auk-u-muted vl-u-text--capitalize">
      {{t "no-themes-agendaitem"}}
    </p>
  </div>
{{/if}}