<div class="auk-u-m-4">
  {{#if this.isEditingDetails}}
  <Auk::Panel class="auk-panel--editing">
    <Auk::Panel::Header class="auk-u-px-1">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-h4 auk-u-m-0">
              Documenteigenschappen
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-p-1">
      {{#if (or this.documentType this.isEditingDetails)}}
        <Auk::KeyValue
          data-test-details-tab-document-type
          @key={{t "document-type"}}
        >
          {{#if this.isEditingDetails}}
            <Utils::ModelSelector
              data-test-details-tab-edit-document-type
              @modelName="document-type"
              @allowClear={{true}}
              @searchField="label"
              @displayField="label"
              @sortField="priority"
              @selected={{this.documentType}}
              @onChange={{this.setDocumentType}}
            />
          {{else}}
            {{this.documentType.label}}
          {{/if}}
        </Auk::KeyValue>
      {{/if}}
      <Auk::KeyValue
        data-test-details-tab-name
        @key={{t "document-name"}}
      >
        <Textarea
          data-test-details-tab-edit-name
          aria-labelledby="piece-name"
          class="auk-textarea"
          @value={{mut @piece.name}}
        />
      </Auk::KeyValue>
      <Auk::KeyValue
        data-test-details-tab-access-level
        @key={{t "publicity"}}
      >
        {{#if this.isEditingDetails}}
          <Utils::ModelSelector
            data-test-details-tab-edit-access-level
            @modelName="access-level"
            @allowClear={{true}}
            @propertyToShow="label"
            @sortField="priority"
            @selectedItems={{this.accessLevel}}
            @selectModel={{this.setAccessLevel}}
          />
        {{else}}
          <Utils::AccessLevelColorBadge @accessLevel={{this.accessLevel}} />
        {{/if}}
      </Auk::KeyValue>
      <Auk::KeyValue
        data-test-details-tab-access-level
        @key="Bronbestand"
      >
        <p>{{@piece.name}}.{{@piece.file.extension}}</p>
        <AuHr />
        <AuButton @icon="upload" @iconAlignment="left" @skin="secondary">Vervangen</AuButton>
      </Auk::KeyValue>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="borderless"
              @disabled={{this.isProcessing}}
              {{on "click" (perform this.cancelEditDetails)}}>
              {{t "cancel"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="primary"
              @disabled={{this.isProcessing}}
              @loading={{this.saveDetails.isRunning}}
              {{on "click" (perform this.saveDetails)}}>
              {{t "save"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  </Auk::Panel>
  {{else}}
  <Auk::Panel>
    <Auk::Panel::Header class="auk-u-px-1">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-h4 auk-u-m-0">
              Documenteigenschappen
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if this.currentSession.isEditor}}
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button @skin="tertiary" @icon="pencil" @layout="icon-only" {{on "click" this.openEditDetails}} />
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-p-1">
      {{#if (or this.documentType this.isEditingDetails)}}
        <Auk::KeyValue
          data-test-details-tab-document-type
          @key={{t "document-type"}}
        >
          {{this.documentType.label}}
        </Auk::KeyValue>
      {{/if}}
      <Auk::KeyValue
        data-test-details-tab-name
        @key={{t "document-name"}}
      >
        {{@piece.name}}.{{@piece.file.extension}}
      </Auk::KeyValue>
      <Auk::KeyValue
        data-test-details-tab-access-level
        @key={{t "publicity"}}
      >
        <Utils::AccessLevelColorBadge @accessLevel={{this.accessLevel}} />
      </Auk::KeyValue>
      <Auk::KeyValue
        data-test-details-tab-access-level
        @key="Bronbestand"
      >
        <AuLink href={{@piece.file.namedDownloadLink}} @skin="primary" @icon="download" @iconAlignment="left" download>{{@piece.name}}.{{@piece.file.extension}}</AuLink>
      </Auk::KeyValue>
    </Auk::Panel::Body>
  </Auk::Panel>
  {{/if}}

  <Auk::Panel class="auk-u-mt-2">
    <Auk::Panel::Header class="auk-u-px-1">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-h4 auk-u-m-0">
              Geschiedenis
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="au-u-background-gray-100">
      <div class="vlc-procedure-step vlc-procedure-step--nopadding">
        <div class="vlc-procedure-step__badge-wrapper">
          <Auk::Badge
            @skin="default"
            @size="medium"
            @icon="sign"
            class="vlc-procedure-step__badge"
          />
        </div>
        <div class="auk-u-m-2">
          <p><strong>Gehandtekend</strong> door Erika Pauwels</p>
          <p>
            op 28-04-2022 om 20:48 – <AuLink>Bekijk document in dossier</AuLink>
          </p>
        </div>
      </div>
      <div class="vlc-procedure-step vlc-procedure-step--nopadding">
        <div class="vlc-procedure-step__badge-wrapper">
          <Auk::Badge
            @skin="default"
            @size="medium"
            @icon="sign"
            class="vlc-procedure-step__badge"
          />
        </div>
        <div class="auk-u-m-2">
          <p><strong>Gemarkeerd voor handtekenen</strong> door Erika Pauwels</p>
          <p>
            op 27-04-2022 om 20:48
          </p>
        </div>
      </div>
      <div class="vlc-procedure-step vlc-procedure-step--nopadding">
        <div class="vlc-procedure-step__badge-wrapper">
          <Auk::Badge
            @skin="default"
            @size="medium"
            @icon="visible"
            class="vlc-procedure-step__badge"
          />
        </div>
        <div class="auk-u-m-2">
          <p><strong>Openbaarheid gewijzigd</strong> door Inti Valderos Caro</p>
          <p>
            op 26-04-2022 om 20:48
          </p>
        </div>
      </div>
      <div class="vlc-procedure-step vlc-procedure-step--nopadding">
        <div class="vlc-procedure-step__badge-wrapper">
          <Auk::Badge
            @skin="default"
            @size="medium"
            @icon="document"
            class="vlc-procedure-step__badge"
          />
        </div>
        <div class="auk-u-m-2">
          <p><strong>Document gewijzigd</strong> door Hannes D'Hulster</p>
          <p>
            op 25-04-2022 om 20:48
          </p>
        </div>
      </div>
      <div class="vlc-procedure-step vlc-procedure-step--nopadding">
        <div class="vlc-procedure-step__badge-wrapper">
          <Auk::Badge
            @skin="default"
            @size="medium"
            @icon="document"
            class="vlc-procedure-step__badge"
          />
        </div>
        <div class="auk-u-m-2">
          <p><strong>Nieuwe versie toegevoegd</strong> door Johan Delaure</p>
          <p>
            op 24-04-2022 om 20:48
          </p>
        </div>
      </div>
      <div class="vlc-procedure-step vlc-procedure-step--nopadding">
        <div class="vlc-procedure-step__badge-wrapper">
          <Auk::Badge
            @skin="default"
            @size="medium"
            @icon="document"
            class="vlc-procedure-step__badge"
          />
        </div>
        <div class="auk-u-m-2">
          <p><strong>Bestand toegevoegd</strong> door Inti Valderas Caro</p>
          <p>
            op 23-04-2022 om 20:48
          </p>
        </div>
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
</div>