<AuModal
  @modalOpen={{true}}
  @closeModal={{@onClose}}
  @size="fullscreen"
  @padding="none"
>
  <:title>
    <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
      {{this.selectedVersion.name}}
      {{#unless this.loadFile.isRunning}}
        {{#if (and this.file (await (this.canViewConfidentialPiece)))}}
          <AuLinkExternal
            {{! TODO: AuExternalLink doesn't support @style="button-naked" yet}}
            @icon="download"
            @iconAlignment="left"
            href={{this.file.namedDownloadLink}}
            download
          >{{t "download-2"}}</AuLinkExternal>
        {{/if}}
      {{/unless}}
    </span>
  </:title>
  <:body>
    <div class="auk-panel-layout">
      <div class="auk-panel-layout__main-content">
        {{#if this.loadFile.isRunning}}
          <WebComponents::LoadingPage />
        {{else}}
          <Documents::DocumentView @file={{this.file}} @piece={{this.selectedVersion}} />
        {{/if}}
      </div>
      <div class="auk-panel-layout__sidebar">
        <Documents::DocumentPreview::DocumentPreviewSidebar
          @isOpen={{this.sidebarIsOpen}}
          @onCollapse={{this.toggleSidebar}}
          @onOpen={{this.toggleSidebar}}
          @piece={{this.selectedVersion}}
          @onSelectVersion={{@onSelectVersion}}
          @transitionBack={{@onClose}}
          @didDeletePiece={{@didDeletePiece}}
          @onChangeFile={{perform this.loadFile}}
          @activeTab={{@activeTab}}
          @onTabChanged={{@onTabChanged}}
        />
      </div>
    </div>
  </:body>
</AuModal>
