<AuModal
  @modalOpen={{true}}
  @closeModal={{@onClose}}
  @size="fullscreen"
  @padding="none"
>
  <:title>
    <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
      {{this.selectedVersion.name}}
      {{#if this.selectedVersion.file}}
        <AuLink href={{this.selectedVersion.file.namedDownloadLink}} @skin="button-naked" @icon="download" @iconAlignment="left" download>Downloaden</AuLink>
      {{/if}}
    </span>
  </:title>
  <:body>
    <div class="auk-panel-layout">
      <div class="auk-panel-layout__main-content">
        <Documents::DocumentView @file={{await this.selectedVersion.file}} />
      </div>
      <div class="auk-panel-layout__sidebar">
        <Documents::DocumentPreview::DocumentPreviewSidebar
          @isOpen={{this.sidebarIsOpen}}
          @onCollapse={{this.toggleSidebar}}
          @onOpen={{this.toggleSidebar}}
          @piece={{this.selectedVersion}}
          @onSelectVersion={{this.setSelectedVersion}}
          @transitionBack={{@onClose}}
          @markForSignature={{@markForSignature}}
          @unmarkForSignature={{@unmarkForSignature}}
          @didDeletePiece={{@didDeletePiece}}
        />
      </div>
    </div>
  </:body>
</AuModal>