<Auk::Sidebar
  @size="xlarge"
  @position="right"
  @skin="white"
  class="auk-u-pb-6 auk-o-flex auk-o-flex--vertical auk-scroll-wrapper"
>
  <Auk::Navbar>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Tabs>
            <Auk::Tab
              {{on "click" (fn this.setActiveTab "details")}}
              @active={{eq this.activeTab "details"}}
            >
              {{t "detail"}}
            </Auk::Tab>
            <Auk::Tab
              {{on "click" (fn this.setActiveTab "signatures")}}
              @active={{eq this.activeTab "signatures"}}
            >
              {{t "signatures"}}
            </Auk::Tab>
            <Auk::Tab
              {{on "click" (fn this.setActiveTab "versions")}}
              @active={{eq this.activeTab "versions"}}
            >
              {{t "versions"}}
            </Auk::Tab>
          </Auk::Tabs>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    <div class="auk-u-m-4">
      <Utils::LoadableContent @isLoading={{this.loadPieceData.isRunning}}>
        {{! DETAILS }}
        {{#if (eq this.activeTab "details")}}
          <Documents::DocumentPreview::DetailsTab
            @piece={{@piece}}
            @documentContainer={{this.documentContainer}}
            @reloadPiece={{@reloadPiece}}
          />
          {{! SIGNATURES }}
        {{else if (eq this.activeTab "signatures")}}

          {{! VERSIONS }}
        {{else if (eq this.activeTab "versions")}}
          <Documents::DocumentPreview::VersionsTab
            @piece={{@piece}}
            @documentContainer={{this.documentContainer}}
          />
        {{/if}}
      </Utils::LoadableContent>
    </div>
  </div>
</Auk::Sidebar>