<Auk::Modal @size="full-screen">
  <Auk::Modal::Header @title={{this.selectedVersion.name}} @onClose={{@onClose}} />
  <Auk::Modal::Body @noPadding={{true}}>
    <div class="auk-panel-layout">
      <div class="auk-panel-layout__main-content">
        <Documents::DocumentView @file={{this.selectedFile}} />
      </div>
      <div class="auk-panel-layout__sidebar">
        <Documents::DocumentPreview::DocumentPreviewSidebar
          @isOpen={{this.sidebarIsOpen}}
          @onCollapse={{this.toggleSidebar}}
          @onOpen={{this.toggleSidebar}}
          @piece={{this.selectedVersion}}
          @file={{this.selectedFile}}
          @transitionBack={{@onClose}}
          @onSelectVersion={{this.setSelectedVersion}}
          @onSelectFile={{this.setSelectedFile}}
          @markForSignature={{@markForSignature}}
          @unmarkForSignature={{@unmarkForSignature}}
        />
      </div>
    </div>
  </Auk::Modal::Body>
</Auk::Modal>