<Auk::Sidebar
  @size="xlarge"
  @position="right"
  @skin="white"
  class="auk-u-pb-6 auk-o-flex auk-o-flex--vertical
    {{if @isOpen "auk-scroll-wrapper"}}"
  @isCollapsed={{not @isOpen}}
>
  <Auk::Navbar @noPadding={{not @isOpen}}>
    <Auk::Toolbar as |toolbar|>
      {{#if @isOpen}}
        <toolbar.Group @position="left" as |group|>
          <group.Item>
            <Auk::Tabs>
              <Auk::Tab
                data-test-document-preview-sidebar-tab-details
                {{on "click" (fn this.setTab "details")}}
                @active={{eq this.tab "details"}}
              >
                {{t "detail"}}
              </Auk::Tab>
              {{#if this.isShownSignatureTab}}
                <Auk::Tab
                  {{on "click" (fn this.setTab (t "signatures"))}}
                  @active={{eq this.tab (t "signatures")}}
                >
                  {{t "signatures"}}
                </Auk::Tab>
              {{/if}}
              <Auk::Tab
                data-test-document-preview-sidebar-tab-versions
                {{on "click" (fn this.setTab (t "versions"))}}
                @active={{eq this.tab (t "versions")}}
              >
                {{t "versions"}}
              </Auk::Tab>
            </Auk::Tabs>
          </group.Item>
        </toolbar.Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              @skin="naked"
              @icon="chevron-right"
              @hideText={{true}}
              {{on "click" @onCollapse}}
            >
              {{t "hide"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      {{else}}
        <Auk::Toolbar::Group @position="center">
          <Auk::Toolbar::Item class="auk-o-flex auk-o-flex--horizontal-center">
            <AuButton
              data-test-document-preview-sidebar-open
              @skin="naked"
              @icon="chevron-left"
              @hideText={{true}}
              {{on "click" @onOpen}}
            >
              {{t "show"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      {{/if}}

    </Auk::Toolbar>
  </Auk::Navbar>
  {{#if @isOpen}}
    <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
      <Utils::LoadableContent @isLoading={{this.loadPieceData.isRunning}}>
        {{! DETAILS }}
        {{#if (eq this.tab "details")}}
          <Documents::DocumentPreview::DetailsTab
            @piece={{@piece}}
            @documentContainer={{this.documentContainer}}
            @didDeletePiece={{@didDeletePiece}}
            @onChangeFile={{@onChangeFile}}
          />
          {{! SIGNATURES }}
        {{else if (eq this.tab (t "signatures"))}}
          <Documents::DocumentPreview::SignaturesTab
            @piece={{@piece}}
            @documentContainer={{this.documentContainer}}
          />
          {{! VERSIONS }}
        {{else if (eq this.tab (t "versions"))}}
          <Documents::DocumentPreview::VersionsTab
            @documentContainer={{this.documentContainer}}
            @currentVersion={{@piece}}
            @onSelectVersion={{@onSelectVersion}}
          />
        {{/if}}
      </Utils::LoadableContent>
    </div>
  {{/if}}
</Auk::Sidebar>
