<div class="auk-u-m-4">
  {{#if this.loadSignatureRelatedData.isRunning}}
    <Auk::Loader />
  {{else if this.signMarkingActivity}}
    Signature pill!
  {{else if this.agendaitem}}
    <p class="au-u-muted auk-u-mt-2">
      {{or @piece.documentContainer.type.label (t "no-document-type")}}
      -
      {{date this.decisionActivity.startDate}}
    </p>
    <h5 class="auk-h4">{{@piece.name}}</h5>
    <Signatures::CreateSignFlow
      @piece={{@piece}}
      @decisionActivity={{this.decisionActivity}}
    />
  {{/if}}
</div>
