<div class="auk-u-m-4">
  <Auk::KeyValue @key={{t "validation-signature"}}>
    {{#if (not this.loadSignatureRelatedData.isRunning)}}
      {{#if this.agendaitem}} {{! don't allow this action unless there is an agendaitem ergo a treatment}}
        {{#if this.markOrUnmarkForSignature.isRunning}}
          <Auk::Loader/>
        {{else}}
          <AuControlCheckbox
            @label={{t "signature-needed"}}
            @checked={{this.signMarkingActivity}}
            @onChange={{perform this.markOrUnmarkForSignature}}
          />
        {{/if}}
      {{else}}
        <p>{{t "signature-not-possible"}}</p>
      {{/if}}
    {{/if}}
  </Auk::KeyValue>
</div>