<div class="auk-u-m-4">
  {{#if (not this.loadSignatureRelatedData.isRunning)}}
    {{#if this.agendaitem}} {{! dont allow this action unless there is an agendaitem ergo a treatment --}}
      {{#if this.isInEditMode}}
      <Auk::Panel class="auk-panel--editing">
        <Auk::Panel::Header class="auk-u-px-1">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h4 class="auk-h4 auk-u-m-0">
                  {{t "signaturesSection.signature-properties"}}
                </h4>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body class="auk-u-p-1">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-6">
              <Auk::KeyValue @key={{t "signaturesSection.signature-required"}} class="auk-u-m-0">
                <Auk::Checkbox
                  @checked={{this.signMarkingActivity}}
                  {{on "input" (perform this.markOrUnmarkForSignature)}}
                >
                  {{! could use @label, but prototype shows a tooltip, so we need a block instead}}
                  <p>
                    {{#if this.markOrUnmarkForSignature.isRunning}}
                    <Auk::Loader />
                    {{else}}
                    {{t "signature-needed"}}
                    {{/if}}
                  </p>
                </Auk::Checkbox>
              </Auk::KeyValue>
            </div>
          </div>
        </Auk::Panel::Body>
        <Auk::Panel::Footer>
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <Auk::Button
                  @skin="borderless"
                  {{on "click" this.putInEditMode}}>
                  {{t "cancel"}}
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button
                  @skin="primary"
                  {{on "click" this.putInEditMode}}>
                  {{t "save"}}
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Footer>
      </Auk::Panel>
      {{else}}
      <Auk::Panel>
        <Auk::Panel::Header class="auk-u-px-1">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h4 class="auk-h4 auk-u-m-0">
                  {{t "signaturesSection.signature-properties"}}
                </h4>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button @skin="tertiary" @icon="pencil" @layout="icon-only" {{on "click" this.putInEditMode}} />
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body class="auk-u-p-1">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-6">
              <Auk::KeyValue @key={{t "signaturesSection.signature-required"}}  class="auk-u-m-0">
                <p class="auk-u-m-0">
                  {{#if this.signMarkingActivity}}
                  Ja
                  {{else}}
                  Nee
                  {{/if}}
                </p>
              </Auk::KeyValue>
            </div>
            <div class="auk-o-grid-col-6 auk-content">
              <Auk::KeyValue @key={{t "signaturesSection.signed-status"}}  class="auk-u-m-0">
                <AuPill @skin="default" @icon="sign">Gemarkeerd voor handtekenen</AuPill>
              </Auk::KeyValue>
            </div>
          </div>
        </Auk::Panel::Body>
      </Auk::Panel>
      {{/if}}

      <Auk::Panel class="auk-u-mt-2">
        <Auk::Panel::Header class="auk-u-px-1">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h4 class="auk-h4 auk-u-m-0">
                  {{t "signaturesSection.signature-needed-by"}}
                </h4>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button @skin="tertiary" @icon="pencil" {{on "click" this.showAddMinister}}>
                  {{t "util.edit-list"}}
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body class="auk-u-p-0">
          <Auk::List @bordered={{true}}>
            <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <span>Jan Jambon</span>
            </Auk::List::Item>
            <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <span>Lydia Peeters</span>
              <Auk::Button
                @skin="danger-borderless"
                @layout="icon-only"
                @icon="trash"
              >
                {{t "util.delete"}}
              </Auk::Button>
            </Auk::List::Item>
          </Auk::List>
        </Auk::Panel::Body>
      </Auk::Panel>
      <Auk::Panel class="auk-u-mt-4">
        <Auk::Panel::Header class="auk-u-px-1">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h4 class="auk-h4 auk-u-m-0">
                  Goed te keuren door
                </h4>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button @skin="tertiary" @icon="plus" {{on "click" this.showApproval}}>
                  Toevoegen
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body class="auk-u-p-0">
          <Auk::List @bordered={{true}}>
            <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <span>kc@vlaanderen.be</span>
              <Auk::Button
                @skin="danger-borderless"
                @layout="icon-only"
                @icon="trash"
              >
                {{t "util.delete"}}
              </Auk::Button>
            </Auk::List::Item>
          </Auk::List>
        </Auk::Panel::Body>
      </Auk::Panel>
      <Auk::Panel class="auk-u-mt-4">
        <Auk::Panel::Header class="auk-u-px-1">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h4 class="auk-h4 auk-u-m-0">
                  Notificaties
                </h4>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button @skin="tertiary" @icon="plus" {{on "click" this.showAddCC}}>
                  Toevoegen
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body class="auk-u-p-0">
          <Auk::List @bordered={{true}}>
            <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <span>kc@vlaanderen.be</span>
              <Auk::Button
                @skin="danger-borderless"
                @layout="icon-only"
                @icon="trash"
              >
                {{t "util.delete"}}
              </Auk::Button>
            </Auk::List::Item>
          </Auk::List>
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  {{/if}}
</div>

<div class="auk-sidebar__footer">
  <Auk::Toolbar class="auk-u-p-2">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <LinkTo
          class="auk-button auk-button--primary"
          @route="signatures.sign"
        >
          {{t "signaturesSection.prepare-signatures"}}
        </LinkTo>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="danger-borderless"
          {{on "click" this.showCancelSignatures}}
        >
          {{t "signaturesSection.cancel-signatures"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#if this.isShowAddMinister}}
  <Signatures::SignaturesAddMinister
    @onCancel={{this.closeAddMinister}}
    @onSave={{this.closeAddMinister}}
  />
{{/if}}

{{#if this.isShowCancelSignatures}}
  <Signatures::SignaturesCancelSignatures
    @onCancel={{this.closeCancelSignatures}}
    @onSave={{this.closeCancelSignatures}}
  />
{{/if}}

{{#if this.isShowAddCC}}
  <Signatures::SignaturesAddCc
    @onCancel={{this.closeAddCC}}
    @onSave={{this.closeAddCC}}
  />
{{/if}}

{{#if this.isShowApproval}}
  <Signatures::SignaturesApproval
    @onCancel={{this.closeApproval}}
    @onSave={{this.closeApproval}}
  />
{{/if}}