<div class="auk-u-m-4">
  {{#if (or
       this.loadSignatureRelatedData.isRunning
       this.loadCanManageSignFlow.isRunning
       this.markForSignFlow.isRunning)
  }}
    <Auk::Loader />
  {{else if (and this.signMarkingActivity (not this.hasMarkedSignFlow))}}
    {{! There's an ongoing sign flow and it's further along than being marked }}
    <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
      <SignaturePill
        data-test-signatures-tab-status-pill
        @piece={{@piece}}
        @signMarkingActivity={{this.signMarkingActivity}}
      />
      {{#if (user-may "remove-signatures")}}
        <AuButton
          data-test-signatures-tab-delete-signflow
          @skin="naked"
          @alert={{true}}
          @icon="trash"
          {{on "click" (toggle "isOpenVerifyDeleteSignFlow" this)}}
        >
          {{t "delete-all-sign-flow-data"}}
          <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
            {{t "delete-all-sign-flow-tooltip"}}
          </EmberTooltip>
        </AuButton>
      {{/if}}
    </div>
  {{! TODO KAS-111 this is not feature flag friendly yet}}
  {{else if (not this.agendaitem this.decisionActivity this.meeting)}}
    {{! The piece is not linked to an agendaitem/meeting and cannot be signed }}
    <AuAlert @skin="warning" @icon="alert-triangle" @title={{t "cannot-sign"}}>
      <p>{{t "cannot-sign-message"}}</p>
    </AuAlert>
  {{else if (not this.canManageSignFlow)}}
    {{! A kabinetsmedewerker is trying to sign someone else's document }}
    <AuAlert @skin="warning" @icon="alert-triangle" @title={{t "cannot-sign"}}>
      <p>{{t "cannot-create-sign-flow-message"}}</p>
    </AuAlert>
  {{else if (and this.agendaitem (not this.decisionActivity))}}
    {{! The piece is not linked to a decision activty (possibly due to
        propagation) and cannot be signed }}
    <AuAlert @skin="warning" @icon="alert-triangle" @title={{t "cannot-sign"}}>
      <p>{{t "cannot-sign-because-no-decision-activity"}}</p>
    </AuAlert>
  {{else if (and this.agendaitem this.agendaitemIsRetracted)}}
    <AuAlert @skin="warning" @icon="alert-triangle" @title={{t "cannot-sign"}}>
      <p>{{t "cannot-sign-because-agendaitem-retracted"}}</p>
    </AuAlert>
  {{else}}
    {{! All the necessary data to create a sign flow is available and valid and
        the current user can create/manage a sign flow for the current piece }}
    <AuToggleSwitch
      data-test-signatures-tab-mark-for-signflow
      @skin="primary"
      @label={{t "present-for-signing"}}
      @checked={{this.hasMarkedSignFlow}}
      @onChange={{fn this.markForSignFlow.perform}}
      @disabled={{this.markForSignFlow.isRunning}}
    />
  {{/if}}
</div>

{{#if this.isOpenVerifyDeleteSignFlow}}
  {{! TODO: vl-refactor }}
  {{! We can't use AuModal here because said modals get rendered inside a
        "wormhole" div. The current component is also part of a modal which gets
        rendered in the same "wormhole", so opening another AuModal here will
        overwrite the existing page content, and break the route. If AuModals
        ever support rendering multiple modals over each other, we can use one
        here, otherwise we might want to make the doc view not be a modal. }}
  <WebComponents::VlModalVerify
    @title={{t "delete-all-sign-flow-data"}}
    @message={{t "verify-delete-all-sign-flow-data"}}
    @onCancel={{toggle "isOpenVerifyDeleteSignFlow" this}}
    @onVerify={{this.verifyDeleteSignFlow.perform}}
    @isLoading={{this.verifyDeleteSignFlow.isRunning}}
  />
{{/if}}