<Auk::Panel::Body>
  {{#if this.isLoading}}
    {{#if this.agendaitem}}
      {{#if (or this.isNotMarked this.signFlowWrapper.status.isMarked)}}
      <Auk::KeyValue @key={{t "validation-signature"}}>
        {{#if this.markOrUnmarkForSignature.isRunning}}
          <Auk::Loader />
        {{else}}
          <Auk::Checkbox
            @checked={{this.signFlowWrapper.status.isMarked}}
            {{on "input" (perform this.markOrUnmarkForSignature)}}
          >
            {{! could use @label, but prototype shows a tooltip, so we need a block instead }}
            <p>{{t "signature-needed"}}</p>
          </Auk::Checkbox>
        {{/if}}
      </Auk::KeyValue>
      {{else}}
        {{! @todo show signature status }}
      {{/if}}
    {{else}}
      <p>{{t "signature-not-possible"}}</p>
    {{/if}}
  {{else}}
    <div class="auk-loader-wrapper">
      <Auk::Loader />
    </div>
  {{/if}}
</Auk::Panel::Body>

{{#if this.isShownFooter}}
  <Auk::Panel::Footer class="auk-u-mt-auto">
    <Auk::Toolbar as |toolbar|>
      <toolbar.Group @position="right" as |group|>
        <group.Item>
          <Auk::Button
            @icon="sign"
            @route="signatures.sign-flow.documents"
            @model={{this.signFlowWrapper.signFlow.id}}
            @disabled={{not this.signFlowWrapper.canOffer}}>
            {{t "present-for-signature"}}
          </Auk::Button>
        </group.Item>
      </toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
{{/if}}