<li data-test-version-card-container class="auk-document-card {{if @isHighlighted "active"}}">
  <div class="auk-document-card__content">
    <div
      data-test-version-card-details
      class="auk-document-card__details"
    >
      <Utils::AccessLevelColorBadge
        @accessLevel={{this.accessLevel}}
        class="auk-overline"
      />
      {{#if @documentContainer.type}}
        <span class="auk-overline">-</span>
        <span class="auk-overline">{{@documentContainer.type.label}}</span>
      {{/if}}
    </div>
    <h4
      data-test-version-card-name
      class="auk-document-card__title">{{@piece.name}}
    </h4>
    <div class="auk-document-card__meta">
      <Auk::PillList class="auk-u-mr-3">
        <Utils::ConfidentialityPill @confidential={{@piece.confidential}} />
        <Utils::Documents::FileTypePill @extension={{@piece.file.extension}} />
      </Auk::PillList>
      <div class="auk-u-mr-3">
        <p>
          {{#if @piece.created}}
            {{t "uploaded-at"}}
            {{moment-format @piece.created "DD-MM-YYYY"}}
            -
            {{moment-format @piece.created "HH:mm"}}
          {{/if}}
        </p>
        {{#if @piece.accessLevelLastModified}}
          <p>
            {{t "access-level-last-modified"}}
            {{moment-format @piece.accessLevelLastModified "DD-MM-YYYY"}}
            -
            {{moment-format @piece.accessLevelLastModified "HH:mm"}}
          </p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="auk-document-card__actions">
    <div class="auk-button-toolbar">
      <Auk::Button
        data-test-version-card-open
        @layout="icon-only"
        @icon="book"
        @skin="borderless"
        {{on "click" (fn @onSelectVersion @piece)}}
      />
      <Auk::Button
        @layout="icon-only"
        @icon="download"
        @skin="borderless"
        @href={{@piece.file.namedDownloadLink}}
        download
    />
    </div>
  </div>
</li>