<li ...attributes data-test-version-card-container class="auk-document-card auk-document-card--clickable {{if @isHighlighted "active"}}">
  <div class="auk-document-card__content">
    {{#if @documentContainer.type}}
      <div
        data-test-version-card-details
        class="auk-document-card__details"
      >
          <span class="auk-overline">{{@documentContainer.type.label}}</span>
      </div>
    {{/if}}
    <h4
      data-test-version-card-name
      class="auk-document-card__title auk-u-m-0">
      {{@piece.name}}{{#if @piece.file}}.{{@piece.file.extension}}{{/if}}
    </h4>
    <div class="auk-u-mb-2 au-u-muted auk-u-text-small">
      <p>
        {{#if @piece.created}}
          {{t "uploaded-at"}}
          {{or (datetime-at @piece.file.created) (datetime-at @piece.created) "-"}}
        {{/if}}
      </p>
      {{#if @piece.accessLevelLastModified}}
        <p>
          {{t "access-level-last-modified"}}
          {{datetime-at @piece.accessLevelLastModified "-"}}
        </p>
      {{/if}}
    </div>
  </div>
</li>