<div class="auk-u-mb-4">
  <div
    class="auk-o-flex auk-u-p-2
      {{if this.isCurrentPiece "version-card-selected"}}"
  >
    <div class="auk-o-grid-col-static auk-u-mt">
      <Auk::Badge @icon="clock" @size="large" />
    </div>
    <div class="auk-o-flex auk-o-flex--vertical-center">
      <div class="auk-o-grid-col-flex">
        <p class="auk-u-text-bold">
          {{@piece.name}}
        </p>
        <p class="auk-u-muted auk-u-text-small">
          {{t "uploaded-at"}}
          {{moment-format @piece.created}}
          {{t "at"}}
          {{moment-format @piece.created "HH:mm"}}
        </p>
        <p class="auk-u-muted auk-u-text-small">
          {{t "access-level-last-modified"}}
          {{moment-format @piece.accessLevelLastModified}}
          {{t "at"}}
          {{moment-format @piece.accessLevelLastModified "HH:mm"}}
        </p>
        <div class="auk-o-flex auk-o-flex--vertical-center auk-u-mt">
          <Auk::Pill @skin="white" class="auk-u-mr">
            <Utils::AccessLevelColorBadge
              @accessLevel={{this.accessLevel}}
              class="auk-u-muted auk-text-small"
            />
          </Auk::Pill>
          <Utils::ConfidentialityPill @confidential={{@piece.confidential}} />
        </div>
      </div>
      <div class="auk-o-grid-col-static">
        <Auk::Button
          @layout="icon-only"
          @icon="download"
          @skin="borderless"
          @href={{@piece.file.namedDownloadLink}}
          download
        />
        <Auk::Button
          @layout="icon-only"
          @icon="book"
          @skin="borderless"
          {{on "click" (fn @onSelectVersion @piece)}}
        />
      </div>
    </div>
  </div>
</div>