{{page-title (t "manage-emails")}}

<div class="auk-u-m-8">
  <div class="auk-u-mb-3">
    <Auk::Panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h4 class="auk-panel__title">{{t "manage-emails"}}</h4>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "translation-requests"}}</h4>
          <div class="auk-form-group-layout--horizontal">
            <div class="auk-form-group">
              <Auk::Label>
                {{t "email-to"}}
              </Auk::Label>
              <Auk::Input
                @value={{mut this.model.translationRequestToEmail}}
                @block={{true}}
              />
            </div>
            <div class="auk-form-group">
              <Auk::Label>
                {{t "email-cc"}}
              </Auk::Label>
              <Auk::Input
                @value={{mut this.model.translationRequestCcEmail}}
                @block={{true}}
              />
            </div>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "proof-requests"}}</h4>
          <div class="auk-form-group-layout--horizontal">
            <div class="auk-form-group">
              <Auk::Label>
                {{t "email-to"}}
              </Auk::Label>
              <Auk::Input
                @value={{mut this.model.proofRequestToEmail}}
                @block={{true}}
              />
            </div>
            <div class="auk-form-group">
              <Auk::Label>
                {{t "email-cc"}}
              </Auk::Label>
              <Auk::Input
                @value={{mut this.model.proofRequestCcEmail}}
                @block={{true}}
              />
            </div>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body>
        <div class="auk-content">
          <h4>{{t "publication-requests"}}</h4>
          <div class="auk-form-group-layout--horizontal">
            <div class="auk-form-group">
              <Auk::Label>
                {{t "email-to"}}
              </Auk::Label>
              <Auk::Input
                @value={{mut this.model.publicationRequestToEmail}}
                @block={{true}}
              />
            </div>
            <div class="auk-form-group">
              <Auk::Label>
                {{t "email-cc"}}
              </Auk::Label>
              <Auk::Input
                @value={{mut this.model.publicationRequestCcEmail}}
                @block={{true}}
              />
            </div>
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Footer>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <Auk::ButtonLink
                @skin="borderless"
                @disable={{this.save.isRunning}}
                {{on "click" this.cancel}}
              >
                {{t "cancel"}}
              </Auk::ButtonLink>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="primary"
                @disabled={{this.isDisabled}}
                @loading={{this.save.isRunning}}
                {{on "click" (perform this.save)}}
              >
                {{t "save"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    </Auk::Panel>
  </div>
</div>