<div
  class={{if @agendaitem.retracted "auk-u-opacity--1/3"}}
  {{in-viewport
    onEnter=(perform this.lazyLoadSideData)
    onExit=this.cancelLazyLoad
  }}
>
  <div data-test-agenda-overview-item-container class="vlc-agenda-items__body">
    <h4 class="vlc-agenda-items__subject">
      {{#if @showDragHandle}}
        <div class="vlc-agenda-items__cursor">
          <AuIcon
            class="auk-u-cursor-grab auk-u-text-muted"
            @icon="drag-handle-2"
            @size="large"
          />
        </div>
      {{/if}}
      <span class="vlc-agenda-items-sub-item__numbering">
        {{! For legacy data agenda-item number can be unexistent }}
        {{#if @agendaitem.number}}
          {{@agendaitem.number}}.
        {{/if}}
      </span>
    </h4>
    <div class="vlc-agenda-items__text">
      <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
        <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
          <h4 class="vlc-agenda-items__subject auk-u-m-0">
            <LinkTo
              data-test-agenda-overview-item-sub-item
              @route="agenda.agendaitems.agendaitem"
              @model={{@agendaitem.id}}
              @query={{hash anchor=@agendaitem.id}}
            >
              <pre class="auk-u-text-pre-line">
                {{#if @agendaitem.shortTitle}}
                  {{@agendaitem.shortTitle}}
                {{else}}
                  {{@agendaitem.title}}
                  {{! Fallback for legacy data that doesn't have a short title }}
                {{/if}}
              </pre>
            </LinkTo>
          </h4>
          {{#if @isNew}}
            <p class="auk-u-text-small au-u-muted auk-u-text-nowrap auk-u-mr-2">
              <Auk::ColorBadge @skin="success" />
              {{t "new-agendaitem"}}
            </p>
          {{/if}}
        </div>
        <div
          class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced"
        >
          {{#if this.subcase.confidential}}
            <AuPill
              @size="small"
              @skin="warning"
              @icon="lock-closed"
            >
              {{t "limited-access"}}
            </AuPill>
          {{/if}}
          {{#if this.loadNewsletterVisibility.lastSuccessful}}
            {{#if this.newsletterIsVisible}}
              <AuPill
                @skin="border"
                @icon="website"
                @draft={{and @agendaitem.isDesignAgenda @agendaitem.formallyOkToShow @isNew}}
              >
                {{t "on-the-website"}}
              </AuPill>
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{#if @agendaitem.shortTitle}}
        {{! Avoid rendering the same thing twice if no "shortTitle" exists }}
        <pre
          data-test-agenda-overview-item-title
          class="vlc-agenda-items__body-padding auk-u-text-pre-line"
        >
          {{@agendaitem.title}}
        </pre>
      {{/if}}

      <div class="auk-o-flex auk-o-flex--justify-between">
        {{#if this.subcase.subcaseName}}
          <AuPill @size="small" class="vlc-agenda-meta__times-passed" data-test-agenda-overview-item-subcase-name>
            {{!capitalization using helper instead of css class:
                  because of `display: inline-flex` property of Auk::Pill
                  it is not affected by the `::first-letter` selector
                  used in the auk-u-text-capitalize class }}
            {{capitalize this.subcase.subcaseName}}
          </AuPill>
        {{else}}
          {{!  TODO: Only here because required for alignment of flex items }}
          <span class="vlc-agenda-meta__times-passed"></span>
        {{/if}}
        {{#if (and (user-may "manage-agendaitems") @showFormallyOkStatus)}}
          {{#if @isEditingFormallyOkStatus}}
            <div class="vlc-agenda-meta__status-holder">
              <Utils::FormallyOkSelector
                data-test-agenda-overview-item-formally-ok={{true}}
                @formallyOkStatusUri={{@agendaitem.formallyOk}}
                @onChange={{this.setAndSaveFormallyOkStatus}}
              />
            </div>
          {{/if}}
        {{/if}}
      </div>
      {{#if this.documentsAreVisible}}
        <div class="auk-u-mt-4">
          <Documents::DocumentBadgeList
            @pieces={{this.limitedAgendaitemDocuments}}
            @highlightedPieces={{this.newAgendaitemDocuments}}
            @agendaContext={{hash meeting=@meeting agenda=@currentAgenda agendaitem=@agendaitem}}
          />
        </div>
        {{#if this.enableShowMore}}
          <AuButton
            class="auk-u-mt-2"
            @skin="link"
            @icon={{if this.isShowingAllDocuments "dash" "plus"}}
            {{on "click" this.toggleShowingAllDocuments}}
          >
            {{#if this.isShowingAllDocuments}}
              {{t "show-less"}}
            {{else}}
              {{t "show-more"}}
            {{/if}}
          </AuButton>
        {{/if}}
      {{/if}}
      {{#unless @isEditingFormallyOkStatus}}
        {{#if @agendaitem.comment}}
          <p>
            <strong class="auk-u-text-bold">
              {{t "comment-title"}}:
            </strong>
            {{@agendaitem.comment}}
          </p>
        {{/if}}
        <div class="auk-hr">
          <hr />
        </div>
        <div class="vlc-agenda-items__remarks">
          {{!-- Empty container below so that, when it is empty, the adjacent element is still pushed to the right  --}}
          <div>
            {{#if @agendaitem.privateComment}}
              <p class="auk-u-text-muted">
                <strong class="auk-u-text-bold">
                  <Auk::Icon @name="lock-closed" @size="small" />
                  {{t "private-comment-title"}}:
                </strong>
                {{@agendaitem.privateComment}}
              </p>
            {{/if}}
          </div>
          <div class="vlc-agenda-items__icons">
            <div class="vlc-agenda-meta__status-holder auk-u-ml-2">
              {{#if (and (user-may "manage-agendaitems") @showFormallyOkStatus)}}
                <p
                  class={{@agendaitem.formallyOkToShow.classNames}}
                  data-test-agenda-overview-item-status
                >
                  <Auk::Icon
                    @name={{@agendaitem.formallyOkToShow.svg.icon}}
                    class="formally-ok-icon"
                  />
                  {{@agendaitem.formallyOkToShow.label}}
                </p>
              {{/if}}
            </div>
          </div>

        </div>
      {{/unless}}
    </div>
  </div>
</div>
