<div class={{if @agendaitem.retracted "vlc-u-opacity-lighter"}}
  {{in-viewport
    onEnter=(perform this.lazyLoadSideData)
    onExit=this.cancelLazyLoad
  }}
>
  <div data-test-agenda-overview-item-container class="vlc-agenda-items__body ">
    <h4 class="vlc-agenda-items__subject">
      {{#if @showDragHandle}}
        <div class="vlc-agenda-items__cursor">
          {{!-- TODO: grab-hand shows over the whole parent height instead of only over the grab-handle icon --}}
          <Auk::Button
            class="auk-u-p-0 auk-u-cursor-grab"
            @skin="borderless"
          >
            <Auk::Icon @name="drag-handle-2"/>
          </Auk::Button>
        </div>
      {{/if}}
      <span class="vlc-agenda-items-sub-item__numbering">
        {{!-- For legacy data agenda-item number can be unexistent --}}
        {{#if @agendaitem.number}}
          {{@agendaitem.number}}.
        {{/if}}
      </span>
    </h4>
    <div class="vlc-agenda-items__text">
      <div class="auk-o-flex">
        <div class="left_side">
          <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
            <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
              <h4 class="vlc-agenda-items__subject auk-u-m-0">
                <LinkTo
                  data-test-agenda-overview-item-sub-item
                  @route="agenda.agendaitems.agendaitem"
                  @model={{@agendaitem.id}}
                  @query={{hash anchor=@agendaitem.id}}
                >
                  <pre class="auk-u-text-pre-line">
                    {{#if @agendaitem.shortTitle}}
                      {{@agendaitem.shortTitle}}
                    {{else}}
                      {{@agendaitem.title}} {{!-- Fallback for legacy data that doesnt have a short title --}}
                    {{/if}}
                  </pre>
                </LinkTo>
              </h4>
              {{#if @isNew}}
              <p class="auk-u-text-small auk-u-muted auk-u-text-nowrap auk-u-mr-2">
                <Auk::ColorBadge @skin="success" /> {{t "added-agendaitem-text"}}
              </p>
              {{/if}}
            </div>
            <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
              {{#if this.subcase.confidential}}
                {{#if (and (and @agendaitem.isDesignAgenda @agendaitem.formallyOkToShow) @isNew)}}
                <Auk::Pill
                  @skin="warning-future"
                  @icon="lock-closed"
                  data-test-agenda-overview-item-confidentiality-locked
                >
                  {{t "confidential"}}
                </Auk::Pill>
                {{else}}
                <Auk::Pill
                  @skin="warning"
                  @icon="lock-closed"
                  data-test-agenda-overview-item-confidentiality-locked
                >
                  {{t "confidential"}}
                </Auk::Pill>
                {{/if}}
              {{else}}
                <Auk::Pill @skin="invisible"></Auk::Pill>
              {{/if}}
              {{#if this.newsletterIsVisible}}
                {{#if (and (and @agendaitem.isDesignAgenda @agendaitem.formallyOkToShow) @isNew)}}
                <Auk::Pill
                  @skin="future"
                  @icon="circle-info"
                >
                  Op de website
                </Auk::Pill>
                {{else}}
                <Auk::Pill
                  @skin="blank"
                  @icon="circle-info"
                >
                  Op de website
                </Auk::Pill>
                {{/if}}
              {{/if}}
            </div>
          </div>

          {{#if (not @agendaitem.isApproval)}}
            {{#if @agendaitem.shortTitle}} {{!-- Avoid rendering the same thing twice if no "shortTitle" exists --}}
              <pre data-test-agenda-overview-item-title class="auk-u-text-pre-line">
                {{@agendaitem.title}}
              </pre>
            {{/if}}
          {{/if}}

          {{#if @agendaitem.explanation}}
          <div class="auk-u-mt-2">
            <p>
              <strong class="auk-u-text-bold">
                {{t "remark-title"}}:
              </strong>{{@agendaitem.explanation}}
            </p>
          </div>
        {{/if}}
        </div>
      </div>
      {{#if this.subcase.subcaseName}}
      <div class="auk-u-mt-2">
        <Auk::Pill class="vlc-agenda-meta__times-passed auk-u-text-capitalize">
          {{this.subcase.subcaseName}}
        </Auk::Pill>
      </div>
      {{/if}}
      {{#if (or this.currentSession.isEditor this.documentsAreReleased)}}
        <div class="auk-u-mt-4">
          <Documents::DocumentBadgeList
            @pieces={{this.limitedAgendaitemDocuments}}
            @highlightedPieces={{this.newAgendaitemDocuments}}
            @isFuture={{if (and (and @agendaitem.isDesignAgenda @agendaitem.formallyOkToShow) @isNew) true}}
          />
        </div>
        {{#if this.enableShowMore}}
        <Auk::ButtonLink
          @icon={{if this.isShowingAllDocuments "dash" "plus"}}
          {{on "click" this.toggleShowingAllDocuments}}
          class="auk-u-text-small auk-u-mt-4"
        >
          {{#if this.isShowingAllDocuments }}
            {{t "show-less"}}
          {{else}}
            {{t "show-more"}}
          {{/if}}
        </Auk::ButtonLink>
        {{/if}}
      {{/if}}
      {{#unless @isEditingFormallyOkStatus}}
        {{#if (or @agendaitem.explanation (and this.currentSession.isEditor @showFormallyOkStatus))}}
          <div class="auk-hr">
            <hr/>
          </div>
          <div class="vlc-agenda-items__remarks">
            <div>
              {{#if @agendaitem.explanation}}
                <p class="auk-u-muted">
                  <strong class="auk-u-icon-left auk-u-text-bold">
                    <Auk::Icon @name="lock-closed" @size="small" />
                    {{t "util.internal-remark-title"}}:
                  </strong>Test
                </p>
              {{/if}}
            </div>
            <div class="vlc-agenda-items__icons">
              <div
                class="auk-o-flex vlc-agenda-items__icons"
              >
                <div class="vlc-agenda-meta__status-holder">
                  {{#if (and this.currentSession.isEditor @showFormallyOkStatus)}}
                    {{#if @isEditingFormallyOkStatus}}
                      <Utils::FormallyOkSelector
                        data-test-agenda-overview-item-formally-ok={{true}}
                        @formallyOkStatusUri={{@agendaitem.formallyOk}}
                        @onChange={{this.setAndSaveFormallyOkStatus}}
                      />
                    {{else}}
                      <p class="{{@agendaitem.formallyOkToShow.classNames}}" data-test-agenda-overview-item-status>
                        <i class="{{@agendaitem.formallyOkToShow.iconClassNames}}" aria-hidden="true"></i>
                        {{@agendaitem.formallyOkToShow.label}}
                      </p>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/unless}}
    </div>
  </div>
</div>