<div class={{if @agendaitem.retracted "vlc-u-opacity-lighter"}}
  {{in-viewport
    onEnter=(perform this.lazyLoadSideData)
    onExit=(fn this.cancelLazyLoad)
  }}
>
  <div class="vlc-agenda-items__body ">
    <h4 class="vlc-agenda-items__subject">
      {{#if @showDragHandle}}
        <div class="vlc-agenda-items__cursor">
          <WebComponents::AuButton class="auk-u-p-0" @skin="borderless">
            <WebComponents::AuIcon @name="drag-handle-2" @grab={{true}}/>
          </WebComponents::AuButton>
        </div>
      {{/if}}
      <span class="vlc-agenda-items-sub-item__numbering">
        {{@agendaitem.priority}}.
      </span>
    </h4>
    <div class="vlc-agenda-items__text">
      <div class="auk-o-flex">
        <div class="left_side">
          <h4 class="vlc-agenda-items__subject">
            <LinkTo
              data-test-agenda-overview-sub-item
              @route="agenda.agendaitems.agendaitem"
              @model={{@agendaitem.id}}
              @query={{hash anchor=@agendaitem.id}}
            >
              <pre class="auk-u-text-pre-line">
                {{#if @agendaitem.shortTitle}}
                  {{@agendaitem.shortTitle}}
                {{else}}
                  {{@agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
                {{/if}}
              </pre>
            </LinkTo>
          </h4>

          {{#if (not @agendaitem.isApproval)}}
            {{#if @agendaitem.shortTitle}} {{!-- Avoid rendering the same thing twice if no "shortTitle" exists --}}
              <pre class="vlc-agenda-items__body-padding auk-u-text-pre-line">
                {{@agendaitem.title}}
              </pre>
            {{/if}}
          {{/if}}

        </div>
      </div>

      <div class="auk-o-flex auk-o-flex--justify-between">
        {{#if this.subcase.subcaseName}}
          <WebComponents::AuPill class="vlc-agenda-meta__times-passed auk-u-text-capitalize">
            {{this.subcase.subcaseName}}
          </WebComponents::AuPill>
        {{else}}
          {{!--  TODO: Only here because required for alignment of flex items --}}
          <span class="vlc-agenda-meta__times-passed auk-u-text-capitalize"></span>
        {{/if}}
        <div class="vlc-agenda-meta__status-holder">
          {{#if (and this.currentSessionService.isEditor @showFormallyOkStatus)}}
            {{#if @isEditingFormallyOkStatus}}
              <Utils::FormallyOkSelector
                data-test-agenda-overview-item-formallyok=""
                @formallyOkStatusUri={{@agendaitem.formallyOk}}
                @onChange={{this.setAndSaveFormallyOkStatus}}
              />
            {{else}}
              <p class="{{@agendaitem.formallyOkToShow.classNames}}">
                <i class="{{@agendaitem.formallyOkToShow.iconClassNames}}" aria-hidden="true"></i>
                {{@agendaitem.formallyOkToShow.label}}
              </p>
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if (or this.currentSessionService.isEditor this.documentsAreReleased)}}
        <div class="vl-accordion__panel">
          <div class="auk-u-mt-4">
            <Documents::DocumentBadgeList
              @pieces={{this.limitedAgendaitemDocuments}}
              @highlightedPieces={{this.newAgendaitemDocuments}}
            />
          </div>
        </div>
        {{#if this.enableShowMore}}
          <button class="vlc-document-show-more-button" type="button" {{on "click" this.toggleShowingAllDocuments}}>
            <WebComponents::AuIcon @name={{if this.isShowingAll "remove" "add"}} />
            <p class="vlc-document-show-more-button__text auk-u-ml">
              {{#if this.isShowingAllDocuments }}
                {{t "show-less"}}
              {{else}}
                {{t "show-more"}}
              {{/if}}
            </p>
          </button>
        {{/if}}
      {{/if}}
      {{#unless @isEditingFormallyOkStatus}}
        <div class="auk-hr">
          <hr/>
        </div>
        <div class="vlc-agenda-items__remarks">
          <div>
            {{#if @agendaitem.explanation}}
              <span class="auk-u-text-bold">
                {{t "remark-title"}}:
              </span> {{@agendaitem.explanation}}
            {{/if}}
          </div>
          <div class="vlc-agenda-items__icons">
            <div
              class="auk-o-flex vlc-agenda-items__icons"
            >
              {{#if this.loadNewsletterVisibility.lastSuccessful}}
                {{#if (not this.newsletterIsVisible)}}
                  <div class="auk-icon auk-icon--default vlc-u-opacity-50 auk-u-ml-2 opacity-lighter">
                    <i class="ki ki-not-visible"></i>
                    <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                      <p>
                        {{t "not-visible-in-newsletter"}}
                      </p>
                    </EmberTooltip>
                  </div>
                {{else}}
                  {{!-- TODO: this icon is merely here as an invisible placeholder.
                    This keeps element-height the same at all times in order to prevent "jumping" when data is being side-loaded.
                    This should be tackled differently through modified design --}}
                  <div class="auk-icon auk-icon--default vlc-u-opacity-50 auk-u-ml-2 opacity-lighter" style="color: white;">
                    <i class="ki ki-not-visible"></i>
                  </div>
                {{/if}}
              {{else}}
                {{!-- TODO: design loading state for newsletter visibility --}}
                <div class="auk-icon auk-icon--default vlc-u-opacity-50 auk-u-ml-2 opacity-lighter">
                  <i class="ki ki-circle-question"></i>
                  <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
                    <p>
                      {{t "loading"}}
                    </p>
                  </EmberTooltip>
                </div>
              {{/if}}
              {{#if @isNew}}
                <div class="auk-icon auk-icon--default vlc-agenda-item__icons--margin">
                  <i class="ki ki-calendar-new"></i>
                  <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                    <p>
                      {{t "added-agendaitem-text"}}
                    </p>
                  </EmberTooltip>
                </div>
              {{/if}}
            </div>
            {{#if this.subcase.confidential}}
              <span class="vlc-agenda-items__confidentiality-button auk-pill auk-pill--danger">
                <div class="auk-icon auk-icon--default vlc-agenda-items__icons" data-test-icon-agenda-confidentiality-locked>
                  <i class="ki ki-lock-closed"></i>
                </div>
                {{t "confidential"}}
              </span>
            {{/if}}
          </div>
        </div>
      {{/unless}}
    </div>
  </div>
</div>