<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "edit-item.sub-title")}}
    {{textarea
      rows="4"
      class="vl-textarea vl-textarea--block"
      value=agendaitem.newsletterInfo.subtitle
    }}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "edit-item.content")}}
    {{textarea
      rows="10"
      class="vl-textarea vl-textarea--block"
      value=agendaitem.newsletterInfo.text
    }}
  </div>
  <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "finished")}}
      {{x-toggle
        value=(await finished)
        onToggle=(action (mut finished))
      }}
    </div>
  <div class="vlc-input-field-block">
    {{utils/documents-selector-of-agendaitem
      item=agendaitem
      title=(t "documents-attached-to")
      itemWithDocuments=(await agendaitem.newsletterInfo)
      selectDocument=(action "selectDocument")
    }}
  </div>
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing" agendaitem}}>
    {{t "buttons.cancel"}}
  </a>
  <button
    class="vl-button vl-button--narrow"
    {{action "saveChanges" agendaitem}}
  >
    {{t "buttons.save"}}
  </button>
</div>