<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "short-title")}}
    {{web-components/vl-form-input width="4" value=title}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "mandatee-proposal")}}
    {{web-components/vl-form-input width="4" value=mandateeProposal}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "decision-in-newsletter")}}
    {{web-components/vl-rdfa-editor
      isLarge=isExpanded
      richtext=(await agendaitem.subcase.newsletterInfo.richtext)
      handleRdfaEditorInit=(action "handleRdfaEditorInit")
    }}
  </div>
  <div class="vlc-input-field-block vl-u-text--capitalize">
    {{web-components/vl-form-label value=(t "remark")}}
    {{web-components/vl-form-input width="4" value=remark}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "finished")}}
    {{web-components/vl-toggle value=finished}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "themes")}}
    {{utils/themes-selector selectedThemes=themes}}
  </div>
  {{#if finished}}
    <div class="vlc-input-field-block">
      {{utils/documents-selector-of-agendaitem
        item=(await agendaitem)
        title=(t "documents-attached-to")
        itemWithDocuments=(await item)
        selectDocument=(action "selectDocument")
      }}
    </div>
  {{/if}}
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing"}}>
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>