<form autocomplete="off" class="edit-news-item-form">
  <p>
    <div class="label">
      {{t "edit-item.title"}}
    </div>
    {{input class="vl-input-field vl-input-field__input" value=newsItem.title}}
  </p>
  <p>
    <div class="label">
      {{t "edit-item.sub-title"}}
    </div>
    {{input
      class="vl-input-field vl-input-field__input"
      value=newsItem.subtitle
      autocomplete="off"
    }}
  </p>
  {{! TODO FIX THIS ERROR }}
  {{!-- {{t "edit-item.content"}}
  {{textarea class="vl-input-field vl-input-field__input" value=newsItem.content}} --}}
  <p>
    <div class="label">
      {{t "edit-item.date-publication"}}
    </div>
    {{pikaday-input
      theme="pikaday-session"
      class="vl-input-field vl-input-field__input"
      useUTC=true
      value=newsItem.publicationDate
      onSelection=(action "updatePublicationDate")
    }}
  </p>
  <p>
    <div class="label">
      {{t "edit-item.themes"}}
    </div>
    {{utils/theme-list
      chooseTheme=(action "chooseTheme")
      selectedThemes=newsItem.themes
    }}
  </p>
</form>
{{yield}}