<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "short-title")}}
    {{textarea rows="2" class="vl-textarea vl-textarea--block" value=title}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "subtitle")}}
    {{textarea rows="4" class="vl-textarea vl-textarea--block" value=subtitle}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "content")}}
    {{textarea rows="10" class="vl-textarea vl-textarea--block" value=text}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "finished")}}
    {{web-components/vl-toggle value=finished}}
  </div>
  {{#if finished}}
    <div class="vlc-input-field-block">
      {{utils/documents-selector-of-agendaitem
        item=subcase
        title=(t "documents-attached-to")
        itemWithDocuments=(await item)
        selectDocument=(action "selectDocument")
      }}
    </div>
  {{/if}}
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing"}}>
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>