<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "sub-title")}}
    {{textarea
      rows="4"
      class="vl-textarea vl-textarea--block"
      value=subtitle
    }}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "content")}}
    {{textarea
      rows="10"
      class="vl-textarea vl-textarea--block"
      value=text
    }}
  </div>
  <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "finished")}}
      {{x-toggle
        value=finished
        onToggle=(action (mut finished))
      }}
    </div>
  {{#if (await finished)}}
  <div class="vlc-input-field-block">
    {{utils/documents-selector-of-agendaitem
      item=agendaitem
      title=(t "documents-attached-to")
      itemWithDocuments=(await item)
      selectDocument=(action "selectDocument")
    }}
  </div>
  {{/if}}
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing"}}>
    {{t "cancel"}}
  </a>
  <button
    class="vl-button vl-button--narrow"
    {{action "saveChanges"}}
  >
    {{t "save"}}
  </button>
</div>