<form autocomplete="off" class="edit-news-item-form">
  <div class="properties">
    <div class="property">
      <div class="label">
        {{t 'edit-item.title'}}
      </div>
      {{input value=newsItem.title}}
    </div>
    <div class="property">
      <div class="label">
        {{t 'edit-item.sub-title'}}
      </div>
      {{input value=newsItem.subtitle autocomplete="off"}}
    </div>
    <div class="property">
      <div class="label">
        {{t 'edit-item.content'}}
      </div>
      {{textarea value=newsItem.content}}
    </div>
    <div class="property">
      <div class="label">
        {{t 'edit-item.date-publication'}}
      </div>
      {{pikaday-input
        theme="pikaday-session"
        useUTC=true
        value=newsItem.publicationDate
        onSelection=(action "updatePublicationDate")
      }}
    </div>
    <div class="property">
      <div class="label">
        {{t 'edit-item.themes'}}
      </div>
      {{utils/theme-list chooseTheme=(action "chooseTheme") selectedThemes=newsItem.themes}}
    </div>
  </div>
</form>

{{yield}}