<div class="vl-u-spacer">
  <div class="vl-u-display-flex align-right vl-u-spacer-extended-bottom-s">
    {{#if (not (is-pending agendaitem.nota))}}
      {{#if (not (await agendaitem.nota))}}
        <button
          class="vl-button vl-button--secondary vl-button--icon-before vl-button--disabled"
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-document"
          ></i>
          {{t "no-nota"}}
        </button>
      {{else}}
        <button
          class="vl-button vl-button--secondary vl-button--icon-before"
          {{action "openDocument" agendaitem bubbles=false}}
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-document"
          ></i>
          {{t "open-note"}}
        </button>
      {{/if}}
    {{else}}
      <div class="vl-loader" role="alert" aria-busy="true">
        {{#attach-popover
          placement="bottom"
          class="ember-attacher-popper ember-attacher-popper-small"
        }}
          {{t "nota-loading-text"}}
        {{/attach-popover}}
      </div>
    {{/if}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title")}}
    <p>
      {{agendaitem.title}}
    </p>
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "short-title")}}
    {{web-components/vl-form-input width="4" value=title}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "mandatee-proposal")}}
    <p>
      {{#if (await item.newsletterProposal)}}
        {{await item.newsletterProposal}}
      {{else}}
        {{t "not-applicable"}}
      {{/if}}
    </p>
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "decision-in-newsletter")}}
    {{web-components/vl-rdfa-editor
      isLarge=isExpanded
      richtext=(await agendaitem.subcase.newsletterInfo.richtext)
      handleRdfaEditorInit=(action "handleRdfaEditorInit")
    }}
  </div>
  <div class="vlc-input-field-block vl-u-text--capitalize">
    {{web-components/vl-form-label value=(t "remark")}}
    {{web-components/vl-form-input width="4" value=remark}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "finished")}}
    {{web-components/vl-toggle value=finished}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "themes")}}
    {{utils/themes-selector selectedThemes=themes}}
  </div>
  
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "cancelEditing"}}>
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>