{{page-title (capitalize (t "case")) }}

<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    <Publications::Publication::Case::Info::PublicationCaseInfoPanel
      @publicationFlow={{this.model}}
      class="auk-u-mb-3"
    />

    <Publications::Publication::Case::Remark::RemarkPanel
      @publicationFlow={{this.model}}
      class="auk-u-mb-3"
    />

    <div class="auk-u-mb-3">
      <Publications::Publication::Case::Inscription::InscriptionPanel
        @publicationFlow={{this.model}}
      />
    </div>

    <Publications::Publication::Case::Mandatees::MandateesPanel
      @publicationFlow={{this.model}}
      class="auk-u-mb-3"
    />

    <Publications::Publication::Case::GovernmentAreas::GovernmentAreasPanel
      @publicationFlow={{this.model}}
      class="auk-u-mb-3"
    />

    <Publications::Publication::Case::ContactPersons::ContactPersonsPanel
      @publicationFlow={{this.model}}
      class="auk-u-mb-3"
    />
  </div>
</div>