{{#if @icon}}

  {{#unless @layout}}
    <WebComponents::AuIcon @name={{@icon}} @size={{@size}}/>
    <div class="auk-button__label">
      {{yield}}
    </div>
  {{/unless}}

  {{#if (eq @layout "icon-only")}}
    <WebComponents::AuIcon @name={{@icon}} @size={{@size}}/>
  {{/if}}

  {{#if (eq @layout "icon-right")}}
    <div class="auk-button__label">
      {{yield}}
    </div>
    <WebComponents::AuIcon @name={{@icon}} @size={{@size}}/>
  {{/if}}

{{else}}

  {{yield}}

{{/if}}
