{{#if this.model}}
  <div id="case">
    <SubcaseDemo::PublicationTitle
      @subcase={{@model.subcase}}
      @meeting={{this.meeting}}
      @allowEditing={{user-may "manage-cases"}}
    />
  </div>
  <Mandatees::MandateesPanel
    @referenceDate={{if
      this.meeting
      this.meeting.plannedStart
      this.model.subcase.created
    }}
    @mandatees={{this.mandatees}}
    @submitter={{this.submitter}}
    @emptyStateMessage={{if this.showMandateesNotApplicableMessage (t "not-applicable")}}
    @allowEditing={{false}}
    @onSave={{this.saveMandateeData}}
  />
  <Utils::GovernmentAreas::GovernmentAreasPanel
    @referenceDate={{or this.meeting.plannedStart this.agenda.created @model.subcase.created}}
    @governmentAreas={{@model.subcase.governmentAreas}}
    @allowEditing={{false}}
    @onSave={{this.saveGovernmentAreas}}
  />

  <div>
     <SubcaseDemo::Contactpersons/>
  </div>

  <div id="documents" class="auk-u-mb-4">
    <SubcaseDemo::Decisioninfo/>
  </div>

  <div id="agenda">
     <SubcaseDemo::PublicationStatus/>
  </div>
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isOpenPieceUploadModal}}
  @title={{t "document-add"}}
  @onConfirm={{perform this.savePieces}}
  @onCancel={{perform this.cancelUploadPieces}}
  @confirmMessage={{t "documents-add"}}
  @disabled={{eq this.newPieces.length 0}}
  @loading={{this.savePieces.isRunning}}
>
  <:body>
    {{#if this.savePieces.isRunning}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else}}
      <Auk::FileUploader
        @multiple={{true}}
        @reusable={{true}}
        @onUpload={{this.uploadPiece}}
      />
      <div class="upload-container">
        {{#each this.newPieces as |piece|}}
          <Documents::UploadedDocument
            @piece={{piece}}
            @allowDocumentContainerEdit={{true}}
            @onDelete={{perform this.deletePiece piece}} />
        {{/each}}
      </div>
    {{/if}}
  </:body>
</ConfirmationModal>

{{#if this.isOpenBatchDetailsModal}}
  <Documents::BatchDetails::BatchDocumentsDetailsModal
    @pieces={{this.model.pieces}}
    @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
    @onCancel={{this.cancelBatchDetails}}
    @onSave={{this.saveBatchDetails}}
  />
{{/if}}