{{#if this.model}}
  <div id="case">
    <SubcaseDemo::VpTitle
      @subcase={{@model.subcase}}
      @meeting={{this.meeting}}
    />
  </div>

  {{!-- Documents --}}
  <div id="documents" class="auk-u-mb-4">
    <Auk::Panel data-test-subcase-description-panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <div class="au-u-flex au-u-flex--spaced-small">
                <h4 class="auk-panel__title">
                  Nieuwste documenten
                </h4>
              </div>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <AuHeading @level="4" @skin="6">Principiële goedkeuring</AuHeading>
        <ul>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf(getekend)
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Nota.pfd
                </span>
              </a>
            </div>
          </li>
        </ul>
        <AuHeading @level="4" @skin="6" class="auk-u-mt-4">Principiële goedkeuring</AuHeading>
        <ul>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf(getekend)
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Nota.pfd
                </span>
              </a>
            </div>
          </li>
        </ul>
        <AuHeading @level="4" @skin="6" class="auk-u-mt-4">Definitieve goedkeuring</AuHeading>
        <ul>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf(getekend)
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Nota.pfd
                </span>
              </a>
            </div>
          </li>
        </ul>
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>


  <div id="agenda">
    <Auk::Panel data-test-subcase-description-panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <div class="au-u-flex au-u-flex--spaced-small">
                <h4 class="auk-panel__title">
                  Document versies
                </h4>
              </div>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body class="auk-u-bg-alt">
        <ul class="vlc-status-timeline">
          <li
            class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
          >
            <div class="vlc-status-timeline__dot"></div>
            <div class="vlc-status-timeline__text au-u-flex au-u-flex--spaced-tiny au-u-1-1">
              Upgedate op 22 november 2023 <AuButton @skin="link" @icon="chevron-right" @iconAlignment="right" {{on 'click' this.showVpModal}}>Bekijk documenten</AuButton>
            </div>
          </li>
          <li
            class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
          >
            <div class="vlc-status-timeline__dot"></div>
            <div class="vlc-status-timeline__text au-u-flex au-u-flex--spaced-tiny au-u-1-1">
              Upgedate op 22 november 2023 <AuButton @skin="link" @icon="chevron-right" @iconAlignment="right" {{on 'click' this.showVpModal}}>Bekijk documenten</AuButton>
            </div>
          </li>
          <li
            class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
          >
            <div class="vlc-status-timeline__dot"></div>
            <div class="vlc-status-timeline__text au-u-flex au-u-flex--spaced-tiny au-u-1-1">
               Verzonden op 15 november 2023 door 'naam kabinetsmedewerker' <AuButton @skin="link" @icon="chevron-right" @iconAlignment="right" {{on 'click' this.showVpModal}}>Bekijk documenten</AuButton>
            </div>
          </li>
        </ul>
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>

{{/if}}

{{#if this.vpModal}}
<Auk::Modal @size="medium">
  <Auk::Modal::Header 
    @title="Verzonden op 22 november 2023"
    @onClose={{this.showVpModal}}
  />
  <Auk::Modal::Body>
    <AuContent>
      <p>Vink de documenten aan die verstuurd mogen worden naar het Vlaams Parlement</p>
      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Principiële goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-2 Decreet dienstencheques - decreetBIS (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-3 Decreet dienstencheques - memorieTER (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-1 Decreet dienstencheques - notaBIS (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR PV 2023/31 - PUNT 0085 (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-4 Decreet dienstencheques - IF (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Principiële goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-1 Decreet dienstencheques - nota (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR PV 2023/40 - PUNT 0011 (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-4 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-2 Decreet dienstencheques - decreet (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-5 Decreet dienstencheques advies (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-3 Decreet dienstencheques - memorie (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-6 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Definitieve goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-2 Decreet dienstencheques - decreet (Word en PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-3 Decreet dienstencheques - memorie (Word en ondertekende PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-1 Decreet dienstencheques - nota (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR PV 2024/8 - punt 0016 (ondertekende PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-4 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <div class="auk-form-group au-u-margin-top au-u-margin-bottom">
        <Auk::Label for="remarks">Opmerkingen</Auk::Label>
        <Auk::Textarea
          @rows="4"
          @value=""
          id="remarks"
        />
      </div>
    </AuContent>
    <AuCard
      @shadow={{false}}
      @standOut={{true}}
      @size="small"
      @expandable={{true}}
      as |c|
    >
      <c.header>
        <AuHeading @level="3" @skin="6">
          Mogelijks zijn er nog documenten te kort, kijk je even mee?
        </AuHeading>
      </c.header>
      <c.content>
        <p>We deden een automatische check, misschien moet één van volgende documenten toch mee?</p>
        <ul class="au-u-margin-top-small">
          <li>
            <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-2 Decreet dienstencheques - decreet (ondertekende PDF)</AuLinkExternal>
          </li>
        </ul>
      </c.content>
    </AuCard>
  </Auk::Modal::Body>
</Auk::Modal>
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isOpenPieceUploadModal}}
  @title={{t "document-add"}}
  @onConfirm={{perform this.savePieces}}
  @onCancel={{perform this.cancelUploadPieces}}
  @confirmMessage={{t "documents-add"}}
  @disabled={{eq this.newPieces.length 0}}
  @loading={{this.savePieces.isRunning}}
>
  <:body>
    {{#if this.savePieces.isRunning}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else}}
      <Auk::FileUploader
        @multiple={{true}}
        @reusable={{true}}
        @onUpload={{this.uploadPiece}}
      />
      <div class="upload-container">
        {{#each this.newPieces as |piece|}}
          <Documents::UploadedDocument
            @piece={{piece}}
            @allowDocumentContainerEdit={{true}}
            @onDelete={{perform this.deletePiece piece}} />
        {{/each}}
      </div>
    {{/if}}
  </:body>
</ConfirmationModal>

{{#if this.isOpenBatchDetailsModal}}
  <Documents::BatchDetails::BatchDocumentsDetailsModal
    @pieces={{this.model.pieces}}
    @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
    @onCancel={{this.cancelBatchDetails}}
    @onSave={{this.saveBatchDetails}}
  />
{{/if}}