{{#if this.model}}
  <div id="case">
    <SubcaseDemo::VpTitle
      @subcase={{@model.subcase}}
      @meeting={{this.meeting}}
    />
  </div>

  {{!-- Documents --}}
  <div id="documents" class="auk-u-mb-4">
    <Auk::Panel data-test-subcase-description-panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <div class="au-u-flex au-u-flex--spaced-small">
                <h4 class="auk-panel__title">
                  Nieuwste documenten
                </h4>
              </div>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <AuHeading @level="4" @skin="6">Eerste principiële goedkeuring</AuHeading>
        <ul>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf(getekend)
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Nota.pfd
                </span>
              </a>
            </div>
          </li>
        </ul>
        <AuHeading @level="4" @skin="6" class="auk-u-mt-4">Tweede principiële goedkeuring</AuHeading>
        <ul>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Beslissingsfiche.pdf(getekend)
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Ontwerpdecreet.docx
                </span>
              </a>
            </div>
          </li>
          <li class="vlc-document-list__item">
            <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
              <a href="#!" rel="noreferrer noopener" data-test-document-badge-link="">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-document"></i>
                </div>
                <span>
                  VR 2022 2212 DOC.0357-3BIS Parkendecreet -Nota.pfd
                </span>
              </a>
            </div>
          </li>
        </ul>
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>


  <div id="agenda">
    <Auk::Panel data-test-subcase-description-panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <div class="au-u-flex au-u-flex--spaced-small">
                <h4 class="auk-panel__title">
                  Document versies
                </h4>
              </div>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body class="auk-u-bg-alt">
        <ul class="vlc-status-timeline">
          <li
            class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
          >
            <div class="vlc-status-timeline__dot"></div>
            <div class="vlc-status-timeline__text au-u-flex au-u-flex--spaced-small au-u-1-1">
              Verzonden op 22 november 2023 <AuLinkExternal @icon="chevron-right" @iconAlignment="right" @href="!#">Bekijk documenten</AuLinkExternal>
            </div>
          </li>
          <li
            class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
          >
            <div class="vlc-status-timeline__dot"></div>
            <div class="vlc-status-timeline__text au-u-flex au-u-flex--spaced-small au-u-1-1">
              Upgedate op 22 november 2023 <AuLinkExternal @icon="chevron-right" @iconAlignment="right" @href="!#">Bekijk documenten</AuLinkExternal>
            </div>
          </li>
          <li
            class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
          >
            <div class="vlc-status-timeline__dot"></div>
            <div class="vlc-status-timeline__text au-u-flex au-u-flex--spaced-small au-u-1-1">
               Dringend op 15 november 2023 <AuLinkExternal @icon="chevron-right" @iconAlignment="right" @href="!#">Bekijk documenten</AuLinkExternal>
            </div>
          </li>
        </ul>
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>

{{/if}}

<ConfirmationModal
  @modalOpen={{this.isOpenPieceUploadModal}}
  @title={{t "document-add"}}
  @onConfirm={{perform this.savePieces}}
  @onCancel={{perform this.cancelUploadPieces}}
  @confirmMessage={{t "documents-add"}}
  @disabled={{eq this.newPieces.length 0}}
  @loading={{this.savePieces.isRunning}}
>
  <:body>
    {{#if this.savePieces.isRunning}}
      <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
    {{else}}
      <Auk::FileUploader
        @multiple={{true}}
        @reusable={{true}}
        @onUpload={{this.uploadPiece}}
      />
      <div class="upload-container">
        {{#each this.newPieces as |piece|}}
          <Documents::UploadedDocument
            @piece={{piece}}
            @allowDocumentContainerEdit={{true}}
            @onDelete={{perform this.deletePiece piece}} />
        {{/each}}
      </div>
    {{/if}}
  </:body>
</ConfirmationModal>

{{#if this.isOpenBatchDetailsModal}}
  <Documents::BatchDetails::BatchDocumentsDetailsModal
    @pieces={{this.model.pieces}}
    @didDeletePiece={{this.setPreviousPiecesFromAgendaitem}}
    @onCancel={{this.cancelBatchDetails}}
    @onSave={{this.saveBatchDetails}}
  />
{{/if}}