{{page-title (t "subcases")}}

<Subcases::SubcasesOverviewHeader
  @case={{this.case}}
  @onCreateSubcase={{this.refreshSubcases}}
  @onSaveCase={{perform this.saveCase}}
/>
<div class="auk-scroll-wrapper__body">
  {{#if this.model}}
    <Subcases::SubcasesProcess @case={{this.case}} @subcases={{this.model}} />
  {{else}}
    <div class="auk-u-m-8">
      <Auk::EmptyState @message={{t "no-subcases"}} />
    </div>
  {{/if}}
</div>