{{page-title (t "subcases")}}

<Subcases::SubcasesOverviewHeader
        @case={{this.model.case}}
        @isShowingProcess={{this.isShowingProcess}}
        @backLink={{this.backLinkAction}}
        @onSaveSubcase={{perform this.saveSubcase}}
        @onSaveCase={{perform this.saveCase}}
/>
<div class="auk-scroll-wrapper__body">
  {{#if (gt (await this.model.subcases.length) 0)}}
    <Subcases::SubcasesProcess @subcases={{this.model.subcases}}/>
  {{else}}
    <div class="auk-u-m-8">
      <Auk::Alert
        @message={{t "no-subcases"}}
      />
    </div>
  {{/if}}
</div>