<div class="checkbox-list-selector">
  {{#if this.checkBoxes.length }}
    {{#each this.checkBoxes as |checkBox|}}
      <WebComponents::VlCheckbox
        @value={{checkBox.selected}}
        @label={{checkBox.label}}
        @toggle={{fn this.selectModel theme}}
      />
    {{/each}}
  {{else}}
    <WebComponents::VlLoader @text={{t "themes-loading-text"}} />
  {{/if}}
</div>
