<div class="checkbox-list-selector">
  {{#if this.themes.length }}
    {{#each this.themes as |theme|}}
      <WebComponents::VlCheckbox
        @value={{theme.selected}}
        @label={{theme.label}}
        @toggle={{fn this.selectModel theme}}
      />
    {{/each}}
  {{else}}
    <WebComponents::VlLoader @text={{t "themes-loading-text"}} />
  {{/if}}
</div>
