<Auk::Toolbar class="vlc-agenda-detail-sidebar-section-header vlc-agenda-detail-sidebar-section-header--border-bottom">
  <Auk::Toolbar::Group @position="left">
    <Auk::Toolbar::Item>
      <h3 class="auk-h3 auk-u-m-0 vlc-agenda-detail-sidebar-section-header__title">
        {{t "agendaitems-subtitle"}}
      </h3>
    </Auk::Toolbar::Item>
  </Auk::Toolbar::Group>
  <Auk::Toolbar::Group @position="right">
    <Auk::Toolbar::Item>
      <Auk::ButtonLink
        class="vlc-agenda-items-section-header__link"
        {{on "click" @toggleShowModifiedOnly}}
      >
        {{if @showModifiedOnly (t "show-all") (t "show-changes")}}
      </Auk::ButtonLink>
    </Auk::Toolbar::Item>
  </Auk::Toolbar::Group>
</Auk::Toolbar>
<div>
  {{#if (not @isLoadingNotaGroups)}}
    {{#each @notaGroups as |agendaitemGroup index|}}
      {{#unless (and (eq index 0) (is-empty agendaitemGroup.sortedMandatees))}}
        <Agenda::AgendaOverview::AgendaitemGroupHeader @mandatees={{agendaitemGroup.sortedMandatees}}/>
      {{/unless}}
      {{#each agendaitemGroup.agendaitems as |agendaitem|}}
        <div
          data-test-agenda-detail-sidebar-sub-item
          class="vlc-agenda-detail-sidebar__sub-item">
          <Agenda::AgendaDetail::SidebarItem
            @agendaitem={{agendaitem}}
            @isNew={{includes agendaitem @newItems}}
            @isActive={{eq @activeItem agendaitem}}
            @showFormallyOkStatus={{this.isDesignAgenda}}
          />
        </div>
      {{/each}}
    {{else}}
      <div class="vlc-agenda-detail-sidebar__no-items-message">
        <p class="vlc-agenda-detail-sidebar__no-items-text">{{t "no-agendaitems-yet"}}</p>
      </div>
    {{/each}}
  {{else}}
    <WebComponents::LoadingPage />
  {{/if}}
</div>

<div class="vlc-agenda-detail-sidebar-section-header vlc-agenda-detail-sidebar-section-header--border-bottom">
  <h3 class="auk-h3 auk-u-m-0 vlc-agenda-detail-sidebar-section-header__title">
    {{t "announcements-subtitle"}}
  </h3>
</div>
<div class="auk-u-mb-4">
  {{#each @announcements as |announcement|}}
    <div class="vlc-agenda-detail-sidebar__sub-item">
      <Agenda::AgendaDetail::SidebarItem
        @agendaitem={{announcement}}
        @isActive={{eq @activeItem announcement}}
        @showFormallyOkStatus={{this.isDesignAgenda}}
      />
    </div>
  {{else}}
    <div class="vlc-agenda-detail-sidebar__no-items-message">
      <p class="vlc-agenda-detail-sidebar__no-items-text">{{t "no-announcements-yet"}}</p>
    </div>
  {{/each}}
</div>
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}