<LinkTo
  class={{this.class}}
  @route={{this.router.currentRouteName}}
  @model={{@agendaitem.id}}
>
  {{!-- Long term, I think we rather want this component to trigger an action when the "active" status toggles.
    With that, a higher-level component can decide if it wants to scroll this element in to view. Currently, because the active status
    is set right from the beginning and the component is rendered only once, scrolling on "did-insert" works just fine --}}
  <div class="auk-o-flex"
    {{did-insert this.conditionallyScrollIntoView}}
    {{in-viewport
      onEnter=(perform this.lazyLoadSideData)
      onExit=this.cancelLazyLoad
    }}
  >
    <span class="vlc-agenda-detail-sidebar-sub-item__numbering">
      {{!-- For legacy data agenda-item number can be unexistent --}}
      {{#if @agendaitem.number}}
        {{@agendaitem.number}}.
      {{/if}}
    </span>
    <div class="vlc-agenda-detail-sidebar__text-container">
      <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-start">
        <h4 class="vlc-agenda-detail-sidebar__subject">
          <pre data-test-agenda-detail-sidebar-item-short-title class="auk-u-text-pre-line">
            {{#if @agendaitem.shortTitle}}
              {{@agendaitem.shortTitle}}
            {{else}}
              {{@agendaitem.title}} {{!-- Fallback for legacy data that doesnt have a short title --}}
            {{/if}}
          </pre>
        </h4>
        <div class="vlc-agenda-detail-sidebar__formally-ok-label auk-o-flex--align-end">
          {{#if (and @agendaitem.isDesignAgenda @agendaitem.formallyOkToShow)}}
            {{#if this.subcase.confidential}}
              <Auk::Pill
                data-test-agenda-detail-sidebar-item-confidential={{true}}
                @skin="warning-future"
                @layout="icon-only"
              >
                <Auk::Icon @name="lock-closed" />
                <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                  <p>
                    {{t "confidential"}}
                  </p>
                </EmberTooltip>
              </Auk::Pill>
            {{/if}}
          {{else}}
            {{#if this.subcase.confidential}}
              <Auk::Pill
                data-test-agenda-detail-sidebar-item-confidential={{true}}
                @skin="warning"
                @layout="icon-only"
              >
                <Auk::Icon @name="lock-closed" />
                <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                  <p>
                    {{t "confidential"}}
                  </p>
                </EmberTooltip>
              </Auk::Pill>
            {{/if}}
          {{/if}}

          {{#if @showFormallyOkStatus}}
            <Auk::Pill @skin="blank" @layout="icon-only" class="{{@agendaitem.formallyOkToShow.classNames}}">
              <i class="{{@agendaitem.formallyOkToShow.iconClassNames}} {{@agendaitem.formallyOkToShow.classNames}}" />
              <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                <p>
                  {{@agendaitem.formallyOkToShow.label}}
                </p>
              </EmberTooltip>
            </Auk::Pill>
          {{/if}}
        </div>
      </div>
      {{#if (not @agendaitem.aboutToDelete)}}
        {{#if @isNew}}
        <div>
          <div class="auk-o-flex auk-o-flex--justify-between">
            <div class="auk-o-flex auk-o-flex--align-end vlc-agenda-detail-sidebar-item__icon">
              <p class="auk-u-text-small auk-u-muted">
                <Auk::ColorBadge @skin="success" /> {{t "added-agendaitem-text"}}
              </p>
            </div>
          </div>
        </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</LinkTo>