<LinkTo
  class={{this.class}}
  @route={{this.currentRouteName}}
  @model={{@agendaitem.id}}
>
  {{!-- Long term, I think we rather want this component to trigger an action when the "active" status toggles.
    With that, a higher-level component can decide if it wants to scroll this element in to view. Currently, because the active status
    is set right from the beginning and the component is rendered only once, scrolling on "did-insert" works just fine --}}
  <div class="auk-o-flex"
    {{did-insert this.conditionallyScrollIntoView}}
    {{in-viewport
      onEnter=(perform this.lazyLoadSideData)
      onExit=this.cancelLazyLoad
    }}
  >
    <span class="vlc-agenda-detail-sidebar-sub-item__numbering">
      {{!-- For legacy data agenda-item number can be unexistent --}}
      {{#if @agendaitem.number}}
        {{@agendaitem.number}}.
      {{/if}}
    </span>
    <div class="vlc-agenda-detail-sidebar__text-container">
      <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-start">
        <h4 class="vlc-agenda-detail-sidebar__subject">
          <pre data-test-agenda-detail-sidebar-item-short-title class="auk-u-text-pre-line">
            {{!-- Fallback for legacy data that doesn't have a short title --}}
            {{or @agendaitem.shortTitle @agendaitem.title}}
          </pre>
        </h4>
        {{#unless @agendaitem.aboutToDelete}}
          <div class="vlc-agenda-detail-sidebar__labels auk-o-flex--align-end">
            {{#if this.newsletterIsVisible}}
              <AuPill
                @size="small"
                @skin="border"
                @icon="website"
                @draft={{and @agendaitem.isDesignAgenda @agendaitem.formallyOkToShow @isNew}}
              >
                <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                  {{t "on-the-website"}}
                </EmberTooltip>
              </AuPill>
            {{/if}}
            {{#if this.subcase.confidential}}
              <AuPill
                @size="small"
                @skin="warning"
                @icon="lock-closed"
                data-test-agenda-detail-sidebar-item-confidential
              >
                <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                  {{t "limited-access"}}
                </EmberTooltip>
              </AuPill>
            {{/if}}

            {{#if @showFormallyOkStatus}}
              {{!-- TODO: Needs to be replaced with AuPill component with 'blank' skin, but option is not available yet --}}
              <div class="au-c-pill au-c-pill--blank au-c-pill--small" data-test-agenda-detail-sidebar-item-status-pill>
                <AuIcon @icon={{@agendaitem.formallyOkToShow.svg.icon}} class="{{if @agendaitem.formallyOkToShow.svg.color (concat "au-u-" @agendaitem.formallyOkToShow.svg.color)}}" />
                <EmberTooltip @side="top-end" @tooltipClass="tooltip-custom">
                  {{@agendaitem.formallyOkToShow.label}}
                </EmberTooltip>
              </div>
            {{/if}}
          </div>
        {{/unless}}
      </div>

      {{#if (and (not @agendaitem.aboutToDelete) @isNew)}}
        <div>
          <div class="auk-o-flex auk-o-flex--justify-between">
            <div class="auk-o-flex auk-o-flex--vertical-center auk-u-text-small auk-u-muted">
              <Auk::ColorBadge
                @skin="success"
                class="auk-u-mr"
              />
              {{t "added-agendaitem-text"}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</LinkTo>
