<div class="auk-toolbar-complex vlc-agenda-detail-sidebar-section-header vlc-agenda-detail-sidebar-section-header--border-bottom">
  <div class="auk-toolbar-complex__left">
    <div class="auk-toolbar-complex__item">
      <h3 class="auk-h3 auk-u-m-0 vlc-agenda-detail-sidebar-section-header__title">
        {{t "agendaitems-subtitle"}}
      </h3>
    </div>
  </div>
  <div class="auk-toolbar-complex__right">
    <div class="auk-toolbar-complex__item">
      <WebComponents::AuButtonLink
        class="vlc-agenda-items-section-header__link"
        {{on "click" @toggleShowModifiedOnly}}
      >
        {{if @showModifiedOnly (t "show-all") (t "show-changes")}}
      </WebComponents::AuButtonLink>
    </div>
  </div>
</div>
<div>
  {{#if (not @isLoadingNotaGroups)}}
    {{#each @notaGroups as |agendaitemGroup index|}}
      {{#unless (and (eq index 0) (is-empty agendaitemGroup.sortedMandatees))}}
        <Agenda::AgendaOverview::AgendaitemGroupHeader @mandatees={{agendaitemGroup.sortedMandatees}}/>
      {{/unless}}
      {{#each agendaitemGroup.agendaitems as |agendaitem|}}
        <div
          data-test-agenda-detail-sidebar-sub-item
          class="vlc-agenda-detail-sidebar__sub-item">
          <Agenda::AgendaDetail::SidebarItem
            @agendaitem={{agendaitem}}
            @isNew={{includes agendaitem @newItems}}
            @isActive={{eq @activeItem agendaitem}}
            @showFormallyOkStatus={{this.isDesignAgenda}}
          />
        </div>
      {{/each}}
    {{else}}
      <div class="vlc-agenda-detail-sidebar__no-items-message">
        <p class="vlc-agenda-detail-sidebar__no-items-text">{{t "no-agendaitems-yet"}}</p>
      </div>
    {{/each}}
  {{else}}
    <WebComponents::AuLoadingPage/>
  {{/if}}
</div>

<div class="vlc-agenda-detail-sidebar-section-header vlc-agenda-detail-sidebar-section-header--border-bottom">
  <h3 class="auk-h3 auk-u-m-0 vlc-agenda-detail-sidebar-section-header__title">
    {{t "announcements-subtitle"}}
  </h3>
</div>
<div class="auk-u-mb-4">
  {{#each @announcements as |announcement|}}
    <div class="vlc-agenda-detail-sidebar__sub-item">
      <Agenda::AgendaDetail::SidebarItem
        @agendaitem={{announcement}}
        @isActive={{eq @activeItem announcement}}
        @showFormallyOkStatus={{this.isDesignAgenda}}
      />
    </div>
  {{else}}
    <div class="vlc-agenda-detail-sidebar__no-items-message">
      <p class="vlc-agenda-detail-sidebar__no-items-text">{{t "no-announcements-yet"}}</p>
    </div>
  {{/each}}
</div>
{{#if this.showLoader}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}