<Auk::Navbar @skin="gray-200">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-h4 auk-u-m-0">
          {{t "agendaitems-subtitle"}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
<div>
  {{#if (not @isLoadingNotaGroups)}}
    {{#each @notaGroups as |agendaitemGroup index|}}
      {{!-- template-lint-disable simple-unless --}}
      {{#unless (and (eq index 0) (is-empty agendaitemGroup.sortedMandatees))}}
        <Agenda::AgendaOverview::AgendaitemGroupHeader @mandatees={{agendaitemGroup.sortedMandatees}}/>
      {{/unless}}
      {{!-- template-lint-enable simple-unless --}}
      {{#each agendaitemGroup.agendaitems as |agendaitem|}}
        <div
          data-test-agenda-detail-sidebar-sub-item
          class="vlc-agenda-detail-sidebar__sub-item">
          <Agenda::AgendaDetail::SidebarItem
            @agendaitem={{agendaitem}}
            @isNew={{includes agendaitem @newItems}}
            @isActive={{eq @activeItem agendaitem}}
            @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
          />
        </div>
      {{/each}}
    {{else}}
      <div class="vlc-agenda-detail-sidebar__no-items-message">
        <p class="vlc-agenda-detail-sidebar__no-items-text">{{t "no-agendaitems-yet"}}</p>
      </div>
    {{/each}}
  {{else}}
    <Auk::Loader @message={{t "agendaitem-grouping-message"}} />
  {{/if}}
</div>

<Auk::Navbar @skin="gray-200">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-h4 auk-u-m-0">
          {{t "announcements-subtitle"}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
<div class="auk-u-mb-4">
  {{#each @announcements as |announcement|}}
    <div
      data-test-agenda-detail-sidebar-sub-item
      class="vlc-agenda-detail-sidebar__sub-item"
    >
      <Agenda::AgendaDetail::SidebarItem
        @agendaitem={{announcement}}
        @isNew={{includes announcement @newItems}}
        @isActive={{eq @activeItem announcement}}
        @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
      />
    </div>
  {{else}}
    <div class="vlc-agenda-detail-sidebar__no-items-message">
      <p class="vlc-agenda-detail-sidebar__no-items-text">{{t "no-announcements-yet"}}</p>
    </div>
  {{/each}}
</div>
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}