<LinkTo
  class={{this.class}}
  @route={{this.router.currentRouteName}}
  @model={{@agendaitem.id}}
>
  {{!-- Long term, I think we rather want this component to trigger an action when the "active" status toggles.
    With that, a higher-level component can decide if it wants to scroll this element in to view. Currently, because the active status
    is set right from the beginning and the component is rendered only once, scrolling on "did-insert" works just fine --}}
  <div class="auk-o-flex"
    {{did-insert this.conditionallyScrollIntoView}}
    {{in-viewport
      onEnter=(perform this.lazyLoadSideData)
      onExit=(fn this.cancelLazyLoad)
    }}
  >
    <span class="vlc-agenda-detail-sidebar-sub-item__numbering">
      {{#if @agendaitem.number}}
        {{@agendaitem.number}}.
      {{else}}
        {{add index 1}}.
      {{/if}}
    </span>
    <div class="vlc-agenda-detail-sidebar__text-container">
      <h4 class="vlc-agenda-detail-sidebar__subject">
        <pre class="auk-u-text-pre-line">
          {{#if @agendaitem.shortTitle}}
            {{@agendaitem.shortTitle}}
          {{else}}
            {{@agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
          {{/if}}
        </pre>
      </h4>
      {{#if (not @agendaitem.aboutToDelete)}}
        <div>
          <div class="auk-o-flex auk-o-flex--justify-between">
            <div class="auk-o-flex auk-o-flex--align-end vlc-agenda-detail-sidebar-item__icon">
              {{#if @isNew}}
                <span class="vlc-agenda-meta__recently-added">
                  <Auk::Icon @name="calendar-new" @size="small" />
                  <EmberTooltip @side="top-start" @tooltipClass="tooltip-custom">
                    <p>
                      {{t "added-agendaitem-text"}}
                    </p>
                  </EmberTooltip>
                </span>
              {{/if}}

              {{#if this.loadNewsletterVisibility.lastSuccessful}}
                {{#if (not this.newsletterIsVisible)}}
                  <span class="vlc-agenda-meta__recently-added">
                    <Auk::Icon @name="not-visible" @size="small" />
                    <EmberTooltip @side="top-start" @tooltipClass="tooltip-custom">
                      <p>
                        {{t "not-visible-in-newsletter"}}
                      </p>
                    </EmberTooltip>
                  </span>
                {{else}}
                  {{!-- TODO: this icon is merely here as an invisible placeholder.
                    This keeps element-height the same at all times in order to prevent "jumping" when data is being side-loaded.
                    This should be tackled differently through modified design --}}
                  <i
                    class="ki ki-not-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    style="visibility:hidden"
                  ></i>
                {{/if}}
              {{else}}
                {{!-- TODO: design loading state for newsletter visibility --}}
                <i class="ki-circle-question vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50">
                  <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
                    <p>
                      {{t "loading"}}
                    </p>
                  </EmberTooltip>
                </i>
              {{/if}}

              {{#if this.subcase.confidential}}
                <span>
                  <Auk::Icon data-test-agenda-detail-sidebar-item-confidential={{true}} @name="lock-closed" @size="small" />
                </span>
              {{/if}}
            </div>

            <div class="vlc-agenda-detail-sidebar__formally-ok-label auk-o-flex--align-end">
              {{#if @showFormallyOkStatus}}
                <i class="{{@agendaitem.formallyOkToShow.iconClassNames}} {{@agendaitem.formallyOkToShow.classNames}}" />
                <p class="{{@agendaitem.formallyOkToShow.classNames}}">
                  {{@agendaitem.formallyOkToShow.label}}
                </p>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</LinkTo>