<LinkTo
  class={{this.class}}
  @route={{this.router.currentRouteName}}
  @model={{@agendaitem.id}}
>
  {{!-- Long term, I think we rather want this component to trigger an action when the "active" status toggles.
    With that, a higher-level component can decide if it wants to scroll this element in to view. Currently, because the active status
    is set right from the beginning and the component is rendered only once, scrolling on "did-insert" works just fine --}}
  <div class="auk-u-flex"
    {{did-insert this.conditionallyScrollIntoView}}
    {{in-viewport
      onEnter=(perform this.lazyLoadSideData)
      onExit=(fn this.cancelLazyLoad)
    }}
  >
    <span class="vlc-agenda-detail-sidebar-sub-item__numbering">
      {{#if @agendaitem.number}}
        {{@agendaitem.number}}.
      {{else}}
        {{add index 1}}.
      {{/if}}
    </span>
    <div class="vlc-agenda-detail-sidebar__text-container">
      <h4 class="vlc-agenda-detail-sidebar__subject">
        <pre class="vl-u-text-color-agenda-list">
          {{#if @agendaitem.shortTitle}}
            {{@agendaitem.shortTitle}}
          {{else}}
            {{@agendaitem.title}} {{!-- Fallback for legacy data that doesn't have a short title --}}
          {{/if}}
        </pre>
      </h4>
      {{#if (not @agendaitem.aboutToDelete)}}
        {{#unless @isActive}}
          {{#if (not @agendaitem.isApproval)}}
            {{#if @agendaitem.shortTitle}} {{!-- Avoid rendering the same thing twice if no "shortTitle" exists --}}
              <pre class="vl-u-text">
                {{@agendaitem.title}}
              </pre>
            {{/if}}
          {{/if}}
        {{/unless}}
        <div>

          <div class="auk-u-flex auk-u-flex--justify-between">
            <div class="auk-u-flex auk-u-flex--align-end vlc-agenda-detail-sidebar-item__icon">
              {{#if @isNew}}
                <span class="added-tag vlc-agenda-meta__recently-added">
                  <i class="ki-calendar-plus"></i>
                  <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
                    <p>
                      {{t "added-agendaitem-text"}}
                    </p>
                  </EmberTooltip>
                </span>
              {{/if}}

              {{#if this.loadNewsletterVisibility.lastSuccessful}}
                {{#if (not this.newsletterIsVisible)}}
                  <span class="added-tag vlc-agenda-meta__recently-added">
                    <i class="ki-hide vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"></i>
                    <EmberTooltip @side="top" @tooltipClass="tooltip-custom">
                      <p>
                        {{t "not-visible-in-newsletter"}}
                      </p>
                    </EmberTooltip>
                  </span>
                {{/if}}
              {{/if}}

              {{#if this.subcase.confidential}}
                <i
                  class="vl-icon ki-lock-closed vlc-u-opacity-50"
                  data-test-icon-agenda-confidentiality-locked
                ></i>
              {{/if}}
            </div>

            <div class="vlc-agenda-detail-sidebar__formally-ok-label auk-u-flex--align-end">
              {{#if @showFormallyOkStatus}}
                <i class="{{@agendaitem.formallyOkToShow.iconClassNames}} {{@agendaitem.formallyOkToShow.classNames}}" />
                <p class="{{@agendaitem.formallyOkToShow.classNames}}">
                  {{@agendaitem.formallyOkToShow.label}}
                </p>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</LinkTo>