{{#if (and (not isAdding) (not isEditing))}}
  <div class="vl-modal-dialog__content">
    <div class="vl-input-group">
      {{utils/domains-selector
        selectedDomains=selectedDomain
        chooseDomain=(action "selectDomain")
        singleSelect=true
      }}
      <button
        class="vl-button vl-button--tertiary vl-button--narrow"
        {{action "toggleIsAdding"}}
      >
        <i class="vl-button__icon vl-vi vl-vi-add"></i>
      </button>
      {{#if selectedDomain}}
        <button
          class="vl-button vl-button--tertiary vl-button--narrow"
          {{action "toggleIsEditing"}}
        >
          <i class="vl-button__icon vl-vi vl-vi-edit"></i>
        </button>
      {{/if}}
      <button
        class="vl-button vl-button--tertiary vl-button--narrow"
        {{action "removeMandate"}}
      >
        <i class="vl-button__icon vl-vi vl-vi-trash"></i>
      </button>
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--link vl-button--narrow"
            {{action "closeModal"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if isAdding}}
  <div class="vl-modal-dialog__content">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "name")}}
      {{web-components/vl-form-input width="4" value=title}}
    </div>
  </div>
  {{web-components/vl-modal-footer
    cancelButtonText=(t "cancel")
    saveButtonText=(t "save")
    cancelAction=(action "toggleIsAdding")
    saveAction=(action "createMandatee")
  }}
{{/if}}
{{#if isEditing}}
  <div class="vl-modal-dialog__content">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "name")}}
      {{web-components/vl-form-input width="4" value=title}}
    </div>
  </div>
  {{web-components/vl-modal-footer
    cancelButtonText=(t "cancel")
    saveButtonText=(t "save")
    cancelAction=(action "toggleIsEditing")
    saveAction=(action "editMandatee")
  }}
{{/if}}