<div class="auk-avatar {{this.type}} {{this.size}}" aria-label={{if @icon this.name}} role={{if @icon "img"}} ...attributes>
  {{#if @icon}}
    <WebComponents::AuIcon @name={{@icon}} @size={{@size}}/>
  {{else if @image}}
    <img src="{{@image}}" alt="{{this.name}}" />
  {{/if}}
</div>