{{#if selectedAgendaItem}}
  {{#if (not agendaitem.showAsRemark)}}
    {{#if (await agendaitem.subcase.case.type.label)}}
      <p class="vlc-agenda-items-new__overline">
        <span class="vlc-agenda-items-new__numbering">
          {{number}}
          .
        </span>
        {{await agendaitem.subcase.case.type.label}}
      </p>
    {{/if}}
    <h4 class="vlc-agenda-items-new__subject">
      {{#if (await agendaitem.shortTitle)}}
        {{await agendaitem.shortTitle}}
      {{else}}
        {{await agendaitem.title}}
      {{/if}}
    </h4>
  {{else}}
    <p class="vlc-agenda-items-new__overline">
      <span class="vlc-agenda-items-new__numbering">
        {{number}}
        .
      </span>
      {{agendaitem.shortTitle}}
    </p>
    <h4 class="vlc-agenda-items-new__subject">
      {{await agendaitem.title}}
    </h4>
  {{/if}}
{{else if (not agendaitem.showAsRemark)}}
  <h3 class="vl-title vl-u-text--small">
    {{number}}
    .
    {{await agendaitem.subcase.case.type.label}}
  </h3>
  <h4 class="vl-title vl-title--h5">
    {{await agendaitem.shortTitle}}
  </h4>
  <p class="vl-long-title">
    {{await agendaitem.title}}
  </p>
{{else}}
  <h3 class="vl-title vl-u-text--small">
    {{number}}
    .
    {{await agendaitem.shortTitle}}
  </h3>
  <p class="vl-long-title">
    {{await agendaitem.title}}
  </p>
{{#if (eq (await agenda) "Ontwerpagenda")}}
  <div class="vlc-hr"></div>
  {{utils/documents-list-for-item
    item=(await agendaitem.subcase)
    agendaitem=agendaitem
  }}
{{else if (await agendaitem.documents)}}
  <div class="vlc-hr"></div>
  {{utils/documents-list-for-item item=agendaitem agendaitem=agendaitem}}
  {{else if (await agendaitem.subcase.documents)}}
  
  <div class="vlc-hr"></div>
  {{utils/documents-list-for-item item=(await agendaitem.subcase)agendaitem=(await agendaitem.subcase)}}
{{/if}}
{{#if (not agendaitem.showAsRemark)}}
  <div class="vl-u-display-flex vl-u-flex-space-between">
    <span class="vlc-agenda-items-new__times-passed">
      {{await agendaitem.subcase.subcaseName}}
    </span>
    {{#if (eq (await agenda) "Ontwerpagenda")}}
      {{#if (await agendaitem.formallyOk)}}
        <p
          class="vlc-agenda-items-new__status vlc-agenda-items-new__status--positive"
        >
          {{t "formal-ok"}}
          <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
        </p>
      {{else}}
        <span class="vlc-agenda-items-new__status">
          {{t "formal-nok"}}
        </span>
      {{/if}}
    {{else if agendaitem.formallyOk}}
      <p
        class="vlc-agenda-items-new__status vlc-agenda-items-new__status--positive"
      >
        {{t "formal-ok"}}
        <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
      </p>
    {{else}}
      <span class="vlc-agenda-items-new__status">
        {{t "formal-nok"}}
      </span>
    {{/if}}
  </div>
{{/if}}
{{/if}}


{{log }}
