{{#if (await agendaitem.subcase.case.type.label)}}
  <p class="vlc-agenda-items-new__overline">
    <span class="vlc-agenda-items-new__numbering">
      {{agendaitem.priority}}
      .
    </span>
    {{await agendaitem.subcase.case.type.label}}
  </p>
  {{id}}
{{/if}}
<h4 class="vlc-agenda-items-new__subject">
  {{#if (await agendaitem.shortTitle)}}
    {{await agendaitem.shortTitle}}
  {{else}}
    {{await agendaitem.title}}
  {{/if}}
  <br />
  Fprio:
  {{await agendaitem.foundPriority}}
  <br />
  Prio:
  {{await agendaitem.priority}}
</h4>
{{#if (not selectedAgendaItem)}}
  {{#if (await agendaitem.documents)}}
    <div class="vlc-hr"></div>
    {{utils/documents-list-for-item
      isNotClickable=true
      item=agendaitem
      agendaitem=agendaitem
    }}
  {{else if (await agendaitem.subcase.documents)}}
    <div class="vlc-hr"></div>
    {{utils/documents-list-for-item
      isNotClickable=true
      item=(await agendaitem.subcase)
      agendaitem=(await agendaitem.subcase)
    }}
  {{/if}}
{{/if}}
<div class="vl-u-display-flex vl-u-flex-space-between">
  <span class="vlc-agenda-items-new__times-passed">
    {{await agendaitem.subcase.subcaseName}}
  </span>
  {{#if (await agendaitem.formallyOk)}}
    <p
      class="vlc-agenda-items-new__status vlc-agenda-items-new__status--positive"
    >
      {{t "formal-ok"}}
      <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
    </p>
  {{else}}
    <span class="vlc-agenda-items-new__status">
      {{t "formal-nok"}}
    </span>
  {{/if}}
</div>