<p class="vlc-agenda-items-new__overline">
  <span class="vlc-agenda-items-new__numbering">
    {{#if agendaitem.priority}}
      {{agendaitem.priority}}.
    {{else}}
      {{add index 1}}.
    {{/if}}
  </span>
</p>
<h4 class="vlc-agenda-items-new__subject">
  {{#if (await agendaitem.shortTitle)}}
    {{await agendaitem.shortTitle}}
  {{else}}
    {{await agendaitem.title}}
  {{/if}}
</h4>
{{#if (not selectedAgendaItem)}}
  {{! TODO: Fix amount of requests made for the versions and the documents }}
  {{!-- {{#if (await agendaitem.documents)}}
    <div class="vlc-hr"></div>
    {{utils/documents-list-for-item
      isNotClickable=true
      item=agendaitem
      agendaitem=agendaitem
    }}
  {{else if (await agendaitem.subcase.documents)}}
    <div class="vlc-hr"></div>
    {{utils/documents-list-for-item
      isNotClickable=true
      item=(await agendaitem.subcase)
      agendaitem=(await agendaitem.subcase)
    }}
  {{/if}} --}}
{{/if}}
<div class="vl-u-display-flex vl-u-flex-space-between">
  <span class="vlc-agenda-items-new__times-passed vl-u-text--capitalize">
    {{await agendaitem.subcase.subcaseName}}
  </span>
  {{#if (not isEditingOverview)}}
    {{#if agendaitem.formallyOkToShow.approved}}
      <p class="{{agendaitem.formallyOkToShow.classNames}}">
        {{agendaitem.formallyOkToShow.label}}
        <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
      </p>
    {{else}}
      <p class="{{agendaitem.formallyOkToShow.classNames}}">
        {{agendaitem.formallyOkToShow.label}}
      </p>
    {{/if}}
  {{else}}
    {{utils/formally-ok-selector
      formallyOk=formallyOk
      isLoading=isLoading
      hideLabel=hideLabel
      setAction=(action "setAction")
    }}
  {{/if}}
</div>