<div class="vl-u-spacer">
  <h3 class="vl-title vl-u-text--uppercase vl-u-text--bold">
    {{number}}
    .
    {{await agendaitem.subcase.shortTitle}}
  </h3>
  <h4 class="vl-title vl-title--h6">
    {{await agendaitem.subcase.case.shortTitle}} 
  </h4>
  <div class="agenda-sub-options">
    <p class="agenda-postponed-option">
      {{#if agendaitem.retracted}}
        {{t "agenda-item.postponed"}}
      {{/if}}
      {{#if (await agendaitem.postponedTo) as |sess|}}
        {{t "agenda-item.postponed-until"}}
        {{moment-format sess.plannedStart "dddd DD-MM-YYYY"}}
      {{/if}}
    </p>
  </div>
  <div class="vl-u-display-flex vl-u-flex-space-between">
    <span class="c-agenda-item__meta">
      {{await agendaitem.subcase.title}}
    </span>
    {{!-- <div class="vl-u-display-flex default">
      <i class="vl-vi vl-vi-check-small"></i>
      {{#if agendaitem.formallyOk}}
        <span class="c-agenda-item__meta">
          {{t "agendaitem-details.formal-ok"}}
        </span>
      {{else}}
        <span class="c-agenda-item__meta">
          {{t "agendaitem-details.formal-ok"}}
        </span>
      {{/if}}
    </div> --}}
  </div>
</div>