{{#if selectedAgendaItem}}
  <p class="vlc-agenda-items-new__overline">
    <span class="vlc-agenda-items-new__numbering">
      {{number}}
      .
    </span>
    {{await agendaitem.subcase.case.type.label}}
  </p>
  <h4 class="vlc-agenda-items-new__subject">
    {{#if (eq (await agenda) "Ontwerpagenda")}}
      {{await agendaitem.subcase.shortTitle}}
    {{else}}
      {{await agendaitem.shortTitle}}
    {{/if}}
  </h4>
{{else}}
  <h3 class="vl-title vl-u-text--small">
    {{number}}
    .
    {{await agendaitem.subcase.case.type.label}}
  </h3>
  <h4 class="vl-title vl-title--h5">
    {{#if (eq (await agenda) "Ontwerpagenda")}}
      {{await agendaitem.subcase.shortTitle}}
    {{else}}
      {{await agendaitem.shortTitle}}
    {{/if}}
  </h4>
  <p class="vl-long-title">
    {{#if (eq (await agenda) "Ontwerpagenda")}}
      {{await agendaitem.subcase.title}}
    {{else}}
      {{await agendaitem.title}}
    {{/if}}
  </p>
  {{#if (eq (await agenda) "Ontwerpagenda")}}
    {{#if (await agendaitem.subcase.documents)}}
      <div class="vl-u-display-flex vl-attachments">
        {{#each (await agendaitem.documents) as |document|}}
          <div class="vl-u-display-flex vl-u-flex-align-center vl-attachment">
            <div
              class="vl-badge vl-badge--icon vl-badge--small vl-badge--alt vl-document-badge"
            >
              <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
            </div>
            <p class="vl-u-text--bold">
              {{document-name document=document agendaitem=agendaitem}}
            </p>
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{else if (await agendaitem.documents)}}
    <div class="vl-u-display-flex vl-attachments">
      {{#each (await agendaitem.documents) as |document|}}
        <div class="vl-u-display-flex vl-u-flex-align-center vl-attachment">
          <div
            class="vl-badge vl-badge--icon vl-badge--small vl-badge--alt vl-document-badge"
          >
            <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
          </div>
          <p class="vl-u-text--bold">
            {{document-name document=document agendaitem=agendaitem}}
          </p>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
<div class="vl-u-display-flex vl-u-flex-space-between">
  <span class="vlc-agenda-items-new__times-passed">
    {{!-- {{await agendaitem.subcase.shortTitle}}  Phase todo --}}
  </span>
  {{#if (eq (await agenda) "Ontwerpagenda")}}
    {{#if (await agendaitem.subcase.formallyOk)}}
      <p
        class="vlc-agenda-items-new__status vlc-agenda-items-new__status--positive"
      >
        {{t "agendaitem-details.formal-ok"}}
        <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
      </p>
    {{else}}
      <span class="vlc-agenda-items-new__status">
        {{t "agendaitem-details.formal-nok"}}
      </span>
    {{/if}}
  {{else if agendaitem.formallyOk}}
    <p
      class="vlc-agenda-items-new__status vlc-agenda-items-new__status--positive"
    >
      {{t "agendaitem-details.formal-ok"}}
      <i class="vl-vi vl-vi-check-small" aria-hidden="true"></i>
    </p>
  {{else}}
    <span class="vlc-agenda-items-new__status">
      {{t "agendaitem-details.formal-nok"}}
    </span>
  {{/if}}
</div>
{{!-- <div class="agenda-sub-options">
      <p class="agenda-postponed-option">
        {{#if agendaitem.retracted}}
          {{t "agenda-item.postponed"}}
        {{/if}}
        {{#if (await agendaitem.postponedTo) as |sess|}}
          {{t "agenda-item.postponed-until"}}
          {{moment-format sess.plannedStart "dddd DD-MM-YYYY"}}
        {{/if}}
      </p>
    </div> --}}