<div
  class="agenda-item-link
    {{active-class (await agendaitem) (await selectedAgendaItem)}}"
  {{action "selectAgendaItem" agendaitem}}>
  {{#if agendaitem.id}}
    <strong>
      {{number}}
      .
      {{agendaitem.subcase.shortTitle}}
    </strong>
    <p>
      {{agendaitem.subcase.title}}
    </p>
    <div class="agenda-sub-options">
      <p class="agenda-extended-option">
        {{#if agendaitem.extended}}
          {{t "agenda-item.extended"}}
        {{/if}}
        {{#if (await agendaitem.postponedToSession) as |sess|}}
          {{t "agenda-item.extended-until"}}
          {{moment-format sess.plannedstart "dddd DD-MM-YYYY"}}
        {{/if}}
      </p>
      {{#if agendaitem.formallyOk}}
        <p class="formal-ok">
          {{fa-icon "check"}}
          {{t "agendaitem-details.formal-ok"}}
        </p>
      {{else}}
        <p class="formal-nok">
          {{fa-icon "check"}}
          {{t "agendaitem-details.formal-ok"}}
        </p>
      {{/if}}
    </div>
    <div class="documents-container">
      {{#each (await agendaitem.subcase.documents) as |document|}}
        {{#if (await document.documentVersions.lastObject.nameToDisplay)}}
          <div class="document">
            <a href="#" {{action "downloadFile" document.documentVersions.lastObject}}>
              {{fa-icon "file"}}
              {{await document.documentVersions.lastObject.nameToDisplay}}
            </a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>