<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    {{#if @publicationFlows.length}}
      <table
        data-test-route-publications-index-data-table
        class="auk-table auk-table--sticky-header auk-u-mx-4"
      >
        <thead>
          <tr>
            {{#each @tableColumns as |column|}}
              {{#if (get @columnsDisplayConfig column.keyName)}}
                {{! first cases that need a special treament. The "else" clause treats the default case }}
                {{#if (eq column.keyName "shortTitle")}}
                  {{! template-lint-disable no-inline-styles }}
                  <Utils::ThSortable
                    data-test-route-publications-index-th={{column.keyName}}
                    style="min-width: 25rem;"
                    @currentSorting={{@sort}}
                    @field={{column.sortKey}}
                    @onChange={{@onSortChange}}
                    @label={{t column.translationKeySmall}}
                  />
                  {{! template-lint-enable no-inline-styles }}
                {{else}}
                  {{#if column.sortKey}}
                    <Utils::ThSortable
                      data-test-route-publications-index-th={{column.keyName}}
                      @onChange={{@onSortChange}}
                      @currentSorting={{@sort}}
                      @field={{column.sortKey}}
                      @label={{t column.translationKeySmall}}
                    />
                  {{else}}
                    <th
                      data-test-route-publications-index-th={{column.keyName}}
                      class="auk-u-text-nowrap"
                    >{{t column.translationKeySmall}}</th>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#if @isLoading}}
            <tr data-test-route-publications-index-loading>
              <td colspan={{add @tableColumns.length 1}}>
                {{t "loading"}}
              </td>
            </tr>
          {{else}}
            {{#each @publicationFlows as |publicationFlow|}}
              <Publications::Overview::PublicationsTableRow
                @publicationFlow={{publicationFlow}}
                @tableColumnDisplayOptions={{@columnsDisplayConfig}}
              />
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState @message={{t "no-results-found"}} />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>
<div>
  <hr />
</div>
<div class="auk-u-mx-4">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Pagination
          @page={{@page}}
          @size={{@size}}
          @nbOfItems={{@publicationFlows.length}}
          @total={{@publicationFlows.meta.count}}
          @onNextPage={{@onNextPage}}
          @onPreviousPage={{@onPreviousPage}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-showed"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{@size}}
          @onChange={{@onSizeChange}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          data-test-route-publications-index-config-modal-icon
          @icon="gear"
          @skin="borderless"
          {{on "click" this.toggleColumnsDisplayConfigPanel}}
        />
        <AttachPopover
          @class="auk-popover"
          @showOn=""
          @placement="top"
          @hideOn=""
          @isShown={{this.isColumnsDisplayConfigPanelShown}}
          @renderInPlace={{false}}
        >
          {{#if this.isColumnsDisplayConfigPanelShown}}
            <ClickOutside @onClickOutside={{this.toggleColumnsDisplayConfigPanel}}>
              <Publications::Overview::PublicationsTableDisplayConfigModal
                @options={{@columnsDisplayConfig}}
                @onChange={{@onChangeColumnsDisplayConfig}}
                @onReset={{@onResetColumnsDisplayConfig}}
                @onClose={{this.toggleColumnsDisplayConfigPanel}}
              />
            </ClickOutside>
          {{/if}}
        </AttachPopover>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>