{{! Although not recommended for accessibility-reasons, users explicitly
request the whole row and not only the arrow at the end to be clickable }}
{{! template-lint-disable no-invalid-interactive }}
<tr
  data-test-publication-table-row
  class="auk-table--clickable-rows"
  {{on "click" (fn this.navigateToPublication @publicationFlow)}}
>
  {{! template-lint-enable no-invalid-interactive }}
  {{#if @tableColumnDisplayOptions.isUrgent}}
    <td class="auk-u-text-align--center">
      {{#if @publicationFlow.urgencyLevel.isUrgent}}
        <Auk::Icon @skin="warning" @name="alert-triangle" />
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationNumber}}
    <td data-test-publication-table-row-publication-number>
      {{#if @publicationFlow.identification.idName}}
        {{@publicationFlow.identification.idName}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.numacNumber}}
    <td>
      {{#if @publicationFlow.numacNumbers.length}}
        {{join ", " (map-by "idName" @publicationFlow.numacNumbers)}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.shortTitle}}
    <td data-test-publication-table-row-short-title class="auk-table__col--6">
      <Auk::AbbreviatedText
        @text={{@publicationFlow.shortTitle}}
        @maxLength={{150}}
        as |text|
      >
        <div class="auk-o-flex__item">
          {{text}}
        </div>
      </Auk::AbbreviatedText>
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.remark}}
    <td class="auk-u-text-align--center">
      {{#if @publicationFlow.remark}}
        <Auk::ButtonLink
          @layout="icon-only"
          @icon="comment"
          @skin="muted"
          class="auk-u-inline"
        >
          <:floater>
            <EmberTooltip
              @tooltipClass="auk-tooltip"
              @side="left"
            >
              <p>
                {{@publicationFlow.remark}}
              </p>
            </EmberTooltip>
          </:floater>
        </Auk::ButtonLink>
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.numberOfPages}}
    <td data-test-publication-table-row-number-of-pages>
      {{#if (not (is-empty @publicationFlow.numberOfPages))}}
        {{@publicationFlow.numberOfPages}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.decisionDate}}
    <td data-test-publication-table-row-decision-date class="auk-u-text-nowrap">
      {{#if @publicationFlow.decisionActivity.startDate}}
        {{moment-format @publicationFlow.decisionActivity.startDate}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.openingDate}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.openingDate}}
        {{moment-format @publicationFlow.openingDate}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.translationRequestDate}}
    <td
      data-test-publication-table-row-translation-request-date
      class="auk-u-text-nowrap"
    >
      {{#if this.translationRequestDate}}
        {{moment-format this.translationRequestDate}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.translationDueDate}}
    <td
      data-test-publication-table-row-translation-due-date
      class="auk-u-text-nowrap"
    >
      {{#if @publicationFlow.translationSubcase.dueDate}}
        <div class="{{if this.isTranslationOverdue 'auk-u-text-bold'}}">
          {{moment-format @publicationFlow.translationSubcase.dueDate}}
        </div>
        {{#if this.isTranslationOverdue}}
          <Auk::FormHelpText
            @text={{t "date-expired"}}
            @skin="warning"
            @icon="alert-triangle"
          />
        {{/if}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.proofRequestDate}}
    <td
      data-test-publication-table-row-proof-request-date
      class="auk-u-text-nowrap"
    >
      {{#if this.proofRequestDate}}
        {{moment-format this.proofRequestDate}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.proofReceivedDate}}
    <td
      data-test-publication-table-row-proof-received-date
      class="auk-u-text-nowrap"
    >
      {{#if this.proofReceivedDate}}
        {{moment-format this.proofReceivedDate}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.proofPrintCorrector}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.publicationSubcase.proofPrintCorrector}}
        <Auk::Avatar @icon="user" @size="small">
          <p>{{@publicationFlow.publicationSubcase.proofPrintCorrector}}</p>
        </Auk::Avatar>
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationTargetDate}}
    <td
      data-test-publication-table-row-target-end-date
      class="auk-u-text-nowrap"
    >
      {{#if @publicationFlow.publicationSubcase.targetEndDate}}
        {{moment-format @publicationFlow.publicationSubcase.targetEndDate}}
        {{#if
          (and
            (not @publicationFlow.status.isFinal)
            @publicationFlow.publicationSubcase.isOverdue
          )
        }}
          <Auk::FormHelpText
            @text={{t "date-expired"}}
            @skin="warning"
            @icon="alert-triangle"
          />
        {{/if}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationDate}}
    <td class="auk-u-text-nowrap">
      {{#if this.loadData.isRunning}}
        ...
      {{else}}
        {{#if this.publicationDate}}
          {{moment-format this.publicationDate}}
        {{else}}
          {{t "dash"}}
        {{/if}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationDueDate}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.publicationSubcase.dueDate}}
        <div>
          {{moment-format @publicationFlow.publicationSubcase.dueDate}}
        </div>
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.regulationType}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.regulationType.abbreviation}}
        {{@publicationFlow.regulationType.abbreviation}}
      {{else if @publicationFlow.regulationType}}
        {{@publicationFlow.regulationType.label}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.source}}
    <td data-test-publication-table-row-source class="auk-u-text-nowrap">
      {{#if this.loadData.isRunning}}
        ...
      {{else}}
        {{#if this.isViaCouncilOfMinisters}}
          {{t "via-cabinet"}}
        {{else}}
          {{t "not-via-cabinet"}}
        {{/if}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.lastEdited}}
    <td>
      {{moment-format @publicationFlow.modified}}<br />
      <span class="auk-u-text-size--small auk-u-text-muted">
        {{moment-format @publicationFlow.modified "HH:mm"}}
      </span>
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.status}}
    <td data-test-publication-table-row-status class="auk-u-text-nowrap">
      {{#if this.loadPublicationStatus.isRunning}}
        ...
      {{else}}
        <Auk::StatusPill
          @step={{this.publicationStatusPillStep}}
          @status={{this.publicationStatusPillKey}}
        >
          {{@publicationFlow.status.label}}
        </Auk::StatusPill>
      {{/if}}
    </td>
  {{/if}}
  <td>
    <AuButton
      data-test-publication-table-row-go-to-publication
      @skin="naked"
      @icon="chevron-right"
      @hideText={{true}}
      @route="publications.publication"
      @model={{@publicationFlow.id}}
    >
      {{t "open-publication"}}
    </AuButton>
  </td>
</tr>