<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    {{#if @publicationFlows.length}}
      <div class="auk-u-ml-4">
        <table
          data-test-route-publications-index-data-table
          class="auk-table auk-table--hoverable auk-table--sticky-header auk-table--sticky-action-column"
        >
          <thead>
            <tr>
              {{#each @tableConfig.visibleColumns as |column|}}
                {{! first cases that need a special treament. The "else" clause treats the default case }}
                {{#if (eq column.keyName "shortTitle")}}
                  <Utils::ThSortable
                    data-test-route-publications-index-th={{column.keyName}}
                    class="auk-u-min-width-medium"
                    @currentSorting={{@sort}}
                    @field={{column.sortKey}}
                    @onChange={{@onSortChange}}
                    @label={{t column.translationKeySmall}}
                  />
                {{else}}
                  {{#if column.sortKey}}
                    <Utils::ThSortable
                      data-test-route-publications-index-th={{column.keyName}}
                      @onChange={{@onSortChange}}
                      @currentSorting={{@sort}}
                      @field={{column.sortKey}}
                      @label={{t column.translationKeySmall}}
                    />
                  {{else}}
                    <th
                      data-test-route-publications-index-th={{column.keyName}}
                      class="auk-u-text-nowrap"
                    >{{t column.translationKeySmall}}</th>
                  {{/if}}
                {{/if}}
              {{/each}}
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {{#if @isLoading}}
              <tr data-test-route-publications-index-loading>
                <td colspan={{add @tableConfig.visibleColumns.length 1}}>
                  {{t "loading"}}
                </td>
              </tr>
            {{else}}
              {{#each @publicationFlows as |publicationFlow|}}
                <Publications::Overview::PublicationsTableRow
                  @publicationFlow={{publicationFlow}}
                  @tableColumnDisplayOptions={{this.tableColumnVisibilityMap}}
                />
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState @message={{t "no-results-found"}} />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>
<div class="auk-u-px-4 auk-u-border-top">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Pagination
          @page={{@page}}
          @size={{@size}}
          @nbOfItems={{@publicationFlows.length}}
          @total={{@publicationFlows.meta.count}}
          @onNextPage={{@onNextPage}}
          @onPreviousPage={{@onPreviousPage}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-showed"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{@size}}
          @onChange={{@onSizeChange}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <AuButton
          data-test-route-publications-index-config-modal-icon
          @skin="naked"
          @icon="gear"
          @hideText={{true}}
          {{on "click" this.toggleColumnsDisplayConfigPanel}}
        >
          {{t "config"}}
        </AuButton>
        <AttachPopover
          @class="auk-popover"
          @showOn=""
          @placement="top"
          @hideOn=""
          @isShown={{this.isColumnsDisplayConfigPanelShown}}
          @renderInPlace={{false}}
        >
          {{#if this.isColumnsDisplayConfigPanelShown}}
            <ClickOutside @onClickOutside={{this.toggleColumnsDisplayConfigPanel}}>
              <Publications::Overview::PublicationsTableDisplayConfigModal
                @tableConfig={{@tableConfig}}
                @didChange={{@didChangeColumnsDisplayConfig}}
                @onClose={{this.toggleColumnsDisplayConfigPanel}}
              />
            </ClickOutside>
          {{/if}}
        </AttachPopover>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>