{{ page-title
  (t "translation-requests")
}}
<div class="auk-u-m-2">
  {{#if (gt this.activities.length 0)}}
    {{#each this.activities as |activity|}}
      <WebComponents::AuNavbar @noPadding="true">
        <WebComponents::AuToolbar>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
      <div class="auk-u-my-2">
        {{!-- Request panel --}}
        <Publications::Publication::ActivityRequestPanel
                @activity={{activity}}
                @finishedToggle={{fn this.markTranslationActivityDone activity}}
                @cancelExisting={{fn this.cancelExistingTranslationActivity activity}}
                @mode={{'translation'}}
        />
      </div>
    {{/each}}
  {{else}}
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Body>
        <WebComponents::AuEmptyState @message={{t "no-translation-requests"}}/>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  {{/if}}
</div>


{{!-- LOADER --}}

{{#if this.showLoader}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}