<h2>{{t "translations"}}</h2>

{{#each this.subcases as |subcase|}}
  <div>
    {{!--<b>shortTitle:</b>--}}
    {{await subcase.shortTitle}}
    {{!--<b>title:</b>--}}
    {{await subcase.title}}
  </div>
  {{#each subcase.publicationActivities as |activity|}}
    <div>
      {{!--<b>finalTranslationDate:</b>--}}
      <br>
      {{await activity.finalTranslationDate}}
    </div>
    <div>
      {{!--<b>Mail content:</b>--}}
      {{await activity.mailContent}}
    </div>
    <div>
      {{!-- <b>pieces:</b>--}}
      <ul>
        {{#each (await activity.usedPieces) as |translationSourcePiece|}}
          <li>
            {{await translationSourcePiece.name}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}

{{/each}}
