<div class="auk-u-m-2">
  {{#if (gt this.activities.length 0)}}
    {{#each this.activities as |activity|}}
      <WebComponents::AuNavbar @noPadding="true">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-toolbar-complex__title">{{t "requested-on"}} {{moment-format activity.startDate "DD MMMM YYYY [om] H:mm"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton
                      @skin="tertiary"
                      {{on "click" this.cancelExistingTranslationActivity}}>
                {{t "cancel-translation"}}
              </WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuCheckbox
                      @toggle={{fn this.checkExistingTranslationActivity activity}}
                      @label="Afgewerkt"/>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
      <div class="auk-u-my-2">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col auk-o-grid-col-bp2-3 auk-u-mb-3">
            <WebComponents::AuKeyValue @key="Uiterste Vertaaldatum" @value={{moment-format activity.finalTranslationDate "DD-MM-YYYY"}}/>
          </div>
          <div class="auk-o-grid-col-bp2-9">
            <div class="auk-u-ml-4 auk-u-mb-4">
              {{!-- Request panel --}}
              <Publications::Publication::ActivityRequestPanel @activity={{activity}}/>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Body>
        <WebComponents::AuEmptyState @message={{t "no-translation-requests"}}/>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  {{/if}}
</div>