<div class="auk-u-m-8">
  {{#each @subcases as |subcase|}}
    {{#subcases/subcase-item subcase=subcase}}
      <hr class="vlc-hr"/>
      <div class="auk-u-mb-2">
        <p class="vlc-subline">
          {{await subcase.case.type.label}}
        </p>
      </div>
      <div class="auk-u-mb-2">
        <div class="vl-title vl-title--h5">
          {{subcase.shortTitle}}
        </div>
      </div>
      <div class="auk-u-mb-4">
        <p>
          {{subcase.title}}
        </p>
      </div>
      {{#if (gt (await subcase.pieces.length) 1)}}
        <div class="js-vl-accordion">
          <button type="button"
                  class="vl-toggle vl-link vl-link--bold"
                  data-vl-accordion-toggle=""
                  data-vl-accordion-dressed="true"
                  aria-expanded="false"
            {{action "toggleIsShowingDocuments" subcase}}
          >
            {{#if subcase.isShowingDocuments}}
              <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-down"
                 aria-hidden="true"
              ></i>
            {{else}}
              <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"
                 aria-hidden="true"
              ></i>
            {{/if}}
            {{t "documents"}}
          </button>
        </div>
        {{#if subcase.isShowingDocuments}}
          <div class="vl-accordion__panel">
            <div class="auk-u-mt-4">
              {{utils/pieces-list-for-item agendaitemOrSubcase=subcase isClickable=true}}
            </div>
          </div>
        {{/if}}
      {{/if}}
    {{/subcases/subcase-item}}
  {{/each}}
</div>