<div class="auk-u-mb-4">
  <Auk::Toolbar class="auk-u-mb-4">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-toolbar__title">
          {{t "newsletter-title"}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if this.currentSession.isEditor}}
        {{#if this.model}}
         <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary"
            @icon="pencil"
            data-test-route-agenda---news-item-edit
            {{on "click" this.startEditing}}
          >
            {{t "edit"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        {{else}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary"
            @icon="plus"
            data-test-route-agenda---news-item-create
            {{on "click" this.createAndStartEditing}}
          >
            {{t "create"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        {{/if}}
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#if this.model}}
  {{#if (and this.notaHasChanged this.currentSession.isEditor)}}
    {{#unless this.notaModifiedWarningConfirmed}}
      <ChangesAlert
        @message={{t
          "nota-changed-message"
          date=(moment-format this.notaModifiedTime "D MMMM YYYY")
          time=(moment-format this.notaModifiedTime "H:mm")
        }}
        @buttonText={{t "close"}}
        @clearAction={{this.confirmNotaModifiedWarning}} />
    {{/unless}}
  {{/if}}
  {{#if this.isEditing}}
    <NewsItem::EditItem
      @newsletterInfo={{this.model}}
      @agendaitem={{this.agendaitem}}
      @onCancel={{this.stopEditing}}
      @onSave={{this.stopEditing}}
    />
  {{else}}
    <Agenda::Agendaitem::AgendaitemNewsItem
      @agendaitem={{this.agendaitem}}
      @newsletterInfo={{this.model}}
    />
  {{/if}}
{{else}}
  <div class="auk-u-mt-2">
    <WebComponents::VlAlert @message={{t "no-newsletter-info"}} />
  </div>
{{/if}}
