<div>
  <div class="auk-u-mb-4">
    <div class="auk-o-flex auk-o-flex--align-baseline">
      <h3 class="auk-h2">
        {{t "newsletter-title"}}
      </h3>
      {{#if this.currentSession.isEditor}}
        <div class="auk-u-ml-2">
          {{#if this.model}}
            {{!-- TODO: replace by link-styled button --}}
            <a href="javascript://" data-test-route-agenda---news-item-edit class="auk-button-link"
              {{on "click" this.startEditing}}>
              <span class="auk-button__content">
                {{t "edit"}}
              </span>
            </a>
          {{else}}
            {{!-- TODO: replace by link-styled button --}}
            <a href="javascript://" data-test-route-agenda---news-item-create class="auk-button-link"
              {{on "click" this.createAndStartEditing}}>
              <span class="auk-button__content">
                {{t "create"}}
              </span>
            </a>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
  {{#if this.model}}
    {{#if (and this.notaHasChanged this.currentSession.isEditor)}}
      {{#unless this.notaModifiedWarningConfirmed}}
        <ChangesAlert
          @message={{t
            "nota-changed-message"
            date=(moment-format this.notaModifiedTime "D MMMM YYYY")
            time=(moment-format this.notaModifiedTime "H:mm")
          }}
          @buttonText={{t "close"}}
          @clearAction={{this.confirmNotaModifiedWarning}} />
      {{/unless}}
    {{/if}}
    {{#if this.isEditing}}
      <NewsItem::EditItem
        @newsletterInfo={{this.model}}
        @agendaitem={{this.agendaitem}}
        @onCancel={{this.stopEditing}}
        @onSave={{this.stopEditing}}
      />
    {{else}}
      <Agenda::Agendaitem::AgendaitemNewsItem
        @agendaitem={{this.agendaitem}}
        @newsletterInfo={{this.model}}
      />
    {{/if}}
  {{else}}
    <div class="auk-u-mt-2">
      <WebComponents::VlAlert @message={{t "no-newsletter-info"}} />
    </div>
  {{/if}}
</div>
