<AuToolbar class="au-u-margin-bottom">
  <AuToolbarGroup>
    <AuHeading @level="3" @skin="4">
      {{t "newsletter-title"}}
    </AuHeading>
  </AuToolbarGroup>
  {{#if this.currentSession.isEditor}}
  <AuToolbarGroup>
    {{#if this.model}}
      {{#if this.isEditing}}
        <AuButton
          @skin="link"
          {{on "click" this.stopEditing}}
        >
          {{t "cancel"}}
        </AuButton>
      {{else}}
        <AuButtonGroup>
          <AuButton
            @icon="expand"
            @iconAlignment="left"
            @skin="link"
            data-test-route-agenda---news-item-edit
            {{on "click" this.startEditingFullscreen}}
          >
            Tekst bewerken
          </AuButton>
          <AuButton
            @icon="pencil"
            @iconAlignment="left"
            @skin="link"
            data-test-route-agenda---news-item-edit
            {{on "click" this.startEditing}}
          >
              {{t "edit"}}
          </AuButton>
        </AuButtonGroup>
      {{/if}}
    {{else}}
      <AuButton
        @icon="add"
        @iconAlignment="left"
        @skin="secondary"
        data-test-route-agenda---news-item-create
        {{on "click" this.createAndStartEditing}}
      >
          {{t "create"}}
      </AuButton>
    {{/if}}
  </AuToolbarGroup>
  {{/if}}
</AuToolbar>
{{#if this.model}}
  {{#if (and this.notaHasChanged this.currentSession.isEditor)}}
    {{#unless this.notaModifiedWarningConfirmed}}
      <ChangesAlert
        @message={{t
          "nota-changed-message"
          date=(moment-format this.notaModifiedTime "D MMMM YYYY")
          time=(moment-format this.notaModifiedTime "H:mm")
        }}
        @buttonText={{t "close"}}
        @clearAction={{this.confirmNotaModifiedWarning}} />
    {{/unless}}
  {{/if}}
  {{#if this.isEditing}}
    <NewsItem::EditItem
      @newsletterInfo={{this.model}}
      @agendaitem={{this.agendaitem}}
      @onCancel={{this.stopEditing}}
      @onSave={{this.stopEditing}}
      @fullscreen={{this.isEditingFullscreen}}
    />
  {{else}}
    <Agenda::Agendaitem::AgendaitemNewsItem
      @agendaitem={{this.agendaitem}}
      @newsletterInfo={{this.model}}
    />
  {{/if}}
{{else}}
  <div class="auk-u-mt-2">
    <WebComponents::VlAlert @message={{t "no-newsletter-info"}} />
  </div>
{{/if}}
