<div class="auk-rdfa-holder">
  <div class="auk-rdfa-holder__header">
    <AuToolbar class="au-u-margin-bottom-tiny" as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            @skin="link"
            @icon="renew"
            @loading={{@loadingUpdateContent}}
            @disabled={{@disableUpdateContent}}
            class="au-u-padding-left-none"
            {{on "click" @onUpdateContentClicked}}
          >
            {{t "update-thing" thing=(t "content")}}
          </AuButton>
          <Agenda::Agendaitem::Decision::PiecePartVersion
            @piecePart={{@piecePart}}
            @onVersionClicked={{@onPiecePartVersionClicked}}
          />
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
  <WebComponents::VlRdfaEditor
    data-test-agendaitem-decision-rdfa-editor
    @handleRdfaEditorInit={{@handleRdfaEditorInit}}
  />
</div>