<div class="vlc-document-card">
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <div class="vlc-toolbar vlc-toolbar--auto">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <p class="vlc-subline vlc-document-card__subline">
              {{await document.type.label}}
            </p>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item vl-u-display-flex">
            {{#if lastDocumentVersion}}
              <AccessLevelPill @item={{lastDocumentVersion}} />
            {{/if}}
          </div>
          <div class="vlc-toolbar__item">
            {{#if currentSession.isEditor}}
              <button
                class="vl-button vl-button--link vl-button--icon"
                data-test-documents-show-more
                type="button"
              >
                <i class="vl-vi vl-vi-nav-show-more-horizontal"></i>
                {{#attach-popover
                  class="ember-attacher-popper"
                  hideOn="clickout click"
                  showOn="click"
                  animation="shift"
                  placement="bottom"
                as |attacher|
                }}
                  <ul class="vlc-dropdown-menu">
                    <li class="vlc-dropdown-menu__item">
                      <a class="vl-link vl-link--block"
                         href=""
                         data-test-document-upload-new-version
                        {{action attacher.hide}}
                        {{action "openUploadDialog" document}}
                      >
                        {{t "new-version"}}
                      </a>
                    </li>
                    <li class="vlc-dropdown-menu__item">
                      <a class="vl-link vl-link--block"
                         href=""
                        {{action attacher.hide}}
                        {{action "startEditingName"}}
                      >
                        {{t "document-title-edit"}}
                      </a>
                    </li>
                    <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                    <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                      <a class="vl-link vl-link--block vl-u-text--error"
                         href=""
                        {{action attacher.hide}}
                        {{action "deleteDocument" document}}
                      >
                        {{t "document-delete"}}
                      </a>
                    </li>
                  </ul>
                {{/attach-popover}}
              </button>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="vl-u-display-flex">
        <div class="vlc-document-card__badge
          {{if
            document.checkAdded
            "vlc-document-list__item vlc-document-list__item--active"
          }}"
        >
          <div class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper">
            <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
          </div>
        </div>
        <div class="vl-u-display-flex vlc-u-flex-direction-column vlc-u-box-model-maximize-width">
          {{#if (not isEditing)}}
            <h6 class="vl-title vl-title--h6">
              <span {{action "startEditingName"}}>
                {{lastDocumentVersion.name}}
              </span>
            </h6>
          {{else}}
            <div class="vl-u-display-flex vlc-u-display-flex-align-center">
              {{input
                type="text"
                class="vl-input-field vl-input-field--block"
                value=nameBuffer
              }}
              <button
                class="vl-button vl-button--link vl-button--icon"
                type="button"
                {{action "saveNameChange" lastDocumentVersion}}
              >
                <i
                  class="vl-vi vl-vi-save vl-button__icon"
                  aria-hidden="true"
                ></i>
                <span class="vl-u-visually-hidden">
                  {{t "more-options"}}
                </span>
              </button>
              <button
                class="vl-button vl-button--link vl-button--icon"
                type="button"
                {{action "cancelEditingName"}}
              >
                <i
                  class="vl-vi vl-vi-cross vl-button__icon"
                  aria-hidden="true"
                ></i>
                <span class="vl-u-visually-hidden">
                  {{t "more-options"}}
                </span>
              </button>
            </div>
          {{/if}}
          <div class="vlc-document-card-content__meta">
            {{t "uploaded-at"}}
            {{moment-format (await lastDocumentVersion.created)}}
            {{t "at"}}
            {{moment-format (await lastDocumentVersion.created) "HH:mm"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if (gt (await numberOfDocumentVersions) 0)}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{openClass}}">
        <button
          class="vl-toggle vl-link vl-link--bold"
          type="button"
          {{action "showVersions"}}
        >
          <i class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-right-fat"
          ></i>
          {{t "show-versions"}}
        </button>
        {{#if isShowingVersions}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each
                (await myReverseSortedVersions)
              as |documentVersion|
              }}
                <WebComponents::VlDocument
                  @documentVersion={{documentVersion}}
                  @item={{item}} />
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
{{#if isUploadingNewVersion}}
  <WebComponents::VlModal
    @closeModal={{action "cancelUploadVersion"}}
    @isOverlay={{true}}
    @title={{t "new-document-version"}}>
    <div class="vl-modal-dialog__content">
      {{#if (not uploadedFile)}}
        <FileUploader @multipleFiles={{false}} @uploadedFileAction={{action "add"}}/>
      {{else}}
        <WebComponents::VlFormLabel @value={{t "name"}} />
        <WebComponents::VlFormInput
          @value={{documentContainer.lastDocument.name}}
          @width={{4}} />
        {{ember-kaleidos-webuniversum/vl-uploaded-document
          name=documentContainer.lastDocument.file.filename
          extension=documentContainer.lastDocument.file.extension
          size=documentContainer.lastDocument.file.size
          downloadName=documentContainer.lastDocument.file.filename
          downloadLink=(concat
            documentContainer.lastDocument.file.downloadLink
            "?name="
            documentContainer.lastDocument.file.filename
          )
          delete=(action "delete" documentContainer.lastDocument)
        }}
      {{/if}}
    </div>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @isLoading={{isLoading}}
      @cancelAction={{action "cancelUploadVersion"}}
      @saveAction={{action "saveDocument"}}
      @disableSave={{not uploadedFile}} />
  </WebComponents::VlModal>
{{/if}}
{{#if isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{action "cancel"}}
    @verify={{action "verify"}} />
{{/if}}
