{{#if (await meetings)}}
  <h2 class="vl-title vl-title--h3">
    {{title}}
  </h2>
  <table class="vl-data-table vl-data-table--zebra vl-data-table--align-middle">
    <thead>
      <tr>
        <th class="vl-data-table-col-3 vl-data-table__header-title table-header-unsortable">
            <div class="vl-u-display-flex vl-u-flex-align-center">
              <span>
                {{t "agenda"}}
              </span>
            </div>
        </th>
        <th class="vl-data-table-col-2 vl-data-table__header-title table-header-unsortable">
            <div class="vl-u-display-flex vl-u-flex-align-center">
              <span>
                {{t "agenda-version"}}
              </span>
            </div>
        </th>
        <th class="vl-data-table-col-2 vl-data-table__header-title table-header-unsortable">
            <div class="vl-u-display-flex vl-u-flex-align-center">
              <span>
                {{t "latest-modified"}}
              </span>
            </div>
        </th>
        <th class="vl-data-table-col-2 vl-data-table__header-title table-header-unsortable">
            <div class="vl-u-display-flex vl-u-flex-align-center">
              <span>
                {{t "status"}}
              </span>
            </div>
        </th>
        <th class="vl-data-table-col-2 vl-data-table__header-title table-header-unsortable">
            <div class="vl-u-display-flex vl-u-flex-align-center">
              <span>
                {{t "kind"}}
              </span>
            </div>
        </th>
        <th class="vl-data-table-col-1"></th>
      </tr>
    </thead>
    <tbody>
      {{#each (await items) as |meeting|}}
        <tr>
          <td>
            {{#if (is-pending meeting)}}
              <div class="skeletal-loader" role="alert" aria-busy="true"></div>
            {{else}}
              {{t "agenda-for"}}
              {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
            {{/if}}
          </td>
          <td>
            {{#if (is-pending meeting.latestAgendaName)}}
              <div class="skeletal-loader" role="alert" aria-busy="true"></div>
            {{else if (await meeting.latestAgendaName)}}
              {{await meeting.latestAgendaName}}
            {{else}}
              {{t "no-agenda"}}
            {{/if}}
          </td>
          <td>
            {{#if (is-pending meeting.latestAgenda)}}
              <div class="skeletal-loader" role="alert" aria-busy="true"></div>
            {{else}}
              {{moment-format
                (await meeting.latestAgenda.modified)
                "DD-MM-YYYY HH:mm"
              }}
            {{/if}}
          </td>
          <td>
            {{#if meeting.isFinal}}
              {{t "closed"}}
            {{else}}
              {{t "opened"}}
            {{/if}}
          </td>
          <td>
            {{meeting.kindToShow.label}}
          </td>
          <td class="vl-u-align-center">
            <button
              class="vl-button vl-button--link vl-button--icon"
              {{action "selectAgenda" meeting}}
            >
              <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}