{{#if (not isAddingCase)}}
  <div class="vlc-toolbar vlc-toolbar--auto">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <h1 class="vlc-page-header__title auk-u-pb" data-test-cases-header-title>
          {{t "cases"}}
        </h1>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        {{#if currentSession.isEditor}}
          <button type="button"
            data-test-cases-header-add-case
            class="auk-button auk-button--primary"
            {{action "toggleAddingCase"}}
          >
            <div class="auk-icon auk-icon--default ">
              <i class="ki ki-add"></i>
            </div>
            <div class="auk-button__label">
              {{t "add-case"}}
            </div>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @closeModal={{action "toggleAddingCase"}}
    @title={{t "new-case"}} >
    <Cases::NewCase @close={{action "closeAction"}} />
  </WebComponents::VlModal>
{{/if}}
