<Auk::Navbar @skin="gray-100">
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h1 data-test-cases-header-title class="auk-toolbar__title">
            {{t "cases"}}
          </h1>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          {{#if (user-may "manage-cases")}}
            <AuButton
              @skin="primary"
              @icon="plus"
              {{on "click" (toggle "isOpenNewCaseAddSubcaseModal" this)}}
            >
              {{t "add-case"}}
            </AuButton>
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
</Auk::Navbar>

{{#if this.isOpenNewCaseAddSubcaseModal}}
  <Cases::NewCase
    @didSave={{this.saveNewCaseAddSubcase}}
    @onCancel={{toggle "isOpenNewCaseAddSubcaseModal" this}}
  />
{{/if}}
