<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @auto={{true}} as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <h1 data-test-cases-header-title class="auk-toolbar__title">
          {{t "cases"}}
        </h1>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      {{#if (or (user-may "manage-cases")(or (eq this.impersonation.role.label 'Kabinetsdossierbeheerder')(eq this.currentSession.role.label 'Kabinetsdossierbeheerder')))}}
      <Group.Item>
        {{!-- <div class="auk-o-flex auk-o-flex--vertical-center auk-u-mr-2">
          <AuToggleSwitch
            data-test-route-cases-overview-show-archived
            @checked={{@showArchivedOnly}}
            id="show-cases-archived-only"
          />
          <Auk::Label
            class="auk-u-text-nowrap auk-u-ml-2 auk-u-p-0"
            for="show-cases-archived-only"
          >
            {{t "show-archived-only"}}
          </Auk::Label>
        </div> --}}
        <AuInput
          @width="block"
          @icon="search"
          @value=""
          placeholder={{t "date-example"}}
          autocomplete="off"
        />
      </Group.Item>
      <Group.Item>
        <AuButton
          data-test-cases-header-add-case
          @skin="primary"
          @icon="plus"
          {{on "click" this.toggleIsOpenNewCaseModal}}
        >
          {{t "add-case"}}
        </AuButton>
      </Group.Item>
      {{/if}}
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>
<AuModal
  @modalOpen={{this.isOpenNewCaseModal}}
  @closeModal={{this.toggleIsOpenNewCaseModal}}
  @title={{t "new-case"}}
  @padding="none"
>
  <:body>
    <Cases::NewCase
      @didSave={{this.saveNewCase}}
      @onCancel={{this.toggleIsOpenNewCaseModal}}
    />
  </:body>
</AuModal>