<Auk::Navbar @skin="gray-100">
  {{#if (not isAddingCase)}}
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h1 class="auk-toolbar__title" data-test-cases-header-title>
            {{t "cases"}}
          </h1>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{#if currentSession.isEditor}}
            <button type="button"
              data-test-cases-header-add-case
              class="auk-button auk-button--primary"
              {{action "toggleAddingCase"}}
            >
              <span class="auk-button__content">
                <div class="auk-icon auk-icon--default ">
                  <i class="ki ki-add"></i>
                </div>
                <div class="auk-button__label">
                  {{t "add-case"}}
                </div>
              </span>
            </button>
          {{/if}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  {{else}}
    <WebComponents::VlModal
      @isOverlay={{true}}
      @closeModal={{action "toggleAddingCase"}}
      @title={{t "new-case"}} >
      <Cases::NewCase @close={{action "closeAction"}} />
    </WebComponents::VlModal>
  {{/if}}
</Auk::Navbar>
