<Auk::Navbar @skin="gray-100">
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h1 data-test-cases-header-title class="auk-toolbar__title">
            {{t "cases"}}
          </h1>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          {{#if this.currentSession.isEditor}}
            <Auk::Button
              data-test-cases-header-add-case
              @skin="primary"
              @icon="plus"
              {{on "click" this.toggleIsOpenNewCaseModal}}
            >
              {{t "add-case"}}
            </Auk::Button>
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
</Auk::Navbar>
{{#if this.isOpenNewCaseModal}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @closeModal={{this.toggleIsOpenNewCaseModal}}
    @title={{t "new-case"}} >
    <Cases::NewCase
      @didSave={{this.saveNewCase}}
      @onCancel={{this.toggleIsOpenNewCaseModal}}
    />
  </WebComponents::VlModal>
{{/if}}