<Auk::Navbar @skin="gray-100">
  {{#if (not this.isAddingCase)}}
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h1 data-test-cases-header-title class="auk-toolbar__title">
            {{t "cases"}}
          </h1>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{#if this.currentSession.isEditor}}
            <Auk::Button
              data-test-cases-header-add-case
              @skin="primary"
              @icon="plus"
              {{on "click" this.toggleAddingCase}}
            >
              {{t "add-case"}}
            </Auk::Button>
          {{/if}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  {{else}}
    <WebComponents::VlModal
      @isOverlay={{true}}
      @closeModal={{this.toggleAddingCase}}
      @title={{t "new-case"}} >
      <Cases::NewCase
        @didSave={{this.closeAction}}
        @onCancel={{this.closeAction}}
      />
    </WebComponents::VlModal>
  {{/if}}
</Auk::Navbar>