<Auk::Navbar @skin="gray-100">
  <div class="auk-toolbar-complex auk-toolbar-complex--auto">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <h1 class="auk-toolbar__title" data-test-cases-header-title>
          {{t "cases"}}
        </h1>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        {{#if currentSession.isEditor}}
          <Auk::Button
            data-test-cases-header-add-case
            @skin="primary"
            @icon="add"
            {{on "click" this.toggleAddingCase}}
          >
            {{t "add-case"}}
          </Auk::Button>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if isAddingCase}}
    <WebComponents::VlModal
      @isOverlay={{true}}
      @closeModal={{this.toggleAddingCase}}
      @title={{t "new-case"}} >
      <Cases::NewCase @close={{this.closeAction}} />
    </WebComponents::VlModal>
  {{/if}}
</Auk::Navbar>
