<Auk::Toolbar>
  <Auk::Toolbar::Group @position="left">
    <Auk::Toolbar::Item>
      <h1 class="auk-toolbar__title" data-test-cases-header-title>
        {{t "cases"}}
      </h1>
    </Auk::Toolbar::Item>
  </Auk::Toolbar::Group>
  {{#if currentSession.isEditor}}
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <WebComponents::VlCheckbox 
          @value={{@showArchived}}
          @toggle={{@toggleShowArchived}}
          @label={{t "show-archived" }}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <button type="button"
          data-test-cases-header-add-case
          class="auk-button auk-button--primary"
          {{action "toggleAddingCase"}}
        >
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--default ">
              <i class="ki ki-add"></i>
            </div>
            <div class="auk-button__label">
              {{t "add-case"}}
            </div>
          </span>
        </button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  {{/if}}
</Auk::Toolbar>
{{#if isAddingCase}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @closeModal={{action "toggleAddingCase"}}
    @title={{t "new-case"}} >
    <Cases::NewCase @close={{action "closeAction"}} />
  </WebComponents::VlModal>
{{/if}}
