<Auk::Modal>
  <Auk::Modal::Header
          @title={{t "edit-case"}}
          @onClose={{@onClose}}
  />
  <Auk::Modal::Body>
    {{#if hasError}}
      <Auk::Alert
        @skin="error"
        @icon="alert-triangle"
        @title={{t "modal-error-alert-title"}}
        @message={{t "modal-error-alert-message"}}
      />
    {{/if}}
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        <Auk::Label>{{t "confidential"}}</Auk::Label>
        <Auk::CheckboxList>
          <Auk::Checkbox @name="isConfidential" @checked={{this.isConfidential}}
            {{on "input" this.toggleConfidential}} />
        </Auk::CheckboxList>
      </div>
    </div>
    <div class="auk-form-group {{getClassForShortTitle}}">
      <Auk::Label>{{t "short-title-case"}}</Auk::Label>
      <Auk::Textarea @rows="2" @value={{this.shortTitle}} />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Button
                  @skin="borderless"
                  disabled={{this.save.isRunning}}
            {{on "click" @onClose}}
          >
            {{t "cancel"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{#if this.save.isRunning}}
            <Utils::SimpleSpinner/>
          {{else}}
            <Auk::Button
                    @skin="primary"
                    disabled={{or this.save.isRunning this.isSaveDisabled}}
              {{on "click" (perform this.save)}}
            >
              {{t "save"}}
            </Auk::Button>
          {{/if}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>