{{#if @caseToEdit}}
  <Auk::Modal::Body>
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        <Auk::Label>{{t "name-subcase"}}</Auk::Label>
        <Auk::Textarea 
          @value={{@caseToEdit.shortTitle}}
        />
      </div>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onClose}}>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button 
            @skin="primary"
            {{on "click" this.saveChanges}}
          >
            {{t "save"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
{{/if}}