<Auk::Modal>
  <Auk::Modal::Header @title={{t "create-subcase"}} @onClose={{@onClose}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.areLoadingTasksRunning}}
      @reserveSpace={{true}}
    >
      <div class="auk-o-flex auk-o-flex--justify-between">
        <div class="auk-u-mb-4">
          <AuFieldset
            data-test-new-subcase-type
            as |Fieldset|
          >
            <Fieldset.legend>{{t "subcase-type"}}</Fieldset.legend>
            <Fieldset.content>
              <Auk::RadioList
                @layout="inline"
                as |List|
              >
                {{#each this.agendaItemTypes as |type|}}
                  <List.Radio
                    @label={{type.label}}
                    @value={{type.id}}
                    @onChange={{this.selectAgendaItemType}}
                    checked={{eq this.agendaItemType.id type.id}}
                  />
                {{/each}}
              </Auk::RadioList>
            </Fieldset.content>
          </AuFieldset>
        </div>

        <div class="auk-o-flex auk-o-flex--vertical-center">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <AuButton
                  data-test-new-subcase-clone-previous-subcase
                  @skin="secondary"
                  @icon="copy-paste"
                  {{on "click" (perform this.copyFullSubcase)}}
                >
                  {{t "clone-previous-subcase"}}
                </AuButton>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </div>
      </div>
      <div class="auk-form-group">
        <Auk::Label for="new-subcase-confidential">{{t "limited-access"}}</Auk::Label>
        <Auk::Toggle
          data-test-new-subcase-confidential
          id="new-subcase-confidential"
          @checked={{this.confidential}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "name-subcase"}}</Auk::Label>
        <Auk::Textarea
          data-test-new-subcase-shorttitle
          @rows="2"
          @value={{this.shortTitle}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "title-subcase"}}</Auk::Label>
        <Auk::Textarea
          data-test-new-subcase-longtitle
          @rows="4"
          @value={{this.title}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-type-dropdown"}}</Auk::Label>
        <Utils::ModelSelector
          data-test-new-subcase-procedure-step
          @modelName="subcase-type"
          @searchField="label"
          @sortField="label"
          @selected={{this.type}}
          @onChange={{this.selectType}}
        as |model|>
          {{capitalize model.label}}
        </Utils::ModelSelector>
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-name"}}</Auk::Label>
        <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex-gap--small">
          {{#if (not this.isEditing)}}
            <Utils::ModelSelector
              data-test-new-subcase-procedure-name
              class="auk-u-maximize-width"
              @modelName="shortcut"
              @searchField="label"
              @sortField="label"
              @filter={{this.filter}}
              @selected={{this.selectedShortcut}}
              @onChange={{this.selectSubcaseName}}
            as |model|>
              {{capitalize model.label}}
            </Utils::ModelSelector>
            <AuButton
              @skin="naked"
              @icon="pencil"
              @hideText={{true}}
              {{on "click" this.toggleIsEditing}}
            >
              {{t "edit"}}
            </AuButton>
          {{else}}
            <AuInput
              @width="block"
              @value={{this.subcaseName}}
              id="subcaseNameId"
            />
            <AuButton
              @skin="naked"
              @icon="x"
              @hideText={{true}}
              {{on "click" this.toggleIsEditing}}
            >
              {{t "cancel"}}
            </AuButton>
          {{/if}}
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.saveSubcase.isRunning}}
    @onCancel={{@onClose}}
  >
    <AuButton
      data-test-new-subcase-save
      @skin="primary"
      @disabled={{or this.areSavingTasksRunning this.areLoadingTasksRunning}}
      @loading={{or this.areSavingTasksRunning this.areLoadingTasksRunning}}
      {{on "click" (perform this.saveSubcase)}}
    >
      {{t "new-subcase"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>