<Auk::Modal::Body>
  <div
    class="auk-form-group"
    data-test-new-case-shorttitle
  >
    <Auk::Label id="case-short-title">{{t "short-title-case"}}</Auk::Label>
    <Auk::Textarea @rows="2" @value={{mut this.shortTitle}} />
  </div>
</Auk::Modal::Body>
<Auk::Modal::Footer @custom={{true}}>
  <Auk::Toolbar @size="large" as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <Auk::ButtonLink {{on "click" @onCancel}} data-test-new-case-cancel>
          {{t "cancel"}}
        </Auk::ButtonLink>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <Auk::Button
          @skin="primary"
          @disabled={{this.isCreateDisabled}}
          @loading={{this.isLoading}}
          data-test-new-case-save={{true}}
          {{on "click" (perform this.createCase)}}
        >
          {{t "create-case"}}
        </Auk::Button>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Modal::Footer>