<form class="vl-form" onsubmit={{action "createSubCase"}}>
  <div class="vl-modal-dialog__content">
    <div class="auk-u-flex auk-u-flex--justify-between">
      {{web-components/vl-radio-button-list
        title=(t "subcase-type")
        optionList=(await caseTypes)
        modelChanged=(action "typeChanged")
      }}
      <div class="vl-action-group vl-action-group--align-right">
        <button type="button"
                data-test-clone-previous-subcase
                class="vl-button vl-button--secondary vl-button--icon-before" {{action
                "copyFullSubcase"}}>
          <i class="vl-button__icon vl-button__icon--before ki-copy-paste" aria-hidden="true"></i>{{t
            "clone-previous-subcase"
          }}
        </button>
      </div>
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "name-subcase")}}
      {{textarea
        rows="2"
        class="vl-textarea vl-textarea--block"
        value=shortTitle
      }}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "title-subcase")}}
      {{textarea rows="4" class="vl-textarea vl-textarea--block" value=title}}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "subcase-type-dropdown")}}
      {{utils/model-selector
        modelName="subcase-type"
        searchField="label"
        sortField="label"
        propertyToShow="label"
        selectedItems=type
        selectModel=(action "selectType")
      }}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "subcase-name")}}
      <div class="auk-u-flex auk-u-flex--vertical-center">
        {{#if (not isEditing)}}
          {{utils/model-selector
            class="vlc-u-box-model-maximize-width"
            modelName="shortcut"
            searchField="label"
            propertyToShow="label"
            sortField="label"
            filter=filter
            selectedItems=selectedSubcaseName
            selectModel=(action "selectModel")
          }}
          <button type="button"
                  class="vl-button vl-button--secondary vl-button--icon"
            {{action "toggleIsEditing"}}
          >
            <i class="vl-button__icon ki-pencil"></i>
            <span class="vl-u-visually-hidden">
              {{t "edit"}}
            </span>
          </button>
        {{else}}
          {{input
            type="text"
            id="subcaseNameId"
            class="vl-input-field vl-input-field--block"
            value=subcaseName
          }}
          <button class="vl-button vl-button--secondary vl-button--icon"
                  type="button"
            {{action "toggleIsEditing"}}
          >
            <i class="ki-cross vl-button__icon" aria-hidden="true"></i>
            <span class="vl-u-visually-hidden">
              {{t "cancel"}}
            </span>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button type="button"
                  class="vl-button vl-button--link"
            {{action "closeModal"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          {{web-components/vl-save-button
            text=(t "new-subcase")
            type="submit"
            class="vl-button"
            loadingText=(t "creating-subcase")
            isLoading=isLoading
            disabled=isLoading
          }}
        </div>
      </div>
    </div>
  </div>
</form>
