<Auk::Modal>
  <Auk::Modal::Header
    @closeDisabled={{this.areSavingTasksRunning}}
    @title={{t "create-subcase"}}
    @onClose={{@onClose}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.areLoadingTasksRunning}}
      @reserveSpace={{true}}
    >
      <div class="au-c-form">
        <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
          <AuFormRow>
            <AuFieldset as |Fieldset|>
              <Fieldset.legend>{{t "subcase-type"}}</Fieldset.legend>
              <Fieldset.content>
                <AuRadioGroup
                  data-test-new-subcase-type
                  @alignment="inline"
                  @selected={{this.agendaItemType}}
                  @onChange={{this.onChangeAgendaItemType}}
                  as |Group|
                >
                  {{#each this.agendaItemTypes as |type|}}
                    <Group.Radio
                      @value={{type}}
                    >
                      {{type.label}}
                    </Group.Radio>
                  {{/each}}
                </AuRadioGroup>
              </Fieldset.content>
            </AuFieldset>
          </AuFormRow>
          <AuFormRow>
            <AuButton
              data-test-new-subcase-clone-previous-subcase
              @skin="secondary"
              @icon="copy-paste"
              {{on "click" (perform this.copyFullSubcase)}}
              @disabled={{this.areSavingTasksRunning}}
            >
              {{t "clone-previous-subcase"}}
            </AuButton>
          </AuFormRow>
        </div>
        <AuFormRow>
          <Auk::Label for="new-subcase-confidential">{{t "limited-access"}}</Auk::Label>
          <AuToggleSwitch
            data-test-new-subcase-confidential
            @checked={{this.confidential}}
            id="new-subcase-confidential"
          />
        </AuFormRow>
        <AuFormRow>
          <Auk::Label>{{t "name-subcase"}}</Auk::Label>
          <AuTextarea
            data-test-new-subcase-shorttitle
            value={{this.shortTitle}}
            @width="block"
            {{on "input" (pick "target.value" (set this "shortTitle"))}}
          />
        </AuFormRow>
        <AuFormRow>
          <Auk::Label>{{t "title-subcase"}}</Auk::Label>
          <AuTextarea
            data-test-new-subcase-longtitle
            value={{this.title}}
            @width="block"
            {{on "input" (pick "target.value" (set this "title"))}}
          />
        </AuFormRow>
        <AuFormRow>
          <Auk::Label>{{t "subcase-type-dropdown"}}</Auk::Label>
          <Utils::ModelSelector
            data-test-new-subcase-procedure-step
            @modelName="subcase-type"
            @searchField="label"
            @sortField="label"
            @selected={{this.type}}
            @onChange={{this.selectType}}
          as |model|>
            {{capitalize model.label}}
          </Utils::ModelSelector>
        </AuFormRow>
        <AuFormRow>
          <Auk::Label>{{t "subcase-name"}}</Auk::Label>
          <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex-gap--small auk-input-group--w-large">
            {{#if (not this.isEditing)}}
              <Utils::ModelSelector
                data-test-new-subcase-procedure-name
                class="auk-u-maximize-width"
                @modelName="shortcut"
                @searchField="label"
                @sortField="label"
                @filter={{this.filter}}
                @selected={{this.selectedShortcut}}
                @onChange={{this.selectSubcaseName}}
              as |model|>
                {{capitalize model.label}}
              </Utils::ModelSelector>
              <AuButton
                @skin="naked"
                @icon="pencil"
                @hideText={{true}}
                {{on "click" this.toggleIsEditing}}
                class="auk-o-flex__item--fix"
              >
                {{t "edit"}}
              </AuButton>
            {{else}}
              <AuInput
                id="subcaseNameId"
                value={{this.subcaseName}}
                @width="block"
                {{on "input" (pick "target.value" (set this "subcaseName"))}}
              />
              <AuButton
                @skin="naked"
                @icon="x"
                @hideText={{true}}
                {{on "click" this.toggleIsEditing}}
                class="auk-o-flex__item--fix"
              >
                {{t "cancel"}}
              </AuButton>
            {{/if}}
          </div>
        </AuFormRow>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.areSavingTasksRunning}}
    @onCancel={{@onClose}}
  >
    <AuButton
      data-test-new-subcase-save
      @skin="primary"
      @loading={{or this.areSavingTasksRunning this.areLoadingTasksRunning}}
      {{on "click" (perform this.saveSubcase)}}
    >
      {{t "new-subcase"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>