<form onsubmit={{action "createCaseAction"}}>
  <div class="auk-modal__body">
    <div class="auk-u-p-4">
      {{#if hasError}}
        <Auk::Alert
          data-test-new-case-shorttitle-error
          @skin="error"
          @icon="alert-triangle"
          @title={{t "modal-error-alert-title"}}
          @message={{t "modal-error-alert-message"}}
        />
      {{/if}}

      <div class="auk-u-mb-4">
        <div class="auk-form-group">
          <Auk::Label>{{t "confidential"}}</Auk::Label>
          {{web-components/vl-toggle value=confidential}}
        </div>
      </div>
      <div class="auk-form-group {{getClassForShortTitle}}" data-test-new-case-shorttitle>
        <Auk::Label>{{t "short-title-case"}}</Auk::Label>
        {{textarea class="auk-textarea" rows="2" value=shortTitle}}
      </div>
    </div>
  </div>
  <div class="auk-modal__footer auk-modal__footer--bordered">
    <div class="auk-toolbar-complex">
      <div class="auk-toolbar-complex__left">
        <div class="auk-toolbar-complex__item">
          <button type="button" data-test-new-case-cancel
                  class="auk-button auk-button--borderless"
            {{action "closeAction"}}>
            <span class="auk-button__content">
              {{t "cancel"}}
            </span>
          </button>
        </div>
      </div>
      <div class="auk-toolbar-complex__right">
        <div class="auk-toolbar-complex__item">
          {{web-components/vl-save-button
            text=(t "create-case")
            type="submit"
            isLoading=isLoading
          }}
        </div>
      </div>
    </div>
  </div>
</form>