<form onsubmit={{action "createSubCase"}}>
  <div class="auk-modal__body">
    <div class="auk-u-p-4">
      <div class="auk-o-flex auk-o-flex--justify-between">
        {{web-components/vl-radio-button-list
          title=(t "subcase-type")
          optionList=(await caseTypes)
          modelChanged=(action "typeChanged")
        }}
        <div class="auk-o-flex auk-o-flex--vertical-center">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <button type="button"
                  data-test-new-subcase-clone-previous-subcase
                  class="auk-button auk-button--secondary"
                  {{action "copyFullSubcase"}}
                >
                  <span class="auk-button__content">
                    <div class="auk-icon auk-icon--default">
                      <i class="ki ki-copy-paste"></i>
                    </div>
                    <div class="auk-button__label">
                      {{t "clone-previous-subcase"}}
                    </div>
                  </span>
                </button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </div>
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "name-subcase"}}</Auk::Label>
        {{textarea
          rows="2"
          class="auk-textarea"
          value=shortTitle
        }}
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "title-subcase"}}</Auk::Label>
        {{textarea rows="4" class="auk-textarea" value=title}}
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-type-dropdown"}}</Auk::Label>
        {{utils/model-selector
          modelName="subcase-type"
          searchField="label"
          sortField="label"
          propertyToShow="label"
          selectedItems=type
          selectModel=(action "selectType")
        }}
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-name"}}</Auk::Label>
        <div class="auk-o-flex auk-o-flex--vertical-center">
          {{#if (not isEditing)}}
            {{utils/model-selector
              class="vlc-u-box-model-maximize-width"
              modelName="shortcut"
              searchField="label"
              propertyToShow="label"
              sortField="label"
              filter=filter
              selectedItems=selectedSubcaseName
              selectModel=(action "selectModel")
            }}
            <button type="button"
              class="auk-button auk-button--secondary auk-button--icon"
              {{action "toggleIsEditing"}}
            >
              <span class="auk-button__content">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-pencil"></i>
                </div>
                <div class="auk-u-sr-only">
                  {{t "edit"}}
                </div>
              </span>
            </button>
          {{else}}
            {{input
              type="text"
              id="subcaseNameId"
              class="auk-input auk-input--block"
              value=subcaseName
            }}
            <button class="auk-button auk-button--secondary auk-button--icon"
              type="button"
              {{action "toggleIsEditing"}}
            >
              <span class="auk-button__content">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-cross"></i>
                </div>
                <div class="auk-u-sr-only">
                  {{t "cancel"}}
                </div>
              </span>
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="auk-modal__footer auk-modal__footer--bordered">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <button type="button"
            class="auk-button auk-button--borderless"
            {{action "closeModal"}}
          >
            <span class="auk-button__content">
              {{t "cancel"}}
            </span>
          </button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{web-components/vl-save-button
            text=(t "new-subcase")
            type="submit"
            class="auk-button auk-button--primary"
            loadingText=(t "creating-subcase")
            isLoading=isLoading
          }}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </div>
</form>
