<ConfirmationModal
  @modalOpen={{true}}
  @title={{t "new-case"}}
  @onConfirm={{perform this.createCase}}
  @onCancel={{@onCancel}}
  @confirmMessage={{t "create-case"}}
  @disabled={{this.isCreateDisabled}}
  @loading={{this.createCase.isRunning}}
>
  <:body>
    <div class="au-c-form">
      <AuFormRow data-test-new-case-shorttitle>
        <Auk::Label id="case-short-title">{{t "short-title-case"}}</Auk::Label>
        <Auk::Textarea @rows="2" @value={{mut this.shortTitle}} />
      </AuFormRow>
    </div>
  </:body>
</ConfirmationModal>
