<form onsubmit={{action "createSubCase"}}>
  <div class="auk-modal__content">
    <div class="auk-u-flex auk-u-flex--justify-between">
      {{web-components/vl-radio-button-list
        title=(t "subcase-type")
        optionList=(await caseTypes)
        modelChanged=(action "typeChanged")
      }}
      <div class="auk-u-flex auk-u-flex--vertical-center">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <button type="button"
                data-test-clone-previous-subcase
                class="auk-button auk-button--secondary"
                {{action "copyFullSubcase"}}
              >
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-copy-paste"></i>
                </div>
                <div class="auk-button__label">
                  {{t "clone-previous-subcase"}}
                </div>
              </button>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </div>
    </div>
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "name-subcase"}}</WebComponents::AuLabel>
      {{textarea
        rows="2"
        class="auk-textarea"
        value=shortTitle
      }}
    </div>
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "title-subcase"}}</WebComponents::AuLabel>
      {{textarea rows="4" class="auk-textarea" value=title}}
    </div>
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "subcase-type-dropdown"}}</WebComponents::AuLabel>
      {{utils/model-selector
        modelName="subcase-type"
        searchField="label"
        sortField="label"
        propertyToShow="label"
        selectedItems=type
        selectModel=(action "selectType")
      }}
    </div>
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "subcase-name"}}</WebComponents::AuLabel>
      <div class="auk-u-flex auk-u-flex--vertical-center">
        {{#if (not isEditing)}}
          {{utils/model-selector
            class="vlc-u-box-model-maximize-width"
            modelName="shortcut"
            searchField="label"
            propertyToShow="label"
            sortField="label"
            filter=filter
            selectedItems=selectedSubcaseName
            selectModel=(action "selectModel")
          }}
          <button type="button"
            class="auk-button auk-button--secondary auk-button--icon"
            {{action "toggleIsEditing"}}
          >
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-pencil"></i>
            </div>
            <div class="auk-u-sr-only">
              {{t "edit"}}
            </div>
          </button>
        {{else}}
          {{input
            type="text"
            id="subcaseNameId"
            class="auk-input auk-input--block"
            value=subcaseName
          }}
          <button class="auk-button auk-button--secondary auk-button--icon"
            type="button"
            {{action "toggleIsEditing"}}
          >
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-cross"></i>
            </div>
            <div class="auk-u-sr-only">
              {{t "cancel"}}
            </div>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button type="button"
            class="auk-button auk-button--borderless"
            {{action "closeModal"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          {{web-components/vl-save-button
            text=(t "new-subcase")
            type="submit"
            class="auk-button auk-button--primary"
            loadingText=(t "creating-subcase")
            isLoading=isLoading
            disabled=isLoading
          }}
        </div>
      </div>
    </div>
  </div>
</form>
