{{#if (and (not isEditingMandateeRow) (not isAdding))}}
  <div class="auk-u-mb-8">
    <table class="auk-table">
      <thead>
        <tr>
          <th class="auk-table__col--2">
            {{t "minister"}}
          </th>
          <th class="auk-table__col--3">
            {{t "government-domain"}}
          </th>
          <th class="auk-table__col--5">
            {{t "government-field"}}
          </th>
          <th class="auk-table__col--1">
            {{t "submitter"}}
          </th>
          <th class="auk-table__col--1"></th>
        </tr>
      </thead>
      <tbody>
        {{#each mandateeRows as |mandateeRow|}}
          <tr data-test-mandatees-edit-row>
            <td>
              {{await mandateeRow.mandatee.person.nameToDisplay}}
            </td>
            <td>
              {{await mandateeRow.domainsToShow}}
            </td>
            <td>
              {{await mandateeRow.fieldsToShow}}
            </td>
            <td data-test-mandatees-edit-row-submitter>
              {{web-components/vl-toggle
                valueChanged=(action "valueChanged" mandateeRow)
                value=(await mandateeRow.isSubmitter)
              }}
            </td>
            <td class="auk-u-text-align--right auk-u-flex--vertical-center">
              {{#if isLoading}}
                <button type="button"
                        class="vl-button vl-button--link vl-button--icon"
                        disabled>
                  <div class="auk-loader" role="alert" aria-busy="true"></div>
                </button>
              {{else}}
                <button type="button"
                        class="vl-button vl-button--link vl-button--icon"
                  {{action "editRow" mandateeRow}}
                >
                  <i class="ki-pencil" aria-hidden="true"></i>
                  <span class="vl-u-visually-hidden">
                    {{t "edit"}}
                  </span>
                </button>
              {{/if}}
              <button data-test-mandatees-edit-row-delete
                      type="button"
                      class="vl-button vl-button--link vl-button--icon"
                {{action "deleteRow" mandateeRow}}>
                <i class="ki-delete" aria-hidden="true"></i>
                <span class="vl-u-visually-hidden">
                  {{t "delete"}}
                </span>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else if isAdding}}
  {{utils/minister-modal
    isAddingMinister=true
    cancel=(action "cancel")
    saveChanges=(action "saveChanges")
  }}
{{else if isEditingMandateeRow}}
  {{utils/minister-modal
    rowToShow=rowToShow
    isAddingMinister=false
    selectedMandatee=rowToShow.mandatee
    cancel=(action "cancel")
    saveChanges=(action "saveChanges")
  }}
{{/if}}