<button
  class="auk-button {{this.skin}} {{this.size}} {{this.layout}} {{this.disabled}} {{this.block}} {{this.icon}}"
  type="button"
  disabled={{@disabled}}
  ...attributes
>
  <WebComponents::AuButton::InnerLayout @layout={{@layout}} @icon={{@icon}} @size={{@size}}>
    {{yield}}
  </WebComponents::AuButton::InnerLayout>
</button>
