<div class="auk-u-mt-4">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "proofs"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="secondary"
              @icon="plus"
              @disabled={{this.isProofUploadDisabled}}
              {{on "click" this.openProofUploadModal}}
            >
              {{t "upload-proof"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="primary"
              @icon="plus"
              {{on "click" this.openProofRequestModal}}
            >
              {{t "request-proof"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-bg-alt">
      {{#each @model as |timelineActivity|}}
        {{#if timelineActivity.isShown}}
          {{#if timelineActivity.isRequestActivity}}
            <Publications::Publication::Proofs::ProofRequestedPanel
              @requestActivity={{timelineActivity.activity}}
              @onDeleteRequest={{fn
                                   (perform this.deleteRequest)
                                   timelineActivity.activity
                               }}
            />
          {{else if timelineActivity.isProofingActivity}}
            <Publications::Publication::Proofs::ProofReceivedPanel
              @proofingActivity={{timelineActivity.activity}}
              @proofPrintCorrector={{this.publicationSubcase.proofPrintCorrector}}
              @onSaveEditReceivedProof={{perform this.saveEditReceivedProof}}
            />
          {{/if}}
        {{/if}}
      {{else}}
        <Auk::EmptyState @bordered={{true}} @message={{t "no-proofs-yet"}} />
      {{/each}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>

{{#if this.showProofRequestModal}}
  <Publications::Publication::Proofs::ProofRequestModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveProofRequest}}
    @onCancel={{this.closeProofRequestModal}}
  />
{{/if}}

{{#if this.showProofUploadModal}}
  <Publications::Publication::Proofs::ProofUploadModal
    @onSave={{perform this.saveProofUpload}}
    @onCancel={{this.closeProofUploadModal}}
  />
{{/if}}