<div class="auk-u-m-4">
  <Publications::Publication::Proofs::ProofInfoPanel
    @publicationSubcase={{this.publicationSubcase}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />
  <div class="auk-u-mt-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h4 class="auk-panel__title">
                {{t "proofs"}}
              </h4>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="secondary"
                @icon="plus"
                @disabled={{this.isProofUploadDisabled}}
                {{on "click" this.openProofUploadModal }}
              >
                {{t "upload-proof"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="primary"
                @icon="plus"
                @disabled={{this.isRequestingDisabled}}
                {{on "click" this.openProofRequestModal}}
              >
                {{t "request-proof"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body class="auk-u-bg-alt">
        {{#each this.model as |proofRow|}}
          {{#if proofRow.requestActivity}}
            <Publications::Publication::Proofs::ProofRequestedPanel
              @publicationSubcase={{this.publicationSubcase}}
              @requestActivity={{proofRow.requestActivity}}
              @onDeleteRequest={{fn (perform this.deleteRequest) proofRow.requestActivity}}
            />
          {{else if proofRow.piece}}
            <Publications::Publication::Proofs::ProofReceivedPanel
              @publicationSubcase={{this.publicationSubcase}}
              @piece={{proofRow.piece}}
            />
          {{/if}}
        {{else}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "no-proofs-yet"}}
          />
        {{/each}}
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>
</div>

{{#if this.showProofRequestModal}}
  <Publications::Publication::Proofs::ProofRequestModal
    @publicationSubcase={{this.publicationSubcase}}
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveProofRequest}}
    @onCancel={{this.closeProofRequestModal}}
  />
{{/if}}

{{#if this.showProofUploadModal}}
  <Publications::Publication::Proofs::ProofUploadModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveProofUpload}}
    @onCancel={{this.closeProofUploadModal}}
  />
{{/if}}