<h5 class="vl-title vl-title--h5">
  {{t "documents-subcase"}}
</h5>
<table class="vl-data-table">
  <thead>
    <tr>
      <th>
        {{t "version"}}
      </th>
      <th>
        {{t "name"}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each (await subcase.documentVersions) as |currentVersion|}}
      {{#each
        (await currentVersion.document.sortedDocuments) as |documentVersion|
      }}
        <tr>
          <td>
            {{documentVersion.versionNumber}}
          </td>
          <td>
            {{documentVersion.nameToDisplay}}
          </td>
          <td class="align-right">
            <a
              class="vl-file-overview"
              {{action "downloadFile" documentVersion}}
            >
              <i class="vl-icon vl-vi vl-vi-file-download"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td></td>
        <td></td>
        <td class="align-right">
          <button
            class="vl-button vl-button--tertiary"
            {{action "openUploadDialog" currentVersion}}
          >
            {{t "file-uploader.new-version"}}
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if isUploadingNewVersion}}
  {{#web-components/vl-modal
    closeModal=(action "openUploadDialog")
    isOverlay=true
  }}
    {{web-components/vl-form-label value="Naam van bestand"}}
    {{web-components/vl-form-input width="4" value=fileName}}
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value="Bijlagen"}}
      {{#if (not uploadedFile)}}
        {{file-uploader
          multipleFiles=false
          uploadedFile=(action "getUploadedFile")
        }}
      {{else}}
        <div class="document">
          {{fa-icon "file"}}
          {{await uploadedFile.name}}
          <a {{action "removeFile" uploadedFile}}>
            {{fa-icon "remove"}}
          </a>
        </div>
      {{/if}}
    </div>
    <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--link vl-button--narrow"
              {{action "openUploadDialog"}}
            >
              {{t "buttons.cancel"}}
            </button>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--narrow"
              {{action "uploadNewVersion"}}
            >
              {{t "file-uploader.uploading"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/web-components/vl-modal}}
{{/if}}