<div class="vlc-procedure-step__badge-wrapper">
  {{#if (is-pending subcase.approved)}}
    <div class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper vl-icon-wrapper-loading"
    ></div>
  {{else if (await subcase.approved)}}
    <div class="vl-badge vl-badge--icon vl-badge--success vlc-procedure-step__badge vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
    >
      <i class="vl-badge__icon ki-check" aria-hidden="true"></i>
    </div>
  {{else}}
    <div class="vl-badge vl-badge--icon vl-badge--warning vlc-procedure-step__badge vl-badge--medium vl-badge--small-medium"
    >
      <i class="vl-badge__icon ki-sitemap" aria-hidden="true"></i>
    </div>
  {{/if}}
</div>
<div class="vlc-toolbar vlc-toolbar--auto">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <div class="auk-u-mb-2">
        {{#if (not (is-pending subcase))}}
          {{#link-to
            "cases.case.subcases.subcase.overview"
            (await subcase.case.id)
            (await subcase.id)
            class="vl-title vl-title--h6"
          }}
            {{await subcase.nameToShow}}
          {{/link-to}}
        {{/if}}
      </div>
      <div class="vlc-procedure-step__meta">
        <p>
          {{t "latest-modified"}}
          {{moment-format (await subcase.modified) "DD.MM.YYYY"}}
        </p>
        {{#if (await subcase.onAgendaInfo)}}
          <p>
            {{t "on-agenda"}}
            {{moment-format (await subcase.onAgendaInfo) "DD.MM.YYYY"}}
          </p>
        {{/if}}
      </div>
      <ul class="vlc-status-timeline">
        {{#each (await subcase.phases) as |phase|}}
          {{#if (await phase.label)}}
            <li class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
            >
              <div class="vlc-status-timeline__dot"></div>
              <div class="vlc-status-timeline__text">
                {{subcase-timeline-item-text
                  phase=phase
                }}
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{yield}}
