<div class="vlc-procedure-step {{if @isMinimal "vlc-procedure-step--minimal"}}">
  <div class="vlc-procedure-step__badge-wrapper">
    {{#if (is-pending @subcase.approved)}}
      <div class="vl-badge vl-badge--icon vl-badge--alt vl-badge--small-medium vl-icon-wrapper vl-icon-wrapper-loading"
      ></div>
    {{else if (await @subcase.approved)}}
      <div class="vl-badge vl-badge--icon vl-badge--success vlc-procedure-step__badge vl-badge--alt vl-badge--small-medium vl-icon-wrapper"
      >
        <i class="vl-badge__icon ki-check" aria-hidden="true"></i>
      </div>
    {{else}}
      <div class="vl-badge vl-badge--icon vl-badge--warning vlc-procedure-step__badge vl-badge--medium vl-badge--small-medium"
      >
        <i class="vl-badge__icon ki-sitemap" aria-hidden="true"></i>
      </div>
    {{/if}}
  </div>
  <div class="vlc-toolbar vlc-toolbar--auto">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <div class="auk-u-mb-2">
          {{#if (not (is-pending @subcase))}}
            <LinkTo
              @route="cases.case.subcases.subcase.overview"
              @models={{array
                (await @subcase.case.id)
                (await @subcase.id)
              }}
              class="vl-title vl-title--h6"
            >
              {{await @subcase.nameToShow}}
            </LinkTo>
          {{/if}}
        </div>
        <div class="vlc-procedure-step__meta">
          <p>
            {{t "latest-modified"}}
            {{moment-format (await @subcase.modified) "DD.MM.YYYY"}}
          </p>
          {{#if (await @subcase.onAgendaInfo)}}
            <p>
              {{t "on-agenda"}}
              {{moment-format (await @subcase.onAgendaInfo) "DD.MM.YYYY"}}
            </p>
          {{/if}}
        </div>
        <ul class="vlc-status-timeline">
          {{#each (await @subcase.phases) as |phase|}}
            {{#if (await phase.label)}}
              <li class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
              >
                <div class="vlc-status-timeline__dot"></div>
                <div class="vlc-status-timeline__text">
                  {{subcase-timeline-item-text
                    phase=phase
                  }}
                </div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{yield @subcase}}
  {{#if this.hasDocumentsToShow}}
    <div class="js-vl-accordion">
      <button class="vl-toggle vl-link vl-link--bold"
              data-vl-accordion-toggle=""
              data-vl-accordion-dressed="true"
              aria-expanded="false"
              type="button"
        {{on "click" this.toggleIsShowingDocuments}}
      >
        {{#if this.isShowingDocuments}}
          <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-down"
             aria-hidden="true"
          ></i>
        {{else}}
          <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"
             aria-hidden="true"
          ></i>
        {{/if}}
        {{t "documents"}}
      </button>
    </div>
    {{#if this.isShowingDocuments}}
      <div class="vl-accordion__panel">
        <div class="auk-u-mt-4">
          <Documents::DocumentBadgeList @pieces={{this.limitedSubcaseDocuments}}/>
        </div>
      </div>
      {{#if this.enableShowMore}}
        <button class="vlc-document-show-more-button" type="button" {{on "click" this.toggleShowingAllDocuments}}>
          <i class="{{if this.isShowingAllDocuments "ki-remove" "ki-plus"}} vl-icon vlc-document-show-more-button__icon "/>
          <p  class="vlc-document-show-more-button__text">
            {{#if this.isShowingAllDocuments }}
              {{t "show-less"}}
            {{else}}
              {{t "show-more"}}
            {{/if}}
          </p>
        </button>
      {{/if}}
    {{/if}}
  {{/if}}
</div>