{{ page-title
  (t "cases")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-2">
    <div class="auk-box">
      <div class="auk-u-mb-2">
        <Auk::Label>{{t "type"}}</Auk::Label>
        <WebComponents::VlCheckbox
          data-test-decisions-only-check
          @value={{this.decisionsOnly}}
          @label={{t "search-in-decisions-only"}}
          @toggle={{this.toggleDecisionsOnly}}
        />
      </div>
      <div>
        <Auk::Label>{{t "archive"}}</Auk::Label>
        <WebComponents::VlCheckbox
          @value={{this.includeArchived}}
          @label={{t "search-include-archived"}}
          @toggle={{this.toggleIncludeArchived}}
        />
      </div>
    </div>
  </div>
  <div class="auk-o-grid-col-10">
    <div>
      {{#if this.model.length}}
        <DataTable
          @content={{await this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToCase}}
        as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table__col--8 auk-table__header-title">
                {{t "case-name"}}
              </th>
              <ThSortable
                @class="auk-table__col--2 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="created"
                @label={{t "created-on"}}
              />
              <ThSortable
                @class="auk-table__col--1 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "on-agenda-of"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header>
            <c.body class="auk-table--interaction-cursor" as |row|>
              <td>
                <p>
                  {{#if row.shortTitle}}
                    {{row.shortTitle}}
                  {{else}}
                    {{row.title}}
                  {{/if}}
                </p>
              </td>
              <td>
                {{moment-format row.created "DD-MM-YYYY HH:mm"}}
              </td>
              <td>
                {{moment-format row.sessionDates "DD-MM-YYYY"}}
              </td>
              <td class="auk-u-text-align--right">
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="nav-right"
                  @route="cases.case.subcases"
                  @model={{row.id}}
                >
                </Auk::Button>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>