<div class="vl-grid vl-u-spacer-extended-bottom-s">

  <div class="vl-col--2-12">
    <div class="vlc-box">
      <WebComponents::VlFormLabel @value="Type"/>
      <WebComponents::VlCheckbox
        data-test-decisions-only-check
        @value={{this.decisionsOnly}}
        @label={{t "search-in-decisions-only"}}
        @toggle={{this.toggleDesisionsOnly}}
      />

    </div>
  </div>
  <div class="vl-col--10-12">
    <div>
      {{#if this.model.length}}
        <DataTable
          @content={{await this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToCase}}
        as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="vl-data-table-col-8 vl-data-table__header-title">
                {{t "case-name"}}
              </th>
              <ThSortable
                @class="vl-data-table-col-2 vl-data-table__header-title"
                @currentSorting={{this.sort}}
                @field="created"
                @label={{t "created-on"}}
              />
              <ThSortable
                @class="vl-data-table-col-1 vl-data-table__header-title"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "on-agenda-of"}}
              />
              <th class="vl-data-table-col-1"></th>
            </c.header>
            <c.body class="tr-hover" as |row|>
              <td>
                <p>
                  {{#if row.shortTitle}}
                    {{row.shortTitle}}
                  {{else}}
                    {{row.title}}
                  {{/if}}
                </p>
              </td>
              <td>
                {{moment-format row.created "DD-MM-YYYY HH:mm"}}
              </td>
              <td>
                {{moment-format row.sessionDates "DD-MM-YYYY"}}
              </td>
              <td class="vl-u-align-right">
                <LinkTo
                  class="vl-button vl-button--link vl-button--icon"
                  @route="cases.case.subcases"
                  @model={{row.id}}
                >
                  <i class="vl-button__icon ki-nav-right"></i>
                </LinkTo>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>