<h3 class="vl-title vl-title--h3">
  {{t "create-mandatee"}}
</h3>
<hr class="vlc-hr">
<div>
  {{web-components/vl-form-label value=(t "name")}}
  {{web-components/vl-form-input width="4" value=title}}
  {{web-components/vl-form-label value=(t "add-people")}}
  {{utils/people-selector choosePerson=(action "personSelected")}}
  {{web-components/vl-form-label value=(t "mandatee-form.start-date")}}
  {{web-components/vl-datepicker dateChanged=(action "selectStartDate")}}
  {{web-components/vl-form-label value=(t "mandatee-form.end-date")}}
  {{web-components/vl-datepicker dateChanged=(action "selectEndDate")}}
  {{web-components/vl-form-label value=(t "mandatees")}}
  {{utils/domains-selector chooseDomain=(action "chooseDomain")}}
</div>
<div class="vl-u-display-flex vl-u-flex-space-between vl-action-group">
  <button class="vl-button vl-button--narrow" {{action "closeModal"}}>
    {{t "buttons.cancel"}}
  </button>
  <button class="vl-button vl-button--narrow" {{action "createMandatee"}}>
    {{t "create-mandatee"}}
  </button>
</div>