{{#if (not mandateeToResign)}}
  <div class="vl-modal-dialog__content">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "name")}}
      {{web-components/vl-form-input width="4" value=title}}
    </div>
    <div
      class="vl-u-display-flex vl-u-flex-space-between vl-u-spacer-extended-top vl-u-spacer-extended-bottom"
    >
      <div class="vl-col--2-4 vl-col--1-1--s">
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value=(t "add-people")}}
          <div class="vl-input-group">
            {{utils/model-selector
              modelName="person"
              readOnly=true
              propertyToShow="alternativeName"
              selectedItems=mandateeToEdit.person
            }}
          </div>
        </div>
      </div>
      <div class="vl-col--2-4 vl-col--1-1--s">
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value=(t "priority")}}
          {{web-components/vl-form-input width="4" value=priority}}
        </div>
      </div>
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "start-date")}}
      {{web-components/vl-datepicker
        date=startDate
        dateChanged=(action "selectStartDate")
      }}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "mandatees")}}
      {{utils/model-selector
        modelName="government-field"
        searchField="label"
        propertyToShow="label"
        sortField="label"
        multiSelect=true
        selectedItems=selectedFields
        selectModel=(action "chooseDomain")
      }}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--link vl-button--narrow"
            {{action "closeModal"}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <button
            class="vl-button vl-button--tertiary"
            {{action "saveChanges" mandateeToEdit}}
          >
            {{t "save"}}
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}