<div class="au2-icon au2-icon--{{@name}} {{this.size}}">
  <i class="{{this.getIcon}}"></i>
</div>
{{!-- {{inline-svg this.filePath class="au2-icon au2-icon--{{@icon}} {{this.size}}"}} --}}
{{!-- <svg role="img" class="au2-icon au2-icon--{{@icon}} {{this.size}}"...attributes>
  <use href="localhost:4200/{{this.filePath}}.svg"></use>
</svg> --}}