<div class="auk-icon auk-icon--{{@name}} {{this.size}}">
  <i class="{{this.getIcon}}"></i>
</div>
{{!-- {{inline-svg this.filePath class="auk-icon auk-icon--{{@icon}} {{this.size}}"}} --}}
{{!-- <svg role="img" class="auk-icon auk-icon--{{@icon}} {{this.size}}"...attributes>
  <use href="localhost:4200/{{this.filePath}}.svg"></use>
</svg> --}}