<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-4">
    <Auk::Panel>
      <Auk::Panel::Header class="au-u-background-gray-100">
        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <h4 class="auk-toolbar__title">
              Draft titel
            </h4>
          </Toolbar.Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body class="au-o-flow au-u-background-gray-100">
        <div class="auk-rdfa-holder {{if this.isFullscreen "auk-rdfa-fullscreen au-u-margin-top-none"}}">
          <div class="auk-rdfa-holder__header au-u-flex au-u-flex--between au-u-flex--vertical-center">
            {{#if this.isFullscreen}}
              <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
                <h4 class="auk-toolbar__title">
                  Draft titel
                </h4>
                <AuDropdown
                  @title="Huidige versie"
                  @alignment="left"
                  @skin="naked"
                  @icon="chevron-down"
                  @iconAlignment="right"
                >
                  <AuButton @skin="link-secondary" role="menuitem">
                    Versie van 18-11-2022 om 10:23
                  </AuButton>
                  <AuButton @skin="link-secondary" role="menuitem">
                    Versie van 13-11-2022 om 12:13
                  </AuButton>
                </AuDropdown>
              </div>
              <AuButtonGroup>
                <AuButton
                  @skin="naked"
                  @icon="minimize"
                  @iconAlignment="left"
                  {{on "click" this.toggleFullscreen}}
                >
                  {{t "close-fullscreen"}}
                </AuButton>
                <AuLink
                  @route="newsletters.drafts"
                  @skin="button"
                >
                  {{t "save"}}
                </AuLink>
              </AuButtonGroup>
            {{else}}
              <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
                <AuDropdown
                  @title="Huidige versie"
                  @alignment="left"
                  @skin="naked"
                  @icon="chevron-down"
                  @iconAlignment="right"
                >
                  <AuButton @skin="link-secondary" role="menuitem">
                    Versie van 18-11-2022 om 10:23
                  </AuButton>
                  <AuButton @skin="link-secondary" role="menuitem">
                    Versie van 13-11-2022 om 12:13
                  </AuButton>
                </AuDropdown>
              </div>
              <AuButton
                @skin="naked"
                @icon="expand"
                @iconAlignment="left"
                {{on "click" this.toggleFullscreen}}
              >
                {{t "fullscreen"}}
              </AuButton>
            {{/if}}
          </div>
          <WebComponents::VlRdfaEditor
            data-test-newsletter-edit-item-rdfa-editor
            @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
          />
          <AuFormRow @alignment="default" class="au-u-margin-top">
            <AuLabel for="input">
              Opmerkingen
            </AuLabel>
            <AuTextarea id="textarea" @width="block" />
          </AuFormRow>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Footer class="au-u-background-gray-100">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <AuLink
                @route="newsletters.drafts"
                @skin="naked"
              >
                {{t "cancel"}}
              </AuLink>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuLink
                @route="newsletters.drafts"
                @skin="button"
              >
                Draft toevoegen
              </AuLink>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    </Auk::Panel>
  </div>
</div>
