{{#if (gt this.model.length 0)}}
  <DataTable
    data-test-route-newsletters-data-table={{true}}
    @content={{@model}}
    @class="auk-table auk-table--striped auk-table--fill"
    @page={{this.page}}
    @size={{this.size}}
    @sort={{this.sort}}
    @enableSizes={{true}}
    @isLoading={{this.isLoadingModel}}
    @noDataMessage={{t "no-results-found"}}
    @onClickRow={{this.navigateToNewsletter}}
    as |table|
  >
    <table.content as |c|>
      <c.header>
        <ThSortable
          @class="auk-table__col--5"
          @currentSorting={{this.sort}}
          @field="planned-start,number-representation"
          @label="Titel"
        />
        <th class="auk-table__col--3">
          {{!TODO: should sort on latest modified agenda }}
          {{t "latest-modified"}}
        </th>
        <th class="auk-table__col--1"></th>
      </c.header>
      <c.body @class="auk-table--clickable-rows" as |meeting|>
        <td data-test-route-newsletters-data-table-row-title>
          {{#if (is-pending meeting)}}
            <div
              class="auk-skeleton auk-skeleton--rectangle"
              role="alert"
              aria-busy="true"
            ></div>
          {{else}}
            Draft titel
          {{/if}}
        </td>
        <td>
          {{#let (this.latestAgenda meeting) as |latestAgenda|}}
            {{#if (is-pending latestAgenda)}}
              <div
                class="auk-skeleton auk-skeleton--rectangle"
                role="alert"
                aria-busy="true"
              ></div>
            {{else}}
              {{moment-format
                (get (await latestAgenda) "modified")
                "DD-MM-YYYY HH:mm"
              }}
            {{/if}}
          {{/let}}
        </td>
        <td class="auk-u-text-align--right">
          <AuLink
            @skin="button-naked"
            @icon="chevron-right"
            @hideText={{true}}
            @route="newsletter"
            @model={{meeting.id}}
          >
            {{t "open"}}
          </AuLink>
          {{!-- <AuButton
            @skin="naked"
            @icon="bin"
            @alert="true"
            @hideText={{true}}
          >
            Delete
          </AuButton> --}}
        </td>
      </c.body>
    </table.content>
  </DataTable>
{{else}}
  <WebComponents::VlAlert @message={{t "no-meetings"}} />
{{/if}}