{{#if (gt this.model.length 0)}}
  <div class="auk-u-maximize-height auk-scroll-wrapper">
    <div class="auk-scroll-wrapper__body">
      <div class="auk-u-m-8">
        <KDataTable
          data-test-route-newsletters-data-table
          @hoverable={{true}}
          @striped={{true}}
          @loading={{this.isLoadingModel}}
          @content={{@model}}
          @page={{this.page}}
          @size={{this.size}}
          @numberOfItems={{@model.length}}
          @totalNumberOfItems={{@model.meta.count}}
          @onChangeSize={{fn (mut this.size)}}
          @onChangePage={{fn (mut this.page)}}
          @onClickRow={{this.navigateToNewsletter}}
        >
          <:header>
            <Utils::ThSortable
              @class="auk-table__col--5"
              @currentSorting={{this.sort}}
              @field="planned-start,number-representation"
              @label={{t "newsletter"}}
              @onChange={{fn (mut this.sort)}}
            />
            <th class="auk-table__col--3">
              {{!TODO: should sort on field agendas but does not return all 10 results }}
              {{concat (t "newsletter") " " (t "sent-at")}}
            </th>
            <th class="auk-table__col--3">
              {{!TODO: should sort on latest modified agenda }}
              {{t "latest-modified"}}
            </th>
            <th class="auk-table__col--1"></th>
          </:header>
          <:body as |meeting|>
            <td data-test-route-newsletters-data-table-row-title>
              {{#if (is-pending meeting)}}
                <div
                  class="auk-skeleton auk-skeleton--rectangle"
                  role="alert"
                  aria-busy="true"
                ></div>
              {{else}}
                {{t
                  "newsletter-for-meeting-of"
                  kind=(lowercase (kind-print-label meeting.kind))
                }}
                {{date meeting.plannedStart}}
              {{/if}}
            </td>
            <td>
              {{#if (is-pending meeting.mailCampaign)}}
                <div
                  class="auk-skeleton auk-skeleton--rectangle"
                  role="alert"
                  aria-busy="true"
                ></div>
              {{else if meeting.mailCampaign}}
                {{#if meeting.mailCampaign.isSent}}
                  {{datetime-at meeting.mailCampaign.sentAt}}
                {{else}}
                  {{t "not-sent-yet"}}
                {{/if}}
              {{else}}
                {{t "not-yet-created"}}
              {{/if}}
            </td>
            <td>
              {{#let (this.latestAgenda meeting) as |latestAgenda|}}
                {{#if (is-pending latestAgenda)}}
                  <div
                    class="auk-skeleton auk-skeleton--rectangle"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else}}
                  {{datetime (get (await latestAgenda) "modified")}}
                {{/if}}
              {{/let}}
            </td>
            <td class="auk-u-text-align--center">
              <AuLink
                @skin="button-naked"
                @icon="chevron-right"
                @hideText={{true}}
                @route="newsletter"
                @model={{meeting.id}}
              >
                {{t "open"}}
              </AuLink>
            </td>
          </:body>
        </KDataTable>
      </div>
    </div>
  </div>
{{else}}
  <div class="auk-u-m-8">
    <WebComponents::VlAlert @message={{t "no-meetings"}} />
  </div>
{{/if}}