{{page-title (t "newsletters-tabs-search")}}
<div class="auk-u-maximize-height auk-scroll-wrapper">
  <Auk::Navbar>
    <form {{on "submit" this.search}} class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-end auk-u-maximize-width auk-u-mb-4 auk-u-mt-4">
      <div class="auk-form-group au-u-margin-bottom-none au-u-3-6">
        <div class="auk-o-flex auk-o-flex--align-baseline">
          <Auk::Label for="keyword" class="auk-u-mr">
            {{capitalize (t "keyword")}}
          </Auk::Label>
          <Utils::SearchTooltip />
        </div>
        <AuInput
          data-test-route-search-input
          @width="block"
          @value={{this.searchTextBuffer}}
          id="keyword"
          placeholder={{t "search-placeholder"}}
        />
      </div>
      <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-none au-u-1-6" data-test-route-search-date-from>
        <Auk::Label>{{t "from"}}</Auk::Label>
        <Auk::Datepicker
          @date={{this.dateFromBuffer}}
          @onChange={{set this "dateFromBuffer"}}
          @enableClear={{this.dateFromBuffer}}
          @onClear={{set this "dateFromBuffer" undefined}}
        />
      </div>
      <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-none au-u-1-6" data-test-route-search-date-to>
        <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
        <Auk::Datepicker
          @date={{this.dateToBuffer}}
          @onChange={{set this "dateToBuffer"}}
          @enableClear={{this.dateToBuffer}}
          @onClear={{set this "dateToBuffer" undefined}}
        />
      </div>
      <div class="auk-form-group au-u-margin-bottom-none au-u-1-6">
        <Auk::Label for="ministerName">
          {{t "minister"}}
        </Auk::Label>
        <AuInput
          data-test-route-search-mandatee-input
          @width="block"
          @value={{this.mandateesBuffer}}
          id="ministerName"
        />
      </div>
      <div class="auk-form-group au-u-margin-bottom-none au-u-1-6">
        <AuButton
          data-test-route-search-trigger
          @skin="primary"
          @icon="search"
          @width="block"
          type="submit"
        >
          {{t "search"}}
        </AuButton>
      </div>
    </form>
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-4">
      <div class="auk-u-mb-2">
        {{#if this.model.length}}
          <DataTable
            data-test-route-search-newsletter-infos-data-table={{true}}
            @content={{this.model}}
            @page={{this.page}}
            @noDataMessage={{t "no-results-found"}}
            @size={{this.size}}
            @sort={{this.sort}}
            @class="auk-table auk-table--striped auk-table--vertical-align-top"
            @isLoading={{this.isLoadingModel}}
            @onClickRow={{this.navigateToNewsletter}}
            as |table|
          >
            <table.content as |c|>
              <c.header>
                <th class="auk-table__col--6">
                  {{t "title-and-content"}}
                </th>
                <ThSortable
                  @class="auk-table__col--2"
                  @currentSorting={{this.sort}}
                  @field="agendaitems.meetingDate"
                  @label={{t "agenda-of"}}
                />
                <th class="auk-table__col--2">
                  {{t "minister"}}
                </th>
                {{! sorting on this field won't work as-is, since you can have multiple decisions}}
                <th class="auk-table__col--1">
                  {{t "agendaitem-decision"}}
                </th>
                <th class="auk-table__col--1"></th>
              </c.header>
              <c.body class="auk-table--clickable-rows" as |row|>
                {{! each row has been processed to have 1 decision (object) as well as 1 latestAgendaitem (object)}}
                {{! see postProcess methods in route}}
                {{#let row.latestAgendaitem as |latestAgendaitem|}}
                  <td data-test-route-search-newsletter-infos-row-title>
                    <h3 class="auk-h4 auk-u-mb">
                      {{row.title}}
                    </h3>
                    <p class="auk-u-mr-2">
                      <AuContent>
                        <SanitizeHtml @raw={{true}} @value={{row.richtext}} />
                      </AuContent>
                    </p>
                  </td>
                  <td>
                    {{date latestAgendaitem.meetingDate}}
                  </td>
                  <td data-test-route-search-newsletter-infos-row-mandatees>
                    {{#each row.mandatees as |mandatee|}}
                      {{#let (concat mandatee.firstName " " mandatee.familyName) as |fullName|}}
                        {{fullName}}{{if (has-next mandatee row.mandatees) ", "}}
                      {{/let}}
                    {{/each}}
                  </td>
                  <td data-test-route-search-newsletter-infos-row-decision-result>
                    {{row.decision.decisionResultCodeLabel}}
                  </td>
                  <td
                    data-test-route-search-newsletter-infos-row-go-to-agendaitem
                    class="auk-u-text-align--right"
                  >
                    <AuButtonGroup class="auk-o-flex--no-wrap">
                      <AuButton
                        @skin="naked"
                        @icon="copy"
                        @hideText={{true}}
                        {{on "click" (fn this.copyText row)}}
                      >
                        {{t "copy"}}
                      </AuButton>
                      {{#if latestAgendaitem}}
                        <AuLink
                          @skin="button-naked"
                          @icon="chevron-right"
                          @hideText={{true}}
                          @route="agenda.agendaitems.agendaitem.news-item"
                          @models={{array
                            latestAgendaitem.meetingId
                            latestAgendaitem.agendaId
                            latestAgendaitem.id
                          }}
                        >
                          {{t "open"}}
                        </AuLink>
                      {{/if}}
                    </AuButtonGroup>
                  </td>
                {{/let}}
              </c.body>
            </table.content>
          </DataTable>
        {{else}}
          {{#if this.isEmptySearch}}
            <Auk::EmptyState
              @bordered={{true}}
              @message={{t "fill-in-search-term"}}
            />
          {{else}}
            <Auk::EmptyState
              @bordered={{true}}
              @message={{t "no-results-found-modify-term"}}
            />
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>