{{page-title (t "newsletter")}}
{{newsletter/newsletter-header}}
{{#if (gt model.length 0)}}
  <div class="vlc-u-box-model-maximize-height auk-scroll-wrapper">
    <div class="auk-scroll-wrapper__body">
      <div class="auk-u-m-8">
        {{#data-table
          data-test-route-newsletters-data-table=true
          content=model
          class="auk-table auk-table--striped"
          page=page
          size=size
          sort=sort
          enableSizes=true
          isLoading=isLoadingModel
          noDataMessage=(t "no-results-found")
          onClickRow=(action "navigateToNewsletter")
        as |table|
        }}
          {{#table.content as |c|}}
            {{#c.header}}
              {{th-sortable
                class="auk-table__col--5 auk-table__header-title"
                currentSorting=sort
                field="planned-start,number-representation"
                label=(t "newsletter")
              }}
              <th class="auk-table__col--3 auk-table__header-title auk-table__header-title--unsortable">
                {{!TODO: should sort on field agendas but does not return all 10 results }}
                {{concat (t "newsletter") " " (t "sent-at")}}
              </th>
              <th class="auk-table__col--3 auk-table__header-title auk-table__header-title--unsortable">
                {{!TODO: should sort on latest modified agenda }}
                {{t "latest-modified"}}
              </th>
              <th class="auk-table__col--1"></th>
            {{/c.header}}
            {{#c.body class="auk-table--interaction-cursor" as |meeting|}}
              <td>
                {{#if (is-pending meeting)}}
                  <div
                    class="skeletal-loader"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else}}
                  {{t
                    "newsletter-for-meeting-of"
                    kind=(lowercase meeting.kindToShow.altLabel)
                  }}
                  {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
                {{/if}}
              </td>
              <td>
                {{#if (is-pending meeting.mailCampaign)}}
                  <div
                    class="skeletal-loader"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else if (await meeting.mailCampaign)}}
                  {{#if (await meeting.mailCampaign.isSent)}}
                    {{moment-format
                      (await meeting.mailCampaign.sentAt)
                      "DD.MM.YYYY [om] HH:mm"
                    }}
                  {{else}}
                    {{t "not-sent-yet"}}
                  {{/if}}
                {{else}}
                  {{t "not-yet-created"}}
                {{/if}}
              </td>
              <td>
                {{#if (is-pending meeting.latestAgenda)}}
                  <div
                    class="skeletal-loader"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else}}
                  {{moment-format
                    (await meeting.latestAgenda.modified)
                    "DD.MM.YYYY HH:mm"
                  }}
                {{/if}}
              </td>
              <td class="auk-u-text-align--center">
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="nav-right"
                  @route="newsletter"
                  @model={{this.meeting.id}}
                >
                </Auk::Button>
              </td>
            {{/c.body}}
          {{/table.content}}
        {{/data-table}}
      </div>
    </div>
  </div>
{{else}}
  <div class="auk-u-m-8">
    {{web-components/vl-alert message=(t "no-meetings")}}
  </div>
{{/if}}