{{!-- template-lint-disable --}}
<Auk::Navbar @border="none">
  <WebComponents::AuToolbar @size="large">
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <Auk::Button @skin="secondary" @disabled={{true}}>
          {{t "publication.proofs.new-request"}}
        </Auk::Button>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @skin="secondary"
          @icon="add"
          {{on "click" this.openPieceUploadModal}}
        >
          {{t "publication.proofs.upload-documents"}}
        </Auk::Button>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</Auk::Navbar>
<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{#if @model}}
    <table class="auk-table auk-table--styled auk-table--bordered">
      <thead>
        <tr>
          <th class="auk-table-checkbox-col">
            <Auk::Checkbox />
          </th>
          <th>
            {{t 'document-name'}}
          </th>
          <th>
            {{t 'file-type'}}
          </th>
          <Utils::ThSortable @label={{t 'received-at'}}
            @onChange={{this.changeSorting}}
            @currentSorting={{this.sortingString}}
            @field="receiptDate" />
          <Utils::ThSortable @label={{t 'uploaded-at'}}
            @onChange={{this.changeSorting}}
            @currentSorting={{this.sortingString}}
            @field="uploadDate" />
          <th class="auk-u-text-align--center">
            {{t 'corrected'}}
          </th>
          <th>
            <!-- Actions-->
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each @model as |piece|}}
          <tr>
            <td class="auk-table-checkbox-col">
              <label class="auk-checkbox">
                <input class="auk-checkbox__toggle" type="checkbox" />
                <span class="auk-checkbox__box"></span>
              </label>
            </td>
            <td>
              {{piece.name}}
            </td>
            <td>
              <span class="auk-pill auk-pill--white">
                <div class="auk-icon auk-icon--default auk-icon--pdf">
                  <i class="ki ki-pdf"></i>
                </div>
                PDF
              </span>
            </td>
            <td>
              <p>
                {{moment-format piece.created}}
              </p>
              <p class="auk-u-muted auk-u-text-small">
                {{moment-format piece.created "HH:mm"}}
              </p>
            </td>
            <td>
              <p>
                19-04-2021
              </p>
              <p class="auk-u-muted auk-u-text-small">
                11:08
              </p>
            </td>
            <td class="auk-u-text-align--center">
              <Auk::Icon @name="check" @skin="success-dark" />
            </td>
            <td>
              <WebComponents::AuButtonToolbar>
                <Auk::Button
                  @skin="borderless" @layout="icon-only" @icon="download"
                  @href={{piece.file.namedDownloadLink}}
                  download>
                  Download
                </Auk::Button>
                <Auk::Button
                  @skin="borderless" @layout="icon-only" @icon="download"
                  @href={{piece.viewDocumentURL}}
                  target="_blank">
                  {{t "read"}}
                </Auk::Button>
                <Auk::Button
                  @layout="icon-only" @skin="borderless" @icon="more"
                  id="{{this.routeName}}.{{piece.id}}">
                  {{t "view-more"}}
                </Auk::Button>
                <EmberPopover
                  @side="bottom-start"
                  @targetId="{{this.routeName}}.{{piece.id}}">
                  <Auk::Dropdown>
                    <WebComponents::AuDropdown::Item
                      data-test-unlink-mandatee
                      {{on "click" (fn this.unlinkMandateeFromPublicationFlow mandatee) }}
                      @skin="danger"
                    >
                      {{t "delete"}}
                    </WebComponents::AuDropdown::Item>
                  </Auk::Dropdown>
                </EmberPopover>

                <ul class="auk-menu">
                  <li>
                    <a class="auk-menu__item" href="#">
                      Bewerk drukproef details
                    </a>
                  </li>
                  <li>
                    <a class="auk-menu__item auk-menu__item--danger" href="#">
                      Verwijderen
                    </a>
                  </li>
                </ul>
              </WebComponents::AuButtonToolbar>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <Auk::EmptyState @message={{t "no-documents-yet" }} />
    {{/if}}
  </div>
</div>