{{!-- template-lint-disable --}}
<Auk::Navbar @border="none">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button @skin="secondary" @disabled={{true}}>
          {{t "new-request"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @icon="add"
          {{on "click" this.openPieceUploadModal}}
        >
          {{t "upload-documents"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{#if @model}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox />
            </th>
            <th>
              {{t 'document-name'}}
            </th>
            <th>
              {{t 'file-type'}}
            </th>
            <Utils::ThSortable @label={{t 'received-at'}}
              @onChange={{this.changeSorting}}
              @currentSorting={{this.sortingString}}
              @field="receiptDate" />
            <Utils::ThSortable @label={{t 'uploaded-at'}}
              @onChange={{this.changeSorting}}
              @currentSorting={{this.sortingString}}
              @field="uploadDate" />
            <th class="auk-u-text-align--center">
              {{t 'corrected'}}
            </th>
            <th>
              <!-- Actions-->
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each @model as |piece|}}
            <tr>
              <td class="auk-table-checkbox-col">
                <Auk::Checkbox />
              </td>
              <td>
                {{piece.name}}
              </td>
              <td>
                <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
              </td>
              <td>
                <Utils::Table::Timestamp @timestamp={{piece.created}} />
              </td>
              <td>
                <Utils::Table::Timestamp @timestamp={{piece.modified}} />
              </td>
              <td class="auk-u-text-align--center">
                {{#if piece}}
                  <Auk::Icon @name="check" @skin="success-dark" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="download"
                    @href={{piece.file.namedDownloadLink}}
                    download>
                    {{t "download"}}
                  </Auk::Button>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="book"
                    @href={{piece.viewDocumentURL}}
                    target="_blank">
                    {{t "read"}}
                  </Auk::Button>
                  <Auk::Button
                    @layout="icon-only" @skin="borderless" @icon="more"
                    id="{{this.routeName}}.{{piece.id}}">
                    {{t "view-more"}}
                  </Auk::Button>
                  {{!-- TODO: figure out how to use EmberPopover/AttachPopover --}}
                  <Auk::Dropdown
                    style="display:none;"
                    as |dropdown|>
                    <dropdown.Item>
                      {{t "publication.proofs.edit-details"}}
                    </dropdown.Item>
                    <dropdown.Item @skin="danger">
                      {{t "delete"}}
                    </dropdown.Item>
                  </Auk::Dropdown>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}}
        @message={{t "no-documents-yet" }} />
    {{/if}}
  </div>
</div>