<Auk::Navbar @border="none">
  <Auk::Toolbar @size="large" as |Group|>
    <Group @position="right" as |Item|>
      <Item>
        <Auk::Button
          id="proofDocumentsActionMenu"
          @skin="secondary" @layout="icon-right" @icon="chevron-down"
          @disabled={{not this.canOpenRequestModal}}>
          {{t "new-request"}}
        </Auk::Button>
        {{!-- TODO: figure out how to properly use EmberPopover/AttachPopover (click+styling) --}}
        <EmberPopover @side="bottom-start"
          @tooltipClass="auk-popover"
          @targetId="proofDocumentsActionMenu">
          <Auk::Dropdown
            as |dropdown|>
            <dropdown.Item
              {{on "click" (fn this.openRequestModal "initial")}}>
              {{t "initial-request"}}
            </dropdown.Item>
            <dropdown.Item>
              {{t "extra-request"}}
            </dropdown.Item>
            <dropdown.Item
              {{on "click" (fn this.openRequestModal "final")}}>
              {{t "final-request"}}
            </dropdown.Item>
          </Auk::Dropdown>
        </EmberPopover>
      </Item>
      {{#if (auth "ovrb")}}
        <Item>
          <Auk::Button
            @skin="secondary"
            @icon="add"
            {{on "click" this.openUploadModal}}>
            {{t "upload-documents"}}
          </Auk::Button>
        </Item>
      {{/if}}
    </Group>
  </Auk::Toolbar>
</Auk::Navbar>
<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{#if @model}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox @checked={{this.areAllSelected}}
                {{on "input" this.toggleSelectionAll}} />
            </th>
            <th>
              {{t "name-document"}}
            </th>
            <th>
              {{t "file-extension"}}
            </th>
            <Utils::ThSortable @label={{t "received-at"}}
              @onChange={{this.changeSorting}}
              @currentSorting={{this.sortingString}}
              @field="ontvangen-op" />
            <Utils::ThSortable @label={{t "uploaded-at"}}
              @onChange={{this.changeSorting}}
              @currentSorting={{this.sortingString}}
              @field="geupload-op" />
            <th class="auk-u-text-align--center">
              {{t "corrected"}}
            </th>
            <th>
              {{!-- Actions--}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each @model as |piece|}}
            <tr>
              <td class="auk-table-checkbox-col">
                <Auk::Checkbox @checked={{includes piece this.selection}}
                  {{on "input" (fn this.toggleSelection piece)}} />
              </td>
              <td>
                {{piece.name}}
              </td>
              <td>
                <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
              </td>
              <td>
                <p>
                  {{moment-format piece.receivedDate}}
                </p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.receivedDate "HH:mm"}}
                </p>
              </td>
              <td>
                <p>
                  {{moment-format piece.created}}
                </p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.created "HH:mm"}}
                </p>
              </td>
              <td class="auk-u-text-align--center">
                {{#if TODO}} {{!-- todo --}}
                  <Auk::Icon @name="check" @skin="success-dark" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="download"
                    @href={{piece.file.namedDownloadLink}}
                    download={{await piece.downloadFilename}}>
                    {{t "download"}}
                  </Auk::Button>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="book"
                    @href={{piece.viewDocumentURL}}
                    target="_blank">
                    {{t "read"}}
                  </Auk::Button>
                  {{#let (unique-id) as |id|}}
                    <Auk::Button
                      @layout="icon-only" @skin="borderless" @icon="more"
                      @event="click"
                      id={{id}}>
                      {{t "view-more"}}
                    </Auk::Button>
                    {{!-- TODO: figure out how to properly use EmberPopover/AttachPopover (click+styling) --}}
                    <EmberPopover @side="bottom-end"
                      @tooltipClass="auk-popover"
                      @targetId={{id}}>
                      <Auk::Dropdown
                        as |dropdown|>
                        <dropdown.Item>
                          {{t "edit-proof-details"}}
                        </dropdown.Item>
                        <dropdown.Item @skin="danger">
                          {{t "delete"}}
                        </dropdown.Item>
                      </Auk::Dropdown>
                    </EmberPopover>
                  {{/let}}
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}}
        @message={{t "no-documents-yet" }} />
    {{/if}}
  </div>
</div>

{{#if this.isRequestModalOpen}}
  <Publications::Publication::Proofs::RequestModal
    @stage={{this.requestStage}}
    @publicationFlow={{this.publicationFlow}}
    @publicationSubcase={{this.publicationSubcase}}
    @attachments={{this.selection}}
    @onSave={{this.saveRequest}}
    @onCancel={{this.cancelRequest}} />
{{/if}}