<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <DropdownMenu
            data-test-route-publications---proofs-documents-new-request
            @skin="secondary"
            @label={{t "new-request"}}
            @position="bottom-start"
            @disabled={{this.isRequestingDisabled}}
          as |Menu|>
            <Menu.Item
              data-test-route-publications---proofs-documents-initial-request
              {{on "click" (fn this.openProofRequestModal "initial")}}>
              {{t "initial-request"}}
            </Menu.Item>
            <Menu.Item
              data-test-route-publications---proofs-documents-extra-request
              {{on "click" (fn this.openProofRequestModal "extra")}}>
              {{t "extra-request"}}
            </Menu.Item>
            <Menu.Item
              data-test-route-publications---proofs-documents-final-request
              {{on "click" (fn this.openProofRequestModal "final")}}>
              {{t "final-request"}}
            </Menu.Item>
          </DropdownMenu>
        </Auk::Toolbar::Item>

        <Auk::Toolbar::Item>
          <DropdownMenu
            data-test-route-publications---proofs-documents-add
            @skin="secondary"
            @label={{t "upload-proof-document"}}
            @position="bottom-start"
            @disabled={{this.isUploadDisabled}}
            as |Menu|>
            <Menu.Item
              data-test-route-publications---proofs-documents-add-source-proof
              {{on "click" this.openSourceUploadModal}}>
              {{t "upload-source-proof-document"}}
            </Menu.Item>
            <Menu.Item
              data-test-route-publications---proofs-documents-add-corrected-proof
              {{on "click" this.openCorrectionUploadModal}}>
              {{t "upload-corrected-proof-document"}}
            </Menu.Item>
          </DropdownMenu>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>

    {{#if this.pieceRows}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox
                @checked={{this.areAllPiecesSelected}}
                {{on "input" this.toggleAllPiecesSelection}} />
            </th>
            <Utils::ThSortable
               @label={{t "document-name"}}
               @field="naam"
               @currentSorting={{this.sort}}
               @onChange={{this.changeSorting}} />
            <th>{{t "file-type"}}</th>
            <Utils::ThSortable
              @label={{t "received-at"}}
              @field="ontvangen-op"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}} />
            <Utils::ThSortable
              @label={{t "uploaded-at"}}
              @field="geupload-op"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}} />
            <th class="auk-u-text-align--center">
              {{t "corrected"}}
            </th>
            <th>{{!-- Actions--}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.pieceRows as |pieceRow|}}
            {{#let pieceRow.piece as |piece|}}
              <tr data-test-route-publications---proofs-documents-table-row>
                <td class="auk-table-checkbox-col">
                  <Auk::Checkbox
                    data-test-route-publications---proofs-documents-row-checkbox
                    @checked={{includes pieceRow this.selectedPieceRows}}
                    {{on "input" (fn this.togglePieceSelection pieceRow)}} />
                </td>
                <td data-test-route-publications---proofs-documents-row-document-name>
                  {{piece.name}}
                </td>
                <td>
                  {{#if piece.file}}
                    <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
                  {{/if}}
                </td>
                <td>
                  {{#if piece.receivedDate}}
                    {{moment-format piece.receivedDate}}
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td>
                  {{#if piece.created}}
                    <p>{{moment-format piece.created}}</p>
                    <p class="auk-u-muted auk-u-text-small">
                      {{moment-format piece.created "HH:mm"}}
                    </p>
                  {{else}}
                    {{!-- legacy data --}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td data-test-route-publications---proofs-documents-row-corrected class="auk-u-text-align--center">
                  {{#if piece.publicationSubcaseCorrectionFor}}
                    <Auk::Icon @name="check" @skin="success-dark" />
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                </td>
                <td>
                  <WebComponents::AuButtonToolbar>
                    <Auk::Button
                      @skin="borderless" @layout="icon-only" @icon="download"
                      @href={{piece.file.namedDownloadLink}}
                      download={{piece.file.downloadFilename}}>
                      {{t "download"}}
                    </Auk::Button>
                    <Auk::Button
                      @skin="borderless" @layout="icon-only" @icon="book"
                      @href={{piece.viewDocumentURL}}
                      target="_blank">
                      {{t "read"}}
                    </Auk::Button>
                    <DropdownMenu
                      data-test-route-publications---proofs-documents-row-options
                      @skin="borderless"
                      @icon="more"
                    as |Menu|>
                      <Menu.Item
                        data-test-route-publications---proofs-documents-row-edit
                        {{on "click" (fn this.openPieceEditModal pieceRow)}}>
                        {{t "edit-proof-details"}}
                      </Menu.Item>
                      {{#if (and this.canDeletePieces pieceRow.isPieceDeletable)}}
                        <Menu.Item @skin="danger"
                          data-test-route-publications---proofs-documents-row-delete
                          {{on "click" (perform this.deletePiece pieceRow)}}>
                          {{t "delete"}}
                        </Menu.Item>
                      {{/if}}
                    </DropdownMenu>
                  </WebComponents::AuButtonToolbar>
                </td>
              </tr>
            {{/let}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-documents-yet" }} />
    {{/if}}
  </div>
  <div class="auk-u-mb-4">
    <h3 class="auk-h3">{{t "published-decisions"}}</h3>
    {{#if this.model.decisions}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th>{{t "title"}}</th>
            <th>{{t "publication-date"}}</th>
            <th>{{!-- actions --}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model.decisions as |decision|}}
            <tr>
              <td>
                {{!-- TODO: this currently only shows for non-staatsblad decisions,
                since eli uses an extra indirection carrying the title (the "legal expression",
                whereas the decision is the "legal resource") --}}
                {{decision.title}}
              </td>
              <td>
                {{moment-format decision.publicationDate}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  {{#if decision.isStaatsbladResource}}
                    <Auk::ButtonLink
                      @href={{decision.uri}}
                      @layout="icon-only" @icon="external-link"
                      target="_blank" />
                  {{/if}}
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-decisions-published-yet" }} />
    {{/if}}
  </div>
</div>

{{#if this.isPieceUploadModalOpen}}
  <Publications::Publication::Proofs::ProofUploadModal
    @publicationFlow={{this.publicationFlow}}
    @isCorrected={{this.isPieceUploadCorrected}}
    @onSave={{this.savePieceUpload}}
    @onCancel={{this.closePieceUploadModal}} />
{{/if}}

{{#if this.isPieceEditModalOpen}}
  <Publications::Publication::Proofs::ProofEditModal
    @publicationFlow={{this.publicationFlow}}
    @piece={{this.pieceRowToEdit.piece}}
    @onSave={{this.savePieceEdit}}
    @onCancel={{this.closePieceEditModal}} />
{{/if}}

{{#if this.isProofRequestModalOpen}}
  <Publications::Publication::Proofs::ProofRequestModal
    @stage={{this.proofRequestStage}}
    @publicationFlow={{this.publicationFlow}}
    @attachments={{this.selectedPieces}}
    @onSave={{this.saveProofRequest}}
    @onCancel={{this.closeProofRequestModal}} />
{{/if}}