<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{!-- TODO correct positioning according to design --}}
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button id="proofDocumentsActionMenu"
            @icon="chevron-down" @layout="icon-right" @skin="secondary"
            @disabled={{this.isRequestingDisabled}}>
            {{t "new-request"}}
          </Auk::Button>
          {{!-- TODO: figure out how to properly use EmberPopover/AttachPopover (click+styling) --}}
          <EmberPopover
            @side="bottom-start"
            @tooltipClass="auk-popover"
            @targetId="proofDocumentsActionMenu">
            <Auk::Dropdown
              as |dropdown|>
              <dropdown.Item
                {{on "click" (fn this.openProofRequestModal "initial")}}>
                {{t "initial-request"}}
              </dropdown.Item>
              <dropdown.Item
                {{on "click" (fn this.openProofRequestModal "extra")}}>
                {{t "extra-request"}}
              </dropdown.Item>
              <dropdown.Item
                {{on "click" (fn this.openProofRequestModal "final")}}>
                {{t "final-request"}}
              </dropdown.Item>
            </Auk::Dropdown>
          </EmberPopover>
        </Auk::Toolbar::Item>

        {{#if this.canUploadPiece}}
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="secondary" @icon="add"
              @disabled={{this.isUploadDisabled}}
              {{on "click" this.openPieceUploadModal}}>
              {{t "upload-documents"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        {{/if}}
      </Auk::Toolbar::Group>
    </Auk::Toolbar>

    {{#if this.model}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox
                @checked={{this.areAllPiecesSelected}}
                {{on "input" this.toggleAllPiecesSelection}} />
            </th>
            <th>{{t "name-document"}}</th>
            <th>{{t "file-type"}}</th>
            <Utils::ThSortable
              @label={{t "received-at"}}
              @field="ontvangen-op"
              @currentSorting={{this.sortingString}}
              @onChange={{this.changeSorting}} />
            <Utils::ThSortable
              @label={{t "uploaded-at"}}
              @field="geupload-op"
              @currentSorting={{this.sortingString}}
              @onChange={{this.changeSorting}} />
            <th class="auk-u-text-align--center">
              {{t "corrected"}}
            </th>
            <th>{{!-- Actions--}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |piece|}}
            <tr>
              <td class="auk-table-checkbox-col">
                <Auk::Checkbox
                  @checked={{includes piece this.selectedPieces}}
                  {{on "input" (fn this.togglePieceSelection piece)}} />
              </td>
              <td>
                {{piece.name}}
              </td>
              <td>
                <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
              </td>
              <td>
                <p>
                  {{moment-format piece.receivedDate}}
                </p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.receivedDate "HH:mm"}}
                </p>
              </td>
              <td>
                <p>
                  {{moment-format piece.created}}
                </p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.created "HH:mm"}}
                </p>
              </td>
              <td class="auk-u-text-align--center">
                {{#if piece.publicationSubcaseCorrectionFor}}
                  <Auk::Icon @name="check" @skin="success-dark" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="download"
                    @href={{piece.file.namedDownloadLink}}
                    download={{await piece.downloadFilename}}>
                    {{t "download"}}
                  </Auk::Button>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="book"
                    @href={{piece.viewDocumentURL}}
                    target="_blank">
                    {{t "read"}}
                  </Auk::Button>
                  <Auk::Button
                    @layout="icon-only" @skin="borderless" @icon="more"
                    @event="click"
                    id="proofDocumentsRowActionMenu{{piece.id}}">
                    {{t "view-more"}}
                  </Auk::Button>
                  {{!-- TODO: figure out how to properly use EmberPopover/AttachPopover (click+styling) --}}
                  <EmberPopover
                    @side="bottom-end"
                    @tooltipClass="auk-popover"
                    @targetId="proofDocumentsRowActionMenu{{piece.id}}">
                    <Auk::Dropdown
                      as |dropdown|>
                      <dropdown.Item>
                        {{t "edit-proof-details"}}
                      </dropdown.Item>
                      <dropdown.Item @skin="danger">
                        {{t "delete"}}
                      </dropdown.Item>
                    </Auk::Dropdown>
                  </EmberPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-documents-yet" }} />
    {{/if}}
  </div>
</div>

{{#if this.isPieceUploadModalOpen}}
  <Publications::Publication::Proofs::ProofUploadModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{this.saveCorrectionDocument}}
    @onCancel={{this.closePieceUploadModal}} />
{{/if}}

{{#if this.isProofRequestModalOpen}}
  <Publications::Publication::Proofs::ProofRequestModal
    @stage={{this.proofRequestStage}}
    @publicationFlow={{this.publicationFlow}}
    @attachments={{this.selectedPieces}}
    @onSave={{this.saveProofRequest}}
    @onCancel={{this.closeProofRequestModal}} />
{{/if}}
