<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{!-- TODO correct positioning according to design --}}
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <DropdownMenu
            @skin="secondary"
            @label={{t "new-request"}}
            @position="bottom-start"
            @disabled={{this.isRequestingDisabled}}
            data-test-agenda-header-show-action-options={{true}}
          as |Menu|>
            <Menu.Item
              {{on "click" (fn this.openProofRequestModal "initial")}}>
              {{t "initial-request"}}
            </Menu.Item>
            <Menu.Item
              {{on "click" (fn this.openProofRequestModal "extra")}}>
              {{t "extra-request"}}
            </Menu.Item>
            <Menu.Item
              {{on "click" (fn this.openProofRequestModal "final")}}>
              {{t "final-request"}}
            </Menu.Item>
          </DropdownMenu>
        </Auk::Toolbar::Item>

        {{#if this.canUploadPiece}}
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="secondary" @icon="add"
              @disabled={{this.isUploadDisabled}}
              {{on "click" this.openPieceUploadModal}}>
              {{t "upload-corrected-proof-document"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        {{/if}}
      </Auk::Toolbar::Group>
    </Auk::Toolbar>

    {{#if this.pieces}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th class="auk-table-checkbox-col">
              <Auk::Checkbox
                @checked={{this.areAllPiecesSelected}}
                {{on "input" this.toggleAllPiecesSelection}} />
            </th>
            <Utils::ThSortable
               @label={{t "name-document"}}
               @field="naam"
               @currentSorting={{this.sort}}
               @onChange={{this.changeSorting}} />
            <th>{{t "file-type"}}</th>
            <Utils::ThSortable
              @label={{t "received-at"}}
              @field="ontvangen-op"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}} />
            <Utils::ThSortable
              @label={{t "uploaded-at"}}
              @field="geupload-op"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}} />
            <th class="auk-u-text-align--center">
              {{t "corrected"}}
            </th>
            <th>{{!-- Actions--}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.pieces as |piece|}}
            <tr>
              <td class="auk-table-checkbox-col">
                <Auk::Checkbox
                  @checked={{includes piece this.selectedPieces}}
                  {{on "input" (fn this.togglePieceSelection piece)}} />
              </td>
              <td>
                {{piece.name}}
              </td>
              <td>
                <Utils::Documents::FileTypePill @extension={{piece.file.extension}} />
              </td>
              <td>
                {{#if piece.receivedDate}}
                  {{moment-format piece.receivedDate}}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <p>
                  {{moment-format piece.created}}
                </p>
                <p class="auk-u-muted auk-u-text-small">
                  {{moment-format piece.created "HH:mm"}}
                </p>
              </td>
              <td class="auk-u-text-align--center">
                {{#if piece.publicationSubcaseCorrectionFor}}
                  <Auk::Icon @name="check" @skin="success-dark" />
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="download"
                    @href={{piece.file.namedDownloadLink}}
                    download={{await piece.downloadFilename}}>
                    {{t "download"}}
                  </Auk::Button>
                  <Auk::Button
                    @skin="borderless" @layout="icon-only" @icon="book"
                    @href={{piece.viewDocumentURL}}
                    target="_blank">
                    {{t "read"}}
                  </Auk::Button>
                  <Auk::Button
                    @skin="borderless"
                    @layout="icon-only"
                    @icon="more" />
                  <AttachPopover
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom">
                    <Auk::Menu>
                      <Auk::Menu::Item {{on "click" (fn this.openPieceEditModal piece)}}>
                        {{t "edit-proof-details"}}
                      </Auk::Menu::Item>
                    </Auk::Menu>
                  </AttachPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-documents-yet" }} />
    {{/if}}
  </div>
  <div class="auk-u-mb-4">
    <h3 class="auk-h3">{{t "published-decisions"}}</h3>
    {{#if this.model.decisions}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th>{{t "title"}}</th>
            <th>{{t "publication-date"}}</th>
            <th>{{!-- actions --}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model.decisions as |decision|}}
            <tr>
              <td>
                {{decision.title}}
              </td>
              <td>
                {{moment-format decision.publicationDate}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <Auk::ButtonLink
                    @href={{decision.uri}}
                    @layout="icon-only" @icon="external-link"
                    @target="_blank">
                  </Auk::ButtonLink>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::EmptyState @bordered={{true}} @message={{t "no-decisions-published-yet" }} />
    {{/if}}
  </div>
</div>

{{#if this.isPieceUploadModalOpen}}
  <Publications::Publication::Proofs::ProofUploadModal
    @publicationFlow={{this.publicationFlow}}
    @isCorrected={{true}}
    @isReceived={{false}}
    @onSave={{this.saveCorrectionDocument}}
    @onCancel={{this.closePieceUploadModal}} />
{{/if}}

{{#if this.isPieceEditModalOpen}}
  <Publications::Publication::Proofs::ProofEditModal
    @publicationFlow={{this.publicationFlow}}
    @piece={{this.pieceToEdit}}
    @onSave={{this.saveEditPiece}}
    @onCancel={{this.closePieceEditModal}} />
{{/if}}

{{#if this.isProofRequestModalOpen}}
  <Publications::Publication::Proofs::ProofRequestModal
    @stage={{this.proofRequestStage}}
    @publicationFlow={{this.publicationFlow}}
    @attachments={{this.selectedPieces}}
    @onSave={{this.saveProofRequest}}
    @onCancel={{this.closeProofRequestModal}} />
{{/if}}