<AuModal
  @modalOpen={{true}}
  @closable={{true}}
  @closeModal={{@closeModal}}
  ...attributes
>
  <:title>{{t "documents-sent-on"}}
    {{date @submissionActivity.startDate}}</:title>
  <:body>
    <AuContent>
      <p>{{t "the-following-things-were-sent"}}:</p>
      <ul class="au-u-margin-top">
        {{#each @submissionActivity.submittedPieces as |piece|}}
          <li>
            {{piece.unsignedFile}}
          </li>
        {{/each}}
      </ul>
    </AuContent>
  </:body>
</AuModal>