{{#if @parliamentFlow.status}}
  <AuAlert
    @size="small"
    @skin={{this.skin}}
    @icon="mail"
    @title=" {{date @case.parliamentFlow.openingDate}}"
  >
    <p class="au-u-medium">
      {{this.message}}
      <FormatList
        @list={{sort-by "startDate" @parliamentFlow.parliamentSubcase.parliamentSubmissionActivities}}
        @locale="nl-be"
        as |submissionActivity|
      >
        <AuLink
          @skin="primary"
          {{on "click" (fn this.showModalFor submissionActivity)}}
        >
          {{datetime-at submissionActivity.startDate}}
        </AuLink>
      </FormatList>
    </p>
  </AuAlert>
{{/if}}
{{#if this.showActivity}}
  <Vp::SentToVpModal
    @submissionActivity={{this.showActivity}}
    @closeModal={{this.closeModal}}
  />
{{/if}}