{{#if this.loadMinisters.isRunning}}
  <Auk::Loader />
{{else if this.ministers}}
  <Auk::CheckboxTree
    @label={{t "ministers"}}
    @layout="grid"
    @items={{this.ministers}}
    @itemStructure={{hash label="fullName"}}
    @selectedItems={{this.selectedMinisters}}
    @didUpdate={{this.onChangeMinisters}}
  />
{{else}}
  <p>{{t "no-ministers-submitted-on-this-agenda"}}</p>
{{/if}}
