<div data-test-mandatee-selector-container>
  {{#if @openSearch}}
    <Mandatees::MandateeSelector::OpenSearch
      @openSearch={{@openSearch}}
      @excludeMandatees={{@excludeMandatees}}
      @referenceDate={{@referenceDate}}
      @onSelectMandatee={{@onSelectMandatee}}
      @selectedMandatees={{@selectedMandatees}}
    />
  {{else}}
    <Mandatees::MandateeSelector::Default
      @openSearch={{@openSearch}}
      @excludeMandatees={{@excludeMandatees}}
      @referenceDate={{@referenceDate}}
      @onSelectMandatee={{@onSelectMandatee}}
      @selectedMandatees={{@selectedMandatees}}
    />
  {{/if}}
</div>