<Auk::Modal @size="large">
  <Auk::Modal::Header @closeDisabled={{this.onAdd.isRunning}} @title={{t "add-minister"}} @onClose={{@onClose}} />
  <Auk::Modal::Body>
    <div class="auk-o-flex--inline auk-o-flex--vertical-center auk-u-mb-2">
      <AuCheckbox
        data-test-mandatees-selector-open-search
        @checked={{this.openSearch}}
        @onChange={{this.setOpenSearch}}
      >
        {{t "open-search-for-mandatee"}}
      </AuCheckbox>
      <Auk::Icon @skin="muted" @name="circle-info" class="auk-u-ml">
        <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
          <p>
            {{t "open-search-for-mandatee-tooltip"}}
          </p>
        </EmberTooltip>
      </Auk::Icon>
    </div>
    <Utils::LoadableContent
      @isLoading={{this.onAdd.isRunning}}
      @reserveSpace={{true}}
    >
      <Auk::Label>{{t "minister"}}</Auk::Label>
      <Mandatees::MandateeSelector
        @excludeMandatees={{@excludeMandatees}}
        @referenceDate={{@referenceDate}}
        @openSearch={{this.openSearch}}
        @onSelectMandatee={{fn (mut this.selectedMandatee)}}
        @selectedMandatees={{this.selectedMandatee}}
      />
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onClose}} @closeDisabled={{this.onAdd.isRunning}}>
    <AuButton
      data-test-mandatees-selector-add
      @skin="primary"
      @icon="plus"
      @disabled={{not this.canAdd}}
      @loading={{this.onAdd.isRunning}}
      {{on "click" (perform this.onAdd)}}
    >
      {{t "add"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>