<div data-test-mandatee-selector-container
  {{did-update (perform this.loadMandatees) @openSearch}}
>
  {{#if @multiple}}
    <PowerSelectMultiple
      @options={{this.mandateeOptions}}
      @selected={{await @selectedMandatees}}
      @disabled={{@disabled}}
      @closeOnSelect={{false}}
      @searchEnabled={{true}}
      @search={{if @openSearch (perform this.searchMandatee) (perform this.filterMandatees)}}
      @oninput={{this.resetMandateeOptionsIfEmpty}}
      @onChange={{@onSelectMandatee}}
      as |mandatee|
    >
      {{await mandatee.fullDisplayName}}
      <span class="auk-u-text-muted auk-u-text-size--small">
        {{moment-format mandatee.start}} tot {{if mandatee.end (moment-format mandatee.end) "heden"}}
      </span>
    </PowerSelectMultiple>
  {{else}}
    <PowerSelect
      @options={{this.mandateeOptions}}
      @selected={{await @selectedMandatees}}
      @disabled={{@disabled}}
      @searchEnabled={{true}}
      @search={{if @openSearch (perform this.searchMandatee) (perform this.filterMandatees)}}
      @oninput={{this.resetMandateeOptionsIfEmpty}}
      @onChange={{@onSelectMandatee}}
      as |mandatee|
    >
    {{await mandatee.fullDisplayName}}
    <span class="auk-u-text-muted auk-u-text-size--small">
      {{moment-format mandatee.start}} tot {{if mandatee.end (moment-format mandatee.end) "heden"}}
    </span>
    </PowerSelect>
  {{/if}}
</div>