<Auk::Modal @size="large">
  <Auk::Modal::Header @title={{t "add-minister"}} @onClose={{@onClose}} />
  <Auk::Modal::Body>
    <div class="auk-o-flex--inline auk-o-flex--vertical-center auk-u-mb-2">
      <Auk::Checkbox
        data-test-mandatees-selector-open-search
        @label={{t "open-search-for-mandatee"}}
        @checked={{this.openSearch}}
        {{on "input" this.setOpenSearch}}
      />
      <Auk::Icon @skin="muted" @name="circle-info" class="auk-u-ml">
        <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
          <p>
            {{t "open-search-for-mandatee-tooltip"}}
          </p>
        </EmberTooltip>
      </Auk::Icon>
    </div>
    <Utils::LoadableContent
      @isLoading={{this.onAdd.isRunning}}
      @reserveSpace={{true}}
    >
      <Auk::Label>{{t "minister"}}</Auk::Label>
      <Mandatees::MandateeSelector
        @referenceDate={{@referenceDate}}
        @openSearch={{this.openSearch}}
        @onSelectMandatee={{fn (mut this.selectedMandatee)}}
        @selectedMandatees={{this.selectedMandatee}}
      />
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            @disabled={{this.onAdd.isRunning}}
            {{on "click" @onClose}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-mandatees-selector-add
            @skin="primary"
            @icon="plus"
            @disabled={{not this.canAdd}}
            @loading={{this.onAdd.isRunning}}
            {{on "click" (perform this.onAdd)}}
          >
            {{t "add"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>