{{ page-title
  (t "publications")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-2">
    <div class="auk-box">
      <div class="auk-u-mb-2">
        <Auk::Label for="blockInput">Status</Auk::Label>
        <Auk::Checkbox
          @checked={{true}}
          @label="Opgestart"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Naar vertaaldienst"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Vertaling in"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Proef gevraagd"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Rappel proef"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Proef in"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Proef verbeterd"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Publicatie gevraagd"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Gepubliceerd"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Geannuleerd"
        />
        <Auk::Checkbox
          @checked={{true}}
          @label="Gepauzeerd"
        />
      </div>
    </div>
  </div>
  <div class="auk-o-grid-col-10">
    <div>
      {{#if this.model.length}}
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped auk-table--vertical-align-top"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToAgendaitem}}
        as |table|
        >
          <table.content as |c|>
            <c.header>
              <ThSortable
                @class="auk-table__col--1 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="meetingId"
                @label={{t "publications-table-publication-number-small"}}
              />
              <ThSortable
                @class="auk-table__col--6 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "publications-table-short-title-small"}}
              />
              <ThSortable
                @class="auk-table__col--1 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="meetingId"
                @label="Datum besluit"
              />
              <ThSortable
                @class="auk-table__col--2 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="meetingId"
                @label={{t "publications-table-status"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header>
            {{!-- MOCK DATA --}}
            <tbody class="auk-table--interaction-cursor">
              <tr onClick="location.href='/publicaties/61A9E74DD5855D0008000156/dossier'">
                <td>
                  510017
                </td>
                <td>
                  <p>
                    Besluit van de Vlaamse Regering tot wijziging van de aanvraagprocedures in het Onroerenderfgoedbesluit voor erfgoedpremies bijzondere procedure en voor meerjarenpremieovereenkomsten
                  </p>
                </td>
                <td>
                  -
                </td>
                <td>
                  <Auk::StatusPill @status="step-2">Vertaling in</Auk::StatusPill>
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/publicaties/61A9E74DD5855D0008000156/dossier" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-chevron-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr onClick="location.href='/publicaties/61A8C8EAD5855D000800013C/dossier'">
                <td>
                  510016
                </td>
                <td>
                  <p>
                    Decreet noodleverancier energie
                  </p>
                </td>
                <td>
                  07-07-2021
                </td>
                <td>
                  <Auk::StatusPill @status="step-4">Proef in</Auk::StatusPill>
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/publicaties/61A8C8EAD5855D000800013C/dossier" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-chevron-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr onClick="location.href='/publicaties/61A8C4EAD5855D0008000124/dossier'">
                <td>
                  510015
                </td>
                <td>
                  <p>
                   COVID-19: tijdelijke maatregelen beleidsveld energie
                  </p>
                </td>
                <td>
                  04-06-2021
                </td>
                <td>
                  <Auk::StatusPill @status="step-1">Naar vertaaldienst</Auk::StatusPill>
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/publicaties/61A8C4EAD5855D0008000124/dossier" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-chevron-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr onClick="location.href='/publicaties/61A8BA33D5855D000800010C/dossier'">
                <td>
                  510014
                </td>
                <td>
                  <p>
                   Activerings-, loopbaan- en dataregie VDAB
                  </p>
                </td>
                <td>
                  04-06-2021
                </td>
                <td>
                  <Auk::StatusPill @status="step-3">Proef gevraagd</Auk::StatusPill>
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/publicaties/61A8BA33D5855D000800010C/dossier" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-chevron-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr onClick="location.href='/publicaties/61A8B623D5855D00080000F0/dossier'">
                <td>
                  510013
                </td>
                <td>
                  <p>
                   Opheffing Syntra Vlaanderen
                  </p>
                </td>
                <td>
                  01-05-2021
                </td>
                <td>
                  <Auk::StatusPill @status="step-4">Proef in</Auk::StatusPill>
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/publicaties/61A8B623D5855D00080000F0/dossier" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-chevron-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            {{!-- END MOCK DATA --}}
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>