<Auk::Panel class="auk-panel--editing auk-u-mb-8">
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <div class="au-u-flex au-u-flex--spaced-small">
            <h4 class="auk-panel__title">
              Overzicht
            </h4>
          </div>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    {{#if (eq @submission true)}}
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        <Auk::Label>Dossier</Auk::Label>
        <select
          name="dossier"
          id="dossier"
          class="auk-select auk-select--block"
        >
          <option
            value="-"
            selected="selected"
          >
            Tegemoetkomingen mobiliteitshulpmiddelen
          </option>
          <option
            value="1"
          >
            Vlaamse advies- en beleidsparticipatieraad van personen met en handicap(NOOZO vzw): subsidie werkjaar 2023
          </option>
          <option
            value="2"
          >
            Luchtvervoersovereenkomst Nederlandse Antillen
          </option>
          <option
            value="3"
          >
             Implementatie BelRAI LTCF 
          </option>
        </select>
        <AuButton @skin="link" @icon="add" class="au-u-margin-top-small" {{on "click" this.toggleCaseModal}}>Nieuw dossier toevoegen</AuButton>
      </div>
    </div>
    {{/if}}
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        <Auk::Label id="name-subcase">{{t "name-subcase"}}</Auk::Label>
        <Textarea
          data-test-subcase-titles-edit-shorttitle={{true}}
          aria-labelledby="name-subcase"
          rows="2"
          class="auk-textarea"
          @value={{@subcase.shortTitle}}
        />
      </div>
    </div>
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        <Auk::Label id="title-subcase">{{t "title-subcase"}}</Auk::Label>
        <Textarea
          data-test-subcase-titles-edit-title={{true}}
          aria-labelledby="name-subcase"
          rows="4"
          class="auk-textarea"
          @value={{@subcase.title}}
        />
      </div>
    </div>
    {{!-- <div class="auk-form-group">
      <AuFieldset as |Fieldset|>
        <Fieldset.legend>{{t "subcase-type"}}</Fieldset.legend>
        <Fieldset.content>
          <AuRadioGroup
            data-test-subcase-description-edit-type
            @alignment="inline"
            @selected={{this.agendaItemType}}
            @onChange={{this.onChangeAgendaItemType}}
            as |Group|
          >
            {{#each this.agendaItemTypes as |type|}}
              <Group.Radio
                @value={{type}}
              >
                {{type.label}}
              </Group.Radio>
            {{/each}}
          </AuRadioGroup>
        </Fieldset.content>
      </AuFieldset>
    </div> --}}
    <div class="auk-form-group">
      <Auk::Label>Procedurestap type</Auk::Label>
      <AuRadioGroup
        data-test-new-subcase-type
        @alignment="inline"
        @selected={{this.agendaItemType}}
        @onChange={{this.onChangeAgendaItemType}}
        as |Group|
      >
        {{#each this.agendaItemTypes as |type|}}
          <Group.Radio
            @value={{type}}
          >
            {{type.label}}
          </Group.Radio>
        {{/each}}
      </AuRadioGroup>
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "subcase-type-dropdown"}}</Auk::Label>
      <Utils::ModelSelector
        @modelName="subcase-type"
        @searchField="label"
        @sortField="label"
        @displayField="label"
        @selected={{this.subcaseType}}
        @onChange={{this.selectSubcaseType}}
      />
    </div>
    {{#if (eq @kabinet true)}}
    <Auk::Panel class="auk-u-mt-4">
      <Auk::Panel::Header class="au-u-padding-left-small au-u-padding-right-small">
        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item>
              <h4 class="auk-h4 auk-u-m-0">
                Goedkeuring
              </h4>
            </Group.Item>
          </Toolbar.Group>
          <Toolbar.Group @position="right" as |Group|>
            <Group.Item>
              <AuButton
                data-test-signatures-create-sign-flow-approvers-add
                @skin="secondary"
                @icon="plus"
                {{on "click" (toggle "showNotifiersModal" this)}}
              >
                {{t "add"}}
              </AuButton>
            </Group.Item>
          </Toolbar.Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body class="auk-u-p-0">
        <AuList
          @divider={{true}}
          as |Item|
        >
            <Item
              class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center au-u-padding-small"
            >
              <Auk::AbbreviatedText @text="secretarie@vlaamseregering.be" @maxLength={{35}} />
            </Item>
          {{#each this.notificationAddresses as |notificationAddress|}}
            <Item
              class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center au-u-padding-small"
              data-test-signatures-create-sign-flow-notification-adresses-item
            >
              <Auk::AbbreviatedText @text={{notificationAddress}} @maxLength={{35}} />
              <AuButton
                data-test-signatures-create-sign-flow-notification-adresses-remove
                @skin="naked"
                @alert={{true}}
                @hideText={{true}}
                @icon="trash"
                {{on "click" (fn this.removeNotificationAddress notificationAddress)}}
              >
                {{t "delete"}}
              </AuButton>
            </Item>
          {{/each}}
        </AuList>
      </Auk::Panel::Body>
      <Auk::Panel::Body class="auk-u-p-2">
        <div class="auk-form-group">
          <Auk::Label for="approvalComment">Opmerking</Auk::Label>
          <Auk::Textarea
            @rows="4"
            @value=""
            id="approvalComment"
          />
        </div>
      </Auk::Panel::Body>
    </Auk::Panel>
    <Auk::Panel class="auk-u-mt-4">
      <Auk::Panel::Header class="au-u-padding-left-small au-u-padding-right-small">
        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item>
              <h4 class="auk-h4 auk-u-m-0">
                CC
              </h4>
            </Group.Item>
          </Toolbar.Group>
          <Toolbar.Group @position="right" as |Group|>
            <Group.Item>
              <AuButton
                data-test-signatures-create-sign-flow-approvers-add
                @skin="secondary"
                @icon="plus"
                {{on "click" (toggle "showCCModal" this)}}
              >
                {{t "add"}}
              </AuButton>
            </Group.Item>
          </Toolbar.Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body class="auk-u-p-0">
        <AuList
          @divider={{true}}
          as |Item|
        >
          {{#each this.CCAddresses as |CCAddress|}}
            <Item
              class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center au-u-padding-small"
              data-test-signatures-create-sign-flow-notification-adresses-item
            >
              <Auk::AbbreviatedText @text={{CCAddress}} @maxLength={{35}} />
              <AuButton
                data-test-signatures-create-sign-flow-notification-adresses-remove
                @skin="naked"
                @alert={{true}}
                @hideText={{true}}
                @icon="trash"
                {{on "click" (fn this.removeCCAddress CCAddress)}}
              >
                {{t "delete"}}
              </AuButton>
            </Item>
          {{else}}
            <Item class="au-u-padding-small">
              {{t "no-notification-addresses-selected"}}
            </Item>
          {{/each}}
        </AuList>
      </Auk::Panel::Body>
      <Auk::Panel::Body class="auk-u-p-2">
        <div class="auk-form-group">
          <Auk::Label for="ccComment">Opmerking</Auk::Label>
          <Auk::Textarea
            @rows="4"
            @value=""
            id="ccComment"
          />
        </div>
      </Auk::Panel::Body>
    </Auk::Panel>
    {{else}}
    <div class="auk-form-group">
      <Auk::Label>{{t "subcase-name"}}</Auk::Label>
      <AuInput
        @width="block"
        @value={{mut this.subcaseName}}
      />
    </div>
    {{/if}}
    <div class="auk-form-group auk-u-mt-4">
      <Auk::Label for="subcase-confidential">{{t "limited-access"}}</Auk::Label>
      <AuToggleSwitch
        data-test-subcase-titles-edit-confidential={{true}}
        @checked={{@subcase.confidential}}
        id="subcase-confidential"
        @onChange={{set this "confidentialChanged" true}}
      />
    </div>
    {{#if (eq @submission true)}}
    <div class="auk-form-group">
      <Auk::Label>Status</Auk::Label>
      <select
        name="status"
        id="status"
        class="auk-select auk-select--block"
      >
        <option
          value="ingediend"
          selected="selected"
        >
          Ingediend
        </option>
        <option
          value="verwerken"
        >
          Aan het verwerken
        </option>
        <option
          value="wacht"
        >
          Wacht op het kabinet
        </option>
      </select>
    </div>
    {{/if}}
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            {{on "click" this.cancelEditing}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-titles-edit-save={{true}}
            @skin="primary"
            @loading={{this.isSaving}}
            {{on "click" (perform this.saveChanges)}}
          >
            {{t "save"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>

{{#if this.caseModal}}
<Auk::Modal>
  <Auk::Modal::Header @title="Nieuw dossier toevoegen" @onClose={{this.toggleCaseModal}} />
  <Auk::Modal::Body>
    <div>
      <Auk::Label>Dossier naam</Auk::Label>
      <AuInput @width="block" @value="" />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{this.toggleCaseModal}}
  >
    <AuButton
      @skin="primary"
      {{on "click" this.toggleCaseModal}}
    >
      Dossier toevoegen
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
{{/if}}

{{#if this.showNotifiersModal}}
  <Signatures::EmailModal
    @title="Goedkeuring vragen aan"
    @onConfirm={{this.saveNotificationAddress}}
    @onCancel={{toggle "showNotifiersModal" this}}
  />
{{/if}}

{{#if this.showCCModal}}
  <Signatures::EmailModal
    @title="CC sturen naar"
    @onConfirm={{this.saveCCAddress}}
    @onCancel={{toggle "showCCModal" this}}
  />
{{/if}}