{{#if this.vpSent}}
  {{#if this.isComplete}}
  <div class="auk-u-mb-4 auk-u-mt-0">
    <AuAlert
      @title="Dit dossier is volledig en doorgestuurd naar het Vlaams parlement op 29/12/2023"
      @skin="success"
      @icon="mail"
      @size="small"
    />
  </div>
  {{else}}
  <div class="auk-u-mb-4 auk-u-mt-0">
    <AuAlert
      @title="Dit dossier is onvolledig en doorgestuurd naar het Vlaams parlement op 29/12/2023"
      @icon="mail"
      @size="small"
      class="au-c-alert--neutral"
    />
  </div>
  {{/if}}
{{/if}}

<div {{did-update (perform this.loadAgendaData)}}>
  <Auk::Panel data-test-subcase-description-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <div class="au-u-flex au-u-flex--spaced-small">
              <h4 class="auk-panel__title">
                Overzicht
              </h4>
            </div>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if @allowEditing}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-subcase-description-edit
                @skin="naked"
                @icon="pencil"
                {{on "click" @onClickEdit}}
              >
                {{t "edit"}}
              </AuButton>
            </Auk::Toolbar::Item>
            {{#if (eq @step 'Definitieve goedkeuring')}}
            <Auk::Toolbar::Item>
              <AuButton
                data-test-subcase-description-edit
                @skin="naked"
                @icon="export"
                {{on 'click' this.showVpModal}}
              >
                Verstuur naar Vlaams Parlement
              </AuButton>
            </Auk::Toolbar::Item>
            {{/if}}
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="au-u-flex au-u-flex--spaced-small au-u-flex--space-between au-u-flex--vertical-center">
        <AuHeading @level="4" @skin="4">Ontwerp van decreet over {{@subcase.shortTitle}}</AuHeading>
        <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
          {{#if (is-nota @subcase.agendaItemType)}}
            <AuPill @size="small">{{t "note"}}</AuPill>
          {{else}}
            <AuPill @size="small">{{t "text"}}</AuPill>
          {{/if}}
          {{#if @allowEditing}}
            {{#if @subcase.confidential}}
              <AuPill @size="small" @skin="warning" @icon="lock-closed">{{t "limited-access"}}</AuPill>
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if @subcase.title}}
      <p>{{capitalize @subcase.title}}</p>
      {{/if}}
    </Auk::Panel::Body>
    <Auk::Panel::Body>
      <div class="au-o-grid au-o-grid--small au-u-1-1">
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">Procedurestap</AuHeading>
          {{#if (or (eq @step 'Eerste principiële goedkeuring')(eq @step 'Tweede principiële goedkeuring'))}}
          <p class="auk-u-mt-1">Principiële goedkeuring</p>
          {{else}}
          <p class="auk-u-mt-1">{{@step}}</p>
          {{/if}}
        </div>
        {{#if (eq @kabinet true)}}
        <div class="au-o-grid__item au-u-1-2 au-u-3-4@medium">
          <AuAlert @title="Nog niet geagendeerd" @size="small" @icon="circle-info" />
        </div>
        {{else}}
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">Geagendeerd op</AuHeading>
          {{#if (eq @step 'Definitieve goedkeuring')}}
          <p class="auk-u-mt-1">28 augustus 2023</p>
          {{else if (eq @step 'Tweede principiële goedkeuring')}}
          <p class="auk-u-mt-1">13 juni 2023</p>
          {{else if (eq @step 'Eerste principiële goedkeuring')}}
          <p class="auk-u-mt-1">01 april 2023</p>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">Nummer vergadering</AuHeading>
          <p class="auk-u-mt-1">1446 (2022-2023) nr. 1</p>
        </div>
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">Status</AuHeading>
          <AuPill @skin="success" @size="small">{{@status}}</AuPill>
        </div>
        {{/if}}
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
</div>


{{#if this.vpModal}}
<Auk::Modal @size="medium">
  <Auk::Modal::Header
    @title="Dossier controleren"
    @onClose={{this.showVpModal}}
  />
  <Auk::Modal::Body>
    <AuContent>
      <p>Vink de documenten aan die verstuurd mogen worden naar het Vlaams Parlement</p>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Goedkeuring na advies van de Raad van State:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-2 Decreet dienstencheques - decreet (Word en PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-3 Decreet dienstencheques - memorie (Word en ondertekende PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-1 Decreet dienstencheques - nota (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR PV 2024/8 - punt 0016 (ondertekende PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
          @disabled={{true}}
        >
          <AuLinkExternal @skin="secondary" href="#!">VR 2024 2302 DOC.0200-4 Decreet dienstencheques - advies (PDF) <AuPill @size="small" @icon="circle" @skin="warning">Intern regering</AuPill></AuLinkExternal>
        </AuCheckbox>
      </div>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Principiële goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-2 Decreet dienstencheques - decreetBIS (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-3 Decreet dienstencheques - memorieTER (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-1 Decreet dienstencheques - notaBIS (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR PV 2023/31 - PUNT 0085 (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 0707 DOC.0919-4 Decreet dienstencheques - IF (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <AuHeading @skin="6" @level="3" class="au-u-margin-top">Principiële goedkeuring:</AuHeading>
      <div class="au-c-control-group">
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-1 Decreet dienstencheques - nota (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR PV 2023/40 - PUNT 0011 (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-4 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-2 Decreet dienstencheques - decreet (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-5 Decreet dienstencheques advies (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{true}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-3 Decreet dienstencheques - memorie (PDF)</AuLinkExternal>
        </AuCheckbox>
        <AuCheckbox
          @checked={{false}}
        >
          <AuLinkExternal href="#!">VR 2023 1310 DOC.1311-6 Decreet dienstencheques - advies (PDF)</AuLinkExternal>
        </AuCheckbox>
      </div>

      <div class="auk-form-group au-u-margin-top au-u-margin-bottom">
        <Auk::Label for="remarks">Opmerkingen</Auk::Label>
        <Auk::Textarea
          @rows="4"
          @value=""
          id="remarks"
        />
      </div>
    </AuContent>
    <AuCard
      @shadow={{false}}
      @standOut={{true}}
      @size="small"
      @expandable={{true}}
      as |c|
    >
      <c.header>
        <AuHeading @level="3" @skin="6">
          Mogelijks zijn er nog documenten te kort, kijk je even mee?
        </AuHeading>
      </c.header>
      <c.content>
        <p>We deden een automatische check, misschien moet één van volgende documenten toch mee?</p>
        <ul class="au-u-margin-top-small">
          <li>
            <AuLinkExternal href="#!">VR 2024 2302 DOC.0200-2 Decreet dienstencheques - decreet (ondertekende PDF)</AuLinkExternal>
          </li>
        </ul>
      </c.content>
    </AuCard>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{this.showVpModal}}>
    <AuButton
      @skin="primary"
      {{on "click" this.submitToVp}}
    >
      Doorsturen naar het Vlaams Parlement
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
{{/if}}



