{{#if this.loadDecisionResultCodes.isIdle}}
  <div class="decision-result-select">
    <PowerSelect
      @placeholder={{t "select-a-status"}}
      @options={{this.decisionResultCodes}}
      @selected={{@selected}}
      @onChange={{@onChange}}
      as |resultCode|
    >
      <Decision::DecisionResultSelect::SelectItem
        @decisionResultCode={{resultCode}}
      />
    </PowerSelect>
  </div>
{{else}}
  <Auk::Loader />
{{/if}}