<div class="auk-accordion-panel__header {{this.sizeClass}}">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <AuButton
          aria-controls={{@accordionPanelId}}
          @skin="naked"
          @icon={{if @isActive "chevron-down" "chevron-right"}}
          @hideText={{true}}
          {{on "click" @onToggleClick}}
        >
          {{t "save"}}
        </AuButton>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-accordion-panel__title-container">
          <h4 class="auk-accordion-panel__title {{if @subtitle "auk-accordion-panel__title--small"}}">{{@title}}</h4>
          {{#if @subtitle}}
            <span class="auk-u-text-small">{{@subtitle}}</span>
          {{/if}}
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{yield
      (hash Actions=(component 'auk/accordion-panel/header/actions'))
    }}
  </Auk::Toolbar>
</div>