<Auk::Navbar
  class="auk-signature-overview-navbar"
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signature-folder"}}
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="borderless"
        >
          {{t "clear-filter-plural"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @icon="filter"
          {{on "click" this.showFilterModal}}
        >
          {{t "signaturesSection.filter-ministers"}}
        </Auk::Button>
      </Auk::Toolbar::Item>

      <Auk::Toolbar::Item>
        {{! bundle signature here}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-scroll-wrapper auk-scroll-wrapper--ovrb">
  <div class="auk-scroll-wrapper__body">
    {{#if this.model.length}}
      <table class="auk-table auk-table--sticky-header auk-table--sticky-ovrb">
        <thead>
          <tr>
            <th class="auk-u-text-nowrap">{{t "keyword"}}</th>
            {{!-- <Utils::ThSortable
              @label={{t "document-type"}}
              @field="sign-subcase.sign-marking-activity.piece.document-container.type.label"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            /> --}}
            {{!-- <Utils::ThSortable
              @label={{t "counselor"}}
              @field="creator"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            /> --}}
            <Utils::ThSortable
              @label={{t "util.date-approved"}}
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <Utils::ThSortable
              @label={{t "signaturesSection.signed-status"}}
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <th>{{! Actions}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |signFlow|}}
            <tr class="auk-table__row">
              <td>
                <p class="auk-u-muted">Decreet - {{moment-format
                  signFlow.decisionActivity.startDate
                  "DD-MM-YYYY"
                }}</p>
                <p>{{signFlow.signSubcase.signMarkingActivity.piece.name}}</p>
              </td>
              {{!-- <td>
                {{signFlow.signSubcase.signMarkingActivity.piece.documentContainer.type.label}}
              </td> --}}
              {{!-- <td>
                <Auk::Avatar @icon="user" @size="small">
                  {{signFlow.creator.fullName}}
                </Auk::Avatar>
              </td> --}}
              <td>
                {{moment-format
                  signFlow.decisionActivity.startDate
                  "DD-MM-YYYY"
                }}
              </td>
              <td>
                <Auk::StatusPill @status="not-started">Gemarkeerd voor handtekenen</Auk::StatusPill>
              </td>
              <td>
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="chevron-right"
                >
                  {{t "read"}}
                </Auk::Button>
                {{!-- <WebComponents::AuButtonToolbar>
                  <Auk::Button
                    @skin="borderless"
                    @layout="icon-only"
                    @icon="book"
                    @href={{signFlow.signSubcase.signMarkingActivity.piece.viewDocumentURL}}
                    target="_blank"
                  >
                    {{t "read"}}
                  </Auk::Button>
                  <DropdownMenu @skin="borderless" @icon="three-dots" as |Menu|>
                    <Menu.Item
                      {{on
                        "click"
                        (fn this.navigateToDecision signFlow.decisionActivity)
                      }}
                    >
                      {{t "consult-agendaitem-decision"}}
                    </Menu.Item>
                  </DropdownMenu>
                </WebComponents::AuButtonToolbar> --}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState @message={{t "no-results-found"}} />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>
<div>
  <hr />
</div>
<div class="auk-u-mx-4">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Pagination
          @page={{this.page}}
          @size={{this.size}}
          @nbOfItems={{this.model.length}}
          @total={{this.model.meta.count}}
          @onNextPage={{this.nextPage}}
          @onPreviousPage={{this.prevPage}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-showed"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{this.size}}
          @onChange={{this.setSizeOption}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#if this.isShowFilterModal}}
  <Signatures::SignaturesFilterModal
    @onCancel={{this.closeFilterModal}}
    @onSave={{this.closeFilterModal}}
  />
{{/if}}