<Auk::Navbar
  class="auk-signature-overview-navbar"
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signature-folder"}}
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="borderless"
        >
          {{t "clear-filter-plural"}}
        </Auk::Button>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @icon="filter"
          {{on "click" this.showFilterModal}}
        >
          {{t "signaturesSection.filter-ministers"}}
        </Auk::Button>
      </Auk::Toolbar::Item>

      <Auk::Toolbar::Item>
        {{! bundle signature here}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-scroll-wrapper auk-scroll-wrapper--ovrb {{if this.isShowSidebar "auk-scroll-wrapper--sidebar" ""}}">
  <div class="auk-scroll-wrapper__body">
    {{#if this.model.length}}
      <table class="auk-table auk-table--sticky-header auk-table--sticky-ovrb">
        <thead>
          <tr>
            <th class="auk-u-text-nowrap">{{t "keyword"}}</th>
            {{!-- <Utils::ThSortable
              @label={{t "document-type"}}
              @field="sign-subcase.sign-marking-activity.piece.document-container.type.label"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            /> --}}
            {{!-- <Utils::ThSortable
              @label={{t "counselor"}}
              @field="creator"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            /> --}}
            <Utils::ThSortable
              @label={{t "util.date-approved"}}
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <Utils::ThSortable
              @label={{t "signaturesSection.signed-status"}}
              @field="decision-activity.start-date"
              @currentSorting={{this.sort}}
              @onChange={{this.changeSorting}}
            />
            <th>{{! Actions}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |signFlow|}}
            <tr class="auk-table__row">
              <td>
                <p class="auk-u-muted">Decreet - {{moment-format
                  signFlow.decisionActivity.startDate
                  "DD-MM-YYYY"
                }}</p>
                <p>{{signFlow.signSubcase.signMarkingActivity.piece.name}}</p>
              </td>
              {{!-- <td>
                {{signFlow.signSubcase.signMarkingActivity.piece.documentContainer.type.label}}
              </td> --}}
              {{!-- <td>
                <Auk::Avatar @icon="user" @size="small">
                  {{signFlow.creator.fullName}}
                </Auk::Avatar>
              </td> --}}
              <td>
                {{moment-format
                  signFlow.decisionActivity.startDate
                  "DD-MM-YYYY"
                }}
              </td>
              <td>
                <Auk::StatusPill @status="not-started">Gemarkeerd voor handtekenen</Auk::StatusPill>
              </td>
              <td>
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="chevron-right"
                  {{on "click" this.showSidebar}}
                >
                  {{t "read"}}
                </Auk::Button>
                {{!-- <WebComponents::AuButtonToolbar>

                  <DropdownMenu @skin="borderless" @icon="three-dots" as |Menu|>
                    <Menu.Item
                      {{on
                        "click"
                        (fn this.navigateToDecision signFlow.decisionActivity)
                      }}
                    >
                      {{t "consult-agendaitem-decision"}}
                    </Menu.Item>
                  </DropdownMenu>
                </WebComponents::AuButtonToolbar> --}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState @message={{t "no-results-found"}} />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>

  {{#if this.isShowSidebar}}
  <div class="auk-scroll-wrapper__sidebar">
    <div class="auk-sidebar">
      <div class="auk-sidebar__header">
        <h4 class="auk-toolbar-complex__title">
          {{t "signaturesSection.sidebar-title"}}
        </h4>
        <Auk::Button
          @icon="x"
          @skin="borderless"
          @layout="icon-only"
          {{on "click" this.closeSidebar}}
        />
      </div>
      <div class="auk-sidebar__body">
        <Auk::StatusPill @status="not-started">Gemarkeerd voor handtekenen</Auk::StatusPill>
        <p class="auk-u-muted auk-u-mt-2">
          Decreet - 01-09-2021
        </p>
        <h5 class="auk-h4">60098</h5>
        <div class="auk-o-flex auk-o-flex--spaced-wide auk-u-mt-1">
          <Auk::ButtonLink
            @skin="borderless"
            @icon="external-link"
            @href={{signFlow.signSubcase.signMarkingActivity.piece.viewDocumentURL}}
            target="_blank"
            rel="noreferrer noopener"
          >
            {{t "util.preview"}}
          </Auk::ButtonLink>
          <Auk::ButtonLink
            @skin="borderless"
            @icon="document"
            {{on
              "click"
              (fn this.navigateToDecision signFlow.decisionActivity)
            }}
          >
            {{t "consult-agendaitem-decision"}}
          </Auk::ButtonLink>
        </div>
        <hr class="auk-hr" />
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <h5 class="auk-h4 auk-u-m-0"> {{t "signaturesSection.signature-needed-by"}}:</h5>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="borderless"
                @icon="plus"
              >
                {{t "signaturesSection.add-minister"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
        <div class="auk-panel">
          <Auk::List @bordered={{true}}>
            <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <span>Jan Jambon</span>
              <Auk::Button
                @skin="danger-borderless"
                @layout="icon-only"
                @icon="trash"
              >
                {{t "util.delete"}}
              </Auk::Button>
            </Auk::List::Item>
            <Auk::List::Item class="auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <span>Lydia Peeters</span>
              <Auk::Button
                @skin="danger-borderless"
                @layout="icon-only"
                @icon="trash"
              >
                {{t "util.delete"}}
              </Auk::Button>
            </Auk::List::Item>
          </Auk::List>
        </div>
      </div>
      <div class="auk-sidebar__footer">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="primary"
              >
                Handtekenen voorbereiden
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                @skin="danger-borderless"
              >
                Handtekenen annuleren
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </div>
    </div>
  </div>
  {{/if}}
</div>
<div>
  <hr />
</div>
<div class="auk-u-mx-4">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Pagination
          @page={{this.page}}
          @size={{this.size}}
          @nbOfItems={{this.model.length}}
          @total={{this.model.meta.count}}
          @onNextPage={{this.nextPage}}
          @onPreviousPage={{this.prevPage}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-showed"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{this.size}}
          @onChange={{this.setSizeOption}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{#if this.isShowFilterModal}}
  <Signatures::SignaturesFilterModal
    @onCancel={{this.closeFilterModal}}
    @onSave={{this.closeFilterModal}}
  />
{{/if}}