{{#if
  (and @subcase.case.id currentSession.isEditor)
}}
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="vl-u-display-flex vlc-u-flex-align-baseline">
      <LinkTo
        @route="cases.case.subcases.subcase.overview"
        @models={{array
          @subcase.case.id
          @subcase.id
        }}
        class="vl-link" >
        {{t "to-subcase"}}
      </LinkTo>
    </div>
  </div>
{{/if}}

<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vlc-u-display-flex-align-center">
    <h2 class="vlc-subline" data-test-subcase-type>
      {{#if (not @agendaitem.showAsRemark)}}
        {{t "note"}}
      {{else}}
        {{t "text"}}
      {{/if}}
    </h2>
    {{#if currentSession.isEditor}}
      <div class="vl-u-spacer-extended-left-s" data-test-agendaitem-edit-link>
        <a
          data-test-agendaitem-titles-edit
          href=""
          class="vl-link"
          {{action this.toggleIsEditingAction}}
        >
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>

<div class="vl-u-spacer-extended-bottom-s">
  <h4 class="vl-title vl-title--h4">
    <pre>
      {{@agendaitem.shortTitle}}
    </pre>
  </h4>
</div>

<div class="vl-u-spacer-extended-bottom-s">
  {{#if @shouldShowDetails}}
    <pre class="vlc-u-flex-inline-flex vlc-u-pre-line-wrap">
      {{@agendaitem.title}}
    </pre>
  {{/if}}
</div>

{{#if (not @agendaitem.showAsRemark)}}
  <div class="vl-u-spacer-extended-bottom-s">
    {{#if @subcase.subcaseName}}
      <span class={{this.pillClass}}>
        {{@subcase.subcaseName}}
      </span>
    {{/if}}
  </div>
  {{#if @agendaitem.retracted}}
    <div class="vl-u-spacer-extended-bottom-s">
      <div class="pill-container vl-u-display-flex">
        <span class="vl-pill vl-u-text--capitalize">
          {{t "postponed-item"}}
        </span>
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="pill-container vl-u-display-flex">
      <span
        class="vlc-pill {{if @newsletterInfo.inNewsletter "vlc-pill--success" "vlc-pill--error"}} vl-u-spacer-extended-right-s"
      >
        {{#if @newsletterInfo.inNewsletter}}
          <span>
            {{t "visible-in-newsletter"}}
          </span>
          <i class="vl-button__icon ki-visible vl-u-spacer-extended-left-s"></i>
        {{else}}
          <span>
            {{t "hidden-in-newsletter"}}
          </span>
          <i class="vl-button__icon ki-hide vl-u-spacer-extended-left-s"></i>
        {{/if}}
      </span>
    </div>
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <div
    class="pill-container vl-u-display-flex"
    data-test-agenda-subcasehidden-pill
  >
    {{#if
      (and @agendaitem.isDesignAgenda (and currentSession.isEditor @agendaitem.formallyOkToShow))
    }}
      <span
        class="{{@agendaitem.formallyOkToShow.pillClassNames}}
        vl-u-spacer-extended-right-s"
      >
        {{@agendaitem.formallyOkToShow.label}}
      </span>
    {{/if}}
    {{#if (await @subcase)}}
      {{#if (await @subcase.confidential)}}
        <i data-test-agenda-subcase-confidential class="vlc-pill vl-icon vlc-pill--error ki-lock-closed"></i>
      {{else}}
        <i
          class="vlc-pill vl-u-spacer-extended-right-s vl-icon vlc-pill--success ki-lock-open"
        ></i>
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  {{#if @agendaitem.explanation}}
    <pre class="vl-u-text--muted vlc-u-flex-inline-flex vlc-u-pre-line-wrap">
      {{t "remark-title"}}: {{@agendaitem.explanation}}
    </pre>
  {{/if}}
</div>