{{page-title
  (if this.showDraft "Klad ")
  (t "newsletter-overview-pdf-name")
  " "
  (moment-format this.meeting.plannedStart)
  replace=true
}}
<div class="auk-scroll-wrapper__body vlc-hide-scrollbar-on-print">
  <div class="auk-u-m-8 auk-u-m-0@print">
    <div class="auk-container auk-container--center l-printable-newsletter">
      <Utils::LogoHeader />
      <Newsletter::NewsletterMeeting
        data-test-newsletter-print---newslettermeeting
        @allowEditing={{not this.showDraft}}
        @meeting={{this.meeting}}
      />
      <h1 class="auk-h1 auk-u-text-family-serif">
        {{t "agendaitems-subtitle"}}
      </h1>
      {{#each this.model.notas as |agendaitem|}}
        {{#let (await agendaitem.treatment.newsletterInfo) as |newsletterItem|}}
          <div class="auk-u-mb-10">
            <NewsletterItem::Print
              @newsletterItem={{newsletterItem}}
              @agendaitem={{agendaitem}}
              @isDraftView={{this.showDraft}}
              @onSave={{perform this.saveNewsletterItem newsletterItem}}
            />
          </div>
        {{/let}}
      {{/each}}
      {{#if this.model.announcements.length}}
        <h2 class="auk-h1">
          {{t "announcements-subtitle"}}
        </h2>
        {{#each this.model.announcements as |agendaitem|}}
          {{#let (await agendaitem.treatment.newsletterInfo) as |newsletterItem|}}
            <div class="auk-u-mb-10">
              <NewsletterItem::Print
                @newsletterItem={{newsletterItem}}
                @agendaitem={{agendaitem}}
                @isDraftView={{this.showDraft}}
                @onSave={{perform this.saveNewsletterItem newsletterItem}}
              />
            </div>
          {{/let}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>