{{page-title
  (if this.showDraft "Klad ")
  (t "newsletter-overview-pdf-name")
  " "
  (date this.meeting.plannedStart)
  replace=true
}}
<div class="auk-scroll-wrapper__body vlc-hide-scrollbar-on-print">
  <div class="auk-u-m-8 auk-u-m-0@print">
    <div class="auk-container auk-container--center l-printable-newsletter">
      <Utils::LogoHeader />
      <Newsletter::NewsletterPrintHeader
        @meeting={{this.meeting}}
      />
      <h1 class="auk-h1 auk-u-text-family-serif">
        {{t "agendaitems-subtitle"}}
      </h1>
      {{#each this.model.notas as |nota|}}
        <div class="auk-u-mb-10">
          <NewsItem::Print
            @newsItem={{nota.newsItem}}
            @agendaitem={{nota.agendaitem}}
            @isDraftView={{this.showDraft}}
            @onSave={{perform this.saveNewsItem nota.newsItem}}
          />
        </div>
      {{/each}}
      {{#if this.model.announcements.length}}
        <h2 class="auk-h1">
          {{t "announcements-subtitle"}}
        </h2>
        {{#each this.model.announcements as |announcement|}}
          <div class="auk-u-mb-10">
            <NewsItem::Print
              @newsItem={{announcement.newsItem}}
              @agendaitem={{announcement.agendaitem}}
              @isDraftView={{this.showDraft}}
              @onSave={{perform this.saveNewsItem announcement.newsItem}}
            />
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>