{{#if (not item.showAsRemark)}}
  <div class="vl-u-spacer">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "public")}}
      {{utils/model-selector
        modelName="confidentiality"
        searchField="label"
        propertyToShow="label"
        sortField="label"
        selectedItems=(await confidentiality)
        selectModel=(action "selectConfidentiality")
      }}
    </div>
  </div>
{{/if}}
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "name-subcase")}}
    {{textarea rows="2" class="vl-textarea vl-textarea--block" value=shortTitle
    }}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "public")}}
      {{web-components/vl-toggle value=confidential}}
    </div>    
</div>
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title-subcase")}}
    {{textarea rows="4" class="vl-textarea vl-textarea--block" value=title}}
  </div>
</div>
{{#if (not item.showAsRemark)}}
  <div class="vl-u-spacer">
    <div class="vlc-input-field-block">
      <label class="vl-checkbox vl-checkbox__box">
        {{input class="vl-checkbox__toggle" type="checkbox" checked=formallyOk}}
        <div class="vl-checkbox__label">
          <i class="vl-checkbox__box"></i>
          <span class="vl-annotation">
            {{t "formal-ok"}}
          </span>
        </div>
      </label>
    </div>
  </div>
{{/if}}
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "toggleIsEditing"}}>
    {{t "cancel"}}
  </a>
  <button class="vl-button vl-button--narrow" {{action "saveChanges"}}>
    {{t "save"}}
  </button>
</div>