<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "public")}}
    {{web-components/vl-toggle value=confidential}}
  </div>
</div>
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "name-subcase")}}
    {{textarea rows="2" class="vl-textarea vl-textarea--block" value=shortTitle
    }}
  </div>
</div>
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title-subcase")}}
    {{textarea rows="4" class="vl-textarea vl-textarea--block" value=title}}
  </div>
</div>
{{#if isAgendaItem}}
  {{#if (not (await item.isOC))}}
    {{utils/formally-ok-selector
      formallyOk=formallyOk
      setAction=(action "setAction")
    }}
  {{/if}}
{{/if}}
<div class="vl-action-group vl-action-group--align-right">
  <a
    class="vl-button vl-button--tertiary vl-button--narrow"
    {{action "cancelEditing"}}
  >
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>