{{#if (not isAgendaItem)}}
  <div class="vl-u-spacer">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "confidential")}}
      {{web-components/vl-toggle value=confidential}}
    </div>
  </div>
  <div class="vl-u-spacer-extended-bottom-s">
    {{web-components/vl-form-label value=(t "publicity")}}
    {{utils/model-selector
      modelName="access-level"
      allowClear=true
      searchField="label"
      propertyToShow="label"
      readOnly=confidential
      sortField="label"
      selectedItems=accessLevel
      selectModel=(action "setAccessLevel")
    }}
  </div>
{{/if}}
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "name-subcase")}}
    {{textarea rows="2" class="vl-textarea vl-textarea--block" value=shortTitle
    }}
  </div>
</div>
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title-subcase")}}
    {{textarea rows="4" class="vl-textarea vl-textarea--block" value=title}}
  </div>
</div>
{{#if isAgendaItem}}
  <div class="vl-u-spacer">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "explanation")}}
      {{textarea rows="2" class="vl-textarea vl-textarea--block" value=item.explanation}}
    </div>
  </div>
  {{#if isRemark}}
    <div class="vl-u-spacer">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "show-in-newsletter")}}
        {{web-components/vl-toggle value=showInNewsletter}}
      </div>
    </div>
  {{/if}}
{{/if}}
<div class="vl-action-group vl-action-group--align-right">
  <a
    class="vl-button vl-button--tertiary vl-button--narrow"
    {{action "cancelEditing"}}
  >
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>