<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "subcases.name-subcase")}}
    {{textarea rows="2" class="vl-textarea vl-textarea--block" value=shortTitle
    }}
  </div>
</div>
<div class="vl-u-spacer">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "subcases.title-subcase")}}
    {{textarea rows="4" class="vl-textarea vl-textarea--block" value=title}}
  </div>
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a class="vl-link" {{action "toggleIsEditing"}}>
    {{t "buttons.cancel"}}
  </a>
  <button class="vl-button vl-button--narrow" {{action "saveChanges"}}>
    {{t "buttons.save"}}
  </button>
</div>