<Utils::Generic::Timeline::Event @badgeIcon="mail" @badgeSkin="primary">
  <Auk::AccordionPanel @isDefaultActive={{true}} as |AccordionPanel|>
    <AccordionPanel.Header
      @size="large"
      @title={{t "publication-publication-timeline-request-event-title"}}
      @subtitle={{moment-format @requestActivity.startDate}}
      as |Header|
    >
      <Header.Actions as |Actions|>
        <Actions.Item>
          <DropdownMenu
            @skin="borderless"
            @icon="three-dots"
            @disabled={{and this.loadData.isIdle this.isDeleteDisabled}}
            as |Menu|
          >
            {{!avoid render issues}}
            {{#if this.loadData.isIdle}}
              <Menu.Item
                @skin="danger"
                @disabled={{this.isDeleteDisabled}}
                {{on "click" this.openConfirmDeleteAlert}}
              >
                {{t "delete"}}
              </Menu.Item>
            {{/if}}
          </DropdownMenu>
        </Actions.Item>
      </Header.Actions>
    </AccordionPanel.Header>
    <AccordionPanel.Body>
      <div class="auk-o-flex auk-o-flex--horizontal auk-o-flex--spaced-wide">
        {{#each @requestActivity.usedPieces as |piece|}}
          {{!TODO new design without ButtonLink}}
          <Auk::ButtonLink @icon="paperclip">
            {{piece.file.filename}}
          </Auk::ButtonLink>
          <Auk::ButtonLink
            @layout="icon-only"
            @icon="download"
            @href={{piece.file.namedDownloadLink}}
            download={{piece.file.downloadFilename}}
          >
            {{t "download"}}
          </Auk::ButtonLink>
          <Auk::ButtonLink
            @layout="icon-only"
            @icon="book"
            @href={{piece.viewDocumentURL}}
            target="_blank"
          >
            {{t "read"}}
          </Auk::ButtonLink>
        {{/each}}
      </div>
      {{#if @requestActivity.email}}
        <div class="auk-hr"></div>
        <div class="auk-content">
          <h4 class="auk-u-m-0">{{t "subject"}}</h4>
          <p>{{@requestActivity.email.subject}}</p>
          <h4 class="auk-u-m-0">{{t "message"}}</h4>
          {{! p-tag opening and closing on 1 line to prevent whitespace to be rendered. }}
          {{! template-lint-disable no-inline-styles }}
          <p class="auk-u-text-pre-line">{{@requestActivity.email.message}}</p>
          {{! template-lint-enable no-inline-styles }}
        </div>
      {{/if}}
    </AccordionPanel.Body>
  </Auk::AccordionPanel>
</Utils::Generic::Timeline::Event>

{{#if this.isOpenConfirmDeleteAlert}}
  <Utils::Generic::AlertDialog
    @use="delete"
    @title={{t "delete-publication-request"}}
    @message={{t "delete-publication-request-message"}}
    @onCancel={{this.closeConfirmDeleteAlert}}
    @onConfirm={{perform this.delete}}
  />
{{/if}}