{{#power-select
  options=subcases
  placeholder=(t 'agendaitem-search.search-placeholder')
  selected=currentSession
  searchField="plannedstart"
  search=(perform searchTask)
  oninput=(action "resetValue")
  onchange=(action "chooseItem") as |agendaitem|
}}
  {{agendaitem.title}}
{{/power-select}}
<button class="invert-color" {{action "navigateToSubCases"}}>
  {{fa-icon "plus"}}
  {{t "buttons.add-case"}}
</button>

<button class="invert-color" {{action "navigateToCreateAnnouncement"}}>
  {{fa-icon "plus"}}
  {{t "buttons.create-announcement"}}
</button>