{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "phases"}}
      </h4>
      {{#if isEditor}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (gt (await phasesToShow.length) 0)}}
    <div class="vl-custom">
      <ul>
        {{#each (await phasesToShow) as |phase|}}
          <li class="vl-pill vl-u-spacer-extended-right-s">
            {{await phase.code.label}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    <div class="vl-u-spacer-extended-top-s">
      {{web-components/vl-alert message=(t "no-themes-yet")}}
    </div>
  {{/if}}
{{else}}
  <div class="vl-form__group vl-u-bg-porcelain">
    <div class="vl-u-spacer">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "phases")}}
        {{utils/model-selector
          modelName="subcase-phase-code"
          searchField="label"
          propertyToShow="label"
          multiSelect=false
          sortField="label"
          selectedItems=selectedPhase
          selectModel=(action "choosePhase")
        }}
      </div>
    </div>
    <div class="vl-action-group vl-action-group--align-right">
      <a class="vl-link" {{action "cancelEditing"}}>
        {{t "cancel"}}
      </a>
      {{web-components/vl-save-button
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "saveChanges")
      }}
    </div>
  </div>
{{/if}}