{{#if model.shortTitle}}
  {{title model.shortTitle}}
{{else if model.title}}
  {{title model.title}}
{{else}}
  {{title model.subcaseName}}
{{/if}}
<div class="vl-u-bg-alt">
  {{subcases/subcase-header subcase=model}}
</div>
<div class="vlc-scroll-wrapper__body">
  <div class="auk-u-m-8">
    {{outlet}}
  </div>
</div>