{{#if this.model.shortTitle}}
  {{page-title this.model.shortTitle}}
{{else if this.model.title}}
  {{page-title this.model.title}}
{{else}}
  {{page-title (capitalize this.model.subcaseName)}}
{{/if}}
<div class="auk-u-bg-alt">
  <Subcases::SubcaseHeader @subcase={{this.model}} @onMoveSubcase={{this.refreshSubcases}} />
</div>
<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    {{outlet}}
  </div>
</div>