<Auk::Modal>
  <Auk::Modal::Header
    @title={{if
      @isNewDocumentContainer
      (t
        "upload-reference-document"
        identifier=@publicationFlow.identification.idName
      )
      (t
        "upload-reference-document-version"
        referenceDocument=@referenceDocument.name
        identifier=@publicationFlow.identification.idName
      )
    }}
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >

      <Auk::FileUploader @onUpload={{this.onUploadFile}} />

      {{! File details }}
      {{#if this.file}}
        <div class="auk-u-mt-4">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-11">
              <div
                class="auk-form-group-layout auk-form-group-layout--horizontal"
              >
                <div class="auk-form-group {{this.validators.name.errorClass}}">
                  <Auk::Label for="proofUploadName" @required={{true}}>
                    {{t "name"}}
                  </Auk::Label>
                  <Auk::Input
                    data-test-proof-upload-name
                    id="proofUploadName"
                    @value={{mut this.name}}
                    {{on "input" this.validators.name.enableError}}
                  />
                </div>
                <div class="auk-form-group">
                  <Auk::Label>{{t "file-type"}}</Auk::Label>
                  <Utils::Documents::FileTypePill
                    @extension={{this.file.extension}}
                  />
                </div>
                <div class="auk-form-group">
                  <Auk::Label>{{t "pages-amount"}}</Auk::Label>
                  {{! template-lint-disable no-inline-styles }}
                  <Auk::Input
                    @type="number"
                    @width="xsmall"
                    style="flex-grow: 0"
                    @value={{mut this.number}}
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.isCancelDisabled}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      data-test-proof-upload-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>