<div class="auk-u-mb-4">
  <Auk::Panel class="auk-panel--editing">
    <Auk::Panel::Body>
      <div class="auk-u-mb-4">
        <div class="auk-form-group">
          <Auk::Label id="name-subcase">{{t "name-subcase"}}</Auk::Label>
          <Textarea
            data-test-agendaitem-titles-edit-shorttitle={{true}}
            rows="2"
            aria-labelledby="name-subcase"
            class="auk-textarea"
            @value={{@agendaitem.shortTitle}}
          />
        </div>
      </div>
      <div>
        <div class="auk-form-group">
          <Auk::Label id="title-subcase">{{t "title-subcase"}}</Auk::Label>
          <Textarea
            data-test-agendaitem-titles-edit-title={{true}}
            rows="4"
            aria-labelledby="title-subcase"
            class="auk-textarea"
            @value={{@agendaitem.title}}
          />
        </div>
      </div>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-agendaitem-titles-edit-cancel
              @skin="naked"
              {{on "click" this.cancelEditing}}
            >
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-agendaitem-titles-edit-save={{true}}
              @skin="primary"
              @loading={{this.saveChanges.isRunning}}
              {{on "click" (perform this.saveChanges)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  </Auk::Panel>
</div>

{{#if this.saveChanges.isRunning}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header @title={{t "saving-change-message"}} @closeable={{false}} />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "please-be-patient"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}