<div class="vlc-navbar vlc-navbar--bordered-bottom vlc-navbar--no-padding vlc-navbar--bg-alt vlc-navbar--auto"
     id="c-main-nav">
  <div class="vlc-toolbar vlc-toolbar--auto vlc-toolbar--slide-in">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <ul class="vl-tabs vl-u-reset-margin">
          {{#if hasPublicationsEnabled}}
            <li class="vl-tab" data-test-m-header-publications>
              {{#link-to
                "publications"
                class="vl-tab__link"
              }}
                {{t "publications"}}
              {{/link-to}}
            </li>
          {{/if}}
          <li class="vl-tab" data-test-m-header-agendas>
            {{#link-to
              "agendas.overview"
              class="vl-tab__link"
              current-when="agendas agenda print-overviews.decisions print-overviews.press-agenda"
            }}
              {{t "agendas"}}
            {{/link-to}}
          </li>
          <li class="vl-tab" data-test-m-header-cases>
            {{#link-to "cases" class="vl-tab__link"}}
              {{t "cases"}}
            {{/link-to}}
          </li>
          <li class="vl-tab" data-test-m-header-newsletters>
            {{#link-to
              "newsletters"
              class="vl-tab__link"
              current-when="newsletters newsletter print-overviews.newsletter"
            }}
              {{t "newsletter"}}
            {{/link-to}}
          </li>
          <li class="vl-tab" data-test-m-header-search>
            <LinkTo
              class="vl-tab__link"
              @route="search.index"
              @current-when="search"
            >
              {{!-- TODO: magnifying glass icon --}}
              {{capitalize (t "search")}}
            </LinkTo>
          </li>
          {{#if currentSession.isEditor}}
            <li class="vl-tab" data-test-m-header-settings>
              {{#link-to "settings.overview" class="vl-tab__link"}}
                {{t "settings"}}
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__right">
        {{#if showEnvironmentName}}
          <div class="vlc-environment-pill {{environmentClass}}">
            {{environmentName}}
            {{capitalize (t "environment")}}
          </div>
        {{/if}}
      </div>
      <div class="vlc-toolbar__item">
        {{#if currentSession.userContent}}
          <div class="vlc-user">
            <div class="vlc-user__username">
              {{currentSession.userContent.firstName}}
              {{currentSession.userContent.lastName}}
              ({{currentSession.userRole}})
            </div>
            <a href="" class="vlc-user__action" {{action "logout"}}>
              {{t "sign-out"}}
            </a>
          </div>
        {{else}}
          <div class="vlc-user">
            <div class="vlc-user__username"></div>
            {{#link-to "login" class="vlc-user__action"}}
              {{t "login"}}
            {{/link-to}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>