<div class="vlc-document-card vl-u-spacer-extended-bottom-s">
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <div class="vlc-toolbar vlc-toolbar--auto">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <p class="vlc-subline vlc-document-card__subline">
              {{await @documentContainer.type.label}}
            </p>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item vl-u-display-flex">
            {{#if @treatment.report}}
              <AccessLevelPill @lastPiece={{await @treatment.report}} />
            {{/if}}
          </div>
          <div class="vlc-toolbar__item">
            {{#if currentSession.isEditor}}
              <button
                      class="vl-button vl-button--link vl-button--icon"
                      data-test-documents-show-more
                      type="button"
              >
                <i class="ki-more"></i>
                {{#attach-popover
                  class="ember-attacher-popper"
                  hideOn="clickout click"
                  showOn="click"
                  animation="shift"
                  placement="bottom"
                as |attacher|
                }}
                  <ul class="vlc-dropdown-menu">
                    <li class="vlc-dropdown-menu__item">
                      <a class="vl-link vl-link--block"
                         href=""
                         data-test-document-upload-new-piece
                        {{action attacher.hide}}
                        {{action this.openUploadDialog @documentContainer}}
                      >
                        {{t "new-version"}}
                      </a>
                    </li>
                    <li class="vlc-dropdown-menu__item">
                      <a class="vl-link vl-link--block"
                         href=""
                        {{action attacher.hide}}
                        {{action this.startEditingName}}
                      >
                        {{t "document-title-edit"}}
                      </a>
                    </li>
                    <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                    <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                      <a class="vl-link vl-link--block vl-u-text--error"
                         href=""
                        {{action attacher.hide}}
                        {{action this.deleteDocumentContainer @documentContainer}}
                      >
                        {{t "document-delete"}}
                      </a>
                    </li>
                  </ul>
                {{/attach-popover}}
              </button>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="vl-u-display-flex">
        <div class="vlc-document-card__badge
          {{if
            @documentContainer.checkAdded
            "vlc-document-list__item vlc-document-list__item--active"
          }}"
        >
          <div class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper">
            <i class="vl-badge__icon ki-document" aria-hidden="true"></i>
          </div>
        </div>
        <div class="vl-u-display-flex vlc-u-flex-direction-column vlc-u-box-model-maximize-width">
          {{#if (not isEditing)}}
            <h6 class="vl-title vl-title--h6">
              <span {{action this.startEditingName}}>
                {{@treatment.report.name}}
              </span>
            </h6>
          {{else}}
            <div class="vl-u-display-flex vlc-u-display-flex-align-center">
              {{input
                type="text"
                class="vl-input-field vl-input-field--block"
                value=this.nameBuffer
              }}
              <button
                class="vl-button vl-button--link vl-button--icon"
                type="button"
                {{action this.saveNameChange }}
              >
                <i
                  class="ki-check vl-button__icon"
                  aria-hidden="true"
                ></i>
                <span class="vl-u-visually-hidden">
                  {{t "more-options"}}
                </span>
              </button>
              <button
                class="vl-button vl-button--link vl-button--icon"
                type="button"
                {{action this.cancelEditingName}}
              >
                <i
                  class="ki-cross vl-button__icon"
                  aria-hidden="true"
                ></i>
                <span class="vl-u-visually-hidden">
                  {{t "more-options"}}
                </span>
              </button>
            </div>
          {{/if}}
          <div class="vlc-document-card-content__meta">
            {{t "uploaded-at"}}
            {{moment-format (await @treatment.report.created)}}
            {{t "at"}}
            {{moment-format (await @treatment.report.created) "HH:mm"}}
            {{#if (await @treatment.report.accessLevelLastModified)}}
              <div>
                {{t "access-level-last-modified"}}
                {{moment-format (await @treatment.report.accessLevelLastModified)}}
                {{t "at"}}
                {{moment-format
                  (await @treatment.report.accessLevelLastModified)
                  "HH:mm"
                }}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if (await @documentContainer.sortedPieces)}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{this.openClass}}">
        <button
          class="vl-toggle vl-link vl-link--bold"
          type="button"
          {{action this.showPieces}}
        >
          <i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"
          ></i>
          {{t "show-pieces"}}
        </button>
        {{#if this.isShowingPieces}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each
                @documentContainer.reverseSortedPieces
              as |piece|
              }}
                <WebComponents::VlDocument
                  @piece={{piece}}/>
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
{{#if this.isUploadingNewPiece}}
  <WebComponents::VlModal
    @closeModal={{action this.cancelUploadPiece}}
    @isOverlay={{true}}
    @title={{t "new-document-piece"}}>
    <div class="vl-modal-dialog__content">
      {{#if (not this.uploadedFile)}}
        <FileUploader @multipleFiles={{false}} @uploadedFileAction={{action this.add}}/>
      {{else}}
        <WebComponents::VlFormLabel @value={{t "name"}} />
        <WebComponents::VlFormInput
          @value={{this.pieceInCreation.name}}
          @width={{4}} />
        {{ember-kaleidos-webuniversum/vl-uploaded-document
          name=this.pieceInCreation.file.filename
          extension=this.pieceInCreation.file.extension
          size=this.pieceInCreation.file.size
          downloadName=this.pieceInCreation.file.filename
          downloadLink=(concat
                  this.pieceInCreation.file.downloadLink
            "?name="
                  this.pieceInCreation.file.filename
          )
          delete=(action this.delete this.pieceInCreation)
        }}
      {{/if}}
    </div>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @isLoading={{this.isLoading}}
      @cancelAction={{action this.cancelUploadPiece}}
      @saveAction={{action this.savePiece}}
      @disableSave={{not (and this.uploadedFile this.pieceInCreation.file.filename)}} />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{action this.cancel}}
    @verify={{action this.verify}} />
{{/if}}
