{{page-title (t "cases")}}
{{cases/cases-header isAddingCase=isAddingCase close=(action "close")}}
<div class="vlc-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h2 class="auk-h2">{{t "my-cases"}}</h2>
        </div>
      </div>

      <div class="vlc-toolbar__right">
        {{#if this.currentSession.isEditor}}
          <div class="vlc-toolbar__item auk-u-flex auk-u-flex--vertical-center">
            <WebComponents::AuLabel class="auk-u-text-nowrap" for="isArchived">{{t "show-archived"}}</WebComponents::AuLabel>
            {{web-components/vl-toggle value=this.showArchived}}
          </div>
        {{/if}}
      </div>
    </div>
    {{#data-table
      content=(await model)
      page=page
      noDataMessage=(t "no-results-found")
      size=size
      sort=sort
      class="auk-table auk-table--striped"
      isLoading=isLoadingModel
    as |table|
    }}
      {{#table.content as |c|}}
        {{#c.header}}
          <th class="auk-table__col--9 vl-data-table__header-title">
            {{t "case-name"}}
          </th>
          {{th-sortable
            class="auk-table__col--1 vl-data-table__header-title"
            currentSorting=this.sort
            field="created"
            label=(t "created-on")
          }}
          <th class="auk-table__col--1"></th>
        {{/c.header}}
        {{#c.body class="tr-hover" as |row|}}
          <td onclick={{action "navigateToCase" row}}>
            <p>
              {{#if row.shortTitle}}
                {{row.shortTitle}}
              {{else}}
                {{row.title}}
              {{/if}}
            </p>
          </td>
          <td onclick={{action "navigateToCase" row}}>
            {{moment-format row.created "DD-MM-YYYY HH:mm"}}
          </td>
          <td class="auk-u-text-align--right">
            {{#if currentSession.isEditor}}
              <button type="button"
                      class="vl-button vl-button--link vl-button--icon">
                <i class="vl-button__icon ki-more"
                ></i>
                {{#attach-popover
                  renderInPlace=true
                  class="ember-attacher-popper"
                  hideOn="clickout click"
                  showOn="click"
                  animation="shift"
                  placement="bottom"
                as |attacher|
                }}
                  <ul class="vlc-dropdown-menu">
                    <li class="vlc-dropdown-menu__item">
                      <button type="button" class="auk-button-link"
                        {{action attacher.hide}}
                        {{action "editRow" row}}
                      >
                        {{t "edit-case"}}
                      </button>
                    </li>
                    <li class="vlc-dropdown-menu__item">
                      {{#if (not row.isArchived)}}
                        <a href="" class="auk-button-link auk-button-link--block"
                          {{action attacher.hide}}
                          {{action "requestArchiveCase" row}}
                        >
                          {{t "archive-case"}}
                        </a>
                      {{else}}
                        <a href="" class="auk-button-link auk-button-link--block"
                          {{action attacher.hide}}
                          {{action "unarchiveCase" row}}
                        >
                          {{t "unarchive-case"}}
                        </a>
                      {{/if}}
                    </li>
                  </ul>
                {{/attach-popover}}
              </button>
            {{/if}}
            {{#link-to
              "cases.case.subcases"
              row.id
              class="vl-button vl-button--link vl-button--icon"
            }}
              <i class="vl-button__icon ki-nav-right"></i>
            {{/link-to}}
          </td>
        {{/c.body}}
      {{/table.content}}
    {{/data-table}}
  </div>
</div>
{{#if isEditingRow}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "edit-case")
    closeModal=(action "cancelEditing")
  }}
    {{cases/edit-case
      caseToEdit=caseToEdit
      cancelEditing=(action "cancelEditing")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isArchivingCase}}
  {{web-components/vl-modal-verify
    title=(t "archive-case")
    message=(t "archive-case-message")
    cancel=(action "cancelArchiveCase")
    verify=(action "archiveCase")
  }}
{{/if}}