{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vlc-u-flex-align-baseline">
      <h2 class="vl-title vl-title--h3">
        {{t "prepared-text-minutes"}}
      </h2>
      {{#if this.currentSessionService.isEditor}}
        <div class="vl-u-spacer-extended-left-s">
          <a href="" class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="vl-u-spacer-extended-bottom-s">
    <h3 class="vl-title vl-title--h6">
      {{t "notes-of-agendaitem"}}
    </h3>
  </div>
  <div class="vl-typography">
    <p>
      {{sanitize-html raw=true value=(await agendaitem.meetingRecord.richtext)}}
    </p>
  </div>
  <div class="vlc-hr"></div>
  {{#if (is-pending agendaitem.meetingRecord.signedDocumentContainer)}}
    <WebComponents::VlLoader @text={{t "minutes-document-loading-text"}} />
  {{else if (not (await signedDocumentContainer))}}
    <Utils::AddDocumentContainer
      @meetingRecordOrDecision={{agendaitem.meetingRecord}}
      @modelToAddPieceTo="signedMinutes"
      @title={{t "signed-notes-add"}} />
  {{else}}
    <Agenda::Agendaitem::AgendaitemCase::SubcaseDocument::DocumentLink
      @documentContainer={{await agendaitem.meetingRecord.signedDocumentContainer}}
      @subcaseAgendaitemMeetingOrDocumentContainer={{await agendaitem.meetingRecord.signedDocumentContainer}} />
  {{/if}}
{{else}}
  <Agenda::Agendaitem::AgendaitemMinutesEdit
    @isEditing={{isEditing}}
    @agendaitem={{agendaitem}} />
{{/if}}