<li class="vlc-document-list__item
{{if
  document.checkAdded
  "vlc-document-list__item vlc-document-list__item--active"
}}">
{{#if (is-pending lastDocumentVersion)}}
  <div class="skeletal-loader" role="alert" aria-busy="true"></div>
{{else if isClickable}}
  <a href="" {{action "showDocumentVersionViewer" lastDocumentVersion}}>
    <i class="vl-badge__icon
      {{if document.checkAdded "ki-document-added"}}
      {{if (await lastDocumentVersion.confidential) "vl-vi-lock" "ki-document"}}">
    </i>
    {{await lastDocumentVersionName}}
  </a>
{{else}}
  <span>
    <i class="vl-badge__icon
      {{if document.checkAdded "ki-document-added" "ki-document"}}">
    </i>
    {{await lastDocumentVersionName}}
  </span>
{{/if}}
</li>
{{yield}}
