<div class="u-m-4">
  <div class="u-mb-3">
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "publication-inscription"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton @skin="tertiary" @icon="edit" @layout="icon-only"/>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuPanel::Header>
      <WebComponents::AuPanel::Body>
        <div class="auk-content">
          <h4>{{getShortTitle}}</h4>
          <p>{{getLongTitle}}</p>
        </div>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  </div>
  <div class="u-mb-3">
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "ministers-policy-fields"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton @skin="tertiary" @icon="plus">{{t "add-minister"}}</WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuPanel::Header>
      <WebComponents::AuPanel::Body @noPadding="true">
        <table class="auk-table">
          <thead>
            <tr>
              <th>{{t "minister"}}</th>
              <th>{{t "policy-domain-policy-fields"}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="o-flex o-flex--vertical-center">
                <WebComponents::AuBadge @icon="ki-user" /> <span class="u-mx-2">{{t "cancel"}}</span>
              </td>
              <td>
                <span>{{t "cancel"}}</span>
                <span class="u-muted">{{t "cancel"}}</span>
              </td>
              <td class="vl-u-align-right">
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  type="button"
                >
                  <i class="ki-more"></i>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="left"
                    as |attacher|
                  >
                    <ul class="vlc-dropdown-menu">
                      <li class="vlc-dropdown-menu__item">
                        <button class="vl-link vl-link--block" type="button"
                          {{on "click" attacher.hide}}
                        >
                          {{t "edit-2"}}
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                        <button class="vl-link vl-link--block vl-u-text--error" type="button"
                          {{on "click" attacher.hide}}
                        >
                          {{t "delete-minister"}}
                        </button>
                      </li>
                    </ul>
                  </AttachPopover>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  </div>

  <div class="u-mb-3">
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "contacts"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton @skin="tertiary" @icon="plus">{{t "add-contact"}}</WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuPanel::Header>
      <WebComponents::AuPanel::Body @noPadding="true">
        <DataTable
            @content={{this.model.person}}
            @noDataMessage={{t "no-results-found"}}
            @isLoading={{this.isLoadingModel}}
            @class="auk-table auk-table--disable-bottom-border"
            as |table|
        >
          <table.content as |c|>
            <c.header>
              <th>{{t "name"}}</th>
              <th>{{t "email"}}</th>
              <th></th>
            </c.header>
            <c.body class="tr-hover" as |row|>
              <td class="o-flex o-flex--vertical-center">
                <WebComponents::AuBadge @icon="ki-user"/>
                <span class="u-mx-2">{{row.nameToDisplay}}</span>
                <span class="u-mx-2">{{row.mandatee.title}}</span>
              </td>
              <td>
                {{t "cancel"}}
              </td>
              <td class="vl-u-align-right">
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  type="button"
                >
                  <i class="ki-more"></i>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="left"
                    as |attacher|
                  >
                    <ul class="vlc-dropdown-menu">
                      <li class="vlc-dropdown-menu__item">
                        <button class="vl-link vl-link--block" type="button"
                          {{on "click" attacher.hide}}
                        >
                          {{t "edit-2"}}
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                        <button class="vl-link vl-link--block vl-u-text--error" type="button"
                          {{on "click" attacher.hide}}
                        >
                          {{t "delete-contact"}}
                        </button>
                      </li>
                    </ul>
                  </AttachPopover>
                </button>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  </div>
</div>