<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{page-title (capitalize (t "case")) }}

    <Publications::Publication::Case::Inscription::InscriptionPanel
      @publicationFlow={{this.model}}
      @isViaCouncilOfMinisters={{this.isViaCouncilOfMinisters}} />

    <Publications::Publication::Case::Mandatees::MandateesPanel
      @publicationFlow={{this.model}} />

    <Publications::Publication::Case::GovernmentFields::GovernmentFieldsPanel
      @publicationFlow={{@model}} />

    <Publications::Publication::Case::ConctactPersons::ContactPersonsPanel
      @publicationFlow={{this.model}} />
  </div>
</div>
