<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    {{page-title (capitalize (t "case")) }}

    <Publications::Publication::Case::InscriptionPanel
      @publicationFlow={{this.model}}
      @isViaCouncilOfMinisters={{this.isViaCouncilOfMinisters}} />

    <Publications::Publication::Case::MandateesPanel
      @publicationFlow={{this.model}} />

    <Publications::Publication::Case::ContactPersonsPanel
      @publicationFlow={{this.model}} />
  </div>
</div>