{{page-title (capitalize (t "case")) }}

<div class="auk-u-m-4">
  <Publications::Publication::Case::PublicationInfo @publicationFlow={{this.model}}  @didChange={{this.saveSidebarProperty}} />

  <div class="auk-u-mb-4 auk-u-mt-4">
    <Publications::Publication::Case::Inscription::InscriptionPanel
      @publicationFlow={{@model}}
      @isViaCouncilOfMinisters={{this.isViaCouncilOfMinisters}} />

    <Publications::Publication::Case::Mandatees::MandateesPanel
      @publicationFlow={{@model}} />

    <Publications::Publication::Case::GovernmentFields::GovernmentFieldsPanel
      @publicationFlow={{@model}} />

    <Publications::Publication::Case::ContactPersons::ContactPersonsPanel
      @publicationFlow={{@model}} />
  </div>
</div>
