{{page-title (capitalize (t "case")) }}

<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    <Publications::Publication::Case::Info::PublicationCaseInfoPanel
      @publicationFlow={{@model}} />

    <Publications::Publication::Case::Remark::RemarkPanel
      @publicationFlow={{@model}} />

    <Publications::Publication::Case::Inscription::InscriptionPanel
      @publicationFlow={{@model}} />

    <Publications::Publication::Case::Mandatees::MandateesPanel
      @publicationFlow={{@model}} />

    <Utils::GovernmentAreas::GovernmentAreasPanel
      @governmentAreas={{@model.case.governmentAreas}}
      @allowEditing={{not this.isViaCouncilOfMinisters}}
      @onSave={{this.saveGovernmentAreas}}
    />

    <Publications::Publication::Case::ContactPersons::ContactPersonsPanel
      @publicationFlow={{@model}} />
  </div>
</div>
