<div class="u-m-4">


  {{!--  DOSSIER PANEL  --}}


  <div class="u-mb-3">
    {{#if isInscriptionInEditMode}}
      <WebComponents::AuPanel class="auk-panel--gray-100">
        <WebComponents::AuPanel::Header>
          <WebComponents::AuToolbar>
            <WebComponents::AuToolbar::Group @position="left">
              <WebComponents::AuToolbar::Item>
                <h4 class="auk-panel__title">{{t "publication-inscription"}}</h4>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
            <WebComponents::AuToolbar::Group @position="right">
              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButton @skin="tertiary" @icon="edit" @layout="icon-only" {{on "click" this.putInscriptionInNonEditMode}} data-test-publication-not-edit-inscription-button/>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
          </WebComponents::AuToolbar>
        </WebComponents::AuPanel::Header>
        <WebComponents::AuPanel::Body>
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t "short-title"}}</WebComponents::AuLabel>
            <WebComponents::AuTextarea class="auk-textarea" @rows="2" @value={{mut inscription.shortTitle}} data-test-publication-inscription-short-title-textarea></WebComponents::AuTextarea>
          </div>
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t "title-subcase"}}</WebComponents::AuLabel>
            <WebComponents::AuTextarea class="auk-textarea" @rows="4" @value={{mut inscription.longTitle}} data-test-publication-inscription-long-title-textarea></WebComponents::AuTextarea>
          </div>
        </WebComponents::AuPanel::Body>
        <WebComponents::AuPanel::Footer>
          <WebComponents::AuToolbar>
            <WebComponents::AuToolbar::Group @position="right">
              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButton @skin="borderless" {{on "click" this.putInscriptionInNonEditMode}} data-test-publication-cancel-inscription>{{t "cancel"}}</WebComponents::AuButton>
              </WebComponents::AuToolbar::Item>
              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButton @skin="primary" {{on "click" this.saveInscription}} data-test-publication-save-inscription>{{t "save"}}</WebComponents::AuButton>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
          </WebComponents::AuToolbar>
        </WebComponents::AuPanel::Footer>
      </WebComponents::AuPanel>
    {{else}}
      <WebComponents::AuPanel>
        <WebComponents::AuPanel::Header>
          <WebComponents::AuToolbar>
            <WebComponents::AuToolbar::Group @position="left">
              <WebComponents::AuToolbar::Item>
                <h4 class="auk-panel__title">{{t "publication-inscription"}}</h4>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
            <WebComponents::AuToolbar::Group @position="right">
              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButton  @skin="tertiary" @icon="edit" @layout="icon-only" {{on "click" this.putInscriptionInEditMode}} data-test-publication-edit-inscription-button/>
              </WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Group>
          </WebComponents::AuToolbar>
        </WebComponents::AuPanel::Header>
        <WebComponents::AuPanel::Body>
          <div class="auk-content">
            <h4>{{getShortTitle}}</h4>
            <p>{{getLongTitle}}</p>
          </div>
        </WebComponents::AuPanel::Body>
      </WebComponents::AuPanel>
    {{/if}}
  </div>



  {{!--  MINISTER PANEL  --}}


  <div hidden class="u-mb-3">
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "ministers-policy-fields"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton @skin="tertiary" @icon="plus">{{t "add-minister"}}</WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuPanel::Header>
      <WebComponents::AuPanel::Body @noPadding="true">
        <table class="auk-table">
          <thead>
            <tr>
              <th>{{t "minister"}}</th>
              <th>{{t "policy-domain-policy-fields"}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="o-flex o-flex--vertical-center">
                <WebComponents::AuBadge @icon="ki-user" /> <span class="u-mx-2">{{t "cancel"}}</span>
              </td>
              <td>
                <span>{{t "cancel"}}</span>
                <span class="u-muted">{{t "cancel"}}</span>
              </td>
              <td class="vl-u-align-right">
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  type="button"
                >
                  <i class="ki-more"></i>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="left"
                    as |attacher|
                  >
                    <ul class="vlc-dropdown-menu">
                      <li class="vlc-dropdown-menu__item">
                        <button class="vl-link vl-link--block" type="button"
                          {{on "click" attacher.hide}}
                        >
                          {{t "edit-2"}}
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                        <button class="vl-link vl-link--block vl-u-text--error" type="button"
                          {{on "click" attacher.hide}}
                        >
                          {{t "delete-minister"}}
                        </button>
                      </li>
                    </ul>
                  </AttachPopover>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  </div>


  {{!--  CONTACTPERSON PANEL  --}}

  <div class="u-mb-3">
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">{{t "contacts"}}</h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuButton {{on "click" this.showContactPersonModal}} @skin="tertiary" @icon="plus">{{t "add-contact"}}</WebComponents::AuButton>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuPanel::Header>
      {{#if this.model.contactPersons}}
        <WebComponents::AuPanel::Body @noPadding="true">
          <table class="auk-table">
            <thead>
              <tr>
                <th>{{t "name"}}</th>
                <th>{{t "email"}}</th>
                <th>{{t "organisation"}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each this.model.contactPersons as | contactPerson |}}
                <tr>
                  <td class="o-flex o-flex--vertical-center">
                    <WebComponents::AuBadge @icon="ki-user"/>
                    <span class="u-mx-2">{{ await contactPerson.nameToDisplay}}</span>
                  </td>

                  <td class="">
                    <span class="u-mx-2">
                      {{#if contactPerson.email }}
                        <a href="mailto:{{contactPerson.email}}">{{contactPerson.email}}</a>
                      {{/if}}
                    </span>
                  </td>

                  <td class="">
                    <span class="u-mx-2">{{contactPerson.organisationName}}</span>
                  </td>

                  <td class="vl-u-align-right">
                    <button
                            class="vl-button vl-button--link vl-button--icon"
                            type="button"
                    >
                      <i class="ki-more"></i>
                      <AttachPopover
                              @renderInPlace={{true}}
                              @class="ember-attacher-popper"
                              @hideOn="clickout click"
                              @showOn="click"
                              @animation="shift"
                              @placement="left"
                      >
                        <ul class="vlc-dropdown-menu">
                          <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                            <button class="vl-link vl-link--block vl-u-text--error" type="button"
                              {{on "click" (fn this.deleteContactPerson contactPerson) }}
                            >
                              {{t "delete"}}
                            </button>
                          </li>
                        </ul>
                      </AttachPopover>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </WebComponents::AuPanel::Body>
      {{/if}}
    </WebComponents::AuPanel>
  </div>
</div>


{{!-- ADD CONTACTPERSON MODAL --}}


{{#if isShowingPersonModal}}
  <WebComponents::AuModal>
    <WebComponents::AuModal::Modal::Header @title={{t "add-contact"}}
      @closeModal={{this.closeContactPersonModal}} />
    <WebComponents::AuModal::Modal::Body>
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class='auk-form-group'>
          <WebComponents::AuLabel for="firstNameInput">
            {{t "first-name"}}
          </WebComponents::AuLabel>
          <WebComponents::AuInput {{on "blur" this.onFirstNameChanged}} type="text" id="firstNameInput" @block="true" />
        </div>
        <div class='auk-form-group'>
          <WebComponents::AuLabel for="lastNameInput">
            {{t "name"}}
          </WebComponents::AuLabel>
          <WebComponents::AuInput {{on "blur" this.onLastNameChanged}} type="text" id="lastNameInput" @block="true" />
        </div>
        <div class='auk-form-group'>
          <WebComponents::AuLabel for="emailInput">{{t "email"}}</WebComponents::AuLabel>
          <WebComponents::AuInput {{on "blur" this.onEmailChanged}} type="text" id="emailInput" @block="true" />
        </div>
        <div class="auk-form-group">
          <WebComponents::AuLabel for="organisationInput">{{t "organisation"}}</WebComponents::AuLabel>
          <WebComponents::AuInput {{on "blur" this.onOrganisationChanged}} type="text" id="organisationInput" @block="true" />
        </div>
      </div>
    </WebComponents::AuModal::Modal::Body>
    <WebComponents::AuModal::Modal::Footer>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless" {{on "click" this.closeContactPersonModal}}>
              {{t "cancel"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="primary" @icon="plus" {{on "click" this.addNewContactPerson}}>
              {{t "add"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuModal::Modal::Footer>
  </WebComponents::AuModal>
{{/if}}


{{!-- FULL PAGE LOADER --}}


{{#if showLoader }}
  <WebComponents::VlModal
          @isOverlay={{true}}
          @showCloseButton={{false}}
          @title={{t "loading-text"}}
  >
    <WebComponents::VlLoader
          @text={{concat
            (t "saving-change-message")
            " "
            (t "please-be-patient")
          }}
    />
  </WebComponents::VlModal>
{{/if}}