{{page-title (capitalize (t "case")) }}

<div class="auk-u-m-4">
  <div class="auk-u-mb-4">
    <Publications::Publication::Case::Inscription::InscriptionPanel
      @isViaCouncilOfMinisters={{this.isViaCouncilOfMinisters}} />

    <Publications::Publication::Case::Mandatees::MandateesPanel
      @publicationFlow={{this.currentPublicationFlow}} />

    <Utils::GovernmentAreas::GovernmentAreasPanel
      @governmentAreas={{@model.governmentAreas}}
      @onSave={{this.saveGovernmentAreas}}
    />

    <Publications::Publication::Case::ContactPersons::ContactPersonsPanel
      @publicationFlow={{this.currentPublicationFlow}} />
  </div>
</div>
