{{page-title (await this.documentTitle) replace=true}}
<div class="auk-scroll-wrapper__body">
  <Agenda::PressAgenda
    @title={{await this.title}}
    @definite={{this.definite}}
    @currentSession={{await this.model.meeting}}
    @agendaitemGroups={{await this.model.groups}}
  />
</div>