<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @size="large" @responsive={{true}}>
    <Auk::Toolbar::Group @position="left" @responsive={{true}}>
      <Auk::Toolbar::Item class="au-u-padding-top-tiny au-u-padding-bottom-tiny">
        <AuLink
          @skin="button-naked"
          @icon="hierarchical-back"
          @route="cases.submissions"
          class="au-u-padding-left-none"
        >
          {{t "all-submissions"}}
        </AuLink>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item class="au-u-padding-top-tiny au-u-padding-bottom-tiny">
        <div>
          {{#unless this.loadData.isRunning}}
            <span class="auk-overline auk-u-block">
              {{t (if this.case "submission-existing-case" "submission-new-case")}}
            </span>
            <h4 class="auk-toolbar-complex__title au-u-padding-none">
              {{#if this.case}}
                <AuLink
                  class="au-u-padding-none card-link"
                  @route="cases.case.subcases"
                  @model={{this.decisionmakingFlow.id}}
                >
                  {{or this.case.shortTitle this.case.title}}
                </AuLink>
              {{else}}
                <Auk::AbbreviatedText
                  @text={{or @submission.decisionmakingFlowTitle}}
                  @maxLength={{250}}
                />
              {{/if}}
            </h4>
            {{#if @beingTreatedBy}}
              <span class="auk-u-block">
                {{t "this-submission-is-being-treated-by-user"
                    user=@beingTreatedBy.fullName}}
              </span>
            {{/if}}
          {{/unless}}
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
