{{! TODO: octane-refactor }}
{{! template-lint-disable no-action }}

{{#if (await this.model)}}
  <DataTable
    data-test-route-agendas-overview-data-table={{true}}
    @content={{await this.model}}
    @class="auk-table auk-table--agenda auk-table--sticky-header"
    @page={{this.page}}
    @size={{this.size}}
    @sort={{this.sort}}
    @isLoading={{this.isLoadingModel}}
    @noDataMessage={{t "no-results-found"}}
    @onClickRow={{action "onClickRow"}}
    as |table|
  >
    <table.content as |c|>
      <c.header>
        <ThSortable
          @class="auk-table__col--3 auk-table__header-title"
          @currentSorting={{this.sort}}
          @field="planned-start,number-representation"
          @label={{t "agenda"}}
        />
        <ThSortable
          @class="auk-table__header-title"
          @currentSorting={{this.sort}}
          @field="is-final"
          @label={{t "status"}}
        />
        <ThSortable
          @class="auk-table__header-title"
          @currentSorting={{this.sort}}
          @field="kind"
          @label={{t "kind"}}
        />
        <th
          class="auk-table__header-title auk-table__header-title--unsortable"
        >
          {{t "latest-modified"}}
        </th>
        <th></th>
      </c.header>
      <c.body @class="auk-table--interaction-cursor auk-table--clickable-rows" as |meeting|>
        {{#if (not meeting.alreadyShown)}}
          <td data-test-route-agendas-overview-row-title>
            <span class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
            {{#if (eq (await meeting.latestAgenda.isDesignAgenda) true)}}
              <strong>Ontwerpagenda</strong>
              <Auk::Pill @skin="active-future">{{await meeting.latestAgenda.name}}</Auk::Pill>
            {{else}}
              <strong>Agenda</strong>
              <Auk::Pill>{{await meeting.latestAgenda.name}}</Auk::Pill>
            {{/if}}
              <span>–</span>
              <span>{{moment-format meeting.plannedStart "DD.MM.YYYY"}}</span>
            </span>
          </td>
          <td>
            {{#if meeting.isFinal}}
              <Auk::Pill>{{t "closed"}}</Auk::Pill>
            {{else}}
              <Auk::Pill @skin="active">{{t "opened"}}</Auk::Pill>
            {{/if}}
          </td>
          <td data-test-route-agendas-overview-row-kind>
            {{meeting.kindToShow.label}}
          </td>
          <td>
            {{#if (is-pending meeting.latestAgenda)}}
              <div
                class="skeletal-loader"
                role="alert"
                aria-busy="true"
              ></div>
            {{else}}
              {{moment-format
                (await meeting.latestAgenda.modified)
                "DD.MM.YYYY – HH:mm"
              }}
            {{/if}}
          </td>
          <td class="auk-u-text-align--center">
            <Auk::Button
              data-test-route-agendas-overview-row-nav-button={{true}}
              @skin="borderless"
              @layout="icon-only"
              @icon="chevron-right"
              @route="agenda.agendaitems"
              @models={{array
                meeting.id
                (await meeting.latestAgenda.id)
              }}
            />
          </td>
        {{/if}}
      </c.body>
    </table.content>
  </DataTable>
{{else}}
  <div>
    <WebComponents::VlAlert @message={{t "no-historical-agenda"}} />
  </div>
{{/if}}
