<div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
  <div class="vlc-scroll-wrapper__body">
    <div class="auk-u-m-8">
      {{#if (not (or from to))}}
        <div class="auk-u-mb-10">
          {{agenda/future-agendas
            meetings=activeAgendas
            type="active"
            emptyText=(t "no-active-agenda")
            title=(t "active-agenda")
          }}
        </div>
      {{else}}
        {{changes-alert
          message=(t "filtered-agendas")
          buttonText=(t "clear-filter")
          clearAction=(action "clearFilter")
        }}
      {{/if}}


      <div class="auk-u-mb-10">
        <div class="auk-u-mb-10">
          <div class="auk-u-flex vlc-u-flex-space-between">
            <h2 class="vl-title vl-title--sans vl-title--h3">
              {{t "history"}}
              {{#if (or from to)}}
                (
                {{moment-format from "DD-MM-YYYY"}}
                -
                {{moment-format to "DD-MM-YYYY"}}
                )
              {{/if}}
            </h2>
            <div class="auk-u-mb-2">
              <div class="vlc-input-field-group-wrapper vlc-input-field-group-wrapper--inline"
              >
                <div class="vlc-input-field-group vlc-input-field-group--gmeeting"
                >
                  {{input
                    type="text"
                    id=id
                    data-test-agendas-filter-input=true
                    class="vl-input-field"
                    value=dateFilter
                    placeholder="bv. 01/2020"
                  }}
                </div>
                <div class="vlc-input-field-group">
                  <button class="vl-button vl-button--secondary vl-button--icon"
                          type="submit"
                          data-test-agendas-filter-button
                          onclick={{action "setDateFilter" dateFilter}}
                  >
                    <div class='auk-icon'>
                      <i class="ki ki-search"></i>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="auk-u-mb-8">
            {{#if (await model)}}
              {{#data-table
                content=(await model)
                class="vl-data-table vl-data-table--zebra vl-data-table--align-middle vl-data-table--no-scroll"
                page=page
                size=size
                sort=sort
                isLoading=isLoadingModel
                noDataMessage=(t "no-results-found")
                onClickRow=(action "onClickRow")
              as |table|
              }}
                {{#table.content as |c|}}
                  {{#c.header}}
                    {{th-sortable
                      class="vl-data-table-col-3 vl-data-table__header-title"
                      currentSorting=sort
                      field="planned-start"
                      label=(t "agenda")
                    }}
                    {{th-sortable
                      class="vl-data-table-col-2 vl-data-table__header-title"
                      field="agendas"
                      label=(t "agenda-version")
                    }}
                    <th
                      class="vl-data-table-col-2 vl-data-table__header-title table-header-unsortable"
                    >
                      {{t "latest-modified"}}
                    </th>
                    {{th-sortable
                      class="vl-data-table-col-2 vl-data-table__header-title"
                      currentSorting=sort
                      field="is-final"
                      label=(t "status")
                    }}
                    {{th-sortable
                      class="vl-data-table-col-2 vl-data-table__header-title"
                      currentSorting=sort
                      field="kind"
                      label=(t "kind")
                    }}
                    <th class="vl-data-table-col-1"></th>
                  {{/c.header}}
                  {{#c.body class="tr-hover" as |meeting|}}
                    {{#if (not meeting.alreadyShown)}}
                      <td>
                        {{t "agenda-for"}}
                        {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
                      </td>
                      <td>
                        {{await meeting.latestAgendaName}}
                      </td>
                      <td>
                        {{#if (is-pending meeting.latestAgenda)}}
                          <div class="skeletal-loader"
                               role="alert"
                               aria-busy="true"
                          ></div>
                        {{else}}
                          {{moment-format
                            (await meeting.latestAgenda.modified)
                            "DD-MM-YYYY HH:mm"
                          }}
                        {{/if}}
                      </td>
                      <td>
                        {{#if meeting.isFinal}}
                          {{t "closed"}}
                        {{else}}
                          {{t "opened"}}
                        {{/if}}
                      </td>
                      <td>
                        {{meeting.kindToShow.label}}
                      </td>
                      <td class="auk-u-text-align--center">
                        {{#link-to
                          "agenda.agendaitems"
                          meeting.id
                          (await meeting.latestAgenda.id)
                          class="vl-button vl-button--link vl-button--icon"
                        }}
                          <i class="vl-button__icon ki-nav-right"></i>
                        {{/link-to}}
                      </td>
                    {{/if}}
                  {{/c.body}}
                {{/table.content}}
              {{/data-table}}
            {{else}}
              <div>
                {{web-components/vl-alert message=(t "no-historical-agenda")}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
