<Auk::Panel>
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <AuHeading @level="4" @skin="5" data-test-agendaitem-news-item-title>
            {{this.title}}
          </AuHeading>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          {{#if this.loadNotaOrVisienota.isRunning}}
            <div class="auk-loader" role="alert" aria-busy="true">
              <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
                {{t "nota-loading-text"}}
              </EmberTooltip>
            </div>
          {{else}}
            {{#if this.notaOrVisieNota}}
              <AuButton
                data-test-news-item-edit-item-nota
                @skin="naked"
                @icon="document"
                @iconAlginment="left"
                class="au-u-padding-right-none"
                {{on "click" this.openNota}}
              >
                {{t "open-note"}}
              </AuButton>
            {{else}}
            <AuButton
                data-test-news-item-edit-item-no-nota
                @skin="naked"
                @icon="document"
                @iconAlignment="left"
                @disabled={{true}}
                class="au-u-padding-right-none"
              >
                {{t "no-nota"}}
              </AuButton>
            {{/if}}
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Utils::LoadableContent
    @isLoading={{this.ensureNewsItem.isRunning}}
    @reserveSpace={{true}}
  >
    {{#unless this.ensureNewsItem.isRunning}}
      <Auk::Panel::Body class="au-u-background-gray-100">
        <div class="auk-form-group">
          <Auk::Label>{{t "title"}}</Auk::Label>
          <p data-test-news-item-edit-item-long-title>
            {{@agendaitem.title}}
          </p>
        </div>
        <div class="auk-form-group">
          <Auk::Label>{{t "short-title"}}</Auk::Label>
          <AuInput
            data-test-news-item-edit-item-short-title
            @width="block"
            @value={{this.title}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label>{{t "mandatee-proposal"}}</Auk::Label>
          <p
            data-test-news-item-edit-item-mandatee-proposal
          >
            {{#if this.proposalText}}
              {{this.proposalText}}
            {{else}}
              {{t "not-applicable"}}
            {{/if}}
          </p>
        </div>
        <div class="auk-form-group">
          <div class="auk-rdfa-holder {{if this.isFullscreen "auk-rdfa-fullscreen"}}">
            <div class="auk-rdfa-holder__header auk-o-flex auk-o-flex--justify-between auk-o-flex--vertical-center">
              <Auk::Label class="auk-u-p-0">
                {{t "decision-in-newsletter"}}
                <span class={{unless this.isFullscreen "au-u-hidden-visually"}}> voor {{this.title}}</span>
              </Auk::Label>
              {{#if this.isFullscreen}}
                <AuButtonGroup>
                  <AuButton
                    @skin="naked"
                    @icon="minimize"
                    @iconAlignment="left"
                    {{on "click" this.toggleFullscreen}}
                  >
                    {{t "close-fullscreen"}}
                  </AuButton>
                  <AuButton
                    data-test-news-item-edit-item-save
                    @loading={{this.confirmSave.isRunning}}
                    @disabled={{this.confirmSave.isRunning}}
                    {{on "click" this.save}}
                  >
                    {{t "save"}}
                  </AuButton>
                </AuButtonGroup>
              {{else}}
                <AuButton
                  @skin="naked"
                  @icon="expand"
                  @iconAlignment="left"
                  {{on "click" this.toggleFullscreen}}
                >
                  {{t "fullscreen"}}
                </AuButton>
              {{/if}}
            </div>
            <WebComponents::VlRdfaEditor
              data-test-news-item-edit-item-rdfa-editor
              @richtext={{this.htmlContent}}
              @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
            />
          </div>
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body class="au-u-background-gray-100">
        <div class="auk-form-group auk-u-text-capitalize">
          <Auk::Label>{{t "comment-title"}}</Auk::Label>
          <AuInput
            data-test-news-item-edit-item-remark
            @width="block"
            @value={{this.remark}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="item-finished">{{t "finished"}}</Auk::Label>
          <Auk::Toggle
            data-test-news-item-edit-item-toggle-finished
            id="item-finished"
            @checked={{this.isFinished}}
          />
        </div>
        <div class="auk-form-group" data-test-news-item-edit-item-themes-selector>
          <Auk::Label>{{t "themes"}}</Auk::Label>
          <Utils::ThemesSelector @selectedThemes={{this.selectedThemes}} />
        </div>
      </Auk::Panel::Body>
      <Auk::Panel::Body class="au-u-background-gray-100">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-news-item-edit-item-cancel
                @skin="naked"
                {{on "click" @onCancel}}
              >
                {{t "cancel"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-news-item-edit-item-save
                @loading={{this.confirmSave.isRunning}}
                @disabled={{this.confirmSave.isRunning}}
                {{on "click" this.save}}
              >
                {{t "save"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Body>
    {{/unless}}
  </Utils::LoadableContent>
</Auk::Panel>

<ConfirmationModal
  @modalOpen={{this.isOpenMissingThemesModal}}
  @title={{t "no-themes-selected"}}
  @message={{t "no-themes-selected-message"}}
  @onConfirm={{perform this.confirmSave}}
  @onCancel={{this.cancelSave}}
  @confirmMessage={{t "save"}}
  @loading={{this.confirmSave.isRunning}}
/>

{{yield}}