<div class="auk-u-mb-4">
  <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--align-end auk-u-mb-2 auk-o-flex--justify-end">
    {{#if (not (is-pending agendaitem.nota))}}
      {{#if (not (await agendaitem.nota))}}
        <button type="button" class="auk-button auk-button--secondary" disabled>
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-document"></i>
            </div>
            <div class="auk-button__label">
              {{t "no-nota"}}
            </div>
          </span>
        </button>
      {{else}}
        <button type="button" class="auk-button auk-button--secondary"
          {{action "openDocument" agendaitem bubbles=false}}
        >
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-document"></i>
            </div>
            <div class="auk-button__label">
              {{t "open-note"}}
            </div>
          </span>
        </button>
      {{/if}}
    {{else}}
      <div class="auk-loader" role="alert" aria-busy="true">
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{t "nota-loading-text"}}
        </EmberTooltip>
      </div>
    {{/if}}
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "title"}}</Auk::Label>
    <p>
      {{agendaitem.title}}
    </p>
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "short-title"}}</Auk::Label>
    {{web-components/vl-form-input value=newsletterInfo.title}}
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "mandatee-proposal"}}</Auk::Label>
    <p>
      {{#if (await newsletterInfo.newsletterProposal)}}
        {{await newsletterInfo.newsletterProposal}}
      {{else}}
        {{t "not-applicable"}}
      {{/if}}
    </p>
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "decision-in-newsletter"}}</Auk::Label>
    {{web-components/vl-rdfa-editor
      data-test-newsletter-edit-item-rdfa-editor=true
      isLarge=isExpanded
      richtext=(await newsletterInfo.richtext)
      handleRdfaEditorInit=(action "handleRdfaEditorInit")
    }}
  </div>

  <div class="auk-form-group auk-u-text-capitalize">
    <Auk::Label>{{t "remark"}}</Auk::Label>
    {{web-components/vl-form-input value=newsletterInfo.remark}}
  </div>

  <div class="auk-form-group">
    <Auk::Label>{{t "finished"}}</Auk::Label>
    {{web-components/vl-toggle value=newsletterInfo.finished}}
  </div>
  <div class="auk-form-group" data-test-newsletter-edit-item-themes-selector>
    <Auk::Label>{{t "themes"}}</Auk::Label>
    {{utils/themes-selector selectedThemes=(await newsletterInfo.themes)}}
  </div>

</div>
<Auk::Toolbar>
  <Auk::Toolbar::Group @position="right">
    <Auk::Toolbar::Item>
      <a href="" class="auk-button-link" {{action "cancelEditing"}}>
        <span class="auk-button__content">
          {{t "cancel"}}
        </span>
      </a>
    </Auk::Toolbar::Item>
    <Auk::Toolbar::Item>
      {{web-components/vl-save-button
        data-test-newsletter-edit-item-save=true
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "trySaveChanges")
      }}
    </Auk::Toolbar::Item>
  </Auk::Toolbar::Group>
</Auk::Toolbar>
{{#if isTryingToSave}}
  {{web-components/vl-modal-verify
    title=(t "no-themes-selected")
    message=(t "no-themes-selected-message")
    cancel=(action "cancelSaveChanges")
    verify=(action "saveChanges")
    buttonText="save"
    buttonType="warning"
    showIcon=false
  }}
{{/if}}
