<div class="auk-u-mb-4" data-agenda-item-news-edit>
  <div class="auk-u-flex auk-u-flex--vertical-center auk-u-flex--align-end auk-u-mb-2 auk-u-flex--justify-end">
    {{#if (not (is-pending agendaitem.nota))}}
      {{#if (not (await agendaitem.nota))}}
        <button type="button" class="auk-button auk-button--secondary vl-button--disabled">
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-document"></i>
          </div>
          <div class="auk-button__label">
            {{t "no-nota"}}
          </div>
        </button>
      {{else}}
        <button type="button" class="auk-button auk-button--secondary"
          {{action "openDocument" agendaitem bubbles=false}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-document"></i>
          </div>
          <div class="auk-button__label">
            {{t "open-note"}}
          </div>
        </button>
      {{/if}}
    {{else}}
      <div class="auk-loader" role="alert" aria-busy="true">
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{t "nota-loading-text"}}
        </EmberTooltip>
      </div>
    {{/if}}
  </div>
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "title"}}</WebComponents::AuLabel>
    <p>
      {{agendaitem.title}}
    </p>
  </div>
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "short-title"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input value=newsletterInfo.title}}
  </div>
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "mandatee-proposal"}}</WebComponents::AuLabel>
    <p>
      {{#if (await newsletterInfo.newsletterProposal)}}
        {{await newsletterInfo.newsletterProposal}}
      {{else}}
        {{t "not-applicable"}}
      {{/if}}
    </p>
  </div>
  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "decision-in-newsletter"}}</WebComponents::AuLabel>
    {{web-components/vl-rdfa-editor
      data-test-rdfa-editor=true
      isLarge=isExpanded
      richtext=(await newsletterInfo.richtext)
      handleRdfaEditorInit=(action "handleRdfaEditorInit")
    }}
  </div>

  <div class="vlc-input-field-block vl-u-text--capitalize">
    <WebComponents::AuLabel>{{t "remark"}}</WebComponents::AuLabel>
    {{web-components/vl-form-input value=newsletterInfo.remark}}
  </div>

  <div class="vlc-input-field-block">
    <WebComponents::AuLabel>{{t "finished"}}</WebComponents::AuLabel>
    {{web-components/vl-toggle value=newsletterInfo.finished}}
  </div>
  <div class="vlc-input-field-block" data-test-themes-selector>
    <WebComponents::AuLabel>{{t "themes"}}</WebComponents::AuLabel>
    {{utils/themes-selector selectedThemes=(await newsletterInfo.themes)}}
  </div>

</div>
<WebComponents::AuToolbar>
  <WebComponents::AuToolbar::Group @position="right">
    <WebComponents::AuToolbar::Item>
      <a href="" class="auk-button-link" {{action "cancelEditing"}}>
        {{t "cancel"}}
      </a>
    </WebComponents::AuToolbar::Item>
    <WebComponents::AuToolbar::Item>
      {{web-components/vl-save-button
        data-test-newsletter-edit-save=true
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "trySaveChanges")
      }}
    </WebComponents::AuToolbar::Item>
  </WebComponents::AuToolbar::Group>
</WebComponents::AuToolbar>
{{#if isTryingToSave}}
  {{web-components/vl-modal-verify
    title=(t "no-themes-selected")
    message=(t "no-themes-selected-message")
    cancel=(action "cancelSaveChanges")
    verify=(action "saveChanges")
    buttonText="save"
    buttonType="warning"
    showIcon=false
  }}
{{/if}}
