{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-u-mb-4">
  <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--align-end auk-u-mb-2 auk-o-flex--justify-end">
    {{#if (not (is-pending this.agendaitem.notaOrVisienota))}}
      {{#if (not (await this.agendaitem.notaOrVisienota))}}
        <Auk::Button
          data-test-newsletter-edit-item-no-nota
          @skin="secondary"
          @icon="document"
          @disabled={{true}}
        >
          {{t "no-nota"}}
        </Auk::Button>
      {{else}}
        <Auk::Button
          data-test-newsletter-edit-item-nota
          @skin="secondary"
          @icon="document"
          {{action "openDocument" this.agendaitem bubbles=false}}
        >
          {{t "open-note"}}
        </Auk::Button>
      {{/if}}
    {{else}}
      <div class="auk-loader" role="alert" aria-busy="true">
        <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
          {{t "nota-loading-text"}}
        </EmberTooltip>
      </div>
    {{/if}}
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "title"}}</Auk::Label>
    <p data-test-newsletter-edit-item-long-title>
      {{this.agendaitem.title}}
    </p>
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "short-title"}}</Auk::Label>
    <Auk::Input
      data-test-newsletter-edit-item-short-title
      @block={{true}}
      @value={{this.newsletterInfo.title}}
    />
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "mandatee-proposal"}}</Auk::Label>
    <p
      data-test-newsletter-edit-item-mandatee-proposal
    >
      {{#if (await this.newsletterInfo.newsletterProposal)}}
        {{await this.newsletterInfo.newsletterProposal}}
      {{else}}
        {{t "not-applicable"}}
      {{/if}}
    </p>
  </div>
  <div class="auk-form-group">
    <Auk::Label>{{t "decision-in-newsletter"}}</Auk::Label>
    <WebComponents::VlRdfaEditor
      data-test-newsletter-edit-item-rdfa-editor={{true}}
      @richtext={{await this.newsletterInfo.richtext}}
      @handleRdfaEditorInit={{action "handleRdfaEditorInit"}}
    />
  </div>

  <div class="auk-form-group auk-u-text-capitalize">
    <Auk::Label>{{t "remark"}}</Auk::Label>
    <Auk::Input
      data-test-newsletter-edit-item-remark
      @block={{true}}
      @value={{this.newsletterInfo.remark}}
    />
  </div>

  <div class="auk-form-group">
    <Auk::Label for="item-finished">{{t "finished"}}</Auk::Label>
    <Auk::Toggle
      data-test-newsletter-edit-item-toggle-finished
      id="item-finished"
      @checked={{this.newsletterInfo.finished}}
    />
  </div>
  <div class="auk-form-group" data-test-newsletter-edit-item-themes-selector>
    <Auk::Label>{{t "themes"}}</Auk::Label>
    <Utils::ThemesSelector @selectedThemes={{await this.newsletterInfo.themes}} />
  </div>

</div>
<Auk::Toolbar>
  <Auk::Toolbar::Group @position="right">
    <Auk::Toolbar::Item>
      <Auk::ButtonLink data-test-newsletter-edit-item-cancel {{action "cancelEditing"}}>
        {{t "cancel"}}
      </Auk::ButtonLink>
    </Auk::Toolbar::Item>
    <Auk::Toolbar::Item>
      <WebComponents::VlSaveButton
        data-test-newsletter-edit-item-save={{true}}
        @text={{t "save"}}
        @isLoading={{this.isLoading}}
        @saveAction={{action "trySaveChanges"}}
      />
    </Auk::Toolbar::Item>
  </Auk::Toolbar::Group>
</Auk::Toolbar>
{{#if this.isTryingToSave}}
  <WebComponents::VlModalVerify
    @title={{t "no-themes-selected"}}
    @message={{t "no-themes-selected-message"}}
    @cancel={{action "cancelSaveChanges"}}
    @verify={{action "saveChanges"}}
    @buttonText="save"
    @buttonType="warning"
    @showIcon={{false}}
  />
{{/if}}