<form class="new-session-form" {{action "createNewSession" on="submit"}}>
  <div class="form-group">
    <label>
      {{t "new-session.start-date"}}
      {{pikaday-input
        theme="pikaday-session"
        minDate=today
        onSelection=(action "selectStartDate")
      }}
    </label>
  </div>
  <div class="submit-container">
    <button class="vl-button vl-button--tertiary" type="submit">
      {{t "buttons.add"}}
    </button>
    <button class="vl-button vl-button--tertiary" type="button" {{action "cancelForm"}}>
      {{t "buttons.cancel"}}
    </button>
  </div>
</form>