{{ page-title
  (t "agendaitems")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-2">
    <div class="au-u-margin-top-tiny">
      <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">Inhoud</AuHeading>
      <AuList as |Item|>
        <Item class="au-c-list-item__divider"><AuLink @skin="button-naked" @route="search-future.all" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Alle inhoud</AuLink></Item>
        <Item><AuLink @route="search-future.agenda-items" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact" @active={{true}}>Agendapunt</AuLink></Item>
        <Item><AuLink @route="search-future.cases" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Dossier</AuLink></Item>
        <Item><AuLink @route="search-future.documents" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Document</AuLink></Item>
        <Item><AuLink @route="search-future.decisions" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Beslissing</AuLink></Item>
        <Item><AuLink @route="search-future.newsletter-infos" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Kort bestek</AuLink></Item>
        <Item><AuLink @route="search-future.announcements" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Mededeling</AuLink></Item>
      </AuList>
    </div>
    <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-small">
      <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
        <Auk::Label>{{t "from"}}</Auk::Label>
        <WebComponents::VlDatepicker
          @selectedDate={{array this.dateFromBuffer}}
          @dateChanged={{fn (mut this.dateFromBuffer)}}
          @enableClear={{this.dateFromBuffer}}
          @onClear={{fn (mut this.dateFromBuffer) null}}
          @allowInput={{true}}
        />
      </div>
      <div class="auk-form-group auk-u-position-relative">
        <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
        <WebComponents::VlDatepicker
          @selectedDate={{array this.dateToBuffer}}
          @dateChanged={{fn (mut this.dateToBuffer)}}
          @enableClear={{this.dateToBuffer}}
          @onClear={{fn (mut this.dateToBuffer) null}}
          @allowInput={{true}}
        />
      </div>
    </div>
    <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
      <div class="auk-form-group">
        <Auk::Label for="ministerName">
          Minister
        </Auk::Label>
        <Auk::Input
          data-test-route-search-mandatee-input
          @block={{true}}
          @value=""
          @enter=""
          id="ministerName"
        />
      </div>
    </div>
    <div class="au-c-card au-o-box au-o-box--small au-u-margin-top-tiny">
      <Auk::Label>Agenda versie</Auk::Label>
      <Auk::Checkbox
        @checked={{this.latestOnly}}
        @label="{{t "only-on-final-agenda"}}"
        {{on "input" this.toggleLatestOnly}}
      />
    </div>

    {{!-- <div class="auk-box au-u-margin-top-small"> --}}
      {{!-- <div class="auk-u-mb-2">
        <Auk::Label>{{t "type"}}</Auk::Label>
        <Auk::Checkbox
          @checked={{this.includeNotas}}
          @label={{t "note"}}
          {{on "input" this.toggleIncludeNotas}}
        />
        <Auk::Checkbox
          @checked={{this.includeMededelingen}}
          @label={{capitalize (t "announcement")}}
          {{on "input" this.toggleIncludeMededelingen}}
        />
      </div> --}}

    {{!-- </div> --}}

  </div>
  <div class="auk-o-grid-col-10">
    <div>
      {{#if this.model.length}}
        <div class="au-u-flex au-u-flex--no-wrap au-u-flex--spaced au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <p class="au-u-muted">
            <strong class="au-u-medium">19</strong> resultaten voor <strong class="au-u-medium">"test"</strong> in <strong>agendapunten</strong>
          </p>
          <div>
            <AuLabel for="sort" class="au-u-hidden-visually">Sorteer op:</AuLabel>
            <select
              name="sort"
              id="sort"
              class="auk-select">
                <option
                  value="relevantie"
                  selected="selected"
                >
                  Relevantie
                </option>
                <option
                  value="datum-aflopend"
                >
                  Datum aflopend
                </option>
            </select>
          </div>
        </div>
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-card-table"
          @isLoading={{this.isLoadingModel}}
          as |table|
        >
          <table.content as |c|>
            <c.body as |row|>
              <td>
                <AuCard
                  @shadow={{true}}
                  @size="small"
                  as |c|
                >
                  <c.header>
                    <p class="au-u-para-small au-u-muted au-u-medium">
                      {{moment-format row.sessionDates}}
                    </p>
                    <AuHeading @level="3" @skin="4">
                      <AuLink
                        class="au-u-padding-none"
                        @route="agenda.agendaitems.agendaitem"
                        @models={{array row.meetingId row.agendaId row.id}}>
                        {{#if row.shortTitle}}
                          {{row.shortTitle}}
                        {{else}}
                          {{row.title}}
                        {{/if}}
                      </AuLink>
                    </AuHeading>
                  </c.header>
                  <c.content>
                    <p class="au-u-para">Tekst ...... <strong>test</strong> ....... tekst</p>
                    <p class="au-u-para-small au-u-margin-top-small au-u-muted">
                      Uit
                      <AuLink @skin="secondary">
                        Agenda versie C
                        {{!-- {{#if (eq row.agendaSerialNumber.length 1)}}
                          {{t "agenda"}} {{row.agendaSerialNumber}}
                        {{else}}
                          {{t "agenda"}}
                        {{/if}} --}}
                      </AuLink>
                    </p>
                    <p class="au-u-para-small au-u-margin-top-none au-u-muted">
                      Ook gevonden in
                      <AuLink @skin="secondary">
                        Versie B
                      </AuLink>,
                      <AuLink @skin="secondary">
                        Versie A
                      </AuLink>
                    </p>
                  </c.content>
                </AuCard>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>