<Auk::Modal>
  <Auk::Modal::Header
    @resizeable={{false}}
    @title={{t
      "upload-translation-document"
      identifier=@translationSubcase.publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancelTranslation}}
  />
  <Auk::Modal::Body>
    <div class="auk-u-p-4">
      <Auk::FileUploader
              @fileQueueName={{this.fileQueueName}}
              @fullHeight={{eq this.newPieces.length 0}}
              @multiple={{true}}
              @onUpload={{this.uploadPiece}}
      />
      {{#if this.translationDocument}}
        <div class="auk-u-my-4">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-11">
              <div class="auk-form-group-layout auk-form-group-layout--horizontal">
                <div class="auk-form-group auk-o-flex--align-start">
                  <Auk::Label for="nameDocumentUpload" @isRequired={{true}}>
                    {{t 'name'}}
                  </Auk::Label>
                  <Auk::Input
                    type="text"
                    id="nameDocumentUpload"
                    @value={{mut this.name}}
                  />
                </div>
                <div class="auk-form-group">
                  <Auk::Label>{{t "document-type"}}</Auk::Label>
                  <WebComponents::AuPill class="auk-pill--white">
                    {{this.translationDocument.file.extension}}
                  </WebComponents::AuPill>
                </div>
                {{!-- TODO KAS-2481
                <div class="auk-form-group">
                  <Auk::Label for="dateSet">{{t "received-at"}}</Auk::Label>
                  <WebComponents::AuDatepicker id="dateSet"
                                               @defaultDate={{this.receivedAtDate}}
                                               @onChange={{this.setReceivedAtDate}}/>
                </div>
                --}}
                <div class="auk-form-group auk-o-flex--align-start">
                  <Auk::Label>{{t 'translation-burden'}}</Auk::Label>
                  <div class="auk-form-group-layout auk-form-group-layout--standard auk-form-group-layout--grid">
                    <div class="auk-o-grid">
                      <div class="auk-o-grid-col-6">
                        <div class="auk-form-group">
                          <Auk::Label for="translationLoadPages" class="auk-label--light">
                            {{t 'pages-amount'}}
                          </Auk::Label>
                          <Auk::Input
                            type="number"
                            id="translationLoadPages"
                            @value={{mut this.pagesAmount}}
                          />
                        </div>
                      </div>
                      <div class="auk-o-grid-col-6">
                        <div class="auk-form-group">
                          <Auk::Label for="translationLoadWords" class="auk-label--light">
                            {{t 'words-amount'}}
                          </Auk::Label>
                          <Auk::Input
                            type="number"
                            id="translationLoadWords"
                            @value={{mut this.wordsAmount}}
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{!-- TODO in KAS-2600
                <div class="auk-form-group auk-o-flex--align-start">
                  <Auk::Label for="proofPrint">
                    {{t 'for-publish-preview'}}
                  </Auk::Label>
                  <WebComponents::AuCheckboxList>
                    <WebComponents::AuCheckbox @name="proofPrint" @checked={{this.proofprint}}
                                               @toggle={{this.toggleProofPrint}} />
                  </WebComponents::AuCheckboxList>
                </div>
                --}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancelTranslation}}
  >
    <Auk::Button
      @skin="primary"
      @disabled={{this.saveIsDisabled}}
      {{on "click" (perform this.saveTranslation)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>