<WebComponents::AuModal >
  <WebComponents::AuModal::Header
    @resizeable={{false}}
    @title={{t "upload-translation-document" identifier=@translationSubcase.publicationFlow.identification.idName}}
    @closeModal={{perform this.cancelTranslation}}
  />
  <WebComponents::AuModal::Body>
    <div class="auk-u-p-4">
      <WebComponents::AuFileUploader
              @fileQueueName={{this.fileQueueName}}
              @fullHeight={{eq this.newPieces.length 0}}
              @multiple={{true}}
              @onUpload={{this.uploadPiece}}
      />
      {{#if this.translationDocument}}
        <div class="auk-u-my-4">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-11">
              <div class="auk-form-group-layout auk-form-group-layout--horizontal">
                <div class="auk-form-group auk-o-flex--align-start">
                  <WebComponents::AuLabel for="nameDocumentUpload" @isRequired={{true}}>
                    {{t 'name'}}
                  </WebComponents::AuLabel>
                  <WebComponents::AuInput type="text" id="nameDocumentUpload" @value={{mut this.name}}/>
                </div>
                <div class="auk-form-group">
                  <WebComponents::AuLabel>{{t "document-type"}}</WebComponents::AuLabel>
                  <WebComponents::AuPill class="auk-pill--white">
                    {{this.translationDocument.file.extension}}
                  </WebComponents::AuPill>
                </div>
                {{!-- TODO Seen in designs but not sure of usage
                <div class="auk-form-group">
                  <WebComponents::AuLabel for="dateSet">{{t "received-at"}}</WebComponents::AuLabel>
                  <WebComponents::AuDatepicker id="dateSet"
                                               @defaultDate={{this.receivedAtDate}}
                                               @onChange={{this.setReceivedAtDate}}/>
                </div>
                --}}
                <div class="auk-form-group auk-o-flex--align-start">
                  <WebComponents::AuLabel>{{t 'translation-burden'}}</WebComponents::AuLabel>
                  <div class="auk-form-group-layout auk-form-group-layout--standard auk-form-group-layout--grid">
                    <div class="auk-o-grid">
                      <div class="auk-o-grid-col-6">
                        <div class="auk-form-group">
                          <WebComponents::AuLabel for="translationLoadPages" @isRequired={{true}}
                                                  class="auk-label--light">
                            {{t 'pages-amount'}}
                          </WebComponents::AuLabel>
                          <WebComponents::AuInput
                                  type="number"
                                  id="translationLoadPages"
                                  @value={{mut this.pagesAmount}}
                          />
                        </div>
                      </div>
                      <div class="auk-o-grid-col-6">
                        <div class="auk-form-group">
                          <WebComponents::AuLabel for="translationLoadWords" @isRequired={{true}}
                                                  class="auk-label--light">
                            {{t 'words-amount'}}
                          </WebComponents::AuLabel>
                          <WebComponents::AuInput
                                  type="number"
                                  id="translationLoadWords"
                                  @value={{mut this.wordsAmount}}
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{!-- TODO TODO in KAS2600
                <div class="auk-form-group auk-o-flex--align-start">
                  <WebComponents::AuLabel for="proofPrint">
                    {{t 'for-publish-preview'}}
                  </WebComponents::AuLabel>
                  <WebComponents::AuCheckboxList>
                    <WebComponents::AuCheckbox @name="proofPrint" @checked={{this.proofprint}}
                                               @toggle={{this.toggleProofPrint}} />
                  </WebComponents::AuCheckboxList>
                </div>
                --}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </WebComponents::AuModal::Body>
  <WebComponents::AuModal::Footer
          @cancelModal={{perform this.cancelTranslation}}
  >
    <WebComponents::AuButton
            @skin="primary"
            @disabled={{this.saveIsDisabled}}
      {{on "click" (perform this.saveTranslation)}}
    >
      {{t "save"}}
    </WebComponents::AuButton>
  </WebComponents::AuModal::Footer>
</WebComponents::AuModal>