<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "upload-translation-document"
      identifier=@publicationFlow.identification.idName
    }}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.saveTranslation.isRunning}} @reserveSpace={{true}}>

      <Auk::FileUploader
        @multiple={{false}}
        @onUpload={{this.onUploadFile}} />
      {{!-- File details --}}
      {{#if this.file}}
        <div class="auk-u-my-4">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-11">
              <div class="auk-form-group-layout auk-form-group-layout--horizontal">
                <div class="auk-form-group auk-o-flex--align-start
                  {{if this.validators.name.showError "auk-form-group--error"}}">
                  <Auk::Label for="translationUploadName" @required={{true}}>
                    {{t "name"}}
                  </Auk::Label>
                  <Auk::Input type="text" id="translationUploadName"
                    @value={{mut this.name}}
                    {{on 'input' this.validators.name.enableError}} />
                </div>
                <div class="auk-form-group">
                  <Auk::Label>{{t "file-type"}}</Auk::Label>
                  <Utils::Documents::FileTypePill @extension={{this.file.extension}} />
                </div>
                <div class="auk-form-group {{this.validators.receivedAtDate.errorClass}}">
                  <Auk::Label for="translationUploadReceivedAtDate">{{t "received-at"}}</Auk::Label>
                  <Auk::Datepicker id="translationUploadReceivedAtDate"
                    @date={{this.receivedAtDate}}
                    @onChange={{this.setReceivedAtDate}} />
                </div>
                <div class="auk-form-group auk-o-flex--align-start">
                  <Auk::Label for="translationUploadForProofPrint">
                    {{t "for-proof-print"}}
                  </Auk::Label>
                  <Auk::Checkbox id="translationUploadForProofPrint"
                    @checked={{this.isSourceForProofPrint}}
                    {{on "input" this.toggleProofprint}} />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.saveTranslation.isRunning}}
      {{on "click" (perform this.saveTranslation)}}>
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>