<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "upload-translation-document"}}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <Auk::FileUploader
      @multiple={{true}}
      @reusable={{true}}
      @onUpload={{this.uploadPiece}}
    />
    <Publications::Publication::PublicationDocumentsList
      @pieces={{this.uploadedPieces}}
      @onDeletePiece={{perform this.deleteUploadedPiece}}
    />
    <div class="auk-form-group auk-u-mt-4">
      <Auk::Checkbox
        data-test-translation-upload-update-status
        @label={{t "update-publication-status-translation-received"}}
        @checked={{this.mustUpdatePublicationStatus}}
        {{on "input" this.setTranslationReceivedStatus}}
      />
    </div>
    <div
      data-test-translation-upload-received-date
      class="auk-form-group"
    >
      <Auk::Label for="translationUploadReceivedAtDate">
        {{t "date-received"}}
      </Auk::Label>
      <Auk::Datepicker
        id="translationUploadReceivedAtDate"
        @date={{this.receivedDate}}
        @onChange={{set this "receivedDate"}}
      />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <Auk::Button
      data-test-translation-upload-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>