<div class="vlc-procedure-step vlc-procedure-step--nopadding">
  <div class="vlc-procedure-step__badge-wrapper">
    <Auk::Badge
      @icon="check"
      @skin="success"
      @size="medium"
      class="vlc-procedure-step__badge"
    />
  </div>
  <Auk::Panel>
    <Auk::Panel::Header @size="large">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title auk-panel__title--small">
              {{t "received-translation"}}
            </h4>
            <span class="auk-u-text-small auk-u-m-0">
              {{moment-format @translationActivity.endDate "DD.MM.YYYY"}}
            </span>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <DropdownMenu @skin="borderless" @icon="three-dots" as |Menu|>
                <Menu.Item @skin="primary" {{on "click" this.toggleTranslationEditModal}}>
                  {{t "edit-2"}}
                </Menu.Item>
              </DropdownMenu>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <Auk::List>
        {{#each @translationActivity.generatedPieces as |piece|}}
          <Auk::List::Item
            class="auk-o-flex auk-o-flex--horizontal auk-o-flex--spaced-wide"
          >
            <div class="auk-o-flex auk-o-flex--horizontal auk-o-flex--spaced">
              <Auk::Badge @icon="paperclip" @size="regular" />
              <h5 class="auk-h4 auk-u-m-0">{{piece.file.downloadFilename}}</h5>
            </div>
            <Auk::ButtonLink
              @layout="icon-only"
              @icon="download"
              @href={{piece.file.namedDownloadLink}}
              download={{piece.file.downloadFilename}}
            >
              {{t "download"}}
            </Auk::ButtonLink>
            <Auk::ButtonLink
              @layout="icon-only"
              @icon="book"
              @href={{piece.viewDocumentURL}}
              target="_blank"
            >
              {{t "read"}}
            </Auk::ButtonLink>
          </Auk::List::Item>
        {{/each}}
      </Auk::List>
    </Auk::Panel::Body>
  </Auk::Panel>
</div>


{{#if this.isOpenTranslationEditModal}}
  <Auk::Modal>
    <Auk::Modal::Header
      @title={{t "edit-translation-activity"}}
      @onClose={{this.toggleTranslationEditModal}}
    />
    <Auk::Modal::Body>
      <div class="auk-form-group">
        <Auk::Label for="translationActivityEditEndDate">
          {{t "date"}}
        </Auk::Label>
        <Auk::Datepicker
          id="translationActivityEditEndDate"
          @date={{this.endDate}}
          @onChange={{this.setEndDate}}
        />
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer
      @onCancel={{this.toggleTranslationEditModal}}
    >
      <Auk::Button
        @skin="primary"
        @disabled={{this.isSaveDisabled}}
        {{on "click" (perform this.save)}}
      >
        {{t "save"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}