<Auk::Panel class={{if this.isEditing "auk-panel--editing"}}>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            {{t "translation-info"}}
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      {{#unless this.isEditing}}
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-publication-translations-info-panel-edit
              @skin="naked"
              @icon="pencil"
              {{on "click" this.openEditingPanel}}
            >
              {{t "edit"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      {{/unless}}
    </Auk::Toolbar>
  </Auk::Panel::Header>

  {{#if this.isEditing}}
    <Auk::Panel::Body>
      <div class="au-c-form">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-3">
            <AuFormRow class="auk-u-position-relative" data-test-publication-translations-info-panel-edit-due-date>
              <Auk::Label>{{t "publication-flow-translation-due-date"}}</Auk::Label>
              <Auk::Datepicker
                @date={{@translationSubcase.dueDate}}
                @onChange={{set @translationSubcase "dueDate"}}
              />
              {{#if
                (and
                  (not @isFinal)
                  (is-after-days @translationSubcase.dueDate)
                )
              }}
                <Auk::FormHelpText
                  @text={{t "date-expired"}}
                  @skin="warning"
                  @icon="alert-triangle"
                />
              {{/if}}
            </AuFormRow>
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton
              @skin="naked"
              @disabled={{this.save.isRunning}}
              {{on "click" this.closeEditingPanel}}
            >
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-publication-translations-info-panel-save
              @skin="primary"
              @loading={{this.save.isRunning}}
              {{on "click" (perform this.save)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  {{else}}
    <Auk::Panel::Body>
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-3">
          <div class="auk-content">
            <h4 class="auk-u-m-0">{{t "publication-flow-translation-due-date"}}</h4>
            <p
              data-test-publication-translations-info-panel-due-date
              class="auk-u-m-0"
            >
              {{#if @translationSubcase.dueDate}}
                {{date @translationSubcase.dueDate}}
              {{else}}
                -
              {{/if}}
            </p>
            {{#if
              (and
                (not @isFinal)
                (is-after-days @translationSubcase.dueDate)
              )
            }}
              <Auk::FormHelpText
                @text={{t "date-expired"}}
                @skin="warning"
                @icon="alert-triangle"
              />
            {{/if}}
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
  {{/if}}
</Auk::Panel>