<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "upload-translation-document"}}
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
    <Auk::FileUploader
      @multiple={{true}}
      @reusable={{true}}
      @onUpload={{this.uploadPiece}}
    />
    <Auk::List>
      {{#each this.uploadedPieces as |piece|}}
        <Auk::List::Item class="auk-o-flex auk-o-flex--spaced-wide">
          <div class="auk-o-flex auk-o-flex--spaced">
            <Auk::Badge @icon="paperclip" @size="regular" />
            <h5 class="auk-h4 auk-u-m-0">
              {{piece.file.downloadFilename}}
            </h5>
          </div>
          <Auk::Button
            @icon="trash"
            @layout="icon-only"
            @skin="danger-borderless"
            {{on "click" (perform this.deleteUploadedPiece piece)}}
          />
        </Auk::List::Item>
      {{/each}}
    </Auk::List>
    <div class="auk-form-group auk-u-mt-4">
      <Auk::Checkbox
        @label={{t "set-status-translation-in"}}
        @checked={{this.mustUpdatePublicationStatus}}
        {{on "input" this.setTranslationInStatus}}
      />
    </div>
    <div class="auk-form-group">
      <Auk::Label for="translationUploadReceivedAtDate">
        {{t "date-received"}}
      </Auk::Label>
      <Auk::Datepicker
        id="translationUploadReceivedAtDate"
        @date={{this.receivedAtDate}}
        @onChange={{this.setReceivedAtDate}}
      />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.isCancelDisabled}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      data-test-translation-upload-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>