<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "edit-translation-activity"}}
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <div class="au-c-form">
      <AuFormRow>
        <Auk::Label for="translationActivityEditEndDate">
          {{t "date-received"}}
        </Auk::Label>
        <Auk::Datepicker
          id="translationActivityEditEndDate"
          @date={{this.receivedDate}}
          @onChange={{set this "receivedDate"}}
        />
      </AuFormRow>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <AuButton
      data-test-translation-activity-edit-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
