<Auk::Modal>
  <Auk::Modal::Header
          @resizeable={{false}}
          @title=
            {{t
              "request-translations-for-publication"
              publicationNumber=@identification.idName
            }}
          @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <div class="auk-u-p-4">
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group" style="max-width: 30rem;">
          <Auk::Label for="dateSet">{{t "translation-due-date"}}</Auk::Label>
          <Auk::Datepicker id="dateSet"
                                       @date={{this.translationDueDate}}
                                       @onChange={{this.setTranslationDueDate}}/>
        </div>
        <div class="auk-form-group">
          <Auk::Label for="subjectTransl" @isRequired={{true}}>
            {{t 'subject'}}
          </Auk::Label>
          <Auk::Input type="text" id="subjectTransld" size="39" @value={{mut this.subject}}/>
        </div>
        <div class="auk-form-group">
          <Auk::Label for="messageTransl" @isRequired={{true}}>
            {{t 'translation-mail-header'}}
          </Auk::Label>
          <WebComponents::AuTextarea id="messageTransld" @rows="6" @value={{mut this.message}} disabled />
        </div>
        <div class="auk-form-group">
          <Auk::Label>
            {{t 'files'}}
          </Auk::Label>

          <Auk::List @isBordered="true">
            {{#each @selectedPieces as |piece|}}
              <Auk::List::Item>
                <Auk::Badge @icon="file"/>
                <div class="auk-u-mx-2">
                  <span class="auk-u-text-bold">{{piece.name}}</span>
                  <div class="auk-u-muted auk-u-text-small">{{piece.file.extension}}, {{format-bytesize piece.file.size}}</div>
                </div>
                <Auk::Button
                        @layout="icon-only"
                        @icon="book"
                        @skin="borderless"
                        @href={{piece.viewDocumentURL}}
                        target="_blank"
                />
              </Auk::List::Item>

            {{/each}}
          </Auk::List>
        </div>
      </div>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{this.saveIsDisabled}}
      {{on "click" (perform this.saveRequest)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>