<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "request-translations-for-publication"
      publicationNumber=@publicationFlow.identification.idName
    }}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.saveRequest.isRunning}} @reserveSpace={{true}}>
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        {{!-- Due date --}}
        {{!-- TODO: Remove inline style --}}
        {{!-- template-lint-disable no-inline-styles --}}
        <div class="auk-form-group" style="max-width: 30rem;">
          <Auk::Label for="translationRequestDueDate">{{t "translation-due-date"}}</Auk::Label>
          <Auk::Datepicker id="translationRequestDueDate"
            @date={{this.translationDueDate}}
            @onChange={{this.setTranslationDueDate}} />
        </div>
        {{!-- template-lint-enable no-inline-styles --}}
        {{!-- Subject --}}
        <div class="auk-form-group">
          <Auk::Label for="translationRequestSubject">
            {{t 'subject'}}
          </Auk::Label>
          <Auk::Input id="translationRequestSubject"
            @block={{true}}
            @value={{mut this.subject}} />
        </div>
        {{!-- Message --}}
        <div class="auk-form-group">
          <Auk::Label for="translationRequestMessage" @required={{true}}>
            {{t 'message'}}
          </Auk::Label>
          <Auk::Textarea id="translationRequestMessage" @rows="6"
            @value={{mut this.message}} />
        </div>
        {{!-- Attachments --}}
        <div class="auk-form-group">
          <Auk::Label>{{t "attachments"}}</Auk::Label>
          <Utils::Documents::List @pieces={{@attachments}} />
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.saveRequest.isRunning}}
      {{on "click" (perform this.saveRequest)}}>
      {{t "request-action"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>