<Auk::Modal>
  <Auk::Modal::Header
          @resizeable={{false}}
          @title=
            {{t
              "request-translations-for-publication"
              publicationNumber=@identification.idName
            }}
          @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      <div class="auk-form-group" style="max-width: 30rem;">
        <Auk::Label for="dateSet">{{t "translation-due-date"}}</Auk::Label>
        <Auk::Datepicker id="dateSet"
          @date={{this.translationDueDate}}
          @onChange={{this.setTranslationDueDate}}/>
      </div>
      <div class="auk-form-group">
        <Auk::Label for="subjectTransl">
          {{t 'subject'}}
        </Auk::Label>
        <Auk::Input type="text" id="subjectTransld"
          @value={{mut this.subject}}
          class="auk-input auk-input--block" />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="messageTransl" @isRequired={{true}}>
          {{t 'translation-mail-header'}}
        </Auk::Label>
        <WebComponents::AuTextarea id="messageTransld" @rows="6" @value={{mut this.message}} />
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          {{t 'files'}}
        </Auk::Label>

        <Auk::List @isBordered="true" class="auk-list--view">
          {{#each @selectedPieces as |piece|}}
            <Auk::List::Item @skin="gray-100">
              <div class="auk-u-ml-2">
                <Auk::Icon @name="document" @skin="muted-dark" />
              </div>
              <div class="auk-u-mx-2">
                <span>{{piece.name}}</span>
                <div class="auk-u-muted auk-u-text-small">
                  {{uppercase piece.file.extension}}, {{format-bytesize piece.file.size}}
                </div>
              </div>
              <Auk::Button
                @layout="icon-only"
                @icon="book"
                @skin="borderless"
                @href={{piece.viewDocumentURL}}
                target="_blank"
              />
            </Auk::List::Item>
          {{/each}}
        </Auk::List>
      </div>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{this.saveIsDisabled}}
      {{on "click" (perform this.saveRequest)}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>