<Auk::Modal>
  <Auk::Modal::Header
    @resizeable={{false}}
    @title={{t
      "request-translations-for-publication"
      publicationNumber=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      {{! TODO: Remove inline style }}
      {{! template-lint-disable no-inline-styles }}
      <div class="auk-form-group" style="max-width: 30rem;">
        <Auk::Label for="translationRequestDueDate">
          {{t "publication-flow-translation-due-date"}}
        </Auk::Label>
        <Auk::Datepicker
          id="translationRequestDueDate"
          @date={{this.translationDueDate}}
          @onChange={{this.setTranslationDueDate}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "translation-burden"}}</Auk::Label>
        <div
          class="auk-form-group-layout auk-form-group-layout--standard auk-form-group-layout--grid"
        >
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-6">
              <div class="auk-form-group">
                <Auk::Label for="translationLoadPages" class="auk-label--light">
                  {{t "pages-amount"}}
                </Auk::Label>
                <Auk::Input
                  data-test-publication-documents-upload-pages
                  @type="number"
                  id="translationLoadPages"
                  @block={{true}}
                  @value={{mut this.pagesAmount}}
                  {{on "focusout" (perform this.setEmailFields)}}
                />
              </div>
            </div>
            <div class="auk-o-grid-col-6">
              <div class="auk-form-group">
                <Auk::Label for="translationLoadWords" class="auk-label--light">
                  {{t "words-amount"}}
                </Auk::Label>
                <Auk::Input
                  @type="number"
                  id="translationLoadWords"
                  @block={{true}}
                  @value={{mut this.wordsAmount}}
                  {{on "focusout" (perform this.setEmailFields)}}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auk-form-group">
        <Auk::Label for="translationRequestSubject">
          {{t "subject"}}
        </Auk::Label>
        <Auk::Input
          id="translationRequestSubject"
          @block={{true}}
          @value={{mut this.subject}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="translationRequestMessage" @required={{true}}>
          {{t "message"}}
        </Auk::Label>
        <Auk::Textarea
          data-test-publication-translation-request-message
          id="translationRequestMessage"
          @rows="6"
          @value={{mut this.message}}
        />
      </div>

      <div class="auk-form-group">
        <Auk::Label>
          {{t "attachments"}}
        </Auk::Label>
        <Auk::FileUploader @multiple={{false}} @onUpload={{this.uploadPiece}} />
        <Auk::List>
          {{#each this.uploadedPieces as |piece|}}
            <Auk::List::Item
              class="auk-o-flex auk-o-flex--horizontal auk-o-flex--spaced-wide"
            >
              <div class="auk-o-flex auk-o-flex--horizontal auk-o-flex--spaced">
                <Auk::Badge @icon="paperclip" @size="regular" />
                <h5 class="auk-h4 auk-u-m-0">
                  {{piece.file.downloadFilename}}
                </h5>
              </div>
            </Auk::List::Item>
          {{/each}}
        </Auk::List>
      </div>

    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.isCancelDisabled}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>