<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "upload-translation-document"}}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <div class="au-c-form">
      <Auk::FileUploader
        @multiple={{true}}
        @reusable={{true}}
        @onUpload={{this.uploadPiece}}
      />
      <Publications::Publication::PublicationDocumentsList
        @pieces={{this.uploadedPieces}}
        @onDeletePiece={{perform this.deleteUploadedPiece}}
      />
      <AuFormRow>
        <AuCheckbox
          data-test-translation-upload-update-status
          @checked={{this.mustUpdatePublicationStatus}}
          @onChange={{this.setTranslationReceivedStatus}}
        >
          {{t "update-publication-status-translation-received"}}
        </AuCheckbox>
      </AuFormRow>
      <AuFormRow data-test-translation-upload-received-date>
        <Auk::Label for="translationUploadReceivedAtDate">
          {{t "date-received"}}
        </Auk::Label>
        <Auk::Datepicker
          id="translationUploadReceivedAtDate"
          @date={{this.receivedDate}}
          @onChange={{set this "receivedDate"}}
        />
      </AuFormRow>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <AuButton
      data-test-translation-upload-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>