<Auk::Panel data-test-translation-received-panel>
  <Auk::Panel::Header @size="large">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title auk-panel__title--small">
            {{t "received-translation"}}
          </h4>
          <span data-test-translation-received-panel-end-date class="auk-u-text-small auk-u-m-0">
            {{moment-format @translationActivity.endDate}}
          </span>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::DropdownMenu data-test-translation-received-panel-dropdown @skin="borderless" @icon="three-dots" as |Menu|>
            <Menu.Item
              data-test-translation-received-panel-proof-request
              @skin="primary"
              {{on "click" this.openProofRequestModal}}
            >
              {{t "request-proof"}}
            </Menu.Item>
            <Menu.Item
              data-test-translation-received-panel-edit
              @skin="primary"
              {{on "click" this.openTranslationEditModal}}
            >
              {{t "edit-2"}}
            </Menu.Item>
          </Auk::DropdownMenu>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <Publications::Publication::PublicationDocumentsList
      @pieces={{@translationActivity.generatedPieces}}
      @viewable={{true}}
      @onDeletePiece={{@onDeletePiece}}
    />
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenTranslationEditModal}}
  <Publications::Publication::Translations::TranslationActivityEditModal
    @receivedDate={{@translationActivity.endDate}}
    @onSave={{perform this.editTranslationActivity}}
    @onCancel={{this.closeTranslationEditModal}}
  />
{{/if}}

{{#if this.isOpenProofRequestModal}}
  <Publications::Publication::Proofs::ProofRequestModal
    @publicationFlow={{@publicationFlow}}
    @translationActivity={{@translationActivity}}
    @onSave={{perform this.createProofRequest}}
    @onCancel={{this.closeProofRequestModal}}
  />
{{/if}}