<Auk::Modal>
  <Auk::Modal::Header
    @resizeable={{false}}
    @title={{t
      "request-translations-for-publication"
      publicationNumber=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <div class="au-c-form">
      <AuFormRow class="auk-u-max-width-medium">
        <Auk::Label for="translationRequestDueDate" @required={{true}}>
          {{t "publication-flow-translation-due-date"}}
        </Auk::Label>
        <Auk::Datepicker
          id="translationRequestDueDate"
          @date={{this.translationDueDate}}
          @onChange={{this.setTranslationDueDate}}
        />
      </AuFormRow>
      <AuFormRow>
        <Auk::Label>{{t "translation-burden"}}</Auk::Label>
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6">
            <AuFormRow>
              <Auk::Label
                for="translationNumberOfPages"
                class="auk-label--light"
              >
                {{t "number-of-pages-to-translate"}}
              </Auk::Label>
              <AuInput
                data-test-publication-translation-request-number-of-pages
                @type="number"
                @width="block"
                @value={{mut this.numberOfPages}}
                {{on "focusout" (perform this.setEmailFields)}}
                id="translationNumberOfPages"
              />
            </AuFormRow>
          </div>
          <div class="auk-o-grid-col-6">
            <AuFormRow>
              <Auk::Label
                for="translationNumberOfWords"
                class="auk-label--light"
              >
                {{t "number-of-words-to-translate"}}
              </Auk::Label>
              <AuInput
                data-test-publication-translation-request-number-of-words
                @type="number"
                @width="block"
                @value={{mut this.numberOfWords}}
                {{on "focusout" (perform this.setEmailFields)}}
                id="translationNumberOfWords"
              />
            </AuFormRow>
          </div>
        </div>
      </AuFormRow>
      <AuFormRow>
        <Auk::Label @required={{true}}>
          {{t "attachments"}}
        </Auk::Label>
        <Publications::Publication::RequestUploader
          @onUpload={{this.uploadPiece}}
        />
        <Publications::Publication::PublicationDocumentsList
          @pieces={{this.uploadedPieces}}
          @onDeletePiece={{perform this.deleteUploadedPiece}}
          class="au-u-margin-top-tiny"
        />
      </AuFormRow>
      <AuFormRow>
        <AuCheckbox
          data-test-publication-translation-request-update-status
          @checked={{this.mustUpdatePublicationStatus}}
          @onChange={{this.setTranslationRequestedStatus}}
        >
          {{t "update-publication-status-translation-requested"}}
        </AuCheckbox>
      </AuFormRow>
      <AuFormRow>
        <Auk::Label for="translationRequestSubject" @required={{true}}>
          {{t "subject"}}
        </Auk::Label>
        <AuInput
          @width="block"
          @value={{mut this.subject}}
          id="translationRequestSubject"
        />
      </AuFormRow>
      <AuFormRow>
        <Auk::Label for="translationRequestMessage" @required={{true}}>
          {{t "message"}}
        </Auk::Label>
        <AuTextarea
          data-test-publication-translation-request-message
          id="translationRequestMessage"
          rows="16"
          @width="block"
          @value={{this.message}}
        />
      </AuFormRow>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <AuButton
      data-test-publication-translation-request-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
