<Auk::Modal>
  <Auk::Modal::Header
    @title="Vertaling opladen"
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
     <Utils::LoadableContent
      @reserveSpace={{true}}
    >
      <Auk::FileUploader />
    </Utils::LoadableContent>
    <div
      class="auk-form-group auk-u-mt-4"
    >
      <Auk::Toolbar::Item>
        <Auk::Checkbox
          @label="Zet status naar 'Vertaald'"
        />
      </Auk::Toolbar::Item>
    </div>
    <div
      class="auk-form-group"
    >
      <Auk::Label>Datum</Auk::Label>
      <Auk::Datepicker
        @date=""
        @onChange=""
      />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      {{on "click" @onCancel}}
    >
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>