<Auk::Modal>
  <Auk::Modal::Header
    @resizeable={{false}}
    @title={{t
      "request-translations-for-publication"
      publicationNumber=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      {{! TODO: Remove inline style }}
      {{! template-lint-disable no-inline-styles }}
      <div class="auk-form-group" style="max-width: 30rem;">
        <Auk::Label for="translationRequestDueDate" @required={{true}}>
          {{t "publication-flow-translation-due-date"}}
        </Auk::Label>
        <Auk::Datepicker
          id="translationRequestDueDate"
          @date={{this.translationDueDate}}
          @onChange={{this.setTranslationDueDate}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "translation-burden"}}</Auk::Label>
        <div
          class="auk-form-group-layout auk-form-group-layout--standard auk-form-group-layout--grid"
        >
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-6">
              <div class="auk-form-group">
                <Auk::Label
                  for="translationNumberOfPages"
                  class="auk-label--light"
                >
                  {{t "number-of-pages"}}
                </Auk::Label>
                <Auk::Input
                  data-test-publication-documents-number-of-pages
                  @type="number"
                  id="translationNumberOfPages"
                  @block={{true}}
                  @value={{mut this.numberOfPages}}
                  {{on "focusout" (perform this.setEmailFields)}}
                />
              </div>
            </div>
            <div class="auk-o-grid-col-6">
              <div class="auk-form-group">
                <Auk::Label
                  for="translationNumberOfWords"
                  class="auk-label--light"
                >
                  {{t "number-of-words"}}
                </Auk::Label>
                <Auk::Input
                  @type="number"
                  id="translationNumberOfWords"
                  @block={{true}}
                  @value={{mut this.numberOfWords}}
                  {{on "focusout" (perform this.setEmailFields)}}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auk-form-group auk-u-mt-4">
        <Auk::Checkbox
          @label={{t "update-publication-status-translation-requested"}}
          @checked={{this.mustUpdatePublicationStatus}}
          {{on "input" this.setTranslationRequestedStatus}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="translationRequestSubject" @required={{true}}>
          {{t "subject"}}
        </Auk::Label>
        <Auk::Input
          id="translationRequestSubject"
          @block={{true}}
          @value={{mut this.subject}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="translationRequestMessage" @required={{true}}>
          {{t "message"}}
        </Auk::Label>
        <Auk::Textarea
          id="translationRequestMessage"
          rows="16"
          @value={{mut this.message}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label @required={{true}}>
          {{t "attachments"}}
        </Auk::Label>
        <Auk::FileUploader
          @multiple={{true}}
          @reusable={{true}}
          @onUpload={{this.uploadPiece}}
        />
        <Publications::Publication::PublicationDocumentsList
          @pieces={{this.uploadedPieces}}
          @onDeletePiece={{perform this.deleteUploadedPiece}}
        />
      </div>

    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.isCancelDisabled}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>