<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1 class="vlc-page-header__title vlc-u-padding-bottom-5 vlc-page-header__title--bordered"
          data-test-agenda-header-title>
        {{t "agenda-of"}}
        {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
        {{t "at"}}
        {{moment-format currentSession.plannedStart "HH:mm"}}
        <span class="vlc-page-header__subtitle vl-u-text vl-u-text--muted" style="font-size:1.6rem;">
          - {{await currentSession.kindToShow.label}}
        </span>
      </h1>
      <div class="vlc-page-header__sub">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              {{!-- TODO: Fix this symbol into a custom icon based of the figma file --}}
              {{!-- template-lint-disable no-bare-strings  --}}
              <LinkTo @route="agendas.overview" class="vlc-backlink vl-link vl-link--bold">
                &#8629;
              </LinkTo>
              {{!-- template-lint-enable no-bare-strings  --}}
            </div>
            <Sessions::SessionAgendaNav
              @currentAgenda={{currentAgenda}}
              @compareAgendas={{action "compareAgendas"}}
              @navigateToDocuments={{action "navigateToDocuments"}}
              @clearSelectedAgendaitem={{action "clearSelectedAgendaitem"}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if currentSessionService.isViewer}}
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <div class="vl-action-group">
          {{#if (and currentAgenda.isDesignAgenda currentSessionService.isEditor)}}
            <button type="button"
                    data-test-agenda-header-showAgendaOptions
                    class="vl-button vl-button--icon-before"
              {{action "showAgendaActions"}}
            >
              {{t "agendaApproveActions"}}
              {{#if (not isShowingAgendaActions)}}
                <i class="vl-button__icon vl-button__icon--after ki-chevron-down"
                  {{action "showAgendaActions" bubbles=false}}
                ></i>
              {{else}}
                <i class="vl-button__icon vl-button__icon--after ki-chevron-up"
                  {{action "showAgendaActions" bubbles=false}}
                ></i>
              {{/if}}
              {{#attach-popover
                renderInPlace=true
                class="ember-attacher-popper vlc-hide-on-print"
                hideOn="clickout click"
                showOn="click"
                animation="shift"
                placement="bottom"
              as |attacher|
              }}
                <ul class="vlc-dropdown-menu">
                  {{#if (and currentSessionService.isEditor currentAgenda.isDesignAgenda)}}
                    <li class="vlc-dropdown-menu__item">
                      <button type="button" data-test-agenda-header-approveAgenda class="vl-link vl-link--block"
                        {{action attacher.hide}}
                        {{action "tryToApproveAgenda" currentSession}}
                      >
                        {{await currentSession.latestAgendaName}} {{t "approve-small"}}
                      </button>
                    </li>
                    <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                    <li class="vlc-dropdown-menu__item">
                      <button  type="button" data-test-agenda-header-approve-and-close-agenda class="vl-link vl-link--block"
                        {{action attacher.hide}}
                        {{action "approveAndCloseAgenda" currentSession}}
                      >
                        <span>
                          {{await currentSession.latestAgendaName}} {{t "approve-small-and-close"}}
                        </span>
                      </button>
                    </li>
                  {{/if}}
                </ul>
              {{/attach-popover}}

            </button>
          {{/if}}
          <button type="button"
                  data-test-agenda-header-showActionOptions
                  class="vl-button vl-button--icon-before vl-button--secondary"
            {{action "showMultipleOptions"}}
          >
            {{t "actions"}}
            {{#if (not isShowingOptions)}}
              <i class="vl-button__icon vl-button__icon--after ki-chevron-down"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{else}}
              <i class="vl-button__icon vl-button__icon--after ki-chevron-up"
                {{action "showMultipleOptions" bubbles=false}}
              ></i>
            {{/if}}
            {{#attach-popover
              renderInPlace=true
              class="ember-attacher-popper vlc-hide-on-print"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom"
            as |attacher|
            }}
              <ul class="vlc-dropdown-menu">
                {{#if (and currentSessionService.isEditor currentAgenda.isDesignAgenda)}}
                  <li class="vlc-dropdown-menu__item">
                    <a href="javascript://"
                       data-test-agenda-header-navigateToSubCases
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "navigateToSubCases"}}
                    >
                      {{t "add-to-agenda"}}
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                {{/if}}
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToDecisions
                     class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToDecisions"}}
                  >
                    {{t "print-decisions"}}
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToNewsletter
                     class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToNewsletter"}}
                  >
                    {{t "print-newsletter"}}
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToNotes
                     class="vl-link vl-link--block"
                    {{action "navigateToNotes"}}
                  >
                    {{t "print-notes"}}
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-navigateToPressAgenda
                     class="vl-link vl-link--block"
                    {{action "navigateToPressAgenda"}}
                    {{action attacher.hide}}
                  >
                    {{t "printable-press-agenda"}}
                  </a>
                </li>
                {{#if showPrintButton}}
                  <li class="vlc-dropdown-menu__item">
                    {{#link-to
                      "agenda.agendaitems"
                      class="vl-link vl-link--block"
                    }}
                      {{t "agenda-view"}}
                    {{/link-to}}
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-navigateToPressAgenda
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "print"}}
                    >
                      {{t "print"}}
                    </a>
                  </li>
                {{else}}
                  <li class="vlc-dropdown-menu__item">
                    <LinkTo
                      data-test-agenda-header-navigateToPrintableAgenda
                      class="vl-link vl-link--block"
                      @route="agenda.print"
                    >
                      {{t "printable-version"}}
                    </LinkTo>
                  </li>
                {{/if}}
                {{#if currentSessionService.isEditor}}
                  <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-toggleEditingSession
                       class="vl-link vl-link--block"
                      {{action "toggleEditingSession"}}
                      {{action attacher.hide}}
                    >
                      {{t "edit-session"}}
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-selectSignature
                       class="vl-link vl-link--block"
                      {{action "selectSignature"}}
                      {{action attacher.hide}}
                    >
                      {{t "signature-edit"}}
                    </a>
                  </li>
                {{/if}}
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                     data-test-agenda-header-downloaddDocuments
                     class="vl-link vl-link--block"
                    {{action attacher.hide}}
                    {{action "downloadAllDocuments"}}
                  >
                    {{t "download-documents"}}
                  </a>
                </li>
                {{#if currentAgenda.isDesignAgenda}}
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                       data-test-agenda-header-approve-all-agendaitems
                       class="vl-link vl-link--block"
                      {{action attacher.hide}}
                      {{action "showApproveAllAgendaitemsWarning"}}
                    >
                      {{t "approve-all-agendaitems"}}
                    </a>
                  </li>
                {{/if}}
                {{#if currentSessionService.isEditor}}
                  <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                  <li class="vlc-dropdown-menu__item">
                    {{#if (not currentSession.isFinal)}}
                      {{#if (await isLockable)}}
                        <a href=""
                           data-test-agenda-header-lockAgenda
                           class="vl-link vl-link--block vl-u-text--error"
                          {{action "lockAgendaAction" currentAgenda}}
                          {{action attacher.hide}}
                        >
                          {{t "agenda-lock"}}
                        </a>
                      {{/if}}
                    {{else}}
                      <a href=""
                         data-test-agenda-header-unlockAgenda
                         class="vl-link vl-link--block"
                        {{action "unlockAgenda"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-unlock"}}
                      </a>
                    {{/if}}
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    {{#if currentSession.canReleaseDecisions}}
                      <a href=""
                         data-test-agenda-header-releaseDecisions
                         class="vl-link vl-link--block vl-u-text--error"
                        {{action "releaseDecisions"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-release-decisions"}}
                      </a>
                    {{else if currentSession.canReleaseDocuments}}
                      <a href=""
                         data-test-agenda-header-releaseDocuments
                         class="vl-link vl-link--block vl-u-text--error"
                        {{action "releaseDocuments"}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-release-documents"}}
                      </a>
                    {{/if}}
                  </li>
                  <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger"
                  >
                    {{#if
                      (or
                        (and currentAgenda currentAgenda.isDesignAgenda)
                        (and currentSessionService.isAdmin (await currentAgendaIsLast))
                      )
                    }}
                      <a href=""
                         data-test-agenda-header-deleteAgenda
                         class="vl-link vl-u-text--error"
                        {{action "deleteAgenda" currentAgenda}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-delete"}}
                      </a>
                    {{/if}}
                    {{#if
                      (and
                        (not (await designAgendaPresent))
                        (not (await currentSession.isFinal))
                      )
                    }}
                      <a href=""
                         data-test-agenda-header-createNewDesignAgenda
                         class="vl-link vl-link--block"
                        {{action "createNewDesignAgenda" currentSession}}
                        {{action attacher.hide}}
                      >
                        {{t "agenda-add"}}
                      </a>
                    {{/if}}
                  </li>
                {{/if}}
              </ul>
            {{/attach-popover}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{#if isAddingAgendaitems}}
  <Agenda::Agendaitem::CreateAgendaitem
    @isAddingAgendaitems={{isAddingAgendaitems}}
    @onCreate={{this.onCreateAgendaitem}} />
{{/if}}
{{#if isAssigningSignature}}
  <Session::SelectSignature
    @meeting={{currentSession}}
    @closeDialog={{action "selectSignature"}} />
{{/if}}
{{#if showWarning}}
  <WebComponents::VlModalVerify
    data-test-agenda-approve-modal
    @title={{t "warning-title"}}
    @buttonType="warning"
    @isLoading={{isApprovingAgenda}}
    @verifyButtonText={{t "continue"}}
    @message={{if
      (and
        (await currentAgenda.isPassable)
        (not (await currentAgenda.isApprovable) )
      )
      (t "approve-agenda-passable")
      (t "approve-agenda-warning")
    }}
    @cancel={{action "cancel"}}
    @verify={{action "doApproveAgenda" currentSession}}
    @showVerify={{and
      (await currentAgenda.isPassable)
      (not (await currentAgenda.isApprovable)
      )
    }} />
{{/if}}
{{#if releasingDocuments}}
  <WebComponents::VlModalVerify
    @title={{t "agenda-release-documents"}}
    @buttonType="warning"
    @verifyButtonText={{t "releaseToPublicButton"}}
    @message={{t "release-documents-message"}}
    @cancel={{action "cancel"}}
    @verify={{action "confirmReleaseDocuments"}}
  />
{{/if}}
{{#if releasingDecisions}}
  <WebComponents::VlModalVerify
    @title={{t "agenda-release-decisions"}}
    @buttonType="warning"
    @verifyButtonText={{t "releaseToPublicButton"}}
    @message={{t "release-decisions-message"}}
    @cancel={{action "cancel"}}
    @verify={{action "confirmReleaseDecisions"}} />
{{/if}}
{{#if editingSession}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{t "edit-session"}}
    @closeModal={{action "cancelEditSessionForm"}} >
    <Sessions::Forms::EditSession
      @meeting={{currentSession}}
      @successfullyEdited={{action "successfullyEdited"}}
      @cancelForm={{action "cancelEditSessionForm"}} />
  </WebComponents::VlModal>
{{/if}}
{{#if shouldShowLoader}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{loaderTitle}} >
    <WebComponents::VlLoader @text={{loaderText}} />
  </WebComponents::VlModal>
{{/if}}

{{#if isApprovingAllAgendaitems}}
  <WebComponents::VlModalVerify
    @title={{t "approve-all-agendaitems"}}
    @buttonType="warning"
    @verifyButtonText={{t "approve"}}
    @message={{t
      "approve-all-agendaitems-warning-message"
      amountOfAgendaitemsNotFormallyOk=(await amountOfAgendaitemsNotFormallyOk)
    }}
    @cancel={{action "cancel"}}
    @verify={{action "approveAllAgendaitems"}}
  />
{{/if}}

{{#if isShowingWarningOnClose}}
  <WebComponents::VlModalVerify
      @isOverlay={{true}}
      @message={{t "agenda-has-nok-agendaitems-warning"}}
      @title={{t "approve-agenda-error"}}
      @buttonType="warning"
      @verifyButtonText={{t "continue"}}
      @cancel={{action "cancelLockAgenda"}}
      @verify={{action "cancelLockAgenda"}}
      @closeModal={{action "cancelLockAgenda"}}
  />
{{/if}}