<tr class="auk-table--batch-edit">
  <td></td>
  <td>
    {{#if @selectedRows}}
      {{t "x-documents-selected" count=@selectedRows.length}}
    {{/if}}
  </td>
  <td>
    <Utils::ModelSelector
      @modelName="document-type"
      @allowClear={{true}}
      @searchField="label"
      @displayField="label"
      @sortField="priority"
      @disabled={{this.isDisabled}}
      @selected={{this.documentType}}
      @onChange={{this.setDocumentType}}
    />
  </td>
  <td>
    <Utils::AccessLevelSelector
      @allowClear={{true}}
      @displayField="label"
      @sortField="position"
      @disabled={{this.isDisabled}}
      @selected={{this.accessLevel}}
      @onChange={{this.setAccessLevel}}
    />
  </td>
  <td>
    <WebComponents::AuButtonToolbar>
      {{#if this.isToBeDeleted}}
        <Auk::Button
          @icon="redo"
          @layout="icon-only"
          @skin="borderless"
          @disabled={{this.isDisabled}}
          {{on "click" (fn this.setToBeDeleted false)}}
        />
      {{else}}
        <Auk::Button
          @icon="trash"
          @layout="icon-only"
          @skin="danger-borderless"
          @disabled={{this.isDisabled}}
          {{on "click" (fn this.setToBeDeleted true)}}
        />
      {{/if}}
    </WebComponents::AuButtonToolbar>
  </td>
</tr>