<tr class="auk-table--batch-edit">
  <td></td>
  <td>
    {{#if @selectedRows}}
      {{t "x-documents-selected" count=@selectedRows.length}}
    {{/if}}
  </td>
  <td>
    <Utils::DocumentTypeSelector
      data-test-batch-editing-row-type
      @disabled={{or this.hasSentSignFlow this.isDisabled}}
      @selectedDocumentType={{this.documentType}}
      @onChange={{this.setDocumentType}}
    />
  </td>
  <td>
    <Utils::AccessLevelSelector
      data-test-batch-editing-row-access-level
      @allowClear={{true}}
      @displayField="label"
      @sortField="position"
      @disabled={{this.isDisabled}}
      @selected={{this.accessLevel}}
      @onChange={{this.setAccessLevel}}
    />
  </td>
  {{#if (and @isSignaturesEnabled @decisionActivity)}}
    <td>
      <AuToggleSwitch
        @skin="primary"
        @label={{t "present-for-signing"}}
        @onChange={{fn this.setMarkedForSignature}}
        @disabled={{or this.isDisabled this.isSignMarkingDisabled @agendaitemIsRetracted}}
      />
    </td>
  {{/if}}
  <td class="auk-u-text-align--right">
    {{#if this.isToBeDeleted}}
      <AuButton
        @skin="naked"
        @icon="undo"
        @hideText={{true}}
        @disabled={{or this.hasSentSignFlow this.isDisabled}}
        {{on "click" (fn this.setToBeDeleted false)}}
      >
        {{t "undo"}}
      </AuButton>
    {{else}}
      <AuButton
        @skin="naked"
        @alert={{true}}
        @icon="trash"
        @hideText={{true}}
        @disabled={{or this.hasSentSignFlow this.isDisabled}}
        {{on "click" (fn this.setToBeDeleted true)}}
      >
        {{t "delete"}}
      </AuButton>
    {{/if}}
  </td>
</tr>