<Auk::Modal @size="full-screen-padded">
  <Auk::Modal::Header
    @closeDisabled={{this.save.isRunning}}
    @title={{t "documents"}}
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body @noPadding={{true}}>
    <Utils::LoadableContent @isLoading={{this.isLoading}}>
      <table class="auk-table auk-table--sortable auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th></th>
            {{#if this.isEditingEnabled}}
              <th class="auk-table-checkbox-col">
                <AuCheckbox
                  data-test-batch-documents-details-select-all
                  @checked={{this.areAllSelected}}
                  @onChange={{this.toggleAllSelection}}
                />
              </th>
            {{/if}}
            <th></th>
            <th>{{t "name-document"}}</th>
            <th>{{t "document-type"}}</th>
            {{#if this.isEditingEnabled}}
              {{#if this.isAccessLevelEnabled}}
                <th>{{t "publicity"}}</th>
              {{/if}}
              {{#if this.isSignaturesEnabled}}
                {{#if @decisionActivity}}
                  <th>{{t "signature"}}</th>
                {{/if}}
              {{/if}}
            {{else}}
              <th>{{t "file-type"}}</th>
            {{/if}}
            <th>{{! Actions }}</th>
          </tr>
        </thead>
        <tbody {{sortable-group onChange=this.onReorderPieces}}>
          {{#if this.isEditingEnabled}}
            <Documents::BatchDetails::BatchEditingRow
              @selectedRows={{this.selectedRows}}
              @decisionActivity={{@decisionActivity}}
              @isSignaturesEnabled={{this.isSignaturesEnabled}}
              @isAccessLevelEnabled={{this.isAccessLevelEnabled}}
              @agendaitemIsRetracted={{this.agendaitemIsRetracted}}
              @disableDelete={{@disableDelete}}
            />
          {{/if}}
          {{#each this.reorderableRows as |row|}}
            <Documents::BatchDetails::DocumentDetailsRow
              @row={{row}}
              @isEditingEnabled={{this.isEditingEnabled}}
              @isAccessLevelEnabled={{this.isAccessLevelEnabled}}
              @disableEditingPosition={{@disableEditingPosition}}
              @isSelected={{includes row this.selectedRows}}
              @onSelect={{this.toggleSelection}}
              @agendaitemIsRetracted={{this.agendaitemIsRetracted}}
              @disableDelete={{@disableDelete}}
            />
          {{/each}}
        </tbody>
      </table>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}} @cancelDisabled={{this.save.isRunning}}>
    {{#if this.isEditingEnabled}}
      <AuButton
        data-test-batch-documents-details-save
        @skin="primary"
        @disabled={{this.isSaveDisabled}}
        @loading={{this.save.isRunning}}
        {{on "click" (perform this.save)}}
      >
        {{t "save"}}
      </AuButton>
    {{/if}}
  </Auk::Modal::Footer>
</Auk::Modal>
