<Auk::Modal @size="full-screen-padded">
  <Auk::Modal::Header @closeDisabled={{this.save.isRunning}} @title={{t "documents"}} @onClose={{@onCancel}} />
  <Auk::Modal::Body @noPadding={{true}}>
    <Utils::LoadableContent @isLoading={{this.isLoading}}>
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            {{#if (user-may "manage-documents")}}
              <th class="auk-table-checkbox-col">
                <AuCheckbox
                  data-test-batch-documents-details-select-all
                  @checked={{this.areAllSelected}}
                  @onChange={{this.toggleAllSelection}}
                />
              </th>
            {{/if}}
            <th>{{t "name-document"}}</th>
            <th>{{t "document-type"}}</th>
            {{#if (user-may "manage-documents")}}
              <th>{{t "publicity"}}</th>
              {{#if this.isSignaturesEnabled}}
                {{#if @decisionActivity}}
                  <th>{{t "signature"}}</th>
                {{/if}}
              {{/if}}
            {{else}}
              <th>{{t "file-type"}}</th>
            {{/if}}
            <th>{{! Actions }}</th>
          </tr>
        </thead>
        <tbody>
          {{#if (user-may "manage-documents")}}
            <Documents::BatchDetails::BatchEditingRow
              @selectedRows={{this.selectedRows}}
              @decisionActivity={{@decisionActivity}}
              @isSignaturesEnabled={{this.isSignaturesEnabled}}
            />
          {{/if}}
          {{#each this.rows as |row|}}
            <Documents::BatchDetails::DocumentDetailsRow
              @row={{row}}
              @isEditingEnabled={{user-may "manage-documents"}}
              @isSelected={{includes row this.selectedRows}}
              @onSelect={{this.toggleSelection}}
            />
          {{/each}}
        </tbody>
      </table>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    {{#if (user-may "manage-documents")}}
      <AuButton
        data-test-batch-documents-details-save
        @skin="primary"
        @disabled={{this.isSaveDisabled}}
        @loading={{this.save.isRunning}}
        {{on "click" (perform this.save)}}
      >
        {{t "save"}}
      </AuButton>
    {{/if}}
  </Auk::Modal::Footer>
</Auk::Modal>