<tr class="auk-table--batch-edit">
  <td></td>
  <td>
    {{#if @selectedRows}}
      {{t "x-documents-selected" count=@selectedRows.length}}
    {{/if}}
  </td>
  <td>
    <Utils::ModelSelector
      data-test-batch-editing-row-type
      @modelName="document-type"
      @allowClear={{true}}
      @searchField="label"
      @displayField="label"
      @sortField="priority"
      @disabled={{this.isDisabled}}
      @selected={{this.documentType}}
      @onChange={{this.setDocumentType}}
    />
  </td>
  <td>
    <Utils::AccessLevelSelector
      data-test-batch-editing-row-access-level
      @allowClear={{true}}
      @displayField="label"
      @sortField="position"
      @disabled={{this.isDisabled}}
      @selected={{this.accessLevel}}
      @onChange={{this.setAccessLevel}}
    />
  </td>
  <td>
    <WebComponents::AuButtonToolbar>
      {{#if this.isToBeDeleted}}
        <AuButton
          @skin="naked"
          @icon="undo"
          @hideText={{true}}
          @disabled={{this.isDisabled}}
          {{on "click" (fn this.setToBeDeleted false)}}
        >
          {{t "undo"}}
        </AuButton>
      {{else}}
        <AuButton
          @skin="naked"
          @alert={{true}}
          @icon="trash"
          @hideText={{true}}
          @disabled={{this.isDisabled}}
          {{on "click" (fn this.setToBeDeleted true)}}
        >
          {{t "delete"}}
        </AuButton>
      {{/if}}
    </WebComponents::AuButtonToolbar>
  </td>
</tr>