<tr>
  <td
    class="auk-table-checkbox-col"
    style={{if @row.isToBeDeleted "opacity: 0.5;"}}
  >
    <Auk::Checkbox
      @checked={{@isSelected}}
      {{on "input" (fn @onSelect @row)}}
    />
  </td>
  <td style={{if @row.isToBeDeleted "opacity: 0.5;"}}>
    <Auk::Input
      type="text"
      @block={{true}}
      @value={{mut @row.name}}
      @onChange={{this.noop}}
    />
  </td>
  <td style={{if @row.isToBeDeleted "opacity: 0.5;"}}>
      <Utils::ModelSelector
        @modelName="document-type"
        @allowClear={{true}}
        @hideSearch={{true}}
        @propertyToShow="label"
        @sortField="priority"
        @selectedItems={{@row.documentType}}
        @selectModel={{fn this.setDocumentType (array @row)}}
      />

  </td>
  <td style={{if @row.isToBeDeleted "opacity: 0.5;"}}>
    <Utils::ModelSelector
      @modelName="access-level"
      @allowClear={{true}}
      @hideSearch={{true}}
      @propertyToShow="label"
      @sortField="priority"
      @selectedItems={{@row.accessLevel}}
      @selectModel={{@row.setAccessLevel}}
    />
  </td>
  <td
    style={{if @row.isToBeDeleted "opacity: 0.5"}}
    class="auk-table-checkbox-col"
  >
    <Auk::Checkbox
      @value={{@row.confidential}}
      {{on "input" this.onInputConfidential}}
    />
  </td>
  <td>
    <WebComponents::AuButtonToolbar>
      {{#if @row.isToBeDeleted}}
        <Auk::Button
          @icon="delete"
          @layout="icon-only"
          @skin="danger-borderless"
          {{on "click" (fn @row.setToBeDeleted true)}}
        />
      {{else}}
        <Auk::Button
          @icon="redo"
          @layout="icon-only"
          @skin="borderless"
          {{on "click" (fn @row.setToBeDeleted false)}}
        />
      {{/if}}
    </WebComponents::AuButtonToolbar>
  </td>
</tr>