<tr
  data-test-document-details-row
  class={{if @row.isToBeDeleted "auk-u-opacity--1/2"}}
>
  {{#if @isEditingEnabled}}
    <td class="auk-table-checkbox-col">
      <Auk::Checkbox
        @checked={{@isSelected}}
        {{on "input" (fn @onSelect @row)}}
      />
    </td>
  {{/if}}
  <td>
    {{slice-text @row.name start=8 limit=2}}-{{slice-text @row.name start=10 limit=2}}-{{slice-text @row.name start=3 limit=4}}
  </td>
  <td>{{slice-text @row.name start=12 limit=11}}</td>
  <td>
    {{#if @isEditingEnabled}}
      <AuInput
        data-test-document-details-input
        @width="block"
        @value={{slice-text @row.name start=23 limit=50 removeType=true}}
      />
    {{else}}
      {{slice-text @row.name start=23 limit=50 removeType=true}}
    {{/if}}
  </td>
  <td>
    {{#if @isEditingEnabled}}
      <Utils::DocumentTypeSelector
        data-test-document-details-row-type
        @selectedDocumentType={{@row.documentType}}
        @onChange={{@row.setDocumentType}}
      />
    {{else}}
      {{@row.documentType.label}}
    {{/if}}
  </td>
  {{#if @isEditingEnabled}}
    <td>
      <Utils::AccessLevelSelector
        data-test-document-details-row-access-level
        @allowClear={{true}}
        @displayField="label"
        @sortField="position"
        @selected={{@row.accessLevel}}
        @onChange={{@row.setAccessLevel}}
      />
    </td>
  {{else}}
    <td>
      <Utils::Documents::FileTypePill
        @extension={{@row.piece.file.extension}}
      />
    </td>
  {{/if}}
  <td>    
     <div class="auk-o-flex auk-o-flex--spaced auk-u-mt-2">
      <Auk::Toggle
        @checked={{true}}
      />
      <label class="auk-c-toggle-label au-u-muted">
        Te handtekenen
      </label>
    </div>
  </td>
  <td>
    <WebComponents::AuButtonToolbar>
      {{#if (not @isEditingEnabled)}}
        <AuLinkExternal
          @icon="book"
          @hideText={{true}}
          href={{@row.piece.viewDocumentURL}}
          target="_blank"
        />
      {{else if @row.isToBeDeleted}}
        <AuButton
          data-test-document-details-row-undo-delete
          @skin="naked"
          @icon="undo"
          @hideText={{true}}
          {{on "click" (fn @row.setToBeDeleted false)}}
        >
          {{t "undo"}}
        </AuButton>
      {{else}}
        <AuButton
          data-test-document-details-row-delete
          @skin="naked"
          @alert={{true}}
          @icon="trash"
          @hideText={{true}}
          {{on "click" (fn @row.setToBeDeleted true)}}
        >
          {{t "delete"}}
        </AuButton>
      {{/if}}
    </WebComponents::AuButtonToolbar>
  </td>
</tr>