<tr
  data-test-document-details-row
  class={{if @row.isToBeDeleted "auk-u-opacity--1/2"}}
>
  {{#if @isEditingEnabled}}
    <td class="auk-table-checkbox-col">
      <Auk::Checkbox
        @checked={{@isSelected}}
        {{on "input" (fn @onSelect @row)}}
      />
    </td>
  {{/if}}
  <td>
    {{#if @isEditingEnabled}}
      <Auk::Input data-test-document-details-input type="text" @block={{true}} @value={{mut @row.name}} />
    {{else}}
      {{@row.name}}
    {{/if}}
  </td>
  <td>
    {{#if @isEditingEnabled}}
      <Utils::ModelSelector
        data-test-document-details-row-type
        @modelName="document-type"
        @allowClear={{true}}
        @searchField="label"
        @displayField="label"
        @sortField="priority"
        @selected={{@row.documentType}}
        @onChange={{@row.setDocumentType}}
      />
    {{else}}
      {{@row.documentType.label}}
    {{/if}}
  </td>
  {{#if @isEditingEnabled}}
    <td>
      <Utils::AccessLevelSelector
        data-test-document-details-row-access-level
        @allowClear={{true}}
        @displayField="label"
        @sortField="position"
        @selected={{@row.accessLevel}}
        @onChange={{@row.setAccessLevel}}
      />
    </td>
  {{else}}
    <td>
      <Utils::Documents::FileTypePill
        @extension={{@row.piece.file.extension}}
      />
    </td>
  {{/if}}
  <td>
    <WebComponents::AuButtonToolbar>
      {{#if (not @isEditingEnabled)}}
        <AuButton
          @skin="naked"
          @icon="book"
          @hideText={{true}}
          @href={{@row.piece.viewDocumentURL}}
          target="_blank"
        />
      {{else if @row.isToBeDeleted}}
        <AuButton
          data-test-document-details-row-undo-delete
          @skin="naked"
          @icon="undo"
          @hideText={{true}}
          {{on "click" (fn @row.setToBeDeleted false)}}
        >
          {{t "undo"}}
        </AuButton>
      {{else}}
        <AuButton
          data-test-document-details-row-delete
          @skin="naked"
          @alert={{true}}
          @icon="trash"
          @hideText={{true}}
          {{on "click" (fn @row.setToBeDeleted true)}}
        >
          {{t "delete"}}
        </AuButton>
      {{/if}}
    </WebComponents::AuButtonToolbar>
  </td>
</tr>