<tr
  data-test-document-details-row
  class={{if @row.isToBeDeleted "auk-u-opacity--1/2"}}
>
  {{#if @isEditingEnabled}}
    <td class="auk-table-checkbox-col">
      <AuCheckbox
        @checked={{@isSelected}}
        @onChange={{fn @onSelect @row}}
      />
    </td>
  {{/if}}
  <td>
    {{#if (and @isEditingEnabled (not @row.hasSentSignFlow))}}
      <AuInput
        data-test-document-details-input
        @width="block"
        @value={{mut @row.name}}
      />
    {{else}}
      {{@row.name}}
    {{/if}}
  </td>
  <td>
    {{#if (and @isEditingEnabled (not @row.hasSentSignFlow))}}
      <Utils::DocumentTypeSelector
        data-test-document-details-row-type
        @selectedDocumentType={{@row.documentType}}
        @onChange={{@row.setDocumentType}}
      />
    {{/if}}
    {{#if (or (not @isEditingEnabled) @row.hasSentSignFlow)}}
      {{@row.documentType.label}}
    {{/if}}
  </td>
  {{#if @isEditingEnabled}}
    <td>
      <Utils::AccessLevelSelector
        data-test-document-details-row-access-level
        @allowClear={{true}}
        @displayField="label"
        @sortField="position"
        @selected={{@row.accessLevel}}
        @onChange={{@row.setAccessLevel}}
      />
    </td>
    {{#if @row.showSignature}}
      <td>
        {{#if @row.hasSentSignFlow}}
          <SignaturePill
            @piece={{@row.piece}}
            @signMarkingActivity={{@row.signMarkingActivity}}
          />
        {{else}}
          <AuToggleSwitch
            @skin="primary"
            @checked={{@row.markedForSignature}}
            @onChange={{fn @row.setMarkedForSignature}}
            @disabled={{@agendaitemIsRetracted}}
          >
            {{t "present-for-signing"}}
          </AuToggleSwitch>
      {{/if}}
    </td>
  {{/if}}
  {{else}}
    <td>
      <Utils::Documents::FileTypePill
        @extension={{@row.piece.file.extension}}
      />
    </td>
  {{/if}}
  <td class="auk-u-text-align--right">
    {{#if (or @row.hasSentSignFlow (not @isEditingEnabled))}}
      <AuLinkExternal
        @icon="book"
        @hideText={{true}}
        href={{@row.piece.viewDocumentURL}}
        target="_blank"
      />
    {{else if @row.isToBeDeleted}}
      <AuButton
        data-test-document-details-row-undo-delete
        @skin="naked"
        @icon="undo"
        @hideText={{true}}
        {{on "click" (fn @row.setToBeDeleted false)}}
      >
        {{t "undo"}}
      </AuButton>
    {{else if (not @row.hasSentSignFlow)}}
      <AuButton
        data-test-document-details-row-delete
        @skin="naked"
        @alert={{true}}
        @icon="trash"
        @hideText={{true}}
        {{on "click" (fn @row.setToBeDeleted true)}}
      >
        {{t "delete"}}
      </AuButton>
    {{/if}}
  </td>
</tr>