<div class="auk-u-p-8 auk-u-scroll-scrollable">
  <div class="auk-u-mb-8">
    <div>
      {{!-- Indien er geen resultaten gevonden worden, komt dit doordat er geen documenten als type 'nota' bij agendapunten staan --}}
        <DataTable
          @content={{this.model}}
          @sizeOptions={{null}}
          @noDataMessage={{t "no-results-found"}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped auk-table--no-scroll"
          @isLoading={{this.isLoadingModel}}
          as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table__col--1 auk-table__header-title">
                {{t "newsletter-update-notas-number"}}
              </th>
              <th class="auk-table__col--2 auk-table__header-title">
                {{t "newsletter-update-notas-agendaitem-short-title"}}
              </th>
              <th class="auk-table__col--2 auk-table__header-title">
                {{t "newsletter-update-notas-documentname"}}
              </th>
              <ThSortable
                  @class="auk-table__col--2 auk-table__header-title"
                  @currentSorting={{this.sort}}
                  @field="modified"
                  @label={{t "newsletter-update-notas-edited-on"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header>
            <c.body class="auk-table--interaction-cursor" as |row|>
              <td>
                <p>
                  {{row.agendaitemPriority}}
                </p>
              </td>
              <td>
                <p>
                  {{row.agendaitemShortTitle}}
                </p>
              </td>
              <td>
                <p>
                  {{row.name}}
                </p>
              </td>
              <td>
                <p>
                  {{t
                    "newsletter-update-notas-edited-text"
                    date=(moment-format row.modified "DD-MM-YYYY")
                    time=(moment-format row.modified "HH:mm")
                  }}
                </p>
              </td>
              <td class="auk-u-text-align--right">
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="book"
                  {{on "click" (fn this.showPieceViewer row.documentId)}}
                />
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="nav-right"
                  @route="agenda.agendaitems.agendaitem.documents"
                  @models={{array
                    (await row.meetingId)
                    (await row.agendaId)
                    (await row.agendaitemId)
                  }}
                />
              </td>
            </c.body>
          </table.content>
        </DataTable>
    </div>
  </div>
</div>