{{#if (not selectedAgendaItem)}}
  <div class="vl-u-display-flex vl-u-flex-align-baseline">
    <span class="vl-title vl-title--h3">
      {{t "agendaitems-subtitle"}}
    </span>
    {{#if (or isAdmin isEditor)}}
      <div class="vl-u-spacer-extended-left-s">
        <a class="vl-link" {{action "toggleIsEditingOverview"}}>
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
{{else}}
  <div class="vl-u-spacer-extended-s vlc-agenda-items-new--spaced">
    <span class="vl-title vl-title--h3">
      {{t "agendaitems-subtitle"}}
    </span>
  </div>
{{/if}}
{{#if (and (eq agendaitemGroups.length 0) (not (await minutesApproval)))}}
  <div class="vl-u-spacer-extended-top-s">
    {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
  </div>
{{/if}}
{{#if selectedAgendaItem}}
  <div class="vlc-agenda-items-new__sub-item">
    {{agenda/agenda-list/list-item
      agendaitem=(await minutesApproval)
      selectAgendaItem=(action "selectAgendaItem")
    }}
  </div>
  {{#each (await agendaitemGroups) as |group|}}
    <div class="{{spacerClass}}">
      {{#each group.groups as |agendaitemGroup|}}
        <div class="vlc-list-section-header">
          {{#each agendaitemGroup.mandatees as |mandatee|}}
            {{mandatee.title}}<br />
          {{/each}}
        </div>
        {{#each agendaitemGroup.agendaitems as |agendaitem|}}
          <div class="vlc-agenda-items-new__sub-item">
            {{agenda/agenda-list/list-item
              agendaitem=agendaitem
              selectAgendaItem=(action "selectAgendaItem")
            }}
          </div>
        {{/each}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <div class="vlc-agenda-items-new__sub-item">
    {{agenda/agenda-list/list-item
      agendaitem=(await minutesApproval)
      isEditingOverview=isEditingOverview
      selectAgendaItem=(action "selectAgendaItem")
    }}
  </div>
  {{#each (await agendaitemGroups) as |group|}}
    <div class="{{spacerClass}}">
      <div class="vl-u-spacer-extended-bottom">
        {{#each group.groups as |agendaitemGroup|}}
          {{#if (gt agendaitemGroup.agendaitems.length 0)}}
            <div class="vlc-list-section-header">
              {{#each agendaitemGroup.mandatees as |mandatee|}}
                {{mandatee.title}}<br />
              {{/each}}
            </div>
            {{#each agendaitemGroup.agendaitems as |agendaitem|}}
              <div class="vlc-agenda-items-new__sub-item">
                {{agenda/agenda-list/list-item
                  agendaitem=agendaitem
                  isEditingOverview=isEditingOverview
                  selectAgendaItem=(action "selectAgendaItem")
                }}
              </div>
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
{{/if}}
{{#if (not selectedAgendaItem)}}
  <div class="vl-u-spacer-extended-bottom-s">
    <span class="vl-title vl-title--h3">
      {{t "announcements-subtitle"}}
    </span>
  </div>
{{else}}
  <div class="vl-u-spacer-extended-s vlc-agenda-items-new--spaced">
    <span class="vl-title vl-title--h3">
      {{t "announcements-subtitle"}}
    </span>
  </div>
{{/if}}
<div class="vl-u-spacer">
  {{#if (gt (await announcements.length) 0)}}
    {{#each (await announcements) as |announcement index|}}
      <div class="vlc-agenda-items-new__sub-item">
        {{agenda/agenda-list/list-item
          agendaitem=announcement
          index=index
          selectAgendaItem=(action "selectAgendaItem")
        }}
      </div>
    {{/each}}
  {{else}}
    {{web-components/vl-alert message=(t "no-announcements-yet")}}
  {{/if}}
</div>