{{#if (not selectedAgendaItem)}}
  <div class="vlc-toolbar vlc-toolbar--auto">
    <div class="vlc-toolbar__left">
      <h2 class="vl-title vl-title--h3">
        {{t "agendaitems-subtitle"}}
      </h2>
    </div>
  </div>
{{/if}}
{{#if (eq agendaitems.length 0)}}
  <div class="vl-u-spacer-extended-top-s">
    {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
  </div>
{{/if}}
{{#if selectedAgendaItem}}
  {{#each (await agendaitemGroups) as |group|}}
    <div class="{{spacerClass}}">
      {{#each group as |agendaitemGroup|}}
        <div
          class="vlc-agenda-items__header vlc-agenda-items__header--small vl-u-text--marked"
        >
          {{#each agendaitemGroup.mandatees as |mandatee|}}
            <h2 class="vl-title vl-title--h6">
              {{mandatee.title}}
            </h2>
          {{/each}}
        </div>
        {{#each (await agendaitemGroup.agendaitems) as |agendaitem index|}}
          <div class="vlc-agenda-items-new__sub-item">
            {{agenda/agenda-list/list-item
              agendaitem=agendaitem
              index=index
              selectAgendaItem=(action "selectAgendaItem")
            }}
          </div>
        {{/each}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  {{#each (await agendaitemGroups) as |group|}}
    <div class="{{spacerClass}}">
      {{#each group as |agendaitemGroup|}}
        <div
          class="vlc-agenda-items__header vlc-agenda-items__header--small vl-u-text--marked"
        >
          {{#each agendaitemGroup.mandatees as |mandatee|}}
            <h2 class="vl-title vl-title--h6">
              {{mandatee.title}}
            </h2>
          {{/each}}
        </div>
        <div class="vl-u-spacer">
          {{#each (await agendaitemGroup.agendaitems) as |agendaitem index|}}
            <div class="vlc-agenda-item-big">
              {{agenda/agenda-list/list-item
                agendaitem=agendaitem
                index=index
                selectAgendaItem=(action "selectAgendaItem")
              }}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  {{/each}}
{{/if}}
<div class="vlc-toolbar vlc-toolbar--auto">
  <div class="vlc-toolbar__left">
    <h2 class="vl-title vl-title--h3 vl-u-spacer-extended-s">
      {{t "announcements-subtitle"}}
    </h2>
  </div>
</div>
<div class="vl-u-spacer">
  {{#if (gt (await announcements.length) 0)}}
    {{#each (await announcements) as |announcement index|}}
      <div class="vlc-agenda-items-new__sub-item">
        {{agenda/agenda-list/list-item
          agendaitem=announcement
          index=index
          selectAgendaItem=(action "selectAgendaItem")
        }}
      </div>
    {{/each}}
  {{else}}
    {{web-components/vl-alert message=(t "no-announcements-yet")}}
  {{/if}}
</div>