{{#if (not selectedAgendaItem)}}
  <div class="vlc-toolbar vlc-toolbar--auto">
    <div class="vlc-toolbar__left">
      <h2 class="vl-title vl-title--h3">
        {{t "agendas.agendaitems-subtitle"}}
      </h2>
    </div>
  </div>
{{/if}}
{{#if (eq agendaitems.length 0)}}
  <div class="vl-u-spacer-extended-top-s">
    {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
  </div>
{{/if}}
{{#if selectedAgendaItem}}
  {{#each (await agendaitemGroups) as |group|}}
  <div class="{{spacerClass}}">
    {{#each group as |agendaitemGroup|}}
      <div
        class="vlc-agenda-items__header vlc-agenda-items__header--small vl-u-text--marked"
      >
        {{#each agendaitemGroup.mandatees as |mandatee|}}
          <h2 class="vl-title vl-title--h6">
            {{mandatee.title}}
          </h2>
        {{/each}}
      </div>
      {{#each (await agendaitemGroup.agendaitems) as |agendaitem index|}}
        {{agenda/agenda-list/list-item
          agendaitem=agendaitem
          index=index
          selectAgendaItem=(action "selectAgendaItem")
        }}
      {{/each}}
    {{/each}}
    </div>
  {{/each}}
{{else}}
  {{#each (await agendaitemGroups) as |group|}}
  <div class="{{spacerClass}}">
    {{#each group as |agendaitemGroup|}}
      <div
        class="vlc-agenda-items__header vlc-agenda-items__header--small vl-u-text--marked"
      >
        {{#each agendaitemGroup.mandatees as |mandatee|}}
          <h2 class="vl-title vl-title--h6">
            {{mandatee.title}}
          </h2>
        {{/each}}
      </div>
      <div class="vl-u-spacer">
        {{#each (await agendaitemGroup.agendaitems) as |agendaitem index|}}
          {{agenda/agenda-list/list-item
            agendaitem=agendaitem
            index=index
            selectAgendaItem=(action "selectAgendaItem")
          }}
        {{/each}}
      </div>
    {{/each}}
    </div>
  {{/each}}
{{/if}}
{{!-- <div class="vl-u-spacer">
      {{#each agendaitems as |agendaitem index|}}
        {{agenda/agenda-list/list-item
          agendaitem=agendaitem
          index=index
          selectAgendaItem=(action "selectAgendaItem")
        }}
      {{/each}}
      </div> --}}