<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{t "manage-alerts"}}
  @closeModal={{action "cancel"}}
>
  <div class="auk-modal__body">
    <div class="auk-u-p-4">
      <Utils::SystemAlertForm
        @alert={{this.model}}
        @onCancel={{action "cancel"}}
      />
    </div>
  </div>
  <WebComponents::VlModalFooter
    @isLoading={{save.isRunning}}
    @cancelButtonText={{t "cancel"}}
    @saveButtonText={{t "save"}}
    @cancelAction={{action "cancel"}}
    @saveAction={{perform save this.model}}
  />
</WebComponents::VlModal>