{{#if this.textTooLong}}
  <div class="auk-o-flex">
    {{#if this.isCustom}}
      <div class="{{@customTextClass}}" ...attributes>{{this.textAbbreviated}}</div>
    {{else}}
      {{this.textAbbreviated}}
    {{/if}}
    <Auk::ButtonLink
      @icon="circle-more"
      @skin="mute"
      @layout="icon-only"
      class="auk-o-flex--vertical-center"
    >
      <EmberTooltip @tooltipClass="auk-tooltip">
        {{@text}}
      </EmberTooltip>
    </Auk::ButtonLink>
  </div>
{{else}}
  {{#if this.isCustom}}
    <div class="{{@customTextClass}}" ...attributes>{{@text}}</div>
  {{else}}
    {{@text}}
  {{/if}}
{{/if}}