{{#if this.textTooLong}}
  <div class="auk-u-flex">
    {{this.textAbbreviated}}
    <WebComponents::AuButtonLink
            @icon="circle-more"
            @skin="mute"
            @layout="icon-only">
      <EmberTooltip @tooltipClass="auk-tooltip">
        {{@text}}
      </EmberTooltip>
    </WebComponents::AuButtonLink>
  </div>
{{else}}
  {{#if this.isCustom}}
    <h4 class="auk-toolbar-complex__title" data-test-publication-detail-menu-short-title>
      {{@text}}
    </h4>
  {{else}}
    {{@text}}
  {{/if}}
{{/if}}