{{#if @route}}
  <LinkTo class="auk-button-link {{this.skin}} {{this.block}} {{this.padded}}" type="button" @route={{@route}} @models={{@models}} ...attributes>
    <span class="auk-button__content">
      <WebComponents::AuButton::InnerLayout @layout={{@layout}} @icon={{@icon}} @size={{@size}}>{{yield}}</WebComponents::AuButton::InnerLayout>
    </span>
  </LinkTo>
{{/if}}

{{#if @href}}
  <a href="{{@href}}" class="auk-button-link {{this.skin}} {{this.block}} {{this.padded}}" ...attributes>
    <span class="auk-button__content">
      <WebComponents::AuButton::InnerLayout @layout={{@layout}} @icon={{@icon}} @size={{@size}}>{{yield}}</WebComponents::AuButton::InnerLayout>
    </span>
  </a>
{{/if}}

{{!-- When using a button-link as an {{on click}} action, you typically dont pass href or route and need to fallback on a normal button (f.e. inside dropdown)--}}
{{#unless (or @href @route)}}
  <button class="auk-button-link {{this.skin}} {{this.block}} {{this.padded}}" type="button" ...attributes>
    <span class="auk-button__content">
      <WebComponents::AuButton::InnerLayout @layout={{@layout}} @icon={{@icon}}>{{yield}}</WebComponents::AuButton::InnerLayout>
    </span>
  </button>
{{/unless}}
