<label class="auk-checkbox">
  <input class="auk-checkbox__toggle" type="checkbox" name={{@name}} checked={{@checked}} onChange={{@toggle}}/>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
  <span class="auk-checkbox__box"></span>
</label>