<label class="auk-checkbox">
  <input class="auk-checkbox__toggle" type="checkbox" name={{@name}} checked={{@checked}} onChange={{@toggle}}/>
  {{@label}}
  {{yield}}
  <span class="auk-checkbox__box"></span>
</label>