<div class="auk-input-with-icon {{@class}}" {{did-update this.updateEnable this.enable}}>
  <div {{on "click" this.openDatepicker}}>
    <Auk::Icon @name="calendar" />
  </div>
  {{#if this.enable }}
    <EmberFlatpickr
            class="auk-input auk-input--block"
            @allowInput={{true}}
            @clickOpens={{true}}
            @date={{this.defaultDate}} {{!-- Required Option --}}
            @dateFormat="d-m-Y"
            @mode="single"
            @enable={{this.enable}}
            @nextArrow=">"
            @prevArrow="<"
            @noCalendar={{false}}
            @onChange={{@onChange}} {{!-- Required Option --}}
            @onReady={{this.onReady}}
            @shorthandCurrentMonth={{true}}
            @disabled={{@disabled}}
            placeholder={{this.placeholder}}
    />
  {{else}}
    <EmberFlatpickr
            class="auk-input auk-input--block"
            @allowInput={{true}}
            @clickOpens={{true}}
            @date={{this.defaultDate}} {{!-- Required Option --}}
            @dateFormat="d-m-Y"
            @mode="single"
            @nextArrow=">"
            @noCalendar={{false}}
            @onChange={{@onChange}} {{!-- Required Option --}}
            @onReady={{this.onReady}}
            @prevArrow="<"
            @shorthandCurrentMonth={{true}}
            @disabled={{@disabled}}
            placeholder={{this.placeholder}}
    />
  {{/if}}
</div>

{{#if this.showExpired}}
  <WebComponents::AuFormHelpText @text={{t "date-expired"}} @skin="warning" @icon="alert-triangle"/>
{{/if}}