<div {{did-insert this.insertElementInDom}} class="auk-file-upload {{if @fullHeight "auk-file-upload--full-height"}}">
  <FileDropzone
    @name="files"
    @class="auk-file-upload__content"
    @tagName="a"
    @action={{action this.uploadFile}}
  as |dropzone queue|
  >
    <FileUpload
      @name="files"
      @for="upload-file"
      @multiple={{@multipleFiles}}
      @onfileadd={{action this.uploadFile}}
    >
      {{#if (not queue.files.length)}}
        <span class="auk-u-block auk-u-mb-2">
          <span class="auk-button auk-button--tertiary auk-u-inline-block" type="button" tabindex="0" {{on "keyup" this.handleButtonKeyUp}}>
            <span class="auk-button__content">
              <span class="auk-icon auk-icon--default auk-icon--paperclip">
                <i class="ki ki-paperclip"></i>
              </span>
              <span class="auk-button__label">
                {{#if this.multipleFiles}}
                  {{t "add-attachments"}}
                {{else}}
                  {{t "add-attachment"}}
                {{/if}}
              </span>
            </span>
          </span>
        </span>
        <span class="auk-u-muted">
          {{#if dropzone.active}}
            {{#if dropzone.valid}}
              {{t "drop-text"}}
            {{else}}
              {{t "invalid-type"}}
            {{/if}}
          {{else if dropzone.supported}}
            {{#if this.multipleFiles}}
              {{t "dropzone-text-multiple"}}
            {{else}}
              {{t "dropzone-text"}}
            {{/if}}
          {{/if}}
        </span>
      {{else}}
        <span class="auk-u-block auk-u-mb-2">
          <p>
            {{uploadedFileLength}}
            {{t "files-of"}}
            {{queue.files.length}}
            {{t "uploading"}}
          </p>
        </span>
        <span>
          {{ember-progress-bar
            progress=(div queue.progress 100)
            options=(hash strokeWidth=2)
          }}
          {{queue.progress}}%
        </span>
      {{/if}}
    </FileUpload>
  </FileDropzone>
</div>

{{!--
{{#if this.uploadFileTask.isRunning}}
  <WebComponents::AuLoadingOverlay
          @title={{t "upload-file"}}
          @message={{t "upload-file"}}
  />
{{/if}}temporary fix, waiting for new css --}}