<div class="auk-pagination">
  <ul class="auk-pagination__list">
    <li class="auk-pagination__element">
      <p><strong>{{this.startItem}}-{{this.endItem}}</strong> {{t "of"}} {{this.totalNbOfItems}}</p>
    </li>
    {{#if this.hasMultiplePages}}
      <li class="auk-pagination__element">
        <WebComponents::AuButtonLink
          @icon="chevron-left"
          disabled={{this.isFirstPage}}
          {{on "click" this.prevPage}}
        >
          {{t "previous"}}
        </WebComponents::AuButtonLink>
      </li>
      <li class="auk-pagination__element">
        <WebComponents::AuButtonLink
          @icon="chevron-right"
          @layout="icon-right"
          disabled={{this.isLastPage}}
          {{on "click" this.nextPage}}
        >
          {{t "next"}}
        </WebComponents::AuButtonLink>
      </li>
    {{/if}}
  </ul>
</div>
