<div
  data-test-vl-alert
  class="vl-alert {{this.typeClass}} {{if @small "vl-alert--small"}}"
  ...attributes
  role="alert"
>
  {{#if (eq @type "loading")}}
    <div class="vl-alert__loader">
      <div class="auk-loader" role="alert" aria-busy="true"></div>
    </div>
  {{else}}
    <div class="vl-alert__icon">
      <Auk::Icon @name={{this.iconName}} class="auk-u-pb" />
    </div>
  {{/if}}
  {{#if @closeable}}
    <button data-test-vl-alert-close class="vl-alert__close" type="button" {{action "close"}}>
      <Auk::Icon @name="cross" />
      <div class="auk-u-sr-only">
        {{t "close"}}
      </div>
    </button>
  {{/if}}
  <div class="vl-alert__content">
    {{#if @title}}
      <p
        data-test-vl-alert-title
        class="vl-alert__title"
      >
        {{@title}}
      </p>
    {{/if}}
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      <div
        data-test-vl-alert-message
        class="vl-alert__message"
      >
        {{@message}}
      </div>
    {{/if}}
  </div>
</div>