<label data-test-vl-checkbox-label class="auk-checkbox">
  <Input
    class="auk-checkbox__toggle"
    @type="checkbox"
    @checked={{this.value}}
    @disabled={{this.disabled}}
    data-test-vl-checkbox={{true}}
    @input={{action "toggle"}}
  />
  {{this.label}}
  <span class="auk-checkbox__box"></span>
</label>