<div
  class={{if this.piece.aboutToDelete "vlc-document--deleted-state"}}
  {{did-update (perform this.loadPieceRelatedData) @piece}}
>
  <div class="vlc-document-card-item" data-test-single-piece-history>
    <div class="vlc-document-card-item__title">
      <h6 class="auk-h4">
        {{#if (not this.file)}}
          <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
            {{t "document-not-consultable"}}
          </EmberTooltip>
        {{/if}}
        {{this.piece.name}}
      </h6>
      {{#unless this.loadPieceRelatedData.isRunning}}
        <AccessLevelPill
          @accessLevel={{this.accessLevel}}
          @confidential={{this.piece.confidential}}
          @onChangeAccessLevel={{this.changeAccessLevel}}
          @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
          @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
          @onChangeConfidentiality={{this.changeConfidentiality}}
        />
      {{/unless}}
      {{#if (await this.piece.downloadFileLink)}}
        <button
          type="button"
          class="auk-button auk-button--borderless auk-button--icon"
          {{on "click" this.showPieceViewer}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-book"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "download"}}
          </div>
        </button>
        <a
          class="auk-button auk-button--borderless auk-button--icon"
          href={{await this.piece.downloadFileLink}}
          {{!-- download --}}
          {{! 'download' attribute doesn't specify a filename, as this gets overruled by
          the filename received in the "Content-Disposition HTTP header" }}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-download"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "download"}}
          </div>
        </a>
      {{/if}}

      {{#if (and this.currentSession.isEditor @enableDelete)}}
        <button
          type="button"
          class="auk-button auk-button--borderless auk-button--icon vl-button-icon--error"
          data-test-delete-piece-from-history
          {{on "click" (fn this.deletePiece piece)}}
        >
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-delete"></i>
          </div>
          <div class="auk-u-sr-only">
            {{t "delete"}}
          </div>
        </button>
      {{/if}}
    </div>
    {{#if this.currentSession.isEditor}}
      <div class="vlc-document-card-item__meta">
        {{t "uploaded-at"}}
        {{moment-format this.piece.created "DD.MM.YYYY"}}
        {{t "at"}}
        {{moment-format this.piece.created "HH:mm"}}
      </div>
    {{/if}}
    <div class="vlc-document-card-item__icon">
      <WebComponents::AuIcon @name="timeline" @size="large" />
    </div>
    {{#if this.isVerifyingDelete}}
      <WebComponents::VlModalVerify
        @title={{t "document-delete"}}
        @message={{t "delete-document-message"}}
        @cancel={{this.cancelDelete}}
        @verify={{this.confirmDelete}}
      />
    {{/if}}
  </div>
</div>