{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-input-with-icon {{if @enableClear "auk-input-with-clear-action"}}">
  <Auk::Icon @name="calendar" />
  {{#if (not this.await this.dateObjectsToEnable)}}
    <EmberFlatpickr
      data-test-vl-datepicker
      class="auk-input auk-input--block {{if @error "auk-input--error"}}"
      @locale="nl"
      @date={{readonly this.selectedDate}} {{!-- Required Option --}}
      @dateFormat={{if @enableTime "d-m-Y H:i" "d-m-Y"}}
      @enableTime={{@enableTime}}
      @time_24hr={{true}}
      @defaultHour={{@defaultHour}}
      @defaultMinute={{@defaultMinute}}
      @minDate={{@min}}
      @maxDate={{@max}}
      @nextArrow=""
      @prevArrow=""
      @noCalendar={{false}}
      @onChange={{action "dateChanged"}} {{!-- Required Option --}}
      @onReady={{this.onReady}}
      @shorthandCurrentMonth={{true}}
      @disabled={{@disabled}}
      @allowInput={{@allowInput}}
    />
  {{else}}
    <EmberFlatpickr
      data-test-vl-datepicker
      class="auk-input auk-input--block"
      @locale="nl"
      @date={{readonly this.selectedDate}} {{!-- Required Option --}}
      @dateFormat={{if @enableTime "d-m-Y H:i" "d-m-Y"}}
      @enable={{this.datesToEnable}}
      @enableTime={{@enableTime}}
      @time_24hr={{true}}
      @defaultHour={{@defaultHour}}
      @defaultMinute={{@defaultMinute}}
      @minDate={{@min}}
      @maxDate={{@max}}
      @nextArrow=""
      @prevArrow=""
      @noCalendar={{false}}
      @onChange={{action "dateChanged"}} {{!-- Required Option --}}
      @onReady={{this.onReady}}
      @shorthandCurrentMonth={{true}}
      @disabled={{@disabled}}
      @allowInput={{@allowInput}}
    />
  {{/if}}
  {{#if @enableClear}}
    <AuButton
      @skin="naked"
      @icon="x"
      @hideText={{true}}
      {{on "click" @onClear}}
      class="auk-button--muted"
    >
      {{t "reset"}}
    </AuButton>
  {{/if}}
</div>