<div
  class={{if this.piece.aboutToDelete "vlc-document--deleted-state"}}
  {{did-update (perform this.loadPieceRelatedData) @piece}}
>
  <div class="vlc-document-card-item" data-test-vl-document-piece>
    <div class="vlc-document-card-item__title">
      <h6 data-test-vl-document-name class="auk-h4">
        {{#unless this.file}}
          <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
            {{t "document-not-consultable"}}
          </EmberTooltip>
        {{/unless}}
        {{this.piece.name}}
      </h6>
      {{#unless this.loadPieceRelatedData.isRunning}}
        <AccessLevelPill
          @accessLevel={{this.accessLevel}}
          @isEditable={{true}}
          @onChangeAccessLevel={{this.changeAccessLevel}}
          @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
          @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
        />
      {{/unless}}
      {{#if this.file}}
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="book"
          {{on "click" this.showPieceViewer}}
          class="auk-u-ml-2"
        >
          {{t "view-document-details"}}
        </Auk::Button>
        <Auk::Button
          @skin="borderless"
          @layout="icon-only"
          @icon="download"
          @href={{await this.piece.namedDownloadLinkPromise}}
          {{!-- download --}}
          {{! 'download' attribute doesn't specify a filename, as this gets overruled by
              the filename received in the "Content-Disposition HTTP header" }}
        >
          {{t "download"}}
        </Auk::Button>
      {{/if}}

      {{#if (and this.currentSession.isEditor @enableDelete)}}
        <Auk::Button
          @skin="danger-borderless"
          @layout="icon-only"
          @icon="trash"
          {{on "click" (fn this.deletePiece this.piece)}}
          data-test-vl-document-delete-piece
        >
          {{t "delete"}}
        </Auk::Button>
      {{/if}}
    </div>
    {{#if this.currentSession.isEditor}}
      <div class="vlc-document-card-item__meta">
        {{!-- no piece.created in legacy data --}}
        {{!-- TODO: when created date is absent, the layout seems irregular
              this will be addressed with new document card styling --}}
        {{#if this.piece.created}}
          {{t "uploaded-at"}}
          {{moment-format this.piece.created}}
          {{t "at"}}
          {{moment-format this.piece.created "HH:mm"}}
        {{/if}}
      </div>
    {{/if}}
    <div class="vlc-document-card-item__icon">
      <Auk::Icon @name="clock-rewind" @size="large" />
    </div>
    {{#if this.isVerifyingDelete}}
      <WebComponents::VlModalVerify
        @title={{t "document-delete"}}
        @message={{t "delete-document-message"}}
        @cancel={{this.cancelDelete}}
        @verify={{this.confirmDelete}}
      />
    {{/if}}
  </div>
</div>