{{#if (not await dateObjectsToEnable)}}
  <div class="auk-input-with-icon">
    <EmberFlatpickr
      data-test-vl-datepicker-input
      class="auk-input auk-input--block"
      @locale="nl"
      @date={{readonly this.selectedDate}} {{!-- Required Option --}}
      @dateFormat={{if @enableTime "d-m-Y H:i" "d-m-Y"}}
      @enableTime={{@enableTime}}
      @time_24hr={{true}}
      @defaultHour={{@defaultHour}}
      @defaultMinute={{@defaultMinute}}
      @nextArrow=">"
      @prevArrow="<"
      @noCalendar={{false}}
      @onChange={{action "dateChanged"}} {{!-- Required Option --}}
      @onReady={{this.onReady}}
      @shorthandCurrentMonth={{true}}
      @disabled={{@disabled}}
    />
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-calendar"></i>
    </div>
  </div>
{{else}}
  <div class="auk-input-with-icon">
    <EmberFlatpickr
      data-test-vl-datepicker-input
      class="auk-input auk-input--block"
      @locale="nl"
      @date={{readonly this.selectedDate}} {{!-- Required Option --}}
      @dateFormat={{if @enableTime "d-m-Y H:i" "d-m-Y"}}
      @enable={{this.datesToEnable}}
      @enableTime={{@enableTime}}
      @time_24hr={{true}}
      @defaultHour={{@defaultHour}}
      @defaultMinute={{@defaultMinute}}
      @nextArrow=">"
      @prevArrow="<"
      @noCalendar={{false}}
      @onChange={{action "dateChanged"}} {{!-- Required Option --}}
      @onReady={{this.onReady}}
      @shorthandCurrentMonth={{true}}
      @disabled={{@disabled}}
    />
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-calendar"></i>
    </div>
  </div>
{{/if}}