{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-input-with-icon {{if @enableClear "auk-input-with-clear-action"}}">
  <Auk::Icon @name="calendar" />
  {{#if (not this.await this.dateObjectsToEnable)}}
    <EmberFlatpickr
      data-test-vl-datepicker
      class="auk-input auk-input--block"
      @locale="nl"
      @date={{readonly this.selectedDate}} {{!-- Required Option --}}
      @dateFormat={{if @enableTime "d-m-Y H:i" "d-m-Y"}}
      @enableTime={{@enableTime}}
      @time_24hr={{true}}
      @defaultHour={{@defaultHour}}
      @defaultMinute={{@defaultMinute}}
      @nextArrow=">"
      @prevArrow="<"
      @noCalendar={{false}}
      @onChange={{action "dateChanged"}} {{!-- Required Option --}}
      @onReady={{this.onReady}}
      @shorthandCurrentMonth={{true}}
      @disabled={{@disabled}}
    />
  {{else}}
    <EmberFlatpickr
      data-test-vl-datepicker
      class="auk-input auk-input--block"
      @locale="nl"
      @date={{readonly this.selectedDate}} {{!-- Required Option --}}
      @dateFormat={{if @enableTime "d-m-Y H:i" "d-m-Y"}}
      @enable={{this.datesToEnable}}
      @enableTime={{@enableTime}}
      @time_24hr={{true}}
      @defaultHour={{@defaultHour}}
      @defaultMinute={{@defaultMinute}}
      @nextArrow=">"
      @prevArrow="<"
      @noCalendar={{false}}
      @onChange={{action "dateChanged"}} {{!-- Required Option --}}
      @onReady={{this.onReady}}
      @shorthandCurrentMonth={{true}}
      @disabled={{@disabled}}
    />
  {{/if}}
  {{#if @enableClear}}
    <Auk::Button
      @skin="muted-borderless"
      @layout="icon-only"
      @icon="x"
      {{on "click" @onClear}}
    />
  {{/if}}
</div>