<div
  class={{if this.piece.aboutToDelete "vlc-document-holder vlc-document--deleted-state" "vlc-document-holder"}}
  {{did-update (perform this.loadPieceRelatedData) @piece}}
>
  <div class="vlc-document-card-item" data-test-vl-document-piece>
    <div class="vlc-document-card-item__title">
      {{#if this.file}}
      <h6 data-test-vl-document-name class="auk-h4 auk-u-m-0 auk-u-mr-4 vlc-document-card-item__title-link" {{on "click" this.showPieceViewer}}>
        {{this.piece.name}}.{{this.file.extension}}
      </h6>
      {{else}}
      <h6 data-test-vl-document-name class="auk-h4 auk-u-m-0 auk-u-mr-4">
        <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
          {{t "document-not-consultable"}}
        </EmberTooltip>
        {{this.piece.name}}.{{this.file.extension}}
      </h6>
      {{/if}}
      <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center">
        {{#if (and this.currentSession.isEditor @enableDelete)}}
          <Auk::Button
            @skin="danger-borderless"
            @layout="icon-only"
            @icon="trash"
            class="auk-button--tiny"
            {{on "click" (fn this.deletePiece this.piece)}}
            data-test-vl-document-delete-piece
          >
            {{t "delete"}}
          </Auk::Button>
        {{/if}}
        {{#unless this.loadPieceRelatedData.isRunning}}
          {{#if @isDesignAgenda}}
          <AccessLevelPill
            @accessLevel={{this.accessLevel}}
            @confidential={{this.piece.confidential}}
            @onChangeAccessLevel={{this.changeAccessLevel}}
            @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
            @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
            @onChangeConfidentiality={{this.changeConfidentiality}}
            @isDesignAgenda={{@isDesignAgenda}}
            @isNew={{false}}
            @isFinal={{@isFinal}}
            @isVersion={{@isVersion}}
          />
          {{/if}}
        {{/unless}}
      </div>
    </div>
    {{#if this.currentSession.isEditor}}
      <div class="vlc-document-card-item__meta au-u-muted">
        {{!-- no piece.created in legacy data --}}
        {{!-- TODO: when created date is absent, the layout seems irregular
              this will be addressed with new document card styling --}}
        {{#if this.piece.created}}
        {{#if (eq this.piece.file.extension "docx")}}
          {{t "uploaded-at"}}
            Geüpload als <a href="#!">Word document</a>
        {{/if}}
        {{/if}}
      </div>
    {{/if}}
    <div class="vlc-document-card-item__icon">
      <Auk::Icon @name="clock-rewind" @size="small" />
    </div>
    {{#if this.isVerifyingDelete}}
      <WebComponents::VlModalVerify
        @title={{t "document-delete"}}
        @message={{t "delete-document-message"}}
        @cancel={{this.cancelDelete}}
        @verify={{this.confirmDelete}}
      />
    {{/if}}
  </div>
</div>