<div class="auk-modal-backdrop auk-modal-backdrop--visible" data-test-vl-modal data-test-vl-modal-verify-container>
  <div class="auk-modal auk-modal--small" role="dialog">
    <div class="auk-modal__push"></div>
    <div class="auk-modal__content">
      <div class="auk-modal__header auk-modal__header--bordered">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h2 class="auk-toolbar__title">{{title}}</h2>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          {{#if showCloseButton}}
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button
                  @icon="close"
                  @skin="borderless"
                  @layout="icon-only"
                  {{action "cancel"}}
                  data-test-vl-modal-verify-close
                >
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          {{/if}}
        </Auk::Toolbar>
      </div>
      <Auk::Modal::Body>
        <p>{{message}}</p>
      </Auk::Modal::Body>
      {{#if showActions}}
        <div class="auk-modal__footer auk-modal__footer--bordered">
          <Auk::Toolbar>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <Auk::Button @skin="borderless" {{action "cancel"}} data-test-vl-modal-verify-cancel>
                  {{t "cancel"}}
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            {{#if showVerify}}
              <Auk::Toolbar::Group @position="right">
                <Auk::Toolbar::Item>
                  <Auk::Button
                    @skin={{buttonSkin}}
                    @icon={{if showIcon "delete"}}
                    {{action "verify"}}
                    {{!-- isLoading=isLoading --}}
                    data-test-vl-modal-verify-save
                  >
                    {{verifyButtonText}}
                  </Auk::Button>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
            {{/if}}
          </Auk::Toolbar>
        </div>
      {{/if}}
    </div>
    <div class="auk-modal__push"></div>
  </div>
</div>