<div class="auk-u-mr-2">
  <div class="auk-badge auk-badge--default auk-badge--medium">
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-user"></i>
    </div>
  </div>
</div>
<div>
  <div class="vlc-minister-item__title">
    <h6 class="auk-h4">
      <p>
        {{await titleToShow}}
        {{if submitter (t "submitted-by") }}
      </p>
    </h6>
  </div>
  {{#if (gt fields.length 0)}}
    <div class="js-vl-accordion js-vl-accordion--open" data-test-mandatee-link-fields-show>
      <WebComponents::AuButton
        @skin="borderless"
        @icon={{if this.showDetails "chevron-down" "chevron-right"}}
        data-vl-accordion-toggle=""
        data-vl-accordion-dressed="true"
        {{action "toggleShowDetails"}}
      >
        {{t "collapse"}}
      </WebComponents::AuButton>
      {{#if showDetails}}
        <div class="vl-accordion__content js-vl-accordion__content">
          <div class="vl-accordion__panel">
            <div class="auk-content">
              <ul>
                {{#each fields as |field|}}
                  <li>
                    {{field.label}}
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>