<div
  class="auk-modal-backdrop auk-modal-backdrop--visible"
  data-test-vl-modal-verify-container
  {{did-insert this.focus}}
  {{! template-lint-disable no-invalid-interactive}}
  {{! template-lint-disable no-down-event-binding}}
  {{on "keydown" this.keyDown}}
>
  <div class="auk-modal auk-modal--medium" role="dialog">
    <div class="auk-modal__push"></div>
    <div class="auk-modal__content">
      <div class="auk-modal__header auk-modal__header--bordered">
        <Auk::Toolbar @size="large">
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h2 class="auk-toolbar__title">{{@title}}</h2>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          {{#if this.showCloseButton}}
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <AuButton
                  @skin="naked"
                  @icon="x"
                  @hideText={{true}}
                  {{on "click" @onCancel}}
                >
                  {{t "cancel"}}
                </AuButton>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          {{/if}}
        </Auk::Toolbar>
      </div>
      <Auk::Modal::Body>
        <p>{{@message}}</p>
      </Auk::Modal::Body>
      {{#if this.showActions}}
        <Auk::Modal::Footer @onCancel={{@onCancel}} @cancelDisabled={{@isLoading}}>
            {{#if this.showVerify}}
              <AuButton
                data-test-vl-modal-verify-save
                @skin="primary"
                @alert={{this.isAlertButton}}
                @icon={{if this.showDestructiveIcon "trash"}}
                @loading={{@isLoading}}
                {{on "click" @onVerify}}
              >
                {{this.verifyButtonText}}
              </AuButton>
            {{/if}}
        </Auk::Modal::Footer>
      {{/if}}
    </div>
    <div class="auk-modal__push"></div>
  </div>
</div>