{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-modal-backdrop auk-modal-backdrop--visible" data-test-vl-modal-verify-container>
  <div class="auk-modal auk-modal--small" role="dialog">
    <div class="auk-modal__push"></div>
    <div class="auk-modal__content">
      <div class="auk-modal__header auk-modal__header--bordered">
        <Auk::Toolbar @size="large">
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h2 class="auk-toolbar__title">{{this.title}}</h2>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          {{#if this.showCloseButton}}
            <Auk::Toolbar::Group @position="right">
              <Auk::Toolbar::Item>
                <Auk::Button
                  @icon="x"
                  @skin="borderless"
                  @layout="icon-only"
                  {{action "cancel"}}
                >
                </Auk::Button>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          {{/if}}
        </Auk::Toolbar>
      </div>
      <Auk::Modal::Body>
        <p>{{this.message}}</p>
      </Auk::Modal::Body>
      {{#if this.showActions}}
        <Auk::Modal::Footer @custom={{true}}>
          <Auk::Toolbar @size="large">
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <Auk::ButtonLink
                  disabled={{this.isLoading}}
                  {{action "cancel"}}
                  data-test-vl-modal-verify-cancel
                >
                  {{t "cancel"}}
                </Auk::ButtonLink>
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
            {{#if this.showVerify}}
              <Auk::Toolbar::Group @position="right">
                <Auk::Toolbar::Item>
                  <Auk::Button
                    @skin={{this.buttonSkin}}
                    @icon={{if this.showIcon "trash"}}
                    @loading={{this.isLoading}}
                    {{action "verify"}}
                    data-test-vl-modal-verify-save
                  >
                    {{this.verifyButtonText}}
                  </Auk::Button>
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
            {{/if}}
          </Auk::Toolbar>
        </Auk::Modal::Footer>
      {{/if}}
    </div>
    <div class="auk-modal__push"></div>
  </div>
</div>