<div class="auk-pagination">
  <ul class="auk-pagination__list">
    <li class="auk-pagination__element">
      <p><strong>{{startItem}}-{{endItem}}</strong> {{t "of"}} {{totalNbOfItems}}</p>
    </li>
    {{#if hasMultiplePages}}
      <li class="auk-pagination__element">
        <WebComponents::AuButtonLink
          @icon="chevron-left"
          disabled={{disabledPrev}}
          {{action "prevPage"}}
        >
          {{t "previous"}}
        </WebComponents::AuButtonLink>
      </li>
      <li class="auk-pagination__element">
        <WebComponents::AuButtonLink
          @icon="chevron-right"
          @layout="icon-right"
          disabled={{disabledNext}}
          {{action "nextPage"}}
        >
          {{t "next"}}
        </WebComponents::AuButtonLink>
      </li>
    {{/if}}
  </ul>
</div>
