<div class={{this.sizeClass}} ...attributes>
  {{#if this.browserIsSupported}}
    <EditorContainer>
      <:top>
        <Toolbar as |Tb|>
          <Tb.Group>
            <Plugins::History::Undo @controller={{this.controller}} />
            <Plugins::History::Redo @controller={{this.controller}} />
          </Tb.Group>
          <Tb.Group>
            <Plugins::Heading::HeadingMenu @controller={{this.controller}} />
          </Tb.Group>
          <Tb.Group>
            <Plugins::TextStyle::Bold @controller={{this.controller}} />
            <Plugins::TextStyle::Italic @controller={{this.controller}} />
            <Plugins::TextStyle::Strikethrough
              @controller={{this.controller}}
            />
            <Plugins::TextStyle::Underline @controller={{this.controller}} />
            <Plugins::TextStyle::Subscript @controller={{this.controller}} />
            <Plugins::TextStyle::Superscript @controller={{this.controller}} />
          </Tb.Group>
          <Tb.Group>
            <Plugins::List::Unordered @controller={{this.controller}} />
            <Plugins::List::Ordered @controller={{this.controller}} />
            <Plugins::List::IndentationControls
              @controller={{this.controller}}
            />
          </Tb.Group>
          <Tb.Group>
            <Plugins::Table::TableMenu @controller={{this.controller}} />
          </Tb.Group>
        </Toolbar>
      </:top>
      <:default>
        <Editor
          @schema={{this.schema}}
          @rdfaEditorInit={{this.onEditorInit}}
          @plugins={{this.plugins}}
        />
      </:default>
    </EditorContainer>
  {{else}}
    <AuAlert
      @title={{t "browser-unsupported-short"}}
      @skin="warning"
      @icon="alert-triangle"
      @size="small"
    >
      <p>{{t "browser-unsupported-editor" browserName=this.browserName}}</p>
    </AuAlert>
  {{/if}}
</div>