{{#if (not this.isLoading)}}
  {{#if this.text}}
    {{this.text}}
  {{else}}
    {{yield}}
  {{/if}}
{{else}}
  <span class="au-u-hidden-visually">
    {{t "loading"}}
  </span>
  <AuLoader @padding="small" />
{{/if}}
