<div class="auk-o-flex--justify-between">
  <Auk::Button
    @skin="borderless"
    @layout="icon-only"
    @icon="pencil"
  >
  </Auk::Button>
  {{#if (not (is-pending (await row.nota)))}}
    <div class="auk-u-position-relative auk-u-inline-block">
      <Auk::Button
        @skin="borderless"
        @layout="icon-only"
        @icon="document"
        @disabled={{not (await row.nota)}}
        {{action "openDocument" row bubbles=false}}
      >
      </Auk::Button>
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{#if (not (await row.nota))}}
          {{t "no-nota"}}
        {{else}}
          {{t "open-note"}}
        {{/if}}
      </EmberTooltip>
    </div>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{/if}}
  <Auk::Button
    @skin="borderless"
    @layout="icon-only"
    @icon="nav-right"
    @route="agenda.agendaitems.agendaitem"
    @models={{array
      (await latestMeetingId)
      (await latestAgendaId)
      (await latestAgendaitemId)
    }}
    bubbles={{false}}
    data-test-link-to-subcase-overview={{true}}
  >
  </Auk::Button>
</div>
