<div class="auk-o-flex--justify-between">
  <button type="button" class="auk-button auk-button--borderless auk-button--icon">
    <span class="auk-button__content">
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-pencil"></i>
      </div>
    </span>
  </button>
  {{#if (not (is-pending (await row.nota)))}}
    {{#if (not (await row.nota))}}
      <button type="button" class="auk-button auk-button--borderless auk-button--icon"
        style="opacity:0.3;"
        {{action "openDocument" row bubbles=false}}
      >
        <span class="auk-button__content">
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-document"></i>
          </div>
          <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
            {{t "no-nota"}}
          </EmberTooltip>
        </span>
      </button>
    {{else}}
      <button type="button" class="auk-button auk-button--borderless auk-button--icon"
        {{action "openDocument" row bubbles=false}}
      >
        <span class="auk-button__content">
          <div class="auk-icon auk-icon--default">
            <i class="ki ki-document"></i>
          </div>
          <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
            {{t "open-note"}}
          </EmberTooltip>
        </span>
      </button>
    {{/if}}
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true">
      <EmberTooltip @side="bottom" @tooltipClass="tooltip-custom">
        {{t "nota-loading-text"}}
      </EmberTooltip>
    </div>
  {{/if}}
  {{#link-to
    "agenda.agendaitems.agendaitem"
    (await latestMeetingId)
    (await latestAgendaId)
    (await latestAgendaitemId)
    target="_blank"
    bubbles=false
    class="auk-button auk-button--borderless auk-button--icon"
  }}
    <span class="auk-button__content">
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-nav-right"></i>
      </div>
    </span>
  {{/link-to}}
</div>
