<div
  id={{this.id}}
  class="auk-panel-layout__main-content auk-u-bg-alt"
>
  <div class="auk-scroll-wrapper">
    <Agenda::AgendaitemSearch
      @searchText={{readonly this.agendaitemsController.filter}}
      @onSearch={{this.searchAgendaitems}}
    />
    <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical vlc-hide-on-print">
      <Agenda::AgendaOverview
        @notaGroups={{this.notaGroups}}
        @isLoadingNotaGroups={{this.groupNotasOnGroupName.isRunning}}
        @announcements={{this.model.announcements}}
        @newItems={{this.model.newItems}}
        @currentAgenda={{this.agenda}}
        @previousAgenda={{this.previousAgenda}}
        @onReorderAgendaitems={{perform this.assignNewPriorities}}
        @showModifiedOnly={{this.agendaitemsController.showModifiedOnly}}
        @toggleShowModifiedOnly={{this.toggleShowModifiedOnly}}
      />
      {{#if this.assignNewPriorities.isRunning}}
        <WebComponents::LoadingOverlay />
      {{/if}}
    </div>
  </div>
</div>