<tr>
  <td class="vl-u-display-flex vlc-document-list__item">
    <div class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt">
      <i class="vl-badge__icon ki-document"
        aria-hidden="true"
      ></i>
    </div>
    <p>
      {{@document.name}}
    </p>
  </td>
  <td>
    {{utils/model-selector
      data-test-document-type
      modelName="document-type"
      searchField="label"
      propertyToShow="label"
      sortField="priority"
      selectedItems=this.documentContainer.type
      selectModel=(fn this.selectDocumentType)
    }}
  </td>
  <td>
    {{utils/model-selector
      data-test-document-accesslevel
      modelName="access-level"
      searchField="label"
      allowClear=true
      propertyToShow="label"
      readOnly=@document.confidential
      sortField="label"
      selectedItems=@document.accessLevel
      selectModel=(fn this.selectAccessLevel)
    }}
  </td>
  <td>
    {{web-components/vl-toggle
      value=(mut @document.confidential)
    }}
  </td>
  <td class="vl-u-align-right">
    <button type="button" class="vl-button vl-button--link"
      {{on "click" this.softDelete}}
    >
      <i class="ki-delete" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        {{t "delete"}}
      </span>
    </button>
  </td>
</tr>
