{{#web-components/vl-modal
  isOverlay=true
  large=true
  closeModal=(action "close")
  title=(t "add-agendaitems")
}}
  {{#if (or (is-pending model) loading)}}
    <div class="auk-modal__content">
      {{#if (is-pending model)}}
        {{web-components/vl-loader
          text=(concat (t "cases-loading-text") " " (t "please-be-patient"))
        }}
      {{else}}
        {{web-components/vl-loader
          text=(concat (t "agendaitems-creating-text") " " (t "please-be-patient"))
        }}
      {{/if}}
    </div>
  {{else}}
    <div class="auk-modal__content">
      <div class="auk-o-grid auk-u-flex--align-end auk-u-mb-2"
      >
        <div class="auk-o-grid-col-8">
          <div class="vlc-toolbar vlc-toolbar--auto">
            <div class="vlc-toolbar__justified custom-table-search">
              <div class="vlc-toolbar__item" style="width:100%;">
                <div class="vl-input-field--inline" data-test-vl-create-agendaitem-search>
                  {{input
                    value=filterParam
                    id="searchId"
                    placeholder="Zoeken.."
                    key-press=(perform searchTask)
                    disabled=showPostponed
                    class="vl-input-field vl-input-field__input"
                  }}
                  <button type="button"
                          class="vl-input-field__submit vl-button"
                          onclick={{perform searchTask}}
                  >
                    <i class="ki-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="vlc-input-field-block">
            {{web-components/vl-form-label value=(t "title-postponed-subcases")}}
            {{web-components/vl-checkbox
              data-test-postponed-checkbox
              value=showPostponed
              toggle=(action "checkShowPostponedValue")
            }}
          </div>
        </div>
        <div class="auk-o-grid-col-3">
          {{#if searchTask.isRunning}}
            <div class="auk-u-flex auk-u-flex--center auk-u-mt-4">
              <WebComponents::AuLoader @message={{t "loading"}}/>
            </div>
          {{else}}
            {{#data-table
              content=model
              sort=sortParam
              page=pageParam
              size=sizeParam
              isLoading=findAll.isRunning
              noDataMessage=(t "no-results-found")
              onClickRow=(action "selectPostponed")
            as |table|
            }}
              {{#table.content
              as |c|
              }}
                {{#c.header}}
                  <th></th>
                  {{th-sortable
                    field="shortTitle"
                    currentSorting=sortParam
                    label=(t "short-title-case")
                  }}
                  <th></th>
                {{/c.header}}
                {{#c.body as |subcase|}}
                  <td class="vl-data-table-col-1">
                    {{web-components/vl-checkbox
                      value=subcase.selected
                      toggle=(action "selectAvailableSubcase" subcase)
                    }}
                  </td>
                  <td class="vl-data-table-col-11">
                    {{subcase.shortTitle}}
                    <br>
                    <p class="auk-u-muted">
                      {{subcase.subcaseName}}
                    </p>
                  </td>
                {{/c.body}}
              {{/table.content}}
            {{/data-table}}
          {{/if}}
        </div>
      </div>
    </div>
    {{web-components/vl-modal-footer
      isLoading=isLoading
      disableSave=noItemsSelected
      cancelButtonText=(t "cancel")
      saveButtonText=(t "add-to-agenda")
      cancelAction=(action "close")
      saveAction=(action "addSubcasesToAgenda")
    }}
  {{/if}}
{{/web-components/vl-modal}}