<div class="ember-view">
  {{page-title (t "page-title")}}
  {{head-layout}}
  {{#each this.systemAlert.unconfirmedAlerts as |alert|}}
    <Utils::SystemAlert
      @type={{alert.type.label}}
      @title={{alert.title}}
      @message={{alert.message}}
      @onClose={{action this.systemAlert.confirmAlert alert}}
    />
  {{/each}}
  {{#if this.currentSession.group}}
    <MHeader />
  {{/if}}
  {{outlet}}
  {{#if this.toaster.toasts.length}}
    <Auk::AlertStack as |Alert|>
      {{#each this.toaster.toasts as |toast|}}
        <Alert
          @skin={{toast.options.type}}
          @title={{toast.title}}
          @message={{toast.message}}
          @isClosable={{not (eq toast.options.type "success")}}
          @onClose={{fn this.toaster.clear toast}}
        />
      {{/each}}
    </Auk::AlertStack>
  {{/if}}
</div>