<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  <Publications::Publication::Documents::PublicationInfo @publicationFlow={{this.model}}  @didChange={{this.saveSidebarProperty}} />

  <div class="auk-u-mb-8 auk-u-mt-4">
    <Auk::AccordionPanel @isDefaultActive={{true}} as |accordionPanel| >
      <accordionPanel.Header @title={{t "reference-documents-council-of-ministers"}}/>
      <accordionPanel.Body>
        <Documents::DocumentCardList @pieces={{@modelDocument}} />
      </accordionPanel.Body>
    </Auk::AccordionPanel>
  </div>
</div>