{{!-- TITLE AND TOOLBAR --}}


<div class="auk-u-my-2">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <h4 class="auk-toolbar-complex__title">{{t "documents"}}</h4>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton @skin="secondary" @icon="chevron-down" @layout="icon-right" @disabled={{not (await this.model.case.pieces)}}>
          {{t "requests"}}
        </WebComponents::AuButton>
        {{#if (await this.model.case.pieces)}}
          <AttachPopover
            @renderInPlace={{true}}
            @class="ember-attacher-popper"
            @hideOn="clickout click"
            @showOn="click"
            @animation="shift"
            @placement="bottom"
            {{!-- as |attacher| --}}
          >
            <WebComponents::AuDropdown>
              <WebComponents::AuDropdown::Item {{on "click" this.openTranslationRequestModal}}>
                {{t "request-translations"}}
              </WebComponents::AuDropdown::Item>
              <WebComponents::AuDropdown::Item {{on "click" this.openPublishPreviewRequestModal}}>
                {{t "request-publish-preview"}}
              </WebComponents::AuDropdown::Item>
            </WebComponents::AuDropdown>
          </AttachPopover>
        {{/if}}
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton data-test-publication-case-add-documents @skin="primary" @icon="plus" {{on "click" this.openPieceUploadModal}}>{{t "documents-add"}}</WebComponents::AuButton>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</div>


{{!-- TABLE FOR DOCUMENTS --}}


<div hidden class="auk-u-mb-3">
  {{#if (gt (await this.model.case.sortedPieces.length) 0)}}
    <table class="auk-table">
      <thead>
        <tr>
          <th></th>
          <th class="auk-table__col--6">{{t "document"}}</th>
          <th class="auk-u-text-nowrap">{{t "uploaded-at"}}</th>
          <th colspan="2">{{t "translations"}}</th>
          <th colspan="2">{{t "signatures"}}</th>
          <th colspan="2">{{t "proof"}}</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>{{t "needed?"}}</th>
          <th>{{t "present?"}}</th>
          <th>{{t "needed?"}}</th>
          <th>{{t "present?"}}</th>
          <th>{{t "needed?"}}</th>
          <th>{{t "present?"}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.case.sortedPieces as |piece|}}
          <tr>
            <td>
              <WebComponents::AuButton
                {{on "click" (fn this.toggleFolderCollapse piece)}}
                @skin="borderless"
                @icon={{if (not piece.collapsed) "chevron-down" "chevron-right" }}
                @layout="icon-only">
              </WebComponents::AuButton>
            </td>
            <td>
              <div class="auk-u-flex auk-u-flex--vertical-center">
                <WebComponents::AuBadge @icon="folder"></WebComponents::AuBadge>
                <div class="auk-u-ml-3">
                  <span class="auk-u-text-bold">{{await piece.name}}</span>
                  <br>
                  <span class="auk-u-muted auk-u-text-small">{{await piece.documentContainer.type.label}}</span>
                </div>
              </div>

            </td>
            <td>
              {{moment-format piece.created}}
              <br>
              <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
            </td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td>
              <WebComponents::AuButtonToolbar>
                <WebComponents::AuButton @skin="borderless" @icon="more" @layout="icon-only">
                </WebComponents::AuButton>
                <AttachPopover
                  @renderInPlace={{true}}
                  @class="ember-attacher-popper"
                  @hideOn="clickout click"
                  @showOn="click"
                  @animation="shift"
                  @placement="bottom"
                  {{!-- as |attacher| --}}
                >
                  <WebComponents::AuDropdown>
                    {{!-- <WebComponents::AuDropdown::Item>
                      {{t "upload-docx"}}
                    </WebComponents::AuDropdown::Item> --}}
                    {{!-- TODO delete folder ? Intent for this action is unclear and delete rules must be checked --}}
                    {{!-- <WebComponents::AuDropdown::Item @skin="danger" {{on "click" attacher.hide}}>
                      {{t "delete-folder"}}
                    </WebComponents::AuDropdown::Item> --}}
                  </WebComponents::AuDropdown>
                </AttachPopover>
              </WebComponents::AuButtonToolbar>
            </td>
          </tr>
          {{#if (not piece.collapsed)}}
            <tr class="auk-table__row auk-table__row--collapsed-content">
              <td>
                <WebComponents::AuCheckbox @toggle={{fn this.changePieceSelection piece}}/>
              </td>
              <td>
                <span>{{await piece.name}}</span>
                <br>
                <span class="auk-u-muted auk-u-text-small">{{await piece.file.extension}}</span>
              </td>
              <td>
                {{moment-format piece.created}}
                <br>
                <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
              </td>
              {{!-- TODO Logic for checkboxes checked --}}
              {{!-- TODO Logic for the checkmark (isPresent), based on activities or just checking for the relevcant pieces? --}}

              <td>
              </td>
              <td class="auk-table__cell auk-table__cell--success"><WebComponents::AuIcon @name="check"></WebComponents::AuIcon></td>
              <td></td>
              <td class="auk-table__cell auk-table__cell--success"><WebComponents::AuIcon @name="check"></WebComponents::AuIcon></td>
              <td></td>
              <td class="auk-table__cell auk-table__cell--warning"><WebComponents::AuIcon @name="clock"></WebComponents::AuIcon></td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <WebComponents::AuButton @skin="borderless" @icon="more" @layout="icon-only">
                  </WebComponents::AuButton>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom"
                    {{!-- as |attacher| --}}
                  >
                    <WebComponents::AuDropdown>
                      {{!-- TODO opening viewer will only work for pdf files --}}
                      <WebComponents::AuDropdown::Item {{on "click" (fn this.showPieceViewer piece.id)}}>
                        {{t "view-document-details"}}
                      </WebComponents::AuDropdown::Item>
                      {{!-- TODO do we want this action ? how to upload a new version to a piece with multiple files ?? --}}
                      {{!-- <WebComponents::AuDropdown::Item {{on "click" attacher.hide}}>
                        {{t "new-version"}}
                      </WebComponents::AuDropdown::Item> --}}

                      {{!-- TODO the rules for editing documents are not clear. OVRB should not be able to edit documents that have been released by kanselarij
                            Offering this as an option should be very restrictive --}}
                      {{#if (not (gt (await piece.agendaitems.length) 0))}}
                        <WebComponents::AuDropdown::Item {{on "click" (fn this.editExistingPiece piece)}}>
                          {{t "document-edit"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}

                      {{!-- TODO the rules for deleting documents are not clear. OVRB should not be able to delete documents that have been released by kanselarij
                            Offering this as an option should be very restrictive --}}
                      {{#if (not (gt (await piece.agendaitems.length) 0))}}
                        <WebComponents::AuDropdown::Item @skin="danger" {{on "click" (fn this.deleteExistingPiece piece)}}>
                          {{t "delete"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}


                    </WebComponents::AuDropdown>
                  </AttachPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
            {{!-- TODO KAS-1986 have to make this a #each, or several ? 1 each for pieces (translations), 1 each for files(docx, pdf) --}}
            {{!-- TODO KAS-1986 which has to come first ? assuming pdf, then docx or other extensions, then translations of docx --}}
            {{!-- if @model has other extension --}}
            {{!-- if @model has other translation --}}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Body>
        <WebComponents::AuEmptyState @message={{t "no-documents-yet"}}/>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  {{/if}}
</div>

{{!-- TABLE FOR DOCUMENTS SIMPLIFIED --}}

<div class="auk-u-mb-3">
  {{#if (gt (await this.model.case.sortedPieces.length) 0 )}}
    {{#if this.renderPieces}}
      <table class="auk-table">
        <thead>
          <tr>
            <th></th>
            <th class="auk-table__col--6">{{t "name-document"}}</th>
            <th colspan="2">{{t "file-extension"}}</th>
            <th colspan="2">{{t "file-type"}}</th>
            <th class="auk-u-text-nowrap">{{t "uploaded-at"}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model.case.sortedPieces as |piece|}}
            <tr class="auk-table__row" data-test-publication-case-documents-piece-row>
              <td>
                <WebComponents::AuCheckbox @toggle={{fn this.changePieceSelection piece}}/>
              </td>
              <td>
                {{#if (gt (await piece.agendaitems.length) 0)}}
                  <WebComponents::AuIcon @name="lock-closed" @iconSkinColor="muted" @layout="icon-only"/>
                {{/if}}
                {{await piece.name}}
              </td>
              <td colspan="2">
                {{await piece.file.extension}}
              </td>
              <td colspan="2">
                {{await piece.documentContainer.type.label}}
              </td>
              <td>
                {{moment-format piece.created}}
                <br>
                <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <WebComponents::AuButton data-test-pub-case-doc-row-actions @skin="borderless" @icon="more" @layout="icon-only">
                  </WebComponents::AuButton>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom"
                    {{!-- as |attacher| --}}
                  >
                    <WebComponents::AuDropdown>
                      {{!-- TODO opening viewer will only work for pdf files --}}
                      <WebComponents::AuDropdown::Item data-test-pub-case-doc-row-action-view {{on "click" (fn this.showPieceViewer piece.id)}}>
                        {{t "view-document-details"}}
                      </WebComponents::AuDropdown::Item>
                      {{!-- TODO do we want this action ? how to upload a new version to a piece with multiple files ?? --}}
                      {{!-- <WebComponents::AuDropdown::Item {{on "click" attacher.hide}}>
                        {{t "new-version"}}
                      </WebComponents::AuDropdown::Item> --}}

                      {{!-- TODO the rules for editing documents are not clear. OVRB should not be able to edit documents that have been released by kanselarij
                      Offering this as an option should be very restrictive --}}
                      {{#if (not (gt (await piece.agendaitems.length) 0))}}
                        <WebComponents::AuDropdown::Item {{on "click" (fn this.editExistingPiece piece)}}>
                          {{t "document-edit"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}

                      {{!-- TODO the rules for deleting documents are not clear. OVRB should not be able to delete documents that have been released by kanselarij
                            Offering this as an option should be very restrictive --}}
                      {{#if (not (gt (await piece.agendaitems.length) 0))}}
                        <WebComponents::AuDropdown::Item data-test-pub-case-doc-row-action-delete @skin="danger" {{on "click" (fn this.deleteExistingPiece piece)}}>
                          {{t "delete"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}
                    </WebComponents::AuDropdown>
                  </AttachPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <WebComponents::AuLoader
        @message={{t "please-be-patient"}}
      />
    {{/if}}
  {{else}}
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Body>
        <WebComponents::AuEmptyState @message={{t "no-documents-yet"}}/>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  {{/if}}
</div>


{{!--     UPLOAD PIECE MODAL       --}}


{{#if this.isOpenPieceUploadModal}}
  <WebComponents::AuModal @resized={{this.isExpanded}}>
    <WebComponents::AuModal::Header
      @resizeable={{true}}
      @title={{t "documents-add"}}
      @changeIcon={{this.isExpanded}}
      @toggleSize={{this.toggleUploadModalSize}}
      @closeModal={{perform this.cancelUploadPieces}}
    />
    <WebComponents::AuModal::Body>
      <WebComponents::AuFileUploader @fullHeight={{eq this.newPieces.length 0}} @multipleFiles={{true}} @uploadedFileAction={{action this.uploadPiece}}/>
      {{!-- TODO vervangen met correct design (nog in flux), au css en componenten --}}
      {{!-- TODO document types dropdown is hidden by z-index, using custom dropdown requires a lot of new components --}}
        <div class="upload-container">
          {{#each this.newPieces as |piece|}}
            <Documents::DocumentUpload
              @piece={{piece}}
              @allowDocumentContainerEdit={{true}}
              @onDelete={{perform this.deleteUploadedPiece piece}} />
          {{/each}}
        </div>
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @cancelModal={{perform this.cancelUploadPieces}}>
      {{#if this.savePieces.isRunning}}
        <Utils::SimpleSpinner></Utils::SimpleSpinner>
      {{else}}
        <WebComponents::AuButton
          data-test-au-modal-footer-save
          @skin="primary"
          @disabled={{eq this.newPieces.length 0}}
          {{on "click" (perform this.savePieces)}}
        >
          {{t "documents-add"}}
        </WebComponents::AuButton>
      {{/if}}
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}


{{!--      REQUEST TRANSLATION MODAL       --}}


{{#if this.showTranslationModal}}
  <WebComponents::AuModal>
    <WebComponents::AuModal::Header
      @title={{t
        "request-translations-for-publication"
        publicationNumber=this.model.publicationFlow.publicationNumber
      }}
      @closeModal={{this.cancelTranslationModal}}
    />
    <WebComponents::AuModal::Body>
      {{#if (eq this.selectedPieces.length 0) }}
        <WebComponents::AuAlert data-test-auk-alert-error
                                @title={{t "modal-error-alert-title"}}
                                @skin="error"
                                @message={{t "modal-error-missing-pieces"}}
                                @icon="alert-triangle"/>
      {{else}}
        <div class="auk-o-grid auk-u-maximize-height">
          <div class="auk-u-maximize-height auk-o-grid-col-5 auk-u-mr-2 auk-u-scroll-scrollable">
            {{!--  Pieces selected --}}
            <WebComponents::AuLabel>
              {{t "final-translation-date"}}
            </WebComponents::AuLabel>
            <WebComponents::AuDatepicker @defaultDate={{this.getTranslateActivityBeforeDate}}
                                         @onChange={{this.setTranslateActivityBeforeDate}}
                                         @class="auk-input--max-width"
            />

            <WebComponents::AuLabel class="auk-u-mt-2 auk-u-mb-1">
              {{t "accompanying-text"}}
            </WebComponents::AuLabel>
            <WebComponents::AuTextarea
                    id="emailMessage"
                    @rows="15"
                    @resize="vertical"
                    @value={{mut this.translateActivity.mailContent}}
                    data-test-create-vertaalActivity-modal-email-textarea
            />
          </div>
          <div class="auk-u-maximize-height auk-o-grid-col-4 auk-u-scroll-scrollable">
            <WebComponents::AuLabel class="auk-u-mt-2">
              {{t "attachments" }}
            </WebComponents::AuLabel>
            <div class="auk-u-mt-2 auk-u-mb-2">
              <WebComponents::AuList @isBordered="true">
                {{#each this.selectedPieces as |pieceToSend| }}
                  <WebComponents::AuList::AuListItem @skin="gray-100">
                    <WebComponents::AuBadge @icon="file" @skin="white" />
                    <div class="auk-u-mx-2">
                      <span class="auk-u-text-bold">{{await pieceToSend.name}}</span>
                      <div class="auk-u-muted auk-u-text-small">{{await pieceToSend.documentContainer.type.label}}</div>
                    </div>
                    <WebComponents::AuButtonToolbar>
                      <WebComponents::AuButton @icon="book" @layout="icon-only" @skin="borderless" {{on "click" (fn this.showPieceViewer pieceToSend.id)}}/>
                    </WebComponents::AuButtonToolbar>
                  </WebComponents::AuList::AuListItem>
                {{/each}}
              </WebComponents::AuList>
            </div>
          </div>
        </div>
      {{/if}}

    </WebComponents::AuModal::Body>

    <WebComponents::AuModal::Footer @cancelModal={{this.cancelTranslationModal}}>
      {{#if (gt this.selectedPieces.length 0) }}
        <WebComponents::AuButton
                data-test-au-modal-footer-save
                @skin="primary"
          {{on "click" this.saveTranslationActivity}}
        >
          {{t "request-translations"}}
        </WebComponents::AuButton>
      {{/if}}
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}


{{!--      REQUEST PUBLISH PREVIEW  MODAL       --}}



{{#if this.isOpenPublishPreviewRequestModal}}
  <WebComponents::AuModal>
    <WebComponents::AuModal::Header
            @title={{t "request-publish-preview"}}
            @closeModal={{this.cancelPublishPreviewRequestModal}}
    />
    <WebComponents::AuModal::Body>

      {{#if (eq this.selectedPieces.length 0) }}
        <WebComponents::AuAlert data-test-auk-alert-error
                                @title={{t "modal-error-alert-title"}}
                                @skin="error"
                                @message={{t "modal-error-missing-pieces"}}
                                @icon="alert-triangle"/>
      {{else}}
      {{!--  Pieces selected --}}
        {{t "request-publishpreview-confirmation" }}

        <WebComponents::AuLabel>
          {{t "accompanying-text"}}
        </WebComponents::AuLabel>
        <WebComponents::AuTextarea
                id="emailMessage"
                @rows="7"
                @value={{mut this.previewActivity.mailContent}}
                data-test-create-publishpreviewActivity-modal-email-textarea/>

        <WebComponents::AuLabel>
          {{t "attachments" }}
        </WebComponents::AuLabel>
        {{#each this.selectedPieces as |pieceToSend| }}
          <div class="auk-u-flex auk-u-flex--vertical-center">
            <WebComponents::AuBadge @icon="folder"></WebComponents::AuBadge>
            <div class="auk-u-ml-3">
              <span class="auk-u-text-bold">{{await pieceToSend.name}}</span>
              <br>
              <span class="auk-u-muted auk-u-text-small">
                {{await pieceToSend.documentContainer.type.label}}
              </span>
            </div>
          </div>
        {{/each}}
      {{/if}}

    </WebComponents::AuModal::Body>

    <WebComponents::AuModal::Footer @cancelModal={{this.cancelPublishPreviewRequestModal}}>
      {{#if (gt this.selectedPieces.length 0) }}
        <WebComponents::AuButton
                data-test-au-modal-footer-save
                @skin="primary"
          {{on "click" this.savePublishPreviewActivity}}
        >
          {{t "request-publish-preview"}}
        </WebComponents::AuButton>
      {{/if}}
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}


{{!-- LOADER --}}


{{#if this.showLoader}}
  <WebComponents::AuLoadingOverlay/>
{{/if}}




{{!-- EDIT PIECE DETAILS --}}

{{#if this.showPieceEditor}}
  <Utils::pieceDetailsEdit
     @piece={{this.pieceBeingEdited}}
     @saveAction={{this.saveEditedPiece}}
     @cancelAction={{this.cancelEditPiece}}
  />
{{/if}}



{{!-- VERIFY DELETE PIECE MODAL --}}


{{!-- TODO replace this with Au variant --}}
{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{action this.cancelDeleteExistingPiece}}
    @verify={{perform this.verifyDeleteExistingPiece}} />
{{/if}}