<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  {{!-- TITLE AND TOOLBAR --}}
  <div class="auk-u-my-2">
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <h4 class="auk-toolbar-complex__title">{{t "documents"}}</h4>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      <WebComponents::AuToolbar::Group @position="right">
        <WebComponents::AuToolbar::Item>
          <Auk::Checkbox
            @label={{t "show-filter"}}
            @checked={{this.showFilterPanel}}
            @toggle={{this.toggleFilterPanel}}
          />
        </WebComponents::AuToolbar::Item>
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButton
                  @skin="secondary"
                  @icon="chevron-down"
                  @layout="icon-right"
                  @disabled={{not this.model}}>
            {{t "requests"}}
          </WebComponents::AuButton>
          <AttachPopover
                  @renderInPlace={{true}}
                  @class="ember-attacher-popper"
                  @hideOn="clickout click"
                  @showOn="click"
                  @animation="shift"
                  @placement="bottom" {{!-- as |attacher| --}}
          >
            <WebComponents::AuDropdown>
              <WebComponents::AuDropdown::Item {{on "click" this.openTranslationRequestModal}}>
                {{t "request-translations"}}
              </WebComponents::AuDropdown::Item>
              <WebComponents::AuDropdown::Item {{on "click" this.openPublishPreviewRequestModal}}>
                {{t "request-publish-preview"}}
              </WebComponents::AuDropdown::Item>
            </WebComponents::AuDropdown>
          </AttachPopover>
        </WebComponents::AuToolbar::Item>
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButton
                  data-test-publication-case-add-documents
                  @skin="primary"
                  @icon="add"
                  {{on "click" this.openPieceUploadModal}}
          >
            {{t "documents-add"}}
          </WebComponents::AuButton>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  </div>

  {{#if this.showFilterPanel}}
    <div class="auk-u-mb-2">
      <Publications::Publication::Documents::DocumentsFilter
        @filter={{this.filter}} @onChange={{this.setFilter}} />
    </div>
  {{/if}}

  <div class="auk-u-mb-3">
    {{#if this.model}}
      <table class="auk-table">
        <thead>
          <tr>
            <th>
              <Auk::Checkbox
                @toggle={{this.changeAllPiecesSelection}}
                @checked={{this.areAllPiecesSelected}}
              />
            </th>
            <th class="auk-table__col--6">{{t "name-document"}}</th>
            <th colspan="2">{{t "file-extension"}}</th>
            <th colspan="2">{{t "file-type"}}</th>
            <th class="auk-u-text-nowrap">{{t "uploaded-at"}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |piece|}}
            <tr class="auk-table__row" data-test-publication-case-documents-piece-row>
              <td>
                <Auk::Checkbox
                  @toggle={{fn this.changePieceSelection piece}}
                  @checked={{includes piece this.selectedPieces}}
                />
              </td>
              <td>
                {{#if piece.agendaitems}}
                  <WebComponents::AuIcon @name="lock-closed" @iconSkinColor="muted" @layout="icon-only"/>
                {{/if}}
                {{piece.name}}
              </td>
              <td colspan="2">
                {{piece.file.extension}}
              </td>
              <td colspan="2">
                {{piece.documentContainer.type.label}}
              </td>
              <td>
                {{moment-format piece.created}}
                <br>
                <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <WebComponents::AuButton data-test-pub-case-doc-row-actions @skin="borderless" @icon="more" @layout="icon-only"></WebComponents::AuButton>
                  <AttachPopover
                      @renderInPlace={{true}}
                      @class="ember-attacher-popper"
                      @hideOn="clickout click"
                      @showOn="click"
                      @animation="shift"
                      @placement="bottom"
                      {{!-- as |attacher| --}}
                    >
                    <WebComponents::AuDropdown>
                      {{!-- TODO opening viewer will only work for pdf files --}}
                      <WebComponents::AuDropdown::Item data-test-pub-case-doc-row-action-view {{on "click" (fn this.showPieceViewer piece.id)}}>
                        {{t "view-document-details"}}
                      </WebComponents::AuDropdown::Item>
                      {{!-- TODO do we want this action ? how to upload a new version to a piece with multiple files ?? --}}
                      {{!-- <WebComponents::AuDropdown::Item {{on "click" attacher.hide}}>
                        {{t "new-version"}}
                      </WebComponents::AuDropdown::Item> --}}

                    {{!-- TODO the rules for editing documents are not clear. OVRB should not be able to edit documents that
                    have been released by kanselarij
                    Offering this as an option should be very restrictive --}}
                      {{#if (not piece.agendaitems)}}
                        <WebComponents::AuDropdown::Item {{on "click" (fn this.editExistingPiece piece)}}>
                          {{t "edit"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}
                      {{#if (not piece.agendaitems)}}
                        <WebComponents::AuDropdown::Item @href={{await piece.downloadFileLink}} download={{await piece.downloadFilename}}>
                          {{t "download"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}

                    {{!-- TODO the rules for deleting documents are not clear. OVRB should not be able to delete documents
                    that have been released by kanselarij
                    Offering this as an option should be very restrictive --}}
                      {{#if (not piece.agendaitems)}}
                        <WebComponents::AuDropdown::Item
                                data-test-pub-case-doc-row-action-delete
                                @skin="danger"
                                {{on "click" (fn this.deleteExistingPiece piece)}}
                        >
                          {{t "delete"}}
                        </WebComponents::AuDropdown::Item>
                      {{/if}}
                    </WebComponents::AuDropdown>
                  </AttachPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <WebComponents::AuPanel>
        <WebComponents::AuPanel::Body>
          <WebComponents::AuEmptyState @message={{t "no-documents-yet" }} />
        </WebComponents::AuPanel::Body>
      </WebComponents::AuPanel>
    {{/if}}
  </div>


  {{!-- UPLOAD PIECE MODAL --}}

  {{#if this.showPieceUploadModal}}
    <Publications::Publication::Documents::DocumentsUploadModal
      @onSave={{perform this.saveAndLinkPieces}}
      @onCancel={{this.hidePieceUploadModal}} />
  {{/if}}

  {{!-- EDIT PIECE DETAILS --}}

  {{#if this.showPieceEditor}}
    <Utils::pieceDetailsEdit
            @piece={{this.pieceBeingEdited}}
            @saveAction={{this.saveEditedPiece}}
            @cancelAction={{this.cancelEditPiece}}
    />
  {{/if}}



  {{!-- VERIFY DELETE PIECE MODAL --}}
  {{!-- TODO replace this with Au variant --}}
  {{#if this.isVerifyingDelete}}
    <WebComponents::VlModalVerify
            @title={{t "document-delete" }}
            @message={{t "delete-document-message" }}
            @cancel={{action this.cancelDeleteExistingPiece}}
            @verify={{perform this.verifyDeleteExistingPiece}}
    />
  {{/if}}
</div>