{{!-- TITLE AND TOOLBAR --}}


<div class="auk-u-my-2">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <h4 class="auk-toolbar-complex__title">{{t "documents"}}</h4>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton @skin="secondary" @icon="chevron-down" @layout="icon-right" @disabled={{not (await @model.case.pieces)}}>
          {{t "requests"}}
        </WebComponents::AuButton>
        {{#if (await @model.case.pieces)}}
          <AttachPopover
            @renderInPlace={{true}}
            @class="ember-attacher-popper"
            @hideOn="clickout click"
            @showOn="click"
            @animation="shift"
            @placement="bottom"
            {{!-- as |attacher| --}}
          >
            <WebComponents::AuDropdown>
              <WebComponents::AuDropdown::Item {{on "click" this.openTranslationRequestModal}}>
                {{t "request-translations"}}
              </WebComponents::AuDropdown::Item>
              <WebComponents::AuDropdown::Item {{on "click" this.openPublishPreviewRequestModal}}>
                {{t "request-publish-preview"}}
              </WebComponents::AuDropdown::Item>
            </WebComponents::AuDropdown>
          </AttachPopover>
        {{/if}}
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuButton @skin="primary" @icon="plus" {{on "click" this.openPieceUploadModal}}>{{t "documents-add"}}</WebComponents::AuButton>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</div>


{{!-- TABLE FOR DOCUMENTS --}}


<div class="auk-u-mb-3">
  {{#if (gt (await @model.case.pieces.length) 0)}}
    <table class="auk-table">
      <thead>
        <tr>
          <th></th>
          <th class="auk-table__col--6">{{t "document"}}</th>
          <th class="auk-u-text-nowrap">{{t "uploaded-at"}}</th>
          <th colspan="2">{{t "translations"}}</th>
          <th colspan="2">{{t "signatures"}}</th>
          <th colspan="2">{{t "proof"}}</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>{{t "needed?"}}</th>
          <th>{{t "present?"}}</th>
          <th>{{t "needed?"}}</th>
          <th>{{t "present?"}}</th>
          <th>{{t "needed?"}}</th>
          <th>{{t "present?"}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each @model.case.pieces as |piece|}}
          <tr>
            <td>
              <WebComponents::AuButton
                {{on "click" (fn this.toggleFolderCollapse piece)}}
                @skin="borderless"
                @icon={{if (not piece.collapsed) "chevron-down" "chevron-right" }}
                @layout="icon-only">
              </WebComponents::AuButton>
            </td>
            <td>
              <div class="o-flex o-flex--vertical-center">
                <WebComponents::AuBadge @icon="folder"></WebComponents::AuBadge>
                <div class="auk-u-ml-3">
                  <span class="auk-u-text-bold">{{await piece.name}}</span>
                  <br>
                  <span class="auk-u-muted auk-u-text-small">{{await piece.documentContainer.type.label}}</span>
                </div>
              </div>

            </td>
            <td>
              {{moment-format piece.created}}
              <br>
              <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
            </td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td>
              <WebComponents::AuButtonToolbar>
                <WebComponents::AuButton @skin="borderless" @icon="more" @layout="icon-only">
                </WebComponents::AuButton>
                <AttachPopover
                  @renderInPlace={{true}}
                  @class="ember-attacher-popper"
                  @hideOn="clickout click"
                  @showOn="click"
                  @animation="shift"
                  @placement="bottom"
                  {{!-- as |attacher| --}}
                >
                  <WebComponents::AuDropdown>
                    {{!-- <WebComponents::AuDropdown::Item>
                      {{t "upload-docx"}}
                    </WebComponents::AuDropdown::Item> --}}
                    {{!-- TODO delete folder ? Intent for this action is unclear and delete rules must be checked --}}
                    {{!-- <WebComponents::AuDropdown::Item @skin="danger" {{on "click" attacher.hide}}>
                      {{t "delete-folder"}}
                    </WebComponents::AuDropdown::Item> --}}
                  </WebComponents::AuDropdown>
                </AttachPopover>
              </WebComponents::AuButtonToolbar>
            </td>
          </tr>
          {{#if (not piece.collapsed)}}
            <tr class="auk-table__row auk-table__row--collapsed-content">
              <td>
                <WebComponents::AuCheckbox
                        @toggle={{fn this.changePieceSelection piece}}
                        @checked={{piece.selected}} />
              </td>
              <td>
                <span>{{await piece.name}}</span>
                <br>
                <span class="auk-u-muted auk-u-text-small">{{await piece.file.extension}}</span>
              </td>
              <td>
                {{moment-format piece.created}}
                <br>
                <span class="auk-u-muted auk-u-text-small">{{moment-format piece.created "HH:mm"}}</span>
              </td>
              {{!-- TODO Logic for checkboxes checked --}}
              {{!-- TODO Logic for the checkmark (isPresent), based on activities or just checking for the relevcant pieces? --}}

              <td>
              </td>
              <td class="auk-table__cell auk-table__cell--success"><WebComponents::AuIcon @name="check"></WebComponents::AuIcon></td>
              <td></td>
              <td class="auk-table__cell auk-table__cell--success"><WebComponents::AuIcon @name="check"></WebComponents::AuIcon></td>
              <td></td>
              <td class="auk-table__cell auk-table__cell--warning"><WebComponents::AuIcon @name="clock"></WebComponents::AuIcon></td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <WebComponents::AuButton @skin="borderless" @icon="more" @layout="icon-only">
                  </WebComponents::AuButton>
                  <AttachPopover
                    @renderInPlace={{true}}
                    @class="ember-attacher-popper"
                    @hideOn="clickout click"
                    @showOn="click"
                    @animation="shift"
                    @placement="bottom"
                    {{!-- as |attacher| --}}
                  >
                    <WebComponents::AuDropdown>
                      {{!-- TODO opening viewer will only work for pdf files --}}
                      <WebComponents::AuDropdown::Item {{on "click" (fn this.showPieceViewer piece.id)}}>
                        {{t "view-document-details"}}
                      </WebComponents::AuDropdown::Item>
                      {{!-- TODO do we want this action ? how to upload a new version to a piece with multiple files ?? --}}
                      {{!-- <WebComponents::AuDropdown::Item {{on "click" attacher.hide}}>
                        {{t "new-version"}}
                      </WebComponents::AuDropdown::Item> --}}
                      {{!-- TODO the rules for deleting documents are not clear. OVRB should not be able to delete documents that have been released by kanselarij
                            Offering this as an option should be very restrictive --}}
                      {{!-- <WebComponents::AuDropdown::Item @skin="danger" {{on "click" attacher.hide}}>
                        {{t "document-delete"}}
                      </WebComponents::AuDropdown::Item> --}}
                    </WebComponents::AuDropdown>
                  </AttachPopover>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
            {{!-- TODO KAS-1986 have to make this a #each, or several ? 1 each for pieces (translations), 1 each for files(docx, pdf) --}}
            {{!-- TODO KAS-1986 which has to come first ? assuming pdf, then docx or other extensions, then translations of docx --}}
            {{!-- if @model has other extension --}}
            {{!-- if @model has other translation --}}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <WebComponents::AuPanel>
      <WebComponents::AuPanel::Body>
        <WebComponents::AuEmptyState @message={{t "no-documents-yet"}}/>
      </WebComponents::AuPanel::Body>
    </WebComponents::AuPanel>
  {{/if}}
</div>

{{#if this.isOpenPieceUploadModal}}
  <WebComponents::AuModal @size="full-screen">
    <WebComponents::AuModal::Header
      @title={{t "documents-add"}}
      @closeModal={{perform this.cancelUploadPieces}}
    />
    <WebComponents::AuModal::Body>
      <WebComponents::AuFileUploader @fullHeight={{true}} @multipleFiles={{true}} @uploadedFileAction={{action this.uploadPiece}}>

      </WebComponents::AuFileUploader>
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @cancelModal={{perform this.cancelUploadPieces}}>
      {{#if this.savePieces.isRunning}}
        <Utils::SimpleSpinner></Utils::SimpleSpinner>
      {{else}}
        <WebComponents::AuButton
          data-test-au-modal-footer-save
          @skin="primary"
          @disable={{eq this.newPieces.length 0}}
          {{on "click" (perform this.savePieces)}}
        >
          {{t "documents-add"}}
        </WebComponents::AuButton>
      {{/if}}
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}





{{!--      REQUEST TRANSLATION MODAL       --}}



{{#if this.showTranslationModal}}
  <WebComponents::AuModal>
    <WebComponents::AuModal::Header
            @title={{t "request-translations"}}
            @closeModal={{this.cancelTranslationModal}}
    />
    <WebComponents::AuModal::Body>


        {{!--  Pieces selected --}}
        {{t "request-translation-confirmation" }}
        <WebComponents::AuLabel @isRequired={{true}}>
          {{t "extreme-translation-date"}}
        </WebComponents::AuLabel>
        <WebComponents::AuDatepicker @defaultDate={{this.getTranslateActivityBeforeDate}} @onChange={{this.setTranslateActivityBeforeDate}}/>

        <WebComponents::AuLabel @isRequired={{true}}>
          {{t "accompanying-text"}}
        </WebComponents::AuLabel>
        <WebComponents::AuTextarea
                id="emailMessage"
                @rows="7"
                @value={{mut this.translateActivity.mailContent}}
                data-test-create-vertaalActivity-modal-email-textarea/>

        <WebComponents::AuLabel @isRequired={{true}}>
          {{t "attachments" }}
        </WebComponents::AuLabel>

      {{#each this.model.case.pieces as |loopedPiece| }}
        {{#if loopedPiece.selected}}
          <div class="o-flex o-flex--vertical-center">
            <WebComponents::AuBadge @icon="folder"></WebComponents::AuBadge>
            <div class="auk-u-ml-3">
              <span class="auk-u-text-bold">{{await loopedPiece.name}}</span>
              <br>
              <span class="auk-u-muted auk-u-text-small">{{await loopedPiece.documentContainer.type.label}}</span>
            </div>
          </div>
        {{/if}}
      {{/each}}


        {{!--  No pieces selected
        <WebComponents::AuAlert data-test-auk-alert-error
                                @title={{t "modal-error-alert-title"}}
                                @skin="error"
                                @message={{t "modal-error-missing-pieces"}}
                                @icon="alert-triangle"/>
        --}}

    </WebComponents::AuModal::Body>

    <WebComponents::AuModal::Footer @cancelModal={{this.cancelTranslationModal}}>
      <WebComponents::AuButton
              data-test-au-modal-footer-save
              @skin="primary"
        {{on "click" this.saveTranslationActivity}}
      >
        {{t "request-translations"}}
      </WebComponents::AuButton>
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}



{{!-- FULL PAGE LOADER --}}



{{#if showLoader }}
  <WebComponents::VlModal
          @isOverlay={{true}}
          @showCloseButton={{false}}
          @title={{t "loading-text"}}
  >
    <WebComponents::VlLoader
        @text={{concat
          (t "saving-change-message")
          " "
          (t "please-be-patient")
        }}
    />
  </WebComponents::VlModal>
{{/if}}