{{ page-title
  (t "newsletter")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-12">
    <div>
      {{#if this.model.length}}
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped auk-table--vertical-align-top"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToAgendaitem}}
        as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table__col--7 auk-table__header-title">
                {{t "newletter-table-header"}}
              </th>
              <ThSortable
                @class="auk-table__col--2 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "newletter-agenda"}}
              />
              <th class="auk-table__col--2 auk-table__header-title">
                {{t "newsletter-minister"}}
              </th>
              <th class="auk-table__col--1"></th>
            </c.header>
            <tbody class="auk-table--interaction-cursor">
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Visienota 'Luchtvaart in Vlaanderen'
                    <i class="ki ki-not-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    In het regeerakkoord is voorzien dat de Vlaamse Regering een langetermijnvisie opmaakt over de ontwikkeling van de luchtvaart. In dat kader neemt de Vlaamse Regering nu kennis van de startnota 'Visie Luchtvaart in Vlaanderen'. Daarbij wordt aandacht besteed aan de knelpunten rond 'general aviation', vergunningen, de beheersvormen en rolverdeling van de regionale luchthavens, de samenwerking met de nationale luchthaven en de toekomstige ontwikkelingen en innovaties in de luchtvaartsector. De Vlaamse minister bevoegd voor mobiliteit zal deze visienota verder verdiepen tot een globale en gedragen visie, en een extern studiebureau aanduiden om de visienota vorm te geven. 
                  </p>
                </td>
                <td>
                  12-11-2020
                </td>
                <td>
                  Lydia Peeters
                </td>
                <td class="auk-u-text-align--right">
                  {{!-- <Auk::Button
                    @skin="borderless"
                    @layout="icon-only"
                    @icon="nav-right"
                    href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek"
                  /> --}}
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Geluidshinder Luchthaven Brussel-Nationaal: standpuntbepaling voorstel van resolutie
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    De Vlaamse Regering verleent negatief advies aan het voorstel van resolutie 291 over het ondervangen van het probleem van de (geluids)hinder als gevolg van het overvliegen van het gebied rond de luchthaven Brussel-Nationaal, zonder daarbij afbreuk te doen aan de economische ontwikkeling van die luchthaven. Het voorstel van resolutie omvat 18 verzoeken die een kader vormen om de hinder die veroorzaakt wordt door Brussels Airport op vlak van geluid- en luchtemissies, met inbegrip van het veiligheidsrisico, tot een minimum te beperken voor het Brussels Hoofdstedelijk Gewest en de onmiddellijke omgeving ervan. De geformuleerde voorstellen zijn zeer verregaand (bv. verbod om vluchten uit te voeren tussen 22 en 7 uur, verbod om boven het Brussels Hoofdstedelijk Gewest en de onmiddellijke omgeving te vliegen) en hebben een negatieve impact op de verdere ontwikkelingsmogelijkheden van Brussels Airport en de ‘billijke’ spreiding van de geluidshinder tussen de gewesten. De eisen die vermeld worden in resolutie 291 staan ook in contrast met het Vlaams Regeerakkoord 2019-2024 waarin het verzoenen van de leefbaarheid van de regio met nieuwe groeikansen voor de luchthaven als economische motor voor heel Vlaanderen wordt vermeld.
                  </p>
                </td>
                <td>
                  25-06-2021
                </td>
                <td>
                  Zuhal Demir, Lydia Peeters
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Instemmingsdecreet luchtvervoersovereenkomst Congo
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    Bilaterale luchtvaartakkoorden voorzien en regelen alle aspecten voor de exploitatie van de luchtverbindingen. Na advies van de Raad van State keurt de Vlaamse Regering nu definitief het ontwerpdecreet goed dat instemt met de luchtvervoersovereenkomst tussen België en Congo, ondertekend in Brussel op 12 juni 2018. Het ontwerp van instemmingsdecreet wordt nu ingediend bij het Vlaams Parlement.
                  </p>
                </td>
                <td>
                  07-05-2021
                </td>
                <td>
                  Jan Jambon, Lydia Peeters
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Nationaal standaardscenario voor UAS-vluchtuitvoeringen: standpuntbepaling
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    De Vlaamse Regering stemt in met het ontwerp van ministerieel besluit tot bepaling van een standaardscenario voor UAS (Unmanned Aircraft Systems)-vluchtuitvoeringen uit de 'specifieke' categorie. Het gaat om de uitvoering van de Europese Verordening, die voorziet dat UAS-vluchtuitvoeringen uit de 'specifieke' categorie mogen uitgevoerd worden op basis van een voorafgaande verklaring als de beoogde vluchtuitvoering voldoet aan een standaardscenario. Op die manier hoeft de UAS-exploitant geen exploitatievergunning te verkrijgen. 
                  </p>
                </td>
                <td>
                  18-12-2021
                </td>
                <td>
                  Lydia Peeters
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Interne reorganisatie Vlaamse Milieumaatschappij (VMM): aanpassing besluiten
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    Binnen de Vlaamse Milieumaatschappij werd een traject doorlopen om de interne werking te optimaliseren. De interne reorganisatie zorgt ervoor dat benamingen van entiteiten veranderen, zodat verwijzingen naar deze afdelingen en diensten in besluiten van de Vlaamse Regering ook moeten aangepast worden. Daarnaast wordt de digitale kaart vereenvoudigd, die gebruikt wordt voor de afbakening van de adviesbevoegdheid van de afdeling bevoegd voor lucht bij omgevingsvergunningsaanvragen voor stedenbouwkundige handelingen. De Vlaamse Regering wijzigt hiervoor, na advies van de Raad van State, definitief diverse besluiten.
                  </p>
                </td>
                <td>
                  21-05-2021
                </td>
                <td>
                  Zuhal Demir
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Interne reorganisatie Vlaamse Milieumaatschappij (VMM): aanpassing besluiten
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    Binnen de Vlaamse Milieumaatschappij werd een traject doorlopen om de interne werking te optimaliseren. De interne reorganisatie zorgt ervoor dat benamingen van entiteiten veranderen, zodat verwijzingen naar deze afdelingen en diensten in besluiten van de Vlaamse Regering ook moeten aangepast worden. Daarnaast wordt de digitale kaart vereenvoudigd, die gebruikt wordt voor de afbakening van de adviesbevoegdheid van de afdeling bevoegd voor lucht bij omgevingsvergunningsaanvragen voor stedenbouwkundige handelingen. De Vlaamse Regering wijzigt hiervoor principieel diverse besluiten. Over dit wijzigingsbesluit wordt het advies ingewonnen van de Raad van State.
                  </p>
                </td>
                <td>
                  02-04-2021
                </td>
                <td>
                  Zuhal Demir
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Bevoegdheid 'verontreiniging van de atmosfeer voorkomen en beperken': toewijzing aan de Vlaamse Milieumaatschappij
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    Door de omvorming van het Vlaams Energieagentschap naar het Vlaams Energie- en Klimaatagentschap wordt de bevoegdheid om de verontreiniging van de atmosfeer, met uitzondering van de verontreiniging als gevolg van broeikasgassen, te voorkomen en te beperken, toegewezen aan de Vlaamse Milieumaatschappij (VMM). Hiermee samenhangend wordt in het kader van de omgevingsvergunningsaanvragen een specifieke adviesbevoegdheid voor VMM, lucht, in het leven geroepen. Om bepalingen in overeenstemming te brengen met deze bevoegdheidstoewijzingen wijzigt de Vlaamse Regering, na advies van de Raad van State, definitief een aantal besluiten.
                  </p>
                </td>
                <td>
                  20-01-2021
                </td>
                <td>
                  Zuhal Demir
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Nieuwe bevoegdheden Vlaamse Milieumaatschappij (VMM): wijziging besluiten
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    Door de omvorming van het Vlaams Energieagentschap naar het Vlaams Energie- en Klimaatagentschap wordt de bevoegdheid om de verontreiniging van de atmosfeer, met uitzondering van de verontreiniging als gevolg van broeikasgassen, te voorkomen en te beperken, toegewezen aan de Vlaamse Milieumaatschappij (VMM). Hiermee samenhangend wordt in het kader van de omgevingsvergunningsaanvragen een specifieke adviesbevoegdheid voor VMM, lucht, in het leven geroepen. Om bepalingen in overeenstemming te brengen met deze bevoegdheidstoewijzingen wijzigt de Vlaamse Regering principieel een aantal besluiten. Over dit wijzigingsbesluit wordt het advies ingewonnen van de Raad van State.
                  </p>
                </td>
                <td>
                  12-04-2021
                </td>
                <td>
                  Zuhal Demir
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Vlaams Energie- en Klimaatagentschap (VEKA): aanpassing decreten naar aanleiding omvorming
                    <i class="ki ki-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                    ></i>
                  </h3>
                  <p class="auk-u-mr-2">
                    Na advies van de Raad van State hecht de Vlaamse Regering haar definitieve goedkeuring aan het ontwerpdecreet dat diverse decreten aanpast met betrekking tot de omvorming van het Vlaams Energie-agentschap tot het Vlaams Energie- en Klimaatagentschap (VEKA), tot integratie van opdrachten rond klimaat van het Departement Omgeving in dit Vlaams Energie- en Klimaatagentschap, tot integratie van opdrachten rond lucht van het Departement Omgeving in de Vlaamse Milieumaatschappij en houdende rapportage door het Departement Omgeving. Dit ontwerpdecreet zorgt voor terminologische aanpassingen in verschillende Vlaamse decreten. Het doel van dit decreet is dan ook om in de regelgeving de juridische continuïteit te garanderen in het kader van de door het Vlaams Regeerakkoord vooropgestelde overschakeling naar het VEKA. Daarnaast geeft het ook uitvoering aan het Vlaams Regeerakkoord door het concentreren van taken rond lucht(kwaliteit) bij de Vlaamse Milieumaatschappij. Met het oog op de integrale benadering van het omgevingsbeleid wordt de milieurapportage omgevormd naar een permanente rapportage over omgeving waarin ruimtelijke ordening wordt meegenomen. Het ontwerp van wijzigingsdecreet wordt ingediend bij het Vlaams Parlement.
                  </p>
                </td>
                <td>
                  30-10-2020
                </td>
                <td>
                  Zuhal Demir
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <c.body class="auk-table--interaction-cursor" as |row|>
              <td>
                <h3 class="auk-h4 auk-u-mb">
                  Visienota 'Luchtvaart in Vlaanderen'
                  <i class="ki ki-not-visible vlc-agenda-detail-sidebar-item__icon--margin-right vlc-u-opacity-50"
                  ></i>
                </h3>
                <p class="auk-u-mr-2">
                  In het regeerakkoord is voorzien dat de Vlaamse Regering een langetermijnvisie opmaakt over de ontwikkeling van de luchtvaart. In dat kader neemt de Vlaamse Regering nu kennis van de startnota 'Visie Luchtvaart in Vlaanderen'. Daarbij wordt aandacht besteed aan de knelpunten rond 'general aviation', vergunningen, de beheersvormen en rolverdeling van de regionale luchthavens, de samenwerking met de nationale luchthaven en de toekomstige ontwikkelingen en innovaties in de luchtvaartsector. De Vlaamse minister bevoegd voor mobiliteit zal deze visienota verder verdiepen tot een globale en gedragen visie, en een extern studiebureau aanduiden om de visienota vorm te geven. 
                </p>
              </td>
              <td>
                {{moment-format row.sessionDates "DD-MM-YYYY"}}
              </td>
              <td>
                Lydia Peeters
              </td>
              <td class="auk-u-text-align--right">
                <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/607947F86D035D00080003FB/agenda/2a960800-f379-11eb-b6ba-a57656f3bb7a/agendapunten/2d186d20-f379-11eb-b6ba-a57656f3bb7a/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>