<div class="auk-u-mb-8">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "publication-statusses"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-bg-alt">
      {{#if this.loadData.isRunning}}
        <Auk::Loader
          @message={{t "loading"}}
        />
      {{else}}
        <div class="auk-u-mb-2">
          <div class="au-u-flex au-u-flex--spaced-tiny">  
            <p class="au-u-medium">
              {{t "latest-modified-on"}} {{date @publicationFlow.modified}}
            </p>
          </div>
        </div>
        <ul class="vlc-status-timeline">
          {{#if (gt this.publicationActivities.length 0)}}
            {{#each this.publicationActivities as |publicationActivity|}}
              {{#if publicationActivity.endDate}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{t "publications-publication-received-on"}} {{date publicationActivity.endDate}}
                  </div>
                </li>
              {{/if}}
              {{#if publicationActivity.startDate}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{t "publications-publication-requested-on"}} {{date publicationActivity.startDate}}
                  </div>
                </li>
              {{/if}}
            {{/each}}
          {{/if}}
          {{#if (gt this.proofingActivities.length 0)}}
            {{#each this.proofingActivities as |proofingActivity|}}
              {{#if proofingActivity.endDate}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{t "publications-proof-received-on"}} {{date proofingActivity.endDate}}
                  </div>
                </li>
              {{/if}}
              {{#if proofingActivity.startDate}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{t "publications-proof-requested-on"}} {{date proofingActivity.startDate}}
                  </div>
                </li>          
              {{/if}}
            {{/each}}
          {{/if}}
          {{#if (gt this.translationActivities.length 0)}}
            {{#each this.translationActivities as |translationActivity|}}
              {{#if translationActivity.endDate}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{t "publications-translation-received-on"}} {{date translationActivity.endDate}}
                  </div>
                </li>
              {{/if}}
              {{#if translationActivity.startDate}}
                <li
                  class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
                >
                  <div class="vlc-status-timeline__dot"></div>
                  <div class="vlc-status-timeline__text">
                    {{t "publications-translation-requested-on"}} {{date translationActivity.startDate}}
                  </div>
                </li>
              {{/if}}
            {{/each}}
          {{/if}}
        </ul>
      {{/if}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>