<div class="auk-u-m-8">
  <Utils::AgendaitemTable
    @model={{this.model}}
    @sort={{this.sort}}
    @page={{this.page}}
    @filter={{this.filter}}
    @size={{this.size}}
    @include={{this.include}}
    @columns={{this.columns}}
    as |row|
  >
    <AgendaitemPressEdit @isTableRow={{true}} @agendaitem={{row}} />
  </Utils::AgendaitemTable>
</div>
{{outlet}}