<div class="auk-u-m-8">
  <Utils::AgendaitemTable
    @model={{model}}
    @sort={{sort}}
    @page={{page}}
    @filter={{filter}}
    @size={{size}}
    @include={{include}}
    @columns={{columns}}
    as |row|
  >
    <AgendaitemPressEdit @isTableRow={{true}} @agendaitem={{row}} />
  </Utils::AgendaitemTable>
</div>
{{outlet}}