<div {{did-update (perform this.loadData) @pieces}}>
  {{#if this.loadData.isRunning}}
    <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
  {{else}}
    {{#each this.sortedDocumentHistories as |history|}}
      <Documents::LinkedDocumentLink
        @documentContainer={{history.documentContainer}}
        @lastPiece={{history.lastPiece}}
        @onUnlinkDocumentContainer={{@onUnlinkDocumentContainer}} />
    {{else}}
      <div class="vl-u-spacer-extended-top-s">
        <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
      </div>
    {{/each}}
  {{/if}}
</div>