<div data-test-au-alert-container class="auk-alert {{this.skin}}" ...attributes>
  <div class="auk-alert__body">
    <WebComponents::AuBadge @icon="{{this.icon}}" @skin={{@skin}} @size={{@size}}/>
    <div class="auk-alert__text">
      {{#if @title}}
        <p data-test-au-alert-title class="auk-alert__title">{{@title}}</p>
      {{/if}}
      <p data-test-au-alert-message class="auk-alert__message">{{@message}}</p>
    </div>
  </div>
  {{#if @isClosable}}
    <WebComponents::AuButton data-test-au-alert-close @skin="tertiary" @icon="close" @layout="icon-only" @size={{@size}}>{{t "cancel"}}</WebComponents::AuButton>
  {{/if}}
</div>