<div class="vl-uploaded-document__title">
  <div class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt">
    <i class="vl-badge__icon vl-vi vl-vi-document" aria-hidden="true"></i>
  </div>
  <div class="vl-uploaded-document__title-container">
    <div class="title">
      <h6 class="vl-title vl-title--h6">
        {{name}}
      </h6>
      {{#if view}}
        <button
          class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
          {{action "view"}}
        >
          <i class="vl-vi vl-vi-content-book vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "show-document-version"}}
          </span>
        </button>
      {{/if}}
      {{#if download}}
        <button
          class="vl-button vl-button--^link vl-button--icon js-vl-popover__toggle"
          {{action "download"}}
        >
          <i
            class="vl-vi vl-vi-download-harddisk vl-button__icon"
            aria-hidden="true"
          ></i>
          <span class="vl-u-visually-hidden">
            {{t "download"}}
          </span>
        </button>
      {{else if downloadLink}}
        <a
          class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
          href={{downloadLink}}
          download={{if downloadName downloadName name}}
        >
          <i
            class="vl-vi vl-vi-download-harddisk vl-button__icon"
            aria-hidden="true"
          ></i>
          <span class="vl-u-visually-hidden">
            {{t "download"}}
          </span>
        </a>
      {{/if}}
      {{#if delete}}
        <button
          data-test-vl-uploaded-document-deleteversion
          class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
          {{action "delete"}}
        >
          <i class="vl-vi vl-vi-trash vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            {{t "delete"}}
          </span>
        </button>
      {{/if}}
    </div>
    <div class="vl-document__metadata metadata">
      {{extension}}
      -
      {{format-bytesize size}}
    </div>
  </div>
</div>
{{yield}}
