<div class="auk-u-mb-8">
  {{#if this.isEditing}}
    <Subcase::SubcaseDescriptionPanel::SubcaseDescriptionEdit
      @subcase={{@subcase}}
      @onCancel={{this.cancelEditing}}
      @onSave={{this.stopEditing}}
    />
  {{else}}
    <Subcase::SubcaseTitlesPanel::SubcaseTitlesPanelView
      @subcase={{@subcase}}
      @onClickEdit={{this.startEditing}}
    />
  {{/if}}
</div>