<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-display-flex vl-u-flex-align-baseline">
    <h4 class="vl-title vl-title--h4">
      {{t "subcases"}}
    </h4>
  </div>
</div>
{{#if (is-pending subcases)}}
  {{web-components/vl-loader text=(t "all-subcases-loading-text")}}
{{else}}
  {{#each subcases as |subcase|}}
    {{#subcases/subcase-item subcase=(await subcase)}}
      <hr class="vlc-hr" />
      <div class="vl-u-spacer-extended-bottom">
        <p>
          {{subcase.title}}
        </p>
      </div>
      {{#if (gt (await subcase.documentVersions.length) 1)}}
      <div class="js-vl-accordion">
        <button
          class="vl-toggle vl-link vl-link--bold"
          data-vl-accordion-toggle=""
          data-vl-accordion-dressed="true"
          aria-expanded="false"
          {{action "toggleIsShowingDocuments" subcase}}
        >
          {{#if subcase.isShowingDocuments}}
            <i
              class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-down-fat"
              aria-hidden="true"
            ></i>
          {{else}}
            <i
              class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-right-fat"
              aria-hidden="true"
            ></i>
          {{/if}}
          {{t "documents"}}
        </button>
      </div>
      {{#if subcase.isShowingDocuments}}
        <div class="vl-accordion__panel">
          <div class="vl-u-spacer-extended-top">
            {{utils/documents-list-for-item item=subcase isClickable=true}}
          </div>
        </div>
      {{/if}}
    {{/if}}
    {{/subcases/subcase-item}}
  {{/each}}
{{/if}}