<div class="auk-u-mb-3" >
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "government-domains-government-fields"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="tertiary" @icon="edit"
              @layout="icon-only"
              {{on "click" this.showEditModal}} />
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    {{#if @publicationFlow.governmentFields}}
      <Auk::Panel::Body @noPadding={{true}}>
        <table class="auk-table">
          <thead>
            <tr>
              <th>{{t "government-domain"}}</th>
              <th>{{t "government-fields"}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.rows as |row|}}
              <tr>
                <td>
                  {{row.governmentDomain.label}}
                </td>
                <td>
                  {{join ", " (map-by "label" row.sortedGovernmentFields)}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </Auk::Panel::Body>
    {{else}}
      <Auk::Panel::Body>
        <Auk::EmptyState @message={{t "no-added-government-fields"}} />
      </Auk::Panel::Body>
    {{/if}}
  </Auk::Panel>
</div>

{{#if this.isOpenEditModal}}
  <Publications::Publication::Case::GovernmentFields::EditGovernmentFieldsModal
      @governmentFields={{this.governmentFields}}
      @onSave={{this.save}}
      @onCancel={{this.closeEditModal}}/>
{{/if}}