<div class="auk-u-mb-3" >
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "government-domains-government-fields"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="tertiary"
              @layout="icon-only"
              @icon="edit"
              {{on "click" this.showLinkModal }}
            />
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    {{#unless @publicationFlow.governmentFields }}
      <Auk::Panel::Body>
        <Auk::EmptyState @message={{t "no-added-government-fields"}} />
      </Auk::Panel::Body>
    {{else}}
      <Auk::Panel::Body @noPadding={{true}}>
        <table class="auk-table" >
          <thead>
            <tr>
              <th>{{t "government-domain"}}</th>
              <th>{{t "government-fields"}}</th>
            </tr>
          </thead>
          <tbody>
          {{!--TODO Work out tabel as in ticket --}}
            {{#each @publicationFlow.governmentFields as |field|}}
              <tr>
                <td>
                  <div class="auk-o-flex auk-o-flex--vertical-center">
                    <div class="auk-u-muted ">
                      {{field.label}}
                    </div>
                  </div>
                </td>
                <td class="auk-u-text-align--right">
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </Auk::Panel::Body>
    {{/unless}}
  </Auk::Panel>
</div>

{{#if isOpenLinkModal}}
  <Publications::Publication::Case::GovernmentFields::LinkGovernmentFieldsModal
      @publicationFlow={{this.publicationFlow}}
      @onSave={{perform this.saveGovernmentFields}}
      @onCancel={{this.closeLinkModal}}/>
{{/if}}