<div class="vlc-document-card-item__title">
  <h6 class="vl-title vl-title--h6">
    {{await documentVersion.name}}
  </h6>
  {{#if (not documentVersion.confidential)}}
    {{access-level-pill
      item=documentVersion
      shouldShowPills=documentVersion.confidential
    }}
  {{/if}}
  {{#if isEditor}}
    <button
      class="vl-button vl-button--link-muted vl-button--icon"
      {{action "toggleConfidential" documentVersion}}
    >
      {{#if documentVersion.confidential}}
        <span class="vl-icon vl-vi vl-vi-lock vl-u-text--error"></span>
      {{else}}
        <span class="vl-icon vl-vi vl-vi-lock-unlock"></span>
      {{/if}}
    </button>
  {{/if}}
  <button
    class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
    {{action "showDocumentVersionViewer" documentVersion}}
  >
    <i class="vl-vi vl-vi-content-book vl-button__icon" aria-hidden="true"></i>
    <span class="vl-u-visually-hidden">
      {{t "download"}}
    </span>
  </button>
  <a
    class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
    href={{concat
      (await documentVersion.file.downloadLink)
      "?name="
      (await documentVersion.downloadFilename)
    }}
    {{!-- download --}}
    {{! 'download' attribute doesn't specify a filename, as this gets overruled by
    the filename received in the "Content-Disposition HTTP header" }}
  >
    <i
      class="vl-vi vl-vi-download-harddisk vl-button__icon"
      aria-hidden="true"
    ></i>
    <span class="vl-u-visually-hidden">
      {{t "download"}}
    </span>
  </a>
  {{#if isEditor}}
    <button
      class="vl-button vl-button--link vl-button--icon vl-button-icon--error js-vl-popover__toggle"
      {{action "deleteDocumentVersion" documentVersion}}
    >
      <i class="vl-vi vl-vi-trash vl-button__icon" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        {{t "delete"}}
      </span>
    </button>
  {{/if}}
</div>
{{#if isEditor}}
  <div class="vlc-document-card-item__meta">
    {{t "uploaded-at"}}
    {{moment-format documentVersion.created "DD.MM.YYYY"}}
    {{t "at"}}
    {{moment-format documentVersion.created "HH:mm"}}
  </div>
{{/if}}
<div class="vlc-document-card-item__icon">
  <span
    class="vl-icon vl-icon--large vl-vi vl-vi-timeline"
    aria-hidden="true"
  ></span>
</div>
{{#if isVerifyingDelete}}
  {{web-components/vl-modal-verify
    title=(t "document-delete")
    message=(t "delete-document-message")
    cancel=(action "cancel")
    verify=(action "verify")
  }}
{{/if}}