<div class="vlc-document-card-item__title">
  <h6 class="vl-title vl-title--h6">
    {{documentVersion.versionNumber}}
    .
    {{documentVersion.nameToDisplay}}
  </h6>
  <button
    class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
    {{action "downloadFile" documentVersion}}
  >
    <i
      class="vl-vi vl-vi-download-harddisk vl-button__icon"
      aria-hidden="true"
    ></i>
    <span class="vl-u-visually-hidden">
      {{t "download"}}
    </span>
  </button>
  <button
    class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
    {{action "showDocumentVersionViewer" documentVersion}}
  >
    <i class="vl-vi vl-vi-file-copy vl-button__icon" aria-hidden="true"></i>
    <span class="vl-u-visually-hidden">
      {{t "download"}}
    </span>
  </button>
</div>
<div class="vlc-document-card-item__meta">
  {{t "uploaded-at"}}
  {{moment-format documentVersion.created "DD.MM.YYYY"}}
  {{t "at"}}
  {{moment-format documentVersion.created "HH:mm"}}
</div>
<div class="vlc-document-card-item__icon">
  <span
    class="vl-icon vl-icon--large vl-vi vl-vi-timeline"
    aria-hidden="true"
  ></span>
</div>