<div class="vl-u-display-flex vl-u-flex-align-center">
  <p>
    {{documentVersion.versionNumber}}
    .
    {{documentVersion.nameToDisplay}}
  </p>
  <button
    class="vl-button vl-button--link vl-button--icon"
    {{action "downloadFile" documentVersion}}
  >
    <i class="vl-button__icon vl-vi vl-vi-move-down"></i>
  </button>
</div>
<p class="vl-u-text--small vl-u-text--muted">
  {{t "uploaded-at"}}
  {{moment-format documentVersion.created "DD.MM.YYYY"}}
  {{t "at"}}
  {{moment-format documentVersion.created "HH:mm"}}
</p>