<a class="vl-document" href="#" {{action "downloadFile"}}>
  <div class="vl-document__type">
    <i class="vl-vi vl-vi-document" aria-hidden="true"></i>
    <span class="vl-document__type__text">
      {{t "web-components.document-type"}}
    </span>
  </div>
  <div class="vl-document__content">
    <div class="vl-document__title vl-link" data-vl-clamp="2">
      {{file.name}} {{file.title}}
    </div>
    {{#if file.extension}}
      <div class="vl-document__metadata">
        {{file.extension}}
        -
        {{file.size}} KB
      </div>
    {{/if}}
  </div>
</a>