{{#if (is-pending value.newsletterInfo)}}
  <div class="skeletal-loader" role="alert" aria-busy="true"></div>
{{else if value.newsletterInfo}}
  {{#if (not value.newsletterInfo.richtext)}}
    <p class="vl-u-text--muted vl-u-text--italic">
      {{t "no-newsletter-info"}}
    </p>
  {{else}}
    <div class="vl-u-spacer-extended-bottom-s">
      {{{await value.newsletterInfo.richtext}}}
    </div>
    <p class="vl-u-text--muted vl-u-text--capitalize vl-u-text--small">
      {{{await newsletterRemark}}}
    </p>
  {{/if}}
{{else}}
  <p class="vl-u-text--muted vl-u-text--italic">
    {{t "no-newsletter-info"}}
  </p>
{{/if}}