{{#if (is-pending value.newsletterInfo)}}
  <div class="skeletal-loader" role="alert" aria-busy="true"></div>
{{else if value.newsletterInfo}}
  {{#if (not value.newsletterInfo.richtext)}}
    <p class="vl-u-text--muted vl-u-text--italic">
      {{t "no-newsletter-info"}}
    </p>
  {{else}}
    <div class="vl-u-spacer-extended-bottom-s">
      <p class="vl-u-text--bold">
        {{await value.newsletterInfo.title}}
      </p>
    </div>
    <div class="vl-u-spacer-extended-bottom-s">
      {{sanitize-html raw=true value=(await value.newsletterInfo.richtext)}}
    </div>
    <p class="vl-u-text--muted vl-u-text--capitalize vl-u-text--small">
      {{sanitize-html raw=true value=(await newsletterRemark)}}
    </p>
  {{/if}}
{{else}}
  <p class="vl-u-text--muted vl-u-text--italic">
    {{t "no-newsletter-info"}}
  </p>
{{/if}}