{{#if this.getIcon}}
  {{#if (eq @layout "icon-right")}}
    <div class="au2-tabs__label">{{yield}}</div>
    <Icon @name={{@icon}} />
  {{else}}
    <Icon @name={{@icon}} />
    <div class="au2-tabs__label">{{yield}} {{#if this.counter}} ({{@counter}}){{/if}}</div>
  {{/if}}
{{else}}
  {{yield}} {{#if this.counter}}({{@counter}}){{/if}}
{{/if}}