<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{t "manage-alerts"}}
  @closeModal={{action "cancel"}}
>
  <div class="auk-modal__content">
    <div class="vlc-input-field-block">
      {{#power-select
        options=this.model
        selected=this.selectedAlert
        onchange=(action "selectAlert")
      as |alert|
      }}
        {{alert.title}}
      {{/power-select}}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <LinkTo
            @tagName="button"
            @type="button"
            class="vl-button vl-button--link"
            @route="settings.overview"
          >
            {{t "cancel"}}
          </LinkTo>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <LinkTo
            data-test-add-system-alert
            @tagName="button"
            @type="button"
            class="vl-button vl-button--tertiary vl-button--icon-before"
            @route="settings.system-alerts.new"
          >
            <i class="vl-button__icon vl-button__icon--before ki-add"></i>
            {{t "message"}}
            {{t "add"}}
          </LinkTo>
          {{#if this.selectedAlert}}
            <LinkTo
              data-test-edit-system-alert
              @tagName="button"
              @type="button"
              class="vl-button vl-button--tertiary vl-button--icon-before"
              @route="settings.system-alerts.edit"
              @model={{this.selectedAlert.id}}
            >
              <i class="vl-button__icon vl-button__icon--before ki-pencil"></i>
              {{t "message"}}
              {{t "edit"}}
            </LinkTo>
            <button
              data-test-remove-system-alert
              type="button"
              class="vl-button vl-button--tertiary vl-button--icon-before"
              {{on "click" (perform remove this.selectedAlert)}}
            >
              <i class="vl-button__icon vl-button__icon--before ki-delete"
              ></i>
              {{t "message"}}
              {{t "delete"}}
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</WebComponents::VlModal>