<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{t "manage-alerts"}}
  @closeModal={{action "cancel"}}
>
  <div class="auk-modal__body">
    <div class="auk-u-p-4">
      <div class="auk-form-group">
        {{#power-select
          options=this.model
          selected=this.selectedAlert
          onchange=(action "selectAlert")
        as |alert|
        }}
          {{alert.title}}
        {{/power-select}}
      </div>
    </div>
  </div>
  <div class="auk-modal__footer auk-modal__footer--bordered">
    <div class="auk-toolbar-complex">
      <div class="auk-toolbar-complex__left">
        <div class="auk-toolbar-complex__item">
          <LinkTo
            @tagName="button"
            @type="button"
            class="auk-button auk-button--borderless"
            @route="settings.overview"
          >
            <span class="auk-button__content">
              {{t "cancel"}}
            </span>
          </LinkTo>
        </div>
      </div>
      <div class="auk-toolbar-complex__right">
        <div class="auk-toolbar-complex__item">
          <LinkTo
            data-test-add-system-alert
            @tagName="button"
            @type="button"
            class="auk-button auk-button--tertiary"
            @route="settings.system-alerts.new"
          >
            <span class="auk-button__content">
              <div class="auk-icon auk-icon--default">
                <i class="ki ki-add"></i>
              </div>
              <div class="auk-button__label">
                {{t "message"}}
                {{t "add"}}
              </div>
            </span>
          </LinkTo>
          {{#if this.selectedAlert}}
            <LinkTo
              data-test-edit-system-alert
              @tagName="button"
              @type="button"
              class="auk-button auk-button--tertiary"
              @route="settings.system-alerts.edit"
              @model={{this.selectedAlert.id}}
            >
              <span class="auk-button__content">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-pencil"></i>
                </div>
                <div class="auk-button__label">
                  {{t "message"}}
                  {{t "edit"}}
                </div>
              </span>
            </LinkTo>
            <button
              data-test-remove-system-alert
              type="button"
              class="auk-button auk-button--tertiary"
              {{on "click" (perform remove this.selectedAlert)}}
            >
              <span class="auk-button__content">
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-delete"></i>
                </div>
                <div class="auk-button__label">
                  {{t "message"}}
                  {{t "delete"}}
                </div>
              </span>
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</WebComponents::VlModal>