<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{t "manage-alerts"}}
  @closeModal={{action "cancel"}}
>
  <div class="auk-modal__body">
    <div class="auk-u-p-4">
      <div data-test-route-settings-system-alerts-index-alerts-dropdown class="auk-form-group">
        {{#power-select
          options=this.model
          selected=this.selectedAlert
          onchange=(action "selectAlert")
        as |alert|
        }}
          {{alert.title}}
        {{/power-select}}
      </div>
    </div>
  </div>
  <div class="auk-modal__footer auk-modal__footer--bordered">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="borderless"
            @route="settings.overview"
          >
            {{t "cancel"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="tertiary"
            @icon="add"
            @route="settings.system-alerts.new"
            data-test-route-settings-system-alerts-index-add
          >
            {{t "add"}}
          </Auk::Button>
          {{#if this.selectedAlert}}
            <Auk::Button
              @skin="tertiary"
              @icon="pencil"
              @route="settings.system-alerts.edit"
              @model={{this.selectedAlert.id}}
              data-test-route-settings-system-alerts-index-edit
            >
              {{t "edit"}}
            </Auk::Button>
            <Auk::Button
              @skin="tertiary"
              @icon="delete"
              {{on "click" (perform remove this.selectedAlert)}}
              data-test-route-settings-system-alerts-index-remove
            >
              {{t "delete"}}
            </Auk::Button>
          {{/if}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </div>
</WebComponents::VlModal>