<WebComponents::VlModal
  @isOverlay={{true}}
  @title={{t "manage-alerts"}}
  @closeModal={{action "cancel"}}
>
  <div class="auk-modal__content">
    <div class="vlc-input-field-block">
      {{#power-select
        options=this.model
        selected=this.selectedAlert
        onchange=(action "selectAlert")
      as |alert|
      }}
        {{alert.title}}
      {{/power-select}}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--white vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <LinkTo
            @tagName="button"
            @type="button"
            class="auk-button auk-button--borderless"
            @route="settings.overview"
          >
            {{t "cancel"}}
          </LinkTo>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <LinkTo
            data-test-add-system-alert
            @tagName="button"
            @type="button"
            class="auk-button auk-button--tertiary"
            @route="settings.system-alerts.new"
          >
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-add"></i>
            </div>
            <div class="auk-button__label">
              {{t "message"}}
              {{t "add"}}
            </div>
          </LinkTo>
          {{#if this.selectedAlert}}
            <LinkTo
              data-test-edit-system-alert
              @tagName="button"
              @type="button"
              class="auk-button auk-button--tertiary"
              @route="settings.system-alerts.edit"
              @model={{this.selectedAlert.id}}
            >
              <div class="auk-icon auk-icon--default">
                <i class="ki ki-pencil"></i>
              </div>
              <div class="auk-button__label">
                {{t "message"}}
                {{t "edit"}}
              </div>
            </LinkTo>
            <button
              data-test-remove-system-alert
              type="button"
              class="auk-button auk-button--tertiary"
              {{on "click" (perform remove this.selectedAlert)}}
            >
              <div class="auk-icon auk-icon--default">
                <i class="ki ki-delete"></i>
              </div>
              <div class="auk-button__label">
                {{t "message"}}
                {{t "delete"}}
              </div>
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</WebComponents::VlModal>