{{#each model as |case|}}
  <div class="cases--decree--container">
    {{#link-to "cases.case" case.id class="cases--decree"}}
      <div class="cases--decree-content">
        <h4>1. {{case.title}}</h4>
        <div class="cases--decree-content-label">
					{{!-- SHOULD BE REPLACED BY `Hoedanigheid` --}}
          minister-president van de vlaamse regering
        </div>
        <div class="cases--decree-content-expand">
          <img src="/assets/down-arrow.svg" />
          <span>
            {{t "agenda-item.expand"}}
          </span>
        </div>
      </div>
      <div class="cases--decree-options">
        <div>
          <span>
						{{t "agenda-item.decree"}}
          </span>
        </div>
        <div class="cases--decree-options-settings">
          <img src="/assets/setting.svg" alt="Settings" />
        </div>
        <div>
          <div>
						{{t "agendaitem-details.formal-nok"}}
          </div>
          <div>
            {{t "case-item.not-agreed"}}
          </div>
        </div>
      </div>
    {{/link-to}}
  </div>
{{/each}}