{{cases/cases-filter}}
<div class="vl-u-spacer-extended-l">
  <h2 class="vl-title vl-title--h3">
    {{t "case-item.my-cases"}}
  </h2>
  {{#data-table content=model fields="title created" as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field="title" label="Dossiernaam"}}
        {{th-sortable field="number" label="Status"}}
        {{th-sortable field="created" label="Created"}}
        <th></th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>
          {{row.title}}
        </td>
        <td>
          {{row.shortTitle}}
        </td>
        <td>
          {{moment-format row.created "DD-MM-YYYY HH:mm"}}
        </td>
        <td class="vl-u-align-right">
          {{#link-to
            "cases.case"
            row.id
            tagName="button"
            class="vl-button vl-button--link vl-button--icon"
          }}
            <i class="vl-button__icon vl-vi vl-vi-arrow-right"></i>
          {{/link-to}}
        </td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>