<div class="auk-u-mb-2">
  <div class="auk-u-flex auk-u-flex--vertical-center">
    <h2 class="vlc-subline" data-test-subcase-type>
      {{#if (not subcase.showAsRemark)}}
        {{t "note"}}
      {{else}}
        {{t "text"}}
      {{/if}}
    </h2>
    {{#if currentSession.isEditor}}
      <div class="auk-u-ml-2" data-test-agendaitem-edit-link>
        <a
          data-test-subcase-titles-edit
          href=""
          class="auk-button-link"
          {{action "toggleIsEditingAction"}}
        >
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>

<div class="auk-u-mb-2">
  <h4 class="auk-h3">
    <pre class="auk-u-text-pre-line">
      {{await subcase.shortTitle}}
    </pre>
  </h4>
</div>

<div class="auk-u-mb-2">
  <pre class="auk-u-flex--inline auk-u-text-pre-line">
    {{await subcase.title}}
  </pre>
</div>

{{#if (not subcase.showAsRemark)}}
  <div class="auk-u-mb-2">
    {{#if (await subcase.subcaseName)}}
      <span class={{await pillClass}}>
        {{await subcase.subcaseName}}
      </span>
    {{/if}}
  </div>
{{/if}}
<div class="auk-u-mb-2">
  <div
    class="pill-container auk-u-flex"
    data-test-agenda-subcasehidden-pill
  >
    {{#if (await subcase.confidential)}}
      <WebComponents::AuPill @skin="danger" @layout="icon-only" @icon="lock-closed"/>
    {{else}}
      <WebComponents::AuPill @skin="success" @layout="icon-only" @icon="lock-open"/>
    {{/if}}
  </div>
</div>
