<div class="auk-u-mb-4">
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "confidential"}}</WebComponents::AuLabel>
    {{web-components/vl-toggle
      data-test-subcase-titles-edit-confidential=true
      value=subcase.confidential
    }}
  </div>
</div>
<div class="auk-u-mb-2">
  <WebComponents::AuLabel>{{t "publicity"}}</WebComponents::AuLabel>
  {{utils/model-selector
    data-test-subcase-titles-edit-accessLevel=true
    modelName="access-level"
    allowClear=true
    searchField="label"
    propertyToShow="label"
    readOnly=subcase.confidential
    sortField="label"
    selectedItems=(await subcase.accessLevel)
    selectModel=(action "setAccessLevel")
  }}
</div>

<div class="auk-u-mb-4">
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "name-subcase"}}</WebComponents::AuLabel>
    {{textarea
      data-test-subcase-titles-edit-shorttitle=true
      rows="2"
      class="auk-textarea"
      value=subcase.shortTitle
    }}
  </div>
</div>
<div class="auk-u-mb-4">
  <div class="auk-form-group">
    <WebComponents::AuLabel>{{t "title-subcase"}}</WebComponents::AuLabel>
    {{textarea
      data-test-subcase-titles-edit-title=true
      rows="4"
      class="auk-textarea"
      value=subcase.title
    }}
  </div>
</div>

<WebComponents::AuToolbar>
  <WebComponents::AuToolbar::Group @position="right">
    <WebComponents::AuToolbar::Item>
      <button type="button" class="auk-button auk-button--tertiary"
        {{action "cancelEditing"}}
      >
        <span class="auk-button__content">
          {{t "cancel"}}
        </span>
      </button>
    </WebComponents::AuToolbar::Item>
    <WebComponents::AuToolbar::Item>
      {{web-components/vl-save-button
        data-test-subcase-titles-edit-save=true
        text=(t "save")
        isLoading=isLoading
        saveAction=(action "saveChanges")
      }}
    </WebComponents::AuToolbar::Item>
  </WebComponents::AuToolbar::Group>
</WebComponents::AuToolbar>
