{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-u-mb-2">
  <div class="auk-o-flex auk-o-flex--vertical-center">
    <h2 class="auk-overline" data-test-subcase-titles-type>
      {{#if (not this.subcase.showAsRemark)}}
        {{t "note"}}
      {{else}}
        {{t "text"}}
      {{/if}}
    </h2>
    {{#if this.currentSession.isEditor}}
      <div class="auk-u-ml-2">
        <Auk::ButtonLink
          data-test-subcase-titles-edit
          {{action "toggleIsEditingAction"}}
        >
          {{t "edit"}}
        </Auk::ButtonLink>
      </div>
    {{/if}}
  </div>
</div>

<div class="auk-u-mb-2">
  <h4 class="auk-h3">
    <pre class="auk-u-text-pre-line">      {{await this.subcase.shortTitle}}    </pre>
  </h4>
</div>

<div class="auk-u-mb-2">
  <pre class="auk-o-flex--inline auk-u-text-pre-line">    {{await this.subcase.title}}  </pre>
</div>

{{#if (not this.subcase.showAsRemark)}}
  <div class="auk-u-mb-2">
    {{#if (await this.subcase.subcaseName)}}
      <Auk::Pill
        @skin={{await this.pillSkin}}
        class="auk-u-text-capitalize"
      >
        {{await this.subcase.subcaseName}}
      </Auk::Pill>
    {{/if}}
  </div>
{{/if}}
<div class="auk-u-mb-2">
  <div class="pill-container auk-o-flex">
    <Utils::ConfidentialityPill @confidential={{await this.subcase.confidential}} />
  </div>
</div>