<div class="auk-u-mb-4">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "confidential")}}
    {{web-components/vl-toggle
      data-test-subcase-titles-edit-confidential=true
      value=subcase.confidential
    }}
  </div>
</div>
<div class="auk-u-mb-2">
  {{web-components/vl-form-label value=(t "publicity")}}
  {{utils/model-selector
    data-test-subcase-titles-edit-accessLevel=true
    modelName="access-level"
    allowClear=true
    searchField="label"
    propertyToShow="label"
    readOnly=subcase.confidential
    sortField="label"
    selectedItems=(await subcase.accessLevel)
    selectModel=(action "setAccessLevel")
  }}
</div>

<div class="auk-u-mb-4">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "name-subcase")}}
    {{textarea
      data-test-subcase-titles-edit-shorttitle=true
      rows="2"
      class="vl-textarea vl-textarea--block"
      value=subcase.shortTitle
    }}
  </div>
</div>
<div class="auk-u-mb-4">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title-subcase")}}
    {{textarea
      data-test-subcase-titles-edit-title=true
      rows="4"
      class="vl-textarea vl-textarea--block"
      value=subcase.title
    }}
  </div>
</div>

<div class="vl-action-group vl-action-group--align-right">
  <a href="" class="vl-button vl-button--tertiary"
    {{action "cancelEditing"}}
  >
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    data-test-subcase-titles-edit-save=true
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges")
  }}
</div>