{{!-- TODO code duplication with agendaitem-case/agendaitem-mandatees --}}
<div class="auk-u-mb-2">
  <div class="auk-u-flex auk-u-flex--vertical-center">
    <h4 class="vl-title vl-title--h4">
      {{t "manage-ministers-title"}}
    </h4>
    {{#if (and currentSession.isEditor (not isEditing))}}
      <div class="auk-u-ml-2">
        <a href="" data-test-subcase-mandatees-edit class="vl-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>
{{#if (not isEditing)}}
  {{#if (is-pending mandateeRows)}}
    {{web-components/vl-loader text=(t "mandatees-loading-text")}}
  {{else if (gt (await mandateeRows.length) 0)}}
    <ul class="vlc-minister-list">
      {{#each mandateeRows as |mandateeRow|}}
        {{web-components/vl-mandatee-link
          data-test-mandatee-link-list-item
          mandatee=mandateeRow.mandatee
          fields=mandateeRow.fields
          submitter=mandateeRow.isSubmitter
        }}
      {{/each}}
    </ul>
  {{else}}
    {{web-components/vl-alert message=(t "no-domains-yet")}}
  {{/if}}
{{else}}
  <div class="vlc-box">
    {{cases/subcase-mandatees
      showSelected=true
      mandateeRows=mandateeRows
      isEditing=isEditing
      isAdding=isAdding
    }}
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <a
          href=""
          data-test-subcase-mandatees-add-mandatee
          class="vl-button vl-button--tertiary vl-button--icon-before"
          {{action "addRow"}}
        >
          <i
            class="vl-button__icon vl-button__icon--before ki-add"
            aria-hidden="true"
          ></i>
          {{t "add-minister"}}
        </a>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vl-action-group vl-action-group--align-right">
          <a
            data-test-subcase-mandatees-edit-cancel
            href=""
            class="vl-button vl-button--tertiary"
            {{action "cancelEditing"}}
          >
            {{t "cancel"}}
          </a>
          {{web-components/vl-save-button
            text=(t "save")
            isLoading=isLoading
            test-data-vl-save-button=true
            saveAction=(action "saveChanges")
          }}
        </div>
      </div>
    </div>
  </div>
{{/if}}
