<div id="case" class="auk-u-mb-4">
  {{#if this.isEditing}}
    <Subcase::SubcaseTitlesPanel::SubcaseTitlesPanelEdit
      @subcase={{@subcase}}
      @onCancel={{this.cancelEditing}}
      @onSave={{this.stopEditing}}
    />
  {{else}}
    <Subcase::SubcaseTitlesPanel::SubcaseTitlesPanelView
      @subcase={{@subcase}}
      @meeting={{@meeting}}
      @allowEditing={{@allowEditing}}
      @onClickEdit={{this.startEditing}}
    />
  {{/if}}
</div>