{{#if authentication.isEditor}}
  <div class="confidentialities">
    <div class="confidential">
      {{web-components/vl-checkbox
        data-test-vl-subcase-titles-edit-confidentiality=true
        value=subcase.confidential
        disabled=true
        label=(t "confidential")
        toggle=(action "toggleConfidential")
      }}
    </div>
  </div>
{{/if}}
{{#if (not isEditing)}}
  {{subcase/subcase-case/subcase-titles
    subcase=subcase
    toggleIsEditing=(action "toggleIsEditing")
  }}
{{else}}
  {{subcase/subcase-case/subcase-titles-edit
    subcase=subcase
    isEditing=isEditing
  }}
{{/if}}
{{#if subcase.showAsRemark}}
  {{subcase/subcase-case/subcase-mandatees subcase=subcase}}
  {{agenda/agendaitem/agendaitem-case/all-subcases subcases=(await subcases)}}
{{else}}
  {{subcase/subcase-case/subcase-mandatees subcase=subcase}}
  <DomainFieldIse::IseCodesPanel @item={{subcase}}/>
  {{agenda/agendaitem/agendaitem-case/all-subcases subcases=(await subcases)}}
{{/if}}