<div {{did-update (perform this.loadAgendaData)}} id="agenda" class="auk-u-mb-8">
  <Auk::Panel data-test-subcase-versions-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "agenda-activities"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-bg-alt">
      <div class="auk-u-mb-2">
        {{#if this.loadAgendaData.isRunning}}
          <Auk::Loader @message={{t "loading" }} />
        {{else if (not this.hasAgendaitems)}}
          <Auk::EmptyState @message={{t "not-yet-on-agenda"}} />
        {{/if}}
      </div>
      {{#if this.hasAgendaitems}}
        <Subcase::Timeline @subcase={{@subcase}}/>
      {{/if}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>