{{page-title (t "settings")}}
<div class="vlc-u-box-model-maximize-height auk-scroll-wrapper">
  <div class="auk-navbar auk-navbar--bordered-bottom">
    <div class="auk-toolbar-complex">
      <div class="auk-toolbar-complex__left">
        <div class="auk-toolbar-complex__item">
          <Auk::Tabs>
            <Auk::Tab
              @route="settings.overview"
              data-test-route-settings-general-settings
            >
              {{t "general-settings"}}
            </Auk::Tab>
            <Auk::Tab
              @route="settings.ministers"
              data-test-route-settings-manage-ministers
            >
              {{t "manage-ministers"}}
            </Auk::Tab>
            <Auk::Tab
              @route="settings.users"
              data-test-route-settings-manage-users
            >
              {{t "manage-users"}}
            </Auk::Tab>
          </Auk::Tabs>
        </div>
      </div>
    </div>
  </div>
  <div class="auk-scroll-wrapper__body">
    <div>
      {{outlet}}
    </div>
  </div>
</div>
