{{page-title (t "settings")}}
<div class="vlc-u-box-model-maximize-height auk-scroll-wrapper">
  <div class="auk-navbar auk-navbar--bordered-bottom">
    <div class="auk-toolbar-complex">
      <div class="auk-toolbar-complex__left">
        <div class="auk-toolbar-complex__item">
          <ul class="auk-tabs">
            <li class="auk-tabs__tab" data-test-route-settings-general-settings>
              {{#link-to
                "settings.overview"
              }}
                <span class="auk-tabs__tab-inner">{{t "general-settings"}}</span>
              {{/link-to}}
            </li>
            <li class="auk-tabs__tab" data-test-route-settings-manage-ministers>
              {{#link-to
                "settings.ministers"
              }}
                <span class="auk-tabs__tab-inner">{{t "manage-ministers"}}</span>
              {{/link-to}}
            </li>
            <li class="auk-tabs__tab" data-test-route-settings-manage-users>
              {{#link-to
                "settings.users"
              }}
                <span class="auk-tabs__tab-inner">{{t "manage-users"}}</span>
              {{/link-to}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="auk-scroll-wrapper__body">
    <div>
      {{outlet}}
    </div>
  </div>
</div>
