{{page-title (t "settings")}}
<div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
  <div class="vl-u-bg-alt">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              <ul class="vlc-tabs-reverse" role="tablist">
                <li class="vlc-tabs-reverse__item" data-test-settings-generalSettings>
                  {{#link-to
                    "settings.overview"
                    class="vl-tab__link border-left"
                    activeClass="vl-tab__link--active"
                    current-when="settings settings.overview"
                  }}
                    {{t "general-settings"}}
                  {{/link-to}}
                </li>
                <li class="vlc-tabs-reverse__item vlc-tabs-reverse__item--border-left"
                    data-test-settings-manageMinisters>
                  {{#link-to
                    "settings.ministers"
                    class="vl-tab__link"
                    activeClass="vl-tab__link--active"
                  }}
                    {{t "manage-ministers"}}
                  {{/link-to}}
                </li>
                <li class="vlc-tabs-reverse__item vlc-tabs-reverse__item--border-left" data-test-settings-manageUsers>
                  {{#link-to
                    "settings.users"
                    class="vl-tab__link"
                    activeClass="vl-tab__link--active"
                  }}
                    {{t "manage-users"}}
                  {{/link-to}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vlc-scroll-wrapper__body">
    <div>
      {{outlet}}
    </div>
  </div>
</div>
