<div class="auk-u-bg-alt auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <div class="auk-o-flex auk-o-flex--justify-between">
      <h2 class="auk-h2">
        {{t "compare-title"}}
      </h2>
      <div class="auk-o-flex">
        <div class="auk-u-ml-2">
          <Auk::ButtonLink
            data-test-compare-show-changes
            {{action "toggleChangesOnly"}}
          >
            {{#if (not this.isShowingChanges)}}
              {{t "show-changes"}}
            {{else}}
              {{t "show-all"}}
            {{/if}}
          </Auk::ButtonLink>
        </div>
      </div>
    </div>

    <Agenda::CompareAgendaList
      @currentAgenda={{await this.model.currentAgenda}}
      @agendaToCompare={{await this.model.agendaToCompare}}
      @isShowingChanges={{this.isShowingChanges}}
    />
  </div>
</div>