<div class="vl-u-bg-porcelain vl-u-bg-width vlc-scroll-wrapper__body">
  <div class="vlc-scroll-wrapper__body">
    <div class="vl-u-spacer-extended-l">
      <div class="vl-u-display-flex vlc-u-flex-space-between">
        <h2 class="vl-title vl-title--h3">
          {{t "compare-title"}}
        </h2>
        <div class="vl-u-display-flex vl-u-flex-end">
          <div class="vl-u-spacer-extended-left-s">
            <a data-test-compare-show-changes href="" class="vl-link" {{action "toggleChangesOnly"}}>
              {{#if (not isShowingChanges)}}
                {{t "show-changes"}}
              {{else}}
                {{t "show-all"}}
              {{/if}}
            </a>
          </div>
        </div>
      </div>

      {{agenda/compare-agenda-list
        currentAgenda=(await model.currentAgenda)
        agendaToCompare=(await model.agendaToCompare)
        isShowingChanges=isShowingChanges
      }}
    </div>
  </div>
</div>