{{page-title (t "agendaitems")}}
{{#in-element this.customFiltersElement insertBefore=null}}
  <div class="au-c-card au-o-box au-o-box--small">
    <AuFieldset as |Fieldset|>
      <Fieldset.legend>{{t "type"}}</Fieldset.legend>
      <Fieldset.content>
        <Auk::CheckboxList>
          <AuControlCheckbox
            @label={{t "note"}}
            @checked={{this.includeNotas}}
            @onChange={{set this "includeNotas"}}
          />
          <AuControlCheckbox
            @label={{capitalize (t "announcement")}}
            @checked={{this.includeMededelingen}}
            @onChange={{set this "includeMededelingen"}}
          />
        </Auk::CheckboxList>
      </Fieldset.content>
    </AuFieldset>
  </div>
  <div class="au-c-card au-o-box au-o-box--small">
    <AuFieldset as |Fieldset|>
      <Fieldset.legend>{{t "version"}}</Fieldset.legend>
      <Fieldset.content>
        <Auk::CheckboxList>
          <AuControlCheckbox
            @label={{t "only-on-final-agenda"}}
            @checked={{this.latestOnly}}
            @onChange={{set this "latestOnly"}}
          />
        </Auk::CheckboxList>
      </Fieldset.content>
    </AuFieldset>
  </div>
{{/in-element}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <Search::ResultsHeader
      @pageSize={{this.size}}
      @pageIdx={{this.page}}
      @nbOfItems={{this.model.length}}
      @searchText={{this.searchText}}
      @searchType={{t "agendas"}}
      @onSortChange={{this.selectSort}}
      @sortOptions={{this.sortOptions}}
      @sort={{this.sort}}
    />
    <KDataTable
      data-test-route-search-agendaitems-data-table
      @cards={{true}}
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @page={{this.page}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{fn (mut this.size)}}
      @onChangePage={{fn (mut this.page)}}
      @onClickRow={{this.navigateToAgendaitem}}
    >
      <:body as |row|>
        <td>
          <Search::ResultCards::Agendaitem
            @date={{row.sessionDates}}
            @agendaItemType={{row.type}}
            @agendaSerialNumber={{row.agendaSerialNumber}}
            @meetingId={{row.meetingId}}
            @agendaId={{row.agendaId}}
            @agendaItemId={{row.id}}
            @shortTitle={{row.shortTitle}}
            @title={{row.title}}
            @pastAgendaVersions={{row.pastAgendaVersions}}
          />
        </td>
      </:body>
    </KDataTable>
  {{else}}
    {{#if this.emptySearch}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "fill-in-search-term"}}
      />
    {{else}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found-modify-term"}}
      />
    {{/if}}
  {{/if}}
</div>