{{page-title (t "all-content")}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <Search::ResultsHeader
      @pageSize={{this.model.length}}
      @pageIdx={{0}}
      @nbOfItems={{this.model.length}}
      @searchText={{this.searchText}}
      @onSortChange={{this.selectSort}}
      @sortOptions={{this.sortOptions}}
      @sort={{this.sort}}
    />
    <KDataTable
      @cards={{true}}
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{fn (mut this.size)}}
      @enablePagination={{false}}
      @onClickRow={{this.navigateToResult}}
    >
      <:body as |row|>
        <td>
          {{#if (eq row.name "cases")}}
            <Search::ResultCards::Case
              @created={{row.data.attributes.created}}
              @shortTitle={{row.data.highlight.shortTitle}}
              @title={{row.data.highlight.title}}
              @caseId={{row.data.id}}
              @isArchived={{row.data.attributes.isArchived}}
              @subcaseHighlights={{row.data.subcaseHighlights}}
            />
          {{/if}}
          {{#if (eq row.name "agendaitems")}}
            <Search::ResultCards::Agendaitem
              @date={{row.data.sessionDates}}
              @agendaItemType={{row.data.type}}
              @agendaSerialNumber={{row.data.agendaSerialNumber}}
              @meetingId={{row.data.meetingId}}
              @agendaId={{row.data.agendaId}}
              @agendaItemId={{row.data.id}}
              @shortTitle={{row.data.shortTitle}}
              @title={{row.data.title}}
              @pastAgendaVersions={{row.data.pastAgendaVersions}}
            />
          {{/if}}
          {{#if (eq row.name "pieces")}}
            <Search::ResultCards::Document
              @created={{row.data.attributes.created}}
              @documentId={{row.data.id}}
              @title={{row.data.attributes.title}}
              @fileName={{if
                row.data.highlight.fileName
                row.data.highlight.fileName
                row.data.attributes.fileName
              }}
              @agendaitemShortTitle={{row.data.attributes.latestAgendaitem.shortTitle}}
              @meetingId={{row.data.attributes.latestAgendaitem.meetingId}}
              @agendaId={{row.data.attributes.latestAgendaitem.agendaId}}
              @agendaitemId={{row.data.attributes.latestAgendaitem.id}}
              @contentHighlight={{this.getStringProp
                row.data.highlight
                "data.content"
              }}
            />
          {{/if}}
          {{#if (eq row.name "decisions")}}
            <Search::ResultCards::Decision
              @date={{row.data.decisionStartDate}}
              @title={{row.data.subcaseTitle}}
              @shortTitle={{row.data.subcaseShortTitle}}
              @decisionResultCode={{row.data.decisionResult}}
              @meetingId={{row.data.meetingId}}
              @agendaId={{row.data.agendaId}}
              @agendaItemId={{row.data.id}}
            />
          {{/if}}
          {{#if (eq row.name "news-items")}}
            <Search::ResultCards::NewsItem
              @date={{row.data.modified}}
              @title={{or row.data.subTitle row.data.title}}
              @text={{row.data.htmlContent}}
              @mandatees={{row.data.mandatees}}
              @meetingId={{row.data.latestAgendaitem.meetingId}}
              @agendaId={{row.data.latestAgendaitem.agendaId}}
              @agendaItemId={{row.data.latestAgendaitem.id}}
            />
          {{/if}}
        </td>
      </:body>
    </KDataTable>
  {{else}}
    {{#if this.emptySearch}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "fill-in-search-term"}}
      />
    {{else}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found-modify-term"}}
      />
    {{/if}}
  {{/if}}
</div>