{{ page-title
  (t "cases")
}}
<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div>
          <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">Inhoud</AuHeading>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search.cases"
              >
                Dossier
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink
                @route="search.agenda-items"
              >
                Agenda
              </AuNavigationLink>
            </li>
          </ul>
        </div>
        <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny">
          <div class="au-c-card au-o-box au-o-box--small">
            <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
              <Auk::Label>{{t "from"}}</Auk::Label>
              <Auk::Datepicker
                @date={{this.dateFromBuffer}}
                @onChange={{set this "dateFromBuffer"}}
                @enableClear={{this.dateFromBuffer}}
                @onClear={{set this "dateFromBuffer" undefined}}
              />
            </div>
            <div class="auk-form-group auk-u-position-relative">
              <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
              <Auk::Datepicker
                @date={{this.dateToBuffer}}
                @onChange={{set this "dateToBuffer"}}
                @enableClear={{this.dateToBuffer}}
                @onClear={{set this "dateToBuffer" undefined}}
              />
            </div>
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Utils::MinisterSelect />
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>{{t "type"}}</Auk::Label>
            <Auk::Checkbox
              @checked={{this.decisionsOnly}}
              @label="Beslissingen"
              data-test-route-search-cases-toggle-decisions={{true}}
              {{on "input" this.toggleDecisionsOnly}}
            />
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>Toon</Auk::Label>
            <Auk::Checkbox
              @checked={{this.includeArchived}}
              @label="Niet-geagendeerde stappen"
              {{on "input" this.toggleIncludeArchived}}
            />
          </div>
        </div>
      </div>
    </div>
  </m.sidebar>
  <m.content
    @scroll={{true}}
  >
    <div class="au-o-box au-o-box--small">
      {{#if this.model.length}}
        <div class="au-u-flex au-u-flex--no-wrap au-u-flex--spaced au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small">
          <p class="au-u-muted">
            <strong class="au-u-medium">1-{{this.size}}</strong> resultaten voor <strong class="au-u-medium">"{{this.searchTextBuffer}}"</strong> in <strong>dossiers</strong>
          </p>
          <div>
            <AuLabel for="sort-type" class="au-u-hidden-visually">
              {{t "sort-by"}}
            </AuLabel>
            <select
              name="sort-type"
              id="sort-type"
              class="auk-select auk-select--block"
              {{on "input" this.selectSort}}
            >
              {{#each this.sortOptions as |sortType|}}
                <option
                  value={{sortType.value}}
                  selected={{eq sortType.value this.sort}}>
                  {{sortType.label}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <DataTable
          data-test-route-search-cases-data-table={{true}}
          @content={{await this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-card-table"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToCase}}
        as |table|
        >
          <table.content as |c|>
            {{!-- <c.header>
              <th class="auk-table__col--8">
                {{t "case-name"}}
              </th>
              <ThSortable
                @class="auk-table__col--2"
                @currentSorting={{this.sort}}
                @field="created"
                @label={{t "created-on"}}
              />
              <ThSortable
                @class="auk-table__col--1"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "on-agenda-of"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header> --}}
            <c.body class="auk-table--clickable-rows" as |row|>
              <td>
                <AuCard
                  @shadow={{true}}
                  @size="small"
                  as |card|
                >
                  <card.header>
                    <div class="au-u-flex">
                      <p class="au-u-para-small au-u-muted au-u-medium">{{t "on-agenda-of"}} {{moment-format row.sessionDates}}</p>
                      {{#if this.includeArchived }}
                      <AuPill @size="small" @skin="border">Verwijderd dossier</AuPill>
                      {{/if}}
                    </div>
                    <AuHeading @level="3" @skin="4">
                      <AuLink
                        class="au-u-padding-none"
                        @route="cases.case.subcases"
                        @model={{row.id}}>
                        {{#if row.shortTitle}}
                          {{row.shortTitle}}
                        {{else}}
                          {{row.title}}
                        {{/if}}
                      </AuLink>
                    </AuHeading>
                  </card.header>
                  <card.content>
                    <p class="au-u-para-small au-u-muted">
                      {{t "created-on"}} {{moment-format row.created "DD-MM-YYYY HH:mm"}}
                    </p>
                  </card.content>
                </AuCard>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "fill-in-search-term"}}
          />
        {{else}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "no-results-found-modify-term"}}
          />
        {{/if}}
      {{/if}}
    </div>
  </m.content>
</AuMainContainer>
