{{ page-title
  (t "cases")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-2">
    <div class="auk-box">
      <div class="auk-u-mb-2">
        <Auk::Label for="sort-type">
          {{t "sort-by"}}
        </Auk::Label>
        <select
          name="sort-type"
          id="sort-type"
          class="auk-select auk-select--block"
          {{on "input" this.selectSort}}
        >
          {{#each this.sortOptions as |sortType|}}
            <option
              value={{sortType.value}}
              selected={{eq sortType.value this.sort}}>
              {{sortType.label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="auk-u-mb-2">
        <Auk::Label>{{t "type"}}</Auk::Label>
        <AuControlCheckbox
          data-test-route-search-cases-toggle-decisions={{true}}
          @label={{t "search-in-decisions-only"}}
          @checked={{this.decisionsOnly}}
          @onChange={{this.toggleDecisionsOnly}}
        />
      </div>
      <div>
        <Auk::Label>{{t "archive"}}</Auk::Label>
        <AuControlCheckbox
          @label={{t "search-include-archived"}}
          @checked={{this.includeArchived}}
          @onChange={{this.toggleIncludeArchived}}
        />
      </div>
    </div>
  </div>
  <div class="auk-o-grid-col-10">
    <div>
      {{#if this.model.length}}
        <KDataTable
          data-test-route-search-cases-data-table
          @hoverable={{true}}
          @striped={{true}}
          @loading={{this.isLoadingModel}}
          @content={{this.model}}
          @page={{this.page}}
          @size={{this.size}}
          @numberOfItems={{this.model.length}}
          @totalNumberOfItems={{this.model.meta.count}}
          @onChangeSize={{this.selectSize}}
          @onChangePage={{fn (mut this.page)}}
          @onClickRow={{this.navigateToCase}}
        >
          <:header>
            <th class="auk-table__col--8">
              {{t "case-name"}}
            </th>
            <Utils::ThSortable
              class="auk-table__col--2"
              @currentSorting={{this.sort}}
              @field="created"
              @label={{t "created-on"}}
              @onChange={{fn (mut this.sort)}}
            />
            <Utils::ThSortable
              class="auk-table__col--1"
              @currentSorting={{this.sort}}
              @field="sessionDates"
              @label={{t "on-agenda-of"}}
              @onChange={{fn (mut this.sort)}}
            />
            <th class="auk-table__col--1"></th>
          </:header>
          <:body as |row|>
            <td>
              <p>
                {{#if row.shortTitle}}
                  {{row.shortTitle}}
                {{else}}
                  {{row.title}}
                {{/if}}
              </p>
            </td>
            <td>
              {{datetime row.created "DD-MM-YYYY HH:mm"}}
            </td>
            <td>
              {{date row.sessionDates}}
            </td>
            <td class="auk-u-text-align--right">
              <AuLink
                @skin="button-naked"
                @icon="chevron-right"
                @hideText={{true}}
                @route="cases.case.subcases"
                @model={{row.id}}
              >
                {{t "open"}}
              </AuLink>
            </td>
          </:body>
        </KDataTable>
      {{else}}
        {{#if this.emptySearch}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "fill-in-search-term"}}
          />
        {{else}}
          <Auk::EmptyState
            @bordered={{true}}
            @message={{t "no-results-found-modify-term"}}
          />
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>