{{page-title (t "cases")}}
{{#in-element this.customFiltersElement insertBefore=null}}
  <div class="au-c-card au-o-box au-o-box--small">
    <AuFieldset as |Fieldset|>
      <Fieldset.legend>{{t "type"}}</Fieldset.legend>
      <Fieldset.content>
        <Auk::CheckboxList>
          <AuControlCheckbox
            data-test-route-search-cases-toggle-decisions={{true}}
            @label={{t "search-in-decisions-only"}}
            @checked={{this.decisionsOnly}}
            @onChange={{set this "decisionsOnly"}}
          />
        </Auk::CheckboxList>
      </Fieldset.content>
    </AuFieldset>
  </div>
  {{#if (user-may "manage-cases")}}
    <div class="au-c-card au-o-box au-o-box--small">
      <Auk::Label>{{t "removed-cases"}}</Auk::Label>
      <Auk::RadioList as |list|>
        {{#each this.archivedOptions as |option|}}
          <list.Radio
            @label={{option.label}}
            @value={{option.value}}
            @onChange={{this.setArchived}}
            checked={{eq this.archived.value option.value}}
          />
        {{/each}}
      </Auk::RadioList>
    </div>
  {{/if}}
  {{#if (user-may "search-confidential-cases")}}
    <div class="au-c-card au-o-box au-o-box--small">
      <AuFieldset as |Fieldset|>
        <Fieldset.legend>{{t "confidential"}}</Fieldset.legend>
        <Fieldset.content>
          <Auk::CheckboxList>
            <AuControlCheckbox
              @label={{t "search-confidential-only"}}
              @checked={{this.confidentialOnly}}
              @onChange={{set this "confidentialOnly"}}
            />
          </Auk::CheckboxList>
        </Fieldset.content>
      </AuFieldset>
    </div>
  {{/if}}
{{/in-element}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <Search::ResultsHeader
      @pageSize={{this.size}}
      @pageIdx={{this.page}}
      @nbOfItems={{this.model.length}}
      @searchText={{this.searchText}}
      @searchType={{t "cases"}}
      @onSortChange={{this.selectSort}}
      @sortOptions={{this.sortOptions}}
      @sort={{this.sort}}
    />
    <KDataTable
      data-test-route-search-cases-data-table
      @hoverable={{true}}
      @striped={{true}}
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @page={{this.page}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{this.selectSize}}
      @onChangePage={{fn (mut this.page)}}
      @onClickRow={{this.navigateToCase}}
    >
      <:body as |row|>
        <td>
          <Search::ResultCards::Case
            @created={{row.attributes.created}}
            @shortTitle={{row.highlight.shortTitle}}
            @title={{row.highlight.title}}
            @caseId={{row.id}}
            @isArchived={{row.attributes.isArchived}}
            @subcaseHighlights={{row.subcaseHighlights}}
          />
        </td>
      </:body>
    </KDataTable>
  {{else}}
    {{#if this.emptySearch}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "fill-in-search-term"}}
      />
    {{else}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found-modify-term"}}
      />
    {{/if}}
  {{/if}}
</div>