{{page-title (t "cases")}}
{{#in-element this.customFiltersElement insertBefore=null}}
  <div class="au-c-card au-o-box au-o-box--small">
    <Auk::Label>{{t "type"}}</Auk::Label>
    <AuControlCheckbox
      data-test-route-search-cases-toggle-decisions={{true}}
      @label={{t "search-in-decisions-only"}}
      @checked={{this.decisionsOnly}}
      @onChange={{this.toggleDecisionsOnly}}
    />
  </div>
  <div class="au-c-card au-o-box au-o-box--small">
    <Auk::Label>{{t "archive"}}</Auk::Label>
    <AuControlCheckbox
      @label={{t "search-include-archived"}}
      @checked={{this.includeArchived}}
      @onChange={{this.toggleIncludeArchived}}
    />
  </div>
{{/in-element}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <Search::ResultsHeader
      @pageSize={{this.size}}
      @pageIdx={{this.page}}
      @nbOfItems={{this.model.length}}
      @searchText={{this.searchText}}
      @searchType={{t "cases"}}
      @onSortChange={{this.selectSort}}
      @sortOptions={{this.sortOptions}}
      @sort={{this.sort}}
    />
    <KDataTable
      data-test-route-search-cases-data-table
      @hoverable={{true}}
      @striped={{true}}
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @page={{this.page}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{this.selectSize}}
      @onChangePage={{fn (mut this.page)}}
      @onClickRow={{this.navigateToCase}}
    >
      <:body as |row|>
        <td>
          <Search::ResultCards::Case
            @sessionDate={{row.sessionDates}}
            @shortTitle={{row.shortTitle}}
            @title={{row.title}}
            @caseId={{row.id}}
            @isArchived={{row.isArchived}}
          />
        </td>
      </:body>
    </KDataTable>
  {{else}}
    {{#if this.emptySearch}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "fill-in-search-term"}}
      />
    {{else}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found-modify-term"}}
      />
    {{/if}}
  {{/if}}
</div>