{{page-title (t "decisions")}}
{{#in-element this.customFiltersElement insertBefore=null}}
  <div class="au-c-card au-o-box au-o-box--small" data-test-route-search-decision-filter-container>
    <Search::DecisionResultFilter
      @selected={{this.decisionResults}}
      @onChange={{this.setDecisionResults}}
    />
  </div>
{{/in-element}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <Search::ResultsHeader
      @pageSize={{this.size}}
      @pageIdx={{this.page}}
      @nbOfItems={{this.model.length}}
      @totalNbOfItems={{this.model.meta.count}}
      @searchText={{this.searchText}}
      @searchType={{t "decisions"}}
      @onSortChange={{this.selectSort}}
      @sortOptions={{this.sortOptions}}
      @sort={{this.sort}}
    />
    <KDataTable
      @list={{true}}
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @page={{this.page}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{this.selectSize}}
      @onChangePage={{fn (mut this.page)}}
      @onClickRow={{this.resultClicked}}
    >
      <:body as |row|>
        <td data-test-route-search-decisions-data-table-row>
          <Search::ResultCards::Decision
            @date={{row.decisionStartDate}}
            @title={{row.subcaseTitle}}
            @shortTitle={{row.subcaseShortTitle}}
            @decisionResultCode={{row.decisionResult}}
            @meetingId={{row.meetingId}}
            @agendaId={{row.agendaId}}
            @agendaItemId={{row.id}}
          />
        </td>
      </:body>
    </KDataTable>
  {{else}}
    <Auk::EmptyState
      @bordered={{true}}
      @message={{t "no-results-found-modify-term"}}
    />
  {{/if}}
</div>
