{{page-title (t "decisions")}}
{{#in-element this.customFiltersElement insertBefore=null}}
{{/in-element}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <Search::ResultsHeader
      @pageSize={{this.size}}
      @pageIdx={{this.page}}
      @nbOfItems={{this.model.length}}
      @totalNbOfItems={{this.model.meta.count}}
      @searchText={{this.searchText}}
      @searchType={{t "decisions"}}
      @onSortChange={{this.selectSort}}
      @sortOptions={{this.sortOptions}}
      @sort={{this.sort}}
    />
    <KDataTable
      @cards={{true}}
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @page={{this.page}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{this.selectSize}}
      @onChangePage={{fn (mut this.page)}}
      @onClickRow={{this.navigateToDecision}}
    >
      <:body as |row|>
        <td>
          <Search::ResultCards::Decision
            @date={{row.decisionStartDate}}
            @title={{row.subcaseTitle}}
            @shortTitle={{row.subcaseShortTitle}}
            @decisionResultCode={{row.decisionResult}}
            @meetingId={{row.meetingId}}
            @agendaId={{row.agendaId}}
            @agendaItemId={{row.id}}
          />
        </td>
      </:body>
    </KDataTable>
  {{else}}
    {{#if this.emptySearch}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "fill-in-search-term"}}
      />
    {{else}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found-modify-term"}}
      />
    {{/if}}
  {{/if}}
</div>