{{page-title (t "newsletter")}}
<div class="au-o-box au-o-box--small">
  {{#if this.model.length}}
    <DataTable
      data-test-route-search-news-items-data-table={{true}}
      @content={{this.model}}
      @page={{this.page}}
      @noDataMessage={{t "no-results-found"}}
      @size={{this.size}}
      @sort={{this.sort}}
      @class="auk-table auk-table--striped auk-table--vertical-align-top"
      @isLoading={{this.isLoadingModel}}
      @onClickRow={{this.navigateToNewsletter}}
      as |table|
    >
      <table.content as |c|>
        <c.header>
          <th class="auk-table__col--6">
            {{t "title-and-content"}}
          </th>
          <ThSortable
            @class="auk-table__col--2"
            @currentSorting={{this.sort}}
            @field="agendaitems.meetingDate"
            @label={{t "agenda-of"}}
          />
          <th class="auk-table__col--2">
            {{t "minister"}}
          </th>
          {{! sorting on this field won't work as-is, since you can have multiple decisions}}
          <th class="auk-table__col--1">
            {{t "agendaitem-decision"}}
          </th>
          <th class="auk-table__col--1"></th>
        </c.header>
        <c.body class="auk-table--clickable-rows" as |row|>
          {{! each row has been processed to have 1 decision (object) as well as 1 latestAgendaitem (object)}}
          {{! see postProcess methods in route}}
          {{#let row.latestAgendaitem as |latestAgendaitem|}}
            <td data-test-route-search-news-items-row-title>
              <h3 class="auk-h4 auk-u-mb">
                {{row.title}}
              </h3>
              <p class="auk-u-mr-2">
                <AuContent>
                  <SanitizeHtml @raw={{true}} @value={{row.htmlContent}} @options={{this.sanitizeHtmlOptions}} />
                </AuContent>
              </p>
            </td>
            <td>
              {{date latestAgendaitem.meetingDate}}
            </td>
            <td data-test-route-search-news-items-row-mandatees>
              {{#each row.mandatees as |mandatee|}}
                {{#let (concat mandatee.firstName " " mandatee.familyName) as |fullName|}}
                  {{fullName}}{{if (has-next mandatee row.mandatees) ", "}}
                {{/let}}
              {{/each}}
            </td>
            <td data-test-route-search-news-items-row-decision-result>
              {{row.decision.decisionResultCodeLabel}}
            </td>
            <td
              data-test-route-search-news-items-row-go-to-agendaitem
              class="auk-u-text-align--right"
            >
              <AuButtonGroup class="auk-o-flex--no-wrap">
                <AuButton
                  @skin="naked"
                  @icon="copy"
                  @hideText={{true}}
                  {{on "click" (fn this.copyText row)}}
                >
                  {{t "copy"}}
                </AuButton>
                {{#if latestAgendaitem}}
                  <AuLink
                    @skin="button-naked"
                    @icon="chevron-right"
                    @hideText={{true}}
                    @route="agenda.agendaitems.agendaitem.news-item"
                    @models={{array
                      latestAgendaitem.meetingId
                      latestAgendaitem.agendaId
                      latestAgendaitem.id
                    }}
                  >
                    {{t "open"}}
                  </AuLink>
                {{/if}}
              </AuButtonGroup>
            </td>
          {{/let}}
        </c.body>
      </table.content>
    </DataTable>
  {{else}}
    {{#if this.isEmptySearch}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "fill-in-search-term"}}
      />
    {{else}}
      <Auk::EmptyState
        @bordered={{true}}
        @message={{t "no-results-found-modify-term"}}
      />
    {{/if}}
  {{/if}}
</div>