<tr {{did-update this.initSelectedOptions @piece.publicationFlow}}>
  <td>
    {{@piece.name}}
  </td>
  <td>
    {{@piece.documentContainer.type.label}}
  </td>
  <td>
    <PowerSelect
      @searchEnabled={{false}}
      @selected={{this.selectedLinkModeOption}}
      @options={{this.linkModeOptions}}
      @onchange={{this.selectLinkModeOption}}
      as |option|>
      {{option.label}}
    </PowerSelect>
  </td>
  <td>
    {{#if this.selectedLinkModeOption.isEnabledLink}}
      <Publications::PublicationFlowSelector
        @selected={{this.selectedPublicationFlow}}
        @case={{@case}}
        @onChange={{this.selectPublicationFlow}}
        />
    {{else}}
      <Auk::Button
        @icon="add"
        {{on 'click' (fn @onOpenNewPublicationModal @piece)}}>
        {{t "publications-new"}}
      </Auk::Button>
    {{/if}}
  </td>
  <td>
    <WebComponents::AuButtonToolbar>
      <Auk::Button
        @layout="icon-only"
        @icon="download"
        @skin="borderless"
        @href={{@piece.file.namedDownloadLink}}
        download
      />
      <Auk::Button
        @layout="icon-only"
        @icon="book"
        @skin="borderless"
        @href={{@piece.viewDocumentURL}}
        target="_blank"
      />
    </WebComponents::AuButtonToolbar>
  </td>
</tr>
