<WebComponents::AuModal @resized={{true}}>
  <WebComponents::AuModal::Header @title={{ t "documents" }} @closeModal={{this.onCancel}} />
  <WebComponents::AuModal::Body>
    <WebComponents::AuLoadableContent @isLoading={{this.isLoading}}>
      {{!-- template-lint-disable table-groups --}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th>{{t "name"}}</th>
            <th>{{t "document-type"}}</th>
            <th>
              {{t "publications-number"}}
              <WebComponents::AuIcon @iconSkinColor="muted" @name="info-circle">
                <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                  <p>
                    {{t "batch-document-publication-modal-publication-number-info"}}
                  </p>
                </EmberTooltip>
              </WebComponents::AuIcon>
            </th>
            <th />
          </tr>
        </thead>

        <Documents::DocumentList
          @pieces={{this.pieces}}
          {{!-- should be tbody tag; workaround for Documents::DocumentList rendering a div --}}
          style="display: table-row-group;"
          as |pieces|>
          {{#each pieces as |piece|}}
            <tr>
              <td>
                {{piece.name}}
              </td>
              <td>
                {{piece.file.extension}}
              </td>
              <td>
                {{#if piece.publicationFlow}}
                  {{piece.publicationFlow.identification.idName}}
                {{else}}
                  <WebComponents::AuButton @icon="add" {{on 'click' (fn openNewPublicationModal piece)}}>
                    {{t "publications-new"}}
                  </WebComponents::AuButton>
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <WebComponents::AuButton
                    @layout="icon-only"
                    @icon="download"
                    @skin="borderless"
                    @href="{{await piece.downloadFileLink}}"
                    download
                    >
                  </WebComponents::AuButton>
                  <WebComponents::AuButton
                    @layout="icon-only"
                    @icon="book"
                    @skin="borderless"
                    @href="{{piece.viewDocumentURL}}">
                  </WebComponents::AuButton>
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </Documents::DocumentList>
      </table>
    </WebComponents::AuLoadableContent>
  </WebComponents::AuModal::Body>
</WebComponents::AuModal>

{{#if this.isOpenNewPublicationModal}}
  <Publications::NewPublicationModal
    @isViaMinisterraad={{true}}
    @initialTitlesPromise={{this.newPublicationInitialTitlesPromise}}
    @onSave={{perform this.saveNewPublication}}
    @onCancel={{this.cancelNewPublication}} />
{{/if}}