<Auk::Modal @size="full-screen-padded">
  <Auk::Modal::Header @title={{ t "documents" }} @onClose={{@onClose}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.loadPieces.isRunning}}>
      {{!-- template-lint-disable table-groups --}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th>{{t "name"}}</th>
            <th>{{t "document-type"}}</th>
            <th>
              {{t "link-publication"}}
            </th>
            <th>
              {{t "publications-number"}}
              <Auk::Icon @skin="muted" @name="info-circle">
                <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                  <p>
                    {{t "batch-document-publication-modal-publication-number-info"}}
                  </p>
                </EmberTooltip>
              </Auk::Icon>
            </th>
            <th />
          </tr>
        </thead>

        <Documents::DocumentList
          @tag="tbody"
          @pieces={{@pieces}}
          as |pieces|>
          {{#each pieces as |piece|}}
            <Publications::BatchDocumentsPublicationRow
              @piece={{piece}}
              @case={{this.case}}
              @onLinkPublicationFlow={{this.linkPublicationFlow}}
              @onUnlinkPublicationFlow={{this.unlinkPublicationFlow}}
              @onOpenNewPublicationModal={{this.openNewPublicationModal}}
            />
          {{/each}}
        </Documents::DocumentList>
      </table>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
</Auk::Modal>

{{#if this.isOpenNewPublicationModal}}
  <Publications::NewPublicationModal
    @case={{this.case}}
    @agendaItemTreatment={{this.agendaItemTreatment}}
    @onSave={{perform this.saveNewPublication}}
    @onCancel={{this.cancelNewPublication}} />
{{/if}}