<tr {{did-update this.initSelectedOptions @piece.publicationFlow}}>
  <td data-test-batch-documents-publication-row-name>
    {{@piece.name}}
  </td>
  <td>
    {{@piece.documentContainer.type.label}}
  </td>
  {{#if this.isLinkingRunning}}
    <td colspan="2" class="auk-u-text-align--center">
      <Auk::Loader />
    </td>
  {{else}}
    <td>
      <PowerSelect
        data-test-batch-documents-publication-row-link-option
        @selected={{this.selectedLinkModeOption}}
        @options={{this.linkModeOptions}}
        @onChange={{perform this.selectLinkModeOption}}
        as |option|
      >
        {{option.label}}
      </PowerSelect>
    </td>
    <td>
      {{#if this.selectedLinkModeOption.isEnabledLink}}
        <Publications::PublicationFlowSelector
          @selected={{this.selectedPublicationFlow}}
          @case={{@case}}
          @onChange={{perform this.selectPublicationFlow}}
        />
      {{else}}
        <AuButton
          data-test-batch-documents-publication-row-new
          @skin="primary"
          @icon="plus"
          {{on "click" (fn @onOpenNewPublicationModal @piece)}}
        >
          {{t "publications-new"}}
        </AuButton>
      {{/if}}
    </td>
  {{/if}}
  <td>
    <AuButtonGroup>
      <AuLinkExternal
        @icon="download"
        @hideText={{true}}
        href={{@piece.file.namedDownloadLink}}
        download
      >
        {{t "download"}}
      </AuLinkExternal>
      <AuLinkExternal
        @icon="book"
        @hideText={{true}}
        href={{@piece.viewDocumentURL}}
        target="_blank"
      >
        {{t "view-document-details"}}
      </AuLinkExternal>
    </AuButtonGroup>
  </td>
</tr>