<tr {{did-update this.initSelectedOptions @piece.publicationFlow}}>
  <td data-test-batch-documents-publication-row-name>
    {{@piece.name}}
  </td>
  <td>
    {{@piece.documentContainer.type.label}}
  </td>
  {{#if this.isLinkingRunning}}
    <td colspan="2" class="auk-u-text-align--center">
      <Auk::Loader />
    </td>
  {{else}}
    <td>
      <PowerSelect
        data-test-batch-documents-publication-row-link-option
        @selected={{this.selectedLinkModeOption}}
        @options={{this.linkModeOptions}}
        @onChange={{perform this.selectLinkModeOption}}
        as |option|
      >
        {{option.label}}
      </PowerSelect>
    </td>
    <td>
      {{#if this.selectedLinkModeOption.isEnabledLink}}
        <Publications::PublicationFlowSelector
          @selected={{this.selectedPublicationFlow}}
          @case={{@case}}
          @onChange={{perform this.selectPublicationFlow}}
        />
      {{else}}
        <Auk::Button
          data-test-batch-documents-publication-row-new
          @icon="plus"
          {{on "click" (fn @onOpenNewPublicationModal @piece)}}
        >
          {{t "publications-new"}}
        </Auk::Button>
      {{/if}}
    </td>
  {{/if}}
  <td>
    <WebComponents::AuButtonToolbar>
      <Auk::Button
        @layout="icon-only"
        @icon="download"
        @skin="borderless"
        @href={{@piece.file.namedDownloadLink}}
        download
      />
      <Auk::Button
        @layout="icon-only"
        @icon="book"
        @skin="borderless"
        @href={{@piece.viewDocumentURL}}
        target="_blank"
      />
    </WebComponents::AuButtonToolbar>
  </td>
</tr>