<Auk::Modal data-test-au-modal-publication-new>
  <Auk::Modal::Header
    @title={{if
      this.isViaCouncilOfMinisters
      (t "publications-new-title-via-council-of-ministers")
      (t "publications-new-title-not-via-council-of-ministers")
    }}
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
      {{#if this.hasError}}
        <Auk::Alert
          data-test-auk-alert-error
          @skin="error"
          @icon="alert-triangle"
          @title={{t "modal-error-alert-title" }}
          @message={{t "modal-error-alert-message" }}
        />
      {{else if (not this.isViaCouncilOfMinisters)}}
        <Auk::Alert
          data-test-auk-alert-info
          @icon="circle-info"
          @message={{t "publications-new-warning-message"}}
        />
      {{/if}}
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class='auk-form-group {{if this.hasPublicationNumberError 'auk-form-group--error' }}'>
          <Auk::Label for="publicationNumberInput" @isRequired={{true}}>
            {{t "publications-number"}}
          </Auk::Label>
          <div class=" auk-o-flex auk-o-flex--vertical-center">
            <Auk::Input
              type="number"
              id="publicationNumberInput"
              class="auk-u-mr"
              style="max-width: 10rem"
              @value={{mut this.number}}
              disabled={{this.initPublicationNumber.isRunning}}
              data-test-create-publication-modal-number-input
              {{on "change" this.isPublicationNumberAlreadyTaken}}
            />
            <Auk::Input
              type="text"
              id="publicationSuffixInput"
              style="max-width: 6.5rem"
              @value={{mut this.suffix}}
              data-test-create-publication-modal-suffix-input
              {{on "change" this.isPublicationNumberAlreadyTaken}}
            />
            <div class="auk-icon auk-icon--default auk-icon--muted auk-u-mx" >
              <i class="ki ki-circle-info"></i>
              <EmberTooltip @tooltipClass="auk-tooltip"  @side="top" >
                <p>
                  {{t "new-publication-tooltip"}}
                </p>
              </EmberTooltip>
            </div>
          </div>
          {{#if this.numberIsAlreadyUsed}}
            <Auk::Label @error={{true}} data-test-au-label-error="true">
              {{t "publication-number-already-taken"}}
            </Auk::Label>
          {{else if this.hasPublicationNumberError}}
            <Auk::Label @error={{true}} data-test-au-label-error="true">
              {{t "input-error-message"}}
            </Auk::Label>
          {{/if}}
        </div>
        <div class='auk-form-group' style="max-width: 30rem;">
          <Auk::Label for="decisionDate">
            {{t "decision-date"}}
          </Auk::Label>
          {{#if this.isViaCouncilOfMinisters}}
            <span class="auk-u-muted">
              {{moment-format this.decisionDate "DD-MM-YYYY"}}
            </span>
          {{else}}
            <Auk::Datepicker
              @date={{this.decisionDate}}
              @disabled={{this.isViaCouncilOfMinisters}}
              @onChange={{this.setDecisionDate}}/>
          {{/if}}
        </div>
        <div class='auk-form-group' style="max-width: 30rem;">
          <Auk::Label for="publicationDueDate">
            {{t "publication-due-date"}}
          </Auk::Label>
          <Auk::Datepicker
            @date={{this.publicationDueDate}}
            @onChange={{this.setPublicationDueDate}}
          />
        </div>
        <div class="auk-form-group {{if this.hasShortTitleError "auk-form-group--error" }}">
          <Auk::Label for="shortTitleInput" @isRequired={{true}}>
            {{t "name-subcase"}}
          </Auk::Label>
          <WebComponents::AuTextarea id="shortTitleInput" @rows="2" @value={{mut this.shortTitle}}
            data-test-create-publication-modal-short-title-textarea />
          {{#if this.hasShortTitleError}}
            <Auk::Label @error={{true}} data-test-au-label-error="true">
              {{t "input-error-message"}}
            </Auk::Label>
          {{/if}}
        </div>
        <div class="auk-form-group">
          <Auk::Label for="longTitleInput">{{t "title-subcase"}}</Auk::Label>
          <WebComponents::AuTextarea id="longTitleInput" @rows="4" @value={{mut this.longTitle}}
            data-test-create-publication-modal-long-title-textarea />
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <Auk::Button
            @skin="borderless"
            disabled={{this.save.isRunning}}
            data-test-publication-button-cancel
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </Auk::Button>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      <WebComponents::AuToolbar::Group @position="right">
        <WebComponents::AuToolbar::Item>
          {{#if this.save.isRunning}}
            <Utils::SimpleSpinner></Utils::SimpleSpinner>
          {{else}}
            <Auk::Button
              @skin="primary"
              disabled={{this.save.isRunning}}
              data-test-publication-button-create-new
              {{on "click" (perform this.save)}}
            >
              {{t "publications-new-button-text"}}
            </Auk::Button>
          {{/if}}
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  </Auk::Modal::Footer>
</Auk::Modal>