<Auk::Modal>
  <Auk::Modal::Header
    @title={{if
      this.isViaCouncilOfMinisters
      (t "publications-new-title-via-council-of-ministers")
      (t "publications-new-title-not-via-council-of-ministers")
    }}
    @onClose={{@onCancel}}
    @closeDisabled={{this.save.isRunning}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.save.isRunning}}
      @reserveSpace={{true}}
    >
      {{#unless this.isViaCouncilOfMinisters}}
        <AuAlert
          data-test-new-publication-alert-info
          @icon="info-circle"
          @size="small"
        >
          <p>{{t "publications-new-warning-message"}}</p>
        </AuAlert>
      {{/unless}}
      <div class="au-c-form">
        <AuFormRow>
          <Auk::Label
            for="publicationNumberInput"
            @required={{true}}
            @error={{not this.isPublicationNumberValid}}
          >
            {{t "publication-number"}}
          </Auk::Label>
          <div class="auk-u-mb">
            <AuInput
              data-test-new-publication-number
              @type="number"
              @value={{this.number}}
              @error={{not this.isPublicationNumberValid}}
              @disabled={{this.initPublicationNumber.isRunning}}
              {{on "input" (perform this.setPublicationNumber)}}
              id="publicationNumberInput"
            />
            <AuInput
              data-test-new-publication-suffix
              @value={{this.suffix}}
              @error={{not this.isPublicationNumberValid}}
              {{on "input" (perform this.setPublicationNumberSuffix)}}
              id="publicationSuffixInput"
              class="auk-input-group--w-xsmall" {{! TODO: replace `auk-input-group--w-xsmall` with matching @width argument when it is implemented }}
            />
            <Utils::Generic::TooltipHelp class="auk-u-mx">
              {{t "publication-flow-publication-number-help"}}
            </Utils::Generic::TooltipHelp>
          </div>
          {{#if this.publicationNumberErrorTranslationKey}}
            <Auk::FormHelpText
              @text={{t this.publicationNumberErrorTranslationKey}}
              @skin="danger"
              @icon="alert-triangle"
            />
          {{/if}}
        </AuFormRow>
        <AuFormRow>
          <Auk::Label
            for="shortTitleInput"
            @required={{true}}
            @error={{this.isShownShortTitleError}}
          >
            {{t "name-subcase"}}
          </Auk::Label>
          <Auk::Textarea
            id="shortTitleInput"
            @rows="2"
            @value={{mut this.shortTitle}}
            @error={{this.isShownShortTitleError}}
            data-test-new-publication-short-title
            {{on "focusout" this.enableErrorOnShortTitle}}
          />
          {{#if this.isShownShortTitleError}}
            <Auk::FormHelpText
              @text={{t "input-error-message"}}
              @skin="danger"
              @icon="alert-triangle"
            />
          {{/if}}
        </AuFormRow>
        <AuFormRow>
          <Auk::Label for="longTitleInput">
            {{t "title-subcase"}}
          </Auk::Label>
          <Auk::Textarea
            id="longTitleInput"
            @rows="4"
            @value={{mut this.longTitle}}
            data-test-new-publication-long-title
          />
        </AuFormRow>
        <div class="auk-o-grid-auto">
          <AuFormRow class="auk-u-position-relative">
            <Auk::Label>
              {{t "decision-date"}}
            </Auk::Label>
            {{#if this.isViaCouncilOfMinisters}}
              <span class="auk-u-text-muted">
                {{date this.decisionDate}}
              </span>
            {{else}}
              <Auk::Datepicker
                @date={{this.decisionDate}}
                @onChange={{set this "decisionDate"}}
              />
            {{/if}}
          </AuFormRow>
          <AuFormRow class="auk-u-position-relative">
            <Auk::Label>
              {{t "publication-flow-opening-date"}}
            </Auk::Label>
            <Auk::Datepicker
              @date={{this.openingDate}}
              @onChange={{set this "openingDate"}}
            />
          </AuFormRow>
          <AuFormRow class="auk-u-position-relative">
            <Auk::Label>
              {{t "publication-flow-publication-due-date"}}
            </Auk::Label>
            <Auk::Datepicker
              @date={{this.publicationDueDate}}
              @onChange={{set this "publicationDueDate"}}
            />
          </AuFormRow>
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-new-publication-cancel
            @skin="naked"
            @disabled={{this.save.isRunning}}
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-new-publication-create
            @skin="primary"
            @loading={{this.save.isRunning}}
            @disabled={{not this.isValid}}
            {{on "click" (perform this.save)}}
          >
            {{t "publications-new-button-text"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>