<div class="auk-popover__header" data-test-au-modal-publication-new>
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <h4 class="auk-toolbar__title">{{t "publications-setting-show-columns-modal-title"}}</h4>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @skin="muted"
          @layout="icon-only"
          @icon="ki ki-close"
          {{on "click" @onClose}}
        >
          <span class="auk-u-sr-only">{{t "close"}}</span>
        </Auk::Button>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</div>
<div class="auk-popover__body">
  <div class="auk-form-group-layout auk-form-group-layout--grid">
    <div class="auk-o-grid">
      {{#each this.optionColumns as |column|}}
        <div class="auk-o-grid-col-12">
          <div class="auk-form-group">
            <Auk::CheckboxList>
              {{#each column as |option|}}
                <Auk::Checkbox
                  @checked={{get @options option.keyName}}
                  {{on "input" (fn this.toggleOption option.keyName)}}
                >
                  {{t option.translationKey}}
                  {{#if  (not-eq (t option.translationKey) (t option.translationKeySmall)) }}
                    <span class="auk-u-text-small auk-u-muted">({{t option.translationKeySmall}})</span>
                  {{/if}}
                </Auk::Checkbox>
              {{/each}}
            </Auk::CheckboxList>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>