{{#if @isShown}}
  <WebComponents::AuModal data-test-au-modal-publication-new>
    <WebComponents::AuModal::Header @size="medium" @title={{t "publications-filter" }} @closeModal={{this.cancel}} />
    <WebComponents::AuModal::Body>
      <div class="auk-form-group-layout auk-form-group-layout--grid">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-4">
            <div class="auk-form-group">
              <WebComponents::AuLabel for="defaultInput">{{t "source"}}</WebComponents::AuLabel>
            </div>
            <div class="auk-form-group">
              <WebComponents::AuLabel for="defaultInput">{{t "status"}}</WebComponents::AuLabel>
            </div>
          </div>
          <div class="auk-o-grid-col-4">
            <div class="auk-form-group">
              <WebComponents::AuCheckboxList>
                <WebComponents::AuCheckbox @label={{t "via-cabinet" }} @name="ministerFilterOption"
                  @checked={{this.filter.ministerFilterOption}} @toggle={{this.toggleFilterOption}} />
              </WebComponents::AuCheckboxList>
            </div>
            <div class="auk-form-group">
              <WebComponents::AuCheckboxList>
                <WebComponents::AuCheckbox @label={{t "publications-published" }} @name="publishedFilterOption"
                  @checked={{this.filter.publishedFilterOption}} @toggle={{this.toggleFilterOption}} />
                <WebComponents::AuCheckbox @label={{t "publications-paused" }} @name="pausedFilterOption"
                  @checked={{this.filter.pausedFilterOption}} @toggle={{this.toggleFilterOption}} />
              </WebComponents::AuCheckboxList>
            </div>
          </div>
          <div class="auk-o-grid-col-4">
            <div class="auk-form-group">
              <WebComponents::AuCheckboxList>
                <WebComponents::AuCheckbox @label={{t "not-via-cabinet" }} @name="notMinisterFilterOption"
                  @checked={{this.filter.notMinisterFilterOption}} @toggle={{this.toggleFilterOption}} />
              </WebComponents::AuCheckboxList>
            </div>
            <div class="auk-form-group">
              <WebComponents::AuCheckboxList>
                <WebComponents::AuCheckbox @label={{t "publications-to-publish" }} @name="toPublishFilterOption"
                  @checked={{this.filter.toPublishFilterOption}} @toggle={{this.toggleFilterOption}} />
                <WebComponents::AuCheckbox @label={{t "discharged" }} @name="withdrawnFilterOption"
                  @checked={{this.filter.withdrawnFilterOption}} @toggle={{this.toggleFilterOption}} />
              </WebComponents::AuCheckboxList>
            </div>
          </div>
        </div>
      </div>
    </WebComponents::AuModal::Body>
    {{!-- TODO, use the template, yield the buttons in the right toolbar--}}
    <WebComponents::AuModal::Footer @custom={{true}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless" {{on "click" this.cancel}} data-test-publication-button-cancel>
              {{t "cancel"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="secondary" data-test-publication-button-reset-filters {{on "click"
              this.reset}}>
              {{t "clear-filter-plural"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @icon="filter" @skin="primary" data-test-publication-button-filter-content
              {{on "click" (fn @onSave this.filter)}}>
              {{t "filter-content"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}