<div class="auk-u-position-relative">
  <Auk::Input
    class="auk-input--block"
    @icon="search"
    @type="text"
    @placeholder={{t "search-placeholder"}}
    value={{this.searchText}}
    {{on "input" (perform this.debouncedSearch)}}
    {{on "focusout" this.hideResults}}
    {{on "focusin" (if this.search.lastSuccessful this.showResults this.hideResults)}}
    @enter={{perform this.search}}
    @autocomplete="off"
  />
  <Auk::SearchResultsList @isVisible={{this.isShowingResults}} @hasNoResults={{eq this.searchResults.length 0}} id={{this.resultListId}}>
    {{#each this.searchResults as |result|}}
      <Auk::SearchResultsList::Item @route="publications.publication.documents" @model={{result.id}} @skin="multiline">
        <:default>
          {{#if result.shortTile}}
            {{result.shortTile}}
          {{else if result.title}}
            {{result.title}}
          {{/if}}
        </:default>
        <:subline>{{result.identification}}</:subline>
      </Auk::SearchResultsList::Item>
    {{else}}
      {{t "no-results-found"}}
    {{/each}}
  </Auk::SearchResultsList>
</div>