<Auk::Sidebar
  @size="large"
  @position="right"
  @skin="gray-100"
  @isCollapsed={{not @isOpen}}
>
  <Auk::Navbar @skin="gray-100">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position={{if @isOpen "right" "center"}}>
        <Auk::Toolbar::Item class="{{if (not @isOpen) "auk-o-flex auk-o-flex--horizontal-center"}}">
          <Auk::Button
            @skin="borderless"
            @icon={{if @isOpen "chevron-right" "chevron-left"}}
            @layout="icon-only"
            {{on "click" (if @isOpen @onCollapse @onOpen)}}
          />
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Navbar>
  {{#if @isOpen}}
    <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
      {{!--Publicatienummer --}}
      <div class="auk-u-m-3">
        <div class="auk-form-group {{if this.numberIsAlreadyUsed "auk-form-group--error"}}">
          <Auk::Label>{{t 'publications-number'}}</Auk::Label>
          <Auk::Input
            type="number"
            value={{@publicationFlow.identification.structuredIdentifier.localIdentifier}}
            {{on "input" (perform this.setPublicationNumber)}}
          />
          <Auk::Input
            size="5"
            type="text"
            value={{@publicationFlow.identification.structuredIdentifier.versionIdentifier}}
            {{on "input" (perform this.setPublicationNumberSuffix)}}
          />

          {{#if this.numberIsAlreadyUsed}}
            <div class="auk-form-help-text auk-form-help-text--danger">
              <Auk::Icon @name="alert-triangle" />
              {{t "publication-number-already-taken"}}
            </div>
          {{/if}}
          {{#if this.numberIsRequired}}
            <div class="auk-form-help-text auk-form-help-text--danger">
              <Auk::Icon @name="alert-triangle" />
              {{t "publication-number-required"}}
            </div>
          {{/if}}
        </div>

        {{!-- Spoedprocedure --}}
        {{#if this.publicationStatus.isPending}}
          <div class="auk-form-group">
            <Publications::UrgencyLevelCheckbox
                    @urgencyLevel={{this.publicationFlow.urgencyLevel}}
                    @onChange={{this.setUrgencyLevel}} />
          </div>
        {{/if}}

        {{!-- Status --}}
        <Publications::PublicationStatusSelector
            @publicationStatus={{this.publicationStatus}}
            @onChange={{this.selectPublicationStatus}}
        />

        {{#if (or this.publicationStatus.isWithdrawn this.publicationStatus.isPaused)}}
          <div class="auk-form-group">
            <Auk::Label>
              {{#if this.publicationStatus.isWithdrawn}}
                {{t "withdrawn-on"}}
              {{else if this.publicationStatus.isPaused}}
                {{t "paused-on"}}
              {{/if}}
            </Auk::Label>
            <div class="auk-u-muted">
              {{moment-format this.publicationStatusChange.startedAt "DD-MM-YYYY \o\m HH:mm"}}
            </div>
          </div>
        {{/if}}

        {{!-- Type regelgeving --}}
        {{#unless this.publicationStatus.isWithdrawn}}
          <div class="auk-form-group">
            <Auk::Label for="blockInput">{{t "regulation-type"}}</Auk::Label>
            <WebComponents::AuPowerSelect @options={{this.regulationTypes}}
                                          @isSearchable={{false}}
                                          @onchange={{this.setRegulationType}}
                                          @selected={{@publicationFlow.regulationType}}
            />
          </div>
        {{/unless}}

        {{!-- Publicatiewijze --}}
        {{#unless this.publicationStatus.isWithdrawn}}
          <div class="auk-form-group">
            <Auk::Label for="blockInput">{{t "kind-of-publication"}}</Auk::Label>
            <WebComponents::AuPowerSelect @options={{this.publicationModes}}
                                          @isSearchable={{false}}
                                          @onchange={{this.setPublicationMode}}
                                          @selected={{this.publicationFlow.mode}}
            />
          </div>
        {{/unless}}

        {{!-- Drukproef verbeteraar --}}
        {{#unless this.loadPublicationSubcase.isRunning}}
          <div class="auk-form-group">
            <Auk::Label>
              {{t "proofprint-corrector"}}
            </Auk::Label>
            <Auk::Input
                  value={{this.publicationSubcase.proofPrintCorrector}}
              {{on "input" (perform this.setProofprintCorrector)}}
            />
          </div>
        {{/unless}}
        {{!-- Werknummer BS == numac nummer --}}
        <div class="auk-form-group">
          <Auk::Label>{{t "numac-number"}}</Auk::Label>
          <Auk::InputPills
            @items={{this.publicationFlow.numacNumbers}}
            @onCreate={{this.addNumacNumber}}
            @onRemove={{this.deleteNumacNumber}} as |numac|>
            {{numac.idName}}
          </Auk::InputPills>
        </div>

        {{!-- Beslissingsdatum --}}
        <div class="auk-form-group">
          <Auk::Label>{{t 'decision-date'}}</Auk::Label>
          {{#if this.publicationFlow.case.subcases}}
            <Auk::ButtonLink
              target="_blank"
              @layout="icon-right" @icon="nav-right"
              @route="agenda.agendaitems.agendaitem"
              @models={{array
                this.treatment.agendaitem.agenda.createdFor.id
                this.treatment.agendaitem.agenda.id
                this.treatment.agendaitem.id
              }}
            >
              {{#if this.treatment.startDate}}
                {{moment-format this.treatment.startDate "DD-MM-YYYY"}}
              {{else}}
                {{t "to-agenda"}}
              {{/if}}
            </Auk::ButtonLink>
          {{else}}
            <Auk::Datepicker
              @date={{this.treatment.startDate}}
              @onChange={{this.setDecisionDate}}
            />
          {{/if}}
        </div>

        {{!-- Uiterste vertaaldatum --}}
        {{#if (or this.publicationStatus.isPending this.publicationStatus.isPaused)}}
          <div class="auk-form-group">
            <Auk::Label>{{t 'translation-due-date'}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.translationSubcase.dueDate}}
              @onChange={{this.setTranslationDueDate}}
            />
            {{#if (is-after this.translationSubcase.dueDate precision="days")}}
              <Auk::FormHelpText
                @text={{t "date-expired"}}
                @skin="warning"
                @icon="alert-triangle"
              />
            {{/if}}
          </div>
        {{/if}}

        {{!-- Vertaaldatum --}}
        <div class="auk-form-group">
          <Auk::Label>{{t 'translation-date'}}</Auk::Label>
          <Auk::Datepicker
            @date={{this.translationSubcase.endDate}}
            @onChange={{this.setTranslationDate}}
          />
        </div>

        {{!-- Gevraagde publicatiedatum --}}
        {{#if this.publicationStatus.isPending}}
          <div class="auk-form-group">
            <Auk::Label>{{t 'publication-target-end-date'}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.publicationSubcase.targetEndDate}}
              @onChange={{this.setPublicationTargetEndDate}}
            />
          </div>
        {{/if}}

        {{!-- Uiterste publicatiedatum --}}
        {{#unless this.publicationStatus.isWithdrawn}}
          <div class="auk-form-group">
            <Auk::Label>{{t 'publication-due-date'}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.publicationSubcase.dueDate}}
              @onChange={{this.setPublicationDueDate}}
            />
            {{#if (is-after this.publicationSubcase.dueDate precision="days")}}
              <Auk::FormHelpText
                @text={{t "date-expired"}}
                @skin="warning"
                @icon="alert-triangle"
              />
            {{/if}}
          </div>
        {{/unless}}

        {{!-- Publicatiedatum --}}
        {{#if this.publicationStatus.isPublished}}
          <div class="auk-form-group">
            <Auk::Label for="blockInput">{{t "publication-date"}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.publicationSubcase.endDate}}
              @onChange={{this.setPublicationDate}}
               />
          </div>
        {{/if}}

        {{!-- Opmerking --}}
        <div class="auk-form-group">
          <Auk::Label>
            <div class="auk-o-flex auk-o-flex--vertical-center">
              <span class="auk-u-mr">{{t "remark-title"}}</span>
              <div>
                <Auk::ButtonLink @icon="circle-info" @layout="icon-right" @skin="muted" />
                <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                  <p>
                    {{t "publication-sidebar-tooltip"}}
                  </p>
                </EmberTooltip>
              </div>
            </div>
          </Auk::Label>
          <Auk::Textarea rows="4" type="text" value={{@publicationFlow.remark}} {{on "input" (perform this.setRemark)}}></Auk::Textarea>
        </div>
      </div>
    </div>
  {{/if}}
</Auk::Sidebar>

{{#if this.showConfirmWithdraw}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "discharge-publication"}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      {{t "discharge-publication-flow-confirm"}}
    </Auk::Modal::Body>
    <Auk::Modal::Footer @custom={{true}}>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left" n>
          <Auk::Toolbar::Item>
            <Auk::Button @skin="borderless" {{on "click" this.cancelWithdraw}}>
              {{t "cancel"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button @skin="danger-primary" {{on "click" this.withdrawPublicationFlow}}>
              {{t "discharge"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}