<Auk::Input
  class="auk-input--block"
  @icon="search"
  @type="text"
  data-test-trigger-search-input
  @placeholder={{t "search-placeholder"}}
  value={{this.searchText}}
  {{on "input" (perform this.debouncedSearch)}}
  {{on "focusout" this.hideResults}}
  {{on "focusin" (if this.search.lastSuccessful this.showResults this.hideResults)}}
  @enter={{perform this.search}}
  @autocomplete="off"
/>
{{#if this.isShowingResults}}
  <ul id={{this.resultListId}} class="autocomplete-results auk-search-results-list">
    {{#each this.searchResults as |result|}}
      <Auk::Dropdown::Item @class="auk-search-results-list__item" @route="publications.publication.documents" @model={{result.id}}>
        {{#if result.shortTile}}
          {{result.shortTile}}
        {{else if result.title}}
          {{result.title}}
        {{/if}}
        <br>
        <span class="auk-u-muted auk-u-text-small">{{result.identification}}</span>
      </Auk::Dropdown::Item>
    {{else}}
      {{ t "no-results-found" }}
    {{/each}}
  </ul>
{{/if}}