{{!-- Although not recommended for accessibility-reasons, users explicitly
request the whole row and not only the arrow at the end to be clickable --}}
{{!-- template-lint-disable no-invalid-interactive --}}
<tr class="auk-table--interaction-cursor" {{on "click" (fn this.navigateToPublication @publicationFlow)}}>
{{!-- template-lint-enable no-invalid-interactive --}}
  {{#if @tableColumnDisplayOptions.shortTitle}}
    <td class="auk-table__col--6">
      <Auk::AbbreviatedText @text={{@publicationFlow.shortTitle}} @maxLength={{150}}/>
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.comment}}
    <td class="auk-u-text-align--center">
      {{#if @publicationFlow.remark}}
        <Auk::Icon @skin="muted" @name="comment" />
        <EmberTooltip @tooltipClass="auk-tooltip" @side="left">
          <p>
            {{@publicationFlow.remark}}
          </p>
        </EmberTooltip>
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.decisionDate}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.agendaItemTreatment.startDate}}
        {{moment-format @publicationFlow.agendaItemTreatment.startDate "DD-MM-YYYY"}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.speedProcedure}}
    <td class="auk-u-text-align--center">
      {{#if @publicationFlow.urgencyLevel.isUrgent}}
        <Auk::Icon @skin="warning" @name="alert-triangle" />
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationNumber}}
    <td>
      {{#if @publicationFlow.identification.idName}}
        {{@publicationFlow.identification.idName}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.regulationType}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.regulationType}}
        {{@publicationFlow.regulationType.label}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.numacNumber}}
    {{!-- TODO: fix inline style. What is this needed for --}}
    {{!-- template-lint-disable no-inline-styles --}}
    <td style="min-width: 180px">
      {{#if @publicationFlow.numacNumbers.length}}
        {{join ', ' (map-by 'idName' @publicationFlow.numacNumbers)}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
    {{!-- template-lint-enable no-inline-styles --}}
  {{/if}}
  {{#if @tableColumnDisplayOptions.openingDate}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.openingDate}}
        {{moment-format @publicationFlow.openingDate "DD-MM-YYYY"}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationTargetDate}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.publicationSubcase.targetEndDate}}
        {{moment-format @publicationFlow.publicationSubcase.targetEndDate "DD-MM-YYYY"}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.translationDueDate}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.translationSubcase.dueDate}}
        {{moment-format @publicationFlow.translationSubcase.dueDate "DD-MM-YYYY"}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.publicationDate}}
    <td class="auk-u-text-nowrap">
      {{#if this.loadDecision.isRunning}}
        ...
      {{else}}
        {{#if this.decision.publicationDate}}
          {{moment-format this.decision.publicationDate "DD-MM-YYYY"}}
        {{else}}
          {{t "dash"}}
        {{/if}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.translations}}
    <td class="auk-u-text-nowrap">
      <Publications::Publication::Translations::TranslationProgressBadge @translationSubcase={{@publicationFlow.translationSubcase}}/>
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.proofs}}
    <td class="auk-u-text-nowrap">
      <Publications::Publication::Proofs::ProofsProgressBadge @publicationSubcase={{@publicationFlow.publicationSubcase}}/>
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.lastEdited}}
    <td>
      {{moment-format @publicationFlow.modified "DD-MM-YYYY"}}<br/>
      <span class="auk-u-text-small auk-u-muted">
        {{moment-format @publicationFlow.modified "HH:mm"}}
      </span>
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.proofPrintCorrector}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.publicationSubcase.proofPrintCorrector}}
        <Auk::Avatar @icon="user" @size="small">
          <p>{{@publicationFlow.publicationSubcase.proofPrintCorrector}}</p>
        </Auk::Avatar>
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.status}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.status }}
        <span class="{{if @publicationFlow.status.isPublished "auk-u-text-success"}}
          {{if @publicationFlow.status.isWithdrawn "auk-u-text-error"}} " >
          {{@publicationFlow.status.label}}
        </span>
        {{#if
          (or
            @publicationFlow.status.isWithdrawn
            @publicationFlow.status.isPaused)
        }}
          <br />
          <span class="auk-u-text-small auk-u-muted">
            {{moment-format
              @publicationFlow.publicationStatusChange.startedAt
              "DD-MM-YYYY HH:mm"
            }}
          </span>
        {{/if}}
      {{else}}
        {{t "dash"}}
      {{/if}}
    </td>
  {{/if}}
  {{#if @tableColumnDisplayOptions.source}}
    <td class="auk-u-text-nowrap">
      {{#if @publicationFlow.case.subcases }}
        {{t "via-cabinet"}}
      {{else}}
        {{t "not-via-cabinet"}}
      {{/if}}
    </td>
  {{/if}}
  <td>
    <Auk::Button
      @skin="borderless"
      @layout="icon-only"
      @icon="chevron-right"
      @route="publications.publication"
      @model={{@publicationFlow.id}}
      data-test-publications-button-go-to-publication
    />
  </td>
</tr>