<WebComponents::AuSidebar
  class="auk-sidebar auk-sidebar--gray-100 auk-sidebar--large auk-sidebar--responsive auk-sidebar--collapsible auk-scroll-wrapper"
  @position="right"
  data-collapsed={{if (not @isOpen) "true" "false"}}
>
  <WebComponents::AuNavbar @skin="gray-100">
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position={{if @isOpen "right" "center"}}>
        <WebComponents::AuToolbar::Item class="{{if (not @isOpen) "auk-o-flex auk-o-flex--horizontal-center"}}">
          <WebComponents::AuButton @skin="borderless" @icon={{if @isOpen "chevron-right" "chevron-left"}}
                                   @layout="icon-only" {{on "click" (if @isOpen @onCollapse @onOpen)}} />
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  </WebComponents::AuNavbar>
  {{#if @isOpen}}
    <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
      {{!--Publicatienummer --}}
      <div class="auk-u-m-3">
        <div class="auk-form-group {{if this.numberIsAlreadyUsed "auk-form-group--error"}}">
          <WebComponents::AuLabel>{{t 'publications-number'}}</WebComponents::AuLabel>
          <Auk::Input type="number" value={{@publicationFlow.identification.structuredIdentifier.localIdentifier}} {{on "input" (perform this.setPublicationNumber)}} />
          <Auk::Input size="5" type="text" value={{@publicationFlow.identification.structuredIdentifier.versionIdentifier}} {{on "input" (perform this.setPublicationNumberSuffix)}} />

          {{#if this.numberIsAlreadyUsed}}
            <div class="auk-form-help-text auk-form-help-text--danger">
              <WebComponents::AuIcon @name="alert-triangle"/>
              {{t "publication-number-already-taken"}}
            </div>
          {{/if}}
          {{#if this.numberIsRequired}}
            <div class="auk-form-help-text auk-form-help-text--danger">
              <WebComponents::AuIcon @name="alert-triangle"/>
              {{t "publication-number-required"}}
            </div>
          {{/if}}
        </div>

        {{!-- Status --}}
        <Publications::PublicationStatusSelector
            @publicationStatus={{this.publicationStatus}}
            @onChange={{this.selectPublicationStatus}}
        />

        {{#if (or this.publicationStatus.isWithdrawn this.publicationStatus.isPaused)}}
          <div class="auk-form-group">
            <WebComponents::AuLabel>
              {{#if this.publicationStatus.isWithdrawn}}
                {{t "withdrawn-on"}}
              {{else if this.publicationStatus.isPaused}}
                {{t "paused-on"}}
              {{/if}}
            </WebComponents::AuLabel>
            <div class="auk-u-muted">
              {{moment-format this.publicationStatusChange.startedAt "DD-MM-YYYY \o\m HH:mm"}}
            </div>
          </div>
        {{/if}}

        {{!-- Type regelgeving --}}
        {{#unless this.publicationStatus.isWithdrawn}}
          <div class="auk-form-group">
            <WebComponents::AuLabel for="blockInput">{{t "regulation-type"}}</WebComponents::AuLabel>
            <WebComponents::AuPowerSelect @options={{this.regulationTypes}}
                                          @isSearchable={{false}}
                                          @onchange={{this.setRegulationType}}
                                          @selected={{@publicationFlow.regulationType}}
            />
          </div>
        {{/unless}}

        {{!-- Publicatiewijze --}}
        {{#unless this.publicationStatus.isWithdrawn}}
          <div class="auk-form-group">
            <WebComponents::AuLabel for="blockInput">{{t "kind-of-publication"}}</WebComponents::AuLabel>
            <WebComponents::AuPowerSelect @options={{this.publicationModes}}
                                          @isSearchable={{false}}
                                          @onchange={{this.setPublicationMode}}
                                          @selected={{this.publicationFlow.mode}}
            />
          </div>
        {{/unless}}

        {{!-- Spoedprocedure --}}
        {{#if this.publicationStatus.isPending}}
          <div class="auk-form-group">
            <Publications::UrgencyLevelCheckbox
                    @urgencyLevel={{this.publicationFlow.urgencyLevel}}
                    @onChange={{this.setUrgencyLevel}} />
          </div>
        {{/if}}

        {{!-- Werknummer --}}
        <div class="auk-form-group">
          <WebComponents::AuLabel>{{t "publication-form-numac-nummer"}}</WebComponents::AuLabel>
          <div style="background: #FFFFFF;border: 1px solid #CCD1D9; box-sizing: border-box;  line-height: 0.8em;  padding: 7px;">
            {{#each @publicationFlow.numacNumbers as |numac|}}
              <div class="vlc-numac-number-wrapper">
                <div class="vlc-numac-number">
                  <span>{{ numac.idName }}</span>
                </div>
                <div class="vlc-numac-number-delete-button-wrapper">
                  <WebComponents::AuButton class="auk-button--nopadding"
                    @skin="borderless"
                    @icon="close"
                    @layout="icon-only"
                    {{on "click" (fn this.deleteNumacNumber numac)}}
                  />
                </div>
              </div>
            {{else}}
              <span class="auk-icon--light">{{t "no-numac-number-yet"}}</span>
            {{/each}}
          </div>
          <Auk::Input
            type="text"
            @value={{this.newNumacNumber}}
          />

          <WebComponents::AuButton
            @skin="borderless"
            {{on "click" this.addNumacNumber}}
          >
            {{t "add"}}
          </WebComponents::AuButton>
        </div>

        {{!-- Uiterste vertaaldatum --}}
        {{#if (or this.publicationStatus.isPending this.publicationStatus.isPaused)}}
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t 'translation-due-date'}}</WebComponents::AuLabel>
            <WebComponents::AuDatepicker
              @showExpired={{true}}
              @defaultDate={{this.translationSubcase.dueDate}}
              @onChange={{this.setTranslationDueDate}}/>
          </div>
        {{/if}}

        {{!-- Vertaaldatum --}}
        <div class="auk-form-group">
          <WebComponents::AuLabel>{{t 'translation-date'}}</WebComponents::AuLabel>
          <WebComponents::AuDatepicker
            @defaultDate={{this.translationSubcase.endDate}}
            @onChange={{this.setTranslationDate}}/>
        </div>

        {{!-- Gevraagde publicatiedatum --}}
        {{#if this.publicationStatus.isPending}}
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t 'publication-target-end-date'}}</WebComponents::AuLabel>
            <WebComponents::AuDatepicker
                    @defaultDate={{this.publicationSubcase.targetEndDate}}
                    @onChange={{this.setPublicationTargetEndDate}}/>
          </div>
        {{/if}}

        {{!-- Uiterste publicatiedatum --}}
        {{#unless this.publicationStatus.isWithdrawn}}
          <div class="auk-form-group">
            <WebComponents::AuLabel>{{t 'publication-due-date'}}</WebComponents::AuLabel>
            <WebComponents::AuDatepicker
                    @showExpired={{true}}
                    @defaultDate={{this.publicationSubcase.dueDate}}
                    @onChange={{this.setPublicationDueDate}}/>
          </div>
        {{/unless}}

        {{!-- Publicatiedatum --}}
        {{#if this.publicationStatus.isPublished}}
          <div class="auk-form-group">
            <WebComponents::AuLabel for="blockInput">{{t "publication-date"}}</WebComponents::AuLabel>
            <WebComponents::AuDatepicker
              @defaultDate={{this.publicationSubcase.endDate}}
              @onChange={{this.setPublicationDate}}
            />
          </div>
        {{/if}}

        {{!-- Opmerking --}}
        <div class="auk-form-group">
          <WebComponents::AuLabel>
            <div class="auk-o-flex auk-o-flex--vertical-center">
              <span class="auk-u-mr">{{t "remark-title"}}</span>
              <div>
                <Auk::ButtonLink @icon="circle-info" @layout="icon-right" @skin="muted" />
                <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                  <p>
                    {{t "publication-sidebar-tooltip"}}
                  </p>
                </EmberTooltip>
              </div>
            </div>
          </WebComponents::AuLabel>
          <WebComponents::AuTextarea rows="4" type="text" value={{@publicationFlow.remark}} {{on "input" (perform this.setRemark)}}></WebComponents::AuTextarea>
        </div>
      </div>
    </div>
  {{/if}}
</WebComponents::AuSidebar>

{{#if this.showConfirmWithdraw}}
  <WebComponents::AuModal @size="small">
    <WebComponents::AuModal::Header
            @title={{t "discharge-publication"}}
            @hideCloseButton={{true}}
    />
    <WebComponents::AuModal::Body>
      {{t "discharge-publication-flow-confirm"}}
    </WebComponents::AuModal::Body>
    <WebComponents::AuModal::Footer @custom={{true}}>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left"n>
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless" {{on "click" this.cancelWithdraw}}>
              {{t "cancel"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="danger-primary" {{on "click" this.withdrawPublicationFlow}}>
              {{t "discharge"}}
            </WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuModal::Footer>
  </WebComponents::AuModal>
{{/if}}