<div class="auk-u-position-relative">
  <Auk::Input
    data-test-publication-case-search-input
    @block={{true}}
    @icon="search"
    placeholder={{t "search-placeholder"}}
    value={{this.searchText}}
    {{on "input" (perform this.debouncedSearch)}}
    {{on "focusout" this.hideResults}}
    {{on
      "focusin"
      (if this.search.lastSuccessful this.showResults this.hideResults)
    }}
    @enter={{perform this.search}}
    autocomplete="off"
  />
  <Auk::SearchResultsList
    data-test-publication-case-search-result-list
    @isVisible={{this.isShowingResults}}
    @hasNoResults={{eq this.searchResults.length 0}}
    id={{this.resultListId}}
  >
    {{#each this.searchResults as |result|}}
      <Auk::SearchResultsList::Item
        data-test-publication-case-search-result
        @route="publications.publication.documents"
        @model={{result.id}}
        @skin="multiline"
      >
        <:default>
          {{#if result.shortTitle}}
            {{result.shortTitle}}
          {{else if result.title}}
            {{! search returns title but this is the longTitle from resources, misnamed in config}}
            {{result.title}}
          {{/if}}
        </:default>
        <:subline>{{result.identification}}</:subline>
      </Auk::SearchResultsList::Item>
    {{else}}
      {{t "no-results-found"}}
    {{/each}}
  </Auk::SearchResultsList>
</div>