<Auk::Modal @size="medium">
  <Auk::Modal::Header
    @closeDisabled={{this.savePublicationStatus.isRunning}}
    @title={{t "edit-status"}}
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <div class="au-c-form">
      <AuFormRow>
        <AuLabel for="blockInput">{{t "status"}}</AuLabel>
        <PowerSelect
          data-test-publication-status-select
          @options={{this.publicationStatusses}}
          @selected={{this.publicationStatus}}
          @onChange={{this.selectPublicationStatus}}
          as |status|
        >
          {{#if status.isPublished}}
            <AuIcon @icon="circle-check" class="au-u-success" />
          {{else if status.isPaused}}
            <AuIcon @icon="circle-pause" class="au-u-muted" />
          {{else if status.isWithdrawn}}
            <AuIcon @icon="circle-x" class="au-u-error" />
          {{else if status.isTranslationRequested}}
            <AuIcon @icon="circle-step-1" class="au-u-primary" />
          {{else if status.isTranslationReceived}}
            <AuIcon @icon="circle-step-2" class="au-u-primary" />
          {{else if status.isProofRequested}}
            <AuIcon @icon="circle-step-3" class="au-u-primary" />
          {{else if status.isProofReceived}}
            <AuIcon @icon="circle-step-4" class="au-u-primary" />
          {{else if status.isProofRecalled}}
            <AuIcon @icon="circle-step-5" class="au-u-primary" />
          {{else if status.isProofCorrected}}
            <AuIcon @icon="circle-step-6" class="au-u-primary" />
          {{else if status.isPublicationRequested}}
            <AuIcon @icon="circle-full" class="au-u-primary" />
          {{else}}
            <AuIcon @icon="circle" class="au-u-primary" />
          {{/if}}
          {{status.label}}
        </PowerSelect>
      </AuFormRow>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{@onCancel}}
    @cancelDisabled={{this.savePublicationStatus.isRunning}}
  >
    <AuButton
      data-test-publication-status-save
      @skin="primary"
      @loading={{this.savePublicationStatus.isRunning}}
      @disabled={{this.isDisabledSave}}
      {{on "click" (perform this.savePublicationStatus)}}
    >
      {{t "save"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>