<Auk::Modal data-test-au-modal-publication-new>
  <Auk::Modal::Header @size="medium" @title={{t "publications-filter" }} @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--grid">
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <Auk::Label for="defaultInput">{{t "source"}}</Auk::Label>
          </div>
          <div class="auk-form-group">
            <Auk::Label for="defaultInput">{{t "status"}}</Auk::Label>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "via-cabinet" }}
                @checked={{this.filter.ministerFilterOption}}
                {{on "input" (fn this.toggleFilterOption "ministerFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "publications-published" }}
                @checked={{this.filter.publishedFilterOption}}
                {{on "input" (fn this.toggleFilterOption "publishedFilterOption")}}
              />
              <Auk::Checkbox
                @label={{t "publications-paused" }}
                @checked={{this.filter.pausedFilterOption}}
                {{on "input" (fn this.toggleFilterOption "pausedFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "not-via-cabinet" }}
                @checked={{this.filter.notMinisterFilterOption}}
                {{on "input" (fn this.toggleFilterOption "notMinisterFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "publications-to-publish" }}
                @checked={{this.filter.toPublishFilterOption}}
                {{on "input" (fn this.toggleFilterOption "toPublishFilterOption")}}
              />
              <Auk::Checkbox
                @label={{t "discharged" }}
                @checked={{this.filter.withdrawnFilterOption}}
                {{on "input" (fn this.toggleFilterOption "withdrawnFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
        </div>
      </div>
    </div>
  </Auk::Modal::Body>
  {{!-- TODO, use the template, yield the buttons in the right toolbar--}}
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar>
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <Auk::Button
            @skin="borderless"
            data-test-publication-button-cancel
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </Auk::Button>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      <WebComponents::AuToolbar::Group @position="right">
        <WebComponents::AuToolbar::Item>
          <Auk::Button
            @skin="secondary"
            data-test-publication-button-reset-filters
            {{on "click" this.reset}}
          >
            {{t "clear-filter-plural"}}
          </Auk::Button>
        </WebComponents::AuToolbar::Item>
        <WebComponents::AuToolbar::Item>
          <Auk::Button
            @icon="filter"
            @skin="primary"
            data-test-publication-button-filter-content
            {{on "click" (fn @onSave this.filter)}}
          >
            {{t "filter-content"}}
          </Auk::Button>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>