<WebComponents::AuModal data-test-au-modal-publication-new>
  <WebComponents::AuModal::Header @size="medium" @title={{t "publications-filter" }} @closeModal={{@onCancel}} />
  <WebComponents::AuModal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--grid">
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <WebComponents::AuLabel for="defaultInput">{{t "source"}}</WebComponents::AuLabel>
          </div>
          <div class="auk-form-group">
            <WebComponents::AuLabel for="defaultInput">{{t "status"}}</WebComponents::AuLabel>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "via-cabinet" }}
                @checked={{this.filter.ministerFilterOption}}
                {{on "input" (fn this.toggleFilterOption "ministerFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "publications-published" }}
                @checked={{this.filter.publishedFilterOption}}
                {{on "input" (fn this.toggleFilterOption "publishedFilterOption")}}
              />
              <Auk::Checkbox
                @label={{t "publications-paused" }}
                @checked={{this.filter.pausedFilterOption}}
                {{on "input" (fn this.toggleFilterOption "pausedFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "not-via-cabinet" }}
                @checked={{this.filter.notMinisterFilterOption}}
                {{on "input" (fn this.toggleFilterOption "notMinisterFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
          <div class="auk-form-group">
            <Auk::CheckboxList>
              <Auk::Checkbox
                @label={{t "publications-to-publish" }}
                @checked={{this.filter.toPublishFilterOption}}
                {{on "input" (fn this.toggleFilterOption "toPublishFilterOption")}}
              />
              <Auk::Checkbox
                @label={{t "discharged" }}
                @checked={{this.filter.withdrawnFilterOption}}
                {{on "input" (fn this.toggleFilterOption "withdrawnFilterOption")}}
              />
            </Auk::CheckboxList>
          </div>
        </div>
      </div>
    </div>
  </WebComponents::AuModal::Body>
  {{!-- TODO, use the template, yield the buttons in the right toolbar--}}
  <WebComponents::AuModal::Footer @custom={{true}}>
    <WebComponents::AuToolbar>
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButton @skin="borderless" {{on "click" @onCancel}} data-test-publication-button-cancel>
            {{t "cancel"}}
          </WebComponents::AuButton>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      <WebComponents::AuToolbar::Group @position="right">
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButton @skin="secondary" data-test-publication-button-reset-filters {{on "click"
                                                                                                    this.reset}}>
            {{t "clear-filter-plural"}}
          </WebComponents::AuButton>
        </WebComponents::AuToolbar::Item>
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButton @icon="filter" @skin="primary" data-test-publication-button-filter-content
            {{on "click" (fn @onSave this.filter)}}>
            {{t "filter-content"}}
          </WebComponents::AuButton>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  </WebComponents::AuModal::Footer>
</WebComponents::AuModal>