<div class="auk-form-group">
  <Auk::Label for="blockInput">{{t 'status'}}</Auk::Label>
  <PowerSelect
          @options={{this.publicationStatusses}}
          @searchEnabled={{false}}
          @selected={{@publicationStatus}}
          @onchange={{@onChange}} as |status|>
    {{#if status.isPending }}
      <Auk::Icon @name="clock" @skin="warning" />
    {{else if status.isPublished }}
      <Auk::Icon @name="circle-check" @skin="success" />
    {{else if status.isPaused}}
      <Auk::Icon @name="circle-pause" @skin="muted" />
    {{else if status.isWithdrawn }}
      <Auk::Icon @name="circle-error" @skin="danger" />
    {{/if}}
    {{status.label}}
  </PowerSelect>
</div>