<div data-test-publication-status-selector class="auk-form-group">
  <Auk::Label for="blockInput">{{t "status"}}</Auk::Label>
  <PowerSelect
    @options={{this.publicationStatusses}}
    @searchEnabled={{false}}
    @selected={{@publicationStatus}}
    @onchange={{@onChange}}
    @disabled={{@disabled}}
    as |status|
  >
    {{#if status.isStarted}}
      <Auk::Icon @name="clock" @skin="warning" />
    {{else if status.isPublished}}
      <Auk::Icon @name="circle-check" @skin="success" />
    {{else if status.isPaused}}
      <Auk::Icon @name="circle-pause" @skin="muted" />
    {{else if status.isWithdrawn}}
      <Auk::Icon @name="circle-x" @skin="danger" />
    {{/if}}
    {{status.label}}
  </PowerSelect>
</div>