<div class="vlc-container-center">
  <Utils::LogoHeader />
  <div class="auk-u-mb-8">
    <h1 class="vl-title vl-title--h2">
      {{await title}}
      <br/>
      <span class="auk-u-mt-2 auk-u-muted">
        {{t "agenda"}}
      </span>
    </h1>
  </div>
  <div class="auk-u-mb-8">
    <hr class="vlc-hr"/>
  </div>
  <div class="auk-u-mb-4">
    {{#each (await agendaitemGroups) as |agendaitemGroup|}}
      {{#if agendaitemGroup.agendaitems.length}}
        <div class="auk-u-mb-4">
          {{#each (await agendaitemGroup.mandatees) as |mandatee|}}
            <h2 class="vl-title vl-title--h4">
              {{mandatee.title}}
            </h2>
          {{/each}}
        </div>
        <div class="auk-u-mb-8">
          {{#each agendaitemGroup.agendaitems as |agendaitem|}}
            {{#if (not agendaitem.isEditing)}}
              <div class="auk-u-mb-2">
                <div class="auk-u-flex auk-u-flex--justify-between">
                  <h3 class="vl-title vl-title--h5">
                    {{agendaitem.number}}
                    .
                    {{agendaitem.titlePress}}
                  </h3>
                  {{#if (eq definite "false")}}
                    {{#if currentSession.isEditor}}
                      <div class="auk-u-ml-2">
                        <a href="" class="vl-link"
                          {{action "toggleIsEditing" agendaitem}}>
                          {{t "edit"}}
                        </a>
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
              <div class="vl-typography">
                <ul>
                  <li>
                    {{agendaitem.textPress}}
                  </li>
                </ul>
                <p></p>
              </div>
            {{else}}
              <AgendaitemPressEdit
                @agendaitem={{agendaitem}}
                @isEditing={{agendaitem.isEditing}} />
            {{/if}}
          {{/each}}
          <div class="auk-u-mb-8">
            <hr class="vlc-hr"/>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
