<div {{did-update (perform this.loadAgendaData)}}>
  <Auk::Panel data-test-subcase-description-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <div class="au-u-flex au-u-flex--spaced-small">
              <h4 class="auk-panel__title">
                {{#if (is-nota @subcase.agendaItemType)}}
                  {{t "note"}}
                {{else}}
                  {{t "text"}}
                {{/if}}
              </h4>
              {{#if @allowEditing}}
                {{#if @subcase.confidential}}
                  <AuPill @size="small" @skin="warning" @icon="lock-closed">{{t "limited-access"}}</AuPill>
                {{/if}}
              {{/if}}
            </div>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if @allowEditing}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-subcase-description-edit
                @skin="naked"
                @icon="pencil"
                {{on "click" @onClickEdit}}
              >
                {{t "edit"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="auk-u-mb-2">
        <AuHeading @level="4" @skin="4">{{capitalize @subcase.shortTitle}}</AuHeading>
        {{#if @subcase.title}}
        <p class="au-u-medium">{{capitalize @subcase.title}}</p>
        {{/if}}
      </div>
      {{#if (is-nota @subcase.agendaItemType)}}
        <div class="auk-u-mb-2">
          {{#if @subcase.subcaseName}}
            <AuPill data-test-subcase-titles-panel-subcase-name @size="small" @skin={{this.pillSkin}}>
              {{!capitalization using helper instead of css class:
                because of `display: inline-flex` property of AuPill
                it is not affected by the `::first-letter` selector
                used in the auk-u-text-capitalize class }}
              {{capitalize @subcase.subcaseName}}
            </AuPill>
          {{/if}}
        </div>
      {{/if}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>



  

  
