<Auk::Panel class="auk-panel--editing">
  <Auk::Panel::Body>
    <div class="au-c-form">
      <AuFormRow>
        <Auk::Label for="subcase-confidential">{{t "limited-access"}}</Auk::Label>
        <AuToggleSwitch
          data-test-subcase-titles-edit-confidential={{true}}
          @checked={{@subcase.confidential}}
          id="subcase-confidential"
          @onChange={{set this "confidentialChanged" true}}
        />
      </AuFormRow>
      <AuFormRow>
        <Auk::Label id="name-subcase">{{t "name-subcase"}}</Auk::Label>
        <Textarea
          data-test-subcase-titles-edit-shorttitle={{true}}
          aria-labelledby="name-subcase"
          rows="2"
          class="auk-textarea"
          @value={{@subcase.shortTitle}}
        />
      </AuFormRow>
      <AuFormRow>
        <Auk::Label id="title-subcase">{{t "title-subcase"}}</Auk::Label>
        <Textarea
          data-test-subcase-titles-edit-title={{true}}
          aria-labelledby="name-subcase"
          rows="4"
          class="auk-textarea"
          @value={{@subcase.title}}
        />
      </AuFormRow>
    </div>
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            {{on "click" this.cancelEditing}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-titles-edit-save={{true}}
            @skin="primary"
            @loading={{this.saveChanges.isRunning}}
            {{on "click" (perform this.saveChanges)}}
          >
            {{t "save"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>