<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <h4 class="auk-panel__title">
            {{t "documents"}}
          </h4>
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          <AuButton
            data-test-route-publications---decisions-upload-reference
            @skin="primary"
            @icon="plus"
            {{on "click" this.openReferenceDocumentUploadModal}}
          >
            {{t "document-add"}}
          </AuButton>
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body class="auk-u-bg-alt">
    <Publications::Documents::DocumentListSteps
      @pieces={{this.model}}
      @isViaCouncilOfMinisters={{this.isViaCouncilOfMinisters}}
      @onDeletePiece={{perform this.deletePiece}}
    />
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.isOpenReferenceDocumentUploadModal}}
  <Publications::Documents::ReferenceDocumentUploadModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveReferenceDocuments}}
    @onCancel={{this.closeReferenceDocumentUploadModal}}
  />
{{/if}}