<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body auk-u-p-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">
          {{t "publication-reports-title"}}
        </h4>
      </Auk::Panel::Header>

      {{#each this.model as |row|}}
        <Auk::Panel::Body class="auk-o-flex auk-o-flex--justify-between">
          <div>
            <h4 class="auk-h4 auk-u-m-0">{{t row.titleKey}}</h4>
            {{#if row.lastJob}}
              <div>
                <div class="auk-u-text-muted">
                  {{t
                    "publication-report-last-request"
                    date=(moment-format row.lastJob.created "DD/MM/YYYY")
                    time=(moment-format row.lastJob.created "HH:mm")
                    user=row.lastJob.generatedBy.fullName
                  }}
                </div>
                {{#if
                  (and
                    (eq row.lastJob.status row.lastJob.SUCCESS)
                    row.lastJob.generated
                  )
                }}
                  {{!postpone showing link until file relationship is loaded}}
                  <Auk::ButtonLink
                    @icon="download"
                    @href={{row.lastJob.generated.namedDownloadLink}}
                    download
                  >
                    {{row.lastJob.generated.downloadFilename}}
                  </Auk::ButtonLink>
                {{else if (eq row.lastJob.status row.lastJob.FAILED)}}
                  <div class="auk-u-text-error">
                    {{t "publication-report-failed"}}
                  </div>
                {{else}}
                  {{t "publication-report-running"}}
                {{/if}}
              </div>
            {{/if}}
          </div>
          <div>
            <Auk::Button {{on "click" row.showGenerateReportModal}}>
              {{t "generate-report"}}
            </Auk::Button>
          </div>
        </Auk::Panel::Body>

        {{#if row.isShownGenerateReportModal}}
          <Publications::Overview::Reports::GenerateReportModal @row={{row}} />
        {{/if}}
      {{/each}}
    </Auk::Panel>
  </div>
</div>