<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body auk-u-p-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">
          {{t "publication-reports-title"}}
        </h4>
      </Auk::Panel::Header>
      {{#each this.model as |reportType|}}
        <Publications::Reports::ReportsPanelEntry
          @title={{t reportType.config.translationKey}}
          @lastJob={{reportType.lastJob}}
          @userInputFields={{reportType.config.userInputFieldsForParams}}
          @onGenerateReport={{fn this.generateReport reportType}}
        />
      {{/each}}
    </Auk::Panel>
  </div>
</div>