<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body auk-u-p-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">
          {{t "publication-reports-title"}}
        </h4>
      </Auk::Panel::Header>

      {{#each this.model as |row|}}
        <Auk::Panel::Body class="auk-o-flex auk-o-flex--justify-between">
          <div>
            <h4 class="auk-h4 auk-u-m-0">{{t row.titleKey}}</h4>
            {{#if row.lastJob}}
              <div>
                <div class="auk-u-text-muted">
                  {{t
                    "publication-report-last-request"
                    date=(moment-format row.lastJob.created "DD/MM/YYYY")
                    time=(moment-format row.lastJob.created "HH:mm")
                    user=row.lastJob.generatedBy.fullName
                  }}
                </div>
                <Auk::ButtonLink
                  @icon="download"
                  @href={{row.lastJob.generated.namedDownloadLink}}
                  download
                >
                  {{row.lastJob.generated.downloadFilename}}
                </Auk::ButtonLink>
              </div>
            {{/if}}
          </div>
          <div>
            <Auk::Button {{on "click" (perform row.triggerGenerateReport)}}>
              {{t "generate-report"}}
            </Auk::Button>
          </div>
        </Auk::Panel::Body>
      {{/each}}
    </Auk::Panel>
  </div>
</div>