<Auk::Modal @size="medium">
  <Auk::Modal::Header
    @title={{@title}}
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <div class="au-c-form">
      <AuFormRow>
        <AuLabel>{{t "email-address"}}</AuLabel>
        <AuInput
          data-test-signatures-create-email-input
          type="text"
          class="au-c-input--mask-normal-letter-spacing"
          @warning={{and this.emailBuffer (not this.isValid)}}
          @width="block"
          {{on "input" (pick "target.value" (set this "emailBuffer"))}}
        />
      </AuFormRow>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
      <AuButton
        data-test-signatures-create-email-add
        @disabled={{not this.isValid}}
        {{on "click" (fn @onConfirm this.emailBuffer)}}
      >
        {{t "add"}}
      </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
