<Auk::Modal @size="medium">
  <Auk::Modal::Header @title={{t "filter-content"}} @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <div class="auk-form-group">
      <Auk::CheckboxList>
        <Auk::Checkbox
          @label="Jan Jambon"
          @checked={{true}}
        />
        <Auk::Checkbox
          @label="Hilde Crevits"
        />
        <Auk::Checkbox
          @label="Bart Somers"
        />
        <Auk::Checkbox
          @label="Ben Weyts"
        />
        <Auk::Checkbox
          @label="Zuhal Demir"
        />
        <Auk::Checkbox
          @label="Wouter Beke"
        />
        <Auk::Checkbox
          @label="Matthias Diependaele"
        />
        <Auk::Checkbox
          @label="Lydia Peeters"
        />
        <Auk::Checkbox
          @label="Benjamin Dalle"
        />
        <Auk::Checkbox
          @label="Jeroen Overmere"
        />
      </Auk::CheckboxList>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::ButtonLink
            data-test-publications-filter-cancel
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </Auk::ButtonLink>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary"
            {{on "click" @onCancel}}
          >
            {{t "clear-filter-plural"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @icon="filter"
            @skin="primary"
            {{on "click" @onCancel}}
          >
            {{t "filter-content"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>