<Auk::Modal @size="medium">
  <Auk::Modal::Header @title={{t "filter-content"}} @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <div class="auk-form-group">
      <Auk::CheckboxList>
        <Auk::Checkbox
          @label="Jan Jambon, Minister-president van de Vlaamse Regering, Vlaams minister van Buitenlandse Zaken, Cultuur, ICT en Facilitair Management"
          @checked={{true}}
        />
        <Auk::Checkbox
          @label="Hilde Crevits, Vlaams minister van Economie, Innovatie, Werk, Sociale economie en Landbouw"
        />
        <Auk::Checkbox
          @label="Bart Somers, Vlaams minister van Binnenlands Bestuur, Bestuurszaken, Inburgering en Gelijke Kansen"
        />
        <Auk::Checkbox
          @label="Ben Weyts, Vlaams minister van Onderwijs, Sport, Dierenwelzijn en Vlaamse Rand"
        />
        <Auk::Checkbox
          @label="Zuhal Demir, Vlaams minister van Justitie en Handhaving, Omgeving, Energie en Toerisme"
        />
        <Auk::Checkbox
          @label="Wouter Beke, Vlaams minister van Welzijn, Volksgezondheid, Gezin en Armoedebestrijding"
        />
        <Auk::Checkbox
          @label="Matthias Diependaele, Vlaams minister van Financiën en Begroting, Wonen en Onroerend Erfgoed"
        />
        <Auk::Checkbox
          @label="Lydia Peeters, Vlaams minister van Mobiliteit en Openbare Werken"
        />
        <Auk::Checkbox
          @label="Benjamin Dalle, Vlaams minister van Brussel, Jeugd en Media"
        />
      </Auk::CheckboxList>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::ButtonLink
            data-test-publications-filter-cancel
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </Auk::ButtonLink>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary"
            {{on "click" @onCancel}}
          >
            {{t "clear-filter-plural"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @icon="filter"
            @skin="primary"
            {{on "click" @onCancel}}
          >
            {{t "filter-content"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>