<Auk::Modal @size="medium">
  <Auk::Modal::Header @title={{t "signaturesSection.cancel-signatures"}} @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <div class="auk-content">
      <p>{{t "signaturesSection.confirm-cancel-signatures"}}</p>
      <p class="auk-u-m-0">{{t "util.sure"}}</p>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::ButtonLink
            data-test-publications-filter-cancel
            {{on "click" @onCancel}}
          >
            {{t "util.no-go-back"}}
          </Auk::ButtonLink>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>