<div class="vlc-scroll-wrapper__header">
  <div class="vlc-navbar vlc-navbar--bordered-bottom vlc-hide-on-print">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__justified">
        <div class="vlc-toolbar__item vlc-u-box-model-maximize-width">
          <div class="vl-input-field--inline auk-u-flex auk-u-flex--vertical-center auk-u-flex--justify-between">
            <WebComponents::AuInput
              @icon="search"
              class="auk-input--block"
              type="text"
              data-test-trigger-search-input
              @placeholder={{t "search-placeholder"}}
              @value={{this.searchText}}
              @enter={{this.search}}
              {{on "input" this.debouncedSearch}}
            />
            <button
              type="button"
              data-test-trigger-search-input-trigger
              class="vl-input-field__submit vl-button"
              {{on "click" this.search}}
            >
              <i class="ki-search"></i>
            </button>
          </div>
        </div>
        {{#if this.debouncedSearchTask.isRunning}}
          <div class="vl-loader" role="alert" aria-busy="true"></div>
        {{/if}}
      </div>
    </div>
  </div>
</div>