<div class="vlc-scroll-wrapper">
  <!-- <div class="vlc-scroll-wrapper__header">
    <div
      class="vlc-navbar vlc-navbar--bordered-bottom vlc-navbar--tabs vlc-navbar--tabs-bottom"
    >
      <div class="vl-tabs__wrapper">
        {{agenda/agendaitem/agendaitem-nav
          agendaitem=agendaitem
          activeAgendaItemSection=activeAgendaItemSection
          setAgendaItemSection=(action "setAgendaItemSection")
        }}
      </div>
    </div>
  </div> -->
  <div class="vlc-scroll-wrapper__body">
    <div class="vl-u-spacer-extended">
      <div class="vlc-container">
        <div class="vl-u-spacer--small">
        <div class="vl-u-spacer-extended-bottom-l">
            <div class="vl-u-spacer-extended-bottom-s">
              <h4 class="vl-title vl-title--h4">
                {{model.subject}}
              </h4>
            </div>
            <div class="vlc-hr"></div>
            <div class="vl-u-spacer-extended-bottom-s">
              <h4 class="vl-title vl-title--h4">
                Notificatie
                {{#if (or isAdmin isEditor)}}
                  <button {{action 'showAddNotification'}} class={{concat "vl-button vl-button--tertiary vl-button--icon vl-u-spacer--xsmall"
                  (if model.notification " vl-button--disabled" "")
                  }}
                  disabled={{if model.notification true null}}>
                    <i aria-hidden="true" class="vl-vi vl-vi-add vl-button__icon"></i>
                    <span class="vl-u-hidden"></span>
                  </button>
                {{/if}}
              </h4>
              {{#if model.notification}}
                {{oc/oc-file
                  model=(await model.notification)
                }}
              {{else}}
                <div class="vl-u-spacer-extended-top-s">
                  {{web-components/vl-alert message="Nog geen notificatie beschikbaar"}}
                </div>
              {{/if}}
            </div>
            <div class="vl-u-spacer-extended-bottom-s">
              <h4 class="vl-title vl-title--h4">
                Documenten
                {{#if (or isAdmin isEditor)}}
                  <button  {{action 'showAddDocuments'}} class="vl-button vl-button--tertiary vl-button--icon vl-u-spacer--xsmall">
                    <i aria-hidden="true" class="vl-vi vl-vi-add vl-button__icon"></i>
                    <span class="vl-u-hidden"></span>
                  </button>
                {{/if}}
              </h4>
              {{#if model.documents}}
                {{#each model.documents as |file|}}
                  {{oc/oc-file
                    model=file
                  }}
                {{/each}}
              {{else}}
                <div class="vl-u-spacer-extended-top-s">
                  {{web-components/vl-alert message="Geen documenten beschikbaar"}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if showAddNotification}}
  {{oc/file-uploader onSave=(action 'saveNotification') onCancel=(action 'cancel') onClose=(action 'cancel') multipleFiles=false}}
{{/if}}
{{#if showAddDocuments}}
  {{oc/file-uploader onSave=(action 'saveDocuments') onCancel=(action 'cancel') onClose=(action 'cancel') multipleFiles=true}}
{{/if}}
