<Auk::Modal @size="small" @headerless={{true}}>
  <Auk::Modal::Body>
    <h3 class="auk-h3">{{@title}}</h3>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      {{@message}}
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @bordered={{false}}
    @cancelDisabled={{this.isLoading}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      data-test-alert-dialog-confirm
      @skin={{this.confirmSkin}}
      @icon={{this.confirmIcon}}
      @disabled={{this.isLoading}}
      @loading={{this.confirm.isRunning}}
      {{on "click" (perform this.confirm)}}
    >
      {{this.confirmText}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>