<div {{did-update (perform this.loadAgendaData) @subcase.requestedForMeeting}}>
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "subcase"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if (user-may "manage-cases")}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-subcase-description-edit
                @skin="naked"
                @icon="pencil"
                {{on "click" @onClickEdit}}
              >
                {{t "edit"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
       <div class="auk-u-mb-4">
        <p data-test-subcase-description-subcase-name class="auk-u-text-capitalize">
          {{@subcase.subcaseName}}
        </p>
        <ul class="vlc-status-timeline">
          {{#each this.phases as |phase|}}
            <li
              class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
              data-test-subcase-description-timeline-item
            >
              <div class="vlc-status-timeline__dot"></div>
              {{#if (is-pending phase)}}
                <div class="auk-skeleton auk-skeleton--rectangle" role="alert" aria-busy="true"></div>
              {{else}}
                <div class="vlc-status-timeline__text">
                  {{subcase-timeline-item-text phase=phase}}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-4">
          {{! TODO: modify test-selector strategy to be able to use <Auk::KeyValue> }}
          <div class="auk-key-value-item">
            <div class="auk-key-value-item__label">
              {{t "number-session"}}
            </div>
            <div
              data-test-subcase-description-meeting-number
              class="auk-key-value-item__value"
            >
              {{#if this.latestMeeting.number}}
                {{this.latestMeeting.number}}
              {{else}}
                {{t "no-number-yet"}}
              {{/if}}
            </div>
          </div>
          <div class="auk-key-value-item">
            <div class="auk-key-value-item__label">
              {{t "requested-for-session"}}
            </div>
            <div
              data-test-subcase-description-meeting-planned-start
              class="auk-key-value-item__value"
            >
              {{#if this.latestMeeting.plannedStart}}
                {{t "requested-for-agenda"}}
                {{moment-format this.latestMeeting.plannedStart "DD MMMM YYYY"}}
              {{else}}
                <p>{{t "not-yet-requested"}}</p>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-key-value-item">
            <div class="auk-key-value-item__label">
              {{t "is-on-agenda"}}
            </div>
            <div class="auk-key-value-item__value">
              {{#if this.loadAgendaData.isRunning}}
                <div class="auk-loader" role="alert" aria-busy="true"></div>
              {{else}}
                {{#if this.latestMeeting.plannedStart}}
                  {{#if this.latestAgendaitem.retracted}}
                    {{t "postponed-subcase"}}
                  {{/if}}
                  <AuLink
                    data-test-subcase-description-agenda-link
                    @skin="primary"
                    @route="agenda.agendaitems.agendaitem"
                    @models={{array
                      this.latestMeeting.id
                      this.latestAgenda.id
                      this.latestAgendaitem.id
                    }}
                  >
                    {{moment-format this.latestMeeting.plannedStart "DD MMMM YYYY"}}
                  </AuLink>
                {{else}}
                  {{t "not-yet-on-agenda"}}
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="auk-key-value-item">
            <div class="auk-key-value-item__label">
              {{t "date-last-edited"}}
            </div>
            <div
              data-test-subcase-description-modified
              class="auk-key-value-item__value"
            >
              {{moment-format @subcase.modified "DD MMMM YYYY"}}
            </div>
          </div>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-key-value-item">
            <div class="auk-key-value-item__label">
              {{t "decided-on"}}
            </div>
            <div
              data-test-subcase-description-decided-on
              class="auk-key-value-item__value"
            >
              {{#if (is-empty this.approved)}}
                <div class="auk-skeleton auk-skeleton--rectangle" role="alert" aria-busy="true"></div>
              {{else if this.approved}}
                {{moment-format this.latestMeeting.plannedStart}}
              {{else}}
                {{t "not-yet-decided"}}
              {{/if}}
            </div>
          </div>
          <div class="auk-key-value-item">
            <div class="auk-key-value-item__label">
              {{t "requested-by"}}
            </div>
            <div
              data-test-subcase-description-requested-by
              class="auk-key-value-item__value"
            >
              {{#if
                (or
                  (is-pending @subcase.requestedBy)
                  (is-pending @subcase.requestedBy.person)
                  this.loadAgendaData.isRunning
                )
              }}
                <div class="auk-skeleton auk-skeleton--rectangle" role="alert" aria-busy="true"></div>
              {{else if @subcase.requestedBy}}
                {{@subcase.requestedBy.person.nameToDisplay}}
              {{else if this.showNotYetRequestedMessage}}
                {{t "not-yet-requested"}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
</div>