<div {{did-update (perform this.loadAgendaData)}}>
  <Auk::Panel data-test-subcase-description-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "overview"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if (user-may "manage-cases")}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-subcase-description-edit
                @skin="naked"
                @icon="pencil"
                {{on "click" @onClickEdit}}
              >
                {{t "edit"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="au-u-flex au-u-flex--spaced-small au-u-flex--space-between au-u-flex--vertical-center">
        <AuHeading @level="4" @skin="4">{{t "design-decreet-of" subcaseShortTitle=(capitalize @subcase.shortTitle)}}</AuHeading>
        <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
          {{#if (is-nota @subcase.agendaItemType)}}
            <AuPill @size="small">{{t "note"}}</AuPill>
          {{else}}
            <AuPill @size="small">{{t "text"}}</AuPill>
          {{/if}}
          {{#if @allowEditing}}
            {{#if @subcase.confidential}}
              <AuPill @size="small" @skin="warning" @icon="lock-closed">{{t "limited-access"}}</AuPill>
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if @subcase.title}}
        <p>{{capitalize @subcase.title}}</p>
      {{/if}}
    </Auk::Panel::Body>
    <Auk::Panel::Body>
      <div class="au-o-grid au-o-grid--small au-u-1-1">
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">{{t "subcase"}}</AuHeading>
          <p class="auk-u-mt-1">{{await @subcase.type.label}}</p>
        </div>
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">{{t "is-on-agenda"}}</AuHeading>
          {{#if this.loadAgendaData.isRunning}}
            <Auk::Loader />
          {{else if this.modelsOfMeetings}}
            {{#each this.modelsOfMeetings as |models| }}
              {{#let models.[0] as |meeting|}}
                  {{date-phrase meeting.plannedStart}}{{if (has-next models this.modelsOfMeetings) ", "}}
              {{/let}}
            {{/each}}
          {{else}}
            {{t "not-yet-on-agenda"}}
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">{{t "number-session"}}</AuHeading>
          <p class="auk-u-mt-1">
            {{#if this.loadAgendaData.isRunning}}
                  <Auk::Loader />
              {{else if this.modelsOfMeetings}}
                {{#each this.modelsOfMeetings as |models|}}
                  {{#let models.[0] as |meeting|}}
                    {{meeting.number}}{{if (has-next models this.modelsOfMeetings) ", "}}
                  {{/let}}
                {{/each}}
              {{else}}
                {{t "no-number-yet"}}
              {{/if}}
            </p>
        </div>
        <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
          <AuHeading @level="4" @skin="6">Status</AuHeading>
          {{#if this.loadAgendaData.isRunning}}
            <Auk::Loader />
          {{else if this.canShowDecisionStatus}}
            <Decision::DecisionResultPill
              @decisionResultCode={{this.latestDecisionActivity.decisionResultCode}}
            />
          {{else}}
            {{t "not-yet-decided"}}
          {{/if}}
        </div>
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
</div>