<Auk::Panel class="auk-panel--editing auk-u-mb-8">
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            {{t "subcase"}}
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="auk-u-mb-4">
      <div class="auk-form-group">
        <div class="auk-u-mb-4">
          <AuFieldset as |Fieldset|>
            <Fieldset.legend>{{t "subcase-type"}}</Fieldset.legend>
            <Fieldset.content>
              <AuRadioGroup
                data-test-subcase-description-edit-type
                @alignment="inline"
                @selected={{this.agendaItemType}}
                @onChange={{this.onChangeAgendaItemType}}
                as |Group|
              >
                {{#each this.agendaItemTypes as |type|}}
                  <Group.Radio
                    @value={{type}}
                  >
                    {{type.label}}
                  </Group.Radio>
                {{/each}}
              </AuRadioGroup>
            </Fieldset.content>
          </AuFieldset>
        </div>
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-type-dropdown"}}</Auk::Label>
        <Utils::ModelSelector
          @modelName="subcase-type"
          @searchField="label"
          @sortField="label"
          @displayField="label"
          @selected={{this.subcaseType}}
          @onChange={{this.selectSubcaseType}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "subcase-name"}}</Auk::Label>
        <AuInput
          @width="block"
          @value={{mut this.subcaseName}}
        />
      </div>
    </div>
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-subcase-description-edit-save
            @skin="primary"
            @loading={{this.isSaving}}
            {{on "click" this.saveChanges}}
          >
            {{t "save"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>