<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    {{agendaitems/agendaitems-filter
        size=size
        searchText=(readonly searchText)
        ministerName=(readonly mandatees)
        dateFrom=(or dateFrom null)
        dateTo=(or dateTo null)
        announcementsOnly=(readonly announcementsOnly)
        filter=(action "filterAgendaitems")
    }}
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h2 class="vl-title vl-title--h3">{{t "agendaitems"}}</h2>
        </div>
      </div>

      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item vl-u-display-flex vl-u-flex-align-center">
          <label class="vl-form__label vl-u-spacer-extended-right-s" for="agenditemPageNumber">
            {{t "agendaitems-page-size"}}
          </label>
          {{#power-select
               options=sizeOptions
               selected=size
               searchEnabled=false
               onchange=(action "selectSize") as |sizeValue|
          }}
            {{sizeValue}}
          {{/power-select}}
        </div>
      </div>
    </div>
    {{#data-table
         content=model
         page=page
         size=size
         class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
         onClickRow=(action "navigateToAgendaitem")
         noDataMessage=(t "agendaitems-empty-result")
         isLoading=isLoadingModel as |table|
    }}
      {{#table.content as |c|}}
        {{#c.header}}
          <th
            class="vl-data-table-col-7 vl-data-table__header-title">
            {{t "agendaitem-table-header"}}
          </th>
          <th
            class="vl-data-table-col-1 vl-data-table__header-title">
            {{t "agendaitem-type"}}
          </th>
          <th
            class="vl-data-table-col-1 vl-data-table__header-title">
            {{t "agenda-version"}}
          </th>
          {{th-sortable
            class="vl-data-table-col-1 vl-data-table__header-title"
            currentSorting=sort
            field="sessionDates"
            label=(t "on-agenda-of")
          }}
          <th class="vl-data-table-col-1"></th>
        {{/c.header}}
        {{#c.body class="tr-hover" as |row|}}
          <td>
            {{#if row.shortTitle}}
              {{row.shortTitle}}
            {{else}}
              {{row.title}}
            {{/if}}
          </td>
          <td>
            {{#if (eq row.showAsAnnouncement "true")}}
              {{capitalize (t "announcement")}}
            {{else}}
              {{t "note"}}
            {{/if}}
          </td>
          <td>
            {{#if (eq row.agendaName.length 1)}}
              {{t "agenda"}} {{row.agendaName}}
            {{else}}
              {{row.agendaName}}
            {{/if}}
          </td>
          <td>
            {{moment-format row.sessionDates "DD-MM-YYYY"}}
          </td>
          <td class="vl-u-align-right">
            {{#link-to
                 "agenda.agendaitems.agendaitem"
                 row.meetingId row.id
                 (query-params selectedAgenda=row.agendaId)
                 class="vl-button vl-button--link vl-button--icon"
            }}
              <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
            {{/link-to}}
          </td>
        {{/c.body}}
      {{/table.content}}
    {{/data-table}}
  </div>
</div>
{{outlet}}