<Auk::Modal
  @size="medium">
  <Auk::Modal::Header
    @title={{t "add-contact"}}
    @onClose={{@onCancel}}
    @closeDisabled={{this.save.isRunning}}/>
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
      <div class="au-c-form">
        <div class="auk-o-grid">
          <div class="auk-o-grid-col-6">
            <AuFormRow>
              <AuLabel
                for="firstNameInput"
                @required={{true}}
                @error={{this.validators.firstName.showError}}
              >
                {{t "first-name"}}
              </AuLabel>
              <AuInput
                data-test-contact-person-add-first-name
                id="firstNameInput"
                value={{this.firstName}}
                @width="block"
                @error={{this.validators.firstName.showError}}
                {{on "input" this.onInputFirstName}}
              />
            </AuFormRow>
          </div>
          <div class="auk-o-grid-col-6">
            <AuFormRow>
              <AuLabel
                for="lastNameInput"
                @required={{true}}
                @error={{this.validators.lastName.showError}}
              >
                {{t "last-name"}}
              </AuLabel>
              <AuInput
                data-test-contact-person-add-last-name
                id="lastNameInput"
                value={{this.lastName}}
                @width="block"
                @error={{this.validators.lastName.showError}}
                {{on "input" this.onInputLastName}}
              />
            </AuFormRow>
          </div>
        </div>
        <AuFormRow>
          <AuLabel for="emailInput">
            {{t "email"}}
          </AuLabel>
          <AuInput
            data-test-contact-person-add-email
            id="emailInput"
            value={{this.email}}
            @width="block"
            {{on "input" (pick "target.value" (set this "email"))}}
          />
        </AuFormRow>
        <AuFormRow>
          <AuLabel for="organizationInput">
            {{t "organization"}}
          </AuLabel>
          <div data-test-contact-person-select-organization class="auk-o-flex">
            <PowerSelect
              @options={{this.organizations}}
              @selected={{this.organization}}
              @searchEnabled={{true}}
              @search={{perform this.searchOrganizations}}
              @noMatchesMessage={{t "organizations-empty-result"}}
              @placeholder={{t "search-organization"}}
              @onChange={{this.setOrganization}}
              @allowClear={{true}}
              @triggerId="organizationInput"
              as |organization|>
              {{ organization.name }}
            </PowerSelect>
            <AuButton
              data-test-contact-person-add-organization
              @skin="primary"
              @icon="plus"
              @hideText={{true}}
              class="auk-o-flex__item--fix auk-u-ml-2"
              {{on "click" this.openOrganizationAddModal}}
            >
              {{t "add-organization"}}
            </AuButton>
          </div>
        </AuFormRow>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}} @cancelDisabled={{this.save.isRunning}}>
    <AuButton
      data-test-contact-person-add-submit
      @skin="primary"
      @icon="plus"
      @disabled={{not this.validators.areValid}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "add"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>

{{#if this.isOpenOrganizationAddModal}}
  <Publications::Publication::Case::ContactPersons::OrganizationAddModal
    @onCancel={{this.closeOrganizationAddModal}}
    @onSave={{this.addOrganization}} />
{{/if}}