<Auk::Modal
  @size="medium">
  <Auk::Modal::Header
    @title={{t "add-contact"}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group auk-form-group--grid">
          <div class={{this.validators.firstName.errorClass}}>
            <Auk::Label for="firstNameInput" @required={{true}}>
              {{t "first-name"}}
            </Auk::Label>
            <AuInput
              data-test-contact-person-add-first-name
              @width="block"
              @value={{this.firstName}}
              {{on "input" this.validators.firstName.enableError}}
              id="firstNameInput"
            />
          </div>
          <div class={{this.validators.lastName.errorClass}}>
            <Auk::Label for="lastNameInput" @required={{true}}>
              {{t "last-name"}}
            </Auk::Label>
            <AuInput
              data-test-contact-person-add-last-name
              @width="block"
              @value={{this.lastName}}
              {{on "input" this.validators.lastName.enableError}}
              id="lastNameInput"
            />
          </div>
        </div>
        <div class="auk-form-group">
          <Auk::Label for="emailInput">{{t "email"}}</Auk::Label>
          <AuInput
            data-test-contact-person-add-email
            @width="block"
            @value={{this.email}}
            id="emailInput"
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label>
            {{t "organization"}}
          </Auk::Label>
          <div data-test-contact-person-select-organization class="auk-o-flex">
            <PowerSelect
              @options={{this.organizations}}
              @selected={{this.organization}}
              @searchEnabled={{true}}
              @search={{perform this.searchOrganizations}}
              @noMatchesMessage={{t "organizations-empty-result"}}
              @placeholder={{t "search-organization"}}
              @onChange={{this.setOrganization}}
              @allowClear={{true}}
              as |organization|>
              {{ organization.name }}
            </PowerSelect>
            <AuButton
              data-test-contact-person-add-organization
              @skin="primary"
              @icon="plus"
              @hideText={{true}}
              class="auk-o-flex__item--fix auk-u-ml-2"
              {{on "click" this.openOrganizationAddModal}}
            >
              {{t "add-organization"}}
            </AuButton>
          </div>
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            @disabled={{this.save.isRunning}}
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-contact-person-add-submit
            @skin="primary"
            @icon="plus"
            @disabled={{or
              (not this.validators.areValid)
              this.save.isRunning
            }}
            @loading={{this.save.isRunning}}
            {{on "click" (perform this.save)}}
          >
            {{t "add"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>

{{#if this.isOpenOrganizationAddModal}}
  <Publications::Publication::Case::ContactPersons::OrganizationAddModal
    @onCancel={{this.closeOrganizationAddModal}}
    @onSave={{this.addOrganization}} />
{{/if}}