<Auk::Modal
  @size="medium">
  <Auk::Modal::Header
    @title={{t "add-organization"}}
    @onClose={{@onCancel}}
    @closeDisabled={{this.save.isRunning}}/>
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
      <div class="au-c-form">
        <AuFormRow>
          <AuLabel
            for="organizationNameInput"
            @required={{true}}
            @error={{this.validators.name.showError}}
          >
            {{t "name"}}
          </AuLabel>
          <AuInput
            data-test-organization-add-name
            id="organizationNameInput"
            value={{this.name}}
            @width="block"
            @error={{this.validators.name.showError}}
            {{on "input" this.onInputName}}
          />
        </AuFormRow>
        <AuFormRow>
          <AuLabel for="organizationIdentifierInput">
            {{t "identifier"}} ({{t "ovo-code"}})
          </AuLabel>
          <AuInput
            id="organizationIdentifierInput"
            value={{this.identifier}}
            @width="block"
            {{on "input" (pick "target.value" (set this "identifier"))}}
          />
        </AuFormRow>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{@onCancel}}
    @cancelDisabled={{this.save.isRunning}}
    data-test-organization-add-cancel
  >
    <AuButton
      data-test-organization-add-submit
      @skin="primary"
      @icon="plus"
      @disabled={{not this.validators.areValid}}
      @loading={{this.save.isRunning}}
     {{on "click" (perform this.save)}}
    >
      {{t "add"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>
