<Auk::Modal
  @size="medium">
  <Auk::Modal::Header
    @title={{t "add-organization"}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
      <div class="au-c-form">
        <AuFormRow class={{this.validators.name.errorClass}}>
          <Auk::Label for="organizationNameInput"
            @required={{true}}>
            {{t "name"}}
          </Auk::Label>
          <AuInput
            data-test-organization-add-name
            @width="block"
            @value={{this.name}}
            {{on "input" this.validators.name.enableError}}
            id="organizationNameInput"
          />
        </AuFormRow>
        <AuFormRow>
          <Auk::Label for="organizationIdentifierInput">
            {{t "identifier"}} ({{t "ovo-code"}})
          </Auk::Label>
          <AuInput
            @width="block"
            @value={{this.identifier}}
            id="organizationIdentifierInput"
          />
        </AuFormRow>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-organization-add-cancel
            @skin="naked"
            @disabled={{this.save.isRunning}}
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-organization-add-submit
            @skin="primary"
            @icon="plus"
            @disabled={{not this.validators.areValid}}
            @loading={{this.save.isRunning}}
            {{on "click" (perform this.save)}}
          >
            {{t "add"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>
