<Auk::Modal
  @size="medium">
  <Auk::Modal::Header
    @title={{t "add-organization"}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group {{this.validators.name.errorClass}}">
          <Auk::Label for="organizationNameInput"
            @required={{true}}>
            {{t "name"}}
          </Auk::Label>
          <Auk::Input data-test-organization-add-name id="organizationNameInput"
            @block={{true}}
            @value={{this.name}}
            {{on "input" this.validators.name.enableError}} />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="organizationIdentifierInput">
            {{t "identifier"}} ({{t "ovo-code"}})
          </Auk::Label>
          <Auk::Input id="organizationIdentifierInput"
            @block={{true}}
            @value={{this.identifier}} />
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-organization-add-cancel
            @skin="naked"
            @disabled={{this.save.isRunning}}
            {{on "click" @onCancel}}
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-organization-add-submit
            @skin="primary"
            @icon="plus"
            @disabled={{not this.validators.areValid}}
            @loading={{this.save.isRunning}}
            {{on "click" (perform this.save)}}
          >
            {{t "add"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>
