<div class="vl-modal-dialog__content">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "propose-for")}}
    {{web-components/vl-datepicker
      dateObjectsToEnable=(await dateObjectsToEnable)
      datePropertyToUse="plannedStart"
      dateChanged=(action "selectStartDate")
    }}
  </div>
</div>
<div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <button
          class="vl-button vl-button--link vl-button--narrow"
          {{action "cancel"}}
        >
          {{t "cancel"}}
        </button>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <button
          class="vl-button vl-button--narrow"
          {{action "assignToMeeting" subcase}}
        >
          {{t "save"}}
        </button>
      </div>
    </div>
  </div>
</div>