{{!-- template-lint-disable  --}}
<div class="vlc-kitchensink-sample">
  <div class="c-content">
    <h3 class="vlc-kitchensink-sample__header">{{@title}}</h3>
    {{#if @description}}
      {{format-markdown @description}}
    {{/if}}
  </div>

  <div class="vlc-kitchensink-sample__sample">
    {{yield}}
  </div>

  {{#if (or @code @snippet)}}
    <button type="button" class="vl-button vl-button--link-muted" {{on "click" this.toggleVisibility}}>Toggle code</button>
  {{/if}}

  {{#unless this.visibility}}

    {{#if @code}}
      <CodeBlock
        class="vlc-kitchensink-code-block"
        @code={{@code}}
        @language="markup"
      />
    {{/if}}

    {{#if @snippet}}

      {{#let (get-code-snippet @snippet) as |snippet|}}
        <CodeBlock
          class="vlc-kitchensink-code-blocks"
          @code={{snippet.source}}
          @language="markup"
        />
      {{/let}}

    {{/if}}


  {{/unless}}
</div>