<div class={{this.agendaitemsClass}}>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    <Agenda::AgendaitemSearch
      @searchText={{readonly this.filter}}
      @onSearch={{this.searchAgendaitems}}
    />
    <div class="vlc-scroll-wrapper__body vlc-hide-on-print">
      {{#if isOverviewWindow}}
      {{!-- await for both announcements and agendaitems is needed to have scrolling to selected agendaitem --}}
        <Agenda::AgendaOverview
          @notas={{this.filteredNotas}}
          @announcements={{this.filteredAnnouncements}}
          @currentAgenda={{this.agenda}}
          @previousAgenda={{this.previousAgenda}}
          @onReorderAgendaitems={{perform this.assignNewPriorities}}
          @showModifiedOnly={{this.showModifiedOnly}}
          @toggleShowModifiedOnly={{this.toggleShowModifiedOnly}}
        />
        {{#if this.assignNewPriorities.isRunning}}
          <WebComponents::AuLoadingOverlay/>
        {{/if}}
      {{else}}
        <Agenda::AgendaDetail::Sidebar
          @announcements={{await this.filteredAnnouncements}}
          @agendaitems={{await this.filteredNotas}}
          @currentAgenda={{this.agenda}}
        />
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}