<div class={{this.agendaitemsClass}}>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    <Agenda::AgendaitemSearch
      @searchText={{readonly this.filter}}
      @onSearch={{this.searchAgendaitems}}
    />
    <div class="vlc-scroll-wrapper__body vlc-hide-on-print">
      {{#if isOverviewWindow}}
      {{!-- await for both announcements and agendaitems is needed to have scrolling to selected agendaitem --}}
        <Agenda::AgendaOverview
          @announcements={{await this.sortedAnnouncements}}
          @agendaitems={{await this.sortedAgendaitems}}
          @currentAgenda={{this.agenda}}
        />
      {{else}}
        <Agenda::AgendaDetail::Sidebar
          @announcements={{await this.sortedAnnouncements}}
          @agendaitems={{await this.sortedAgendaitems}}
          @currentAgenda={{this.agenda}}
        />
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}