<div class={{agendaitemsClass}}>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    {{agenda/agendaitem-search
      searchText=(readonly filter)
      onSearch=(action "searchAgendaitems")
    }}
    <div class="vlc-scroll-wrapper__body vlc-hide-on-print">
      {{#if isOverviewWindow }}
        {{agenda/agenda-overview
          announcements=sortedAnnouncements
          agendaitems=(await sortedAgendaitems)
          currentAgenda=(await model.currentAgenda)
          selectedAgendaitem=selectedAgendaitem
          filteredAgendaitems=filteredAgendaitems
        }}
      {{else}}
        {{agenda/agenda-detail/sidebar
          announcements=sortedAnnouncements
          agendaitems=(await sortedAgendaitems)
          currentAgenda=(await model.currentAgenda)
          filteredAgendaitems=filteredAgendaitems
        }}
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}