{{#if this.isAgendaitemDetailRoute}}
  <div class="auk-panel-layout__agenda-items">
    <div class="auk-sidebar auk-sidebar--gray-100 auk-sidebar--left auk-u-maximize-width">
      <div class="auk-scroll-wrapper">
        <div class="au-u-padding-tiny">
          <Agenda::AgendaitemSearch
            @searchText={{readonly this.filter}}
            @onSearch={{this.searchAgendaitems}}
          />
        </div>
        <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical auk-u-hidden@print">
          <Agenda::AgendaDetail::Sidebar
            @notaGroups={{this.notaGroups}}
            @isLoadingNotaGroups={{this.groupNotasOnGroupName.isRunning}}
            @announcements={{this.model.announcements}}
            @newItems={{this.model.newItems}}
            @currentAgenda={{this.agenda}}
            @showModifiedOnly={{this.showModifiedOnly}}
            @toggleShowModifiedOnly={{this.toggleShowModifiedOnly}}
            @activeItem={{this.selectedAgendaitem}}
          />
        </div>
      </div>
    </div>
  </div>
  <div class="auk-panel-layout__main-content">
    {{outlet}}
  </div>
{{else}}
  <div
    id={{this.id}}
    class="auk-panel-layout__main-content auk-u-bg-alt"
    >
    <div class="auk-scroll-wrapper">
      <Auk::Navbar @skin="gray-100" class="vlc-hide-on-print">
        <Auk::Toolbar @auto={{true}}>
          <Auk::Toolbar::Group @position="left">
            <Agenda::AgendaitemSearch
              @searchText={{readonly this.filter}}
              @onSearch={{this.searchAgendaitems}}
            />
            {{#if this.agenda.isDesignAgenda}}
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-agenda-overview-formally-ok-edit={{true}}
                class="vlc-agenda-items-section-header__link"
                {{on "click" this.toggleIsEditingOverview}}
              >
                {{#if this.isEditingOverview}}
                Volgorde toepassen
                {{else}}
                Volgorde aanpassen
                {{/if}}
              </Auk::Button>
            </Auk::Toolbar::Item>
            {{/if}}
         </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Navbar>
      <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical auk-u-hidden@print">
        {{#if this.loadDocuments.isRunning}}
          <Auk::Loader @message={{this.documentLoadingMessage}} />
        {{else}}
          <Agenda::AgendaOverview
            @isEditingOverview={{this.isEditingOverview}}
            @notaGroups={{this.notaGroups}}
            @isLoadingNotaGroups={{this.groupNotasOnGroupName.isRunning}}
            @announcements={{this.model.announcements}}
            @newItems={{this.model.newItems}}
            @meeting={{this.meeting}}
            @currentAgenda={{this.agenda}}
            @previousAgenda={{this.previousAgenda}}
            @onReorderAgendaitems={{perform this.assignNewPriorities}}
            @showModifiedOnly={{this.showModifiedOnly}}
            @toggleShowModifiedOnly={{this.toggleShowModifiedOnly}}
          />
          {{#if this.assignNewPriorities.isRunning}}
            <WebComponents::LoadingOverlay />
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}