<div class="auk-o-flex auk-u-mb l-printable-agenda__item-header">
  <div class="l-printable-agenda__header-prefix">
    {{@item.number}}.
  </div>
  {{! The following line is formatted on a single line because of the way browsers treat whitespaces & breaks in combination with `white-space: pre-line` }}
  {{! prettier-ignore }}
  <h4 class="auk-u-m-0 auk-u-text-pre-line"><SanitizeHtml @raw={{true}} @value={{if @item.shortTitle @item.shortTitle @item.title}}/></h4>
</div>
<div class="auk-u-mb-4 l-printable-agenda__item-indented">
  {{#if @item.title}}
    {{! The following line is formatted on a single line because of the way browsers treat whitespaces & breaks in combination with `white-space: pre-line` }}
    {{! prettier-ignore }}
    <p class="auk-u-m-0 l-printable-agenda__description auk-u-text-pre-line"><SanitizeHtml @raw={{true}} @value={{@item.title}} /></p>
  {{/if}}
  {{#let @item.treatment.decisionActivity as |decisionActivity| }}
    <div
      class="{{if
          (or decisionActivity.isPostponed decisionActivity.isRetracted @item.agendaActivity.subcase.confidential)
          "auk-u-mt-2 au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center"
        }}"
    >
      {{#if @item.agendaActivity.subcase.confidential}}
        <AuPill @size="small" @skin="danger" @icon="lock-closed">
          {{t "limited-access"}}
        </AuPill>
      {{/if}}
      {{#if decisionActivity.isPostponed}}
        <AuPill @size="small">{{t "postponed"}}</AuPill>
      {{/if}}
      {{#if decisionActivity.isRetracted}}
        <AuPill @size="small">{{t "retracted"}}</AuPill>
      {{/if}}
    </div>
  {{/let}}
</div>