<div class="auk-u-m-4">
  {{page-title (t "publication-details-tab-decisions")}}
  <Publications::Publication::Decisions::Info::DecisionsInfoPanel
    @publicationFlow={{this.publicationFlow}}
  />

  <Publications::Publication::Decisions::ReferenceDocuments::ReferenceDocumentsPanel
    @referenceDocuments={{@model}}
    @publicationFlow={{this.publicationFlow}}
    @refresh={{this.refreshModel}}
  />
</div>