{{#web-components/vl-modal
  closeModal=(action "closeDialog")
  isOverlay=true
  title=(t "create-announcement")
}}
  <div class="vl-modal-dialog__content">
    <div class="vlc-scroll-wrapper__body">
      <form>
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value=(t "title")}}
          {{web-components/vl-form-input width="4" value=title}}
        </div>
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value=(t "text")}}
          {{textarea class="vl-textarea vl-textarea--block" rows="6" value=text
          }}
        </div>
        <div class="vlc-input-field-block">
          {{file-uploader uploadedFile=(action "uploadedFile")}}
        </div>
        <div class="vlc-input-field-block">
          {{#if (not uploadedFiles.length eq "0")}}
            <h4 class="vl-title vl-title--h4">
              {{t "attachements"}}
            </h4>
          {{/if}}
          {{subcases/edit-documents uploadedFiles=uploadedFiles}}
          {{#if (not nonDigitalDocuments.length eq "0")}}
            <h4 class="vl-title vl-title--h4">
              {{t "non-digital-attachements"}}
            </h4>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    cancelButtonText=(t "cancel")
    saveButtonText=(t "create-announcement")
    cancelAction=(action "closeDialog")
    saveAction=(action "createAnnouncement")
  }}
{{/web-components/vl-modal}}