<form class="vl-form">
  {{web-components/vl-form-label value=(t "announcement.title")}}
  {{web-components/vl-form-input value=title}}
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "announcement.text")}}
    {{textarea class="vl-textarea vl-textarea--block" rows="4" value=text}}
  </div>
</form>
<button class="vl-button" {{action "createAnnouncement"}}>
  {{t "buttons.create-announcement"}}
</button>