<form class="vl-form">
  <div class="vl-form-grid">
    {{web-components/vl-form-label value=(t "announcement.title")}}
    {{web-components/vl-form-input value=title}}
    <div class="vl-col--4-4">
      {{web-components/vl-form-label value=(t "announcement.text")}}
      {{textarea
        class="vl-textarea vl-textarea--block"
        rows="4"
        value=text
      }}
    </div>
  </div>
</form>
<button class="vl-button" {{action "createAnnouncement"}}>
  {{t "buttons.create-announcement"}}
</button>