{{#web-components/vl-modal
  closeModal=(action "closeDialog")
  isOverlay=true
  title=(t "create-announcement")
}}
  <div class="vl-modal-dialog__content">
    <div class="vlc-scroll-wrapper__body">
      <form>
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value=(t "title")}}
          {{web-components/vl-form-input width="4" value=title}}
        </div>
        <div class="vlc-input-field-block">
          {{web-components/vl-form-label value=(t "text")}}
          {{textarea class="vl-textarea vl-textarea--block" rows="6" value=text
          }}
        </div>
        <div class="vlc-input-field-block">
          {{file-uploader
            isLoading=isLoading
            uploadedFile=(action "uploadedFile")
          }}
          {{#if (not isLoading)}}
            {{#each uploadedFiles as |uploadedFile|}}
              {{web-components/vl-uploaded-document
                file=uploadedFile
                subcase=item
                uploadedFiles=uploadedFiles
              }}
            {{/each}}
          {{else}}
            {{web-components/vl-loader text=(t "documents-loading-text")}}
          {{/if}}
        </div>
      </form>
    </div>
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    cancelButtonText=(t "cancel")
    saveButtonText=(t "create-announcement")
    cancelAction=(action "closeDialog")
    saveAction=(action "createAnnouncement")
  }}
{{/web-components/vl-modal}}