<Documents::DocumentList
  @pieces={{@pieces}}
  @onOpenUploadModal={{@onOpenUploadModal}}
  @onAddPiece={{@onAddPiece}}
  @didDeletePiece={{@didDeletePiece}}
  @didDeleteContainer={{@didDeleteContainer}}
as |documents|>
  {{#each documents as |doc|}}
    <Documents::DocumentCard
      @documentContainer={{doc.documentContainer}}
      @lastPiece={{doc}}
      @didDeletePiece={{@didDeletePiece}}
      @didDeleteContainer={{@didDeleteContainer}}
      @onOpenUploadModal={{@onOpenUploadModal}}
      @onAddPiece={{@onAddPiece}} />
  {{else}}
    {{#if this.groupDocumentsByContainer.lastSuccessful}}
      <div class="auk-u-mt-2">
        <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
      </div>
    {{/if}}
  {{/each}}
</Documents::DocumentList>