{{page-title
  (if this.showDraft "Klad ")
  (t "newsletter-overview-pdf-name")
  " "
  (moment-format this.meeting.plannedStart "DD-MM-YYYY")
  replace=true
}}
<div class="vlc-scroll-wrapper__body vlc-hide-scrollbar-on-print">
  <div class="vl-u-spacer-extended-l">
    <div class="vlc-container-center">
      <Utils::LogoHeader/>
      <Newsletter::NewsletterMeeting
        @allowEditing={{not this.showDraft}}
        @meeting={{this.meeting}}
      />
      <h2 class="vl-title vl-title--h2">
        {{t "agendaitems-subtitle"}}
      </h2>
      {{#each (await model.notas) as |agendaitem index|}}
        {{#let (add index 1) as |humanIndex|}}
          <Newsletter::NewsletterItem
            @showIndex={{this.showDraft}}
            @allowEditing={{this.showDraft}}
            @itemIndex={{if this.showDraft agendaitem.number humanIndex}}
            @agendaitem={{agendaitem}}
            @newsletterInfo={{await agendaitem.treatments.firstObject.newsletterInfo}}
          />
        {{/let}}
      {{/each}}
      {{#if (await model.announcements.length)}}
        <h2 class="vl-title vl-title--h2">
          {{t "announcements-subtitle"}}
        </h2>
        {{#each (await model.notas) as |agendaitem|}}
          <Newsletter::NewsletterItem
            @showIndex={{this.showDraft}}
            @itemIndex={{agendaitem.number}}
            @allowEditing={{this.showDraft}}
            @agendaitem={{announcement}}
            @newsletterInfo={{await agendaitem.treatments.firstObject.newsletterInfo}}
          />
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>