{{title (await documentTitle) replace=true}}
<div class="vlc-scroll-wrapper__body vlc-hide-scrollbar-on-print">
  <div class="vl-u-spacer-extended-l">
    <div class="vlc-container-center">
      {{utils/logo-header}}
      {{newsletter/newsletter-meeting
        definite=(not this.showDraft)
        title=(await title)
        meeting=(await model.meeting)
      }}
      <h2 class="vl-title vl-title--h2">
        {{t "agendaitems-subtitle"}}
      </h2>
      {{#if (eq definite "true")}}
        {{#each (await model.groups) as |group|}}
          {{#each group.agendaitems as |agendaitem|}}
            {{newsletter/newsletter-item
              agenda=(await model.agenda)
              itemIndex=agendaitem.itemIndex
              definite=(not this.showDraft)
              agendaitem=agendaitem
              newsletterInfo=(await agendaitem.treatments.firstObject.newsletterInfo)
            }}
          {{/each}}
        {{/each}}
      {{else}}
        {{#each (await model.agendaitems) as |agendaitem|}}
          {{newsletter/newsletter-item
            agenda=(await model.agenda)
            definite=(not this.showDraft)
            agendaitem=agendaitem
            newsletterInfo=(await agendaitem.treatments.firstObject.newsletterInfo)
          }}
        {{/each}}
      {{/if}}
      {{#if (await model.announcements.length)}}
        <h2 class="vl-title vl-title--h2">
          {{t "announcements-subtitle"}}
        </h2>
        {{#each (await model.announcements) as |announcement|}}
          {{newsletter/newsletter-item
            agenda=(await model.agenda)
            definite=(not this.showDraft)
            agendaitem=announcement
            newsletterInfo=(await agendaitem.treatments.firstObject.newsletterInfo)
          }}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>