<div class="auk-box">
  {{!-- Editor with annotated decision  text will come somwhere around here in the future --}}
  <div class="auk-form-group auk-u-mb-4"
      data-test-agendaitem-decision-edit-result-container
  >
    <Auk::Label>{{t "result-decision"}}</Auk::Label>
    <Decision::DecisionResultSelect
      @selected={{this.treatment.decisionResultCode}}
      @onChange={{this.changeDecisionResultCode}}
    />
  </div>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{!-- TODO: replace by link-styled button once css available --}}
        <a
          href="javascript://"
          class="auk-button-link"
          {{on "click" this.cancelEdit}}
        >
          <span class="auk-button__content">
            {{t "cancel"}}
          </span>
        </a>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::VlSaveButton
          @text={{t "save"}}
          @isLoading={{this.saveTreatment.isRunning}}
          @saveAction={{perform this.saveTreatment}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>