<Auk::Panel class="auk-u-mb-2">
  <Auk::Panel::Header
    @size="auto"
    class="{{if this.isEditing 'au-u-background-gray-100'}}"
  >
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left">
        <h4 class="auk-toolbar__title">
          {{t "decision-title"}}
        </h4>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>

  {{#if this.report}}
  <Auk::Panel::Body>
    {{#if this.onCreateNewVersion.isIdle}}
      <Documents::DocumentCard
        @piece={{this.report}}
        @isEditable={{true}}
        @agendaContext={{@agendaContext}}
        @hideNewerVersions={{true}}
        @hideEdit={{true}}
        @showMockupSign={{true}}
        @hideUpload={{true}}
        @showCreateNewVersion={{true}}
        @onCreateNewVersion={{perform this.onCreateNewVersion}}
        @bordered={{true}}
        @didDeleteContainer={{this.didDeleteReport}}
        @label={{'created-on'}}
      />
    {{else}}
      <Auk::Loader />
    {{/if}}
  </Auk::Panel::Body>
  {{/if}}

  <Auk::Panel::Body>
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item class="auk-content">
          <h4 class="auk-u-mb-2">{{t "result-decision"}}</h4>
          {{#if (not this.isEditingPill)}}
            <Decision::DecisionResultPill
              @decisionResultCode={{@decisionActivity.decisionResultCode}}
              @isEditable={{user-may "manage-decisions"}}
              @onEdit={{this.toggleEditPill}}
            />
          {{else}}
            <Agenda::Agendaitem::AgendaitemDecisionEdit
              @decisionActivity={{@decisionActivity}}
              @onSave={{perform this.onDecisionEdit}}
              @onCancel={{this.toggleEditPill}}
            />
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Body>
</Auk::Panel>

<Auk::Panel class="auk-u-mb-2">
  <Auk::Panel::Header
    @size="auto"
    class="{{if this.isEditingConcerns 'au-u-background-gray-100'}}"
  >
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left">
        <h4 class="auk-toolbar__title">
          {{t "concerns"}}:
        </h4>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        {{#if
          (not this.isEditingConcerns)
        }}
          <Group.Item>
            <AuButton
              data-test-agendaitem-decision-create
              @skin="naked"
              @icon="pencil"
              @iconAlignment="left"
              @disabled={{this.exportPdf.isRunning}}
              {{on "click" this.startEditingConcerns}}
            >
              {{t (if this.report "edit" "create")}}
            </AuButton>
          </Group.Item>
        {{/if}}
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  {{#if this.loadReport.isIdle}}
    {{#if this.isEditingConcerns}}
      <Auk::Panel::Body
        class="au-o-flow {{if this.isEditingConcerns 'au-u-background-gray-100'}}"
      >
        <SayEditor
          @size="small"
          @allowFullscreen={{true}}
          @title={{t "concerns"}}
          @handleRdfaEditorInit={{this.handleRdfaEditorInitBetreft}}
        >
          <:header>
            <AuButton
              @skin="link"
              @icon="renew"
              class="au-u-padding-left-none"
              {{on "click" this.updateBetreftContent}}
            >{{t "update-thing" thing=(t "content")}}</AuButton>
            <VersionsDropdown
              @record={{this.betreftPiecePart}}
              @previousVersionKey="previousPiecePart"
              @onVersionClicked={{this.onRevertBetreftVersion}}
            />
          </:header>
        </SayEditor>
      </Auk::Panel::Body>
      <Auk::Panel::Footer class="au-u-background-gray-100">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <AuButton
                @skin="naked"
                {{on "click" (set this "isEditingConcerns" false)}}
              >
                {{t "cancel"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-agendaitem-decision-save
                @disabled={{this.disableSaveButtonConcerns}}
                @skin="primary"
                @loading={{this.onSaveReport.isRunning}}
                {{on "click" (perform this.onSaveReport)}}
              >
                {{t "update"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    {{else}}

      <Auk::Panel::Body
        class="au-o-flow {{if this.isEditingConcerns 'au-u-background-gray-100'}}"
      >
        <AuContent @size="small">
          <SanitizeHtml
            @raw={{true}}
            @value={{this.betreftPiecePart.value}}
          />
        </AuContent>
      </Auk::Panel::Body>
    {{/if}}
  {{else}}
    <Auk::Panel::Body
      class="au-o-flow {{if this.isEditingConcerns 'au-u-background-gray-100'}}"
    >
      <Auk::Loader />
    </Auk::Panel::Body>
  {{/if}}
</Auk::Panel>

<Auk::Panel class="auk-u-mb-2">
  <Auk::Panel::Header
    @size="auto"
    class="{{if this.isEditingTreatment 'au-u-background-gray-100'}}"
  >
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left">
        <h4 class="auk-toolbar__title">
          {{t "agenda-item-treatment"}}:
        </h4>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        {{#if
          (not this.isEditingTreatment)
        }}
          <Group.Item>
            <AuButton
              data-test-agendaitem-decision-create
              @skin="naked"
              @icon="pencil"
              @iconAlignment="left"
              @disabled={{this.exportPdf.isRunning}}
              {{on "click" this.startEditingTreatment}}
            >
              {{t (if this.report "edit" "create")}}
            </AuButton>
          </Group.Item>
        {{/if}}
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  {{#if this.loadReport.isIdle}}
    {{#if this.isEditingTreatment}}
      <Auk::Panel::Body
        class="au-o-flow {{if this.isEditingTreatment 'au-u-background-gray-100'}}"
      >
        <SayEditor
          @allowFullscreen={{true}}
          @title={{t "agendaitem-decision"}}
          @handleRdfaEditorInit={{this.handleRdfaEditorInitBeslissing}}
        >
          <:header>
            <AuButton
              @skin="link"
              @icon="renew"
              class="au-u-padding-left-none"
              @loading={{this.loadNota.isRunning}}
              @disabled={{not this.nota}}
              {{on "click" this.updateBeslissingContent}}
            >{{t "update-thing" thing=(t "content")}}</AuButton>
            <VersionsDropdown
              @record={{this.beslissingPiecePart}}
              @previousVersionKey="previousPiecePart"
              @onVersionClicked={{this.onRevertBeslissingVersion}}
            />
          </:header>
        </SayEditor>
      </Auk::Panel::Body>
      <Auk::Panel::Footer class="au-u-background-gray-100">
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <AuButton
                @skin="naked"
                {{on "click" (set this "isEditingTreatment" false)}}
              >
                {{t "cancel"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <AuButton
                data-test-agendaitem-decision-save
                @disabled={{this.disableSaveButtonTreatment}}
                @skin="primary"
                @loading={{this.onSaveReport.isRunning}}
                {{on "click" (perform this.onSaveReport)}}
              >
                {{t "update"}}
              </AuButton>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    {{else}}
      <Auk::Panel::Body
        class="au-o-flow {{if this.isEditingTreatment 'au-u-background-gray-100'}}"
      >
        <AuContent @size="small">
          <SanitizeHtml
            @raw={{true}}
            @value={{this.beslissingPiecePart.value}}
          />
        </AuContent>
      </Auk::Panel::Body>
    {{/if}}
  {{else}}
    <Auk::Panel::Body
      class="au-o-flow {{if this.isEditingTreatment 'au-u-background-gray-100'}}"
    >
      <Auk::Loader />
    </Auk::Panel::Body>
  {{/if}}
</Auk::Panel>

{{#if this.isAddingReport}}
  <Utils::AddDocument
    @title={{t "signed-decision-add"}}
    @onSave={{this.attachReportPdf}}
    @onCancel={{fn (set this "isAddingReport" false)}}
    @pieceSubtype="report"
  />
{{/if}}

{{#if this.updateAgendaitemPiecesAccessLevels.isRunning}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header
      @title={{t "saving-decision-result-title"}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "saving-decision-result-message"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}
