{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-u-mb-4">
  <Auk::Toolbar class="auk-u-mb-4">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h4 class="auk-toolbar__title">
          {{t "preparation-text"}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if (not this.currentSession.isEditing)}}
        {{#if this.isEditor}}
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="secondary"
              @icon="pencil"
              {{action "toggleIsEditing"}}>
              {{t "edit"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        {{/if}}
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>
{{#if (not this.currentSession.isEditing)}}
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-h4 auk-u-my-2">{{this.agendaitem.titlePress}}</h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            {{#if this.agendaitem.forPress}}
              <Auk::Pill @skin="success-future" @icon="users">
                {{t "for-press"}}
              </Auk::Pill>
            {{else}}
              <Auk::Pill @skin="warning-future" @icon="users">
                {{t "not-public-press"}}
              </Auk::Pill>
            {{/if}}
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="auk-content">
        {{this.agendaitem.textPress}}
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
{{else}}
  <AgendaitemPressEdit
    @agendaitem={{this.agendaitem}}
    @isEditing={{this.currentSession.isEditing}} />
{{/if}}
