<div class="vlc-box">
  {{!-- Editor with annotated decision  text will come somwhere around here in the future --}}
  <div class="vlc-input-field vlc-input-field-block auk-u-mb-4"
      data-test-decision-edit-power-select-container
  >
    <WebComponents::AuLabel>{{t "result-decision"}}</WebComponents::AuLabel>
    <Decision::DecisionResultSelect
      @selected={{this.treatment.decisionResultCode}}
      @onChange={{this.changeDecisionResultCode}}
    />
  </div>
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        {{!-- TODO: replace by link-styled button once css available --}}
        <a
          href="javascript://"
          class="auk-button-link"
          {{on "click" this.cancelEdit}}
        >
          {{t "cancel"}}
        </a>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <WebComponents::VlSaveButton
          @text={{t "save"}}
          @isLoading={{this.saveTreatment.isRunning}}
          @saveAction={{perform this.saveTreatment}}
        />
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</div>