<div class="vlc-padding-bottom--large">
  <div class="auk-u-mb-2">
    <h3 class="auk-h4" data-test-agendaitem-news-item-title>
      {{@newsletterInfo.title}}
    </h3>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-content">
      <p class="auk-u-italic">
        {{await @newsletterInfo.newsletterProposal}}
      </p>
      <p>
        <SanitizeHtml
          @raw={{true}}
          @value={{@newsletterInfo.richtext}}
        />
      </p>
    </div>
  </div>
  {{#if @newsletterInfo.remark}}
    <p class="auk-u-text-muted auk-u-text-capitalize auk-u-text-size--small">
      {{t "remark"}}: {{@newsletterInfo.remark}}
    </p>
  {{/if}}
  <div
    class="auk-u-mb-2 auk-u-mt-2"
    data-test-agendaitem-news-item-themes>
    {{#if (is-pending @newsletterInfo.themes)}}
      <WebComponents::VlLoader @text={{t "themes-loading-text"}} />
    {{else if (gt (await @newsletterInfo.themes.length) 0)}}
      {{#each
        (await @newsletterInfo.themes)
      as |theme|
      }}
        <AuPill @size="small">{{theme.label}}</AuPill>
      {{/each}}
    {{else}}
      <div class="auk-u-mt-2">
        <WebComponents::VlAlert @message={{t "no-themes-yet"}} />
      </div>
    {{/if}}
  </div>
  <hr/>
  <div class="auk-u-mb-4 auk-u-mt-2">
    {{#if @newsletterInfo.finished}}
      <AuPill @size="small" @skin="success">
        {{t "finished"}}
      </AuPill>
    {{else}}
      <AuPill @size="small" @skin="warning">
        {{t "not-finished"}}
      </AuPill>
    {{/if}}
  </div>
</div>