{{#if (not currentSession.isEditing)}}
  <div class="auk-u-mb-2">
    <div class="auk-o-flex auk-o-flex--align-baseline">
      <h3 class="auk-h2">
        {{t "preparation-text"}}
      </h3>
      {{#if isEditor}}
        <div class="auk-u-ml-2">
          <a href="" class="auk-button-link" {{action "toggleIsEditing"}}>
            <span class="auk-button__content">
              {{t "edit"}}
            </span>
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <h3 class="auk-h4 auk-u-m-0">
      {{agendaitem.titlePress}}
    </h3>
  </div>
  <div class="auk-content">
    <p>
      {{agendaitem.textPress}}
    </p>
  </div>
  <hr/>
  <div class="auk-u-mt-2">
    {{#if agendaitem.forPress}}
      <Auk::Pill @skin="success">
        {{t "for-press"}}
      </Auk::Pill>
    {{else}}
      <Auk::Pill @skin="warning">
        {{t "not-public-press"}}
      </Auk::Pill>
    {{/if}}
  </div>
{{else}}
  <AgendaitemPressEdit
    @agendaitem={{agendaitem}}
    @isEditing={{currentSession.isEditing}} />
{{/if}}
