{{#if @currentAgenda.status.isDesignAgenda}}
  {{#if (or this.isDeletable this.areDecisionActionsEnabled)}}
    <WebComponents::AuButtonToolbar>
      <AuDropdown
        data-test-agendaitem-controls-actions={{true}}
        @skin="secondary"
        @title={{t "actions"}}
        @alignment="right"
        class="auk-u-hidden@print"
      >
        {{#if this.areDecisionActionsEnabled}}
          {{#let this.decisionActivity.decisionResultCode as |resultCode|}}
            {{#if resultCode.isPostponed}}
              <AuButton
                data-test-agendaitem-controls-action-postpone-revert
                @skin="link"
                {{on "click" (perform this.resetDecisionResultCode)}}
                role="menuitem"
              >
                {{t "postpone-revert"}}
              </AuButton>
            {{else if resultCode.isRetracted}}
              <AuButton
                @skin="link"
                {{on "click" (perform this.resetDecisionResultCode)}}
                role="menuitem"
              >
                {{t "retract-revert"}}
              </AuButton>
            {{else}}
              <AuButton
                data-test-agendaitem-controls-action-postpone
                @skin="link"
                {{on "click" (perform this.postponeAgendaitem)}}
                role="menuitem"
              >
                {{t "postpone"}}
              </AuButton>
              <AuButton
                @skin="link"
                {{on "click" (perform this.retractAgendaitem)}}
                role="menuitem"
              >
                {{t "retract"}}
              </AuButton>
            {{/if}}
          {{/let}}
        {{/if}}
        {{#if (or this.currentSession.isAdmin (await this.isDeletable))}}
          <AuButton
            data-test-agendaitem-controls-action-delete
            @skin="link"
            @alert={{true}}
            role="menuitem"
            {{on "click" this.toggleIsVerifying}}
          >
            {{t "delete"}}
          </AuButton>
        {{/if}}
      </AuDropdown>
    </WebComponents::AuButtonToolbar>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
{{/if}}
{{#if this.isVerifying}}
  <WebComponents::VlModalVerify
    @title={{t "delete-agendaitem"}}
    @message={{this.deleteWarningText}}
    @cancel={{this.toggleIsVerifying}}
    @verify={{fn this.verifyDelete @agendaitem}}
  />
{{/if}}
{{#if this.setDecisionResultCode.isRunning}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-decision-result-title"}}
  >
    <Auk::Modal::Body>
      <WebComponents::VlLoader
        @text={{concat
          (t "saving-decision-result-message")
          " "
          (t "please-be-patient")
        }}
      />
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}