{{#if @currentAgenda.status.isDesignAgenda}}
  {{#if
    (and (not (is-pending this.isDeletable)) (not (is-pending this.isPostPonable)))
  }}
    <WebComponents::AuButtonToolbar>
      <AuDropdown
        data-test-agendaitem-controls-actions={{true}}
        @skin="secondary"
        @title={{t "actions"}}
        @alignment="right"
        class="auk-u-hidden@print"
      >
        {{#if this.isPostPonable}}
          {{#if @agendaitem.retracted}}
            <AuButton
              data-test-agendaitem-controls-action-advance
              @skin="link"
              {{on "click" (fn this.advanceAgendaitem @agendaitem)}}
              role="menuitem"
            >
              {{t "not-postpone"}}
            </AuButton>
          {{else}}
            <AuButton
              data-test-agendaitem-controls-action-postpone
              @skin="link"
              {{on "click" (fn this.postponeAgendaitem @agendaitem)}}
              role="menuitem"
            >
              {{t "postpone"}}
            </AuButton>
          {{/if}}
        {{/if}}
        {{#if (or this.currentSession.isAdmin (await this.isDeletable))}}
          <AuButton
            data-test-agendaitem-controls-action-delete
            @skin="link"
            @alert={{true}}
            {{on "click" this.toggleIsVerifying}}
            role="menuitem"
          >
            {{t "delete"}}
          </AuButton>
        {{/if}}
      </AuDropdown>
    </WebComponents::AuButtonToolbar>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
  {{#if this.isVerifying}}
    <WebComponents::VlModalVerify
      @title={{t "delete-agendaitem"}}
      @message={{this.deleteWarningText}}
      @cancel={{this.toggleIsVerifying}}
      @verify={{fn this.verifyDelete @agendaitem}}/>
  {{/if}}
{{/if}}
{{#if this.isSavingRetracted}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-retracted-agendaitem-title"}}
  >
    <Auk::Modal::Body>
      <WebComponents::VlLoader
        @text={{concat
          (t "saving-retracted-agendaitem-message")
          " "
          (t "please-be-patient")
        }}
      />
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}