<Auk::Panel>
  <Auk::Panel::Header @size="auto">
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item class="auk-content">
          <h4 class="auk-u-my-2">{{t "result-decision"}}</h4>
          {{#if (not this.isEditing)}}
            <div class="auk-u-my-2">
              <Decision::DecisionResultPill
                @decisionResultCode={{@decisionActivity.decisionResultCode}}
                @isEditable={{user-may "manage-decisions"}}
                @onEdit={{this.toggleEdit}}
              />
            </div>
          {{else}}
            <Agenda::Agendaitem::AgendaitemDecisionEdit
              @decisionActivity={{@decisionActivity}}
              @onSave={{this.updateAgendaitemPiecesAccessLevels}}
              @onCancel={{this.toggleEdit}}
            />
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body @noPadding={{true}}>
    {{#if this.loadReport.isIdle}}
      {{#if this.report}}
        <Documents::DocumentCard
          @piece={{this.report}}
          @isEditable={{true}}
          @hideNewerVersions={{true}}
          @onOpenUploadModal={{@onOpenUploadModal}}
          @onAddPiece={{this.attachNewReportVersion}}
          @didDeleteContainer={{perform this.loadReport}}
          @bordered={{false}}
        />
      {{else if (user-may "manage-decisions")}}
        <div class="auk-u-p-2">
          <AuButton
            data-test-agendaitem-decision-upload-file
            @skin="naked"
            @icon="upload"
            {{on "click" this.toggleIsAddingReport}}
          >
            {{t "signed-decision-add"}}
          </AuButton>
        </div>
      {{/if}}
    {{else}}
      <Auk::Loader />
    {{/if}}
  </Auk::Panel::Body>
</Auk::Panel>
{{#if this.isAddingReport}}
  <Utils::AddDocument
    @title={{t "signed-decision-add"}}
    @onSave={{this.attachReport}}
    @onCancel={{this.toggleIsAddingReport}}
  />
{{/if}}