<div class="auk-u-mb-8">
{{#if (gt @agendaitem.mandatees.length 1)}}
  <div class="auk-u-mb-2">
    <div class="auk-o-flex auk-o-flex--align-baseline">
      <h4 class="auk-h3">
        {{t "actions"}}
      </h4>
      {{#if this.currentSession.isEditor}}
        <div class="auk-u-ml-2">
          <Auk::ButtonLink {{on "click" this.toggleIsEditing}}>
            {{t "edit"}}
          </Auk::ButtonLink>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <h5 class="auk-h4">
      {{t "mandatee-approval"}}
    </h5>
  </div>
  <div class="auk-u-mb-4">
    <table class="auk-table">
      <thead>
        <tr>
          <th>
            {{t "name"}}
          </th>
          <th>
            {{t "function-mandatee"}}
          </th>
          <th>
            {{t "approval-mandatee"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.mandateeApprovals as |mandateeApproval|}}
          <tr>
            <td>
              <h6 class="auk-h4 auk-u-m-0">
                {{mandateeApproval.mandatee.person.nameToDisplay}}
              </h6>
            </td>
            <td>
              {{mandateeApproval.mandatee.title}}
            </td>
            <td>
              {{#if (not this.isEditing)}}
                {{#if mandateeApproval.approval}}
                  <Auk::Icon @name="check" @skin="success" />
                  <span class="auk-u-text-success">
                    {{t "approval-mandatee"}}
                  </span>
                {{else}}
                  <Auk::Icon @name="dash" @skin="muted" />
                  <span class="auk-u-text-muted">
                    {{t "not-yet-approval-mandatee"}}
                  </span>
                {{/if}}
              {{else}}
                <div class="auk-form-group">
                  <Auk::Checkbox
                    @label={{t "approval-mandatee"}}
                    @checked={{not (is-empty mandateeApproval.approval)}}
                    {{on "input" (fn this.toggleApproved mandateeApproval)}}
                  />
                </div>
              {{/if}}
            </td>
          </tr>
            {{else}}
          <Auk::Loader/>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if this.isEditing}}
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="tertiary"
            {{on "click" this.cancelEditing}}
          >
            {{t "cancel"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            data-test-agendaitem-titles-edit-save={{true}}
            @skin="primary"
            @loading={{this.isLoading}}
            {{on "click" (fn this.saveChanges this.agendaitem.approvals)}}
          >
            {{t "save"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  {{/if}}
{{/if}}
</div>