<Auk::Panel>
  <Auk::Panel::Header
    @size="auto"
    class="{{if this.isEditing 'au-u-background-gray-100'}}"
  >
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left">
        <h4 class="auk-toolbar__title">
          {{t "decision-title"}}
        </h4>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        {{#if this.loadReport.isIdle}}
          {{#if (user-may "manage-decisions")}}
            {{#unless this.isEditing}}
              {{#if this.report.pieceParts}}
                <Group.Item>
                  <AuButton
                    @icon="pdf"
                    @skin="naked"
                    @disabled={{this.exportPdf.isRunning}}
                    @loading={{this.exportPdf.isRunning}}
                    {{on "click" (perform this.exportPdf)}}
                  >
                    {{t "export-as-pdf"}}
                  </AuButton>
                </Group.Item>
                <Group.Item>
                  <AuButton
                    @skin="naked"
                    @icon="pencil"
                    @iconAlignment="left"
                    @disabled={{this.exportPdf.isRunning}}
                    {{on "click" (set this "isEditing")}}
                  >
                    {{t "edit"}}
                  </AuButton>
                </Group.Item>
              {{/if}}
              {{#if (and (not this.report.pieceParts) (not this.report.file))}}
                <Group.Item>
                  <AuButton
                    @skin="naked"
                    @icon="pencil"
                    @iconAlignment="left"
                    {{on "click" (set this "isEditing")}}
                  >
                    {{t "create"}}
                  </AuButton>
                </Group.Item>

              {{/if}}
            {{/unless}}
          {{/if}}
        {{/if}}
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>

  {{#if (and this.report.file this.report.pieceParts)}}
    <Auk::Panel::Body class="{{if this.isEditing 'au-u-background-gray-100'}}">
      {{!-- <Agenda::Agendaitem::VersionedDocumentCard @report={{this.report}} /> --}}
      <Documents::DocumentCard
        @piece={{this.report}}
        @isEditable={{true}}
        @agendaContext={{@agendaContext}}
        @hideNewerVersions={{true}}
        @onOpenUploadModal={{@onOpenUploadModal}}
        @onAddPiece={{this.attachNewReportVersion}}
        @didDeleteContainer={{perform this.loadReport}}
        @bordered={{false}}
      />
    </Auk::Panel::Body>
  {{/if}}

  <Auk::Panel::Body class="{{if this.isEditing 'au-u-background-gray-100'}}">
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item class="auk-content">
          <h4 class="auk-u-my-2">{{t "result-decision"}}</h4>
          {{#if (not this.isEditingPill)}}
            <div class="auk-u-my-2">
              <Decision::DecisionResultPill
                @decisionResultCode={{@decisionActivity.decisionResultCode}}
                @isEditable={{user-may "manage-decisions"}}
                @onEdit={{this.toggleEditPill}}
              />
            </div>
          {{else}}
            <Agenda::Agendaitem::AgendaitemDecisionEdit
              @decisionActivity={{@decisionActivity}}
              @onSave={{perform this.updateAgendaitemPiecesAccessLevels}}
              @onCancel={{this.toggleEditPill}}
            />
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Body>

  {{#if this.loadReport.isIdle}}
    {{#if this.isEditing}}
      <Auk::Panel::Body
        class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
      >
        <Agenda::Agendaitem::AgendaitemDecisionEditor
          @handleRdfaEditorInit={{this.handleRdfaEditorInitBetreft}}
        />
        <Agenda::Agendaitem::AgendaitemDecisionEditor
          @handleRdfaEditorInit={{this.handleRdfaEditorInitBeslissing}}
        />
      </Auk::Panel::Body>
    {{else}}
      {{#if (and this.report.file (not this.report.pieceParts))}}
        <Auk::Panel::Body
          class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
        >
          <Documents::DocumentCard
            @piece={{this.report}}
            @isEditable={{true}}
            @agendaContext={{@agendaContext}}
            @hideNewerVersions={{true}}
            @onOpenUploadModal={{@onOpenUploadModal}}
            @onAddPiece={{this.attachNewReportVersion}}
            @didDeleteContainer={{perform this.loadReport}}
            @bordered={{false}}
          />
        </Auk::Panel::Body>
      {{/if}}
      {{#if this.report.pieceParts}}
        <Auk::Panel::Body
          class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
        >
          {{! TODO: decide if we want to use this }}
          {{!-- <Agenda::Agendaitem::DecisionViewer
            {{did-insert this.setDecisionViewerElement}}
            @meeting={{@agendaContext.meeting}}
            @agendaitem={{@agendaContext.agendaitem}}
            @concernsHtmlString={{this.betreftPiecePart.value}}
            @decisionHtmlString={{this.beslissingPiecePart.value}}
          /> --}}

          <AuContent @size="small">
            <h4>Betreft :</h4>
            <SanitizeHtml
              @raw={{true}}
              @value={{this.betreftPiecePart.value}}
            />
            <h4>Beslissing :</h4>
            <SanitizeHtml
              @raw={{true}}
              @value={{this.beslissingPiecePart.value}}
            />
          </AuContent>
        </Auk::Panel::Body>
      {{/if}}
    {{/if}}
  {{else}}
    <Auk::Panel::Body
      class="au-o-flow {{if this.isEditing 'au-u-background-gray-100'}}"
    >
      <Auk::Loader />
    </Auk::Panel::Body>
  {{/if}}

  {{#if this.isEditing}}
    <Auk::Panel::Footer class="au-u-background-gray-100">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton @skin="naked" {{on "click" (set this "isEditing" false)}}>
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              @disabled={{this.disableSaveButton}}
              @skin="primary"
              @loading={{this.onSaveReport.isRunning}}
              {{on "click" (perform this.onSaveReport)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  {{/if}}
</Auk::Panel>

{{#if this.updateAgendaitemPiecesAccessLevels.isRunning}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header
      @title={{t "saving-decision-result-title"}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "saving-decision-result-message"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}