{{!-- Editor with annotated decision  text will come somwhere around here in the future --}}
<div class="auk-o-flex auk-o-flex--vertical-center auk-u-my-2"
    data-test-agendaitem-decision-edit-result-container
>
  <Auk::Label class="auk-u-sr-only">{{t "result-decision"}}</Auk::Label>
  <Decision::DecisionResultSelect
    @selected={{this.treatment.decisionResultCode}}
    @onChange={{this.changeDecisionResultCode}}
  />
  <Auk::Button
    @skin="tertiary"
    @layout="icon-only"
    @icon="check"
    class="auk-button--tiny"
    @loading={{this.saveTreatment.isRunning}}
    {{on "click" (perform this.saveTreatment)}}
    data-test-access-level-pill-cancel
  >
    {{t "save"}}
  </Auk::Button>
  <Auk::Button
    @skin="tertiary"
    @layout="icon-only"
    @icon="x"
    class="auk-button--tiny"
    {{on "click" this.cancelEdit}}
    data-test-access-level-pill-save
  >
    {{t "cancel"}}
  </Auk::Button>
</div>