{{#if @currentAgenda.isDesignAgenda}}
  {{#if
    (and (not (is-pending this.isDeletable)) (not (is-pending this.isPostPonable)))
  }}
    <WebComponents::AuButtonToolbar>
      <DropdownMenu
        @label={{t "actions"}}
        class="auk-u-hidden@print"
        data-test-agendaitem-controls-actions={{true}}
      as |Menu|>
        {{#if this.isPostPonable}}
          {{#if @agendaitem.retracted}}
            <Menu.Item {{on "click" (fn this.advanceAgendaitem @agendaitem)}} data-test-agendaitem-controls-action-advance>
              {{t "not-postpone"}}
            </Menu.Item>
          {{else}}
            <Menu.Item {{on "click" (fn this.postponeAgendaitem @agendaitem)}} data-test-agendaitem-controls-action-postpone>
              {{t "postpone"}}
            </Menu.Item>
          {{/if}}
        {{/if}}
        {{#if (or this.currentSession.isAdmin (await this.isDeletable))}}
          <Menu.Item
            @skin="danger"
            data-test-agendaitem-controls-action-delete
            {{on "click" this.toggleIsVerifying}}
          >
            {{t "delete"}}
          </Menu.Item>
        {{/if}}
      </DropdownMenu>
    </WebComponents::AuButtonToolbar>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
  {{#if this.isVerifying}}
    <WebComponents::VlModalVerify
      @title={{t "delete-agendaitem"}}
      @message={{this.deleteWarningText}}
      @cancel={{this.toggleIsVerifying}}
      @verify={{fn this.verifyDelete @agendaitem}}/>
  {{/if}}
{{/if}}
{{#if this.isSavingRetracted}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-retracted-agendaitem-title"}}
  >
    <Auk::Modal::Body>
      <WebComponents::VlLoader
        @text={{concat
          (t "saving-retracted-agendaitem-message")
          " "
          (t "please-be-patient")
        }}
      />
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}