<div class="vlc-padding-bottom--large">
  <div class="auk-u-mb-2">
    <h3 class="auk-h4">
      {{@newsletterInfo.title}}
    </h3>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-content">
      <p class="auk-u-italic">
        {{await @newsletterInfo.newsletterProposal}}
      </p>
      <p>
        {{sanitize-html
          raw=true
          value=@newsletterInfo.richtext
        }}
      </p>
    </div>
  </div>
  {{#if @newsletterInfo.remark}}
    <p class="auk-u-muted auk-u-text-capitalize auk-u-text-small">
      {{t "remark"}}: {{@newsletterInfo.remark}}
    </p>
  {{/if}}
  <div
    class="auk-u-mb-2 auk-u-mt-2"
    data-test-agendaitem-news-item-themes>
    {{#if (is-pending @newsletterInfo.themes)}}
      <WebComponents::VlLoader @text={{t "themes-loading-text"}} />
    {{else if (gt (await @newsletterInfo.themes.length) 0)}}
      <Auk::PillList>
        {{#each
          (await @newsletterInfo.themes)
        as |theme|
        }}
          <Auk::Pill>{{theme.label}}</Auk::Pill>
        {{/each}}
      </Auk::PillList>
    {{else}}
      <div class="auk-u-mt-2">
        <WebComponents::VlAlert @message={{t "no-themes-yet"}} />
      </div>
    {{/if}}
  </div>
  <hr/>
  <div class="auk-u-mb-4 auk-u-mt-2">
    {{#if @newsletterInfo.finished}}
      <Auk::Pill @skin="success">
        {{t "finished"}}
      </Auk::Pill>
    {{else}}
      <Auk::Pill @skin="warning">
        {{t "not-finished"}}
      </Auk::Pill>
    {{/if}}
  </div>
</div>