{{#if @currentAgenda.status.isDesignAgenda}}
  {{#if
    (or this.isDeletable this.areDecisionActionsEnabled)
  }}
    <WebComponents::AuButtonToolbar>
      <Auk::DropdownMenu
        @label={{t "actions"}}
        class="auk-u-hidden@print"
        data-test-agendaitem-controls-actions={{true}}
      as |Menu|>
        {{#if this.areDecisionActionsEnabled}}
          {{#let this.decisionActivity.decisionResultCode as |drc| }}
            {{#if drc.isPostponed}}
              <Menu.Item {{on "click" this.advanceAgendaitem}} data-test-agendaitem-controls-action-postpone-revert>
                {{t "postpone-revert"}}
              </Menu.Item>
            {{else if drc.isRetracted}}
              <Menu.Item {{on "click" this.advanceAgendaitem}}>
                {{t "retract-revert"}}
              </Menu.Item>
            {{else}}
              <Menu.Item {{on "click" this.postponeAgendaitem}} data-test-agendaitem-controls-action-postpone>
                {{t "postpone"}}
              </Menu.Item>
              <Menu.Item {{on "click" this.retractAgendaitem}}>
                {{t "retract"}}
              </Menu.Item>
            {{/if}}
          {{/let}}
        {{/if}}
        {{#if (or this.currentSession.isAdmin (await this.isDeletable))}}
          <Menu.Item
            @skin="danger"
            data-test-agendaitem-controls-action-delete
            {{on "click" this.toggleIsVerifying}}
          >
            {{t "delete"}}
          </Menu.Item>
        {{/if}}
      </Auk::DropdownMenu>
    </WebComponents::AuButtonToolbar>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
{{/if}}

{{#if this.isVerifying}}
  <WebComponents::VlModalVerify
    @title={{t "delete-agendaitem"}}
    @message={{this.deleteWarningText}}
    @cancel={{this.toggleIsVerifying}}
    @verify={{fn this.verifyDelete @agendaitem}}/>
{{/if}}

{{#if this.isSavingDecisionResult}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-decision-result-title"}}
  >
    <Auk::Modal::Body>
      <WebComponents::VlLoader
        @text={{concat
          (t "saving-decision-result-message")
          " "
          (t "please-be-patient")
        }}
      />
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}

{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}