{{! Editor with annotated decision  text will come somwhere around here in the future }}
<div
  data-test-agendaitem-decision-edit-result-container
  class="auk-o-flex auk-o-flex--vertical-center"
  ...attributes
>
  <AuLabel class="auk-u-sr-only">{{t "result-decision"}}</AuLabel>
  <Decision::DecisionResultSelect
    @selected={{this.decisionActivity.decisionResultCode}}
    @onChange={{this.changeDecisionResultCode}}
  />
  <AuButton
    data-test-agendaitem-decision-edit-save
    @skin="naked"
    @icon="check"
    @hideText={{true}}
    @loading={{this.saveDecisionActivity.isRunning}}
    {{on "click" (perform this.saveDecisionActivity)}}
    class="auk-u-ml"
  >
    {{t "save"}}
  </AuButton>
  <AuButton
    data-test-access-level-pill-cancel
    @skin="naked"
    @icon="x"
    @hideText={{true}}
    @loading={{this.saveDecisionActivity.isRunning}}
    {{on "click" this.cancelEdit}}
  >
    {{t "cancel"}}
  </AuButton>
</div>