<AuToolbar class="au-u-margin-bottom" as |Group|>
  <Group>
    <AuHeading @level="3" @skin="4">
      {{t "preparation-text"}}
    </AuHeading>
  </Group>
  <Group>
    {{#if (not this.currentSession.isEditing)}}
      {{#if (user-may "manage-agendaitems")}}
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{on "click" this.toggleIsEditing}}
        >
          {{t "edit"}}
        </AuButton>
      {{/if}}
    {{/if}}
  </Group>
</AuToolbar>
{{#if (not this.currentSession.isEditing)}}
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-h4 auk-u-my-2">{{@agendaitem.titlePress}}</h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            {{#if @agendaitem.forPress}}
              <AuPill @skin="success" @icon="users">
                {{t "for-press"}}
              </AuPill>
            {{else}}
              <AuPill @skin="warning" @icon="users">
                {{t "not-public-press"}}
              </AuPill>
            {{/if}}
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <div class="auk-content">
        {{@agendaitem.textPress}}
      </div>
    </Auk::Panel::Body>
  </Auk::Panel>
{{else}}
  <AgendaitemPressEdit
    @agendaitem={{@agendaitem}}
    @isEditing={{this.currentSession.isEditing}} />
{{/if}}