<div class="auk-alert auk-alert--warning">
  <div class="auk-alert__body">
    <Auk::Badge @icon="alert-triangle" @skin={{"warning"}} />
    <div class="auk-alert__text">
      <p class="auk-alert__message">
        {{t "postponed-item"}}
      </p>
    </div>
  </div>
  {{#if (and @meeting.internalDecisionPublicationActivity.startDate this.loadProposedStatus.isIdle)}}
    {{#if this.modelsForProposedAgenda}}
      <Auk::Button
        @skin="primary"
        @layout="icon-right"
        @icon="chevron-right"
        @route="agenda.agendaitems.agendaitem"
        @models={{this.modelsForProposedAgenda}}
      >
        {{t "open-agenda"}}
        {{date-phrase this.latestMeeting.plannedStart}}
      </Auk::Button>
    {{else}}
      {{#if (user-may "manage-agendaitems")}}
        <AuDropdown
          @skin="primary"
          @title={{t "propose-again"}}
          @alignment="right"
        >
          {{#if this.loadProposableMeetings.isRunning}}
            <div role="menuitem">
              <Auk::Loader @message={{t "agenda-loading"}} />
            </div>
          {{else}}
            {{#each this.loadProposableMeetings.lastSuccessful.value as |meeting|}}
              <AuButton
                @skin="link"
                {{on "click" (perform this.reProposeForAgenda meeting)}}
                role="menuitem"
              >
                {{t "agenda-for"}}
                {{date-phrase meeting.plannedStart}}
                {{concat " - " meeting.numberRepresentation}}
              </AuButton>
            {{/each}}
          {{/if}}
        </AuDropdown>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
{{#if this.reProposeForAgenda.isRunning}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header @title={{t "propose-again"}} @closeable={{false}} />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "please-be-patient"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}