{{#if this.hasDropdownOptions}}
  {{#if (or this.isDeletable this.areDecisionActionsEnabled this.canSendToVP)}}
    <AuDropdown
      data-test-agendaitem-controls-actions={{true}}
      @skin="secondary"
      @title={{t "actions"}}
      @alignment="right"
      class="auk-u-hidden@print"
    >
      {{#if (and this.areDecisionActionsEnabled this.isDesignAgenda)}}
        {{#if this.decisionActivity.isPostponed}}
          <AuButton
            data-test-agendaitem-controls-action-postpone-revert
            @skin="link"
            {{on "click" (perform this.resetDecisionResultCode)}}
            role="menuitem"
          >
            {{t "postpone-revert"}}
          </AuButton>
        {{else if this.decisionActivity.isRetracted}}
          <AuButton
            @skin="link"
            {{on "click" (perform this.resetDecisionResultCode)}}
            role="menuitem"
          >
            {{t "retract-revert"}}
          </AuButton>
        {{else}}
          <AuButton
            data-test-agendaitem-controls-action-postpone
            @skin="link"
            {{on "click" (perform this.postponeAgendaitem)}}
            role="menuitem"
          >
            {{t "postpone"}}
          </AuButton>
          <AuButton
            @skin="link"
            {{on "click" (perform this.retractAgendaitem)}}
            role="menuitem"
          >
            {{t "retract"}}
          </AuButton>
        {{/if}}
      {{/if}}
      {{#if this.canSendToVP}}
        <AuButton
          @skin="link"
          {{on "click" (set this "showVPModal" true)}}
          role="menuitem"
        >
          {{t "send-to-VP"}}
        </AuButton>
      {{/if}}
      {{#if
        (and
          (or this.currentSession.isAdmin (await this.isDeletable))
          this.isDesignAgenda
        )
      }}
        <AuButton
          data-test-agendaitem-controls-action-delete
          @skin="link"
          @alert={{true}}
          role="menuitem"
          {{on "click" this.toggleIsVerifying}}
        >
          {{t "delete"}}
        </AuButton>
      {{/if}}
    </AuDropdown>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
{{/if}}
<ConfirmationModal
  @modalOpen={{this.isVerifying}}
  @title={{t "delete-agendaitem"}}
  @message={{this.deleteWarningText}}
  @onConfirm={{fn this.verifyDelete @agendaitem}}
  @onCancel={{this.toggleIsVerifying}}
  @confirmMessage={{t "delete"}}
  @confirmIcon="trash"
  @alert={{true}}
/>
{{#if this.showVPModal}}
  <Agenda::Agendaitem::SendToVpModal
    @onClose={{fn (set this "showVPModal" false)}}
    @agendaitem={{@agendaitem}}
    @definitieveGoedkeuringSubcase={{this.subcase}}
  />
{{/if}}
{{#if this.setDecisionResultCode.isRunning}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header
      @title={{t "saving-decision-result-title"}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "saving-decision-result-message"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}