<Auk::Panel data-test-agendaitem-decision-container>
  <Auk::Panel::Header @size="auto">
    <Auk::Toolbar @auto={{true}} as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item class="auk-content">
          <h4 class="auk-u-my-2">{{t "result-decision"}}</h4>
          {{#if (not this.isEditing)}}
            <div class="auk-o-flex auk-u-my-2">
              {{#if @decisionActivity.decisionResultCode}}
                <Decision::DecisionResultPill
                  @decisionResultCode={{@decisionActivity.decisionResultCode}}
                />
              {{else}}
                <Auk::Pill>
                  {{t "no-decision-set"}}
                </Auk::Pill>
              {{/if}}
              {{#if this.currentSession.isEditor}}
                <Auk::Button
                  @skin="tertiary"
                  @icon="pencil"
                  @size="xsmall"
                  @layout="icon-only"
                  {{on "click" this.toggleEdit}}
                  class="auk-u-ml"
                  data-test-agendaitem-decision-edit
                >
                  {{t "edit"}}
                </Auk::Button>
              {{/if}}
            </div>
          {{else}}
            <Agenda::Agendaitem::AgendaitemDecisionEdit
              @decisionActivity={{@decisionActivity}}
              @onSave={{this.toggleEdit}}
              @onCancel={{this.toggleEdit}}
              @isTableRow={{@isTableRow}}
            />
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          {{#if this.currentSession.isEditor}}
            {{#if @allowDelete}}
              <Auk::DropdownMenu
                @skin="borderless"
                @icon="three-dots"
                data-test-agendaitem-decision-dropdown-menu-options
                as |Menu|
              >
                <Menu.Item
                  @skin="danger"
                  data-test-agendaitem-decision-delete
                  {{on "click" (fn this.promptDeleteDecisionActivity @decisionActivity)}}
                >
                  {{t "delete-decision"}}
                </Menu.Item>
              </Auk::DropdownMenu>
            {{/if}}
          {{/if}}
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body @noPadding={{true}}>
    {{#if this.loadReport.isIdle}}
      {{#if this.report}}
        <Documents::DocumentCard
          @piece={{this.report}}
          @hideNewerVersions={{true}}
          @onOpenUploadModal={{@onOpenUploadModal}}
          @onAddPiece={{this.attachNewReportVersion}}
          @didDeletePiece={{this.attachPreviousReportVersion}}
          @didDeleteContainer={{perform this.loadReport}}
          @bordered={{false}}
        />
      {{else}}
        {{#if this.currentSession.isEditor}}
          <div class="auk-u-p-2">
            <Auk::Button
              @skin="borderless"
              @icon="upload"
              {{on "click" this.toggleIsAddingReport}}
              data-test-agendaitem-decision-upload-file
            >
              {{t "signed-decision-add"}}
            </Auk::Button>
          </div>
        {{/if}}
      {{/if}}
    {{else}}
      <Auk::Loader />
    {{/if}}
  </Auk::Panel::Body>
</Auk::Panel>
{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "delete-decision"}}
    @message={{t "delete-decision-message"}}
    @cancel={{this.cancel}}
    @verify={{this.deleteDecisionActivity}}
  />
{{/if}}
{{#if this.isAddingReport}}
  <Utils::AddDocument
    @title={{t "signed-decision-add"}}
    @onSave={{this.attachReport}}
    @onCancel={{this.toggleIsAddingReport}}
  />
{{/if}}