{{#if (not this.isEditing)}}
  <div data-test-decision-container class="auk-u-mb-4 auk-content">
    <div class="auk-u-flex auk-u-flex--vertical-center auk-u-flex--justify-end">
      {{#if this.currentSession.isEditor}}
        <a
          href="javascript://"
          class="auk-button-link"
          {{on "click" this.openEditingWindow}}
        >
          {{t "edit"}}
        </a>
        {{#if @allowDelete}}
          <button type="button" class="auk-button auk-button--borderless auk-button--icon">
            <div class="auk-icon auk-icon--default">
              <i class="ki ki-more"></i>
            </div>
            <AttachPopover
              @class="ember-attacher-popper"
              @hideOn="clickout click"
              @showOn="click"
              @animation="shift"
              @placement="bottom"
            as |attacher|>
              <ul class="vlc-dropdown-menu">
                <li class="vlc-dropdown-menu__item">
                  <button
                    data-test-delete-decision
                    type="button"
                    class="auk-button-link auk-u-text-error"
                    {{on "click" attacher.hide}}
                    {{on "click" (fn this.promptDeleteTreatment @treatment)}}
                  >
                    {{t "delete-decision"}}
                  </button>
                </li>
              </ul>
            </AttachPopover>
          </button>
        {{/if}}
      {{/if}}
    </div>
    <div class="auk-u-mt-2">
      {{#if @treatment.decisionResultCode}}
        <Decision::DecisionResultPill @decisionResultCode={{@treatment.decisionResultCode}}/>
      {{/if}}
    </div>
  </div>
  {{#if this.loadReport.isIdle}}
    {{#if this.report}}
      <Documents::DocumentCard
        @piece={{this.report}}
        @hideNewerVersions={{true}}
        @onOpenUploadModal={{@onOpenUploadModal}}
        @onAddPiece={{perform this.attachNewReportVersion}}
        @didDeletePiece={{perform this.attachPreviousReportVersion}}
        @didDeleteContainer={{perform this.loadReport}}
      />
    {{else}}
      {{#if this.currentSession.isEditor}}
        <button type="button" class="auk-button auk-button--tertiary"
          data-test-upload-decision-file
          {{on "click" this.toggleIsAddingReport}}
        >
          {{t "signed-decision-add"}}
        </button>
      {{/if}}
    {{/if}}
  {{else}}
    <WebComponents::AuLoader/>
  {{/if}}
{{else}}
  <Agenda::Agendaitem::AgendaitemDecisionEdit
    @agendaItemTreatment={{@treatment}}
    @onSave={{this.closeEditingWindow}}
    @onCancel={{this.closeEditingWindow}}
    @isTableRow={{@isTableRow}}
  />
{{/if}}
{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "delete-decision"}}
    @message={{t "delete-decision-message"}}
    @cancel={{this.cancel}}
    @verify={{this.deleteTreatment}}
  />
{{/if}}
{{#if this.isAddingReport}}
  <Utils::AddDocument
    @title={{t "signed-decision-add"}}
    @onSave={{this.attachReport}}
    @onCancel={{this.toggleIsAddingReport}}
  />
{{/if}}