{{!-- TODO: replace custom HTML structure with adjusted AuAlert component when support for action buttons is implemented --}}
<div
  class="au-c-alert au-c-alert--warning au-c-alert--small auk-o-flex--vertical-center"
  role="alert"
>
  <div class="auk-o-flex__item auk-o-flex">
    <div class="au-c-alert__icon">
      <AuIcon @icon="alert-triangle"/>
    </div>
    <div class="au-c-alert__content">
      <div class="au-c-alert__message">{{t "postponed-item"}}</div>
    </div>
  </div>
  {{#if (and @meeting.internalDecisionPublicationActivity.startDate this.loadProposedStatus.isIdle)}}
    {{#if this.modelsForProposedAgenda}}
      <Auk::Button
        data-test-agendaitem-postponed-latest-meeting
        @skin="primary"
        @layout="icon-right"
        @icon="chevron-right"
        @route="agenda.agendaitems.agendaitem"
        @models={{this.modelsForProposedAgenda}}
        class="auk-u-ml-2"
      >
        {{t "open-agenda"}}
        {{date-phrase this.latestMeeting.plannedStart}}
      </Auk::Button>
    {{else}}
      {{#if (user-may "manage-agendaitems")}}
        {{!-- template-lint-disable require-context-role --}}
        <AuDropdown
          data-test-agendaitem-postponed-repropose
          @skin="primary"
          @title={{t "propose-again"}}
          @alignment="right"
          class="auk-u-ml-2"
        >
          {{#if this.loadProposableMeetings.isRunning}}
            <div role="menuitem">
              <Auk::Loader @message={{t "agenda-loading"}} />
            </div>
          {{else}}
            {{#if this.loadProposableMeetings.lastSuccessful.value}}
              {{#each this.loadProposableMeetings.lastSuccessful.value as |meeting|}}
                <AuButton
                  data-test-agendaitem-postponed-proposable-meeting
                  @skin="link"
                  {{on "click" (perform this.reProposeForMeeting meeting)}}
                  role="menuitem"
                >
                  {{t "agenda-for"}}
                  {{date-phrase meeting.plannedStart}}
                  {{concat " - " meeting.numberRepresentation}}
                </AuButton>
              {{/each}}
            {{else}}
              <div role="menuitem">
                <p>{{t "no-recent-meetings"}}</p>
              </div>
            {{/if}}
            <AuHr />
            <AuButton
              @skin="link"
              {{on "click" this.openProposingForOtherMeetingModal}}
              role="menuitem"
            >
              {{t "other-agenda"}}
            </AuButton>
          {{/if}}
        </AuDropdown>
        {{!-- template-lint-enable require-context-role --}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
{{#if this.reProposeForMeeting.isRunning}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header @title={{t "propose-again"}} @closeable={{false}} />
    <Auk::Modal::Body>
      <Auk::Loader @message={{t "please-be-patient"}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}

{{#if this.isProposingForOtherMeeting}}
  <Subcases::ProposableMeetings
    @meeting={{@meeting}}
    @onProposeForMeeting={{perform this.reProposeForMeeting}}
    @onCancel={{this.closeProposingForOtherMeetingModal}}
  />
{{/if}}