<Auk::Panel class="au-u-margin-bottom">
<Auk::Panel::Header @size="auto">
  <Auk::Toolbar @auto={{true}} as |Toolbar|>
    <Toolbar.Group @position="left">
      <h4 class="auk-toolbar__title">
        {{t "ratification-title"}}
      </h4>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Panel::Header>
<Auk::Panel::Body @noPadding={{true}}>
{{#if this.ratification}}
  <Documents::DocumentCard
    @piece={{this.ratification}}
    @agendaitem={{@agendaitem}}
    @decisionActivity={{@decisionActivity}}
    @meeting={{@agendaContext.meeting}}
    @isEditable={{true}}
    @agendaContext={{@agendaContext}}
    @hideNewerVersions={{true}}
    @onAddPiece={{this.attachNewRatificationVersionAsPiece}}
    @didDeleteContainer={{this.didDeleteRatification}}
    @bordered={{false}}
  />
{{else if (user-may "manage-ratification")}}
  <div class="auk-u-p-2">
    <AuButton
      @skin="naked"
      @icon="upload"
      {{on "click" (fn (set this "isAddingRatification" true))}}
    >
      {{t "ratification-add"}}
    </AuButton>
  </div>
{{/if}}
</Auk::Panel::Body>
</Auk::Panel>
{{#if (and this.showMandateeSelectorPanel (user-may "manage-ratification"))}}
  <Cases::Subcases::MandateeSelectorPanel
    @mandatees={{this.ratifiedBy}}
    @setMandatees={{this.setMandatees}}
    @disabled={{this.disableMandateeSelectorPanel}}
    @showSubmitter={{false}}
    @title={{this.mandateeSelectorPanelTitle}}
  />
{{/if}}
{{#if this.isAddingRatification}}
  <Utils::AddDocument
    @title={{t "signed-decision-add"}}
    @onSave={{this.attachRatificationPdf}}
    @onCancel={{fn (set this "isAddingRatification" false)}}
  />
{{/if}}
