{{#if @currentAgenda.isDesignAgenda}}
  {{#if
    (and (not (is-pending this.isDeletable)) (not (is-pending this.isPostPonable)))
  }}
    <WebComponents::AuButtonToolbar>
      <Auk::Button
        data-test-agendaitem-controls-actions
        @layout="icon-right"
        @icon="chevron-down"
      >
        {{t "actions"}}
      </Auk::Button>
      <AttachPopover
              @renderInPlace={{true}}
              @class="ember-attacher-popper"
              @hideOn="clickout click"
              @showOn="click"
              @animation="shift"
              @placement="bottom"
      >
        <Auk::Dropdown>
          {{#if this.isPostPonable}}
            {{#if @agendaitem.retracted}}
              <WebComponents::AuDropdown::Item {{on "click" (fn this.advanceAgendaitem @agendaitem)}} data-test-agendaitem-controls-action-advance>
                {{t "not-postpone"}}
              </WebComponents::AuDropdown::Item>
            {{else}}
              <WebComponents::AuDropdown::Item {{on "click" (fn this.postponeAgendaitem @agendaitem)}} data-test-agendaitem-controls-action-postpone>
                {{t "postpone"}}
              </WebComponents::AuDropdown::Item>
            {{/if}}
          {{/if}}
          {{#if (or this.currentSession.isAdmin (await this.isDeletable))}}
            <WebComponents::AuDropdown::Item {{on "click" this.toggleIsVerifying}}
                    data-test-agendaitem-controls-action-delete
                    @skin="danger"
            >
              {{t "delete"}}
            </WebComponents::AuDropdown::Item>
          {{/if}}
        </Auk::Dropdown>
      </AttachPopover>
    </WebComponents::AuButtonToolbar>
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
  {{#if this.isVerifying}}
    <WebComponents::VlModalVerify
      @title={{t "delete-agendaitem"}}
      @message={{await this.deleteWarningText}}
      @cancel={{this.toggleIsVerifying}}
      @verify={{fn this.verifyDelete @agendaitem}}/>
  {{/if}}
{{/if}}
{{#if this.isSavingRetracted}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-retracted-agendaitem-title"}}
  >
    <WebComponents::VlLoader
      @text={{concat
        (t "saving-retracted-agendaitem-message")
        " "
        (t "please-be-patient")
      }}
    />
  </WebComponents::VlModal>
{{/if}}
{{#if this.showLoader}}
  <WebComponents::LoadingOverlay />
{{/if}}