<Auk::Panel>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuHeading @level="4" @skin="5" data-test-agendaitem-news-item-title>
            {{@newsletterInfo.title}}
          </AuHeading>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          {{#if @newsletterInfo}}
            {{#if @newsletterInfo.inNewsletter}}
              <AuPill @skin="default" @icon="visible">
                {{t "visible-in-newsletter"}}
              </AuPill>
            {{else}}
              <AuPill @skin="default" @icon="not-visible">
                {{t "hidden-in-newsletter"}}
              </AuPill>
            {{/if}}
          {{else}}
            <AuPill>
              {{t "no-newsletter-info"}}
            </AuPill>
          {{/if}}
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
         {{#if @newsletterInfo.finished}}
            <AuPill @skin="success">
              {{t "finished"}}
            </AuPill>
          {{else}}
            <AuPill @skin="warning">
              {{t "not-finished"}}
            </AuPill>
          {{/if}}
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <AuContent @skin="small">
      <p class="au-u-italic">
        {{await @newsletterInfo.newsletterProposal}}
      </p>
      <p>
        <SanitizeHtml
          @raw={{true}}
          @value={{@newsletterInfo.richtext}}
        />
      </p>
    </AuContent>
  </Auk::Panel::Body>
  {{#if @newsletterInfo.remark}}
  <Auk::Panel::Body>
    <p class="au-u-muted auk-u-text-capitalize auk-u-text-small">
      <strong>{{t "remark"}}</strong>: {{@newsletterInfo.remark}}
    </p>
  </Auk::Panel::Body>
  {{/if}}
  <Auk::Panel::Body>
    <div data-test-agendaitem-news-item-themes>
      {{#if (is-pending @newsletterInfo.themes)}}
        <Auk::Loader @message={{t "themes-loading-text"}} />
      {{else if (gt (await @newsletterInfo.themes.length) 0)}}
        <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
          <strong>Thema's:</strong>
          <Auk::PillList>
            {{#each
              (await @newsletterInfo.themes)
            as |theme|
            }}
              <AuPill>{{theme.label}}</AuPill>
            {{/each}}
          </Auk::PillList>
        </div>
      {{else}}
        <div class="auk-u-mt-2">
          <Auk::Alert @message={{t "no-themes-yet"}} />
        </div>
      {{/if}}
    </div>
  </Auk::Panel::Body>
</Auk::Panel>