<Auk::Modal @size="large">
  <Auk::Modal::Header @title={{t "add-agendaitems"}} @onClose={{@onClose}} />
  <Auk::Modal::Body>
    {{#if this.addSubcasesToAgenda.isRunning}}
      <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
        <Auk::Loader @message={{concat (t "agendaitems-creating-text") " " (t "please-be-patient")}} />
      </div>
    {{else}}
      <div class="auk-o-grid auk-o-grid--vertical-center">
        <div class="auk-o-grid-col-8">
          <Auk::Toolbar @auto={{true}}>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item class="auk-u-maximize-width">
                <AuInput
                  data-test-create-agendaitem-input={{true}}
                  @icon="search"
                  @width="block"
                  @value={{this.filter}}
                  @disabled={{this.showPostponed}}
                  id="searchId"
                  placeholder={{t "search-placeholder"}}
                  {{on "input" (perform this.searchTask)}}
                />
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </div>
      </div>
      <div>
        {{#if (or this.findAll.isRunning this.searchTask.isRunning)}}
          <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
            <Auk::Loader @message={{t "loading"}} />
          </div>
        {{else}}
          <table class="auk-table auk-table--striped">
            <thead>
              <tr>
                <th class="auk-table__col--1"></th>
                <Utils::ThSortable
                  @field="short-title"
                  @currentSorting={{this.sort}}
                  @onChange={{this.onSortChange}}
                  @label={{t "short-title-case"}}
                />
              </tr>
            </thead>
            <tbody class="auk-table--clickable-rows">
              {{#each this.subcases as |subcase|}}
                <tr data-test-create-agendaitem-row>
                  <td class="auk-table__col--1">
                    <Auk::Checkbox
                      data-test-create-agendaitem-row-subcase-checkbox={{true}}
                      @checked={{includes subcase this.selectedSubcases}}
                      {{on "input" (fn this.selectSubcase subcase)}}
                    />
                  </td>
                  <td class="auk-table__col--11">
                    {{subcase.shortTitle}}
                    <br />
                    <p
                      data-test-create-agendaitem-row-subcase-name
                      class="auk-u-text-muted"
                    >
                      {{capitalize subcase.subcaseName}}
                    </p>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="auk-u-mx-4">
            <Auk::Toolbar>
              <Auk::Toolbar::Group @position="left">
                <Auk::Toolbar::Item>
                  <Auk::Pagination
                    @page={{this.page}}
                    @size={{this.size}}
                    @nbOfItems={{this.subcases.length}}
                    @total={{this.subcases.meta.count}}
                    @onNextPage={{this.nextPage}}
                    @onPreviousPage={{this.prevPage}}
                  />
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
              <Auk::Toolbar::Group @position="right">
                <Auk::Toolbar::Item>
                  {{t "amount-per-page"}}
                </Auk::Toolbar::Item>
                <Auk::Toolbar::Item>
                  <WebComponents::AuPageSize
                    @selectedSize={{this.size}}
                    @onChange={{this.selectSize}}
                  />
                </Auk::Toolbar::Item>
              </Auk::Toolbar::Group>
            </Auk::Toolbar>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onClose}}>
    <AuButton
      data-test-create-agendaitem-save
      @skin="primary"
      @loading={{this.addSubcasesToAgenda.isRunning}}
      @disabled={{this.isSaveDisabled}}
      {{on "click" (perform this.addSubcasesToAgenda)}}
    >
      {{t "add-to-agenda"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>