{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<WebComponents::VlModal
  @isOverlay={{true}}
  @large={{true}}
  @closeModal={{action "close"}}
  @title={{t "add-agendaitems"}}
>
  {{#if (or (is-pending this.model) this.loading)}}
    <Auk::Modal::Body>
      {{#if (is-pending this.model)}}
        <WebComponents::VlLoader @text={{concat (t "cases-loading-text") " " (t "please-be-patient")}} />
      {{else}}
        <WebComponents::VlLoader @text={{concat (t "agendaitems-creating-text") " " (t "please-be-patient")}} />
      {{/if}}
    </Auk::Modal::Body>
  {{else}}
    <Auk::Modal::Body>
      <div class="auk-o-grid auk-o-grid--vertical-center">
        <div class="auk-o-grid-col-8">
          <Auk::Toolbar @auto={{true}}>
            <Auk::Toolbar::Group @position="left">
              <Auk::Toolbar::Item class="auk-u-maximize-width">
                <Auk::Input
                  @icon="search"
                  @block={{true}}
                  @value={{this.filterParam}}
                  id="searchId"
                  placeholder={{t "search-placeholder"}}
                  disabled={{this.showPostponed}}
                  data-test-create-agendaitem-input={{true}}
                  {{on "input" (perform this.searchTask)}}
                />
              </Auk::Toolbar::Item>
            </Auk::Toolbar::Group>
          </Auk::Toolbar>
        </div>
        <div class="auk-o-grid-col-4">
          <div class="auk-form-group">
            <Auk::Checkbox
              @label={{t "title-postponed-subcases"}}
              @checked={{this.showPostponed}}
              {{on "input" (action "checkShowPostponedValue")}}
            />
          </div>
        </div>
      </div>
      <div>
        {{#if this.searchTask.isRunning}}
          <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
            <Auk::Loader @message={{t "loading"}} />
          </div>
        {{else}}
          <DataTable
            data-test-create-agendaitem-data-table={{true}}
            @content={{this.model}}
            @sort={{this.sortParam}}
            @page={{this.pageParam}}
            @size={{this.sizeParam}}
            @isLoading={{this.findAll.isRunning}}
            @noDataMessage={{t "no-results-found"}}
            @onClickRow={{action "selectPostponed"}}
          as |table|>
            <table.content as |c|>
              <c.header>
                <th></th>
                <ThSortable @field="shortTitle" @currentSorting={{this.sortParam}} @label={{t "short-title-case"}} />
                <th></th>
              </c.header>
              <c.body as |subcase|>
                <td class="auk-table__col--1">
                  <Auk::Checkbox
                    data-test-create-agendaitem-row-subcase-checkbox={{true}}
                    @checked={{subcase.selected}}
                    {{on "input" (action "selectAvailableSubcase" subcase)}}
                  />
                </td>
                <td class="auk-table__col--11">
                  {{subcase.shortTitle}}
                  <br>
                  <p data-test-create-agendaitem-row-subcase-name class="auk-u-text-muted">
                    {{capitalize subcase.subcaseName}}
                  </p>
                </td>
              </c.body>
            </table.content>
          </DataTable>
        {{/if}}
      </div>
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.isLoading}}
      @disableSave={{this.noItemsSelected}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add-to-agenda"}}
      @cancelAction={{action "close"}}
      @saveAction={{action "addSubcasesToAgenda"}}
    />
  {{/if}}
</WebComponents::VlModal>