<AuModal
  @modalOpen={{true}}
  @closeModal={{@onClose}}
  @closable={{this.sendToVP.isIdle}}
>
  <:title>{{t "check-case"}}</:title>
  <:body>
    {{#if this.loadData.isRunning}}
      <AuLoader />
    {{else}}
      <AuContent>
        <p>{{t "the-following-things-will-be-sent"}}</p>
        <ul class="au-u-margin-top">
          {{#each this.pgSubcasesWithPieces as |subcaseWithPieces|}}
          <li>
            {{or 
              (capitalize subcaseWithPieces.subcase.subcaseName) 
              (t "principal-approval")}}:
            <ul>
              {{#each subcaseWithPieces.pieces as |piece|}}
                <li>
                  <LinkTo @route="document" @model={{piece.id}}>
                    {{#let piece.file.extension as |extension|}}
                      {{piece.name}}{{#if extension}}.{{extension}}{{/if}}
                    {{/let}}
                  </LinkTo>
                </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
          <li>
            {{or 
              (this.dgSubcaseWithPieces.subcase.subcaseName) 
              (t "definitive-approval")}}:
            <ul>
              {{#each this.dgSubcaseWithPieces.pieces as |piece|}}
                <li>
                  <LinkTo @route="document" @model={{piece.id}}>
                    {{#let piece.file.extension as |extension|}}
                      {{piece.name}}{{#if extension}}.{{extension}}{{/if}}
                    {{/let}}
                  </LinkTo>
                </li>
              {{/each}}
            </ul>
          </li>
        </ul>
        {{! <div class="auk-form-group au-u-margin-top">
        <Auk::Label for="remarks">Opmerkingen</Auk::Label>
        <Auk::Textarea @rows="4" @value="" id="remarks" />
      </div> }}
      </AuContent>
      {{#let this.missingDocs as |missingDocs|}}
        {{#if missingDocs}}
          <AuAlert
            @title="{{t 'this-case-is-missing'}}:"
            @skin="warning"
            @icon="alert-triangle"
            @size="small"
            class="au-u-margin-bottom-none au-u-margin-top"
          >
            <AuContent>
              <ul>
                {{#each missingDocs as |doc|}}
                  <li>{{doc}}</li>
                {{/each}}
              </ul>
            </AuContent>
          </AuAlert>
        {{/if}}
      {{/let}}
    {{/if}}
  </:body>
  <:footer>
    <AuButton
      @skin="primary"
      {{on "click" (perform this.sendToVP)}}
      @loading={{this.sendToVP.isRunning}}
      @disabled={{this.loadData.isRunning}}
    >
      {{t "send-to-VP"}}
    </AuButton>
  </:footer>
</AuModal>