<div class="vlc-document-card">
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <Auk::Toolbar @auto={{true}} as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            <Auk::Badge @skin="success" @icon="document-added" @size="large" />
          </Group.Item>
          <Group.Item class="auk-u-maximize-width">
            <div
              class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced"
            >
              <span data-test-document-card-type class="auk-overline">
                {{t "decision"}}
              </span>
              <span class="auk-overline">
                {{date @file.created}}
              </span>
              <span class="auk-overline">
                {{t "pdf"}}
              </span>
            </div>
            <LinkTo
              @route="search"
              target="_blank"
              rel="noopener noreferrer"
              class="auk-h4 au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny"
            >
              {{@file.filename}}
            </LinkTo>
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          <Group.Item>
            {{#if this.signatureRequested}}
              <SignaturePill
                @isEditable={{true}}
                @signatureMockupAlt={{@signatureMockupAlt}}
              />
            {{else if this.signatureRequested}}
              <SignaturePill
                @isEditable={{true}}
                @signatureMockup={{@signatureMockup}}
              />
            {{/if}}
          </Group.Item>
          {{! will be implemented in the future }}
          {{!-- <Group.Item>
                  <AuDropdown
                    data-test-document-card-actions={{true}}
                    @icon="three-dots"
                    @title={{t "more"}}
                    @hideText={{true}}
                    @disabled={{this.loadPieceRelatedData.isRunning}}
                    @alignment="right"
                  >
                    <AuButton
                      @skin="link"
                      role="menuitem"
                      {{on "click" this.requestSignature}}
                    >
                      {{#if (eq this.signatureRequested true)}}
                        Verwijderen van handtekenen
                      {{else}}
                        Aanbieden voor handtekenen
                      {{/if}}
                    </AuButton>
                    <AuButton
                      data-test-document-card-delete
                      @skin="link"
                      @alert={{true}}
                      role="menuitem"
                    >
                      {{t "document-delete"}}
                    </AuButton>
                  </AuDropdown>
                </Group.Item> --}}
        </Toolbar.Group>
      </Auk::Toolbar>
    </div>
  </div>
  {{!-- {{#if this.version}}
          <div class="vlc-document-card-versions">
            <Auk::Accordion>
              <Auk::Accordion::Item
                @title={{t "previous-versions"}}
                @disabled={{this.loadPieceRelatedData.isRunning}}
                @expandTask={{this.loadVersionHistory}}
                data-test-document-card-version-history
              >
                {{#if this.loadVersionHistory.isRunning}}
                  <div class="auk-u-p-3">
                    <Auk::Loader />
                  </div>
                {{else}}
                  <div class="vlc-document-holder">
                    <div class="vlc-document-card-item">
                      <div class="vlc-document-card-item__title">
                        <LinkTo
                          @route="document"
                          @model={{piece.id}}
                          class="auk-h4 auk-u-m-0 auk-u-mr-4 vlc-document-card-item__title-link"
                        >
                          DOC.02032 — Voorbereidende tekst voor de beslissing
                        </LinkTo>
                        <div
                          class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center"
                        >
                          <AuPill @icon="sign">Getekend</AuPill>
                          <AuPill @skin="warning" @icon="circle">
                            Intern regering
                          </AuPill>
                        </div>
                      </div>
                      <div class="vlc-document-card-item__meta au-u-muted">
                        {{! no piece.created in legacy data }}
                        {{#if piece.created}}
                          {{t "uploaded-at"}}
                          {{moment-format piece.created}}
                          {{t "at"}}
                          {{moment-format piece.created "HH:mm"}}
                        {{/if}}
                      </div>
                      <div class="vlc-document-card-item__icon">
                        <Auk::Icon @name="clock-rewind" @size="small" />
                      </div>
                    </div>
                  </div>
                {{/if}}
              </Auk::Accordion::Item>
            </Auk::Accordion>
          </div>
        {{/if}} --}}
</div>