<li class="{{this.class}}">
  {{#if @href}}
    <a class="auk-menu__item active {{this.skin}}" href={{@href}} ...attributes>
      {{yield}}
    </a>
  {{else if @text}}
    <div class="auk-menu__item--text-only" ...attributes>
      {{yield}}
    </div>
  {{else}}
    <LinkTo class="auk-menu__item active {{this.skin}}" @route={{@route}} ...attributes>
      {{yield}}
    </LinkTo>
  {{/if}}
</li>
