<div class="auk-panel-layout__main-content au-u-flex au-u-flex--column">
  <div class="auk-scroll-wrapper">
    <div class="auk-u-bg-alt">
      <Subcases::PublicationSubcaseHeader />
    </div>
    <div class="auk-scroll-wrapper__body">
      <div class="auk-u-m-4">
        <div id="publication-case-info" class="auk-u-mb-4">
          {{this.model.id}}
          <Publications::Publication::Case::Info::PublicationCaseInfoPanel
            @publicationFlow={{this.model}}
            class="auk-u-mb-3"
          />      
        </div>
        <div id="inscription" class="auk-u-mb-4">
          <Publications::Publication::Case::Inscription::InscriptionPanel
            @publicationFlow={{this.model}}
            class="auk-u-mb-3"
          />
        </div>
        <div id="mandatees" class="auk-u-mb-4">
          <Publications::Publication::Case::Mandatees::MandateesPanel
            @publicationFlow={{this.model}}
            class="auk-u-mb-3"
          />
        </div>
        <div id="government-areas" class="auk-u-mb-4">
          <Publications::Publication::Case::GovernmentAreas::GovernmentAreasPanel
            @publicationFlow={{this.model}}
            class="auk-u-mb-3"
          />
        </div>
        <div id="contact-persons" class="auk-u-mb-4">
          <Publications::Publication::Case::ContactPersons::ContactPersonsPanel
            @publicationFlow={{this.model}}
            class="auk-u-mb-3"
          />
        </div>
        <div id="publication-decisions" class="auk-u-mb-4">
          <Publications::Publication::Decisions::Info::DecisionsInfoPanel
            @publicationFlow={{this.model}}
            class="auk-u-mb-3"
          />
        </div>
        <div id="publication-statusses" class="auk-u-mb-4">
        </div>
      </div>
    </div>
  </div>
</div>