<WebComponents::AuNavbar @border="bottom" @skin="gray-100" @auto="true">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <div class="o-flex o-flex--vertical u-mt-2">
          <WebComponents::AuBreadcrumb>{{t "cancel"}}</WebComponents::AuBreadcrumb>
          <h4 class="auk-toolbar-complex__title">{{t "cancel"}}</h4>
          <WebComponents::AuTabs @reversed="true">
            <WebComponents::AuTab @icon="back" class="auk-tabs__hierarchical-back"></WebComponents::AuTab>
            <WebComponents::AuTab>{{t "cancel"}}</WebComponents::AuTab>
            <WebComponents::AuTab>{{t "cancel"}}</WebComponents::AuTab>
            <WebComponents::AuTab>
              <div class="o-flex o-flex--center">
                <span class="u-mr-2">{{t "cancel"}}</span>
                <WebComponents::AuStatusPill></WebComponents::AuStatusPill>
              </div>
            </WebComponents::AuTab>
            <WebComponents::AuTab>
              <div class="o-flex o-flex--center">
                <span class="u-mr-2">{{t "cancel"}}</span>
                <WebComponents::AuStatusPill></WebComponents::AuStatusPill>
              </div>
            </WebComponents::AuTab>
            <WebComponents::AuTab>
              <div class="o-flex o-flex--center">
                <span class="u-mr-2">{{t "cancel"}}</span>
                <WebComponents::AuStatusPill></WebComponents::AuStatusPill>
              </div>
            </WebComponents::AuTab>
          </WebComponents::AuTabs>
        </div>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>
{{outlet}}