<WebComponents::AuNavbar @border="bottom" @skin="gray-100" @auto="true">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <div class="o-flex o-flex--vertical u-mt-2">
          <WebComponents::AuBreadcrumb>{{getTitlePublication}}</WebComponents::AuBreadcrumb>
          <h4 class="auk-toolbar-complex__title">{{getShortTitle}}</h4>
          <WebComponents::AuTabs @reversed="true">
            <WebComponents::AuTab @icon="back" class="auk-tabs__hierarchical-back"></WebComponents::AuTab>
            <WebComponents::AuTab  @route="cases.case.publication.case">{{t "agendaitem-case"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="cases.case.publication.documents">{{t "documents"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="cases.case.publication.translations">{{t "translations"}}</WebComponents::AuTab>
            <WebComponents::AuTab @route="cases.case.publication.publishpreview">{{t "proofs"}}</WebComponents::AuTab>
          </WebComponents::AuTabs>
        </div>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</WebComponents::AuNavbar>
{{outlet}}