<div class="vl-u-spacer--large" {{did-update (perform this.loadData) @agendaitemOrSubcase}}>
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vlc-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "documents"}}
      </h4>
      {{#if (and this.currentSession.isEditor this.documents.length)}}
        <div class="vl-u-spacer-extended-left-s">
          <button data-test-subcase-documents-edit class="vl-link" type="button"
            {{on "click" this.enableDocumentEdit}}>
            {{t "edit"}}
          </button>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if this.governmentCanViewDocuments}}
    {{#unless this.loadData.isRunning}}
      <Documents::DocumentList
        @documents={{this.documents}}
        @isEnabledDocumentEdit={{this.isEnabledDocumentEdit}}
        @onAddDocument={{perform this.addDocument}}
        @onCloseEdit={{this.disableDocumentEdit}}  />
    {{/unless}}
  {{else}}
    <div class="vl-u-spacer-extended-top-s">
      <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
    </div>
  {{/if}}
  {{#if this.currentSession.isEditor}}
    <div class="vl-u-spacer">
      <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
        {{on "click" this.openDocumentUploadModal}}>
        <i class="vl-button__icon vl-button__icon--before ki-add"></i>
        {{t "document-add"}}
      </button>
    </div>
  {{/if}}

  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vlc-u-display-flex-align-center">
      <h4 class="vl-title vl-title--h4">
        {{t "linked-documents"}}
      </h4>
    </div>
  </div>
  {{#unless this.loadData.isRunning}}
    <Documents::LinkedDocumentList
      @documents={{this.linkedDocuments}}
      @onUnlinkDocumentContainer={{perform this.unlinkDocumentContainer}} />
  {{/unless}}
  {{#if this.currentSession.isEditor}}
    <div class="vl-u-spacer">
      <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before"
        data-test-add-linked-documents
        {{on "click" this.openLinkedDocumentModal}}>
        <i class="vl-button__icon vl-button__icon--before ki-add"></i>
        {{t "document-link-old"}}
      </button>
    </div>
  {{/if}}
</div>

{{#if this.isOpenDocumentUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadDocuments}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-add"}} >
    <div class="vl-modal-dialog__content">
      {{#if this.saveDocuments.isRunning}}
        <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
      {{else}}
        <FileUploader
          @multipleFiles={{true}}
          @uploadedFileAction={{this.uploadDocument}} />
        <div class="upload-container">
          {{#each this.newDocuments as |document|}}
            <Documents::DocumentUpload
              @document={{document}}
              @allowDocumentContainerEdit={{true}}
              @onDelete={{perform this.deleteDocument document}} />
          {{/each}}
        </div>
      {{/if}}
    </div>
    <WebComponents::VlModalFooter
      @isLoading={{this.saveDocuments.isRunning}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "document-add"}}
      @cancelAction={{perform this.cancelUploadDocuments}}
      @saveAction={{perform this.saveDocuments}}
      @disableSave={{eq this.newDocuments.length 0}} />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isOpenLinkedDocumentModal}}
  <WebComponents::VlModal
    @closeModal={{fn this.cancelLinkDocuments}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-link-old"}} >
    <div class="vl-modal-dialog__content">
      <Utils::AddExistingDocument
        @add={{fn this.linkDocument}}
        @delete={{fn this.unlinkDocument}} />
    </div>
    <WebComponents::VlModalFooter
      @isLoading={{this.saveLinkedDocuments.isRunning}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "document-link-old"}}
      @cancelAction={{fn this.cancelLinkDocuments}}
      @saveAction={{perform this.saveLinkedDocuments}}
      @disableSave={{eq this.newLinkedDocuments.length 0}} />
  </WebComponents::VlModal>
{{/if}}