{{#if (is-pending downloadUrl)}}
  {{web-components/vl-loader
    text=(concat (t "signature-loading-text") " " (t "please-be-patient"))
  }}
{{else}}
  <div class="vl-grid vl-grid--is-stacked">
    <div class="vl-col--1-3 vl-col--1-1--xs"></div>
    <div class="vl-col--1-3 vl-col--1-1--xs"></div>
    <div class="vl-col--1-3 vl-col--1-1--xs">
      <img src="{{await downloadUrl}}"
           alt="{{t "no-signature-yet"}}"
           width="200"
      />
      <span class="vl-description-data__data"
            itemprop="Person"
            itemtype="https://schema.org/Person"
      >
        {{await nameToDisplay}}
      </span>
      <span class="vl-description-data__subdata">
        {{await functionToDisplay}}
      </span>
    </div>
  </div>
{{/if}}