<div class="vl-form-grid vl-form-grid--is-stacked">
  {{web-components/vl-form-label value=(t "metadata-form.short-title")}}
  <div class="vl-col--3-4 vl-col--1-1--s">
    {{input
      type="text"
      id="shortTitle"
      class="vl-input-field vl-input-field--block"
      input=(action "shortTitleChange")
      value=shortTitle
    }}
  </div>
  {{web-components/vl-form-label value=(t "metadata-form.title")}}
  <div class="vl-col--3-4 vl-col--1-1--s">
    {{textarea
      id="title"
      class="vl-textarea"
      key-down=(action "titleChange")
      value=title
    }}
  </div>
  {{web-components/vl-form-label value=(t "metadata-form.status")}}
  <div class="vl-col--3-4 vl-col--1-1--s">
    {{input
      class="vl-input-field vl-input-field--block"
      type="text"
      id="remark"
      onChange=(action "statusChange")
      value=status
    }}
  </div>
  {{web-components/vl-form-label value=(t "metadata-form.themes")}}
  <div class="vl-col--3-4 vl-col--1-1--s">
    {{#power-select-multiple
      options=themes
      class="vl-input-field vl-input-field--block"
      selected=selectedThemes
      searchField="naam"
      search=(perform searchTheme)
      oninput=(action "resetValue")
      onchange=(action "chooseTheme") as |theme|
    }}
      {{theme.naam}}
    {{/power-select-multiple}}
  </div>
  {{web-components/vl-form-label value=(t "metadata-form.news-item-label")}}
  <div class="vl-col--3-4 vl-col--1-1--s">
    {{#power-select
      options=types
      selected=selectedType
      class="vl-input-field vl-input-field--block"
      onchange=(action "chooseType") as |type|
    }}
      {{type}}
    {{/power-select}}
  </div>
  <div class="vl-col--3-4 vl-push--3-3">
    <button class="vl-button vl-button--tertiary" {{action "step"}}>
      {{t "buttons.next-step"}}
    </button>
  </div>
</div>