<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "case-type")}}
  {{utils/model-selector
    modelName="case-type"
    searchField="label"
    propertyToShow="label"
    multiSelect=false
    sortField="label"
    selectedItems=type
    selectModel=(action "typeChanged")
  }}
</div>
<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "short-title-case")}}
  {{textarea class="vl-textarea vl-textarea--block" rows="2" value=shortTitle}}
</div>
<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "title-case")}}
  {{textarea class="vl-textarea vl-textarea--block" rows="4" value=title}}
</div>
<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "current-subcase")}}
  {{!-- <select class="vl-select vl-select--block vl-select__list--dropdown">
    <option class="vl-select__item">
      {{t "example-subcase"}}
    </option>
  </select> --}}
  
</div>