<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "short-title-case")}}
  {{textarea class="vl-textarea vl-textarea--block" rows="2" value=shortTitle}}
</div>

{{#if isOC}}
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "select-meeting")}}
    {{web-components/vl-datepicker
      dateObjectsToEnable=(await dateObjectsToEnable)
      datePropertyToUse="plannedStart"
      dateChanged=(action "selectMeeting")
    }}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "submitter")}}
    {{utils/model-selector
      modelName="submitter"
      searchField="label"
      propertyToShow="label"
      multiSelect=false
      sortField="label"
      selectedItems=submitter
      selectModel=(action "chooseSubmitter")
    }}
  </div>
{{/if}}