<div class="cases--new-item">
  <label>{{t 'metadata-form.short-title'}}</label>
  {{input
    type="text"
    id="shortTitle"
    class="cases--new-item-input"
    input=(action "shortTitleChange")
    value=shortTitle
  }}
</div>

<div class="cases--new-item">
  <label>{{t 'metadata-form.title'}}</label>
  {{textarea
    id="title"
    class="cases--new-item-input"
    key-down=(action "titleChange")
    value=title
  }}
</div>

<div class="cases--new-item">
  <label>{{t 'metadata-form.status'}}</label>
  {{input
    class="cases--new-item-input"
    type="text"
    id="remark"
    onChange=(action "statusChange")
    value=status
  }}
</div>

<div class="cases--new-item">
  <label>{{t 'metadata-form.themes'}}</label>
  {{#power-select-multiple
    options=themes
    class="cases--new-item-input"
    selected=selectedThemes
    searchField="naam"
    search=(perform searchTheme)
    oninput=(action "resetValue")
    onchange=(action "chooseTheme") as |theme|
  }}
    {{theme.naam}}
  {{/power-select-multiple}}
</div>

<div class="cases--new-item">
  <label>{{t 'metadata-form.news-item-label'}}</label>
  {{#power-select
    options=types
    selected=selectedType
    class="cases--new-item-input"
    onchange=(action "chooseType") as |type|
  }}
    {{type}}
  {{/power-select}}
</div>

<button {{action "step"}}>
  {{t 'buttons.next-step'}}
</button>