<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1
        class="vlc-page-header__title vlc-page-header__title--bordered max-width"
      >
        {{t "newsletter-overview-pdf-name"}}
        {{await agenda.createdFor.kindToShow.procedure}}
        {{moment-format agenda.createdFor.plannedStart "DD MMMM YYYY"}}
      </h1>
      <div class="vlc-page-header__sub">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              {{#link-to
                "newsletters"
                class="vlc-backlink vl-link vl-link--bold"
              }}
              {{!-- template-lint-disable no-bare-strings  --}}
                &#8629;
              {{!-- template-lint-enable no-bare-strings  --}}
              {{/link-to}}
            </div>
            {{#if isEditor}}
              <div class="vlc-toolbar__item">
                <ul class="vlc-tabs-reverse" role="tablist">
                  <li class="vlc-tabs-reverse__item">
                    {{#link-to
                      "print-overviews.newsletter.agendaitems"
                      agenda
                      class="border-left vlc-tabs-reverse__link"
                      activeClass="vlc-tabs-reverse__link--active"
                    }}
                      {{t "overview"}}
                    {{/link-to}}
                  </li>
                  <li class="vlc-tabs-reverse__item">
                    {{#link-to
                      "print-overviews.newsletter.overview"
                      agenda.id
                      (query-params definite=false)
                      class="vlc-tabs-reverse__link"
                      activeClass="vlc-tabs-reverse__link--active"
                    }}
                      {{t "design"}}
                    {{/link-to}}
                  </li>
                  <li class="vlc-tabs-reverse__item">
                    {{#link-to
                      "print-overviews.newsletter.overview"
                      agenda.id
                      (query-params definite=true)
                      class="vlc-tabs-reverse__link"
                      activeClass="vlc-tabs-reverse__link--active"
                    }}
                      {{t "definite"}}
                    {{/link-to}}
                  </li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vlc-toolbar__right">
    <div class="vlc-toolbar__item">
      <div class="vlc-toolbar__item">
        <div class="vl-action-group">
          {{#if shouldShowPrintButton}}
            <button
              class="vl-button vl-button--tertiary vl-button--icon-before vl-button--narrow"
              {{action "print"}}
            >
              <i
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-printer-view"
                aria-hidden="true"
              ></i>
              {{t "print"}}
            </button>
            {{#if isEditor}}
              <button
                class="vl-button vl-button--narrow vl-button--icon-before vl-button--secondary"
                {{action "showMultipleOptions"}}
              >
                {{#if (not isShowingOptions)}}
                  <i
                    class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-down-fat"
                    {{action "showMultipleOptions" bubbles=false}}
                  ></i>
                {{else}}
                  <i
                    class="vl-button__icon vl-button__icon--before vl-vi vl-vi-arrow-up-fat"
                    {{action "showMultipleOptions" bubbles=false}}
                  ></i>
                {{/if}}
                {{t "actions"}}
                {{#attach-popover
                  class="ember-attacher-popper"
                  hideOn="clickout click"
                  showOn="click"
                  animation="shift"
                  placement="bottom" as |attacher|
                }}
                  <ul class="vl-popover__link-list">
                    {{#if
                      (or (is-pending agenda.createdFor.mailCampaign) isLoading)
                    }}
                      <li class="vl-popover__link-list__item">
                        <div class="vl-loader-link">
                          <div
                            class="vl-loader"
                            role="alert"
                            aria-busy="true"
                          ></div>
                          {{t "newsletter-loading-text"}}
                        </div>
                      </li>
                    {{else if (await agenda.createdFor.mailCampaign)}}
                      {{#if (not (await agenda.createdFor.mailCampaign.isSent))
                      }}
                        <li class="vl-popover__link-list__item">
                          <a
                            class="vl-link vl-link--block"
                            {{action attacher.hide}}
                            {{action "sendTestCampaign"}}
                          >
                            {{t "send-test-campaign"}}
                          </a>
                        </li>
                        <li class="vl-popover__link-list__item">
                          <a
                            class="vl-link vl-link--block"
                            {{action attacher.hide}}
                            {{action "toggleIsVerifying"}}
                          >
                            {{t "send-campaign"}}
                          </a>
                        </li>
                        <li
                          class="vl-popover__link-list__separator"
                          role="none"
                        ></li>
                      {{/if}}
                      <li class="vl-popover__link-list__item">
                        <a
                          class="vl-link vl-link--block"
                          target="_blank"
                          rel="noopener"
                          href={{concat "/newsletter/xml-newsletter/" agenda.id
                          }}
                          download={{concat
                            "/newsletter/xml-newsletter/"
                            agenda.id
                          }}
                        >
                          {{t "generate-xml"}}
                        </a>
                      </li>
                      <li
                        class="vl-popover__link-list__separator"
                        role="none"
                      ></li>
                      <li class="vl-popover__link-list__item">
                        <a
                          class="vl-link vl-link--block vl-u-text--error"
                          {{action attacher.hide}}
                          {{action "deleteCampaign"}}
                        >
                          {{t "delete-campaign"}}
                        </a>
                      </li>
                    {{else}}
                      <li class="vl-popover__link-list__item">
                        <a
                          class="vl-link vl-link--block"
                          {{action "createCampaign"}}
                        >
                          {{t "create-campaign"}}
                        </a>
                      </li>
                    {{/if}}
                  </ul>
                {{/attach-popover}}
              </button>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{#if isVerifying}}
  {{web-components/vl-modal-verify
    title=(t "send-campaign")
    buttonType="warning"
    isLoading=isLoading
    verifyButtonText=(t "send-campaign")
    message=(t "send-campaign-warning")
    cancel=(action "toggleIsVerifying")
    verify=(action "sendCampaign")
  }}
{{/if}}
{{#if (or testCampaignIsLoading newsletterHTML)}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "send-test-campaign")
    closeModal=(action "clearNewsletterHTML")
  }}
    <div class="vl-modal-dialog__content">
      {{#if testCampaignIsLoading}}
        {{web-components/vl-loader text=(t "preview-loading-text")}}
      {{else}}
        {{sanitize-html raw=true value=newsletterHTML}}
      {{/if}}
    </div>
  {{/web-components/vl-modal}}
{{/if}}