<div class="auk-modal__footer auk-modal__footer--bordered">
  {{#if @custom}}
    {{yield}}
  {{else}}
    <WebComponents::AuToolbar @size="large">
      <WebComponents::AuToolbar::Group @position="left">
        <WebComponents::AuToolbar::Item>
          <WebComponents::AuButtonLink {{on "click" @cancelModal}} data-test-au-modal-footer-cancel>
            {{t "cancel"}}
          </WebComponents::AuButtonLink>
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
      <WebComponents::AuToolbar::Group @position="right">
        <WebComponents::AuToolbar::Item>
          {{yield}}
        </WebComponents::AuToolbar::Item>
      </WebComponents::AuToolbar::Group>
    </WebComponents::AuToolbar>
  {{/if}}
</div>