{{#if (eq errorMessage.type "warning-undo")}}
  {{#web-components/vl-alert
    class="vl-alert-relative vl-alert-relative--center-mid"
    type="warning"
    title=errorMessage.title
    closeable=false
    onClose=(action "closeErrorMessage")
  }}
    <div class="vl-alert__message vl-u-text--capitalize">
      <p>
        {{errorMessage.message}}
      </p>
      <button type="button"
              class="vl-button vl-button--link vl-button--icon-before"
        {{action "undoChanges" errorMessage}}
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-text-undo"
           aria-hidden="true"
        ></i>
        {{t "undo"}}
      </button>
    </div>
  {{/web-components/vl-alert}}
{{else if (eq errorMessage.type "file-download")}}
  {{#click-outside action=(action "closeErrorMessage")}}
    {{#web-components/vl-alert
      class="vl-alert-relative vl-alert-relative--center-mid"
      type="success"
      title=errorMessage.title
      closeable=true
      onClose=(action "closeErrorMessage")
    }}
      <div class="vl-alert__message vl-u-text--capitalize">
        <a class="vl-button vl-button--link vl-button--icon-before"
           href={{errorMessage.downloadLink}}
           download
        >
          <i class="vl-vi vl-vi-download-harddisk vl-button__icon"
             aria-hidden="true"
          ></i>
          {{errorMessage.fileName}}
        </a>
      </div>
    {{/web-components/vl-alert}}
  {{/click-outside}}
{{else}}
  {{#click-outside action=(action "closeErrorMessage")}}
    {{#web-components/vl-alert
      type=(if (eq errorMessage.type "error") "error" "success")
      title=errorMessage.title
      closeable=true
      onClose=(action "closeErrorMessage")
    }}
      <p>
        {{errorMessage.message}}
      </p>
    {{/web-components/vl-alert}}
  {{/click-outside}}
{{/if}}
