{{#if (eq errorMessage.type "warning-undo")}}
  <div
          class="vl-alert vl-alert-relative vl-alert-relative--center-mid vl-alert--warning"
          role="alert"
  >
    <div class="vl-alert__icon">
      <i class="vl-vi vl-vi-alert-triangle" aria-hidden="true"></i>
    </div>
    <div class="vl-alert__content">
      <p class="vl-alert__title">
        {{errorMessage.title}}
      </p>
      <div class="vl-alert__message vl-u-text--capitalize">
        <p>
          {{errorMessage.message}}
        </p>
        <button
                class="vl-button vl-button--link vl-button--icon-before"
          {{action "undoChanges" errorMessage}}
        >
          <i
                  class="vl-button__icon vl-button__icon--before vl-vi vl-vi-text-undo"
                  aria-hidden="true"
          ></i>
          {{t "undo"}}
        </button>
      </div>
    </div>
  </div>
{{else if (eq errorMessage.type "file-download")}}
  <div
          class="vl-alert vl-alert-relative vl-alert-relative--center-mid vl-alert--success"
          role="alert"
  >
    <div class="vl-alert__icon">
      <i class="vl-vi vl-vi-check" aria-hidden="true"></i>
    </div>
    <div class="vl-alert__content">
      <p class="vl-alert__title">
        {{errorMessage.title}}
      </p>
      <div class="vl-alert__message vl-u-text--capitalize">
        <a
                class="vl-button vl-button--link vl-button--icon-before"
                href={{errorMessage.downloadLink}}
                download
        >
          <i
                  class="vl-vi vl-vi-download-harddisk vl-button__icon"
                  aria-hidden="true"
          ></i>
          {{errorMessage.fileName}}
        </a>
      </div>
    </div>
  </div>
{{else}}
  {{#click-outside action=(action "closeErrorMessage")}}
    <div class="vl-alert {{alertType}}" role="alert">
      <div class="vl-alert__icon">
        {{#if (eq errorMessage.type "error")}}
          <i class="vl-vi vl-vi-alert-triangle" aria-hidden="true"></i>
        {{else}}
          <i class="vl-vi vl-vi-check" aria-hidden="true"></i>
        {{/if}}
      </div>
      <div class="vl-alert__content">
        <p class="vl-alert__title">
          {{errorMessage.title}}
        </p>
        <div class="vl-alert__message vl-u-text--capitalize">
          <p>
            {{errorMessage.message}}
          </p>
        </div>
      </div>
      <button
              class="vl-alert__close"
              type="button"
        {{action "closeErrorMessage"}}
      >
        <i class="vl-vi vl-vi-cross" aria-hidden="true"></i>
        <span class="vl-u-visually-hidden">
          {{t "close"}}
        </span>
      </button>
    </div>
  {{/click-outside}}
{{/if}}