{{#if this.model}}
  <Subcases::SubcaseDescription @subcase={{this.subcase}} />
  <div class="auk-u-mb-8">
    <div class="auk-hr">
      <hr />
    </div>
  </div>
  {{#if this.currentSession.isEditor}}
    {{! TODO these classes do not exist and do nothing }}
    <div class="confidentialities">
      <div class="confidential">
        <Auk::Checkbox
          @checked={{this.subcase.confidential}}
          @label={{t "confidential"}}
          @disabled={{true}}
          data-test-cases---subcase-overview-confidentiality-checkbox={{true}}
        />
      </div>
    </div>
  {{/if}}
  {{#if (not this.isEditingTitles)}}
    {{! TODO: refactor titles-component into 1 with 2 sub-components: 1 for displaying, 1 for editing }}
    <Subcase::SubcaseCase::SubcaseTitles
      @subcase={{this.subcase}}
      @toggleIsEditing={{this.toggleIsEditing}}
    />
  {{else}}
    <Subcase::SubcaseCase::SubcaseTitlesEdit
      @subcase={{this.subcase}}
      @toggleIsEditing={{this.toggleIsEditing}}
    />
  {{/if}}
  <Mandatees::MandateesPanel
    @mandatees={{this.mandatees}}
    @submitter={{this.submitter}}
    @allowEditing={{this.currentSession.isEditor}}
    @onSave={{this.saveMandateeData}}
  />
  <Utils::GovernmentAreas::GovernmentAreasPanel
    @governmentAreas={{this.governmentAreas}}
    @onSave={{this.saveGovernmentAreas}}
  />
  <Agenda::Agendaitem::AgendaitemCase::AllSubcases
    @subcases={{this.allSubcases}}
  />
{{/if}}