{{#if this.model}}
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-m-8">
      <Subcase::SubcaseDescriptionPanel @subcase={{@model.subcase}} />
      <div class="auk-u-mb-8">
        <div class="auk-hr">
          <hr />
        </div>
      </div>
      {{#if this.currentSession.isEditor}}
        {{! TODO these classes do not exist and do nothing }}
        <div class="confidentialities">
          <div class="confidential">
            <Auk::Checkbox
              @checked={{@model.subcase.confidential}}
              @label={{t "confidential"}}
              @disabled={{true}}
              data-test-cases---subcase-overview-confidentiality-checkbox={{true}}
            />
          </div>
        </div>
      {{/if}}
      <Subcase::SubcaseTitlesPanel
        @subcase={{@model.subcase}}
        @allowEditing={{this.currentSession.isEditor}}
      />
      <Mandatees::MandateesPanel
        @governmentBodyOfDate={{this.caseCreatedDate}}
        @mandatees={{this.mandatees}}
        @submitter={{this.submitter}}
        @allowEditing={{this.currentSession.isEditor}}
        @onSave={{this.saveMandateeData}}
      />
      <Utils::GovernmentAreas::GovernmentAreasPanel
        @governmentAreas={{this.governmentAreas}}
        @allowEditing={{this.currentSession.isEditor}}
        @onSave={{this.saveGovernmentAreas}}
      />
      <Subcases::SubcasesHistory
        @case={{this.case}}
        @subcases={{@model.siblingSubcases}}
      />
    </div>
  </div>
  <hr />
  <div class="auk-u-mx-4">
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
          <Auk::Pagination
            @page={{this.page}}
            @size={{this.size}}
            @nbOfItems={{@model.siblingSubcases.length}}
            @total={{this.siblingSubcasesCount}}
            @onNextPage={{this.nextPage}}
            @onPreviousPage={{this.prevPage}}
          />
        </Group.Item>
      </Toolbar.Group>
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          {{t "amount-showed"}}
        </Group.Item>
        <Group.Item>
          <WebComponents::AuPageSize
            @selectedSize={{this.size}}
            @onChange={{this.setSizeOption}}
          />
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </div>
{{/if}}