{{#if model}}
  <Subcases::SubcaseDescription @subcase={{this.subcase}}/>
  <div class="auk-u-mb-8">
    <div class="auk-hr">
      <hr/>
    </div>
  </div>
  {{#if this.currentSession.isEditor}}
   {{!-- TODO these classes do not exist and do nothing --}}
    <div class="confidentialities">
      <div class="confidential">
        <WebComponents::VlCheckbox
          data-test-cases---subcase-overview-confidentiality-checkbox={{true}}
          @value={{this.subcase.confidential}}
          @disabled={{true}}
          @label={{t "confidential"}}
        />
      </div>
    </div>
  {{/if}}
  {{#if (not this.isEditingTitles)}}
    <Subcase::SubcaseCase::SubcaseTitles
      @subcase={{this.subcase}}
      @toggleIsEditing={{this.toggleIsEditing}}
    />
  {{else}}
    <Subcase::SubcaseCase::SubcaseTitlesEdit
      @subcase={{this.subcase}}
      @isEditing={{this.isEditingTitles}}
    />
  {{/if}}
  <Mandatees::MandateesDomainsPanel
    @mandatees={{this.mandatees}}
    @submitter={{this.submitter}}
    @fields={{this.governmentFields}}
    @allowEditing={{this.currentSession.isEditor}}
    @onSave={{this.saveMandateeData}}
  />
  {{#unless this.subcase.showAsRemark}}
    <DomainFieldIse::IseCodesPanel @iseCodes={{this.iseCodes}}/>
  {{/unless}}
  <Agenda::Agendaitem::AgendaitemCase::AllSubcases @subcases={{this.allSubcases}}/>
{{/if}}