<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    {{#utils/agendaitem-table
      model=model
      sort=sort
      page=page
      filter=filter
      include=include
      size=size
      columns=columns
    as |agendaitemRow|
    }}
      {{#if (not agendaitemRow.isApproval)}}
        {{#if (is-pending agendaitemRow.agendaActivity.subcase.newsletterInfo)}}
          {{web-components/vl-loader text=(t "newsletter-info-loading-text")}}
        {{else if (await agendaitemRow.agendaActivity.subcase.newsletterInfo)}}
          <div class="vlc-container-center">
            {{news-item/edit-item
              agendaitem=agendaitemRow
              item=(await agendaitemRow.agendaActivity.subcase.newsletterInfo)
              isEditing=agendaitemRow.expanded
            }}
          </div>
        {{else}}
          <div class="vl-u-spacer-extended">
            <div class="vl-action-group vl-action-group--align-center">
              <button type="button" class="vl-button vl-button--secondary vl-button--icon-before"
                {{action "addNewsletterInfo" agendaitemRow}}
              >
                <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
                ></i>
                {{t "create-newsletter-info"}}
              </button>
            </div>
          </div>
          <div class="vl-u-align-center vl-typography">
            <p class="vl-u-text--muted">
              {{t "no-newsletter-info"}}
            </p>
          </div>
        {{/if}}
      {{/if}}
    {{/utils/agendaitem-table}}
  </div>
</div>
{{outlet}}