<div class="auk-modal__body">
  <div class="auk-u-p-4">
    {{utils/kind-selector kind=kind setAction=(action "setKind")}}
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>{{t "start-date"}}</Auk::Label>
        {{web-components/vl-datepicker
          enableTime=true
          date=date
          dateChanged=(action "selectStartDate")
        }}
      </div>
    </div>
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>{{t "meeting-number"}}</Auk::Label>
        {{web-components/vl-form-input
          type="number"
          value=meetingNumber
          input=(action "meetingNumberChangedAction" meetingNumber)
        }}
      </div>
    </div>
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>
          {{t "meeting-number-visual-representation"}}
        </Auk::Label>
        {{web-components/vl-form-input
          value=numberRepresentation
        }}
      </div>
    </div>
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>
          {{t "meeting-location"}}
        </Auk::Label>
        {{web-components/vl-form-input
          value=extraInfo
        }}
      </div>
    </div>
  </div>
</div>
{{web-components/vl-modal-footer
  isLoading=isLoading
  cancelButtonText=(t "cancel")
  saveButtonText=(t "edit")
  cancelAction=(action "cancelForm")
  saveAction=(action "updateSession")
}}