{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<Auk::Modal::Body>
  <Utils::KindSelector @kind={{this.kind}} @setAction={{action "setKind"}} />
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>{{t "start-date"}}</Auk::Label>
      <WebComponents::VlDatepicker
        @enableTime={{true}}
        @date={{this.date}}
        @dateChanged={{action "selectStartDate"}}
      />
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>{{t "meeting-number"}}</Auk::Label>
      <WebComponents::VlFormInput
        data-test-edit-session-meeting-number={{true}}
        @type="number"
        @value={{this.meetingNumber}}
        @input={{action "meetingNumberChangedAction" this.meetingNumber}}
      />
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>
        {{t "meeting-number-visual-representation"}}
      </Auk::Label>
      <WebComponents::VlFormInput
        data-test-edit-session-number-representation={{true}}
        @value={{this.numberRepresentation}}
      />
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>
        {{t "meeting-location"}}
      </Auk::Label>
      <WebComponents::VlFormInput @value={{this.extraInfo}} />
    </div>
  </div>
</Auk::Modal::Body>
<WebComponents::VlModalFooter
  @isLoading={{this.isLoading}}
  @cancelButtonText={{t "cancel"}}
  @saveButtonText={{t "edit"}}
  @cancelAction={{action "cancelForm"}}
  @saveAction={{action "updateSession"}}
/>