<Auk::Modal::Body>
  {{utils/kind-selector kind=kind setAction=(action "setKind")}}
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>{{t "start-date"}}</Auk::Label>
      {{web-components/vl-datepicker
        enableTime=true
        date=date
        dateChanged=(action "selectStartDate")
      }}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>{{t "meeting-number"}}</Auk::Label>
      <Auk::Input
        @type="number"
        @block={{true}}
        @value={{meetingNumber}}
        data-test-edit-session-meeting-number={{true}}
        {{on "change" (action "meetingNumberChangedAction" meetingNumber)}}
        {{on "keyup" (action "meetingNumberChangedAction" meetingNumber)}}
      />
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>
        {{t "meeting-number-visual-representation"}}
      </Auk::Label>
      <Auk::Input
        @block={{true}}
        @value={{numberRepresentation}}
        data-test-edit-session-number-representation={{true}}
      />
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>
        {{t "meeting-location"}}
      </Auk::Label>
      <Auk::Input
        @block={{true}}
        @value={{extraInfo}}
      />
    </div>
  </div>
</Auk::Modal::Body>
{{web-components/vl-modal-footer
  isLoading=isLoading
  cancelButtonText=(t "cancel")
  saveButtonText=(t "edit")
  cancelAction=(action "cancelForm")
  saveAction=(action "updateSession")
}}