<div class="vl-modal-dialog__content">
  {{utils/kind-selector kind=kind setAction=(action "setKind")}}
  <div class="auk-u-mb-2">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "start-date")}}
      {{web-components/vl-datepicker
        enableTime=true
        date=date
        dateChanged=(action "selectStartDate")
      }}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "meeting-number")}}
      {{web-components/vl-form-input
        type="number"
        value=meetingNumber
        input=(action "meetingNumberChangedAction" meetingNumber)
      }}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label
        value=(t "meeting-number-visual-representation")
      }}
      {{web-components/vl-form-input
        value=numberRepresentation
      }}
    </div>
  </div>
  <div class="auk-u-mb-2">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label
        value=(t "meeting-location")
      }}
      {{web-components/vl-form-input
        value=extraInfo
      }}
    </div>
  </div>
</div>
{{web-components/vl-modal-footer
  isLoading=isLoading
  cancelButtonText=(t "cancel")
  saveButtonText=(t "edit")
  cancelAction=(action "cancelForm")
  saveAction=(action "updateSession")
}}