<div class="auk-modal__body">
  <div class="auk-u-p-4">
    {{utils/kind-selector kind=kind setAction=(action "setKind")}}
    {{#if this.isAnnexMeeting}}
      <div class="auk-u-mb-2">
        <div class="auk-form-group">
          <Auk::Label>{{t "related-main-meeting-field-label"}}</Auk::Label>
          {{utils/model-selector
            modelName="meeting"
            searchField="numberRepresentation"
            propertyToShow="label"
            sortField="-planned-start"
            selectedItems=selectedMainMeeting
            selectModel=(action "selectMainMeeting")
          }}
        </div>
      </div>
    {{else}}
      <div class="auk-u-mb-2">
        <div class="auk-form-group">
          <Auk::Label>{{t "start-date"}}</Auk::Label>
          {{web-components/vl-datepicker
            enableTime=true
            defaultHour=10
            defaultMinute=0
            dateChanged=(action "selectStartDate")
          }}
        </div>
      </div>
    {{/if}}
    <div class="auk-u-mb-2">
      <div class="auk-form-group">
        <Auk::Label>{{t "meeting-number"}}</Auk::Label>
        <div class="auk-o-flex">
          {{#unless this.isAnnexMeeting}}
            <Auk::Input
              @type="number"
              @value={{meetingNumber}}
              @key-up={{action "meetingNumberChangedAction" meetingNumber}}
              id="subjectTransld"
              class="auk-input--w-medium auk-u-mr-2"
              {{on "change" (action "meetingNumberChangedAction" meetingNumber)}}
            />
          {{/unless}}
          <div class="auk-o-flex__item">
            <div
              class="auk-u-text-condensed-line-height"
            >
              {{formattedMeetingIdentifier}}
            </div>
            <button type="button" class="auk-button-link"
              data-test-new-session-number-representation-edit
              {{action "editFormattedMeetingIdentifier"}}
            >
              <span class="auk-button__content">
                <small>{{t "edit"}}</small>
              </span>
            </button>
          </div>
        </div>
      </div>
      {{#if isEditingFormattedMeetingIdentifier}}
        <div class="auk-o-flex">
          {{web-components/vl-form-input
            data-test-new-session-number-representation-input=true
            value=formattedMeetingIdentifier
            class="auk-input--w-medium auk-u-mr-2"
          }}
          {{web-components/vl-save-button
            data-test-new-session-number-representation-save=true
            text=(t "save")
            saveAction=(action "saveAction")
          }}
        </div>
      {{/if}}
    </div>
    {{#unless this.isAnnexMeeting}}
      <div class="auk-u-mb-2">
        <div class="auk-form-group">
          <Auk::Label>{{t "meeting-location"}}</Auk::Label>
          {{web-components/vl-form-input value=extraInfo}}
        </div>
      </div>
    {{/unless}}
  </div>

</div>
{{web-components/vl-modal-footer
  isLoading=isLoading
  cancelButtonText=(t "cancel")
  saveButtonText=(t "add")
  cancelAction=(action "cancelForm")
  saveAction=(action "createNewSession")
}}