<WebComponents::AuModal @size="full-screen-padded">
  <WebComponents::AuModal::Header @title={{ t "documents" }} @closeModal={{@onClose}} />
  <WebComponents::AuModal::Body>
    <Utils::LoadableContent @isLoading={{this.loadPieces.isRunning}}>
      {{!-- template-lint-disable table-groups --}}
      <table class="auk-table auk-table--styled auk-table--bordered">
        <thead>
          <tr>
            <th>{{t "name"}}</th>
            <th>{{t "document-type"}}</th>
            <th>
              {{t "link-publication"}}
            </th>
            <th>
              {{t "publications-number"}}
              <WebComponents::AuIcon @iconSkinColor="muted" @name="info-circle">
                <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
                  <p>
                    {{t "batch-document-publication-modal-publication-number-info"}}
                  </p>
                </EmberTooltip>
              </WebComponents::AuIcon>
            </th>
            <th />
          </tr>
        </thead>

        <tbody>
          {{#each this.rows as |row|}}
            <tr>
              <td>
                {{row.piece.name}}
              </td>
              <td>
                {{row.piece.documentContainer.type.label}}
              </td>
              <td>
                <PowerSelect
                  @searchEnabled={{false}}
                  @selected={{row.linkMode}}
                  @options={{this.linkModeOptions}}
                  @onchange={{fn this.changeLinkMode row}}
                  as |option|>
                  {{option.label}}
                </PowerSelect>
              </td>
              <td>
                {{#if row.isInLinkMode}}
                  <Publications::ViaCouncilOfMinisters::PublicationFlowSelector
                    @selected={{row.piece.publicationFlow}}
                    @loadData={{this.searchPublicationFlowWithCache}}
                    @onChange={{fn this.selectPublicationFlow row}}
                    />
                {{else}}
                  <WebComponents::AuButton
                    @icon="add"
                    {{on 'click' (fn this.openNewPublicationModal row)}}>
                    {{t "publications-new"}}
                  </WebComponents::AuButton>
                {{/if}}
              </td>
              <td>
                <WebComponents::AuButtonToolbar>
                  <WebComponents::AuButton
                    @layout="icon-only"
                    @icon="download"
                    @skin="borderless"
                    @href={{row.piece.file.downloadLink}}
                    download
                    />
                  <WebComponents::AuButton
                    @layout="icon-only"
                    @icon="book"
                    @skin="borderless"
                    @href={{row.piece.viewDocumentURL}}
                    target="_blank"
                    />
                </WebComponents::AuButtonToolbar>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </Utils::LoadableContent>
  </WebComponents::AuModal::Body>
</WebComponents::AuModal>

{{#if this.isOpenNewPublicationModal}}
  <Publications::NewPublicationModal
    @case={{this.case}}
    @onSave={{perform this.saveNewPublication}}
    @onCancel={{this.cancelNewPublication}} />
{{/if}}