<div class="auk-u-mt-4">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "translations"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="secondary"
              @icon="plus"
              @disabled={{this.isTranslationUploadDisabled}}
              {{on "click" this.openTranslationUploadModal}}
            >
              {{t "upload-translation"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="primary"
              @icon="plus"
              {{on "click" this.openTranslationRequestModal}}
            >
              {{t "request-translations"}}
            </Auk::Button>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-bg-alt">
      {{#each @model as |timelineActivity|}}
        {{#if timelineActivity.isRequestActivity}}
          <Publications::Publication::Translations::TranslationRequestedPanel
            @requestActivity={{timelineActivity.activity}}
            @onDeleteRequest={{fn
              (perform this.deleteRequest)
              timelineActivity.activity
            }}
          />
        {{else if (and
          timelineActivity.isTranslationActivity
          timelineActivity.activity.endDate
        )}}
          <Publications::Publication::Translations::TranslationReceivedPanel
            @translationActivity={{timelineActivity.activity}}
            @publicationFlow={{this.publicationFlow}}
            @onSaveEditReceivedTranslation={{perform
              this.saveEditReceivedTranslation
            }}
          />
        {{/if}}
      {{else}}
        <Auk::EmptyState
          @bordered={{true}}
          @message={{t "no-translations-yet"}}
        />
      {{/each}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>

{{#if this.showTranslationRequestModal}}
  <Publications::Publication::Translations::TranslationRequestModal
    @dueDate={{this.translationSubcase.dueDate}}
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveTranslationRequest}}
    @onCancel={{this.closeTranslationRequestModal}}
  />
{{/if}}

{{#if this.showTranslationUploadModal}}
  <Publications::Publication::Translations::TranslationUploadModal
    @onSave={{perform this.saveTranslationUpload}}
    @onCancel={{this.closeTranslationUploadModal}}
  />
{{/if}}
