<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-o-grid au-o-grid--stretch">
    <div class="auk-o-grid-col-2">
      <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny au-u-padding-right-none">
        <div class="au-c-card au-o-box au-o-box--small">
          {{#if this.loadSelectedOrganizations.isRunning}}
            <Auk::Loader />
          {{else}}
            <OrganizationFilter
              @selected={{this.selectedOrganizations}}
              @onChange={{this.setOrganizations}}
            />
          {{/if}}
        </div>
        <div class="au-c-card au-o-box au-o-box--small">
          <Auk::Label>{{t "filter-on-last-seen"}}</Auk::Label>
          <div class="auk-form-group auk-u-position-relative au-u-margin-bottom-small">
            <Auk::Label>{{t "from"}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.dateFromBuffer}}
              @onChange={{set this "dateFromBuffer"}}
              @enableClear={{this.dateFromBuffer}}
              @onClear={{set this "dateFromBuffer" null}}
            />
          </div>
          <div class="auk-form-group auk-u-position-relative">
            <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.dateToBuffer}}
              @onChange={{set this "dateToBuffer"}}
              @enableClear={{this.dateToBuffer}}
              @onClear={{set this "dateToBuffer" null}}
            />
          </div>
        </div>
        <div class="au-c-card au-o-box au-o-box--small">
          {{#if this.loadSelectedRoles.isRunning}}
            <Auk::Loader />
          {{else}}
            <UserRoleFilter
              @selected={{this.selectedRoles}}
              @onChange={{perform this.setRoles}}
              @defaultEnableAllRoles={{is-empty this.selectedRoles}}
            />
          {{/if}}
        </div>
        <div class="au-c-card au-o-box au-o-box--small">
          <Auk::Label>{{t "blocked-on"}}</Auk::Label>
          <Auk::Checkbox
            @checked={{this.showBlockedMemberships}}
            @label={{t "membership"}}
            {{on "click" (toggle "showBlockedMemberships" this)}}
          />
          <Auk::Checkbox
            @checked={{this.showBlockedUsers}}
            @label={{t "user"}}
            {{on "click" (toggle "showBlockedUsers" this)}}
          />
        </div>
      </div>
    </div>
    <div class="auk-o-grid-col-10">
      <form {{on "submit" this.search}} class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-small au-u-padding-top-small au-u-padding-bottom-small au-u-flex--between au-u-flex--spaced-tiny">
        <Auk::Input
          data-test-route-settings-users-search-input
          class="auk-u-maximize-width"
          placeholder={{t "user-search"}}
          @type="search"
          @value={{this.searchTextBuffer}}
        />
        <Auk::Button
          data-test-route-settings-users-search-button
          @skin="primary"
          @icon="search"
          type="submit"
        >
          {{t "search"}}
        </Auk::Button>
      </form>
      <DataTable
        data-test-route-settings-users-table
        @content={{this.model}}
        @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
        @isLoading={{this.isLoadingModel}}
        @page={{this.page}}
        @size={{this.size}}
        @sort={{this.sort}}
        @noDataMessage={{t "no-results-found"}}
        as |table|
      >
        <table.content as |c|>
          <c.header>
            <ThSortable
              @currentSorting={{this.sort}}
              @field="first-name"
              @label={{t "name"}}
            />
            <th>{{t "organization"}}</th>
            <th>{{t "group"}}</th>
            <ThSortable
              @currentSorting={{this.sort}}
              @field="login-activity.start-date"
              @label={{t "last-seen"}}
            />
            <th></th>
          </c.header>
          <c.body as |user|>
            <td data-test-route-settings-users-row-name>
              <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if user.isBlocked "au-u-muted"}}">
                {{user.fullName}}
                {{#if user.isBlocked}}
                  <AuPill @icon="circle-x" @skin="error" @size="small">
                    {{t "blocked-user"}}
                  </AuPill>
                {{/if}}
              </span>
            </td>
            <td class="au-o-flow au-o-flow--tiny">
              {{#each (this.filterMemberships user.memberships) as |membership|}}
                <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if membership.isBlocked "au-u-muted"}}">
                  <div>
                    <p class="au-u-muted au-u-h-functional">
                      {{membership.organization.identifier}}
                    </p>
                    <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                      {{membership.organization.name}}
                    </p>
                  </div>
                  {{#if membership.isBlocked}}
                    <AuPill @icon="circle-x" @skin="error" @size="small">
                      {{t "blocked-membership"}}
                    </AuPill>
                  {{/if}}
                </div>
              {{/each}}
            </td>
            <td data-test-route-settings-users-row-group>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                {{#each (this.filterMemberships user.memberships) as |membership|}}
                  <p>{{membership.role.label}}</p>
                {{/each}}
              </div>
            </td>
            <td>
              {{#let user.loginActivity.startDate as |lastLoginDate|}}
                {{#if lastLoginDate}}
                  {{moment-format lastLoginDate}}
                  {{t "at"}}
                  {{moment-format lastLoginDate "HH:mm"}}
                {{/if}}
              {{/let}}
            </td>
            <td class="auk-u-text-align--right">
              <div class="auk-o-flex auk-o-flex--justify-end">
                <AuDropdown
                  @skin="naked"
                  @hideText={{true}}
                  @alignment="right"
                  @icon="three-dots"
                >
                  {{#if (not (is-empty (filter-by "isBlocked" user.memberships)))}}
                    <AuButton
                      @skin="naked"
                      role="menuitem"
                      {{on "click" (queue this.toggleShowUnblockMembership (set this "userBeingBlocked" user))}}
                    >
                      {{t "unblock-membership"}}
                    </AuButton>
                  {{/if}}
                  {{#if (not (is-empty (reject-by "isBlocked" user.memberships)))}}
                    <AuButton
                      @skin="naked"
                      @alert={{true}}
                      role="menuitem"
                      {{on "click" (queue this.toggleShowBlockMembership (set this "userBeingBlocked" user))}}
                    >
                      {{t "block-membership"}}
                    </AuButton>
                  {{/if}}
                  {{#if user.isBlocked}}
                    <AuButton
                      @skin="naked"
                      role="menuitem"
                      {{on "click" (queue (toggle "showUnblockUser" this) (set this "userBeingBlocked" user))}}
                    >
                      {{t "unblock-user"}}
                    </AuButton>
                  {{else}}
                    <AuButton
                      @skin="naked"
                      @alert={{true}}
                      role="menuitem"
                      {{on "click" (queue (toggle "showBlockUser" this) (set this "userBeingBlocked" user))}}
                    >
                      {{t "block-user"}}
                    </AuButton>
                  {{/if}}
                </AuDropdown>
                <AuLink
                  @skin="button-naked"
                  @icon="chevron-right"
                  @hideText={{true}}
                  @route="settings.users.user"
                  @model={{user.id}}
                  data-test-button-user-detail
                />
              </div>
            </td>
          </c.body>
        </table.content>
      </DataTable>
    </div>
  </div>
</div>

<ConfirmationModal
  @modalOpen={{this.showBlockMembership}}
  @onConfirm={{queue this.blockMemberships this.toggleShowBlockMembership}}
  @onCancel={{this.toggleShowBlockMembership}}
  @confirmMessage={{t "block-membership"}}
  @alert={{true}}
  @disabled={{is-empty this.membershipsBeingBlocked}}
>
  <:title>
    {{t "block-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-membership-explanation"}}</p>
      <AuFieldset as |f|>
        <f.legend>{{t "block-membership-which-one"}}</f.legend>
        <f.content>
          {{#each (reject-by "isBlocked" this.userBeingBlocked.memberships) as |membership|}}
            {{#let (concat membership.organization.name " - " membership.role.label) as |membershipLabel|}}
              <AuControlCheckbox
                @label={{membershipLabel}}
                @identifier={{membershipLabel}}
                @onChange={{fn this.toggleMembershipBeingBlocked membership}}
              />
            {{/let}}
          {{/each}}
        </f.content>
      </AuFieldset>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showUnblockMembership}}
  @onConfirm={{queue this.unblockMemberships this.toggleShowUnblockMembership}}
  @onCancel={{this.toggleShowUnblockMembership}}
  @confirmMessage={{t "unblock-membership"}}
  @disabled={{is-empty this.membershipsBeingBlocked}}
>
  <:title>
    {{t "unblock-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-membership-explanation"}}</p>
      <AuFieldset as |f|>
        <f.legend>{{t "unblock-membership-which-one"}}</f.legend>
        <f.content>
          {{#each (filter-by "isBlocked" this.userBeingBlocked.memberships) as |membership|}}
            {{#let (concat membership.organization.name " - " membership.role.label) as |membershipLabel|}}
              <AuControlCheckbox
                @label={{membershipLabel}}
                @identifier={{membershipLabel}}
                @onChange={{fn this.toggleMembershipBeingBlocked membership}}
              />
            {{/let}}
          {{/each}}
        </f.content>
      </AuFieldset>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showBlockUser}}
  @onConfirm={{queue this.blockUser (toggle "showBlockUser" this)}}
  @onCancel={{toggle "showBlockUser" this}}
  @confirmMessage={{t "block-user"}}
  @alert={{true}}
>
  <:title>
    {{t "block-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-user-explanation"}}</p>
      <p>{{t "block-user-are-you-sure" user=this.userBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showUnblockUser}}
  @onConfirm={{queue this.unblockUser (toggle "showUnblockUser" this)}}
  @onCancel={{toggle "showUnblockUser" this}}
  @confirmMessage={{t "unblock-user"}}
>
  <:title>
    {{t "unblock-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-user-explanation"}}</p>
      <p>{{t "unblock-user-are-you-sure" user=this.userBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
</ConfirmationModal>