<Utils::SettingsHeader @title={{t "manage-users"}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{#let (file-queue name="user-upload" onFileAdded=(perform this.uploadUserFile)) as |queue|}}
          {{!-- refactored the structure below a bit to remove redundant nesting (vl-refactor), but is still unintuitive --}}
          {{#if queue.files.length}}
            <AuButton
              @skin="secondary"
              @icon="import"
              @disabled={{true}}
            >
              {{t "import-users-text"}}
            </AuButton>
          {{else}}
            <label>
              <input
                type="file"
                accept=".csv"
                hidden
                {{queue.selectFile}}
              >
              <span
                data-test-route-settings-users-import-csv
                class="au-c-button au-c-button--secondary"
              >
                <AuIcon
                  @icon="import"
                />
                {{t "import-users"}}
              </span>
            </label>
          {{/if}}
        {{/let}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Utils::SettingsHeader>
<div class="auk-u-m-8">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Input
          data-test-route-settings-users-search-input
          @type="search"
          @value={{this.filter}}
        />
        <AuButton
          data-test-route-settings-users-search-button
          @skin="secondary"
          @icon="search"
          @hideText={{true}}
          {{on "click" this.refresh}}
        >
          {{t "search"}}
        </AuButton>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>

  <DataTable
    data-test-route-settings-users-table={{true}}
    @content={{await this.model}}
    @class="auk-table auk-table--striped"
    @isLoading={{this.isLoadingModel}}
    @page={{this.page}}
    @size={{this.size}}
    @sort={{this.sort}}
    @noDataMessage={{t "no-results-found"}}
    as |table|
  >
    <table.content as |c|>
      <c.header>
        <ThSortable
          @class="auk-table__col--3"
          @currentSorting={{this.sort}}
          @field="first-name"
          @label={{t "first-name"}}
        />
        <ThSortable
          @class="auk-table__col--2"
          @currentSorting={{this.sort}}
          @field="last-name"
          @label={{t "last-name"}}
        />
        <th
                class="auk-table__col--2"
        >
          {{t "email"}}
        </th>
        <ThSortable
          @class="auk-table__col--2"
          @currentSorting={{this.sort}}
          @field="organization.identifier"
          @label={{t "ovo-code"}}
        />
        <ThSortable
          @class="auk-table__col--2"
          @currentSorting={{this.sort}}
          @field="group.name"
          @label={{t "group"}}
        />
        <th class="auk-table__col--1"></th>
      </c.header>
      <c.body as |user|>
        <td data-test-route-settings-users-row-first-name>
          {{user.firstName}}
        </td>
        <td>
          {{user.lastName}}
        </td>
        <td>
          {{if user.email user.email "-"}}
        </td>
        <td>
          {{if user.organization.identifier user.organization.identifier "-"}}
        </td>
        <td data-test-route-settings-users-row-group>
          {{#if user.group}}
            {{user.group.name}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          {{!-- TODO: this action-bar component triggers seemingly unnecessary new requests for a user --}}
          <WebComponents::LightTable::VlcUserTableActionbar
            @row={{user}}
            @goToRoute={{this.goToRoute}}
          />
        </td>
      </c.body>
    </table.content>
  </DataTable>
</div>