<div class="auk-o-grid au-o-grid--stretch">
  <div class="auk-o-grid-col-2">
    <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny au-u-padding-right-none">
      <div class="au-c-card au-o-box au-o-box--small">
        {{#if this.loadSelectedOrganizations.isRunning}}
          <Auk::Loader />
        {{else}}
          <OrganizationFilter
            @selected={{this.selectedOrganizations}}
            @onChange={{this.setOrganizations}}
          />
        {{/if}}
      </div>
      <div class="au-c-card au-o-box au-o-box--small">
        <div class="au-c-form">
          <Auk::Label class="au-u-padding-bottom-none">{{t "filter-on-last-seen"}}</Auk::Label>
          <AuFormRow data-test-route-settings-user-date-from class="au-u-margin-top-tiny">
            <Auk::Label>{{t "from"}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.dateFromBuffer}}
              @onChange={{set this "dateFromBuffer"}}
              @enableClear={{this.dateFromBuffer}}
              @onClear={{set this "dateFromBuffer" null}}
              class="auk-u-maximize-width"
            />
          </AuFormRow>
          <AuFormRow data-test-route-settings-user-date-to class="au-u-margin-top-small">
            <Auk::Label>{{t "until-inclusive"}}</Auk::Label>
            <Auk::Datepicker
              @date={{this.dateToBuffer}}
              @onChange={{set this "dateToBuffer"}}
              @enableClear={{this.dateToBuffer}}
              @onClear={{set this "dateToBuffer" null}}
              class="auk-u-maximize-width"
            />
          </AuFormRow>
        </div>
      </div>
      <div class="au-c-card au-o-box au-o-box--small">
        {{#if this.loadSelectedRoles.isRunning}}
          <Auk::Loader />
        {{else}}
          <UserRoleFilter
            @selected={{this.selectedRoles}}
            @onChange={{perform this.setRoles}}
            @defaultEnableAllRoles={{is-empty this.selectedRoles}}
          />
        {{/if}}
      </div>
      <div class="au-c-card au-o-box au-o-box--small">
        <AuFieldset as |Fieldset|>
          <Fieldset.legend>{{t "blocked-on"}}</Fieldset.legend>
          <Fieldset.content>
            <AuCheckboxGroup> {{!-- Just use the group component here as a styling method as also using the included functionality would unnecessarily overcomplicate things --}}
              <AuCheckbox
                @checked={{this.showBlockedMembershipsOnly}}
                @onChange={{toggle "showBlockedMembershipsOnly" this}}
              >
                {{t "membership"}}
              </AuCheckbox>
              <AuCheckbox
                @checked={{this.showBlockedUsersOnly}}
                @onChange={{toggle "showBlockedUsersOnly" this}}
              >
                {{t "user"}}
              </AuCheckbox>
            </AuCheckboxGroup>
          </Fieldset.content>
        </AuFieldset>
      </div>
    </div>
  </div>
  <div class="auk-o-grid-col-10">
    <form {{on "submit" this.search}} class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-small au-u-padding-top-small au-u-padding-bottom-small au-u-flex--between au-u-flex--spaced-tiny">
      <AuInput
        data-test-route-settings-users-search-input
        type="search"
        placeholder={{t "user-search"}}
        class="auk-u-maximize-width"
        value={{this.searchTextBuffer}}
        {{on "input" (pick "target.value" (set this "searchTextBuffer"))}}
      />
      <AuButton
        data-test-route-settings-users-search-button
        @skin="primary"
        @icon="search"
        type="submit"
        class="auk-o-flex__item--fix"
      >
        {{t "search"}}
      </AuButton>
    </form>
    <KDataTable
      data-test-route-settings-users-table
      @loading={{this.isLoadingModel}}
      @content={{this.model}}
      @page={{this.page}}
      @size={{this.size}}
      @numberOfItems={{this.model.length}}
      @totalNumberOfItems={{this.model.meta.count}}
      @onChangeSize={{fn (mut this.size)}}
      @onChangePage={{fn (mut this.page)}}
    >
      <:header>
        <Utils::ThSortable
          data-test-route-settings-users-table-content-name
          @currentSorting={{this.sort}}
          @field="first-name"
          @label={{t "name"}}
          @onChange={{fn (mut this.sort)}}
        />
        <th>{{t "organization"}}</th>
        <th>{{t "group"}}</th>
        <th>{{t "minister"}}</th>
        <Utils::ThSortable
          data-test-route-settings-users-table-content-last-seen
          @currentSorting={{this.sort}}
          @field="login-activity.start-date"
          @label={{t "last-seen"}}
          @onChange={{fn (mut this.sort)}}
        />
        <th></th>
      </:header>
      <:body as |user|>
        <td data-test-route-settings-users-row-name>
          <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if user.isBlocked "au-u-muted"}}">
            {{user.fullName}}
            {{#if user.isBlocked}}
              <AuPill @icon="circle-x" @skin="error" @size="small">
                {{t "blocked-user"}}
              </AuPill>
            {{/if}}
          </span>
        </td>
        <td class="au-o-flow au-o-flow--tiny">
          {{#let (await (this.filterMemberships user)) as |memberships|}}
            {{#each memberships as |membership|}}
              <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if membership.isBlocked "au-u-muted"}}">
                <div>
                  <p class="au-u-muted au-u-h-functional">
                    {{membership.organization.identifier}}
                  </p>
                  <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                    {{membership.organization.name}}
                  </p>
                </div>
                {{#if membership.isBlocked}}
                  <AuPill @icon="circle-x" @skin="error" @size="small">
                    {{t "blocked-membership"}}
                  </AuPill>
                {{/if}}
              </div>
            {{/each}}
          {{/let}}
        </td>
        <td data-test-route-settings-users-row-group>
          <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
            {{#let (await (this.filterMemberships user)) as |memberships|}}
              {{#each memberships as |membership|}}
                <p>{{membership.role.label}}</p>
              {{/each}}
            {{/let}}
          </div>
        </td>
        <td data-test-route-settings-users-row-person>
          {{#if user.person}}
            {{user.person.fullName}}
          {{/if}}
        </td>
        <td>
          {{#let user.loginActivity.startDate as |lastLoginDate|}}
            {{#if lastLoginDate}}
              {{datetime-at lastLoginDate}}
            {{/if}}
          {{/let}}
        </td>
        <td data-test-route-settings-users-row-actions class="auk-u-text-align--right">
          <div class="auk-o-flex auk-o-flex--justify-end">
            {{!-- template-lint-disable require-context-role --}}
            <AuDropdown
              data-test-route-settings-users-row-actions-dropdown
              @skin="naked"
              @hideText={{true}}
              @alignment="right"
              @icon="three-dots"
            >
              {{#if (not (is-empty (filter-by "isBlocked" user.memberships)))}}
                <AuButton
                  data-test-route-settings-users-row-action-unblock-membership
                  @skin="naked"
                  role="menuitem"
                  {{on "click" (queue this.toggleShowUnblockMembershipsConfirmationModal (set this "userBeingBlocked" user))}}
                >
                  {{t "unblock-membership"}}
                </AuButton>
              {{/if}}
              {{#if (not (is-empty (reject-by "isBlocked" user.memberships)))}}
                <AuButton
                  data-test-route-settings-users-row-action-block-membership
                  @skin="naked"
                  @alert={{true}}
                  role="menuitem"
                  {{on "click" (queue this.toggleShowBlockMembershipsConfirmationModal (set this "userBeingBlocked" user))}}
                >
                  {{t "block-membership"}}
                </AuButton>
              {{/if}}
              {{#if user.isBlocked}}
                <AuButton
                  data-test-route-settings-users-row-action-unblock-user
                  @skin="naked"
                  role="menuitem"
                  {{on "click" (queue (toggle "showUnblockUserConfirmationModal" this) (set this "userBeingBlocked" user))}}
                >
                  {{t "unblock-user"}}
                </AuButton>
              {{else}}
                <AuButton
                  data-test-route-settings-users-row-action-block-user
                  @skin="naked"
                  @alert={{true}}
                  role="menuitem"
                  {{on "click" (queue (toggle "showBlockUserConfirmationModal" this) (set this "userBeingBlocked" user))}}
                >
                  {{t "block-user"}}
                </AuButton>
              {{/if}}
            </AuDropdown>
            {{!-- template-lint-enable require-context-role --}}
            <AuLink
              data-test-button-user-detail
              @skin="button-naked"
              @icon="chevron-right"
              @hideText={{true}}
              @route="settings.users.user"
              @model={{user.id}}
            />
          </div>
        </td>
      </:body>
    </KDataTable>
  </div>
</div>

<ConfirmationModal
  @modalOpen={{this.showBlockMembershipsConfirmationModal}}
  @onConfirm={{queue (perform this.blockMemberships) this.toggleShowBlockMembershipsConfirmationModal}}
  @onCancel={{this.toggleShowBlockMembershipsConfirmationModal}}
  @confirmMessage={{t "block-membership"}}
  @alert={{true}}
  @disabled={{is-empty this.membershipsBeingBlocked}}
  @loading={{this.blockMemberships.isRunning}}
>
  <:title>
    {{t "block-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-membership-explanation"}}</p>
      <AuFieldset as |f|>
        <f.legend>{{t "block-membership-which-one"}}</f.legend>
        <f.content>
          {{#each (reject-by "isBlocked" this.userBeingBlocked.memberships) as |membership|}}
            {{#let (concat membership.organization.name " - " membership.role.label) as |membershipLabel|}}
              <AuCheckbox
                @identifier={{membershipLabel}}
                @onChange={{fn this.toggleMembershipBeingBlocked membership}}
              >
                {{membershipLabel}}
              </AuCheckbox>
            {{/let}}
          {{/each}}
        </f.content>
      </AuFieldset>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showUnblockMembershipsConfirmationModal}}
  @onConfirm={{queue (perform this.unblockMemberships) this.toggleShowUnblockMembershipsConfirmationModal}}
  @onCancel={{this.toggleShowUnblockMembershipsConfirmationModal}}
  @confirmMessage={{t "unblock-membership"}}
  @disabled={{is-empty this.membershipsBeingBlocked}}
  @loading={{this.unblockMemberships.isRunning}}
>
  <:title>
    {{t "unblock-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-membership-explanation"}}</p>
      <AuFieldset as |f|>
        <f.legend>{{t "unblock-membership-which-one"}}</f.legend>
        <f.content>
          {{#each (filter-by "isBlocked" this.userBeingBlocked.memberships) as |membership|}}
            {{#let (concat membership.organization.name " - " membership.role.label) as |membershipLabel|}}
              <AuCheckbox
                @identifier={{membershipLabel}}
                @onChange={{fn this.toggleMembershipBeingBlocked membership}}
              >
                {{membershipLabel}}
              </AuCheckbox>
            {{/let}}
          {{/each}}
        </f.content>
      </AuFieldset>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showBlockUserConfirmationModal}}
  @onConfirm={{queue (perform this.blockUser) (toggle "showBlockUserConfirmationModal" this)}}
  @onCancel={{toggle "showBlockUserConfirmationModal" this}}
  @confirmMessage={{t "block-user"}}
  @alert={{true}}
  @loading={{this.blockUser.isRunning}}
>
  <:title>
    {{t "block-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-user-explanation"}}</p>
      <p>{{t "block-user-are-you-sure" user=this.userBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
</ConfirmationModal>

<ConfirmationModal
  @modalOpen={{this.showUnblockUserConfirmationModal}}
  @onConfirm={{queue (perform this.unblockUser) (toggle "showUnblockUserConfirmationModal" this)}}
  @onCancel={{toggle "showUnblockUserConfirmationModal" this}}
  @confirmMessage={{t "unblock-user"}}
  @loading={{this.unblockUser.isRunning}}
>
  <:title>
    {{t "unblock-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-user-explanation"}}</p>
      <p>{{t "unblock-user-are-you-sure" user=this.userBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
</ConfirmationModal>
