<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-o-grid au-o-grid--stretch">
    <div class="auk-o-grid-col-2">
    </div>
    <div class="auk-o-grid-col-10">
      <form {{on "submit" this.search}} class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-small au-u-padding-top-small au-u-padding-bottom-small au-u-flex--between au-u-flex--spaced-tiny">
        <Auk::Input
          data-test-route-settings-users-search-input
          class="auk-u-maximize-width"
          placeholder={{t "user-search"}}
          @type="search"
          @value={{this.searchTextBuffer}}
        />
        <AuButton
          data-test-route-settings-users-search-button
          @skin="primary"
          @icon="search"
          type="submit"
          class="auk-o-flex__item--fix"
        >
          {{t "search"}}
        </AuButton>
      </form>
      <DataTable
        data-test-route-settings-users-table
        @content={{this.model}}
        @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
        @isLoading={{this.isLoadingModel}}
        @page={{this.page}}
        @size={{this.size}}
        @sort={{this.sort}}
        @noDataMessage={{t "no-results-found"}}
        as |table|
      >
        <table.content as |c|>
          <c.header>
            <ThSortable
              @currentSorting={{this.sort}}
              @field="first-name"
              @label={{t "name"}}
            />
            <th>{{t "organization"}}</th>
            <th>{{t "group"}}</th>
            <th></th>
          </c.header>
          <c.body as |user|>
            <td data-test-route-settings-users-row-name>
              <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                {{user.fullName}}
              </span>
            </td>
            <td class="au-o-flow au-o-flow--tiny">
              {{#each user.memberships as |membership|}}
                <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                  <div>
                    <p class="au-u-muted au-u-h-functional">
                      {{membership.organization.identifier}}
                    </p>
                    <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                      {{membership.organization.name}}
                    </p>
                  </div>
                </div>
              {{/each}}
            </td>
            <td data-test-route-settings-users-row-group>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                {{#each user.memberships as |membership|}}
                  <p>{{membership.role.label}}</p>
                {{/each}}
              </div>
            </td>
            <td class="auk-u-text-align--right">
              <div class="auk-o-flex auk-o-flex--justify-end">
                {{#if (lte user.memberships.length 1)}}
                  {{!-- Show more options --}}
                {{/if}}
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="chevron-right"
                  @route="settings.users.user"
                  @model={{user.id}}
                  data-test-button-user-detail
                />
              </div>
            </td>
          </c.body>
        </table.content>
      </DataTable>
    </div>
  </div>
</div>