<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-o-grid au-o-grid--stretch">
    <div class="auk-o-grid-col-2">
    </div>
    <div class="auk-o-grid-col-10">
      <form {{on "submit" this.search}} class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-small au-u-padding-top-small au-u-padding-bottom-small au-u-flex--between au-u-flex--spaced-tiny">
        <Auk::Input
          data-test-route-settings-users-search-input
          class="auk-u-maximize-width"
          placeholder={{t "user-search"}}
          @type="search"
          @value={{this.searchTextBuffer}}
        />
        <Auk::Button
          data-test-route-settings-users-search-button
          @skin="primary"
          @icon="search"
          type="submit"
        >
          {{t "search"}}
        </Auk::Button>
      </form>
      <DataTable
        data-test-route-settings-users-table
        @content={{this.model}}
        @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
        @isLoading={{this.isLoadingModel}}
        @page={{this.page}}
        @size={{this.size}}
        @sort={{this.sort}}
        @noDataMessage={{t "no-results-found"}}
        as |table|
      >
        <table.content as |c|>
          <c.header>
            <ThSortable
              @currentSorting={{this.sort}}
              @field="first-name"
              @label={{t "name"}}
            />
            <th>{{t "organization"}}</th>
            <th>{{t "group"}}</th>
            <th></th>
          </c.header>
          <c.body as |user|>
            <td data-test-route-settings-users-row-name>
              <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if user.isBlocked "au-u-muted"}}">
                {{user.fullName}}
                {{#if user.isBlocked}}
                  <AuPill @icon="circle-x" @skin="error" @size="small">
                    {{t "blocked-user"}}
                  </AuPill>
                {{/if}}
              </span>
            </td>
            <td class="au-o-flow au-o-flow--tiny">
              {{#each user.memberships as |membership|}}
                <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if membership.isBlocked "au-u-muted"}}">
                  <div>
                    <p class="au-u-muted au-u-h-functional">
                      {{membership.organization.identifier}}
                    </p>
                    <p class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                      {{membership.organization.name}}
                    </p>
                  </div>
                  {{#if membership.isBlocked}}
                    <AuPill @icon="circle-x" @skin="error" @size="small">
                      {{t "blocked-membership"}}
                    </AuPill>
                  {{/if}}
                </div>
              {{/each}}
            </td>
            <td data-test-route-settings-users-row-group>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced">
                {{#each user.memberships as |membership|}}
                  <p>{{membership.role.label}}</p>
                {{/each}}
              </div>
            </td>
            <td class="auk-u-text-align--right">
              <div class="auk-o-flex auk-o-flex--justify-end">
                <AuDropdown
                  @skin="naked"
                  @hideText={{true}}
                  @alignment="right"
                  @icon="three-dots"
                >
                  {{#if (is-empty (reject-by "isBlocked" user.memberships))}}
                    <AuButton
                      @skin="naked"
                      role="menuitem"
                      {{on "click" (queue this.toggleShowUnblockMembership (set this "userBeingBlocked" user))}}
                    >
                      {{t "unblock-membership"}}
                    </AuButton>
                  {{else}}
                    <AuButton
                      @skin="naked"
                      @alert={{true}}
                      role="menuitem"
                      {{on "click" (queue this.toggleShowBlockMembership (set this "userBeingBlocked" user))}}
                    >
                      {{t "block-membership"}}
                    </AuButton>
                  {{/if}}
                  {{#if user.isBlocked}}
                    <AuButton
                      @skin="naked"
                      role="menuitem"
                      {{on "click" (queue (toggle "showUnblockUser" this) (set this "userBeingBlocked" user))}}
                    >
                      {{t "unblock-user"}}
                    </AuButton>
                  {{else}}
                    <AuButton
                      @skin="naked"
                      @alert={{true}}
                      role="menuitem"
                      {{on "click" (queue (toggle "showBlockUser" this) (set this "userBeingBlocked" user))}}
                    >
                      {{t "block-user"}}
                    </AuButton>
                  {{/if}}
                </AuDropdown>
                <AuLink
                  @skin="button-naked"
                  @icon="chevron-right"
                  @hideText={{true}}
                  @route="settings.users.user"
                  @model={{user.id}}
                  data-test-button-user-detail
                />
              </div>
            </td>
          </c.body>
        </table.content>
      </DataTable>
    </div>
  </div>
</div>

<AuModal
  @modalOpen={{this.showBlockMembership}}
  @closeModal={{this.toggleShowBlockMembership}}
>
  <:title>
    {{t "block-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-membership-explanation"}}</p>
      <AuFieldset as |f|>
        <f.legend>{{t "block-membership-which-one"}}</f.legend>
        <f.content>
          {{#each this.userBeingBlocked.memberships as |membership|}}
            {{#let (concat membership.organization.name " - " membership.role.label) as |membershipLabel|}}
              <AuControlCheckbox
                @label={{membershipLabel}}
                @identifier={{membershipLabel}}
                @onChange={{fn this.toggleMembershipBeingBlocked membership}}
              />
            {{/let}}
          {{/each}}
        </f.content>
      </AuFieldset>
    </div>
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton
          @skin="naked"
          {{on "click" this.toggleShowBlockMembership}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          @alert={{true}}
          @disabled={{is-empty this.membershipsBeingBlocked}}
          {{on "click" (queue this.blockMemberships this.toggleShowBlockMembership)}}
        >
          {{t "block-membership"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showUnblockMembership}}
  @closeModal={{this.toggleShowUnblockMembership}}
>
  <:title>
    {{t "unblock-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-membership-explanation"}}</p>
      <AuFieldset as |f|>
        <f.legend>{{t "unblock-membership-which-one"}}</f.legend>
        <f.content>
          {{#each this.userBeingBlocked.memberships as |membership|}}
            {{#let (concat membership.organization.name " - " membership.role.label) as |membershipLabel|}}
              <AuControlCheckbox
                @label={{membershipLabel}}
                @identifier={{membershipLabel}}
                @onChange={{fn this.toggleMembershipBeingBlocked membership}}
              />
            {{/let}}
          {{/each}}
        </f.content>
      </AuFieldset>
    </div>
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton
          @skin="naked"
          {{on "click" this.toggleShowUnblockMembership}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          @alert={{true}}
          @disabled={{is-empty this.membershipsBeingBlocked}}
          {{on "click" (queue this.unblockMemberships this.toggleShowUnblockMembership)}}
        >
          {{t "unblock-membership"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showBlockUser}}
  @closeModal={{toggle "showBlockUser" this}}
>
  <:title>
    {{t "block-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-user-explanation"}}</p>
      <p>{{t "block-user-are-you-sure" user=this.userBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton
          @skin="naked"
          {{on "click" (toggle "showBlockUser" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          @alert={{true}}
          {{on "click" (queue this.blockUser (toggle "showBlockUser" this))}}
        >
          {{t "block-user"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showUnblockUser}}
  @closeModal={{toggle "showUnblockUser" this}}
>
  <:title>
    {{t "unblock-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-user-explanation"}}</p>
      <p>{{t "unblock-user-are-you-sure" user=this.userBeingBlocked.fullName htmlSafe=true}}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar
      as |Group|
    >
      <Group>
        <AuButton
          @skin="naked"
          {{on "click" (toggle "showUnblockUser" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          @alert={{true}}
          {{on "click" (queue this.unblockUser (toggle "showUnblockUser" this))}}
        >
          {{t "unblock-user"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>