<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Button @route="settings.users.index" @skin="borderless" data-test-auk-back-button>
        <Auk::Icon @name="hierarchical-back" />
        <span class="au-u-hidden-visually">{{t "back"}}</span>
      </Auk::Button>
      <Auk::Toolbar::Item>
        <h4 data-test-settings-header-title class="auk-toolbar-complex__title">
          {{t "manage-user" firstName=this.model.firstName lastName=this.model.lastName}}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{yield}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="au-o-grid">
  <div class="au-o-grid__item au-u-3-4@medium au-u-2-3@large">
    <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
      <Auk::Panel>
        <Auk::Panel::Header>
          <AuToolbar class="auk-u-maximize-width" as |Group|>
            <Group>
              <h4 data-test-route-settings---user-general-info class="auk-panel__title">
                {{t "manage-users-general-info"}}
              </h4>
            </Group>
          </AuToolbar>
        </Auk::Panel::Header>
        <Auk::Panel::Body>
          <dl>
            <div class="auk-key-value-item auk-key-value-item--horizontal">
              <div class="auk-key-value-item__label">{{t "manage-users-full-name"}}</div>
              <div class="auk-key-value-item__value au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
                {{this.model.fullName}}
              </div>
            </div>
          </dl>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
    <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
      <Auk::Panel>
        <Auk::Panel::Header>
          <h4 data-test-route-settings---user-technical-info class="auk-panel__title">
            {{t "user-rights"}}
          </h4>
        </Auk::Panel::Header>
        <Auk::Panel::Body class="au-u-padding-none">
          <AuTable>
            <:header>
              <tr>
                <th>{{capitalize (t "organization")}}</th>
                <th>{{t "ovo-code"}}</th>
                <th>{{capitalize (t "group")}}</th>
                <th></th>
              </tr>
            </:header>
            <:body>
              {{#each this.model.memberships as |membership|}}
                <tr class="au-u-muted">
                  <td>{{membership.organization.name}}</td>
                  <td>{{membership.organization.identifier}}</td>
                  <td>{{membership.role.label}}</td>
                  <td class="au-u-text-right">{{!-- actions --}}</td>
                </tr>
              {{/each}}
            </:body>
          </AuTable>
        </Auk::Panel::Body>
      </Auk::Panel>
    </div>
  </div>
</div>
