<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <AuLink
        data-test-auk-back-button
        @skin="button-naked"
        @icon="hierarchical-back"
        @hideText={{true}}
        @route="settings.users.index"
        class="auk-u-mr-2"
      >
        {{t "back"}}
      </AuLink>
      <Auk::Toolbar::Item>
        <h4 data-test-settings-header-title class="auk-toolbar-complex__title">
          {{t
            "manage-user"
            firstName=this.model.firstName
            lastName=this.model.lastName
          }}
        </h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{yield}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-u-overflow-hidden">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-3-4@medium au-u-2-3@large">
      <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
        <Auk::Panel>
          <Auk::Panel::Header>
            <AuToolbar class="auk-u-maximize-width" as |Group|>
              <Group>
                <h4
                  data-test-route-settings---user-general-info
                  class="auk-panel__title"
                >
                  {{t "manage-users-general-info"}}
                </h4>
              </Group>
              <Group>
                {{#if @model.isBlocked}}
                  <AuButton
                    data-test-route-settings---user-unblock
                    {{on "click" (toggle "showUnblockUser" this)}}
                  >
                    {{t "unblock-user"}}
                  </AuButton>
                {{else}}
                  <AuButton
                    data-test-route-settings---user-block
                    @alert={{true}}
                    {{on "click" (toggle "showBlockUser" this)}}
                  >
                    {{t "block-user"}}
                  </AuButton>
                {{/if}}
              </Group>
            </AuToolbar>
          </Auk::Panel::Header>
          <Auk::Panel::Body>
            <dl>
              <div class="auk-key-value-item auk-key-value-item--horizontal">
                <div class="auk-key-value-item__label">{{t
                    "manage-users-full-name"
                  }}</div>
                <div
                  class="auk-key-value-item__value au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small"
                >
                  {{this.model.fullName}}
                </div>
              </div>
            </dl>
            <dl>
              <div class="auk-key-value-item auk-key-value-item--horizontal">
                <div class="auk-key-value-item__label">{{t
                    "manage-users-email"
                  }}</div>
                <div
                  class="auk-key-value-item__value au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small"
                >
                  {{this.model.email}}
                </div>
              </div>
            </dl>
            <dl>
              <Auk::KeyValue
                @key={{t "last-seen"}}
                @value={{if
                  @model.loginActivity.startDate
                  (datetime-at @model.loginActivity.startDate)
                  "-"
                }}
                @layout="horizontal"
              />
            </dl>
          </Auk::Panel::Body>
        </Auk::Panel>
      </div>
      <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
        <Auk::Panel>
          <Auk::Panel::Header>
            <h4
              data-test-route-settings---user-technical-info
              class="auk-panel__title"
            >
              {{t "user-rights"}}
            </h4>
          </Auk::Panel::Header>
          <Auk::Panel::Body class="au-u-padding-none">
            <AuTable>
              <:header>
                <tr>
                  <th>{{capitalize (t "organization")}}</th>
                  <th>{{t "organization-id"}}</th>
                  <th>{{capitalize (t "group")}}</th>
                  <th></th>
                </tr>
              </:header>
              <:body>
                {{#each this.model.memberships as |membership|}}
                  <tr class="{{if membership.isBlocked 'au-u-muted'}}">
                    <td>{{membership.organization.name}}</td>
                    <td>{{membership.organization.identifier}}</td>
                    <td>{{membership.role.label}}</td>
                    <td class="au-u-text-right">
                      {{#if membership.isBlocked}}
                        <AuButton
                          data-test-route-settings---user-unblock-membership
                          @skin="naked"
                          @icon="circle-full"
                          {{on
                            "click"
                            (queue
                              (toggle "showUnblockMembership" this)
                              (set this "membershipBeingBlocked" membership)
                            )
                          }}
                        >
                          {{t "unblock-membership"}}
                        </AuButton>
                      {{else}}
                        <AuButton
                          data-test-route-settings---user-block-membership
                          @skin="naked"
                          @icon="circle-x"
                          @alert={{true}}
                          {{on
                            "click"
                            (queue
                              (toggle "showBlockMembership" this)
                              (set this "membershipBeingBlocked" membership)
                            )
                          }}
                        >
                          {{t "block-membership"}}
                        </AuButton>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </:body>
            </AuTable>
          </Auk::Panel::Body>
        </Auk::Panel>
      </div>
      <div class="auk-u-m-4 auk-u-mr-2 auk-u-ml-2">
        <Auk::Panel>
          <Auk::Panel::Header>
            <AuToolbar class="auk-u-maximize-width" as |Group|>
              <Group>
                <h4
                  data-test-route-settings---user-technical-info
                  class="auk-panel__title"
                >
                  {{t "mandatee"}}
                </h4>
              </Group>
              <Group>
                {{#if this.selectedPerson.id}}
                  {{#if (eq this.selectedPerson.id this.model.person.id)}}
                    <AuButton
                      data-test-route-settings---user-unlink-person
                      @alert={{true}}
                      {{on "click" this.unlinkPerson}}
                    >
                      {{t "unlink"}}
                    </AuButton>
                  {{else}}
                    <AuButton
                      data-test-route-settings---user-link-person
                      {{on "click" this.linkPerson}}
                    >
                      {{t "connect"}}
                    </AuButton>
                  {{/if}}
                {{/if}}
              </Group>
            </AuToolbar>
          </Auk::Panel::Header>
          <Auk::Panel::Body>
            <div class="au-c-form">
              <Mandatees::MandateePersonSelector
                @onChange={{fn (mut this.selectedPerson)}}
                @multiple={{false}}
                @selectedPerson={{this.model.person}}
                @visibleRoles={{this.visibleRoles}}
              />
            </div>
          </Auk::Panel::Body>
        </Auk::Panel>
      </div>
    </div>
  </div>
</div>

<AuModal
  @modalOpen={{this.showBlockMembership}}
  @closeModal={{toggle "showBlockMembership" this}}
  @closable={{this.blockMembership.isIdle}}
>
  <:title>
    {{t "block-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-membership-explanation"}}</p>
      <p>{{t
          "block-membership-are-you-sure"
          user=@model.fullName
          htmlSafe=true
        }}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @skin="naked"
          @disabled={{this.blockMembership.isRunning}}
          {{on "click" (toggle "showBlockMembership" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          data-test-route-settings---user-confirm-block-membership
          @alert={{true}}
          @loading={{this.blockMembership.isRunning}}
          {{on
            "click"
            (queue
              (perform this.blockMembership) (toggle "showBlockMembership" this)
            )
          }}
        >
          {{t "block-membership"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showUnblockMembership}}
  @closeModal={{toggle "showUnblockMembership" this}}
  @closable={{this.unblockMembership.isIdle}}
>
  <:title>
    {{t "unblock-membership"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-membership-explanation"}}</p>
      <p>{{t
          "unblock-membership-are-you-sure"
          user=@model.fullName
          htmlSafe=true
        }}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @skin="naked"
          @disabled={{this.unblockMembership.isRunning}}
          {{on "click" (toggle "showUnblockMembership" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          data-test-route-settings---user-confirm-unblock-membership
          @alert={{true}}
          @loading={{this.unblockMembership.isRunning}}
          {{on
            "click"
            (queue
              (perform this.unblockMembership)
              (toggle "showUnblockMembership" this)
            )
          }}
        >
          {{t "unblock-membership"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showBlockUser}}
  @closeModal={{toggle "showBlockUser" this}}
  @closable={{this.blockUser.isIdle}}
>
  <:title>
    {{t "block-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "block-user-explanation"}}</p>
      <p>{{t "block-user-are-you-sure" user=@model.fullName htmlSafe=true}}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @skin="naked"
          @disabled={{this.blockUser.isRunning}}
          {{on "click" (toggle "showBlockUser" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          data-test-route-settings---user-confirm-block-user
          @alert={{true}}
          @loading={{this.blockUser.isRunning}}
          {{on
            "click"
            (queue (perform this.blockUser) (toggle "showBlockUser" this))
          }}
        >
          {{t "block-user"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.showUnblockUser}}
  @closeModal={{toggle "showUnblockUser" this}}
  @closable={{this.unblockUser.isIdle}}
>
  <:title>
    {{t "unblock-user"}}
  </:title>
  <:body>
    <div class="au-o-flow au-o-flow--small">
      <p>{{t "unblock-user-explanation"}}</p>
      <p>{{t
          "unblock-user-are-you-sure"
          user=@model.fullName
          htmlSafe=true
        }}</p>
    </div>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @skin="naked"
          @disabled={{this.unblockUser.isRunning}}
          {{on "click" (toggle "showUnblockUser" this)}}
        >
          {{t "cancel"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton
          data-test-route-settings---user-confirm-unblock-user
          @alert={{true}}
          @loading={{this.unblockUser.isRunning}}
          {{on
            "click"
            (queue (perform this.unblockUser) (toggle "showUnblockUser" this))
          }}
        >
          {{t "unblock-user"}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>