<DataTable
    @content={{this.model}}
    @page={{this.page}}
    @noDataMessage={{t "no-results-found"}}
    @size={{this.size}}
    @sort={{this.sort}}
    @isLoading={{this.isLoadingModel}}
    @onClickRow={{this.navigateToPublication}}
    @class="auk-table auk-table--disable-bottom-border"
    as |table|
>
  <table.content as |c|>
    <c.header>
      <th>{{t "agendaitem-case"}}</th>
      {{th-sortable
        currentSorting=this.sort
        field="publicationNumber"
        label=(t "publications-number")
      }}
      {{th-sortable
        currentSorting=this.sort
        field="publishBefore"
        label=(t "publication-before")
      }}
      {{th-sortable
        currentSorting=this.sort
        field="modified"
        label=(t "latest-modified")
      }}
      <th>{{t "translations"}}</th>
      <th>{{t "proof"}}</th>
      <th></th>
      <th></th>
      <th></th>
    </c.header>
    <c.body class="tr-hover" as |row|>
      <td>
        {{row.case.shortTitle}}
      </td>
      <td>
        {{row.publicationNumber}}
      </td>
      <td>
        {{#if row.publishBefore}}
          {{moment-format row.publishBefore "DD-MM-YYYY"}}
        {{else}}
          {{t "dash"}}
        {{/if}}
      </td>
      <td>
        {{moment-format row.modified "DD-MM-YYYY"}}<br/>
        <span class="auk-u-text-small auk-u-muted">{{moment-format row.modified "HH:mm"}}</span>
      </td>
      <td>
        {{t "dash"}}
        {{!-- {{#if row.translationStatus.[0].initiated}}
        <WebComponents::AuStatusPill @status={{row.translationStatus.[0].status}}>{{row.translationStatus.[0].finished}}/{{row.translationStatus.[0].total}}</WebComponents::AuStatusPill>
        {{else}}
        -
        {{/if}} --}}
      </td>
      <td class=".auk-u-text-align--center">
        {{#if row.hasPriority}}
          <WebComponents::AuIcon @iconSkinColor="warning" @name="alert-triangle"/>
          <EmberTooltip @tooltipClass="auk-tooltip" @side="bottom">
            <p>
              {{t "priority-procedure"}}
            </p>
          </EmberTooltip>
        {{/if}}
      </td>
      <td>
        {{t "dash"}}
        {{!-- {{#if row.printProofStatus.[0].initiated}}
        <WebComponents::AuStatusPill @status={{row.printProofStatus.[0].status}}>{{row.printProofStatus.[0].finished}}/{{row.printProofStatus.[0].total}}</WebComponents::AuStatusPill>
        {{else}}
        -
        {{/if}} --}}
      </td>
      <td>
        {{#if row.remark}}
          <WebComponents::AuButton @skin="borderless" @layout="icon-only" @icon="comment">
            <AttachTooltip
              @arrow="true"
              @animation="fade"
              @placement="left"
              @class="auk-tooltip"
            >
              <p>
                {{row.remark}}
              </p>
            </AttachTooltip>
          </WebComponents::AuButton>
        {{/if}}
      </td>
      <td>
        <WebComponents::AuButtonToolbar>
          <WebComponents::AuButton {{on "click" (fn this.navigateToPublication row)}} @skin="borderless" @layout="icon-only" @icon="chevron-right" data-test-publications-button-go-to-publication/>
        </WebComponents::AuButtonToolbar>
      </td>
    </c.body>
  </table.content>
</DataTable>