{{#if isEditingOverview}}
  <ChangesAlert
    @message={{t "editing-agenda-overview"}}
    @buttonText={{t "end-editing-overview"}}
    @clearAction={{action "toggleIsEditingOverview"}} />
{{/if}}
<div class="vlc-toolbar vlc-agenda-items-section-header">

  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h3 class="vl-title--h3 vlc-agenda-items-section-header__title">
        {{t "agendaitems-subtitle"}}
      </h3>
    </div>
  </div>
  {{#if (not isEditingOverview)}}
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <a href=""
           class="vlc-agenda-items-section-header__link"
           {{action "toggleChangesOnly"}}
        >
          {{#if (not isShowingChanges)}}
            {{t "show-changes"}}
          {{else}}
            {{t "show-all"}}
          {{/if}}
        </a>
      </div>
      <div class="vlc-toolbar__item">
        {{#if
          (and
            currentSessionService.isEditor
            (await currentAgenda.isDesignAgenda)
          )
        }}
          <div class="vl-u-spacer-extended-left-s">
            <a href=""
               data-test-agenda-edit-formally-ok-button
               class="vlc-agenda-items-section-header__link"
              {{action "toggleIsEditingOverview"}}
            >
              {{t "edit"}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{#if (is-empty agendaitems)}}
  <div class="vl-u-spacer-extended-top-s">
    {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
  </div>
{{/if}}
<div class="{{spacerClass}}">
  {{#if
    (and currentSessionService.isEditor (not isShowingChanges) currentAgenda.isDesignAgenda)
  }}
    {{#sortable-group
      tagName="ul"
      onChange=(action "reorderItems")
    as |sortableGroup|
    }}
      {{#each
        agendaitems
      as |agendaitem|
      }}
        {{#if agendaitem.groupName}}
          <div class="vlc-list-section-header">
            {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
              These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
            {{!-- template-lint-disable no-triple-curlies  --}}
            <span class="vlc-list-section-header-title">{{{agendaitem.groupName}}}</span>
            {{!-- template-lint-enable no-triple-curlies  --}}
          </div>
        {{/if}}
        {{#sortable-item
          tagName="li"
          class="vlc-agenda-items__sub-item"
          model=agendaitem
          group=sortableGroup
          distance=30
          handle=dragHandleClass
        }}
          <Agenda::AgendaOverview::AgendaOverviewItem
            @agendaitem={{agendaitem}}
            @setFormallyOkAction={{action this.setFormallyOkAction agendaitem}}
            @isEditingOverview={{isEditingOverview}}
            @selectAgendaitem={{action this.selectAgendaitemAction}}
          />
        {{/sortable-item}}
      {{/each}}
    {{/sortable-group}}
  {{else}}
    <ul>
      {{#each
        agendaitems
      as |agendaitem|
      }}
        {{#if (and agendaitem.groupName (not isShowingChanges))}}
          <div class="vlc-list-section-header">
            {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
              These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
            {{!-- template-lint-disable no-triple-curlies  --}}
            {{{agendaitem.groupName}}}
            {{!-- template-lint-enable no-triple-curlies  --}}
          </div>
        {{/if}}
        {{#if
          (or (not isShowingChanges) (and isShowingChanges (await agendaitem.hasChanges)))
        }}
          <li class="vlc-agenda-items__sub-item">
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{agendaitem}}
              @setFormallyOkAction={{action this.setFormallyOkAction agendaitem}}
              @isEditingOverview={{isEditingOverview}}
              @selectAgendaitem={{action this.selectAgendaitemAction}}
            />
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
</div>
<div class="vlc-agenda-items-section-header">
  <h3 class="vl-title--h3 vlc-agenda-items-section-header__title">
    {{t "announcements-subtitle"}}
  </h3>
</div>
<div class="vl-u-spacer">
  {{#if (gt (await announcements.length) 0)}}
    {{#if (and currentSessionService.isEditor currentAgenda.isDesignAgenda)}}
      {{#sortable-group
        tagName="ul"
        onChange=(action "reorderItems")
      as |sortableAnnouncements|
      }}
        {{#each
          (await announcements)
        as |announcement|
        }}
          {{#sortable-item
            tagName="li"
            class="vlc-agenda-items__sub-item"
            model=announcement
            group=sortableAnnouncements
            distance=30
            handle=dragHandleClass
          }}
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{announcement}}
              @setFormallyOkAction={{action this.setFormallyOkAction announcement}}
              @isEditingOverview={{isEditingOverview}}
              @selectAgendaitem={{action this.selectAgendaitemAction}}
            />
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    {{else}}
      {{#each
        (await announcements)
      as |announcement|
      }}
        <div class="vlc-agenda-items__sub-item">
          <Agenda::AgendaOverview::AgendaOverviewItem
            @agendaitem={{announcement}}
            @setFormallyOkAction={{action this.setFormallyOkAction announcement}}
            @isEditingOverview={{isEditingOverview}}
            @selectAgendaitem={{action this.selectAgendaitemAction}}
          />
        </div>
      {{/each}}
    {{/if}}
  {{else}}
    <WebComponents::VlAlert @message={{t "no-announcements-yet"}} />
  {{/if}}
</div>

{{#if (await showLoader)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-agendaitem-title-message"}}
    @disableFocus="{{true}}"
  >
    <WebComponents::VlLoader
      @text={{concat
        (t "saving-agendaitem-message")
        " "
        (t "please-be-patient")
      }}
    />
  </WebComponents::VlModal>
{{/if}}