<div class="vlc-agenda-items auk-u-m-8 vlc-agenda-items--spaced">
  <div class="vlc-toolbar vlc-agenda-items-section-header">

    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <h3 class="vl-title--h3 vlc-agenda-items-section-header__title">
          {{t "agendaitems-subtitle"}}
        </h3>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <a href=""
           class="vlc-agenda-items-section-header__link"
           {{on "click" this.toggleChangesOnly}}
        >
          {{#if (not this.isShowingChanges)}}
            {{t "show-changes"}}
          {{else}}
            {{t "show-all"}}
          {{/if}}
        </a>
      </div>
      <div class="vlc-toolbar__item">
        {{#if
          (and
            this.currentSessionService.isEditor
            (await @currentAgenda.isDesignAgenda)
          )
        }}
          <div class="auk-u-ml-2">
            <a href=""
               data-test-agenda-edit-formally-ok-button
               class="vlc-agenda-items-section-header__link"
            >
              {{t "edit"}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{#if (is-empty @notas)}}
    <div class="auk-u-mt-2">
      {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
    </div>
  {{/if}}
  <div class={{this.spacerClass}}>
    {{#if
      (and this.currentSessionService.isEditor @currentAgenda.isDesignAgenda)
    }}
      <SortableGroup
        @tagName="ul"
        @onChange={{@onReorderAgendaitems}}
      as |sortableGroup|
      >
        {{!-- Goedkeuringen vorige vergaderingen --}}
        {{#each this.approvalNotas as |agendaitem|}}
          <SortableItem
            @tagName="li"
            @class="vlc-agenda-items__sub-item"
            @model={{agendaitem}}
            @group={{sortableGroup}}
            @distance={{30}}
            @handle={{this.dragHandleClass}}
          >
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{agendaitem}}
              @setFormallyOkAction={{fn this.setFormallyOkAction agendaitem}}
            />
          </SortableItem>
        {{/each}}
        {{!-- other notas --}}
        {{#each this.groupedNotas as |agendaitemGroup|}}
          <Agenda::AgendaOverview::AgendaitemGroupHeader @mandatees={{agendaitemGroup.mandatees}}/>
          {{#each agendaitemGroup.agendaitems as |agendaitem|}}
            <SortableItem
              @tagName="li"
              @class="vlc-agenda-items__sub-item"
              @model={{agendaitem}}
              @group={{sortableGroup}}
              @distance={{30}}
              @handle={{this.dragHandleClass}}
            >
              <Agenda::AgendaOverview::AgendaOverviewItem
                @agendaitem={{agendaitem}}
                @setFormallyOkAction={{fn this.setFormallyOkAction agendaitem}}
              />
            </SortableItem>
          {{/each}}
        {{/each}}
      </SortableGroup>
    {{else}}
      {{!-- Else clause can be avoided once drag & drop can be disabled (bump version) --}}
      <ul>
        {{#each this.groupedNotas as |agendaitemGroup|}}
          {{#each agendaitemGroup.agendaitems as |agendaitem|}}
            <SortableItem
              @tagName="li"
              @class="vlc-agenda-items__sub-item"
              @model={{agendaitem}}
              @group={{sortableGroup}}
              @distance={{30}}
              @handle={{this.dragHandleClass}}
            >
              <Agenda::AgendaOverview::AgendaOverviewItem
                @agendaitem={{agendaitem}}
                @setFormallyOkAction={{fn this.setFormallyOkAction agendaitem}}
              />
            </SortableItem>
          {{/each}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class="vlc-agenda-items-section-header">
    <h3 class="vl-title--h3 vlc-agenda-items-section-header__title">
      {{t "announcements-subtitle"}}
    </h3>
  </div>
  <div class="auk-u-mb-4">
    {{#if (gt @announcements.length 0)}}
      {{#if
        (and this.currentSessionService.isEditor @currentAgenda.isDesignAgenda)
      }}
        <SortableGroup
          @tagName="ul"
          @onChange={{@onReorderAgendaitems}}
        as |sortableAnnouncements|>
          {{#each @announcements as |announcement|}}
            <SortableItem
              @tagName="li"
              @class="vlc-agenda-items__sub-item"
              @model={{announcement}}
              @group={{sortableAnnouncements}}
              @distance={{30}}
              @handle={{this.dragHandleClass}}
            >
              <Agenda::AgendaOverview::AgendaOverviewItem
                @agendaitem={{announcement}}
                @setFormallyOkAction={{fn this.setFormallyOkAction announcement}}
              />
            </SortableItem>
          {{/each}}
        </SortableGroup>
      {{else}}
        {{#each @announcements as |announcement|}}
          <div class="vlc-agenda-items__sub-item">
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{announcement}}
              @setFormallyOkAction={{fn this.setFormallyOkAction announcement}}
            />
          </div>
        {{/each}}
      {{/if}}
    {{else}}
      <WebComponents::VlAlert @message={{t "no-announcements-yet"}} />
    {{/if}}
  </div>
  {{#if this.showLoader}}
    <WebComponents::AuLoadingOverlay/>
  {{/if}}
</div>