{{#if @currentAgenda.isDesignAgenda}}
  {{#if
    (and (not (is-pending this.isDeletable)) (not (is-pending this.isPostPonable)))
  }}
    <WebComponents::AuButtonToolbar>
      <WebComponents::AuButton
              data-test-agendaitem-controls-actions
              @layout="icon-right"
              @icon="chevron-down"
      >
        {{t "actions"}}
      </WebComponents::AuButton>
      <AttachPopover
              @renderInPlace={{true}}
              @class="ember-attacher-popper"
              @hideOn="clickout click"
              @showOn="click"
              @animation="shift"
              @placement="bottom"
      {{!-- as |attacher| --}}
      >
        <WebComponents::AuDropdown>
          {{#if this.isPostPonable}}
            {{#if @agendaitem.retracted}}
              <WebComponents::AuDropdown::Item {{on "click" (fn this.advanceAgendaitem @agendaitem)}} data-test-agendaitem-controls-action-advance>
                {{t "not-postpone"}}
              </WebComponents::AuDropdown::Item>
            {{else}}
              <WebComponents::AuDropdown::Item {{on "click" (fn this.postponeAgendaitem @agendaitem)}} data-test-agendaitem-controls-action-postpone>
                {{t "postpone"}}
              </WebComponents::AuDropdown::Item>
            {{/if}}
          {{/if}}
          {{#if (or this.currentSession.isAdmin (await this.isDeletable))}}
            <WebComponents::AuDropdown::Item {{on "click" this.toggleIsVerifying}}
                    data-test-agendaitem-controls-action-delete
                    @skin="danger"
            >
              {{t "delete"}}
            </WebComponents::AuDropdown::Item>
          {{/if}}
        </WebComponents::AuDropdown>
      </AttachPopover>
    </WebComponents::AuButtonToolbar>
  {{else}}
    <div class="vl-loader"></div>
  {{/if}}
  {{#if isVerifying}}
    <WebComponents::VlModalVerify
      @title={{t "delete-agendaitem"}}
      @message={{await deleteWarningText}}
      @cancel={{action "toggleIsVerifying"}}
      @verify={{action "verifyDelete" agendaitem}} />
  {{/if}}
{{/if}}
{{#if (await isSavingRetracted)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-retracted-agendaitem-title"}}
  >
    <WebComponents::VlLoader
      @text={{concat
        (t "saving-retracted-agendaitem-message")
        " "
        (t "please-be-patient")
      }}
    />
  </WebComponents::VlModal>
{{/if}}
