{{#if currentAgenda.isDesignAgenda}}
  {{#if (and (not (is-pending isDeletable)) (not (is-pending isPostPonable)))}}
    {{#if (await isPostPonable)}}
      {{#if agendaitem.retracted}}
        <button data-test-revert-postpone-agendaitem type="button" class="vl-button vl-button--tertiary"
          {{action "advanceAgendaitem" agendaitem}}
        >
          {{t "not-postpone"}}
        </button>
      {{else}}
        <button data-test-postpone-agendaitem type="button" class="vl-button vl-button--tertiary" {{action "postponeAgendaitem" agendaitem}}>
          {{t "postpone"}}
        </button>
      {{/if}}
    {{/if}}
    {{#if (or currentSession.isAdmin (await isDeletable))}}
      <button data-test-delete-agendaitem type="button" class="vl-button vl-button--tertiary"
        {{action "toggleIsVerifying"}}>
        {{t "delete"}}
      </button>
    {{/if}}
  {{else}}
    <div class="vl-loader"></div>
  {{/if}}
  {{#if isVerifying}}
    <WebComponents::VlModalVerify
      @title={{t "delete-agendaitem"}}
      @message={{await deleteWarningText}}
      @cancel={{action "toggleIsVerifying"}}
      @verify={{action "verifyDelete" agendaitem}} />
  {{/if}}
{{/if}}
{{#if (await isSavingRetracted)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @showCloseButton={{false}}
    @title={{t "saving-retracted-agendaitem-title"}}
  >
    <WebComponents::VlLoader
      @text={{concat
        (t "saving-retracted-agendaitem-message")
        " "
        (t "please-be-patient")
      }}
    />
  </WebComponents::VlModal>
{{/if}}
