<AuFormRow ...attributes>
  <AuLabel @required={{true}} @inline={{true}} for="newCaseTitleId">{{capitalize (t "case")}}</AuLabel>
  <div class="au-u-flex au-u-flex--spaced-small auk-u-maximize-width">
    {{#if @selectedDecisionmakingFlow}}
      <AuInput
        id="newCaseTitleId"
        value={{@selectedDecisionmakingFlow.case.shortTitle}}
        @width="block"
        @disabled={{true}}
      />
      {{#unless @disableEdit}}
        <AuButtonGroup class="au-u-flex--no-wrap">
          <AuButton
            @skin="secondary"
            @icon="pencil"
            {{on "click" (queue this.onClearSelectedDecisionmakingFlow this.setFocus)}}
          >
            {{t "new-case"}}
          </AuButton>
          <AuButton
            @skin="secondary"
            @icon="add"
            {{on "click" (toggle "isUsingExistingDecisionmakingFlow" this)}}
          >
            {{t "use-a-different-existing-case"}}
          </AuButton>
        </AuButtonGroup>
      {{/unless}}
    {{else}}
      <AuInput
        id="newCaseTitleId"
        value={{@selectedDecisionmakingFlowTitle}}
        @width="block"
        @disabled={{@disableEdit}}
        {{on "input" (pick "target.value" this.onChangeDecisionmakingFlowTitle)}}
      />
      {{#unless @disableEdit}}
        <AuButtonGroup class="au-u-flex--no-wrap">
          <AuButton
            @skin="secondary"
            @icon="add"
            {{on "click" (toggle "isUsingExistingDecisionmakingFlow" this)}}
          >
            {{t "use-an-existing-case"}}
          </AuButton>
        </AuButtonGroup>
      {{/unless}}
    {{/if}}
  </div>
</AuFormRow>

<ConfirmationModal
  @modalOpen={{this.isUsingExistingDecisionmakingFlow}}
  @title={{t "use-existing-case"}}
  @onConfirm={{this.onConfirmDecisionmakingFlow}}
  @onCancel={{this.onCancelDecisionmakingFlow}}
  @confirmMessage={{t "use-case"}}
  @disabled={{not this.selectedDecisionmakingFlow}}
  @padding="none"
>
  <:body>
    <div>
      <Utils::CaseSearch
        @onSelect={{this.onSelectDecisionmakingFlow}}
      />
    </div>
  </:body>
</ConfirmationModal>
