<div id="history">
  <Auk::Panel data-test-submission-history-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t (if @multiple "submissions-history" "submission-history")}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-bg-alt">
      {{#if @multiple}}
        {{#each @statusChangeActivities as |statusChangeActivityArray|}}
          <div class={{if (has-next statusChangeActivityArray @statusChangeActivities) "auk-u-mb-4"}}>
            {{#let (object-at (add statusChangeActivityArray.length -1) statusChangeActivityArray) as |creationActivity|}}
              <Submission::StatusChangeActivity
                @activity={{creationActivity}}
                @isHeader={{true}}
              />
            {{/let}}
            {{#let (object-at 0 statusChangeActivityArray) as |lastActivity|}}
              <Cases::Submissions::StatusPill @status={{lastActivity.status}}/>
            {{/let}}
            <ul class="vlc-status-timeline">
              {{#each statusChangeActivityArray as |activity|}}
                <Submission::StatusChangeActivity
                  @activity={{activity}}
                />
              {{/each}}
            </ul>
          </div>
        {{/each}}
      {{else}}
        <ul class="vlc-status-timeline">
          {{#each @statusChangeActivities as |activity|}}
            <Submission::StatusChangeActivity
              @activity={{activity}}
            />
          {{/each}}
        </ul>
      {{/if}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>