{{#if @icon}}
  {{#if (eq @layout "icon-right")}}
    <div class="vlc-tabs__label">{{yield}}</div>
    <i class={{@icon}} />
  {{else}}
    <i class={{@icon}} />
    <div class="vlc-tabs__label">{{yield}} {{#if @counter}} ({{@counter}}){{/if}}</div>
  {{/if}}
{{else}}
  {{yield}} {{#if @counter}}({{@counter}}){{/if}}
{{/if}}
