<div class="auk-u-mb-3">
  <Auk::Panel class={{if this.isInEditMode "auk-panel--editing"}}>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "publication-decisions-info-panel-title"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if (not this.isInEditMode)}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-info-view-edit
                @skin="tertiary"
                @icon="pencil"
                @layout="icon-only"
                {{on "click" this.putInEditMode}}
              />
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      {{#if (not this.isInEditMode)}}
        <div class="auk-o-grid">

          {{! Type regelgeving }}
          <div class="auk-o-grid-col-4 auk-content">
            <Auk::KeyValue @key={{t "regulation-type"}}>
              {{#if this.regulationType}}
                {{this.regulationType.label}}
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Datum beslissing}}
          <div class="auk-o-grid-col-4 auk-content">
            <Auk::KeyValue @key={{t "decision-date"}}>
              {{#if @isViaCouncilOfMinisters}}
                <Auk::ButtonLink
                  target="_blank"
                  @route="agenda.agendaitems.agendaitem"
                  @models={{array
                    @publicationFlow.agendaItemTreatment.agendaitem.agenda.createdFor.id
                    @publicationFlow.agendaItemTreatment.agendaitem.agenda.id
                    @publicationFlow.agendaItemTreatment.agendaitem.id
                  }}
                >
                  {{#if this.decisionDate}}
                    {{moment-format this.decisionDate "DD-MM-YYYY"}}
                  {{else}}
                    {{t "to-agenda"}}
                  {{/if}}
                </Auk::ButtonLink>
              {{else}}
                {{#if this.decisionDate}}
                  {{moment-format this.decisionDate "DD-MM-YYYY"}}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Page count}}
          {{!TODO}}
          <div class="auk-o-grid-col-4 auk-content">
            <Auk::KeyValue @key={{t "pages-amount"}}>

            </Auk::KeyValue>
          </div>
        </div>
      {{else}}
        <Utils::LoadableContent
          @isLoading={{this.save.isRunning}}
          @reserveSpace={{true}}
        >
          <div class="auk-form-group-layout auk-form-group-layout--grid">
            <div class="auk-o-grid">

              {{! Type regelgeving }}
              <div class="auk-o-grid-col-4">
                <div
                  data-test-publication-sidebar-regulation-type
                  class="auk-form-group"
                >
                  <Auk::Label for="blockInput">{{t "regulation-type"}}</Auk::Label>
                  <PowerSelect
                    @options={{this.regulationTypes}}
                    @onChange={{this.setRegulationType}}
                    @selected={{this.regulationType}}
                    as |regulationType|
                  >
                    {{regulationType.label}}
                  </PowerSelect>
                </div>
              </div>

              {{! Datum beslissing }}
              <div class="auk-o-grid-col-4">
                <div
                  data-test-publication-sidebar-decision-date
                  class="auk-form-group"
                >
                  <Auk::Label>{{t "decision-date"}}</Auk::Label>
                  {{#if @isViaCouncilOfMinisters}}
                    {{#if this.decisionDate}}
                      {{moment-format this.decisionDate "DD-MM-YYYY"}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  {{else}}
                    <Auk::Datepicker
                      @date={{this.decisionDate}}
                      @onChange={{this.setDecisionDate}}
                    />
                  {{/if}}
                </div>
              </div>

              {{! Datum beslissing }}
              {{!TODO}}
              <div class="auk-o-grid-col-4">
                <div
                  data-test-publication-sidebar-page-count
                  class="auk-form-group"
                >
                  <Auk::Label>{{t "pages-amount"}}</Auk::Label>
                  {{#if @isViaCouncilOfMinisters}}

                  {{else}}

                  {{/if}}
                </div>
              </div>

            </div>
          </div>
        </Utils::LoadableContent>
      {{/if}}
    </Auk::Panel::Body>
    {{#if this.isInEditMode}}
      <Auk::Panel::Footer>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-info-edit-cancel
                @skin="borderless"
                @disabled={{this.save.isRunning}}
                {{on "click" this.cancelEdit}}
              >
                {{t "cancel"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-info-edit-save
                @skin="primary"
                @loading={{this.save.isRunning}}
                @disabled={{not this.isValid}}
                {{on "click" (perform this.save)}}
              >
                {{t "save"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    {{/if}}
  </Auk::Panel>
</div>