<div class="auk-u-mb-4">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "title")}}
    {{web-components/vl-form-input width="4" value=agendaitem.titlePress}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "content")}}
    {{textarea
      class="vl-textarea vl-textarea--block"
      rows="10"
      value=agendaitem.textPress
    }}
  </div>
  <div class="vlc-input-field vlc-input-field-block">
    {{web-components/vl-form-label value=(t "for-press")}}
    {{web-components/vl-toggle value=agendaitem.forPress}}
  </div>
</div>
<div class="vl-action-group vl-action-group--align-right">
  <a href="" class="vl-link" {{action "cancelEditing" agendaitem}}>
    {{t "cancel"}}
  </a>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges" agendaitem)
  }}
</div>