<div class="auk-u-m-4">
  {{page-title (t "publication-details-tab-publication")}}
  <Publications::Publication::PublicationActivities::PublicationsInfoPanel
    @publicationFlow={{this.publicationFlow}}
    @publicationSubcase={{this.model}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />
  {{outlet}}
</div>