<div class="auk-modal__content">
  <div class="auk-u-flex--align-end auk-u-mb-2">
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "date-publication"}}</WebComponents::AuLabel>
      {{web-components/vl-datepicker
        enableTime=true
        selectedDate=date
        defaultHour=14
        defaultMinute=0
        dateChanged=(action "selectDate")
      }}
    </div>
    <div class="vlc-input-field-block">
      <WebComponents::AuLabel>{{t "newsletter-doc-date"}}</WebComponents::AuLabel>
      {{web-components/vl-datepicker
        enableTime=true
        selectedDate=docDate
        defaultHour=14
        defaultMinute=0
        dateChanged=(action "selectDocDate")
      }}
    </div>
  </div>
</div>
<div class="vlc-navbar vlc-navbar--bordered-top">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <button type="button" class="vl-button vl-button--link"
          {{action "close"}}
        >
          {{t "cancel"}}
        </button>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        {{web-components/vl-save-button
          text=(t "save")
          isLoading=isLoading
          saveAction=(action "saveChanges" selectedMeeting)
        }}
      </div>
    </div>
  </div>
</div>
