<Auk::Modal::Body>
  <div class="auk-o-flex--align-end auk-u-mb-2">
    <div class="auk-form-group">
      <Auk::Label>{{t "date-publication"}}</Auk::Label>
      {{web-components/vl-datepicker
        enableTime=true
        selectedDate=date
        defaultHour=14
        defaultMinute=0
        dateChanged=(action "selectDate")
      }}
    </div>
    <div class="auk-form-group">
      <Auk::Label>{{t "newsletter-doc-date"}}</Auk::Label>
      {{web-components/vl-datepicker
        enableTime=true
        selectedDate=docDate
        defaultHour=14
        defaultMinute=0
        dateChanged=(action "selectDocDate")
      }}
    </div>
  </div>
</Auk::Modal::Body>
<Auk::Modal::Footer @onCancel={{action "close"}}>
  {{web-components/vl-save-button
    text=(t "save")
    isLoading=isLoading
    saveAction=(action "saveChanges" selectedMeeting)
  }}
</Auk::Modal::Footer>
