<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4
              class="auk-toolbar-complex__title auk-u-text-capitalize"
              data-test-newsletter-header-overview-title
            >
              {{t "newsletter-overview-pdf-name"}}
              -
              {{@meeting.kind.label}}
              {{moment-format @meeting.plannedStart "DD MMMM YYYY"}}
            </h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab @route="newsletters" @isHierarchicalBack={{true}} />
            {{#if (user-may "manage-newsletter-infos")}}
              <Auk::Tab @route="newsletter.index" @model={{@meeting.id}}>
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=true}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=false}}
              >
                {{t "definite"}}
              </Auk::Tab>
              <Auk::Tab @route="newsletter.nota-updates">
                {{t "newsletter-update-notas"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <Auk::DropdownMenu
          @skin="secondary"
          @label={{t "actions"}}
          class="auk-u-hidden@print"
          as |Menu|
        >
          {{#if (user-may "manage-newsletter-infos")}}
            {{#if this.loadMailCampaign.isRunning}}
              <Menu.Item @textOnly={{true}}>
                <Auk::Loader @message={{t "newsletter-loading-text"}} />
              </Menu.Item>
            {{else}}
              <Menu.Item {{on "click" this.openConfirmPublishAll}}>
                {{t "send-newsitem-to-all"}}
              </Menu.Item>
              <Menu.Item {{on "click" this.openConfirmPublishMail}}>
                {{t "send-newsitem-to-mail"}}
              </Menu.Item>
              <Menu.Item {{on "click" this.openConfirmPublishBelga}}>
                {{t "send-newsitem-to-belga"}}
              </Menu.Item>
            {{/if}}
          {{/if}}
          {{#if (user-may "manage-themis-publications")}}
            <Menu.Item {{on "click" this.openConfirmPublishThemis}}>
              {{t "send-newsitem-to-web"}}
            </Menu.Item>
          {{/if}}
          {{#if this.shouldShowPrintButton}}
            <Menu.Divider />
            <Menu.Item {{on "click" this.print}}>
              {{t "print"}}
            </Menu.Item>
          {{/if}}
          {{#if (user-may "manage-newsletter-infos")}}
            {{! TODO These are for developers use - in comments for follow up }}
            {{!-- <Menu.Divider />  --}}
            {{!--
            <Menu.Item {{on "click" (perform this.loadNewsletterHTML)}}>
              {{t "show-newsletter"}}
            </Menu.Item>
            <Menu.Item {{on "click" (perform this.downloadBelgaXML)}}>
              {{t "generate-xml"}}
            </Menu.Item>
            --}}
            {{#if this.mailCampaign}}
              <Menu.Divider />
              <Menu.Item @skin="danger" {{on "click" (perform this.deleteCampaign)}}>
                {{t "delete-campaign"}}
              </Menu.Item>
            {{/if}}
          {{/if}}
          {{#if (user-may "manage-themis-publications")}}
            {{#if this.isAlreadyPublished}}
              <Menu.Divider />
              <Menu.Item @skin="danger" {{on "click" this.openConfirmUnpublishThemis}}>
                {{t "retract-newsitem-from-web"}}
              </Menu.Item>
            {{/if}}
          {{/if}}
        </Auk::DropdownMenu>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.showConfirmPublishMail}}
  <WebComponents::VlModalVerify
    @title={{t "send-newsitem-to-mail"}}
    @buttonType="warning"
    @isLoading={{this.publishToMail.isRunning}}
    @verifyButtonText={{t "send-newsitem-to-mail"}}
    @message={{t "send-newsitem-to-mail-verification"}}
    @cancel={{this.cancelPublishMail}}
    @verify={{perform this.publishToMail}}
  />
{{/if}}
{{#if this.showConfirmPublishBelga}}
  <WebComponents::VlModalVerify
    @title={{t "send-newsitem-to-belga"}}
    @buttonType="warning"
    @isLoading={{this.publishToBelga.isRunning}}
    @verifyButtonText={{t "send-newsitem-to-belga"}}
    @message={{t "send-newsitem-to-belga-verification"}}
    @cancel={{this.cancelPublishBelga}}
    @verify={{perform this.publishToBelga}}
  />
{{/if}}
{{#if this.showConfirmPublishThemis}}
  <ThemisPublications::PublishConfirmationModal
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishThemis}}
    @onConfirm={{perform this.publishThemis}}
  />
{{/if}}
{{#if this.showConfirmUnpublishThemis}}
  <ThemisPublications::UnpublishConfirmationModal
    @onCancel={{this.cancelUnpublishThemis}}
    @onConfirm={{perform this.unpublishThemis}}
  />
{{/if}}
{{#if this.showConfirmPublishAll}}
  <ThemisPublications::PublishConfirmationModal
    @title={{t "send-newsitem-to-all"}}
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishAll}}
    @onConfirm={{perform this.publishToAll}}
  />
{{/if}}

{{#if (or this.loadNewsletterHTML.isRunning this.newsletterHTML)}}
  <Auk::Modal @size="full-screen-padded">
    <Auk::Modal::Header @title={{ t "show-newsletter" }} @onClose={{this.clearNewsletterHTML}} />
    <Auk::Modal::Body>
      {{#if this.loadNewsletterHTML.isRunning}}
        <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
      {{else}}
        <SanitizeHtml @raw={{true}} @value={{this.newsletterHTML}} />
      {{/if}}
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}
