<div class="auk-u-mb-10">
  {{#if (is-pending @newsletterInfo)}}
    <WebComponents::VlLoader @text={{t "newsletter-info-loading-text"}} />
  {{else if (not this.isEditing)}}
    {{#if (not @allowEditing)}}
      {{#if (await @newsletterInfo.inNewsletter)}}
        <Newsletter::NewsletterItem::ItemContent
          @agendaitem={{@agendaitem}}
          @newsletterInfo={{@newsletterInfo}}
          @itemIndex={{@itemIndex}}
          @allowEditing={{@allowEditing}}
          @showIndex={{@showIndex}}
          @isEditing={{this.isEditing}}
          @onStartEditing={{this.startEditing}}
        />
      {{/if}}
    {{else}}
      <Newsletter::NewsletterItem::ItemContent
        @agendaitem={{@agendaitem}}
        @newsletterInfo={{@newsletterInfo}}
        @itemIndex={{@itemIndex}}
        @allowEditing={{@allowEditing}}
        @showIndex={{@showIndex}}
        @isEditing={{this.isEditing}}
        @onStartEditing={{this.startEditing}}
      />
    {{/if}}
  {{else}}
    <Agenda::Agendaitem::AgendaitemNewsItemEdit
      @agendaitem={{@agendaitem}}
      @newsletterInfo={{@newsletterInfo}}
      @onSave={{this.saveChanges}}
      @onCancel={{this.stopEditing}}
    />
  {{/if}}
</div>