<div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-baseline">
  <h2 class="auk-h2 auk-u-text-family-serif auk-u-text-capitalize" data-test-newsletter-meeting-title>
    {{t "newsletter-overview-pdf-name"}} - {{kind-print-label @meeting.kind}} {{t "of"}} {{moment-format @meeting.plannedStart "dddd DD-MM-YYYY"}}
  </h2>
</div>
<div class="auk-u-mb-4 auk-o-flex auk-o-flex--justify-between">
  <div>
    <h4 class="auk-h4 auk-u-m-0">
      {{t "date-publication"}}
    </h4>
    <p class="auk-u-italic">
      {{moment-format @meeting.plannedStart "DD MMMM YYYY - HH:mm"}}
    </p>
  </div>
  <div>
    <h4 class="auk-h4 auk-u-m-0">
      {{t "newsletter-doc-date"}}
    </h4>
    <p data-test-newsletter-print-header-publication-planned-date class="auk-u-italic">
      {{moment-format this.themisPublicationActivity.plannedDate "DD MMMM YYYY - HH:mm"}}
    </p>
  </div>
</div>
<div class="auk-hr">
  <hr/>
</div>