<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4
              class="auk-toolbar-complex__title auk-u-text-capitalize"
              data-test-newsletter-header-overview-title
            >
              {{t "newsletter-overview-pdf-name"}}
              -
              {{@meeting.kindToShow.label}}
              {{moment-format @meeting.plannedStart "DD MMMM YYYY"}}
            </h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab @route="newsletters" @isHierarchicalBack={{true}} />
            {{#if this.currentSession.isEditor}}
              <Auk::Tab @route="newsletter.index" @model={{@meeting.id}}>
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=true}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=false}}
              >
                {{t "definite"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.nota-updates"
                data-test-newsletter-header-overview-nota-updates
              >
                {{t "newsletter-update-notas"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <DropdownMenu
          @skin="secondary"
          @label={{t "actions"}}
          class="vlc-hide-on-print"
          as |Menu|
        >
          {{#if this.currentSession.isEditor}}
            {{#if this.isLoading}}
              <Menu.Item @textOnly={{true}}>
                <Auk::Loader @message={{t "newsletter-loading-text"}} />
              </Menu.Item>
            {{else}}
              <Menu.Item {{on "click" this.showNewsletter}}>
                {{t "show-newsletter"}}
              </Menu.Item>
              <Menu.Divider />
              <Menu.Item {{on "click" this.toggleVerifyingPublishAll}}>
                {{t "send-newsitem-to-all"}}
              </Menu.Item>
              <Menu.Item {{on "click" this.toggleVerifyingPublishMail}}>
                {{t "send-newsitem-to-mail"}}
              </Menu.Item>
              <Menu.Item {{on "click" this.toggleVerifyingPublishBelga}}>
                {{t "send-newsitem-to-belga"}}
              </Menu.Item>
              <Menu.Divider />
              <Menu.Item
                {{on "click" this.downloadBelgaXML}}
              >
                {{t "generate-xml"}}
              </Menu.Item>
              <Menu.Item @skin="danger" {{on "click" this.deleteCampaign}}>
                {{t "delete-campaign"}}
              </Menu.Item>

            {{/if}}
          {{/if}}
          {{#if this.shouldShowPrintButton}}
            <Menu.Divider />
            <Menu.Item {{on "click" this.print}}>
              {{t "print"}}
            </Menu.Item>
          {{/if}}
        </DropdownMenu>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.verifyingPublishMail}}
  <WebComponents::VlModalVerify
    @title={{t "send-newsitem-to-mail"}}
    @buttonType="warning"
    @isLoading={{this.isLoading}}
    @verifyButtonText={{t "send-newsitem-to-mail"}}
    @message={{t "send-newsitem-to-mail-verification"}}
    @cancel={{this.toggleVerifyingPublishMail}}
    @verify={{this.publishToMail}}
  />
{{/if}}
{{#if this.verifyingPublishBelga}}
  <WebComponents::VlModalVerify
    @title={{t "send-newsitem-to-belga"}}
    @buttonType="warning"
    @isLoading={{this.isLoading}}
    @verifyButtonText={{t "send-newsitem-to-belga"}}
    @message={{t "send-newsitem-to-belga-verification"}}
    @cancel={{this.toggleVerifyingPublishBelga}}
    @verify={{this.publishToBelga}}
  />
{{/if}}
{{#if this.verifyingPublishAll}}
  <WebComponents::VlModalVerify
    @title={{t "send-newsitem-to-all"}}
    @buttonType="warning"
    @isLoading={{this.isLoading}}
    @verifyButtonText={{t "send-newsitem-to-all"}}
    @message={{t "send-newsitem-to-all-verification"}}
    @cancel={{this.toggleVerifyingPublishAll}}
    @verify={{this.publishToAll}}
  />
{{/if}}

{{#if (or this.loadingNewsletter this.newsletterHTML)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{t "show-newsletter"}}
    @closeModal={{this.clearNewsletterHTML}}
  >
    <Auk::Modal::Body>
      {{#if this.loadingNewsletter}}
        <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
      {{else}}
        <SanitizeHtml @raw={{true}} @value={{this.newsletterHTML}} />
      {{/if}}
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}
{{#if this.isLoading}}
  <WebComponents::LoadingOverlay />
{{/if}}