<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4
              class="auk-toolbar-complex__title auk-u-text-capitalize"
              data-test-newsletter-header-overview-title
            >
              {{t "newsletter-overview-pdf-name"}}
              -
              {{@meeting.kind.label}}
              {{date @meeting.plannedStart}}
            </h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab @route="newsletters" @isHierarchicalBack={{true}} />
            {{#if (user-may "manage-news-items")}}
              <Auk::Tab @route="newsletter.index" @model={{@meeting.id}}>
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=true}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=false}}
              >
                {{t "definite"}}
              </Auk::Tab>
              <Auk::Tab @route="newsletter.nota-updates">
                {{t "newsletter-update-notas"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <AuDropdown
          data-test-newsletter-header-actions-dropdown
          @skin="secondary"
          @title={{t "actions"}}
          @alignment="right"
          class="auk-u-hidden@print"
        >
          {{#if (user-may "manage-news-items")}}
            {{#if this.loadMailCampaign.isRunning}}
              <div role="menuitem">
                <Auk::Loader @message={{t "newsletter-loading-text"}} />
              </div>
            {{else}}
              <AuButton
                @skin="link"
                {{on "click" this.openConfirmPublishAll}}
                role="menuitem"
              >
                {{t "send-newsitem-to-all"}}
              </AuButton>
              <AuButton
                data-test-newsletter-header-actions-publish-mail
                @skin="link"
                {{on "click" this.openConfirmPublishMail}}
                role="menuitem"
              >
                {{t "send-newsitem-to-mail"}}
              </AuButton>
              <AuButton
                @skin="link"
                {{on "click" this.openConfirmPublishBelga}}
                role="menuitem"
              >
                {{t "send-newsitem-to-belga"}}
              </AuButton>
            {{/if}}
          {{/if}}
          {{#if (user-may "manage-themis-publications")}}
            <AuButton
              @skin="link"
              {{on "click" this.openConfirmPublishThemis}}
              role="menuitem"
            >
              {{t "send-newsitem-to-web"}}
            </AuButton>
          {{/if}}
          {{#if this.shouldShowPrintButton}}
            <AuHr />
            <AuButton
              @skin="link"
              {{on "click" this.print}}
              role="menuitem"
            >
              {{t "print"}}
            </AuButton>
          {{/if}}
          {{! TODO These are for developers use - in comments for follow up }}
            {{!-- <AuHr />  --}}
            {{!--
            <AuButton
              @skin="link"
              {{on "click" (perform this.loadNewsletterHTML)}}
              role="menuitem"
            >
              {{t "show-newsletter"}}
            </AuButton>

            <AuButton
              @skin="link"
              {{on "click" (perform this.downloadBelgaXML)}}
              role="menuitem"
            >
              {{t "generate-xml"}}
            </AuButton>
            --}}
          {{#if (user-may "manage-news-items")}}
            {{#if this.mailCampaign}}
              <AuHr />
              <AuButton
                @skin="link"
                @alert={{true}}
                {{on "click" (perform this.deleteCampaign)}}
                role="menuitem"
              >
                {{t "delete-campaign"}}
              </AuButton>
            {{/if}}
          {{/if}}
          {{#if (user-may "manage-themis-publications")}}
            {{#if this.isAlreadyPublished}}
              <AuHr />
              <AuButton
                @skin="link"
                @alert={{true}}
                {{on "click" this.openConfirmUnpublishThemis}}
                role="menuitem"
              >
                {{t "retract-newsitem-from-web"}}
              </AuButton>
            {{/if}}
          {{/if}}
        </AuDropdown>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<ConfirmationModal
  @modalOpen={{this.showConfirmPublishMail}}
  @title={{t "send-newsitem-to-mail"}}
  @message={{t "send-newsitem-to-mail-verification"}}
  @onConfirm={{perform this.publishToMail}}
  @onCancel={{this.cancelPublishMail}}
  @confirmMessage={{t "send-newsitem-to-mail"}}
  @loading={{this.publishToMail.isRunning}}
  @disabled={{this.publishToMail.isRunning}}
/>
<ConfirmationModal
  @modalOpen={{this.showConfirmPublishBelga}}
  @title={{t "send-newsitem-to-belga"}}
  @message={{t "send-newsitem-to-belga-verification"}}
  @onConfirm={{perform this.publishToBelga}}
  @onCancel={{this.cancelPublishBelga}}
  @confirmMessage={{t "send-newsitem-to-belga"}}
  @loading={{this.publishToBelga.isRunning}}
  @disabled={{this.publishToBelga.isRunning}}
/>
{{#if this.showConfirmPublishThemis}}
  <ThemisPublications::PublishConfirmationModal
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishThemis}}
    @onConfirm={{perform this.publishThemis}}
  />
{{/if}}
{{#if this.showConfirmUnpublishThemis}}
  <ThemisPublications::UnpublishConfirmationModal
    @onCancel={{this.cancelUnpublishThemis}}
    @onConfirm={{perform this.unpublishThemis}}
  />
{{/if}}
{{#if this.showConfirmPublishAll}}
  <ThemisPublications::PublishConfirmationModal
    @title={{t "send-newsitem-to-all"}}
    @scope={{this.themisPublicationScopes}}
    @onCancel={{this.cancelPublishAll}}
    @onConfirm={{perform this.publishToAll}}
  />
{{/if}}

{{#if (or this.loadNewsletterHTML.isRunning this.newsletterHTML)}}
  <Auk::Modal @size="full-screen-padded">
    <Auk::Modal::Header @title={{ t "show-newsletter" }} @onClose={{this.clearNewsletterHTML}} />
    <Auk::Modal::Body>
      {{#if this.loadNewsletterHTML.isRunning}}
        <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
      {{else}}
        <AuContent>
          <SanitizeHtml @raw={{true}} @value={{this.newsletterHTML}} />
        </AuContent>
      {{/if}}
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}