<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4
              class="auk-toolbar-complex__title auk-u-text-capitalize"
              data-test-newsletter-header-overview-title
            >
              {{t "newsletter-overview-pdf-name"}}
              -
              {{@meeting.kindToShow.label}}
              {{moment-format @meeting.plannedStart "DD MMMM YYYY"}}
            </h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab @route="newsletters" @isHierarchicalBack={{true}} />
            {{#if this.currentSession.isEditor}}
              <Auk::Tab @route="newsletter.index" @model={{@meeting.id}}>
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=true}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{@meeting.id}}
                @query={{hash showDraft=false}}
              >
                {{t "definite"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.nota-updates"
                data-test-newsletter-header-overview-nota-updates
              >
                {{t "newsletter-update-notas"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <DropdownMenu
          @skin="secondary"
          @label={{t "actions"}}
          class="vlc-hide-on-print"
          as |Menu|
        >
          {{#if this.currentSession.isEditor}}
            {{#if
              (or (is-pending @meeting.mailCampaign) this.isLoading)
            }}
              <Menu.Item @textOnly={{true}}>
                <Auk::Loader @message={{t "newsletter-loading-text"}} />
              </Menu.Item>
            {{else if (await @meeting.mailCampaign)}}
              {{#if (not (await @meeting.mailCampaign.isSent))}}
                <Menu.Item {{on "click" this.sendTestCampaign}}>
                  {{t "send-test-campaign"}}
                </Menu.Item>
                <Menu.Item {{on "click" this.toggleIsVerifying}}>
                  {{t "send-campaign"}}
                </Menu.Item>

              {{/if}}
              <Menu.Item {{on "click" this.publishToWeb}}>
                {{t "publish-newsitems"}}
              </Menu.Item>
              <Menu.Divider />
              <Menu.Item
                @href={{concat "/newsletter/xml-newsletter/" @agenda.id}}
                download={{concat "/newsletter/xml-newsletter/" @agenda.id}}
                target="_blank"
                rel="noopener noreferrer"
              >
                {{t "generate-xml"}}
              </Menu.Item>
              <Menu.Divider />
              <Menu.Item @skin="danger" {{on "click" this.deleteCampaign}}>
                {{t "delete-campaign"}}
              </Menu.Item>
            {{else}}
              <Menu.Item {{on "click" this.createCampaign}}>
                {{t "create-campaign"}}
              </Menu.Item>
            {{/if}}
          {{/if}}
          {{#if this.shouldShowPrintButton}}
            <Menu.Item {{on "click" this.print}}>
              {{t "print"}}
            </Menu.Item>
          {{/if}}
        </DropdownMenu>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.isVerifying}}
  <WebComponents::VlModalVerify
    @title={{t "send-campaign"}}
    @buttonType="warning"
    @isLoading={{this.isLoading}}
    @verifyButtonText={{t "send-campaign"}}
    @message={{t "send-campaign-warning"}}
    @cancel={{this.toggleIsVerifying}}
    @verify={{this.sendCampaign}}
  />
{{/if}}
{{#if (or this.testCampaignIsLoading this.newsletterHTML)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{t "send-test-campaign"}}
    @closeModal={{this.clearNewsletterHTML}}
  >
    <Auk::Modal::Body>
      {{#if this.testCampaignIsLoading}}
        <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
      {{else}}
        <SanitizeHtml @raw={{true}} @value={{this.newsletterHTML}} />
      {{/if}}
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}
{{#if this.isLoading}}
  <WebComponents::LoadingOverlay />
{{/if}}