<div class="auk-u-flex auk-u-flex--justify-between auk-u-flex--align-baseline">
  <h4 class="auk-h2 auk-u-text-capitalize" data-test-newsletter-meeting-header-title>
    {{t "newsletter-overview-pdf-name"}} - {{this.meeting.kindToShow.altLabel}} {{t "of"}} {{moment-format this.meeting.plannedStart "dddd DD-MM-YYYY"}}
  </h4>
  {{#if allowEditing}}
    {{#if currentSession.isEditor}}
      <div class="auk-u-ml-2">
        <a href="" class="auk-button-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="auk-u-mb-4 auk-u-flex auk-u-flex--justify-between">
  <div>
    <h3 class="auk-h4 auk-u-m-0">
      {{t "date-publication"}}
    </h3>
    <p class="auk-u-italic">
      {{moment-format
        (await meeting.newsletter.publicationDate)
        "DD MMMM YYYY - HH:ss"
      }}
    </p>
  </div>
  <div>
    <h3 class="auk-h4 auk-u-m-0">
      {{t "newsletter-doc-date"}}
    </h3>
    <p class="auk-u-italic">
      {{moment-format
        (await meeting.newsletter.publicationDocDate)
        "DD MMMM YYYY - HH:ss"
      }}
    </p>
  </div>
</div>
{{#if isEditing}}
  {{#web-components/vl-modal
    isOverlay=true
    closeModal=(action "close")
    title=editTitle
  }}
    {{newsletter/edit-newsletter
      newsletter=(await meeting.newsletter)
      selectedMeeting=meeting
      close=(action "close")
    }}
  {{/web-components/vl-modal}}
{{/if}}
<div class="auk-hr">
  <hr/>
</div>