{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-baseline">
  <h2 class="auk-h2 auk-u-text-family-serif auk-u-text-capitalize" data-test-newsletter-meeting-title>
    {{t "newsletter-overview-pdf-name"}} - {{kind-print-label this.meeting.kind}} {{t "of"}} {{moment-format this.meeting.plannedStart "dddd DD-MM-YYYY"}}
  </h2>
</div>
<div class="auk-u-mb-4 auk-o-flex auk-o-flex--justify-between">
  <div>
    <h4 class="auk-h4 auk-u-m-0">
      {{t "date-publication"}}
    </h4>
    <p class="auk-u-italic">
      {{this.formatStart (await this.meeting.internalDecisionPublicationActivity)}}
    </p>
  </div>
  <div>
    <h4 class="auk-h4 auk-u-m-0">
      {{t "newsletter-doc-date"}}
    </h4>
    <p class="auk-u-italic">
      {{this.formatStart (await this.meeting.internalDocumentPublicationActivity)}}
    </p>
  </div>
</div>
<div class="auk-hr">
  <hr/>
</div>