<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title auk-u-text-capitalize" data-test-newsletter-header-overview-title>
              {{t "newsletter-overview-pdf-name"}}
              -
              {{await agenda.createdFor.kindToShow.label}}
              {{moment-format agenda.createdFor.plannedStart "DD MMMM YYYY"}}
            </h4>
          </div>
          <Auk::Tabs @reversed={{true}}>
            <Auk::Tab @route="newsletters" @isHierarchicalBack={{true}}/>
            {{#if currentSession.isEditor}}
              <Auk::Tab
                @route="newsletter.index"
                @model={{meeting.id}}
              >
                {{t "overview"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{meeting.id}}
                @query={{hash showDraft=true}}
              >
                {{t "design"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.print"
                @model={{meeting.id}}
                @query={{hash showDraft=false}}
              >
                {{t "definite"}}
              </Auk::Tab>
              <Auk::Tab
                @route="newsletter.nota-updates"
                data-test-newsletter-header-overview-nota-updates
              >
                {{t "newsletter-update-notas"}}
              </Auk::Tab>
            {{/if}}
          </Auk::Tabs>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{#if currentSession.isEditor}}
        {{/if}}
        <DropdownMenu
          @skin="secondary"
          @label={{t "actions"}}
          class="vlc-hide-on-print"
        as |Menu|>
          {{#if currentSession.isEditor}}
            {{#if
              (or (is-pending agenda.createdFor.mailCampaign) isLoading)
            }}
              <Menu.Item>
                <div class="auk-loader-wrapper auk-loader-wrapper--small auk-u-p-2">
                  <div
                    class="auk-loader"
                    role="alert"
                    aria-busy="true"
                  ></div>
                  {{t "newsletter-loading-text"}}
                </div>
              </Menu.Item>
            {{else if (await agenda.createdFor.mailCampaign)}}
              {{#if (not (await agenda.createdFor.mailCampaign.isSent))}}
                <Menu.Item>
                  <a href=""
                      class="auk-button-link auk-button-link--block"
                    {{action "sendTestCampaign"}}
                  >
                    <span class="auk-button__content">
                      {{t "send-test-campaign"}}
                    </span>
                  </a>
                </Menu.Item>
                <Menu.Item>
                  <a href=""
                      class="auk-button-link auk-button-link--block"
                    {{action "toggleIsVerifying"}}
                  >
                    <span class="auk-button__content">
                      {{t "send-campaign"}}
                    </span>
                  </a>
                </Menu.Item>
                <Menu.Divider />
              {{/if}}
              <Menu.Item>
                <a
                  class="auk-button-link auk-button-link--block"
                  target="_blank"
                  rel="noopener noreferrer"
                  href={{concat
                    "/newsletter/xml-newsletter/"
                    agenda.id
                  }}
                  download={{concat
                    "/newsletter/xml-newsletter/"
                    agenda.id
                  }}
                >
                  <span class="auk-button__content">
                    {{t "generate-xml"}}
                  </span>
                </a>
              </Menu.Item>
              <Menu.Divider />
              <Menu.Item>
                <a href=""
                    class="auk-button-link auk-button-link--block auk-u-text-error"
                  {{action "deleteCampaign"}}
                >
                  <span class="auk-button__content">
                    {{t "delete-campaign"}}
                  </span>
                </a>
              </Menu.Item>
            {{else}}
              <Menu.Item>
                <a href=""
                    class="auk-button-link auk-button-link--block"
                  {{action "createCampaign"}}
                >
                  <span class="auk-button__content">
                    {{t "create-campaign"}}
                  </span>
                </a>
              </Menu.Item>
            {{/if}}
          {{/if}}
          {{#if shouldShowPrintButton}}
            <Menu.Item>
              <a href=""
                  class="auk-button-link auk-button-link--block"
                {{action "print"}}
              >
                <span class="auk-button__content">
                  {{t "print"}}
                </span>
              </a>
            </Menu.Item>
          {{/if}}
        </DropdownMenu>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{#if isVerifying}}
  <WebComponents::VlModalVerify
    @title={{t "send-campaign"}}
    @buttonType="warning"
    @isLoading={{isLoading}}
    @verifyButtonText={{t "send-campaign"}}
    @message={{t "send-campaign-warning"}}
    @cancel={{action "toggleIsVerifying"}}
    @verify={{action "sendCampaign"}} />
{{/if}}
{{#if (or testCampaignIsLoading newsletterHTML)}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @title={{t "send-test-campaign"}}
    @closeModal={{action "clearNewsletterHTML"}}
  >
    <Auk::Modal::Body>
      {{#if testCampaignIsLoading}}
        <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
      {{else}}
        {{sanitize-html raw=true value=newsletterHTML}}
      {{/if}}
    </Auk::Modal::Body>
  </WebComponents::VlModal>
{{/if}}
{{#if isLoading}}
  <WebComponents::LoadingOverlay />
{{/if}}