<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title auk-u-text-capitalize" data-test-newsletter-header-overview-title>
              {{t "newsletter-overview-pdf-name"}}
              -
              {{await agenda.createdFor.kindToShow.label}}
              {{moment-format agenda.createdFor.plannedStart "DD MMMM YYYY"}}
            </h4>
          </div>
          <ul class="auk-tabs auk-tabs--reversed" role="tablist">
            <li class="auk-tabs__tab auk-tabs__hierarchical-back">
              <LinkTo @route="newsletters">
                <span class="auk-tabs__tab-inner">
                  <div class="auk-icon auk-icon--hierarchical-back auk-icon--default">
                    <i class="ki ki-hierarchical-back"></i>
                  </div>
                </span>
              </LinkTo>
            </li>
            {{#if currentSession.isEditor}}
              <li class="auk-tabs__tab">
                <LinkTo
                  @route="newsletter.index"
                  @model={{await agenda.createdFor.id}}
                  @activeClass="active"
                >
                  <span class="auk-tabs__tab-inner">
                    {{t "overview"}}
                  </span>
                </LinkTo>
              </li>
              <li class="auk-tabs__tab">
                <LinkTo
                  @route="newsletter.print"
                  @model={{await agenda.createdFor.id}}
                  @query={{hash showDraft=true}}
                  @activeClass="active"
                >
                  <span class="auk-tabs__tab-inner">
                    {{t "design"}}
                  </span>
                </LinkTo>
              </li>
              <li class="auk-tabs__tab">
                <LinkTo
                  @route="newsletter.print"
                  @model={{await agenda.createdFor.id}}
                  @query={{hash showDraft=false}}
                  @activeClass="active"
                >
                  <span class="auk-tabs__tab-inner">
                    {{t "definite"}}
                  </span>
                </LinkTo>
              </li>
              <li class="auk-tabs__tab">
                <LinkTo
                  data-test-newsletter-header-overview-nota-updates
                  @route="newsletter.nota-updates"
                  @activeClass="active"
                >
                  <span class="auk-tabs__tab-inner">
                    {{t "newsletter-update-notas"}}
                  </span>
                </LinkTo>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    <div class="auk-toolbar-complex__right">
      <div class="auk-toolbar-complex__item">
        <div class="auk-toolbar-complex__item">
          {{#if currentSession.isEditor}}
          {{/if}}
          <div class="auk-u-position-relative auk-u-inline-block">
            <Auk::Button
              @skin="secondary"
              @icon={{if (not isShowingOptions) "chevron-down" "chevron-up"}}
              {{action "showMultipleOptions"}}
            >
              {{t "actions"}}
            </Auk::Button>
            {{#attach-popover
              renderInPlace=true
              class="ember-attacher-popper vlc-hide-on-print"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom"
            as |attacher|
            }}
              <ul class="vlc-dropdown-menu">
                {{#if currentSession.isEditor}}
                  {{#if
                    (or (is-pending agenda.createdFor.mailCampaign) isLoading)
                  }}
                    <li class="vlc-dropdown-menu__item">
                      <div class="auk-loader-wrapper auk-loader-wrapper--small auk-u-p-2">
                        <div
                          class="auk-loader"
                          role="alert"
                          aria-busy="true"
                        ></div>
                        {{t "newsletter-loading-text"}}
                      </div>
                    </li>
                  {{else if (await agenda.createdFor.mailCampaign)}}
                    {{#if (not (await agenda.createdFor.mailCampaign.isSent))}}
                      <li class="vlc-dropdown-menu__item">
                        <a href=""
                            class="auk-button-link auk-button-link--block"
                          {{action attacher.hide}}
                          {{action "sendTestCampaign"}}
                        >
                          <span class="auk-button__content">
                            {{t "send-test-campaign"}}
                          </span>
                        </a>
                      </li>
                      <li class="vlc-dropdown-menu__item">
                        <a href=""
                            class="auk-button-link auk-button-link--block"
                          {{action attacher.hide}}
                          {{action "toggleIsVerifying"}}
                        >
                          <span class="auk-button__content">
                            {{t "send-campaign"}}
                          </span>
                        </a>
                      </li>
                      <li
                        class="vlc-dropdown-menu__separator"
                        aria-hidden="true"
                      ></li>
                    {{/if}}
                    <li class="vlc-dropdown-menu__item">
                      <a
                        class="auk-button-link auk-button-link--block"
                        target="_blank"
                        rel="noopener noreferrer"
                        href={{concat
                          "/newsletter/xml-newsletter/"
                          agenda.id
                        }}
                        download={{concat
                          "/newsletter/xml-newsletter/"
                          agenda.id
                        }}
                      >
                        <span class="auk-button__content">
                          {{t "generate-xml"}}
                        </span>
                      </a>
                    </li>
                    <li
                      class="vlc-dropdown-menu__separator"
                      aria-hidden="true"
                    ></li>
                    <li class="vlc-dropdown-menu__item">
                      <a href=""
                          class="auk-button-link auk-button-link--block auk-u-text-error"
                        {{action attacher.hide}}
                        {{action "deleteCampaign"}}
                      >
                        <span class="auk-button__content">
                          {{t "delete-campaign"}}
                        </span>
                      </a>
                    </li>
                  {{else}}
                    <li class="vlc-dropdown-menu__item">
                      <a href=""
                          class="auk-button-link auk-button-link--block"
                        {{action "createCampaign"}}
                      >
                        <span class="auk-button__content">
                          {{t "create-campaign"}}
                        </span>
                      </a>
                    </li>
                  {{/if}}
                {{/if}}
                {{#if shouldShowPrintButton}}
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                        class="auk-button-link auk-button-link--block"
                      {{action attacher.hide}}
                      {{action "print"}}
                    >
                      <span class="auk-button__content">
                        {{t "print"}}
                      </span>
                    </a>
                  </li>
                {{/if}}
              </ul>
            {{/attach-popover}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if isVerifying}}
    <WebComponents::VlModalVerify
      @title={{t "send-campaign"}}
      @buttonType="warning"
      @isLoading={{isLoading}}
      @verifyButtonText={{t "send-campaign"}}
      @message={{t "send-campaign-warning"}}
      @cancel={{action "toggleIsVerifying"}}
      @verify={{action "sendCampaign"}} />
  {{/if}}
  {{#if (or testCampaignIsLoading newsletterHTML)}}
    <WebComponents::VlModal
      @isOverlay={{true}}
      @title={{t "send-test-campaign"}}
      @closeModal={{action "clearNewsletterHTML"}} >
      <div class="auk-modal__body">
        <div class="auk-u-p-4">
          {{#if testCampaignIsLoading}}
            <WebComponents::VlLoader @text={{t "preview-loading-text"}} />
          {{else}}
            {{sanitize-html raw=true value=newsletterHTML}}
          {{/if}}
        </div>
      </div>
    </WebComponents::VlModal>
  {{/if}}
  {{#if isLoading}}
    <WebComponents::LoadingOverlay />
  {{/if}}
</Auk::Navbar>