{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-baseline">
  <h2 class="auk-h2 auk-u-text-family-serif auk-u-text-capitalize" data-test-newsletter-meeting-title>
    {{t "newsletter-overview-pdf-name"}} - {{kind-print-label this.meeting.kind}} {{t "of"}} {{moment-format this.meeting.plannedStart "dddd DD.MM.YYYY"}}
  </h2>
  {{#if (and this.allowEditing this.currentSession.isEditor)}}
    <div class="auk-u-ml-4">
      <Auk::ButtonLink {{action "toggleIsEditing"}}>
        {{t "edit"}}
      </Auk::ButtonLink>
    </div>
  {{/if}}
</div>
<div class="auk-u-mb-4 auk-o-flex auk-o-flex--justify-between">
  <div>
    <h4 class="auk-h4 auk-u-m-0">
      {{t "date-publication"}}
    </h4>
    <p class="auk-u-italic">
      {{moment-format
        (await this.meeting.newsletter.publicationDate)
        "DD MMMM YYYY - HH:ss"
      }}
    </p>
  </div>
  <div>
    <h4 class="auk-h4 auk-u-m-0">
      {{t "newsletter-doc-date"}}
    </h4>
    <p class="auk-u-italic">
      {{moment-format
        (await this.meeting.newsletter.publicationDocDate)
        "DD MMMM YYYY - HH:ss"
      }}
    </p>
  </div>
</div>
{{#if this.isEditing}}
  <WebComponents::VlModal
    @isOverlay={{true}}
    @closeModal={{action "close"}}
    @title={{this.editTitle}}
  >
    <Newsletter::EditNewsletter
      @newsletter={{await this.meeting.newsletter}}
      @selectedMeeting={{this.meeting}}
      @close={{action "close"}}
    />
  </WebComponents::VlModal>
{{/if}}
<div class="auk-hr">
  <hr/>
</div>