<div class="auk-u-mt-4">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            <h4 class="auk-panel__title">
              {{t "proofs"}}
            </h4>
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          <Group.Item>
            <AuButton
              data-test-route-publications---proofs-upload
              @skin="secondary"
              @icon="plus"
              {{on "click" this.openProofUploadModal}}
            >
              {{t "upload-proof"}}
            </AuButton>
          </Group.Item>
          <Group.Item>
            <AuButton
              data-test-route-publications---proofs-new-request
              @skin="primary"
              @icon="plus"
              {{on "click" this.openProofRequestModal}}
            >
              {{t "request-proof"}}
            </AuButton>
          </Group.Item>
        </Toolbar.Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>

    <Auk::Panel::Body
      data-test-route-publications---proofs-panel-body
      class="auk-u-bg-alt"
    >
      {{#each this.shownActivities as |event|}}
        {{#if event.isRequestActivity}}
          <Utils::Timeline::Event
            @badgeIcon="mail"
            @badgeSkin="primary"
            @event={{event}}
            as |event|
          >
            <Publications::Publication::RequestActivityPanel
              @title={{t "requested-proof"}}
              @requestActivity={{event.activity}}
              @isDisabledDelete={{event.activity.proofingActivity.isFinished}}
              @onDeleteRequest={{perform this.deleteRequest event.activity}}
            />
          </Utils::Timeline::Event>
        {{else if event.isProofingActivity}}
          <Utils::Timeline::Event
            @badgeIcon="check"
            @badgeSkin="success"
            @event={{event}}
            as |event|
          >
            <Publications::Publication::Proofs::ProofReceivedPanel
              @proofingActivity={{event.activity}}
              @publicationFlow={{this.publicationFlow}}
              @proofPrintCorrector={{this.publicationSubcase.proofPrintCorrector}}
              @onEditProofingActivity={{perform this.editProofingActivity}}
              @onDeletePiece={{if
                event.canDeletePieces
                (perform this.deleteReceivedPiece event)
              }}
              @onCreatePublicationRequest={{perform
                this.savePublicationRequest
              }}
              @isCreatePublicationRequestDisabled={{this.isCreatePublicationRequestDisabled}}
            />
          </Utils::Timeline::Event>
        {{/if}}
      {{else}}
        <Auk::EmptyState @bordered={{true}} @message={{t "no-proofs-yet"}} />
      {{/each}}
    </Auk::Panel::Body>
  </Auk::Panel>
</div>

{{#if this.showProofRequestModal}}
  <Publications::Publication::Proofs::ProofRequestModal
    @publicationFlow={{this.publicationFlow}}
    @onSave={{perform this.saveProofRequest}}
    @onCancel={{this.closeProofRequestModal}}
  />
{{/if}}

{{#if this.showProofUploadModal}}
  <Publications::Publication::Proofs::ProofUploadModal
    @onSave={{perform this.saveProofUpload}}
    @onCancel={{this.closeProofUploadModal}}
  />
{{/if}}