<div class="vl-u-spacer">
  <div class="vl-u-display-flex vl-u-flex-space-between">
    <h3 class="vl-title vl-title--h3">
      {{t "agendaitem-details.decision-title"}}
    </h3>
    {{#if (await agendaitem.decision)}}
      {{#if (not isEditing)}}
        <button
          class="vl-button vl-button--tertiary vl-button--icon"
          {{action "toggleIsEditing"}}
        >
          <i class="vl-vi vl-vi-edit"></i>
        </button>
      {{else}}
        <button
          class="vl-button vl-button--tertiary vl-button--icon"
          {{action "saveChanges" agendaitem}}
        >
          <i class="vl-vi vl-vi-save"></i>
        </button>
      {{/if}}
    {{else}}
      <button
        class="vl-button vl-button--tertiary vl-button--icon"
        {{action "addDecision" agendaitem}}
      >
        <i class="vl-vi vl-vi-add"></i>
      </button>
    {{/if}}
  </div>
</div>
<div class="vl-typography">
  {{#if (and (await agendaitem.decision) isEditing)}}
    <div class="vlc-input-field vlc-input-field-block">
      {{web-components/vl-form-label value=(t "edit-decision.approved")}}
      {{x-toggle
        value=agendaitem.decision.approved
        onToggle=(action (mut agendaitem.decision.approved))
      }}
    </div>
    <div class="vlc-input-field vlc-input-field-block">
      {{web-components/vl-form-label value=(t "edit-decision.decision-text")}}
      {{textarea
        rows="5"
        class="vl-textarea vl-textarea--block"
        value=(await agendaitem.decision.description)
      }}
    </div>
  {{else}}
    <h5>
      {{await agendaitem.decision.shortTitle}}
    </h5>
    <p>
      {{await agendaitem.decision.description}}
    </p>
  {{/if}}
</div>