{{#if (not (is-pending (await item)))}}
  {{#if (not isEditing)}}
    <div class="vl-u-spacer vl-typography">
      <div class="vl-u-display-flex align-right">
        {{#if isEditor}}
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
          <button class="vl-button vl-button--link vl-button--icon">
            <i class="vl-button__icon vl-vi vl-vi-nav-show-more-horizontal"></i>
            {{#attach-popover
              class="ember-attacher-popper"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom" as |attacher|
            }}
              <ul class="vl-popover__link-list">
                <li class="vl-popover__link-list__item">
                  <button
                    class="vl-link vl-u-text--error"
                    {{action attacher.hide}}
                    {{action "deleteDecision" decision}}
                  >
                    {{t "delete-decision"}}
                  </button>
                </li>
              </ul>
            {{/attach-popover}}
          </button>
        {{/if}}
      </div>
      <p>
        {{sanitize-html raw=true value=(await decision.richtext)}}
      </p>
      <hr />
      <div class="vl-u-spacer-extended-top-s">
        {{#if (await decision.approved)}}
          <div class="vlc-pill vlc-pill--success">
            {{t "decided"}}
          </div>
        {{else}}
          <div class="vlc-pill vlc-pill--warning">
            {{t "not-decided"}}
          </div>
        {{/if}}
      </div>
    </div>
    {{#if (gt (await decision.documentVersions.length) 0)}}
      <div class="vl-u-spacer">
        <h4 class="vl-title vl-title--h6">
          {{t "documents-attached-to"}}
        </h4>
        <div class="vl-u-spacer-extended-top-s">
          {{utils/documents-list-for-item item=decision agendaitem=subcase isClickable=true}}
        </div>
      </div>
    {{/if}}
    {{#if (is-pending decision.signedDocument)}}
      {{web-components/vl-loader text=(t "decision-document-loading-text")}}
    {{else if (not (await decision.signedDocument))}}
      {{utils/add-signed-documents
        item=decision
        defaultType=defaultType
        modelToAddDocumentVersionTo="signedDecision"
        title=(t "signed-decision-add")
      }}
    {{else}}
      {{agenda/agendaitem/agendaitem-case/subcase-document/document-link
        document=(await decision.signedDocument)
        item=(await decision.signedDocument)
      }}
    {{/if}}
  {{else}}
    {{agenda/agendaitem/agendaitem-decision-edit
      isEditing=isEditing
      item=decision
      isTableRow=isTableRow
      subcase=subcase
      agendaitem=agendaitem
    }}
  {{/if}}
{{/if}}
{{#if isVerifyingDelete}}
  {{web-components/vl-modal-verify
    title=(t "delete-decision")
    message=(t "delete-decision-message")
    cancel=(action "cancel")
    verify=(action "verify")
  }}
{{/if}}