{{#if (not (is-pending (await item)))}}
  {{#if (not isEditing)}}
    <div class="vl-u-spacer vl-typography vl-form__group vl-u-bg-porcelain">
      <div class="vl-u-display-flex vl-u-flex-space-between">
        <h4 class="vl-title vl-title--h6">
          {{await decision.title}}
        </h4>
        {{#if (or isAdmin isEditor)}}
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        {{/if}}
      </div>
      <p>
        {{await decision.description}}
      </p>
      <hr />
      <div class="vl-u-spacer-extended-top-s">
        {{#if (await decision.approved)}}
          <div class="vlc-pill vlc-pill--success">
            {{t "decided"}}
          </div>
        {{else}}
          <div class="vlc-pill vlc-pill--warning">
            {{t "not-decided"}}
          </div>
        {{/if}}
      </div>
    </div>
    {{#if (or isEditor isAdmin)}}
      {{#if (gt (await decision.documentVersions.length) 0)}}
        <div class="vl-u-spacer">
          <h4 class="vl-title vl-title--h6">
            {{t "documents-attached-to"}}
          </h4>
          <div class="vl-u-spacer-extended-top-s">
            {{utils/documents-list-for-item item=item agendaitem=subcase}}
          </div>
        </div>
      {{/if}}
      <div class="vlc-hr"></div>
      {{utils/add-signed-documents
        item=decision
        modelToAddDocumentVersionTo="signedDecision"
        title=(t "signed-decision-add")
      }}
    {{/if}}
  {{else}}
    {{agenda/agendaitem/agendaitem-decision-edit
      isEditing=isEditing
      item=decision
      subcase=subcase
      agendaitem=agendaitem
    }}
  {{/if}}
{{/if}}