{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h3 class="vl-title vl-title--h3">
        {{t "decision-title"}}
      </h3>
          {{#if (or isAdmin isEditor)}}
      <div class="vl-u-spacer-extended-left-s">
        <a class="vl-link" {{action "toggleIsEditing"}}>
          {{t "edit"}}
        </a>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="vl-u-spacer vl-typography">
    <div class="vl-u-spacer--xsmall">
      <h4 class="vl-title vl-title--h6">
        {{await agendaitem.decision.shortTitle}}
      </h4>
    </div>
    <p>
      {{await agendaitem.decision.description}}
    </p>
    <hr />
    <div class="vl-u-spacer-extended-top-s">
      {{#if (await agendaitem.decision.approved)}}
        <div class="vlc-pill vlc-pill--success">
          {{t "decided"}}
        </div>
      {{else}}
        <div class="vlc-pill vlc-pill--warning">
          {{t "not-decided"}}
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (gt (await agendaitem.decision.documentVersions.length) 0)}}
    <div class="vl-u-spacer">
      <h4 class="vl-title vl-title--h6">
        {{t "documents-attached-to"}}
      </h4>
      <div class="vl-u-spacer-extended-top-s">
        {{utils/documents-list-for-item
          item=(await agendaitem.decision)
          agendaitem=agendaitem
        }}
      </div>
    </div>
  {{/if}}
{{else}}
  {{agenda/agendaitem/agendaitem-decision-edit
    isEditing=isEditing
    item=agendaitem.decision
    agendaitem=agendaitem
  }}
{{/if}}