<Auk::Panel class="auk-panel--editing">
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">{{t "ministers"}}</h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            @icon="plus"
            {{on "click" this.openSelectMandatee}}
            data-test-mandatee-panel-edit-add-mandatee
          >
            {{t "add-minister"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="au-c-form">
      <AuFormRow>
        <table class="auk-table">
          <thead>
            <tr>
              <th class="auk-table__col--10">
                {{t "minister"}}
              </th>
              <th class="auk-table__col--1">
                {{t "submitter"}}
              </th>
              <th class="auk-table__col--1"></th>
            </tr>
          </thead>
          <tbody>
            {{#each this.mandateesBuffer as |mandatee|}}
              <tr data-test-mandatee-panel-edit-mandatee-row>
                <td>
                  {{mandatee.person.fullName}}
                </td>
                <td data-test-mandatee-panel-edit-row-submitter>
                  <AuToggleSwitch
                    @checked={{eq mandatee this.submitterBuffer}}
                    @onChange={{fn this.toggleIsSubmitter mandatee}}
                  />
                </td>
                <td class="auk-u-text-align--right auk-o-flex--vertical-center">
                  <AuButton
                    data-test-mandatee-panel-edit-row-delete
                    @skin="naked"
                    @alert={{true}}
                    @icon="trash"
                    @hideText={{true}}
                    {{on "click" (fn this.removeMandatee mandatee)}}
                  >
                    {{t "delete"}}
                  </AuButton>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </AuFormRow>
    </div>
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar @auto={{true}}>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <AuButton
            @skin="naked"
            {{on "click" @onCancel}}
            data-test-mandatee-panel-edit-cancel
          >
            {{t "cancel"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <AuButton
            data-test-mandatee-panel-edit-save
            @skin="primary"
            @loading={{this.save.isRunning}}
            {{on "click" (perform this.save)}}
          >
            {{t "save"}}
          </AuButton>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>
{{#if this.showSelectMandateeModal}}
  <Mandatees::MandateesSelectorModal
    @referenceDate={{@referenceDate}}
    @onClose={{this.closeSelectMandatee}}
    @onAdd={{this.addMandatee}}
    @excludeMandatees={{this.mandateesBuffer}}
  />
{{/if}}