<div class="vl-u-flex-space-between">
  <button class="vl-button vl-button--link vl-button--icon">
    <i class="vl-button__icon vl-vi vl-vi-pencil"></i>
  </button>
  {{#if (not (is-pending (await row.nota)))}}
    {{#if (not (await row.nota))}}
      <button class="vl-button vl-button--link vl-button--icon"
              style="opacity:0.3;"
        {{action "openDocument" row bubbles=false}}
      >
        <i class="vl-button__icon vl-vi vl-vi-document"></i>
        {{#attach-popover
          placement="bottom"
          class="ember-attacher-popper ember-attacher-popper-small"
        }}
          {{t "no-nota"}}
        {{/attach-popover}}
      </button>
    {{else}}
      <button class="vl-button vl-button--link vl-button--icon"
        {{action "openDocument" row bubbles=false}}
      >
        <i class="vl-button__icon vl-vi vl-vi-document"></i>
      </button>
    {{/if}}
  {{else}}
    <div class="vl-loader" role="alert" aria-busy="true">
      {{#attach-popover
        placement="bottom"
        class="ember-attacher-popper ember-attacher-popper-small"
      }}
        {{t "nota-loading-text"}}
      {{/attach-popover}}
    </div>
  {{/if}}
  {{#link-to
    "cases.case.subcases.subcase.overview"
    (await row.subcase.case.id)
    (await row.subcase.id)
    target="_blank"
    bubbles=false
    class="vl-button vl-button--link vl-button--icon"
  }}
    <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
  {{/link-to}}
</div>