{{#if (not this.isEditing)}}
  <div data-test-decision-container class="vl-u-spacer vl-typography">
    <div class="vl-u-display-flex vl-u-flex-align-center vl-u-flex-v-bottom">
      {{#if this.currentSession.isEditor}}
        <a
          href="javascript://"
          class="vl-link"
          {{on "click" this.openEditingWindow}}
        >
          {{t "edit"}}
        </a>
        {{#if @allowDelete}}
          <button type="button" class="vl-button vl-button--link vl-button--icon">
            <i class="vl-button__icon  ki-more"></i>
            <AttachPopover
              @class="ember-attacher-popper"
              @hideOn="clickout click"
              @showOn="click"
              @animation="shift"
              @placement="bottom"
            as |attacher|>
              <ul class="vlc-dropdown-menu">
                <li class="vlc-dropdown-menu__item">
                  <button
                    data-test-delete-decision
                    type="button"
                    class="vl-link vl-u-text--error"
                    {{on "click" attacher.hide}}
                    {{on "click" (fn this.promptDeleteTreatment @treatment)}}
                  >
                    {{t "delete-decision"}}
                  </button>
                </li>
              </ul>
            </AttachPopover>
          </button>
        {{/if}}
      {{/if}}
    </div>
    <div class="vl-u-spacer-extended-top-s">
      {{#if @treatment.decisionResultCode}}
        <Decision::DecisionResultPill @decisionResultCode={{@treatment.decisionResultCode}}/>
      {{/if}}
    </div>
  </div>
  {{#if @treatment.report}} {{!-- awaiting here breaks loading after adding, do not add await --}}
    <Agenda::Agendaitem::AgendaitemCase::SubcaseDocument::ReportLink
      @documentContainer={{await @treatment.report.documentContainer}}
      @treatment={{@treatment}}
    />
  {{else}}
    <Utils::AddDocuments
      @meetingRecordOrDecision={{@treatment}}
      @defaultType={{this.defaultType}}
      @modelToAddPieceTo="agendaItemTreatment"
      @title={{t "signed-decision-add"}}
    />
  {{/if}}
{{else}}
  <Agenda::Agendaitem::AgendaitemDecisionEdit
    @agendaItemTreatment={{@treatment}}
    @onSave={{this.closeEditingWindow}}
    @onCancel={{this.closeEditingWindow}}
    @isTableRow={{@isTableRow}}
  />
{{/if}}
{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "delete-decision"}}
    @message={{t "delete-decision-message"}}
    @cancel={{this.cancel}}
    @verify={{this.deleteTreatment}}
  />
{{/if}}