<WebComponents::VlModal
        @closeModal={{@cancelAction}}
        @isOverlay={{true}}
        @title={{t "document-edit"}}>
  <div class="auk-modal__content">
    <div class="auk-form-group-layout auk-form-group-layout--horizontal">
      {{#if @piece}}
        <div class="auk-form-group">
          <WebComponents::AuLabel for="name">{{t "name"}}</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="name" @value={{@piece.name}}/>
        </div>
        <div class="auk-form-group">
          <WebComponents::AuLabel for="extension">{{t "file-extension"}}</WebComponents::AuLabel>
          <span class="vl-pill">{{await @piece.file.extension}}</span>
        </div>
        <div class="auk-form-group">
          <WebComponents::AuLabel for="document-type">{{t "document-type"}}</WebComponents::AuLabel>
          <div class="group">
            {{#unless this.loadData.isRunning}}
              <Utils::RadioDropdownComboSelect
                      @options={{this.sortedDocumentTypes}}
                      @onSelect={{this.selectDocumentType}}
                      @selected={{await this.selectedDocumentType}}
              />
            {{/unless}}
          </div>
        </div>

        <div class="vlc-hr"></div>

        <div class="auk-form-group">
          <WebComponents::AuLabel for="pages-amount">{{t "pages-amount"}}</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="pages-amount" @value={{@piece.pages}}/>
        </div>

        <div class="auk-form-group">
          <WebComponents::AuLabel for="words-amount">{{t "words-amount"}}</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="words-amount" @value={{@piece.words}}/>
        </div>

      {{/if}}
    </div>
  </div>
  <WebComponents::VlModalFooter
          @cancelButtonText={{t "cancel"}}
          @saveButtonText={{t "save"}}
          @isLoading={{this.isRunning}}
          @cancelAction={{@cancelAction}}
          @saveAction={{@saveAction}}
          @disableSave={{not @piece}} />
</WebComponents::VlModal>


{{!-- LOADER --}}


{{#if (or this.showLoader this.loadData.isRunning)}}
  <WebComponents::AuLoadingOverlay
    @title={{t "loading-text"}}
    @message={{t "loading-text"}}
  />
{{/if}}