<div class="auk-u-mb-3">
  {{#if (not this.isInEditMode)}}
    <Auk::Panel>
      <Auk::Panel::Header>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <h4 class="auk-panel__title">
                {{t "publication-info"}}
              </h4>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button data-test-info-view-edit @skin="tertiary" @icon="pencil" @layout="icon-only" {{on "click" this.putInEditMode}}/>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <div class="auk-o-grid">

          <div class="auk-o-grid-col-1 auk-content">
            <Auk::KeyValue @key={{t "publication-urgent"}}>
              <Auk::Icon @name="alert-triangle" @skin="warning" />
            </Auk::KeyValue>
          </div>

          <div class="auk-o-grid-col-11 auk-content">
            <Auk::KeyValue
              @key={{t "publications-number"}}
              @value={{@publicationFlow.identification.idName}} />
          </div>

          <div class="auk-o-grid-col-12 auk-content">
            <Auk::KeyValue
              @key={{t "numac-number"}}>
              {{#if @publicationFlow.numacNumbers}}
                {{join ", " (map-by "idName" @publicationFlow.numacNumbers)}}
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Datum beslissing}}
          <div class="auk-o-grid-col-4 auk-content">
            <Auk::KeyValue
              @key={{t "decision-date"}}>
              {{#if @isViaCouncilOfMinisters}}
                <Auk::ButtonLink
                  target="_blank"
                  @layout="icon-right"
                  @icon="chevron-right"
                  @route="agenda.agendaitems.agendaitem"
                  @models={{array
                    @publicationFlow.agendaItemTreatment.agendaitem.agenda.createdFor.id
                    @publicationFlow.agendaItemTreatment.agendaitem.agenda.id
                    @publicationFlow.agendaItemTreatment.agendaitem.id
                  }}
                >
                  {{#if @publicationFlow.agendaItemTreatment.startDate}}
                    {{moment-format @publicationFlow.agendaItemTreatment.startDate "DD-MM-YYYY"}}
                  {{else}}
                    {{t "to-agenda"}}
                  {{/if}}
                </Auk::ButtonLink>
              {{else}}
                {{#if @publicationFlow.agendaItemTreatment.startDate}}
                  {{moment-format @publicationFlow.agendaItemTreatment.startDate "DD-MM-YYYY"}}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Datum ontvangst}}
          <div class="auk-o-grid-col-4 auk-content">
            <Auk::KeyValue
              @key={{t "publication-flow-opening-date"}}>
              {{#if @publicationFlow.openingDate}}
                {{moment-format
                  @publicationFlow.openingDate
                  "DD-MM-YYYY"
                }}
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Limiet publicatie}}
          <div class="auk-o-grid-col-4 auk-content">
            <Auk::KeyValue
              @key={{t "publication-due-date"}}>
              {{#if @publicationFlow.publicationSubcase.dueDate}}
                {{moment-format
                  @publicationFlow.publicationSubcase.dueDate
                  "DD-MM-YYYY"
                }}
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

        </div>
      </Auk::Panel::Body>
    </Auk::Panel>
  {{else}}
      <Auk::Panel class="auk-panel--editing">
      <Auk::Panel::Header>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "publication-info"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
          <div class="auk-form-group-layout auk-form-group-layout--grid">
            <div class="auk-o-grid">

              <div class="auk-o-grid-col-1">
                <div class="auk-form-group">
                  <Auk::Label>
                    {{t "publication-urgent"}}
                  </Auk::Label>
                  <Auk::Checkbox
                    data-test-urgency-level-checkbox
                    @checked={{this.isUrgent}}
                    {{on 'input' this.onChangeIsUrgent}} />
                </div>
              </div>

              <div class="auk-o-grid-col-11">
                <div class="auk-form-group">
                  <Auk::Label
                    @required={{true}}
                    @error={{not this.isPublicationNumberValid}}>
                    {{t "publications-number"}}
                  </Auk::Label>
                  <Auk::Input
                    data-test-publication-sidebar-publication-number
                    @type="number"
                    value={{this.publicationNumber}}
                    @error={{not this.isPublicationNumberValid}}
                    {{on "input" (perform this.setPublicationNumber)}}
                  />
                  <Auk::Input
                    data-test-publication-sidebar-publication-number-suffix
                    @width="xsmall"
                    value={{this.publicationNumberSuffix}}
                    @error={{not this.isPublicationNumberValid}}
                    {{on "input" (perform this.setPublicationNumberSuffix)}}
                  />
                  {{#if this.numberIsAlreadyUsed}}
                    <div
                      data-test-publication-sidebar-publication-number-error
                      class="auk-form-help-text auk-form-help-text--danger"
                    >
                      <Auk::Icon @name="alert-triangle" />
                      {{t "publication-number-already-taken"}}
                    </div>
                  {{/if}}
                  {{#if this.numberIsRequired}}
                    <div class="auk-form-help-text auk-form-help-text--danger">
                      <Auk::Icon @name="alert-triangle" />
                      {{t "publication-number-required"}}
                    </div>
                  {{/if}}
                </div>
              </div>

              <div class="auk-o-grid-col-12">
                {{! Werknummer BS == numac nummer }}
                <div data-test-publication-sidebar-numac-number class="auk-form-group">
                  <Auk::Label>
                    {{t "numac-number"}}
                  </Auk::Label>
                  {{! TODO: disable modifying numac-number once (staatsblad-)decision exists? }}
                  <Auk::InputPills
                    @items={{this.numacNumbers}}
                    @onCreate={{this.addNumacNumber}}
                    @onRemove={{this.deleteNumacNumber}}
                    as |numac|
                  >
                    {{numac.idName}}
                  </Auk::InputPills>
                </div>
              </div>

              {{! Datum beslissing }}
              <div class="auk-o-grid-col-4">
                <div data-test-publication-sidebar-decision-date class="auk-form-group">
                  <Auk::Label>{{t "decision-date"}}</Auk::Label>
                  {{#if @isViaCouncilOfMinisters}}
                    {{#if @publicationFlow.agendaItemTreatment.startDate}}
                      {{moment-format @publicationFlow.agendaItemTreatment.startDate "DD-MM-YYYY"}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  {{else}}
                    <Auk::Datepicker
                      @date={{@publicationFlow.agendaItemTreatment.startDate}}
                      @onChange={{this.setDecisionDate}}
                    />
                  {{/if}}
                </div>
              </div>

              {{! Datum ontvangst }}
              <div class="auk-o-grid-col-4">
                <div data-test-publication-sidebar-opening-date class="auk-form-group">
                  <Auk::Label>{{t "publication-flow-opening-date"}}</Auk::Label>
                  {{#if @isViaCouncilOfMinisters}}
                    {{#if @publicationFlow.openingDate}}
                      {{moment-format @publicationFlow.openingDate "DD-MM-YYYY"}}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  {{else}}
                    <Auk::Datepicker
                      @date={{@publicationFlow.openingDate}}
                      @onChange={{this.setOpeningDate}}
                    />
                  {{/if}}
                </div>
              </div>

              {{! Limiet publicatie }}
              <div class="auk-o-grid-col-4">
                <div
                  data-test-publication-sidebar-publication-due-date
                  class="auk-form-group"
                >
                  <Auk::Label>{{t "publication-due-date"}}</Auk::Label>
                  {{#if (not @publicationFlow.status.isWithdrawn)}}
                    <Auk::Datepicker
                      @date={{@publicationFlow.publicationSubcase.dueDate}}
                      @onChange={{this.setPublicationDueDate}}
                    />
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                  {{#if this.isPublicationOverdue}}
                    <Auk::FormHelpText
                      @text={{t "date-expired"}}
                      @skin="warning"
                      @icon="alert-triangle"
                    />
                  {{/if}}
                </div>
              </div>

            </div>
          </div>
        </Utils::LoadableContent>
      </Auk::Panel::Body>
      <Auk::Panel::Footer>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-info-edit-cancel
                @skin="borderless"
                @disabled={{this.save.isRunning}}
                {{on "click" this.cancelEdit}}>
                {{t "cancel"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-info-edit-save
                @skin="primary"
                @loading={{this.save.isRunning}}
                @disabled={{not this.isValid}}
                {{on "click" (perform this.save)}}>
                {{t "save"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    </Auk::Panel>
  {{/if}}
</div>