<div class="auk-u-mb-3">
  <Auk::Panel class={{if this.isEditing "auk-panel--editing"}}>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              {{t "publication-case-info-panel-title"}}
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        {{#if (not this.isEditing)}}
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-publication-case-info-panel-view-edit
                @skin="tertiary"
                @icon="pencil"
                @layout="icon-only"
                {{on "click" this.openEditingPanel}}
              />
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      {{#if (not this.isEditing)}}
        <div class="auk-o-grid">

          {{!Dringend}}
          <div class="auk-o-grid-col-2 auk-content">
            <Auk::KeyValue @key={{t "publication-urgent"}}>
              {{#if @publicationFlow.urgencyLevel.isUrgent}}
                <Auk::Icon @name="alert-triangle" @skin="warning" />
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Publicatienummer}}
          <div class="auk-o-grid-col-2 auk-content">
            <Auk::KeyValue
              @key={{t "publications-number"}}
              @value={{@publicationFlow.identification.idName}}
            />
          </div>

          {{!Numac-nummers}}
          <div class="auk-o-grid-col-2 auk-content">
            <Auk::KeyValue @key={{t "publication-flow-numac-number"}}>
              {{#if @publicationFlow.numacNumbers}}
                {{join ", " (map-by "idName" @publicationFlow.numacNumbers)}}
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Datum beslissing}}
          <div class="auk-o-grid-col-2 auk-content">
            <Auk::KeyValue @key={{t "decision-date"}}>
              {{#if this.isViaCouncilOfMinisters}}
                <Auk::ButtonLink
                  target="_blank"
                  @route="agenda.agendaitems.agendaitem"
                  @models={{array
                    @publicationFlow.agendaItemTreatment.agendaitem.agenda.createdFor.id
                    @publicationFlow.agendaItemTreatment.agendaitem.agenda.id
                    @publicationFlow.agendaItemTreatment.agendaitem.id
                  }}
                >
                  {{#if @publicationFlow.agendaItemTreatment.startDate}}
                    {{moment-format
                      @publicationFlow.agendaItemTreatment.startDate
                      "DD-MM-YYYY"
                    }}
                  {{else}}
                    {{t "to-agenda"}}
                  {{/if}}
                </Auk::ButtonLink>
              {{else}}
                {{#if @publicationFlow.agendaItemTreatment.startDate}}
                  {{moment-format
                    @publicationFlow.agendaItemTreatment.startDate
                    "DD-MM-YYYY"
                  }}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Datum ontvangst}}
          <div class="auk-o-grid-col-2 auk-content">
            <Auk::KeyValue @key={{t "publication-flow-opening-date"}}>
              {{#if @publicationFlow.openingDate}}
                {{moment-format @publicationFlow.openingDate "DD-MM-YYYY"}}
              {{else}}
                {{t "dash"}}
              {{/if}}
            </Auk::KeyValue>
          </div>

          {{!Limiet publicatie}}
          <div class="auk-o-grid-col-2 auk-content">
            <Auk::KeyValue @key={{t "publication-flow-publication-due-date"}}>
              <div class={{if this.isPublicationOverdue "auk-u-text-bold"}}>
                {{#if
                  (and
                    @publicationFlow.publicationSubcase.dueDate
                    (not @publicationFlow.status.isWithdrawn)
                  )
                }}
                  {{moment-format
                    @publicationFlow.publicationSubcase.dueDate
                    "DD-MM-YYYY"
                  }}
                {{else}}
                  {{t "dash"}}
                {{/if}}
              </div>
              {{#if this.isPublicationOverdue}}
                <Auk::FormHelpText
                  @text={{t "date-expired"}}
                  @skin="warning"
                  @icon="alert-triangle"
                />
              {{/if}}
            </Auk::KeyValue>
          </div>

        </div>
      {{else}}
        <Utils::LoadableContent
          @isLoading={{or this.closeEditingPanel.isRunning this.save.isRunning}}
          @reserveSpace={{true}}
        >
          <div class="auk-form-group-layout auk-form-group-layout--grid">
            <div class="auk-o-grid">

              {{!Dringend}}
              <div class="auk-o-grid-col-4">
                <div class="auk-form-group">
                  <Auk::Label>
                    {{t "publication-urgent"}}
                  </Auk::Label>
                  <Auk::Checkbox
                    data-test-urgency-level-checkbox
                    @checked={{@publicationFlow.urgencyLevel.isUrgent}}
                    {{on "input" this.changeIsUrgent}}
                  />
                </div>
              </div>

              {{!Publicatienummer}}
              <div class="auk-o-grid-col-4">
                <div class="auk-form-group">
                  <Auk::Label
                    @required={{true}}
                    @error={{this.publicationNumberErrorKey}}
                  >
                    {{t "publications-number"}}
                  </Auk::Label>
                  <div class="auk-o-flex auk-u-mb">
                    <Auk::Input
                      data-test-publication-case-info-panel-publication-number
                      @type="number"
                      class="auk-input--block auk-o-flex__item"
                      value={{@publicationFlow.identification.structuredIdentifier.localIdentifier}}
                      @error={{this.publicationNumberErrorKey}}
                      {{on "input" (perform this.setPublicationNumber)}}
                    />
                    <Auk::Input
                      data-test-publication-case-info-panel-publication-number-suffix
                      @width="xsmall"
                      class="auk-u-ml"
                      value={{@publicationFlow.identification.structuredIdentifier.versionIdentifier}}
                      @error={{this.publicationNumberErrorKey}}
                      {{on "input" (perform this.setPublicationNumberSuffix)}}
                    />
                    <Utils::Generic::TooltipHelp class="auk-u-mx">
                      {{t "publication-flow-publication-number-help"}}
                    </Utils::Generic::TooltipHelp>
                  </div>
                  {{#if this.publicationNumberErrorKey}}
                    <Auk::FormHelpText
                      @text={{t this.publicationNumberErrorKey}}
                      @skin="danger"
                      @icon="alert-triangle"
                    />
                  {{/if}}
                </div>
              </div>

              {{!Numac-nummers}}
              <div class="auk-o-grid-col-4">
                <div
                  data-test-publication-case-info-panel-numac-number
                  class="auk-form-group"
                >
                  <Auk::Label>
                    {{t "publication-flow-numac-number"}}
                  </Auk::Label>
                  {{! TODO: disable modifying numac-number once (staatsblad-)decision exists? }}
                  <Auk::InputPills
                    @items={{this.numacNumbersEditing}}
                    @onCreate={{this.addNumacNumber}}
                    @onRemove={{this.deleteNumacNumber}}
                    as |numac|
                  >
                    {{numac.idName}}
                  </Auk::InputPills>
                </div>
              </div>

              {{! Datum beslissing }}
              <div class="auk-o-grid-col-4 auk-u-mt-2">
                <div
                  data-test-publication-case-info-panel-decision-date
                  class="auk-form-group"
                >
                  <Auk::Label>{{t "decision-date"}}</Auk::Label>
                  {{#if this.isViaCouncilOfMinisters}}
                    {{#if @publicationFlow.agendaItemTreatment.startDate}}
                      {{moment-format
                        @publicationFlow.agendaItemTreatment.startDate
                        "DD-MM-YYYY"
                      }}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  {{else}}
                    <Auk::Datepicker
                      @date={{@publicationFlow.agendaItemTreatment.startDate}}
                      @onChange={{this.setDecisionDate}}
                    />
                  {{/if}}
                </div>
              </div>

              {{! Datum ontvangst }}
              <div class="auk-o-grid-col-4 auk-u-mt-2">
                <div
                  data-test-publication-case-info-panel-opening-date
                  class="auk-form-group"
                >
                  <Auk::Label>{{t "publication-flow-opening-date"}}</Auk::Label>
                  {{#if this.isViaCouncilOfMinisters}}
                    {{#if @publicationFlow.openingDate}}
                      {{moment-format
                        @publicationFlow.openingDate
                        "DD-MM-YYYY"
                      }}
                    {{else}}
                      {{t "dash"}}
                    {{/if}}
                  {{else}}
                    <Auk::Datepicker
                      @date={{@publicationFlow.openingDate}}
                      @onChange={{this.setOpeningDate}}
                    />
                  {{/if}}
                </div>
              </div>

              {{! Limiet publicatie }}
              <div class="auk-o-grid-col-4 auk-u-mt-2">
                <div
                  data-test-publication-case-info-panel-publication-due-date
                  class="auk-form-group"
                >
                  <Auk::Label>{{t "publication-flow-publication-due-date"}}</Auk::Label>
                  {{#if (not @publicationFlow.status.isWithdrawn)}}
                    <Auk::Datepicker
                      @date={{@publicationFlow.publicationSubcase.dueDate}}
                      @onChange={{this.setPublicationDueDate}}
                    />
                  {{else}}
                    {{t "dash"}}
                  {{/if}}
                  {{#if this.isPublicationOverdue}}
                    <Auk::FormHelpText
                      @text={{t "date-expired"}}
                      @skin="warning"
                      @icon="alert-triangle"
                    />
                  {{/if}}
                </div>
              </div>

            </div>
          </div>
        </Utils::LoadableContent>
      {{/if}}
    </Auk::Panel::Body>
    {{#if this.isEditing}}
      <Auk::Panel::Footer>
        <Auk::Toolbar>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-publication-case-info-panel-edit-cancel
                @skin="borderless"
                @loading={{this.closeEditingPanel.isRunning}}
                @disable={{this.save.isRunning}}
                {{on "click" (perform this.closeEditingPanel)}}
              >
                {{t "cancel"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            <Auk::Toolbar::Item>
              <Auk::Button
                data-test-publication-case-info-panel-edit-save
                @skin="primary"
                @loading={{this.save.isRunning}}
                @disabled={{or
                  (not this.isValid)
                  this.closeEditingPanel.isRunning
                }}
                {{on "click" (perform this.save)}}
              >
                {{t "save"}}
              </Auk::Button>
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
      </Auk::Panel::Footer>
    {{/if}}
  </Auk::Panel>
</div>