<div class="vlc-container-center">
  <div style="page-break-after:always;">
    {{utils/logo-header}}
    <div class="vl-u-spacer-extended-bottom-l">
      <h1 class="vl-title vl-title--h2">
        {{await title}}
        <br />
        <span class="vl-u-spacer-extended-top-s vl-u-text--muted">
          {{t "agenda"}}
        </span>
      </h1>
    </div>
    <div class="vl-u-spacer-extended-bottom-l">
      <hr class="vlc-hr" />
    </div>
    <div class="vl-u-display-flex vl-u-flex-align-baseline">
      <h3 class="vl-title vl-title--h3">
        {{t "notes"}}
      </h3>
      {{#if isEditor}}
        <div class="vl-u-spacer-extended-left-s">
          {{#if allowEditing}}
            <a class="vl-link" {{action "toggleIsEditing"}}>
              {{t "edit"}}
            </a>
          {{/if}}
        </div>
      {{/if}}
    </div>
    {{sessions/session-notes currentSession=currentSession isEditing=isEditing}}
  </div>
  <div class="vl-u-spacer-extended-bottom">
    {{#each (await agendaitemGroups) as |group|}}
      {{#each group.groups as |agendaitemGroup|}}
        {{#each agendaitemGroup.agendaitems as |agendaitem|}}
          <div class="vl-u-display-flex vl-u-flex-justify-center">
            <div class="print-only vl-u-spacer-extended-top-l">
              <img
                style="margin:-75px 0px -50px 0px; width:200px"
                src="/assets/logo_vlaamse_regering.svg"
                alt={{t "flemish-government"}}
               />

              <p class="vl-u-text--bold vl-u-text--capitalized">
                {{await title}}
              </p>
              <hr class="vlc-hr" />
            </div>
          </div>
          <div style="page-break-after:always;">
            <div class="vl-u-spacer-extended-bottom">
              <div class="vl-u-spacer-extended-bottom-s">
                <h3 class="vl-title vl-title--h5">
                  {{agendaitem.number}}
                  .
                  {{agendaitem.shortTitle}}
                </h3>
                <pre class="no-capitalize">
                  {{!-- TODO: Figure out the exact reason for using curlies here  --}}
                  {{{agendaitem.title}}}
                </pre>
              </div>
              {{#if agendaitem.isEditing}}
                {{agenda/agendaitem/agendaitem-minutes-edit
                  isEditing=agendaitem.isEditing
                  agendaitem=agendaitem
                }}
              {{else}}
                <div class="vl-typography">
                  <ul>
                    {{#if isEditor}}
                      <div class="vl-u-display-flex align-right">
                        {{#if allowEditing}}
                          <a
                            class="vl-link"
                            {{action "toggleIsEditingMeetingRecord" agendaitem}}
                          >
                            {{t "edit"}}
                          </a>
                        {{/if}}
                      </div>
                    {{/if}}
                    <li>
                      {{#if (await agendaitem.meetingRecord.richtext)}}
                        <p class="vl-u-text--ellipse">
                          {{sanitize-html raw=true value=(await agendaitem.meetingRecord.richtext)}}
                        </p>
                        {{#each
                          (await agendaitem.subcase.decisions) as |decision|
                        }}
                          {{#if (await decision.signedDocument.name)}}
                            <p class="vl-u-text--muted">
                              {{await decision.decisionApproval}}
                            </p>
                          {{/if}}
                        {{/each}}
                      {{else}}
                        <p class="vl-u-text--muted">
                          {{t "no-notes"}}
                        </p>
                      {{/if}}
                    </li>
                  </ul>
                  <p>
                    {{agendaitem.subcase.subcaseName}}
                  </p>
                </div>
              {{/if}}
            </div>
            {{#if (not allowEditing)}}
              {{web-components/vl-signature
                signature=currentSession.defaultSignature
              }}
            {{/if}}
          </div>
        {{/each}}
      {{/each}}
    {{/each}}
  </div>
</div>