  <div class="vlc-container">
    <div class="vl-u-spacer">
      <h3 class="vl-title vl-title--h6">
        {{t "attendees"}}
      </h3>
      {{#each currentSession.notes.attendees as |attendee|}}
        <div class="vl-u-spacer">
          <p>
            {{attendee.title}}
          </p>
          <p>
            {{await attendee.person.alternativeName}}
          </p>
        </div>
      {{/each}}
    </div>
    <div class="vl-u-spacer">
      <h3 class="vl-title vl-title--h6">
        {{t "date"}}
      </h3>
      <p>
        {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
      </p>
    </div>
    <div class="vl-u-spacer">
      <h3 class="vl-title vl-title--h6">
        {{t "notes-of-session"}}
      </h3>
      <p>
        {{await currentSession.notes.description}}
      </p>
    </div>
    {{!-- <div class="vl-u-spacer">
      <h3 class="vl-title vl-title--h6">
        {{t "date-next-meeting"}}
      </h3>
      <p>
        {{! TODO fix }}
        {{moment-format
        (await	agendaitem.agenda.createdFor.notes.nextMeeting.plannedStart)
        "DD MMMM YYYY"
      }} 
        {{{await	agendaitem.agenda.createdFor.notes.nextMeeting.id}}
      </p>
    </div> --}}
    <div class="vl-u-spacer-extended-top vl-u-spacer-extended-bottom">
      {{#each (await agendaitemGroups) as |agendaitemGroup|}}
      <div class="vl-u-spacer-extended-top vl-u-spacer-extended-bottom vlc-navbar--bordered-top">
        {{#each agendaitemGroup.mandatees as |mandatee|}}
          <h2 class="vl-title vl-title--h5">
            {{mandatee.title}}
          </h2>
        {{/each}}
      </div>
        {{#each agendaitemGroup.agendaitems as |agendaitem|}}
          <div
            class="vlc-comments-comment-content vl-u-spacer-extended-top vl-u-spacer-extended-bottom"
          >
            {{#if agendaitem.meetingRecord}}
              <div class="vl-u-spacer">
                <h3 class="vl-title vl-title--h6">
                  {{agendaitem.foundPriority}}
                  .
                  {{await agendaitem.subcase.shortTitle}}
                </h3>
                <p>
                  {{await agendaitem.meetingRecord.description}}
                </p>
              </div>
            {{else}}
              <div class="vl-u-spacer">
                <h3 class="vl-title vl-title--h6">
                  {{agendaitem.foundPriority}}
                  .
                  {{await agendaitem.subcase.shortTitle}}
                </h3>
                <p>
                  {{t "no-notes"}}
                </p>
              </div>
            {{/if}}
          </div>
        {{/each}}
      {{/each}}
    </div>
  </div>