<ul class="vlc-tabs-reverse" role="tablist">
  <li class="vlc-tabs-reverse__item">
    <LinkTo
      class="border-left vlc-tabs-reverse__link"
      @route="agenda.agendaitems.index"
      @activeClass="vlc-tabs-reverse__link--active"
      @query={{if this.currentAgendaItemId (hash anchor=this.currentAgendaItemId)}}
    >
      {{t "overview"}}
    </LinkTo>
  </li>
  <li class="vlc-tabs-reverse__item">
    {{!-- TODO: get rid of async computed, so this wrapping if and the await can go --}}
    {{#if (await firstAgendaitemOfAgenda.id)}}
      <Link
        @route="agenda.agendaitems.agendaitem"
        @model={{if this.isInAgendaItemDetailRoute null (await firstAgendaitemOfAgenda.id)}}
      as |l|>
        <a
          href={{l.url}}
          class="vlc-tabs-reverse__link {{if l.isActiveWithoutModels "vlc-tabs-reverse__link--active"}}"
          {{on "click" l.transitionTo}}
        >
          {{t "detail"}}
        </a>
      </Link>
    {{/if}}
  </li>
  {{#if currentSession.isEditor}}
    <li class="vlc-tabs-reverse__item">
      <LinkTo
        class="vlc-tabs-reverse__link"
        @route="agenda.compare"
        @activeClass="vlc-tabs-reverse__link--active"
      >
        {{t "compare"}}
      </LinkTo>
    </li>
  {{/if}}
  <li class="vlc-tabs-reverse__item">
    <LinkTo
      class="vlc-tabs-reverse__link"
      @route="agenda.documents"
      @activeClass="vlc-tabs-reverse__link--active"
    >
      {{t "documents"}}
    </LinkTo>
  </li>
</ul>