{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "attendees"}}
    </h3>
  </div>
  <div class="vl-u-spacer">
    {{#each (await currentSession.notes.sortedAttendees) as |attendee|}}
      <p>
        {{await attendee.person.alternativeName}}
        {{t "divider"}}
        {{attendee.title}}
      </p>
    {{/each}}
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "date-session"}}
    </h3>
    <p>
      {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
    </p>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      {{t "notes-of-session"}}
    </h3>
    <p>
      {{await currentSession.notes.richtext}}
    </p>
  </div>
{{else}}
  <div class="vl-u-spacer">
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "date")}}
      {{web-components/vl-datepicker
        value=currentSession.notes.startDate
        dateChanged=(action "selectStartDate")
      }}
    </div>
    <div class="vlc-input-field-block">
      {{web-components/vl-form-label value=(t "attendees")}}
      {{utils/mandatee-selector
        selectedMandatees=currentSession.notes.attendees
        chooseMandatee=(action "peopleSelected")
      }}
    </div>
  </div>
  <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-top">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <button type="button" class="vl-button vl-button--link"
            {{action "cancel" currentSession.notes}}
          >
            {{t "cancel"}}
          </button>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          {{web-components/vl-save-button
            text=(t "save")
            isLoading=isLoading
            saveAction=(action "saveChanges" currentSession.notes)
          }}
        </div>
      </div>
    </div>
  </div>
{{/if}}