{{#if (eq currentAgenda.name "Ontwerpagenda")}}
  {{#if (and (not (is-pending isDeletable)) (not (is-pending isPostPonable)))}}
    {{#if (await isPostPonable)}}
      {{#if (or agendaitem.retracted (await agendaitem.postponedTo))}}
        <button class="vl-button vl-button--tertiary vl-button--narrow"
          {{action "advanceAgendaitem"}}
        >
          {{t "not-postpone"}}
        </button>
      {{else}}
        <button class="vl-button vl-button--tertiary vl-button--narrow" {{action "postponeAgendaItem" agendaitem}}>
          {{t "postpone"}}
        </button>
      {{/if}}
    {{/if}}
    {{#if (or isAdmin (await isDeletable))}}
      <button class="vl-button vl-button--tertiary vl-button--narrow"
        {{action "toggleIsVerifying"}}>
        {{t "delete"}}
      </button>
    {{/if}}
  {{else}}
    <div class="vl-loader"></div>
  {{/if}}
  {{#if isVerifying}}
    {{web-components/vl-modal-verify
            title=(t "delete-agendaitem")
            message=(await deleteWarningText)
            cancel=(action "toggleIsVerifying")
            verify=(action "verifyDelete" agendaitem)
    }}
  {{/if}}
{{/if}}