{{#file-upload name="files"
                     for="upload-photo"
                     multiple=true
                     onfileadd=(action "uploadFile")}}
	{{#file-dropzone name="files" tagName="a" as |dropzone queue|}}
		{{#if dropzone.active}}
    	{{#if dropzone.valid}}
      	{{t 'drop-text'}}
    	{{else}}
      	{{t 'invalid-type'}}
    	{{/if}}
  	{{else if queue.files.length}}
		<div class="progress-container">
    	 {{t 'uploading'}} {{queue.files.length}} {{t 'files'}}. ({{queue.progress}}%)
			<progress max="100" value={{queue.progress}}></progress>
		</div>
  	{{else}}
      	{{#if dropzone.supported}}
					{{t 'dropzone-text'}}      	
				{{/if}}
			{{#if queue.files.length}}
				{{ember-progress-bar progress=queue.progress useDefaultStep=true}}
 			{{/if}}
  	{{/if}}
	{{/file-dropzone}}
{{/file-upload}}

