<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="auk-u-m-4">
    <div class="auk-o-grid auk-u-mb-2">
      <div class="auk-o-grid-col-2">
        <div class="au-u-margin-top-tiny">
          <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">Inhoud</AuHeading>
          <AuList as |Item|>
            <Item><AuLink @route="settings.organisations" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact" @active={{true}}>Alle gebruikers</AuLink></Item>
            <Item><AuLink @route="settings.organisations" @skin="button-naked" @icon="arrow-right" @iconAlignment="right" class="au-c-button--naked-compact">Geblokkeerd</AuLink></Item>
          </AuList>
        </div>
      </div>
      <div class="auk-o-grid-col-10">
        <div class="auk-navbar auk-navbar--bordered-bottom au-u-padding-left-none au-u-padding-right-none  au-u-padding-top-none au-u-padding-bottom-small au-u-flex--between">
          <div class="au-u-flex au-u-flex--spaced-tiny">
            {{#if (eq this.checked false)}}
            <Auk::Button
              @icon="circle-full"
              @skin="secondary"
              @disabled={{true}}
            >
              Deblokkeren
            </Auk::Button>
            <Auk::Button
              @icon="circle-x"
              @skin="danger-primary"
              @disabled={{true}}
            >
              Blokkeren
            </Auk::Button>
            {{else}}
            <Auk::Button
              @icon="circle-full"
              @skin="secondary"
              {{on "click" this.activateAll}}
            >
              Deblokkeren
            </Auk::Button>
            <Auk::Button
              @icon="circle-x"
              @skin="danger-primary"
              {{on "click" this.blockAll}}
            >
              Blokkeren
            </Auk::Button>
            {{/if}}
          </div>
          {{!-- <div>
            <Auk::Input
              data-test-route-settings-users-search-input
              @type="search"
              @value={{this.filter}}
            />
            <Auk::Button
              data-test-route-settings-users-search-button
              @skin="primary"
              @icon="search"
              {{on "click" this.refresh}}
            >
              Zoeken
            </Auk::Button>
          </div> --}}
        </div>
        <DataTable
          data-test-route-settings-users-table={{true}}
          @content={{await this.model}}
          @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
          @isLoading={{this.isLoadingModel}}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          @noDataMessage={{t "no-results-found"}}
          as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table-checkbox-col">
                <Auk::Checkbox
                  @checked={{false}}
                  {{on "click" this.checkAll}}
                />
              </th>
              <ThSortable
                @currentSorting={{this.sort}}
                @field="first-name"
                @label="Organisatie"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="organization.identifier"
                @label="OVO-code"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="group.name"
                @label="Aantal gebruikers"
              />
            </c.header>
            {{#if this.checked}}
            <tr class="au-u-background-gray-200">
              <td colspan="6">
                <p class="au-u-text-center">Alle 9 organisaties zijn geselecteerd op deze pagina. <AuLink>Selecteer alle ... organisaties.</AuLink></p>
              </td>
            </tr>
            {{/if }}
            <c.body as |user|>
              <td>
                <Auk::Checkbox
                  @checked={{this.checked}}
                />
              </td>
              <td data-test-route-settings-users-row-first-name>
                {{#if user.organization.identifier}}
                <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if (eq user.firstName "Tom") "au-u-muted"}}">
                {{#if (eq user.firstName "Tom")}}
                Kaleidos
                <AuPill @icon="circle-x" @skin="error" @size="small">
                  Geblokkeerd
                </AuPill>
                {{else}}
                Naam organisatie
                {{/if}}
                </span>
                {{else}}
                  Naam organisatie
                {{/if}}
              </td>
              <td class="{{if (eq user.firstName "Tom") "au-u-muted"}}">
                {{#if user.organization.identifier}}
                {{#if (eq user.firstName "Tom")}}
                {{user.organization.identifier}}
                {{else}}
                  OVO000081
                {{/if}}
                {{else}}
                  OVO000017
                {{/if}}
              </td>
              <td data-test-route-settings-users-row-group>
                <AuLink>112 gebruikers</AuLink>
              </td>
            </c.body>
          </table.content>
        </DataTable>
      </div>
    </div>
  </div>
</div>

{{#if this.showActivateAll}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Activeren"
      @onClose={{this.activateAll}}
    />
    <Auk::Modal::Body>
      <p>Gedeactiveerde gebruikers hebben tijdelijk geen toegang tot Kaleidos. Zij kunnen later opnieuw geactiveerd worden.</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.activateAll}}>
      <Auk::Button
        @skin="primary"
        {{on "click" this.activateAllToggle}}
      >
        Activeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showDisableAll}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Deactiveren"
      @onClose={{this.disableAll}}
    />
    <Auk::Modal::Body>
      <p>Gedeactiveerde gebruikers hebben tijdelijk geen toegang tot Kaleidos. Zij kunnen later opnieuw geactiveerd worden.</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.disableAll}}>
      <Auk::Button
        @skin="primary"
        {{on "click" this.disableAllToggle}}
      >
        Deactiveren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showBlockAll}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Blokkeren"
      @onClose={{this.blockAll}}
    />
    <Auk::Modal::Body>
      <p>Geblokkeerde gebruikers worden definitief uit Kaleidos gehouden. Zij kunnen niet meer geactiveerd worden.</p>
      <p class="au-u-margin-bottom-small">Typ “Blokkeren” om <strong>9 gebruikers</strong> te blokkeren.</p>
      <Auk::Input />
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.blockAll}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.blockAll}}
      >
        Blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}


{{#if this.showBlock}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Blokkeren"
      @onClose={{this.block}}
    />
    <Auk::Modal::Body>
      <p>Geblokkeerde gebruikers worden definitief uit Kaleidos gehouden. Zij kunnen niet meer geactiveerd worden.</p>
      <p class="au-u-margin-bottom-small">Typ “Blokkeren” om <strong>deze gebruiker</strong> te blokkeren.</p>
      <Auk::Input />
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.block}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.blockAll}}
      >
        Blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}