<div class="auk-scroll-wrapper__body au-u-background-gray-100">
  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="auk-o-grid au-o-grid--stretch">
      <div class="auk-o-grid-col-2">
        <div class="au-o-box au-o-box--small au-o-flow au-o-flow--tiny au-u-padding-right-none">
          <div class="au-c-card au-o-box au-o-box--small">
            <Auk::Label>Filteren op organisatie</Auk::Label>
            <div class="au-u-flex au-u-flex--spaced-tiny">
              <div class="au-u-4-5">
                <Auk::Input
                  placeholder="OVO of organisatie"
                  @type="search"
                  class="au-u-1-1"
                />
              </div>
              <div class="au-u-1-5">
                <Auk::Button
                  @skin="secondary"
                  @layout="icon-only"
                  @icon="plus"
                  class="au-u-1-1"
                />
              </div>
            </div>
            <p class="au-u-h-functional au-u-margin-top-tiny">
              <AuLinkExternal
                @icon="external"
                @iconAlignment="right">
                Lijst met OVO codes
              </AuLinkExternal>
            </p>
            <AuHr />
            <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center">
              <div>
                <p class="au-u-muted">
                  OVO00001
                </p>
                <p>Het Vlaams Parlement</p>
              </div>
              <div>
                <Auk::Button
                  @skin="muted-borderless"
                  @layout="icon-only"
                  @icon="x"
                  class="au-u-1-1"
                />
              </div>
            </div>
          </div>
          <div class="au-c-card au-o-box au-o-box--small">
            <AuToggleSwitch
              @label="Toon enkel geblokkeerde"
              @identifier="blocked"
              @name="blocked"
              @checked={{false}}
            />
          </div>
        </div>
      </div>
      <div class="auk-o-grid-col-10">
        <DataTable
          data-test-route-settings-users-table={{true}}
          @content={{await this.model}}
          @class="auk-table auk-table--styled auk-table--bordered auk-table--noactions"
          @isLoading={{this.isLoadingModel}}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          @noDataMessage={{t "no-results-found"}}
          as |table|
        >
          <table.content as |c|>
            <c.header>
              <ThSortable
                @currentSorting={{this.sort}}
                @field="first-name"
                @label="Organisatie"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="organization.identifier"
                @label="OVO-code"
              />
              <ThSortable
                @currentSorting={{this.sort}}
                @field="group.name"
                @label="Gebruikers gezien"
              />
              <th></th>
            </c.header>
            <c.body as |user|>
              <td data-test-route-settings-users-row-first-name>
                {{#if user.organization.identifier}}
                <span class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small {{if (eq user.firstName "Tom") "au-u-muted"}}">
                {{#if (eq user.firstName "Tom")}}
                Kaleidos
                <AuPill @icon="circle-x" @skin="error" @size="small">
                  Geblokkeerd
                </AuPill>
                {{else}}
                Naam organisatie
                {{/if}}
                </span>
                {{else}}
                  Naam organisatie
                {{/if}}
              </td>
              <td class="{{if (eq user.firstName "Tom") "au-u-muted"}}">
                {{#if user.organization.identifier}}
                {{#if (eq user.firstName "Tom")}}
                {{user.organization.identifier}}
                {{else}}
                  OVO000081
                {{/if}}
                {{else}}
                  OVO000017
                {{/if}}
              </td>
              <td data-test-route-settings-users-row-group>
                <AuLink>112 gebruikers</AuLink>
              </td>
              <td class="auk-u-text-align--right">
              <div class="auk-o-flex auk-o-flex--justify-end">
                {{#if (eq user.firstName "Tom")}}
                <Auk::DropdownMenu
                  @skin="borderless"
                  @icon="three-dots"
                  as |Menu|
                >
                  <Menu.Item
                    {{on "click" this.unblock}}
                  >
                    Organisatie deblokkeren
                  </Menu.Item>
                  <Menu.Item
                    @skin="danger"
                    {{on "click" this.archive}}
                  >
                    Gebruikers archiveren
                  </Menu.Item>
                </Auk::DropdownMenu>
                {{else}}
                <Auk::DropdownMenu
                  @skin="borderless"
                  @icon="three-dots"
                  as |Menu|
                >
                  <Menu.Item
                    @skin="danger"
                    {{on "click" this.block}}
                  >
                    Organisatie blokkeren
                  </Menu.Item>
                  <Menu.Item
                    @skin="danger"
                    {{on "click" this.archive}}
                  >
                    Gebruikers archiveren
                  </Menu.Item>
                </Auk::DropdownMenu>
                {{/if}}
              </div>
            </td>
            </c.body>
          </table.content>
        </DataTable>
      </div>
    </div>
  </div>
</div>

{{#if this.showUnblock}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Organisatie deblokkeren"
      @onClose={{this.unblock}}
    />
    <Auk::Modal::Body>
      <p>Gebruikers die een werkrelatie hebben met deze organisatie krijgen opnieuw toegang tot Kaleidos</p>
      <p>Ben je zeker dat je deze organisatie wil deblokkeren uit Kaleidos?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.unblock}}>
      <Auk::Button
        @skin="primary"
        {{on "click" this.addUnblock}}
      >
        Ja, organisatie deblokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showBlock}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Organisatie blokkeren"
      @onClose={{this.block}}
    />
    <Auk::Modal::Body>
      <p>Gebruikers die een werkrelatie hebben met deze organisatie zullen niet meer in Kaleidos kunnen.</p>
      <p>Ben je zeker dat je deze organisatie wil blokkeren uit Kaleidos?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.block}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.addBlock}}
      >
        Ja, organisatie blokkeren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showArchive}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title="Gebruikers archiveren"
      @onClose={{this.archive}}
    />
    <Auk::Modal::Body>
      <p>Gebruikers die een werkrelatie hebben met andere actieve organisaties worden niet gearchiveerd.</p>
      <p>Ben je zeker dat je <strong>120 gebruikers</strong> wil archiveren binnen Kaleidos?</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.archive}}>
      <Auk::Button
        @skin="danger-primary"
        {{on "click" this.addArchive}}
      >
        Ja, 120 gebruikers archiveren
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}