<Auk::Modal>
  <Auk::Modal::Header
    @title="{{t
      'request-proof-for-publication'
      identification=@publicationFlow.identification.idName
    }}"
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      <div class="auk-form-group">
        <Auk::Label for="proofRequestSubject" @required={{true}}>
          {{t "subject"}}
        </Auk::Label>
        <Auk::Input
          data-test-proof-request-subject
          id="proofRequestSubject"
          @block={{true}}
          @value={{mut this.subject}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="proofRequestMessage" @required={{true}}>
          {{t "message"}}
        </Auk::Label>
        <Auk::Textarea
          data-test-proof-request-message
          id="proofRequestMessage"
          @rows="6"
          @value={{mut this.message}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label @required={{true}}>
          {{t "attachments"}}
        </Auk::Label>
        <Auk::FileUploader @multiple={{false}} @onUpload={{this.uploadPiece}} />
        <Auk::List>
          {{#each this.uploadedPieces as |piece|}}
            <Auk::List::Item class="auk-o-flex auk-o-flex--spaced-wide">
              <div class="auk-o-flex auk-o-flex--spaced">
                <Auk::Badge @icon="paperclip" @size="regular" />
                <h5 class="auk-h4 auk-u-m-0">
                  {{piece.file.downloadFilename}}
                </h5>
              </div>
            </Auk::List::Item>
          {{/each}}
          {{#each this.piecesOfTranslation as |piece|}}
            <Auk::List::Item class="auk-o-flex auk-o-flex--spaced-wide">
              <div class="auk-o-flex auk-o-flex--spaced">
                <Auk::Badge @icon="paperclip" @size="regular" />
                <h5 class="auk-h4 auk-u-m-0">
                  {{piece.file.downloadFilename}}
                </h5>
              </div>
              <Auk::ButtonLink
                @layout="icon-only"
                @icon="book"
                @href={{piece.viewDocumentURL}}
                target="_blank"
              >
                {{t "read"}}
              </Auk::ButtonLink>
              <Auk::Button
                @icon="trash"
                @layout="icon-only"
                @skin="danger-borderless"
                {{on "click" (fn this.unlinkUsedPiece piece)}}
              />
            </Auk::List::Item>
          {{/each}}
        </Auk::List>
      </div>

    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @cancelDisabled={{this.isCancelDisabled}}
    @onCancel={{perform this.cancel}}
  >
    <Auk::Button
      data-test-proof-request-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>