<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "request-proof-for-publication"
      identification=@publicationFlow.identification.idName
    }}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <Utils::LoadableContent
      @isLoading={{this.isLoading}}
      @reserveSpace={{true}}
    >
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        <div class="auk-form-group">
          <Auk::Label @required={{true}}>
            {{t "attachments"}}
          </Auk::Label>
          <Auk::FileUploader
            @multiple={{true}}
            @reusable={{true}}
            @onUpload={{this.uploadPiece}}
          />
          <Publications::Publication::PublicationDocumentsList
            @pieces={{this.transferredPieces}}
            @viewable={{true}}
            @onDeletePiece={{this.unlinkTransferredPiece}}
          />
          <Publications::Publication::PublicationDocumentsList
            @pieces={{this.uploadedPieces}}
            @onDeletePiece={{perform this.deleteUploadedPiece}}
          />
        </div>
        <div class="auk-form-group auk-u-mt-4">
          <Auk::Checkbox
            data-test-proof-request-update-status
            @label={{t "update-publication-status-proof-requested"}}
            @checked={{this.mustUpdatePublicationStatus}}
            {{on "input" this.setProofRequestedStatus}}
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="proofRequestSubject" @required={{true}}>
            {{t "subject"}}
          </Auk::Label>
          <AuInput
            data-test-proof-request-subject
            @width="block"
            @value={{mut this.subject}}
            id="proofRequestSubject"
          />
        </div>
        <div class="auk-form-group">
          <Auk::Label for="proofRequestMessage" @required={{true}}>
            {{t "message"}}
          </Auk::Label>
          <Auk::Textarea
            data-test-proof-request-message
            id="proofRequestMessage"
            rows="16"
            @value={{mut this.message}}
          />
        </div>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <AuButton
      data-test-proof-request-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "request-it"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>