<Auk::Modal>
  <Auk::Modal::Header
    @title="{{t
      "request-proof-for-publication"
      identification=@publicationFlow.identification.idName
    }}"
    @onClose={{perform this.cancel}}
  />
  <Auk::Modal::Body>
      <div class="auk-form-group-layout auk-form-group-layout--standard">
        {{! Subject }}
        <div class="auk-form-group {{this.validators.subject.errorClass}}">
          <Auk::Label for="proofRequestSubject" @required={{true}}>
            {{t "subject"}}
          </Auk::Label>
          <Auk::Input
            data-test-proof-request-subject
            id="proofRequestSubject"
            @block={{true}}
            @value={{mut this.subject}}
            {{on "input" this.validators.subject.enableError}}
          />
        </div>
        {{! Message }}
        <div class="auk-form-group {{this.validators.message.errorClass}}">
          <Auk::Label for="proofRequestMessage" @required={{true}}>
            {{t "message"}}
          </Auk::Label>
          <Auk::Textarea
            data-test-proof-request-message
            id="proofRequestMessage"
            @rows="6"
            @value={{mut this.message}}
            {{on "input" this.validators.message.enableError}}
          />
        </div>
        {{! Attachments }}
        <div class="auk-form-group {{this.validators.attachments.errorClass}}">
          <Auk::Label @required={{true}}>{{t "attachments"}}</Auk::Label>
          <Auk::FileUploader
            @multiple={{true}}
            @onUpload={{this.uploadPiece}}
          />

        </div>
      </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      data-test-proof-request-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.saveRequest.isRunning}}
      {{on "click" (perform this.saveRequest)}}
    >
      {{t "request-action"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>