<Auk::Modal>
  <Auk::Modal::Header
    @title={{t
      "upload-proof-for-publication-x-identification"
      identification=@publicationFlow.identification.idName
    }}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.saveProof.isRunning}} @reserveSpace={{true}}>

      <Auk::FileUploader
        @multiple={{false}}
        @onUpload={{this.onUploadFile}} />
      {{!-- File details --}}
      {{#if this.file}}
        <div class="auk-u-my-4">
          <div class="auk-o-grid">
            <div class="auk-o-grid-col-11">
              <div class="auk-form-group-layout auk-form-group-layout--horizontal">
                <div class="auk-form-group {{if this.validators.name.showError "auk-form-group--error"}}">
                  <Auk::Label for="proofUploadName" @required={{true}}>
                    {{t "name"}}
                  </Auk::Label>
                  <Auk::Input type="text" id="proofUploadName"
                    @value={{mut this.name}}
                    {{on "input" this.validators.name.enableError}} />
                </div>
                <div class="auk-form-group">
                  <Auk::Label>{{t "file-type"}}</Auk::Label>
                  <Utils::Documents::FileTypePill @extension={{this.file.extension}} />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar @size="large">
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::ButtonLink
            disabled={{this.isCancelDisabled}}
            {{on "click" @onCancel}}>
            {{t "cancel"}}
          </Auk::ButtonLink>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @disabled={{this.isSaveDisabled}}
            @loading={{this.saveProof.isRunning}}
            {{on "click" (perform this.saveProof)}}>
            {{t "save"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>