<Auk::Panel data-test-proof-received-panel>
  <Auk::Panel::Header @size="large">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            {{t "received-proof"}}
          </h4>
          <p data-test-proof-received-panel-end-date class="auk-u-text-small auk-u-m-0">
            {{date @proofingActivity.endDate}}
          </p>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        {{!-- template-lint-disable require-context-role --}}
        <AuDropdown
          data-test-proof-received-panel-dropdown
          @icon="three-dots"
          @title={{t "more"}}
          @hideText={{true}}
          @alignment="right"
        >
          <AuButton
            data-test-proof-received-panel-publication-request
            @skin="link"
            @disabled={{@isCreatePublicationRequestDisabled}}
            {{on "click" this.openPublicationRequestModal}}
            role="menuitem"
          >
            {{t "request-publication"}}
          </AuButton>
          <AuButton
            data-test-proof-received-panel-edit
            @skin="link"
            {{on "click" this.openEditProofModal}}
            role="menuitem"
          >
            {{t "edit-2"}}
          </AuButton>
        </AuDropdown>
        {{!-- template-lint-enable require-context-role --}}
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>

  <Auk::Panel::Body>
    <Publications::Publication::PublicationDocumentsList
      @pieces={{@proofingActivity.generatedPieces}}
      @viewable={{true}}
      @onDeletePiece={{@onDeletePiece}}
    />
  </Auk::Panel::Body>
</Auk::Panel>

{{#if this.showPublicationRequestModal}}
  <Publications::Publication::PublicationActivities::PublicationRequestModal
    @publicationFlow={{@publicationFlow}}
    @proofingActivity={{@proofingActivity}}
    @onSave={{perform this.createPublicationRequest}}
    @onCancel={{this.closePublicationRequestModal}}
  />
{{/if}}

{{#if this.showEditProofModal}}
  <Auk::Modal>
    <Auk::Modal::Header
      @title={{t "edit-proof"}}
      @onClose={{this.closeEditProofModal}}
      @closeDisabled={{this.save.isRunning}}
    />
    <Auk::Modal::Body>
      <div class="au-c-form">
        <AuFormRow>
          <Auk::Label for="proofUploadReceivedDate" @required={{true}}>
            {{t "date"}}
          </Auk::Label>
          <Auk::Datepicker
            id="proofUploadReceivedDate"
            @date={{this.newReceivedDate}}
            @onChange={{set this "newReceivedDate"}}
          />
        </AuFormRow>
        <AuFormRow>
          <Auk::Label for="proofPrintCorrector">
            {{t "who-proof-reads"}}
          </Auk::Label>
          <AuInput
            data-test-proof-received-panel-edit-corrector
            id="proofPrintCorrector"
            value={{this.newProofPrintCorrector}}
            {{on "input" (pick "target.value" (set this "newProofPrintCorrector"))}}
          />
        </AuFormRow>
      </div>
    </Auk::Modal::Body>
    <Auk::Modal::Footer
      @cancelDisabled={{this.save.isRunning}}
      @onCancel={{this.closeEditProofModal}}
    >
      <AuButton
        data-test-proof-received-panel-edit-save
        @skin="primary"
        @disabled={{this.isSaveDisabled}}
        @loading={{this.save.isRunning}}
        {{on "click" (perform this.save)}}
      >
        {{t "save"}}
      </AuButton>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}