<Auk::Panel class={{if this.isEditing "auk-panel--editing"}}>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            {{t "proof-info"}}
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      {{#unless this.isEditing}}
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-proof-info-panel-edit
              @skin="naked"
              @icon="pencil"
              {{on "click" this.openEditingPanel}}
            >
              {{t "edit"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      {{/unless}}
    </Auk::Toolbar>
  </Auk::Panel::Header>

  {{#if this.isEditing}}
    <Auk::Panel::Body>
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-3">
          <div
            data-test-proof-info-panel-edit-due-date
            class="auk-form-group"
          >
            <Auk::Label>{{t "publication-flow-publication-due-date"}}</Auk::Label>
            <Auk::Datepicker
              @date={{@publicationSubcase.dueDate}}
              @onChange={{set @publicationSubcase "dueDate"}}
            />
            {{#if
              (and
                (not @isFinal)
                (is-after @publicationSubcase.dueDate precision="days")
              )
            }}
              <Auk::FormHelpText
                @text={{t "date-expired"}}
                @skin="warning"
                @icon="alert-triangle"
              />
            {{/if}}
          </div>
        </div>
        <div class="auk-o-grid-col-3">
          <div class="auk-form-group">
            <Auk::Label>
              {{t "proofprint-corrector"}}
            </Auk::Label>
            <AuInput
              data-test-proof-info-panel-edit-corrector
              @value={{mut @publicationSubcase.proofPrintCorrector}}
            />
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton
              @skin="naked"
              @disabled={{this.save.isRunning}}
              {{on "click" this.closeEditingPanel}}
            >
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-publication-proof-info-panel-save
              @skin="primary"
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              {{on "click" (perform this.save)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  {{else}}
    <Auk::Panel::Body>
      <div class="auk-o-grid">
        <div class="auk-o-grid-col-3">
          <div class="auk-content">
            <h4 class="auk-u-m-0">{{t "publication-flow-publication-due-date"}}</h4>
            <p
              data-test-publication-proof-info-panel-view-due-date
              class="auk-u-m-0"
            >
              {{#if @publicationSubcase.dueDate}}
                {{date @publicationSubcase.dueDate}}
              {{else}}
                {{t "dash"}}
              {{/if}}
              {{#if
                (and
                  (not @isFinal)
                  (is-after @publicationSubcase.dueDate precision="days")
                )
              }}
                <Auk::FormHelpText
                  @text={{t "date-expired"}}
                  @skin="warning"
                  @icon="alert-triangle"
                />
              {{/if}}
            </p>
          </div>
        </div>
        <div class="auk-o-grid-col-3">
          <div class="auk-content">
            <h4 class="auk-u-m-0">{{t "proofprint-corrector"}}</h4>
            <p
              data-test-proof-info-panel-view-corrector
              class="auk-u-m-0"
            >
              {{#if @publicationSubcase.proofPrintCorrector}}
                {{@publicationSubcase.proofPrintCorrector}}
              {{else}}
                -
              {{/if}}
            </p>
          </div>
        </div>
      </div>
    </Auk::Panel::Body>
  {{/if}}
</Auk::Panel>