<Auk::Modal>
  <Auk::Modal::Header
    @title={{t "upload-proofing-document"}}
    @onClose={{perform this.cancel}}
    @closeDisabled={{this.isCancelDisabled}}
  />
  <Auk::Modal::Body>
    <Auk::FileUploader
      @multiple={{true}}
      @reusable={{true}}
      @onUpload={{this.uploadPiece}}
    />
    <Publications::Publication::PublicationDocumentsList
      @pieces={{this.uploadedPieces}}
      @onDeletePiece={{perform this.deleteUploadedPiece}}
    />
    <div class="auk-form-group auk-u-mt-4">
      <AuCheckbox
        data-test-proof-upload-update-status
        @checked={{this.mustUpdatePublicationStatus}}
        @onChange={{this.setMustUpdatePublicationStatus}}
      >
        {{t "update-publication-status-proof-received"}}
      </AuCheckbox>
    </div>
    <div class="auk-form-group">
      <Auk::Label for="proofUploadReceivedDate" @required={{true}}>
        {{t "date"}}
      </Auk::Label>
      <Auk::Datepicker
        id="proofUploadReceivedDate"
        @date={{this.receivedDate}}
        @onChange={{set this "receivedDate"}}
      />
    </div>
    <div class="auk-form-group">
      <Auk::Label for="proofPrintCorrector">
        {{t "who-proof-reads"}}
      </Auk::Label>
      <AuInput
        @value={{mut this.proofPrintCorrector}}
        id="proofPrintCorrector"
      />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer
    @onCancel={{perform this.cancel}}
    @cancelDisabled={{this.isCancelDisabled}}
  >
    <AuButton
      data-test-proof-upload-save
      @skin="primary"
      @disabled={{this.isSaveDisabled}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      {{t "save"}}
    </AuButton>
  </Auk::Modal::Footer>
</Auk::Modal>