<Auk::Modal>
  <Auk::Modal::Header
    @title={{this.modalTitle}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.onSave.isRunning}} @reserveSpace={{true}}>
      <div class="auk-form-group {{if this.validations.subject.showError "auk-form-group--error"}}">
        <Auk::Label for="proofRequestSubject" @required={{true}}>
          {{t "subject"}}
        </Auk::Label>
        <Auk::Input id="proofRequestSubject"
          @block={{true}}
          @value={{mut this.subject}}
          {{on "input" this.validations.subject.enableError}} />
      </div>
      <div class="auk-form-group {{if this.validations.message.showError "auk-form-group--error"}}">
        <Auk::Label for="proofRequestMessage" @required={{true}}>
          {{t "message"}}
        </Auk::Label>
        <Auk::Textarea id="proofRequestMessage" @rows="6"
          @value={{mut this.message}}
          {{on "input" this.validations.message.enableError}} />
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t "attachments"}}</Auk::Label>
        <Auk::CheckboxList>
          {{#each @attachments as |piece|}}
            <Auk::Checkbox
              @label={{piece.name}}
              @checked={{includes piece this.selectedAttachments}}
              {{on "input" (fn this.toggleAttachmentSelection piece)}} />
          {{/each}}
        </Auk::CheckboxList>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{not this.canSave}}
      @loading={{this.onSave.isRunning}}
      {{on "click" (perform this.onSave)}}>
      {{t "request-action"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>