{{!-- NOT READY FOR REVIEW (KAS-2475) --}}
<Auk::Modal>
  <Auk::Modal::Header
    @title={{this.modalTitle}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <Utils::LoadableContent @isLoading={{this.onSave.isRunning}} @reserveSpace={{true}}>
      <div class="auk-form-group">
        <Auk::Label for="proofRequestSubject">
          {{t 'subject'}}
        </Auk::Label>
        <Auk::Input type="text" id="proofRequestSubject"
          @value={{mut this.subject}}
          class="auk-input auk-input--block" />
        {{#if this.validations.subject.showError}}
          <Auk::Label @error={{true}}>
            {{t "input-error-message"}}
          </Auk::Label>
        {{/if}}
      </div>
      <div class="auk-form-group">
        <Auk::Label for="proofRequestMessage" @isRequired={{true}}>
          {{t 'translation-mail-header'}}
        </Auk::Label>
        <Auk::Textarea id="proofRequestMessage" @rows="6" @value={{mut this.message}} />
        {{#if this.validations.message.showError}}
          <Auk::Label @error={{true}}>
            {{t "input-error-message"}}
          </Auk::Label>
        {{/if}}
      </div>
      <div class="auk-form-group">
        <Auk::Label>{{t 'attachments'}}</Auk::Label>
        <Auk::CheckboxList>
          {{#each @attachments as |piece|}}
            <Auk::Checkbox
              @label={{piece.name}}
              @checked={{includes piece this.selectedAttachments}}
              {{on 'input' (fn this.toggleAttachmentSelection piece)}} />
          {{/each}}
        </Auk::CheckboxList>
      </div>
    </Utils::LoadableContent>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{not this.canSave}}
      @loading={{this.onSave.isRunning}}
      {{on "click" (perform this.onSave)}}>
      {{t "save"}}
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>