{{title
  this.model.agenda.agendaName
  " van "
  (moment-format this.model.meeting.plannedStart 'DD/MM/YYYY HH:mm')
}}
<div class="vl-u-bg-alt">
  {{agenda/agenda-header
    compareAgendas=(action "compareAgendas")
    loading=(action "loadingAgendaitems")
    onCreateAgendaitem=(action "refresh")
    onApproveAgenda=(action "navigateToAgenda")
    clearSelectedAgendaitem=(action "navigateToOverview")
    navigateToNotes=(action "navigateToNotes")
    navigateToPressAgenda=(action "navigateToPressAgenda")
    navigateToDecisions=(action "navigateToDecisions")
    navigateToNewsletter=(action "navigateToNewsletter")
    navigateToDocuments=(action "navigateToDocuments")
    showPrintButton=showPrintButton
  }}
</div>
{{#if (not isLoading)}}
  <div class="vlc-panel-layout">
    {{#unless shouldHideNav}}
      {{agenda/side-nav
        agendas=this.model.meeting.sortedAgendas
        currentAgenda=this.model.agenda
        selectAgenda=(action "selectAgenda")
      }}
    {{/unless}}
    {{outlet}}
  </div>
{{else}}
  {{web-components/vl-loader
    text=(concat (t "agenda-approving-text") " " (t "please-be-patient"))
  }}
{{/if}}