{{page-title
  this.model.agenda.agendaName
  " van "
  (moment-format this.model.meeting.plannedStart 'DD/MM/YYYY HH:mm')
}}
{{agenda/agenda-header
  loading=(action "loadingAgendaitems")
  onCreateAgendaitem=(action "handleAgendaItemCreation")
  onApproveAgenda=(action "navigateToAgenda")
  navigateToPressAgenda=(action "navigateToPressAgenda")
  navigateToDecisions=(action "navigateToDecisions")
  navigateToNewsletter=(action "navigateToNewsletter")
  showPrintButton=showPrintButton
}}
{{#if (not isLoading)}}
  <div class="auk-panel-layout">
    {{#unless shouldHideNav}}
      <div class="auk-panel-layout__sidebar auk-panel-layout__agenda-history">
        {{agenda/side-nav
          agendas=this.model.meeting.sortedAgendas
          currentAgenda=this.model.agenda
          selectAgenda=(action "selectAgenda")
        }}
      </div>
    {{/unless}}
    {{outlet}}
  </div>
{{else}}
  {{!-- TODO, with an auLoadingOverlay, this text was semi hidden so opted to remove this for now. Page just goes blank when loading (only triggered on header actions)--}}
  {{!-- {{web-components/vl-loader}} --}}
{{/if}}