{{page-title
  this.model.agenda.agendaName
  " van "
  (moment-format
    this.model.meeting.plannedStart
    (if this.model.meeting.isPreKaleidos "DD/MM/YYYY" "DD/MM/YYYY HH:mm")
  )
}}
<Agenda::AgendaHeader
  {{! data}}
  @meeting={{this.model.meeting}}
  @currentAgenda={{this.model.agenda}}
  @reversedAgendas={{this.model.reverseSortedAgendas}}
  {{! actions}}
  @loading={{this.toggleIsLoading}}
  @refreshRoute={{this.refresh}}
/>
{{#if (not this.isLoading)}}
  <div class="auk-panel-layout">
    {{#unless this.shouldHideNav}}
      <div class="auk-panel-layout__sidebar auk-panel-layout__agenda-history">
        <Agenda::SideNav
          @meeting={{this.model.meeting}}
          @currentAgenda={{this.model.agenda}}
          @reversedAgendas={{this.model.reverseSortedAgendas}}
        />
      </div>
    {{/unless}}
    {{outlet}}
  </div>
{{else}}
  {{! Page just goes blank when loading (only triggered on AgendaHeader actions and they provide a modal with loader)}}
  {{! The reason for this is that we want to prevent any clicking on sideNav or content in sibling routes during actions}}
{{/if}}