{{page-title
  this.model.agenda.agendaName
  " van "
  (moment-format
    this.model.meeting.plannedStart
    (if this.model.meeting.isPreKaleidos "DD/MM/YYYY" "DD/MM/YYYY HH:mm")
  )
}}
<Agenda::AgendaHeader
  @loading={{this.loadingAgendaitems}}
  @onCreateAgendaitem={{this.refresh}}
  @onApproveAllAgendaitems={{this.refresh}}
  @refresh={{this.refresh}}
  @onApproveAgenda={{this.navigateToAgenda}}
  @navigateToPressAgenda={{this.navigateToPressAgenda}}
  @navigateToDecisions={{this.navigateToDecisions}}
  @navigateToNewsletter={{this.navigateToNewsletter}}
  @showPrintButton={{this.showPrintButton}}
/>
{{#if (not this.isLoading)}}
  <div class="auk-panel-layout">
    {{#unless this.shouldHideNav}}
      <div class="auk-panel-layout__sidebar auk-panel-layout__agenda-history">
        <Agenda::SideNav
          @agendas={{this.model.reverseSortedAgendas}}
          @currentAgenda={{this.model.agenda}}
          @selectAgenda={{this.selectAgenda}}
        />
      </div>
    {{/unless}}
    {{outlet}}
  </div>
{{else}}
  {{!-- TODO, with an auLoadingOverlay, this text was semi hidden so opted to remove this for now. Page just goes blank when loading (only triggered on header actions)--}}
  {{!-- {{web-components/vl-loader}} --}}
{{/if}}