{{page-title
  this.model.agenda.agendaName
  " van "
  (moment-format this.model.meeting.plannedStart 'DD/MM/YYYY HH:mm')
}}
{{agenda/agenda-header
  loading=(action "loadingAgendaitems")
  onCreateAgendaitem=(action "refresh")
  onApproveAllAgendaitems=(action "refresh")
  onApproveAgenda=(action "navigateToAgenda")
  navigateToPressAgenda=(action "navigateToPressAgenda")
  navigateToDecisions=(action "navigateToDecisions")
  navigateToNewsletter=(action "navigateToNewsletter")
  showPrintButton=showPrintButton
}}
{{#if (not this.isLoading)}}
  <div class="auk-panel-layout">
    {{#unless this.shouldHideNav}}
      <div class="auk-panel-layout__sidebar auk-panel-layout__agenda-history">
        <Agenda::SideNav
          @selectedAgenda={{this.model.agenda}}
          @meeting={{this.model.meeting}}
        />
      </div>
    {{/unless}}
    {{outlet}}
  </div>
{{else}}
  {{!-- TODO, with an auLoadingOverlay, this text was semi hidden so opted to remove this for now. Page just goes blank when loading (only triggered on header actions)--}}
  {{!-- {{web-components/vl-loader}} --}}
{{/if}}