{{page-title
  this.model.agenda.agendaName
  " van "
  (moment-format this.model.meeting.plannedStart 'DD/MM/YYYY HH:mm')
}}
<div class="auk-u-bg-alt">
  {{agenda/agenda-header
    loading=(action "loadingAgendaitems")
    onCreateAgendaitem=(action "refresh")
    onApproveAgenda=(action "navigateToAgenda")
    navigateToPressAgenda=(action "navigateToPressAgenda")
    navigateToDecisions=(action "navigateToDecisions")
    navigateToNewsletter=(action "navigateToNewsletter")
    showPrintButton=showPrintButton
  }}
</div>
{{#if (not isLoading)}}
  <div class="vlc-panel-layout">
    {{#unless shouldHideNav}}
      {{agenda/side-nav
        agendas=this.model.meeting.sortedAgendas
        currentAgenda=this.model.agenda
        selectAgenda=(action "selectAgenda")
      }}
    {{/unless}}
    {{outlet}}
  </div>
{{else}}
  {{!-- TODO, with an auLoadingOverlay, this text was semi hidden so opted to remove this for now. Page just goes blank when loading (only triggered on header actions)--}}
  {{!-- {{web-components/vl-loader}} --}}
{{/if}}