<td class="auk-table__col--1">
  <AuLink @route="agenda.agendaitems.agendaitem" @models={{array this.meetingId this.agendaId this.agendaitem.id}}>
    {{this.formattedAgendaNumber}}
  </AuLink>
</td>
<td class="auk-table__col--6">
  <AuLink data-test-route-publications-overview-shortlist-row-name @route="document" @model={{@row.id}}>
    {{@row.name}}
  </AuLink>
  <br>
  {{this.agendaitem.title}}
</td>
<td class="auk-table__col--1">
  <AuPill data-test-route-publications-overview-shortlist-row-type>
    {{@row.documentContainer.type.label}}
  </AuPill>
</td>
<td class="auk-table__col--1">
  {{#each this.mandateePersonNames as |name|}}
    {{name}}
  {{else}}
    -
  {{/each}}
</td>
<td class="auk-table__col--1">
  {{date this.decisionDate}}
</td>
<td class="auk-table__col--1">
  <AuButton
    data-test-route-publications-overview-shortlist-row-open-new-publication
    @skin="naked"
    @icon="add"
    {{on "click" (fn @openNewPublicationModal @row this.agendaitem)}}
  >
    {{t "publications-new"}}
  </AuButton>
</td>