{{!-- This page is only for usertesting a second search --}}

{{ page-title
  (t "newsletter")
}}
<div class="auk-o-grid auk-u-mb-2">
  <div class="auk-o-grid-col-12">
    <div>
      {{#if this.model.length}}
        <DataTable
          data-test-route-search-agendaitems-data-table={{true}}
          @content={{this.model}}
          @page={{this.page}}
          @noDataMessage={{t "no-results-found"}}
          @size={{this.size}}
          @sort={{this.sort}}
          @class="auk-table auk-table--striped auk-table--vertical-align-top"
          @isLoading={{this.isLoadingModel}}
          @onClickRow={{this.navigateToAgendaitem}}
        as |table|
        >
          <table.content as |c|>
            <c.header>
              <th class="auk-table__col--7 auk-table__header-title">
                {{t "newletter-table-header"}}
              </th>
              <ThSortable
                @class="auk-table__col--2 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="sessionDates"
                @label={{t "newletter-agenda"}}
              />
              <th class="auk-table__col--2 auk-table__header-title">
                {{t "newsletter-minister"}}
              </th>
              <ThSortable
                @class="auk-table__col--1 auk-table__header-title"
                @currentSorting={{this.sort}}
                @field="meetingId"
                @label={{t "newsletter-status"}}
              />
              <th class="auk-table__col--1"></th>
            </c.header>
            {{!-- MOCK DATA --}}
            <tbody class="auk-table--interaction-cursor">
              <tr onClick="location.href='/vergadering/612F43A554BBD70008000001/agenda/612F43A554BBD70008000002/agendapunten/612F457F54BBD7000800001E/kort-bestek'">
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Geluidshinder Luchthaven Brussel-Nationaal: standpuntbepaling voorstel van resolutie
                  </h3>
                  <p class="auk-u-mr-2">
                    De Vlaamse Regering verleent negatief advies aan het voorstel van resolutie 291 over het ondervangen van het probleem van de (geluids)hinder als gevolg van het overvliegen van het gebied rond de luchthaven Brussel-Nationaal, zonder daarbij afbreuk te doen aan de economische ontwikkeling van die luchthaven. Het voorstel van resolutie omvat 18 verzoeken die een kader vormen om de hinder die veroorzaakt wordt door Brussels Airport op vlak van geluid- en luchtemissies, met inbegrip van het veiligheidsrisico, tot een minimum te beperken voor het Brussels Hoofdstedelijk Gewest en de onmiddellijke omgeving ervan. De geformuleerde voorstellen zijn zeer verregaand (bv. verbod om vluchten uit te voeren tussen 22 en 7 uur, verbod om boven het Brussels Hoofdstedelijk Gewest en de onmiddellijke omgeving te vliegen) en hebben een negatieve impact op de verdere ontwikkelingsmogelijkheden van Brussels Airport en de ‘billijke’ spreiding van de geluidshinder tussen de gewesten. De eisen die vermeld worden in resolutie 291 staan ook in contrast met het Vlaams Regeerakkoord 2019-2024 waarin het verzoenen van de leefbaarheid van de regio met nieuwe groeikansen voor de luchthaven als economische motor voor heel Vlaanderen wordt vermeld.
                  </p>
                </td>
                <td>
                  25-06-2021
                </td>
                <td>
                  Zuhal Demir, Lydia Peeters
                </td>
                <td>
                  Goedgekeurd
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/612F43A554BBD70008000001/agenda/612F43A554BBD70008000002/agendapunten/612F457F54BBD7000800001E/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
              <tr onClick="location.href='/vergadering/612F43A554BBD70008000001/agenda/612F43A554BBD70008000002/agendapunten/612F45BC54BBD70008000039/kort-bestek'">
                <td>
                  <h3 class="auk-h4 auk-u-mb">
                    Visienota 'Luchtvaart in Vlaanderen'
                  </h3>
                  <p class="auk-u-mr-2">
                    In het regeerakkoord is voorzien dat de Vlaamse Regering een langetermijnvisie opmaakt over de ontwikkeling van de luchtvaart. In dat kader neemt de Vlaamse Regering nu kennis van de startnota 'Visie Luchtvaart in Vlaanderen'. Daarbij wordt aandacht besteed aan de knelpunten rond 'general aviation', vergunningen, de beheersvormen en rolverdeling van de regionale luchthavens, de samenwerking met de nationale luchthaven en de toekomstige ontwikkelingen en innovaties in de luchtvaartsector. De Vlaamse minister bevoegd voor mobiliteit zal deze visienota verder verdiepen tot een globale en gedragen visie, en een extern studiebureau aanduiden om de visienota vorm te geven. 
                  </p>
                </td>
                <td>
                  11-12-2020
                </td>
                <td>
                  Lydia Peeters
                </td>
                <td>
                  Uitgesteld
                </td>
                <td class="auk-u-text-align--right">
                  <a class="auk-button auk-button--borderless  auk-button--icon  " href="/vergadering/612F43A554BBD70008000001/agenda/612F43A554BBD70008000002/agendapunten/612F45BC54BBD70008000039/kort-bestek" type="button">
                    <span class="auk-button__content">
                      <div class="auk-icon auk-icon--default">
                        <i class="ki ki-nav-right "></i>
                      </div>
                      <span class="auk-u-sr-only">
                      </span>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            {{!-- END MOCK DATA --}}
            {{!-- <c.body class="auk-table--interaction-cursor" as |row|>
              <td>
                <h3 class="auk-h4 auk-u-mb">
                  Visienota 'Luchtvaart in Vlaanderen'
                </h3>
                <p class="auk-u-mr-2">
                  In het regeerakkoord is voorzien dat de Vlaamse Regering een langetermijnvisie opmaakt over de ontwikkeling van de luchtvaart. In dat kader neemt de Vlaamse Regering nu kennis van de startnota 'Visie Luchtvaart in Vlaanderen'. Daarbij wordt aandacht besteed aan de knelpunten rond 'general aviation', vergunningen, de beheersvormen en rolverdeling van de regionale luchthavens, de samenwerking met de nationale luchthaven en de toekomstige ontwikkelingen en innovaties in de luchtvaartsector. De Vlaamse minister bevoegd voor mobiliteit zal deze visienota verder verdiepen tot een globale en gedragen visie, en een extern studiebureau aanduiden om de visienota vorm te geven. 
                </p>
              </td>
              <td>
                {{moment-format row.sessionDates "DD-MM-YYYY"}}
              </td>
              <td>
                Lydia Peeters
              </td>
              <td>
                Uitgesteld
              </td>
              <td class="auk-u-text-align--right">
                <Auk::Button
                  @skin="borderless"
                  @layout="icon-only"
                  @icon="nav-right"
                  @route="agenda.agendaitems.agendaitem"
                  @models={{array row.meetingId row.agendaId row.id}}
                />
              </td>
            </c.body> --}}
          </table.content>
        </DataTable>
      {{else}}
        {{#if this.emptySearch}}
          <WebComponents::VlAlert @message={{t "fill-in-search-term"}}/>
        {{else}}
          <WebComponents::VlAlert @message={{t "no-results-found-modify-term"}}/>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>

{{!-- make the kort bestek tab active --}}
<style>
  .auk-scroll-wrapper__body .auk-tabs__tab:last-child a {
    color: #212326 !important;
    border-bottom: 0.3rem solid #212326;
  }
</style>