<div class="au-c-card au-o-box au-o-box--small">
  <div class="au-c-form">
    <AuFormRow data-test-route-search-date-from>
      <AuLabel>{{t "from"}}</AuLabel>
      <Auk::Datepicker
        @date={{@dateFrom}}
        @onChange={{@onDateFromChange}}
        @enableClear={{@dateFrom}}
        @onClear={{@onDateFromClear}}
      />
    </AuFormRow>
    <AuFormRow class="au-u-margin-top-small" data-test-route-search-date-to>
      <AuLabel>{{t "until-inclusive"}}</AuLabel>
      <Auk::Datepicker
        @date={{@dateTo}}
        @onChange={{@onDateToChange}}
        @enableClear={{@dateTo}}
        @onClear={{@onDateToClear}}
      />
    </AuFormRow>
  </div>
</div>