<div class="au-c-card au-o-box au-o-box--small">
  <div class="auk-form-group">
    <Auk::Label>{{t "document-type"}}</Auk::Label>
    <Auk::CheckboxList>
      {{#if this.loadDocumentTypes.isRunning}}
        <Auk::Loader />
      {{else}}
        <div class="auk-u-ml-2">
          <AuControlCheckbox
            @checked={{this.allDocumentTypesSelected}}
            @indeterminate={{and
              (not this.allDocumentTypesSelected)
              this.someDocumentTypesSelected
            }}
            @onChange={{this.toggleAllDocumentTypes}}
          >
            <strong>{{t "all-document-types"}}</strong>
          </AuControlCheckbox>
          {{#each this.documentTypes as |documentType|}}
            <AuControlCheckbox
              @checked={{includes documentType this.selected}}
              @label={{documentType.label}}
              @onChange={{fn this.toggleDocumentType documentType}}
            />
          {{/each}}
        </div>
      {{/if}}
    </Auk::CheckboxList>
  </div>
</div>