<nav>
  <AuHeading @level="3" @skin="6" class="au-u-hidden-visually">
    {{t "content"}}
  </AuHeading>
  <Auk::Tabs @responsive={{true}} @vertical={{true}} @responsiveBreakpoint="small">
    <Auk::Tab
      @route="search.all-types"
      @current-when="search.all-types"
    >
      {{t "all-content"}}
    </Auk::Tab>
    <Auk::Tab
      @route="search.cases"
      @current-when="search.cases"
    >
      {{t "cases"}}
    </Auk::Tab>
    <Auk::Tab
      @route="search.agendaitems"
      @current-when="search.agendaitems"
    >
      {{t "agendas"}}
    </Auk::Tab>
    <Auk::Tab
      @route="search.documents"
      @current-when="search.documents"
    >
      {{t "documents"}}
    </Auk::Tab>
    <Auk::Tab
      @route="search.decisions"
      @current-when="search.decisions"
    >
      {{t "decisions"}}
    </Auk::Tab>
    <Auk::Tab
      @route="search.news-items"
      @current-when="search.news-items"
    >
      {{t "newsletter"}}
    </Auk::Tab>
    <Auk::Tab
      @route="search.publication-flows"
      @current-when="search.publication-flows"
    >
      {{t "publications"}}
    </Auk::Tab>
  </Auk::Tabs>
</nav>