<div
  class="au-u-flex au-u-flex--no-wrap au-u-flex--spaced au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-small"
>
  <p class="au-u-muted">
    <strong class="au-u-medium">{{this.fromResultIndex}}-{{this.toResultIndex}}</strong>
    {{t "results-for"}}
    <strong class="au-u-medium">"{{@searchText}}"</strong>
    in
    <strong>{{@searchType}}</strong>
  </p>
  <div>
    <AuLabel for="sort-type" class="au-u-hidden-visually">
      {{t "sort-by"}}
    </AuLabel>
    <select
      data-test-results-header-type
      name="sort-type"
      id="sort-type"
      class="auk-select auk-select--block"
      {{on "input" @onSortChange}}
    >
      {{#each @sortOptions as |sortType|}}
        <option
          value={{sortType.value}}
          selected={{eq sortType.value @sort}}
        >
          {{sortType.label}}
        </option>
      {{/each}}
    </select>
  </div>
</div>