<div>
  <form class="vl-form" onsubmit={{action "createSubCase"}}>
    <h3 class="vl-title vl-title--h3">
      {{t "buttons.create-subcase"}}
    </h3>
    <div class="vl-form-grid vl-form-grid--is-stacked">
      {{web-components/vl-form-label value=(t "subcases.name-subcase")}}
      {{web-components/vl-form-input width="4" value=shortTitle}}
      {{web-components/vl-form-label value=(t "subcases.title-subcase")}}
      {{web-components/vl-form-input width="4" value=title}}
      {{web-components/vl-form-label value=(t "subcases.mandatee")}}
      {{utils/mandatee-selector chooseMandatee=(action "selectMandatees")}}
      <div class="vl-col--4-4">
        {{web-components/vl-form-label value=(t "edit-item.themes")}}
        {{utils/theme-list
          chooseTheme=(action "chooseTheme")
        }}
      </div>
      <div class="vl-col--4-4">
        {{web-components/vl-form-label value=(t "cases.upload-file")}}
        {{file-uploader uploadedFile=(action "uploadedFile")}}
      </div>
      <div class="vl-col--4-4">
        {{#if (not uploadedFiles.length eq "0")}}
          <h4 class="vl-title vl-title--h4">
            {{t "attachements"}}
          </h4>
        {{/if}}
        {{#each uploadedFiles as |uploadedFile|}}
          <div class="uploaded-file-container">
            <a
              class="remove-file"
              href="#"
              {{action "removeFile" uploadedFile}}
            >
              <i class="vl-vi vl-vi-cross"></i>
            </a>
            {{web-components/vl-document file=uploadedFile}}
            <div>
              {{t "metadata-form.public"}}
              {{input type="checkbox" checked=uploadedFile.public}}
            </div>
            {{t "subcases.document-type"}}
            :
            {{document-type-selector
              chooseDocumentType=(action "chooseDocumentType" uploadedFile)
            }}
          </div>
        {{/each}}
        {{#if (not nonDigitalDocuments.length eq "0")}}
          <h4 class="vl-title vl-title--h4">
            {{t "non-digital-attachements"}}
          </h4>
        {{/if}}
        {{#each nonDigitalDocuments as |nonDigitalDocument|}}
          {{utils/non-digital-document
            nonDigitalDocument=nonDigitalDocument
            removeDocument=(action "removeDocument")
          }}
        {{/each}}
      </div>
    </div>
    <div class="vl-u-display-flex vl-u-flex-space-between vl-action-group">
      <button
        class="vl-button vl-button--tertiary vl-button--icon-before"
        type="button"
        {{action "toggleAddNonDigitalDocument"}}
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
        {{t "cases.non-digital-file"}}
      </button>
      <button type="submit" class="vl-button vl-button--tertiary">
        {{t "buttons.create-case"}}
      </button>
    </div>
  </form>
</div>
{{#if isAddingNonDigitalDocument}}
  {{#web-components/vl-modal
    isOverlay=true
    closeModal=(action "toggleAddNonDigitalDocument")
  }}
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h4 class="vlc-toolbar__title">
            {{t "cases.non-digital-file"}}
          </h4>
        </div>
      </div>
    </div>
    <div>
      {{web-components/vl-form-label value=(t "cases-search.title-document")}}
      {{web-components/vl-form-input width="4" value=documentTitle}}
      {{#each nonDigitalDocuments as |nonDigitalDocument|}}
        {{utils/non-digital-document
          nonDigitalDocument=nonDigitalDocument
          removeDocument=(action "removeDocument")
        }}
      {{/each}}
    </div>
    <div class="vl-action-group vl-action-group--align-center">
      <button
        class="vl-button vl-button--narrow"
        {{action "createNonDigitalDocument"}}
      >
        {{t "buttons.document-add"}}
      </button>
      <button
        class="vl-button vl-button--narrow"
        {{action "toggleAddNonDigitalDocument"}}
      >
        {{t "buttons.cancel"}}
      </button>
    </div>
  {{/web-components/vl-modal}}
{{/if}}