<div class="cases--new">
  <form onsubmit={{action "createSubCase"}}>
    {{#if isPartOne}}
      <div>
        <h3>
          metadata controleren
        </h3>
      </div>
      {{cases/forms/metadata-form
        themes=themes
        step=(action "nextStep")
        chooseTheme=(action "chooseTheme")
        chooseType=(action "chooseType")
        shortTitleChange=(action "shortTitleChange")
        titleChange=(action "titleChange")
        statusChange=(action "statusChange")
        selectedThemes=selectedThemes
        shortTitle=shortTitle
        title=title
        status=status
        type=selectedType
      }}
    {{else}}
      <div class="cases--new-item">
        <label>
          NAAM DEELDOSSIER
        </label>
        {{input type="text" id="title" class="cases--new-item-input" value=title}}
      </div>
      <div class="cases--new-item">
        <label>
          AANVRAAG AGENDERING
        </label>
        {{input id="public" class="cases--new-item-input" value=remark}}
      </div>
      <div class="cases--new-item">
        <label>
          {{t "cases.upload-file"}}
        </label>
        {{file-uploader uploadedFile=(action "uploadedFile")}}
        <div class="uploaded-files">
          {{#each uploadedFiles as |uploadedFile|}}
            <div class="uploaded-file-container">
              <a class="remove-file" href="#" {{action "removeFile" uploadedFile}}>
                <i class="vl-vi vl-vi-cross"></i>
              </a>
              {{web-components/vl-document file=uploadedFile}}
              <div>
                {{t "metadata-form.public"}}
                {{input type="checkbox" checked=uploadedFile.public}}
              </div>
              {{t "subcases.document-type"}}:
              {{document-type-selector
                chooseDocumentType=(action "chooseDocumentType" uploadedFile)
              }}
            </div>
          {{/each}}
        </div>
      </div>
      <button
        type="submit"
        class="vl-button vl-button--tertiary"
        data-test-rr="sign-up-button"
      >
        {{t "buttons.create-case"}}
      </button>
    {{/if}}
  </form>
</div>