{{#each (await model) as |subcase|}}
  <div class="vlc-procedure-step">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h6 class="vl-title vl-title--h6 max-width">
            {{subcase.shortTitle}}
          </h6>
          <p>
            {{subcase.title}}
          </p>
          {{!-- <ul class="vlc-status-timeline">
            <li
              class="vlc-status-timeline__item vlc-status-timeline__item--in-progress"
            >
               <div class="vlc-status-timeline__dot"></div>
              <div class="vlc-status-timeline__text">
                {{await subcase.phase.label}}
              </div>
            </li>
          </ul> --}}
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          {{#link-to
            "cases.case.subcases.subcase"
            subcase.id
            tagName="button"
            class="vl-button vl-button--tertiary vl-button--icon"
          }}
            <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
          {{/link-to}}
        </div>
      </div>
    </div>
    {{!-- <hr class="vlc-hr" /> --}}
    {{!-- <div class="vlc-procedure-step__badge-wrapper">
      <p class="vl-u-text--uppercase">
        {{await subcase.case.type.label}}
      </p>
    </div>
    <div class="vl-title--h5">
      {{await subcase.case.shortTitle}}
    </div>
    <p>
      {{await subcase.title}}
    </p> --}}
  </div>
{{/each}}