{{subcases/subcases-overview-header
  model=model
  isShowingOverview=isShowingOverview
  isShowingProcess=isShowingProcess
}}
{{#if (gt (await model.subcases.length) 0)}}
  {{#if isShowingProcess}}
    {{subcases/subcases-process subcases=(await model.subcases)}}
  {{else if isShowingOverview}}
    {{subcases/subcases-overview subcases=(await model.subcases)}}
  {{/if}}
{{else}}
  <div class="vl-u-spacer-extended-l">
    {{web-components/vl-alert message=(t "no-subcases")}}
  </div>
{{/if}}