<div class="vlc-page-header vl-u-bg-alt">
  <div class="vlc-toolbar">
    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <h1
          class="vlc-page-header__title vlc-page-header__title--bordered max-width-title"
        >
          {{model.case.shortTitle}}
        </h1>
        <div class="vlc-page-header__sub">
          {{#link-to "cases.overview" class="vl-link vl-link--bold"}}
            <i
              class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-left-fat"
            ></i>
            {{t "buttons.back"}}
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="vlc-toolbar__right">
      <div class="vlc-toolbar__item">
        <button
          class="vl-button vl-button--narrow vl-button--icon-before"
          {{action "toggleIsAddingSubcase"}}
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
          ></i>
          {{t "buttons.create-subcase"}}
        </button>
      </div>
    </div>
  </div>
</div>

{{#if (gt (await model.subcases.length) 0)}}
  <div class="vl-u-spacer-extended-l vlc-scroll-wrapper__body">
    {{#each (await model.subcases) as |subcase|}}
      <div class="vlc-procedure-step">
        <div class="vlc-toolbar vlc-toolbar--auto">
          <div class="vlc-toolbar__left">
            <div class="vlc-toolbar__item">
              <h6 class="vl-title vl-title--h6 max-width">
                {{await subcase.phaseLabel}}
              </h6>
              <ul class="vlc-status-timeline">
                {{#each (await subcase.codes) as |code|}}
                  <li
                    class="vlc-status-timeline__item vlc-status-timeline__item--in-progress"
                  >
                    <div class="vlc-status-timeline__dot"></div>
                    <div class="vlc-status-timeline__text">
                      {{ await code }}
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="vlc-toolbar__right">
            <div class="vlc-toolbar__item">
              {{#link-to
                "cases.case.subcases.subcase"
                subcase.id
                tagName="button"
                class="vl-button vl-button--tertiary vl-button--icon"
              }}
                <i class="vl-button__icon vl-vi vl-vi-arrow-right"></i>
              {{/link-to}}
            </div>
          </div>
        </div>
        <hr class="vlc-hr" />
        <div class="vlc-procedure-step__badge-wrapper">
          <div class="vlc-procedure-step__badge-wrapper">
            <p class="vl-u-text--uppercase">{{await subcase.case.type.label}}</p>
            <div class="vl-badge vl-badge--icon vlc-procedure-step__badge vl-badge--success vl-badge--medium vl-badge--small-medium">
              <i class="vl-badge__icon vl-vi vl-vi-sitemap" aria-hidden="true"></i>
            </div>
            <div class="vl-badge vl-badge--icon vl-badge--icon-light vlc-procedure-step__badge vl-badge--alt vl-badge--small-medium vl-icon-wrapper vl-badge--action">
              <i class="vl-badge__icon vl-vi vl-vi-sitemap" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="vl-title--h5">
          {{subcase.shortTitle}}
        </div>
        <p>
          {{subcase.title}}
        </p>
        <div class="vl-u-spacer-extended-top-s">
          <ul class="vlc-document-list">
            {{#each (await subcase.documents) as |document|}}
              <li class="vlc-document-list__item">
                <a {{action "downloadFile" (await document.lastDocumentVersion)}}>
                  <div
                    class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt"
                  >
                    <i
                      class="vl-badge__icon vl-vi vl-vi-document"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <p>
                    {{document-name document=document}}
                  </p>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>


{{else}}
<div class="vl-u-spacer-extended-l">
  {{web-components/vl-alert message=(t "no-subcases")}}
</div>
{{/if}}

{{#if isAddingSubcase}}
  {{#web-components/vl-modal
    isOverlay=true
    large=true
    closeModal=(action "close")
    title=(t "buttons.create-subcase")
  }}
    {{cases/new-subcase case=model.case closeModal=(action "close")}}
  {{/web-components/vl-modal}}
{{/if}}

