{{#data-table content=(await model) fields="title created" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field="title" label="Dossiernaam"}}
      {{th-sortable field="shortTitle" label="shortTitle"}}
      {{th-sortable field="created" label="Created"}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>
        {{row.title}}
      </td>
      <td>
        {{row.shortTitle}}
      </td>
      <td>
        {{moment-format row.created "DD-MM-YYYY HH:mm"}}
      </td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}