{{#if @model.subcase.shortTitle}}
  {{page-title @model.subcase.shortTitle}}
{{else if @model.subcase.title}}
  {{page-title @model.subcase.title}}
{{else}}
  {{page-title (capitalize @model.subcase.subcaseName)}}
{{/if}}

<Subcases::SubcasesOverviewHeader
  @decisionmakingFlow={{@model.decisionmakingFlow}}
/>
<div class="auk-panel-layout">
  {{#if @model.subcases.length}}
    <div class="auk-panel-layout__sidebar auk-panel-layout__sidebar--cases">
      <Subcases::SideNav
        @subcases={{@model.subcases}}>
      </Subcases::SideNav>
    </div>
  {{/if}}
  <div class="auk-panel-layout__main-content au-u-flex au-u-flex--column">
    <div class="auk-scroll-wrapper" id="subcases-wrapper">
      <div class="auk-u-bg-alt">
        <Subcases::SubcaseHeader
          @subcase={{@model.subcase}}
          @onMoveSubcase={{this.refreshSubcases}}
          @onProposedForAgenda={{this.refreshSubcases}}
        />
      </div>
      {{outlet}}
    </div>
  </div>
</div>