<div class="cases--subcase">
  {{#if model}}
    <div class="cases--subcase-header">
      <h3 class="vl-title vl-title--h3">
        {{model.title}}
      </h3>
      <h3 class="vl-title vl-title--h3">
        {{model.shortTitle}}
      </h3>
    </div>
    <div class="vl-action-group vl-action-group--align-right">
      {{#if (not isEditingMandatees)}}
        <button
          class="vl-button vl-button--tertiary vl-button--icon"
          href="#"
          {{action "editMandatee" model}}
        >
          <i class="vl-vi vl-vi-pencil"></i>
        </button>
      {{else}}
        <button
          class="vl-button vl-button--tertiary vl-button--icon"
          href="#"
          {{action "updateMandatees" model}}
        >
          <i class="vl-vi vl-vi-edit"></i>
        </button>
      {{/if}}
    </div>
    {{#if (not isEditingMandatees)}}
      <div class="vl-custom">
        {{#each (await model.mandatees) as |mandatee|}}
          <p class="vl-pill">
            {{mandatee.title}}
          </p>
        {{/each}}
      </div>
    {{else}}
      {{utils/mandate-selector
        chooseMandatee=(action "selectMandatees")
        mandateesToSelect=mandatees
      }}
    {{/if}}
    {{cases/subcase-documents subcase=model}}
  {{else}}
    <p>
      {{t "error"}}
    </p>
  {{/if}}
</div>