{{#if this.model.shortTitle}}
  {{page-title this.model.shortTitle}}
{{else if this.model.title}}
  {{page-title this.model.title}}
{{else}}
  {{page-title (capitalize this.model.subcaseName)}}
{{/if}}

<Subcases::SubcasesOverviewHeader
  @decisionmakingFlow={{this.decisionmakingFlow}}
  @onCreateSubcase={{this.refreshSubcases}}
  @onSaveCase={{perform this.saveCase}}
/>
<div class="auk-panel-layout">
  <div class="auk-panel-layout__sidebar auk-panel-layout__cases">
    <Subcases::SideNav
      @isOpen={{this.isOpenSideNav}}
      @onCollapse={{this.collapseSideNav}}
      @onOpen={{this.openSideNav}}
    >
      <ul>
        {{#if this.model.decisionmakingFlow.subcases}}
          {{#each this.model.decisionmakingFlow.subcases as |subcase|}}
          <li class="auk-sidebar__item auk-sidebar__item--styled {{if (eq this.model.id subcase.id) "auk-sidebar__item--active"}}">
            <LinkTo 
              @route="cases.case.subcases.subcase.index"
              @models={{array this.model.decisionmakingFlow.id subcase}}
            >
              <div class="auk-sidebar__label au-u-flex au-flex--vertical-center au-u-flex--spaced-tiny">
                {{#if subcase.approved}}
                <AuBadge
                  @size="small"
                  @icon="check"
                  @skin="success"
                />
                {{else}}
  
                {{/if}}
                <strong>
                  {{capitalize subcase.shortTitle}}
                </strong>
              </div>
              <div class="auk-sidebar__sublabel au-u-margin-top-none">
                Laatste wijziging op {{datetime subcase.modified}}
              </div>
              {{#if subcase.type}}
              <div class="au-u-margin-top-tiny">
                <AuPill @size="small" @skin="ongoing">{{capitalize subcase.type.label}}</AuPill>
              </div>
              {{/if}}
            </LinkTo>
          </li>
          {{/each}}
        {{/if}}
      </ul>
    </Subcases::SideNav>
  </div>
  <div class="auk-panel-layout__main-content">
    <AuBodyContainer>
      {{#if this.model.decisionmakingFlow.subcases}}
      <Subcases::SubcaseHeader
        @subcase={{this.model}}
        @onMoveSubcase={{this.refreshSubcases}}
        @onProposedForAgenda={{this.refreshSubcases}}
      />
      <AuBodyContainer @scroll={{true}}>
        <div class="auk-u-m-4 js-subcase-nav-observer">
          {{outlet}}
        </div>
      </AuBodyContainer>
      {{else}}
      <div class="auk-u-m-4">
        <Auk::EmptyState @message={{t "no-subcases"}} />
      </div>
      {{/if}}
    </AuBodyContainer>
  </div>
</div>