<div class="vlc-toolbar">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1 class="vlc-page-header__title vlc-page-header__title--bordered vlc-page-header__title--max-width vl-u-text--capitalize auk-u-pb">
        {{subcase.shortTitle}}
      </h1>
      {{subcases/subcase-detail-nav}}
    </div>
  </div>
  <div class="vlc-toolbar__right">
    {{#if currentSession.isEditor}}
      <div class="vlc-toolbar__item">
        {{#if (or (is-pending canPropose) isLoading)}}
          <div class="vl-loader"></div>
        {{else if (await canPropose)}}
          <button type="button" class="vl-button">
            {{t "propose-for-agenda"}}
          </button>
          {{#attach-popover
            renderInPlace=true
            class="ember-attacher-popper"
            hideOn="clickout click"
            showOn="click"
            animation="shift"
            placement="bottom"
          as |attacher|
          }}
            <ul class="vlc-dropdown-menu">
              {{#each
                (await meetings)
              as |meeting|
              }}
                <li class="vlc-dropdown-menu__item">
                  <button type="button" class="auk-button-link"
                    {{action attacher.hide}}
                    {{action "proposeForAgenda" subcase meeting}}
                  >
                    {{t "agenda-for"}}
                    {{moment-format meeting.plannedStart "DD MMMM YYYY"}}
                    {{concat " - " meeting.numberRepresentation}}
                  </button>
                </li>
              {{/each}}
              {{#if (gt (await meetings.length) 0)}}
                <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
              {{/if}}
              <li class="vlc-dropdown-menu__item">
                <button type="button" class="auk-button-link"
                  {{action attacher.hide}}
                  {{action "proposeForOtherAgenda" subcase}}
                >
                  {{t "other-agenda"}}
                </button>
              </li>
            </ul>
          {{/attach-popover}}
        {{/if}}
      </div>
      <div class="vlc-toolbar__item">
        <button type="button"
                class="vl-button vl-button--icon-before vl-button--secondary"
          {{action "showMultipleOptions" bubbles=false}}
        >
          {{#if isShowingOptions}}
            <i class="vl-button__icon vl-button__icon--before ki-chevron-up"
            ></i>
          {{else}}
            <i class="vl-button__icon vl-button__icon--before ki-chevron-down"
            ></i>
          {{/if}}
          {{t "actions"}}
          {{#attach-popover
            renderInPlace=true
            class="ember-attacher-popper"
            hideOn="clickout click"
            showOn="click"
            animation="shift"
            placement="bottom"
          as |attacher|
          }}
            <ul class="vlc-dropdown-menu">
              {{#if (await canDelete)}}
                <li class="vlc-dropdown-menu__item">
                  <a href="" class="auk-button-link"
                     data-test-delete-subcase
                    {{action attacher.hide}}
                    {{action "requestDeleteSubcase" subcase}}
                  >
                    {{t "delete-subcase"}}
                  </a>
                </li>
              {{/if}}
              <li class="vlc-dropdown-menu__item">
                <a href=""
                   class="auk-button-link auk-button-link--block"
                  {{action attacher.hide}}
                  {{action "triggerMoveSubcaseDialog" }}
                >
                  {{t "move-subcase"}}
                </a>
              </li>
            </ul>
          {{/attach-popover}}
        </button>
      </div>
    {{/if}}
  </div>
</div>
{{#if promptDeleteCase}}
  {{web-components/vl-modal-verify
    title="Leeg dossier verwijderen?"
    verifyButtonText="Verwijderen"
    message=(concat "Dossier '" this.caseToDelete.shortTitle "' heeft geen procedurestappen meer. Wilt u het dossier verwijderen?")
    cancel=(action "cancelDeleteCase")
    verify=(perform this.deleteCase this.caseToDelete)
    isLoading=this.deleteCase.isRunning
  }}
{{/if}}

{{#if isAssigningToOtherCase}}
  {{#web-components/vl-modal
    closeModal=(action "cancel")
    isOverlay=true
    title=(t "move-subcase-to-other-case")
  }}
    {{utils/case-search
      onSelect=(action "moveSubcase")
    }}
  {{/web-components/vl-modal}}
{{/if}}

{{#if isAssigningToOtherAgenda}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "propose-for-agenda")
    closeModal=(action "cancel")
  }}
    {{subcases/assign-to-meeting-form
      subcase=selectedSubcase
      proposeForAgenda=(action "proposeForAgenda")
      cancel=(action "cancel")
      closeModal=(action "cancel")
    }}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isDeletingSubcase}}
  {{web-components/vl-modal-verify
    isLoading=isLoading
    title=(t "delete-subcase")
    message=(t "delete-subcase-confirmation")
    cancel=(action "cancel")
    verify=(action "deleteSubcase")
  }}
{{/if}}