<div class="auk-u-mb-3">
  {{#unless this.isInEditMode}}
    <Auk::Panel data-test-publication-case-panel-case>
      <Auk::Panel::Header>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <h4 class="auk-panel__title">
                {{t "publication-inscription"}}
              </h4>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            {{#if this.isViaCouncilOfMinisters}}
              <WebComponents::AuToolbar::Item>
                <WebComponents::AuButtonToolbar>
                  <LinkTo class="auk-button auk-button--tertiary"
                    @route="cases.case.subcases.subcase.overview"
                    @models={{array
                      @publicationFlow.case.id
                      @subcase.id
                    }}>
                    <span class="auk-button__content">
                      <span class="auk-button__label">{{t "to-case"}}</span>
                      <div class="auk-icon auk-icon--default auk-icon--chevron-right">
                        <i class="ki ki-chevron-right"></i>
                      </div>
                    </span>
                  </LinkTo>
                </WebComponents::AuButtonToolbar>
              </WebComponents::AuToolbar::Item>
            {{/if}}
            <WebComponents::AuToolbar::Item>
              <Auk::Button @skin="tertiary" @icon="edit" @layout="icon-only" {{on "click" this.putInEditMode}} data-test-publication-edit-inscription-button />
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <div class="auk-content" data-test-publication-flow-title>
          <h4>{{@publicationFlow.shortTitle}}</h4>
          <p class="auk-u-text-prewrap">{{@publicationFlow.longTitle}}</p>
        </div>
      </Auk::Panel::Body>
    </Auk::Panel>
  {{else}}
    <Auk::Panel data-test-publication-case-panel-case-editing class="auk-panel--editing">
      <Auk::Panel::Header >
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">
              {{t "publication-inscription"}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        <Utils::LoadableContent @isLoading={{this.save.isRunning}} @reserveSpace={{true}}>
          <div class="auk-form-group {{if this.showShortTitleError "auk-form-group--error"}}">
            <Auk::Label>{{t "short-title"}}</Auk::Label>
            <WebComponents::AuTextarea @rows="2" @value={{this.shortTitle}}
              data-test-publication-inscription-short-title-textarea />
            {{#if this.showShortTitleError}}
              <Auk::Label @error={{true}} data-test-au-label-error="true">
                {{t "input-error-message"}}
              </Auk::Label>
            {{/if}}
          </div>
          <div class="auk-form-group }}">
            <Auk::Label>{{t "long-title"}}</Auk::Label>
            <WebComponents::AuTextarea @rows="4" @value={{this.longTitle}}
              data-test-publication-inscription-long-title-textarea />
          </div>
        </Utils::LoadableContent>
      </Auk::Panel::Body>
      <Auk::Panel::Footer>
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group @position="left">
            <WebComponents::AuToolbar::Item>
              <Auk::Button @skin="borderless"
                @disabled={{this.save.isRunning}}
                {{on "click" this.cancelEdit}}
                data-test-publication-cancel-inscription>
                {{t "cancel"}}
              </Auk::Button>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
              <Auk::Button
                @skin="primary"
                @loading={{this.save.isRunning}}
                data-test-publication-save-inscription
                {{on "click" (perform this.save)}}>
                {{t "save"}}
              </Auk::Button>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </Auk::Panel::Footer>
    </Auk::Panel>
  {{/unless}}
</div>
