<div class="auk-u-mb-3" data-test-publication-case-panel-mandatees>
  <Auk::Panel>
    <Auk::Panel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">{{t "mandatees"}}</h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <Auk::Button
              @skin="tertiary"
              @icon="add"
              data-test-add-mandatee
              {{on "click" this.openLinkModal}}>
              {{t "add-mandatee"}}
            </Auk::Button>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </Auk::Panel::Header>
    {{#if @publicationFlow.mandatees }}
      <Auk::Panel::Body @noPadding={{true}}>
        <table class="auk-table" data-test-table-mandatees>
          <thead>
            <tr>
              <th>{{t "mandatee"}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each @publicationFlow.mandatees as |mandatee|}}
              <tr>
                <td>
                  <div class="auk-o-flex auk-o-flex--vertical-center">
                    <Auk::Badge @icon="user" />
                    <span class="auk-u-mx-2">{{mandatee.person.nameToDisplay}}</span>
                    {{!-- Beleidsdomeinen en beleidsvelden / worden momenteel niet gebruikt in productie / werkt met isecodes --}}
                  </div>
                </td>
                <td class="auk-u-text-align--right">
                  <Auk::Button @skin="borderless"
                    @icon="delete"
                    data-test-unlink-mandatee
                    {{on "click" (fn this.unlink mandatee) }}>
                  </Auk::Button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </Auk::Panel::Body>
    {{else}}
      <Auk::Panel::Body>
        <Auk::EmptyState @message={{t "no-mandatees-added"}} />
      </Auk::Panel::Body>
    {{/if}}
  </Auk::Panel>
</div>

{{#if this.isOpenLinkModal}}
  <Publications::Publication::Case::LinkMandateeModal
    @publicationFlow={{@publicationFlow}}
    @onClose={{this.closeLinkModal}}
    @onLink={{this.onLink}} />
{{/if}}