<Auk::Modal
  @size="medium"
  data-test-add-organisationModal>
  <Auk::Modal::Header
    @title={{t "add-organization"}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      <div class="auk-form-group {{this.validators.name.errorClass}}">
        <Auk::Label for="organizationNameInput"
          @required={{true}}>
          {{t "name"}}
        </Auk::Label>
        <Auk::Input type="text" id="organizationNameInput"
          @block={{true}}
          @value={{this.name}}
          {{on "input" this.validators.name.enableError}} />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="organizationIdentifierInput">
          {{t "identifier"}}
        </Auk::Label>
        <Auk::Input type="text" id="organizationIdentifierInput"
          @block={{true}}
          @value={{this.identifier}} />
      </div>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary" @icon="add" @size="small"
            @disabled={{not this.canSave}}
            {{on "click" this.onSave}}
            data-test-add-organization-submit-button>
            {{t "add"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>
