<Auk::Modal
  @size="medium"
  data-test-add-organisationModal>
  <Auk::Modal::Header
    @title={{t "add-organization"}}
    @onClose={{@onCancel}} />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      <div class="auk-form-group">
        <Auk::Label for="organizationInput" @required={{true}}>{{t "name"}}</Auk::Label>
        <Auk::Input type="text" id="organizationInput"
          @block={{true}}
          @value={{this.name}} />
      </div>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @custom={{true}}>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="borderless"
            {{on "click" @onCancel}}>
            {{t "cancel"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary" @icon="add" @size="small"
            @disabled={{not this.canSave}}
            {{on "click" this.onSave}}
            data-test-add-organization-submit-button>
            {{t "add"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Modal::Footer>
</Auk::Modal>
