{{#if this.isInEditMode}}
<Auk::Panel class="auk-panel--editing">
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            Publicatie info
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="auk-o-grid">
      <div class="auk-o-grid-col-1 auk-content">
        <Auk::Label>Dringend</Auk::Label>
        {{#if this.publicationStatus.isPending}}
        <Publications::UrgencyLevelCheckbox
          @urgencyLevel={{this.publicationFlow.urgencyLevel}}
          @onChange={{this.setUrgencyLevel}}
        />
        {{else}}
        {{t "dash"}}
        {{/if}}
      </div>

      <div class="auk-o-grid-col-2">
        <div
          class="auk-form-group"
        >
          <Auk::Label>{{t "publications-number"}}</Auk::Label>
          <Auk::Input
            data-test-publication-sidebar-publication-number
            @type="number"
            value={{@publicationFlow.identification.structuredIdentifier.localIdentifier}}
            {{on "input" (perform this.setPublicationNumber)}}
          />
          <Auk::Input
            data-test-publication-sidebar-publication-number-suffix
            @width="xsmall"
            value={{@publicationFlow.identification.structuredIdentifier.versionIdentifier}}
            {{on "input" (perform this.setPublicationNumberSuffix)}}
          />
        </div>
      </div>
      <div class="auk-o-grid-col-3">
        <div
          class="auk-form-group"
        >
          <Auk::Label>{{t "numac-number"}}</Auk::Label>
          {{! TODO: disable modifying numac-number once (staatsblad-)decision exists? }}
          <Auk::InputPills
            @items={{this.publicationFlow.numacNumbers}}
            @onCreate={{this.addNumacNumber}}
            @onRemove={{this.deleteNumacNumber}}
            as |numac|
          >
            {{numac.idName}}
          </Auk::InputPills>
        </div>
      </div>
      <div class="auk-o-grid-col-2 auk-content">
        <div
          class="auk-form-group"
        >
          <Auk::Label>{{t "publication-flow-opening-date"}}</Auk::Label>
          {{#if this.publicationFlow.case.subcases}}
            <div class="auk-u-muted">
              {{moment-format this.publicationFlow.openingDate "DD-MM-YYYY"}}
            </div>
          {{else}}
            <Auk::Datepicker
              @date={{this.publicationFlow.openingDate}}
              @onChange={{this.setOpeningDate}}
            />
          {{/if}}
        </div>
      </div>
      <div class="auk-o-grid-col-2 auk-content">
        <div
          class="auk-form-group"
        >
          <Auk::Label>{{t "publication-due-date"}}</Auk::Label>
          <Auk::Datepicker
            @date={{this.publicationSubcase.dueDate}}
            @onChange={{this.setPublicationDueDate}}
          />
          {{#if
            (and
              (not this.publicationStatus.isPublished)
              (is-after this.publicationSubcase.dueDate precision="days")
            )
          }}
            <Auk::FormHelpText
              @text={{t "date-expired"}}
              @skin="warning"
              @icon="alert-triangle"
            />
          {{/if}}
        </div>
      </div>
    </div>
  </Auk::Panel::Body>
  <Auk::Panel::Footer>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="borderless"
            @disabled={{this.save.isRunning}}
            {{on "click" this.cancelEdit}}>
            {{t "cancel"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @loading={{this.save.isRunning}}
            {{on "click" this.cancelEdit}}>
            {{t "save"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Footer>
</Auk::Panel>
{{else}}
<Auk::Panel>
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            Publicatie info
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button @skin="tertiary" @icon="pencil" @layout="icon-only" {{on "click" this.putInEditMode}} />
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body>
    <div class="auk-o-grid">
      <div class="auk-o-grid-col-1 auk-content">
        <h4 class="auk-u-m-0">Dringend</h4>
        <p class="auk-u-m-0">
        {{#if @publicationFlow.urgencyLevel.isUrgent}}
          <Auk::Icon @skin="warning" @name="alert-triangle" />
        {{else}}
          {{t "dash"}}
        {{/if}}
        </p>
      </div>
      <div class="auk-o-grid-col-2 auk-content">
        <h4 class="auk-u-m-0">{{t "publications-number"}}</h4>
        <p class="auk-u-m-0">
          {{@publicationFlow.identification.structuredIdentifier.localIdentifier}} {{@publicationFlow.identification.structuredIdentifier.versionIdentifier}}
        </p>
      </div>
      <div class="auk-o-grid-col-3 auk-content">
        <h4 class="auk-u-m-0">{{t "numac-number"}}</h4>
        <p class="auk-u-m-0">
          {{#each this.publicationFlow.numacNumbers as |numac|}}
          {{numac.idName}}
          {{/each}}
        </p>
      </div>
      <div class="auk-o-grid-col-3 auk-content">
        <h4 class="auk-u-m-0">{{t "publication-flow-opening-date"}}</h4>
        <p class="auk-u-m-0">
          {{moment-format this.publicationFlow.openingDate "DD-MM-YYYY"}}
        </p>
      </div>
      <div class="auk-o-grid-col-3 auk-content">
        <h4 class="auk-u-m-0">{{t "publication-due-date"}}</h4>
        <p class="auk-u-m-0">
          {{#if this.publicationSubcase.dueDate}}
          {{moment-format this.publicationSubcase.dueDate "DD-MM-YYYY"}}
          {{else}}
          -
          {{/if}}
        </p>
      </div>
    </div>
  </Auk::Panel::Body>
</Auk::Panel>
{{/if}}