<div class="auk-input-with-icon">
  <div {{on "click" this.openDatepicker}}>
    <WebComponents::AuIcon  @name="calendar"/>
  </div>
  <EmberFlatpickr
          class="auk-input auk-input--block"
          @allowInput={{false}}
          @clickOpens={{false}}
          @date={{this.defaultDate}} {{!-- Required Option --}}
          @dateFormat="d-m-Y"
          @mode="single"
          @nextArrow=">"
          @noCalendar={{false}}
          @onChange={{@onChange}} {{!-- Required Option --}}
          @onReady={{this.onReady}}
          @prevArrow="<"
          @shorthandCurrentMonth={{true}}
          placeholder={{this.placeholder}}
  />
</div>

