<div class="auk-input-with-icon">
  <div {{on "click" this.openDatepicker}}>
    <WebComponents::AuIcon  @name="calendar"/>
  </div>
  {{#if enabledDatesFunction }}
    <EmberFlatpickr
            class="auk-input auk-input--block"
            @allowInput={{true}}
            @clickOpens={{true}}
            @date={{this.defaultDate}} {{!-- Required Option --}}
            @dateFormat="d-m-Y"
            @mode="single"
            @enable={{this.enabledDatesFunction}}
            @nextArrow=">"
            @noCalendar={{false}}
            @onChange={{@onChange}} {{!-- Required Option --}}
            @onReady={{this.onReady}}
            @prevArrow="<"
            @shorthandCurrentMonth={{true}}
            placeholder={{this.placeholder}}
    />
  {{else}}
    <EmberFlatpickr
            class="auk-input auk-input--block"
            @allowInput={{true}}
            @clickOpens={{true}}
            @date={{this.defaultDate}} {{!-- Required Option --}}
            @dateFormat="d-m-Y"
            @mode="single"
            @nextArrow=">"
            @noCalendar={{false}}
            @onChange={{@onChange}} {{!-- Required Option --}}
            @onReady={{this.onReady}}
            @prevArrow="<"
            @shorthandCurrentMonth={{true}}
            placeholder={{this.placeholder}}
    />
  {{/if}}
</div>