<Auk::Panel::Body class="auk-o-flex auk-o-flex--justify-between">
  <div>
    <h4 class="auk-h4 auk-u-m-0">{{@title}}</h4>
    <div>
      <div class="auk-u-text-muted">
        {{t
          "publication-reports-last-request"
          date=(moment-format @lastReportGeneration.created)
          time=(moment-format @lastReportGeneration.created "HH:mm")
          user=@lastReportGeneration.generatedBy.fullName
        }}
      </div>
      <Auk::ButtonLink
        @icon="download"
        @href={{@lastReportGeneration.generated.namedDownloadLink}}
        download
      >
        {{@lastReportGeneration.generated.downloadFilename}}
      </Auk::ButtonLink>
    </div>
  </div>
  <div>
    <Auk::Button {{on "click" @onClickGenerate}}>
      {{t "generate-report"}}
    </Auk::Button>
  </div>
</Auk::Panel::Body>