{{#if allowEditing}}
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h4>
        {{await numberToShow}}
        {{#if (not (await agendaitem.subcase.newsletterInfo))}}
          {{agendaitem.shortTitle}}
        {{else}}
          {{await agendaitem.subcase.newsletterInfo.title}}
        {{/if}}
      </h4>
      {{#if (and isEditor (await agendaitem.subcase.newsletterInfo))}}
        <div class="vl-u-display-flex vl-u-flex-space-between">
          <div class="vl-u-spacer-extended-left-s">
            <a class="vl-link" {{action "toggleIsEditing"}}>
              {{t "edit"}}
            </a>
          </div>
        </div>
      {{/if}}
    </div>
    {{#if (not (await agendaitem.subcase.newsletterInfo))}}
      <p>
        {{agendaitem.title}}
      </p>
    {{/if}}
    <div class="vl-u-text vl-u-text--small vl-u-text--muted">
      {{moment-format (await agenda.createdFor.plannedstart) "DD MMMM YYYY"}}
    </div>
  </div>
{{else}}
  <div>
    <h4>
      {{#if (not (await agendaitem.subcase.newsletterInfo))}}
        {{agendaitem.shortTitle}}
      {{else}}
        {{await agendaitem.subcase.newsletterInfo.title}}
      {{/if}}
    </h4>
    {{#if (not (await agendaitem.subcase.newsletterInfo))}}
      <p>
        {{agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <p>
    {{await agendaitem.subcase.newsletterInfo.newsletterProposal}}
  </p>
</div>
<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-text">
    {{#if (not agendaitem.showAsRemark)}}
      {{#if (not (await agendaitem.subcase.newsletterInfo.richtext))}}
        <p class="vl-u-text vl-u-text--italic vl-u-text--muted">
          {{t "no-newsletter-info"}}
        </p>
      {{else}}
        {{sanitize-html raw=true value=(await agendaitem.subcase.newsletterInfo.richtext)}}
      {{/if}}
    {{/if}}
  </div>
</div>
{{#if allowEditing}}
  <p class="vl-u-text--muted vl-u-text--capitalize vl-u-text--small">
    {{await agendaitem.subcase.newsletterInfo.displayRemark}}
  </p>
{{/if}}
{{#if (gt (await agendaitem.themes.length) 0)}}
  <div class="vl-u-spacer-extended-bottom-s">
    <div class="vl-u-spacer-extended-top-s">
      <ul class="newsletter-themes">
        {{#each (await agendaitem.themes) as |theme|}}
          <li class="vl-pill">
            {{theme.label}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{else if allowEditing}}
  <div class="vl-u-spacer-extended-bottom-s">
    <p class="vl-u-text--muted vl-u-text--capitalize">
      {{t "no-themes-agendaitem"}}
    </p>
  </div>
{{/if}}
<div class="vl-u-spacer-extended-bottom-s">
  <div class="vl-u-spacer-extended-top-s">
    {{utils/documents-list-for-item
      item=(await agendaitem.subcase.newsletterInfo)
      agendaitem=agendaitem
      isClickable=true
    }}
  </div>
</div>