{{#if @icon}}
  {{#if (eq @layout "icon-right")}}
    <div class="auk-tabs__label">{{yield}}</div>
    <Auk::Icon @name={{@icon}} />
  {{else}}
    <Auk::Icon @name={{@icon}} />
    <div class="auk-tabs__label">{{yield}}</div>
  {{/if}}
{{else}}
  <div class="auk-tabs__label">{{yield}}</div>
  {{#if @counter}}
    <div class="auk-tabs__tab-counter">({{@counter}})</div>
  {{/if}}
{{/if}}