{{#if @icon}}
  {{#if (eq @layout "icon-right")}}
    <div class="auk-tabs__label">{{yield}} {{this.counter}}</div>
    <WebComponents::AuIcon @name={{@icon}}/>
  {{else}}
    <WebComponents::AuIcon @name={{@icon}}/>
    <div class="auk-tabs__label">{{yield}} {{this.counter}}</div>
  {{/if}}
{{else}}
  {{yield}} {{this.counter}}
{{/if}}