<div class="files--header">
  {{agenda/agenda-header sessions=model creatingNewSession=creatingNewSession}}
</div>
{{agenda/side-nav
  agendas=agendas
  selectedAgendaItem=selectedAgendaItem
  currentAgenda=currentAgenda
  compareAgendas=(action "compareAgendas")
}}
<div class="agenda-items-container">
  <div class="left-side-container">
    <div class="agenda-container">
      {{agenda/agendaitem-search
        selectedAgenda=currentAgenda
        addComment=(action "addComment")
        navigateToSubCases=(action "navigateToSubCases")
      }}
      {{#if (not currentAgenda.locked)}}
        <button class="invert-color" {{action "lockAgenda" currentAgenda}}>
          {{t "buttons.agenda-lock"}}
        </button>
      {{else}}
        <button class="invert-color" {{action "lockAgenda" currentAgenda}}>
          {{t "buttons.agenda-unlock"}}
        </button>
      {{/if}}
    </div>
    <div class="agenda-item-list-container">
      {{agenda/agenda-list
        agendaitems=(await currentAgendaItems)
        selectedAgendaItem=selectedAgendaItem
      }}
    </div>
  </div>
  {{#if selectedAgendaItem}}
    <div class="right-side-container">
      <div class="agenda-item-detail-container">
        {{agenda/agendaitem/agendaitem-overview agendaitem=selectedAgendaItem}}
      </div>
    </div>
  {{/if}}
</div>