{{agenda/agenda-header
  sessions=model 
  creatingNewSession=creatingNewSession
  selectedAgendaItem=selectedAgendaItem
  compareAgendas=(action "compareAgendas")
}}
<div class="vl-layout-agenda">
  {{agenda/side-nav
    agendas=agendas
    selectedAgendaItem=selectedAgendaItem
    currentAgenda=currentAgenda
  }}
  <div class="vl-layout-agenda__master">
    {{agenda/agendaitem-search
      selectedAgenda=currentAgenda
      navigateToCreateAnnouncement=(action "navigateToCreateAnnouncement")
      navigateToSubCases=(action "navigateToSubCases")
    }}
    <div class="c-scrollable-container">
      {{agenda/agenda-list
        agendaitems=(await currentAgendaItems)
        selectedAgendaItem=selectedAgendaItem
      }}
      {{agenda/announcement-list announcements=(await announcements)}}
    </div>
  </div>
  {{#if selectedAgendaItem}}
    {{agenda/agendaitem/agendaitem-overview agendaitem=selectedAgendaItem}}
  {{else if createAnnouncement}}
    {{agenda/create-announcement currentAgenda=currentAgenda}}
  {{/if}}
</div>