<div class="vl-u-bg-alt">
  {{agenda/agenda-header
    sessions=model
    creatingNewSession=creatingNewSession
    selectedAgendaItem=selectedAgendaItem
    compareAgendas=(action "compareAgendas")
    navigateToSubCases=(action "navigateToSubCases")
    loading=(action "loadingAgendaitems")
  }}
</div>
{{#if (not isLoading)}}
  <div class="vlc-panel-layout">
    {{agenda/side-nav
      agendas=agendas
      selectedAgendaItem=selectedAgendaItem
      currentAgenda=currentAgenda
    }}
    <div class={{agendaitemsClass}}>
      <div class="vlc-scroll-wrapper">
        {{agenda/agendaitem-search
          selectedAgenda=currentAgenda
          navigateToCreateAnnouncement=(action "navigateToCreateAnnouncement")
          navigateToSubCases=(action "navigateToSubCases")
        }}
        {{agenda/agenda-list
          agendaitems=currentAgendaItems
          selectAgendaItem=(action "selectAgendaItem")
          selectedAgendaItem=selectedAgendaItem
        }}
        {{agenda/announcement-list
          announcements=(await announcements)
          selectAnnouncement=(action "selectAnnouncement")
          selectedAnnouncement=selectedAnnouncement
        }}
      </div>
    </div>
    <div class="vlc-panel-layout__main-content">
      <div class="vlc-scroll-wrapper">
        {{#if selectedAgendaItem}}
          {{agenda/agendaitem/agendaitem-overview agendaitem=selectedAgendaItem
          }}
        {{else if createAnnouncement}}
          {{agenda/create-announcement
            navigateToNewAnnouncement=(action "navigateToNewAnnouncement")
            currentAgenda=currentAgenda
          }}
        {{else if selectedAnnouncement}}
          {{agenda/announcement-overview announcement=selectedAnnouncement}}
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  {{web-components/vl-loader
    text="De agenda wordt goedgekeurd. Even geduld aub.."
  }}
{{/if}}