<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h1 class="vlc-page-header__title">
            {{t "agenda-title"}}
          </h1>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        {{#if (or isAdmin isEditor)}}
          <div class="vlc-toolbar__item">
            <button
              class="vl-button vl-button--narrow vl-button--icon-before"
              {{action "createNewSession"}}
            >
              <i
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
              ></i>
              {{t "new-agenda"}}
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if (gt model.length 0)}}
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      <div class="vl-u-spacer-extended-l">
        <div class="vl-grid">
          <div class="vl-col--2-4">
            <div class="vl-u-spacer--medium">
              <div
                class="vlc-input-field-group-wrapper vlc-input-field-group-wrapper--inline"
              >
                <div
                  class="vlc-input-field-group vlc-input-field-group--gmeeting"
                >
                  <input class="vl-input-field" type="search" />
                </div>
                <div class="vlc-input-field-group">
                  <button
                    class="vl-button vl-button--secondary vl-button--icon"
                    type="submit"
                  >
                    <i class="vl-vi vl-vi-magnifier"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vl-u-spacer--large">
          {{#if (eq page 0)}}
            {{agenda/future-agendas
              futureMeetings=futureMeetings
              selectAgenda=(action "selectAgenda")
            }}
            {{agenda/active-agendas
              nearestMeeting=nearestMeeting
              selectAgenda=(action "selectAgenda")
            }}
          {{/if}}
          <div class="vl-u-spacer--large">
            <h2 class="vl-title vl-title--h3">
              {{t "history"}}
            </h2>
            <div class="vl-u-spacer-extended-bottom-l">
              {{#data-table
                content=model
                class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
                page=page
                size=size
                sort=sort
                isLoading=isLoadingModel as |t|
              }}
                {{#t.content as |c|}}
                  {{#c.header}}
                    {{th-sortable
                      class="vl-data-table-col-4 vl-data-table__header-title"
                      currentSorting=sort
                      field="planned-start"
                      label="Agenda"
                    }}
                    {{th-sortable
                      class="vl-data-table-col-2 vl-data-table__header-title"
                      currentSorting=sort
                      field="is-final"
                      label="Status"
                    }}
                    {{th-sortable
                      class="vl-data-table-col-3 vl-data-table__header-title"
                      field="agendas"
                      label="Agenda Versie"
                    }}
                    {{th-sortable
                      class="vl-data-table-col-3 vl-data-table__header-title"
                      currentSorting=sort
                      field="modified"
                      label="Laatst gewijzigd"
                    }}
                    <th class="vl-data-table-col-1"></th>
                  {{/c.header}}
                  {{#c.body as |meeting|}}
                    {{#if (not meeting.alreadyShown)}}
                      <td {{action "selectAgenda" meeting}}>
                        Agenda voor
                        {{! Translate not possible in the data table }}
                        {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
                      </td>
                      <td>
                        {{#if meeting.isFinal}}
                          Afgesloten
                        {{else}}
                          Geopend
                        {{/if}}
                      </td>
                      <td {{action "selectAgenda" meeting}}>
                        {{await meeting.latestAgendaName}}
                      </td>
                      <td {{action "selectAgenda" meeting}}>
                        {{moment-format
                          (await meeting.latestAgenda.modified)
                          "DD-MM-YYYY HH:mm"
                        }}
                      </td>
                      <td class="vl-u-align-center">
                        {{!-- <button
                  class="vl-button vl-button--link vl-button--icon"
                  {{action "deleteSession" meeting}}
                >
                  <i class="vl-button__icon vl-vi vl-vi-trash"></i>
                </button> --}}
                        <button
                          class="vl-button vl-button--link vl-button--icon"
                          {{action "selectAgenda" meeting}}
                        >
                          <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
                        </button>
                      </td>
                    {{/if}}
                  {{/c.body}}
                {{/t.content}}
              {{/data-table}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="vl-u-spacer-extended-l">
    {{web-components/vl-alert message=(t "no-meetings")}}
  </div>
{{/if}}
{{#if creatingNewSession}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "new-agenda")
    closeModal=(action "cancelNewSessionForm")
  }}
    {{sessions/forms/new-session
      successfullyAdded=(action "successfullyAdded")
      cancelForm=(action "cancelNewSessionForm")
    }}
  {{/web-components/vl-modal}}
{{/if}}