{{page-title
  this.meetingKindPrefix
  " "
  this.model.agenda.agendaName
  " van "
  (if this.model.meeting.isPreKaleidos (date this.model.meeting.plannedStart) (datetime this.model.meeting.plannedStart))
}}
<Agenda::AgendaHeader
  @meeting={{this.model.meeting}}
  @currentAgenda={{this.model.agenda}}
  @reverseSortedAgendas={{this.model.reverseSortedAgendas}}
  @onStartLoading={{this.enableIsLoading}}
  @onStopLoading={{this.disableIsLoading}}
  @refreshRoute={{this.refresh}}
/>
{{#if this.isLoading}}
  {{! Page just goes blank when loading (only triggered on AgendaHeader actions and they provide a modal with loader)}}
  {{! The reason for this is that we want to prevent any clicking on sideNav or content in sibling routes during actions}}
{{else}}
  <div class="auk-panel-layout">
      <div class="auk-panel-layout__sidebar auk-panel-layout__agenda-history">
        <Agenda::SideNav
          @meeting={{this.model.meeting}}
          @currentAgenda={{this.model.agenda}}
          @reverseSortedAgendas={{this.model.reverseSortedAgendas}}
          @isOpen={{this.isOpenSideNav}}
          @onCollapse={{this.collapseSideNav}}
          @onOpen={{this.openSideNav}}
        />
      </div>
    {{outlet}}
  </div>
{{/if}}