<div class="vl-u-bg-alt">
  {{agenda/agenda-header
    sessions=model
    creatingNewSession=creatingNewSession
    selectedAgendaItem=selectedAgendaItem
    compareAgendas=(action "compareAgendas")
    loading=(action "loadingAgendaitems")
  }}
</div>
{{#if (not isLoading)}}
  <div class="vlc-panel-layout">
    {{agenda/side-nav
      agendas=agendas
      selectedAgendaItem=selectedAgendaItem
      currentAgenda=currentAgenda
    }}
    <div class={{agendaitemsClass}}>
      <div class="vlc-scroll-wrapper">
        {{agenda/agendaitem-search
          selectedAgenda=currentAgenda
          navigateToCreateAnnouncement=(action "navigateToCreateAnnouncement")
          navigateToSubCases=(action "navigateToSubCases")
        }}
        {{agenda/agenda-list
          agendaitems=currentAgendaItems
          selectedAgendaItem=selectedAgendaItem
        }}
        {{agenda/announcement-list announcements=(await announcements)}}
      </div>
    </div>
    {{#if selectedAgendaItem}}
      <div class="vlc-panel-layout__main-content">
        {{agenda/agendaitem/agendaitem-overview
          agendaitem=selectedAgendaItem
        }}
      </div>
    {{else if createAnnouncement}}
      {{agenda/create-announcement currentAgenda=currentAgenda}}
    {{/if}}
  </div>
{{else}}
  {{web-components/vl-loader
    text="De agenda wordt goedgekeurd. Even geduld aub.."
  }}
{{/if}}