{{page-title (t "agenda-title")}}
<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @auto={{true}} as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <h2 class="auk-toolbar__title" data-test-route-agendas-title>
          {{t "agenda-title"}}
        </h2>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item
        data-test-route-agendas-overview-filter-container
        data-children-count="1"
        class="auk-o-flex"
      >
        {{#if this.filterAgendas}}
          <AuButton
            @skin="naked"
            @icon="undo"
            @hideText={{true}}
            {{on "click" this.clearFilter}}
          >
            {{t "clear-filter"}}
          </AuButton>
        {{/if}}
        <AuInput
          data-test-route-agendas-overview-filter-input
          @width="block"
          @icon="search"
          @value={{this.filterAgendas}}
          @enter={{this.setFilter}}
          {{on "input" (perform this.debouncedSetFilter)}}
          placeholder={{t "date-example"}}
          autocomplete="off"
        />
      </Group.Item>
      {{#if (user-may "manage-meetings")}}
        <Group.Item>
          <AuButton
            data-test-route-agendas-new-meeting
            @skin="primary"
            @icon="plus"
            {{on "click" this.openNewSessionModal}}
          >
            {{t "new-agenda"}}
          </AuButton>
        </Group.Item>
      {{/if}}
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{#if this.filterAgendas}}
  <ChangesAlert
    @message={{t "filtered-agendas"}}
    @buttonText={{t "clear-filter"}}
    @clearAction={{this.clearFilter}}
  />
{{/if}}
<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    {{#if @model.length}}
      <div class="auk-u-ml-4">
        <table
          data-test-route-agendas-overview-data-table
          class="auk-table auk-table--agenda auk-table--hoverable auk-table--sticky-header auk-table--sticky-action-column"
        >
          <thead>
            <tr>
              <Utils::ThSortable
                class="auk-table__col--3 auk-table__header-title"
                @currentSorting={{this.sortField}}
                @field="created-for.planned-start"
                @onChange={{this.sortTable}}
                @label={{t "agenda"}}
              />
              <Utils::ThSortable
                class="auk-table__header-title"
                @currentSorting={{this.sortField}}
                @field="created-for.agenda.status.label"
                @onChange={{this.sortTable}}
                @label={{t "status"}}
              />
              <Utils::ThSortable
                class="auk-table__header-title"
                @currentSorting={{this.sortField}}
                @field="created-for.kind.label"
                @onChange={{this.sortTable}}
                @label={{t "kind"}}
              />
              <Utils::ThSortable
                class="auk-table__header-title"
                @currentSorting={{this.sortField}}
                @field="modified"
                @onChange={{this.sortTable}}
                @label={{t "latest-modified"}}
              />
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#if this.isLoadingModel}}
              <tr>
                <td
                  data-test-route-agendas-overview-loader
                  colspan="5"
                >
                  {{t "loading"}}
                </td>
              </tr>
            {{else}}
              {{#each @model as |agenda|}}
                <tr
                  role="button"
                  class="auk-u-text-align--center auk-table--clickable-rows"
                  {{on "click" (fn this.onClickRow agenda)}}
                >
                  <td data-test-route-agendas-overview-row-title>
                    <span class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
                      {{#if agenda.status.isDesignAgenda}}
                        <strong>{{t "design-agenda"}}</strong>
                        {{#if agenda.serialnumber}}
                          <AuPill @size="small" @skin="ongoing" @draft={{true}}>{{agenda.serialnumber}}</AuPill>
                        {{/if}}
                      {{else}}
                        <strong>{{t "agenda"}}</strong>
                        {{#if agenda.serialnumber}}
                          <AuPill @size="small">{{agenda.serialnumber}}</AuPill>
                        {{/if}}
                      {{/if}}
                      <span>–</span>
                      <span>
                        {{date agenda.createdFor.plannedStart}}
                      </span>
                    </span>
                  </td>
                  <td>
                    {{#if agenda.createdFor.agenda}}
                      <AuPill @size="small">{{t "closed"}}</AuPill>
                    {{else}}
                      <AuPill @size="small" @skin="ongoing">{{t "opened"}}</AuPill>
                    {{/if}}
                  </td>
                  <td data-test-route-agendas-overview-row-kind>
                    {{agenda.createdFor.kind.label}}
                  </td>
                  <td>
                    {{#if (is-pending agenda)}}
                      <div
                        class="auk-skeleton auk-skeleton--rectangle"
                        role="alert"
                        aria-busy="true"
                      ></div>
                    {{else}}
                      {{datetime-at agenda.modified "-"}}
                    {{/if}}
                  </td>
                  <td class="auk-u-text-align--center">
                    <AuLink
                      data-test-route-agendas-overview-row-nav-button
                      @skin="button-naked"
                      @icon="chevron-right"
                      @hideText={{true}}
                      @route="agenda.agendaitems"
                      @models={{array
                        agenda.createdFor.id
                        agenda.id
                      }}
                    >
                      {{t "open"}}
                    </AuLink>
                  </td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    {{else}}
      <Auk::Panel>
        <Auk::Panel::Body>
          <Auk::EmptyState
            @message={{t "no-results-found"}}
            data-test-route-agendas-overview-filter-warning-no-results
          />
        </Auk::Panel::Body>
      </Auk::Panel>
    {{/if}}
  </div>
</div>
<div>
  <hr />
</div>
<div class="auk-u-mx-4">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Pagination
          @page={{this.pageAgendas}}
          @size={{this.sizeAgendas}}
          @nbOfItems={{@model.length}}
          @total={{@model.meta.count}}
          @onNextPage={{this.nextPage}}
          @onPreviousPage={{this.prevPage}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{t "amount-per-page"}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <WebComponents::AuPageSize
          @selectedSize={{this.sizeAgendas}}
          @onChange={{this.setSizeOption}}
        />
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>
{{#if this.isCreatingNewSession}}
  <Meeting::EditMeetingModal
    @meeting={{this.newMeeting}}
    @didSave={{this.createNewSession}}
    @onCancel={{this.closeNewSessionModal}}
  />
{{/if}}