{{#if (await model)}}
  <div
    class="vl-alert vl-alert-relative vl-alert-relative--center {{await type}}"
    role="alert"
  >
    <div class="vl-alert__icon">
      <i class="vl-vi vl-vi-alert-circle" aria-hidden="true"></i>
    </div>
    <button class="vl-alert__close" type="button">
      <i class="vl-vi vl-vi-cross" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        {{t "close"}}
      </span>
    </button>
    <div class="vl-alert__content">
      <p class="vl-alert__title">
        {{await model.title}}
      </p>
      <div class="vl-alert__message">
        <p>
          {{await model.message}}
        </p>
      </div>
    </div>
    <button class="vl-alert__close" type="button" {{action "close"}}>
      <i class="vl-vi vl-vi-cross" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        {{t "close"}}
      </span>
    </button>
  </div>
{{/if}}
{{#if (gt (await messages.length) 0)}}
  <div class="toasts-container">
    {{#each messages as |errorMessage|}}
      {{utils/custom-messages-toasts
        errorMessage=errorMessage
        closeErrorMessage=(action "closeErrorMessage")
      }}
    {{/each}}
  </div>
{{/if}}
{{#if (and (await role) (not-eq (await role) ""))}}
  {{m-header navigateToMockLogin=(action "navigateToMockLogin")}}
{{/if}}
{{outlet}}