{{page-title (t "newsletter")}}
<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar @auto={{true}}>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h1 class="auk-toolbar__title" data-test-newsletter-header-title>
          {{t "newsletter"}}
        </h1>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Tabs>
          <Auk::Tab @route="newsletters.index">
            {{t "newsletters-tabs-overview"}}
          </Auk::Tab>
          <Auk::Tab @route="newsletters.drafts">
            Drafts
          </Auk::Tab>
          <Auk::Tab @route="newsletters.search" @icon="search">
            {{t "newsletters-tabs-search"}}
          </Auk::Tab>
        </Auk::Tabs>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{#if (eq this.activeRoute "newsletters.drafts")}}
    <Auk::Toolbar::Group @position="right">
      <AuLink
        @route="newsletters.create-draft"
        @skin="button"
        @icon="add"
      >
        Draft toevoegen
      </AuLink>
    </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>
<div class="auk-scroll-wrapper__body">
  {{outlet}}
</div>