{{title (t "newsletter")}}
{{newsletter/newsletter-header}}
{{#if (gt model.length 0)}}
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      <div class="vl-u-spacer-extended-l">
        {{#data-table
          content=model
          class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
          page=page
          size=size
          sort=sort
          enableSizes=true
          isLoading=isLoadingModel as |table|
        }}
          {{#table.content as |c|}}
            {{#c.header}}
              {{th-sortable
                class="vl-data-table-col-5 vl-data-table__header-title"
                currentSorting=sort
                field="planned-start"
                label=(t "newsletter")
              }}
              <th class="vl-data-table-col-3 vl-data-table__header-title table-header-unsortable">
              <!--TODO: should sort on field agendas but does not return all 10 results-->
                {{concat (t "newsletter") " " (t "sent-at")}}
              </th>
              <th class="vl-data-table-col-3 vl-data-table__header-title table-header-unsortable" >
              <!--TODO: should sort on latest modified agenda-->
                {{t "latest-modified"}}
              </th>
              <th class="vl-data-table-col-1"></th>
            {{/c.header}}
            {{#c.body as |meeting|}}
              <td>
                {{#if (is-pending meeting)}}
                  <div
                    class="skeletal-loader"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else}}
                  {{t "newsletter-for-meeting-of"}}
                  {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
                {{/if}}
              </td>
              <td>
                {{t "dash"}}
              </td>
              <td>
                {{#if (is-pending meeting.latestAgenda)}}
                  <div
                    class="skeletal-loader"
                    role="alert"
                    aria-busy="true"
                  ></div>
                {{else}}
                  {{moment-format
                    (await meeting.latestAgenda.modified)
                    "DD.MM.YYYY HH:mm"
                  }}
                {{/if}}
              </td>
              <td class="vl-u-align-center">
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  {{action "navigateToNewsletter" meeting}}
                >
                  <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
                </button>
              </td>
            {{/c.body}}
          {{/table.content}}
        {{/data-table}}
      </div>
    </div>
  </div>
{{else}}
  <div class="vl-u-spacer-extended-l">
    {{web-components/vl-alert message=(t "no-meetings")}}
  </div>
{{/if}}