{{newsletter/newsletter-header}}
{{#if (gt model.length 0)}}
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      <div class="vl-u-spacer-extended-l">
        {{#data-table
          content=model
          class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
          page=page
          size=size
          sort=sort
          enableSizes=true
          isLoading=isLoadingModel as |t|
        }}
          {{#t.content as |c|}}
            {{#c.header}}
              {{th-sortable
                class="vl-data-table-col-5 vl-data-table__header-title"
                currentSorting=sort
                field="planned-start"
                label="Nieuwsbrief"
              }}
              {{th-sortable
                class="vl-data-table-col-3 vl-data-table__header-title"
                field="agendas"
                label="Nieuwsbrief verstuurd op"
              }}
              {{th-sortable
                class="vl-data-table-col-3 vl-data-table__header-title"
                currentSorting=sort
                field="created"
                label="Laatst gewijzigd"
              }}
              <th class="vl-data-table-col-1"></th>
            {{/c.header}}
            {{#c.body as |meeting|}}
              <td>
                {{translatedPrefix}}
                {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
              </td>
              <td>
                {{emptyValue}}
              </td>
              <td>
                {{moment-format
                  (await meeting.latestAgenda.modified)
                  "DD.MM.YYYY HH:mm"
                }}
              </td>
              <td class="vl-u-align-center">
                <button
                  class="vl-button vl-button--link vl-button--icon"
                  {{action "navigateToNewsLetter" meeting}}
                >
                  <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
                </button>
              </td>
            {{/c.body}}
          {{/t.content}}
        {{/data-table}}
      </div>
    </div>
  </div>
{{else}}
  <div class="vl-u-spacer-extended-l">
    {{web-components/vl-alert message=(t "no-meetings")}}
  </div>
{{/if}}