<div class="vl-u-spacer-extended-l">
  <button
    class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
    {{action "showEditingMandateeForm"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
    {{t "buttons.manage-ministers"}}
  </button>
  <button
    class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
    {{action "showAddingMandateForm"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
    {{t "manage-mandates"}}
  </button>
  <button
    class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
    {{action "showAlertManagementForm"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
    {{t "manage-alerts"}}
  </button>
  <button
    class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
    {{action "showDocumentTypesManagementForm"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
    {{t "manage-document-types"}}
  </button>
</div>
{{#if isAddingMandate}}
  {{utils/model-manager
    modalTitle=(t "manage-mandates")
    modelName="government-domain"
    close=(action "showAddingMandateForm")
  }}
{{/if}}
{{#if isManagingDocumentTypes}}
  {{utils/model-manager
    modalTitle=(t "manage-mandates")
    modelName="document-type"
    close=(action "showDocumentTypesManagementForm")
  }}
{{/if}}
{{#if isEditingMandatee}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "buttons.manage-ministers")
    closeModal=(action "showEditingMandateeForm")
  }}
    {{utils/manage-mandatees closeModal=(action "showEditingMandateeForm")}}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isManagingAlerts}}
  {{utils/manage-alerts isManagingAlerts=isManagingAlerts}}
{{/if}}