<div class="vl-u-spacer-extended-l">
  <button
    class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
    {{action "showEditingMandateeForm"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
    {{t "buttons.manage-ministers"}}
  </button>
  <button
    class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
    {{action "showAddingMandateForm"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
    {{t "manage-mandates"}}
  </button>
</div>
{{#if isAddingMandate}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "manage-mandates")
    closeModal=(action "showAddingMandateForm")
  }}
    {{utils/manage-domains closeModal=(action "showAddingMandateForm")}}
  {{/web-components/vl-modal}}
{{/if}}
{{#if isEditingMandatee}}
  {{#web-components/vl-modal
    isOverlay=true
    title=(t "buttons.manage-ministers")
    closeModal=(action "showEditingMandateeForm")
  }}
    {{utils/manage-mandatees closeModal=(action "showEditingMandateeForm")}}
  {{/web-components/vl-modal}}
{{/if}}

<div class="vl-u-spacer-extended-l">
  {{utils/text-template modelName='meeting' searchField="plannedStart" text=text}}
</div>
{{text}}