{{ page-title (t "signatures") }}

<Auk::Navbar
  @skin="gray-100"
  @auto={{true}}
>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title">
            {{t "signatures"}}
          </h4>
        </div>
      </Group.Item>
      <Group.Item>
        <Auk::Tabs>
          <Auk::Tab @route="signatures.index">
            {{t "to-start-up"}}
          </Auk::Tab>
          <Auk::Tab @route="signatures.ongoing">
            {{t "to-follow-up"}}
          </Auk::Tab>
          {{#if (user-may "manage-secretary-signatures")}}
            <Auk::Tab @route="signatures.decisions">
              {{t "decisions-and-minutes"}}
            </Auk::Tab>
            <Auk::Tab @route="signatures.ongoing-decisions">
              {{t "decisions-and-minutes-ongoing"}}
            </Auk::Tab>
          {{/if}}
        </Auk::Tabs>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <div data-test-route-signatures-start-multiple-signflows id="signatures-navbar-buttons-area">
        </div>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{outlet}}
