<style xmlns="http://www.w3.org/1999/html">
  .vlc-kitchensink-sample {
    border: 1px solid #DDD;
    margin: 4rem;
    padding: 4rem;
    margin: 0 0 2rem;
  }

  .links {
    position: absolute;
    width: 286px;
    height: 100%;
    left: 0px;
    top: 44px;
    background: #E5E5E5;
    float: left;
  }

  .style-item {
    margin-left: 10px;
    margin-top: calc(20% - 24px / 2);
    line-height: 150%;
  }

  .style-item li a {
    color: black;
    text-decoration: none;
  }

  .style-item li a:active {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .style-item li a:hover {
    color: black;
    text-decoration: #0A6C9B underline;
  }

  .links h2 {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .main {
    margin: auto;
    font-family: Flanders Art Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    height: 100%;
  }

  .style-main {
    margin-left: 286px;
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow-y: scroll;
  }

  section {
    align-items: center;
  }

  section h1 {
    font-weight: 500;
    font-size: 24px;
  }
</style>
<div class="main">
  <div class="links">
    <nav>
      <ul>
        <li>{{t "basic"}}
          <ul>
            <li>
              <LinkTo class="style-item" @route="styleguide.typography">{{t "typography"}}</LinkTo>
            </li>
            <li>
              <LinkTo class="style-item" @route="styleguide.buttons">{{t "buttons"}}</LinkTo>
            </li>
            <li>
              <LinkTo class="style-item" @route="styleguide.icons">{{t "icons"}}</LinkTo>
            </li>
          </ul>
        </li>
        <li>{{t "components"}}</li>
        <li>{{t "pills"}}</li>
        <li>{{t "panels"}}</li>
      </ul>
    </nav>
  </div>

  <div class="style-main">
    <div style="padding: 2rem;">
      <div class="vl-typography" style="margin: 0 0 2.5rem;">
        <h1 style="margin: 0 0 1.2rem;">{{t "kitchen-sink"}}</h1>
      </div>

      {{outlet}}

    </div>
  </div>
</div>