<div class="vlc-kitchensink__container">
  <div class="vlc-kitchensink__navigation">
    <nav>
      <ul>
        <h3 class="vlc-kitchensink__navigation--header">{{t "basic"}}
          <ul>
            <li>
              <LinkTo class="vlc-kitchensink__navigation_list" @route="styleguide.typography">{{t "typography"}}</LinkTo>
            </li>
            <li>
              <LinkTo class="vlc-kitchensink__navigation_list" @route="styleguide.buttons">{{t "buttons"}}</LinkTo>
            </li>
            <li>
              <LinkTo class="vlc-kitchensink__navigation_list" @route="styleguide.icons">{{t "icons"}}</LinkTo>
            </li>
          </ul>
        </h3>
        <ul>
          <h3 class="vlc-kitchensink__navigation--header">{{t "components"}}
            <li>
              <LinkTo class="vlc-kitchensink__navigation_list" @route="styleguide.components">{{t "components"}}</LinkTo>
            </li>
          </h3>
        </ul>
        <ul>
          <h3 class="vlc-kitchensink__navigation--header">{{t "pills"}}
            <li>
              <LinkTo class="vlc-kitchensink__navigation_list" @route="styleguide.pills">{{t "pills"}}</LinkTo>
            </li>
          </h3>
        </ul>
        <ul>
          <li>{{t "panels"}}</li>
        </ul>
      </ul>
    </nav>
  </div>

  <div class="vlc-kitchensink__container--main">
    <div style="padding: 2rem;">
      <div class="vl-typography" style="margin: 0 0 2.5rem;">
        <h1 style="margin: 0 0 1.2rem;">{{t "style-guide"}}</h1>
      </div>
        {{outlet}}



    </div>
  </div>
</div>