<style xmlns="http://www.w3.org/1999/html">
  .vlc-kitchensink-sample {
    border: 1px solid #DDD;
    margin: auto;
    padding: 4rem;
    margin: 0 0 2rem;
    width: 80%;
  }



  .links {
    position: absolute;
    width: 286px;
    height: 100%;
    left: 0px;
    top: 44px;
    background: #E5E5E5;
    float: left;
  }

  .vlc-styleguide-list {
    margin-left: 10px;
    margin-top: calc(20% - 24px / 2);
    line-height: 150%;
  }

  .vlc-styleguide-list li a {
    color: black;
    text-decoration: none;
  }

  .vlc-styleguide-list li a:active {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .vlc-styleguide-list li a:hover {
    color: black;
    text-decoration: #0A6C9B underline;
  }

  .links h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .vlc-styleguide-main-container {
    margin: auto;
    font-family: "Flanders Art Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
  }

  .style-main {
    margin-left: 28.6rem;
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow: scroll;
  }

  section {
    align-items: center;
  }

  section h1 {
    font-weight: 500;
    font-size: 24px;
  }
</style>
<div class="vlc-styleguide-main-container">
  <div class="links">
    <nav>
      <ul>
        <h3>{{t "basic"}}
          <ul>
            <li>
              <LinkTo class="vlc-styleguide-list" @route="styleguide.typography">{{t "typography"}}</LinkTo>
            </li>
            <li>
              <LinkTo class="vlc-styleguide-list" @route="styleguide.buttons">{{t "buttons"}}</LinkTo>
            </li>
          </ul>
        </h3>
        <ul>
          <h3>{{t "components"}}</h3>
          <li>
            <LinkTo class="vlc-styleguide-list" @route="styleguide.components">{{t "components"}}</LinkTo>
          </li>
        </ul>
        <ul>
          <h3>{{t "pills"}}</h3>
          <li>
            <LinkTo class="vlc-styleguide-list" @route="styleguide.pills">{{t "pills"}}</LinkTo>
          </li>
        </ul>
        <ul>
          <li>{{t "panels"}}</li>
        </ul>
      </ul>
    </nav>
  </div>

  <div class="style-main">
    <div style="padding: 2rem;">
      <div class="vl-typography" style="margin: 0 0 2.5rem;">
        <h1 style="margin: 0 0 1.2rem;">{{t "style-guide"}}</h1>
      </div>

      {{outlet}}

    </div>
  </div>
</div>