<div class="vl-u-spacer-extended-l">

<div class="data-table-button-container vl-u-spacer--large">
  <button
    class="vl-button vl-button--tertiary"
    {{action "navigateBackToAgenda"}}
  >
    {{fa-icon "arrow-left"}}
    {{t "buttons.agenda-back"}}
  </button>
  <button
    class="vl-button vl-button--tertiary"
    {{action "addSubcasesToAgenda"}}
  >
    {{t "buttons.add-to-agenda"}}
  </button>
</div>


<div class="data-table-container">

  <h2 class="vl-title vl-title--h3">
    {{t "subcases.title-postponed-subcases"}}
  </h2>

  {{subcases/postponed-subcases
    selectSubcase=(action "selectPostponed" )
  }}

</div>


<div class="data-table-container">

  <h2 class="vl-title vl-title--h3">
    {{t "subcases.title-available-subcases"}}
  </h2>

  {{subcases/available-subcases
    selectSubcase=(action "selectAvailableSubcase")
  }}
</div>

</div>