{{#if (not isAdding)}}
  {{#if (not isResigning)}}
    {{utils/mandatee-selector
      singleSelect=true
      chooseMandatee=(action "selectMandatee")
    }}
  {{/if}}
  {{#if isEditing}}
    {{utils/edit-mandatee
      mandateeToEdit=selectedMandatee
      closeModal=(action "toggleIsEditing")
    }}
  {{else if (not isResigning)}}
    <div class="vl-u-display-flex vl-u-flex-space-between vl-action-group">
      <button class="vl-button vl-button--tertiary" {{action "closeModal"}}>
        {{t "buttons.cancel"}}
      </button>
      {{#if selectedMandatee}}
        <button
          class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
          {{action "toggleIsEditing"}}
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"
          ></i>
          {{t "edit-mandatee"}}
        </button>
        <button
          class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
          {{action "resignMandatee" mandateeToEdit}}
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-cog"
          ></i>
          {{t "buttons.resign"}}
        </button>
      {{/if}}
      <button
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
        {{action "toggleIsAdding"}}
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
        {{t "create-mandatee"}}
      </button>
    </div>
  {{/if}}
{{else}}
  {{utils/create-mandatee closeModal=(action "toggleIsAdding")}}
{{/if}}
{{#if isResigning}}
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "mandatee-form.end-date")}}
    {{web-components/vl-datepicker dateChanged=(action "selectEndDate")}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "new-person")}}
    {{utils/people-selector choosePerson=(action "personSelected")}}
  </div>
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value=(t "mandatee-form.start-date")}}
    {{web-components/vl-datepicker dateChanged=(action "selectNewStartDate")}}
  </div>
  <div class="vl-u-display-flex vl-u-flex-space-between vl-action-group">
    <button
      class="vl-button vl-button--tertiary"
      {{action "toggleIsResigning"}}
    >
      {{t "buttons.cancel"}}
    </button>
    <button class="vl-button vl-button--tertiary" {{action "saveResignation"}}>
      {{t "save-resignation"}}
    </button>
  </div>
{{/if}}