<Auk::TabExpanded
  data-test-subcase-side-nav-subcase
  @route="cases.case.parliament-flow"
  @current-when="cases.case.parliament-flow"
>
  <div
    class="auk-sidebar__label au-u-flex au-flex--vertical-center au-u-flex--spaced-tiny"
  >
    <strong>{{t "flemish-parliament"}}</strong>
  </div>
  <div class="auk-sidebar__sublabel au-u-margin-top-none">
    {{t "last-edited-on"}}
    {{datetime @date}}
  </div>
  <div class="au-u-margin-top-tiny">
    <Parliament::StatusPill 
      @parliamentFlow={{@parliamentFlow}}
      @useAltLabel={{true}}
    />
  </div>
</Auk::TabExpanded>
