<li
  class="auk-sidebar__item auk-sidebar__item--styled auk-sidebar__item--inside-link
    {{if @selected 'auk-sidebar__item--active'}}"
>
  <LinkTo
    @route="cases.case.parliament-flow"
  >
    <div
      class="auk-sidebar__label au-u-flex au-flex--vertical-center au-u-flex--spaced-tiny"
    >
      <strong>{{t "flemish-parliament"}}</strong>
    </div>
    <div class="auk-sidebar__sublabel au-u-margin-top-none">
      {{t "last-edited-on"}}
      {{datetime @date}}
    </div>
    <div class="au-u-margin-top-tiny">
      <Parliament::StatusPill 
      @parliamentFlow={{@parliamentFlow}}
      @useAltLabel={{true}} />
    </div>
  </LinkTo>
</li>
