<div {{did-update (perform this.loadData) @pieces}}>
  {{#if this.loadData.isRunning}}
    <WebComponents::VlLoader @text={{t "documents-loading-text"}} />
  {{else}}
    <div class="auk-box">
      <div class="auk-u-mb-4">
        <table class="auk-table">
          <thead>
            <tr>
              <th class="auk-table__col--4">
                <Auk::Label>
                  {{t "document-name"}}
                </Auk::Label>
              </th>
              <th class="auk-table__col--3">
                <Auk::Label>
                  {{t "document-type"}}
                </Auk::Label>
              </th>
              <th class="auk-table__col--3">
                <Auk::Label>
                  {{t "publicity"}}
                </Auk::Label>
              </th>
              <th class="auk-table__col--1">
                <Auk::Label>
                  {{t "confidential"}}
                </Auk::Label>
              </th>
              <th class="auk-table__col--1"></th>
            </tr>
          </thead>
          <tbody>
            {{#each this.sortedDocumentHistories as |history|}}
              {{#unless history.lastPiece.softDeleted}}
                <Documents::EditDocumentRow
                  @piece={{history.lastPiece}} />
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      </div>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <button type="button" class="auk-button-link" {{on "click" (perform this.cancelEditPieces)}}>
              <span class="auk-button__content">
                {{t "cancel"}}
              </span>
            </button>
          </Auk::Toolbar::Item>
          <Auk::Toolbar::Item>
            <WebComponents::VlSaveButton
              @text={{t "save"}}
              @isLoading={{this.saveEditPieces.isRunning}}
              @saveAction={{perform this.saveEditPieces}} />
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </div>
  {{/if}}
</div>