<Documents::DocumentList
  @pieces={{@pieces}}
as |documents|>
  <ul>
    {{#each documents as |doc|}}
      <li class="vlc-document-list__item">
        <Documents::DocumentBadge
          @doc={{doc}}
          @accessLevel={{await doc.accessLevel}}
          @isShowingAccessLevel={{this.shouldShowAccessLevel (await doc.accessLevel)}}
          @isHighlighted={{includes doc @highlightedPieces}}
          @isDraftAccessLevelArgs={{@isDraftAccessLevelArgs}}
        />
      </li>
    {{/each}}
  </ul>
</Documents::DocumentList>