{{#if this.isEditingDetails}}
  <Auk::Panel class="auk-panel--editing">
    <Auk::Panel::Header class="auk-u-px-1">
      <Auk::Toolbar as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            <h4 class="auk-h4 auk-u-m-0">
              {{t "document-properties"}}
            </h4>
          </Group.Item>
        </Toolbar.Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-p-1">
      <Auk::KeyValue
        data-test-details-tab-document-type
        @key={{t "document-type"}}
      >
        <Utils::DocumentTypeSelector
          data-test-details-tab-edit-document-type
          @selectedDocumentType={{this.documentType}}
          @onChange={{this.setDocumentType}}
          @renderInPlace={{true}}
        />
      </Auk::KeyValue>
      <Auk::KeyValue data-test-details-tab-name @key={{t "document-name"}}>
        <Textarea
          data-test-details-tab-edit-name
          aria-labelledby="piece-name"
          class="auk-textarea"
          @value={{mut @piece.name}}
        />
      </Auk::KeyValue>
      <Auk::KeyValue data-test-details-tab-access-level @key={{t "publicity"}}>
        <Utils::AccessLevelSelector
          @allowClear={{true}}
          @displayField="label"
          @sortField="position"
          @selected={{this.accessLevel}}
          @onChange={{this.setAccessLevel}}
          data-test-details-tab-edit-access-level
        />
      </Auk::KeyValue>
      <Auk::KeyValue
        data-test-document-details-panel-source-file
        @key={{t "source-file"}}
      >
        <div class="au-u-flex au-u-flex--between">
          {{#if @piece.file.primarySource}}
            <p>
              {{! Note that showing this composed name as "source file name" might be confusing.
              Better show original source file (not document) name?}}
              {{@piece.name}}.{{@piece.file.primarySource.extension}}
            </p>
          {{/if}}
          <AuButton
            data-test-document-details-panel-upload
            @icon="upload"
            @iconAlignment="left"
            @skin="secondary"
            {{on "click" (toggle "isUploadingReplacementSourceFile" this)}}
          >
            {{t (if @piece.file.primarySource "replace" "upload")}}
          </AuButton>
        </div>
      </Auk::KeyValue>
      {{#if this.isUploadingReplacementSourceFile}}
        <Auk::FileUploader @onUpload={{set this "replacementSourceFile"}} />
      {{/if}}
      <Auk::KeyValue
        data-test-document-details-panel-source-file
        @key="Getekend document"
      >
        {{#if this.showSigned}}
        <div class="au-o-flow au-o-flow--small">
           <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center">
            {{#if @piece.file.primarySource}}
              <AuLinkExternal
                href={{@piece.file.primarySource.namedDownloadLink}}
                @skin="primary"
                @icon="download"
                @iconAlignment="left"
                download
              >{{@piece.name}}-getekend.{{@piece.file.primarySource.extension}}</AuLinkExternal>
            {{else if @piece.file}}
              <AuLinkExternal
                href={{@piece.file.namedDownloadLink}}
                @skin="primary"
                @icon="download"
                @iconAlignment="left"
                download
              >{{@piece.name}}-getekend</AuLinkExternal>
              {{else}}
              {{@piece.name}}
            {{/if}}
            <AuPill
              @skin="warning"
              @icon="circle"
            >
              Intern regering
            </AuPill>
          </div>
          <AuButton
            data-test-document-details-panel-upload
            @icon="bin"
            @iconAlignment="left"
            @skin="secondary"
            @alert={{true}}
            {{on "click" this.deleteSigned}}
          >
            Verwijder getekend document
          </AuButton>
        </div>
        {{else}}
        <AuHelpText @skin="secondary">Geen getekend document</AuHelpText>
        {{/if}}
      </Auk::KeyValue>
    </Auk::Panel::Body>
    <Auk::Panel::Footer>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-details-tab-cancel
              @skin="naked"
              @disabled={{this.isProcessing}}
              {{on "click" (perform this.cancelEditDetails)}}
            >
              {{t "cancel"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            <AuButton
              data-test-details-tab-save
              @skin="primary"
              @disabled={{this.isProcessing}}
              @loading={{this.saveDetails.isRunning}}
              {{on "click" (perform this.saveDetails)}}
            >
              {{t "save"}}
            </AuButton>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Footer>
  </Auk::Panel>
{{else}}
  <Auk::Panel>
    <Auk::Panel::Header class="auk-u-px-1">
      <Auk::Toolbar as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            <h4 class="auk-h4 auk-u-m-0">
              {{t "document-properties"}}
            </h4>
          </Group.Item>
        </Toolbar.Group>
        {{#if (user-may "manage-documents")}}
          <Toolbar.Group @position="right" as |Group|>
            {{#if this.isLastVersionOfPiece}}
              <Group.Item>
                <AuButton
                  data-test-details-tab-delete
                  @skin="naked"
                  @alert={{true}}
                  @icon="trash"
                  @hideText={{true}}
                  {{on "click" (fn (mut this.isOpenVerifyDeleteModal) true)}}
                >
                  {{t "delete"}}
                </AuButton>
              </Group.Item>
            {{/if}}
            <Group.Item>
              <AuButton
                data-test-details-tab-edit
                @skin="naked"
                @icon="pencil"
                @hideText={{true}}
                {{on "click" this.openEditDetails}}
              >
                {{t "edit"}}
              </AuButton>
            </Group.Item>
          </Toolbar.Group>
        {{/if}}
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body class="auk-u-p-1">
      {{#if this.documentType}}
        <Auk::KeyValue
          data-test-details-tab-document-type
          @key={{t "document-type"}}
        >
          {{this.documentType.label}}
        </Auk::KeyValue>
      {{/if}}
      <Auk::KeyValue data-test-details-tab-name @key={{t "document-name"}}>
        {{@piece.name}}{{#if @piece.file}}.{{@piece.file.extension}}{{/if}}
      </Auk::KeyValue>
      <Auk::KeyValue data-test-details-tab-access-level @key={{t "publicity"}}>
        <AccessLevelPill
          @accessLevel={{this.accessLevel}}
          @isEditable={{false}}
        />
      </Auk::KeyValue>
      <Auk::KeyValue
        data-test-document-details-panel-source-file
        @key={{t (if (eq @piece.file.primarySource.extension "docx") "word-document" "source-file")}}
      >
        {{#if @piece.file.primarySource}}
          <AuLinkExternal
            href={{@piece.file.primarySource.namedDownloadLink}}
            @skin="primary"
            @icon="download"
            @iconAlignment="left"
            download
          >{{@piece.name}}.{{@piece.file.primarySource.extension}}</AuLinkExternal>
        {{else if @piece.file}}
          <AuLinkExternal
            href={{@piece.file.namedDownloadLink}}
            @skin="primary"
            @icon="download"
            @iconAlignment="left"
            download
          >{{@piece.name}}.{{@piece.file.extension}}</AuLinkExternal>
          {{else}}
          {{@piece.name}}
        {{/if}}
      </Auk::KeyValue>
     
      <Auk::KeyValue
        data-test-document-details-panel-source-file
        @key="Getekend document"
      > 
        {{#if this.showSigned}}
        <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center">
          {{#if @piece.file.primarySource}}
            <AuLinkExternal
              href={{@piece.file.primarySource.namedDownloadLink}}
              @skin="primary"
              @icon="download"
              @iconAlignment="left"
              download
            >{{@piece.name}}-getekend.{{@piece.file.primarySource.extension}}</AuLinkExternal>
          {{else if @piece.file}}
            <AuLinkExternal
              href={{@piece.file.namedDownloadLink}}
              @skin="primary"
              @icon="download"
              @iconAlignment="left"
              download
            >{{@piece.name}}-getekend</AuLinkExternal>
            {{else}}
            {{@piece.name}}
          {{/if}}
          <AuPill
            @skin="warning"
            @icon="circle"
          >
            Intern regering
          </AuPill>
        </div>
        {{else}}
        <AuHelpText @skin="secondary">Geen getekend document</AuHelpText>
        {{/if}}
      </Auk::KeyValue>
    </Auk::Panel::Body>
  </Auk::Panel>
{{/if}}
{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{fn (mut this.isOpenVerifyDeleteModal) false}}
    @verify={{this.verifyDeleteDocument}}
  />
{{/if}}
