<div
  class="vlc-document-card {{if (not this.bordered) 'vlc-document-card--borderless'}} {{if this.documentContainer.aboutToDelete 'vlc-document--deleted-state'}}"
  {{did-update (perform this.loadPieceRelatedData) @piece}}
  {{did-update (perform this.loadPieceRelatedData) @documentContainer}}
  data-test-document-card
>
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <Auk::Toolbar @auto={{true}} as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            {{#if @isHighlighted}}
              <Auk::Badge @skin="success" @icon="document-added" @size="large" />
            {{else}}
              <Auk::Badge @icon="document" @size="large" />
            {{/if}}
          </Group.Item>
          <Group.Item class="auk-u-maximize-width">
            <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
              <p data-test-document-card-type="" class="vlc-subline au-u-medium au-u-muted">
                {{#unless this.loadPieceRelatedData.isRunning}}
                  {{this.documentContainer.type.label}}
                {{/unless}}
              </p>
            </div>
            <h6 class="auk-h4" data-test-document-card-name-value="">
              <span>
                {{this.piece.name}}
              </span>
            </h6>
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          {{#if
            (and
              this.userMayManagePublicationFlows
              (not this.loadPieceRelatedData.isRunning)
              (not this.loadPublicationFlowRelatedData.isRunning)
            )
          }}
            {{#if this.piece.publicationFlow}}
              <AuPill
                @size="small"
                @route="publications.publication"
                @model={{this.piece.publicationFlow.id}}
                data-test-document-card-publication-link
              >
                {{this.piece.publicationFlow.identification.idName}}
              </AuPill>
            {{/if}}
          {{/if}}
          <Group.Item class="auk-o-flex">
            {{#unless this.loadPieceRelatedData.isRunning}}
              <div class="auk-o-flex auk-o-flex--vertical-center">
                <AccessLevelPill
                  @accessLevel={{this.accessLevel}}
                  @isEditable={{true}}
                  @onChangeAccessLevel={{this.changeAccessLevel}}
                  @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                  @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                />
              </div>
            {{/unless}}
          </Group.Item>
          {{#if
            (and
              @hasMarkForSignature
              (not this.loadSignatureRelatedData.isRunning)
              (not this.loadPieceRelatedData.isRunning)
            )
          }}
            <Group.Item>
              <Auk::Button
                @skin={{if
                  this.signMarkingActivity
                  "success-borderless"
                  "muted-borderless"
                }}
                @layout="icon-only"
                @loading={{this.markOrUnmarkForSignature.isRunning}}
                @icon={{if this.signMarkingActivity "sign" "no-sign"}}
                {{on "click" (perform this.markOrUnmarkForSignature)}}
              />
            </Group.Item>
          {{/if}}
          {{#if this.currentSession.isEditor}}
            <Group.Item>
              <Auk::DropdownMenu
                @skin="borderless"
                @icon="three-dots"
                @disabled={{this.loadPieceRelatedData.isRunning}}
                data-test-document-card-actions={{true}}
                as |Menu|
              >
                <Menu.Item
                  data-test-document-upload-new-piece
                  {{on "click" this.openUploadModal}}
                >
                  {{t "new-version"}}
                </Menu.Item>
                <Menu.Item {{on "click" this.enableEditPieceName}}>
                  {{t "document-title-edit"}}
                </Menu.Item>
                <Menu.Divider />
                <Menu.Item
                  @skin="danger"
                  data-test-document-card-delete
                  {{on "click" this.deleteDocumentContainer}}
                >
                  {{t "document-delete"}}
                </Menu.Item>
              </Auk::DropdownMenu>
            </Group.Item>
          {{/if}}
        </Toolbar.Group>
      </Auk::Toolbar>
      <div class="vlc-document-card-content__meta auk-u-mt-2">
        {{! no piece.created in legacy data }}
        {{! TODO: when created date is absent, the layout seems irregular
              this will be addressed with new document card styling }}
        <div>
          {{#if this.piece.created}}
            {{t "uploaded-at"}}
            {{moment-format this.piece.created}}
            {{t "at"}}
            {{moment-format this.piece.created "HH:mm"}}
          {{/if}}
        </div>
        {{!-- Looks no longer required in new mock-ups, but unsure, since this was quite a recent addition
        {{#if this.piece.accessLevelLastModified}}
          <div>
            {{t "access-level-last-modified"}}
            {{moment-format this.piece.accessLevelLastModified}}
            {{t "at"}}
            {{moment-format this.piece.accessLevelLastModified "HH:mm"}}
          </div>
        {{/if}}
        --}}
      </div>
    </div>
  </div>
  {{#if (gt this.visiblePieces.length 0)}}
    <div class="vlc-document-card-versions">
      <Auk::Accordion>
        <Auk::Accordion::Item
          @title={{t "previous-versions"}}
          @disabled={{this.loadPieceRelatedData.isRunning}}
          @expandTask={{this.loadVersionHistory}}
          data-test-document-card-version-history
        >
          {{#if this.loadVersionHistory.isRunning}}
            <div class="auk-u-p-3">
              <Auk::Loader />
            </div>
          {{else}}
            {{#each this.visiblePieces as |piece|}}
              <div
                class="vlc-document-holder"
                {{did-update (perform this.loadPieceRelatedData) piece}}
              >
                <div class="vlc-document-card-item" data-test-vl-document-piece>
                  <div class="vlc-document-card-item__title">
                    <h6
                      class="auk-h4"
                      data-test-vl-document-name
                    >
                      {{#unless piece.file}}
                        <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
                          {{t "document-not-consultable"}}
                        </EmberTooltip>
                      {{/unless}}
                      {{piece.name}}
                    </h6>
                    <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center"></div>
                  </div>
                  {{#if (and this.currentSession.isEditor this.piece.created)}}
                  {{!-- no piece.created in legacy data --}}
                    <div class="vlc-document-card-item__meta">
                      {{#if this.piece.created}}
                        {{t "uploaded-at"}}
                        {{moment-format this.piece.created}}
                        {{!--
                          {{t "at"}}
                          {{moment-format this.piece.created "HH:mm"}}
                        --}}
                      {{/if}}
                    </div>
                  {{/if}}
                  <div class="vlc-document-card-item__icon">
                    <Auk::Icon @name="clock-rewind" @size="large" />
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </Auk::Accordion::Item>
      </Auk::Accordion>
    </div>
  {{/if}}
</div>
{{#if this.isOpenUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadPiece}}
    @isOverlay={{true}}
    @title={{t "new-document-piece"}}
  >
    <Auk::Modal::Body>
      {{#if this.newPiece}}
        <Auk::Label>{{t "name"}}</Auk::Label>
        <Auk::Input @block={{true}} @value={{this.newPiece.name}} />
        <Documents::UploadedDocument
          @piece={{this.newPiece}}
          @onDelete={{perform this.deleteUploadedPiece}}
        />
      {{else}}
        <Auk::FileUploader @onUpload={{perform this.uploadPiece}} />
      {{/if}}
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @isLoading={{this.addPiece.isRunning}}
      @cancelAction={{perform this.cancelUploadPiece}}
      @saveAction={{perform this.addPiece}}
      @disableSave={{not this.newPiece}}
    />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{this.cancelDeleteDocumentContainer}}
    @verify={{this.verifyDeleteDocumentContainer}}
  />
{{/if}}