<div
  class="vlc-document-card
    {{if (not this.bordered) 'vlc-document-card--borderless'}}
    {{if
      this.deleteDocumentContainerWithUndo.isRunning
      'vlc-document--deleted-state'
    }}"
  {{did-update (perform this.loadPieceRelatedData) @piece}}
  {{did-update (perform this.loadPieceRelatedData) @documentContainer}}
  data-test-document-card
>
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <Auk::Toolbar @auto={{true}} as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            {{#if @isHighlighted}}
              <AuBadge
                @icon="document-added"
                @skin="success"
                class="au-c-badge--medium"
              />
            {{else}}
              <AuBadge
                @icon="document"
                @skin="gray"
                class="au-c-badge--medium"
              />
            {{/if}}
          </Group.Item>
          <Group.Item class="auk-u-maximize-width">
            <div
              class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced"
            >
              <span data-test-document-card-type class="auk-overline">
                {{#unless this.loadPieceRelatedData.isRunning}}
                  {{this.documentContainer.type.altLabel}}
                {{/unless}}
              </span>
            </div>
            <LinkTo
              @route="document"
              @model={{this.piece.id}}
              class="auk-h4"
              data-test-document-card-name-value
            >
              {{#if this.loadFiles.isRunning}}
                <AuLoader @padding="small" />
              {{else}}
                {{#let
                  (or
                    this.piece.file.derived.extension this.piece.file.extension
                  )
                  as |extension|
                }}
                  {{this.piece.name}}{{#if extension}}.{{extension}}{{/if}}
                {{/let}}
              {{/if}}
            </LinkTo>
            <div class="vlc-document-card-content__meta">
              {{! no piece.created in legacy data }}
              {{#if this.dateToShow}}
                <p
                  data-test-document-card-primary-source-created={{if
                    this.piece.file.derived
                    ""
                  }}
                >
                  {{this.dateToShowLabel}}
                  {{datetime-at this.dateToShow}}
                  {{#if
                    (and
                      this.piece.file.derived
                      (await (this.canViewConfidentialPiece))
                    )
                  }}
                    {{t "as"}}
                    <AuLinkExternal
                      data-test-document-card-primary-source-link
                      href={{this.piece.file.namedDownloadLink}}
                      download
                    >
                      {{t "source-file-lowercase"}}
                    </AuLinkExternal>
                  {{/if}}
                </p>
              {{/if}}
              {{#if
                (and this.signaturesEnabled (await (this.canViewSignedPiece)))
              }}
                {{#if this.piece.signedPiece.file}}
                  <p>
                    <AuLinkExternal
                      href={{await
                        this.piece.signedPiece.namedDownloadLinkPromise
                      }}
                      download
                    >
                      {{t "signed-document"}}
                    </AuLinkExternal>
                    {{t "on"}}
                    {{datetime-at this.piece.signedPiece.created}}
                  </p>
                {{/if}}
              {{/if}}
            </div>
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          {{#if
            (and
              (user-may "manage-publication-flows")
              (not this.loadPieceRelatedData.isRunning)
              (not this.loadPublicationFlowRelatedData.isRunning)
            )
          }}
            {{#if this.piece.publicationFlow}}
              <AuPill
                @size="small"
                @route="publications.publication"
                @model={{this.piece.publicationFlow.id}}
                data-test-document-card-publication-link
              >
                {{this.piece.publicationFlow.identification.idName}}
              </AuPill>
            {{/if}}
          {{/if}}
          <Group.Item
            class="auk-o-flex"
            {{did-update
              (perform this.loadAccessLevelRelatedData)
              @agendaContext.meeting.internalDecisionPublicationActivity.status
            }}
            {{did-update
              (perform this.loadAccessLevelRelatedData)
              @agendaContext.meeting.internalDocumentPublicationActivity.status
            }}
            {{did-update
              (perform this.loadAccessLevelRelatedData)
              @agendaContext.agenda.status
            }}
            {{did-update
              (perform this.loadAccessLevelRelatedData)
              @agendaContext.agenda.previousVersion
            }}
          >
            {{#unless this.loadAccessLevelRelatedData.isRunning}}
              <AccessLevelPill
                @accessLevel={{this.piece.accessLevel}}
                @isEditable={{@isEditable}}
                @isDraft={{this.isDraftAccessLevel}}
                @onChangeAccessLevel={{this.changeAccessLevel}}
                @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
              />
            {{/unless}}
          </Group.Item>
          {{#if this.signaturesEnabled}}
            {{#if this.showSignatureLoader}}
              <Group.Item>
                <div
                  class="auk-loader au-u-margin-left-small"
                  role="alert"
                  aria-busy="true"
                ></div>
              </Group.Item>
            {{else if this.signMarkingActivity}}
              <Group.Item>
                <SignaturePill
                  @piece={{this.piece}}
                  @signMarkingActivity={{this.signMarkingActivity}}
                />
              </Group.Item>
            {{/if}}
          {{/if}}
          {{#if this.mayShowEditDropdown}}
            <Group.Item>
              <AuDropdown
                data-test-document-card-actions={{true}}
                @icon="three-dots"
                @title={{t "more"}}
                @hideText={{true}}
                @disabled={{this.loadPieceRelatedData.isRunning}}
                @alignment="right"
              >
                {{#if @showCreateNewVersion}}
                  <AuButton
                    data-test-document-generate-new-version
                    @skin="link"
                    {{on "click" @onCreateNewVersion}}
                    role="menuitem"
                  >
                    {{t "create-new-version"}}
                  </AuButton>
                {{/if}}
                {{#if this.mayShowUploadNewVersion}}
                  <AuButton
                    data-test-document-upload-new-piece
                    @skin="link"
                    {{on "click" this.openUploadModal}}
                    role="menuitem"
                  >
                    {{t "new-version"}}
                  </AuButton>
                {{/if}}
                {{#if (not @hideEdit)}}
                  <AuButton
                    data-test-document-edit-piece
                    @skin="link"
                    {{on "click" (toggle "isEditingPiece" this)}}
                    role="menuitem"
                  >
                    {{t "edit"}}
                  </AuButton>
                {{/if}}
                {{#if this.mayCreateSignMarkingActivity}}
                  <AuButton
                    data-test-document-card-sign-marking
                    @skin="link"
                    @disabled={{this.agendaitemIsRetracted}}
                    {{on "click" this.markDocumentForSigning.perform}}
                    role="menuitem"
                  >
                    {{t "present-for-signing"}}
                  </AuButton>
                {{/if}}
                {{#if this.hasMarkedSignFlow}}
                  <AuHr />
                  <AuButton
                    @skin="link"
                    @alert={{true}}
                    {{on "click" this.deleteMarkedSignFlow.perform}}
                    role="menuitem"
                  >
                    {{t "stop-sign-flow"}}
                  </AuButton>
                {{/if}}
                {{#if (not @hideDelete)}}
                  <AuHr />
                  <AuButton
                    data-test-document-card-delete
                    @skin="link"
                    @alert={{true}}
                    {{on "click" this.deleteDocumentContainer}}
                    role="menuitem"
                  >
                    {{t "document-delete"}}
                  </AuButton>
                {{/if}}
              </AuDropdown>
            </Group.Item>
          {{/if}}
        </Toolbar.Group>
      </Auk::Toolbar>
    </div>
  </div>
  {{#if (user-may "view-document-version-info")}}
    {{#if (gt this.visiblePieces.length 0)}}
      <div class="vlc-document-card-versions">
        <Auk::Accordion>
          <Auk::Accordion::Item
            @title={{t "previous-versions"}}
            @disabled={{this.loadPieceRelatedData.isRunning}}
            @expandTask={{this.loadVersionHistory}}
            data-test-document-card-version-history
          >
            {{#if this.loadVersionHistory.isRunning}}
              <div class="auk-u-p-3">
                <Auk::Loader />
              </div>
            {{else}}
              {{#each this.visiblePieces as |piece|}}
                <div
                  class="vlc-document-holder"
                  {{did-update (perform this.loadPieceRelatedData) piece}}
                >
                  <Documents::DocumentVersionHistoryItem
                    @piece={{piece}}
                    @agendaContext={{@agendaContext}}
                    @isEditable={{@isEditable}}
                    @onChangeAccessLevel={{fn
                      this.changeAccessLevelOfPiece
                      piece
                    }}
                    @onConfirmChangeAccessLevel={{fn
                      this.saveAccessLevelOfPiece
                      piece
                    }}
                    @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                    @label={{this.dateToShowLabel}}
                  />
                </div>
              {{/each}}
            {{/if}}
          </Auk::Accordion::Item>
        </Auk::Accordion>
      </div>
    {{/if}}
  {{/if}}
</div>
{{#if this.isEditingPiece}}
  <Documents::DocumentCard::EditModal
    @piece={{this.piece}}
    @signFlow={{this.signFlow}}
    @onCancel={{this.cancelEditPiece}}
    @onSave={{toggle "isEditingPiece" this}}
  />
{{/if}}

<ConfirmationModal
  @modalOpen={{this.isOpenUploadModal}}
  @title={{t "new-document-piece"}}
  @onConfirm={{perform this.addPiece}}
  @onCancel={{perform this.cancelUploadPiece}}
  @confirmMessage={{t "add"}}
  @loading={{this.addPiece.isRunning}}
  @disabled={{not this.newPiece}}
>
  <:body>
    {{#if this.newPiece}}
      <Auk::Label>{{t "name"}}</Auk::Label>
      <AuInput @width="block" @value={{this.newPiece.name}} />
      <Documents::UploadedDocument
        @piece={{this.newPiece}}
        @onDelete={{perform this.deleteUploadedPiece}}
      />
    {{else}}
      <Auk::FileUploader @onUpload={{perform this.uploadPiece}} />
    {{/if}}
  </:body>
</ConfirmationModal>
<ConfirmationModal
  @modalOpen={{this.isOpenVerifyDeleteModal}}
  @title={{t "document-container-delete"}}
  @message={{t "delete-document-container-message"}}
  @onConfirm={{this.verifyDeleteDocumentContainer}}
  @onCancel={{this.cancelDeleteDocumentContainer}}
  @confirmMessage={{t "delete"}}
  @confirmIcon="trash"
  @alert={{true}}
/>
