<div class="auk-sidebar auk-sidebar--white auk-sidebar--right auk-sidebar--xlarge auk-o-flex auk-o-flex--vertical auk-u-pb-6">
  {{!-- DETAILS --}}
  <div class="auk-u-m-4">
    <div class="auk-key-value-item">
      <div class="auk-key-value-item__label">{{t "document-name"}}</div>
      <div class="auk-key-value-item__value">{{@piece.name}}</div>
    </div>
    {{#unless this.loadData.isRunning}}
      {{#if this.documentType}}
        <div class="auk-key-value-item">
          <div class="auk-key-value-item__label">{{t "document-type"}}</div>
          <div class="auk-key-value-item__value">{{this.documentType.label}}</div>
        </div>
      {{/if}}
      {{#if @piece.accessLevel}}
        <div class="auk-key-value-item">
          <div class="auk-key-value-item__label">{{t "publicity"}}</div>
          <div class="auk-key-value-item__value">
            <Auk::Pill
                    @skin={{this.accessPillSkin}}
                    class="auk-u-cursor-pointer"
            >
              {{@piece.accessLevel.label}}
            </Auk::Pill>
          </div>
        </div>
      {{/if}}
    {{/unless}}
    <div class="auk-key-value-item">
      <div class="auk-key-value-item__label">{{capitalize (t "confidentiality")}}</div>
      <div class="auk-key-value-item__value">
        {{#if @piece.confidential}}
          <Auk::Pill @skin="danger" @layout="icon-only" @icon="lock-closed"/>
        {{else}}
          <Auk::Pill @skin="success" @layout="icon-only" @icon="lock-open"/>
        {{/if}}
      </div>

    </div>
    <div class="auk-key-value-item">
      <div class="auk-key-value-item__label">{{t "file-type"}}</div>
      <div class="auk-key-value-item__value">
        <Utils::Documents::FileTypePill @extension={{@piece.file.extension}} />
      </div>
    </div>
  </div>

  {{!-- FOOTER
  <div class="auk-u-mt-auto">
    <div class="auk-panel__footer">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </div>
  </div>
  --}}
</div>