<Documents::DocumentList @pieces={{@pieces}} as |documents|>
  {{#each documents as |doc|}}
    <div class="vlc-procedure-step vlc-procedure-step--nopadding">
      <div class="vlc-procedure-step__badge-wrapper">
        <Auk::Badge
          @skin="primary"
          @size="medium"
          @icon="document"
          class="vlc-procedure-step__badge"
        />
      </div>
      <Documents::DocumentCardStep
        @piece={{doc}}
        @isHighlighted={{includes doc @highlightedPieces}}
        @hideNewerVersions={{false}}
        @didDeletePiece={{@didDeletePiece}}
        @didDeleteContainer={{@didDeleteContainer}}
        @onOpenUploadModal={{@onOpenUploadModal}}
        @hasMarkForSignature={{@hasMarkForSignature}}
        @markForSignature={{@markForSignature}}
        @unmarkForSignature={{@unmarkForSignature}}
        @onAddPiece={{@onAddPiece}}
      />
    </div>
  {{else}}
    <div class="vlc-procedure-step vlc-procedure-step--nopadding">
      <div class="vlc-procedure-step__badge-wrapper">
        <Auk::Badge
          @skin="default"
          @size="medium"
          @icon="circle-info"
          class="vlc-procedure-step__badge"
        />
      </div>
      <div>
        <p class="auk-u-m-4">
          {{t "no-documents-yet"}}
        </p>
      </div>
    </div>
  {{/each}}
</Documents::DocumentList>