<Auk::Sidebar
        @size="xlarge"
        @position="right"
        @skin="white"
        class="auk-u-pb-6"
>
  <Auk::Tabs>
    <Auk::Tab @onClick={{this.openDetails}} @active={{this.showDetails}}>{{t "detail"}}</Auk::Tab>
    <Auk::Tab @onClick={{this.openSignatures}} @active={{this.showSignatures}}>{{t "signatures"}}</Auk::Tab>
    <Auk::Tab @onClick={{this.openVersions}} @active={{this.showVersions}}>{{t "version"}}</Auk::Tab>
  </Auk::Tabs>

  {{!-- DETAILS --}}
  {{#if this.showDetails}}
    <div class="auk-u-m-4">
      <Auk::KeyValue @key={{t "document-name"}} @value={{@piece.name}} />
      {{#unless this.loadData.isRunning}}
        {{#if this.documentType}}
          <Auk::KeyValue
                  @key={{t "document-type"}}
                  @value={{this.documentType.label}}
          />
        {{/if}}
        {{#if @piece.accessLevel}}
          <Auk::KeyValue @key={{t "publicity"}}>
            <Utils::AccessLevelColorBadge @accessLevel={{this.accessLevel}} />
          </Auk::KeyValue>
        {{/if}}
      {{/unless}}
      <Auk::KeyValue @key={{capitalize (t "confidentiality")}}>
        <Utils::ConfidentialityPill @confidential={{@piece.confidential}} />
      </Auk::KeyValue>
      <div class="auk-key-value-item">
        <Auk::KeyValue @key={{t "file-type"}}>
          <Utils::Documents::FileTypePill @extension={{@piece.file.extension}} />
        </Auk::KeyValue>
      </div>
    </div>
  {{/if}}

  {{!-- SIGNATURES --}}
  {{#if this.showSignatures}}
  {{/if}}

  {{!-- VERSIONS --}}
  {{#if this.showVersions}}
    <div class="auk-u-m-4">
      {{#each this.docContainer.pieces as |piece|}}
        <Documents::VersionCard @piece={{piece}} />
      {{/each}}
      <div class="auk-u-mt-4">
        <Auk::Button
                @skin="tertiary"
                @icon="add"
        >
          {{t "new-version"}}
        </Auk::Button>
      </div>
    </div>
  {{/if}}

  {{!-- FOOTER
  <div class="auk-u-mt-auto">
    <div class="auk-panel__footer">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </div>
  </div>
  --}}
</Auk::Sidebar>