<li class="vlc-document-list__item">
  {{#if @isClickable}}
    <a
      data-test-document-badge-link
      class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center"
      href={{@piece.viewDocumentURL}} target="_blank" rel="noreferrer noopener"
    >
      <Auk::Icon @name={{this.documentIconName}} />
      <span>{{@piece.name}}</span>
      {{#if @isHighlighted}}
        <span class="auk-o-flex auk-o-flex--spaced auk-u-text-small auk-u-muted auk-u-text-nowrap auk-u-mr-2">
          <Auk::ColorBadge @skin="success" /> <span>{{t "util.new-document"}}</span>
        </span>
      {{/if}}
      {{#if (and @piece.confidential)}}
        {{#if @isFuture}}
        <Auk::Pill
          @skin="warning-future"
          @icon="lock-closed"
          data-test-agenda-overview-item-confidentiality-locked
        >
          {{t "confidential"}}
        </Auk::Pill>
        {{else}}
        <Auk::Pill
          @skin="warning"
          @icon="lock-closed"
          data-test-agenda-overview-item-confidentiality-locked
        >
          {{t "confidential"}}
        </Auk::Pill>
        {{/if}}
      {{/if}}
    </a>
  {{else}}
    <span>
      <Auk::Icon @name={{this.documentIconName}} />
      {{@piece.name}}
    </span>
  {{/if}}
</li>