<Documents::DocumentList
  @pieces={{@pieces}}
as |documents|>
  <ol class="vlc-numbered-list">
    {{#each documents as |doc|}}
      <li class="vlc-document-list__item">
        <Documents::DocumentBadge
          @doc={{doc}}
          @isShowingAccessLevel={{this.shouldShowAccessLevel (await doc.accessLevel)}}
          @agendaContext={{@agendaContext}}
          @isHighlighted={{includes doc @highlightedPieces}}
        />
      </li>
    {{/each}}
  </ol>
</Documents::DocumentList>