<Documents::DocumentList
  @pieces={{@pieces}}
as |documents|>
  <div class="grid-container">
    {{#each documents as |doc|}}
      <li class="vlc-document-list__item">
        <Documents::DocumentBadge
          @doc={{doc}}
          @accessLevel={{await doc.accessLevel}}
          @isShowingAccessLevel={{this.shouldShowAccessLevel (await doc.accessLevel)}}
          @isHighlighted={{includes doc @highlightedPieces}}
        />
      </li>
    {{/each}}
  </div>
</Documents::DocumentList>