<Documents::DocumentList @pieces={{@pieces}} as |documents|>
  {{#each documents as |doc|}}
    <div class="auk-u-mb-2">
      <Documents::DocumentCard
        @piece={{doc}}
        @agendaContext={{@agendaContext}}
        @isHighlighted={{includes doc @highlightedPieces}}
        @hideNewerVersions={{false}}
        @didDeleteContainer={{@didDeleteContainer}}
        @onOpenUploadModal={{@onOpenUploadModal}}
        @markForSignature={{@markForSignature}}
        @unmarkForSignature={{@unmarkForSignature}}
        @onAddPiece={{@onAddPiece}}
        @nameMockup={{@nameMockup}}
      />
    </div>
  {{else}}
    <div class="auk-u-mt-2">
      <WebComponents::VlAlert @message={{t "no-documents-yet"}} />
    </div>
  {{/each}}
</Documents::DocumentList>