<Auk::Modal @size="full-screen-padded">
  <Auk::Modal::Header
          @title={{@piece.name}}
          @onClose={{@onClose}}
  />
  <Auk::Modal::Body @noPadding={{true}}>
    <div class="auk-panel-layout">
      <div class="auk-panel-layout__main-content">
        {{#if @piece.confidential}}
          <Auk::Alert
                  @skin="warning"
                  @title={{t "document-is-confidential"}}
                  @message={{t "document-not-consultable"}}
          />
        {{else if this.fileFormatIsSupported}}
          <PdfView @filePath={{await @piece.downloadFileLink}}/>
        {{else}}
          <Auk::Alert
                  @skin="warning"
                  @title={{t "file-type-unsupported"}}
                  @message={{t "file-viewer-type-unsupported" fileType=@piece.file.extension}}
          />
        {{/if}}
      </div>
      <div class="auk-panel-layout__sidebar">
        <Documents::DocumentPreviewSidebar @piece={{@piece}}/>
      </div>
    </div>

  </Auk::Modal::Body>

</Auk::Modal>