<Auk::Sidebar
  @size="xlarge"
  @position="right"
  @skin="white"
  class="auk-u-pb-6 auk-o-flex auk-o-flex--vertical auk-scroll-wrapper"
>
  <Auk::Navbar>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Tabs>
            <Auk::Tab {{on "click" (fn this.setActiveTab "details")}} @active={{eq this.activeTab "details"}}>{{t
              "detail"}}</Auk::Tab>
            <Auk::Tab {{on "click" (fn this.setActiveTab "signatures")}} @active={{eq this.activeTab "signatures"}}>{{t
              "signatures"}}</Auk::Tab>
            <Auk::Tab {{on "click" (fn this.setActiveTab "versions")}} @active={{eq this.activeTab "versions"}}>{{t
              "version"}}</Auk::Tab>
          </Auk::Tabs>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Navbar>

  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    <div class="auk-u-m-4">
      {{!-- DETAILS --}}
      {{#if (eq this.activeTab "details")}}
        <Auk::KeyValue @key={{t "document-name"}} @value={{@piece.name}} />
        {{#unless this.loadData.isRunning}}
          {{#if this.documentType}}
            <Auk::KeyValue
              @key={{t "document-type"}}
              @value={{this.documentType.label}}
            />
          {{/if}}
          {{#if @piece.accessLevel}}
            <Auk::KeyValue @key={{t "publicity"}}>
              <Utils::AccessLevelColorBadge @accessLevel={{this.accessLevel}} />
            </Auk::KeyValue>
          {{/if}}
        {{/unless}}
        <Auk::KeyValue @key={{capitalize (t "confidentiality")}}>
          <Utils::ConfidentialityPill @confidential={{@piece.confidential}} />
        </Auk::KeyValue>
        <div class="auk-key-value-item">
          <Auk::KeyValue @key={{t "file-type"}}>
            <Utils::Documents::FileTypePill @extension={{@piece.file.extension}} />
          </Auk::KeyValue>
        </div>

      {{!-- SIGNATURES --}}
      {{else if (eq this.activeTab "signatures")}}

      {{!-- VERSIONS --}}
      {{else if (eq this.activeTab "versions")}}

        {{#each this.versionPieces as |versionPiece|}}
          <Documents::VersionCard @openVerify={{fn this.openVerify versionPiece}}  @lastPiece={{this.lastPiece}}
                                  @piece={{versionPiece}} @currentPiece={{@piece}}/>
        {{/each}}
      {{/if}}
    </div>
  </div>
  {{!-- FOOTER --}}
  <div class="auk-u-mt-auto">
    <div class="auk-panel__footer">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            {{#if  (eq this.activeTab "details")}}
              <Auk::Button
                @skin="tertiary"
                @icon="delete"
                {{on "click" (fn this.openVerify @piece)}}
              >
                {{t "document-delete"}}
              </Auk::Button>
            {{else if (eq this.activeTab "versions")}}
              <Auk::Button
                @skin="tertiary"
                @icon="add"
                {{on "click" this.openUploadVersionModal}}
              >
                {{t "new-version"}}
              </Auk::Button>
            {{/if}}
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </div>
  </div>

</Auk::Sidebar>

{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{this.cancelVerify}}
    @verify={{this.deletePiece}}
  />
{{/if}}

{{#if this.isOpenUploadVersionModal}}
  <Documents::NewVersionModal @onClose={{this.closeUploadVersionModal}} @onSave={{this.saveUploadVersionModal}}
                              @newVersionName={{this.newVersionName}}
  />
{{/if}}