<Documents::DocumentList @pieces={{@pieces}} as |documents|>
  {{#each documents as |doc|}}
    <div class="auk-u-mb-2">
      <Documents::DocumentCard
        @piece={{doc}}
        @agendaContext={{@agendaContext}}
        @agendaitem={{@agendaitem}}
        @isHighlighted={{includes doc @highlightedPieces}}
        @isEditable={{@isEditable}}
        @didDeleteContainer={{@didDeleteContainer}}
        @onOpenUploadModal={{@onOpenUploadModal}}
        @onAddPiece={{@onAddPiece}}
        @decisionActivity={{@decisionActivity}}
      />
    </div>
  {{else}}
    <div class="auk-u-mt-2">
      <AuAlert
        @skin="info"
        @icon="info-circle"
      >
        {{t "no-documents-yet"}}
      </AuAlert>
    </div>
  {{/each}}
</Documents::DocumentList>
