<div
  class="auk-u-mb-2
    {{if this.documentContainer.aboutToDelete "vlc-document--deleted-state"}}"
  {{did-update (perform this.loadPieceRelatedData) @piece}}
  {{did-update (perform this.loadPieceRelatedData) @documentContainer}}
  {{did-update (perform this.loadVersionHistory) this.documentContainer}}
>
  <div class="vlc-document-card" data-test-document-card>
    <div class="vlc-document-card__summary">
      <div class="vlc-document-card__content">
        <Auk::Toolbar @auto={{true}}>
          <Auk::Toolbar::Group @position="left">
            <Auk::Toolbar::Item>
              {{#if @isHighlighted}}
              <Auk::Badge @icon="document-added" @size="large" />
              {{else if @piece.confidential }}
              <Auk::Badge @icon="document" @size="large" />
              {{ else }}
              <Auk::Badge @icon="document" @size="large" />
              {{/if}}
            </Auk::Toolbar::Item>
            <Auk::Toolbar::Item class="auk-u-maximize-width">
              <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
                <p data-test-document-card-type class="vlc-subline">
                  {{#unless this.loadPieceRelatedData.isRunning}}
                    {{this.documentContainer.type.label}}
                  {{/unless}}
                </p>
                {{#if @isHighlighted}}
                  <p class="auk-u-text-small auk-u-muted auk-u-text-nowrap auk-u-mr-2">
                    <Auk::ColorBadge @skin="success" /> {{t "util.new-document"}}
                  </p>
                {{/if}}
              </div>
              {{#if this.isEditingPiece}}
              <div class="auk-o-flex auk-o-flex--vertical-center auk-u-maximize-width">
                <Auk::Input
                  data-test-document-card-name-input={{true}}
                  @block={{true}}
                  @value={{this.pieceNameBuffer}}
                />
                <Auk::Button
                  data-test-document-card-name-save={{true}}
                  @skin="tertiary"
                  @layout="icon-only"
                  @icon="check"
                  class="auk-button--tiny"
                  {{on "click" (perform this.savePieceName)}}
                />
                <Auk::Button
                  data-test-document-card-name-cancel={{true}}
                  @skin="tertiary"
                  @layout="icon-only"
                  @icon="x"
                  class="auk-button--tiny"
                  {{on "click" this.cancelEditPieceName}}
                />
              </div>
              {{else}}
                <h6 class="auk-h4" data-test-document-card-name-value>
                  {{! template-lint-disable no-invalid-interactive }}
                  <span {{on "click" this.showPieceViewer}}>
                    {{this.piece.name}}.{{#if (eq this.piece.file.extension "docx")}}pdf{{else}}{{this.piece.file.extension}}{{/if}}
                  </span>
                  {{! template-lint-enable no-invalid-interactive }}
                </h6>
              {{/if}}
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group>
          <Auk::Toolbar::Group @position="right">
            {{#if
              (and
                this.shouldShowPublications
                (not this.loadPieceRelatedData.isRunning)
                (not this.loadPublicationFlowRelatedData.isRunning)
              )
            }}
              {{! trigger fetch }}
              {{#if this.piece.publicationFlow}}
                {{! TODO: remove style attributes and replace classes with auk-status-pill }}
                {{! template-lint-disable no-inline-styles }}
                <LinkTo
                  class="auk-pill auk-pill--action"
                  @route="publications.publication"
                  @model={{this.piece.publicationFlow.id}}
                >
                  <Auk::Icon @name="link" style="display: none;" />
                  <span class="auk-status-pill__label" style="padding: 0;">
                    {{this.piece.publicationFlow.identification.idName}}
                  </span>
                </LinkTo>
                {{! template-lint-enable no-inline-styles }}
              {{/if}}
            {{/if}}
            <Auk::Toolbar::Item class="auk-o-flex">
              {{#unless this.loadPieceRelatedData.isRunning}}
                <AccessLevelPill
                  @accessLevel={{this.accessLevel}}
                  @confidential={{this.piece.confidential}}
                  @onChangeAccessLevel={{this.changeAccessLevel}}
                  @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                  @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                  @onChangeConfidentiality={{this.changeConfidentiality}}
                  @isDesignAgenda={{@isDesignAgenda}}
                  @isNew={{@isNew}}
                  @isFinal={{@isFinal}}
                />
              {{/unless}}
            </Auk::Toolbar::Item>
            {{#if (eq @isFinal false)}}
            {{#if
              (and
                @hasMarkForSignature
                (not this.loadSignatureRelatedData.isRunning)
                (not this.loadPieceRelatedData.isRunning)
              )
            }}
              <Auk::Toolbar::Item>
                <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--center">
                  <Auk::Toggle
                    id="signatureToggle"
                    @checked={{if this.signMarkingActivity true false}}
                    {{on "click" (perform this.markOrUnmarkForSignature)}}
                  />
                  <label for="signatureToggle" class="auk-c-toggle-label auk-u-muted">
                    {{#if this.markOrUnmarkForSignature.isRunning}}
                    <Auk::Loader />
                    {{else}}
                    Te handtekenen
                    {{/if}}
                  </label>
                </div>
              </Auk::Toolbar::Item>
            {{/if}}
            <Auk::Toolbar::Item>
              {{#if this.currentSession.isEditor}}
                <DropdownMenu
                  @skin="borderless"
                  @icon="three-dots"
                  data-test-document-card-actions={{true}}
                  as |Menu|
                >
                  {{#if @uploadTranslation}}
                  <Menu.Item
                  >
                    Vertaling aanvragen
                  </Menu.Item>
                  {{/if}}
                  <Menu.Item
                    data-test-document-upload-new-piece
                    {{on "click" this.openUploadModal}}
                  >
                    {{t "new-version"}}
                  </Menu.Item>
                  <Menu.Item {{on "click" this.enableEditPieceName}}>
                    {{t "document-title-edit"}}
                  </Menu.Item>
                  <Menu.Divider />
                  <Menu.Item
                    @skin="danger"
                    data-test-document-card-delete
                    {{on "click" this.deleteDocumentContainer}}
                  >
                    {{t "document-delete"}}
                  </Menu.Item>
                </DropdownMenu>
              {{/if}}
            </Auk::Toolbar::Item>
            {{/if}}
          </Auk::Toolbar::Group>
        </Auk::Toolbar>
        <div class="auk-o-flex">
          <div
            class="auk-o-flex auk-o-flex--vertical vlc-u-box-model-maximize-width"
          >
            <div class="vlc-document-card-content__meta auk-u-mt-2">
              {{! no piece.created in legacy data }}
              {{! TODO: when created date is absent, the layout seems irregular
                    this will be addressed with new document card styling }}
              <div>
                {{#if this.piece.created}}
                  {{t "uploaded-at"}}
                  {{moment-format this.piece.created}}
                  {{t "at"}}
                  {{moment-format this.piece.created "HH:mm"}}
                  {{#if (eq this.piece.file.extension "docx")}}
                    als <a href="#!">Word document</a>
                  {{/if}}
                {{/if}}
              </div>
              {{#if this.piece.accessLevelLastModified}}
                <div>
                  {{t "access-level-last-modified"}}
                  {{moment-format this.piece.accessLevelLastModified}}
                  {{t "at"}}
                  {{moment-format this.piece.accessLevelLastModified "HH:mm"}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if (await this.showPieces)}}
    <div class="vlc-document-card-versions">
      <Auk::Accordion>
        <Auk::Accordion::Item
          @title="Vorige versies"
          @disabled={{this.loadPieceRelatedData.isRunning}}
          @expandTask={{this.loadVersionHistory}}
          data-test-document-card-version-history
        >
          {{#if this.loadVersionHistory.isRunning}}
            <div class="auk-u-p-3">
              <Auk::Loader />
            </div>
          {{else}}
            {{#each this.visiblePieces as |piece|}}
              {{! TODO: also disable delete when piece linked to other agenda-items while maintaining DDAU }}
              {{#if (eq piece.name this.piece.name)}}
              {{else}}
              <WebComponents::VlDocument
                @piece={{piece}}
                @enableDelete={{eq piece @piece}}
                @didDeletePiece={{@didDeletePiece}}
                @didUpdateAccessLevel={{perform this.loadPieceRelatedData}}
                @isDesignAgenda={{@isDesignAgenda}}
                @isNew={{false}}
                @isFinal={{@isFinal}}
                @isVersion={{true}}
              />
              {{/if}}
            {{/each}}
          {{/if}}
        </Auk::Accordion::Item>
      </Auk::Accordion>
    </div>
    {{/if}}
  </div>
</div>

{{#if this.isOpenUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadPiece}}
    @isOverlay={{true}}
    @title={{t "new-document-piece"}}
  >
    <Auk::Modal::Body>
      {{#if this.newPiece}}
        <Auk::Label>{{t "name"}}</Auk::Label>
        <Auk::Input @block={{true}} @value={{this.newPiece.name}} />
        <Documents::UploadedDocument
          @piece={{this.newPiece}}
          @onDelete={{perform this.deleteUploadedPiece}}
        />
      {{else}}
        <FileUploader
          @multipleFiles={{false}}
          @uploadedFileAction={{perform this.uploadPiece}}
        />
        <br/>
        <Auk::Alert @message="Indien beschikbaar, gelieve het originele Word bestand op te laden." />
      {{/if}}
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @isLoading={{this.addPiece.isRunning}}
      @cancelAction={{perform this.cancelUploadPiece}}
      @saveAction={{perform this.addPiece}}
      @disableSave={{not this.newPiece}}
    />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{this.cancelDeleteDocumentContainer}}
    @verify={{this.verifyDeleteDocumentContainer}}
  />
{{/if}}