<div
  class="vlc-document-card {{if (not this.bordered) 'vlc-document-card--borderless'}} {{if this.documentContainer.aboutToDelete 'vlc-document--deleted-state'}}"
  {{did-update (perform this.loadPieceRelatedData) @piece}}
  {{did-update (perform this.loadPieceRelatedData) @documentContainer}}
  data-test-document-card
>
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__content">
      <Auk::Toolbar @auto={{true}} as |Toolbar|>
        <Toolbar.Group @position="left" as |Group|>
          <Group.Item>
            {{#if @isHighlighted}}
              <Auk::Badge @skin="success" @icon="document-added" @size="large" />
            {{else}}
              <Auk::Badge @icon="document" @size="large" />
            {{/if}}
          </Group.Item>
          <Group.Item class="auk-u-maximize-width">
            <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--spaced">
              <span data-test-document-card-type class="auk-overline">
                {{#unless this.loadPieceRelatedData.isRunning}}
                  {{this.documentContainer.type.label}}
                {{/unless}}
              </span>
            </div>
            <LinkTo @route="document" @model={{this.piece.id}}
              class="auk-h4" data-test-document-card-name-value>
              {{this.piece.name}}{{#if this.piece.file}}.{{this.piece.file.extension}}{{/if}}
            </LinkTo>
            <div class="vlc-document-card-content__meta">
              {{! no piece.created in legacy data }}
              {{#if this.piece.created}}
                {{t "uploaded-at"}}
                {{moment-format this.piece.created}}
                {{t "at"}}
                {{moment-format this.piece.created "HH:mm"}}
              {{/if}}
            </div>
          </Group.Item>
        </Toolbar.Group>
        <Toolbar.Group @position="right" as |Group|>
          {{#if
            (and
              (user-may "manage-publication-flows")
              (not this.loadPieceRelatedData.isRunning)
              (not this.loadPublicationFlowRelatedData.isRunning)
            )
          }}
            {{#if this.piece.publicationFlow}}
              <AuPill
                @size="small"
                @route="publications.publication"
                @model={{this.piece.publicationFlow.id}}
                data-test-document-card-publication-link
              >
                {{this.piece.publicationFlow.identification.idName}}
              </AuPill>
            {{/if}}
          {{/if}}
          <Group.Item class="auk-o-flex">
            {{#unless this.loadPieceRelatedData.isRunning}}
              <div class="auk-o-flex auk-o-flex--vertical-center">
                <AccessLevelPill
                  @accessLevel={{this.accessLevel}}
                  @isEditable={{true}}
                  @onChangeAccessLevel={{this.changeAccessLevel}}
                  @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                  @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                />
              </div>
            {{/unless}}
          </Group.Item>
          {{#if this.signaturesEnabled}} {{! feature flag }}
            {{#if
              (and
                (user-may "manage-signatures")
                (not this.loadSignatureRelatedData.isRunning)
                (not this.loadPieceRelatedData.isRunning)
              )
            }}
              <Group.Item>
                <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--center">
                  <Auk::Toggle
                    id="signatureToggle"
                    @checked={{if this.signMarkingActivity true false}}
                    {{on "click" (perform this.markOrUnmarkForSignature)}}
                  />
                  <label for="signatureToggle" class="auk-c-toggle-label auk-u-text-muted">
                    {{#if this.markOrUnmarkForSignature.isRunning}}
                      <Auk::Loader />
                    {{else}}
                      Te handtekenen
                    {{/if}}
                  </label>
                </div>
              </Group.Item>
            {{/if}}
          {{/if}}
          {{#if (user-may "manage-documents")}}
            <Group.Item>
              <Auk::DropdownMenu
                @skin="borderless"
                @icon="three-dots"
                @disabled={{this.loadPieceRelatedData.isRunning}}
                data-test-document-card-actions={{true}}
                as |Menu|
              >
                <Menu.Item
                  data-test-document-upload-new-piece
                  {{on "click" this.openUploadModal}}
                >
                  {{t "new-version"}}
                </Menu.Item>
                <Menu.Item {{on "click" this.enableEditPieceName}}>
                  {{t "edit"}}
                </Menu.Item>
                <Menu.Divider />
                <Menu.Item
                  @skin="danger"
                  data-test-document-card-delete
                  {{on "click" this.deleteDocumentContainer}}
                >
                  {{t "document-delete"}}
                </Menu.Item>
              </Auk::DropdownMenu>
            </Group.Item>
          {{/if}}
        </Toolbar.Group>
      </Auk::Toolbar>
    </div>
  </div>
  {{#if (user-may "view-document-version-info")}}
    {{#if (gt this.visiblePieces.length 0)}}
      <div class="vlc-document-card-versions">
        <Auk::Accordion>
          <Auk::Accordion::Item
            @title={{t "previous-versions"}}
            @disabled={{this.loadPieceRelatedData.isRunning}}
            @expandTask={{this.loadVersionHistory}}
            data-test-document-card-version-history
          >
            {{#if this.loadVersionHistory.isRunning}}
              <div class="auk-u-p-3">
                <Auk::Loader />
              </div>
            {{else}}
              {{#each this.visiblePieces as |piece|}}
                <div
                  class="vlc-document-holder"
                  {{did-update (perform this.loadPieceRelatedData) piece}}
                >
                  <div class="vlc-document-card-item" data-test-vl-document-piece>
                    <div class="vlc-document-card-item__title">
                      {{#if piece.file}}
                        <LinkTo @route="document" @model={{piece.id}}
                          class="auk-h4 auk-u-m-0 auk-u-mr-4 vlc-document-card-item__title-link"
                          data-test-vl-document-name>
                          {{piece.name}}{{#if piece.file}}.{{piece.file.extension}}{{/if}}
                        </LinkTo>
                      {{else}}
                        <h6
                          class="auk-h4 auk-u-m-0 auk-u-mr-4 vlc-document-card-item__title-link"
                          data-test-vl-document-name
                        >
                          <EmberTooltip @side="bottom" @tooltipClass="auk-tooltip">
                            {{t "document-not-consultable"}}
                          </EmberTooltip>
                          {{piece.name}}{{#if piece.file}}.{{piece.file.extension}}{{/if}}
                        </h6>
                      {{/if}}
                      <div class="auk-o-flex auk-o-flex--spaced auk-o-flex--vertical-center"></div>
                    </div>
                    <div class="vlc-document-card-item__meta au-u-muted">
                      {{!-- no piece.created in legacy data --}}
                      {{#if this.piece.created}}
                        {{t "uploaded-at"}}
                        {{moment-format this.piece.created}}
                        {{t "at"}}
                        {{moment-format this.piece.created "HH:mm"}}
                      {{/if}}
                    </div>
                    <div class="vlc-document-card-item__icon">
                      <Auk::Icon @name="clock-rewind" @size="small" />
                    </div>
                  </div>
                </div>
              {{/each}}
            {{/if}}
          </Auk::Accordion::Item>
        </Auk::Accordion>
      </div>
    {{/if}}
  {{/if}}
</div>
{{#if this.isEditingPiece}}
  <WebComponents::VlModal
    @closeModal={{this.cancelEditPieceName}}
    @isOverlay={{true}}
    @title={{t "modify-document"}}
  >
    <Auk::Modal::Body>
      <AuCard
        @flex={{true}}
        @size="small"
        as |c|
      >
        <c.header
          @badgeIcon={{if (eq this.piece.file.extension "pdf") "pdf" "document"}}
        >
          <p data-test-document-card-type class="vlc-subline au-u-medium au-u-muted">
            {{uppercase this.piece.file.extension}}
          </p>
          <div class="au-u-flex au-u-flex--spaced-small">
            <Auk::Input
              data-test-document-card-name-input={{true}}
              @block={{true}}
              @value={{this.pieceNameBuffer}}
            />
          </div>
          {{#if this.piece.created}}
            <AuHelpText @skin="secondary">
              {{t "uploaded-at"}}
              {{moment-format this.piece.created}}
              {{t "at"}}
              {{moment-format this.piece.created "HH:mm"}}
            </AuHelpText>
          {{/if}}
        </c.header>
      </AuCard>
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "save"}}
      @cancelAction={{this.cancelEditPieceName}}
      @saveAction={{perform this.savePieceName}}
    />
  </WebComponents::VlModal>
{{/if}}

{{#if this.isOpenUploadModal}}
  <WebComponents::VlModal
    @closeModal={{perform this.cancelUploadPiece}}
    @isOverlay={{true}}
    @title={{t "new-document-piece"}}
  >
    <Auk::Modal::Body>
      {{#if this.newPiece}}
        <Auk::Label>{{t "name"}}</Auk::Label>
        <Auk::Input @block={{true}} @value={{this.newPiece.name}} />
        <Documents::UploadedDocument
          @piece={{this.newPiece}}
          @onDelete={{perform this.deleteUploadedPiece}}
        />
      {{else}}
        <Auk::FileUploader @onUpload={{perform this.uploadPiece}} />
      {{/if}}
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "add"}}
      @isLoading={{this.addPiece.isRunning}}
      @cancelAction={{perform this.cancelUploadPiece}}
      @saveAction={{perform this.addPiece}}
      @disableSave={{not this.newPiece}}
    />
  </WebComponents::VlModal>
{{/if}}
{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{this.cancelDeleteDocumentContainer}}
    @verify={{this.verifyDeleteDocumentContainer}}
  />
{{/if}}