<Auk::Sidebar
          @size="xlarge"
          @position="right"
          @skin="gray-100"
          class="auk-u-pb-6"
  >
    {{!-- DETAILS --}}
  <div class="auk-u-m-4">
    <Auk::KeyValue @key={{t "document-name"}} @value={{@piece.name}}/>
    {{#unless this.loadData.isRunning}}
      {{#if this.documentType}}
        <Auk::KeyValue @key={{t "document-type"}} @value={{this.documentType.label}}/>
      {{/if}}
      {{#if @piece.accessLevel}}
        <Auk::KeyValue @key={{t "publicity"}}>
          <Auk::ColorBadge @skin={{this.accessPillSkin}}/>
          <span>{{@piece.accessLevel.label}}</span>
        </Auk::KeyValue>
      {{/if}}
    {{/unless}}
    <Auk::KeyValue @key={{capitalize (t "confidentiality")}}>
      {{#if @piece.confidential}}
        <Auk::Pill @skin="danger" @layout="icon-only" @icon="lock-closed"/>
      {{else}}
        <Auk::Pill @skin="success" @layout="icon-only" @icon="lock-open"/>
      {{/if}}
    </Auk::KeyValue>
    <div class="auk-key-value-item">
      <Auk::KeyValue @key={{t "file-type"}}>
        <Utils::Documents::FileTypePill @extension={{@piece.file.extension}} />
      </Auk::KeyValue>
    </div>
  </div>

  {{!-- FOOTER
  <div class="auk-u-mt-auto">
    <div class="auk-panel__footer">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </div>
  </div>
  --}}
</Auk::Sidebar>