<Auk::Sidebar
  @size="xlarge"
  @position="right"
  @skin="white"
  class="auk-u-pb-6 auk-o-flex auk-o-flex--vertical auk-scroll-wrapper"
>
  <Auk::Navbar>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <Auk::Tabs>
            <Auk::Tab {{on "click" (fn this.setActiveTab "details")}} @active={{eq this.activeTab "details"}}>{{t
              "detail"}}</Auk::Tab>
            <Auk::Tab {{on "click" (fn this.setActiveTab "signatures")}} @active={{eq this.activeTab "signatures"}}>{{t
              "signatures"}}</Auk::Tab>
            <Auk::Tab {{on "click" (fn this.setActiveTab "versions")}} @active={{eq this.activeTab "versions"}}>{{t
              "version"}}</Auk::Tab>
          </Auk::Tabs>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Navbar>

  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    <div class="auk-u-m-4">
      {{!-- DETAILS --}}
      {{#if (eq this.activeTab "details")}}
          <Auk::KeyValue @key={{t "document-name"}} >
            {{#if this.isEditingDetails}}
              <Textarea
                aria-labelledby="piece-name"
                class="auk-textarea"
                @value={{mut @piece.name}}
              />
            {{else}}
              {{@piece.name}}
            {{/if}}
          </Auk::KeyValue>
        {{#unless this.loadData.isRunning}}
          {{#if (or this.documentType this.isEditingDetails)}}
              <Auk::KeyValue
                @key={{t "document-type"}} >
                {{#if this.isEditingDetails}}

                {{else}}
                  {{this.documentType.label}}
                {{/if}}
              </Auk::KeyValue>
          {{/if}}
          {{#if (or @piece.accessLevel this.isEditingDetails)}}
              <Auk::KeyValue @key={{t "publicity"}}>
                <Utils::AccessLevelColorBadge @accessLevel={{this.accessLevel}} @editingEnabled={{this.isEditingDetails}} @changeAccessLevel={{this.changeAccessLevel}} />
              </Auk::KeyValue>
          {{/if}}
        {{/unless}}
          <Auk::KeyValue @key={{capitalize (t "confidentiality")}}>
            <Utils::ConfidentialityPill @confidential={{@piece.confidential}} @editingEnabled={{this.isEditingDetails}}/>
          </Auk::KeyValue>
          <div class="auk-key-value-item">
            <Auk::KeyValue @key={{t "file-type"}}>
              <Utils::Documents::FileTypePill @extension={{@piece.file.extension}} />
            </Auk::KeyValue>
          </div>

        {{#if this.currentSessionService.isEditor}}
            <div class="auk-u-mt-4">
              <Auk::Toolbar>
                <Auk::Toolbar::Group @position="left">
                  <Auk::Toolbar::Item>
                    {{#if this.isEditingDetails}}
                      <Auk::Button
                        @skin="tertiary"
                        @disabled={{this.saveEditDetails.isRunning}}
                        {{on "click" this.cancelEditDetails}}
                      >
                        {{t "cancel"}}
                      </Auk::Button>
                    {{else}}
                      <Auk::Button
                        @skin="tertiary"
                        @icon="edit"
                        {{on "click" this.openEditDetails}}
                      >
                        {{t "document-edit"}}
                      </Auk::Button>
                    {{/if}}
                  </Auk::Toolbar::Item>
                </Auk::Toolbar::Group>
                {{#if this.isEditingDetails}}
                  <Auk::Toolbar::Group @position="right">
                    <Auk::Toolbar::Item>
                      <Auk::Button
                        @skin="primary"
                        @loading={{this.saveEditDetails.isRunning}}
                        {{on "click"  (perform this.saveEditDetails)}}
                      >
                        {{t "save"}}
                      </Auk::Button>
                    </Auk::Toolbar::Item>
                  </Auk::Toolbar::Group>
                {{/if}}
              </Auk::Toolbar>
            </div>

      {{!-- SIGNATURES --}}
      {{else if (eq this.activeTab "signatures")}}

      {{!-- VERSIONS --}}
      {{else if (eq this.activeTab "versions")}}

        {{#each this.versionPieces as |versionPiece|}}
          <Documents::VersionCard @openVerify={{fn this.openVerify versionPiece}}  @lastPiece={{this.lastPiece}}
                                  @piece={{versionPiece}} @currentPiece={{@piece}}/>
        {{/each}}
      {{/if}}
    </div>
  </div>
  {{!-- FOOTER --}}
  <div class="auk-u-mt-auto">
    <div class="auk-panel__footer">
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="right">
          <Auk::Toolbar::Item>
            {{#if  (eq this.activeTab "details")}}
              <Auk::Button
                @skin="tertiary"
                @icon="delete"
                {{on "click" (fn this.openVerify @piece)}}
              >
                {{t "document-delete"}}
              </Auk::Button>
            {{else if (eq this.activeTab "versions")}}
              <Auk::Button
                @skin="tertiary"
                @icon="add"
                {{on "click" this.openUploadVersionModal}}
              >
                {{t "new-version"}}
              </Auk::Button>
            {{/if}}
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </div>
  </div>

</Auk::Sidebar>

{{#if this.isVerifyingDelete}}
  <WebComponents::VlModalVerify
    @title={{t "document-delete"}}
    @message={{t "delete-document-message"}}
    @cancel={{this.cancelVerify}}
    @verify={{this.deletePiece}}
  />
{{/if}}

{{#if this.isOpenUploadVersionModal}}
  <Documents::NewVersionModal @onClose={{this.closeUploadVersionModal}} @onSave={{this.saveUploadVersionModal}}
                              @newVersionName={{this.newVersionName}}
  />
{{/if}}