{{#if @file}}
  {{#if this.isPdfDocument}}
    <object
      type="application/pdf"
      data={{@file.inlineViewLink}}
      class="pdf-view"
    >
    </object>
  {{else}}
    <div class="auk-u-p-4">
      <AuAlert
        @skin="warning"
        @icon="alert-triangle"
        @title={{t "file-type-unsupported"}}
      >
        <p>
          {{t "file-viewer-type-unsupported" fileType=@file.extension}}
        </p>
      </AuAlert>
    </div>
  {{/if}}
{{else}}
  <div class="auk-u-p-4">
    <AuAlert
      @skin="warning"
      @icon="alert-triangle"
      @title={{t "document-unauthorized"}}
    >
      <p>{{t "document-unauthorized-message"}}</p>
    </AuAlert>
  </div>
{{/if}}
