<tr>
  <td class="auk-u-flex vlc-document-list__item">
    <div class="auk-badge auk-badge--medium auk-badge--default">
      <div class="auk-icon auk-icon--default">
        <i class="ki ki-document"></i>
      </div>
    </div>
    <p>
      {{@piece.name}}
    </p>
  </td>
  <td>
    {{utils/model-selector
      data-test-document-type=true
      modelName="document-type"
      searchField="label"
      propertyToShow="label"
      sortField="priority"
      selectedItems=this.documentContainer.type
      selectModel=(fn this.selectDocumentType)
    }}
  </td>
  <td>
    {{utils/model-selector
      data-test-document-accesslevel=true
      modelName="access-level"
      searchField="label"
      allowClear=true
      propertyToShow="label"
      readOnly=@piece.confidential
      sortField="label"
      selectedItems=@piece.accessLevel
      selectModel=(fn this.selectAccessLevel)
    }}
  </td>
  <td>
    {{web-components/vl-toggle
      value=(mut @piece.confidential)
    }}
  </td>
  <td class="auk-u-text-align--right">
    <button type="button" class="auk-button auk-button--borderless"
      {{on "click" this.softDelete}}
    >
      <i class="ki-delete" aria-hidden="true"></i>
      <div class="auk-u-sr-only">
        {{t "delete"}}
      </div>
    </button>
  </td>
</tr>
