<tr>
  <td class="auk-o-flex auk-o-flex--vertical-center">
    <Auk::Badge
      @size="medium"
      @icon="document"
      class="auk-u-mr-2"
    />
    <h4 class="auk-h4 auk-u-m-0">
      {{@piece.name}}
    </h4>
  </td>
  <td>
    {{utils/model-selector
      data-test-edit-document-row-type=true
      modelName="document-type"
      searchField="label"
      propertyToShow="label"
      sortField="priority"
      selectedItems=this.documentContainer.type
      selectModel=(fn this.selectDocumentType)
    }}
  </td>
  <td>
    {{utils/model-selector
      data-test-edit-document-row-access-level=true
      modelName="access-level"
      searchField="label"
      allowClear=true
      propertyToShow="label"
      readOnly=@piece.confidential
      sortField="label"
      selectedItems=@piece.accessLevel
      selectModel=(fn this.selectAccessLevel)
    }}
  </td>
  <td>
    {{web-components/vl-toggle
      value=(mut @piece.confidential)
    }}
  </td>
  <td class="auk-u-text-align--right">
    <button type="button" class="auk-button auk-button--borderless"
      {{on "click" this.softDelete}}
    >
      <span class="auk-button__content">
        <i class="ki-delete" aria-hidden="true"></i>
        <div class="auk-u-sr-only">
          {{t "delete"}}
        </div>
      </span>
    </button>
  </td>
</tr>
