<div class="vlc-document-card auk-u-mb-2" data-test-document-card>
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__badge">
      <div class="auk-badge auk-badge--default auk-badge--medium">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-document"></i>
        </div>
      </div>
    </div>
    <div class="vlc-document-card__content">
      <div class="auk-toolbar-complex auk-toolbar-complex--auto">
        <div class="auk-toolbar-complex__left">
          <div class="auk-toolbar-complex__item">
            <p class="vlc-subline" data-test-linkeddocument-type-label>
              {{@documentContainer.type.label}}
            </p>
          </div>
        </div>
        <div class="vlc-document-card-toolbar__right">
          <div class="auk-toolbar-complex__item">
            {{#if this.lastPiece}}
              <AccessLevelPill
                @accessLevel={{this.accessLevel}}
                @confidential={{this.lastPiece.confidential}}
                @onChangeAccessLevel={{this.changeAccessLevel}}
                @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                @onChangeConfidentiality={{this.changeConfidentiality}}
              />
            {{/if}}
          </div>
          <div class="auk-toolbar-complex__item">
            {{#if currentSession.isEditor}}
              <button class="auk-button auk-button--muted-borderless auk-button--icon"
                type="button"
                {{on "click" this.deletePieceLink}}
              >
                <span class="auk-button__content">
                  <Auk::Icon @name="link-broken" @skin="danger" />
                </span>
              </button>
            {{/if}}
          </div>
        </div>
      </div>
      <h6 class="auk-h4">
        {{this.lastPiece.name}}
      </h6>
      <div class="vlc-document-card-content__meta">
        {{t "uploaded-at"}}
        {{moment-format this.lastPiece.created}}
        {{t "at"}}
        {{moment-format this.lastPiece.created "HH:mm"}}
      </div>
    </div>
  </div>
  {{#if this.reverseSortedPieces.length}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{if this.isExpandedVersionHistory "js-vl-accordion--open"}}">
        <Auk::Button
          @skin="borderless"
          @icon={{if this.isExpandedVersionHistory "chevron-down" "chevron-right"}}
          data-test-linked-document-version-history
          {{on "click" this.toggleVersionHistory}}
        >
          {{t "show-pieces"}}
        </Auk::Button>
        {{#if this.isExpandedVersionHistory}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each this.reverseSortedPieces as |piece|}}
                <WebComponents::VlDocument
                  @piece={{piece}}
                  @didUpdateAccessLevel={{perform this.loadData}}
                />
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-unlink"}}
    @message={{t "unlink-document-message"}}
    @cancel={{this.cancelDeletePieceLink}}
    @verify={{this.verifyDeletePieceLink}}
    @verifyButtonText={{t "unlink"}} />
{{/if}}