<div {{did-update (perform this.loadData) @agendaitemOrSubcase}}>
  <div class="auk-u-mb-4">
    <div class="auk-o-flex auk-o-flex--vertical-center">
      <h4 class="auk-h3 auk-u-m-0">
        {{t "linked-documents"}}
      </h4>
    </div>
  </div>
  {{#unless this.loadData.isRunning}}
    <Documents::LinkedDocumentList
      @linkedPieces={{this.linkedPieces}}
      @onUnlinkDocumentContainer={{perform this.unlinkDocumentContainer}} />
  {{/unless}}
  {{#if this.currentSession.isEditor}}
    <div class="auk-u-mb-4">
      <Auk::Button
        @skin="tertiary"
        @icon="add"
        {{on "click" this.openLinkedPieceModal}}
        data-test-linked-documents-add
      >
        {{t "document-link-old"}}
      </Auk::Button>
    </div>
  {{/if}}
</div>

{{#if this.isOpenLinkedPieceModal}}
  <WebComponents::VlModal
    @closeModal={{fn this.cancelLinkPieces}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-link-old"}} >
    <div class="auk-modal__body">
      <div class="auk-u-p-4">
        <Utils::AddExistingPiece
          @add={{fn this.linkPiece}}
          @delete={{fn this.unlinkPiece}} />
      </div>
    </div>
    <WebComponents::VlModalFooter
      @isLoading={{this.saveLinkedPieces.isRunning}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "document-link-old"}}
      @cancelAction={{fn this.cancelLinkPieces}}
      @saveAction={{perform this.saveLinkedPieces}}
      @disableSave={{eq this.newLinkedPieces.length 0}} />
  </WebComponents::VlModal>
{{/if}}