<div {{did-update (perform this.loadData) @agendaitemOrSubcase}}>
  <div class="auk-u-mb-4">
    <div class="auk-o-flex auk-o-flex--vertical-center">
      <h4 class="auk-h3 auk-u-m-0">
        {{t "linked-documents"}}
      </h4>
    </div>
  </div>
  {{#unless this.loadData.isRunning}}
    <Documents::LinkedDocumentList
      @linkedPieces={{this.linkedPieces}}
      @onUnlinkDocumentContainer={{perform this.unlinkDocumentContainer}} />
  {{/unless}}
  {{#if (user-may "manage-documents")}}
    <div class="auk-u-mb-4">
      <Auk::Button
        @skin="tertiary"
        @icon="plus"
        {{on "click" this.openLinkedPieceModal}}
        data-test-linked-documents-add
      >
        {{t "document-link-old"}}
      </Auk::Button>
    </div>
  {{/if}}
</div>

{{#if this.isOpenLinkedPieceModal}}
  <WebComponents::VlModal
    @closeModal={{this.cancelLinkPieces}}
    @isOverlay={{true}}
    @large={{true}}
    @title={{t "document-link-old"}} >
    <Auk::Modal::Body>
      <Utils::AddExistingPiece
        @add={{this.linkPiece}}
        @delete={{this.unlinkPiece}}
      />
    </Auk::Modal::Body>
    <WebComponents::VlModalFooter
      @isLoading={{this.saveLinkedPieces.isRunning}}
      @cancelButtonText={{t "cancel"}}
      @saveButtonText={{t "document-link-old"}}
      @cancelAction={{this.cancelLinkPieces}}
      @saveAction={{perform this.saveLinkedPieces}}
      @disableSave={{eq this.newLinkedPieces.length 0}} />
  </WebComponents::VlModal>
{{/if}}