<div class="vlc-document-card auk-u-mb-2" data-test-linked-document-link-card>
  <div class="vlc-document-card__summary">
    <div class="auk-u-mr-3">
      <Auk::Badge @icon="document" @size="large"/>
    </div>
    <div class="vlc-document-card__content">
      <Auk::Toolbar @auto={{true}}>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <p class="vlc-subline" data-test-linked-document-link-type-label>
              {{@documentContainer.type.label}}
            </p>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
        <div class="vlc-document-card-toolbar__right">
          <Auk::Toolbar::Item>
            {{#if this.lastPiece}}
              <AccessLevelPill
                @accessLevel={{this.accessLevel}}
                @confidential={{this.lastPiece.confidential}}
                @onChangeAccessLevel={{this.changeAccessLevel}}
                @onConfirmChangeAccessLevel={{this.saveAccessLevel}}
                @onCancelChangeAccessLevel={{this.reloadAccessLevel}}
                @onChangeConfidentiality={{this.changeConfidentiality}}
              />
            {{/if}}
          </Auk::Toolbar::Item>
          <Auk::Toolbar::Item>
            {{#if currentSession.isEditor}}
              <Auk::Button
                @skin="danger-borderless"
                @layout="icon-only"
                @icon="link-broken"
                {{on "click" this.deletePieceLink}}
              />
            {{/if}}
          </Auk::Toolbar::Item>
        </div>
      </Auk::Toolbar>
      <h6 class="auk-h4">
        {{this.lastPiece.name}}
      </h6>
      <div class="vlc-document-card-content__meta">
        {{t "uploaded-at"}}
        {{moment-format this.lastPiece.created}}
        {{t "at"}}
        {{moment-format this.lastPiece.created "HH:mm"}}
      </div>
    </div>
  </div>
  {{#if this.reverseSortedPieces.length}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{if this.isExpandedVersionHistory "js-vl-accordion--open"}}">
        <Auk::Button
          @skin="borderless"
          @icon={{if this.isExpandedVersionHistory "chevron-down" "chevron-right"}}
          data-test-linked-document-link-version-history
          {{on "click" this.toggleVersionHistory}}
        >
          {{t "show-pieces"}}
        </Auk::Button>
        {{#if this.isExpandedVersionHistory}}
          <div class="vl-accordion__content js-vl-accordion__content">
            <div class="vl-accordion__panel">
              {{#each this.reverseSortedPieces as |piece|}}
                <WebComponents::VlDocument
                  @piece={{piece}}
                  @didUpdateAccessLevel={{perform this.loadData}}
                />
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{#if this.isOpenVerifyDeleteModal}}
  <WebComponents::VlModalVerify
    @title={{t "document-unlink"}}
    @message={{t "unlink-document-message"}}
    @cancel={{this.cancelDeletePieceLink}}
    @verify={{this.verifyDeletePieceLink}}
    @verifyButtonText={{t "unlink"}} />
{{/if}}