<div {{did-update (perform this.loadData) @agendaitemOrSubcase}}>
  <div class="auk-u-mb-4">
    <div class="auk-o-flex auk-o-flex--vertical-center">
      <h4 class="auk-h3 auk-u-m-0">
        {{t "linked-documents"}}
      </h4>
    </div>
  </div>
  {{#unless this.loadData.isRunning}}
    <Documents::LinkedDocumentList
      @linkedPieces={{this.linkedPieces}}
      @onUnlinkDocumentContainer={{perform this.unlinkDocumentContainer}} />
  {{/unless}}
  {{#if (user-may "manage-documents")}}
    <div class="auk-u-mb-4">
      <AuButton
        data-test-linked-documents-add
        @skin="naked"
        @icon="plus"
        {{on "click" this.openLinkedPieceModal}}
      >
        {{t "document-link-old"}}
      </AuButton>
    </div>
  {{/if}}
</div>

<ConfirmationModal
  @modalOpen={{this.isOpenLinkedPieceModal}}
  @title={{t "document-link-old"}}
  @onConfirm={{perform this.saveLinkedPieces}}
  @onCancel={{this.cancelLinkPieces}}
  @confirmMessage={{t "document-link-old"}}
  @disabled={{eq this.newLinkedPieces.length 0}}
  @loading={{this.saveLinkedPieces.isRunning}}
>
  <:body>
    <div class="auk-u-mb-2">
      <Utils::AddExistingPiece
        @onLink={{this.linkPiece}}
        @onUnlink={{this.unlinkPiece}}
      />
    </div>
  </:body>
</ConfirmationModal>
