<EmberKaleidosWebuniversum::VlUploadedDocument
  @name={{@piece.file.filename}}
  @extension={{@piece.file.extension}}
  @size={{@piece.file.size}}
  @downloadName={{@piece.file.filename}}
  @downloadLink={{this.downloadLink}}
  @delete={{@onDelete}}>
  {{#if @allowDocumentContainerEdit}}
    <div class="metadata-container">
      <div class="auk-form-group">
        <WebComponents::AuLabel>{{t "document-name"}}</WebComponents::AuLabel>
        <WebComponents::VlFormInput
          @value={{mut @piece.name}} />
      </div>
      {{#unless this.loadData.isRunning}}
        <div class="auk-form-group">
          <WebComponents::AuLabel>{{t "document-type"}}</WebComponents::AuLabel>
          <Utils::RadioDropdownComboSelect
            @options={{this.sortedDocumentTypes}}
            @onSelect={{this.selectDocumentType}}
            @selected={{this.selectedDocumentType}}
          />
        </div>
      {{/unless}}
    </div>
  {{/if}}
</EmberKaleidosWebuniversum::VlUploadedDocument>