<EmberKaleidosWebuniversum::VlUploadedDocument
  @name={{@piece.file.filename}}
  @extension={{@piece.file.extension}}
  @size={{@piece.file.size}}
  @downloadName={{@piece.file.filename}}
  @downloadLink={{@piece.file.namedDownloadLink}}
  @onDelete={{@onDelete}}>
  {{#if @allowDocumentContainerEdit}}
    <div class="au-c-form au-u-margin-left-large" data-test-uploaded-document-container>
      <AuFormRow>
        <AuLabel>{{t "name-document"}}</AuLabel>
        <AuInput
          data-test-uploaded-document-name-input={{true}}
          value={{@piece.name}}
          @width="block"
          {{on "input" (pick "target.value" (set @piece "name"))}}
        />
      </AuFormRow>
      {{#unless this.loadData.isRunning}}
        <AuFormRow data-test-uploaded-document-types>
          <AuLabel>{{t "document-type"}}</AuLabel>
          <Utils::RadioDropdownComboSelect
            @options={{this.sortedDocumentTypes}}
            @onSelect={{this.selectDocumentType}}
            @dropdownLabelKey="altLabel"
            @radioOptionsSize="8"
            @selected={{this.selectedDocumentType}}
          />
        </AuFormRow>
      {{/unless}}
    </div>
  {{/if}}
</EmberKaleidosWebuniversum::VlUploadedDocument>