<div class="auk-u-mb-4">
  <div
    class="auk-o-grid version-card
      {{if this.isCurrentDocument "version-card-selected"}}"
  >
    <div class="auk-o-grid-col-static">
      {{#if this.isLastPiece}}
        <Auk::Badge @icon="document" @size="large" />
      {{else}}
        <Auk::Badge @icon="timeline" @size="large" />
      {{/if}}
    </div>
    <div class="auk-o-grid-col-flex">
      <p class="auk-u-text-bold auk-u-muted">
        {{@piece.name}}
      </p>
      <p class="auk-u-muted auk-u-text-small">
        {{t "uploaded-at"}}
        {{moment-format @piece.created}}
        {{t "at"}}
        {{moment-format @piece.created "HH:mm"}}
      </p>
      <Utils::AccessLevelColorBadge @accessLevel={{this.accessLevel}} />
      <p class="auk-u-muted auk-u-text-small">
        {{t "access-level-last-modified"}}
        {{moment-format @piece.accessLevelLastModified}}
        {{t "at"}}
        {{moment-format @piece.accessLevelLastModified "HH:mm"}}
      </p>
      <Utils::ConfidentialityPill @confidential={{@piece.confidential}} />
    </div>
    <div class="auk-o-grid-col-static">
      <WebComponents::AuButtonToolbar>
        <Auk::Button
          @layout="icon-only"
          @icon="download"
          @skin="borderless"
          @href={{@piece.file.namedDownloadLink}}
          download
        />
        <DropdownMenu @skin="borderless" @icon="more" as |Menu|>
          <Menu.Item @href={{@piece.viewDocumentURL}} target="_blank">
            {{t "open-version"}}
          </Menu.Item>
          {{#if this.currentSession.isEditor}}
            <Menu.Item @skin="danger" {{on "click" @openVerify}}>
              {{t "delete"}}
            </Menu.Item>
          {{/if}}
        </DropdownMenu>
      </WebComponents::AuButtonToolbar>
    </div>
  </div>
</div>