<ul class="vlc-tabs-reverse" role="tablist">
  <li class="vlc-tabs-reverse__item">
    <a href="" class="border-left vlc-tabs-reverse__link {{selectedOverviewClass}}"
      {{action "goToOverview"}}
    >
      {{t "overview"}}
    </a>
  </li>
  <li class="vlc-tabs-reverse__item">
    {{#if sessionService.selectedAgendaitem}}
      <a href="" class="vlc-tabs-reverse__link {{selectedAgendaitemClass}}">
        {{t "detail"}}
      </a>
    {{else}}
      {{#link-to
        "agenda.agendaitems.agendaitem"
        (await firstAgendaitemOfAgenda.id)
        class="vlc-tabs-reverse__link {{selectedAgendaitemClass}}"
      }}
        {{t "detail"}}
      {{/link-to}}
    {{/if}}
  </li>
  {{#if currentSession.isEditor}}
    <li class="vlc-tabs-reverse__item">
      <a href="" class="vlc-tabs-reverse__link {{selectedCompareClass}}" {{action "compareAgendas"}}>
        {{t "compare"}}
      </a>
    </li>
  {{/if}}
  <li class="vlc-tabs-reverse__item">
    <a href="" class="vlc-tabs-reverse__link {{selectedDocumentClass}}" {{action "navigateToDocuments"}}>
      {{t "documents"}}
    </a>
  </li>
</ul>
