<Auk::Navbar @skin="gray-100" class="auk-u-hidden@print">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item class="auk-u-maximize-width">
        <div class="auk-form-group">
          <AuInput
            data-test-agendaitem-search-input
            @icon="search"
            @width="block"
            @value={{this.searchText}}
            @enter={{perform this.search}}
            {{on "input" (perform this.debouncedSearch)}}
            placeholder={{t "search-placeholder"}}
          />
        </div>
      </Auk::Toolbar::Item>
      <Auk::Button
        @icon="search"
        @skin="primary"
        @loading={{this.search.isRunning}}
        @layout={{if @hideButtonText "icon-only"}}
        {{on "click" (perform this.search)}}
      >
        {{#if (not @hideButtonText)}}
          {{t "search"}}
        {{/if}}
      </Auk::Button>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>