<div class="vlc-agenda-items auk-u-m-8 vlc-agenda-items--spaced">
  {{#if this.isEditingOverview}}
    <ChangesAlert
      @message={{t "editing-agenda-overview"}}
      @buttonText={{t "end-editing-overview"}}
      @clearAction={{this.toggleIsEditingOverview}}
    />
  {{/if}}
  <Auk::Toolbar class="vlc-agenda-items-section-header">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h3 class="auk-h3 auk-u-m-0 vlc-agenda-items-section-header__title">
          {{t "agendaitems-subtitle"}}
        </h3>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::ButtonLink
          data-test-agenda-overview-show-changes={{true}}
          class="vlc-agenda-items-section-header__link"
          {{on "click" @toggleShowModifiedOnly}}
        >
          {{if @showModifiedOnly (t "show-all") (t "show-changes")}}
        </Auk::ButtonLink>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        {{#if
          (and
            this.currentSessionService.isEditor
            this.isDesignAgenda
          )
        }}
          {{#unless this.isEditingOverview}}
            <div class="auk-u-ml-2">
              <Auk::ButtonLink
                data-test-agenda-overview-formally-ok-edit={{true}}
                class="vlc-agenda-items-section-header__link"
                {{on "click" this.toggleIsEditingOverview}}
              >
                {{t "edit"}}
              </Auk::ButtonLink>
            </div>
          {{/unless}}
        {{/if}}
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
  {{#if (not @isLoadingNotaGroups)}}
    {{#if @notaGroups.length}}
      <div>
        <ul
          {{sortable-group onChange=@onReorderAgendaitems}}
          {{did-update (perform this.groupNotasOnGroupName @notas) @notas}}>
          {{#each @notaGroups as |agendaitemGroup index|}}
            {{#unless (and (eq index 0) (is-empty agendaitemGroup.sortedMandatees))}}
              <Agenda::AgendaOverview::AgendaitemGroupHeader @mandatees={{agendaitemGroup.sortedMandatees}}/>
            {{/unless}}
            {{#each agendaitemGroup.agendaitems as |agendaitem|}}
              <li
                class="vlc-agenda-items__sub-item"
                {{sortable-item
                  model=agendaitem
                  distance="30"
                  handle=this.dragHandleClass
                  isDraggingDisabled=(not this.isDraggingEnabled)
                }}
              >
                <Agenda::AgendaOverview::AgendaOverviewItem
                  @agendaitem={{agendaitem}}
                  @currentAgenda={{@currentAgenda}}
                  @previousAgenda={{@previousAgenda}}
                  @isNew={{includes agendaitem @newItems}}
                  @showFormallyOkStatus={{this.isDesignAgenda}}
                  @isEditingFormallyOkStatus={{this.isEditingOverview}}
                  @showDragHandle={{this.isDraggingEnabled}}
                />
              </li>
            {{/each}}
          {{/each}}
        </ul>
      </div>
    {{else}}
      <div class="auk-u-mt-2">
        <WebComponents::VlAlert @message={{t "no-agendaitems-yet"}}/>
      </div>
    {{/if}}
  {{else}}
    <WebComponents::LoadingPage />
  {{/if}}
  <div class="vlc-agenda-items-section-header">
    <h3 class="auk-h3 auk-u-m-0 vlc-agenda-items-section-header__title">
      {{t "announcements-subtitle"}}
    </h3>
  </div>
  <div class="auk-u-mb-4">
    {{#if @announcements.length}}
      <ul {{sortable-group onChange=@onReorderAgendaitems}} >
        {{#each @announcements as |announcement|}}
          <li
            class="vlc-agenda-items__sub-item"
            {{sortable-item
              model=announcement
              distance="30"
              handle=this.dragHandleClass
              isDraggingDisabled=(not this.isDraggingEnabled)
            }}
          >
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{announcement}}
              @currentAgenda={{@currentAgenda}}
              @previousAgenda={{@previousAgenda}}
              @showFormallyOkStatus={{this.isDesignAgenda}}
              @isEditingFormallyOkStatus={{this.isEditingOverview}}
              @showDragHandle={{this.isDraggingEnabled}}
            />
          </li>
        {{/each}}
      </ul>
    {{else}}
      <WebComponents::VlAlert @message={{t "no-announcements-yet"}} />
    {{/if}}
  </div>
  {{#if this.showLoader}}
    <WebComponents::LoadingOverlay />
  {{/if}}
</div>