<Auk::Navbar @skin="gray-100" class="auk-u-hidden@print">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item class="auk-u-maximize-width">
        <div class="auk-form-group">
          <Auk::Input
            @icon="search"
            @block={{true}}
            data-test-agendaitem-search-input
            placeholder={{t "search-placeholder"}}
            @value={{this.searchText}}
            @enter={{perform this.search}}
            {{on "input" (perform this.debouncedSearch)}}
          />
        </div>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item class="auk-u-m-0">
        <AuButton
          @skin="primary"
          @icon="search"
          @hideText={{@hideButtonText}}
          @loading={{this.search.isRunning}}
          {{on "click" (perform this.search)}}
        >
          {{t "search"}}
        </AuButton>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>