<div class="vlc-agenda-items auk-u-m-8 vlc-agenda-items--spaced">
  {{#if this.isEditingOverview}}
    <ChangesAlert
      @message={{t "editing-agenda-overview"}}
      @buttonText={{t "end-editing-overview"}}
      @clearAction={{action "toggleIsEditingOverview"}} />
  {{/if}}

  <div class="vlc-toolbar vlc-agenda-items-section-header">

    <div class="vlc-toolbar__left">
      <div class="vlc-toolbar__item">
        <h3 class="auk-h3 auk-u-m-0 vlc-agenda-items-section-header__title">
          {{t "agendaitems-subtitle"}}
        </h3>
      </div>
    </div>
    {{#if (not this.isEditingOverview)}}
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <a href=""
             class="vlc-agenda-items-section-header__link"
             {{action "toggleChangesOnly"}}
          >
            {{#if (not this.isShowingChanges)}}
              {{t "show-changes"}}
            {{else}}
              {{t "show-all"}}
            {{/if}}
          </a>
        </div>
        <div class="vlc-toolbar__item">
          {{#if
            (and
              currentSessionService.isEditor
              (await @currentAgenda.isDesignAgenda)
            )
          }}
            <div class="auk-u-ml-2">
              <a href=""
                 data-test-agenda-edit-formally-ok-button
                 class="vlc-agenda-items-section-header__link"
                {{action "toggleIsEditingOverview"}}
              >
                {{t "edit"}}
              </a>
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>

  {{#if (is-empty @agendaitems)}}
    <div class="auk-u-mt-2">
      {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
    </div>
  {{/if}}
  <div>
    {{#if
      (and currentSessionService.isEditor (not this.isShowingChanges) @currentAgenda.isDesignAgenda)
    }}
      {{#sortable-group
        tagName="ul"
        onChange=(action "reorderItems")
      as |sortableGroup|
      }}
        {{#each
          @agendaitems
        as |agendaitem|
        }}
          {{#if agendaitem.groupName}}
            <div class="vlc-list-section-header" data-test-agenda-overview-agenda-item-header>
              {{#if (eq agendaitem.groupName (t 'no-mandatee-assigned'))}}
              {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
              {{!-- template-lint-disable no-triple-curlies  --}}
                <span class="vlc-list-section-header-title">{{{agendaitem.groupName}}}</span>
              {{!-- template-lint-enable no-triple-curlies  --}}
              {{else}}
                {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                  These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
                {{!-- template-lint-disable no-triple-curlies  --}}
                <span>{{{agendaitem.groupName}}}</span>
                {{!-- template-lint-enable no-triple-curlies  --}}
              {{/if}}
            </div>
          {{/if}}
          {{#sortable-item
            tagName="li"
            class="vlc-agenda-items__sub-item"
            model=agendaitem
            group=sortableGroup
            distance=30
            handle=dragHandleClass
          }}
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{agendaitem}}
              @setFormallyOkAction={{action this.setFormallyOkAction agendaitem}}
              @isEditingOverview={{this.isEditingOverview}}
            />
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    {{else}}
      <ul>
        {{#each
          @agendaitems
        as |agendaitem|
        }}
          {{#if (and agendaitem.groupName (not this.isShowingChanges))}}
            <div class="vlc-list-section-header" data-test-agenda-overview-agenda-item-header>
              {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
              {{!-- template-lint-disable no-triple-curlies  --}}
              {{{agendaitem.groupName}}}
              {{!-- template-lint-enable no-triple-curlies  --}}
            </div>
          {{/if}}
          {{#if
            (or (not this.isShowingChanges) (and this.isShowingChanges (await agendaitem.hasChanges)))
          }}
            <li class="vlc-agenda-items__sub-item">
              <Agenda::AgendaOverview::AgendaOverviewItem
                @agendaitem={{agendaitem}}
                @setFormallyOkAction={{action this.setFormallyOkAction agendaitem}}
                @isEditingOverview={{this.isEditingOverview}}
              />
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class="vlc-agenda-items-section-header">
    <h3 class="auk-h3 auk-u-m-0 vlc-agenda-items-section-header__title">
      {{t "announcements-subtitle"}}
    </h3>
  </div>
  <div class="auk-u-mb-4">
    {{#if (gt (await @announcements.length) 0)}}
      {{#if
        (and currentSessionService.isEditor (not this.isShowingChanges) @currentAgenda.isDesignAgenda)
      }}
        {{#sortable-group
          tagName="ul"
          onChange=(action "reorderItems")
        as |sortableAnnouncements|
        }}
          {{#each
            (await @announcements)
          as |announcement|
          }}
            {{#sortable-item
              tagName="li"
              class="vlc-agenda-items__sub-item"
              model=announcement
              group=sortableAnnouncements
              distance=30
              handle=dragHandleClass
            }}
              <Agenda::AgendaOverview::AgendaOverviewItem
                @agendaitem={{announcement}}
                @setFormallyOkAction={{action this.setFormallyOkAction announcement}}
                @isEditingOverview={{this.isEditingOverview}}
              />
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      {{else}}
        {{#each
          (await @announcements)
        as |announcement|
        }}
          {{#if
            (or (not this.isShowingChanges) (and this.isShowingChanges (await announcement.hasChanges)))
          }}
            <div class="vlc-agenda-items__sub-item">
              <Agenda::AgendaOverview::AgendaOverviewItem
                @agendaitem={{announcement}}
                @setFormallyOkAction={{action this.setFormallyOkAction announcement}}
                @isEditingOverview={{this.isEditingOverview}}
              />
            </div>
          {{/if}}
        {{/each}}
      {{/if}}
    {{else}}
      <WebComponents::VlAlert @message={{t "no-announcements-yet"}} />
    {{/if}}
  </div>

  {{#if (await this.showLoader)}}
    <WebComponents::AuLoadingOverlay/>
  {{/if}}
</div>