<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left">
      <div class="auk-toolbar-complex__item">
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title" data-test-agenda-header-title>
              {{t "agenda-of"}}
              {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
              {{t "at"}}
              {{moment-format currentSession.plannedStart "HH:mm"}}
            </h4>
            <span class="auk-u-muted auk-body-1 ">- {{await currentSession.kindToShow.label}}</span>
          </div>
          <Sessions::SessionAgendaNav
            @currentAgenda={{currentAgenda}} />
        </div>
      </div>
    </div>
    {{#if currentSessionService.isViewer}}
      <div class="auk-toolbar-complex__right">
        {{#if currentSessionService.isEditor}}
          <div class="auk-toolbar-complex__item">
            <div class="auk-u-position-relative auk-u-inline-block">
              <Auk::Button
                @skin="primary"
                @layout="icon-right"
                @icon={{if (not isShowingAgendaActions) "chevron-down" "chevron-up"}}
                {{action "showAgendaActions"}}
                data-test-agenda-header-show-agenda-options
              >
                {{t "agenda-actions"}}
              </Auk::Button>
              {{#attach-popover
                renderInPlace=true
                class="ember-attacher-popper vlc-hide-on-print"
                hideOn="clickout click"
                showOn="click"
                animation="shift"
                placement="bottom"
              as |attacher|
              }}
                <ul class="vlc-dropdown-menu">
                  {{#if currentSessionService.isEditor}}
                    {{#if currentAgenda.isDesignAgenda}}
                      <li class="vlc-dropdown-menu__item">
                        <button type="button" data-test-agenda-header-approve-agenda class="auk-button-link auk-button-link--block"
                          {{action attacher.hide}}
                          {{action "openConfirmApproveAgenda"}}
                        >
                          <span class="auk-button__content">
                            {{t "approve-design-agenda" serialnumber=currentAgenda.serialnumber}}
                          </span>
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                      <li class="vlc-dropdown-menu__item">
                        <button  type="button" data-test-agenda-header-approve-and-close-agenda class="auk-button-link auk-button-link--block"
                          {{action attacher.hide}}
                          {{action "openConfirmApproveAgendaAndCloseMeeting"}}
                        >
                          <span class="auk-button__content">
                            {{t "approve-agenda-and-close" serialnumber=currentAgenda.serialnumber}}
                          </span>
                        </button>
                      </li>
                      <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                    {{/if}}
                    {{#if (not currentSession.isFinal)}}
                      {{#if (await isSessionClosable)}}
                        <li class="vlc-dropdown-menu__item">
                          <a href=""
                            data-test-agenda-header-lock-agenda
                            class="auk-button-link auk-button-link--block auk-u-text-error"
                            {{action "openConfirmCloseMeeting"}}
                            {{action attacher.hide}}
                          >
                            <span class="auk-button__content">
                              {{t "agenda-close"}}
                            </span>
                          </a>
                        </li>
                        <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                      {{/if}}
                    {{else}}
                      <li class="vlc-dropdown-menu__item">
                        <a href=""
                          data-test-agenda-header-unlock-agenda
                          class="auk-button-link auk-button-link--block"
                          {{action "unlockAgenda"}}
                          {{action attacher.hide}}
                        >
                          <span class="auk-button__content">
                            {{t "agenda-reopen"}}
                          </span>
                        </a>
                      </li>
                      <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                    {{/if}}
                  {{/if}}
                  {{!-- These actions check for isEditor/isAdmin themselves, so we put these outside the previous if statement --}}
                  {{#if (await canDeleteSelectedAgenda)}}
                    <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                      <a href=""
                        data-test-agenda-header-delete-agenda
                        class="auk-button-link auk-u-text-error"
                        {{action "openConfirmDeleteSelectedAgenda"}}
                        {{action attacher.hide}}
                      >
                        <span class="auk-button__content">
                          {{t "agenda-delete"}}
                        </span>
                      </a>
                    </li>
                  {{/if}}
                  {{#if (await canReopenPreviousAgenda)}}
                    <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                    <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger"
                      >
                      <a href=""
                          data-test-agenda-header-reopen-previous-version
                          class="auk-button-link auk-button-link--block auk-u-text-error"
                          {{action "openConfirmReopenPreviousAgenda"}}
                          {{action attacher.hide}}
                        >
                        <span class="auk-button__content">
                          {{t "agenda-reopen-previous-version"}}
                        </span>
                      </a>
                    </li>
                  {{/if}}
                </ul>
              {{/attach-popover}}
            </div>
          </div>
        {{/if}}
        <div class="auk-toolbar-complex__item">
          <div class="auk-u-position-relative auk-u-inline-block">
            <Auk::Button
              @skin="secondary"
              @layout="icon-right"
              @icon={{if (not isShowingOptions) "chevron-down" "chevron-up"}}
              {{action "showMultipleOptions"}}
              data-test-agenda-header-show-action-options
            >
              {{t "actions"}}
            </Auk::Button>
            {{#attach-popover
              renderInPlace=true
              class="ember-attacher-popper vlc-hide-on-print"
              hideOn="clickout click"
              showOn="click"
              animation="shift"
              placement="bottom-end"
            as |attacher|
            }}
              <ul class="vlc-dropdown-menu">
                {{#if (and currentSessionService.isEditor currentAgenda.isDesignAgenda)}}
                  <li class="vlc-dropdown-menu__item">
                    <a href="javascript://"
                        data-test-agenda-header-add-agendaitems
                        class="auk-button-link auk-button-link--block"
                      {{action attacher.hide}}
                      {{action "addAgendaitemsAction"}}
                    >
                      <span class="auk-button__content">
                        {{t "add-to-agenda"}}
                      </span>
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                {{/if}}
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                      data-test-agenda-header-navigate-to-decisions
                      class="auk-button-link auk-button-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToDecisions"}}
                  >
                    <span class="auk-button__content">
                      {{t "print-decisions"}}
                    </span>
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                      data-test-agenda-header-navigate-to-newsletter
                      class="auk-button-link auk-button-link--block"
                    {{action attacher.hide}}
                    {{action "navigateToNewsletter"}}
                  >
                    <span class="auk-button__content">
                      {{t "print-newsletter"}}
                    </span>
                  </a>
                </li>
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                      data-test-agenda-header-navigate-to-pressagenda
                      class="auk-button-link auk-button-link--block"
                    {{action "navigateToPressAgenda"}}
                    {{action attacher.hide}}
                  >
                    <span class="auk-button__content">
                      {{t "printable-press-agenda"}}
                    </span>
                  </a>
                </li>
                {{#if showPrintButton}}
                  <li class="vlc-dropdown-menu__item">
                    <LinkTo
                      @route="agenda.agendaitems"
                      class="auk-button-link auk-button-link--block"
                      data-test-agenda-header-navigate-to-agenda-view
                    >
                      <span class="auk-button__content">
                        {{t "agenda-view"}}
                      </span>
                    </LinkTo>
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                        data-test-agenda-header-print-agenda
                        class="auk-button-link auk-button-link--block"
                      {{action attacher.hide}}
                      {{action "print"}}
                    >
                      <span class="auk-button__content">
                        {{t "print"}}
                      </span>
                    </a>
                  </li>
                {{else}}
                  <li class="vlc-dropdown-menu__item">
                    <LinkTo
                      data-test-agenda-header-navigate-to-printable-agenda
                      class="auk-button-link auk-button-link--block"
                      @route="agenda.print"
                    >
                      <span class="auk-button__content">
                        {{t "printable-version"}}
                      </span>
                    </LinkTo>
                  </li>
                {{/if}}
                {{#if currentSessionService.isEditor}}
                  <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                        data-test-agenda-header-toggle-editing-session
                        class="auk-button-link auk-button-link--block"
                      {{action "toggleEditingSession"}}
                      {{action attacher.hide}}
                    >
                      <span class="auk-button__content">
                        {{t "edit-session"}}
                      </span>
                    </a>
                  </li>
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                        data-test-agenda-header-select-signature
                        class="auk-button-link auk-button-link--block"
                      {{action "selectSignature"}}
                      {{action attacher.hide}}
                    >
                      <span class="auk-button__content">
                        {{t "signature-edit"}}
                      </span>
                    </a>
                  </li>
                {{/if}}
                <li class="vlc-dropdown-menu__item">
                  <a href=""
                      data-test-agenda-header-download-documents
                      class="auk-button-link auk-button-link--block"
                    {{action attacher.hide}}
                    {{action "downloadAllDocuments"}}
                  >
                    <span class="auk-button__content">
                      {{t "download-documents"}}
                    </span>
                  </a>
                </li>
                {{#if currentAgenda.isDesignAgenda}}
                  <li class="vlc-dropdown-menu__item">
                    <a href=""
                        data-test-agenda-header-approve-all-agendaitems
                        class="auk-button-link auk-button-link--block"
                      {{action attacher.hide}}
                      {{action "showApproveAllAgendaitemsWarning"}}
                    >
                      <span class="auk-button__content">
                        {{t "approve-all-agendaitems"}}
                      </span>
                    </a>
                  </li>
                {{/if}}
                {{#if currentSessionService.isEditor}}
                  <li class="vlc-dropdown-menu__separator" aria-hidden="true"></li>
                  <li class="vlc-dropdown-menu__item">
                    {{#if currentSession.canReleaseDecisions}}
                      <a href=""
                          data-test-agenda-header-release-decisions
                          class="auk-button-link auk-button-link--block auk-u-text-error"
                        {{action "releaseDecisions"}}
                        {{action attacher.hide}}
                      >
                        <span class="auk-button__content">
                          {{t "agenda-release-decisions"}}
                        </span>
                      </a>
                    {{else if currentSession.canReleaseDocuments}}
                      <a href=""
                          data-test-agenda-header-release-documents
                          class="auk-button-link auk-button-link--block auk-u-text-error"
                        {{action "releaseDocuments"}}
                        {{action attacher.hide}}
                      >
                        <span class="auk-button__content">
                          {{t "agenda-release-documents"}}
                        </span>
                      </a>
                    {{/if}}
                  </li>
                  {{#if
                    (and
                      (not (await designAgendaPresent))
                      (not (await currentSession.isFinal))
                    )
                  }}
                    <li class="vlc-dropdown-menu__item vlc-dropdown-menu__item--action-danger">
                      <a href=""
                          data-test-agenda-header-create-new-design
                          class="auk-button-link auk-button-link--block"
                        {{action "createNewDesignAgendaAction" currentSession}}
                        {{action attacher.hide}}
                      >
                        <span class="auk-button__content">
                          {{t "agenda-add"}}
                        </span>
                      </a>
                    </li>
                  {{/if}}
                {{/if}}
              </ul>
            {{/attach-popover}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  {{#if isAddingAgendaitems}}
    <Agenda::Agendaitem::CreateAgendaitem
      @isAddingAgendaitems={{isAddingAgendaitems}}
      @onCreate={{this.onCreateAgendaitem}} />
  {{/if}}
  {{#if isAssigningSignature}}
    <Sessions::SelectSignature
      @meeting={{currentSession}}
      @closeDialog={{action "selectSignature"}} />
  {{/if}}
  {{#if releasingDocuments}}
    <WebComponents::VlModalVerify
      @title={{t "agenda-release-documents"}}
      @buttonType="warning"
      @verifyButtonText={{t "releaseToPublicButton"}}
      @message={{t "release-documents-message"}}
      @cancel={{action "cancel"}}
      @verify={{action "confirmReleaseDocuments"}}
    />
  {{/if}}
  {{#if releasingDecisions}}
    <WebComponents::VlModalVerify
      @title={{t "agenda-release-decisions"}}
      @buttonType="warning"
      @verifyButtonText={{t "releaseToPublicButton"}}
      @message={{t "release-decisions-message"}}
      @cancel={{action "cancel"}}
      @verify={{action "confirmReleaseDecisions"}} />
  {{/if}}
  {{#if editingSession}}
    <WebComponents::VlModal
      @isOverlay={{true}}
      @title={{t "edit-session"}}
      @closeModal={{action "cancelEditSessionForm"}} >
      <Sessions::Forms::EditSession
        @meeting={{currentSession}}
        @successfullyEdited={{action "successfullyEdited"}}
        @cancelForm={{action "cancelEditSessionForm"}} />
    </WebComponents::VlModal>
  {{/if}}

  {{#if isApprovingAllAgendaitems}}
    <WebComponents::VlModalVerify
      @title={{t "approve-all-agendaitems"}}
      @buttonType="warning"
      @verifyButtonText={{t "approve"}}
      @message={{t
        "approve-all-agendaitems-warning-message"
        amountOfAgendaitems=(await this.currentAgenda.allAgendaitemsNotOkLength)
      }}
      @cancel={{action "cancel"}}
      @verify={{action "approveAllAgendaitems"}}
    />
  {{/if}}

  {{#if showLoadingOverlay}}
    <WebComponents::LoadingOverlay @size="medium" @message={{this.loadingOverlayMessage}} />
  {{/if}}

  {{!-- new agenda actions with single pop-up for confirmation --}}

  {{#if this.showConfirmForApprovingAgenda}}
    <Auk::Modal @size={{if (await this.currentAgenda.canBeApproved) "small" "large"}}>
      <Auk::Modal::Header
        @title={{t "approve-design-agenda" serialnumber=currentAgenda.serialnumber}}
        @onClose={{action "cancelApproveAgenda"}}
      />
      <Auk::Modal::Body>
        {{#if (await this.currentAgenda.canBeApproved)}}
          {{t "approve-agenda-confirmation"}}
        {{else}}
          <Auk::Alert @skin="error" @message={{t "approve-agenda-not-ok-message"}} />
          <div>{{t "approve-agenda-confirmation"}}</div>
          {{#if (await this.currentAgenda.approvedAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">{{t "rollback-agendaitem-on-approving-agenda"}}</div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.approvedAgendaitemsNotOk}}/>
          {{/if}}
          {{#if (await this.currentAgenda.newAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">
              {{t
                "move-agendaitem-on-approving-agenda"
                serialnumber=this.currentAgenda.serialnumber
              }}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.newAgendaitemsNotOk}}/>
          {{/if}}
        {{/if}}
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelApproveAgenda"}}>
        <Auk::Button
          data-test-agenda-header-approve-agenda-confirm
          @skin={{if (await this.currentAgenda.canBeApproved) "primary" "danger-primary"}}
          {{action "confirmApproveAgenda"}}
        >
          {{t "approve"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForApprovingAgendaAndClosingMeeting}}
    <Auk::Modal @size={{if (await this.currentAgenda.canBeApproved) "small" "large"}}>
      <Auk::Modal::Header
        @title={{t "approve-agenda-and-close" serialnumber = this.currentAgenda.serialnumber}}
        @onClose={{action "cancelApproveAgendaAndCloseMeeting"}}
      />
      <Auk::Modal::Body>
        {{#if (await this.currentAgenda.canBeApproved)}}
          {{t "approve-agenda-close-meeting-confirmation"}}
        {{else}}
          <Auk::Alert @skin="error" @message={{t "approve-agenda-close-meeting-not-ok-message"}} />
          <div>{{t "approve-agenda-close-meeting-confirmation"}}</div>
          {{#if (await this.currentAgenda.approvedAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">{{t "rollback-agendaitem-on-approving-agenda-close-meeting"}}</div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.approvedAgendaitemsNotOk}}/>
          {{/if}}
          {{#if (await this.currentAgenda.newAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">
              {{t
                "delete-agendaitem-on-closing-meeting"
                serialnumber=this.currentAgenda.serialnumber
              }}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.newAgendaitemsNotOk}}/>
          {{/if}}
        {{/if}}
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelApproveAgendaAndCloseMeeting"}}>
        <Auk::Button
          data-test-agenda-header-approve-and-close-agenda-confirm
          @skin={{if (await this.currentAgenda.canBeApproved) "primary" "danger-primary"}}
          {{action "confirmApproveAgendaAndCloseMeeting"}}
        >
          {{t "approve-and-close"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForClosingMeeting}}
    <Auk::Modal @size={{if (await this.currentSession.latestAgenda.isDesignAgenda) "large" "small"}}>
      <Auk::Modal::Header
        @title={{t "agenda-close"}}
        @onClose={{action "cancelCloseMeeting"}}
      />
      <Auk::Modal::Body>
        {{#if (await this.currentSession.latestAgenda.isDesignAgenda)}}
          <Auk::Alert
            @skin="error"
            @message={{t
              "agenda-design-delete-message"
              agenda=this.currentSession.latestAgenda.agendaName
            }}
          />
        {{/if}}
        <div>{{t "close-meeting-confirmation"}}</div>
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelCloseMeeting"}}>
        <Auk::Button
          data-test-agenda-header-lock-agenda-confirm
          @skin={{if
            (await this.currentSession.latestAgenda.isDesignAgenda)
            "danger-primary"
            "primary"
          }}
          {{action "confirmCloseMeeting"}}
        >
          {{t "agenda-close"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForDeletingSelectedAgenda}}
    <Auk::Modal @size={{if (eq this.agendas.length 1) "large" "small"}}>
      <Auk::Modal::Header
        @title={{t "agenda-delete"}}
        @onClose={{action "cancelDeleteSelectedAgenda"}}
      />
      <Auk::Modal::Body>
        {{#if (eq this.agendas.length 1)}}
          <Auk::Alert @skin="error" @message={{t "delete-final-agenda-and-meeting"}} />
        {{/if}}
        <div>
          {{t
            "delete-agenda-message"
            agenda=this.currentSession.latestAgenda.agendaName
          }}
        </div>
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelDeleteSelectedAgenda"}}>
        <Auk::Button
          data-test-agenda-header-delete-agenda-confirm
          @skin="danger-primary"
          {{action "confirmDeleteSelectedAgenda"}}
        >
          {{t "agenda-delete"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForReopeningPreviousAgenda}}
    <Auk::Modal>
      <Auk::Modal::Header
        @title={{t "agenda-reopen-previous-version"}}
        @onClose={{action "cancelReopenPreviousAgenda"}}
      />
      <Auk::Modal::Body>
        <Auk::Alert
          @skin="error"
          @message={{t
            "agenda-reopen-confirmation"
            designAgenda = this.currentAgenda.agendaName
            approvedAgenda = (await this.lastApprovedAgendaName)
          }}
        />
        {{#if this.loadPiecesToDelete.isRunning}}
          <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
            <Auk::Loader @message={{t "loading"}} />
          </div>
        {{/if}}
        {{#if this.piecesToDeleteReopenPreviousAgenda}}
          <Auk::Alert
            @skin="warning"
            @message={{t "agenda-reopen-pieces-delete"}}
          />
          <Auk::List class="auk-list auk-list--bordered">
            {{#each this.piecesToDeleteReopenPreviousAgenda as |piece|}}
              <Auk::List::Item>
                <WebComponents::VlDocument
                  @piece={{piece}}
                />
              </Auk::List::Item>
            {{/each}}
          </Auk::List>
        {{/if}}
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelReopenPreviousAgenda"}}>
        <Auk::Button
          data-test-agenda-header-reopen-previous-version-confirm
          @skin="danger-primary"
          @disabled={{this.loadPiecesToDelete.isRunning}}
          {{action "confirmReopenPreviousAgenda"}}
        >
          {{#if this.piecesToDeleteReopenPreviousAgenda}}
            {{t "agenda-reopen-previous-version-with-delete"}}
          {{else}}
            {{t "agenda-reopen-previous-version"}}
          {{/if}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}
</Auk::Navbar>