<div class="auk-container auk-container--center">
  <div class="auk-u-mt-8 no-print">
    <h3 class="auk-h2">
      {{await title}}
      <br/>
    </h3>
  </div>
  <div class="auk-u-mb-8 no-print">
  </div>
  <div class="auk-u-mb-4 auk-u-mt-8">
    {{#each (await @agendaitemGroups) as |group|}}
      {{#each group.agendaitems as |agendaitem|}}
        <div class="auk-o-flex auk-o-flex--horizontal-center">
          <div class="print-only auk-u-mt-8">
            <img style="margin:-75px 0px -50px 0px; width:200px"
                 src="/assets/logo_vlaamse_regering.svg"
                 alt={{t "flemish-government"}}
            />

            <p class="auk-u-text-bold auk-u-text-capitalized">
              {{await title}}
            </p>
            <div class="auk-hr">
              <hr/>
            </div>
          </div>
        </div>
        <div style="page-break-after:always;">
          <div class="auk-u-mb-8">
            <div class="auk-u-mb-2">
              <h3 class="auk-h4">
                {{agendaitem.number}}
                .
                {{agendaitem.shortTitle}}
              </h3>
              <pre class="auk-o-flex--inline auk-u-text-pre-line">
                {{agendaitem.title}}
              </pre>
            </div>
            <div class="auk-content">
              <ul>
                {{#if (gt agendaitem.treatments.length 0)}}
                  {{#each (await agendaitem.treatments) as |treatment|}}
                    {{#if treatment.isEditing}}
                      <Agenda::Agendaitem::AgendaitemDecisionEdit
                        @isEditing={{treatment.isEditing}}
                        @agendaItemTreatment={{treatment}}
                        @subcase={{await agendaitem.agendaActivity.subcase}}
                        @isTableRow={{isTableRow}}
                        @agendaitem={{agendaitem}} />
                    {{else if session.isEditor}}
                      <div class="auk-o-flex auk-o-flex--vertical-center auk-o-flex--align-end">
                        {{#if allowEditing}}
                          <Auk::ButtonLink {{action "toggleIsEditing" treatment}}>
                            {{t "edit"}}
                          </Auk::ButtonLink>
                        {{/if}}
                      </div>
                    {{/if}}
                  {{/each}}
                {{else}}
                  <li>
                    <p class="auk-u-muted">
                      {{t "no-decision"}}
                    </p>
                  </li>
                {{/if}}
              </ul>
              <p class="auk-u-text-capitalize">
                {{!-- KAS-1420 await nodig ? --}}
                {{agendaitem.agendaActivity.subcase.subcaseName}}
              </p>
            </div>
          </div>
          {{#if (not allowEditing)}}
            <WebComponents::VlSignature @signature={{meeting.defaultSignature}} />
          {{/if}}
        </div>
      {{/each}}
    {{/each}}
  </div>
</div>
