<Auk::Navbar @skin="gray-100" class="vlc-hide-on-print">
  <Auk::Toolbar @auto={{true}}>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item class="vlc-u-box-model-maximize-width">
        <div class="auk-form-group">
          <Auk::Input
            @icon="search"
            type="text"
            @block={{true}}
            data-test-agendaitem-search-input
            @placeholder={{t "search-placeholder"}}
            value={{this.searchText}}
            @enter={{this.search}}
            {{on "input" this.debouncedSearch}}
          />
        </div>
      </Auk::Toolbar::Item>
      {{#if this.debouncedSearchTask.isRunning}}
        <div class="auk-loader" role="alert" aria-busy="true"></div>
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>