<div class="vlc-agenda-items auk-u-m-8">
  {{#if this.isEditingOverview}}
    <ChangesAlert
      @message={{t "editing-agenda-overview"}}
      @buttonText={{t "end-editing-overview"}}
      @clearAction={{this.toggleIsEditingOverview}}
    />
  {{/if}}
  <Auk::Toolbar @auto={{true}} class="auk-u-mb-3">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h3
          data-test-agenda-overview-section-title-notes
          class="auk-h3 auk-u-m-0"
        >
          {{t "agendaitems-subtitle"}}
        </h3>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <AuButtonGroup>
          <AuButton
            data-test-agenda-overview-show-changes={{true}}
            @skin="naked"
            {{on "click" @toggleShowModifiedOnly}}
          >
            {{if @showModifiedOnly (t "show-all") (t "show-changes")}}
          </AuButton>
          {{#if this.canEdit}}
            {{#unless this.isEditingOverview}}
              <AuButton
                data-test-agenda-overview-formally-ok-edit={{true}}
                @skin="naked"
                @icon="pencil"
                {{on "click" this.toggleIsEditingOverview}}
              >
                {{t "edit"}}
              </AuButton>
            {{/unless}}
          {{/if}}
        </AuButtonGroup>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
  {{#if (not @isLoadingNotaGroups)}}
    {{#if @notaGroups.length}}
      <div class="auk-u-mb-8">
        <ul {{sortable-group onChange=@onReorderAgendaitems}}>
          {{#each @notaGroups as |agendaitemGroup index|}}
            {{! template-lint-disable simple-unless }}
            {{#unless
              (and (eq index 0) (is-empty agendaitemGroup.sortedMandatees))
            }}
              <div class="auk-u-mt-3">
                <Agenda::AgendaOverview::AgendaitemGroupHeader
                  @mandatees={{agendaitemGroup.sortedMandatees}}
                />
              </div>
            {{/unless}}
            {{! template-lint-enable simple-unless }}
            {{#each agendaitemGroup.agendaitems as |agendaitem|}}
              <li
                class="vlc-agenda-items__sub-item"
                {{sortable-item
                  model=agendaitem
                  distance="30"
                  handle=this.dragHandleClass
                  disabled=(not this.canDragAgendaitems)
                }}
              >
                <Agenda::AgendaOverview::AgendaOverviewItem
                  @agendaitem={{agendaitem}}
                  @meeting={{@meeting}}
                  @currentAgenda={{@currentAgenda}}
                  @previousAgenda={{@previousAgenda}}
                  @isNew={{includes agendaitem @newItems}}
                  @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
                  @isEditingFormallyOkStatus={{this.isEditingOverview}}
                  @showDragHandle={{this.canDragAgendaitems}}
                />
              </li>
            {{/each}}
          {{/each}}
        </ul>
      </div>
    {{else}}
      <div class="auk-u-mt-2">
        <WebComponents::VlAlert @message={{t "no-agendaitems-yet"}} />
      </div>
    {{/if}}
  {{else}}
    <Auk::Loader @message={{t "agendaitem-grouping-message"}} />
  {{/if}}
  <div class="auk-u-mb-3">
    <h3 class="auk-h3 auk-u-m-0">
      {{t "announcements-subtitle"}}
    </h3>
  </div>
  <div class="auk-u-mb-4">
    {{#if @announcements.length}}
      <ul {{sortable-group onChange=@onReorderAgendaitems}}>
        {{#each @announcements as |announcement|}}
          <li
            class="vlc-agenda-items__sub-item"
            {{sortable-item
              model=announcement
              distance="30"
              handle=this.dragHandleClass
              disabled=(not this.canDragAgendaitems)
            }}
          >
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{announcement}}
              @meeting={{@meeting}}
              @currentAgenda={{@currentAgenda}}
              @previousAgenda={{@previousAgenda}}
              @isNew={{includes announcement @newItems}}
              @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
              @isEditingFormallyOkStatus={{this.isEditingOverview}}
              @showDragHandle={{this.canDragAgendaitems}}
            />
          </li>
        {{/each}}
      </ul>
    {{else}}
      <WebComponents::VlAlert @message={{t "no-announcements-yet"}} />
    {{/if}}
  </div>
</div>