<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title" data-test-agenda-header-title>
              {{t "agenda-of"}}
              {{moment-format currentSession.plannedStart "DD MMMM YYYY"}}
              {{t "at"}}
              {{moment-format currentSession.plannedStart "HH:mm"}}
            </h4>
            <span class="auk-u-muted auk-body-1 ">- {{await currentSession.kindToShow.label}}</span>
          </div>
          <Sessions::SessionAgendaNav
            @currentAgenda={{currentAgenda}}
            @currentMeeting={{currentSession}}/>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{#if currentSessionService.isViewer}}
      <Auk::Toolbar::Group @position="right">
        {{#if currentSessionService.isEditor}}
          <Auk::Toolbar::Item>
            <DropdownMenu
              @skin="primary"
              @label={{t "agenda-actions"}}
              class="vlc-hide-on-print"
              data-test-agenda-header-show-agenda-options={{true}}
            as |Menu|>
              {{#if currentSessionService.isEditor}}
                {{#if currentAgenda.isDesignAgenda}}
                  <Menu.Item
                    data-test-agenda-header-approve-agenda
                    {{action "openConfirmApproveAgenda"}}
                  >
                    {{t "approve-design-agenda" serialnumber=currentAgenda.serialnumber}}
                  </Menu.Item>
                  <Menu.Item
                    data-test-agenda-header-approve-and-close-agenda
                    {{action "openConfirmApproveAgendaAndCloseMeeting"}}
                  >
                    {{t "approve-agenda-and-close" serialnumber=currentAgenda.serialnumber}}
                  </Menu.Item>
                  <Menu.Divider />
                {{/if}}
                {{#if (not currentSession.isFinal)}}
                  {{#if (await isSessionClosable)}}
                    <Menu.Item
                      @skin="danger"
                      data-test-agenda-header-lock-agenda
                      {{action "openConfirmCloseMeeting"}}
                    >
                      {{t "agenda-close"}}
                    </Menu.Item>
                    <Menu.Divider />
                  {{/if}}
                {{else}}
                  <Menu.Item
                    data-test-agenda-header-unlock-agenda
                    {{action "unlockAgenda"}}
                  >
                    {{t "agenda-reopen"}}
                  </Menu.Item>
                  <Menu.Divider />
                {{/if}}
              {{/if}}
              {{!-- These actions check for isEditor/isAdmin themselves, so we put these outside the previous if statement --}}
              {{#if (await canDeleteSelectedAgenda)}}
                <Menu.Item
                  @skin="danger"
                  data-test-agenda-header-delete-agenda
                  {{action "openConfirmDeleteSelectedAgenda"}}
                > {{!-- vlc-dropdown-menu__item--action-danger --}}
                  {{t "agenda-delete"}}
                </Menu.Item>
              {{/if}}
              {{#if (await canReopenPreviousAgenda)}}
                <Menu.Divider />
                <Menu.Item
                  @skin="danger"
                  data-test-agenda-header-reopen-previous-version
                  {{action "openConfirmReopenPreviousAgenda"}}
                > {{!-- vlc-dropdown-menu__item--action-danger --}}
                  {{t "agenda-reopen-previous-version"}}
                </Menu.Item>
              {{/if}}
            </DropdownMenu>
          </Auk::Toolbar::Item>
        {{/if}}
        <Auk::Toolbar::Item>
          <DropdownMenu
            @skin="secondary"
            @label={{t "actions"}}
            class="vlc-hide-on-print"
            data-test-agenda-header-show-action-options={{true}}
          as |Menu|>
            {{#if (and currentSessionService.isEditor currentAgenda.isDesignAgenda)}}
              <Menu.Item
                data-test-agenda-header-add-agendaitems
                {{action "addAgendaitemsAction"}}
              >
                {{t "add-to-agenda"}}
              </Menu.Item>
              <Menu.Divider />
            {{/if}}
            <Menu.Item
              data-test-agenda-header-navigate-to-decisions
              {{action "navigateToDecisions"}}
            >
              {{t "print-decisions"}}
            </Menu.Item>
            <Menu.Item
              data-test-agenda-header-navigate-to-newsletter
              {{action "navigateToNewsletter"}}
            >
              {{t "print-newsletter"}}
            </Menu.Item>
            <Menu.Item
              data-test-agenda-header-navigate-to-pressagenda
              {{action "navigateToPressAgenda"}}
            >
              {{t "printable-press-agenda"}}
            </Menu.Item>
            {{#if showPrintButton}}
              <Menu.Item
                @route="agenda.agendaitems"
                data-test-agenda-header-navigate-to-agenda-view
              >
                {{t "agenda-view"}}
              </Menu.Item>
              <Menu.Item
                data-test-agenda-header-print-agenda
                {{action "print"}}
              >
                {{t "print"}}
              </Menu.Item>
            {{else}}
              <Menu.Item
                @route="agenda.print"
                data-test-agenda-header-navigate-to-printable-agenda
              >
                {{t "printable-version"}}
              </Menu.Item>
            {{/if}}
            {{#if currentSessionService.isEditor}}
              <Menu.Divider />
              <Menu.Item
                data-test-agenda-header-toggle-editing-session
                {{action "toggleEditingSession"}}
              >
                {{t "edit-session"}}
              </Menu.Item>
            {{/if}}
            <Menu.Item
              data-test-agenda-header-download-documents
              {{action "downloadAllDocuments"}}
            >
              {{t "download-documents"}}
            </Menu.Item>
            {{#if currentAgenda.isDesignAgenda}}
              <Menu.Item
                data-test-agenda-header-approve-all-agendaitems
                {{action "showApproveAllAgendaitemsWarning"}}
              >
                {{t "approve-all-agendaitems"}}
              </Menu.Item>
            {{/if}}
            {{#if currentSessionService.isEditor}}
              {{#if
                (or
                  currentSession.canReleaseDecisions
                  currentSession.canReleaseDocuments
                  (and
                    (not (await designAgendaPresent))
                    (not (await currentSession.isFinal))
                  )
                )
              }}
                <Menu.Divider />
              {{/if}}
              {{#if currentSession.canReleaseDecisions}}
                <Menu.Item
                  @skin="danger"
                  data-test-agenda-header-release-decisions
                  {{action "releaseDecisions"}}
                >
                  {{t "agenda-release-decisions"}}
                </Menu.Item>
              {{else if currentSession.canReleaseDocuments}}
                <Menu.Item
                  @skin="danger"
                  data-test-agenda-header-release-documents
                  {{action "releaseDocuments"}}
                >
                  {{t "agenda-release-documents"}}
                </Menu.Item>
              {{/if}}
              {{#if
                (and
                  (not (await designAgendaPresent))
                  (not (await currentSession.isFinal))
                )
              }}
                <Menu.Item
                  data-test-agenda-header-create-new-design
                  {{action "createNewDesignAgendaAction" currentSession}}
                > {{!-- vlc-dropdown-menu__item--action-danger --}}
                  {{t "agenda-add"}}
                </Menu.Item>
              {{/if}}
            {{/if}}
          </DropdownMenu>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>

  {{#if isAddingAgendaitems}}
    <Agenda::Agendaitem::CreateAgendaitem
      @isAddingAgendaitems={{isAddingAgendaitems}}
      @onCreate={{this.onCreateAgendaitem}} />
  {{/if}}

  {{#if releasingDocuments}}
    <WebComponents::VlModalVerify
      @title={{t "agenda-release-documents"}}
      @buttonType="warning"
      @verifyButtonText={{t "releaseToPublicButton"}}
      @message={{t "release-documents-message"}}
      @cancel={{action "cancel"}}
      @verify={{action "confirmReleaseDocuments"}}
    />
  {{/if}}
  {{#if releasingDecisions}}
    <WebComponents::VlModalVerify
      @title={{t "agenda-release-decisions"}}
      @buttonType="warning"
      @verifyButtonText={{t "releaseToPublicButton"}}
      @message={{t "release-decisions-message"}}
      @cancel={{action "cancel"}}
      @verify={{action "confirmReleaseDecisions"}} />
  {{/if}}
  {{#if editingSession}}
    <WebComponents::VlModal
      @isOverlay={{true}}
      @title={{t "edit-session"}}
      @closeModal={{action "cancelEditSessionForm"}} >
      <Sessions::Forms::EditSession
        @meeting={{currentSession}}
        @successfullyEdited={{action "successfullyEdited"}}
        @cancelForm={{action "cancelEditSessionForm"}} />
    </WebComponents::VlModal>
  {{/if}}

  {{#if isApprovingAllAgendaitems}}
    <WebComponents::VlModalVerify
      @title={{t "approve-all-agendaitems"}}
      @buttonType="warning"
      @verifyButtonText={{t "approve"}}
      @message={{t
        "approve-all-agendaitems-warning-message"
        amountOfAgendaitems=(await this.currentAgenda.allAgendaitemsNotOkLength)
      }}
      @cancel={{action "cancel"}}
      @verify={{action "approveAllAgendaitems"}}
    />
  {{/if}}

  {{#if showLoadingOverlay}}
    <WebComponents::LoadingOverlay @size="medium" @message={{this.loadingOverlayMessage}} />
  {{/if}}

  {{!-- new agenda actions with single pop-up for confirmation --}}

  {{#if this.showConfirmForApprovingAgenda}}
    <Auk::Modal @size={{if (await this.currentAgenda.canBeApproved) "small" "large"}}>
      <Auk::Modal::Header
        @title={{t "approve-design-agenda" serialnumber=currentAgenda.serialnumber}}
        @onClose={{action "cancelApproveAgenda"}}
      />
      <Auk::Modal::Body>
        {{#if (await this.currentAgenda.canBeApproved)}}
          {{t "approve-agenda-confirmation"}}
        {{else}}
          <Auk::Alert @skin="error" @message={{t "approve-agenda-not-ok-message"}} />
          <div>{{t "approve-agenda-confirmation"}}</div>
          {{#if (await this.currentAgenda.approvedAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">{{t "rollback-agendaitem-on-approving-agenda"}}</div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.approvedAgendaitemsNotOk}}/>
          {{/if}}
          {{#if (await this.currentAgenda.newAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">
              {{t
                "move-agendaitem-on-approving-agenda"
                serialnumber=this.currentAgenda.serialnumber
              }}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.newAgendaitemsNotOk}}/>
          {{/if}}
        {{/if}}
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelApproveAgenda"}}>
        <Auk::Button
          data-test-agenda-header-approve-agenda-confirm
          @skin={{if (await this.currentAgenda.canBeApproved) "primary" "danger-primary"}}
          {{action "confirmApproveAgenda"}}
        >
          {{t "approve"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForApprovingAgendaAndClosingMeeting}}
    <Auk::Modal @size={{if (await this.currentAgenda.canBeApproved) "small" "large"}}>
      <Auk::Modal::Header
        @title={{t "approve-agenda-and-close" serialnumber = this.currentAgenda.serialnumber}}
        @onClose={{action "cancelApproveAgendaAndCloseMeeting"}}
      />
      <Auk::Modal::Body>
        {{#if (await this.currentAgenda.canBeApproved)}}
          {{t "approve-agenda-close-meeting-confirmation"}}
        {{else}}
          <Auk::Alert @skin="error" @message={{t "approve-agenda-close-meeting-not-ok-message"}} />
          <div>{{t "approve-agenda-close-meeting-confirmation"}}</div>
          {{#if (await this.currentAgenda.approvedAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">{{t "rollback-agendaitem-on-approving-agenda-close-meeting"}}</div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.approvedAgendaitemsNotOk}}/>
          {{/if}}
          {{#if (await this.currentAgenda.newAgendaitemsNotOk)}}
            <br>
            <div class="auk-u-mb-2">
              {{t
                "delete-agendaitem-on-closing-meeting"
                serialnumber=this.currentAgenda.serialnumber
              }}
            </div>
            <Agenda::AgendaHeader::AgendaActionPopupAgendaitems @agendaitems={{await this.currentAgenda.newAgendaitemsNotOk}}/>
          {{/if}}
        {{/if}}
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelApproveAgendaAndCloseMeeting"}}>
        <Auk::Button
          data-test-agenda-header-approve-and-close-agenda-confirm
          @skin={{if (await this.currentAgenda.canBeApproved) "primary" "danger-primary"}}
          {{action "confirmApproveAgendaAndCloseMeeting"}}
        >
          {{t "approve-and-close"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForClosingMeeting}}
    <Auk::Modal @size={{if (await this.currentSession.latestAgenda.isDesignAgenda) "large" "small"}}>
      <Auk::Modal::Header
        @title={{t "agenda-close"}}
        @onClose={{action "cancelCloseMeeting"}}
      />
      <Auk::Modal::Body>
        {{#if (await this.currentSession.latestAgenda.isDesignAgenda)}}
          <Auk::Alert
            @skin="error"
            @message={{t
              "agenda-design-delete-message"
              agenda=this.currentSession.latestAgenda.agendaName
            }}
          />
        {{/if}}
        <div>{{t "close-meeting-confirmation"}}</div>
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelCloseMeeting"}}>
        <Auk::Button
          data-test-agenda-header-lock-agenda-confirm
          @skin={{if
            (await this.currentSession.latestAgenda.isDesignAgenda)
            "danger-primary"
            "primary"
          }}
          {{action "confirmCloseMeeting"}}
        >
          {{t "agenda-close"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForDeletingSelectedAgenda}}
    <Auk::Modal @size={{if (eq this.agendas.length 1) "large" "small"}}>
      <Auk::Modal::Header
        @title={{t "agenda-delete"}}
        @onClose={{action "cancelDeleteSelectedAgenda"}}
      />
      <Auk::Modal::Body>
        {{#if (eq this.agendas.length 1)}}
          <Auk::Alert @skin="error" @message={{t "delete-final-agenda-and-meeting"}} />
        {{/if}}
        <div>
          {{t
            "delete-agenda-message"
            agenda=this.currentSession.latestAgenda.agendaName
          }}
        </div>
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelDeleteSelectedAgenda"}}>
        <Auk::Button
          data-test-agenda-header-delete-agenda-confirm
          @skin="danger-primary"
          {{action "confirmDeleteSelectedAgenda"}}
        >
          {{t "agenda-delete"}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}

  {{#if this.showConfirmForReopeningPreviousAgenda}}
    <Auk::Modal>
      <Auk::Modal::Header
        @title={{t "agenda-reopen-previous-version"}}
        @onClose={{action "cancelReopenPreviousAgenda"}}
      />
      <Auk::Modal::Body>
        <Auk::Alert
          @skin="error"
          @message={{t
            "agenda-reopen-confirmation"
            designAgenda = this.currentAgenda.agendaName
            approvedAgenda = (await this.lastApprovedAgendaName)
          }}
        />
        {{#if this.loadPiecesToDelete.isRunning}}
          <div class="auk-o-flex auk-o-flex--center auk-u-mt-4">
            <Auk::Loader @message={{t "loading"}} />
          </div>
        {{/if}}
        {{#if this.piecesToDeleteReopenPreviousAgenda}}
          <Auk::Alert
            @skin="warning"
            @message={{t "agenda-reopen-pieces-delete"}}
          />
          <Auk::List class="auk-list auk-list--bordered">
            {{#each this.piecesToDeleteReopenPreviousAgenda as |piece|}}
              <Auk::List::Item>
                <WebComponents::VlDocument
                  @piece={{piece}}
                />
              </Auk::List::Item>
            {{/each}}
          </Auk::List>
        {{/if}}
      </Auk::Modal::Body>
      <Auk::Modal::Footer @onCancel={{action "cancelReopenPreviousAgenda"}}>
        <Auk::Button
          data-test-agenda-header-reopen-previous-version-confirm
          @skin="danger-primary"
          @disabled={{this.loadPiecesToDelete.isRunning}}
          {{action "confirmReopenPreviousAgenda"}}
        >
          {{#if this.piecesToDeleteReopenPreviousAgenda}}
            {{t "agenda-reopen-previous-version-with-delete"}}
          {{else}}
            {{t "agenda-reopen-previous-version"}}
          {{/if}}
        </Auk::Button>
      </Auk::Modal::Footer>
    </Auk::Modal>
  {{/if}}
</Auk::Navbar>