<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4
              class="auk-toolbar-complex__title"
              data-test-agenda-header-title
            >
              {{t "agenda-of"}}
              {{moment-format @meeting.plannedStart "DD MMMM YYYY"}}
              {{#unless @meeting.isPreKaleidos}}
                {{t "at"}}
                {{moment-format @meeting.plannedStart "HH:mm"}}
              {{/unless}}
            </h4>
            {{#if @meeting.kind.label}}
              <span
                data-test-agenda-header-kind
                class="auk-u-text-muted auk-body-1"
              >
                -
                {{@meeting.kind.label}}
              </span>
            {{/if}}
          </div>
          <Agenda::AgendaHeader::PublicationPills @meeting={{@meeting}} />
          <Agenda::AgendaHeader::AgendaTabs
            @currentAgenda={{@currentAgenda}}
            @currentMeeting={{@meeting}}
          />
        </div>
      </Group.Item>
    </Toolbar.Group>
    {{#if this.currentSession.isViewer}}
      <Toolbar.Group @position="right" as |Group|>
        {{#if (user-may "manage-agenda-versions")}}
          <Group.Item>
            <Agenda::AgendaHeader::AgendaVersionActions
              @meeting={{@meeting}}
              @currentAgenda={{@currentAgenda}}
              @reverseSortedAgendas={{@reverseSortedAgendas}}
              @didCloseMeeting={{@refreshRoute}}
              @onStartLoading={{this.setLoadingMessage}}
              @onStopLoading={{this.clearLoadingMessage}}
            />
          </Group.Item>
        {{/if}}
        <Group.Item>
          <Agenda::AgendaHeader::AgendaActions
            @meeting={{@meeting}}
            @currentAgenda={{@currentAgenda}}
            @didApproveAgendaitems={{@refreshRoute}}
            @onStartLoading={{this.setLoadingMessage}}
            @onStopLoading={{this.clearLoadingMessage}}
          />
        </Group.Item>
      </Toolbar.Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>

{{! TODO KAS-2399 the LoadingOverlay had a default empty message, this doesn't have one}}
{{#if this.showLoadingOverlay}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header @title={{t "loading-text"}} @closeable={{false}} />
    <Auk::Modal::Body>
      <Auk::Loader @message={{this.loadingMessage}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}