<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical">
            <div class="auk-o-flex auk-o-flex--vertical-center">
              <h4
                class="auk-toolbar-complex__title"
                data-test-agenda-header-title
              >
                {{t "agenda-of"}}
                {{moment-format @meeting.plannedStart "DD MMMM YYYY"}}
                {{#unless @meeting.isPreKaleidos}}
                  {{t "at"}}
                  {{moment-format @meeting.plannedStart "HH:mm"}}
                {{/unless}}
              </h4>
              {{#if @meeting.kindToShow.label}}
                <span data-test-agenda-header-kind class="au-u-muted auk-body-1">
                  -
                  {{await @meeting.kindToShow.label}}
                </span>
              {{/if}}
            </div>

            <div>
              {{#if @meeting.releasedDecisions}}
                {{#if (is-same-or-before @meeting.releasedDecisions [(moment-format (now) "DD-MM-YY")] [precision='milliseconds'])}}
                <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
                  Beslissingen zijn vrijgegeven op
                  {{moment-format @meeting.releasedDecisions "DD-MM-YYYY"}}
                  om
                  {{moment-format @meeting.releasedDecisions "HH:mm"}}
                </AuPill>
                {{else}}
                <AuPill @skin="warning" @icon="clock" class="auk-u-mr-2 auk-u-mt-2">
                  Beslissingen worden vrijgegeven op
                  {{moment-format @meeting.releasedDecisions "DD-MM-YYYY"}}
                  om
                  {{moment-format @meeting.releasedDecisions "HH:mm"}}
                </AuPill>
                {{/if}}
              {{/if}}
              {{#if @meeting.releasedDocuments}}
                {{#if (is-same-or-before @meeting.releasedDocuments [(moment-format (now) "DD-MM-YY")] [precision='milliseconds'])}}
                <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
                  Documenten zijn vrijgegeven op
                  {{moment-format @meeting.releasedDocuments "DD-MM-YYYY"}}
                  om
                  {{moment-format @meeting.releasedDocuments "HH:mm"}}
                </AuPill>
                {{else}}
                <AuPill @skin="warning" @icon="clock" class="auk-u-mr-2 auk-u-mt-2">
                  Documenten zijn vrijgegeven op
                  {{moment-format @meeting.releasedDocuments "DD-MM-YYYY"}}
                  om
                  {{moment-format @meeting.releasedDocuments "HH:mm"}}
                </AuPill>
                {{/if}}

                {{#if this.canPublishThemis}}
                  {{#if this.isAlreadyPublished}}
                  <AuPill @skin="success" @icon="check" class="auk-u-mr-2 auk-u-mt-2">
                    Documenten zijn gepubliceerd
                  </AuPill>
                  {{else}}
                  <AuPill @skin="default" @icon="circle-info" class="auk-u-mr-2 auk-u-mt-2">
                    Documenten zijn nog niet gepubliceerd
                  </AuPill>
                  {{/if}}
                {{/if}}
              {{/if}}
            </div>
          </div>
          <Agenda::AgendaHeader::AgendaTabs
            @currentAgenda={{@currentAgenda}}
            @currentMeeting={{@meeting}}
          />
        </div>
      </Group.Item>
    </Toolbar.Group>
    {{#if this.currentSession.isViewer}}
      <Toolbar.Group @position="right" as |Group|>
        <Group.Item>
          <Agenda::AgendaHeader::AgendaActions
            @meeting={{@meeting}}
            @currentAgenda={{@currentAgenda}}
            @didApproveAgendaitems={{@refreshRoute}}
            @onStartLoading={{this.setLoadingMessage}}
            @onStopLoading={{this.clearLoadingMessage}}
          />
        </Group.Item>
        <Group.Item>
          <Agenda::AgendaHeader::AgendaVersionActions
            @meeting={{@meeting}}
            @currentAgenda={{@currentAgenda}}
            @reverseSortedAgendas={{@reverseSortedAgendas}}
            @didCloseMeeting={{@refreshRoute}}
            @onStartLoading={{this.setLoadingMessage}}
            @onStopLoading={{this.clearLoadingMessage}}
          />
        </Group.Item>
      </Toolbar.Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>

{{! TODO KAS-2399 the LoadingOverlay had a default empty message, this doesn't have one}}
{{#if this.showLoadingOverlay}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header @title={{t "loading-text"}} @closeable={{false}} />
    <Auk::Modal::Body>
      <Auk::Loader @message={{this.loadingMessage}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}