<div class="vlc-agenda-items" ...attributes>
  {{#if (and @isEditingOverview this.canMoveAgendaitems)}}
    <ChangesAlert
      @message={{t "editing-agenda-overview"}}
      @buttonText={{t "apply-order"}}
      @onClear={{this.save}}
      @cancellable="true"
      @onCancel={{this.onCancel}}
    />
  {{/if}}
  <Auk::Toolbar @auto={{true}} class="auk-u-mb-3">
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h3
          data-test-agenda-overview-section-title-notes
          class="auk-h3 auk-u-m-0"
        >
          {{t "agendaitems-subtitle"}}
        </h3>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{#unless @isEditingOverview}}
    <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <AuButtonGroup>
          <AuButton
            data-test-agenda-overview-show-changes={{true}}
            @skin="naked"
            {{on "click" @toggleShowModifiedOnly}}
          >
            {{if @showModifiedOnly (t "show-all") (t "show-changes")}}
          </AuButton>
        </AuButtonGroup>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{/unless}}
  </Auk::Toolbar>
  {{#if (not @isLoadingNotaGroups)}}
    {{#if @notaGroups.length}}
      <div class="auk-u-mb-8">
        <ul {{sortable-group onChange=this.setNotas}}>
          {{#if (and this.notas.length @isEditingOverview)}}
            {{#each this.notas as |agendaitem indexItems|}}
              <li
                class="vlc-agenda-items__sub-item"
                {{sortable-item
                  model=agendaitem
                  distance="30"
                  disabled=(not this.canMoveAgendaitems)
                }}
              >
                <Agenda::AgendaOverview::AgendaOverviewItem
                  @agendaitem={{agendaitem}}
                  @meeting={{@meeting}}
                  @currentAgenda={{@currentAgenda}}
                  @previousAgenda={{@previousAgenda}}
                  @isNew={{includes agendaitem @newItems}}
                  @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
                  @isEditingFormallyOkStatus={{@isEditingOverview}}
                  @allowReorderItems={{this.canMoveAgendaitems}}
                  @onMove={{this.move}}
                  @isFirst={{eq indexItems 0}}
                  @isLast={{not (has-next agendaitem this.notas)}}
                  @agendaitemIndex={{sum indexItems 1}}
                />
              </li>
            {{/each}}
          {{else}}
            {{#each @notaGroups as |agendaitemGroup index|}}
              {{! template-lint-disable simple-unless }}
              {{#unless
                (or (and (eq index 0) (is-empty agendaitemGroup.sortedMandatees)) @isEditingOverview)
              }}
                <div class="auk-u-mt-3">
                  <Agenda::AgendaOverview::AgendaitemGroupHeader
                    @mandatees={{agendaitemGroup.sortedMandatees}}
                  />
                </div>
              {{/unless}}
              {{! template-lint-enable simple-unless }}
              {{#each agendaitemGroup.agendaitems as |agendaitem indexItems|}}
                <li
                  class="vlc-agenda-items__sub-item"
                  {{sortable-item
                    model=agendaitem
                    distance="30"
                    disabled=(not this.canMoveAgendaitems)
                  }}
                >
                  <Agenda::AgendaOverview::AgendaOverviewItem
                    @agendaitem={{agendaitem}}
                    @meeting={{@meeting}}
                    @currentAgenda={{@currentAgenda}}
                    @previousAgenda={{@previousAgenda}}
                    @isNew={{includes agendaitem @newItems}}
                    @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
                    @isEditingFormallyOkStatus={{@isEditingOverview}}
                    @allowReorderItems={{this.canMoveAgendaitems}}
                    @onMove={{this.move}}
                    @isFirst={{and (eq index 0) (eq indexItems 0)}}
                    @isLast={{and (not (has-next agendaitemGroup @notaGroups)) (not (has-next agendaitem agendaitemGroup.agendaitems))}}
                  />
                </li>
              {{/each}}
            {{/each}}
          {{/if}}
        </ul>
      </div>
    {{else}}
      <div class="auk-u-mt-2">
        <AuAlert
          @skin="info"
          @icon="info-circle"
        >
          {{t "no-agendaitems-yet"}}
        </AuAlert>
      </div>
    {{/if}}
  {{else}}
    <Auk::Loader @message={{t "agendaitem-grouping-message"}} />
  {{/if}}
  <div class="auk-u-mb-3">
    <h3 class="auk-h3 auk-u-m-0">
      {{t "announcements-subtitle"}}
    </h3>
  </div>
  <div class="auk-u-mb-4">
    {{#if this.announcements.length}}
      <ul {{sortable-group onChange=@onReorderAgendaitems}}>
        {{#each this.announcements as |announcement indexitems|}}
          <li
            class="vlc-agenda-items__sub-item"
            {{sortable-item
              model=announcement
              distance="30"
              disabled=(not this.canMoveAgendaitems)
            }}
          >
            <Agenda::AgendaOverview::AgendaOverviewItem
              @agendaitem={{announcement}}
              @meeting={{@meeting}}
              @currentAgenda={{@currentAgenda}}
              @previousAgenda={{@previousAgenda}}
              @isNew={{includes announcement @newItems}}
              @showFormallyOkStatus={{@currentAgenda.status.isDesignAgenda}}
              @isEditingFormallyOkStatus={{@isEditingOverview}}
              @allowReorderItems={{this.canMoveAgendaitems}}
              @onMove={{this.move}}
              @isFirst={{eq indexitems 0}}
              @isLast={{not (has-next announcement this.announcements)}}
              @agendaitemIndex={{sum indexItems 1}}
            />
          </li>
        {{/each}}
      </ul>
    {{else}}
      <AuAlert
        @skin="info"
        @icon="info-circle"
      >
        {{t "no-announcements-yet"}}
      </AuAlert>
    {{/if}}
  </div>
</div>