{{!-- template-lint-disable  --}}
<div class="l-compare-agenda-list">
  <div class="l-compare-agenda-list__controls auk-u-mb-3">
    <Utils::AgendaSelector
      data-test-compare-agenda-left={{true}}
      @agendas={{@reverseSortedAgendas}}
      @searchField="name"
      @propertyToShow="agendaName"
      @placeholder={{t "select-agenda"}}
      @multiSelect={{false}}
      @sortField="label"
      @selectedAgenda={{this.agendaOne}}
      @selectModel={{this.chooseAgendaOne}}
    as |agenda|>
      {{agenda.agendaName}}
    </Utils::AgendaSelector>
    <Utils::AgendaSelector
      data-test-compare-agenda-right={{true}}
      @agendas={{@reverseSortedAgendas}}
      @searchField="name"
      @propertyToShow="agendaName"
      @placeholder={{t "select-agenda"}}
      @multiSelect={{false}}
      @sortField="label"
      @selectedAgenda={{this.agendaTwo}}
      @selectModel={{this.chooseAgendaTwo}}
    as |agenda|>
      {{agenda.agendaName}}
    </Utils::AgendaSelector>
  </div>

  {{#if (or (await this.combinedAgendaitems) (await this.combinedAnnouncements))}}
    {{#each (await this.combinedAgendaitems) as |combinedAgendaitem|}}
      {{#if
        (or (not @isShowingChanges) (and @isShowingChanges (await (this.hasChanges combinedAgendaitem.right))))
      }}
        <div class="l-compare-agenda-list__item">
          {{#if combinedAgendaitem.groupName}}
            <div class="auk-section-header auk-section-header--default auk-u-mt-3">
              <div class="auk-section-header__title auk-section-header__title--small">
                {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
                {{!-- template-lint-disable no-triple-curlies  --}}
                {{{combinedAgendaitem.groupName}}}
                {{!-- template-lint-enable no-triple-curlies  --}}
              </div>
            </div>
            <div class="auk-section-header auk-section-header--default auk-u-mt-3">
              <div class="auk-section-header__title auk-section-header__title--small">
                {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
                These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
                {{!-- template-lint-disable no-triple-curlies  --}}
                {{{combinedAgendaitem.groupName}}}
                {{!-- template-lint-enable no-triple-curlies  --}}
              </div>
            </div>
          {{/if}}
          <div class="l-compare-agenda-list__block">
            {{#if combinedAgendaitem.left}}
              <div data-test-compare-agendaitem-left>
                <Agenda::AgendaOverview::AgendaOverviewItem
                  @meeting={{@meeting}}
                  @agenda={{this.agendaOne}}
                  @agendaitem={{combinedAgendaitem.left}}
                />
              </div>
            {{/if}}
          </div>
          <div class="l-compare-agenda-list__block">
            {{#if combinedAgendaitem.right}}
              <div data-test-compare-agendaitem-right>
                <Agenda::AgendaOverview::AgendaOverviewItem
                  @meeting={{@meeting}}
                  @agenda={{this.agendaTwo}}
                  @agendaitem={{combinedAgendaitem.right}}
                />
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{/each}}
    {{#if (await this.combinedAnnouncements)}}
      <div class="auk-u-mb-3">
        <h3 class="auk-h2 auk-u-m-0">
          {{t "announcements-subtitle"}}
        </h3>
      </div>
      {{#each (await this.combinedAnnouncements) as |combinedAnnouncement|}}
        {{#if
          (or (not @isShowingChanges) (and @isShowingChanges (await (this.hasChanges combinedAnnouncement.right))))
        }}
          <div class="l-compare-agenda-list__item">
            <div class="l-compare-agenda-list__block">
              {{#if combinedAnnouncement.left}}
                <div data-test-compare-announcement-left>
                  <Agenda::AgendaOverview::AgendaOverviewItem
                    @meeting={{@meeting}}
                    @agenda={{this.agendaOne}}
                    @agendaitem={{combinedAnnouncement.left}}
                  />
                </div>
              {{/if}}
            </div>
            <div class="l-compare-agenda-list__block">
              {{#if combinedAnnouncement.right}}
                <div data-test-compare-announcement-right>
                  <Agenda::AgendaOverview::AgendaOverviewItem
                    @meeting={{@meeting}}
                    @agenda={{this.agendaTwo}}
                    @agendaitem={{combinedAnnouncement.right}}
                  />
                </div>
              {{/if}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    {{/if}}
  {{else if
    (or this.isLoadingAgendaOne this.isLoadingAgendaTwo this.isLoadingComparison)
  }}
    <WebComponents::VlLoader @text={{t "please-be-patient"}} />
  {{else if (and this.agendaOne this.agendaTwo)}}
    <div class="auk-u-mt-2">
      <WebComponents::VlAlert @message={{t "no-agendaitems-yet"}} />
    </div>
  {{/if}}
</div>