{{!-- template-lint-disable  --}}
<div class="auk-u-flex auk-u-flex--justify-between auk-u-mb-2">
  <div class="compare-left-column">
    {{utils/agenda-selector
      data-test-compare-agenda-left=true
      searchField="name"
      propertyToShow="agendaName"
      placeholder=(t "select-agenda")
      multiSelect=false
      sortField="label"
      selectedAgenda=this.agendaOne
      selectModel=(action this.chooseAgendaOne)
    }}
  </div>
  <div class="compare-right-column">
    {{utils/agenda-selector
      data-test-compare-agenda-right=true
      searchField="name"
      propertyToShow="agendaName"
      placeholder=(t "select-agenda")
      multiSelect=false
      sortField="label"
      selectedAgenda=this.agendaTwo
      selectModel=(action this.chooseAgendaTwo)
    }}
  </div>
</div>
{{#if (or (await this.combinedAgendaitems) (await this.combinedAnnouncements))}}
  {{#each (await this.combinedAgendaitems) as |combinedAgendaitem|}}
    {{#if
      (or (not @isShowingChanges) (and @isShowingChanges (await combinedAgendaitem.right.hasChanges)))
    }}
      <div class="compare-grid-container">
        {{#if combinedAgendaitem.groupName}}
          <div class="vlc-list-section-header auk-u-mb-2">
            {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
              These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
            {{!-- template-lint-disable no-triple-curlies  --}}
            {{{combinedAgendaitem.groupName}}}
            {{!-- template-lint-enable no-triple-curlies  --}}
          </div>
          <div class="vlc-list-section-header auk-u-mb-2">
            {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
              These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
            {{!-- template-lint-disable no-triple-curlies  --}}
            {{{combinedAgendaitem.groupName}}}
            {{!-- template-lint-enable no-triple-curlies  --}}
          </div>
        {{else}}
          <div></div>
          <div></div>
        {{/if}}
        <div class="vlc-agenda-items__sub-item grid-item">
          {{#if combinedAgendaitem.left}}
            <div data-test-compare-agendaitem-left>
              {{agenda/agenda-overview/agenda-overview-item
                isDocumentClickable=true
                isComparing=true
                agendaitem=combinedAgendaitem.left
              }}
            </div>
          {{/if}}
        </div>
        <div class="vlc-agenda-items__sub-item grid-item">
          {{#if combinedAgendaitem.right}}
            <div data-test-compare-agendaitem-right>
              {{agenda/agenda-overview/agenda-overview-item
                isDocumentClickable=true
                isComparing=true
                agendaitem=combinedAgendaitem.right
              }}
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/each}}
  {{#if (await this.combinedAnnouncements)}}
    <div class="vlc-agenda-items-section-header">
      <h3 class="auk-h2 auk-u-m-0 vlc-agenda-items-section-header__title">
        {{t "announcements-subtitle"}}
      </h3>
    </div>
    {{#each (await this.combinedAnnouncements) as |combinedAnnouncement|}}
      {{#if
        (or (not @isShowingChanges) (and @isShowingChanges (await combinedAnnouncement.right.hasChanges)))
      }}
        <div class="compare-grid-container">
          <div class="vlc-agenda-items__sub-item grid-item">
            {{#if combinedAnnouncement.left}}
              <div data-test-compare-announcement-left>
                {{agenda/agenda-overview/agenda-overview-item
                  isDocumentClickable=true
                  isComparing=true
                  agendaitem=combinedAnnouncement.left
                }}
              </div>
            {{/if}}
          </div>
          <div class="vlc-agenda-items__sub-item grid-item">
            {{#if combinedAnnouncement.right}}
              <div data-test-compare-announcement-right>
                {{agenda/agenda-overview/agenda-overview-item
                  isDocumentClickable=true
                  isComparing=true
                  agendaitem=combinedAnnouncement.right
                }}
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
{{else if
  (or this.isLoadingAgendaOne this.isLoadingAgendaTwo this.isLoadingComparison)
}}
  {{web-components/vl-loader text=(t "please-be-patient")}}
{{else if (and this.agendaOne this.agendaTwo)}}
  <div class="auk-u-mt-2">
    {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
  </div>
{{/if}}