<h2 class="auk-h3">
  {{title}}
</h2>
{{#if (not (is-pending hasActiveAgendas))}}
  {{#if (await hasActiveAgendas)}}
    <table class="data-table auk-table auk-table--striped"
           data-test-future-agenda-table>
      <thead>
        <tr>
          <th class="auk-table__col--3 auk-table__header-title auk-table__header-title--unsortable">
            <div class="auk-u-flex auk-u-flex--vertical-center">
              <span>
                {{t "agenda"}}
              </span>
            </div>
          </th>
          <th class="auk-table__col--2 auk-table__header-title auk-table__header-title--unsortable"
          >
            <div class="auk-u-flex auk-u-flex--vertical-center">
              <span>
                {{t "agenda-version"}}
              </span>
            </div>
          </th>
          <th class="auk-table__col--2 auk-table__header-title auk-table__header-title--unsortable"
          >
            <div class="auk-u-flex auk-u-flex--vertical-center">
              <span>
                {{t "latest-modified"}}
              </span>
            </div>
          </th>
          <th class="auk-table__col--2 auk-table__header-title auk-table__header-title--unsortable"
          >
            <div class="auk-u-flex auk-u-flex--vertical-center">
              <span>
                {{t "status"}}
              </span>
            </div>
          </th>
          <th class="auk-table__col--2 auk-table__header-title auk-table__header-title--unsortable"
          >
            <div class="auk-u-flex auk-u-flex--vertical-center">
              <span>
                {{t "kind"}}
              </span>
            </div>
          </th>
          <th class="auk-table__col--1"></th>
        </tr>
      </thead>
      <tbody class="auk-table--interaction-cursor" data-test-future-agenda-table-body>
        {{#each (await items) as |meeting|}}
          {{#link-to
            "agenda.agendaitems"
            meeting.id
            meeting.latestAgenda.id
            tagName="tr"
          }}
            <td>
              {{#if (is-pending meeting)}}
                <div class="skeletal-loader" role="alert" aria-busy="true"></div>
              {{else}}
                {{t "agenda-for"}}
                {{moment-format meeting.plannedStart "DD.MM.YYYY"}}
              {{/if}}
            </td>
            <td>
              {{#if (is-pending meeting.latestAgendaName)}}
                <div class="skeletal-loader" role="alert" aria-busy="true"></div>
              {{else if (await meeting.latestAgendaName)}}
                {{await meeting.latestAgendaName}}
              {{else}}
                {{t "no-agenda"}}
              {{/if}}
            </td>
            <td>
              {{#if (is-pending meeting.latestAgenda)}}
                <div class="skeletal-loader" role="alert" aria-busy="true"></div>
              {{else}}
                {{moment-format
                  (await meeting.latestAgenda.modified)
                  "DD-MM-YYYY HH:mm"
                }}
              {{/if}}
            </td>
            <td>
              {{#if meeting.isFinal}}
                {{t "closed"}}
              {{else}}
                {{t "opened"}}
              {{/if}}
            </td>
            <td>
              {{meeting.kindToShow.label}}
            </td>
            <td class="auk-u-text-align--right">
              {{#link-to
                "agenda.agendaitems"
                meeting.id
                meeting.latestAgenda.id
                class="auk-button auk-button--borderless auk-button--icon"
                bubbles=false
              }}
                <span class="auk-button__content">
                  <div class="auk-icon auk-icon--default">
                    <i class="ki ki-nav-right"></i>
                  </div>
                </span>
              {{/link-to}}
            </td>
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div>
      {{web-components/vl-alert message=emptyText}}
    </div>
  {{/if}}
{{else}}
  {{web-components/vl-loader
    text=(concat (t "loading-active-agendas") " " (t "please-be-patient"))
  }}
{{/if}}
