<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical auk-u-mt-2">
          <div class="auk-o-flex auk-o-flex--vertical-center">
            <h4
              class="auk-toolbar-complex__title"
              data-test-agenda-header-title
            >
              {{t "agenda-of"}}
              {{moment-format @meeting.plannedStart "DD MMMM YYYY"}}
              {{#unless @meeting.isPreKaleidos}}
                {{t "at"}}
                {{moment-format @meeting.plannedStart "HH:mm"}}
              {{/unless}}
            </h4>
            {{#if @meeting.kindToShow.label}}
              <span class="auk-u-muted auk-body-1">
                -
                {{await @meeting.kindToShow.label}}
              </span>
            {{/if}}
          </div>
          <Sessions::SessionAgendaNav
            @currentAgenda={{@currentAgenda}}
            @currentMeeting={{@meeting}}
          />
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    {{#if this.currentSession.isViewer}}
      <Auk::Toolbar::Group @position="right">
        <Agenda::MeetingHeader::AgendaActions
          @meeting={{@meeting}}
          @currentAgenda={{@currentAgenda}}
          @reversedAgendas={{@reversedAgendas}}
          @refreshRoute={{@refreshRoute}}
          @loading={{@loading}}
        />
        <Auk::Toolbar::Item>
          <DropdownMenu
            @skin="secondary"
            @label={{t "actions"}}
            class="vlc-hide-on-print"
            data-test-agenda-header-show-action-options={{true}}
            as |Menu|
          >
            {{#if this.canEditDesignAgenda}}
              <Menu.Item
                data-test-agenda-header-add-agendaitems
                {{on "click" this.openAddAgendaitemsModal}}
              >
                {{t "add-to-agenda"}}
              </Menu.Item>
              <Menu.Divider />
            {{/if}}
            <Menu.Item
              data-test-agenda-header-navigate-to-decisions
              @route="print-overviews.decisions.agendaitems"
              @models={{array @meeting.id @currentAgenda.id}}
            >
              {{t "print-decisions"}}
            </Menu.Item>
            <Menu.Item
              data-test-agenda-header-navigate-to-newsletter
              @route="newsletter"
              @model={{@meeting.id}}
            >
              {{t "print-newsletter"}}
            </Menu.Item>
            <Menu.Item
              data-test-agenda-header-navigate-to-pressagenda
              @route="print-overviews.press-agenda.agendaitems"
              @models={{array @meeting.id @currentAgenda.id}}
            >
              {{t "printable-press-agenda"}}
            </Menu.Item>
            {{#if this.showPrintButton}}
              <Menu.Item
                @route="agenda.agendaitems"
                data-test-agenda-header-navigate-to-agenda-view
              >
                {{t "agenda-view"}}
              </Menu.Item>
              <Menu.Item
                data-test-agenda-header-print-agenda
                {{on "click" this.print}}
              >
                {{t "print"}}
              </Menu.Item>
            {{else}}
              <Menu.Item
                @route="agenda.print"
                data-test-agenda-header-navigate-to-printable-agenda
              >
                {{t "printable-version"}}
              </Menu.Item>
            {{/if}}
            <Menu.Item
              data-test-agenda-header-download-documents
              {{on "click" this.downloadAllDocuments}}
            >
              {{t "download-documents"}}
            </Menu.Item>
            {{#if this.currentSession.isEditor}}
              <Menu.Divider />
              <Menu.Item
                data-test-agenda-header-toggle-editing-session
                {{on "click" this.toggleEditingSession}}
              >
                {{t "edit-session"}}
              </Menu.Item>
            {{/if}}
            {{#if this.canEditDesignAgenda}}
              <Menu.Item
                data-test-agenda-header-approve-all-agendaitems
                {{on "click" this.openConfirmApproveAllAgendaitems}}
              >
                {{t "approve-all-agendaitems"}}
              </Menu.Item>
            {{/if}}
            {{#if this.canReleaseDecisions}}
              <Menu.Divider />
              <Menu.Item
                @skin="danger"
                data-test-agenda-header-release-decisions
                {{on "click" this.openConfirmReleaseDecisions}}
              >
                {{t "agenda-release-decisions"}}
              </Menu.Item>
            {{else if this.canReleaseDocuments}}
              <Menu.Divider />
              <Menu.Item
                @skin="danger"
                data-test-agenda-header-release-documents
                {{on "click" this.openConfirmReleaseDocuments}}
              >
                {{t "agenda-release-documents"}}
              </Menu.Item>
            {{/if}}
          </DropdownMenu>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    {{/if}}
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.isAddingAgendaitems}}
  <Agenda::Agendaitem::CreateAgendaitem
    @isAddingAgendaitems={{this.isAddingAgendaitems}}
    @onCreate={{@refreshRoute}}
  />
{{/if}}

{{#if this.showConfirmReleaseDocuments}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "agenda-release-documents"}}
      @onClose={{this.cancelReleaseDocuments}}
    />
    <Auk::Modal::Body>
      <p>{{t "release-documents-message"}}</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelReleaseDocuments}}>
      <Auk::Button @skin="danger-primary" {{on "click" this.releaseDocuments}}>
        {{t "releaseToPublic"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.showConfirmReleaseDecisions}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "agenda-release-decisions"}}
      @onClose={{this.cancelReleaseDecisions}}
    />
    <Auk::Modal::Body>
      <p>{{t "release-decisions-message"}}</p>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelReleaseDecisions}}>
      <Auk::Button @skin="danger-primary" {{on "click" this.releaseDecisions}}>
        {{t "releaseToPublic"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{#if this.isEditingSession}}
  <Auk::Modal @size="large">
    <Auk::Modal::Header
      @title={{t "edit-session"}}
      @onClose={{this.toggleEditingSession}}
    />
    <Sessions::Forms::EditSession
      @meeting={{@meeting}}
      @successfullyEdited={{this.toggleEditingSession}}
      @cancelForm={{this.toggleEditingSession}}
    />
  </Auk::Modal>
{{/if}}

{{#if this.showConfimApprovingAllAgendaitems}}
  <Auk::Modal @size="small">
    <Auk::Modal::Header
      @title={{t "approve-all-agendaitems"}}
      @onClose={{this.cancelApproveAllAgendaitems}}
    />
    <Auk::Modal::Body>
      <Utils::LoadableContent
        @isLoading={{this.reloadAgendaitemsData.isRunning}}
        @reserveSpace={{true}}
      >
        <p>
          {{t
            "approve-all-agendaitems-warning-message"
            amountOfAgendaitems=(await @currentAgenda.allAgendaitemsNotOkLength)
          }}
        </p>
      </Utils::LoadableContent>
    </Auk::Modal::Body>
    <Auk::Modal::Footer @onCancel={{this.cancelApproveAllAgendaitems}}>
      <Auk::Button
        @skin="primary"
        @disabled={{this.reloadAgendaitemsData.isRunning}}
        {{on "click" this.approveAllAgendaitems}}
      >
        {{t "approve"}}
      </Auk::Button>
    </Auk::Modal::Footer>
  </Auk::Modal>
{{/if}}

{{! TODO KAS-2399 the LoadingOverlay had a default empty message, this doesn't have one}}
{{#if this.showLoadingOverlay}}
  <Auk::Modal @size="medium">
    <Auk::Modal::Header @title={{t "loading-text"}} @closeable={{false}} />
    <Auk::Modal::Body>
      <Auk::Loader @message={{this.loadingMessage}} />
    </Auk::Modal::Body>
  </Auk::Modal>
{{/if}}