<div class="auk-u-m-8 auk-u-m-0@print">
  <div
    class="auk-container auk-container--center l-printable-agenda"
    data-test-printable-agenda-container
  >
    <Utils::LogoHeader />
    <h2
      class="auk-h2 auk-u-text-family-serif auk-u-text-align--center auk-u-mt-5 auk-u-mb-10"
      data-test-printable-agenda-header-title
    >
      {{t "agenda-of"}}
      {{moment-format
        @meeting.plannedStart
        (if
          @meeting.isPreKaleidos
          "dddd DD MMMM YYYY"
          "dddd DD MMMM YYYY \o\m HH:mm"
        )
      }}
      -
      {{kind-print-label @meeting.kind}}
    </h2>

    <div class="auk-content">
      {{#if (gt @notas.length 0)}}
        <Agenda::PrintableAgenda::ListSection
          @letter="A"
          @title={{t "agendaitems"}}
        >
          {{#each @notas as |notaGroup|}}
            <Agenda::PrintableAgenda::ListSection::ItemGroup
              @items={{notaGroup}}
              @isDraftAccessLevelArgs={{@isDraftAccessLevelArgs}}
            />
          {{/each}}
        </Agenda::PrintableAgenda::ListSection>
      {{/if}}

      {{#if (gt @announcements.length 0)}}
        <Agenda::PrintableAgenda::ListSection
          @letter="B"
          @title={{t "announcements-subtitle"}}
          @onNewPage={{true}}
        >
          {{#each @announcements as |announcement|}}
            <Agenda::PrintableAgenda::ListSection::ItemGroup::Item
              @item={{announcement}}
              @isDraftAccessLevelArgs={{@isDraftAccessLevelArgs}}
            />
          {{/each}}
        </Agenda::PrintableAgenda::ListSection>
      {{/if}}
    </div>
  </div>
</div>