<div class="auk-u-m-8 auk-u-m-0@print">
  <div class="auk-container auk-container--center auk-printable-agenda-list" data-test-printable-agenda-container>
    <Utils::LogoHeader />
    <h2 class="auk-h2 auk-u-text-family-serif auk-u-text-align--center" data-test-printable-agenda-header-title>
      {{t "agenda-of"}}
      {{moment-format
        this.meeting.plannedStart
        (if
          this.meeting.isPreKaleidos
          "dddd DD MMMM YYYY"
          "dddd DD MMMM YYYY \o\m HH:mm"
        )
      }}
      -
      {{this.meeting.kindToShow.altLabel}}
    </h2>

    <div class="auk-content">
      {{#if (gt this.notas.length 0)}}
        <Agenda::PrintableAgenda::ListSection
          @letter="A"
          @title={{t "agendaitems"}}
        >
          {{#each this.notas as |notaGroup|}}
            <Agenda::PrintableAgenda::ListSection::ItemGroup @items={{notaGroup}} />
          {{/each}}
        </Agenda::PrintableAgenda::ListSection>
      {{/if}}

      {{#if (gt this.announcements.length 0)}}
        <Agenda::PrintableAgenda::ListSection
          @letter="B"
          @title={{t "announcements-subtitle"}}
        >
          {{#each this.announcements as |announcement|}}
            <Agenda::PrintableAgenda::ListSection::ItemGroup::Item @item={{announcement}} />
          {{/each}}
        </Agenda::PrintableAgenda::ListSection>
      {{/if}}
    </div>
  </div>
</div>