<nav class="vlc-side-nav">
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__header">
      <div class="vlc-navbar vlc-navbar--bordered-bottom">
        <div class="vlc-toolbar">
          <div class="vlc-toolbar__left">
            <h2 class="auk-h4">
              <span>
                {{t "nav-title"}}
              </span>
            </h2>
          </div>
          <div class="vlc-toolbar__right">
            {{#if agendaMenuOpened}}
              <button type="button" class="auk-button auk-button--borderless auk-button--icon default"
                {{action "collapseSideMenu"}}>
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-chevron-right"></i>
                </div>
                <div class="auk-u-sr-only">
                  {{t "toggle"}}
                </div>
              </button>
            {{else}}
              <button type="button" class="auk-button auk-button--borderless auk-button--icon collapsed"
                {{action "collapseSideMenu"}}>
                <div class="auk-icon auk-icon--default">
                  <i class="ki ki-chevron-left"></i>
                </div>
                <div class="auk-u-sr-only">
                  {{t "toggle"}}
                </div>
              </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="vlc-scroll-wrapper__body">
      <ul>
        {{#each (await agendas) as |agenda index|}}
          <li data-test-agenda-sidenav-element={{index}} class="vlc-side-nav-item
              {{active-class
                agenda
                currentAgenda
                class="vlc-side-nav-item--active"
              }}"
          >
            <a href="javascript://" {{action "setCurrentAgenda" agenda}}>
              <div class="vlc-side-nav-item__label">
                <span>
                  {{await agenda.agendaName}}
                </span>
              </div>
              <div class="vlc-side-nav-item__meta">
                {{#if (not agenda.isDesignAgenda)}}
                  {{t "approved-on"}}
                  <br/>
                  {{moment-format agenda.modified "dd DD/MM/YYYY HH:mm"}}
                {{else}}
                  {{t "latest-modified-on"}}
                  <br/>
                  {{moment-format agenda.modified "dd DD/MM/YYYY HH:mm"}}
                {{/if}}
              </div>
              <div class="vlc-side-nav-item__meta--small">
                <h3 class="auk-h4">
                  {{#if (not agenda.isDesignAgenda)}}
                    {{agenda.name}}
                  {{else}}
                    *
                  {{/if}}
                </h3>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav>
