<Auk::Sidebar
  @size="xsmall"
  @position="left"
  @skin="gray-200"
  class={{if @isOpen "auk-scroll-wrapper"}}
  @isCollapsed={{not @isOpen}}
>
  <Auk::Navbar @skin="gray-200" @noPadding={{not @isOpen}}>
    <Auk::Toolbar as |Toolbar|>
      {{#if @isOpen}}
        <Toolbar.Group @position="left">
          <AuHeading @level="2" @skin="6">{{t "nav-title"}}</AuHeading>
        </Toolbar.Group>
      {{/if}}
      <Toolbar.Group @position={{if @isOpen "right" "center"}} as |Group|>
        <Group.Item
          class={{if (not @isOpen) "auk-o-flex auk-o-flex--horizontal-center"}}
        >
          <AuButton
            @skin="naked"
            @icon={{if @isOpen "chevron-left" "chevron-right"}}
            @hideText={{true}}
            {{on "click" (if @isOpen @onCollapse @onOpen)}}
          >
            {{#if @isOpen}}
              {{t "hide"}}
            {{else}}
              {{t "show"}}
            {{/if}}
          </AuButton>
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    <ul>
      {{#each (take 1 @reverseSortedAgendas) as |agenda|}}
        <li
          class="auk-sidebar__item auk-sidebar__item--styled
            {{if (eq @currentAgenda.id agenda.id) "auk-sidebar__item--active"}}"
        >
          <LinkTo
            data-test-agenda-side-nav-agenda
            @route="agenda.agendaitems"
            @models={{array @meeting.id agenda.id}}
          >
            {{#if @isOpen}}
              <div class="auk-sidebar__label" data-test-agenda-side-nav-agenda-name>
                <strong>
                  {{#if agenda.status.isDesignAgenda}}
                    {{t "design-agenda"}}
                  {{else}}
                    {{t "agenda"}}
                  {{/if}}
                </strong>
                <AuPill @size="small" @skin={{if agenda.status.isDesignAgenda "ongoing" null}} @draft={{agenda.status.isDesignAgenda}}>
                  {{or agenda.serialnumber "-"}}
                </AuPill>
              </div>
              <div class="auk-sidebar__sublabel">
                {{#if agenda.status.isDesignAgenda}}
                  {{t "latest-modified-on"}}
                  <br />
                  {{date-format agenda.modified "EEEEEE dd-MM-yyyy HH:mm"}}
                {{else if agenda.modified}}
                  {{t "approved-on"}}
                  <br />
                  {{date-format agenda.modified "EEEEEE dd-MM-yyyy HH:mm"}}
                {{else}}
                  {{t "approved"}}
                {{/if}}
              </div>
            {{else}}
              <div class="auk-sidebar__label">
                <AuPill @size="small" @skin={{if agenda.status.isDesignAgenda "ongoing" null}} @draft={{agenda.status.isDesignAgenda}}>
                  {{or agenda.serialnumber "-"}}
                </AuPill>
              </div>
            {{/if}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>

    {{#if (and @isOpen (gt (get @reverseSortedAgendas "length") 1))}}
      <Auk::Navbar @skin="gray-200" class="auk-u-border-top">
        <AuHeading @level="3" @skin="functional">
          {{t "previous-agendas"}}
        </AuHeading>
      </Auk::Navbar>
    {{/if}}

    <ul>
      {{#each (drop 1 @reverseSortedAgendas) as |agenda|}}
        <li
          class="auk-sidebar__item auk-sidebar__item--styled
            {{if (eq @currentAgenda.id agenda.id) "auk-sidebar__item--active"}}"
        >
          <LinkTo
            data-test-agenda-side-nav-agenda
            @route="agenda.agendaitems"
            @models={{array @meeting.id agenda.id}}
          >
            {{#if @isOpen}}
              <div class="auk-sidebar__label" data-test-agenda-side-nav-agenda-name>
                <strong>
                  {{#if agenda.status.isDesignAgenda}}
                    {{t "design-agenda"}}
                  {{else}}
                    {{t "agenda"}}
                  {{/if}}
                </strong>
                <AuPill @size="small" @skin={{if agenda.status.isDesignAgenda "ongoing" null}} @draft={{agenda.status.isDesignAgenda}}>
                  {{or agenda.serialnumber "-"}}
                </AuPill>
              </div>
              <div class="auk-sidebar__sublabel">
                {{#if agenda.status.isDesignAgenda}}
                  {{t "latest-modified-on"}}
                  <br />
                  {{date-format agenda.modified "EEEEEE dd-MM-yyyy HH:mm"}}
                {{else if agenda.modified}}
                  {{t "approved-on"}}
                  <br />
                  {{date-format agenda.modified "EEEEEE dd-MM-yyyy HH:mm"}}
                {{else}}
                  {{t "approved"}}
                {{/if}}
              </div>
            {{else}}
              <div class="auk-sidebar__label">
                <AuPill @size="small" @skin={{if agenda.status.isDesignAgenda "ongoing" null}} @draft={{agenda.status.isDesignAgenda}}>
                  {{or agenda.serialnumber "-"}}
                </AuPill>
              </div>
            {{/if}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
</Auk::Sidebar>