<div class="auk-navbar auk-navbar--bordered-bottom auk-navbar--gray-200">
  <div class="auk-toolbar-complex">
    <div class="auk-toolbar-complex__left" data-sidebar-expanded-only="">
      <h2 class="auk-toolbar-complex__title--small">{{t "nav-title"}}</h2>
    </div>
    <div class="auk-toolbar-complex__{{if agendaMenuCollapsed "center" "right"}}">
      <div class="auk-toolbar-complex__item {{if agendaMenuCollapsed "auk-o-flex auk-o-flex--horizontal-center"}}">
        <button
          class="auk-button auk-button--borderless auk-button--icon"
          type="button"
          {{action "collapseSideMenu"}}
        >
          <span class="auk-button__content">
            <div class="auk-icon auk-icon--chevron-{{if agendaMenuCollapsed "right" "left"}} auk-icon--default">
              <i class="ki ki-chevron-{{if agendaMenuCollapsed "right" "left"}}"></i>
            </div>
            <span class="auk-u-sr-only">
              {{t "toggle"}}
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<ul class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
  {{#each (await agendas) as |agenda|}}
    <li data-test-agenda-side-nav-agenda class="auk-sidebar__item auk-sidebar__item--styled {{active-class agenda currentAgenda class="auk-sidebar__item--active"}}">
      <a
        href="#"
        {{action "setCurrentAgenda" agenda}}
      >
        <div class="auk-sidebar__label">
          <span data-test-agenda-side-nav-agenda-name data-sidebar-expanded-only="">{{await agenda.agendaName}}</span>
          <span data-sidebar-collapsed-only="">
            {{#if (not agenda.isDesignAgenda)}}
              {{agenda.name}}
            {{else}}
              *
            {{/if}}
          </span>
        </div>
        <div class="auk-sidebar__sublabel" data-sidebar-expanded-only="">
          {{#if (not agenda.isDesignAgenda)}}
            {{t "approved-on"}}
          {{else}}
            {{t "latest-modified-on"}}
          {{/if}}
          <br/>
          {{moment-format agenda.modified "dd DD/MM/YYYY HH:mm"}}
        </div>
      </a>
    </li>
  {{/each}}
</ul>
