<div class="auk-sidebar auk-sidebar--gray-200 auk-sidebar--left auk-sidebar--small auk-sidebar--collapsible auk-scroll-wrapper" data-collapsed={{if this.isCollapsedSidebar "true" "false"}}>
  <Auk::Navbar @skin="gray-200">
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left" data-sidebar-expanded-only="">
        <h2 class="auk-toolbar-complex__title--small">{{t "nav-title"}}</h2>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position={{if this.isCollapsedSidebar "center" "right"}}>
        <Auk::Toolbar::Item class={{if this.isCollapsedSidebar "auk-o-flex auk-o-flex--horizontal-center"}}>
          <Auk::Button
            @skin="borderless"
            @layout="icon-only"
            @icon="chevron-{{if this.isCollapsedSidebar "right" "left"}}"
            {{on "click" this.toggleSidebar}}
          >
            {{t "toggle"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Navbar>
  {{#unless this.loadAgendas.isRunning}}
    <ul class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
      {{#each this.agendas as |agenda|}}
        <li class="auk-sidebar__item auk-sidebar__item--styled {{if (eq @selectedAgenda.id agenda.id) "auk-sidebar__item--active"}}">
          <LinkTo data-test-agenda-side-nav-agenda
            @route="agenda.agendaitems"
            @models={{array @meeting.id agenda.id}}
          >
            <div class="auk-sidebar__label">
              <span data-test-agenda-side-nav-agenda-name data-sidebar-expanded-only="">
                {{agenda.agendaName}}
              </span>
              <span data-sidebar-collapsed-only="">
                {{#if agenda.isDesignAgenda}}
                  *
                {{else}}
                  {{agenda.name}}
                {{/if}}
              </span>
            </div>
            <div class="auk-sidebar__sublabel" data-sidebar-expanded-only="">
              {{#if agenda.isDesignAgenda}}
                {{t "latest-modified-on"}}
              {{else}}
                {{t "approved-on"}}
              {{/if}}
              <br/>
              {{moment-format agenda.modified "dd DD/MM/YYYY HH:mm"}}
            </div>
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  {{/unless}}
</div>