{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-align-baseline">
      <h3 class="vl-title vl-title--h3">
        {{t "newsletter-title"}}
      </h3>
      {{#if isEditor}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="vl-u-spacer-extended-bottom-s">
    <h3 class="vl-title vl-title--h6">
      {{await subcase.newsletterInfo.title}}
    </h3>
  </div>
  <div class="vl-typography">
    <p>
      {{sanitize-html raw=true value=(await subcase.newsletterInfo.richtext)}}
    </p>
    <p class="vl-u-text--italic">
      {{await subcase.newsletterInfo.newsletterProposal}}
    </p>
  </div>

  {{#if (is-pending agendaitem.themes)}}
    {{web-components/vl-loader text=(t "themes-loading-text")}}
  {{else if (gt (await agendaitem.themes.length) 0)}}
    <ul>
      {{#each (await agendaitem.themes) as |theme|}}
        <li class="vl-pill">
          {{theme.label}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="vl-u-spacer-extended-top-s">
      {{web-components/vl-alert message=(t "no-themes-yet")}}
    </div>
  {{/if}}

  <hr/>
  <div class="vl-u-spacer vl-u-spacer-extended-top-s">
    {{#if (await subcase.newsletterInfo.finished)}}
      <div class="vlc-pill vlc-pill--success">
        {{t "finished"}}
      </div>
    {{else}}
      <div class="vlc-pill vlc-pill--warning">
        {{t "not-finished"}}
      </div>
    {{/if}}
  </div>

{{else}}
  {{news-item/edit-item
          subcase=(await subcase)
          item=(await subcase.newsletterInfo)
          agendaitem=agendaitem
          isEditing=isEditing
  }}
{{/if}}