{{#if (not isEditing)}}
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h3 class="vl-title vl-title--h3">
        {{t "agendaitem-details.decision-title"}}
      </h3>
      {{#if (or isAdmin isEditor)}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "buttons.edit"}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="vl-u-spacer">
    <div class="vl-u-spacer--xsmall">
      <h4 class="vl-title vl-title--h6">
        {{await agendaitem.newsletterInfo.subtitle}}
      </h4>
    </div>
    <p>
      {{await agendaitem.newsletterInfo.text}}
    </p>
  </div>
  <div class="vl-u-spacer">
    {{t "documents-attached-to"}}
    <div class="vl-u-spacer-extended-top-s">
      <ul class="vlc-document-list">
        {{#each (await agendaitem.newsletterInfo.documents) as |document|}}
          <li class="vlc-document-list__item">
            <a>
              <div
                class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt"
              >
                <i
                  class="vl-badge__icon vl-vi vl-vi-document"
                  aria-hidden="true"
                ></i>
              </div>
              <p>
                <p>
                  {{document-name
                    documentVersion=(await document.lastDocumentVersion)
                    item=agendaitem
                  }}
                </p>
              </p>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{else}}
  {{news-item/edit-item agendaitem=agendaitem isEditing=isEditing}}
{{/if}}