{{#web-components/vl-modal
  closeModal=onClose
  isOverlay=true
  large=true
  title=(t "document-add")
}}
  <div class="vl-modal-dialog__content">
    {{#if (or multipleFiles (not uploadedFiles.length))}}
      {{file-uploader isLoading=isLoading uploadedFile=(action "add") multipleFiles=multipleFiles}}
    {{/if}}
    {{#if (not isLoading)}}
      <div class="upload-container">
        {{#each uploadedFiles as |uploadedFile|}}
          {{#ember-kaleidos-webuniversum/vl-uploaded-document
            name=uploadedFile.filename
            extension=uploadedFile.extension
            size=uploadedFile.size
            downloadLink=(concat uploadedFile.downloadLink "?name=" uploadedFile.filename)
            downloadName=model.filename
            delete=(action "delete" uploadedFile)
          }}
            <div class="metadata-container">
              <div class="vlc-input-field-block">
                {{web-components/vl-form-label value=(t "document-name")}}
                {{web-components/vl-form-input width="4" value=(mut uploadedFile.filenameWithoutExtension)}}
              </div>
            </div>
          {{/ember-kaleidos-webuniversum/vl-uploaded-document}}
        {{/each}}
      </div>
    {{else}}
      {{web-components/vl-loader text=(t "documents-loading-text")}}
    {{/if}}
  </div>
  {{web-components/vl-modal-footer
    isLoading=isCreatingDocuments
    cancelButtonText=(t "cancel")
    saveButtonText=(t "document-add")
    cancelAction=onCancel
    saveAction=(action "save")
  }}
{{/web-components/vl-modal}}
