{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
{{#if this.allowEditing}}
  <div class="auk-u-mb-2">
    <div class="auk-o-flex auk-o-flex--justify-between">
      <h3>
        {{#if this.showIndex}}
          {{this.itemIndex}}.
        {{/if}}
        {{#if (not this.newsletterInfo)}}
          {{this.agendaitem.shortTitle}}
        {{else}}
          {{this.newsletterInfo.title}}
        {{/if}}
      </h3>
      {{!-- No possibility to create a new newsletterInfo when not existent yet --}}
      {{#if
        (and
          this.currentSession.isEditor
          this.newsletterInfo
        )
      }}
        <div class="auk-o-flex auk-o-flex--justify-between">
          <div class="auk-u-ml-2">
            <Auk::ButtonLink {{action "startEditing"}}>
              {{t "edit"}}
            </Auk::ButtonLink>
          </div>
        </div>
      {{/if}}
    </div>
    {{#if (not this.newsletterInfo)}}
      <p>
        {{this.agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{else}}
  <div>
    <h3>
      {{#if (not this.newsletterInfo)}}
        {{this.agendaitem.shortTitle}}
      {{else}}
        {{this.newsletterInfo.title}}
      {{/if}}
    </h3>
    {{#if (not this.newsletterInfo)}}
      <p>
        {{this.agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{/if}}
<div class="auk-u-mb-2">
  <p data-test-newsletter-item-content-print-item-proposal>
    {{await this.newsletterInfo.newsletterProposal}}
  </p>
</div>
<div class="auk-u-mb-2">
  {{#if (not this.agendaitem.showAsRemark)}}
    {{#if (not this.newsletterInfo.richtext)}}
      <p class="auk-u-italic auk-u-muted">
        {{t "no-newsletter-info"}}
      </p>
    {{else}}
      <SanitizeHtml @raw={{true}} @value={{this.newsletterInfo.richtext}} />
    {{/if}}
  {{/if}}
</div>
{{#if this.allowEditing}}
  {{#if (await this.newsletterInfo.remark)}}
    <p class="auk-u-muted auk-u-text-capitalize auk-u-text-small">
      {{t "remark"}}: {{await this.newsletterInfo.remark}}
    </p>
  {{/if}}
{{/if}}
{{#if
  (gt (await this.newsletterInfo.themes.length) 0)
}}
  <div class="auk-u-mb-2">
    <div class="auk-u-mt-2">
      <Auk::PillList>
        {{#each
          (await this.newsletterInfo.themes)
        as |theme|
        }}
          <Auk::Pill>{{theme.label}}</Auk::Pill>
        {{/each}}
      </Auk::PillList>
    </div>
  </div>
{{else if (and this.allowEditing this.newsletterInfo.richtext)}}
  <div class="auk-u-mb-2">
    <p class="auk-u-muted auk-u-text-capitalize">
      {{t "no-themes-agendaitem"}}
    </p>
  </div>
{{/if}}