{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div class="auk-u-non-breakable-group@print">
  {{#if this.allowEditing}}
    <div class="auk-u-mb-2">
      <div class="auk-o-flex auk-o-flex--justify-between auk-o-flex--align-baseline">
        <h4 class="auk-h4 auk-u-m-0">
          {{#if this.showIndex}}
            {{this.itemIndex}}.
          {{/if}}
          {{#if (not this.newsletterInfo)}}
            {{this.agendaitem.shortTitle}}
          {{else}}
            {{this.newsletterInfo.title}}
          {{/if}}
        </h4>
        {{!-- No possibility to create a new newsletterInfo when not existent yet --}}
        {{#if
          (and
            this.currentSession.isEditor
            this.newsletterInfo
          )
        }}
          <div class="auk-o-flex auk-o-flex--justify-between ">
            <div class="auk-u-ml-2">
              <Auk::ButtonLink {{action "startEditing"}}>
                {{t "edit"}}
              </Auk::ButtonLink>
            </div>
          </div>
        {{/if}}
      </div>
      {{#if (and (not this.newsletterInfo) this.agendaitem.title)}}
        <div class="auk-u-mt auk-u-border-left l-printable-newsletter__title">
          {{this.agendaitem.title}}
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="auk-u-mb-2">
      <h4 class="auk-h4 auk-u-m-0">
        {{#if (not this.newsletterInfo)}}
          {{this.agendaitem.shortTitle}}
        {{else}}
          {{this.newsletterInfo.title}}
        {{/if}}
      </h4>
      {{#if (and (not this.newsletterInfo) this.agendaitem.title)}}
        <div class="auk-u-mt auk-u-border-left l-printable-newsletter__title">
          {{this.agendaitem.title}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if (await this.newsletterInfo.newsletterProposal)}}
    <div class="auk-u-mb-3 l-printable-newsletter__proposal-label" data-test-newsletter-item-content-print-item-proposal>
      {{await this.newsletterInfo.newsletterProposal}}
    </div>
  {{/if}}
  {{#if (not this.agendaitem.showAsRemark)}}
    {{#if (or (not this.newsletterInfo.richtext) (eq this.newsletterInfo.richtext "&nbsp;"))}}
      <p class="auk-u-italic auk-u-text-muted auk-u-mb-2">
        {{t "no-newsletter-info"}}
      </p>
    {{/if}}
  {{/if}}
</div>
{{#if (not this.agendaitem.showAsRemark)}}
  {{#if (and this.newsletterInfo.richtext (not-eq this.newsletterInfo.richtext "&nbsp;"))}}
    <p class="auk-u-mb-2">
      <SanitizeHtml @raw={{true}} @value={{this.newsletterInfo.richtext}} />
    </p>
  {{/if}}
{{/if}}
{{#if this.allowEditing}}
  {{#if (await this.newsletterInfo.remark)}}
    <p class="auk-u-text-muted auk-u-text-capitalize">
      {{t "remark"}}: {{await this.newsletterInfo.remark}}
    </p>
  {{/if}}
{{/if}}
{{#if
  (gt (await this.newsletterInfo.themes.length) 0)
}}
  <div class="auk-u-mt-3 auk-u-non-breakable-group@print">
    <Auk::PillList>
      {{#each
        (await this.newsletterInfo.themes)
      as |theme|
      }}
        <Auk::Pill>{{theme.label}}</Auk::Pill>
      {{/each}}
    </Auk::PillList>
  </div>
{{!-- {{else if (and this.allowEditing this.newsletterInfo.richtext)}}
  <div class="auk-u-mb-2">
    <p class="auk-u-text-muted auk-u-text-capitalize">
      {{t "no-themes-agendaitem"}}
    </p>
  </div> --}}
{{/if}}