{{#if allowEditing}}
  <div class="auk-u-mb-2">
    <div class="auk-o-flex auk-o-flex--justify-between">
      <h3>
        {{#if this.showIndex}}
          {{this.itemIndex}}.
        {{/if}}
        {{#if (not newsletterInfo)}}
          {{agendaitem.shortTitle}}
        {{else}}
          {{newsletterInfo.title}}
        {{/if}}
      </h3>
      {{!-- No possibility to create a new newsletterInfo when not existent yet --}}
      {{#if
        (and
          currentSession.isEditor
          newsletterInfo
        )
      }}
        <div class="auk-o-flex auk-o-flex--justify-between">
          <div class="auk-u-ml-2">
            <a href="" class="auk-button-link" {{action "startEditing"}}>
              <span class="auk-button__content">
                {{t "edit"}}
              </span>
            </a>
          </div>
        </div>
      {{/if}}
    </div>
    {{#if (not newsletterInfo)}}
      <p>
        {{agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{else}}
  <div>
    <h3>
      {{#if (not newsletterInfo)}}
        {{agendaitem.shortTitle}}
      {{else}}
        {{newsletterInfo.title}}
      {{/if}}
    </h3>
    {{#if (not newsletterInfo)}}
      <p>
        {{agendaitem.title}}
      </p>
    {{/if}}
  </div>
{{/if}}
<div class="auk-u-mb-2">
  <p data-test-newsletter-item-content-print-item-proposal>
    {{await newsletterInfo.newsletterProposal}}
  </p>
</div>
<div class="auk-u-mb-2">
  {{#if (not agendaitem.showAsRemark)}}
    {{#if (not newsletterInfo.richtext)}}
      <p class="auk-u-italic auk-u-muted">
        {{t "no-newsletter-info"}}
      </p>
    {{else}}
      {{sanitize-html
        raw=true
        value=newsletterInfo.richtext
      }}
    {{/if}}
  {{/if}}
</div>
{{#if allowEditing}}
  {{#if (await newsletterInfo.remark)}}
    <p class="auk-u-muted auk-u-text-capitalize auk-u-text-small">
      {{t "remark"}}: {{await newsletterInfo.remark}}
    </p>
  {{/if}}
{{/if}}
{{#if
  (gt (await newsletterInfo.themes.length) 0)
}}
  <div class="auk-u-mb-2">
    <div class="auk-u-mt-2">
      <Auk::PillList>
        {{#each
          (await newsletterInfo.themes)
        as |theme|
        }}
          <Auk::Pill>{{theme.label}}</Auk::Pill>
        {{/each}}
      </Auk::PillList>
    </div>
  </div>
{{else if (and allowEditing newsletterInfo.richtext)}}
  <div class="auk-u-mb-2">
    <p class="auk-u-muted auk-u-text-capitalize">
      {{t "no-themes-agendaitem"}}
    </p>
  </div>
{{/if}}