{{#if (not isEditing)}}
  <div class="vl-u-spacer--xsmall">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h4 class="vl-title vl-title--h6 vl-u-text--capitalize">
        {{await agendaitem.newsletterInfo.title}}
      </h4>
      {{#if (or isAdmin isEditor)}}
        <div class="vl-u-spacer-extended-left-s">
          <a class="vl-link" {{action "toggleIsEditing"}}>
            {{t "edit"}}
          </a>
        </div>
      {{/if}}
    </div>
    <div class="vl-u-text vl-u-text--small vl-u-text--muted">
      {{moment-format (await agenda.createdFor.plannedStart) "DD MMMM YYYY"}}
    </div>
  </div>
  <div class="vl-u-spacer">
    <div class="vl-u-text">
      <p>
        {{await agendaitem.newsletterInfo.text}}
      </p>
    </div>
  </div>
  <div class="vl-u-spacer">
    <hr class="vlc-hr" />
    <div class="vl-u-spacer-extended-top-s">
      {{utils/documents-list-for-item
        item=(await agendaitem.newsletterInfo)
        agendaitem=agendaitem
      }}
    </div>
  </div>
{{else}}
  {{news-item/edit-item
    agendaitem=agendaitem
    item=agendaitem.newsletterInfo
    isEditing=isEditing
  }}
{{/if}}