<div
  class="vl-u-display-flex vl-u-flex-space-between vl-u-spacer-extended-bottom-s"
>
  <div class="compare-left-column">
    {{utils/agenda-selector
      searchField="name"
      propertyToShow="agendaName"
      placeholder=(t "select-agenda")
      multiSelect=false
      sortField="label"
      selectedItems=agendaOne
      selectModel=(action "chooseAgendaOne")
    }}
  </div>
  <div class="compare-right-column">
    {{utils/agenda-selector
      searchField="name"
      propertyToShow="agendaName"
      placeholder=(t "select-agenda")
      multiSelect=false
      sortField="label"
      selectedItems=agendaTwo
      selectModel=(action "chooseAgendaTwo")
    }}
  </div>
</div>
{{#if (await combinedItems)}}
  {{#each (await combinedItems) as |combinedItem|}}
    <div class="compare-grid-container">
      {{#if combinedItem.groupName}}
        <div class="vlc-list-section-header vl-u-spacer-extended-bottom-s">
          {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
            These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
          {{!-- template-lint-disable no-triple-curlies  --}}
          {{{combinedItem.groupName}}}
          {{!-- template-lint-enable no-triple-curlies  --}}
        </div>
        <div class="vlc-list-section-header vl-u-spacer-extended-bottom-s">
          {{!-- TODO: these triple curlies are used for displaying a computed string with br tags in it.
            These items concatenated by <br> should become a list that is iterated over in a .hbs template --}}
          {{!-- template-lint-disable no-triple-curlies  --}}
          {{{combinedItem.groupName}}}
          {{!-- template-lint-enable no-triple-curlies  --}}
        </div>
      {{else}}
        <div></div><div></div>
      {{/if}}
      <div class="vlc-agenda-items__sub-item grid-item">
        {{#if combinedItem.left}}
          {{agenda/agenda-list/list-item
            isDocumentClickable=true
            isComparing=true
            agendaitem=combinedItem.left
          }}
        {{/if}}
      </div>
      <div class="vlc-agenda-items__sub-item grid-item">
        {{#if combinedItem.right}}
          {{agenda/agenda-list/list-item
            isDocumentClickable=true
            isComparing=true
            agendaitem=combinedItem.right
          }}
        {{/if}}
      </div>
    </div>
  {{/each}}
{{else if isLoadingAgendaitems}}
  {{web-components/vl-loader text=(t "please-be-patient")}}
{{else if (and agendaOne agendaTwo)}}
  <div class="vl-u-spacer-extended-top-s">
    {{web-components/vl-alert message=(t "no-agendaitems-yet")}}
  </div>
{{/if}}