{{!-- template-lint-disable  --}}

{{!-- load separate styleguide css file --}}
<link
  integrity=""
  rel="stylesheet"
  href="/assets/styleguide.css"
>

<div class="br-styleguide-columns">
  <div class="br-styleguide-columns__column">
    <div class="auk-u-m-2">
      <nav>
        <h4 class="br-styleguide-bordered-list-header">{{t "style-guide-basic"}}</h4>
        <ul class="br-styleguide-bordered-list br-styleguide-bordered-list--on-gray-100">
          <li>
            <LinkTo @route="styleguide.colors">{{t "style-guide-colors"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.icons">{{t "style-guide-icons"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.typography">{{t "style-guide-typography"}}</LinkTo>
          </li>
        </ul>

        <h4 class="br-styleguide-bordered-list-header">{{t "style-guide-components"}}</h4>
        <ul class="br-styleguide-bordered-list br-styleguide-bordered-list--on-gray-100">
          <li>
            <LinkTo @route="styleguide.alert-skins">Alert (skins)</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.alert-types">Alert (types)</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.alert-stack">{{t "style-guide-alert-stack"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.badge">Badge</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.brand">{{t "style-guide-brand"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.button-skins">Button skins</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.button-types">Button types</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.link-button">{{t "style-guide-buttons-link"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.button-loading">Button (loading)</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.checkboxes-radio-buttons">{{t "style-guide-checkboxes-radio-buttons"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.empty-state">{{t "style-guide-empty-state"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.upload">{{t "style-guide-file-upload"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.inputs">Inputs</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.key-value">{{t "style-guide-key-value"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.list">{{t "style-guide-list"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.loader">{{t "style-guide-loader"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.panel">Panel</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.pill">Pill</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.status-pill">{{t "style-guide-status-pill"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.tabs">{{t "style-guide-tabs"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.toolbar">{{t "style-guide-toolbar"}}</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.navbar">Navbar</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.modal">Modal</LinkTo>
          </li>
        </ul>

        <h4 class="br-styleguide-bordered-list-header">{{t "style-guide-objects"}}</h4>
        <ul class="br-styleguide-bordered-list br-styleguide-bordered-list--on-gray-100">
          <li>
            <LinkTo @route="styleguide.form-group">Form group</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.layout-grid">Layout grid</LinkTo>
          </li>
        </ul>

        <h4 class="br-styleguide-bordered-list-header">{{t "style-guide-static-html-components"}}</h4>
        <ul class="br-styleguide-bordered-list  br-styleguide-bordered-list--on-gray-100">
          <li>
            <LinkTo @route="styleguide.avatar">Avatar</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.pagination">Pagination</LinkTo>
          </li>
          <li>
            <LinkTo @route="styleguide.table">{{t "style-guide-table"}}</LinkTo>
          </li>
        </ul>

        <h4 class="br-styleguide-bordered-list-header">{{t "style-guide-javascript-components"}}</h4>
        <ul class="br-styleguide-bordered-list  br-styleguide-bordered-list--on-gray-100">
          <li>
            <LinkTo @route="styleguide.accordion">{{t "style-guide-accordion"}}</LinkTo>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="br-styleguide-columns__column">
    <div class="br-styleguide-content">
      {{outlet}}
    </div>
  </div>
</div>
