<div class="vlc-kitchensink-container">
  <div class="vlc-kitchensink-navigation">
    <nav>
      <ul>
        <li class="vlc-kitchensink-navigation-header">{{t "style-guide-basic"}}</li>
        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.typography">{{t "style-guide-typography"}}</LinkTo>
        </li>
        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.icons">{{t "style-guide-icons"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-header">{{t "style-guide-components"}}</li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.alerts">{{t "style-guide-alerts"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.buttons">{{t "style-guide-buttons"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.documents">{{t "style-guide-documents"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.pills">{{t "style-guide-pills"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.panels">{{t "style-guide-panels"}}</LinkTo>
        </li>


        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.inputs">{{t "style-guide-inputs"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.selects">{{t "style-guide-selects"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.brand">{{t "style-guide-brand"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.checkbox">{{t "style-guide-checkbox"}}</LinkTo>
        </li>

        <li class="vlc-kitchensink-navigation-item">
          <LinkTo class="vlc-kitchensink-navigation-link" @route="styleguide.dropdown">{{t "style-guide-dropdown"}}</LinkTo>
        </li>
      </ul>
    </nav>
  </div>

  <div class="vlc-kitchensink-container__main">
    <div style="padding: 2rem;">
      {{outlet}}
    </div>
  </div>
</div>