<div class="agenda-container">
  {{agenda/agendaitem-search
    selectedAgenda=model
    navigateToSubCases=(action "navigateToSubCases")
  }}
	{{#if (not model.locked)}}
  <button class="invert-color" {{action "lockAgenda" model}}>
    {{t 'buttons.agenda-lock'}}
  </button>
	{{else}}
	<button class="invert-color" {{action "lockAgenda" model}}>
    {{t 'buttons.agenda-unlock'}}
  </button>
	{{/if}}
</div>
{{outlet}}